[2017-05-16 15:18] juancholkovich commented on #322
Hi Marcel @LiNk-NY

I already made the suggested changes.
Also, I tried to be as specific as possible in the dependencies imports in the internalFunction.R file

I will be attentive to any other suggestion.

Regards,

Juan.

[2017-05-16 16:31] sbhattacharya3 commented on #233
Hi Martin,

I have done a version bump on the package. I have also answered all the questions and comments you had regarding the package inline.

Please let me know if you have any further questions and the package is now ready for your kind perusal.

Thanks again.

Surajit

[2017-05-16 20:00] adeschen commented on #264
Hi Marcel, @LiNk-NY

A new version of the package has been bumped 21 days ago.

Looking forward to hearing from you.

Astrid

[2017-05-17 10:36] yocra3 opened #371 "scoreInvHap"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/isglobal-brge/scoreInvHap/

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have r

[2017-05-17 11:38] lshep commented on #365
Hello, Thank you for your submission.  Since you have submitted your package for review, we have implemented our MAC builder;  I am going to manually kick off a new build to have that information in the report as well.  I will review the package and leave feedback in the next few days.

[2017-05-17 12:02] lshep commented on #365
Can you please investigate this ERROR? I am unable to build or install a local version of your package as well.

[2017-05-17 12:09] eugeniaeueu commented on #365
Hi, I'm trying to solve the issues. The former ones were only on windows platforms and they were arising from the java libraries I am importing from sourceforge. I am compiling them again on Windows and checking if they still work in os and linux.

[2017-05-17 12:22] lawremi commented on #371
The names `snpfier` and `classifierPipeline()` seem too general... why not be more explicit about the purpose of finding inversions?

[2017-05-17 16:43] #315 closed

[2017-05-17 16:44] vobencha commented on #315
I'm declining this package. When you're ready with a new version please open a new issue.
Valerie

[2017-05-17 17:43] vobencha commented on #321
Hi Sara,

It's fine to keep GENIE3 as it's own package. I suggested breaking it up because I thought you were leaning that way - I must have misunderstood.

There isn't much point in having a package in Bioconductor that doesn't use the infrastructure (could just submit to CRAN) so you do need to support the core classes mentioned in these comments:
https://github.com/Bioconductor/Contributions/is

[2017-05-17 18:17] lshep commented on #365
Is there a reason you aren't bundling the java libraries with the package?

[2017-05-17 20:50] vobencha commented on #349
Hi,

I've taken a look at IsoformAnalyzeR. Please see suggestions below.

(1) Remove require(methods) from classes.R. Move the methods package from 'Imports' to 'Depends' in DESCRIPTION.

(2) Truncate code files to max of 80 characters wide. It's very hard to read and follow with so much wrapping.

(3) Instead of writing a subsetSwitchAnalyzeRlist() function why not implement single '[' or double

[2017-05-18 09:15] tongyin9002 commented on #327
@lshep

I have made modifications  to my packages according to your suggestions. Thanks to your guidance, I learnt a lot in writing VIGNETTE, writing documentations. improving code efficiency and following the Bioconductor standard.

## **GENERAL**

SummarizedExperiment and GRanges objects are supported now.

Unit tests added to test entropy, MI and CMI functions. Main function can be run in man a

[2017-05-18 09:48] eugeniaeueu commented on #365
I want to add the java libraries in the extdata of the package. Since they are large 85 mb I thought to put them already compiled on sourceforge and download them when the package is installed as extdata. The solution worked on my Os X but doesn't work in windows. I temporally changed the code to show the java classpath during the BUILD. I'm going to trigger a new build. Have you got any hint ? Th

[2017-05-18 12:06] yocra3 commented on #371
We agree that the names were very vague. We have been talking about it and we think that _scoreInvHap_ could be a good name for both, the function and the package. Should I open a new issue or can I simply change the package name in the repository?

[2017-05-18 12:10] lawremi commented on #371
That sounds better. @LiNk-NY might know how best to change the name.

[2017-05-18 12:17] lshep commented on #327
I will begin evaluating the changes you made but could you please investigate the ERROR that is occurring in the examples during R CMD check.  Also Please clean up the WARNING that is occurring.

[2017-05-18 13:18] tongyin9002 commented on #327
@lshep

There are some bugs I need to solve. Thanks for your attention!

[2017-05-18 13:28] eugeniaeueu commented on #365
Hi, this is the report from the latest commit

http://bioconductor.org/spb_reports/Onassis_buildreport_20170518065752.html and the problem is again with windows. I tried to add the jar file to the java classpath in a R console with the following commands having the jar in the current working directory
library(rJava)
.jinit()
.jaddClassPath("C:/Users/defaultUser/Downloads/similarity-0.0.1-SNAPSHOT-

[2017-05-18 18:43] AliciaSchep commented on #293
I have made the change to camelCase, adding in deprecation for all the old method names.  The build is now showing an error for Windows; I will try to figure out why that might be although as it seems like a permission error I am not sure how to fix on my end.

[2017-05-19 15:23] mtmorgan commented on #367
For your response 2, what is a simple example that illustrates when vectorization fails? E.g., does the first example on the help page illustrate the problem with vectorization?

[code]
?

[2017-05-19 16:27] kvittingseerup commented on #349
Dear Valerie (@vobencha)

Thanks for taking the time to review my package. I have followed all your suggestions with a few exceptions which I try to my reasoning below below:

Comment (1) Remove require(methods) from classes.R. Move the methods package from 'Imports' to 'Depends' in DESCRIPTION.
Response : Done.

Comment (2) Truncate code files to max of 80 characters wide. It's very hard to read

[2017-05-19 17:33] #233 closed

[2017-05-19 17:33] #340 closed

[2017-05-19 18:14] lshep commented on #327
No problem.  Please update and version bump when ready.

[2017-05-20 01:40] xtsvm commented on #367
Dear @mtmorgan,
Thank you for your review.
I try to explain the question in this way.
The base::match() function can’t retrieve all the matched elements in a vector. It only returns the first matched element.  For example,

## Only the first “bb” can be detect.

The miRNA names had changed a lot in different versions. In some special cases, a miRNA name has the corresponding Accession ID in one ve

[2017-05-21 10:44] mtmorgan commented on #367
Thank you for the example. When I look at your code more carefully it seems that you are merging between data.frames. Use `merge()` for a more efficient approach, instead of iteration. Here is a version of the function:

[code]

Here is some test code

[code]

The results are identical but 10x faster

[code]

Note that 1. the return value should be a data.frame; 2. the return value column name had

[2017-05-21 17:16] shaileshtripathi opened #372 "(inactive) gene sim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shaileshtripathi/sgnes

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read th

[2017-05-21 17:16] #372 closed

[2017-05-21 17:25] shaileshtripathi opened #373 "(inactive) gene simulation"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shaileshtripathi/sgnesimR
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-05-21 17:44] mtmorgan commented on #373
This is the same package that was declined 7 days ago. It is declined again. The vignette remains inadequate. There is no effort to integrate with other Bioconductor packages. This decision is final.

[2017-05-21 17:44] #373 closed

[2017-05-21 18:11] shaileshtripathi commented on #373
Hi Martin,

I could not understand the meaning of this 'There is no effort to integrate
with other Bioconductor packages'. I submitted two packages before to
bioconductor but never had this problem can you please describe me what is
the problem regarding integration. I couldn't find any answer of this on
bioconductor page for package submission. Also, my package is running fine
with BiocCheck comm

[2017-05-22 11:37] mtmorgan commented on #373
A key strength of Bioconductor is the ability to easily use different packages for comparison, or for integration across a work flow. This is facilitated by re-use of Bioconductor containers such as SummarizedExperiment, GRanges, etc. for general purpose functionality, or by re-use of more domain-specific data structures from related packages. Robust code (and also ease-of-use) is also  facilitate

[2017-05-22 13:11] gosianow opened #374 "cytofWorkflow"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gosianow/cytofWorkflow
- This package is a workflow.

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general

[2017-05-22 13:40] shaileshtripathi commented on #373
Thanks Martin,

Now I understand real reasons behind the rejection, these were not
explained previously.
I will keep these things  in mind for next submissions.

Best,
Shailesh

On Mon, May 22, 2017 at 12:37 PM, Martin Morgan <notifications@github.com>
wrote:

[2017-05-22 14:10] yocra3 commented on #371
Hi,

We have included some extra functions to perform QC on the results. The vignette has been updated to include these functions. We are waiting for your reply regarding the change of the package name.

[2017-05-22 14:13] mtmorgan commented on #374
The description file does not look current (fields "Title", "Descritpion"). Please update before the package is accepted for moderation.

[2017-05-22 14:28] gosianow commented on #374
Done.

[2017-05-22 14:36] mtmorgan commented on #365
Hi @eugeniaeueu -- I've taken over the review from Lori, to help navigate this issue.

I think first we're reluctant to rely on large jar downloads from 'third party' sites. There are several issues.

1. Bioconductor is supposed to be 'open source', but since only the jar files are available it's not straight-forward for users to discover the underlying code.
2. Redistributing software generally r

[2017-05-22 14:41] mtmorgan commented on #374
ABNORMAL usually means a problem with the DESCRIPTION file or otherwise -- R CMD build should work on your local machine. @nturaga this is a workflow rather than a regular package, and will be reassigned.

[2017-05-22 17:12] eugeniaeueu commented on #365
Dear Martin, thank you for your kind help,
For 1 and 2
Regarding the Java source code, I simply compiled with maven a jar including dependencies from the already available repository at https://github.com/UCDenver-ccp/ccp-nlp. This is their license https://github.com/UCDenver-ccp/ccp-nlp/blob/master/LICENSE
For the semantic similarity part I modified some source code files, created a new class and

[2017-05-22 19:59] lawremi commented on #359
Obviously needs better integration with Bioconductor.

[2017-05-22 20:23] mmulvahill commented on #359
A little more explanation or an example of how would be greatly appreciated.

[2017-05-22 21:56] hzc363 opened #375 "MetaCyto: an R package for the meta-analysis of cytometry data."
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hzc363/MetaCyto

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-05-22 22:17] hzc363 commented on #375
Hi, It seems that the error is caused by failing to load a dependency package "flowCore".  Is it because "flowCore" is available on Bioconductor rather than CRAN? How can I solve this problem?

[2017-05-23 08:26] yocra3 commented on #371
Hi,

Yesterday I got an error in the Windows' build because the package Biobase was not available. Should I bump the version number to get another build?

[2017-05-23 08:52] xtsvm commented on #367
Dear @mtmorgan,
Thank you very much for your great contribution for this package. It indeed greatly improves the efficiency of the retrieval.
I have followed your style to rewrite the most functions in this package. There are some detail information in below.
1.	The functions miRNAVersionConvert(), miRNA_AccessionToName(), miRNA_NameToAccession(), getMiRNASequence() have been rewritten based on me

[2017-05-23 09:08] xtsvm commented on #367
Dear @mtmorgan,
Base on the build report  in the above , why  the  Ubuntu and OS  X 10 system could not find the R base function shell.exec()? I can pass the BiocCheck in local.
Is it a problem with the build system itself?
Thank you!
Best regards,
Taosheng

[2017-05-23 10:23] mtmorgan commented on #367
shell.exec is a windows-only function. I think you want instead `browseURL()`.

[2017-05-23 10:36] gosianow commented on #374
Hello,
I get an error on the Windows machine because the captioner package is not available there.
However, a Windows version of this package exists
https://cran.r-project.org/web/packages/captioner/index.html
Could it be that it is not installed on your Windows machine?

[2017-05-23 12:57] lshep commented on #374
This is an issue on our end and we are looking into it.  Unless you hear otherwise please ignore this ERROR for now.

[2017-05-23 13:30] nturaga commented on #371
Hi @yocra3 ,

Please ignore that error. You can expect a review by Friday May 26th.

[2017-05-23 13:39] xtsvm commented on #367
Thanks @mtmorgan,
The error has been fixed.

Best regards,
Taosheng

[2017-05-23 16:10] hstern2 opened #376 "retnfit"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hstern2/retnfit

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bioc

[2017-05-23 16:43] mtmorgan commented on #376
Before moderating this package so that it can be built for a comprehensive review, please update the vignette to be 'real', i.e., with evaluated code chunks rather than cut-and-paste results. Please also consider how this package fits in with other packages in the Bioconductor ecosystem, and introduces these packages either for data representation (e.g., SummarizedExperiment, GRanges) in the body

[2017-05-23 16:45] lawremi commented on #359
We typically expect packages to plug into upstream and downstream workflows. The vignette shows many ways of retrieving miRNA annotations, etc, but does not give an example of using them in an actual analysis.

[2017-05-23 19:08] juancholkovich commented on #322
Dear @mtmorgan

I writing to wonder you about an error produced in tokay1 when it create the pdf file of the vignette:

LaTeX Error: File `framed.sty' not found.

I already passed all the package builder requirements before, in this case, I only changed the dependency to 3.4 and now I have this problem. How can I fix it?

[2017-05-24 10:51] llrs commented on #367
Hi @xtsvm ,
I was reading the discussion and found the `match` "problem" that only retrieves the first match, using `which` might be the solution to vectorize the code:

[code]
Hope this helps

[2017-05-24 10:57] kvittingseerup commented on #349
Dear Valerie (@vobencha)

The only warning/error I get is due to problems with rtracklayer on tokay1. The error probably due to that rtracklayer itslef have an build error on tokay1  ( https://www.bioconductor.org/checkResults/3.6/bioc-LATEST/rtracklayer/tokay1-checksrc.html ).

Do we need to wait for that to be fixed before the review can continue?

Kindest Regards
Kristoffer

[2017-05-24 16:48] mtmorgan commented on #364
Thanks for the great looking package. When the following are
addressed, please post a comment to this issue summarizing your
response.

DESCRIPTION

- Title: / Description: please make the description more like a paper
  abstract to help the user know that this package is appropriate for
  them. Perhaps indicate how your package differs from other similar
  packages.
- Depends: / Imports: good. In

[2017-05-24 17:40] vobencha commented on #349
Thanks for making the changes:

Re: Your Response:
The subsetSwitchAnalyzeRlist() enables removeal of specific isoforms and their assocaited data acoress all entries in the switchAnalyzeRlist (removing specific rows in each entry instead of the whole entry). Do you think this is a misuse of the subset() method?

A more standard approach would be to provide a functions that identifies isoforms to b

[2017-05-24 17:45] drisso commented on #364
Thank you @mtmorgan for the very helpful review!

I will address the issues and report back!

[2017-05-24 17:48] vobencha commented on #375
Hi,
flowCore is available on the veracruz1 mac builder, you can see it here:
http://www.bioconductor.org/checkResults/devel/bioc-LATEST/
I'm not sure why we are seeing that error - we'll run it again and see if the error persists.

First you need to address the errors for linux and windows:

Errors in linux build:
[code]
Errors in Windows build:
[code]
Valerie

[2017-05-24 19:39] vobencha commented on #322
I just went on tokay1 and successfully built version 0.99.17 of coexnet which indicates there aren't any missing latex dependencies on the builder. For now I would ignore this error and proceed with the review.

Valerie

[2017-05-24 19:45] rhondabacher opened #377 "SCnorm"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rhondabacher/SCnorm

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2017-05-24 19:51] LiNk-NY commented on #227
Hi Jasper @jaspershen,

Do you have any updates on making your package compatible with the Bioconductor ecosystem?
Otherwise, I'd be forced to close the issue.

Best regards,
Marcel

[2017-05-24 20:56] LiNk-NY commented on #264
Hi Astrid, @adeschen
Sorry for the delay.

Thank you for making those changes. They look good.

Congratulations! Your package has been approved!
Thank you for submitting to Bioconductor!

Best regards,
Marcel

[2017-05-24 21:39] #264 closed

[2017-05-24 21:56] grimbough opened #378 "Rhdf5lib"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/grimbough/Rhdf5lib

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2017-05-24 23:54] hpages commented on #279
Hi Aimin,
Do you plan to follow up on that submission or should I close the issue?
Thanks,
H.

[2017-05-25 00:49] xtsvm commented on #367
Thanks @llrs ,
Thank you very much for your demonstration.
Yes, which() can get all the exact indexes of one single element in a vector.  The code is just a simple example to explain why match() can't work.
Here we want to get multiple matched elements  in a vectorization way.  As mtmorgan's illustration,  the merge() function is the perfect choice for this specified situation.  Thanks again.

Bes

[2017-05-25 07:10] hpages commented on #344
Hi Isar,

Thanks for submitting the CMEA package. Please take the time to read carefully our package guidelines here [](https://bioconductor.org/developers/package-guidelines/). CMEA fails to satisfy 2 important criteria from these guidelines: it's too big and the vignette has no real code chunks. Also, the package has usability issues that are so severe that it's almost impossible for me to test

[2017-05-25 08:16] kvittingseerup commented on #349
Dear Valerie (@vobencha)

Thanks for the feedback. It is a very good idea to switch to jpg’s – I am just so used to working with pdfs I did not even think about that. I will replace the pdfs with PNG/JPGs in the next update.

With regards to subsetting I think the use of “[“ or “[[“ might be a bit misleading as it performs a different function for a list-type object – in hindsight I think it is th

[2017-05-25 08:17] hpages commented on #355
Hi John,

Thanks for your submission.

1. An important issue with MIRA is that the package doesn't use a standard Bioconductor container to represent methylation data. The data.table package is great but Bioconductor already has dedicated containers for methylation data e.g. the BSseq class in the bsseq package. This class extends the SummarizedExperiment class defined in the package of the same n

[2017-05-25 15:40] nturaga commented on #348
Hi @Simon-Coetzee ,

Just wanted to follow up this package. Any updates?

[2017-05-25 15:40] nturaga commented on #363
RTNsurvival Review
==================

## Build

R-release CMD build RTNsurvival: Ok

R-release CMD INSTALL RTNsurvival: Ok

## DESCRIPTION

* The DESCRIPTION should follow a paper abstract format. It should provide the reader a overview of what to expect in the package.

* biocViews : Too many biocViews. Emphasize most-specific terms

## NAMESPACE

* Ok.

## Vignette

* Vignette is informative an

[2017-05-25 15:57] hstern2 commented on #376
thanks for the response.

1) I am now using BiocParallel  (SummarizedExperiment and GRanges) aren’t applicable to this work however)

2) I have tried to include code to be evaluated in the \examples section of man/parallelFit.Rd but ran into trouble with R CMD check - I think the problem is that because this uses MPI, it requires R to be invoked with mpirun.  is there a way to tell R CMD check to

[2017-05-25 16:01] nturaga commented on #371
snpfier Review
==================

## Build

R-release CMD build snpfier: Ok

R-release CMD INSTALL snpfier: Ok

## DESCRIPTION

*  Good Description.

## NAMESPACE

* ok

## Vignette

* Informative vignette. Good Introduction, listing out other packages which perform the task and listing out pros and cons is good practice. :)

## man

* (E.g., classifierPipeline.R) Pay attention to formatting of @

[2017-05-25 16:34] lawremi commented on #371
I still recommend improving the name of the package...

[2017-05-25 16:41] nturaga commented on #371
@lawremi I agree as well.

@yocra3  You can change the git repo's name, and edit the name of the issue you opened for BiocContributions. We'll fix it from there onwards.

[2017-05-25 18:28] marcomass commented on #184
@mtmorgan Dear Martin,
After a long suspension we have retaken the project and we would like to submit a new version of the original package, revised and including also new functions. Unfortunately meanwhile the student that was the author and owner of the original package submission left us, and a new PhD student is now responsible for it.

What is the best way to go ahead?
Shall we make a fork o

[2017-05-25 18:54] hstern2 commented on #376
I commited changes to git repo.  the example in man/parallelFit.Rd is no longer commented out with \dontest
so this is a “real” example.

I still have trouble running R CMD check but it works with —no-examples

R CMD BiocCheck passes.

Thanks for your help getting this package submitted to bioconductor.

Harry

On May 25, 2017, at 11:57 AM, Stern, Harry <harry.stern@rochester.edu<mailto:harry.ster

[2017-05-25 19:56] mtmorgan commented on #184
On 05/25/2017 02:28 PM, marcomass wrote:

yes probably that's the easiest; there might be problems with our
software when it comes to re-submission but we'll cross that bridge when
we get there.

Martin

This email message may contain legally privileged and/or confidential information.  If you are not the intended recipient(s), or the employee or agent responsible for the delivery of this message

[2017-05-26 14:30] federicogiorgi opened #379 "VULCAN: VirtUaL ChIP-Seq data Analysis using Networks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/federicogiorgi/vulcan

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-05-26 14:31] federicogiorgi commented on #379
AdditionalPackage: https://github.com/federicogiorgi/vulcandata

[2017-05-26 14:36] mtmorgan commented on #379
The vignette is not adequate; let me know (comment on this issue) when you have a vignette describing overall use of the package, including integration with other Bioconductor packages. Remember that Bioconductor vignettes include code chunks that actually exercise your code.

Also, the biocViews terms are confusing -- this looks like a 'software' package (i.e., substantial R code) but the views i

[2017-05-26 14:40] mtmorgan commented on #376
The currently blocking issue is the vignette, where the 'verbatim' commands need to be replaced with code chunks `<<>>= ... @` that are actually evaluated. You'll need to work through the MPI issues on your end -- the build system will not launch your builds under mpi. You should (a) carefully examine the code that uses MPI and confirm that it is written efficiently (poor R code, typically 'iterat

[2017-05-26 18:21] mtmorgan commented on #337
Looks like your package is not building; so I take it this is still a work in progress...?

[2017-05-26 18:43] aiminy commented on #279
Thank you,

I am changing codes, and will follow up on that submission.

Aimin

On Wed, May 24, 2017 at 7:54 PM, hpages <notifications@github.com> wrote:

[2017-05-28 14:32] carleshf commented on #337
Dear @mtmorgan ,

I'm currently working on the `rexposome` review (that is a bit extensive). Since `rexposome` is a dependence of `omicRexposome` (and I'm moving some function from one to the other) I thin that is better if I finish the changes on `rexposome` before going to `omicRexposome`. Is it fine?

[2017-05-28 18:26] mtmorgan commented on #337
Yes, please be sure when your revisions to omicRexposome are complete to post a summary here, so that I know to continue my review.

[2017-05-29 16:06] vobencha commented on #349
Yes, I think removing subset() is fine; keep or rename subsetSwitchAnalyzeRlist(), whichever you prefer.
Valerie

[2017-05-29 16:07] vobencha commented on #321
Are you planning to submit a new version?
Valerie

[2017-05-29 16:26] vobencha commented on #359
Hi,

I've done a first review. A few suggestions and comments below.

(1) BiocCheck output:

* Checking for bioc-devel mailing list subscription...
    * ERROR: Maintainer must subscribe to the bioc-devel mailing list.
      Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel

(2) Packages in 'Imports' should be fully or partially imported in NAMESPACE.

(3) Internal functions

If you

[2017-05-30 03:20] skyhorsetomoon opened #380 "(inactive) Trumpet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-05-30 03:20] #380 closed

[2017-05-30 03:25] skyhorsetomoon commented on #283
Hi @lshep  I will work on my package again. How can I reopen this issue again? Thank you

[2017-05-30 03:29] skyhorsetomoon opened #381 "(inactive) Trumpet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-05-30 03:29] #381 closed

[2017-05-30 10:45] yongkee opened #382 "oneSENSE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/JinmiaoChenLab/oneSENSE/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-05-30 11:03] lshep commented on #283
Make sure the webhook is still initialized https://github.com/Bioconductor/Contributions#adding-a-web-hook  and when you are ready do another version bump to trigger a rebuild of the package

[2017-05-30 12:00] lshep commented on #247
Hello @breons,  could you please respond with some sort of update.  If you do not have time to work on the package at this time / if we do not here from you we will close the issue and you can reopen when you have time to make the necessary changes.

[2017-05-30 13:21] skyhorsetomoon commented on #283
Dear @lshep  my package has been checked OK! You can review my package and give me some advises! I want to know whether my package can be submitted to Bioconductor. Thank you very much!

[2017-05-30 13:28] breons commented on #247
Hi, sorry about that, I must have missed your previous comment.

Unfortunately we do not have the time at present. Close the issue and I will reopen it when we do make the required changes. Thank you for following up.

[2017-05-30 13:33] eugeniaeueu opened #383 "OnassisJavaLibs"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:https://github.com/eugeniaeueu/OnassisJavaLibs

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have r

[2017-05-30 13:35] eugeniaeueu commented on #383
Hi, this package contains libraries to solve the Issues related to the package Onassis (issue package #365).

[2017-05-30 13:38] mtmorgan commented on #383
@vobencha -- I'll take over the review of this package.

[2017-05-30 13:39] #247 closed

[2017-05-30 13:47] mtmorgan commented on #383
Please provide a short vignette that indicates the purpose of this package.

[2017-05-30 16:27] LiNk-NY commented on #293
Hi Alicia @AliciaSchep,

Thank you for making those changes. The package is looking good!

Minor note, be careful when using `1:n` sequences. Use the more robust `seq_len(n)` or `seq_along(vector)`.

Thank you for submitting to Bioconductor!

Best regards,
Marcel

[2017-05-30 16:32] LiNk-NY commented on #306
Hi Carles, @carleshf

It looks like the package has some errors in the examples. Please see:

[code]

Regards,
Marcel

[2017-05-30 16:33] LiNk-NY commented on #316
Hi Jin-hyun, @jinhyunju
Any updates on the status of your package? Do you intend to work on it?
Otherwise, I'd be forced to close the issue and possibly expect your resubmission.

Best regards,
Marcel

[2017-05-30 16:38] jinhyunju commented on #316
Hi @LiNk-NY,
Apologies for the long radio silence. I've recently moved for a new job and had to devote most of my time in getting settled in (the reason why I asked you about the submission deadline). I think I will be able to work on this again starting the 2nd week of June. Thanks.

Best Regards,

Jin

[2017-05-30 17:18] walter-ca opened #384 "Scale4C"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/walter-ca/Scale4C

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-05-30 22:57] AliciaSchep commented on #293
Thanks Marcel @LiNk-NY

Can I still make changes to the github repo now or should I wait until the additional info from Bioconductor is sent, as mentioned by the issue bot?

[2017-05-30 23:12] LiNk-NY commented on #293
Hi Alicia @AliciaSchep,
You can still make changes too it.

Regards,
Marcel

[2017-05-31 14:44] ronammar opened #385 "zFPKM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ronammar/zFPKM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2017-05-31 14:51] mtmorgan commented on #385
The vignette isn't really acceptable; it should illustrate how the package integrates into typical Bioconductor work flows. Use of standard Bioconductor data representations facilitates interoperability between packages, reproducibility (e.g., tracking  'metadata' about samples and experiments) and utility. So it's amazing that you don't have any Bioconductor dependencies, e.g., GenomicRanges for

[2017-05-31 14:56] ronammar commented on #385
Hi @mtmorgan, thanks for the feedback. Can you point me to a vignette that integrates well so I can use it as an example?

[2017-05-31 15:46] mtmorgan commented on #385
[tximport][] for instance.

[tximport]: http://bioconductor.org/packages/release/bioc/vignettes/tximport/inst/doc/tximport.html

[2017-05-31 16:56] csbl-usp opened #386 "CEMiTool"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/csbl-usp/CEMiTool

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-05-31 18:05] ronammar commented on #385
Hi, why am I getting the following error on only 2/3 platforms? I confirmed my subscription to the bioc-devel mailing list.

[code]

[2017-05-31 18:27] mtmorgan commented on #385
I don't see your email address (from the DESCRIPTION) file in the bioc-devel mailing list. When you subscribed, the mailman software sends a confirmation that you need to respond to. This often ends up in spam folders.

[2017-05-31 18:37] ronammar commented on #385
Apologies - I think the confirmation I received was from BioC support. However, I've now signed up for the bioc-devel mailing list twice today and haven't received a confirmation email in my inbox or junk mail.

Can my subscription request be confirmed by the list moderator?

[2017-05-31 21:14] drisso commented on #364
Hi @mtmorgan

I've started addressing your comments and I'm at a point where I thought it would be useful to commit to master and bumped the version to see if I can still pass all the Bioc checks on your system.
However, I'm not done with the required changes, I still want to switch from parallel to BiocParallel and try and see if there are some strategies to avoid nested loops in the big loop in

[2017-05-31 21:18] mtmorgan commented on #364
yes, just provide a comment indicating that you're ready to go and summarizing the response to reviewer comment.s

[2017-06-01 03:55] hzc363 commented on #375
Hi，

I fixed the dependency requirements. I checked the updated package on Mac, PC and Linux, no errors. Could you please run the check again on your machine?

Thanks!
Zicheng

[2017-06-01 12:29] mtmorgan commented on #385
I now see your subscription on the mailing list. It's tagged as indicating that the user (you) have chosen not to receive email. I'm not sure if this is mailman's way of saying you haven't responded to the acknowledgement or that you have actually configured your account this way?

[2017-06-01 12:34] ronammar commented on #385
Corporate mail filtering released "junk" mail it in a weird way. That was my attempt to turn mail on. Anyway, I've confirmed membership.

[2017-06-01 13:17] ronammar commented on #385
Ok I've got an error on Linux: `Fatal error: cannot create 'R_TempDir'`
Is this a permissions issue or a full `/tmp` directory issue (as suggested on [SO](https://stackoverflow.com/questions/6307836/fatal-error-cannot-mkdir-r-tempdir))? Advice?

Also, the warnings on OS X and Windows pertain to an existing `inst/doc` path. How should I resolve this?

Thanks!

[2017-06-01 13:48] mtmorgan commented on #385
Yeah the linux problem is on our end.The content of your 'inst/doc' directory are actually generated by the R CMD build step, and should not be in your git repository.

[2017-06-01 14:25] gosianow commented on #374
I am sorry but this error message "Fatal error: cannot create 'R_TempDir'" does not tell me anything. I can R CMD build the package on my Linux machine. Could you help me with understanding what can be the potential problem, please?

[2017-06-01 14:32] lshep commented on #374
This is an ERROR on our build machine please ignore for now.

[2017-06-01 14:33] mtmorgan commented on #374
our build system seems to have used up it's temp directory memory allocation... nothing that you can do about it.

[2017-06-01 14:50] csbl-usp commented on #386
Hi @mtmorgan, the error in the build is actually one that we already had previously, and it stems from a package dependency on GitHub which had some import problems. To address that, one of our collaborators did a fork and fixed the issue inside it, but it seems that the build script isn't using the forked version, but the original version from CRAN instead. So is a GitHub dependency a problem? Sh

[2017-06-01 14:53] mtmorgan commented on #386
Dependencies must come from CRAN or Bioconductor. The best solution is to get the updated version on CRAN, have you spoken to the original package maintainer?

[2017-06-01 14:54] ronammar commented on #385
The sole error that remains is the Linux system issue with temp directories. How should I proceed?

[2017-06-01 14:56] mtmorgan commented on #385
Wait for the formal review from @LiNk-NY

[2017-06-01 15:06] vobencha commented on #375
You need to bump the version to trigger a new build, e.g., 0.99.1, 0.99.2, etc ...

[2017-06-01 17:13] csbl-usp commented on #386
Yes, I just sent an e-mail to the original package maintainer. However, he hasn't updated the repository (briatte/ggnetwork) since Dec 26, 2016 , in spite of several issues being reported and pull requests. I'll wait a couple of days to see if he answers, but if he doesn't, what would you suggest?

[2017-06-01 17:16] mtmorgan commented on #386
It would be better to find another package than to try to re-implement yourself. But let's give the maintainer a day or so first...

[2017-06-01 18:52] walter-ca commented on #384
Thank you for the prompt response. In hindsight, I fully agree on the GRanges part; unless I missed something, most data frames of the package should now have been replaced by GRanges objects. The exception is the export table in the alternative "not onlyPeaks" mode, where I'd like to have a table that contains one central region with two neighbouring regions - putting that into metadata columns f

[2017-06-01 20:29] LiNk-NY commented on #322
Hi Juan @juancholkovich,
Thanks for making those changes.

Just a few minor comments:
- You should use general terms for arguments that are not only a matrix (i.e., `expmat` argument in `createNet` and others should be `expData`).
- Try to use the more robust `vapply` instead of `sapply` in your code.
- Error messages should be intelligible. For `sharedComponents` it should read: "No shared compon

[2017-06-01 20:33] #323 closed

[2017-06-01 20:34] #336 closed

[2017-06-01 20:36] LiNk-NY commented on #353
Hi Dong Mei,  @DongmeiLi2017,
Do you intend to work on this package?
Otherwise, I am forced to close the issue.

Regards,
Marcel

[2017-06-01 20:38] LiNk-NY commented on #377
Hi Rhonda, @rhondabacher

Please bump your package's version after you register to the bioc-devel mailing list.

[code]

Thanks,
Marcel

[2017-06-01 20:40] LiNk-NY commented on #323
Your issue has been closed due to inactivity. To submit your revised package to Bioconductor, please create another issue. Thank you.
-Marcel

[2017-06-01 20:40] LiNk-NY commented on #336
Your issue has been closed due to inactivity. To submit your revised package to Bioconductor, please create another issue. Thank you.
-Marcel

[2017-06-01 21:04] DongmeiLi2017 commented on #353
Hi Marcel,

Yes, I have revised the package according to suggestions. Will you reevaluate it? Thanks!

Best,
Dongmei

From: Marcel Ramos [mailto:notifications@github.com]
Sent: Thursday, June 01, 2017 4:36 PM
To: Bioconductor/Contributions
Cc: Li, Dongmei; Mention
Subject: Re: [Bioconductor/Contributions] Combine: An ensemble method for RNA-Seq differential analysis (#353)

Hi Dong Mei, @DongmeiLi

[2017-06-01 21:07] LiNk-NY commented on #353
Hi Dong Mei, @DongmeiLi2017

Based on the last build of the package, it is having errors. Can you look into that?
http://bioconductor.org/spb_reports/Combine_buildreport_20170424164732.html#malbec2_buildsrc_anchor

Also, once you have resolved those errors, bump the package version so that the package be built by the SPB.

Regards,
Marcel

[2017-06-01 21:39] lawremi commented on #384
If it makes sense to store annotations on the rows and/or columns of the matrices, then a SummarizedExperiment structure probably makes sense. The API is more general than features vs. samples. Only use a RangedSummarizedExperiment if the rows correspond to genomic ranges.

[2017-06-02 00:51] LiNk-NY commented on #385
Thank you @mtmorgan for generous input and follow-up on Ron's package.

Ron, @ronammar
Thank you for submitting to Bioconductor.
Although you've made changes to the vignette, it does not seem complete since it doesn't make use of the Bioconductor infrastructure already available.

A few preliminary points:

* Please make sure you are using `SummarizedExperiment` to represent your RNAseq count data

[2017-06-02 01:53] ronammar commented on #385
Thanks @LiNk-NY for your valuable feedback, and @mtmorgan for all your help so far!

I have done my best to address your points:
- I now make use of `SummarizedExperiment`'s where needed
- I have removed `dplyr` except where group-wise operations are required, and these do not substitute the Bioconductor infrastructure.
- Plots are output by `zFPKMPlot()` and the main function now has the same nam

[2017-06-02 02:25] ronammar commented on #385
For some reason, the Bioconductor package `GEOquery` periodically and unexpectedly yields errors connecting to NCBI. Aside from this error, the builds appear to be working. I've contacted the package maintainer for help. Thoughts?

[2017-06-02 11:24] yocra3 commented on #371
Hi,

I have updated the name of the repository, the issue and the package.

I have also made some changes to the package to address the issues mentioned in your previous comment. There is only one thing I haven't been able to solve: simplifying the classifSNPs. I changed the code in computeScores to run it in a vectorized way. However, I don't see how can I improve the implementation to avoid the

[2017-06-02 13:33] vobencha commented on #370
Hi Matthew,

Looks like an experimental data package. A few suggestions below.

1.  Explain the dimensions on the man page
The man page says ...
" New small RNA-seq data from 39 primary cells obtained by culture, flow
cytometry or centrifugation were augmented with Sequence Read Archive (SRA)
small RNA-seq read data from 496 samples with over 1 million microRNA reads.
..."

Explain how these numbe

[2017-06-02 14:09] kvittingseerup commented on #349
Dear Valerie (@vobencha)

I have now made the suggested updates as well as some small other fixes.

/Kristoffer

[2017-06-02 15:03] s-aibar commented on #321
Dear Valerie,

I have just submitted a new version, which accepts an ExpressionSet or SummarizedExperiment as input.

However, I am not sure if the way I have used to extract the expression matrix is the best, as it does not make use of class inheritance, etc... Let me know if there is any standard/better approach:
`
    # Biobase::ExpressionSet
    if("ExpressionSet" %in% class(exprMatrix))
    {

[2017-06-02 15:22] walter-ca commented on #384
Okay, I do get the difference between SummarizedExperiment and RangedSummarizedExperiment. I also re-read its vignette and I do understand its usefulness for array data.

The annotation part is the part where I am struggling right now for my personal matrices, because in its current form, the proposed package just doesn't use those for both objects. My row data is an index of fragments, running fr

[2017-06-02 16:04] mccallm commented on #370
Hi Valerie,

I made the suggested changes to the microRNAome.Rd and DESCRIPTION files.

This data package isn't designed to work with any specific software package.

Thanks,
Matt

[2017-06-02 16:26] lawremi commented on #384
I'm not familiar with 4C data, but it's typically helpful to have self-contained objects. SummarizedExperiment would attach the data to the fragment ranges (and any other metadata known about the fragments). Otherwise, the user is juggling the data and metadata separately, which is complicated, inconvenient, and error-prone.

[2017-06-02 23:10] SergiPicart opened #387 "diffuStats"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/b2slab/diffuStats

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-06-03 09:31] walter-ca commented on #384
I see, good point. Actually I could have saved myself some trouble for the later functions, come to think of it.
Thanks, I'm going to adapt the code.

[2017-06-03 16:04] SergiPicart commented on #387
Dear Nitesh,

I have tried to reproduce the build error on a virtual windows machine, but the building process completed fine.
The error mentions permission issues - can this be due to the machine configuration? The package contains Rcpp code.

Thank you,

[2017-06-04 02:20] hzc363 commented on #375
Hi, I have changed the version number to 0.99.1 2 days ago. No new build seems to be triggered. Are there more things I need to do? Thanks!

[2017-06-04 15:18] antagomir opened #388 "microbiome"
GitHub repository of the package we wish to submit to _Bioconductor_
- Repository: https://github.com/microbiome/microbiome

Note: this is a resubmission of the microbiome package in Bioconductor after the package has been completely rewritten following the feedback from H. Pages in 10/2014 (tracker.fhcrc.org/roundup/bioc_submit/issue1031). Therefore the verrsion number is 0.99.2 rather than 0.99.

[2017-06-04 16:15] mtmorgan commented on #388
I'm surprised that you do not make use of existing microbiome packages and established infrastructure, and that you do not exploit standard ways for representing annotated rectangular data structures (in particular SummarizedExperiment).

Also the very complex dependencies in your package mean that it will be very fragile and difficult to maintain. I strongly encourage you to evaluate the function

[2017-06-05 08:37] carleshf commented on #306
Dear @LiNk-NY ,

I started to apply most of the *suggestions* you made in your *validation*. Let me highlight the changes according to your comments.

I would also make notice that I do not perform any changes in `omicRexposome` (also under revision [here](https://github.com/Bioconductor/Contributions/issues/337)) due to the changes in `rexposome`, that can affect it. Once `rexposome` is validated

[2017-06-05 12:54] antagomir commented on #388
Thanks for the feedback.

**Dependencies** I have now considerably reduced the number of dependencies, and removed some marginal functionality, compared to the first push.

**Use of established infrastructure** I am already using existing microbiome infrastructure from Bioconductor: the package is based on the [phyloseq](http://bioconductor.org/packages/release/bioc/html/phyloseq.html) class struc

[2017-06-05 12:56] mtmorgan commented on #388
Thanks, sorry I missed phyloseq in the original DESCRIPTION file; that was really what I was looking for.

[2017-06-05 13:18] ronammar commented on #385
Hi- any thoughts on next steps to progress with this submission? I think the package is building correctly, but `GEOquery` is crashing, causing my package build to have errors unexpectedly. Should I bundle .rds with the vignette to circumvent this potential error?

[2017-06-05 14:33] federicogiorgi commented on #379
Dear Martin and Community. I've updated the biocViews and vignette for your inspection:
https://github.com/federicogiorgi/vulcan
https://github.com/federicogiorgi/vulcandata

[2017-06-05 14:35] lshep commented on #283
Thank you for your time and effort and interest in submitting to Bioconductor. We are unable to accept your package for inclusion. Unfortunately your package does not meet certain criteria for acceptance.

Please see the following as some helpful advice for future development of packages:

 * Un-nest function definitions, e.g., moving `Norm_bam` to the top-level of the file. There is no need to ne

[2017-06-05 14:35] #283 closed

[2017-06-05 15:14] nturaga commented on #348
Hi @Simon-Coetzee

If you are making changes in the package, please reply by Friday (06/09/2017). Otherwise, we'll close the issue, since there has been no feedback.

Best,

[2017-06-05 15:15] nturaga commented on #363
Hi @csgroen ,

Should we review this package again? If not, please let us know in the comments when you are ready for us to review.

[2017-06-05 15:29] LiNk-NY commented on #385
Yes, you can do that.
Create a subset of the dataset from `GEOquery` and add it to your vignette examples.

I will have a second look at this soon. Thanks.

Regards,
Marcel

[2017-06-05 15:31] dvantwisk commented on #378
Just a friendly reminder, your package still has build errors.  You can look over the build errors by clicking on the link in the message above.  We can only begin reviewing your package once it builds without errors.

~ Thanks! ~

[2017-06-05 16:07] lshep commented on #346
Hello @eralpdogu ,  I wanted to check it to see how updates to the package were coming.  Did you have any questions and may we expect updates anytime soon?

[2017-06-05 16:16] csgroen commented on #363
Hi @nturaga,

We only saw your review last week and are still working on your comments. I'll let you know as soon as we address everything that has been remarked upon.

[2017-06-05 16:17] nturaga commented on #374
# Review cytofWorkflow

## Build and Install

R-release CMD build cytofWorkflow : ok

R-release CMD INSTALL cytofWorkflow_0.99.6.tar.gz : ok

## DESCRIPTION

* Description should follow a paper abstract format. I suggest using the abstract in your vignette.

* URL missing (github link where the workflow is being developed).

* No internal R-code, so just move everything from `Imports`  to `Suggest

[2017-06-05 16:20] nturaga commented on #363
Thanks. Keep me posted.

[2017-06-05 17:05] ronammar commented on #385
Thanks @LiNk-NY, I followed your suggestion, and bundled a .rds file with the vignette.

[2017-06-05 18:10] gosianow commented on #374
Could I just keep my old README.md file?

[2017-06-05 18:33] gosianow commented on #374
I would like that the packages necessary for running the vignette get installed when installing the workflow package. Does that take place when I move all the packages from `Imports` to `Suggests`? Otherwise, users have to do that manually.

[2017-06-05 21:09] juancholkovich commented on #322
Dear Marcel @LiNk-NY

I already made the suggested changes in the package.
I'll be aware of any additional change.

Regards.

[2017-06-05 21:31] antagomir commented on #388
I have set up a webhook and it seems to be fine but the updates to my master branch do not seem to trigger updates here. How should I troubleshoot this ?

[2017-06-05 21:42] mtmorgan commented on #388
There needs to be a version bump where the new version is 'larger' than the old version; it looks like you went from .23 to .3, but this is interpreted as sub-minor version '23' and then sub-minor version '3', and '3' is < '23' so not a version bump that triggers a build. Try '.24'

[2017-06-05 23:50] eralpdogu commented on #346
Thanks a lot for following up @lshep. We are working hard on this and planning a submission asap. Comments were clear and we haven't had any questions so far.

[2017-06-06 11:18] lshep commented on #346
Thanks for the update.  Looking forward to reviewing the updates.   Cheers!

[2017-06-06 14:05] nturaga commented on #374
@gosianow You can put it back in `Imports` in that case.

Regarding your README, you should probably change it to include the abstract, and the installation from `biocLite`.  You can leave the rest as is.

[2017-06-06 14:07] pasculescu opened #389 "(inactive) ClusterJudge"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pasculescu/ClusterJudge.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2017-06-06 14:07] #389 closed

[2017-06-06 14:10] pasculescu opened #390 "ClusterJudge"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pasculescu/ClusterJudge

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2017-06-06 14:19] mtmorgan commented on #390
There is no vignette and no re-use (for interoperability and robust reproducible research) of Bioconductor packages and data representations. Despite thematic relevance, it is not suited for Bioconductor.

[2017-06-06 15:11] xtsvm commented on #367
Dear @mtmorgan,
There are two weeks with no updated comments for the miRBaseConverter package. I am afraid you miss my comment for the updated version. I attach the comment here. Thank you for your review!

Dear @mtmorgan,
Thank you very much for your great contribution for this package. It indeed greatly improves the efficiency of the retrieval.
I have followed your style to rewrite the most func

[2017-06-06 15:14] mtmorgan commented on #367
Thanks, I did see and review your changes, but forgot to accept the package!

[2017-06-06 15:20] xtsvm commented on #367
Thanks  @mtmorgan,
I am proud my new package can be accepted in Bioconductor. Thank you very much for your contribution to greatly improve this package.

Best regards,
Taosheng

[2017-06-06 15:29] #367 closed

[2017-06-06 15:29] #293 closed

[2017-06-06 16:56] nturaga commented on #382
Hi @yongkee Your package doesn't build on the Linux and the Mac builders. Please check the build report http://bioconductor.org/spb_reports/oneSENSE_buildreport_20170530093551.html

[2017-06-06 17:08] vobencha commented on #321
Thanks for the update. I'll have a look at this tomorrow.
Valerie

[2017-06-06 17:26] walter-ca commented on #384
Changes regarding the integration of standard BioC classes:

1. Both matrices should now be combined into one SummarizedExperiment object called "scaleSpace" with two assays; all metadata (fragment coordinates as ranges, scaling factor sigma) is included.
Old "scaleSpace matrix" is now assay 1 of scaleSpace, old "fingerprint matrix" is assay 2.

2. GenomicRanges have replaced data frames. Example

[2017-06-06 18:01] nturaga commented on #387
Hi @SergiPicart Before we get into the build error, you'd have to do a couple of things,

1. Change the name of the package, `diffusion` is a very generic package name.

2. Edit the issue name to reflect the change, the issue should contain just your package name. You do not need `Submission....etc`.

[2017-06-07 21:42] grimbough commented on #378
I am really struggling to diagnose the problem with the Windows build.  The error appears to be related to executing Makevars.win

`make: C:/Users/BIOCBU~1/BBS-3~1.6-B/R/etc/x64/Makeconf: Permission denied`

but I'm unable to reproduce the error on any local Windows machines.  Running `Rcmd.exe build Rhdf5lib` simply works for me.  Any suggestions would be much appreciated.

[2017-06-07 23:42] mikejiang opened #391 "RProtoBufLib"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/RGLab/RProtoBufLib
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-06-08 08:36] mtmorgan commented on #361
cleaning up.

[2017-06-08 08:36] #361 closed

[2017-06-08 09:24] mtmorgan commented on #391
Before moderation and review, your package requires a vignette (e.g., covering material like that in the zlibbioc vignette). Also please explain how this package differs from [RProtoBuf][] and verify that you redistribution satisfies the licensing conditions of the underlying library.

[RProtoBuf]: https://cran.r-project.org/package=RProtoBuf

[2017-06-08 09:32] kostaskyritsis opened #392 "(inactive) InterMineR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/intermine/intermineR/tree/master

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I ha

[2017-06-08 09:32] #392 closed

[2017-06-08 09:32] mtmorgan commented on #379
@lshep can you help with instructions for solving the build issue -- vulcandata data package as a dependency here; I can never keep straight what the Depends / Imports / Suggests relationship between data and software packages is supposed to be, and I don't know which package is supposed to be added to the tracker first. And in the current case I really don't know how to get the SPB back on track!

[2017-06-08 09:49] kostaskyritsis opened #393 "InterMineR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/intermine/InterMineR/tree/master

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I ha

[2017-06-08 11:28] lshep commented on #379
@mtmorgan The suggests and depends are correct.  The `vulcan` package suggests the `vulcandata` data package and the data package depends on the software package.  Its slightly tricky in this case as we need both packages to be installed to pass - now that `vulcan` has been installed @federicogiorgi  please make sure the [webhook](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUT

[2017-06-08 12:06] lawremi commented on #393
This needs a layer that integrates it with Bioconductor, e.g., returns annotations as GRanges, expression data as SummarizedExperiments, etc. It also needs a more convenient query interface. The template selection seems to expose an implementation detail. Why not have a function for each type of query? Why not have constraints expressed as R expressions that are translated? Why not have formal cla

[2017-06-08 12:25] federicogiorgi commented on #379
@ishep @mtmorgan I set up the webhooks and did a version bump. Thanks a lot for the help :-)

[2017-06-08 12:29] lshep commented on #379
@federicogiorgi  Please set the webhook and Bump the version on vulcandata not vulcan

[2017-06-08 12:31] federicogiorgi commented on #379
@ishep I did bump the version and set up the webhook on vulcandata, but somehow my push doesn't trigger a build of vulcandata

[2017-06-08 12:32] federicogiorgi commented on #379
AdditionalPackage: https://github.com/federicogiorgi/vulcandata

[2017-06-08 12:33] federicogiorgi commented on #379
@ishep it seems I had to rewrite the "AdditionalPackage" thing :-) it seems to be working now.

[2017-06-08 12:34] lshep commented on #379
Thank you.  I will try and keep an eye on this too but if you find it is not building the package you version bumped please let me know.

[2017-06-08 12:48] vobencha commented on #321
Hi,
The windows error was a problem on our end. It should be cleaned up now.

Examples of writing S4 methods are in IRanges, GenomicRanges, GenomicFeatures, Rsamtools, Biobase and other core packages. Here is an example of how you would convert GENE3() to S4:
[code]
This internal helper would do everything that GENE3() currently does starting ~ line 79 with the arg checking:
[code]
Valerie

[2017-06-08 13:12] vobencha commented on #349
Great. Thanks for your work on the package. Marking as approved.
Valerie

[2017-06-08 13:15] vobencha commented on #370
Thanks for making the changes. Marking as approved.
Valerie

[2017-06-08 13:19] vobencha commented on #375
@lshep , can you please trigger another build for this issue?

[2017-06-08 13:20] lshep commented on #375
Yes but please ensure the webhook is set up correctly https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook

[2017-06-08 14:58] LiNk-NY commented on #227
Your issue has been closed due to inactivity. To submit your **revised** package to Bioconductor, please create another issue. Thank you.
-Marcel

[2017-06-08 14:58] #227 closed

[2017-06-08 15:06] jstansfield0 opened #394 "HiCdiff"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dozmorovlab/HiCcompare

Confirm the following by editing each check box to '[x]'

- [X ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X ] I have read

[2017-06-08 15:15] llrs commented on #386
Dear @csbl-usp,
I see you export a read_gmt function, how is it different from the GSEABase function `read.gmt`?
You don't seem to have examples in the help pages (at least on the filter.R file) about how to use the functions.
In `find_modules`:
- Why don't you allow to make the WGCNA network construction using the bicor function of WGCNA?
- How much is (usually) your beta different from the beta

[2017-06-08 15:39] mtmorgan commented on #394
These comments after a quick look so could be misguided; not meant to be a formal review.

The package doesn't seem to play well with other Bioconductor sequence analysis work flows; it should re-use existing infrastructure and present a user-oriented API around the GenomicRanges infrastructure, including the infrastructure in existing HiC-oriented packages.

It's really disappointing that 'straw'

[2017-06-08 16:24] mdozmorov commented on #394
We've debated whether to use GRanges. The problem that Hi-C data formats and concepts are quite different to fit nicely into GRanges framework. Therefore, we kept simple "data.frame" structures while conforming with basics of BED and BEDPE formats.
Any suggestions which Hi-C oriented package may be used as an example? Thanks

[2017-06-08 16:31] mtmorgan commented on #394
[InteractionSet][] and [diffHic][] are possible examples; presumably your package overlaps closely with diffHiC, so it would be very valuable to distinguish the unique features you provide in the Description: filed and vignette. Have you communicated with @LTLA  ?

[InteractionSet]: https://bioconductor.org/packages/InteractionSet
[diffHic]: https://bioconductor.org/packages/diffHic

[2017-06-08 16:46] mdozmorov commented on #394
We are looking into it and will update the submission asap. We do cite diffHic and describe the difference in the manuscript (submitted to biorXiv), and will describe in the Description, vignette. Thanks for the suggestions!

[2017-06-08 17:37] hzc363 commented on #375
I need some help here.

The re-check report from Bioconductor showed that there is an error in all three platforms:

However, when I run the biocheck on my own machine, no error is reported.

Without being able to reproduce the error on my own machine, it is difficult for me to debug. I just updated all the dependencies, as wells as the biocheck package on my local machine 2 days ago. So it doesn'

[2017-06-08 18:56] LiNk-NY commented on #306
Hi Carles, @carleshf

Thanks for making changes to the package.

I have taken a look at your package and it reaffirms the issue with having so many files and functions in it. Maintenance becomes more difficult for the reviewer and the maintainer when there is so much code. As you may have experienced, updating and tracking down bugs will be a challenge.

I have looked at the vignette and it is a b

[2017-06-08 18:59] lawremi commented on #394
Considering that GRanges and Pairs of GRanges were designed to support the "basics of the BED and BEDPE formats", I'm surprised that they don't work for you.

[2017-06-08 19:09] mikejiang commented on #391
vignette is added and license is updated. See explanation [here](https://github.com/RGLab/RProtoBufLib/blob/master/vignettes/UsingRProtoBufLib.Rmd)

[2017-06-09 03:42] mshasan opened #395 "Optimal p-value weighting with independent information"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mshasan/OPWeight

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _B

[2017-06-09 07:57] kvittingseerup commented on #349
Dear Valerie (@vobencha)

Thanks for taking the time to review and improve my R package.

/Kristoffer

[2017-06-09 09:32] #370 closed

[2017-06-09 09:32] #374 closed

[2017-06-09 09:32] #349 closed

[2017-06-09 10:51] mshasan opened #396 "(inactive) Optimal p-value weighting with independent information (data and simulations)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: AdditionalPackage: https://github.com/mshasan/OPWpaper

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x]

[2017-06-09 11:13] mtmorgan commented on #396
I don't think this package is appropriate for Bioconductor. It seems from the Description like it is designed for 'reproducible research' rather than software that implements functions that are useful across different analyses. It doesn't have a vignette, which is a really central aspect of reproducible research and requirement for Bioconductor packages. The package contains functions that impleme

[2017-06-09 11:29] mshasan commented on #396
@mtmorgan Actually, when I was reading the instructions about linking webhook that was sent to me earlier, I found that I can add additional packages which are related to the previous package "OPWeight". That's why I added. I have not written the vignettes yet probably by this weekend I will be able to finish developing the vignettes. It was my misunderstanding.

Regarding the relevance of this pa

[2017-06-09 11:30] mtmorgan commented on #396
Why are the functions in this package not included in the earlier submission?

[2017-06-09 11:38] mshasan commented on #396
Because in the previous package, I solely showed the method that I developed, but in the later one I showed a comparative study between several methods. For your convenience, I can referee two Bioconductor packages "IHW" and "IHWpaper". In the first, the author showed his method and in the second he showed comparative study results. My two packages would be similar.

[2017-06-09 11:41] mtmorgan commented on #396
So it seems like the main problem here is that your package is missing the central piece -- the vignette?

[2017-06-09 11:42] mtmorgan commented on #396
I closed this issue. Reopen it with a note to @mtmorgan when your package is complete.

[2017-06-09 11:44] mtmorgan commented on #396
Please also make sure that has biocViews terms from the [ExperimentData][] ontology.

[ExperimentData]: http://bioconductor.org/packages/release/BiocViews.html#___ExperimentData

[2017-06-09 12:38] grimbough commented on #378
Are the commands reported at the top of the build report complete?  I'm trying to run them in exactly the same fashion to diagnose the problem, but I'm not sure they contain all the information required e.g.

For me the equivalent just builds the package and doesn't invoke the checking.  Since I still can't replicate these new errors under Windows I just want to make sure I'm running the commands

[2017-06-09 13:03] mtmorgan commented on #378
The wrong commands seem to be echoed; @lshep knows about this. The commands are I believe supposed to be the same as the regular builder, e.g., [zlibbioc][].

[zlibbioc]: http://bioconductor.org/checkResults/3.6/bioc-LATEST/zlibbioc/tokay1-checksrc.html

[2017-06-09 13:13] lshep commented on #378
Sorry for the confusion.  The report does not show the right commands that are run during the process.  I will work on getting the right commands displayed on the report in the upcoming weeks. In the meantime, below are the commands that are run during our build and check process for your package:

R Install Command:
[code]
R Check Command:
[code]
R BiocCheck Command:
[code]

[2017-06-09 18:00] LiNk-NY commented on #322
Hi Juan @juancholkovich,
Thanks for making those changes. Your package has been approved.
Thank you for submitting to Bioconductor!

PS. To continue improvement and robustness of your package, please see [MangoTheCat/goodpractice](https://github.com/MangoTheCat/goodpractice) and [Bioconductor Guidelines](http://bioconductor.org/developers/package-guidelines/) for tips .

Regards,
Marcel

[2017-06-09 19:35] federicogiorgi commented on #379
For some reason, I've stopped receiving build reports since yesterday. Is there a problem?

[2017-06-09 20:28] drisso commented on #364
Hi @mtmorgan

I believe that the package is now ready for you to re-review. For some reason, though, the bot did not send a build report even though it said that it started a new build after receiving a valid push. Is there a way to restart the build?

I've addressed most of your comments (see below). One interesting point is whether we could do a better job at vectorizing the calls to `optim()` t

[2017-06-10 03:11] rhondabacher commented on #377
Do I need to bump the version again ?

[2017-06-10 03:34] j-lawson commented on #355
Hello Hervé,

Thanks for the helpful feedback! I am not sure why the package build has not been completed yet since it generally seemed to be pretty quick but I'll go ahead and discuss the changes that were made. We have updated the package based on each of your comments:

1. We added more information about the exampleBSDT dataset including GEO accession information for the data it was generated f

[2017-06-11 12:58] vobencha commented on #384
@walter-ca thanks for making the changes. General package structure looks good to me. @lawremi , did you have any follow up comments?
Val

[2017-06-11 13:14] vobencha commented on #375
This is not a full review, just some preliminary comments to get this on the right track. Most of these are taken directly from the Single Package Builder output.

1) Please read new package requirements here, especially the sections on NAMESPACE and vignettes.
http://www.bioconductor.org/developers/package-guidelines/
2) You do not have a functional vignette.
During R CMD build you would see a li

[2017-06-11 13:32] lawremi commented on #384
Looks good to me.

[2017-06-11 13:39] mshasan commented on #395
@bioc-issue-bot Hi, is everything okay with my package? Do I need to do anything to speed up the process?

[2017-06-11 14:45] mdozmorov commented on #394
The package has been updated to work with `InteractionSet` objects. Both input and output can be `InteractionSet` objects. The vignette has been updated to reflect the `InteractionSet` functionality.

[2017-06-11 15:27] lawremi commented on #395
First you should consider integrating more tightly with Bioconductor. For example, the DESeqResults class exists explicitly to support this type of integration, yet you just coerce it to a `data.frame`. Presumably there are other result objects, like those from limma.

[2017-06-11 15:37] mshasan commented on #395
I really appreciate your comment. Yes, I do understand, I can improve my coding using effective tools.

[2017-06-11 17:04] mshasan commented on #396
@mtmorgan package is now complete

[2017-06-11 17:57] mshasan commented on #395
@lawremi I am referring to your last suggestion. Would you be able to show me the problem you pointed so that I can look at my code? Thank you, I appreciate your time and consideration.

[2017-06-11 20:24] jinhyunju commented on #316
Hello @LiNk-NY,

I went through the changes that would be needed in order to reflect the feedback related to changing the current S3 implementation into S4 classes, and came to the conclusion that it would be almost equal to re-writing the whole package. It would be great if the current S3 structure can be kept, since I have another package depending on picaplot, which would be affected by the cha

[2017-06-11 20:33] lawremi commented on #395
I was just referring to the example in the vignette. Ideally, the user would just pass the DESeqResult object to one of your functions, without coercing it and extracting the p-values.

[2017-06-12 04:13] mshasan commented on #395
@lawremi I updated the vignette. I do not remember why did I coerce as.data.frame. Thank you so much.
I have a question. "Version bump required" does it mean that I need to increase package version number in the description file?

[2017-06-12 12:55] ronammar commented on #385
Hi @LiNk-NY, is there anything else that came up during review? Thanks!

[2017-06-12 13:36] SergiPicart commented on #387
Hi @nturaga , we have changed the package name and the issue with Windows is gone, the mailing list confirmed it was due to tokay1's configuration. Is there anything else we should do before the review?
Thank you

[2017-06-12 15:02] csbl-usp commented on #386
Hi @llrs thanks for your input. We actually hadn't considered the bicor function, we'll include it in our package. As for the read.gmt function we opted to create our own as we thought that thus we could avoid one more package dependency for only one function. As for the differences in the beta values, we'll discuss that in the upcoming paper for the package, but briefly we address a few problemat

[2017-06-12 15:35] llrs commented on #386
The pickSoftThreshold function return a powerEstimate of NA only if "R^2 is below RsquaredCut for all powers". I don't see problematic cases here (either select power independently of what it **recommends**, or decrease the RsquaredCut) but I am looking forward the paper.

One last thing, in the vignette several slots are access via `@`, in general this is discouraged and a pertinent method should

[2017-06-12 17:13] nturaga commented on #387
@SergiPicart I'll review it and get back to you.

[2017-06-12 20:00] vobencha commented on #388
Reassigning this package to @hpages to continue the review from the previous tracker issue.

[2017-06-12 21:07] grimbough commented on #378
So it sounds like the Windows build failed.  Perhaps you can have a look at the commands I'm running locally which get through R CMD check and let me know what I'm doing differently from the builder.

`rm -rf Rhdf5lib.buildbin-libdir Rhdf5lib.Rcheck && mkdir Rhdf5lib.buildbin-libdir Rhdf5lib.Rcheck && "c:\Program Files\R\R-3.4.0\bin\R.exe" CMD INSTALL --build --merge-multiarch --library=Rhdf5lib.b

[2017-06-13 07:59] lshep commented on #379
we are looking into this and should have it fixed soon. sorry for the inconvenience.

[2017-06-13 13:54] nturaga commented on #379
@federicogiorgi Please remove all the files which are not essential to the package by using a `.gitignore` file. Once that is done, please message when you are ready for a review.

[2017-06-13 14:37] mshasan commented on #395
@bioc-issue-bot I updated the version number by .1 in the description file and then committed. Is this the right way to do the "version bump"?

[2017-06-13 14:39] mshasan commented on #396
@mtmorgan I am wondering whether do I need to open a new issue for this package or will you update the existing issue?

[2017-06-13 15:46] mshasan commented on #395
@hpages I updated the version number by .1 in the description file and then committed. Is this the right way to do the "version bump"?

[2017-06-13 16:56] mshasan commented on #396
@lshep This package is an additional package depending on another package "OPWeight", which is currently under review by Bioconductor. That's why it is producing the error.

[2017-06-13 17:27] nturaga commented on #371
I will review your latest version and get back to you.

[2017-06-14 06:44] lshep commented on #395
@mshasan Please make sure the [webhook is initiated](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook), then when you want a rebuild of your package on our system a version bump 0.99.1, 0.99.2 , will be requierd, so yes you were right to increase by .1.  Normally that will start a new build and you will receive a build report.   We had some trouble with o

[2017-06-14 09:45] lshep commented on #396
@mshasan I am away on vacation this week but will review when I am back.  Keep in mind, we will not accept this package until the dependent OPWeight is accepted, esp since we will not be able to have a full build report until OPWeight is available.  In the meantime, as OPWeight gets reviewed, please apply any similar changes that may be suggested as far as coding standards and syntax in OPWeight t

[2017-06-14 10:43] federicogiorgi commented on #379
I did add not essential files to the .gitignore list, and I am ready for a review :-)

[2017-06-14 13:34] vobencha commented on #384
Approving this package.

[2017-06-14 15:44] csbl-usp commented on #386
Hi @llrs, yes we're well aware of the motivation behind the use of NA for beta values, but we've found a few cases where WGCNA doesn't work as it should; again, it will be better discussed in the paper.
We're also already working on providing accessor functions for the S4 object slots, so thanks again for your input.

[2017-06-14 19:29] kofiav opened #397 "consensusOV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/bhklab/consensusOV

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-06-15 07:27] llrs commented on #386
If WGCNA doesn't work as it could be a bug. Contact the maintainer as he usually answers quite quickly and can correct the error in the package.
I would like to know the cases that create that error, because I am modifying the package in a [fork](https://github.com/llrs/WGCNA/) adding test to the functions, and I would like to add these cases as test for the package. Let me know when the paper is

[2017-06-15 15:31] mshasan commented on #395
@bioc-issue-bot I updated bioc-devel subscription. There should be no error now.

[2017-06-15 21:10] csbl-usp commented on #386
Dear Lluís,

We will submit the manuscript on the next few days. Meanwhile, we are
planning to get the package ready for bioconductor. Will let you know!
Thanks a lot.

Best,

Helder

Helder Nakaya, Ph.D.
Assistant Professor

Department of Clinical and Toxicological Analyses
School of Pharmaceutical Sciences
University of Sao Paulo, Brazil

Computational Systems Biology Laboratory <http://csbiolog

[2017-06-17 14:43] mshasan commented on #395
@lshep Is there anything that I need to do to fix these warnings? I do not see these warnings always when I perform R CMD check

[2017-06-18 19:03] DongmeiLi2017 opened #398 "ComSeq: An ensemble method for RNA-Seq differential analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DongmeiLi2017/ComSeq

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read th

[2017-06-18 19:04] DongmeiLi2017 commented on #398
This package is renamed from previous submitted package "Combine".

[2017-06-19 05:45] yongkee commented on #382
The primary issue with the previous version was the tcltk package. Hence I have removed it and ported GUI capabilities of tcltk to shiny.

Also, I am changing the location of my github directory under an organisation. Do I have to resubmit the package as an issue?

Currently my github repos for oneSENSE is [here](`https://github.com/JinmiaoChenLab/oneSENSE`)

[2017-06-19 14:01] nturaga commented on #382
Please bump the version so the build runs.

[2017-06-19 17:01] LiNk-NY commented on #316
Hi Jin-hyun, @jinhyunju

There are several reasons why we prefer using S4 classes instead of S3. These include but are not limited to robustness and validity checking.
Your package would benefit from making classes such as `input_list` and others into S4 classes and avoid adding attributes to list-type classes.

Your argument about having other dependencies is not as strong as your submission is c

[2017-06-19 19:02] LiNk-NY commented on #353
Hi Dong Mei, @DongmeiLi2017
Please resolve the warnings and errors in your package and bump the package version.

Regards,
Marcel

[2017-06-19 19:13] DongmeiLi2017 commented on #353
Hi Marcel,

Thanks for your information! I have changed the package name from Combine to ComSeq as there are already some packages in R have the same name. Thanks!

Best,
Dongmei

From: Marcel Ramos <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Bioconductor/Contributions <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, June 19, 2017 at 3:02 PM
To: Bioco

[2017-06-19 19:42] LiNk-NY commented on #377
Hi Rhonda, @rhondabacher

Thank you for your submission. I took a quick look at your package and it seems like you are not using any of the Bioconductor infrastructure. It would be good to see you use `SummarizedExperiment` to represent your dataset. This method is preferred because `SummarizedExperiment` is a robust class for your data.

Regards,
Marcel

[2017-06-19 19:44] LiNk-NY commented on #385
Hi Ron, @ronammar
Sorry for the delay. I will get to your package soon.

Regards,
Marcel

[2017-06-19 20:00] j-lawson commented on #355
Hello Hervé,

I'm not sure why the build process stopped halfway before but it looks like the build completed this time. Please see above for my comments on our changes to the package.

Best,
John

[2017-06-19 21:03] csgroen commented on #363
# RTNsurvival Review

**(1) REVIEWER:**
The DESCRIPTION should follow a paper abstract format. It should provide the reader a overview of what to expect in the package.

**AUTHORS:**
We updated the package description with a more informative summary of the package.

**(2) REVIEWER:**
biocViews : Too many biocViews. Emphasize most-specific terms

**AUTHORS:**
We cut down on the number of biocViews.

[2017-06-19 22:21] LiNk-NY commented on #385
Hi Ron, @ronammar

It doesn't seem like you are using `SummarizedExperiment` as you have stated previously. Have you rolled
back to a previous commit?

I don't see `SummarizedExperiment` in the `DESCRIPTION` file.

Regards,
Marcel

[2017-06-19 23:37] mshasan commented on #395
@lshep I do not see any warnings except three minor notes!

[2017-06-20 07:19] lshep commented on #395
@hpages will review this package;  I have been assigned to review the other package you submitted.

[2017-06-20 08:49] mshasan commented on #395
@hpages I do not find any warnings except three minor notes!

[2017-06-20 16:11] nturaga commented on #382
Please address the Errors

[code]

and warnings,

[code]

and the following Note's,

[code]
(Consider using [formatR](https://yihui.name/formatr/))

[2017-06-20 19:58] isarnassiri commented on #344
Hello,

I am pleased to resubmit the revised version of CMEA package. I appreciated the constructive criticisms of the reviewer.  I have addressed each of his concerns as outlined below.

1.      Package is too big: 73M. That's because it contains big data sets of experimental data. The source tarball of a Bioconductor software package should occupy less than 4MB on disk. Please check our package

[2017-06-20 20:31] mshasan commented on #395
@hpages I do not find any warnings except three minor notes!

[2017-06-21 00:52] jonydog opened #399 "survBootOutliers"
- Repository: https://github.com/jonydog/survBootOutliers

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_

[2017-06-21 11:29] mshasan commented on #395
@hpages would you please look at my package seriously? I have been trying to contact you several times but you do not respond me. It looks very unprofessional. If you do not have time please assign someone else.  It has been 12 days and not a single time you responded my message!!!!!!!!!!

[2017-06-21 23:23] grimbough commented on #395
You can get rid of the warnings during `R CMD build` by deleting the `inst/doc` folder and its contents.  I presume this is an outdated duplicate of the the version in `vignettes` folder, and `vignettes` is the appropriate place for one copy.

[2017-06-22 11:30] mtmorgan commented on #364
Thanks for the changes, I was hoping to get some time to help with the performance issue but I seem not to have been able to get to that.

[2017-06-22 12:44] mshasan commented on #395
@grimbough Thank you for your valuable suggestion

[2017-06-22 15:08] mvaniterson opened #400 "omicsPrint"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/molepi/omicsPrint

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-06-22 15:38] yocra3 commented on #371
I just modified the scripts included in inst folder to generate the objects required by scoreInvHap. As it won't affect package functionality, I won't bump the version.

[2017-06-22 19:42] #363 closed

[2017-06-22 19:42] #364 closed

[2017-06-22 19:42] #384 closed

[2017-06-22 19:42] #322 closed

[2017-06-22 20:10] drisso commented on #364
Thank you @mtmorgan !

I'll be happy to incorporate any suggestions in future versions if you ever find the time to look into it!

[2017-06-22 21:35] dvantwisk commented on #394
Hello!

Your package has build errors and failed to generate a build report on malbec1 (our windows single package builder), thus bioc-issue-bot didn't give you any build report.  The link below will give you a report on the errors.  Once the package builds without errors, warnings, or timeouts, we will begin reviewing it.

http://staging.bioconductor.org:8000/job/2621/

Thank You!

[2017-06-22 21:54] mtmorgan commented on #397
DESCRIPTION, etc.

- Please provide a more extensive Description: like a paper abstract
  describing what specific functionality is provided by this package.
- It looks like this is meant to be a 'software' package, so the
  biocViews terms should come from the Software hierarchy

    http://bioconductor.org/packages/release/BiocViews.html#___Software

- A NEWS file is good practice, but it should

[2017-06-22 22:06] lawremi commented on #397
Maybe you could avoid the `Reduce()` altogether and just use `unlist()` and `unique()`.

[code]

[2017-06-23 04:26] yongkee commented on #382
@nturaga i have change repos location to https://github.com/JinmiaoChenLab/oneSENSE/

However, when i update the version in description, it is unable to run the checks. How can i remedy this?

[2017-06-23 15:48] LiNk-NY commented on #353
Hi Dong Mei, @DongmeiLi2017

Can you resolve the errors in your package and bump the version?
Please keep doing this until you see no errors.

Thank you,
Marcel

[2017-06-23 16:05] vobencha commented on #396
Hi @mshasan,
We have reassigned both your data and software packages to me so one person can review both.
For starters, please address these issues in the Single Package Builder output:

1) non-portable paths
[code]
2) reduce example runtime
[code]
3) use TRUE and FALSE
[code]
4) man pages need non-empty \value and run-able examples
[code]
When you've made the changes please bump the version to 0.

[2017-06-23 16:06] vobencha commented on #395
I'll try to get a review done for this by Monday.
Valerie

[2017-06-23 16:08] mshasan commented on #395
@vobencha Thank you so much

[2017-06-23 17:23] LiNk-NY commented on #391
Hi Mike, @mikejiang

Did you set up a web hook for the package?

### RProtoBufLib #391
----

The package looks good.

I would just suggest that you make sure you are filtering out the compiled files (if any) that should not be uploaded to GitHub and or used for building the package. Make sure you have a `.gitignore` with those files and a proper `.Rbuildignore`.

Also, you can resolve a build warn

[2017-06-23 17:39] mikejiang commented on #391
@LiNk-NY
Yes, I did. And I pushed the updates as you recommended.
Regarding to complied files, were you referring to `https://github.com/RGLab/RProtoBufLib/tree/master/src/win/lib`? These are prebuilt binary libs for windows ( simply following the same practice as `rhdf5`)

[2017-06-23 17:56] LiNk-NY commented on #391
Hi Mike, @mikejiang

I was just noting that for any files in general. Those mentioned are needed for windows support.
Thanks for adding those to the `.gitignore`.

There are still some minor errors to be resolved.
After addressing those, your package will be approved.

Thanks,
Marcel

[2017-06-23 18:03] mikejiang commented on #391
How do I see the latest build report?

[2017-06-23 18:41] mikejiang commented on #391
@LiNk-NY
I could not reproduce there two errors, it checks ok for me locally
[code]

[2017-06-23 18:53] LiNk-NY commented on #353
Hi Dong Mei, @DongmeiLi2017
You created a duplicate issue. You could have kept this issue open.
I'm closing it. Nitesh will review your package.
Regards,
Marcel

[2017-06-23 18:53] #353 closed

[2017-06-23 19:07] nturaga commented on #371
Bump the version.

[2017-06-23 19:24] LiNk-NY commented on #391
Hi Mike, @mikejiang

I just built the package locally and I didn't get them either.
I will mark your package as accepted.

Thanks!

Regards,
Marcel

[2017-06-23 19:29] mikejiang commented on #391
Great!Thanks.

[2017-06-23 19:31] LiNk-NY commented on #306
Hi Carles, @carleshf
What are your thoughts on this? Does it sound reasonable?
Thanks,
Marcel

[2017-06-23 21:07] jstansfield0 commented on #394
We are done updating the package to correct for errors/warnings and it is ready for the formal review.

[2017-06-26 03:07] vobencha commented on #375
Just checking in. Are you planning to submit a new version?
Valerie

[2017-06-26 04:16] hzc363 commented on #375
Yes，still working on it. Thanks for checking.

On Sun, Jun 25, 2017 at 10:07 PM, vobencha <notifications@github.com> wrote:

[2017-06-26 14:08] vobencha commented on #395
Hi,

Nice job with the man pages and documentation. A few comments and suggestions below.

1) DESCRIPTION / NAMESPACE
Packages in 'Depends' are attached to the search path when the primary package is loaded (i.e., all functions in that package are available). For this reason, packages in 'Depends' are usually fully imported in the NAMESPACE, e.g., import(MASS).

    If you only need a couple of fu

[2017-06-26 14:17] mshasan commented on #395
@vobencha Thank so much you for your insightful suggestions. I will update as soon as possible and let you know if I have any questions.

[2017-06-26 16:28] nturaga commented on #387
# diffuStats Review

## Build

R-release CMD build diffuStats: Ok.

R-release CMD INSTALL diffuStats : ok

## DESCRIPTION

* ok

## NAMESPACE

* ok

## man

* good

## vignette

* Good to see use of Bioconductor colors in vignette.

* Change name of vignette from `yeast.Rnw` to diffuStats.Rnw.

## R

* remove commented out code.

* Remove debug statements `browser()` in between code.

* in diffuse

[2017-06-26 16:30] nturaga commented on #382
# oneSENSE package review

## Build and Install

R-release CMD build oneSENSE: ok

R-release CMD INSTALL oneSENSE_0.99.6.tar.gz: ok

## DESCRIPTION

* `Description` section needs to be like a paper abstract, to make it more informative. Possibly use "Rationale of One-SENSE" as part of this, that will be more informative.

## NAMESPACE

* ok

## man

* Please include runnable examples in the man pa

[2017-06-26 16:31] nturaga commented on #379
# vulcan Review

## Build

R-release CMD build vulcan:  Delete `Depends` section in vulcandata. It does NOT depend on vulcan.

R-release CMD INSTALL vulcan : ok.

## DESCRIPTION

* Not enough in the `Description` section, it needs to be similar to the abstract of at paper. Shortening the overview in the vignette would be a good way to go about this.

## NAMESPACE

* Recreate with roxygen2, and do

[2017-06-26 17:18] dvantwisk commented on #378
We've reviewed your package!  Everything looks fine, but be sure that the licensing is consistent with hdf5lib's license.

DESCRIPTION
- Title/Description: Okay!
- Ensure licensing is consistent with hdf5lib license.

NAMESPACE
- Good!

R/zzz.R
- Looks fine!

man/pkgconfig.Rd
- Good!

vignettes/Rhdf5lib.Rmd
- Okay

[2017-06-26 17:21] pasculescu commented on #390
I have added an intro vignette and updated the code, added examples.
I would like to know if this improved version might be considered for inclusion in bioconductor.
Thanks,
Adrian

[2017-06-26 20:55] mshasan commented on #395
@vobencha I have few questions regarding your suggestions:

Point 2 and 5: I removed MASS, tibble, and qvalue from the Depends and added to Imports. Can I still remove from the opw.Rd and vignette code

[code]

Point 7: How do I reduce the size? I checked the folders and found that the actual package is less than 1MB but the git folder is taking all the spaces.

Thank you

[2017-06-26 21:02] LiNk-NY commented on #393
Hi Konstantinos @kostaskyritsis,
I'm trying to build the package locally but I am getting an error:

[code]

Regards,
Marcel

[2017-06-26 23:13] sjczheng opened #401 "EpiDISH"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sjczheng/EpiDISH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2017-06-27 07:31] dvantwisk commented on #394
We've reviewed your package.  It looks very good, but there is room for improvement, including places where the code can be better optimized.

DESCRIPTION
- Title / Description: Looks good
- Depends / Imports: Looks good
- Consider using `BiocParallel` instead of `parallel`
- biocView: Looks good!
- License: MIT license requires LICENSE file to be included in any software that uses the MIT license

[2017-06-27 10:12] eugeniaeueu commented on #383
Hi,
I created this package as a data package,  that includes the java source code of the libraries imported by Onassis. I don't know how to solve the issue related to the representation of the long paths when gzipping the package. Can you please give some advice? Thanks,

Eugenia

[2017-06-27 10:45] mtmorgan commented on #383
The note about long lengths should be ignored; I believe this is not commonly encountered, and there is little that can be done anyway. The current Windows error looks transient. I will review your package this week.

[2017-06-27 10:45] lshep commented on #327
May we expect some updates soon?

[2017-06-27 10:46] lshep commented on #346
Hope to see some updates soon.

[2017-06-27 10:54] lshep commented on #378
@grimbough I'm working on testing the change to the running script that we had talked about; hopefully will be up later today so you can get a full windows report.

[2017-06-27 10:58] grimbough commented on #378
@lshep Great.  I wasn't sure if it had already been implemented since @dvantwisk provided the review.  I merged the separate branch I had been working on to stop it spamming here with failed builds, but I'll hang back from committing any other changes until I hear from you. Cheers.

[2017-06-27 11:04] lshep commented on #378
since we don't see this with really any other package, I will probably kick off a manually build of your package once I implement it;  so don't be alarmed if you see a build report or two pop up without you doing a version bump.

[2017-06-27 11:31] lshep commented on #378
I made the switch.  Hopefully it should be good now. You should receive a build report momentarily

[2017-06-27 13:14] kostaskyritsis commented on #393
Hi Marcel @LiNk-NY ,

I have cloned locally the current intermine/InterMineR master branch and performed R CMD build and R CMD check in both Windows:

R version 3.4.0 Patched (2017-05-25 r72747)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

and Ubuntu OS:

R version 3.4.0 (2017-04-21)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.2 LTS

[2017-06-27 13:44] tongyin9002 commented on #327
@lshep
Sorry for the long time bug fixing. Next week I should have enough time to clear all the bugs.

[2017-06-27 13:45] lshep commented on #327
No problem at all;  Just wanted to keep in contact and make sure you were still working on it.

[2017-06-27 15:25] eralpdogu commented on #346
We are almost done except for working with  MSnbase files. I am currently
working on a converter function that can read in msnexp files and convert
them to MSstatsQC format using qcmetrics package. Hopefully, all will be
ready by next week...

On Tue, Jun 27, 2017 at 1:46 PM lshep <notifications@github.com> wrote:

--
Eralp Dogu Assistant Professor Mugla University Department of Statistics
Mugla T

[2017-06-27 18:17] pasculescu commented on #390
I have registered myself at bioc-devel and I fixed an error related to testthat in order to fix the errors.

Should I remove/ or further simplify some of the examples! in order to get rid of the TIMEOUT?
On my mac the whole CHECK  ( R CMD check ClusterJudge_0.99.0.tar.gz) takes about 6 min.

Do I have to increase the version in DESCRIPTION from 0.99.0 to 0.99.1 for example ? Or should I first try

[2017-06-27 18:32] lshep commented on #390
Yes please simplify or use smaller test cases to reduce the time.  Make sure the webhook is set up and then increase the version number from 0.99.0 to 0.99.1 to kick off a new build of the package.   I would try to reduce the examples first since currently the timeout will still occur.

[2017-06-27 20:41] SergiPicart commented on #387
Thank you for your thorough review.
All the points have been addressed in the new version (0.99.9), although it seems the bot has not noticed the last push. In particular, the code that you mention has been vectorised. Some references in the vignette have been fixed as well (incorrect URLs)
If this is not a nuisance, I would ask you to consider adding on top some changes to improve the package fun

[2017-06-27 22:03] carleshf commented on #306
Dear @LiNk-NY,

Find under this lines the answers to your comments. I do not know what is happening since the system is detecting the bump on package's version but it is not showing the results. Anyway... do you think that `rexposome` is ready to be accepted?

## Answers

 * I have taken a look at your package and it reaffirms the issue with having so many files and functions in it. Maintenance be

[2017-06-27 22:20] LiNk-NY commented on #393
Hi Konstantinos, @kostaskyritsis

Here it is:

[code]

R version 3.4.0 Patched (2017-04-28 r72639)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.2 LTS

Regards,
Marcel

[2017-06-27 23:43] nturaga commented on #387
@SergiPicart We'll kick off a build manually tomorrow.

[2017-06-28 12:50] grimbough commented on #378
@lshep Thanks for making the change to the build script, looks like it's handling the multi-arch installation correctly now.

I'm not sure if the remaining WARNING is important.  I've no idea how to change the windows permissions on the `cleanup` and `configure` scripts, and I don't think they're executed on Windows anyway.  There are also many packages in the main repo that report the same messag

[2017-06-28 13:34] mtmorgan commented on #378
I'd recommend ignoring...

[2017-06-28 16:40] rhondabacher commented on #377
Hi Marcel,

I appreciate your suggestion and have thought about it considerably. Given that most of our users are non-experts in R, I think the accessibility of our SCnorm package would be most successful keeping the classes in S3. Is it possible to move forward with our BioConductor submission without using the SummarizedExperiment classes?

Best,
Rhonda

[2017-06-28 17:58] jstansfield0 commented on #394
I have updated the package to address the issues in your review. We are also considering changing the name of our package to avoid confusion with diffHic and were wondering what the process would be to change the name of our package before it is put up on Bioconductor?

[2017-06-28 18:08] kieranrcampbell opened #402 "phenopath"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kieranrcampbell/phenopath

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-06-28 19:18] dvantwisk commented on #394
To change the name of the package, we need you to modify the name of the repository url in your first post to include the new name of your package.

[2017-06-28 19:42] kieranrcampbell opened #403 "mfa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kieranrcampbell/mfa
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-06-28 19:57] ronammar commented on #385
Hi @LiNk-NY, thanks for your feedback. I've updated my repository to include `SummarizedExperiment` where appropriate. Please let me know if anything else is required after review.

[2017-06-29 09:36] wikiselev opened #404 "scmap"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hemberg-lab/scmap

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-06-29 13:10] pasculescu commented on #390
Do I have to do anything else to see in the end ClusterJudge in the bioconductor list of available packages?
Thanks,
Adrian

[2017-06-29 15:32] mshasan commented on #395
@vobencha Can you look at now? I fixed all the problems.

[2017-06-29 21:09] mikejiang commented on #391
Looks like the package has not been added to devel branch yet, wondering if anything is still wrong with it?

[2017-06-29 22:38] mtmorgan commented on #391
patience, sorry

[2017-06-30 07:17] menggf opened #405 "(inactive) DEComplexDisease"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/menggf/DEComplexDisease.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2017-06-30 07:17] #405 closed

[2017-06-30 11:59] brunocontrino opened #406 "Doscheda"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/brunocontrino/Doscheda

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-06-30 12:12] mvaniterson commented on #400
Dear Marcel Ramos,
The warnings the appear are from BiocCheck a few long lines and spaces. I would like to leave this as it is I think it clarifies the code. Can we close this issue and continue the review process?

Regards,
Maarten

[2017-06-30 14:02] LiubaNM opened #407 "(inactive) TFARM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LiubaNM/TFARM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2017-06-30 14:02] #407 closed

[2017-06-30 14:12] LiubaNM commented on #184
Dear Martin,
I'm trying to re-open the issue to re-submit the package, but it is being
automatically closed. How should I do?

Thank you,
Liuba

2016-12-19 22:26 GMT+01:00 Martin Morgan <notifications@github.com>:

[2017-06-30 15:25] Treutler opened #408 "(inactive) DiffLogo"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mgledi/DiffLogo

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bi

[2017-07-02 12:24] vobencha commented on #321
Hi Sara,
We need to finish up this review. Do you have questions about converting GENE3() to a generic with methods?
Valerie

[2017-07-02 12:25] vobencha commented on #359
Checking in. Are you planning to submit a new version or should I close the issue?
Valerie

[2017-07-02 12:59] vobencha commented on #395
Hi,

Thanks for making the changes.

Addressing comments in:
https://github.com/Bioconductor/Contributions/issues/395#issuecomment-311179412

- Point 2 and 5: I removed MASS, tibble, and qvalue from the Depends and added to Imports. Can I still remove from the opw.Rd and vignette code

    Using 'package A' as an example:

    When package A is in Imports, all the functions exported from package A

[2017-07-02 13:01] vobencha commented on #399
Hi,
Just fyi, the errors in the Single Package Builder output must be cleaned up before I do a full review.
Valerie

[2017-07-02 13:06] vobencha commented on #408
Hi @Treutler ,
We already have a DiffLogo in the repo and you are one of the authors. Is this submission a mistake or an update or ?
Valerie

[2017-07-03 04:56] Treutler commented on #408
Hi Valerie,
this is meant as an update. The package submission process worked differently for the first version of DiffLogo, so I thought it would be a clean way to use the new submission process by this issue.
Is the webhook sufficient for an update instead?
Thanks and warm regards,
Hendrik

[2017-07-03 10:07] LiubaNM opened #409 "(inactive) TFARM(2)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LiubaNM/TFARM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2017-07-03 10:07] #409 closed

[2017-07-03 12:47] lshep commented on #390
Thank you for your submission.  Here are some initial comments:

Overall concern:
It would be nice if there was some connection to other Bioconductor clusteringfunctions or an example of how this is used with Bioconductor packages/functions.  Some packages marked for clustering that are already in Bioconductor can be found [here](http://bioconductor.org/packages/release/BiocViews.html#___Clusterin

[2017-07-03 13:03] GuangchuangYu opened #410 "seqcombo"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/GuangchuangYu/seqcombo

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-07-03 15:31] SergiPicart commented on #387
@nturaga It seems that the package passes the cheks.
Have you considered the update I mentioned in my last post? Should I push that version?

Thank you for everything

[2017-07-03 22:38] mshasan commented on #395
@vobencha Can I keep cache=TRUE in the vignette then delete the cache folders manually; otherwise the package faces TIMEOUT problem?

[2017-07-04 06:36] yongkee commented on #382
updated version to 0.99.3

[2017-07-05 00:03] mtmorgan commented on #365
Thanks for the submission. Sorry for the slow reply. I won't make any
comments on OnassisJavaLibs; t seems fine as it is. When the issues
below are addressed, please post a brief summary of the changes you
have made.

DESCRIPTION

- Good

vignette

- Good

R

- Validity methods should return text describing errors, rather than
  stopping. So for instance

[code]

- Consider constructors `CMdiction

[2017-07-05 00:04] mtmorgan commented on #404
When you've addressed these issues, please post a comment summarizing your response.

DESCRIPTION

- Description: field should be more like a paper abstract to help
  users distinguish the unique features associated with your package.

vignettes

- ok
- consider adding a final `sessionInfo()` section.

R

- consider using the `signature=` argument to `setGeneric()` to limit
  dispatch to arguments

[2017-07-05 07:38] crj32 opened #411 "M3C package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/crj32/M3C

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconduct

[2017-07-05 08:18] eralpdogu commented on #346
Hi @lshep, I need some help with qcmetrics package. I am using it to pull out metrics to monitor but couldn't figure out how to get peptide sequences, peak area etc. Here is our current converter which works fine except for issues above.

[2017-07-05 08:45] yongkee commented on #382
@nturaga resolved most issues, except for formatting.

[2017-07-05 11:13] lshep commented on #346
I haven't specifically worked with that package,  I suggest asking on the [support site](https://support.bioconductor.org/) and tag the qcmetrics package with the specifics about what you are trying to accomplish.

[2017-07-05 13:18] lshep commented on #403
Thank you for your submission to Bioconductor. The package looks good and is very close to acceptance. Some minor concerns/clarification points:

VIGNETTE:
- [ ] We recommend include an installation section:
[code]

R CODE:
- [ ] Just a clarification question:  lines 240/243 if looks as if you are filling each column with a static column from the previous object; is this correct?
- [ ] line 292:

[2017-07-05 15:04] vobencha commented on #395
The build system will build the package each night so cache=TRUE with a manual file delete is not an option. I see Martin wrote you back on bioc-devel with suggestions for identifying code inefficiencies - that would be the best advice to take.
Valerie

[2017-07-05 16:35] kieranrcampbell commented on #403
Hi @lshep

Thanks for your review. Points addressed below

Added.

Yes, this initialises the factor loading matrix, but the intercept and gradient matrices are separate, hence this rather odd bit of code.

Added.

Great, done.

[2017-07-05 16:41] lshep commented on #403
Thank you for the clarification and the updates.  Your package has been accepted. Please leave the issue open and you will receive further instructions via email within the next several days

[2017-07-05 18:34] nturaga commented on #382
Hi @yongkee, See https://github.com/Bioconductor/Contributions#adding-a-web-hook and https://github.com/Bioconductor/Contributions#additional-actions. Is your web hook set up correctly?

[2017-07-05 19:00] nturaga commented on #387
Hi @SergiPicart , I cannot add functionality to your package. My role is that of a reviewer. Please let me know if you'd like me to check your current version, if you think its ready for a review again.  I would merge everything you want reviewed to the `master` branch

[2017-07-05 19:48] mtmorgan commented on #184
Reopen TFARM

[2017-07-05 19:49] mtmorgan commented on #184
I have re-opened the issue, etc. Please make a commit that bumps the version and triggers a re-build.

[2017-07-06 01:54] vobencha commented on #408
Hi,
The github issue tracker is for new packages only. Updates to existing packages can be done directly to svn. You should make changes to the devel branch only (not release). The steps would be something like this:
- Check out from svn:
svn co https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/DiffLogo
- Make your changes to the local repo
- Commit the local changes
cd DiffLogo
svn ci

[2017-07-06 01:55] #408 closed

[2017-07-06 12:50] mshasan commented on #395
@vobencha I followed your suggestions. I believed the package would be okay now. I also would like to keep .R and .html file in the vignette folder because this will give an instantaneous idea and the benefits of the package to the general audience before installing it.

[2017-07-06 14:38] grimbough commented on #378
So is this good to be included in the devel branch, or are there more recommendations?

[2017-07-06 15:32] grimbough commented on #378
That's great news, many thanks.

[2017-07-06 15:54] csbl-usp commented on #386
Hello, @mtmorgan it's been a few days since the OK label has been added to our issue. Could you please provide us an estimate of when we could expect the official review to be out?

[2017-07-06 16:21] wikiselev commented on #404
Hi Martin,

Many thanks for your comments. I have addressed all of them - please see my latest commit.

Cheers,
Vladimir

[2017-07-06 17:54] pasculescu commented on #390
Thanks for comments and suggestions. I am working on resolving/implementing them.
Adrian

[2017-07-06 17:56] LiNk-NY commented on #306
Hi Carles, @carleshf

Yes, that is a good idea. Please add a vignette as a quick start guide for the package and any FAQs.

* `load_exposome` is not the S4 way of initializing and creating a class.

I strongly suggest that you create a constructor function with those inputs as `data.frame`s. There will be no need to provide file paths as arguments.

Your constructor function will carry out the nec

[2017-07-07 06:31] crj32 commented on #411
Hi, this is my first package. As for the webhook I have followed the instructions and I have the error message: invalid http response 400. My payload URL is: http://issues.bioconductor.org/ and content type is: application/json. I need some help here.

I have realized my vignette images have to be in the vignette source directory - this was the source of the error, I have changed that now and upda

[2017-07-07 07:54] yongkee commented on #382
@nturaga @mtmorgan thanks for the assistance. I've added the webhook successfully. I've also changed the repository.

[2017-07-07 09:22] #378 closed

[2017-07-07 09:22] #391 closed

[2017-07-07 09:22] #403 closed

[2017-07-07 09:22] #371 closed

[2017-07-07 14:34] dvantwisk commented on #401
We've reviewed your package!  It looks good, but there are places for improvement.

DESCRIPTION

- L8: Unless the user needs to have access to the symbols in the packages in
'Depends: ', it is best to place these in a section labeled 'Imports: '

NAMESPACE

- Consider explicitly enumerating what symbols are being imported using
`importFrom()` in the `roxygen2` header.

R

R/DummyBeta.m.R & R/centD

[2017-07-07 14:58] LiNk-NY commented on #377
Hi Rhonda, @rhondabacher

Please keep in mind that we value packages that are inter-operable with the existing Bioconductor infrastructure. This means providing an interface via `SummarizedExperiment` (or any other robust Bioconductor classes). There are many reasons for using S4 classes over S3. One such reason is that S4 allows for a more robust and structured class _with_ validity checks. Varia

[2017-07-07 15:31] LiNk-NY commented on #385
Hi Ron, @ronammar
Thanks for making that change.

Your package is most of the way there. There are some minor issues that can be addressed.

* Make use of helper functions to avoid repeating yourself in functions like `zFPKMPlot` and `zFPKM`.
* Separate functionality. `PlotGaussianFit` should be two different functions the gaussian fit function and the plotting function. Please separate the two. T

[2017-07-07 15:49] dvantwisk commented on #386
We've reviewed your package!  It looks very good!  We do have some critiques.

DESCRIPTION
- Looks great!

NAMESPACE
- L39-53: Consider explicitly stating which symbols are being imported
from the various packages using `importFrom()` unless so many symbols are
being used from a package that it becomes tedious.

R

R/cemitool.R

- L60-75: Consider replacing the initialize method with a constructor

[2017-07-07 15:55] LiNk-NY commented on #393
Hi Konstantinos, @kostaskyritsis
cc: @julie-sullivan

After updating my installed packages, I am no longer getting the error mentioned earlier.
I will review your package soon.

Also, please keep in mind that if you are planning to submit to `CRAN`, your package will not be eligible for Bioconductor. We don't allow duplicate packages.

Thank you,
Marcel

[2017-07-07 16:01] LiNk-NY commented on #400
Hi Maarten, @mvaniterson
Clear code is neatly formatted.
You don't have to worry about the Note from `BiocCheck`.
The number of lines over the limit are few.

Thank you,
Marcel

[2017-07-07 16:14] SergiPicart commented on #387
Hi @nturaga , I have merged the changes in the master branch, but the bot has not noticed. Can we review that version?
Thank you

[2017-07-07 16:21] nturaga commented on #387
Update version for the bot to notice.

[2017-07-07 17:32] hpages commented on #402
Hi Kieran,

Thanks for submitting phenopath. The package looks good and is compliant with our guidelines. I'm labeling it as accepted. We'll add the package to our Subversion repository and to our build system in the next few days. You'll be contacted by email for more information about this.

Regards,
H.

[2017-07-07 18:26] mtmorgan commented on #411
Looks like the package DESCRIPTION file needs the field Version: to be bumped to 0.99.1 (then 0.99.2, 0.99.3, ... with subsequent commits).

[2017-07-07 21:11] vobencha commented on #395
I understand you want to provide a 'real time' view - that makes sense. Unfortunately the .R and .pdf files run the danger of becoming stale unless you remember to update them whenever the .Rmd file changes. If you want to keep them, please add the .R and .html to an OPWeight/.Rbuildignore file so they are ignored during R CMD build / check.
Valerie

[2017-07-08 00:13] mshasan commented on #395
@vobencha Thank you for your recommendations. I updated the package accordingly.

[2017-07-08 14:13] brunocontrino commented on #406
I have now subscribed to the Bioc-devel. Apologies for this oversight

[2017-07-09 03:28] zhangjunpeng411 opened #412 "miRsponge"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/zhangjunpeng411/miRsponge

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-07-09 10:35] mtmorgan commented on #376
I am closing this issue. If you develop the vignette further, please update your git repository and let me know; I will then re-open the issue.

[2017-07-09 10:51] LTLA opened #413 "beachmat"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LTLA/beachmat

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2017-07-09 11:13] SergiPicart commented on #387
I already updated the master branch, but still not noticing

[2017-07-09 16:39] LTLA commented on #413
Hmm... as I expected, I'm missing a few Windows-specific flags in the linking step to make the `libbeachmat.dll` shared library in `Makevars.win`. Any thoughts on how to get them, other than manually writing them into `Makevars.win`? And looking at the build line for `beachmat.dll` reveals a mystery `tmp.def` file, is this important for building `libbeachmat.dll`?

[code]

[2017-07-10 07:44] crj32 commented on #411
Hi, I have applied for the bioc-devel mailing list. The other problem seems to be timeout, what is this referring to? My example code may take quite a while to run because it is computationally intensive, I could put the iterations down if this is the problem? I have found some relevant output below.

[2017-07-10 12:48] federicogiorgi commented on #379
Thank you! I will implement the changes as soon as possible.

[2017-07-10 13:47] dvantwisk commented on #411
You are getting the TIMEMOUT tag because your package is taking more than ten minutes to build.  To solve this, consider providing less computationally expensive examples or consider changing your code at places where it might be inefficient.

[2017-07-10 15:05] kostaskyritsis commented on #393
Hi Marcel @LiNk-NY
cc: @lawremi

Thank you for your comment, yes we plan to submit the InterMineR package only in Bioconductor.

Concerning your review, we have added two formal classes:
- InterMineR_query
- InterMineR_result

along with 4 new functions:
- setConstraints
- setQuery
- runQuery2
- InterMineR_Query2XML

in order to facilitate the query process with InterMineR package and avoid defini

[2017-07-10 15:16] grimbough commented on #413
Do you know which header files you need from `C:/local323/lib`?  Could you just ship them with the package? I ended up including including a version of `libdl` with **Rhdf5lib** as it isn't included in the Rtools bundle.

[2017-07-10 15:29] ronammar commented on #385
Hi Marcel (@LiNk-NY),

Thanks again for your review and the suggestions to improve the package.

Note, the recent build report appears to have an error and was run on a single OS. I'm uncertain as to the cause- Is this an error on my end?

Addressing your feedback:
- I am now using a helper function and have removed redundant calls.
- The `PlotGaussianFitDF` function performs plotting-specific sca

[2017-07-10 15:47] LTLA commented on #413
The funny thing is that `beachmat.dll` builds fine; it's `libbeachmat.dll` that fails. So everything that is needed is there, I'm just missing something in the linker line. In the above example, the failure is probably because the -L for `libbeachmat.dll` is for x64 but `beachmat.dll` uses i386.

[2017-07-10 15:59] grimbough commented on #413
You can use the environment variable `$R_ARCH` in `Makevars.win` if that's any help.  I've used that to pick the approparite versions of things to link against in the past.

I'm giving it a try on my Windows machine, but so far all I've realised is that **Rhdf5lib** fails to give the correct location of things if there's a space in its path, so I'll patch that and get back to you.

[2017-07-10 19:53] LTLA commented on #413
Thanks Mike, that would be a great help. I think I'm just missing some `R CMD config` flags that only show up on Windows; _Writing R extensions_ provides little guidance here.

[2017-07-10 21:47] grimbough commented on #413
I've updated **Rhdf5lib** to cope with spaces in the path, but I don't think this would have been an issue for you on the single package builder.

I've also sent a pull request with a change to `Makevars.win` that gets it building on my machine.  It then falls over on the first code example I tried for `rechunkByMargins()`, but at least it builds.

[2017-07-10 21:51] LTLA commented on #413
Thanks Mike. I thought it was something like that; on Linux, `--ldflags` just gives an error.

[2017-07-10 22:37] LTLA commented on #413
Hm - the Windows-specific error with `rechunkByMargins` is very interesting. At least it's not a segmentation fault, which is what I was most worried about.

[2017-07-11 07:38] grimbough commented on #413
Might there be some conflict caused by **rhdf5** and **Rhdf5lib** using different base versions of HDF5 (1.8.7 vs 1.8.18)?

I've been trying to re-engineer **rhdf5** to link against  **Rhdf5lib**, but it's not going too smoothly at the moment.

[2017-07-11 08:36] crj32 commented on #411
Hi

I have tried reducing the runtime of the example code in 3 different ways, and there still is a TIMEOUT error. However, on my machine it runs fine and fast on a single core (see below). I have also tested it on my windows virtualmachine and it the example does not take very long compared with your machines. These are the outputs of devtools::check('M3C').......

My machine 1: (no problem, 0 er

[2017-07-11 08:57] LTLA commented on #413
Okay, based on the diagnostics I'm printing, it seems to be option 1. The file names are definitely different, so it's not _HDF5Array_'s fault. Thus, _rhdf5_ is opening the files in read-only mode on Windows.

It might be that `h5createFile` is not properly executing `H5Fclose`, which may be leaving the newly created HDF5 file in an inappropriate state for further opening. This raises some immedia

[2017-07-11 09:25] LTLA commented on #413
It seems that `h5createFile` does return `TRUE` on the Windows build machines, which suggests that it is indeed executing `H5Fclose` internally. In light of this, the only other explanation is that `H5Fclose` is not, for some reason, doing its job on Windows - or at least, not in a manner that is compatible with the new HDF5 C++ API. Hard to tell, given that there's no indication of how the Window

[2017-07-11 09:52] LTLA commented on #413
Ha ha... that "fixed" the problem. But perhaps we can try to narrow down what the cause was. @grimbough, could you try putting this code into _usingRhdf5lib_ and see if it runs properly? Make a `test.cpp` file and put:

[code]

... re-install the package, and then open an R session on a Windows machine and run:

[code]

It should just give a `NULL`, but if the bug is present, it will crash and com

[2017-07-11 11:58] grimbough commented on #413
I get the `NULL` output from this.  Happy to test anything else.  I can also give you the steps I took to compile the windows dlls if that's useful.  I always intended to distribute that with **Rhdf5lib**, I guess I just haven't done so yet.

[2017-07-11 12:18] LTLA commented on #413
Thanks Mike. I've ported the whole `repacker.cpp` function into _usingRhdf5lib_, available at:

https://www.dropbox.com/sh/rfasf3mxjs65ac9/AADNbMGqo4AGPrj1l26D6fU3a?dl=0

Can you try installing it on Windows and running the following code block:

[code]

If this fails, then the problem is isolated to `repacker.cpp` (possibly due to some interaction with _Rcpp_); otherwise, it's something funny wit

[2017-07-11 13:07] grimbough commented on #413
This now throws the same error we were seeing before:

`>  byrow <- rechunkByMargins(A, byrow=TRUE)`

[2017-07-11 14:08] LTLA commented on #413
Oh good. In that case, I've put up `usingRhdf5lib_0.0.3-2.tar.gz` on Dropbox, where I've completely commented out the repacker class - so only _Rcpp_ and templating are now present in the C++ code. Running the R code block should "work" in the sense that it shouldn't throw a C++ error. (It'll throw an R error - namely, `"HDF5. Dataset. Object not found."` - because the C++ code returns `NULL`, but

[2017-07-11 14:14] carleshf commented on #306
Hi @LiNk-NY

I answer directly on your comments.

# Major:

  * Yes, that is a good idea. Please add a vignette as a quick start guide for the package and any FAQs.

I am collecting the comments from colleges that are using `rexposome` and `omicRexposome` (waiting for `rexposome` to be put under revision). I will add the "tricks and tips" vignette as soon as possible.

  * `load_exposome` is not t

[2017-07-11 15:08] drisso opened #414 "SingleCellExperiment"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/drisso/SingleCellExperiment

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2017-07-11 15:43] Monica-Golumbeanu opened #415 "TMixClust"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cbg-ethz/TMixClust

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-07-11 15:50] grimbough commented on #413
This still throws the same error as before, despite the commenting out.  Interestingly, if I change the two lines in the rechunk template to open files in the same mode e.g.

[code]
or

[code]

it works as you expect, with the `"HDF5. Dataset. Object not found."` message.

[2017-07-11 16:06] Monica-Golumbeanu commented on #415
The error was because I was not a member of the bioc-devel list. I am now subscribed to the list.

[2017-07-11 16:09] LTLA commented on #413
Super. Weird. What's going on here? They should be two separate files - I don't understand why the `ihfile` setting would affect the ability of `ohfile` to be opened.

Well, okay, one more attempt. I've uploaded `usingRhdf5lib_0.0.3-3.tar.gz` with three changes:

- Printing out file names to ensure that the files are indeed different.
- Avoided calling `H5std_string`, just in case that's messing t

[2017-07-11 17:00] pasculescu commented on #390
Hello again,
I hope I have addressed all your concerns:
* Added connection to other clustering Bioconductor packages (at the end of vignette for example)
* fixed DESCRIPTION for full phrase
* exporting only the needed functions in NAMESPACE
* moved NEWS to top level
* Vignette: spell check done, improved and clarified conclusion
* renamed functions so they do not include . in names
* added functio

[2017-07-11 17:10] lshep commented on #390
Yes please bump the version to 0.99.3 so that a new build and check report gets generated.  Once that is complete I will re-evaluate your package. Thank you.

[2017-07-11 17:17] jstansfield0 commented on #394
I created a new repository with our package under the name HiCcompare and changed the URL in the first post along with setting up the webhook. The version number has been bumped, but the "version bump required" tag is still there. Do I need to do anything else or did I set something up incorrectly?

[2017-07-11 17:23] dvantwisk commented on #411
A few things to consider:

- It would be helpful to see your `sessionInfo()`.  Our build machines are running R (3.4.1) and the devel version of BioConductor (3.6.0).  If you are using different versions of either, this might explain the differences in speed.

- Consider building the package on your machine again using `R CMD BUILD M3C` and `R CMD INSTALL M3C`.  It might be the case that you've ca

[2017-07-11 18:28] dvantwisk commented on #394
Can you double check the webhook and try a version bump once more.  If the package refuses to build again, we will look further into the issue.

[2017-07-11 18:44] jstansfield0 commented on #394
I deleted the webhook and re-added it then bumped the version again. It still does not seem to be building the package.

[2017-07-11 19:06] mtmorgan commented on #394
Repos name changes need a manual step; I've done that so one more version bump should do the trick.

[2017-07-11 19:17] jstansfield0 commented on #394
I bumped the version again. On my end it still does not seem to have triggered a rebuild of the package.

[2017-07-11 19:26] mtmorgan commented on #394
OK, sorry, one 'last' time.

[2017-07-11 20:09] jstansfield0 commented on #394
I am now getting the following warning: checking for unstated dependencies in 'tests' ... WARNING
'library' or 'require' call not declared from: 'HiCdiff'

This was not an issue until the name change. I'm guessing it thinks the functions being used in the tests are coming from the old package instead of the current package name as I have a library(HiCcompare) statement in all of my tests. I have t

[2017-07-12 03:23] sjczheng commented on #401
Hi, @dvantwisk

Thank you so much for your comments. It helps a lot.
I

[2017-07-12 03:36] sjczheng commented on #401
Hi, @dvantwisk

Thank you so much for your comments. I have learned a lot from it.
I've made the following improvements:

DESCRIPTION
L8: Using 'Imports:' instead of 'Depends'

NAMESPACE
Now using importFrom()

R

R/DummyBeta.m.R & R/centDHSblood.m.R
 More description added

R/epidish.R

L94: Putting argument validation upfront instead of at end of function. Using match.arg().

L101: Putting argum

[2017-07-12 07:36] crj32 commented on #411
Hi, thanks, firstly I have worked on this code for 2 years and the bit of code that takes 95% of the time (or more) is the ccRun function, the rest we might save a second or two here or there so I haven't optimised that. It also runs in 10 seconds or under on my machines if we disable the monte carlo simulation for the example code as I did before the last build. With

OK have tested in on 3 machi

[2017-07-12 07:46] grimbough commented on #413
The files are definitely different.  Here's the output of version 3 (slightly modified to print separate lines):

[code]

However, if I just switch the order the two file handles are declared in the code i.e.

[code]
it fails as before, despite everything seeming the same.

[code]
I'll see if I can find a Windows version of libhdf5 compiled by someone else (or I'll use the recommended toolchain my

[2017-07-12 08:40] LTLA commented on #413
Thanks Mike. For a while, I was wondering whether Windows was messing up the file names (e.g., truncating them to the same name), but I don't think this is possible. I've uploaded `usingRhdf5lib-0.0.3-4.tar.gz` containing a trimmed-back example that should trigger the failure with:

[code]

On Dropbox, I've also put in a `compiled/` subdirectory that contains the same C++ code that can be built ou

[2017-07-12 09:55] mtmorgan commented on #411
The examples take a long time on my machine, too. Here's what I've got

[code]

and what I'm installing

[code]

This is close to what the build machine is doing, on my machine

[code]

I have the current version of R, which is 3.4.1, and the 'devel' version of Bioconductor.

[code]

Addressing the low-hanging fruit of missing imports etc makes the build report easier to use and eliminates a numbe

[2017-07-12 10:24] crj32 commented on #411
OK I think we have worked it out, I was edited the R script for M3C manually and so the M3C.Rd file has remained the same and so the example has not been changing!

Think we should be OK now. I am going to drop the iterations down to make it run fast.

[2017-07-12 11:42] mtmorgan commented on #415
Make sure that your package interoperates with Bioconductor. Do this by accepting as input Biobase ExpressionSet and / or SummarizedExperiment::SummarizedExperiment()` objects.

Use BiocParallel for parallel evaluation, so that Bioconductor users do not have to master different parallel computing conventions for different packages.

[2017-07-12 16:14] sherman5 opened #416 "RVS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sherman5/RVS

Confirm the following by editing each check box to '[x]'

- [X ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X ] I have read the _Bioco

[2017-07-12 16:24] mtmorgan commented on #416
Please make your package interoperable with other Bioconductor packages, e.g., by expecting / accepting VariationAnnotation::VCF() input / output.

[2017-07-13 01:33] jonydog commented on #399
Thank you for the reminder. I have been busy, I will make a fix very shortly.

Joao

[2017-07-13 04:34] vobencha commented on #359
Closing this issue. Please open a new issue if you decide to resubmit.
Valerie

[2017-07-13 04:34] #359 closed

[2017-07-13 04:36] vobencha commented on #375
If we don't have a new version by July 21 I'll close this issue. You can always open a new issue if you decide to resubmit.
Valerie

[2017-07-13 06:19] crj32 commented on #411
I think we got past the timeout, I need to be subscribed to the mailing list, I did this a week ago and nothing has happened so I guess we will have to wait. Thanks.

[2017-07-13 09:04] mtmorgan commented on #411
Mailing list subscription sends a confirmatory email. Did you receive / confirm subscription? It is sometimes classified as 'spam' on the client side.

[2017-07-13 09:07] crj32 commented on #411
Yeah it was in spam, I'll sort it out.

[2017-07-13 12:57] vobencha commented on #395
Thanks for making the changes - the package is approved. We still have the data package to review:https://github.com/Bioconductor/Contributions/issues/396
 I'm guessing you'll focus on that one next?
Valerie

[2017-07-13 13:01] mshasan commented on #395
@vobencha Thank you so much. I appreciate your time and recommendations. Now I will review #396.

[2017-07-13 20:22] SergiPicart commented on #387
Hi @nturaga , I have updated again and the bot does not see it. Please, can you trigger a manual build and review the current version? Thank you

[2017-07-14 07:45] crj32 commented on #411
huzzah!

[2017-07-14 09:30] grimbough commented on #413
So I think this is a result of some unreported problem in the way I was compiling HDF5 on Windows.  I've managed to build a version using CMake rather than configure, but still using the version of gcc in Rtools.  I can then link **beachmat** to these libraries and `rechunkByMargins` runs without throwing an error.  Is there a way to test that it's actually doing what you'd expect?

There's a few

[2017-07-14 09:37] LTLA commented on #413
A-maz-ing. The tests in `tests/testthat/test-rechunk.R` will tell you if it's working properly.

[2017-07-14 12:38] mtmorgan commented on #397
Is your package ready for continued review? IF so please add a version bump to trigger a build, and post a brief comment indicating how you have responded to comments.

[2017-07-14 12:48] mtmorgan commented on #414
This package looks fine. I have just two minor comments.

- use `is(x, "foo")` instead of `class(x) == "foo"` (or similarly `inherits()` for S3 classes).
- Consider simpler forms of `stop()` without nested `sprintf()`, e.g., `stop(sprintf("foo '%s' bar", x))` is just (`stop()` includes the equivalent of `paste0()` on its arguments) `stop("foo '", x, "' bar")`

Address these minor issues and I'll b

[2017-07-14 13:44] kofiav commented on #397
@mtmorgan

The package is ready for continued review. We addressed all the concerns raised in the previous review

- extended DESCRIPTION

- added appropriate software biocViews

- replaced iterations with vectorizations based on matrixStats

- re-working of vignette incl. displaying results and ggplot2-based facet plots

- changed fData columns from type factor to type character

- fixed line for

[2017-07-14 13:52] federicogiorgi commented on #379
@nturaga I implemented your suggestions, thank you for making them, they were bright and enlightening, especially those on optimizing the loops. However, I kept the pipelines for RPKMs and Raw Counts separated, as they may be different in the future due to the different nature of the input data. I will upload the updated package shortly.

[2017-07-14 16:23] rhondabacher commented on #377
Hi Marcel,

Thanks for your suggestions. I have now included use of Summarized Experiment as well as BiocParallel in the SCnorm package.

Best,
Rhonda

[2017-07-14 16:32] #402 closed

[2017-07-14 16:32] #404 closed

[2017-07-14 16:32] #390 closed

[2017-07-14 16:32] #395 closed

[2017-07-14 16:44] lawremi commented on #402
Is it really OK that this supports ExpressionSet but not SummarizedExperiment? When should one use one or the other? Maybe all new code should at least support SE?

[2017-07-14 17:01] kieranrcampbell commented on #402
The reason this supports ExpressionSets is because the main use case I envisage is with single-cell ExpressionSets from the [scater](https://github.com/davismcc/scater/) package, which inherit ExpressionSets, though it's in the long term plan to [transition to SummarizedExperiments](https://github.com/davismcc/scater/issues/84).

[2017-07-14 17:31] mtmorgan commented on #402
I'd really encourage supportnig SummarizedExperiment (and the newly submitted SingleCellExperiment package https://github.com/Bioconductor/Contributions/issues/414 -- comments welcome Michael) for modern data. scater should be updated (obviously not your responsibility, Kieran)!

[2017-07-14 17:52] kieranrcampbell commented on #402
Great I'll try and implement this, it should be fairly minor as it only
requires an expression matrix and some sample covariates. I do share some
responsibility for scater as I'm on the paper but the rest of my PhD got in
the way!

Cheers

Kieran

On 14 Jul 2017 6:31 pm, "Martin Morgan" <notifications@github.com> wrote:

[2017-07-14 17:55] hpages commented on #388
Hi Leo,

Thanks for re-submitting microbiome.

The package is in much better shape than when I first looked at it in 2014. Thanks for all these improvements. One little thing that remains though is that the section numbers in the vignette are all prefixed with `0.`. Could these prefixes be removed?

Otherwise, the package will be ready for inclusion to Bioconductor.

Regards,
H.

[2017-07-14 18:35] nturaga commented on #379
hi @federicogiorgi i'll take a look at the changes and reply soon.

[2017-07-14 18:41] lshep commented on #327
Hello,  Its been another few weeks now.  Do you have more updates?  If you don't have time to work on it, I would suggest closing the issue.  You can always reopen when you have time to work on it.

[2017-07-14 18:43] lshep commented on #346
Were you able to get any advice on the support site?  I hope to see some updates and a push soon.

[2017-07-14 19:34] drisso commented on #414
Hi @mtmorgan

Thanks for reviewing the package!
I've addressed your issues, let me know if the changes are OK.

[2017-07-14 20:05] #397 closed

[2017-07-14 20:05] #414 closed

[2017-07-14 21:13] LiNk-NY commented on #377
Hi Rhonda, @rhondabacher
Thank you for making those changes. I have taken a quick look at your package.
Please see the review below.

Feel free to contact me if you have any questions.
Regards,
Marcel

---

# SCnorm #377

## DESCRIPTION & NAMESPACE
Looks good.
* Please add relevant URL links to GitHub issues and source code.

## data
* Please rename the dataset provided to a more descriptive name.

[2017-07-14 23:06] jenniferfranks opened #418 "FSQN"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jenniferfranks/FSQN

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2017-07-15 00:20] LiNk-NY commented on #385
Hi Ron, @ronammar
Thanks for looking into it.

* Please keep a NEWS file in the `inst` folder in your package for updates on the versions.
* If your imports are not central to what your package does, then they should be in suggests. It seems to me like `checkmate` can be an optional package dependency and is not needed.
* Use the more robust double bracket extractor method rather than the `$` (e.g

[2017-07-15 10:46] antagomir commented on #388
Thanks ! I think it should all be fine now.

[2017-07-15 13:38] eralpdogu commented on #346
Hi @lshep, I am discussing the options with the developer of the package. I will let you know as soon as we fix it. I think we are in good shape with the rest.

[2017-07-15 13:54] eralpdogu commented on #346
Hi @lshep, I am discussing the options with the developer of the package. I will let you know as soon as we fix it. I think we are in good shape with the rest.

[2017-07-16 16:41] mtmorgan commented on #418
Your package needs to interoperate with standard Bioconductor data representations, in particular SummarizedExperiment::SummarizedExperiement(). The vignette needs to be more comprehensive, perhaps illustrating the use and pitfalls of your approach with a moderately realistic data set.

[2017-07-17 10:36] hcorrada opened #419 "epivizrChart"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/epiviz/epivizrChart

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2017-07-17 10:59] grimbough commented on #413
**Rhdf5lib** version 0.99.12 should be compatible with **beachmat** now.  I can run the everything in `tests/testthat/test-rechunk.R` without issue when linking against it on 64bit Windows.  I haven't tested 32bit Windows or any other platform yet.

[2017-07-17 11:35] LTLA commented on #413
Great. I should mention that there is a battery of actual tests in `inst` that verify that _beachmat_'s core API functionality is working. These are not put into the `tests` subdirectory as they require the installation of a "test" package to check that linking works as it should. You can test it by running:

[code]

[2017-07-17 13:42] carleshf commented on #337
AdditionalPackage: https://github.com/isglobal-brge/brgedata

[2017-07-17 13:50] carleshf commented on #337
AdditionalPackage: https://github.com/isglobal-brge/brgedata

[2017-07-17 15:02] dvantwisk commented on #394
Is the package ready for the review to continue?

[2017-07-17 15:10] #418 closed

[2017-07-17 15:35] LiNk-NY commented on #306
Hi Carles, @carleshf
Thank you for making those changes.
@mtmorgan will have a quick look at the package.

I reiterate that whenever a package conveniently uses existing Bioconductor infrastructure, not only does it make the package more robust by making use of a mature class but it also offers interoperability with other Bioconductor packages. We discourage submissions that try to reinvent the wh

[2017-07-17 15:42] dvantwisk commented on #401
The changes look great so far!  We only have one change left to recommend:

R/epidish.R
L191-196: vectorize with:
[code]

[2017-07-17 16:09] jstansfield0 commented on #394
Yes, please continue the review.

[2017-07-17 16:26] nturaga commented on #379
* Build/install ok.

* man pages not changed.

* l:159 in gsea.R, you do not need this line. You overwrite it in the very next line.

* Please fix these instances as well, from 1:ncol/length() to seq_len. Please fix all instances of this "1:". Account for 0.

[code]

* Fix NOTES:

[code]

* These sets of repeated code can be made a function, and reused.

[code]

	for example:

[code]

Please fix a

[2017-07-17 16:51] nturaga commented on #398
# ComSeq review

## Build

R-release CMD build ComSeq: ok

R-release CMD INSTALL ComSeq: ok

## DESCRIPTION

* `Description` needs to follow a paper abstract format and needs to be more informative.

## NAMESPACE

* ok

## man

* ok

## Vignette

* The vignette needs more information. The way it is represented is not informative to the user.

* The way the result is shown is of no value to the use

[2017-07-17 16:59] mtmorgan commented on #306
The package seems to build primarily on eSet, whereas the more modern solution would be SummarizedExperiment. It seems like the extensions to eSet are relatively modest, and likely similar extensions to SummarizedExperiment would be necessary. I would strongly recommend adopting the newer (SummarizedExperiment) infrastructure, but at the end of the day (i.e., if @carleshf says 'no' one more time)

[2017-07-17 17:20] sjczheng commented on #401
Hi, @dvantwisk

Thanks again for the comment.
I have replaced those lines with vectorized codes.

Best regards,
Charles

[2017-07-17 17:24] carleshf commented on #306
Dear @LiNk-NY  and @mtmorgan  ,

Let's consider the following situation: I will let  `rexposome` as it is since its scientific article is close to being sent to review (next Friday). Then, once it is accepted and my PhD defended I compromise myself to rebuild the `ExposomeSet` class extending `SummarizedExperiment` instead of `eSet`. I will not stop improving.

Does this sound good for you? For su

[2017-07-17 17:35] hpages commented on #413
Amazing debugging job guys! Thanks for sorting out the nasty Windows issue. I'm taking a look at beachmat right now. We need to get the package into Bioconductor and on the daily build reports ASAP.

[2017-07-17 17:37] federicogiorgi commented on #379
@nturaga thank you!
I have one question: how do you know which lines are not correctly indented? The standard BiocCheck doesn't give me that in the output. I checked the lines and used tidy_source() from the formatR package but it doesn't seem to find the nasty lines.

[2017-07-17 17:39] LTLA commented on #413
Yep, as soon as I see the latest version of _Rhdf5lib_, I'll trigger a version bump.

[2017-07-17 17:50] hpages commented on #413
Sounds good. I guess you could also try to re-enable the `rechunkByMargins`'s example.
Almost done with the review. Everything looks good. Still need to run `R CMD check testpkg/` and have a quick look at the vignette.

[2017-07-17 19:17] LTLA commented on #413
Oh, that's a good point actually. @grimbough, the tests in `test-rechunk.R` were hidden in an `if` block that prevents their execution on Windows, so if you just `source`d the test file, it will finish without problems because nothing gets run! Perhaps you've already realized this, though.

[2017-07-17 19:41] s-aibar commented on #321
Hello Valerie,

GENIE3() is now updated as a Generic.
Sorry, I didn't understand what you meant about the generics in first place, but with the examples it was very easy. Thank you!

[2017-07-17 21:02] grimbough commented on #413
I took the Windows clause out, so it was running the tests correctly.  I'm having some problems building the `testpkg` inside.  Something isn't found when I try to load the dll, but for the moment I'm not sure if it's related to `Rhdf5lib.dll`, `beachmat.dll` or something else entirely and we're missing a linker flag somewhere.  I'll take a look in more depth tomorrow morning.

[2017-07-17 21:24] hpages commented on #413
Everything looks good. I'm marking the package as accepted.

Some minor comments, mostly cosmetic. Note that I'm not a C++ guy so I'm learning a lot by looking at your code. Also that means that my comments below might not make much sense so feel free to
ignore ;-)

I noticed that in the 'Defining the common input interface' section in `LIN_methods.h` (lines 14-36), the following definitions are d

[2017-07-17 21:41] LTLA commented on #413
@grimbough Yes, it's entirely possible that `pkgconfig` isn't written properly for Windows, I just ripped it from _Rhtslib_. Though everything in there is standard C++, so I didn't think much was needed...

@hpages Good points; I'll get onto them tomorrow morning.

[2017-07-17 23:25] lcolladotor opened #420 "(inactive) recountWorkflow"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LieberInstitute/recountWorkflowBioc

Note that this package is a workflow and not a software package.

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and

[2017-07-17 23:26] #420 closed

[2017-07-17 23:28] lcolladotor opened #421 "recountWorkflow"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LieberInstitute/recountWorkflow

Note that this package is a workflow and not a software package.

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all r

[2017-07-17 23:38] lcolladotor commented on #421
Here is the tarball that corresponds to https://github.com/LieberInstitute/recountWorkflow/commit/01e6e2a687de3e5c565d20d850750677fef14ec2 (just a few commits before the latest version). Just in case you want to look at the rendered HTML for reviewing the workflow instead of the raw Rmd file.

[recountWorkflow_0.99.0.tar.gz](https://github.com/Bioconductor/Contributions/files/1154273/recountWorkfl

[2017-07-18 01:03] mtmorgan commented on #421
As a workflow, I think @vobencha should handle this.

[2017-07-18 01:49] lcolladotor commented on #421
Full commit message for the latest commit.

[code]

The bumphunter dependency should solve the error shown in veracruz1 and tokay1.

[code]

malbec1 had another error which seems transient.

[code]

[2017-07-18 04:41] lcolladotor commented on #421
Hi again,

Here is the tarball with the latest version (using Bioc 3.6) in case you want to look at the rendered version of the workflow.

[recountWorkflow_0.99.6.tar.gz](https://github.com/Bioconductor/Contributions/files/1154680/recountWorkflow_0.99.6.tar.gz)

Best
Leo

[code]

[2017-07-18 08:17] LTLA commented on #413
Responses to comments by @hpages:

1. Yes, the duplication is intended. This is function overloading in C++ (don't think it exists in C), where the compiler can figure out which function to use based on the number and type of arguments. Here, I've used it to allow for different iterator types (e.g., for implicit conversion from double-precision data in the matrix to integer data in the storage vec

[2017-07-18 12:38] federicogiorgi commented on #379
@nturaga I implemented all the changes you suggested.

There is nothing I can do about the single warning, which seems to be on the server side:
"Installed Rcpp (0.12.12) different from Rcpp used to build dplyr (0.12.11)."

Also, 9 lines (0%) are not indented with multiples of 4 spaces, but those are man pages automatically generated by roxygen2.

[2017-07-18 13:53] lcolladotor commented on #421
If you are wondering why all the packages are in Imports rather than Suggests, it's because I'm following what was done in https://github.com/Bioconductor/Contributions/issues/374. I like the idea of

[code]

installing all the dependencies.

[2017-07-18 14:19] #413 closed

[2017-07-18 14:19] #382 closed

[2017-07-18 14:19] #387 closed

[2017-07-18 14:53] carleshf commented on #337
Dear @mtmorgan ,

We are having some troubles to understand what is happening with the additional experimental package. We have seen in the build-report that `PackageFileSize: -1.00 KiB`. This is strange since it contains several completed omic data-sets.

We used the `lfs` feature from GitHub to store this package, could this be the root of the problem? If yes, can you provide us with instruction

[2017-07-18 19:50] LTLA commented on #413
@hpages Code has been updated as suggested in 0.99.8.

@grimbough I guess we should move to the Slack channel to deal with our Windows problem.

[2017-07-19 12:42] tongyin9002 commented on #327
@lshep
Sorry for the suspend of this package, I really bothering on other tasks.
I would like to close the issue for the moment, and restart it when I have time.
Deeply appreciate your help!

[2017-07-19 12:46] lshep commented on #327
Anytime!  We hope to see your submission in the future.  You can always reopen this issue when you have time to work on it (please reopen this issue rather than opening a new one). Cheers!

[2017-07-19 12:46] #327 closed

[2017-07-19 17:16] nturaga commented on #379
Hi @federicogiorgi

I'll review your package again soon. But you need to fix a couple of things before that.

1. Your formatting seems to have disappeared entirely on your R code.

2. `vobj` in vulcan, is a list containing samples, peak counts, and
   other data.frames, why not describe the contents of the list in the
   man pages, if it is being returned by the function `vulcan`?

   Please updat

[2017-07-19 21:17] LiNk-NY commented on #316
Hi Jin-hyun @jinhyunju,
Any updates on making changes to the package?
There are some benefits that you can take advantage of by switching some
of your data structures to an S4-based class.

Regards,
Marcel

[2017-07-20 00:25] federicogiorgi commented on #379
Thanks @nturaga. OK give me some time to manually fix every single line. The tidy_source function from formatR cannot at the same time force line length below 80 columns and transform indentation in multiples of 4 white spaces, for some reason. Ha, I've spent 90% of this package time on formatting indentation, no jokes :-)

[2017-07-20 07:51] federicogiorgi commented on #379
@nturaga I have updated the man pages with extra info and reformatted the indentation of the source code :-) Again, I get this single server-side (I think) warning:
"Installed Rcpp (0.12.12) different from Rcpp used to build dplyr (0.12.11)."

[2017-07-20 12:37] crj32 commented on #411
Hi

The only warning is related to not evaluating code in the vignette, we have checked the code works in the vignette, but this tool is designed to run on multi core system or people without short time limits. Currently my college has an idea to improve speed, but we have not managed to implement it yet, it may or may not happen.

Could we please continue regardless? The example code runs with 10

[2017-07-20 14:44] Monica-Golumbeanu commented on #415
I added a function, get_time_series_df_bio, which parses a Biobase ExpresionSet into a data frame necessary for the main function of the package. I modified the analyse_stability function such that it uses the BiocParallel environment.

[2017-07-20 16:01] jinhyunju commented on #316
Hi Marcel, @LiNk-NY
Thanks for checking on the status. I agree that my package could benefit from adopting the S4 class structure in terms of robustness, however, I honestly don't think I have the bandwidth at the moment to work on such a large change. You can go ahead and close the ticket if necessary.

[2017-07-20 17:25] lshep commented on #412
Thank you for your submission to Bioconductor.  Some comments:

From Build Report:

 - [ ] You don't need to include the GPL LICENSE, listing it in the DESCRIPTION is enough.
 - [ ] Add unit tests
 - [ ] Consider adding runnable examples to the following man pages which document exported objects:
      cernia.Rd, moduleFEA.Rd

README:
 - [ ] Add Bioconductor installation instructions in README via

[2017-07-20 18:37] nturaga commented on #406
# Doscheda Review

## BUIlD

* R CMD build Doscheda: ok

* R CMD INSTALL Doscheda: ok

## DESCRIPTION

* Description needs to be more like a paper abstract, and it needs to give more information.

* BiocViews need to be more informative.

## NAMESPACE

* Ok

## man

* Try to explain what the output values are, e.g runDoscheda returns a class ChemoProtSet, where can I find documentation for that cl

[2017-07-21 01:04] zhangjunpeng411 commented on #412
Thanks for your detail comments, @lshep.
I will update the package ASAP.

Regards,
Junpeng

[2017-07-21 03:42] sherman5 commented on #416
The functions RVgene and RVgeneAllshare now accept inputs of the type "SnpMatrix" as well as the LINKAGE format that was previously accepted. Is this sufficient?

[2017-07-21 06:44] mtmorgan commented on #365
have you finished revisions in response to the initial review?

[2017-07-21 06:46] eugeniaeueu commented on #365
Yea, I made all the corrections

[2017-07-21 06:59] mtmorgan commented on #337
Yes this looks like a problem on our end; we'll investigate.

[2017-07-21 11:29] liuyufong opened #422 "(inactive) AnimalGene2QTL"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-07-21 11:29] #422 closed

[2017-07-21 11:41] liuyufong opened #423 "(inactive) https://github.com/liuyufong/AnimalGene2QTL"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-07-21 11:41] #423 closed

[2017-07-21 12:25] liuyufong commented on #423
the AnimalGene2QTL provides functons to retrieve QTL, SNP and gene data

[2017-07-21 13:11] liuyufong opened #424 "AnimalGene2QTL"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-07-21 13:31] liuyufong commented on #424
The AnimalGene2QTL provides functions to retrieve qtl, snp and gene data.

[2017-07-21 13:32] liuyufong opened #425 "(inactive) AnimalGene2QTL"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-07-21 13:32] #425 closed

[2017-07-21 13:35] liuyufong opened #426 "(inactive) AnimalGene2QTL"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-07-21 13:35] #426 closed

[2017-07-21 13:49] liuyufong opened #427 "AnimalGene2QTL:retrieve QTL,SNP and gene"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/liuyufong/AnimalGene2QTL
AdditionalPackage: https://github.com/liuyufong/AnimalQTLDB

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review comment

[2017-07-21 13:50] liuyufong commented on #427
The AnimalGene2QTL provides functions to retrieve QTL , SNP and gene data

[2017-07-21 13:53] dvantwisk commented on #386
Hello,

Is the package ready for further review?
Also, we need to request that you perform a version bump.

[2017-07-21 13:53] mtmorgan commented on #427
Your package will need to integrate much better with Bioconductor, e.g., using GRanges to describe QTL locations.

[2017-07-21 14:05] lshep commented on #427
Is AnimalQTLDB an R package on CRAN? Or is this an additional package that you were submitting to Bioconductor?

[2017-07-21 14:14] liuyufong commented on #427
Dear Ishep,
 The AnimalQTLDB is an additional package that i am tring to submitting to Bioconductor.
it is a ExperimentData package that provides  sqlite database to AnimalGene2QTL package

[2017-07-21 14:18] lshep commented on #427
The ExperimentalData package should have been submitted first as these packages should be submitted under the same issue:
https://github.com/Bioconductor/Contributions#submitting-related-packages

[2017-07-21 14:40] liuyufong commented on #427
@lshep  Thank you for reminding me. I will submit it

[2017-07-21 15:09] dvantwisk commented on #411
Hello,

Unfortunately, we can't make an exception for your package, it will have to build without warnings.

If you can find any inefficient code that could be replaced with better implementations, this will help.

Other than that, you may need to consider refactoring the examples in your vignette so that they run faster, but still provide a comprehensive overview of what the package can do.  For

[2017-07-21 15:59] vobencha commented on #321
Great. Please bump the version so we get a new build.
Valerie

[2017-07-21 16:18] LiNk-NY commented on #393
Hi Konstantinos,
It would be advisable to keep your naming conventions consistent. Please use `camelCase` naming conventions for your functions. Appending "query" and "result" to a class name is not really helpful for the user. Please use class names and methods that are more generic. Perhaps, you can create an "InterMineR" class with query and result methods?
I will look into your package shortly

[2017-07-21 16:29] csbl-usp commented on #386
Hi @dvantwisk, thanks for reviewing our package, it has been very helpful. I just bumped up our package version, as requested. Just a few comments on specific points of your review:

R/cemitool.R
_L177: Better to include numeric in signature._
Could you elaborate on why you made this suggestion? It would seem that the module colors would usually come as character values.

R/enrichment.R
_L17: [Con

[2017-07-21 16:57] liuyufong commented on #427
@lshep  I submit the  additional packages AnimalQTLDB:
AdditionalPackage: https://github.com/liuyufong/AnimalQTLDB

[2017-07-21 17:01] lshep commented on #427
Thank you.  Please make sure your [webhooks](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) are set up on both of the packages.
Please debug AnimalQTLDB  completely first.

[2017-07-21 20:05] nturaga commented on #415
# Review TMixClust

## Build

* R CMD build: ok

* R CMD INSTALL: ok

## DESCRIPTION

* ok.

## NAMESPACE
* ok

* Does BiocStyle need to be imported, if it is just for the vignette it needs to be in "Suggests".

## man

* ok

## vignette

* Ok

## R

* Replace `1:nrow(ts_df)` with `seq_len(nrow(ts_df))` ??

[code]

    Same problem in all other instances of `(1: value)`

    if you need to do `2:n

[2017-07-22 04:06] zhangjunpeng411 commented on #412
Hi @lshep,

Please find the below responses.

**From Build Report:**
1. GPL LICENSE has been removed.
2. The unit tests have been added.
3. The cernia function has been changed into an internal function. The examples in moduleFEA.Rd take much time during checking due to online functional enrichment analysis. So, I have pasted related codes but not run.

**README:**
I have added Bioconductor instal

[2017-07-22 05:25] crj32 commented on #411
Hi

We do not think further big improvements in speed are likely.

However, the best way to speed this up is to actually reduce the size of the example instead of lowering the iterations, That should be fine. I will have to change the example code and re do the vignette.

Best wishes.

[2017-07-22 07:50] liuyufong commented on #427
[AnimalQTLDB_0.99.6.tar.gz](https://github.com/Bioconductor/Contributions/files/1167189/AnimalQTLDB_0.99.6.tar.gz)
I run build("AnimalQTLDB",vignettes = FALSE)

[2017-07-22 11:43] mshasan commented on #396
@vobencha Would you be able to look at my vignette code, especially the first few lines where I used "load()" to load .RDATA. I tried many different ways but could not figure out the problems. My vignette code passed R CMD check but does not pass in the Bioconductor system. It seems that Bioconductor system is unable to load my saved data from the repository.

[2017-07-23 09:11] kostaskyritsis commented on #393
Hi Marcel, @LiNk-NY
Thank you for your comment! I will replace InterMineR_query and InterMineR_result classes with a class called InterMineR and add the appropriate methods. Also I will check the rest of the functions and modify them accordingly to follow the camelCase naming conventions.
All best,
Konstantinos

[2017-07-24 12:13] vobencha commented on #321
Hi,
Just a few last things to clean up in the SPB output:
[code]
Valerie

[2017-07-24 12:17] vobencha commented on #399
FYI I'm out of the office July 26 - Aug 2. If you have not submitted a new version by Aug 7 I'll close the issue. You can resubmit when you have time to work on the package.
Valerie

[2017-07-24 12:17] vobencha commented on #375
Closing this issue due to inactivity.
Valerie

[2017-07-24 14:57] dvantwisk commented on #394
Things looks good!  We are accepting your package.  We do, however, recommend that once your package is accepted, that you remove the remaining commented out code.

[2017-07-24 15:40] dvantwisk commented on #386
Hello,

The changes you made so far look good!  We have a few elaborations and changes:

R/cemitool.R
L177: You're right, instead of `numeric` we recommend instead putting `character` in the signature, which is the type of `mod_colors`.

R/modules.R
L96:  Looking back at the code, we realized our suggestion could be improved further with:
[code]

[2017-07-24 16:02] dvantwisk commented on #419
Hello,

We've reviewed your package and everything looks very good!  We only have one recommendation for you in our review:

R/utils.R

L104-936:  Consider placing json in a system file in `inst` and reading it from there instead of including it all in the source code.

[2017-07-24 16:52] jkanche commented on #419
Hi @dvantwisk,

Thank you for your taking time and reviewing the package.

I refactored the code and moved the settings into a json file. Thank you!

[2017-07-24 19:08] dvantwisk commented on #419
Everything looks good!

[2017-07-24 19:29] dvantwisk commented on #394
One last thing!  You have the file `HiCcompare.Rproj` in your packages root directory.  This file isn't needed and it would be best to include this in `.gitignore`.

[2017-07-24 19:31] dvantwisk commented on #386
One last thing! You have the files `CEMitool.Rproj` and `.travis.yml` in your package's root directory. It would be best to include this in `.gitignore`.

[2017-07-24 20:34] #401 closed

[2017-07-24 20:34] #419 closed

[2017-07-24 20:34] #394 closed

[2017-07-24 21:17] rhondabacher commented on #377
Hi Marcel,

 I have implemented the major and most minor revisions you suggested. I do have two remaining while loops that are necessary, but I have put conditions and restrictions on them. I think your suggestions have improved the efficiency and usability of SCnorm. Thank you and I look forward to hearing your feedback.

Best,
Rhonda

[2017-07-24 21:45] vobencha commented on #396
I'll take a look at this tomorrow.
Valerie

[2017-07-24 21:45] vobencha commented on #416
I'll take a look at this tomorrow.
Valerie

[2017-07-25 15:57] vobencha commented on #396
Hi,
When you use load() the file type must be saved using save() and must be location in the data/ directory of the package.

I believe this is being submitted as a data package so we need to get it in the correct format. Data packages have a slightly different structure than software. Here are some examples that you can download and look at the source code:
http://www.bioconductor.org/packages/re

[2017-07-25 17:26] vobencha commented on #416
Hi,

Overall an organized and well documented package. Well done. A few comments below.

1) Please clean up the NOTES in single package builder output:
[code]
2) snpStats
Yes, the support of SnpMatrix is sufficient. snpStats should be moved to Imports or Depends and be (partially or fully) imported in the NAMESPACE. Packages in Suggests are not checked during installation so a user that does not h

[2017-07-26 12:11] vobencha commented on #321
Thanks. Looks good.

[2017-07-26 12:12] vobencha commented on #396
fyi I'm out of the office July 26 - Aug 2.
Valerie

[2017-07-26 12:13] vobencha commented on #416
fyi I'm out of the office July 26 - Aug 2.
Valerie

[2017-07-26 21:02] albmarch opened #428 "TFHAZ"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DEIB-GECO/TFHAZ

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-07-26 21:13] shokoohi opened #429 "(inactive) DMCHMM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-07-26 21:13] #429 closed

[2017-07-27 01:24] shokoohi opened #430 "DMCHMM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shokoohi/DMCHMM

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bi

[2017-07-27 12:23] shokoohi commented on #430
Hello,

The issue is solved now.

Thank you,

Farhad Shokoohi,
Assistant Professor
Concordia University

[2017-07-27 14:10] mtmorgan commented on #377
Hi Rhonda -- can you bump the version to 0.99.7 to trigger a final build?

[2017-07-27 15:38] LiNk-NY commented on #377
Hi Rhonda,
Sorry for the late response.
Thank you for submitting to Bioconductor. Your package has been accepted.

Regards,
Marcel

[2017-07-27 15:44] rhondabacher commented on #377
Thank you Marcel!

[2017-07-28 01:16] LiNk-NY commented on #306
Hi Carles, @carleshf
This scenario works as long as you make efforts to uphold the Bioconductor way of integrating the most relevant Bioconductor classes so that they work in harmony with other packages.
After all, that is what the meaning of "Bioconductor" alludes to.

Best regards,
Marcel

[2017-07-28 01:25] LiNk-NY commented on #385
Hi Ron, @ronammar
The package is close to completion and should be accepted as soon as you make those minor changes.
Are you able to make those changes and bump the version?

Thanks,
Marcel

[2017-07-28 04:11] ronammar commented on #385
Hi Marcel (@LiNk-NY),

Thanks again for your review and the suggestions to improve the package. I have updated the package accordingly. Please advise.

Regards,
Ron

[2017-07-28 08:48] LuyiTian opened #431 "scPipe: a package for single cell RNA-seq data processing"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LuyiTian/scPipe

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Bio

[2017-07-28 10:13] eralpdogu commented on #346
Hi @lshep, we had good feedback for the converter. We just need to modify it a bit. I included the converter to the vignette. The output is a csv file. Do you think we should run it in the vignette and show the data table or just show the code?

[2017-07-28 10:21] statOmics opened #432 "stageR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/statOmics/stageR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2017-07-28 10:47] lawremi commented on #432
I wonder if the _stageRTx_ class could extend _SummarizedExperiment_

[2017-07-28 12:04] statOmics commented on #432
Dear @lawremi

I agree with the philosophy that it is a good practice to build upon existing Bioconductor classes. However, I feel that the SummarizedExperiment class would rather be appropriate for storing raw- and metadata.
The classes defined in the stageR package in essence store p-values, which depend on a model etc. Therefore, I think that extending SummarizedExperiment to contain model-base

[2017-07-28 13:58] lawremi commented on #432
I don't think it matters whether data are raw or the result of a model fit. It's just data, and it's nice to have data stored along with the metadata on features and samples, even if the samples might correspond to something like a model contrast. They're just different stages in the pipeline.

[2017-07-28 17:25] #377 closed

[2017-07-28 17:25] #306 closed

[2017-07-28 17:25] #321 closed

[2017-07-28 19:59] genesofeve opened #433 "projectoR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/genesofeve/projectR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2017-07-28 20:08] sherman5 commented on #416
Thank you for the feedback,

All NOTES have been resolved, except for 12 lines in the man pages to are not indented to a multiple of 4 spaces. This is due to roxygen copying over the function signature to multiple lines.

all of these packages have been included in the NAMESPACE and Imports fields, see [commit](https://github.com/sherman5/RVS/commit/29b11d942ac358ff5639b4af431dbc4fbffa3534)

we cl

[2017-07-29 15:43] sbstatgen opened #434 "(inactive) GKnowMTest"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sbstatgen/repo.gknowmtest.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2017-07-29 15:43] #434 closed

[2017-07-29 15:59] sbstatgen opened #435 "(inactive) GKnowMTest"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sbstatgen/repo.gknowmtest

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-07-29 15:59] #435 closed

[2017-07-29 16:05] sbstatgen opened #436 "(inactive) GKnowMTest"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sbstatgen/GKnowMTest

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-07-31 02:51] LuyiTian commented on #431
I have updated the package to fix errors: https://github.com/LuyiTian/scPipe/commit/cc3260078c854c94f28cef1fda4ee955e43db6ed

also added the Webhook to my repo, but the first delivery is failed with error: "Only push, issue, and issue comment event hooks supported". I have selected "Just the push event."

[2017-07-31 09:38] statOmics commented on #432
Thank you for the suggestion, @lawremi .
I will await the review from @LiNk-NY and get going from there.

[2017-07-31 14:01] gusef opened #437 "(inactive) IrisSpatialFeatures"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gusef/Iris

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconduc

[2017-07-31 14:01] #437 closed

[2017-07-31 14:09] gusef opened #438 "IrisSpatialFeatures"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gusef/IrisSpatialFeatures

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-08-01 10:22] federicogiorgi commented on #379
@nturaga and all: I implemented all the suggested fixes, the package is ready for your inspection :-)

[2017-08-01 12:11] crj32 commented on #411
Hi - we finally got there, thanks for support.

[2017-08-01 12:54] lawremi commented on #431
There seem to be a lot of partially overlapping packages for single cell RNA-seq. Rather than package up an entire workflow, why not release each of these steps as a separate package? Users could then mix and match algorithms to construct pipelines. It's fine to publish a workflow package, but it should probably just combine other, independent components. With the convergence towards common data s

[2017-08-01 14:08] dvantwisk commented on #411
Great!  We'll start our review now.

[2017-08-01 14:15] dvantwisk commented on #386
Can you perform a version bump?

[2017-08-01 14:46] LuyiTian commented on #431
@lawremi Thanks for your advice.

Yes I agree there are a huge amount of scRNA-seq packages now but instead of the whole workflow, scPipe only tries to fill the gap between fastq and gene counting matrix and QC information, generating the consistent result for different protocols. It does the similar things as [Cellranger](https://support.10xgenomics.com/single-cell-gene-expression/software/pipeli

[2017-08-01 15:17] arnesmits opened #439 "DEP"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/arnesmits/DEP

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2017-08-02 01:50] LiNk-NY commented on #393
Hi Konstantinos, @kostaskyritsis
Any updates on making these changes?
Please don't forget to bump your package's version when you do.

Regards,
Marcel

[2017-08-02 02:00] LiNk-NY commented on #400
Hi Martin, @mvaniterson
Please reduce the size of your repository.
I am currently getting a download size greater than 200 MB.
You should be excluding any compiled files and reports from the repository via `.gitignore`.
If you have already commited large files, I recommend you remove them and subsequently use the BFG Repo-Cleaner.

Best regards,
Marcel

[2017-08-02 02:04] LiNk-NY commented on #410
Hi GuangChuang, @GuangchuangYu
My apologies for the delay in getting to your package.
I will review it shortly.

Best regards,
Marcel

[2017-08-02 02:11] ronammar commented on #385
Excellent! Thanks, Marcel @LiNk-NY!

[2017-08-02 07:28] GuangchuangYu commented on #410
@LiNk-NY No problem and take your time.

[2017-08-02 14:36] vobencha commented on #421
Hi Leo,
I've been out of the office. I'll take a look at this today or tomorrow.
Valerie

[2017-08-02 15:01] kostaskyritsis commented on #393
Hi Marcel, @LiNk-NY

I have updated the package and it was built without errors or warnings!

Functions, methods and classes follow the camelCase naming conventions now. I removed InterMineR_query and InterMineR_result classes and created a single InterMineR formal class for complex queries, with runQuery and summary as generic functions that call methods for this class.

Also the package has now

[2017-08-02 15:46] lshep commented on #346
Hello, I'm not exactly sure what you mean by converter but for functionality in general, is it run elsewhere in man pages or tests?  How long does it take to run?

[2017-08-03 01:27] LuyiTian commented on #431
@vobencha @lawremi  My package does not work on windows because of the C++ code. Could you tell me how do I suppress the build on windows platform?  Currently, the only error comes from the windows. Thank you very much.

[2017-08-03 01:30] vobencha commented on #431
Suppressing the build on windows is not an option. The package must build on all 3 platforms - this is part of the new package requirements.
Valerie

[2017-08-03 13:20] mritchie opened #440 "EGSEA123 Workflow Package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mritchie/EGSEA123 (note that this is a Workflow package, based on the afternoon workshop presented at BioC 2017 in Boston).

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  th

[2017-08-03 14:26] Monica-Golumbeanu commented on #415
Thanks for the review. I have addressed all the issued you raised and updated the code accordingly. Thank you for your code vectorizing suggestions, I have removed a couple of useless for loops. I replaced the which(<logical>) commands where they were not necessary.

[2017-08-04 12:23] vobencha commented on #416
Thanks for making the changes. Marking this as approved.
Valerie

[2017-08-04 19:57] nturaga commented on #383
Hi @eugeniaeueu ,

[code]

This package needs to have biocViews terms only from the ExperimentData hierarchy.

[2017-08-04 21:07] lcolladotor commented on #421
Thank you Val! The submission process at F1000research is also advancing. Let me know if you have some changes to the workflow in mind so I can update the workflow submitted to F1000research accordingly.

Have a good weekend!

[2017-08-05 20:58] azampvd opened #441 "DrugDiseaseNet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-08-05 21:15] azampvd commented on #441
[DrugDiseaseNet_0.99.0.tar.gz](https://github.com/Bioconductor/Contributions/files/1202682/DrugDiseaseNet_0.99.0.tar.gz)

[2017-08-05 23:13] dvantwisk commented on #411
We've reviewed your package!  It looks good, but we have found places were it can be improved:

GENERAL:
- Add unnecessary files such as M3C.Rproj to .gitignore
- Multiple lines have more than 80 characters. When this happens, consider using
	multiple lines to avoid long lines of code that are less than 80 characters.
- place `data` in `inst` directory

DESCRIPTION:
- Consider adding more biocView

[2017-08-05 23:36] azampvd opened #442 "(inactive) DrugDiseaseNet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/azampvd/DrugDiseaseNet

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-08-05 23:36] #442 closed

[2017-08-05 23:41] azampvd opened #443 "DrugDiseaseNet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/azampvd/DrugDiseaseNet

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-08-06 16:00] mtmorgan commented on #443
No need to include vignette build products in the vignettes/ directory, just the Rnw and bib files.

[2017-08-07 02:37] LuyiTian commented on #431
@vobencha  We are working on the code so it could be built on win. But is it possible to limit my package to only linux the Mac, because my package contains a lots of C++ code which compiles at unix but failed in win platform by mingw_64.

[2017-08-07 02:53] vobencha commented on #431
I won't be doing a full review until the package passes build and check on all 3 platforms. As I mentioned before, the requirements are that that package build on all 3 platforms or it won't be accepted into the BioC repository. You are welcome to submit to CRAN if you can't make it build on windows.
Valerie

[2017-08-07 03:23] zhangjunpeng411 commented on #412
Hi  @lshep ,
There are more than two weeks with no updated comments for miRsponge package. I am afraid you miss my responses for the updated version. I attach the responses here again. Thank you for your review!

Hi  @lshep ,

Please find the below responses.

**From Build Report:**
1. GPL LICENSE has been removed.
2. The unit tests have been added.
3. The cernia function has been changed into an

[2017-08-07 09:34] jonydog commented on #399
Hi there.

I was full of work this month, I am pretty sure I will have some spare time to  fix the build this week, is it possible to have this week to fix the build?

Thanks in advance.

João Pinto

________________________________
De: vobencha <notifications@github.com>
Enviado: segunda-feira, 24 de julho de 2017 13:17
Para: Bioconductor/Contributions
Cc: João DIogo Pinto; Mention
Assunto: Re: [

[2017-08-07 11:05] lshep commented on #412
@zhangjunpeng411 I'm sorry for the late response.  I will re-evaluate the package and have more feedback either later today or tomorrow at the latest.

[2017-08-07 11:13] zhangjunpeng411 commented on #412
Thanks @lshep for your time.

Regards,
Junpeng

[2017-08-07 12:49] vobencha commented on #421
Hi,
Looks good - just a few comments.

1) LazyData
Why set LazyData: true? In our experience this has been problematic and makes packages with large data much, much slower to install. recountWorkflow doesn't have data in the package so I'm not sure why you have this directive?

2) The size of the built tarball is large compared to the original package.
Ideally workflows are no bigger than the soft

[2017-08-07 12:52] vobencha commented on #399
Yes we can wait another week.
Valerie

[2017-08-07 13:53] #416 closed

[2017-08-07 13:53] #365 closed

[2017-08-07 13:53] #383 closed

[2017-08-07 13:53] #385 closed

[2017-08-07 13:53] #386 closed

[2017-08-07 15:06] lcolladotor commented on #421
Hi Valerie,

Thank you for your comments!

1. LazyData: sorry, I copied my description from a previous package and forgot to remove that part.
2 and 3. I reduced the number of base level plots from 10 to 1. This should reduce the size.

Best,
Leo

[2017-08-07 15:32] lcolladotor commented on #421
With the recent changes, it's a 2.4 mb tar ball

[recountWorkflow_0.99.17.tar.gz](https://github.com/Bioconductor/Contributions/files/1205308/recountWorkflow_0.99.17.tar.gz)

[2017-08-07 16:15] vobencha commented on #421
Great. Thanks for making the changes. Marking this as approved.
Valerie

[2017-08-07 16:31] lcolladotor commented on #421
Awesome, thanks!

[2017-08-07 18:27] jonydog commented on #399
Thank you!

________________________________
De: vobencha <notifications@github.com>
Enviado: segunda-feira, 7 de agosto de 2017 13:52
Para: Bioconductor/Contributions
Cc: João DIogo Pinto; Mention
Assunto: Re: [Bioconductor/Contributions] survBootOutliers (#399)

Yes we can wait another week.
Valerie

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2017-08-07 18:48] dvantwisk commented on #433
Hello!

Just a friendly reminder that your package is still building with errors.  We cannot begin our review of you adjust your package so that it clears build and check on all platforms.

[2017-08-07 18:59] shokoohi commented on #430
Hello,

I haven’t received any news regarding my submitted package “DMCHMM”.
The issue is solved and I sent an email long time ago.
Would you please update me on stage of reviewing my package?

Thank you,
Farhad Shokoohi
Assistant Professor,
Concordia University

[2017-08-07 19:57] nturaga commented on #430
@shokoohi Please correct the Error's on your package [build report](http://bioconductor.org/spb_reports/DMCHMM_buildreport_20170727042104.html)
. I will review your package soon.

[2017-08-07 20:31] lschen-stat opened #444 "(inactive) SNPath"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lschen-stat/SNPath

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2017-08-07 20:38] mtmorgan commented on #444
Please review Bioconductor package guidelines. Your version number is incorrect (should be 0.99.0) and you are required to have a 'real' vignette, in the vignettes/ directory and with code chunks that are evaluated when the package is built -- `R CMD build SNPath`.

[2017-08-07 20:52] shokoohi commented on #430
Hello,

I have already subscribed to bio-devel mailing list after I received the report mentioning the following error:

ERROR: Maintainer must subscribe to the bioc-devel mailing list. Subscribe here: https://stat.ethz.c

[2017-08-07 20:55] nturaga commented on #430
You have to bump the version in the DESCRIPTION file and commit. Check maintainer name as well.

https://github.com/shokoohi/DMCHMM/blob/master/DESCRIPTION

[2017-08-07 20:56] mikejiang opened #445 "cytolib"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/RGLab/cytolib

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2017-08-07 21:14] mikejiang commented on #445
This package contains the original `c++` code from `flowWorkspace`,
`cytolib` consists of the c++ data structure and its APIs as the infrastructural library for the entire `flow cytometry` tool chains.
`flowWorkspace` mainly contains the R bindings to the `cytolib` and the `xml` parsing.
The separation will make it easier to maintain both packages, so that the frequent enhancements and new feature

[2017-08-07 21:22] genesofeve commented on #433
so I've having some trouble isolating the source of the errors. The package
builds just fine on my computer and on travis (https://travis-ci.org). I am
trying to get my hands on a windows machine, but since no compilation is
required I'm not sure why cross platform usage would be a problem. I know
that people have installed the GitHub repo and it works just fine, which
makes me think it may be som