[2017-03-08 23:16] hangost opened #310 "IMAS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hangost/IMAS
Confirm the following by editing each check box to '[x]'

- [ x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x ] I have read the _Bioc

[2017-03-08 23:38] lawremi commented on #310
It seems this could make better use of the GenomicAlignments package. Custom CIGAR parsing code, looping over individual reads, etc, are red flags.

[2017-03-09 01:28] jaspershen commented on #227
Hi Marcel, @LiNk-NY
Thank you very much for your reply and guide. I have re-established the webhook for my package-MetCleaning according to the user guide.
Best regards
Xiaotao

[2017-03-09 04:18] vobencha commented on #292
What do you think @lawremi? Any more comments or are we good to go?
Val

[2017-03-09 06:56] jotsetung opened #311 "AnnotationFilter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/AnnotationFilter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2017-03-09 14:13] lawremi commented on #293
For `match_motifs()` (and any other generic with `...` in the formals), the arguments that fall into `...` do not need to be the same across methods. Consistency is a good thing, of course, but they could have different defaults for e.g. the `bg` argument. Right now most of the `match_motifs()` methods are completely ignoring e.g. `genome`, and the GenomicRanges method is ignoring `ranges`, which

[2017-03-09 19:23] Welliton309 opened #312 "GA4GHclient"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/labbcb/GA4GHclient

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-03-09 19:59] george-weingart commented on #145
Hello Martin,

First of all, I want to thank you for your help deploying the package,  you
have been very helpful and it it greatly appreciated.

I have 2 questions:

Question # 1:

When I look at the output of the check  (
http://bioconductor.org/spb_reports/banocc_buildreport_20170308123607.html
 )    I see NOTES about

Consider adding
  importFrom("stats", "cov2cor", "quantile", "rbeta", "rbino

[2017-03-09 20:59] lawremi commented on #312
Why bundle the Shiny app with the package? The API is obviously independent of Shiny, and there could be multiple GUIs built on top of it. Maybe split into a separate package?

The `app()` function could accept an OrganismDb object, so no need for separate OrgDb and TxDb arguments in common cases.

The `pageSize` argument is a bit awkward. What about returning a deferred request object with method

[2017-03-09 21:47] Welliton309 commented on #312
The Shiny app is shipped along with the package to facilitate development of the interface and to provide a quick way to interact with the server. I can put the app in a separate package if necessary.

Can I extract all data of TxDB package from an OrganismDb? The packages uses these functions on TxDB package: `genes`, `transcripts`, `exons` and `promoters`.

I understand that `pageSize` seems to

[2017-03-09 22:09] lawremi commented on #312
If the goal is to conform to GA4GH schemas then I guess there is room for a more idiomatic interface built on top of this.

[2017-03-09 22:10] mtmorgan commented on #312
Please do not be concerned about the Rsamtools error on windows; this seems to be a problem with the single package builder.

[2017-03-09 22:10] mtmorgan commented on #312
@lawremi can you expand on your comments, please?

[2017-03-09 22:20] lawremi commented on #312
By idiomatic, I mostly meant using the appropriate R data structure for the type of data. And using conventional means of restricting data instead of arguments that refer to web pages. And other stuff like that. But if the scope of this package is restricted to being a low-level API, then the current design seems adequate. It does make it strange to have an attached Shiny app though. Just some hig

[2017-03-09 22:37] Welliton309 commented on #312
@lawremi I would like the package to come closer to the R/Bioconductor than to the API. I am trying to this by using the base Bioconductor classes instead of base R types. The solution I see for removing the `pageSize` argument is iterating until get all response data from server. However the computer memory will should keep large amount of data. The `pageSize` method works like a chunk processing

[2017-03-09 22:57] lawremi commented on #312
I could see a couple options:

1) A functional iteration interface like `GenomicFiles::reduceByYield()`. Another useful interface would be like `base::Find()` where a function returns a logical vector and iteration stops once there is a `TRUE` in the return value, and returns the corresponding record.
2) Deferred execution of the request, so that calling the search function immediately returns an

[2017-03-09 23:10] menggf opened #313 "(inactive) A R package for differential expression analysis and exploratory investigation to complex disease using big data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/menggf/decd.git
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2017-03-09 23:10] #313 closed

[2017-03-09 23:23] menggf opened #314 "(inactive) A R package for differential expression analysis and exploratory investigation to complex disease using big data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/menggf/decd.git
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2017-03-09 23:23] #314 closed

[2017-03-10 07:15] mtmorgan commented on #145
Thank you for your contribution. Please update your package in
response to the following comments, including a version bump. Provide
a comment on this issue summarizing your response.

DESCRIPTION

- Please clarify the relationship between the author -- 'Emma
  Schwager' -- and the github account 'george-weingart' that has
  contributed the issue. If these are different people and
  'george-weinga

[2017-03-10 07:27] menggf opened #315 "(inactive) decd"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/menggf/decd

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocondu

[2017-03-10 09:12] Welliton309 commented on #312
@lawremi I forgot to mention the `full` parameter. When this parameter is `TRUE` the `search` functions will iterate over the request until get all response data. I think this is the expected behavior of your point 3. Do you think it would be more advisable to set this parameter to TRUE by default?

[2017-03-10 10:39] davidsebfischer commented on #303
@mtmorgan Do you have any idea why build takes 1.5 and 2 min on windows and linux but >10min on your mac os machine? it s also faster on my mac.

[2017-03-10 12:06] mtmorgan commented on #303
looks like it failed on our linux builder malbec2 most recently. The two common problems are an unreliable web service or buggy parallel implementation. Are either of those likely to apply?

[2017-03-10 12:38] lawremi commented on #312
Yes, I think that's going to lead to the least surprise. When things are too big, the user can figure out how to limit it.

[2017-03-10 12:55] davidsebfischer commented on #303
Thanks for your help! ImpulseDE2 uses BiocParallel for parallelisation but it should only be called in sequential mode in vignette examples and function annotation examples. There is no web interface.

[2017-03-10 14:44] lshep commented on #310
Thank you for your submission. Please see the following:

**GENERAL:**
 - [ ] It would help to shorten lines to 80 characters so you could read them when accessing via web browswer on github
 - [ ] Please address @lawremi comments above. There seems to be similar functionality already provided in GenomicAlignments - Either genomicAlignments should be used or please give details on how the function

[2017-03-10 15:28] LiNk-NY commented on #219
Hi Beth @betsig,
Thank you for contributing to Bioconductor, your package has been accepted!

Best regards,
Marcel

[2017-03-10 15:59] davidsebfischer commented on #303
The mac os server build 0.99.3 in 2 minutes, there are hardly any changes to 0.99.5 (building in >10min), added knitr and Biobase into namespace and modified one annotation example to reduce build time.

[2017-03-10 16:05] mtmorgan commented on #303
The builder is used for multiple purposes and it can be that the builds take a long time because they are competing for resources; I recommend that you do not worry about this timeout.

[2017-03-10 16:08] mtmorgan commented on #258
Feel free to ignore the warning about R version dependency.

[2017-03-10 17:25] jinhyunju opened #316 "picaplot:package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jinhyunju/picaplot

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-03-10 17:52] mtmorgan commented on #316
@LiNk-NY will review your package but I note that it doesn't interoperate with Bioconductor, e.g., via use of SummarizedExperiment. Please update your package to accept SummarizedExperiment, and to use other Bioconductor packages and classes as appropriate.

[2017-03-10 17:55] lawremi commented on #316
It's also kind of discouraging that report generation requires pandoc. It seems a major downside of markdown is that there are no widespread native viewers. Why not just use HTML directly?

[2017-03-10 18:07] jinhyunju commented on #316
Hello, @mtmorgan Thanks for the quick feedback on the package. Just to clarify your point, are you asking for features in the functions that automatically recognizes objects of classes such as SummarizedExperiment? If that is what you are asking for I will implement that functionality as soon as possible. Thanks again!

[2017-03-10 18:13] jinhyunju commented on #316
Dear @lawremi, Thank you for the feedback! My original thinking was that basing the report generation on knitr would integrate well with the current R community since it is widely used. At the moment I am not quite sure how I would directly implement this feature in HTML and would very much appreciate it if you could point me in the right direction. I will try to reflect your suggestion as soon as

[2017-03-10 18:19] lawremi commented on #316
There are lots of examples of packages generating HTML reports from a template. For example, ShortRead. I think that uses `Biobase::copySubtitute()`. Fancier would be the brew or whisker packages.

[2017-03-10 20:19] tiagochst commented on #229
@vobencha I fixed all problems except the warnings (I believe 1 and 3 are fixed with the new TCGAbiolinks version) but 2 is from gaia and I'm not the maintainer.

It is running quite fast now, but I still have timeouts.
<img width="326" alt="screen shot 2017-03-10 at 11 13 16 am" src="https://cloud.githubusercontent.com/assets/145529/23809451/9c8fde5c-0582-11e7-8d28-fe9cd4bcd0aa.png">

[2017-03-10 22:00] mtmorgan commented on #233
Your package requires a version bump to trigger a build; did you intend to do that?

[2017-03-10 22:03] mtmorgan commented on #258
For S4 -- it is usual to introduce slot 'accessors' -- often plain-old-functions, not exported -- and use these throughout rather than to use direct slot access. This is the object-oriented principle of defining an interface separate from the implementation.

For C -- the code on your branch looks superficially correct. Is there an easy way to reproduce the problem that you report with respect to

[2017-03-10 22:06] mtmorgan commented on #272
Again to be clear, I'll wait until you post a comment indicating that your package is ready before continuing the review process.

[2017-03-10 22:07] mtmorgan commented on #276
Thank you I've marked the package as accepted; it will be added to the Bioconductor svn repository and nightly builds, with additional information forwarded by mail in the next several days.

[2017-03-10 22:26] mtmorgan commented on #285
DESCRIPTION

- Provide more specific biocViews terms

vignette

- Provide a narrative better explaining use of the package, rather
  than the currrent more-or-less minimally annotated script.

R

- Please indicate how you have responded to @lawremi's comments
- e.g., callPeaks.R:87 use `rowMeans(.)` rather than `apply(., 1,
  mean)` for efficiency. Use vectorized rather than iterative
  operations

[2017-03-10 22:47] AliciaSchep commented on #293
I disagree that the background is inconsistent among the methods.  When supplying a DNAStringSet or character vector as the input, the background is taken across the input for which the motif matching is called. This is the same as when giving ranges and a genome-- the relevant DNA that is being assessed is what is being used.  I think this makes sense in many applications, especially when looking

[2017-03-11 01:31] #276 closed

[2017-03-11 01:31] #301 closed

[2017-03-11 01:31] #219 closed

[2017-03-11 08:03] BioinfoMonzino commented on #272
Dear @mtmorgan ,
this is a misunderstanding. Actually, we added a post after our last bump. We briefly summarized the modifications applied to our code following your suggestions. However, after the new submission, an error occurred due to a small bug in one of the change we did, but that was immediately fixed. We didn’t understand that we should have written another post.
By the way, the required

[2017-03-11 08:16] mtmorgan commented on #272
Thanks,  am happy to accept the package. It will be added to Bioconductor nightly builds and svn repository, with additional information via email in a few days.

[2017-03-11 08:17] #272 closed

[2017-03-11 18:03] dirmeier opened #317 "netReg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dirmeier/netReg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-03-11 19:04] lawremi commented on #312
One suggestion: maybe make `pageSize` default to `NA_integer_`, and whenever it is the missing value, behave like `full=TRUE`. Then you could just drop the `full` argument. Maybe give `pageSize` a more intuitive name, like `nmax` or `nrows` like `read.table()`.

[2017-03-11 22:39] mtmorgan commented on #317
@hpages will provide a review of this package, but I note that it's odd that it has no dependencies on other Bioconductor packages. Motivation for introducing dependencies would be to facilitate interoperability between related packages (i.e., use classes and methods defined in similar packages for robust data management) and to reduce code duplication. Are there really no connections between your

[2017-03-12 13:45] dirmeier commented on #317
Dear Martin,
the package is a pure C++ implementation of a regularized regression model using biological networks. I really need any other dependencies on Bioconductor packages I guess.
But maybe it makes sense to add some nice plotting routines using some Bioc-packages indeed.
Best, Simon

[2017-03-12 22:32] jinhyunju commented on #316
@mtmorgan I have added functionalities to the main functions `run_ica`, `run_pca` and `covariate_association_check` enabling `SummarizedExperiment` objects as direct input.

[2017-03-13 05:34] skyhorsetomoon commented on #283
Hi lshep
I have a problem about package builder. The problem is  the TIMEOUT error on malbec2 (linux). The package version of 0.99.4 does not appear this problem on malbec2(linux) and it build and check is all OK. I just change some words and sentences in the package of version 0.99.7. So I do not know why it appear this problem.
Thank you for your help!

[2017-03-13 08:32] llrs opened #318 "Submitting BioCor"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/llrs/BioCor

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocondu

[2017-03-13 09:46] wkopp commented on #258
Regarding S4: So it would be ok to define accessor functions like this:
[code]

Regarding the R_alloc issue:
A reproduction of the error is given by travis-ci on a Linux system (Job #40):
https://travis-ci.org/wkopp/motifcounter/builds/210484505

Another option would be to do the following:
[code]
These commands do not finish successfully on my linux development environment and on the travis-ci li

[2017-03-13 11:05] lshep commented on #283
It seems you have edited the first entry of submission and there is no longer a link to your github repository nor acceptance of the conditions to submit to Bioconductor. Please revise.  This very first entry comment on this page should be the following which you have edited to not include.  Besides accepting the review process it has the link to your github repository so I can try and help with y

[2017-03-13 12:10] skyhorsetomoon commented on #283
@lshep  Do you  have any idea why build takes less than 1 minute on Windows and Mac OS but more than 10 minutes on your	Linux machine?  It's also faster on my Linux machine.

[2017-03-13 12:45] lshep commented on #283
I will investigate and kick off a new build of the package but not until you do the above.

[2017-03-13 13:18] skyhorsetomoon commented on #283
Thanks for your help! After kicking off a new build of the package, whether this problem can be fixed?

[2017-03-13 14:20] lshep commented on #283
Please edit the very first comment at the top of this page.  You deleted it at some point.  We need this information in order to move forward.

[2017-03-13 14:38] Welliton309 commented on #312
When `full = TRUE` the `pageSize` works more like `n` parameter of `ShortRead::FastqStreamer` function. It defines how many entries the server should return in each request (the server will not respect when the value is bigger than its maximum response length). It will need to have two parameters: 1) define the chunk size (useful when it is expected large response data because large value will red

[2017-03-13 14:38] skyhorsetomoon commented on #283
@lshep  I have edited the very first comment at the top of this page. You can try again.
Thanks

[2017-03-13 14:40] lawremi commented on #312
Makes sense to me.

[2017-03-13 15:32] lshep commented on #318
Thank you for your submission.  A few comments to address:

- [ ] Please update R version dependency from 3.3.0 to 3.4
- [ ]  In pathSim.R: if number of pathways is big use another strategy?  why is different strategy better than using the same for both?
- [ ] in geneSim.R: same as above, why is a different strategy better than using the same for both.  Also please address the comment you have #TO

[2017-03-13 16:26] wkopp commented on #258
Regarding the R_alloc issue, I think I found at least one issue (and possibly also the solutions). Let me try to fix this. I'll comment on this in more detail as soon as I definitely know what is going on, which will be in the next couple of days.

[2017-03-13 16:55] llrs commented on #318
1.  [x] Done
2.  [x] One way to compute the similarity between each pathway is doing one comparison at time. This requires listing all the genes in a pathway, and all the genes in the other pathway, and then for each gene see if they are in another pathway with the genes in the original pathway. When large amount of similarities are needed, it becomes slow. The alternative strategy uses the incide

[2017-03-13 17:02] lshep commented on #318
The DESCRIPTION file still seems to show version dependency from R 3.3.0 instead of 3.4? Could you please make this change and do a version bump to kick off a new build.  Before doing the version bump please make sure the webhook was set up: [webhook setup](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook).  Once the WARNING is corrected I will recommend

[2017-03-13 17:56] lshep commented on #283
Thank you for your interest in Bioconductor.  Please see the comments below:

**GENERAL:**
- [ ] Please fix the "no visible global function definition" and "no visible binding for global variable" in the build report: See in R:  `?globalVariables`  for help with defining global variables and the following suggestion from the build report
[code]

**NAMESPACE:**
- [ ] remove exportPattern("^[[:alpha

[2017-03-14 07:38] skyhorsetomoon commented on #283
@lshep Thanks for your comments and suggestions. After package built without errors or warnings
on all platforms, how can I release it to the Bioconductor website?

[2017-03-14 08:46] dirmeier commented on #317
I seriously have no idea why windows wants to execute `configure`. Adding a `configure.win` does not change anything. I neither found anything on the web regarding this issue.

[2017-03-14 10:13] llrs commented on #318
I have addressed all the comments in the last version change.
However I would like to know if I can have the restriction of R to  R (>= 3.3.0) which is the version I use to develop the package.
I would like to note that it wasn't build in malbec2 sever, so it wasn't checked in a Linux environment.
I pushed a change about giving proper credit to @GuangchuangYu, if everything is okay I will bump the

[2017-03-14 11:13] lshep commented on #283
Your package has not been accepted yet for Bioconductor and will not be released on the Bioconductor website until you address the issues I stated above.

[2017-03-14 11:25] lshep commented on #318
Thank you for your updates I will mark your package as accepted. You should receive svn instructions within the next week for inclusion in Bioconductor devel.
We encourage the R version to be the version that the package will be released under with the Bioconductor release as we can't ensure compatibility.

[2017-03-14 11:37] llrs commented on #318
Thanks to you @lshep, for reviewing the package.

[2017-03-14 12:10] vobencha commented on #292
Looks good to me. Accepting the package.
Val

[2017-03-14 12:25] lshep commented on #110
As we are getting closer to the spring release I just wanted to check in to see if you had any updates.  Normally it gets quite busy during the release time frame and wanted to make sure you could get your package in this time around.

[2017-03-14 12:36] wind22zhu opened #319 "(inactive) BioMedR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wind22zhu/BioMedR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-03-14 12:36] #319 closed

[2017-03-14 12:59] wind22zhu commented on #231
The man files have been consolidated and merged from 210 to 156. Does this meet your requirements? or is there a exact limit number?

[2017-03-14 13:01] dschlauch commented on #110
Yes, I'll push some updates soon.  Is there a release schedule available?
Thanks, Dan

On Tue, Mar 14, 2017 at 8:25 AM, lshep <notifications@github.com> wrote:

[2017-03-14 13:06] lshep commented on #231
please push a version bump and we will review the changes to evaluate.  Please make sure the java and ChemmineOB issues were also addressed.

[2017-03-14 14:29] wkopp commented on #258
Dear @mtmorgan,

- Regarding the S4 accessor function: I have added plain-old accessor functions to retrieve information from S4-object-slots.

- Regarding the `R_alloc` usage, I have found the issue. While, `Calloc` automatically initializes the allocated memory, `R_alloc` does not. I had assumed that they both would behave the same. memsetting of the transiently allocated memory solved the issue

[2017-03-14 14:44] mtmorgan commented on #258
Thanks for the excellent response. I'm happy to accept this package. It will be added to our nightly builds and svn server, with additional instructions by email in the next couple of days.

[2017-03-14 14:46] sbhattacharya3 commented on #233
Hello Martin,

I am working on some of the reviews suggested by you. I would be updating
the package and doing a version bump this week.

Thanks,
Surajit

On Fri, Mar 10, 2017 at 5:00 PM, Martin Morgan <notifications@github.com>
wrote:

[2017-03-14 14:47] nturaga commented on #258
Excellent work @wkopp

[2017-03-14 15:58] s-aibar opened #320 "AUCell"
- Repository: https://github.com/aertslab/AUCell

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package Gu

[2017-03-14 16:11] lshep commented on #231
once you bump version, as long as the new build is clean we will accept the package.

[2017-03-14 18:34] lshep commented on #110
It should be out sometime this week but we are probably looking at 3-4 weeks before the cap for new packages to be included in the release.

[2017-03-14 18:35] lshep commented on #247
Just wanted to check in and see if there were any questions about the changes suggested.  We are nearing a new release and would love to get your package accepted before then.

[2017-03-14 20:18] s-aibar opened #321 "GENIE3"
- Repository: https://github.com/aertslab/GENIE3

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package Gu

[2017-03-14 20:23] mtmorgan commented on #321
@vobencha will review this package, but I note it has no Bioconductor dependencies. A key reason to contribute to Bioconductor is to facilitate interaction with other packages in the Bioconductor ecosystem through shared data structures. It would be natural to use SummarizedExperiment or Biobase::ExpressionSet for representing expression input data. One might also anticipate GSEABase for represent

[2017-03-15 08:46] menggf commented on #315
Dear @vobencha and other reviewers,

 We have corrected nearly all the errors and warnings in our package. Now, the only problem seems to be that it has too few runnable examples in both vignette chunks and man pages. This package is designed for big data (e.g. one thousand patients * twenty thousand genes).  It is impossible to include such huge data in a package. And it also will slow down the p

[2017-03-15 15:03] mtmorgan commented on #303
## Build

`R-dev CMD build ImpulseDE2` : works fine.

`R-dev CMD INSTALL ImpulseDE2_0.99.3.tar.gz` : Works fine.

## DESCRIPTION

* More elaborate Description. It should be like the abstract of a paper. Describe the unique
  aspects of your method.

* Spell check

* LICENSE: Please choose a standard open source license. No recent Bioconductor package,
           uses an academic-only license.

##

[2017-03-15 15:21] MTZimmer commented on #300
AdditionalPackage: https://github.com/MTZimmer/RITAN

[2017-03-15 18:23] LiNk-NY commented on #227
Hi @jaspershen,
There are a few issues with the `check` on your package:

- [ ]  Undefined global variables/functions
[code]
- [ ] The package size should not exceed 15 Mb.
- [ ] The package vignette doesn't seem to be building.
- [ ] The documentation should have more examples.
- [ ] Maintainer must subscribe to the bioc-devel mailing list. [Subscribe here](https://stat.ethz.ch/mailman/listinfo/b

[2017-03-15 19:37] Welliton309 commented on #312
I did the modificafions suggested by @lawremi. Now search functions will retrieve all available entries unless the `nrows` parameter is defined. The `responseSize` specifies how many entries to get on each iteration. All get and search functions return `DataFrame` object. The `searchVariants` function also returns a data frame because the result contains the id of variants which is required to use

[2017-03-15 21:16] LiNk-NY commented on #239
Hi Yungil, @ipw012
Any updates on the status of this?

Thank you.

Marcel

[2017-03-15 21:18] LiNk-NY commented on #264
Hi Pascal, @belleau
Please bump the "z" version of your package (x.y.z) in order to trigger another build.
Best regards,
Marcel

[2017-03-15 21:27] LiNk-NY commented on #306
Hi Carles, @carleshf
Please bump the "z" version of your package (x.y.z) for another build in our SPB.
Perhaps the error on the Windows build machine will be resolved. Thank you.

Regards,
Marcel

[2017-03-15 21:38] LiNk-NY commented on #316
Hi Jin-hyun, @jinhyunju
Please be aware that the Bioconductor naming conventions recommend against using underscores "_" in function names. Please use `camelCase` for naming functions.
Also, please avoid creating/loading global variables inside your functions or non-standard evaluation (see the first note in [R CMD check](http://bioconductor.org/spb_reports/picaplot_buildreport_20170310173044.html

[2017-03-15 21:50] adeschen commented on #264
Hi Marcel @LiNk-NY,

The modifications are not yet completed. We have planned to update the version when all your points will be addressed. That way, the next version will be a "ready to review" version.

Regards,
Astrid

[2017-03-15 21:56] LiNk-NY commented on #264
That works. Thank you Astrid.

[2017-03-15 23:26] mtmorgan commented on #222
@BioSok don't worry about the error above; the package will be processed to the svn repository later tonight.

[2017-03-16 00:00] #222 closed

[2017-03-16 00:00] #258 closed

[2017-03-16 00:00] #292 closed

[2017-03-16 00:00] #318 closed

[2017-03-16 02:06] jinhyunju commented on #316
Hello Marcel, @LiNk-NY
Thank you very much for your quick feedback.
I have changed all function names containing underscores to `camelCase` names and addressed the NOTEs related to `ggplot2` variables by using `aes_string()`. The updated 0.99.3 version of picaplot has been pushed to the master branch. Thank you again!

Best Regards,

Jin

[2017-03-16 02:11] jinhyunju commented on #316
For the record, the ERROR label created during the automated build seems to be originating from a problem on the server related to the availability of "Biobase".

[2017-03-16 04:12] jaspershen commented on #227
Hi @LiNk-NY
Thank you for your reversion. I am fixing those bugs now. It may take me several days, because I don't understand why some issues  appear. Fot the errores which apper, I have some questions
(1) The vignette is built using devtools package, so I don't know why this is an error?
(2) The package is more than 15M because the demo data is very large, because this package is used to process

[2017-03-16 04:30] juancholkovich opened #322 "coexnet: An R package to build CO-EXpression NETworks from Microarray Data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gibbslab/coexnet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _B

[2017-03-16 08:53] hpages commented on #138
Hi Mohammed,

I see some good progress. Thanks for your hard work! There are still some important usability issues though. See below. I hope that the package will be ready for the next BioC release in April. We don't have much time left!

Regards,
H.

**Issues reported previously**

- Issue #2 is still not properly addressed. You still have many man page titles that don't look like titles e.g. "Th

[2017-03-16 10:10] melsiddieg commented on #138
Thanks for the valuable feedback. I will start addressing these issues
immediately.

On Mar 16, 2017 11:53 AM, "hpages" <notifications@github.com> wrote:

[2017-03-16 10:36] mtmorgan commented on #322
Before I start the review process, please set the package version to 0.99.0. Since this step is part of the [package submission checklist](http://bioconductor.org/developers/package-submission/#checklist), please also review other parts of the package guidelines and package submission page, and the the items that you have checked

[2017-03-16 11:04] aayushraman commented on #305
We have updated our code and made all the necessary changes. As per our DESCRIPTION file, we have mentioned that `NMF`, `cvxclustr` and `Biobase` packages (as Imports) are required by our package. Can you please re-build our package ?

Thanks,
-Ar

[2017-03-16 12:25] vobencha commented on #305
I do not manually rebuild your package. The Single Package Builder is an automated process. A build is triggered by a version bump (which is done by you). Please read instructions here: https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md

[2017-03-16 13:26] vobencha commented on #229
Hi,
Thanks for making the changes. As for the timeouts, we've decided to give workflow packages a 30 minute limit on the SPB. To enable this please add this line to DESCRIPTION:
[code]
Once that's in DESCRIPTION and you have the time under 30 minutes we should see a build.
Valerie

[2017-03-16 14:44] nturaga commented on #312
## Build

 ### March 11th

 R-dev CMD build GA4GHclient: Ok

 R-dev CMD INSTALL GA4GHclient: Ok

 ### March 16th after ( 102 files changed, 930 insertions(+), 1564 deletions(-))

 R-dev CMD build GA4GHclient: Ok

 R-dev CMD INSTALL GA4GHclient: Ok

 ## DESCRIPTION

 *  Maybe mention in the `Description` that it is a low-level access for the GA4GH API.

 ## NAMESPACE

 * ok.

 ## Vignette

 * Impre

[2017-03-16 15:03] lawremi commented on #312
You could also make `as.VCF()` a method on `asVCF()` (that generic exists because it allows for additional arguments). I looked at `as.VCF()`. Are you sure you want all info columns to be CharacterList? Use `lengths()` instead of that `sapply()` call.

[2017-03-16 15:52] lshep commented on #208
Please ignore the Biobase ERROR this is an ERROR on our end that we are working on.

[2017-03-16 17:10] Welliton309 commented on #312
@lawremi The `searchVariants` function returns an `DataFrame` (S4Vectors packages). Is it a good idea to implement `asVCF` for `x` as `DataFrame` class? Or is it better to extend the `DataFrame` class and then implement `asVCF` for `x` as derived class? What is the best way to implement the coerce method?

I am using `CharacterList` at this moment because the server always return string type ([ref

[2017-03-16 17:17] lawremi commented on #312
They might all be strings but are they all multivalued also? Why wouldn't `searchVariants()` just return a VCF directly? Or maybe a wrapper for doing that? An API should try hard not to discard semantics. Here, we are querying a data source of variants, dropping it to a DataFrame, and promoting back to a variant data structure. Would be nice to hide the DataFrame representation. If a low-level API

[2017-03-16 17:28] Welliton309 commented on #312
Returning `VCF` class is a good idea because the data came from a VCF file. However there are columns that I didn't find a proper way to store in an VCF object. Maybe in `metadata`? These columns are `id` and `variantSetId`. These two columns are very important to retrieve new data from the server, for example: 1) search a list of variants (no variant call data returned), 2) get only one variant b

[2017-03-16 17:54] lawremi commented on #312
The VCF spec already has an "ID" column, and it's supported by the VCF object. For "variantSetId", you might put it into the info component. An Rle would be an efficient way to stored it. That makes it easy to combine variant sets into a single object.

[2017-03-16 17:56] Welliton309 commented on #312
Thank you @lawremi I will do that.

[2017-03-16 18:35] lshep commented on #267
As we are getting closer to the spring release I just wanted to check in to see if you had any questions or updates to make sure you could get your package in this release cycle.

[2017-03-16 21:34] cyones opened #323 "miRNAss"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cyones/miRNAss

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2017-03-16 22:14] mtmorgan commented on #323
@LiNk-NY will review this package. I could not figure out, from the  man page, the vignette, or actually the `celegans` data object, how the input to this package was to be generated. Minimally augment the vignette to show the upstreaming processing steps required to generate the object, and augment the man page to fully describe `x`. It is also very unusual for a Bioconductor package not to depen

[2017-03-16 23:39] aayushraman commented on #305
Hello,

My current version is 0.1.2. Earlier it was 0.1.1. and then one of core engineers from Bioconductor told me to do version bump again : https://stat.ethz.ch/pipermail/bioc-devel/2017-March/010585.html, so now it becomes 0.1.2.

Do I need to change the version to 0.99.3 or 0.1.1 now ? I am sorry I am little confused.

Best,
-Ar

[2017-03-17 13:56] vobencha commented on #305
@aayushraman yes, you should change the version to 0.99.*, however, I think the SPB should re-build based on a bump in 'z' regardless.
@lshep , can you look into why we didn't get a new build for this one?
Thanks.
Val

[2017-03-17 13:59] lshep commented on #305
Please change to 0.99.z  standard.  There haven't been any pushes.  Could you please check that the webhook was set up.  I sent the information on your question on the mailing list but here is the information again:
https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook

[2017-03-17 19:20] aayushraman commented on #305
I have changed the version to 0.99.1 and the webhook has been properly set up. Here is the screen shot of my webhook page. Do I need to do anything else ?

Thanks,
-Ar

<img width="1088" alt="screen shot 2017-03-17 at 2 18 44 pm" src="https://cloud.githubusercontent.com/assets/4062603/24059334/b812eabc-0b1c-11e7-9be0-5a8bfbdb288c.png">

[2017-03-17 19:25] lshep commented on #305
I'm not sure why you didn't get a rebuild.  I will manually push this on and then hopefully should you need any revisions, a new version bump should trigger a build.

[2017-03-17 19:27] aayushraman commented on #305
I will change the version if I require any revisions. Thanks a lot!

[2017-03-17 22:13] LiNk-NY commented on #278
Hi Sean! @seandavi
Thank you for submitting to Bioconductor!

The package looks great! `GenomicDataCommons` is in good shape and there aren't many issues to go over.

I tried to build and check it locally and ran into a couple of errors when testing:

[code]

A few minor recommendations:

* The liberal use of the `stopifnot` function is okay as long as it is not user-facing. Error messages should

[2017-03-18 04:12] rcastelo opened #324 "GenomicScores"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rcastelo/GenomicScores

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-03-18 08:59] mtmorgan commented on #317
Let's ignore the warning; is a version bump required to build your most recent commits? I'll then provide a review.

[2017-03-18 10:14] dirmeier commented on #317
Hello @mtmorgan, thank you for the info. I just updated the version.

[2017-03-18 13:48] lawremi commented on #324
Interesting idea. The vignette should demonstrate how these data might be used in a few typical cases.

I'm not sure the user really wants an opaque SNPlocs-like object here. The tabular GPos seems more intuitive and directly useful. A more efficient and useful backend would be BigWig, instead of per-sequence RDS files. BigWig gives you fast range-based queries, tile-based summaries, and zooming i

[2017-03-18 15:30] tongyin9002 opened #325 "(inactive) MICMIC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tongyin9002/MICMIC.0.99.0

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have re

[2017-03-18 15:30] #325 closed

[2017-03-18 15:36] tongyin9002 opened #326 "(inactive) MICMIC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tongyin9002/MICMIC.0.99.0

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-03-18 15:36] #326 closed

[2017-03-18 15:43] tongyin9002 opened #327 "MICMIC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tongyin9002/MICMIC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-03-18 16:44] mtmorgan commented on #327
Your repository does not look like an R package, so I closed the issue.

[2017-03-18 17:14] dirmeier commented on #317
I've checked and several other packages seem to have the same error. Is this something my package is causing?

[2017-03-18 18:27] juancholkovich commented on #322
@mtmorgan new version bump

[2017-03-18 20:06] rcastelo commented on #324
@lawremi thanks for taking a look. In fact the idea to make this package started from a suggestion you made to me a couple of years ago to factorize out from VariantFiltering the code that provides support for phastCons* annotation packages, and avoid loading unnecessary stuff when using phastCons* packages. In the end, we have attempted to give a more general support (beyond phastCons scores), ta

[2017-03-18 21:41] Welliton309 commented on #312
The `searchVariants`, `getVariant` and `getVariantSet` return objects from `VariantAnnotation` classes by default. They also return `DataFrame` (when `asVCF = FALSE`) It is useful for working with web interface.

@nturaga I added the comments and the missing request functions. The GA4GH schema is still in development. I am following and giving feedback for their work (https://github.com/ga4gh/ga4g

[2017-03-18 21:59] lawremi commented on #324
Yes, rtracklayer writes BigWig files. I think it's a good idea to yield a GRanges from the summary calculation. Think of how `aggregate()` returns a data.frame that includes grouping factor(s). It's just one element per query range, right? So it's on the same order as the input.

[2017-03-18 22:51] juancholkovich commented on #322
@mtmorgan

Dear Dr. Morgan

I writing to you to ask about a problem related to the package "Biobase" as a dependency of my package "coexnet". When it is checked to Windows os, the result is the next ERROR:

ERROR: dependency 'Biobase' is not available for package 'coexnet'

What is the solution of this ERROR?
I passed this prove several days ago and I edited the name of an author in the DESCRIPTIO

[2017-03-19 02:08] mtmorgan commented on #322
Please ignore this; it is a problem on our end. I'll review your package shortly.

[2017-03-19 02:10] mtmorgan commented on #317
This is  a problem on our end; please ignore.

[2017-03-19 07:47] aayushraman commented on #305
Hi @vobencha and @lshep

I hope you are doing good.

Regarding ERRORS: I am not sure why I am getting "ERROR" when my package is getting built on WINDOWS system (Windows Server 2012 R2 Standard/x64). We have already mentioned Biobase as one of the packages to be imported before the built. The previous report (http://bioconductor.org/spb_reports/DASC_buildreport_20170317154938.html) didn't show any

[2017-03-19 13:56] mtmorgan commented on #309
# 18 March, 2017

DESCRIPTION

- please provide a more comprehensive Description: like a paper abstract, indicating how your package provides unique functionality, and how it differs from similar offerings.

- There are no Bioconductor packages listed in the Depends / Imports / Suggests. Dependencies imply interoperability and re-use, both of which benefit end users. It seems like the GenomicRange

[2017-03-19 14:10] mtmorgan commented on #317
I've looked at this package and, remarkably, don't have anything substantial to contribute! I'll mark this as 'accepted'. The package will be added to our nightly builds and svn source control, with additional information sent via mail in the next several days.

[2017-03-19 14:24] tongyin9002 opened #328 "(inactive) MICMIC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tongyin9002/MICMIC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-03-19 14:24] #328 closed

[2017-03-19 14:29] tongyin9002 commented on #327
Sorry I submitted the build-up tar.gz file in my repository.

Now I submit all the project files.

[2017-03-19 14:49] mtmorgan commented on #320
# 19 March, 2017

DESCRIPTION

- Provide a more extensive Description:, analogous to a paper abstract where the method being implemented is described in sufficient detail to help the user decide whether the package is appropriate for them.

- LICENSE: The license appears to be non-standard, and 'academic use' only. Generally, such academic-only licenses are not appropriate for Bioconductor package

[2017-03-19 14:51] mtmorgan commented on #327
Please remove the tar.gz and pdf files from the top level directory of the repository

[2017-03-19 15:08] tongyin9002 commented on #327
Removed.

Thanks for your help!

[2017-03-19 20:39] kauralasoo commented on #267
Hello. I have now made the following changes:

- [x] Changed R version to 3.4
- [x] Save TxDb object to a temporary file.
- [x] Modified the plotTranscripts and plotCoverage functions so that they now work with just the exons GRanges list provided. The cdss and transcript_annotations arguments can still be provided, but they are now optional.
- [x] Added four wrapper functions to extract transcrip

[2017-03-19 21:08] dirmeier commented on #317
That's wonderful. Thank you.

[2017-03-20 02:35] tongyin9002 commented on #327
ERROR: Maintainer must subscribe to the bioc-devel mailing list.
Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel

I have registered in the bioc-devel mailing list, this problem should have been fixed.

Can I rebuilt the package again?

[2017-03-20 03:07] skyhorsetomoon commented on #283
@lshep
Dear Ishep
I have fixed the most of problems that you have proposed, but I don't know how to Add installation section "source("http://bioconductor.org/biocLite.R") biocLite("Trumpet")" in the VIGNETTE part. Please give me some suggestions and help me. Thank you very much!

[2017-03-20 11:01] mtmorgan commented on #327
Make sure that you have set up the [web hook](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) and then increment the version of your package to 0.99.1

[2017-03-20 11:10] lshep commented on #283
In your vignette, add a section called Installation and include those calls in a code chunk

[code]

Once this is complete, please do a version bump so a new build of the package takes place.  I will then review the  changes and let you know any additional feedback

[2017-03-20 12:00] LTLA opened #329 "cydar"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MarioniLab/cydar

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2017-03-20 12:54] skyhorsetomoon commented on #283
@lshep
Dear Ishep
Thank your for your help! I have a question about UNIT TESTS. My package Trumpet only has main function Trumpet_report.R ( If  Linux system can't generate HTML file directly, we can call the function 'get_readscount2' to get the reads count from BAM files firstly and then call the main function Trumpet_report) to export. So, whether should I add unit tests to test the package? Is

[2017-03-20 13:09] vobencha commented on #185
Thanks for making the changes. The man pages for datasets in data/ should show how to load the data with
[code]
etc.

The built tarball must be <= 4MB on disk, see http://www.bioconductor.org/developers/package-guidelines/#correctness. You'll need to reduce the size of the datasets and/or use a more efficient compression method. The current size is 24 MB:

~/proj/git/software >du -h flowTime_0.99.

[2017-03-20 13:35] vobencha commented on #305
Hi,
You can ignore the Biobase error - that is a problem on our end. The important thing to focus on now is the run-time and sample data size.

You said you've commented out the vignette code (and probably some examples) in order to meet the build/check time requirements. This is not the right approach. The purpose of the nightly builds is to confirm the package functions operate as expected and n

[2017-03-20 13:40] vobencha commented on #321
Before I do a review, please incorporate comments from https://github.com/Bioconductor/Contributions/issues/321#issuecomment-286548000 or explain why you think they don't apply to GENIE3.

Valerie

[2017-03-20 13:57] lshep commented on #283
Unit Tests:  We strongly encourage providing unit tests.  It doesn't necessarily have to directly call your main function, it could be testing input and outputs of the internal functions you use to make sure they are behaving or taking in correct formats of inputs or getting correct expected output.

parameter.Rdata - okay.  But then in vignettes and examples you should be saving to a temporary di

[2017-03-20 14:01] lshep commented on #267
Thank you for you updates. I think the wrappers will make an easier use case for users and reach a broader Bioconductor scope.

Some Notes:
- [ ] The Biobase windows error is on our end.  Since we are still in the processing of correcting we will ignore for now.  If there are other ERRORS once corrected we will expect these get corrected asap.
- [ ] Please include Bioconductor installation instruc

[2017-03-20 14:20] vobencha commented on #315
A function designed for big data should still run on a small subset. The purpose of the nightly builds is to confirm the functions still operate as expected and no changes in R or other dependencies have broken something. By commenting out the man pages and vignettes you've bypassed this check and balance system. The key package functions must be evaluated at least once in either the man pages or

[2017-03-20 14:49] melsiddieg commented on #138
Hi @hpages
Thanks for the valuable feedback it has been very educational to me, and I think I learned a lot in the process.
I have addressed all the issues you raised in the updates I pushed through the weekend
Please have a look at the current version of cellbaseR
Hopefully, cellbaseR is now more consistent and less cluttered and has better documentation
issue 2  better documentation
issue 15 --

[2017-03-20 16:43] lshep commented on #327
Thank you for your submission.  As mentioned above once the [webhook](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) is set up any subsequent version bumps should trigger a new build of the package.

Below are some initial observations/suggestions:

**GENERAL**
There seems to be very little interconnection with existing Bioconductor packages and struct

[2017-03-20 19:33] LiNk-NY commented on #227
Hi Xiaotao @jaspershen,

I hope to see the changes soon. To answer your questions:

1. I checked your package locally and I didn't get that error. Perhaps it's a build system hiccup. We will see once you make changes to your package and bump the version. Ignore that error for now.
2. You can run your examples on a smaller dataset. Your data does not have to be so big for the examples.
3. Good.
4.

[2017-03-20 20:06] cyones commented on #323
@LiNk-NY, thank you very much for your recommendations, this is the first package we try to publish in Bioconductor so we have no experience in the process.

We have several bioinformatics tools developed (http://fich.unl.edu.ar/sinc/blog/web-demo/) and we are in plans of migrate some of them to R/Bioconductor as it is the most used repository for this kind of tools. For this reason, miRNAss may l

[2017-03-20 20:16] ipw012 commented on #239
Hi Marcel @LiNk-NY,

I finally update my package based on your comments/suggestions and current package works fine based on travis-CI. I explained what I changed in lines with your comments below. If there is anything I need to do additionally, please let me know. Thanks.

**Package**

Does your package really have to be named RIVERpkg?
It seems like it would be better to omit the "pkg" part
of th

[2017-03-21 00:03] nguyentin commented on #250
Hi,

I'd like to ask if there is anything else I should do to get the package approved. The release date of Bioconductor 3.5 is approaching and I wonder if it is possible to have this BLMA package released this April.

Thanks,
Tin

[2017-03-21 00:20] george-weingart commented on #145
Hello Martin,

I would like to request your advice in regards to our package: banocc
located in https://github.com/george-weingart/banocc

Emma Schwager from our Lab is the researcher in charge of the package, she
is doing all the theoretical banocc work  and she developed the R package
that we are pushing to Bioconductor.  My role is very minor and consists in
some QA and deploying the package to

[2017-03-21 00:37] jaspershen commented on #227
HI @LiNk-NY
Thank you very much. All of the error will be fixed and I will be resubmit it today.
Thanks again.
Regards
Xiaotao

[2017-03-21 00:42] wrightrc commented on #185
Ok, I've trimmed down the example data and updated the data/ man pages. The error now is from oaxaca, which I believe is soon to be decommissioned, correct?

[2017-03-21 01:15] breons commented on #247
Hi there,

I'm taking over as the maintainer of the project. We will be skipping this release but will certainly make sure that these changes are implemented before the following one.

Thanks.

[2017-03-21 07:49] tongyin9002 commented on #327
@lshep

I am very grateful for your detailed suggestions. All of them are very useful to improve my package.

I will take some time to make the adjusting and update a new version.

Thanks,

Regards!

[2017-03-21 07:51] jaspershen commented on #227
Hi @LiNk-NY
I have fixed all the errors and warnings which I got from BiocCheck in local.
(1) More than 80% of exported functions have runable examples.
(2) The demo data is less than 1 M now.
(3) All  code chunks have been set to eval = TRUE.
(4) My email address-shenxt@sioc.ac.cn has been added in the bioc-devel mailing list.
I have changed the version to 0.99.3 and pushed it to github.
Thank yo

[2017-03-21 07:53] mtmorgan commented on #145
The submission process requires a github repository; in the short term accepted packages end up in our svn repository. Whether you continue to maintain the github repo in sync with your bitbucket repo is really up to you; I'd find it confusing and error-prone.

[2017-03-21 07:59] mtmorgan commented on #145
Also, somehow I had missed your [earlier questions](https://github.com/Bioconductor/Contributions/issues/145#issuecomment-285463922).

Yes, add `importFrom()` as outlined in the NOTE.

Specifying R-3.4 is not entirely required, but your package will be added to the Bioc devel branch, which uses R-3.4. This means that the successful builds are against R-3.4, and so 'truth-in-advertising' is really

[2017-03-21 14:39] mtmorgan commented on #196
Thanks and sorry for the delay.

## Other

Consider the following optional, since they were not included in the original review.

DESCRIPTION

- Expand the Description: field to read more like a paper abstract with enough information that a user could figure out whether the package is helpful to them. Minimally, provide enough information on what 'TNBC' and 'stromal properties' are.

- Consider mo

[2017-03-21 15:01] smisaleh commented on #196
Thank you, I will work on this and push an update soon.

[2017-03-21 15:54] mtmorgan commented on #329
DESCRIPTION

- Good

NAMESPACE

- Consider wrapping long lines to 80 columns

vignette

- consider adding an 'Last modified' date

R

- avoid 'copy-and-append' in favor of 'pre-allocate and fill', see [efficient code][] (also diffIntDistr.R:43 and elsewhere)

        out.cells <- out.index <- list()
        for (i in seq_along(out)) {
            if (is.character(out[[i]])) { stop(out[[i]]) }

[2017-03-21 18:39] lshep commented on #231
Just checking in.  Waiting on a version bump on your end.

[2017-03-21 20:10] LTLA commented on #329
Thanks Martin. I've implemented most of the suggestions.

Done.

Done.

Done in almost all cases. The exception is in `pickBestMarkers` where the list is not of a fixed length.

Done.

Done, except in `CyData` subsetting where assignment via setters triggers a `validObject()` check. This fails as the rest of the object has not yet been subsetted.

Done.

Done.

I wish I could. However, something i

[2017-03-21 21:21] LiNk-NY commented on #227
Hi Jasper @jaspershen,
Thank you for submitting `MetCleaning` to Biconductor.
Please see the review below.

----

## MetCleaning #227

`MetCleaning` provides several tools for working with metabolomics data
including pre-processing steps and analysis.

### Major

#### Functionality & Integration

* Your package doesn't seem to work well with Bioconductor infrastructure
already in place. There are

[2017-03-22 10:38] jaspershen commented on #227
Dear Marcel,
Thank your very much for your review of my package. According to your advices, I have re-write the package today. The detailed information is listed below:
**Major**
**Functionality & Integration**
(1) My package is used to do pre-processing of larege-scale metabolomics data.
(2) I have changed MetFlowData to S4 class.
(3) The MetFlowData has been changed to S4 class.
**Grammar**
(1)

[2017-03-22 11:25] rcastelo commented on #324
@lawremi thanks for the clarification, it sounds good to me, i'll have to wait however to implement that change until the newer phast100way.UCSC.hg19 version 3.5 becomes available. By now i've just pushed a change to make the vignette work with the version 3.4 of this annotation package, so that the whole build, check and BiocCheck can go forward.

[2017-03-22 13:36] federicomarini opened #330 "ideal"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/federicomarini/ideal

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-03-22 14:58] skyhorsetomoon commented on #283
@lshep
Dear Ishep
In my package, the input data are some files in BAM format and the output is a report in HTML format. So, I want to know whether I must use the unit tests? These inputs and output whether conform to the units tests request? How can I add the unit tests to my package in this special input and output situation?
Thank you for your help.

[2017-03-22 16:08] vobencha commented on #185
OK, looks good. Thanks for making the changes. I'm marking the package as accepted - you should get an email in the next week with svn credentials and instructions for next steps.
Valerie

[2017-03-22 17:41] lawremi commented on #330
Seems to be missing exploratory plots, at least prior to DE analysis. The wizard takes you all the way to the DE result before showing any plots.

[2017-03-22 17:49] federicomarini commented on #330
Some exploratory plots are in the Counts Overview. More can be performed with the other package I developed and is also in Bioconductor, namely **pcaExplorer**. Thus, I did not intend to duplicate the efforts.

If you suggest here to include more EDA and not going straightforward "1-2-3 to DE", I can include a heads-up suggesting to do that in advance and/or in parallel, e.g. indeed with **pcaExpl

[2017-03-22 18:16] lawremi commented on #330
I haven't looked at pcaExplorer, but why not use Shiny modules and leverage your existing work? Create a more integrated platform.

[2017-03-22 18:57] vobencha commented on #311
Hi,

1) biocViews
I'd add some more. How about Software and Infrastructure? Even though these are top-level terms they are still descriptive.

2) vignette
I'd recommend adding a Background or Introduction. Overall I didn't get a good feel for why these are important or how they should be used. I think it's worth mentioning / clarifying the points listed below.

- Background
 -- Why was this packag

[2017-03-22 20:01] federicomarini commented on #330
As of now I am not so proficient with Shiny modules to implement them in the current version. Nice point anyway.

As for the timeout label, I could not reproduce it on a Windows machine (also, the AppVeyor CI builds it correctly). Do you have any tips on solving this?

[2017-03-23 02:40] AliciaSchep commented on #293
To make the bg more explicit, I have updated it to take "subject","genome", or "even" as inputs or a numeric vector.  I have added to the documentation to hopefully make this clearer.  Now when the  `subject` is character or DNAStringSet, a genome argument can also be given for use in computing genome-wide nucleotide frequencies if that is the desired method for background frequncies.

For the que

[2017-03-23 04:56] lawremi commented on #293
In `match_motifs()`, I would discourage having the genome default to hg19. It should try to get the BSgenome package for `genome(subject)` using `BSgenome::getBSgenome()`.  Please remove the `ranges=NULL` argument from the formals for methods that do not use it. Currently, it's silently ignored which will lead to confusion.

It seems that the most natural object for the ranges + genome combination

[2017-03-23 06:05] wind22zhu commented on #231
The package version is now Version: 0.99.24, should I change it to 0.99.25 or to 1.0.0?

At 2017-03-22 02:39:50, "lshep" <notifications@github.com> wrote:

Just checking in. Waiting on a version bump on your end.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-23 13:40] lshep commented on #231
please increment to 0.99.25. thank you

Lori Shepherd
Bioconductor Core Team
Roswell Park Cancer Institute
Department of Biostatistics & Bioinformatics
Elm & Carlton Streets
Buffalo, New York 14263
________________________________
From: Zhu Minfeng <notifications@github.com>
Sent: Thursday, March 23, 2017 2:05:45 AM
To: Bioconductor/Contributions
Cc: Shepherd, Lori; Mention
Subject: Re: [Bioconduc

[2017-03-23 14:29] jotsetung commented on #311
Thank you Valerie @vobencha for your helpful suggestions. I expanded the vignette and added more examples - actually using an `ensembldb` SQLite database, which in the end breaks the vignette because the `ensembldb` in the devel branch does not yet import and use `AnnotationFilter`. Thus methods and classes get masked once the `ensembldb` package is loaded.

I will replace the `ensembldb` database

[2017-03-23 20:19] jotsetung commented on #311
I'm using now the `org.Hs.eg.db` SQLite database as an example to show how a very simple filtering could be setup using `AnnotationFilter`. Suggestions to further improve the vignette are welcome.

[2017-03-24 06:33] skyhorsetomoon commented on #283
@lshep
Dear Ishep
I have address the issues you stated above. You can review my package again and see whether my package should submit to the Bioconductor website.
Thank you

[2017-03-24 09:32] melsiddieg commented on #138
Hi @hpages

I hope you had time to review all changes we made since your last comment.

On Thu, Mar 16, 2017 at 11:53 AM, hpages <notifications@github.com> wrote:

[2017-03-24 15:01] HelenaLC opened #331 "CATALYST: Cytometry dATa anALYSis Tools"
- Repository: https://github.com/HelenaLC/CATALYST

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package

[2017-03-24 19:07] LiNk-NY commented on #227
Hi Xiaotao, @jaspershen

A few of the points I mentioned in the review were not addressed.

The major point about integration with Bioconductor is still lacking and there seems to be no effort on your part to bridge your software with Bioconductor. You may wish to not make any changes in that front but keep in mind you are submitting your software to Bioconductor so it is expected in every submiss

[2017-03-24 20:25] LiNk-NY commented on #239
Hi Yungil, @ipw012
Thanks for making those changes. The package is looking better now.

There is still an exported function with an underscore ("_") in the name called `getFuncRv_Feat`. Please use camel case for function names.

If you're loading `devtools` in the vignette, the package should be added to the `Suggests:` field.

For more see this [link](http://www.bioconductor.org/developers/packag

[2017-03-24 21:35] LiNk-NY commented on #278
Hi Sean, @seandavi
Thanks for making those changes! #278 `GenomicDataCommons` will soon be accepted.

Just a few comments:

**DESCRIPTION**
* Please include `R (>= 3.4.0)` in the `Depends:` field.
* You should move `magrittr` to the `Imports` field.

**NEWS**
* AFAIK, the NEWS file should be a plain text document in the `inst` directory. It is useful to have an markdown formatted NEWS.md file in t

[2017-03-25 08:42] mtmorgan commented on #331
@LiNk-NY will review this package, but I think the Description: field of the DESCRIPTION file should be expanded to provide users with a reasonable overview of the specific functionality this package provides, perhaps in contrast or relation to other similar packages.

[2017-03-27 03:46] vobencha commented on #330
@lshep can you please kick off a new build for this one when you get a chance?

[2017-03-27 07:38] mtmorgan commented on #329
Thanks I've marked the package as accepted and will add it to svn and nightly builds. More information in a day or so via email.

[2017-03-27 07:40] mtmorgan commented on #312
Looks like the major issues in the review have been addressed. I'll mark this as 'accepted' and add it to Bioconductor svn and nightly builds. More details in a few days via email.

[2017-03-27 07:41] federicomarini commented on #330
@vobencha I bumped the version number briefly to trigger the build, and somehow the timeout is persisting. This time the package got built and checked on malbec as well - which was somehow skipped in the last rounds?

I am trying many setups on windows machines and see if I can find any means to also get the timeout.

[2017-03-27 07:43] mtmorgan commented on #196
It looks like the major points of the review have been addressed. I will accepted this package and add it to the Bioconductor svn and nightly builds. More information via email in a few days.

[2017-03-27 07:46] mtmorgan commented on #145
Just to be clear, I'm waiting on the minor changes to this package that will respond to the review concerns and clean up the build report.

[2017-03-27 07:48] mtmorgan commented on #270
Is this package ready for completing the review process? If so please commit a 'version bump' from 0.99.1 to 0.99.2 to trigger a new build.

[2017-03-27 07:50] mtmorgan commented on #254
Please complete revisions this week, so that we can complete the review process.

[2017-03-27 08:07] #329 closed

[2017-03-27 08:07] #185 closed

[2017-03-27 08:07] #196 closed

[2017-03-27 08:07] #312 closed

[2017-03-27 08:07] #317 closed

[2017-03-27 08:33] federicomarini commented on #330
@vobencha So I spotted the bottleneck when building the vignette - the `plot_ma` function when called with parameter `add_rug = TRUE` was taking too long on older windows machines.

Glad everything is through the build & check!

[2017-03-27 15:44] mgperry commented on #151
Hi Herve, I think I've fixed many of the major performance issues in the previous versions. Specifically:

 - Memory usage during blurring reduced to sane levels by using EBImage (dropping spatstat dependency)
 - Plotting is much faster using raster=TRUE in image(), I don't know why this is not the default (at least for png).

I've also added support for visualising clusters, and I will add this t

[2017-03-27 19:26] jianhong commented on #285
Thanks  @lawremi and @mtmorgan for the comments.

I tried to update the packages by the changes as followings:

# biocViews

* add DNASeq, PeakDetection

# vignette

* provide more details to explain how to use the package.

# R

* change GRanges to RangedSummarizedExperiment to record the counts, ratios, correct ratios, smoothed ratios and z-scores.
* change the function name from plotCorrelation

[2017-03-27 22:09] jianhong opened #332 "ATACqc"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jianhong/ATACqc

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-03-28 01:03] skyhorsetomoon commented on #283
@lshep
Dear Ishep
Can you help me review my package again and see whether my package should submit to the Bioconductor website?
Thank you

[2017-03-28 04:24] ipw012 commented on #239
Hi Marcel @LiNk-NY,

I updated my package in the way you suggested as follows:

1. There is still an exported function with an underscore ("_") in the name called getFuncRv_Feat. Please use camel case for function names.
**The function name, "getFuncRv_Feat", was changed into "getFuncRvFeat".**
2. If you're loading devtools in the vignette, the package should be added to the Suggests: DESCRIPTION

[2017-03-28 08:51] aayushraman commented on #305
@vobencha I am not sure why I got `VERSION BUMP REQUIRED` label, when I changed the version from 0.99.2 to 0.99.3 . I am not sure why I got a timeout error ? The runtime pass R CMD check --no-build-vignettes for my package ~ 3 min and 45 sec in my windows computer.

-Ar

[2017-03-28 12:30] lshep commented on #231
Please increment to 0.99.25. Thank you.

[2017-03-28 12:35] lshep commented on #310
As we are nearing the next release [(release schedule)](http://bioconductor.org/developers/release-schedule/) I wanted to check in to see if you had any questions or comments.  We would love to be able to include your package in the next release if we can get it through the review process.  Please address the above issues and comment back here with how they have been addressed or any questions or

[2017-03-28 12:39] lshep commented on #267
I have marked your package as accepted but please consider the above comments.
Please leave the issue open and you will receive svn credentials via email (normally within in a week) for inclusion in Bioconductor devel.

[2017-03-28 12:55] wind22zhu commented on #231
I have changed the version to 0.99.25 before you sent this message. I am wonder whether you can see the change? Several days ago, I have deleted the package and re-upload
it. Does this affect something? Please remind me what to do?

Thanks

At 2017-03-28 20:30:58, "lshep" <notifications@github.com> wrote:

Please increment to 0.99.25. Thank you.

—
You are receiving this because you were mentioned

[2017-03-28 12:59] lshep commented on #231
Is the webhook still initiated:  see [webhook](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook)

[2017-03-28 13:21] lshep commented on #283
Please ignore this ERROR,  this is a problem on our end.  I'm in the process of reviewing your package and will provide feedback shortly

[2017-03-28 14:16] jianhong commented on #332
Dear @hpages ,

I have trouble in debug the ERROR. Could you help me to figure what is the problem? Thank you.

I tried two methods, one is update my R to most recently daily build and another one is bioconductor/core_2 docker. Here is the sessionInfo of my development environment:

## local:

R Under development (unstable) (2017-03-27 r72423)
Platform: x86_64-apple-darwin16.4.0 (64-bit)
Running u

[2017-03-28 17:01] lawremi commented on #332
The `splitBam()` function needs a lot more explanation. Why does it need to know the conservation scores, transcripts, etc? Looks like it's using random forest on the fragment sizes and conservation... seems a lot more complicated than how it is presented. You should probably split it up into pieces: the reading, the classification/splitting, and the writing, with all 3 wrapped up in a convenience

[2017-03-28 19:36] aayushraman commented on #305
Hi @vobencha and @lshep

I hope you are doing good. I am not sure why I got a timeout error. The runtime for R CMD check for my package on my windows computer is ~ 3 min and 45 sec. Can you please check if the problem is
with the package of with the build system ?

Thanks,
-Ar

[2017-03-28 19:53] ThomasCarroll opened #333 "basecallQC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:https://github.com/ThomasCarroll/basecallQC

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-03-28 20:00] mtmorgan commented on #333
The package doesn't look complete, for instance the version number is not of the correct form ('0.99.0') and the 'Description:' field is a template. The package should mention it's central SystemRequirements: bcl2fastq. Its surprising there is not tighter integration with standard Bioconductor packages GenomicRanges, ShortRead, etc. I'll wait to moderate this (so that the package can be built and

[2017-03-28 21:26] ThomasCarroll commented on #333
Sorry, i have fixed the missing Description, updated the version number from 0.9.9 to 0.99.0 and added the bcltoFastq version needed in SystemRequirements tag to the description as well as added an additional section at the beginning of vignette for people to get more information on bcl2Fastq program.
This package was aimed at making it easier to work with the input files and commands needed for I

[2017-03-28 22:51] mtmorgan commented on #283
@lshep will provide further comments, but I want to review some necessary changes. These are from the files ses_evluate.R and ctest_evluate.R, but it seems like there are MANY SIMILAR CHANGES throughout the code base.

- Un-nest function definitions, e.g., moving `Norm_bam` to the top-level of the file. There is no need to nest them, and the nesting makes the overall code hard to read. Unit tests

[2017-03-28 22:53] #267 closed

[2017-03-28 23:36] AliciaSchep commented on #293
I removed default genome of hg19, referring instead to `genome(subject)`.  The genome argument allows either the genome build string (passed to ` BSgenome::getBSgenome()`), a BSgenome object, DNAStringSet, or FaFile object. I have updated the documentation accordingly.

I removed the `ranges=NULL` where it was inappropriate.

I have also added a BSgenomeViews method.

[2017-03-29 07:24] hpages commented on #324
Hi Robert,

Thanks for your submission.

First a comment on the design of the GScores container. I guess it's ok and you can always change this at some point in the future but I wanted to point out that it would have been better to follow the design of the new SNPlocs container instead of the old one. The new one (introduced in BioC devel) uses an OnDiskLongTable with spatial index. It's a cleaner

[2017-03-29 09:06] mknoll commented on #270
- The description field was rewritten.
- The package was redesigned, a central class was introduced which stores imageing data an inherits from the EBImage::Image class

Most loops were removed.
Not all key/val data.frames are yet eleminated -> TODO.
Functions were refactored with more meaningful names.
The sampleData function name was changed to identifyMinima.
Several calls to internal functions

[2017-03-29 11:05] lshep commented on #231
Please let me know if the webhook was set up.  If you are doing a version bump and don't see a new build report here after a few minutes it didn't work correctly.

[2017-03-29 11:14] lshep commented on #283
Also:

**GENERAL**
- [ ] We require the check time to be under 5 min.

**MAN**
- [ ] In get_readscount2.Rd command is mispelled: I believe you want command instead of commond.
- [ ] Include a man page for the data you included in inst/extdata explaining wherethe data came from. as well as for what I assume are the report templates (when is each used/what is reported, etc)
- [ ] save the output run

[2017-03-29 12:26] lshep commented on #305
It is getting hung up on the tests. Please review the tests you are performing.

[2017-03-29 13:08] vobencha commented on #330
OK, very good. I'll take a look today or tomorrow.
Valerie

[2017-03-29 15:12] BioinfoUSAL opened #334 "(inactive) D3GB"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BioinfoUSAL/D3GB

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bio

[2017-03-29 15:29] mtmorgan commented on #334
It's really surprising that there are _no_ Bioconductor dependencies, given the extensive facilities for working with standard file formats via [rtracklayer][], [Biostrings][], [ShortRead][], [Rsamtools][] and the highly flexible [GenomicRanges][] infrastructure -- it seems like the main motivation for including a genome browser in R is to enable interoperability.

[rtracklayer]: https://bioconduc

[2017-03-29 16:16] lshep commented on #333
Thank you for your submission to Bioconductor. Please see the following comments:

**GENERAL**
Please fix all notes and warnings in the [build report.](http://bioconductor.org/spb_reports/basecallQC_buildreport_20170328175223.html) which include:
- [ ] Malformed Title field in DESCRIPTION
- [ ] stringr is listed more than once in Depends, Imports, Suggests, Enhances
- [ ] Packages in Depends field

[2017-03-29 16:25] lawremi commented on #333
At the very least, you could define a method on the `report()` generic from ShortRead, instead of defining `reportBCL()`. Also, `setBCL2FastQparams()` would be better named as a constructor, like `BCL2FastqParams()`.  It seems odd for `basecallQC()` to convert the BCL to Fastq _and_ compute the QC. Why not separate those operations?

[2017-03-29 16:45] lawremi commented on #334
Also: selfish plug for using the genbankr package for reading the genbank files.

[2017-03-29 17:55] LiNk-NY commented on #239
Hi Yungil, @ipw012
Thank you for making those changes. Your package has been accepted.

Regards,
Marcel

[2017-03-29 17:57] LiNk-NY commented on #278
Hi Sean, @seandavi
I'm not sure why the package timed-out for the linux builder but it may have been an internet issue.

Thank you for submitting to Bioconductor. Your package has been accepted.

Best regards,
Marcel

[2017-03-29 18:01] seandavi commented on #278
Thanks for the hard work reviewing the package, and thanks for going
above-and-beyond with the pull request.

On Wed, Mar 29, 2017 at 1:57 PM, Marcel Ramos <notifications@github.com>
wrote:

--
Sean Davis, MD, PhD
Center for Cancer Research
National Cancer Institute
National Institutes of Health
Bethesda, MD 20892
https://seandavi.github.io/
https://twitter.com/seandavis12

[2017-03-29 18:08] jianhong commented on #332
Dear @lawremi ,

I split the splitBam function into shiftBam, splitGAlignmentsByCut and writeGAlignmentsList. And add some details about this function.

[2017-03-29 19:52] aayushraman commented on #305
@lshep Thanks for letting me know. Can I look at the `TIMEOUT` error that came from windows server, **tokay2** ? I cannot see the error in the report above (http://bioconductor.org/spb_reports/DASC_buildreport_20170328150219.html). Also, how is it possible that my tests are running fine on linux and mac and but not on windows ?

[2017-03-29 19:53] ipw012 commented on #239
Hi Marcel @LiNk-NY,

Thank you for the update! I did bump the version and started another build. However,  the build was created but did not start yet for a long time (> 30 mins, https://travis-ci.org/ipw012/RIVER). I am not sure what is wrong here. Do you have any clue/suggestion? Thanks.

Sincerely,
Yungil

[2017-03-29 20:25] lawremi commented on #332
I would further split apart the BAM reading (maybe the user can just do this without any help) from the shifting. Also, the `seqlevels` argument should probably be dropped. Just let the user restrict during BAM reading.  More docs are still needed.

[2017-03-30 00:22] hangost commented on #310
Dear  reviewers,
We sincerely appreciate for considering our R package entitled “IMAS: Integrative Analysis of Multi-omics data for Alternative Splicing”. We agreed with and addressed the comments and suggestions from the reviewers. We submitted the point-by-point response to those comments with revised source codes:
GENERAL:
1. It would help to shorten lines to 80 characters so you could read the

[2017-03-30 03:06] wind22zhu commented on #231
I have reset the webhook, deleted the old one and added a new one, but it seems still not correct. A 400 respond confused me so much.

[2017-03-30 05:38] aayushraman commented on #305
@lshep and @vobencha Thanks a lot for helping us to improve the package.

[2017-03-30 09:49] BioinfoUSAL commented on #334
The main intention of avoiding too many dependencies is to facilitate
the maintenance. However, I will take into account your suggestions for
further versions.

On 29/03/17 18:45, Michael Lawrence wrote:

[2017-03-30 09:49] BioinfoUSAL commented on #334
The main intention of avoiding too many dependencies is to facilitate
the maintenance. However, I will take into account your suggestions for
further versions.

On 29/03/17 17:29, Martin Morgan wrote:

[2017-03-30 11:00] lshep commented on #231
And when you set up the webhook you changed the Content type drop-down menu to have application/json selected?  normally we see the 400 response when that isn't selected?

[2017-03-30 11:03] lshep commented on #231
I'll manually kick off a new build for it.   There should be a build report shortly

[2017-03-30 11:26] lshep commented on #310
Could you please make sure your [webhook](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) is set up properly.  Normallly when the webhook is initialized the automatic build will happen with a version bump.   I'll kick off a manual build this time but please check.  I will review and get back soon with any other feedback

[2017-03-30 13:25] lshep commented on #231
Please look into the ERROR that is occurring.

[2017-03-30 13:32] lshep commented on #310
Could you please look into the windows ERROR that is occurring.

[2017-03-30 14:21] Welliton309 opened #335 "GA4GHshiny"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/labbcb/GA4GHshiny

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-03-30 14:23] lshep commented on #231
Thank you for your updates.  The packages looks good and I will mark it as accepted.  Please leave the issues open.  You will receive svn instructions via email within the next week for inclusion in Bioconductor devel and your package will be included in the upcoming release cycle.

[2017-03-30 17:03] ipw012 commented on #239
Hi Marcel @LiNk-NY,

It seemed that I built most recent one successfully. I also asked you that it is possible for my package to be released in this spring (Apr). If there is anything I need to do for my package, please let me know. Thanks.

Sincerely,
Yungil

[2017-03-30 17:13] LiNk-NY commented on #239
Hi Yungil, @ipw012
Please re-establish the webhook so that the SPB can build and test your package. It's good that you use travis but the SPB also tests the package in other platforms.

See: https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook

Regards,
Marcel

[2017-03-30 17:15] hpages commented on #324
Hi Robert,
You might also want to add the Infrastructure term to the biocViews field of the package.
Thanks,
H.

[2017-03-30 17:35] ipw012 commented on #239
Hi Marcel @LiNk-NY,

I have already established the webhook previously but updated the webhook one more time to make sure that I am following you. Can SPB test my package now? If not, please let me know what to do next. Thanks!

Sincerely,
Yungil

[2017-03-30 17:45] hpages commented on #25
Hi Arun,

OK. If nobody is willing to follow up on this submission, I'll close the issue at the end of April.

Thanks,
H.

[2017-03-30 18:23] LiNk-NY commented on #239
Hi Yungil, @ipw012
It might have changed due to renaming the repository.
I have asked @lshep to start a build for your package.
Thanks!
Regards,
Marcel

[2017-03-30 18:28] lshep commented on #110
http://bioconductor.org/developers/release-schedule/

[2017-03-30 19:16] ipw012 commented on #239
Hi Marcel @LiNk-NY,

Based on what I saw in the above build report, I have two WARNINGS and 1 ERROR messages. 2 WARNINGS are "Update R version dependency from 3.3.2 to 3.4." which I left as it was since it was not working from my side. More importantly, I received one ERROR message saying "Error in loadVignetteBuilder(pkgdir, TRUE) :
  vignette builder 'knitr' not found" on window machine. I was t

[2017-03-30 19:24] LiNk-NY commented on #239
Hi Yungil,  @ipw012
That is package builder issue. You can ignore that for now.
Thanks,
Marcel

[2017-03-30 19:27] ipw012 commented on #239
Hi Marcel @LiNk-NY,

Thank you for your quick response. Then, is my package good to go? Should I simply wait for any further notice from bioconductor? If not, please let me know what to do next. Thanks!

Sincerely,
Yungil

[2017-03-30 19:44] LiNk-NY commented on #239
Hi Yungil, @ipw012
The package is good to go. Thank you for submitting to Bioconductor!

Regards,
Marcel

[2017-03-30 20:17] rcastelo commented on #324
Hi Hervé,

Thank you very much for your thorough review of the package and all the useful remarks. I have pushed changes to the repo that, in principle, address your comments and I'll talk about them below but I'd like to start clarifying that the windows build seems to fail because it does not find 'knitr' as vignette builder. I hope that despite this aparently windows-specific error we can move

[2017-03-30 20:19] AliciaSchep commented on #293
Hi @LiNk-NY,

I was wondering if there are further steps I should be taking before the package can be reviewed?

I asked about the WARNINGS on the bioc-devel mailing list and it was suggested I could probably ignore them.

The TIMEOUT issue appearing for MAC is new and confusing as the tests are fairly quick; I am not sure how to address that.

I have tried to address (in new code commits and/or c

[2017-03-30 20:29] LiNk-NY commented on #306
Hi  Carles, @carleshf
Thank you for submitting to Bioconductor. I will be reviewing your package.

I took a quick look at the build report and it seems that you need to address these non visible bindings for global variables. This usually happens when you call a plotting function with an argument that is not quoted using non-standard evaluation.

* If you are using `ggplot` functions, please use t

[2017-03-30 20:44] vobencha commented on #229
Hi,

- workflow functions
Are you sure the functions you define in the workflow package would not be more appropriate to include in a software package? I ask because workflows are usually light wrapper around multiple software and data packages. In general they don't define their own functions or supply their own data. I asked you to create these functions because the originally the vignette conta

[2017-03-30 20:52] ThomasCarroll commented on #333
Thank for your comments.
I have addressed the General and Code comments and renamed as a constructor - BCL2FastqParams().
Before I bump the version I am working on your other comments.
I will clarify in vignette the input files and object slots in the manual, I agree that it would be useful to disentangle the basecalling prep from QC and I am implementing this now. I will clarify in manual how rep

[2017-03-30 21:22] carlmurie opened #336 "NOMAD"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/carlmurie/NOMAD

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bi

[2017-03-30 21:34] mtmorgan commented on #336
@LiNk-NY will review this package, but it's surprising that it makes no use of other Bioconductor packages or best practices.

It seems like your data is frequently a data.frame (confusingly described as a \code{vector} and 'matrix' in the documentation) with specific columns. Rather than checking for this repeatedly, it makes much more sense to create an S4 class and validity method that ensures,

[2017-03-30 21:44] LiNk-NY commented on #278
Hi Sean, @seandavi
It's no big deal! I thank you for your hard work on this package!

Best regards,
Marcel

[2017-03-30 23:34] hangost commented on #310
Thank you very much for your feedbacks!!!
 I will check the error.

Thanks!

[2017-03-30 23:37] belleau commented on #264
Hi  Martin @mtmorgan,

Following the renaming of this package, the repository of your package has been changed. We edited the first comment to change the repository: link.

Thanks,

Astrid

[2017-03-31 00:03] LiNk-NY commented on #264
Hi Astrid, @belleau
Could you also re-establish the webhook to your package?

Thank you,
Marcel

[2017-03-31 00:20] belleau commented on #264
Hi Marcel, @LiNk-NY,

I have updated it but there is a warning message: Last delivery was not successful.

Astrid

[2017-03-31 06:12] hpages commented on #208
Hi Max,

Thanks for your work on cnAnalysis450k. I took a closer look at the package (version 0.99.24). Unfortunately my overall impression is that the package has too many documentation/usability issues at the moment to be included in Bioconductor. It will need a lot of work in this area to reach an acceptable level. See details below.

Cheers,
H.

1. The GenomicFeatures, org.Hs.eg.db, and pheatm

[2017-03-31 06:23] hpages commented on #151
Hi Malcolm,

Sounds good. Let me know when you're done completing the vignette and improving the examples. We don't have much time left until the next relase (scheduled for April 21st).

Thanks,
H.

[2017-03-31 06:28] hpages commented on #203
Hi Benjamin,

The red VERSION BUMP REQUIRED label indicates that you need to bump the version of your package in order to trigger a new build/check of the package. Thanks!

H.

[2017-03-31 06:36] hpages commented on #250
Hi Tin,
I'll give BLMA another look ASAP. Sorry for the delay and thanks for your patience.
H.

[2017-03-31 10:52] lshep commented on #333
Please make sure the webhook [webhook](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) is set up and do a version bump to kick off a new build.  If you don't see a new build report the webhook isn't set up correctly.

[2017-03-31 15:01] carleshf opened #337 "omicRexposome"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/isglobal-brge/omicRexposome

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have re

[2017-03-31 16:32] mtmorgan commented on #337
The Description: field is incomplete and the vignette contains a few commands with little text -- are you sure your package is ready for submission?

[2017-03-31 18:51] mtmorgan commented on #145
Looks like the package is building cleanly. I'll accept it to Bioconductor, adding to the nightly builds and svn repository. You'll receive additional email in a few days.

[2017-03-31 18:52] hcorrada commented on #154
Hi @lawremi,

We are reopening this issue so metavizr is included in the next release. We have addressed most of the issues listed above, and will comment on them soon. I will first, push the newest version so building checks etc. are done. Once this issue is ready for your review again I will add a comment to let you know.

Thanks for the great initial feedback!
Hector

[2017-03-31 18:57] mtmorgan commented on #285
Thanks I'm accepting the package to Bioconductor. It will be added to our nightly builds and svn repository, with additional information via email in a couple of day.s

[2017-03-31 19:01] #278 closed

[2017-03-31 19:01] #285 closed

[2017-03-31 19:01] #311 closed

[2017-03-31 19:01] #145 closed

[2017-03-31 19:01] #239 closed

[2017-03-31 19:16] jianhong commented on #285
Thank you @mtmorgan.

I will continue to update the documentations.

[2017-03-31 19:18] mtmorgan commented on #285
Please be sure that your changes are ported to the svn repository, which is now available with your existing svn credentials at https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/NADfinder

[2017-03-31 19:19] jianhong commented on #285
Thank you for reminder. I got it.

[2017-03-31 19:33] carleshf commented on #337
I've just pushed several changes (+ version bump) according to this last comment.

[2017-03-31 20:00] gcohenfr opened #338 "pgca"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gcohenfr/pgca

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2017-03-31 20:18] ThomasCarroll commented on #333
I have worked to fix the comments and here I address the points below one at a time.

I have removed all the check notes and warnings from R CMD check and have two notes remaining from BiocCheck (lines too long and indentation being 2 instead of 4)

The warning i incurred seemed to be related to rmarkdown being built on R 3.5.0 on Windows.

I have added sections to the vignette which I hope clarif

[2017-03-31 20:27] vobencha commented on #330
The review is taking awhile - I won't have comments for you until next week.
Valerie

[2017-03-31 20:33] lawremi commented on #293
Good to go from my end. Nice contribution.

[2017-03-31 20:38] LiNk-NY commented on #316
Hi Jin-hyun, @jinhyunju
Thank you for submitting to Bioconductor. I have taken a look at your package and please find the review below.
If you have any questions, feel free to respond here.

Best regards,
Marcel

----

# picaplot #316

##  DESCRIPTION

* Move `SummarizedExperiment` to the `Imports` field

## NAMESPACE

* Looks clean and short :+1:

## Vignette

* It seems like the example in your

[2017-03-31 20:46] federicomarini commented on #330
Ok, I'll stay tuned then. Thank you for the update.
Federico

[2017-03-31 20:49] lawremi commented on #285
Yes, the hope was that you would use the `slidingWindows()` function in GenomicRanges.

[2017-03-31 23:31] tiagochst commented on #229
Hi,

* docs/ folder
   I used /docs for github, I had a copy in a another format. But as it was old I removed it

* workflow functions
  I moved the functions to TCGAbiolinks, but the CNV plot would be better if added to the gaia package.  Unfortunately, I'm not the maintainer. So, I'm adding to TCGAbiolinks.

Best regards,
Tiago

[2017-04-01 04:25] LiNk-NY opened #339 "RaggedExperiment"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/RaggedExperiment

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2017-04-01 10:36] lawremi commented on #339
Could the constructor get the default `colData` from the `mcols()` on the provided List (when it is a List)?
Would additional range summaries make sense, like `reduce()`, `union()`, `intersect()`, etc? Seems like the `qreduce` thing would be useful for summarizing Rle coverage and other things.

[2017-04-01 23:06] maiasmith commented on #167
Hi Martin,

Thanks for your previous response, I managed to get the bioc-devel branch
up and running thanks to your help.

One further question - I'm not sure I follow how to update my software. I
made a small change to the vignette in my cellscape repo on github
(maiasmith), however this will not translate to the bioc devel version of
my package because I'm missing which steps? The instructions I

[2017-04-02 14:19] mtmorgan commented on #167
No unfortunately you need to arrange for your changes to be in the bioconductor svn repository, perhaps following the instructions at http://bioconductor.org/developers/how-to/git-mirrors/ . The basics of svn are at http://bioconductor.org/developers/how-to/source-control/ . The svn username and password were included in the email you reference above; same username / password for each package. con

[2017-04-03 10:37] frankkramer opened #340 "ndexr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/frankkramer-lab/ndexr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-04-03 11:44] lshep commented on #310
Ignore this ERROR for now.  I will review the package and get back to you shortly with any other comments

[2017-04-03 13:19] mikelove commented on #330
hi Federico,

I think it would be good to show in a vignette how you could run `ideal` also with edgeR or limma-voom count matrices and results tables. Andrzej has a package for converting the necessary data objects back and forth, so it shouldn't be too much more work:

http://bioconductor.org/packages/release/bioc/html/DEFormats.html

This would make the package more broadly used, e.g. compare t

[2017-04-03 15:00] rauschenberger commented on #309
Thanks @mtmorgan for reviewing the R package semisup.

DESCRIPTION

- The description has been made more comprehensive.

- The function scrutor now accepts objects of class SummarizedExperiment.

NAMESPACE

- The internal function debug (before: debug.mixtura) has been removed from the namespace. All other internal functions have only been removed from the package index, as they might be of intere

[2017-04-03 16:26] LiNk-NY commented on #293
Hi @AliciaSchep,
Sorry for the delay. I will review your package today.
Thanks for your valuable feedback @lawremi.

Regards,
Marcel

[2017-04-03 17:07] LiNk-NY commented on #293
Hi Alicia,
Thank you for submitting to Bioconductor! I have reviewed your package. Please see below.
If you have any questions, please feel free to contact me.
Regards,
Marcel

---

# motifmatchr #293

## Overall

Nicely written package. Not many issues with grammar to report.

### Grammar

* Avoid the use of underscores "_" in S4 generics and functions. Use `camelCase` naming style.
* Perhaps, yo

[2017-04-03 17:47] LiNk-NY commented on #323
Hi Cristian, @cyones
Thank you for submitting to Bioconductor! Please find your package review below.
Please contact me if you have any questions.
Regards,
Marcel

---

# miRNAss #323

## Overall

As Martin @mtmorgan had mentioned, your package should work well with what is already available in Bioconductor. Please see his suggestions in the comments above.

### Interoperability

* Once you've fig

[2017-04-03 19:25] #225 closed

[2017-04-03 19:27] mtmorgan commented on #233
If your package is ready for final review please provide  a brief summary of how each issue has been addressed. The deadline for adding new packages in time for the next release is Friday.

[2017-04-03 19:29] mtmorgan commented on #254
The deadline for adding packages to this release is this Friday. If there is no response by then I'll mark the package as 'declined'.

[2017-04-03 19:31] mtmorgan commented on #303
The deadline for adding packages to the next release is Friday; if you'd like your package to receive continued consideration, please respond by then.

[2017-04-03 19:33] mtmorgan commented on #309
Thank you for your changes; I am happy to accept the package. It will be added to the Bioconductor svn repository and nightly builds, with additional information by email in the next several days.

[2017-04-03 19:34] mtmorgan commented on #320
The deadline for addition of packages to the next Bioconductor release is this Friday. If you'd like your package to be considered, please update your package and provide a written response to the review comments above.

[2017-04-03 19:56] LiNk-NY commented on #322
Hi Juan, @juancholkovich

I will be reviewing your package. One of the first things that I noticed was that your git repository was a really big download (~`96 Mb`). Please consider reducing the size of your git repository by using a tool such as BFG Repo Cleaner https://rtyley.github.io/bfg-repo-cleaner/.

Regards,
Marcel

[2017-04-03 20:38] federicomarini commented on #330
Nice point, @mikelove - I'll check DEFormats, last time I checked it was addressing "only" the input objects.

[2017-04-03 20:43] mikelove commented on #330
I just checked, you're correct it's just the data object. But results tables are really simple, just specify certain columns. You could have a fall back for that like how `plotMA` works. Either a *DESeqResults* object, or you just need a `data.frame` with the mean value, the LFC and the significance logical.

[2017-04-03 21:01] juancholkovich commented on #322
Hi Marcel, @LiNk-NY

I have already followed your suggestion and I reduced the git repository size from ~95M to ~ 35M.

Regards,

Juan.

[2017-04-03 21:48] belleau commented on #264
Hello Marcel, @belleau

The webhook is updated but the message: Last delivery was not successful.
Invalid http response : 400.
I think it doesn't see methInheritSim version?

Thank you,

Pascal

[2017-04-03 22:00] federicomarini commented on #330
I was thinking of a somewhat complete `DataFrame`, where columns are just matched from the edgeR-limma universe. It seems most pipelines converge on an object that has a table with `logFC`,`logCPM` and `PValue` (either a `DGEExact ` or a `DGELRT `) - I guess I can use the logCPM instead of the baseMean

[2017-04-03 22:08] mtmorgan commented on #264
Usually the invalid http response: 400 means that item 6 of the [webhook instructions] is not satisfied: the Content-type: dropdown needs to be json.

[webhook instructions]: https://github.com/Bioconductor/Contributions#adding-a-web-hook

[2017-04-03 22:11] mtmorgan commented on #331
Thank you for your contribution. Please update your package in response to the following comments, providing a brief written summary when complete. Remember to bump your version to trigger a re-build.

DESCRIPTION

- Please provide additional detail about the unique functionality of
  your package in the Description: field. Like a paper abstract, so
  users can easily assess the merits and relevan

[2017-04-03 22:14] LiNk-NY commented on #322
Hi Juan, @juancholkovich
The repository is still pretty big. I don't think it should be that big.
Your `./.git/objects/pack` folder has about `38 Mb`.

I took a quick look at your package and I noticed that you could be using a `SummarizedExperiment` as the argument for many of your functions. Interoperability is an important part of the review process. Please make sure that you are reusing existi

[2017-04-03 22:32] marichards opened #341 "TReNA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PriceLab/TReNA

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bioco

[2017-04-03 22:53] federicomarini commented on #330
Just a quick update on the use of `DEFormats`. It seems the conversion does not keep the correct info on the design used. Here a minimal reproducible example (just creating the odds, then morphing to dgelist, and then back to dds):

[code]

Probably some work to do on the DEFormats side? Or did I miss some parameters to be given in the ellipsis?
Another thing I noticed is that `as.DESeqDataSet` fo

[2017-04-03 23:45] mikelove commented on #330
I see. Ok, we should give this feedback to Andrzej.

But in general I think it's desirable when Bioconductor packages support basic fall back, e.g. providing the counts (`matrix`) and results table (`data.frame`)? What else would you need for the plots in *ideal*?

[2017-04-04 01:37] juancholkovich commented on #322
Hi Marcel @LiNk-NY

I have already made the suggested actions. The repository size is ~5M.

Regards.

Juan.

[2017-04-04 02:47] vobencha commented on #330
Hi,
Please address these issues in addition to those you're working on with Michael.

(1) package size
The built tarball must be <=4MB on disk:
  http://www.bioconductor.org/developers/package-guidelines/#correctness

Message from R CMD check:
[code]
(2) biocLite()
You should not invoke biocLite() in any man pages or the vignette. If you want to demonstrate how to install ideal, that's fine, but t

[2017-04-04 03:51] belleau commented on #264
Hi Martin @mtmorgan

We have followed the instructions and it is set to json. Before the package name modification, it used to work correctly. At this moment, we are unable to find the cause of this problem.

Thanks,

Pascal

![webhook](https://cloud.githubusercontent.com/assets/8398253/24640721/5d3c9670-18c7-11e7-982b-62a99fa82918.JPG)

[2017-04-04 07:27] federicomarini commented on #330
@mikelove

I'll work on that.
I already have the fallback for dds as the combo of count matrix and experimental covariates.
For the plots and all the rest I think I'm ok with the built-up DESeqResults object - I'll enforce the presence of the three essential columns as from `DGEExact` or `DGELRT`

[2017-04-04 07:36] federicomarini commented on #330
@vobencha

Thank you for the comments, Valerie! I'll start right away working on them.
A couple of things I can address right away:
1 - I think the size is inflated by the fact I am putting screenshots in the package - and then these are embedded in the html vignette. What would your recommendation be? Should I host the screenshots somewhere online (e.g. have them in a GitHub repo in a way that th

[2017-04-04 08:38] lawremi commented on #340
What sorts of things would someone do with the retrieved networks? I'm not sure if there are any integration points with the rest of Bioconductor. The vignette might highlight some practical workflows.

[2017-04-04 09:51] frankkramer commented on #340
Dear Michael,
this package offers a generic interface to NDEx servers (custom installations are possible and might interesting for places with restricted net access like hospitals).

The central point reason for the package being associated with Bioconductor is that it allows an R interface to the public NDEx servers. These are hosting the Pathway Interaction Database of the NCI and the networks o

[2017-04-04 11:49] lshep commented on #310
There is still an ERROR on tokay2 that needs to be addressed.  I can reproduce it and it occurs as specified in code chunk number 12: Splicingfinder function   when running ExonsCluster(ASdb, transdb).

Here is the traceback()
[code]
When I debug a little further is seems to fail:
[code]

I hope this helps a little for you to debug the issue.

[2017-04-04 11:52] lshep commented on #333
The package looks acceptable.  I will mark as accepted. Please leave the issue open and you will receive svn instructions within a few days.

[2017-04-04 11:56] lshep commented on #339
Thank you for your submission to Bioconductor. Please see the comments below:

**General:**
- [ ] Please response to @lawremi comments above

**Vignette:**
- [ ] (Optional) I would suggest putting installation instructions in vignette
[code]

**Man:**
- [ ] (Optional) In RaggedExperiment-package I would suggest having links to main functions of package so users know where to get started.

Please r

[2017-04-04 12:07] kauralasoo commented on #267
Thanks! I have now updated the GitHub README to refer to Bioconductor as the main location to download the package.

[2017-04-04 13:38] lshep commented on #339
rerunning the build for you too so that you can have a better report now that the Biobase ERROR has been resolved

[2017-04-04 15:59] federicomarini commented on #330
Hi,

with the commits up to the latest push I addressed the points you touched upon.
I list them here with quotes and go point-by-point.

I use DEFormats now for the dds->DGE conversion, and I inserted a section in the vignette that details the required steps for working with whatever object coming from the edger/limma way. The section in the vignette is called `## Coming from edgeR/limma-voom`.
P

[2017-04-04 16:41] LiNk-NY commented on #322
Hi Juan, @juancholkovich
Thank you for making those changes. The repository size is looking much better. This size is more convenient for those who want to contribute to the package.

Please keep in mind that new package submissions should strive to increase interoperability between packages already in Bioconductor. Your package can use the `SummarizedExperiment` class to represent expression data

[2017-04-04 16:43] LiNk-NY commented on #336
Hi @carlmurie,
Any thoughts about moving forward with the comment above?

Regards,
Marcel

[2017-04-04 17:07] carlmurie commented on #336
Hi,

Yes, I could convert the data.frame to an S4 object. Maybe I misunderstood
but I thought that a reviewer was going to look at the package and make
recommendations. I was going to wait for that before I started modifying
the code.

Carl

On Tue, Apr 4, 2017 at 9:43 AM, Marcel Ramos <notifications@github.com>
wrote:

[2017-04-04 18:07] nhejazi commented on #254
Apologies for the delay. Nearly all recommended changes have been made and the current form of the package passes all tests. The outstanding (required) change is conversion of the core class to a subclass of `SummarizedExperiment`.

I will bump the version number to trigger a build again, but I have had little luck fixing the error:
`no definition was found for superclass “SummarizedExperiment” in

[2017-04-04 18:14] hpages commented on #338
Hi Gabriela,

Thanks for submitting the pgca package. I had a quick look at it and have some feedback for you. See below. Please address these issues at your earliest convenience.

Regards,
H.

1. Please delete `intro.html` and `intro.R` from the `vignettes/` folder of the package. These files should not be added to the git tree because they will be automatically generated by `R CMD build` when we

[2017-04-04 18:17] mtmorgan commented on #254
Likely you need to `importClassesFrom(SummmarizedExperiment, SummarizedExperiment)`, or just `import(SummarizedExperiment)`

[2017-04-04 18:45] mikelove commented on #330
That's great. That's helpful to make the package more broadly applicable.

[2017-04-04 20:11] vobencha commented on #335
Hi,

(1) man pages
The packages listed in Suggests need to be loaded in man pages and vignettes. When GA4AGHshiny is installed, there is no check to confirm packages in Suggests are installed on the user's system - so if they aren't the example will fail. The runApp.Rd example uses an OrgDb and TxDb; both should be loaded before you call the function.

(2) typos in vignette
"...
The package have o

[2017-04-04 21:16] ThomasCarroll commented on #333
Thank you both for the comments and review.

[2017-04-04 21:26] AliciaSchep commented on #293
Thanks @LiNk-NY and @lawremi for the reviews!

For the question of "_" in the name, I had chosen match_motifs rather than matchMotifs to help distinguish it from the Biostrings function matchPWM.  My (perhaps erroneous) understanding was that Bioconductor preferred camelCase, but that it wan't required (From the [style guide](https://www.bioconductor.org/developers/how-to/coding-style/):  "These g

[2017-04-04 22:28] nhejazi commented on #254
I've now nearly completed all changes, including completing the switch to having the `bioTMLE` class being a subclass of `SummarizedExperiment`, but have one final error. Perhaps you might be able to advise just a bit further?

The package includes a method for the standard `plot` (`plot.biotmle`), which now fails when given a `bioTMLE` object (due to the S4). The error is `Error in as.vector(x, m

[2017-04-04 22:55] mtmorgan commented on #254
Your class is named `bioTMLE`  but the method is for a class named `biotmle`; rename as `plot.bioTMLE`. The error you see is plot.default being invoked because there was no matching plot method. The `stopifnot()` check inside `plot.bioTMLE()` is not necessary, since only bioTMLE objects will be dispatched to the function.

[2017-04-04 23:03] nhejazi commented on #254
AdditionalPackage: https://github.com/nhejazi/biotmleData

[2017-04-04 23:09] LiNk-NY commented on #339
Hi Michael @lawremi,
Thank you for your feedback. I have implemented a `List` type of input for `RaggedExperiment`. This would best work with `SimpleGenomicRangesList` inputs that have `mcols` data.

I think additional range summarizes like reduce can be used with the `qreduceAssay` function. For example, `rowRanges(ragexp)` can be `reduce`d and used as the input to the function:

[code]

Thank yo

[2017-04-05 03:01] vobencha commented on #305
Hi,
Please see comments and suggestion below.

1. vignette
  - There is no need for user to manually check that package dependencies are installed. That is the job of the NAMESPACE and DESCRIPTION. You have all 3 of these packages in Imports so these will be downloaded and installed when the user invokes biocLite("DASC"). Please remove this line:
[code]
  - Explain what type of data are in the Sta

[2017-04-05 03:09] nhejazi commented on #254
The current __ERROR__ tag appears to be due to some kind of failure on the Bioconductor build system. The package passed all required checks on the Linux and Windows builds but encountered this error on the Mac OS X build:
[code]

Please let me know if there's more I can do to make sure the package is up to Bioconductor requirements for this release.

[2017-04-05 05:32] vobencha commented on #229
The Biobase error on windows is our problem.

When I run R CMD build on the workflow I get this error - which is an undeclared dependency since it's not in DESCRIPTION:
[code]
Please make sure all of these are mentioned in some field in DESCRIPTION:
[code]
Valerie

[2017-04-05 06:38] hpages commented on #332
Hi Jianhong Ou,

Thanks for submitting ATACqc. I had a 1st look at the package and have some feedback. See below for the details. Some effort is needed to make the package use less resources (item 1) and to reduce its dependencies (item 2). I will take a 2nd look at the package once these issues are addressed.

Regards,
H.

1. Building the vignette used about 5 Gb of RAM and took about 11 min on t

[2017-04-05 07:03] hpages commented on #324
Hi Robert,
Thanks for all these changes. Yes returning the scores as a metadata column of the input GRanges object is a good idea. It makes the returned object self-descriptive. Most users would probably do this with the current `scores()` anyway i.e. they would do something like `mcols(gr)$scores <- scores(gsco, gr)`. You could add an extra argument (e.g. `naked.scores` or `scores.only`) to let t

[2017-04-05 10:34] HelenaLC commented on #331
Thank you for your swift feedback Martin!
I'm fairly new at this and apologise for the unnecessary stylistic flaws.

**DESCRIPTION:**
- Please provide additional detail about the unique functionality of your package...
  - done.

**R:**
- Consider adopting consistent argument naming in `setGeneric`,
sometimes it's `x`, sometimes `object`.
  - Changed all to `x`.
  - Note: Maybe it's worth consider

[2017-04-05 11:53] lshep commented on #339
I will mark as accepted. Please leave the issue open and you will receive svn instructions via email shortly (normally within a week).  Thank you for you submission to bioconductor.

[2017-04-05 12:46] hangost commented on #310
Dear lshep,
I very much appreciate for your helps!!

There were some variables with errors because of their environments in only Windows server.
Unfortunately, since I can't see the error in my locals, which are in MAC OS, Linux, and Windows 10, (the package build were successfully finished in all of the locals), I need to modify the codes, uploading in GitHub and pushing to the bioconductor serve

[2017-04-05 13:06] lshep commented on #310
I think this ERROR is something on our build system.  I will review the changes you made thus far.

[2017-04-05 13:47] mtmorgan commented on #331
Thanks for your own speedy updates!

For the generic signature, it seems that out_path will always be a character(1), and that there's a reasonable default (tempdir()), so something like

[code]

[2017-04-05 13:47] lshep commented on #310
Thank you for making the other changes.  I will mark your package as accepted.  Please keep the issue open and you will receive svn instructions via email soon (normally within a week).
Please note:  If the windows ERROR persists on the daily build system, your attention will be needed immediately to remedy.

[2017-04-05 15:24] hangost commented on #310
Dear,
I sincerely appreciate for your helps and considering this R package.
I will check them! Thanks.

Can I change codes a little before or after storing in the svn? I have a plan to change codes with BiocParallel instead of foreach.
And, could this package release to the next version?

Thanks,
Seonggyun.

[2017-04-05 15:26] rcastelo commented on #324
Hi Hervé,

I have pushed an update to make the `scores()` method returning by default a `GRanges` object with a `scores` metadata column, and add an option `scores.only`, which is set to `FALSE` by default but when set to `TRUE`, then it returns a `numeric` vector with the scores. Because the newer annotation `phastCons100way.UCSC.hg19.` package is not yet available, you will not see this in the v

[2017-04-05 15:39] lshep commented on #310
Your code can always be updated and you will have access to make any changes you deem necessary.  @mtmorgan any additional comments on this?

[2017-04-05 15:44] LiNk-NY commented on #264
Hi Pascal, @belleau

Did you update the webhook?
You can try deleting it first and creating a new one from the settings.
Don't forget to bump your package's version.

Regards,
Marcel

[2017-04-05 15:46] jianhong commented on #332
Hi,

Will it too late to change the package name from ATACqc to ATACseqQC? If not, what should I do to make the change?

And Thank you @hpages . I am working on the package according your comments.

[2017-04-05 16:05] belleau commented on #264
Hi Marcos, @LiNk-NY

The webhook has been deleted and re-created. The package's version has been bumped.
The webhook is now working. However, this is the response we got from it:

Sorry, you haven't told us about this repository, please
      go to https://github.com/Bioconductor/Contributions/issues/new .

Regards,
Pascal

[2017-04-05 16:15] LiNk-NY commented on #264
Monsieur @belleau, c'est Marcel.
And I will look into the issue.
Thanks.

[2017-04-05 16:39] juancholkovich commented on #322
Hi Marcel @LiNk-NY

Is mandatory the use of SummarizedExperiment object? I use Affybatch object to store the raw expression data and ExpressionSet as an intermediate object in the normalization whose result is a numerical matrix.

Regards,

Juan.

[2017-04-05 16:51] LiNk-NY commented on #264
Hi Martin @mtmorgan,
Any ideas on what could be going on here?

A couple of things to keep in mind that may have an effect on the webhook
(although Lori told me it is tracked by number and not by name):
* Package was renamed
* Issue was closed and re-opened

Regards,
Marcel

[2017-04-05 17:35] nhejazi commented on #254
Looks like all issues with the package have been resolved. Thank you very much for your help throughout this process -- both in recommendations for software improvement and debugging -- @mtmorgan. Please let me know if there's any more I can do to get the package up to Bioconductor standards.

[2017-04-05 17:40] hpages commented on #324
Excellent! Thanks. I'm marking the package as accepted. I realize there are still important things that need to happen (modify VariantFiltering, rebuild and propagate the phastCons annotations, etc...) and we are short in time before the release. My feeling is that these changes have the potential to disrupt the builds so please be extra careful when you work on them, especially since BioC 3.5 ent

[2017-04-05 19:10] vobencha commented on #229
@tiagochst Let me know when I should take another look.
Valerie

[2017-04-05 19:46] mtmorgan commented on #310
Yes your package will be added to the nightly builds and svn repository. You'll receive an email in a couple of days with additional instructions, including on how to update the svn repository with your latest revisions. These will be included in the next Bioconductor release.

[2017-04-05 21:17] hpages commented on #332
It's not too late. If you decide to do so, start a new submission and link it to the new package (i.e. to https://github.com/jianhong/ATACseqQC). Please do this ASAP. We don't have much time left before the release. Thanks!  H.

[2017-04-05 23:54] tiagochst commented on #229
@vobencha I believe now it is ok. I checked the packages and added the missing ones.

[2017-04-06 00:03] davidsebfischer commented on #303
Largely adopted the changes, I have not yet switched from direct slot access to accessor functions yet.

[2017-04-06 00:04] davidsebfischer commented on #303
Thank you for the detailed feedback!

[2017-04-06 01:13] hpages commented on #300
Hi Michael,

Thanks for your submission.

1. Please also submit the RITAN software package (in this same issue). There is not much point for us to add RITANdata to Bioconductor if it's not accompanied by the RITAN package.

2. `R CMD build RITANdata` is not building the HTML vignette because of 2 problems:
   a) You already have a prebuilt HTML version of the vignette in the inst/doc/ folder. It n

[2017-04-06 13:08] vobencha commented on #229
OK, I think we're set. Thanks for all the work you've put into this package. I appreciate how receptive you were to suggestions and how quickly you implemented them.

Two things need to happen with this issue, we need to add the workflow svn and Jenkins which @lshep will probably do. @mtmorgan will be adding the data package to svn and grant you permissions on that repo since you already have svn

[2017-04-06 13:30] lshep commented on #229
I added the workflow to svn and on Jenkins as TCGAWorkflow.  @mtmorgan please grant permissions.

[2017-04-06 14:53] davidsebfischer commented on #303
Switch from direct slot accession to accessor functions is included in the last commit, I addressed all issues raised before.

[2017-04-06 15:04] carleshf commented on #306
Dear @LiNk-NY ,

I've just commited the changes from `aes` to `aes_string`. Also a change in `standardize` method.

Regards,
C.

[2017-04-06 16:41] hpages commented on #265
Hi Astrid,
Thanks for addressing these issues. I'm marking the package as accepted. Congratulations!
In the next few days, we will add the package to our Subversion repository and to our daily builds. We will send you important information about this.
Regards,
H.

[2017-04-06 16:58] hpages commented on #250
Hi Tin,
Thanks for your patience. I finally got a chance to take a look at your changes and they look good. Thanks for making these changes. I'm marking the package as accepted. Congratulations!
In the next few days, we will add the package to our Subversion repository and to our daily builds. We will send you important information about this.
Regards,
H.

[2017-04-06 17:50] hcorrada commented on #154
This error is addressed by

[2017-04-06 17:53] hcorrada commented on #154
This error is addressed by this commit to `metagenomeSeq`:
https://github.com/HCBravoLab/metagenomeSeq/commit/ccee76841cb94fa8f674948ca9146f871309c29b

It should clear when the build system updates `metagenomeSeq`

[2017-04-06 21:01] sbhattacharya3 commented on #233
Hello Morgan,

Please find my comments inline in bold.

DESCRIPTION, NAMESPACE

OK
R

It is not appropriate for software packages to contain large data
objects. These could be isolated as a separate 'experiment data'
package
http://bioconductor.org/developers/package-guidelines/#package-types
However, the data seems to be an ad-hoc summary of Target-scan and
other data. These data objects are not

[2017-04-06 21:07] jmwagner commented on #154
Hi @lawremi,

Thank you for the review and comments of the prior submission of metavizr.  Below are the responses to the comments you provided.  Please let us know as you have any additional questions/comments.

The README.md has been updated with links to metaviz.org and
tutorials.

The vignette has been updated to include descriptions of all example
data.

The plot type registration is not visib

[2017-04-06 22:29] rcastelo commented on #324
hi, great! thanks again for your help. I've submitted a few changes in VariantFiltering and GenomicScores to ensure that this transition do not disrupt the builds. I'll try to be extra careful.

[2017-04-06 22:33] gcohenfr commented on #338
Thanks @hpages for the valuable feedback!

We have addressed points 1–6 and 9–11. In particular we changed the name and signature of the main function to
[code]
where `...` can be any combination of directory names, file names, data frames, or lists thereof.
We also renamed the `translate` function to `applyDict` and the class of the built dictionary to `pgcaDict` as you suggested.

For points 7 a

[2017-04-06 22:44] lawremi commented on #154
Thanks for addressing my comments. Even with the `revisualize()` convenience, the API does not seem very intuitive compared to grammar-based interfaces like ggplot2. Hopefully something like that could be wrapped around this in the future. I'm OK accepting this.

[2017-04-07 02:47] hcorrada commented on #154
Thanks! Once an error-free build is done (should be at some point tomorrow, once metagenomeSeq is on the build system), I'll ping again to change the status of this package.

Thanks again!

- Yes, we are definitely overdue for an epivizr high-level API.

[2017-04-07 08:01] s-aibar commented on #320
Hello,

Thank you for reviewing the package and the heads-up about the deadline. We are working on the points mentioned on the review, but we are not expecting to be included in the next release of Bioc. We will push the new version to Github when it is ready -probably within a few weeks-.

Thank you,
Sara Aibar

[2017-04-07 15:49] mtmorgan commented on #154
I'll mark this as accepted, anticipating that the package will build successfully once metagenomeSeq's update propagates. Thanks for your help!

[2017-04-07 17:36] mtmorgan commented on #254
Thanks for your changes. I'm marking this package as accepted. It will be added to our svn repository and nightly builds, with additional instructions via email in a few days.

[2017-04-07 17:38] mtmorgan commented on #303
Thank you. I'm marking this package as accepted. It will be added to our nightly builds and svn repository, with additional instructions via email in a few days.

[2017-04-07 17:39] mtmorgan commented on #331
Thanks, I'm marking this package as accepted. It will be added to the Bioconductor svn repository and nightly builds, with additional instructions by email in a few days.

[2017-04-07 17:44] mtmorgan commented on #334
I am declining this package. Certainly a solid stand-alone browser interacting with R / Biocondudctor would be interesting. But from the vignette and upstream discussion the current package really provides limited interaction (file download and browser launch), and is primarily an R distribution of a javascript browser. A revised package that much more effectively integrated with existing R / Bioc

[2017-04-07 17:44] #334 closed

[2017-04-07 17:57] LiNk-NY commented on #339
Thanks Martin @mtmorgan, Lori @lshep, and Michael @lawremi ! :smile:

[2017-04-07 18:02] tiagochst commented on #229
@vobencha Thank very much for the review. I believe the workflow is much better than before,and I'm sorry it took so long to make all improvements.

[2017-04-07 18:50] jianhong opened #342 "ATACseqQC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jianhong/ATACseqQC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-04-07 18:51] jianhong commented on #342
This package is renamed ATACqc.

[2017-04-07 19:06] jianhong commented on #332
Hi @hpages @lawremi
I re-submitted the package to ATACseqQC.
And I did some changes:
1. tried to decrease the RAM requirement. On my mac, the RAM is lower than 4G.
2. I removed several packages from import list. And move motifStack as suggest package.
3. I change the date and package in vignette according @hpages codes.
4. change all checks for `class` to `is`

[2017-04-07 20:14] #310 closed

[2017-04-07 20:14] #324 closed

[2017-04-07 20:14] #331 closed

[2017-04-07 20:14] #333 closed

[2017-04-07 20:14] #339 closed

[2017-04-07 20:14] #250 closed

[2017-04-07 20:14] #254 closed

[2017-04-07 20:14] #265 closed

[2017-04-07 20:14] #303 closed

[2017-04-07 20:14] #309 closed

[2017-04-07 20:14] #154 closed

[2017-04-07 20:14] #229 closed

[2017-04-07 20:19] vobencha commented on #330
Looks good. Thanks for making the changes. I'm marking the package as accepted and you should get an email in a few days with svn instructions and next steps.

Valerie

[2017-04-07 20:27] federicomarini commented on #330
Thank you for the feedback - and for the precious suggestions and improvements from all the involved parties in the review.
Glad I could provide a contribution to the project!
Federico

[2017-04-07 21:51] cyones commented on #323
@LiNk-NY and @mtmorgan, thank you very much for your recommendations, we have made all the corrections suggested.
About the interoperability, miRNAss may look a little disconnected from the rest of the Bioconductor ecosystem for now, but we think it is because is the first miRNA prediction tool in Bioconductor. We did not find any tool to extract hairpin sequences from the raw genome nor calculate

[2017-04-08 00:42] isarnassiri opened #343 "(inactive) CMEA: An R package for Systematic Exploration of Single-Cell Morphological Phenotypes from Transcriptomic Profile"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://bitbucket.org/isarnassiri/cmea

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2017-04-08 00:42] #343 closed

[2017-04-08 00:49] isarnassiri opened #344 "(inactive) CMEA: An R Package for Systematic Exploration of Single-Cell Morphological Phenotypes from Transcriptomic Profile"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/isarnassiri/CMEA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2017-04-08 00:58] isarnassiri commented on #344
Hello,

1.      I uploaded the CMEA package, including the complete repositories of cell morphology and transcriptomic profiles to the Github (https://github.com/isarnassiri/CMEA) through the Bitbucket.

2.      I submitted the CMEA package to the Bioconductor.

Best regards,
Isar

From: bioc-issue-bot [mailto:notifications@github.com]
Sent: Friday, April 07, 2017 8:49 PM
To: Bioconductor/Contribu

[2017-04-10 10:36] llrs commented on #322
Hi Juan,

I was looking how you combine different sources of data, and I noticed the following: [`return(cat("..."))`](https://github.com/gibbslab/coexnet/blob/dad12882f73f66ef4ad831160d44e2390a015160/R/CCP.R#L35). If it is an error you should use stop, if it is a message to the user use message. But returning a string it might be unexpected to the user.
Also, why the user can't select any other w

[2017-04-10 10:55] llrs commented on #341
Hi @marichards (Matthew?),

I am interested in your packages because it enables "the construction of gene network models". But I couldn't find more information about how does it creates the gene networks. Maybe you could elaborate more in the vignette about it?

Many thanks!

[2017-04-10 14:34] juancholkovich commented on #322
Hi Lluis   @llrs

I will change the return of these functions by the stop, but in the second suggestion, we consider the global alignment of the networks to obtain the common patterns of connectivity as a new proposed method by us.

Regards,

Juan.

[2017-04-10 15:32] LiNk-NY commented on #264
Hi Pascal, @belleau
Any luck on getting this to work? It may be that the name change is affecting it somehow.

Thanks,
Marcel

[2017-04-10 15:43] LiNk-NY commented on #293
Hi Alicia, @AliciaSchep

Yes, they are preferences but I tend to make exceptions when the system used supports the underscore use. For a recent package I reviewed, the underscores worked well with the S3 system. It's not very common in Bioconductor to see the S4 system with underscores.
Those are my thoughts but I would defer to Martin @mtmorgan on this.

Those who use your package from GitHub sho

[2017-04-10 15:44] belleau commented on #264
Hi Marcel, @LiNk-NY

I could temporary change the name and the URL back to what is used to be (without changing the code) and then, update the webhook. This way, we could see if the problem is caused be the name change.

Regards,
Pascal

[2017-04-10 15:52] mtmorgan commented on #264
Please do not change the name; this slipped through my radar. I will work on it this afternoon.

[2017-04-10 16:04] mtmorgan commented on #293
I strongly encourage but do not require `matchMotifs()`.

Deprecation is relatively painless and I'd encourage that, following the basic instructions on ?.Deprecated

[2017-04-10 16:05] LiNk-NY commented on #264
Thanks for looking into it Martin @mtmorgan.
Just a quick note:
It looks like the SPB is still holding on to the previous name `methylInheritanceSim` but is building the tar ball as `methInheritSim_0.99.8.tar.gz` and subsequently producing an error.

Marcel

[2017-04-10 17:17] LiNk-NY commented on #306
Hi Carles, @carleshf
Thank you for submitting to Bioconductor.
Please see the first part of your review below.

If you have any questions, please let me know.

Regards,
Marcel

---

# rexposome #306

## Major

* The package seems quite dense. You're defining 69 methods, 38 generics, and 8 classes. See `grep -rn "set[MGC]" *R | wc -l`.
* Some generics you can do without, such as some of the plot ge

[2017-04-10 17:26] LiNk-NY commented on #322
Hi Juan, @juancholkovich
We want to keep any new submissions interoperable with the existing Bioconductor software. The use of `ExpressionSet` has been superseded by that of `SummarizedExperiment`. We recommend that you make your software compatible with Bioconductor by allowing the input as a `SummarizedExperiment` class object.

Regards,
Marcel

[2017-04-10 17:47] LiNk-NY commented on #336
Hi Carl,

Yes, you can use an S4 class to represent your data and include validity checks. You should also look at what is available in Bioconductor for this type of data and reuse existing software.

Interoperability is a major factor in our review process and we want to ensure that your package is working well with the Bioconductor infrastructure before the review process.
Otherwise, we'd be rev

[2017-04-10 19:08] LiNk-NY commented on #323
Hi Cristian, @cyones

I am sure that there is an existing Bioconductor class that you can use to develop your software.
Being that it may be the first miRNA prediction tool, it is even more imperative to use Bioconductor structures already available so that your package can be widely used along with other packages.

Perhaps the package is not ready for Bioconductor submission just yet.

Regards,
M

[2017-04-10 20:12] AliciaSchep commented on #293
Thanks @LiNk-NY and @mtmorgan for the clarification. I will make the change to camelCase and add in a deprecation notice.

[2017-04-11 15:51] mtmorgan commented on #264
@belleau can you try a version bump again? No guarantees...

[2017-04-11 16:31] belleau commented on #264
Hi Marcel, @LiNk-NY

We have corrected all the listed issues. See the corrections/explanations below.

**1.**  Your package name is quite similar to methylInheritance.
This may cause some confusion for users.
Please consider renaming the package or even merging both packages into one.

**Correction:**  The package name has been changed to methInheritSim

**2.** Avoid the use of 1:n type of code. T

[2017-04-11 20:53] juancholkovich commented on #322
Hi Marce @LiNk-NY

I already created the option to use the SummarizedExperiment as input in my functions and I made other changes following other suggestions.

Regards.

Juan.

[2017-04-12 12:30] isarnassiri opened #345 "(inactive) CMEA: An R package for Systematic Exploration of Single-Cell Morphological Phenotypes from Transcriptomic Profile"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/isarnassiri/CMEA
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-04-12 12:30] #345 closed

[2017-04-12 12:38] isarnassiri commented on #344
Hello,
I revised the code, and fixed the warnings. I have pushed the code to git.
Best regards,
Isar

[2017-04-12 15:10] Welliton309 commented on #335
Thank you @vobencha for the suggestions.

The GA4GH API schema changed and broke the GA4GHclient package ([reference](https://github.com/labbcb/GA4GHclient/issues/27)). I updated this package in Bioc-devel. I also had to change the name of `runApp` function because the shiny package has a function with the same name. Now, this function is called `app`.

[2017-04-12 20:45] gcohenfr commented on #338
Dear Herve @hpages,
we haven't heard back from you regarding our new package `pgca`. You have addressed all points made and we will continue to edit the Vignette for future versions of the package. As I indicate before, our accompanying manuscript is under revision and the reviewers may want to access the library. Thus, it is important to us to have the package running as soon as possible. Please,

[2017-04-12 21:16] MTZimmer commented on #300
Dear @hpages ,

I believe I have made all changes that you itemized last week. The most recent versions of both RITANdata and RITAN have passed the buildreport without errors or warnings. Please let me know if you find any additional items that need adjustment, or if you have any further questions.

Sincerely,

[2017-04-13 09:05] llrs commented on #322
Hi Juan,

Sorry to bother you again, but you don't need to `return(stop(`. Stop will already abort the function with an error. See the help page of `stop`.

Totally true (AFAIK), but it can be more helpful if you let the users define those common patterns of connectivity. Of course, it is your choice what do you want to allow users to do.
PS: In the Details of CCP you have a sentence duplicated.

[2017-04-13 14:40] mgperry commented on #151
Hi Herve, I've added a clustering example to the vignette. The improvements to the examples I intended are largely cosmetic: all the core functionality of the package is explained in the vignette. Sorry for the late reply, I left for a conference/holiday after resubmitting the package.

[2017-04-13 17:24] mgperry commented on #151
@hpages, do you have any idea what's caused this error ? Tokay2 cannot find the knitr build engine, but it is fine on linux/mac and was fine 2 hours ago...

[2017-04-14 17:04] hpages commented on #138
Hi Mohammed,

Thanks for addressing all the issues. I'm marking the package as accepted. We will add it to our Subversion repo and build system in the next days. You'll receive an email with more information about this.
Congratulations and thanks for your patience and all your efforts during the review process!
H.

[2017-04-14 17:13] hpages commented on #241
Hi Dongmin,

Thanks for addressing the issues. I'm marking the package as accepted. We will add it to our Subversion repo and build system in the next days. You'll receive an email with more information about this.

Thanks for contributing to the Bioconductor project!

Regards,
H.

[2017-04-14 17:17] hpages commented on #151
Hi Malcolm,
Let's ignore this error on the Windows builder. I'll take a look at the package today and will let you know.
H.

[2017-04-14 17:25] hpages commented on #203
Hi Benjamin,

The error we see in the last build/check of your package was caused by some recent changes in other Bioconductor packages that msgbsR depends on. See here for the details:

  https://stat.ethz.ch/pipermail/bioc-devel/2017-April/010737.html

These problems should have been addressed now. Can you please bump the version of your package again in order to trigger a new build/check of the

[2017-04-14 18:30] LiNk-NY commented on #322
Hi Juan, @juancholkovich
Thanks for making those changes. I will have a look at them soon.
Regards,
Marcel

[2017-04-14 19:18] eralpdogu opened #346 "MSstatsQC: An R package and Shiny web application for longitudinal system suitability monitoring and quality control"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/eralpdogu/MSstatsQC

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _

[2017-04-14 19:43] dongminjung commented on #241
Thank you for taking the time to review the package.

Dongmin

[2017-04-14 20:05] marichards commented on #341
Hi Lluis,

Thanks for the suggestion, I'll add an example to the vignette to make it more clear. I might also consider adding a more in-depth separate vignette as well.

Thanks!
Matt

[2017-04-15 12:29] eralpdogu commented on #346
Dear @lshep,

Is it possible to include figures in the vignette? We have a Shiny app along with the R package and I want to include tips for Shiny users using figures. But it seems like there is a problem with those figures.

Thanks,
Eralp

[2017-04-16 02:08] aayushraman commented on #305
Hi @vobencha

We have made all the changes that you requested us to do. I think the error that we are getting is not due to the package but due to the absence of the package in your windows system. We are looking forward to your inputs.

Best,
-Ar and @HaidYi

[2017-04-17 10:12] lshep commented on #346
@eralpdogu yes but please include them in the vignette directory or in inst directory of the package rather than fetching.

[2017-04-17 13:03] eralpdogu commented on #346
@lshep thanks for the response. Now, they are in the vignette folder and paths are properly set. What do you suggest next?

[2017-04-17 13:07] lshep commented on #346
Please ensure the webhook was set up properly: [instructions for webhook](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook).  Then please do a version bump in the DESCRIPTION file, it should trigger a new build of the package. Please also note that for development please start the version at 0.99.1 and increment the z of version x.y.z for changes.

[2017-04-17 16:50] hpages commented on #338
Hi Gabriela,
Thanks for making all these improvements. Points 7 & 8 are important. Please address them at your earliest convenience. Thanks!
Regards,
H.

[2017-04-17 16:58] hpages commented on #342
I'm re-assigning this package to me since this is a re-submission of package ATACqc (https://github.com/Bioconductor/Contributions/issues/332) under a new name ATACseqQC

[2017-04-17 17:10] hpages commented on #342
Hi Jianhong Ou,
I get the following error when trying to build the package (I'm on Linux):
[code]
Can you please look into this?
Thanks,
H.

[2017-04-17 18:14] aayushraman commented on #305
Hi @vobencha

We have made all the changes that you requested us to do. I think the error that we are getting is not due to the package but due to the absence of the package in your windows system. We are looking forward to your inputs.

Best,
-Ar and @HaidYi

[2017-04-18 03:33] Simon-Coetzee opened #347 "(inactive) StatePaintR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Simon-Coetzee/StatePaintr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-04-18 03:33] #347 closed

[2017-04-18 03:37] Simon-Coetzee opened #348 "StatePaintR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Simon-Coetzee/StatePaintR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-04-18 09:51] #330 closed

[2017-04-18 09:51] #241 closed

[2017-04-18 09:55] #138 closed

[2017-04-18 15:41] kvittingseerup opened #349 "IsoformSwitchAnalyzeR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kvittingseerup/IsoformSwitchAnalyzeR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x]

[2017-04-18 16:03] carleshf commented on #306
Dear @LiNk-NY ,

Before applying any change to `rexposome` I would like to talk about the changes. So, coming back to your comments:

## Major

 * The package seems quite dense. You're defining 69 methods, 38 generics, and 8 classes. See `grep -rn "set[MGC]" *R | wc -l`.

I do not see the problem here. `rexposome` is a package that brings *the exposome* to Bioconductor. The main class is the `Expo

[2017-04-18 16:53] vobencha commented on #305
@lshep, can you please kick off another build when you get a chance?

[2017-04-18 16:54] vobencha commented on #321
Any updates? Should we close this issue?
Valerie

[2017-04-18 16:57] vobencha commented on #335
Has the package been updated? If yes, please explain how items in https://github.com/Bioconductor/Contributions/issues/335#issuecomment-291617634 have been addressed. A version bump will trigger a new SPB build.

Valerie

[2017-04-18 18:04] juancholkovich commented on #322
Hi Luis @llrs

I have already changed the stop statement according to the suggestions. On the other hand, I modified the CCP function to obtain results through a range of degree values or above a specific degree in the networks.

Regards.

Juan

[2017-04-18 18:36] aayushraman commented on #305
@lshep sure.. here you go!

[2017-04-18 18:47] lawremi commented on #348
Some initial comments. `PaintStates()` should accept an R object containing the manifest, not the file path (user can read that in an initial step). That would be more flexible, as the user could programmatically define a manifest. The object returned by `PaintStates()` should contain the decision matrix used, to simplify the code and avoid inconsistencies. The vignette processes a lot of files us

[2017-04-18 18:51] Welliton309 commented on #335
I updated the repository right now and changed the package version ([0.99.3](https://github.com/labbcb/GA4GHshiny/blob/master/DESCRIPTION#L4)). Looks like nothing happened at build system.

Answering the comments:

1. I added `library` calls to examples and vignette.
2. Fixed typos.
3. Improved documentation about `host` argument.
4. Fixed GA4GHclient package ([version 0.99.10](http://bioconductor

[2017-04-18 18:53] s-aibar commented on #321
Hello,

Sorry for not replying earlier, we are creating this package as part of a workflow. Some of the other packages submitted at the same time also require some changes to include in Bioconductor, so I was considering whether some further changes need to be done before you review this one.

In principle, I think the previous comment does not apply to this package. GENIE3 package does not have a

[2017-04-18 19:14] rtraborn commented on #256
Dear Michael:
Thank you for your careful review of our code, and for the detailed suggestions that you provided, which have already improved TSRchitect in many ways.
We have completed a thorough update of TSRchitect to address the items you raised during your most recent code review.
Briefly, the changes are as follows:
- our code has been streamlined, with documentation of input and outputs for i

[2017-04-18 19:37] lawremi commented on #256
Thanks for addressing my concerns. Please setup the hook so that the issue bot can perform the tests. If everything builds and checks out, I'll mark this as accepted.

[2017-04-18 20:43] Simon-Coetzee commented on #348
Hi @lawremi ,
1. `PaintStates()` is able to take a `data.frame()` as a manifest, and the documentation has been updated to reflect this.
2. You are right, for simplicity and for avoiding inconsistency, the output of `PaintStates()` now includes the manifest and the `decisionMatrix`, and the documentation has been updated to reflect this.
3. I have drastically cut down and simplified the vignette,

[2017-04-18 20:56] lawremi commented on #348
It seems like there is a lot of good stuff in the vignette, so good that it could go into the package, and potentially rely more on existing infrastructure. I wasn't suggesting to simply delete sections from the vignette.

[2017-04-19 02:17] Simon-Coetzee commented on #348
I implemented a new function called `PRG()` which wraps up a lot of the precision recall gain analysis and documented it in the package. I also reintroduced the full comparison of enhancer calling.

The old plots looking for enrichment along genes and active and inactive enhancers from ensembl are still gone though. It relied on lots of processing outside of R, so I'd rather not include it in the

[2017-04-19 08:58] eralpdogu commented on #346
@lshep the first warning looks like I need evaluate more chunks in the vignette. How about the second warning?

[2017-04-19 10:54] lshep commented on #346
In the man directory those files are missing a \value{}  section for what is returned by the functions.  Please also consider any NOTES that were given.  I will review the package in more detail over the next few days and let you know any further comments or suggestions.

[2017-04-19 12:05] carleshf commented on #337
Dear @mtmorgan ,

I do not understand what is happening here. As you can see, the webhood is properly set:

![image](https://cloud.githubusercontent.com/assets/2046180/25179131/d50b64cc-2508-11e7-92d6-e94e485ce5eb.png)

But any one of the commits done to the repository has an effect in this issue. What can I do?

C.

[2017-04-19 13:15] mtmorgan commented on #337
I think the package was still in the 'waiting moderation' stage so that the commits were being ignored. It should build now.

[2017-04-19 14:12] rtraborn commented on #256
Hi Michael:
Great- thanks so much! The hook has been set up to facilitate automatic builds.
Best regards,
Taylor

[2017-04-19 14:19] llrs commented on #335
The build system of packages maybe is stopped due to shortly new release of Bioconductor.

[2017-04-19 15:47] lawremi commented on #349
What about having an object that contains all of the pipeline parameters, like ScanBamParam in Rsamtools? Then the user could construct that object and pass it to both part 1 and part 2, with less chance of inconsistencies. It might also help with passing the parameters down to the lower level routines.

[2017-04-19 15:49] jianhong commented on #342
Hi @hpages ,

I updated the package according the error. PhastConsDb is changed to GScores.

[2017-04-19 16:19] vobencha commented on #341
Hi,

The package looks good. Just a few comments below.

1) S4 class slot access

Looks like you have Solvers, Filters and the TReNA class defined. In general, '@' slot access is used when defining getters or setters on S4 classes. Once defined, these functions should be used throughout the code instead of '@'. The rational is that direct slot access can unknowingly corrupt or create an invalid ob

[2017-04-19 16:35] vobencha commented on #341
Also please remove TReNA_Vignette.html from vignettes/.

Valerie

[2017-04-19 16:54] vobencha commented on #305
Thanks for making the changes. Just a few things left.

1) Please add this paragraph from the vignette to the stanfordData.Rd man page:
Stanford gene expression dataset (Chen et. al. PNAS, 2015; Gilad et. al. F1000 Research, 2015). It is a filtered raw counts dataset which was published by Gilad et al. F1000 Research. 30% of genes with the lowest expression & mitochondrial genes were removed (Gila

[2017-04-19 16:56] vobencha commented on #335
@lshep can you please kick off a new build?
Thanks.
Val

[2017-04-19 16:57] vobencha commented on #315
Any progress or questions? Are you planning to submit an updated version?
Valerie

[2017-04-19 17:00] lshep commented on #335
Yes but please @Welliton309 Please ensure you followed the instructions [here](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) for setting up the webhook. If the webhook was not initiated, version bumps will not kick off new builds.

[2017-04-19 17:07] Welliton309 commented on #335
I am sorry. I forgot to configure the webhook for this repository. Thank you @lshep.

[2017-04-19 17:08] lshep commented on #335
No problem.  You might get two reports now as I manually kicked off a build as well.

[2017-04-19 17:34] rtraborn commented on #256
Hi Michael:
The latest build appears to have been successful; the only warning (triggered by `BiocCheck`: `WARNING: Update R version dependency from 3.3.0 to 3.4.`) is puzzling, because the latest version of R is 3.3.3 (suspect this is referring to the version of Bioconductor).
I could remove this line entirely from `DESCRIPTION`, but will leave it as is for the time being.
Thanks,
Taylor

[2017-04-19 18:23] lawremi commented on #256
It is indeed referring to the version of R. I think the rationale is that it's only been tested on R 3.4, so to be safe, the dependency should be there. I'm not a big fan of that one.

[2017-04-19 18:48] rtraborn commented on #256
Thanks for clarifying. So if I add `Depends: R (>= 3.4)` to the `DESCRIPTION`, what would that mean for users? I'm not currently using 3.4 (I'm using 3.3.3), so I'm not quite sure how to proceed if I'm releasing something that depends on a version that I haven't tested.

[2017-04-19 18:52] lawremi commented on #256
Well ideally (1) you would be running R devel, as that is an expectation of maintaining a package in the current Bioc devel, and (2) you would have automated tests that would be running on the Bioc build machines (running 3.4 in devel). Since those two things are not true, you are at risk, and BiocCheck is pointing that out.

[2017-04-19 20:18] rtraborn commented on #256
Hi Michael:
Your points are well taken. I went ahead and updated the package with R 3.4 and TSRchitect built on all three systems without issue.
Best regards,
Taylor

[2017-04-19 20:35] lawremi commented on #256
Thanks, I've marked this as accepted.

[2017-04-19 20:57] rtraborn commented on #256
Excellent. Thank you so much for your help during this review.

[2017-04-19 22:16] Simon-Coetzee commented on #348
hey @lawremi

What do you think of the current incarnation of the vignette? I'm happy to receive more suggestions.

[2017-04-19 22:22] lawremi commented on #348
It seems there is still some code that could be wrapped up into high-level functions in the package, particularly stuff for parsing different data sources. But I'll let @nturaga assess things further.

[2017-04-19 22:54] aayushraman commented on #305
@vobencha Thanks for your comments.

1. I will add it to the man files.
2. Can I have put extra .Rmd and png files inside a `ext` or `inst` folder ?
3. Based of the dataset, we form a graph and traverse the graph such we are able to find and merge 2 disjoint sets. This is not a class from DASC or another package.

-Ar

[2017-04-19 23:32] marichards commented on #341
@llrs Could you give me a specific example of the sort of network application you'd be interested in? I realize my intended addition to the vignette would be more in the vein of model-based prediction rather than network generation, and I'd like to address your comment as appropriately as possible.

On a related note, we are currently working on interactive graphics to make construction and visual

[2017-04-20 07:16] llrs commented on #341
I am interested in networks and I was exploring packages to build networks and I found TReNA that said it could be used for it. But now that I read the vignette more carefully I realize that is not the purpose of the package. It doesn't create networks as in [WGCNA](https://cran.r-project.org/package=WGCNA) or [DiffCoEx](https://static-content.springer.com/esm/art%3A10.1186%2F1471-2105-11-497/Medi

[2017-04-20 12:47] kvittingseerup commented on #349
@lawremi I agree that it might be useful if a user want to use non-default parameters although it is really only the "alpha" and "dIFcutoff" parameters occur in many functions and where such a parameter object would be useful.
However I think a large fraction of the potential users are not necessarily used to R so "hiding" parameter choices outside the function documentation might generate more ha

[2017-04-20 15:32] LiNk-NY commented on #124
Hi @AllenTiTaiWang,
Please be aware that you package is marked for `Deprecation`. Please make the necessary changes for your package to pass build and check. Otherwise, you package will be removed from Bioconductor by the next release cycle.
Best regards,
Marcel

[2017-04-20 15:57] mgperry commented on #151
Hi @hpages, it's extremely close to the deadline and I have not yet received any comments. I would very much like to avoid a repeat of the last submission!

[2017-04-20 17:52] hpages commented on #300
Thanks Michael,

Packages (software and data) look good and I'm marking them as accepted. There are a few minor issues (see below). However, because we are very short of time for the release, I'm only listing them here as an FYI in the hope that you'll be able to address them at some point.

Thanks for you contribution to the project,
H.

6. You need to import the following packages: graphics, sta

[2017-04-20 19:01] isarnassiri commented on #344
Hello,

The "WARNINGS" is " 'rgl_init' failed, running with rgl.useNULL = TRUE", and is a problem with the build system itself.

Best regards,
Isar

[2017-04-20 21:35] aayushraman commented on #305
Hi @vobencha

We have made the changes that you asked us to do. Please let us know if you have any more questions.

Best,
-Ar and @HaidYi

[2017-04-21 01:29] marichards commented on #341
@vobencha

Hi Valerie,

I believe we've addressed all of your comments. With regards to 2ii, we included this documentation in the inherited classes using the /seealso tag and hope this sufficiently covered that comment. We also added two new getters (getSolverObject and getFilterAssayData) to address comment 1.

Thank you for your comments, they've undoubtedly improved our package.

Thanks,
Matt

[2017-04-21 05:25] hpages commented on #151
Hi Malcolm,
Sorry for the delay and thanks for your patience. Release times are always crazy and I got distracted by other urgent release-related matters. The package is in very good shape and the vignette looks great. Congratulations! Accepted.
Cheers,
H.

[2017-04-21 05:30] hpages commented on #338
Hi Gabriela,
Just a reminder that points 7 & 8 need your attention and that we are very close to the next Bioconductor release (it's in 4 days). We won't be able to add your package to this release after Sunday.
Regards,
H.

[2017-04-21 06:58] hpages commented on #342
Hi Jianhong Ou,

Thanks for reducing the dependencies and the time it takes to build the vignette. However, running the code in the vignette or in some of the examples still uses about 4.5 Gb of RAM. It would be great if you could reduce this a little, ideally to <  2 Gb. Otherwise we'll have to mark the package as unsupported on 32-bit Windows.

Other than that, the package is in good shape. The

[2017-04-21 08:11] hpages commented on #203
Hi Benjamin,

Thanks for addressing all the issues I reported!

All the changes you made look good and greatly improve the overall quality and usability of your package. There is only one little thing left: the package is too big (33 Mb). Note that you could reduce its size by half by not including the `chr20.fa.gz` file (Rat chr20 sequence). The size of this file alone is 17 Mb and you only use i

[2017-04-21 10:03] hpages commented on #279
Thanks for trying to improve PathwaySplice. Unfortuntaely the package still has many serious problems that prevent its inclusion in Bioconductor. I'll reiterate that it will need a lot more work to improve its documenation and usability. See below for some new feedback.

Regards,
H.

**Previous issues not properly addressed**

3. Please don't make your function names all lower-case without separat

[2017-04-21 10:08] hpages commented on #332
closing the issue (package has been resubmitted as ATACseqQC)

[2017-04-21 10:09] #332 closed

[2017-04-21 15:37] jianhong commented on #342
Hi @hpages ,

I tried my best. Hope this time the RAM issue could be fixed. Thank you.

[2017-04-21 17:26] jinhyunju commented on #316
Dear Marcel (@LiNk-NY),

Thank you very much for your feedback and I apologize for the late response. I've recently started a new job which required a big move from the east coast to the west coast, so I had limited time on hand to work on your feedbacks.

I reflected most of the grammar related comments you have provided (bc_final branch on the picaplot repo) and am now starting the process to ch

[2017-04-21 18:46] LiNk-NY commented on #316
Hi Jin-hyun, @jinhyunju
There are currently no deadlines to submit the package. The deadline to submit the package to the upcoming Bioconductor release cycle has passed. Once you have made the changes and they have been accepted, your package will go into the development branch of Bioconductor.
Best regards,
Marcel

[2017-04-21 19:41] vobencha commented on #349
To address your comment posted on bioc-devel, these warnings are issued because packages you depend on have defined functions with the same name. This is not your problem to fix.

Before I do a full review, please look at the packages in Depends and determine if you really need to attach all of these to the search path. Can any be moved to Imports?

* checking package dependencies ... NOTE
Depends

[2017-04-23 01:08] dakep commented on #338
Hi Hervé @hpages,
thanks for reminding us about the deadline on Sunday! We have expanded the vignette with a more thorough introduction and explained how the example data was produced. We hope the vignette now addresses all your points adequately. Thank you for your feedback!
Regards,
David (@dakep) and Gabriela (@gcohenfr)

[2017-04-23 06:59] gcohenfr commented on #338
Dear Harve @hpages
Please review our new Vignette. We have addressed all you comments. In particular, we changed the source files, explained how they were obtained and their content. We have also added more information about he algorithm and a full description of local vs global groups. The new Vignette provides a summary of the problem, a description of our solution and an example to illustrate t

[2017-04-23 21:10] #151 closed

[2017-04-23 21:11] mtmorgan commented on #151
The package has been added to the Bioconductor svn repository (for the forthcoming release) and nightly builds. Additional information on access will be sent via email in the next several days.

[2017-04-23 23:18] hpages commented on #342
Hi Jianhong Ou,

Looks like you managed to reduce memory usage to < 2 Gb. Excellent! Thanks a lot for doing that.
I'm marking the package as accepted.

Best,
H.

[2017-04-23 23:33] hpages commented on #338
Hi Gabriela,
These are great improvements.,thanks! I'm marking pgca as accepted. We will make sure to add the package to our Subversion repository and build system ASAP. Also we'll send you an email very soon with a follow-up on this.
Thanks for your contribution to Bioconductor,
Regards,
H.

[2017-04-23 23:36] hpages commented on #203
Hi Benjamin,
Any chance you can take care of the size issue before tomorrow?
Thanks,
H.

[2017-04-23 23:47] BenjaminAdelaide commented on #203
Hi @hpages ,

Thanks for your comments and your help, it's been greatly appreciated.

As you've suggested I have now removed the chr20.fa.gz from the package and the respective code from the vignette.

Thankyou again,

From Ben

[2017-04-24 00:02] hpages commented on #203
OK. Thanks for the change. As you know, the single package builder is still reporting a build failure on Windows. However we're too short of time before the BioC release for troubleshooting this issue now. So I'm accepting the package as-is but the Windows issue is something that will need to be investigated and addressed after the release. Otherwise we'll have to mark the package as unsupported o

[2017-04-24 02:01] gcohenfr commented on #338
Great Herve @hpages !! Thanks again for  your insightful comments! It helped us to improve our Vignette!!

[2017-04-24 05:38] menggf commented on #315
Dear @vobencha ,

Sorry for this late reply. We agree to your comments about test data. Now, we are updating the packages, e.g.  re-writing some functions,  based on comments collected from our colleagues.  We will need more time, e.g. one month, to release the new update, including test data.

If it is possible, please keep it open for another month. Otherwise, please close it and we will start a

[2017-04-24 10:50] mgperry commented on #151
Brilliant, thanks Hervé and Martin!

[2017-04-24 15:08] kvittingseerup commented on #349
Hi Valerie ( @vobencha )
Thanks for taking time to review my package as well as the suggestions - I really appreciate it!

I have now updated the "Dependes" and the "Namespace" as well as I (think) I can. I still have to "Depend" on two packages:
1) SpliceR - which internally uses the mcols() function that cannot be used unless the GenomicRanges packages is attached.
2) cummeRbund - which internal

[2017-04-24 16:41] vobencha commented on #305
- You can have more than 1 .Rmd file in vignettes/ if you have more than one vignette. You can also have multiple figure files, .png or .pdf etc. in vignettes/. Please put the .Rmd and .png files used to create your vignette in the vignettes/ directory and remove them from inst/extdata.

The files you should delete are the .html and .pdf files. The vignette is created real time when R CMD build is

[2017-04-24 18:31] #342 closed

[2017-04-24 18:31] #203 closed

[2017-04-24 18:31] #256 closed

[2017-04-24 18:31] #300 closed

[2017-04-24 18:31] #338 closed

[2017-04-24 19:18] aayushraman commented on #305
Hi @vobencha

I have made the changes to the package. I have removed .html & .pdf files and moved the files to vignette directory.  I have added the explanation about merge function in the Rmd file.

-Ar

[2017-04-24 19:57] DongmeiLi2017 opened #350 "(inactive) Combine: An ensemble method for RNA-Seq differential analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-04-24 19:57] #350 closed

[2017-04-24 20:04] DongmeiLi2017 opened #351 "(inactive) Combine: An ensemble method for RNA-Seq differential analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DongmeiLi2017/Combine

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read t

[2017-04-24 20:04] #351 closed

[2017-04-24 20:09] DongmeiLi2017 opened #352 "Combine: An ensemble method for RNA-Seq differential analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DongmeiLi2017/Combine

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read t

[2017-04-24 20:35] DongmeiLi2017 opened #353 "ComSeq: An ensemble method for RNA-Seq differential analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DongmeiLi2017/ComSeq

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read th

[2017-04-24 22:03] DongmeiLi2017 commented on #353
I have revised the package and checked the package building in RStudio. The building of the package is OK now. Thanks!

[2017-04-25 10:19] kvittingseerup commented on #349
Hi Valerie ( @vobencha )

Now IsoformSwitchAnalyzeR is back to only give the warnings due to the loading of other packages. Looking forward to hear from you (although I naturally realise now is a busy time with the new BioC release).

[2017-04-25 15:00] lshep commented on #346
Hello. Thank you for your submission to Bioconductor. Please see my comments below.

**General From Build Report**

- [ ] Please evaluate code in the vignette (see comments on vignette)
- [ ] Please add unit tests. While you may not be able to test the main functionality, you can add tests for internal and helper functions for expected output.
- [ ] Please add Add non-empty \value sections to the

[2017-04-25 16:17] nturaga commented on #348
StatePaintR Review
==================

## Build

### April 25th 2017

R-release CMD build StatePaintR: Ok

R-release CMD INSTALL StatePaintR: Ok

## DESCRIPTION

* Good DESCRIPTION section; clear abstract

* Good reuse of Bioconductor packages; biocViews.

## NAMESPACE

* ok.

## Vignette

* Downloading vignette data takes about a minute, i'm guessing its not a small dataset. Running vignette also

[2017-04-25 19:42] LiNk-NY commented on #264
Hi Pascal, @belleau

It seems like there were some build issues with the Single Package Builder (SPB).
Can you please bump the version of your package to get another build?
Thank you.

Regards,
Marcel

[2017-04-25 19:44] LiNk-NY commented on #293
Hi Alicia, @AliciaSchep
Any updates on the status of the changes? Much appreciated.
Regards,
Marcel

[2017-04-25 20:17] LiNk-NY commented on #306
HI Carles, @carleshf
The `list` is not a preferred data structure. Please use a robust S4 class or classes.

My argument for the number of methods, generics, and classes defined in the package stems for a user's perspective. A user may be overwhelmed with the amount of functionality available in the package. The other point about having so many generics and methods defined is that there may be som

[2017-04-25 21:11] LiNk-NY commented on #322
Hi Juan, @juancholkovich
It seems like the size of your repository grew again. It is currently at `~40Mb`.
I will have another quick look at your package and post some comments and suggestions.

Regards,
Marcel

[2017-04-25 21:32] juancholkovich commented on #322
Hi Marcel @LiNk-NY

I already processed the repository and now have a size of ~5M.

Regards,
Juan

[2017-04-26 01:22] LiNk-NY commented on #322
Hi Juan, @juancholkovich

Thank you for reducing the repository size. It is down to `~5Mb` again.
Please see the review below.
If you have any questions, feel free to contact me.

Regards,
Marcel

----
# coexnet #322

## Overall
I am glad that you were able to integrate your package with existing Bioconductor classes (namely `SummarizedExperiment`).

### Package
The organization of the package loo

[2017-04-26 04:21] AliciaSchep commented on #293
Hi Marcel @LiNk-NY,

Sorry for the slowness -- I have made the changes locally but not yet pushed them.  I have another package that "suggests" motifmatchr, [chromVAR](https://github.com/GreenleafLab/chromVAR), that I plan to eventually also submit to Bioconductor (not quite ready yet, need to speed up some tests, spruce up docs a bit).  Before pushing the changes to motifmatchr, I want to also up

[2017-04-26 17:38] LiNk-NY commented on #353
Hi @DongmeiLi2017,
Can you please bump the package's version so that you can start another build in the SPB?
Thank you.
Regards,
Marcel

[2017-04-27 14:44] MTZimmer commented on #300
Dear Hpages and BioC Moderators,

With the BioC version 3.5 builds, RITAN builds now return an immediate error that RITANdata cannot be found. Were both packages accepted? If so, is there an additional step needed to enable access to packages new to the most recent release?

Please let me know if there's any additional information I can provide.

Also, due to family events, I won't be able to imme

[2017-04-27 20:39] j-lawson opened #354 "(inactive) MIRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2017-04-27 20:39] #354 closed

[2017-04-27 20:41] j-lawson opened #355 "MIRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/databio/MIRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2017-04-28 13:04] vobencha commented on #341
Thanks for making the changes, the package is approved. Over the next week you should get an email with svn credentials and next steps.
Valerie

[2017-04-28 13:06] vobencha commented on #335
Thanks for making the changes. The package is approved and you should get an email in a few days with svn instructions and next steps.
Valerie

[2017-04-28 13:14] vobencha commented on #321
The Bioconductor classes mentioned (SummarizeExperiment, ExpressionSet, etc.) all have a slot that contains a matrix of data; the classes are not identical but the matrix object is. The idea is that you'd write a generic with methods for the different classes - each method would extract the matrix from the Bioconductor class using the appropriate accessor function. Once the matrix is extracted the

[2017-04-28 13:15] vobencha commented on #315
Yes, we can keep it open another month.
Valerie

[2017-04-28 13:16] vobencha commented on #305
Thanks for making the changes. The package is approved - you should get an email in the next week with svn instructions and next steps.
Valerie

[2017-04-30 04:24] eschen42 opened #356 "(inactive) w4mclassfilter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/HegemanLab/w4m_ClassFilter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2017-04-30 04:24] #356 closed

[2017-04-30 21:23] juancholkovich commented on #322
Hi Marcel @LiNk-NY

I already made the suggested changes.
Also, I tried to be as specific as possible in the dependencies imports in the internalFunction.R file

I will be attentive to any other suggestion.

Regards,

Juan.

[2017-04-30 22:28] eschen42 opened #357 "w4mclassfilter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/HegemanLab/w4mclassfilter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-05-01 07:20] aayushraman commented on #305
@vobencha Thanks a lot for improving our package.

-Ar

[2017-05-02 12:06] lshep commented on #357
Hello @eschen42 ,
Thank you for your interest in Bioconductor.  Unfortunately at this time we are unable to accept your package.  While your package may be useful for Galaxy, it provides little functionality for the general use and provides no standard Bioconductor data structures for utilization with other packages.  If you would like to resubmit at a future time, we recommend enhancing the packa

[2017-05-02 12:06] #357 closed

[2017-05-02 14:13] eschen42 commented on #357
@lshep Thank you for taking the time to review my package and explain your reasoning. I find your logic satisfactory, and will seek advice from the Galaxy team regarding where is the best place to support such a package.

[2017-05-02 14:16] lshep commented on #357
I think there might be a Galaxy Toolkit that might be worth looking into.

[2017-05-02 18:54] w-korani opened #358 "keggseq"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/w-korani/keggseq

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2017-05-02 18:58] w-korani commented on #358
The package a part of a paper that will be publish a late time this year, 2017.

[2017-05-04 18:00] w-korani commented on #358
I handled the problems, would you mind to re-test the package

[2017-05-04 18:09] lawremi commented on #358
Recommend rejection (no Bioc integration, vignette is just the readme, it unnecessarily couples analysis with database access, and the code needs a lot of work).

[2017-05-04 18:34] nturaga commented on #358
@w-korani Please follow the recommendations of @lawremi , the package is missing many key components which are required for a Bioconductor package. If you are interested in still developing this as per [Bioconductor guidelines][] , please do so.

[Bioconductor guidelines]: https://www.bioconductor.org/developers/package-guidelines/

[2017-05-05 15:22] w-korani commented on #358
Dear Michael,

thanks for your concern about the packages:

1. for vignette, I used just short form because I had a ref. to another manual file. Anyway, I will update it to be in complete form.

2. regarding to data accession, it is mandatory for the package since one of the main advantage that it is run-time, KEGG database is updated very frequently, weekly and sometimes daily so if I create inte

[2017-05-05 16:14] lawremi commented on #358
I'll let @nturaga take this from here.

[2017-05-05 17:56] nturaga commented on #358
Hi @w-korani,

 Thanks for submitting this package to be reviewed. We understand that the package does provide some useful functionality.

 However, we are declining this package.

 Some packages you might want to take a look at include [KEGGREST][] for accessing KEGG data, working with existing Bioconductor objects such as those defined in the packages [GenomicRanges][] and                 [Summa

[2017-05-05 17:56] #358 closed

[2017-05-05 21:38] mmulvahill opened #359 "(inactive) multiMiR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/KechrisLab/multiMiR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2017-05-06 23:25] #341 closed

[2017-05-06 23:25] #305 closed

[2017-05-06 23:25] #335 closed

[2017-05-07 09:28] s-aibar commented on #321
Ok, we can easily accept those objects as input to GENIE3, and extract the matrix already within the function (although personally I find it safer if it is the user who decides which slot to use...).

Regarding the independence of GENIE3: we are using GENIE3 as part of an analysis pipeline, including AUCell (which was also submitted as a new package), and motif and GO enrichment. However, the othe

[2017-05-07 11:24] shaileshtripathi opened #360 "sgnesR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-05-07 11:34] shaileshtripathi opened #361 "https://github.com/shaileshtripathi/sgnesR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shaileshtripathi/sgnesR
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-05-07 12:08] shaileshtripathi opened #362 "(inactive) sgnesR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shaileshtripathi/sgnesR
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-05-07 13:16] #362 closed

[2017-05-07 13:17] mtmorgan commented on #362
The package does not meet basic Bioconductor requirements, e.g., the existence of a vignette. The package does not integrate with other Bioconductor tools, e.g., the use of SummarizedExperiment or GenomicRanges data representations to facilitate interoperability.

[2017-05-08 07:36] llrs commented on #361
Hi, you should replace the line

with

To trigger the system to build the package in Bioconductor (if you have the hood ready)

[2017-05-08 09:48] frankkramer commented on #340
Dear Bioc team,

this is just to check in if there are news on the review.
If there are any problems or questions please let me know, I will be happy to help.

Best wishes,
Frank

[2017-05-08 10:47] lshep commented on #110
Thank you for you submission to Bioconductor.  I am recommending to close this issue as there has been no movement on it in the last few months.  Please reopen the issue when you have more time to work on the package.

[2017-05-08 10:47] #110 closed

[2017-05-08 10:52] lshep commented on #247
Hello @breons.  I was wondering if there would be any updates to the package soon? There were really minimal changes recommended.

[2017-05-08 10:54] lshep commented on #283
Hello @skyhorsetomoon ,  I was wondering how updates to the package were going and if you had any further questions.  May we expect some updates soon?

[2017-05-08 10:56] lshep commented on #327
Hello @tongyin9002,  I wanted to check in to see how modifications to your package were going.  Did you have any further questions?  May we expect any updates soon?

[2017-05-08 11:39] tongyin9002 commented on #327
Dear Ishep,

Very thanks for your attention. Since my package is too slow in running the
example, I was struggling with the speed optimizing. Wish I could update in
this week.

Thanks,

Best Regards!

2017-05-08 18:56 GMT+08:00 lshep <notifications@github.com>:

--
Tong Yin
School of Biological Sciences
Hong Kong University
Tel：+852 52261984

[2017-05-08 18:35] #25 closed

[2017-05-08 18:45] csgroen opened #363 "RTNsurvival: An R/Bioconductor package for survival analysis using transcriptional networks and regulons"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/csgroen/RTNsurvival/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-05-09 12:41] mtmorgan commented on #340
Sorry, I'll have something by the weekend.

[2017-05-09 15:35] drisso opened #364 "zinbwave"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/drisso/zinbwave

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-05-10 16:17] eugeniaeueu opened #365 "Onassis package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/eugeniaeueu/Onassis

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x ] I have read th

[2017-05-11 14:10] kvittingseerup commented on #349
Dear Valerie ( @vobencha )

I was simply wondering whether you had any idea when you might get around to review my package? :-)

Kindest regards
/Kristoffer

[2017-05-12 11:05] skyhorsetomoon commented on #283
Hi @lshep , these days I work with other things. So I have no time to revise my package and update it. But after some days, I will revise and update it quickly. Thank you for your advises!

[2017-05-12 11:20] lshep commented on #283
Since you do not have the time to work on the package currently I will close the issue.  Please reopen when you are ready to continue to work on it.

[2017-05-12 14:12] xtsvm opened #366 "(inactive) miRBaseConverter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-05-12 14:12] #366 closed

[2017-05-12 14:20] xtsvm opened #367 "miRBaseConverter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/xtsvm/miRBaseConverter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-05-12 20:21] drisso commented on #364
Hi @hpages !

I've recently made a few minor changes to the package (most notably adding the possibility to specify the covariates with a formula rather than with a matrix).

These changes currently leave in a separate branch on GitHub (https://github.com/drisso/zinbwave/tree/summarizedexp), but if you haven't started your review yet, I would like to merge them into master so that you review the l

[2017-05-13 12:51] mtmorgan commented on #270
There hasn't been any activity here so I'll close the issue; re-open it when you're ready for the review to continue.

[2017-05-13 12:51] #270 closed

[2017-05-13 12:54] mtmorgan commented on #320
It looks like development on this package has stalled. I will close the issue. Feel free to re-open it when you are ready to continue.

[2017-05-13 15:44] mtmorgan commented on #367
The data set miRNATest seems to be derived from [TarBase][], but bulk
downloading the data takes the user to a web page where they are
required to register. Further, the license restricts use to
non-commericial use or with consent. This licensing does not seem to
be consistent with data redistributiion in this package, with the
license used for the package, or with _Bioconductor_ policy for
licens

[2017-05-13 16:35] mtmorgan commented on #340
Sorry for my slow review. The package generally looks in reasonable shape.

DESCRIPTION, NAMESPACE

- Packages such as httr and jsonlite listed in the Depends: field but
  irrelevant to the end user should instead be listed in the Imports:
  field, with corresponding NAMESPACE / roxygen2 (`@import` or
  `@importFrom`) directive.
- Please list a single 'Maintainer' representing the primary contact

[2017-05-13 17:03] mtmorgan commented on #337
Sorry for my very slow review

DESCRIPTION, NAMESPACE

- Spell check this and all documents.
- For the Description: field, provide a more extensive description of
  what the package does. Mention if there are other similar packages.
- Review the biocViews terms, for instance 'tatisticalMethod' is not a
  term.

vignette

- generally good
- No need for the html version of the vignette to be under v

[2017-05-13 17:04] mtmorgan commented on #233
It looks like your package has been revised but without a version bump. If you bump the version I will complete the review process promptly.

[2017-05-13 21:21] shaileshtripathi opened #368 "(inactive) sgnesR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shaileshtripathi/sgnesR

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read t

[2017-05-13 21:21] #368 closed

[2017-05-13 21:30] shaileshtripathi commented on #362
Hi, I have updated the package, can you please look into this for further consideration
https://github.com/shaileshtripathi/sgnesR

[2017-05-13 21:31] shaileshtripathi commented on #362
Hi, @mtmorgan

 I have updated the package, can you please look into this for further consideration
https://github.com/shaileshtripathi/sgnesR

[2017-05-14 16:44] mtmorgan commented on #362
The vignette and other aspects of the package are not up to Bioconductor standards; we are declining the contribution.

[2017-05-14 16:53] shaileshtripathi commented on #362
Hi,

I updated vignette and other documentation related issues yesterday. Can
you please check again.
How can I resubmit package.

Best,
Shailesh

On Sun, May 14, 2017 at 5:44 PM, Martin Morgan <notifications@github.com>
wrote:

[2017-05-14 17:03] mtmorgan commented on #362
We declined your package based on the entirety of my original comments. Also, compare your vignette to other Bioconductor vignettes, including the vignettes of recently accepted packages. Compare also your package to the Bioconductor check list. We did review your changes before once again declining your package.

Please feel free to continue developing your package until you are confident that it

[2017-05-14 17:19] shaileshtripathi opened #369 "(inactive) gene sim expression"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shaileshtripathi/sgnesR

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read t

[2017-05-14 17:19] #369 closed

[2017-05-14 17:33] shaileshtripathi commented on #362
Hi I did go through the checklist and added other required things.
I just want to resubmit it is there any way to resubmit it so that it can
go through check again without changing its name.

Best,
Shailesh

On Sun, May 14, 2017 at 6:03 PM, Martin Morgan <notifications@github.com>
wrote:

[2017-05-15 16:29] xtsvm commented on #367
Dear mtmorgan,
Thank you very much for you detailed and constructive comments about the miRBaseConverter package.
I have modified the most parts you pointed out. But I want to make a detailed explanation for two related issues.
1. The miRBaseConverter package embedded a test dataset ( called miRNATest ). In last version, I extracted all the miRNA names from the Tarbase 6.0 database table. I suppos

[2017-05-15 17:03] mccallm opened #370 "microRNAome"
- Repository: https://github.com/mccallm/microRNAome

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Packag

[2017-05-16 12:02] vobencha commented on #349
Hi,
Sorry for the delay - too many things going on. I'll take a look at this today.
Valerie

[2017-05-16 12:04] vobencha commented on #349
Actually this was the issue that disappeared for some time. I came back to reivew it and the issue and repo were gone. Not sure what happened there - but yes, I'll review it today.

[2017-05-16 12:31] mtmorgan commented on #362
I'm sorry, your package has been declined. We will not consider your package further. Consider distributing it through other channels, e.g., CRAN or Github.

[2017-05-16 14:19] florian-j-auer commented on #340
Resolved the issues and commited/pushed the updated code

Am 13.05.2017 um 18:35 schrieb Martin Morgan:

Sorry for my slow review. The package generally looks in reasonable shape.

DESCRIPTION, NAMESPACE

  *   Packages such as httr and jsonlite listed in the Depends: field but
irrelevant to the end user should instead be listed in the Imports:
field, with corresponding NAMESPACE / roxygen2 (@impo