[2022-10-18 18:30] jianhong commented on #2765
Great! Don't forget to update your NEWS.md file when you update anything. Thank you for contribute to Bioconductor!

[2022-10-18 21:21] danro9685 commented on #2841
Dear @nilseling,

1) In the latest update on GitHub we should have addressed all your points regarding the vignette.
2) Sounds good about the unit tests.
3) Regarding BiocParallel: we are planning to move to BiocParallel for parallel computation, however the current implementation is quite complex and we don't think we enough bandwidth (among this and the work for the other packages we have submit

[2022-10-18 21:39] gkanogiannis commented on #2796
Dear @hpages salut. J'espere que tout va bien. I was wondering if we are on track here and if I am going to receive soon an initial review of `metabinR`, in order to have some time until the deadline of 26 October for corrections and improvements based on your comments.

Looking forward to receiving your review,
Anestis

[2022-10-19 00:50] nick-robo commented on #2774
Here are the points that have not been addressed (@nilseling):

- After some consideration, we would rather not change the inputs to simpleSeg.
- We haven't added a package-level man page yet.
- We would rather keep the default `sizeSelection` parameter.
- We modified the `simpleSeg` function such that it can accept `BPPARAM` objects.

The rest of the points have been addressed directly.

We reall

[2022-10-19 04:58] PeteHaitch commented on #2815
You are importing both in your `NAMESPACE`: https://github.com/SydneyBioX/scFeatures/blob/master/NAMESPACE#L44-L45

I think you will have to choose to import only one and then refer to the other using `::` in your package code.
E.g., you could choose to have `importFrom(dplyr, select)` (or the equivalent via **roxygen2**) and then use `ensembldb::select()` everywhere in your package code.
Alternat

[2022-10-19 06:25] gartician commented on #2738
Hi @PeteHaitch and @vjcitn,

The last update should address your concerns about including SCE objects, using ExperimentHub to host a test dataset, and fix illegible figures in the vignette. Furthermore, we refactored the code with better helper functions to retrieve data from Seurat/SCE objects to improve readability. Thank you for taking another look!

[2022-10-19 09:22] nilseling commented on #2841
Hi @danro9685 and @luca-dex

Thanks for adding the title and more general info on how to detect mutational signatures. I think what would still help the user is to understand why `RESOLVE` is part of Bioconductor instead of e.g. CRAN. You have already developed the `SpareSignatures` Bioconductor package and it would be straight forward for users that are familiar with this package to now also use

[2022-10-19 15:11] nilseling commented on #2701
Hi @SPirrotta
I just quickly wanted to check in if you'd like to address the last couple of changes before the deadline on the 26.10. next week?

[2022-10-19 15:19] nilseling commented on #2774
Hi @nick-robo
thanks for the info! Could you please push the newest version to Bioconductor? I'll have a look at the changes soon.

[2022-10-19 16:31] LiNk-NY commented on #2836
@vjcitn This looks good. The query can be made a bit simpler with:

[code]

[2022-10-19 16:33] LiNk-NY commented on #2836
I think this could be made into a warning?
Everything else looks good. Thanks!

[2022-10-19 16:53] LiNk-NY commented on #2836
Note. Here are a couple diffs that would resolve notes / warnings in the package.

## R/app.R

[code]

## R/data.R

[code]

[2022-10-19 16:55] danro9685 commented on #2841
Dear @nilseling,

Thanks for the feedback, we have just updated our GitHub repository with all the necessary changes.
@luca-dex please perform the push to Bioconductor.

Thanks,
Daniele

[2022-10-19 19:42] BiotechPedro commented on #2795
Hi @lazappi ! Here it's my reply. The major issues is the one of `LazyData`.

# Review

## General package development

I know there were 3 notes. I'll try to address them by following your following comments, although with the few time I have is not my priority right now.

## DESCRIPTION file

Done!

🚨⚠️ When removing the line of `LazyData` or setting it as false, there is a problem with loading

[2022-10-19 19:44] hpages commented on #2751
Hi @ecool50 ,

Sorry for the delay and thanks for your patience.

Package looks good and is ready to go. Only thing I will ask you is to fix the titles of some of your man pages. Some of them look like this (e.g. `?runFuseSOM`):
[code]
As you can see the title is a copy of the Description field, that is, a full paragraph made of 3 sentences! A title should be much shorter, ideally it should fit in

[2022-10-20 00:46] PeteHaitch commented on #2738
Thanks @gartician
Please also address the warnings identified by the package builder; the build report is included in https://github.com/Bioconductor/Contributions/issues/2738#issuecomment-1283492916
I'll begin my review once that's cleared up

[2022-10-20 09:47] SPirrotta commented on #2701
Hi @nilseling,
I am working on it. I should be able to submit everything before the 26th.

[2022-10-20 10:44] nilseling commented on #2774
Hi @nick-robo,

thanks for addressing the comments!

That's ok as you are highlighting the use of individual functions with `CytoImageList` and `SummarizedExperiment` objects.

Also ok as the vignette shows the main functionality of the package.

That's fine for me but keep in mind that with low-res technologies (e.g. pixel size > 1µm) you will by default lose all smaller (e.g. immune cells) if yo

[2022-10-20 10:47] nilseling commented on #2701
Hi @SPirrotta
thanks for the update. Keep in mind that that package needs to be accepted before the 26.10 (https://bioconductor.org/developers/release-schedule/). I'll do my best to directly have a final check but will need a bit of buffer time.

[2022-10-20 14:00] snikumbh commented on #2790
Hi @lshep
Sorry, I took some time to setup bioc-devel on linux at my end so that I could see if things have been fixed after the Brobdingnag package was updated and is now again available on CRAN.

Could I please ask you to install the updated version of [Brobdingnag 1.2-9](https://cran.r-project.org/web/packages/Brobdingnag/) from CRAN on the builders? Thanks in advance.

I just re-installed Brob

[2022-10-20 22:14] PeteHaitch commented on #2753
Thank you for addressing the requested changes and engaging with the review process, @LiNk-NY.
I'm happy to accept **TENxIO** into Bioconductor!

A couple of final things:

- [ ] Please keep an eye on the builds to see if the lack of support for S3 VFD in Rhdf5lib is a general issue affecting macOS  (initially flagged in https://github.com/Bioconductor/Contributions/issues/2753#issuecomment-126630

[2022-10-21 00:39] jeffreypullin commented on #2710
Hi @ococrook,

Thanks for your continued help and sorry for the complications!

After careful thought we have decided to not to use the `VariantExperiment` object in the package, for three main reasons:

1. We could not get `VariantExperiment` to successfully load the VCF files included in `cardelino` due to the files not meeting implicit size consistency assumptions embedded in `VariantExperiment

[2022-10-21 01:42] ecool50 commented on #2751
Hi @hpages, thanks for all your efforts. I have made the requested changes. Please let me know if you need anything else.

[2022-10-21 06:31] lptolik commented on #2780
# Review’s Comments

We appreciate the reviewer’s comments regarding our package submission to BioConductor. We have gone through each of them, answering them as completely as possible, please see the responses below. We would be grateful if the review could now provide us with any additional comments, so that we can be in the position to complete these and finalise our package for submission to B

[2022-10-21 10:52] nilseling commented on #2774
Hi @nick-robo

thanks for addressing the last comments! I will now accept the package.
For the future I would recommend to increase the coverage of the package by including more unit tests.

[code]

[2022-10-21 11:17] lshep commented on #2790
If it is a new version number on cran than it should update automatically. Can you bump the version and try again?

[2022-10-21 11:21] lshep commented on #2774
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/anic0077.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-21 11:21] lshep commented on #2765
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/emilyise.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-21 11:21] #2765 closed, assigned to jianhong

[2022-10-21 11:21] lshep commented on #2753
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LiNk-NY.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-10-21 11:21] #2753 closed, assigned to PeteHaitch

[2022-10-21 11:33] snikumbh commented on #2790
OK, still the error.
I think it will require reinstalling dbplyr (same version should be fine) along with Brobdingnag (newer version 1.2-9, now on cran), and perhaps even Matrix (this I am not completely sure)?

One way to check directly would be to
`library(dbplyr)`
after all (re-)instllations, which should not give the same error that it did before.

[2022-10-21 11:49] lshep commented on #2790
I think you might need to declare Brobdingnag in your dependency list?   I still get the same ERROR as before after installing the new version locally but when I am checking my sessionInfo I do not see Brobdingnag loaded

[code]
However I am doubtful that that would work too:

[code]

[2022-10-21 12:05] snikumbh commented on #2790
I was not sure about re-installing Matrix, so I tried to look for my command history. Here it is

![image](https://user-images.githubusercontent.com/4093111/197190545-35ec2fb8-1e3b-4c67-8dea-6efced57f26c.png)

I re-installed all three (Matrix, Brobdingnag, and dbplyr), and the error went away.

Interestingly, even dbplyr does not directly depend on Brobdingnag (it perhaps does indirectly via the t

[2022-10-21 14:29] LiNk-NY commented on #2753
Thanks Pete! @PeteHaitch

I will keep an eye out.

Ah, I see the file now. It was in `TENxIO-package.R`. Thanks again!

[2022-10-21 14:52] jwokaty commented on #2790
I reinstalled Matrix, dbplyr, and Brobdingnag. I'm trying to kick off the spb so that we can see if it passed (but I'm botching it! pardon me). I'll retry.

[2022-10-21 16:23] SPirrotta commented on #2701
Hi @nilseling ,
here you can see my last changes:

- Issues when using vapply fixed
- Now, functions expect an assay called “norm_expr”
- "class" substituted with "is"
- Description of the transformationStep column added in the vignette
- More info on the statistics in the survivalSignPlot function added
- BugReports and URL In the DESCRIPTION file adjusted
- Now, the package version in the NEWS.R

[2022-10-21 18:31] lshep commented on #2790
We reinstalled on our builders and I reinstalled locally but all get the same ERROR.

[2022-10-21 20:44] snikumbh commented on #2790
Appreciate your efforts/help @lshep and @jwokaty !

FWIW, here's what I get on my end (debian machine) where it threw the exact same error 2 days ago, but has resolved now after the reinstallations. Full session info at the end.

I will investigate why it still fails on Ubuntu.

[code]

Here's the session info

[code]

[2022-10-22 10:11] nilseling commented on #2701
Hi @SPirrotta

thanks for making these changes! I will now accept the package.
One thing that I noticed for future reference is that

[code]
can be simply replaced by

[code]

as `SingleCellExperiment` and `SpatialExperiment` inherit from `SummarizedExperiment`.

[2022-10-22 14:38] khazum commented on #2632
Peter, I hope all is well. I am writing to clarify that the recommended and required fixes have already been implemented.

[2022-10-22 18:33] lawremi commented on #2793
Does it really need to attach rJava to the search path?

[2022-10-22 19:34] aoles commented on #2793
Good catch @lawremi , thank you for pointing this out! I've moved rJava from `Depends` to `Imports`.

[2022-10-23 22:22] devonjkohler commented on #2783
Hello,

Just curious where this package is in the review. Concerned that the deadline is approaching.

Devon

[2022-10-23 23:16] PeteHaitch commented on #2783
I've started the review but please appreciate that the reviewers' workload is substantially increased close to release.
We aim to have reviews within 3 weeks of the package building successfully on the BioC build machine and I expect to provide yours in the next few days.

[2022-10-24 01:00] DarioS commented on #2780
Thanks for the updates. I think that the package is now ready for acceptance.

Note that unit tests are equally important for non-exported functions as they are for exported functions. Their purpose is to test that calculations are correct and that their outputs don't change over time.

[2022-10-24 01:32] nick-robo commented on #2815
@PeteHaitch Sorry for the delay. The package is now building without errors or warnings.

[2022-10-24 08:07] SPirrotta commented on #2701
Hi @nilseling,
thank you so much for the help and advice!

[2022-10-24 10:45] ococrook commented on #2710
Hi @jeffreypullin

Thanks for having a look - that makes sense to me and thanks for investigating. I'm happy to mark for acceptance. Let me know when submit the new model and you can tag me as a reviewer because familiarity will move things forward more quickly.

Best wishes,
Olly

[2022-10-24 11:02] nilseling commented on #2841
Hi @luca-dex,

could you please push the changes to Bioconductor so that the checks pass before Wednesday?
Let me know if there are issues with the access rights.

[2022-10-24 11:10] ococrook commented on #2778
Hi @bphipson

This looks pretty good and the vignette was very clear. I have some suggestions for changes to the package.

Description
- [ ]  Could you make the package version match with the NEWS.md file
- [ ] Lazy data entry to false.

Unit tests
- [ ] Please add unit tests

install instruction
- [ ] Please add install instruction to both the vignette and readme

package name
- [ ] I'm not sure

[2022-10-24 11:26] luca-dex commented on #2841
Hi @nilseling ,

last week the system was not accepting the push, but I just tried again and it worked.

Thanks

[2022-10-24 11:29] luca-dex commented on #2797
Hi @vjcitn and @lshep I still cannot push on this repository, so we cannot trigger new build.
Could you please let us know how we can proceed?

I have the repo configured properly in BiocCredentials and I'm able to trigger push on other repository buy this one is not accepting my credentials.

Best,

[2022-10-24 11:31] lshep commented on #2797
again -- @vjcitn  has not processed it passed pre-checks so you would not have access on git.bioconductor.org

[2022-10-24 11:40] luca-dex commented on #2797
thanks for the clarification @lshep
is there anything we can do at this stage to speed up the process, in order to avoid to pass the deadline of Wednesday?

Best,

[2022-10-24 11:49] vjcitn commented on #2797
I just compiled the vignette.  I see
[code]
You have similar content in .rnw and .Rmd.  Please fix the warnings and simplify the vignette layout before review can begin.

[2022-10-24 12:10] danro9685 commented on #2797
Dear @vjcitn,
This warning is generated during the likelihood fit part of the inference by ASCETIC when input data, which are expected to be binary (two levels, 0 and 1), show only one level.
This is something that can happen, i.e., the user sometimes can have data of this type, and it is not an error (the warning needs to be shown in these cases).
We can easily remove it, but I was wondering if y

[2022-10-24 12:13] nilseling commented on #2841
Thanks for pushing the changes! I will now accept the package. For the next release I would recommend to switch to `BiocParallel` to address the last `WARNING`.

[2022-10-24 12:27] marianaferreira commented on #2810
Hi @vjcitn,
Just wondering if you can review the package so that it's considered for the coming release. I would appreciate if it gets to this release.
Thank you in advance!

[2022-10-24 12:59] lazappi commented on #2610
Hi @Nina-Song

I think I am happy with this now so that it makes it into the next release. There are still some things that I think could do with tidying up (for example the description for the `sampleInfo` parameter still specifically mention breast cancer) but they are minor and can be done as you maintain the package. Congratulations :tada:!

[2022-10-24 13:26] devonjkohler commented on #2783
Hi @PeteHaitch,

Thank you a bunch for taking a look at the package! I Definitely understand that the releases are a lot of work. I was just a little worried by the Wednesday deadline listed in the release schedule.

Devon

[2022-10-24 13:51] lazappi commented on #2795
@BiotechPedro You need to push the changes you have made to the Bioconductor git server so I can review them. I will reply to some of your comments below but I need to see the code for others.

---

Hmmm...ok. Do you know what the issue was? This shouldn't really affect whether you can load the data or not.

Up to you, I just wanted to point out what is usually done here.

Fair enough. You can als

[2022-10-24 14:34] danro9685 commented on #2797
Dear @vjcitn,
Just to be sure, I have fixed the input data to remove the warnings, as you have asked.
All the best,
Daniele

[2022-10-24 14:58] hpages commented on #2796
Hi @gkanogiannis Tout va bien merci. Sorry for the slow response. I'm taking a look at **metabinR** and will come back with some feedback. Thanks for you patience.

[2022-10-24 15:20] gkanogiannis commented on #2796
Dear Hervé @hpages, thank you so much for your time and effort.

[2022-10-24 16:18] anna-pacinkova commented on #2744
Dear Vince,

Are there any news about the IntOMICS package?

Thank you,
Anna

Dne st 12. 10. 2022 17:05 uživatel lshep ***@***.***> napsal:

[2022-10-24 17:27] vjcitn commented on #2836
These have all been addressed.  The make_condition_graph now includes a parameter to filter away bundles that lack "Condition", so the error is not triggered in the vignette.  Other suggestions were adopted and a NEWS.Rd file was added.

[2022-10-24 18:12] gartician commented on #2738
OK this should be good to review, and we look forward to your response. The last push was just a minor change in the vignette, nothing major.

[2022-10-24 22:08] PeteHaitch commented on #2632
Thank you for making the required changes, @khazum.
I'm happy to accept **ccImpute** into Bioconductor!
Thank you for your contribution.

Cheers,
Pete

[2022-10-24 23:16] aoles commented on #2793
Dear Marcel @LiNk-NY,

Thank you very much for the thorough review of my package. Please find my inline answers below.

I really hope the package can still make it into the upcoming release. 

Looking forward to hearing from you soon.
Cheers! 

---

While indeed the classes are S4, there are a few S3 methods which come in handy when interacting with these classes such as `print` and `as.Image`. Yo

[2022-10-24 23:21] aoles commented on #2793
Fair point, thanks a lot @vjcitn! I've added a brief introduction to the vignette as you recommended.

[2022-10-24 23:56] fame2827 commented on #2818
@DarioS I have addressed most of the feedback. Regarding the data.table import, data.table speeds up the inhomL function considerably which, if not included would slow down every function in Statial. At the cost of slightly slower import times, could I leave this import in, so that the overall package performs efficiently.

In the meantime I will be updating the descriptions sections of documentat

[2022-10-25 01:00] DarioS commented on #2818
That's a good plan. Think of Title ≡ one sentence and Description ≡ one paragraph.

[2022-10-25 03:43] shbrief commented on #2832
Hi @Kayla-Morrell
I fixed all the errors. Could you look at whether it's ready for the next step in review? Thanks!

[2022-10-25 03:58] PeteHaitch commented on #2783
Hi @devonjkohler,

I've completed my initial review of **MSstatsShiny**.
However, I have asked other Bioconductor package reviewers for comments because I do not have much experience with Shiny apps as a user or developer.
In particular, I'm unsure how much the requirements and advice in the [chapter on Shiny apps in the Developer & Reviewer's Guide](https://contributions.bioconductor.org/shiny.ht

[2022-10-25 11:36] lshep commented on #2841
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/danro9685.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-25 11:36] #2841 closed, assigned to nilseling

[2022-10-25 11:36] lshep commented on #2780
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lptolik.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-10-25 11:36] #2780 closed, assigned to DarioS

[2022-10-25 11:36] lshep commented on #2710
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jeffreypullin.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2022-10-25 11:36] #2710 closed, assigned to ococrook

[2022-10-25 11:36] lshep commented on #2701
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/SPirrotta.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-25 11:36] lshep commented on #2632
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/khazum.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-25 11:36] #2701 closed, assigned to vjcitn

[2022-10-25 11:36] #2632 closed, assigned to PeteHaitch

[2022-10-25 11:36] lshep commented on #2610
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Nina-Song.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-25 11:36] #2610 closed, assigned to lazappi

[2022-10-25 13:14] jianhong commented on #2275
# Package 'seqpac' Review
The package passed check and build. However there are several things need to be fixed. Please try to answer the comments line by line when you are ready for a second review.

## The DESCRIPTION file
- [ ] `Depends` field is not found in DESCRIPTION. The 's' is missing in line 36.
- [ ] 'LazyData:' in the 'DESCRIPTION' should be set to false or removed
- [ ] R version is n

[2022-10-25 15:06] Kayla-Morrell commented on #2832
@shbrief - You need to push a version bump to the git version of the package to kick of a new build report. Without a clean build report I can't continue with my portion of the review. Please see [here](https://github.com/Bioconductor/Contributions/issues/2832#issuecomment-1275051428) for how to get this set up.

Best,
Kayla

[2022-10-25 15:10] shbrief commented on #2832
I have some permission issues accessing upstream. I'll push the new version as soon as I figure this out. Thanks!

[2022-10-25 15:19] LiNk-NY commented on #2836
Hi Vince, @vjcitn
Thanks for making those changes. The package looks good to go.
Best regards,
Marcel

[2022-10-25 15:48] BiotechPedro commented on #2795
Hello @lazappi :D to make it short I only quote questions or comments that have been answer.

✅ Yes. Now it's done.

✅ I have written to CRAN maintaining for already archiving the package so the package has no errors for the 28th.

✅ Now it should be ok. I set `LazyData: FALSE` and put `data(clr)`. I set `@usage data(clr)` in the data.R file. It seems ok after `check()` and `BiocCheck()`.

✅ Thank

[2022-10-25 20:18] shbrief commented on #2832
Hi @Kayla-Morrell
I cleared all the errors/warnings. Please let me know what else needs to be done. Thanks!

[2022-10-25 21:04] devonjkohler commented on #2783
Hey @PeteHaitch,

Thank you for reviewing the package. Your comments make sense and I am in the process of addressing them now. I should have an updated version by tomorrow morning.

Best,
Devon

[2022-10-25 21:17] gkanogiannis commented on #2796
Dear @hpages, I was wondering if it will be possible to receive a review and feedback on this package. I am worried that it will not make it to the manifest of new release. Thank you again so much for tour efforts.

[2022-10-25 23:09] davidpross commented on #2799
Hello @vjcitn and @lshep, with Bioconductor Release 3.16 just ahead, how can we move this forward in the review process? Thanks!

[2022-10-25 23:13] na396 commented on #2840
Greeting @vjcitn @lshep
I have changed the package, and now it takes roughly 13 minutes to be run. However, I have taken more space, in total less than 5 MB as I need to store some results. All rda files are compressed, and on my local computer I did not have any error and warnings. I pushed it to "git@git.bioconductor.org/SGCP.git". Please let me know if it's fine or I need to do anything.
Many t

[2022-10-26 01:54] PeteHaitch commented on #2783
Hi @devonjkohler,

I've received some feedback from other Bioconductor package reviewers about the guidelines in the [chapter on Shiny apps in the Developer & Reviewer's Guide](https://contributions.bioconductor.org/shiny.html).
From @vjcitn, Project Lead of Bioconductor, "At this point in our experience with (Shiny) apps, I'd propose that the rules in the guidelines be taken as advisory.", so we'

[2022-10-26 05:13] hpages commented on #2796
Thanks for your patience @gkanogiannis.

Package looks good. Only minor cosmetic issue is this:
[code]
This is not considered good practice. Please remove. Typical Bioconductor workflows will start by loading many packages, sometimes dozens or more. Bioconductor recommends packages to be as quiet as possible at load time.

Thanks

[2022-10-26 05:16] hpages commented on #2751
All is good. Thanks @ecool50

[2022-10-26 06:08] lazappi commented on #2795
@BiotechPedro I haven't read your replies yet but I don't see any updates from the build system. Were you able to get pushing to the Bioconductor git server to work?

[2022-10-26 06:24] gkanogiannis commented on #2796
Dear @hpages, citation message on package attach is removed and version bumped.
Thank you once again for your time and effort in reviewing `metabinR`.

[2022-10-26 08:06] BiotechPedro commented on #2795
I computed
`git remote add upstream git@git.bioconductor.org:packages/microSTASIS.git
git push upstream main:master` and the printed output was:

Enumerating objects: 134, done.
Counting objects: 100% (134/134), done.
Delta compression using up to 8 threads
Compressing objects: 100% (87/87), done.
Writing objects: 100% (90/90), 20.63 KiB | 186.00 KiB/s, done.
Total 90 (delta 66), reused 0 (delta 0

[2022-10-26 09:51] BiotechPedro commented on #2795
Hi @lazappi
I have recheck everything. I have done `git clone git@git.bioconductor.org:packages/microSTASIS.git` and I download the correct repo. For example, the last commit I did includes changing the plotting function names. When the repo is cloned, the names are changed as should be.

[2022-10-26 11:33] lazappi commented on #2795
Hmmm...ok. When I pull from Bioconductor I can see your changes as well so git has worked but for some reason there's no build. @Bioconductor/core any ideas what might be happening here?

[2022-10-26 11:38] lshep commented on #2795
The changes won't register or trigger a new build without a version bump.  Please bump the version to 0.99.1 and push and it should trigger a build

[2022-10-26 11:48] lshep commented on #2801
temporarily reopening as there was an issue processing this and adding to manifest.  It will be closed and added again shortly

[2022-10-26 12:01] lshep commented on #2759
We had an issue processing packages -- I'm temporarily reopening so I can reprocess and get your package on the daily builders. Sorry for any confusion and delay

[2022-10-26 12:02] lshep commented on #2774
We had an issue processing packages -- I'm temporarily reopening so I can reprocess and get your package on the daily builders. Sorry for any confusion and delay

[2022-10-26 12:34] lshep commented on #2836
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/vjcitn.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-26 12:34] #2836 closed, assigned to LiNk-NY

[2022-10-26 12:34] lshep commented on #2801
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lmweber.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-10-26 12:34] #2801 closed, assigned to lshep

[2022-10-26 12:34] lshep commented on #2774
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/anic0077.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-26 12:34] lshep commented on #2769
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yocra3.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-26 12:34] #2774 closed, assigned to nilseling

[2022-10-26 12:34] #2769 closed, assigned to lshep

[2022-10-26 12:34] lshep commented on #2759
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/CTrierMaansson.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2022-10-26 12:34] #2759 closed, assigned to LiNk-NY

[2022-10-26 12:34] lshep commented on #2751
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ecool50.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-10-26 12:34] #2751 closed, assigned to hpages

[2022-10-26 12:34] lshep commented on #2391
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Lionir.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-26 12:34] #2391 closed, assigned to HelenaLC, lshep

[2022-10-26 12:34] lshep commented on #2769
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yocra3.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-26 12:34] lshep commented on #2391
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Lionir.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-26 12:41] BiotechPedro commented on #2795
Thanks for the help @lazappi  @lshep
I feel super bad about being so naive. I didn't change the version which is obviously needed for the build. Sorry. Now it is fixed.

[2022-10-26 12:44] lmweber commented on #2801
Thank you!

[2022-10-26 14:44] ococrook commented on #2800
Thanks @almeidasilvaf, this was extremely pleasurable to review. The code was nicely written and the vignette was clear. There are plenty of tests and examples.

- [ ] The only thing I think worth changing is when you use the colon operator `1:2`, can easily be replaced by `c(1, 2)` and is much easier to read. For longer regular sequances is safer to use the appropriate `seq`.

[2022-10-26 16:24] devonjkohler commented on #2783
Hi @PeteHaitch,

I just pushed an updated version of the package responding to your review. I was able to address all your main points (see below).

In terms of the BioC guidelines for shiny packages I have reviewed them and they make sense. I agree that the code should be refactored under the R directory. In this update I was not able to change it because it is actually a very big undertaking, as

[2022-10-26 16:46] sdgamboa commented on #2791
@Kayla-Morrell, thank you! I've made the requested updates to the package. Please see below:

Updates:

+ LazyData was set to false in the DESCRIPTION file. This required the addition of a [helper function](https://github.com/waldronlab/MicrobiomeBenchmarkData/blob/df9ba8daaf7735976ea7cd5ee33de1f754efd317/R/MicrobiomeBenchmarkData.R#L234-L247)
+ Added sequencingData to BiocViews in the DESCRIPTION

[2022-10-26 16:52] Kayla-Morrell commented on #2791
@sdgamboa - Please push a version bump to the git version of the package to trigger a new build report. See [here](https://github.com/Bioconductor/Contributions/issues/2791#issuecomment-1266933739) on how this can be done.

Best,
Kayla

[2022-10-26 18:06] hpages commented on #2796
All looks good. Thanks!

[2022-10-26 18:11] gkanogiannis commented on #2796
Merci beaucoup, bonne soirée Hervé @hpages !

[2022-10-26 18:25] Kayla-Morrell commented on #2791
@sdgamboa - Thank you for making those changes. I've looked them over and everything looks good. I am more than happy to accept the package.

Best,
Kayla

[2022-10-26 18:38] Kayla-Morrell commented on #2832
@shbrief - When trying to build the package locally I get the following error:

[code]

[2022-10-26 18:40] sdgamboa commented on #2791
@Kayla-Morrell, thank you!

[2022-10-26 20:16] PeteHaitch commented on #2783
Thank you for making the required changes and considering the recommended ones.
I'm happy to accept **MSstatsShiny** into Bioconductor!
Thank you for your contribution.

I _think_ we've just snuck the package acceptance in before the before today's deadline but hopefully @lshep may be able confirm.

Some minor comments to your response.

-----

That's totally fine :)
As you can tell, our 'best-pra

[2022-10-26 20:28] shbrief commented on #2832
Hi @Kayla-Morrell, I think it should work now.

[2022-10-26 20:31] PeteHaitch commented on #2783
Please double-check the syntax in your vignette, the headers don't seem quite right (see screenshot from opening the vignette on my computer)

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/1049741/198130765-cda049b2-7dd7-4877-9503-e281f9296ad6.png">

Aside: did you mean to switch the vignette to a PDF rather than HTML?
**BiocStyle** supports either (via `BiocStyle::p

[2022-10-26 23:04] nick-robo commented on #2815
Sorry to ping you @PeteHaitch, but today is the deadline for package review for the next Bioconductor release. Is there anything that you would like us to address in the package?

[2022-10-27 00:04] PeteHaitch commented on #2815
Hi @nick-robo,

I'm sorry that I have not had time to review **scFeatures** before the deadline.
**scFeatures** only got an 'OK' on the build system 3 days ago and there were several packages ahead of yours in the reviewing queue.

While **scFeatures** won't make the next Bioconductor release (3.16), once it's been through the review process and accepted it will be immediately available in the dev

[2022-10-27 00:42] nick-robo commented on #2815
No worries! We appreciate all the effort that goes into the reviewing process. Thanks for letting us know.

[2022-10-27 07:05] luca-dex commented on #2797
Dear @vjcitn ,
considering that the deadline for  new packages to be included in bioc 3.16 has passed, we would like to know what should we do and if there still possibility to include our package in the release.

Please, let us know

Best,

[2022-10-27 07:27] almeidasilvaf commented on #2800
Hi, @ococrook

Thank you very much for your feedback!

Agreed. I replaced `m:n` with `c(m, n)` or `seq(m, n, by = 1)` throughout.

Best,
Fabricio

[2022-10-27 08:08] lazappi commented on #2795
No worries about the version bumping thing. It happens all the time and I should have thought of that straight away.

I'll reply to the conversation about the non-code points first:

Ok, if you don't think there is anything relevant to mention that's fine. Maybe something to keep in mind for future updates to the vignette though.

I think the code changes are good so no further comments on those.

[2022-10-27 08:10] lazappi commented on #2795
@Bioconductor/core I'm happy with this from the review side but I haven't added the `accepted` tag because it is currently still on CRAN.

[2022-10-27 09:46] BiotechPedro commented on #2795
Hi @lazappi !
Thanks for the imports suggestion. Done!
I will contact again to CRAN for archiving it. They told me it should be on Bioc-devel. I will attached them your comment and will return ASAP.

Thanks,

Pedro

[2022-10-27 10:18] vjcitn commented on #2797
I'd suggest that you improve the package to meet guidelines/reviewer/pre-reviewer advice and get it added to Bioc 3.17.  There is no rush, you can distribute via github, tell people it is in 3.17 once it passes review, etc.  Sorry for delays but there are so many tasks in connection with getting to a release that some submissions that come in close to release time just don't make it in.

[2022-10-27 10:59] luca-dex commented on #2797
Thanks @vjcitn

we will follow your suggestion.

[2022-10-27 15:11] devonjkohler commented on #2783
Hi @PeteHaitch,

Thank you for pointing the vignette formatting issue out. I am adding in a fix now.

Devon

[2022-10-27 16:32] maddygriz commented on #2604
@vjcitn @lshep I saw that the deadline for new packages to be accepted was yesterday so since RBioFormats hasn't been accepted yet does that mean that we have missed the ability to get into 3.16 or is there any wiggle room?

[2022-10-28 00:04] shbrief commented on #2832
Will it be possible to include this package in the BioC 3.16 release? @vjcitn @lshep

[2022-10-28 02:52] vjcitn commented on #2832
Hi Sehyun -- it may be possible.  But I am looking at the vignette as produced on my machine.  A key point is
[code]
So most of the vignette is not produced.  Is this what you want?

[2022-10-28 02:55] shbrief commented on #2832
Oh sorry, I was experimenting with something and accidentally pushed it. I'll fix it now.

[2022-10-28 03:07] shbrief commented on #2832
@vjcitn Fixed. Let me know if you find any other issues. Thanks!

[2022-10-28 14:45] vjcitn commented on #2777
Every time I try to review, it fails.  Can you introduce some fault tolerance so that the value of the package is illustrated even if the networking fails?  Messages to the user about what happens in the ideal case?
[code]

[2022-10-28 14:55] lshep commented on #2832
@Kayla-Morrell is the assigned reviewer and will still have to review and accept

[2022-10-28 15:07] Kayla-Morrell commented on #2832
@shbrief - I still need to do a full initial review of this package (besides just a clean build report) which takes time and reviews are not the only thing that I currently work on. This is an especially busy time with the release so please be patient. I will try to get to the review by the end of the day but I do not foresee it being a part of the 3.16 release since the deadline was Wednesday.

B

[2022-10-28 15:39] jianhong commented on #2785
# Package 'Totem' Review
Thank you for submition your package to Bioconductor. The package passed check and build. However there are several things need to be fixed. Please try to answer the comments line by line when you are ready for a second review. Hope this will help you to get it done within coming release.

## The DESCRIPTION file
- [ ] R version is not clear in DESCRIPTION.

## The NAMESPA

[2022-10-28 15:50] lshep commented on #2818
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/fame2827.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-28 15:50] #2818 closed, assigned to DarioS

[2022-10-28 15:50] lshep commented on #2796
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/gkanogiannis.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-10-28 15:50] #2796 closed, assigned to hpages

[2022-10-28 15:50] lshep commented on #2791
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/sdgamboa.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-28 15:50] #2791 closed, assigned to Kayla-Morrell

[2022-10-28 15:50] lshep commented on #2783
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/devonjkohler.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-10-28 15:50] #2783 closed, assigned to PeteHaitch

[2022-10-28 15:50] LiNk-NY commented on #2793
Hi Andrzej, @aoles
Thank you for making those changes.

It is a bit unusual to have a `print` for an S4 class but I suppose it doesn't hurt to have the additional `print` functionality around.

It's more natural, I think, to coerce using the `as("class", object)` method with S4 classes. The `dimnames` can be removed with the coercion function definition. Generally, mixing syntax from both S3 and S

[2022-10-28 15:55] lshep commented on #2604
RBioFormats does not look like it will be in 3.16,  therefore SpatialOmicsOverly will also not be in 3.16 since it is a needed dependency, especially since even if RBioFormats is reviewed and accepted, we still will have to do the official review of this package.  It will be reviewed and included in the next release (3.17) and will be findable in Bioconductor devel until the spring release.

[2022-10-28 21:12] aubreyodom opened #2844 "MetaScope"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/compbiomed/MetaScope

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the

[2022-10-28 23:43] na396 commented on #2840
Hi @lshep
I was wondering if you have seen my previous message?

[2022-10-29 14:57] ywhsiao opened #2845 "(inactive) ceRNAR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ywhsiao/ceRNAR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-10-29 14:57] #2845 closed, assigned to nobody

[2022-10-29 15:08] ywhsiao opened #2846 "(inactive) ceRNAR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ywhsiao/ceRNA

Confirm the following by editing each check box to '[x]'

- [ x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x ] I have read the _Bi

[2022-10-29 15:08] #2846 closed, assigned to nobody

[2022-10-29 15:09] ywhsiao opened #2847 "(inactive) ceRNAR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ywhsiao/ceRNAR

Confirm the following by editing each check box to '[x]'

- [ x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x ] I have read the _B

[2022-10-30 18:25] anna-pacinkova commented on #2744
Thank you,

Anna

Dne st 12. 10. 2022 17:05 uživatel lshep ***@***.***> napsal:

[2022-10-31 11:28] lshep commented on #2840
You would probably want to store the results on the experiment hub to get the package down to a reasonable size. Also then users would only need to store/download the data when they were interested in running your examples rather than all the time.

[2022-10-31 11:33] vjcitn commented on #2744
I have been unable to test the package but I think the problem is a broken cache on my end.  So I have declared pre-check passed and the SPB and review can begin.

[2022-10-31 18:45] robogeno opened #2848 "SVMDO"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/robogeno/SVMDO

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-11-01 17:46] BiotechPedro commented on #2795
Hello @lazappi @lshep

I have put you in copy in a mail conversation with CRAN team for discussing about the way to move the package to Bioconductor and archiving it on CRAN.

Thank you!

[2022-11-01 20:13] quranwu commented on #2651
Hi,

We just pushed a new version in responds to the comments.

- For the unit test, we finally improved it to 82.51% overall. Some functions, such as IFAAfunc, metaData, still have lower coverage (around 60%) due to multiple if else conditions. Those conditions are for some error or warning messages, or for some arguments, such as `verbose`, which is not tested in regular tests.
- `Suggests: Bioc

[2022-11-01 22:20] snikumbh commented on #2790
Hi @lshep

The package looks good to go. Thanks for your patience all along.
I also understand that the release week will be busy, so no hurry.

Best,
  Sarvesh

[2022-11-02 09:13] robogeno commented on #2848
In the "About" section of SVMDO repository page, I changed Disease Related to Disease-Associated. Is it fine to change it or do I have to wait for the moderation?

[2022-11-02 09:15] robogeno commented on #2848
In the "About" section of SVMDO repository page, I changed Disease Related to Disease-Associated. Is it fine to change it or do I have to wait for the moderation?

[2022-11-02 09:17] vjcitn commented on #2848
You can make any changes to the repository that you like.

[2022-11-02 09:30] robogeno commented on #2848
Do I have to resubmit the package after the changes or just add what I did into the comment section?

[2022-11-02 09:55] vjcitn commented on #2789
It seems to me that "betas" should be a SummarizedExperiment rather than a bare matrix.  You could accompany the beta estimates with metadata about the experiment and about each sample.  The "getRequiredProbes" section of the vignette is peculiar to me.  No one can read the list of cgs as presented (it is nice that they are sorted) and you remark that the calculation requires even more probes than

[2022-11-02 10:57] lshep commented on #2848
@robogeno for now you please make the change in your github repo. @vjcitn may make some pre-review comment before the package is officially in review, for responses to those please make the changes in your github rep and comment back here.

Once the package passes awaiting moderation stage, a review in progress tag will appear,  and it will assigned a reviewer. At that time then you would also nee

[2022-11-02 13:11] HelenaLC commented on #2651
- Good, coverage looks much better at ≥60% for all scripts; and thanks for adding `BiocStyle` under `Suggests:`.
- Comparing the previous and current versions highlights everything as new in the vignette (see [here](https://github.com/quranwu/IFAA/commit/0949dd105eeb85cb80fda4f332a32e59cb5fab0e#diff-023d15e342a9a1e6132463d01b988fed4cf5590481fb059e6ffc05115a852856)), so I have a hard time spotting

[2022-11-02 13:13] HelenaLC commented on #2651
- Good, coverage looks much better at ≥60% for all scripts; and thanks for adding `BiocStyle` under `Suggests:`.
- Comparing the previous and current versions highlights everything as new in the vignette (see [here](https://github.com/quranwu/IFAA/commit/0949dd105eeb85cb80fda4f332a32e59cb5fab0e#diff-023d15e342a9a1e6132463d01b988fed4cf5590481fb059e6ffc05115a852856)), so I have a hard time spotting

[2022-11-02 13:17] lshep commented on #2651
Yes before we add to our daily builder the package must be removed from CRAN.

[2022-11-02 14:50] RC-88 opened #2849 "(inactive) CaDrA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/montilab/CaDrA

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bio

[2022-11-02 14:50] #2849 closed, assigned to nobody

[2022-11-02 14:58] RC-88 opened #2850 "CaDrA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/montilab/CaDrA

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Bio

[2022-11-02 15:12] LiNk-NY commented on #2707
Hi @jokergoo
Shouldn't this use the UniProt API rather than a static file in the package?
Best,
Marcel

[2022-11-02 16:30] lshep commented on #2651
After discussion with CRAN we decided we will process the package so there is no downtime of package availability to users. Once available on Bioconductor, CRAN should be notified to archive.  I will process packages later this week or early next as we are in the middle of the Bioconductor release.

[2022-11-02 17:23] Danis102 commented on #2275
Dear Jianhong
(please forgive me if I got the name wrong),

We have now completed the revision of our package following the recommendations in your review comments to the best of our ability. It seems, our package has passed on the Linux, Mac and Window servers. While most of the issues have been resolved there are a few that remain. Those issues, however, we are unable to resolve further without

[2022-11-02 18:01] quranwu commented on #2651
Hi,

Thanks for accepting our package. Just want to make sure that, once our package is posted on Bioconductor, should we contact CRAN to remove package from CRAN, or it will be archived automatically? Thanks.

Quran

[2022-11-02 18:04] lshep commented on #2651
You should reach out to CRAN; it will not be done automatically

[2022-11-03 02:46] PeteHaitch commented on #2815
I'll return to reviewing packages now that the release of Bioconductor 3.16 is done.
However, I also have a Masters thesis to review and abstracts for BioC Asia to review, both with deadlines next week, so I'm afraid I won't be able to start my package reviews until those commitments are behind me.
Thanks for your patience.

[2022-11-03 02:46] PeteHaitch commented on #2738
I'll return to reviewing packages now that the release of Bioconductor 3.16 is done.
However, I also have a Masters thesis to review and abstracts for BioC Asia to review, both with deadlines next week, so I'm afraid I won't be able to start my package reviews until those commitments are behind me.
Thanks for your patience.

[2022-11-03 11:37] jokergoo commented on #2707
Hi Marcel, I think the API is only convenient for getting record for e.g. single protein/gene?

[2022-11-03 12:12] robogeno commented on #2848
I added bug report link to the DESCRIPTION file and mentioned this update in the NEWS.md file

[2022-11-03 12:21] jokergoo commented on #2777
[code]

I can see the timeout limit on your machine is only 10 seconds. I guess it relates to which biomart mirror to use. As far as I have checked, the useast mirror has a timeout limit of 10 seconds and uswest mirror has a timeout limit of 5min.

The vignette "biomart.Rmd" has nothing related to the functionalities of the **BioMartGOGeneSets** package. It is just a demonstration of how the data

[2022-11-03 12:41] jokergoo commented on #2777
The error was a false positive:

[code]

I've already subscribed the bioc-devel mailing list.

[2022-11-03 12:44] lshep commented on #2777
I can confirm user is subscribed to mailing list.

[2022-11-03 13:12] robogeno commented on #2848
- I changed name of vignette to vignettes due to dissapearing from the installed package
- I changed the numbering of sections in the SVMDO_guide.Rmd file
- I added two new examples about calling SVMDO GUI to the example section in the R script
- All updates were mentioned in the NEWS.md file

[2022-11-03 18:55] LiNk-NY commented on #2707
You can get the table with the URL that they provide on the website:
E.g., (with pagination)

https://rest.uniprot.org/keywords/search?compressed=true&fields=id%2Cname%2Ccategory%2Cgene_ontologies&format=tsv&query=%28%2A%29&size=500

[2022-11-03 21:16] tycheleturner opened #2851 "(inactive) acorn"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TNTurnerLab/acorn

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-11-03 21:16] #2851 closed, assigned to nobody

[2022-11-03 21:21] tycheleturner commented on #2851
version is updated now

[2022-11-03 21:24] tycheleturner opened #2852 "(inactive) acorn"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TNTurnerLab/acorn

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-11-03 21:24] #2852 closed, assigned to nobody

[2022-11-03 21:33] tycheleturner opened #2853 "(inactive) acorn"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TNTurnerLab/acorn

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-11-04 14:48] ococrook commented on #2800
Thanks Fabricio, I'm happy to accept the package after a tiny fix. Could you update the `NEWS.md` file so it matches the Desciption file?

[2022-11-04 21:09] quranwu commented on #2651
Hi,

I got a new question regarding the R version on the depends. Right now I put `R (>= 4.2.0)` as `Depends` in the description file, but after discussing with our lab, they suggest that if we could change it to `R (>= 4.0.0)` since many people are not using the latest R, and also some clusters are using old R versions. When I make this change, biocheck will give a new note saying the R version i

[2022-11-05 11:27] almeidasilvaf commented on #2800
Hi, @ococrook

Done.

[2022-11-05 22:38] robogeno commented on #2848
- I updated spelling in README.md, SVMDO_guide.Rmd and DESCRIPTION files
- This update was mentioned in the NEWS.md file

[2022-11-07 13:52] lshep commented on #2651
You package will be released under Bioconductor 3.16 which is only compatible with 4.2.0 and not previous versions of R.  We suggest keep a different github branch with a lower version number that you could point users with older versions of R.  And your previous package versions that are released under CRAN should be compatible with the older version of R.  We would strongly urge to keep the 4.2.

[2022-11-07 17:23] lshep commented on #2795
@lazappi  per the email conversation we will ingest first and then remove from CRAN.  If the package is ready otherwise please update labels appropriately.

[2022-11-08 08:21] xiangpin commented on #1550
Hello, everyone
 I was pushing a patch version to `Bioconductor`, but some issues (the following) were generated. To solve the problem, what do I need to do?

[code]

[2022-11-08 12:24] lshep commented on #1550
This has been reported in multiple threads.  We are investigating the issue.

[2022-11-08 15:33] lshep commented on #1550
Please try again; the issue should be resolved. If you didn't do so already don't forget to pull from git.bioconductor.org to get the version bump changes from the release and resolve any merge conflicts in the DESCRIPTION.

[2022-11-08 18:10] margothenry opened #2854 "(inactive) PloidyPeaks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/margothenry/PloidyPeaks

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-11-08 18:10] #2854 closed, assigned to nobody

[2022-11-08 18:45] margothenry opened #2855 "ploidyPeaks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/margothenry/PloidyPeaks

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-11-09 06:20] chywang17 commented on #2834
Hi @vjcitn , I have updated VSOLassoBag for 22 days ago, please let us know if our package passed pre-check. I'm looking forward to your reply soon.

[2022-11-09 07:56] xiangpin commented on #1550
Ok, thank you.

[2022-11-09 14:11] lshep commented on #2800
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/almeidasilvaf.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2022-11-09 14:11] #2800 closed, assigned to ococrook

[2022-11-09 14:11] lshep commented on #2795
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/BiotechPedro.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-11-09 14:11] #2795 closed, assigned to lazappi

[2022-11-09 14:11] lshep commented on #2651
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/quranwu.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-11-09 14:11] #2651 closed, assigned to HelenaLC

[2022-11-09 17:28] anna-pacinkova commented on #2744
Hello,
I have removed the .gitignore file and added IntOMICS to my watched tags. Hope everything is OK. The new version 0.99.2 is pushed to the GitHub repo right now. I am not sure if git@git.bioconductor.org:packages/IntOMICS is active right now.

[2022-11-09 17:33] lshep commented on #2744
yes git.bioconductor.org is active and you will need to push the changes with a valid version bump there.  Remember to activate your Bioconductor Git Credentials account as described in the previous comment

[2022-11-09 17:36] anna-pacinkova commented on #2744
Yes, it was active. I am sorry, I didn't add 'main:master' :)

[2022-11-09 21:13] shbrief commented on #2832
@Kayla-Morrell Do you know when you would have time to review this package? I haven't heard anything for a while and just want to make sure I didn't miss any communication. Thanks! - Sehyun

[2022-11-09 22:29] yeyuan98 opened #2856 "(inactive) edgeCounter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yeyuan98/edgeCounter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-11-10 03:50] Pitithat-pu opened #2857 "cfdnakit package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Pitithat-pu/cfdnakit

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read th

[2022-11-10 09:18] anna-pacinkova commented on #2744
I am still getting an error from BiocCheckGitClone('IntOMICS'): ERROR: System files found that should not be Git tracked. IntOMICS.Rproj
I have already removed .Rbuildignore and .gitignore files and I am not able to find the bug. Could you, please, help me with this issue?
Thank you, Anna

[2022-11-10 10:31] j0ntt commented on #2785
Hi, can you explain what is the difference between comments that are labeled as notes and those that are important? Since the new Bioconductor version is available, I suppose I need to make changes to my package so that it supports the new Bioconductor version?

[2022-11-10 11:24] jianhong commented on #2785
Important: must be discussed or resolved Note: need to be improved but not required Best!Your sincerely,Jianhong OuOn Nov 10, 2022, at 5:31 AM, Johannes Smolander ***@***.***> wrote:﻿
Hi, can you explain what is the difference between comments that are labeled as notes and those that are important? Since the new Bioconductor version is available, I suppose I need to make changes to my package so t

[2022-11-10 12:21] lshep commented on #2744
you would have to remove it from git itself with `git rm .IntOMICS.Rproj` and do a git commit for it to not be tracked -- than re-establish it when the .gitignore file is active

[2022-11-10 20:05] CPRyan commented on #2789
@vjcitn Done.

1. Matrix now come from SummarizedExperiment object with colData for sample and assay info.
2. The getRequiredProbes is now explained in more detail in the vignette and help file.
3. The utility of getRequiredProbes has now been clarified. There are two options - one includes the backgroundList, which includes roughly 20k probes used for normalization. The other includes only the 17

[2022-11-10 20:19] vjcitn commented on #2789
Do not close issues on contributions unless you are withdrawing the submission.

[2022-11-10 20:22] vjcitn commented on #2789
Vignette has
[code]
but you can't have a Data folder under vignettes.  Please use the data() command with proper installation of the data according to Writing R Extensions.

[2022-11-10 21:13] CPRyan commented on #2789
@vjcitn

Done. Data can now be loaded using `data('example_betas')`.

[2022-11-11 13:26] lazappi commented on #2835
Hi @almeidasilvaf

Thanks for submitting **planttfhunter** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses. You can use

[2022-11-12 12:56] vjcitn commented on #2853
fails BiocCheck, multiple biocViews fields in DESCRIPTION; noted on issue at source repo

[2022-11-12 13:06] vjcitn commented on #2810
Thanks.  Please have a look at https://www.bioconductor.org/packages/release/BiocViews.html#___AlternativeSplicing and consider how some of these packages use standard data structures in Bioconductor to accomplish their aims.

[2022-11-12 15:28] vjcitn commented on #2847
RJAMI is not in CRAN and not in Bioconductor. Bioconductor packages cannot depend/import/link to github-only packages.  Please let us know how you'd like to proceed.

[2022-11-12 15:32] vjcitn commented on #2857
[code]
you have a local file reference.  please run R CMD check on your package on a "clean" system to find these problems before submitting.

[2022-11-12 15:35] vjcitn commented on #2789
No.  You used "Data" to name your data folder.  This is nonconformant with R Package format.  Please ensure the folder is named in lower case in your git repo.

[2022-11-12 15:37] vjcitn commented on #2838
[code]
Please attend to this.

[2022-11-12 15:45] vjcitn commented on #2856
[code]
so you can't use ensembldb::disjointExons ... try GenomicFeatures

[code]

[2022-11-12 16:03] vjcitn commented on #2844
I just noticed this while checking package:
[code]
are these resources being cached for the user?  It doesn't seem so, BiocFileCache is not employed.  I'd ask @lshep and @lwaldron to have a look at this package to avoid duplication with curatedMetagenomicData and to ensure caching and AnnotationHub are being used effectively.  Thanks for your submission!

[2022-11-12 16:13] vjcitn commented on #2799
I'd suggest you look at your vignettes, which do not use BiocStyle, and compare them to others in the ecosystem. The early screens of NSCLC-clustering-SingleCellExperiment-vignette.html are dominated by loading messages and data dumps, and
[code]
isn't indicative of a user-friendly procedure. Can you have plot methods with reasonable defaults that are callable with concise code?

[2022-11-12 16:27] vjcitn commented on #2843
Thanks for this submission.  I see that no Bioconductor data structures are used; what is the motivation for including it in the Bioconductor ecosystem?  Perhaps users could benefit from use of GenomicFiles or FaFiles ...
This sequence in your vignette
[code]
seems to be too complex, some class to manage the various features and class types should be introduced.  Also there seem to be words missin

[2022-11-12 16:28] vjcitn commented on #2855
Thanks for your submission.  Unfortunately xpectr was removed from CRAN and you cannot depend on it.  Please consider other approaches.

[2022-11-12 16:38] vjcitn commented on #2848
[code]
did you run R CMD check on the github repo?

[2022-11-12 16:52] robogeno commented on #2848
Yes I did, I only received an error and a warning about pdf manual because
I could not install mktex properly.

***@***.*** MINGW64 /c/Users/Erhan/OneDrive/Belgeler/Github
$ R CMD check SVMDO_0.99.0.tar.gz
* using log directory 'C:/Users/Erhan/OneDrive/Belgeler/GitHub/SVMDO.Rcheck'
* using R version 4.2.1 (2022-06-23 ucrt)
* using platform: x86_64-w64-mingw32 (64-bit)
* using session charset: UTF-

[2022-11-12 17:05] robogeno commented on #2848
@vjcitn I have reuploaded my test folder

Erhan özer ***@***.***>, 12 Kas 2022 Cmt, 19:52 tarihinde şunu
yazdı:

[2022-11-12 17:29] aubreyodom commented on #2844
Hi @vjcitn , thanks for taking a look. I did not implement caching. I'll read more about BiocFileCache and see if I can implement it into my package. If you have any specific tips on usage as it relates to the temporary folders that I use for the examples in this package, I would appreciate hearing them.

[2022-11-12 17:38] aubreyodom commented on #2844
I should also note -- there's no temporary files being created when the user is actually running the functions; they are directly downloaded to the user's directory of choice, as specified by the `out_dir` parameter in the case of the `download_refseq()` function. I implemented temporary folders for all examples and the vignette as the nature of the  package does involve constant writing of interm

[2022-11-12 17:53] yeyuan98 commented on #2856
Thanks a lot for your feedback. I think this error comes from the existing ChIPpeakAnno package. Just opened an issue to hopefully help fix that soon. Will update asap.

https://github.com/jianhong/ChIPpeakAnno/issues/21

[2022-11-13 00:10] robogeno commented on #2848
Good night [@vjcitn](https://github.com/vjcitn),

I have found and fixed a bug in one of the test scripts.
I do not observe error in survival analysis anymore.

[2022-11-13 12:03] vjcitn commented on #2848
I used the updated code and the problem persisted.  But there are more serious problems.
[code]
this indicates that your package has written a file into my HOME folder.  This is not permitted.
The convention is that any new data or file production occurs in a temporary folder -- R gives you tempfile() to produce paths for new file creation.  Do not use setwd() to work with temporary data -- constr

[2022-11-13 16:09] robogeno commented on #2848
[@vjcitn](https://github.com/vjcitn), I have combined the test processes into a single file and got rid of the output file dependency in the code steps except the external files.  I also erased the  setwd(Sys.getenv("HOME")). Now all of the output files are written into a temporary file which is created by R CMD check process.

I do not receive any error.

[2022-11-13 19:12] vjcitn commented on #2848
Thanks for being so responsive.  I've now checked your package and looked a little more closely at it.  I am going to mark it "needs interop" because it is using files to manage information instead of using relevant Bioconductor classes like SummarizedExperiment.  The use of tcltk to provide a GUI is somewhat outmoded, shiny is used to produce most GUIs in bioconductor.  You could use the tcltk GU

[2022-11-14 09:57] almeidasilvaf commented on #2835
Hi, @lazappi

Thank you for your time to review this package. Here are my replies to each of your points.

Done. I included more details on how this package interoperates with other Bioconductor packages.

Not applicable.

That was actually a mistake I made in the vignette. The only function that requires HMMER is `annotate_pfam()`, and this was already indicated in the vignette. There was an if s

[2022-11-14 12:10] Pitithat-pu commented on #2857
@vjcitn Thanks for warning. I have fixed this issue and push changes into my Git repo.

[2022-11-14 12:24] lyoussar commented on #2718
Any update?

[2022-11-14 15:13] Kayla-Morrell commented on #2832
@shbrief - Sorry for the delay, with the release and being out sick last week I'm a bit behind. I will work on getting a review posted early this week.

[2022-11-14 15:42] CPRyan commented on #2789
Folder name Data/ changed to lowercase data/

[2022-11-14 19:32] robogeno commented on #2848
Our algorithm uses fpkm/rpkm normalized RNA-Seq datasets. I did not see these normalization forms in curatedTCGAdata package. Is it ok if I use TCGAbiolinks instead?

[2022-11-14 19:43] snikumbh commented on #2790
Hi @lshep
Just wanted to ask when you will have time to review this package, so that I can plan around it.

Thanks. Appreciate all your help.

[2022-11-14 20:07] vjcitn commented on #2848
You can obtain data from TCGAbiolinks but please ensure that a) the user/package builder does not need to do the downloads (e.g., do it, downsample, and serialize in your package or in an ExperimentHubData package), b) you are working with SummarizedExperiment or similar data structures as much as possible.

[2022-11-15 00:53] mooredf22 commented on #2541
Just so you know, I am still working through the issues.

[2022-11-15 09:00] HelenaLC commented on #2718
My apologies, I have been quite unsure how to respond/proceed. Perhaps you could help clarify. You stated that `rifiComparative` is a successor to `rifi`. Does this mean the latter will be deprecated? If not, I do not understand why there would be a near copy-paste of functions between both packages, with i) some minor differences; ii) documentation scattered across different places; and, iii) unc

[2022-11-15 13:20] ywhsiao commented on #2847
Hi Vince,

We've decided to discard this package for that reason (have explained that
in the vignettes), and I've updated the code on my GitHub.

Please let me know if there is any issue with this package.

Thank you!

Best regards,
Yi-wen

Vince Carey ***@***.***> 於 2022年11月13日 週日 凌晨2:28寫道：

[2022-11-15 16:31] Kayla-Morrell commented on #2832
@shbrief - I still cannot build the package locally in order to do a review. This is the error I get when trying to run R CMD build:

[code]

[2022-11-16 01:39] na396 commented on #2840
@lshep
Thank you for the message. I have a quick question,. When I was looking at the Bioconductor guidance, I noticed that my package size, which is 3.12 MB, is in acceptable for a Bioconductor. So my question is do I still need to use experiment hub.  I also have one more question, is there anything I need to do for further steps? Will my package evaluate for the Bioconductor open source?
Thank

[2022-11-16 05:00] DarioS commented on #2797
The issues identified by Vincent still apply. In addition,

- The package needs conform to Bioconductor [coding style](https://contributions.bioconductor.org/r-code.html). `camelCase` instead of `snake_case`. Don't use `=` for variable assignment but `<-`. Use spaces around assignment operators and after commas. In most cases, don't use `for` loops but `vapply` or `lapply`.
- Phyogenetic trees can

[2022-11-16 12:37] lshep commented on #2790
Sorry for the delay - I'll try to get to a review before the end of hte week

[2022-11-16 18:55] labinfo-lncc commented on #2843
Dear, Vince Carey

Thank you for reviewing our package.

The mnmer package was created to provide a quick and easy approach to generate (m,n)-mers, a novel feature extraction technique (Paper in press). We opted to have a few dependencies so that our functions would not fail in the future (low coupling). We wrote the main code in C++ in order to operate faster with huge FASTA files. Therefore, we

[2022-11-16 18:56] labinfo-lncc commented on #2843
Dear, Vince Carey

Thank you for reviewing our package.

The mnmer package was created to provide a quick and easy approach to generate (m,n)-mers, a novel feature extraction technique (Paper in press). We opted to have a few dependencies so that our functions would not fail in the future (low coupling). We wrote the main code in C++ in order to operate faster with huge FASTA files. Therefore, we

[2022-11-16 23:46] lshep commented on #2840
You need to get the package to not TIMEOUT.  Please push any changes to see how the package runs on the system.  I suggested ExperimentHub; looking back I misread your comment I thought you said in order to get the package to run that you were over the 5 MB limit so no ExperimentHub is not necessary.

[2022-11-16 23:48] lshep commented on #2766
Is the package ready for a re-review?  If so could you please comment on what changes you have made?

[2022-11-17 01:56] na396 commented on #2840
@lshep
The timeout problem is resolved, and I have pushed the changed. And I this everything is ready.

[2022-11-17 02:02] lshep commented on #2840
Please push changes to git.bioconductor.org with a version bump.  You need to trigger a new build.  See https://github.com/Bioconductor/Contributions/issues/2840#issuecomment-1280774435

[2022-11-17 02:03] na396 commented on #2840
Ok, will do soon, thanks

[2022-11-17 11:12] vjcitn commented on #2843
Thanks for your note.  You are not taking advantage of existing Bioconductor infrastructure.  The Biostrings package has efficient self-describing representations of FASTA data:
[code]
k-mer distributions are computed using oligonucleotideFrequency.  You have a nice vignette so I will pass pre-check but in review you will likely have to take advantage of Bioconductor infrastructure to achieve some

[2022-11-17 11:13] vjcitn commented on #2843
Using "inputParameter1" as a variable name in mnmer is not advisable.  Use variable names that have semantic value.

[2022-11-17 11:27] vjcitn commented on #2857
The vignette should have an introductory paragraph describing the scientific role of the software and should indicate how Bioconductor resources help in achieving the aims of the package.  It should use BiocStyle for rendering.

[2022-11-17 11:30] vjcitn commented on #2847
Thank you.  I attempted to check the package from source and encountered:
[code]
The vignette produces too many messages, hundreds of lines like those above and
[code]
Please use message and verbosity control and correct the error.

[2022-11-17 11:32] vjcitn commented on #2789
Are you running R CMD check in a clean system?
[code]

[2022-11-17 11:40] vjcitn commented on #2844
Even though the package passes the linux builder, the checking of the package redownloads material each run because BiocFileCache is not used.  If the genomes obtained are of general interest, consider an AnnotationHubData contribution that helps define provenance and increases convenience of access to these genomes.  @lshep can give pointers; I was surprised that AnnotationHub only has records fo

[2022-11-17 13:16] jillbo1000 commented on #2766
Ishep,

Sorry about that. It is ready to be re-reviewed and here is a list of the
changes made:

*doc*

·   What is the reasoning for providing the workflow documents in doc
instead
of as an official vignette? I would suggest removing this

Folder deleted

*inst/*

·   Please include an inst/script that describes how the data in
inst/extdata was generated. A user should get an idea of how to recre

[2022-11-17 14:38] lshep commented on #2790
Please remove or populate the currently empty README.md

I am unable to run the code in the vignette. When I work through the code that is shown to a rendered vignette I get the following ERROR in section 3.1.2
[code]

[2022-11-17 15:28] snikumbh commented on #2790
OK. This error in running line 312 is anticipated (and reproduced) if/when line number 226 is not run (previous chunk) which is not shown to the user.

I have changed the vignette to include that part into the chunk that is visible to the user with a clear note in the comment.

[2022-11-17 16:12] snikumbh commented on #2790
Done. I have made the necessary changes (moved that code to the visible chunk). Removed the empty README.md as well.

[2022-11-17 22:48] hpages commented on #2732
Hi @pamelarussell , are you planning to follow up on this submission? Thanks

[2022-11-18 02:57] na396 commented on #2840
@lshep
Sorry for keep asking question. I just checked my package, and noticed that the package directory size is 3.2 MB, while its installed size is 7.1 MB. Do I need to use the ExperimentHub?
Thank you in advance

[2022-11-18 05:33] na396 commented on #2840
@lshep
Many many thanks, space, and time are resolved. I have bumped the version and pushed the changes. Everything is ready now, please let me know if I need to do any step.
Thank you so much

[2022-11-18 12:02] pamelarussell commented on #2732
Hi @hpages, thanks for following up. The remainder of the project is being managed by @tfenne and @nh13 as I have moved on to a new role. I'm happy to continue to answer questions here.

[2022-11-18 16:03] nh13 commented on #2732
CC: @arq5x

[2022-11-19 01:25] na396 commented on #2840
@lshep
Pushed another.
Thanks

[2022-11-20 13:49] nilseling commented on #2744
Hi @anna-pacinkova,

thanks for submitting the `IntOMICS` package.
All checks pass and the structure looks good. However, there are a couple of things that need to be clarified/adapted.
Most comments relate to coding style and infrastructure, so please feel free to disagree and explain your design choice.
When revising the package, please respond point-by-point to indicate which of my comments wer

[2022-11-21 11:58] ococrook commented on #2758
Hi @lauravongoc

I hope to look at this week, thank you for removing the warnings.

Best wishes,
Olly

[2022-11-21 15:15] Danis102 commented on #2275
Dear Jianhong,
This is a gentle reminder of the resubmission of our package, Seqpac. A few weeks ago, we bumped a new version of Seqpac that we believe would meet all remaining issues.  The few notes that still remains are commented in the attached pdf.  We are currently in revision with a manuscript in Bioinformatics (journal), that will present Seqpac for a wider audience. Several reviewers requ

[2022-11-21 15:50] margothenry commented on #2855
Hello,
I believe xpectr was readied to CRAN.  https://cran.r-project.org/web/packages/xpectr/xpectr.pdf

[2022-11-21 17:30] jianhong commented on #2275
# Package 'seqpac' Review
The package passed check and build. However the package still need to be improved. Please try to answer the comments line by line when you are ready for a second review. Please make sure cover all the review comments. Otherwise it will take another round of review. And I did not see any attachment of pdf for last revise. Maybe I missed something.

## General package devel

[2022-11-21 22:25] PeteHaitch commented on #2815
Hi @ycao6928 and @nick-robo,

Apologies for the delay, but I'm finally back to having time to review BioC packages.

Unfortunately, **scFeatures** isn't building on BioC 3.17 (devel branch) due to the **classifyR** dependency being unavailable (see the [build report for **ClassifyR**](https://bioconductor.org/checkResults/devel/bioc-LATEST/ClassifyR/)).
I'm also unable to build **ClassifyR** on my

[2022-11-21 22:27] PeteHaitch commented on #2815
@ycao6928 and @nick-robo: would you also please clarify who is maintainer of **scFeatures** and taking responsibility for the review (this should be the same person).
Thanks!

[2022-11-22 03:10] PeteHaitch commented on #2738
Hi @gartician,

Thank you making the changes to **CITEViz** following the pre-review comments.
The interoperability with *SingleCellExperiment* requirement is great to have and, overall, I now find the app much simpler to try out and use.

For acceptance into Bioconductor, there are a number of Required points, as well as Recommended points, that I would ask you to first please address.
Would you

[2022-11-22 04:01] ycao6928 commented on #2815
Hi @PeteHaitch, many thanks for the suggestion! We will move classifyR to suggested dependency.
I am the maintainer and taking responsibility of the review.

[2022-11-22 06:05] nick-robo commented on #2815
@PeteHaitch I am just helping out with getting things working :)

Got a new version that builds! Not sure about the warning, `effectiveLibSizes` is not mentioned anywhere in the project.

[2022-11-22 10:28] Danis102 commented on #2275
Dear Jianhong,
That is very strange, that you cannot find an attached pdf. I double ckecked and it was included in the original email that was sent immediately following our latest  bumb, as well as in the our gentle request for a an update that was sent yesterday. Maybe your email server removes certain kind of attachments or you search the wrong email. Nonetheless, to this email I have attached

[2022-11-22 11:03] vjcitn commented on #2847
Are the next steps clear?

[2022-11-22 11:21] vjcitn commented on #2856
In vignette I am seeing
[code]

[2022-11-22 11:38] vjcitn commented on #2855
Your package tarball is 13MB when built.  It has to be no larger than 5MB in .tar.gz format.  You have lots of fcs files.  You'll have to make an ExperimentData or ExperimentHubData package and then depend on that.  See http://contributions.bioconductor.org/data.html   ; see http://contributions.bioconductor.org/general.html 3.2.5 for the size condition.

[2022-11-22 13:40] jianhong commented on #2275
This review process will not receive attachment as normal email. You can insert hyperlink of online resources.  Forget the `cat` issue and please go ahead to address the other issues.

Jianhong.

[2022-11-22 14:50] linxy29 opened #2858 "DCATS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/holab-hku/DCATS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-11-22 17:54] shbrief commented on #2832
It seems like the gcloud enviroment of your local machine is misconfigured - the package is building on the build system and because the build system does not have gcloud installed so no code chunks will be evaluated. Is there a reason you try to build this locally? Could you use the build system instead? Also, just to confirm the configuration issue, could you tell me the output for the following

[2022-11-22 21:56] PeteHaitch commented on #2815
I believe the warnings regarding `effectiveLibrarySizes` is coming from recent/in-progress changes to **edgeR**:

- https://bioconductor.org/packages/devel/bioc/news/edgeR/NEWS
- https://code.bioconductor.org/browse/edgeR/commits/master

We prefer to review a package that is passing without any warnings or errors on the build report, so please try to resolve these first.
If you're having trouble r

[2022-11-22 23:22] nick-robo commented on #2815
I might be wrong, but it seems like the problem is upstream.

`edgeR` is not used anywhere in `scFeatures`, but it is imported by dependency of a core dependency. It is not declared in `scFeatures`' namespace, so the warning (`declared in NAMESPACE but not found`) cannot be related to us.

[code]

Additionally, I cannot replicate the warning in a local build on a Linux system (all my packages are

[2022-11-23 00:35] PeteHaitch commented on #2815
Okay, I'll test on my macbook tomorrow.

[2022-11-23 09:50] jorainer opened #2859 "MsBackendSql package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/RforMassSpectrometry/MsBackendSql

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I h

[2022-11-23 10:25] Danis102 commented on #2275
Dear Jianhong,
Our package was successfully built and tested on all three platforms. We hope that all remaining issues has now been fixed, and Seqpac can proceed in becoming a full member of Bioconductor. Please indicate as soon as possible if this is not the case. As we indicated before, we are currently in review with an article in Bioinformatics in which several reviewers demand that Seqpac is

[2022-11-23 13:43] lazappi commented on #2835
This looks good from my point to view now. The only reason I haven't marked this as accepted is because of the `dev/` directory. I know this has been discussed before (and personally I think it's fine) but I think the official position is still that these shouldn't be included so I would like to hear from @Bioconductor/core on whether this is ok or not.

[2022-11-23 13:59] phauchamps commented on #2838
Hi Vince,

The problem above was due to a change in the `openCyto` package, from which the previously exported `gate_tail()` function was removed, without any prior notice :-( Therefore I removed this dependency from the CytoPipeline package, and replaced it by another function.

However, there is still another dependency that prevents my `CytoPipeline` package from checking correctly, in the runE

[2022-11-24 03:41] PeteHaitch commented on #2738
Sorry, I previously forgot to include some **Recommended** points and have just added them to the above list.

[2022-11-26 14:40] anna-pacinkova commented on #2744
Hello, I am having troubles with html vignette output when combining ggplots into one figure.
If I run code chunks, everything is fine. Once I want to generate HTML output, I get an error.

rn <- ggraph(weighted_net_res$net_weighted, layout = 'dh') +
  geom_edge_link(aes(end_cap = circle(node2.degree + 7, "pt"),
                     edge_color = edge, label = weight),
                 label_size =

[2022-11-26 14:50] vjcitn commented on #2744
what is the error report and value of sessionInfo() after error?  thanks

[2022-11-26 14:56] anna-pacinkova commented on #2744
Error report: 'Unknown colour name: PK'

FYI: example of edge input is edge=c("PK","new","new","PK")

sessionInfo()

R version 4.2.1 (2022-06-23)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.5 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/blas/libblas.so.3.9.0
LAPACK: /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3.9.0

locale:
 [1] LC_CTYPE=en_AU.UTF-8

[2022-11-26 17:39] sandmanns opened #2860 "clevRvis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sandmanns/clevRvis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-11-26 22:22] vjcitn commented on #2744
Your package is on the devel branch and you have to use R 4.3 to test it.  Don't mix devel and release packages.  Use BiocManager::valid() and ensure it returns TRUE.  See http://contributions.bioconductor.org/use-devel.html#use-devel .

[2022-11-27 10:23] lyoussar commented on #2718
I will try this time to be explicit and I hope I can clarify the idea.
rifi package was developed with X functions. rifiComparative compares the outputs of rifi using XX functions. Both packages have different functions but share one important approach which is genome segmentation using one algorithm. This algorithm was developed by us spending quite a long time to make it efficient computationall

[2022-11-27 12:50] HelenaLC commented on #2799
Hey there, as it's been 2 weeks, just a note in case this wasn't clear: We usually don't start formal review until there's a clean (warning- and error-free) build on on the Bioc system (see report above). If you have any questions regarding current issues, feel free to ask/discuss here.

[2022-11-27 16:12] lgatto commented on #2776
Following up from your previous replies, yes, I think the update in
the vignette where you combine the `Spectra` first is nice and clean.

## General package development

- Please add `.github` to a `.Rbuildignore` file so that it doesn't
  end up in the package tar file.

## The DESCRIPTION file

Here are a couple of notes from `BiocCheck` that you might want to
address:

- The Description field

[2022-11-27 18:22] nilseling commented on #2744
Hi @anna-pacinkova

could you please point me to the code chunk in your vignette on Github so that I can have a look?

[2022-11-27 18:28] anna-pacinkova commented on #2744
Hi @nilseling, code chunk starting at line 494 (https://github.com/anna-pacinkova/IntOMICS/blob/main/vignettes/IntOMICS_vignette.Rmd), plot_grid(rn, leg, ncol = 1, rel_heights = c(3, 1)).

[2022-11-28 12:53] lshep commented on #2838
Jumping in here:  I would say feel free to reach out to the maintainer of ggcyto yourself.  We will as well but it is always helpful and sometime knowing someone in the community is waiting on you to fix the issue is an extra motivator to make quick changes.
you should push changes still to your repo: https://github.com/UCLouvain-CBIO/CytoPipeline  .  the package is still in pre-review phase.  onc

[2022-11-28 13:08] lshep commented on #2835
Yes it is okay. If you are comfortable please accept.

[2022-11-28 13:18] phauchamps commented on #2838
Thanks Lori.
I have posted an issue on ggcyto repo. It is being handled by Mike Jiang. I will let you know when I have pushed a working version again.
Kind regards, Philippe

[2022-11-28 15:20] Kayla-Morrell commented on #2832
@shbrief - Part of the review process is for the reviewer to be able to build and check the package locally. The build system may not have gcloud installed but my local system does and this may be the case for other users. This was my initial result of the code you posted:
[code]
My cloud environment must have been overwritten from an early attempt at building your package. I reset my cloud enviro

[2022-11-28 17:26] robogeno commented on #2848
Good night [@vjcitn](https://github.com/vjcitn),

Due to the illness, I could not write anything earlier.

I have added separate  sections of algorithm into the package. Now whole or  separate analyses can be applied. To apply separate analyses in different times, the user can save the variables in the workspace.

The recent form of algorithm does not use the output files. It creates variables in

[2022-11-28 21:35] shbrief commented on #2832
@Kayla-Morrell Thanks for trying it out again. Martin could successfully build it locally, so I'm not completely sure what causes the error in your local machine. I updated a few things that can potentially solve the problem. Could you take a look at it now? Thanks!

[2022-11-29 00:39] rx-li opened #2861 "partCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rx-li/partCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2022-11-29 00:48] vjcitn commented on #2848
Thanks for your revisions.  You are not using SummarizedExperiment to organize the molecular and clinical data, and the tcltk approach does not fit with Bioconductor at this time.  I will close the issue; I think you may be better off distributing your package in another way.  Study the contributions.bioconductor.org and if you make revisions that are consistent with the guidelines, reopen the iss

[2022-11-29 01:13] arorarshi commented on #2829
Hi. Thanks for getting back to me. I am now going through the report and fixing the errors. Thanks!

[2022-11-29 10:04] nilseling commented on #2744
Hi @anna-pacinkova

you would need to add `library(ggraph)` to the code chunk where you generate the plot

[2022-11-29 13:52] tnaake commented on #2776
Dear @lgatto,

many thanks again for the review! I have gone through your points and changed the package accordingly. Please see here for my responses:

- **.github**: added to `.Rbuildignore`
- **Description** in `DESCRIPTION`: I have extended the description.
- **License** in `DESCRIPTION`: changed to `GPL-3`.
- **R version** in `DESCRIPTION`: dependency bumped to 4.2.0.
- **BugReports** and **U

[2022-11-29 13:58] anna-pacinkova commented on #2744
Thank @nilseling very much! :+1:

[2022-11-29 14:15] Kayla-Morrell commented on #2832
@shbrief - There is one minor change that I had to make to the vignette code in order to get the package to build. On line 302 of the vignette I had to change `tibble::tibble` to `tibble::tibble()` so that it was an actual function call. Now that the package builds locally I can move forward with the review. I'll have it posted in the next couple of days.

Best,
Kayla

[2022-11-30 05:15] bphipson commented on #2778
Hi Ollie, thanks so much for your review and apologies for taking so long to address the comments. I just pushed the changes and fingers crossed it builds ok. We addressed all your comments except regarding the package name - we have just published the propeller paper which explicitly links to the speckle package so I would be very reluctant to change it at this stage.

I also added a section to t

[2022-11-30 09:15] huerqiang opened #2862 "GeoTcgaData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/GeoTcgaData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-11-30 09:23] ManonCoulee opened #2863 "(inactive) ChromENVEE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ManonCoulee/ChromENVEE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-11-30 09:23] #2863 closed, assigned to nobody

[2022-11-30 10:36] ManonCoulee opened #2864 "(inactive) ChromENVEE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ManonCoulee/ChromENVEE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-11-30 10:42] snikumbh commented on #2790
Hi @lshep
Just a ping to bump this up