[2021-10-08 17:54] cpanse commented on #2339
@lshep I think mono is not installed on your system.
http://bioconductor.org/packages/release/bioc/install/rawrr/INSTALL
Christian

[2021-10-08 18:01] lshep commented on #2339
I did follow the instructions suggested of `sudo apt-get install mono-runtime` that was given -- if there is more extensive installation for this package it probably should be noted somewhere to check and reference this installation file. After installing all the recommended system installation of the linux section that indeed fixed.  I will continue with a review

[2021-10-08 18:19] dzhang32 commented on #2270
Thanks a lot for your time and advice throughout the review process Marcel @LiNk-NY!

[2021-10-08 18:48] vjcitn commented on #2286
I am going to take over the review of this suite of packages.  @lazappi thanks and have a good break!

[2021-10-08 19:02] mikelove commented on #2352
@lshep thanks for your help and time in reviewing. Agree with all your points. I've removed `man-roxygen`, renamed `intro.Rmd` to `nullranges.Rmd`, and I added an initial un-evaluated chunk to explain how to find those vignettes:

https://github.com/nullranges/nullranges/blob/main/vignettes/nullranges.Rmd#L19-L24

[2021-10-08 19:35] LiNk-NY commented on #2377
Hi Zhi, @zhiiiyang

Thank you for your submission. Please see the comments below.

Best regards,
Marcel

---

# GeoDiff #2377

* Please explain how do you make use of the established Bioconductor
infrastructure in your package.
* `Biobase` is not a modern Bioconductor package and has been supplanted by `SummarizedExperiment`.
* Based on the files reviewed, it seems that `CRAN` would be more approp

[2021-10-09 01:01] NicoleEO commented on #2377
@LiNk-NY Thanks for reviewing Marcel.
GeoDiff does not have its own infrastructure, but uses an existing Bioconductor package (GeomxTools) for a version of its ingestion. For GeoMxTools and the inherited NCTools, we have a plan for future work to migrate over to SummarizedExperiment as the platform for those two packages. For GeoDiff, there are functions to use matrices as entrypoints, but we need

[2021-10-09 01:49] stemangiola commented on #2299
Thanks, I will today.

[2021-10-09 02:12] mcneilllucy commented on #2309
Great, thanks. I've removed the manually labelled section titles and example(auto_crop_fast) works now. I triggered a new build but I might keep thinking about successfully muting

function (description = "", open = "", blocking = TRUE, encoding = getOption("encoding"),
    raw = FALSE, method = getOption("url.method", "default"))
{
    .Internal(file(description, open, blocking, encoding, method,

[2021-10-09 03:39] LiNk-NY commented on #2331
Hi @ElkeDebrie

Sorry for the delay. Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# TargetDecoy #2331

* Nicely formatted and cleanly written.
* Consider removing the shiny app component of the package and making that
a standalone package.

## DESCRIPTION

* Looks good.

## NAMESPACE

* Exported functions are minimal. Consider using more descriptive names

[2021-10-09 15:09] ZhenxingGuo0015 commented on #2187
Hi @vjcitn,

I finished wrapping up TRESS and now there are no errors and warnings. Could you please take a look and continue the review process?

Thanks and best,
Zhenxing

[2021-10-09 15:22] vjcitn commented on #2285
This package is in good shape as software.  As a tool for users, I think there are some basic improvements
that should be considered.

Here's a snippet from the vignette:
[code]
It is uncommon for user code to involve multiple `$`.  Of course it can be done, but it is clumsy.

A different approach is to wrap the object/method operations in functions that
can be documented.  Here's an example:

[co

[2021-10-09 15:40] vjcitn commented on #2285
Why does the converter seem to hang with this input?
[code]

[2021-10-09 16:13] vjcitn commented on #2285
While biodbChebi was accepted, we can see that at this time it is in an error state on the build system.  Please attend to this.  @lshep

[2021-10-09 16:40] vjcitn commented on #2288
I have taken over the review of the biodb* packages to help reduce repetitive effort.  I have already raised some general questions in the biodbUniprot review, related to providing helper 'wrapper' functions.  This should be considered in this case too.  Here is an example that might be more general:
[code]
It works fine as `bdb_helper()`.  But we don't explain what the inputs could be, or validat

[2021-10-10 00:16] marouenbg commented on #2238
Hi @lshep ,
I fixed all the errors in the build, is there anything else that needs to be done?

[2021-10-10 17:19] gabrielodom commented on #2064
@lshep, I had a grant submission due to my institution's review office. @fveitz and I are back on this now.

[2021-10-11 02:30] yiluheihei commented on #2268
Hi @nturaga

I really appreciate you taking the time to review the package.

## General

- [ ] 1. `suppresswarnings()`

    - We have remove the `suppressWarnings()` in R/import-qiime2.R  (two times).
    - `suppressWarnings()` in R/lefse-utilities.R (line 168, column 14): First, the warning is stating that some variables (features) are collinear, and it is  useless to users. Seconde, it will rais

[2021-10-11 09:25] olapuentesantana commented on #2374
Hello @lshep,

I am getting the following error when trying to bump version to start a new build. I am getting this error via the command line:

[code]

I think this is because this issue entered in `awaiting moderation` tag.  Could that be the reason?

From the introductions on how to submit new builds (https://github.com/Bioconductor/Contributions#submitting-related-packages), I do not understan

[2021-10-11 15:23] cameronsevern commented on #2324
Hi @lshep. Thank you for your suggestions. I have made the changes you've recommended and am ready for re-review. Thanks again!

[2021-10-11 17:17] tdrose commented on #2252
Dear @nturaga,

I updated the package considering all points from your review:

* *appropriate messages when throwing errors in your functions or try-catch statements* -> I updated most error and try-catch messages to make it clearer
* *tests* -> I added unittest using the `testthat` package for the main functionalities
* *BiocStyle in Vignettes* -> Done
* *sessionInfo in Vignettes* -> Done

The l

[2021-10-11 17:55] nturaga commented on #2252
Issue a build report tomorrow, please. We are all off today.

[2021-10-11 18:56] hpages commented on #2342
Thanks @llrs and @kevinrue for chiming in.

@kevinrue Agree with you on the importance of exposing BiocSet thru more real world use cases and gathering feedback that will ultimately allow the container to improve and convince. Steve's work will help tremendously achieve that goal.

@lianos All is fine. I didn't realize that GeneSetDb was mostly used behind the scene and that migrating the internal

[2021-10-11 19:12] hpages commented on #2272
Thanks for fixing `pdacData`'s man page.

One more thing: please always use `<-` instead of `=` for assignment. With a space before and after the left arrow e.g.:
[code]
Thanks,
H.

[2021-10-11 20:26] hpages commented on #2284
Hi @HaniJieunKim ,

Sorry for the delay. This is not how to install a Bioconductor package:
[code]
A Bioconductor package should _always_ be installed with `BiocManager::install()`:
[code]
Please modify your vignette.

Also, direct slot access (`@`) like here:
[code]
is forbidden! Here you are looping on a GeneSetCollection object to extract the gene ids of each individual GeneSet object in the co

[2021-10-11 21:04] pkrog commented on #2285
Hi @vjcitn , thanks for your reviews and the fact that you've be assigned to my different biodb* packages.

About the `$` operator and the wrapping of the object/method operations into functions:
 * The use of R6 throughout the main biodb package impose the use of this operator. I know it is not natural for most R language users, since my colleagues, who are the main users of my libraries, had to

[2021-10-11 21:09] pkrog commented on #2285
About the call to `biodbUniprot::UniprotConn::geneSymbolToUniprotIds()`:
 * The method is slow when it has to download many entries from UniProt, each entry having to be downloaded using a single request. The limit of request to UniProt is 3 per second.
 * I have added a progress bar to this method, so the user is no more in the dark when running it.
 * When running the method a second time with t

[2021-10-11 21:11] pkrog commented on #2285
About the documentation, this is way R6 classes are documented with roxygen2. I do not think I can improve it. There is a list of the methods at the start of the help page, then each method is detailed separately.

[2021-10-11 21:21] pkrog commented on #2285
About your last point ("parameterizing activities"), I am not sure to understand.
If you are talking about factorizing code, this is the whole point of this architecture, but not only.
The main biodb package is more like a development framework. It factorizes many different aspects, but also helps to write a new extension package for implementing a connector to a database (it can generate the skel

[2021-10-11 21:34] vjcitn commented on #2285
OK, thanks for your comments.  Don't forget to push changes to git.bioconductor.org

[2021-10-11 21:39] vjcitn commented on #2285
Concerning the R6 class/method documentation see https://www.tidyverse.org/blog/2019/11/roxygen2-7-0-0/ ... I think you can introduce some helpful guidance for users following these steps.

[2021-10-11 22:00] vjcitn commented on #2234
@gongcongcong Do you intend to get this package fixed for 3.14 release?

[2021-10-12 02:04] gongcongcong commented on #2234
dear Vince,
thanks for your kind reminder!
yes, I am fixing it now. And It will be resubmitted in the next or two week

***@***.***

From: Vince Carey
Date: 2021-10-12 06:00
To: Bioconductor/Contributions
CC: Congcong Gong; Mention
Subject: Re: [Bioconductor/Contributions] mbOmic (#2234)
@gongcongcong Do you intend to get this package fixed for 3.14 release?
—
You are receiving this because you we

[2021-10-12 03:34] ZhenxingGuo0015 commented on #2187
Thanks a lot @vjcitn for all of your help on this whole review procedure.

[2021-10-12 04:33] hpages commented on #2293
Hi @alexchwong,

Sorry for the slow answer. Let's ignore the execute permissions issue on Windows. We've seen it before for other packages and it's not clear what's going on but it looks like a false positive.

Package looks good and is almost ready for acceptance. Only one minor cosmetic thing: please use `<-` instead of `=` for assignment, with a space before and after the left arrow. Using `=`

[2021-10-12 06:53] stemangiola commented on #2299
Hello @lshep,

for the error

[code]

This install.package is inside a function that is mostly for internal benchmarking (and possible extremely rarely used by a user), but integrated into the package, and I don't want to add non-necessary dependencies.

Could we ignore this error for publication? (I'm solving the other errors/warnings)

[2021-10-12 07:51] pkrog commented on #2286
Done

[2021-10-12 08:06] igunduz commented on #2332
Hİ @hpages, thank you for reviewing the package!  I made some improvements by considering the build notes. I would like to hear if you have any additional suggestions or, something that you wanted me to put.
Sincerely,
İrem

[2021-10-12 08:19] pkrog commented on #2286
I have written a file `inst/CONTENT.md` that describes `hmdb_extract.zip`.

About HMDB download and distribution, yes it is allowed officially for non-commercial use, please see <https://hmdb.ca/downloads>.

[2021-10-12 08:52] npechl commented on #2314
Hi @LiNk-NY,

Thank you for noticing the *citation warning*.

In the provided repository, a `CITATION.cff` file is already contained. If for some reason it is not available through the `git@git.bioconductor.org:packages/lineagespot` repo, please let me know.

In any case, after updating the DESCRIPTION file, command `citation(package = "lineagespot")`  works without any warning and gives the follo

[2021-10-12 08:56] pkrog commented on #2286
ORCID, URL and BugReports in DESCRIPTION file : done.

[2021-10-12 09:15] pkrog commented on #2286
About the @import directive. The only one in this package is `@import R6`.
The reason it exist is because of the following NOTE from `R CMD check` if I omit it:
[code]
In this case, roxygen2 does not write `import(R6)` into the `NAMESPACE` file.
However I do not need myself the import directive, since I always use explicit namespace reference.
I changed the `@import` into `@importFrom` nonetheless

[2021-10-12 09:20] tdrose commented on #2252
Still the same behavior. I only see the `macOS` build report.

[2021-10-12 09:20] stemangiola commented on #2299
I solved all other errors ;)

[2021-10-12 09:31] pkrog commented on #2286
About `BiocFileCache`, I have something to try first, the `action="asis"` option. But I do not believe it will change anything. After that I will post an issue on `BiocFileCache` GitHub page.

[2021-10-12 09:33] pkrog commented on #2286
The BiTeX file has been shrinked.
About querying : the main tests are light as a matter of fact. The heavy tests are in longtests folder.

[2021-10-12 12:00] vjcitn commented on #2299
Hi Stefano -- this sounds like a case for "Enhances" for the package in question.  I'd propose that you use
[code]
and put the pkg... in the Enhances field in DESCRIPTION.  Other approaches could be used as well, but we really want to be systematic about removing `install` operations from user code.

[2021-10-12 12:26] mcalgaro93 commented on #2344
Dear Vince,
thank you for the feedback. Here there are some informations abount my last submission:
- I managed to solve entirely the points [2], [3], [6], and [7];
- regarding the point [4], I've removed a `suppressMessages()` and a `suppressWarnings()` from the function `createTIEC()`. In all the other cases those `suppressMessages()` are inside `if` clauses: if the user decide to set `verbose =

[2021-10-12 12:46] lshep commented on #2350
Please see review of packages below:

**RLHub**

**README**

- [ ] Pleae include Bioconductor installation instructions of the package

**vignette**

- [ ] Include Bioconductor package installation instructions.

- [ ] verifying  `{.r}` is the same as a `eval=FALSE` code chunk?

------------------------------

**RLSeq**

**LICENSE**

- [ ] Just wanted to verify as the authors are listed as `RSeqR`

[2021-10-12 13:27] lshep commented on #2299
I agree with the above suggest.  Please implement the above suggestion.  I will provide a more detailed review shortly.

[2021-10-12 14:07] lshep commented on #2339
Thank you for your submission. Please see comments:

**inst**

- [ ] Please provide an `inst/scripts/` directory that contains a file that
  explains how the data in `inst/extdata` was generated. This can be R code,
  sudo-code, or plain text but minimally should include the source information
  for the data.

**NEWS**

- [ ] (Optional) We highly recommend a NEWS file for keeping track of changes

[2021-10-12 14:40] lshep commented on #2338
Please see initial review below.

**inst**

- [ ] Please provide an `inst/scripts` directory that has a file that indicates
  how the data in `inst/extdata` was generated. It can be R code, sudo-code, or
  plain text but minimally should indicate the source of the data.

**vignette**

- [ ] (optional) we recommend using BiocStyle or at the very least an addition
  of a table of contents at the top

[2021-10-12 14:49] jianhong commented on #2294
# Package epimutations Review

The package is in good shape but there are lots of issues need to be fixed.

## General package development
- [ ] Package can not passes `BiocCheck::BiocCheck()`, `BiocCheck::BiocCheckGitClone()`.
- [ ] README file.
Please include Bioconductor installation instructions using BiocManager.

## The DESCRIPTION file

- [ ] The `Description` field in the DESCRIPTION is ma

[2021-10-12 15:27] lshep commented on #2351
Thank you for your submission. Two very minor comments:

**inst**

- [ ] Please provide an `inst/script` that has a file that describes how the
  data in `inst/extdata` was generated. This can be code, sudo-code or plain
  text but minimally should contain source information.

**vignette**

- [ ] The data in gff3 format is provided by your package yet it sounds like its
  in the GenomicRanges pack

[2021-10-12 16:03] lianos commented on #2342
@hpages that's great news, thanks for your feedback and taking the time to review the package!

Thank you also to @llrs and @kevinrue for sharing your thoughts, as well.

[2021-10-12 17:19] lshep commented on #2362
a few minor comments:

**NEWS.md**

- [ ] Did you copy from a template as the entry says '# heatMapProfile`?

**README**

- [ ] Include Bioconductor installation instructions

**vignette**

- [ ] Typo in section 3.1 `CASME`?

- [ ] Please include a `sessionInfo()` section at the end of the vignette

Please make the above changes.  When ready please trigger a new build report by pushing a version b

[2021-10-12 17:54] lshep commented on #2375
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/schifferl.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-12 17:54] lshep commented on #2352
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mikelove.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-12 17:54] #2375 closed, assigned to nturaga

[2021-10-12 17:54] lshep commented on #2342
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lianos.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2021-10-12 17:54] #2352 closed, assigned to lshep

[2021-10-12 17:54] lshep commented on #2324
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/cameronsevern.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2021-10-12 17:54] #2342 closed, assigned to hpages

[2021-10-12 17:54] #2324 closed, assigned to lshep

[2021-10-12 17:54] lshep commented on #2320
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mjchen1996.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-12 17:54] #2320 closed, assigned to lazappi

[2021-10-12 17:54] lshep commented on #2270
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/eolagbaju.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-12 17:54] #2270 closed, assigned to LiNk-NY

[2021-10-12 17:54] lshep commented on #2268
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yiluheihei.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-12 17:54] lshep commented on #2187
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ZhenxingGuo0015.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2021-10-12 17:54] #2187 closed, assigned to vjcitn

[2021-10-12 17:54] lshep commented on #2352
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mikelove.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-12 20:30] alexchwong commented on #2293
Thanks @hpages . The `=` to `<-` changes have been made in the latest build.

[2021-10-13 01:11] vjcitn commented on #2344
Glad it is building cleanly.  Material like
[code]
should be suppressed in the vignette, I think.  Maybe you can set verbose=FALSE.
Also consider reporting fewer decimal places throughout.

The following looks like it might be a common way of comparing methods, so perhaps
you should encapsulate it in a function with intuitive parameters.
[code]
This part of vignette
[code]
also seems clumsy.  Coul

[2021-10-13 01:21] alexchwong commented on #2293
Apologies, a few minor necessary additions. Hopefully no more edits required.

Added updates:
0.99.6: Added convenience functions `BAM2COV()` and `GetCoverageRegions()`
0.99.8: Fixed memory leak when writing COV files

[2021-10-13 01:23] vjcitn commented on #2269
Vignette should not have:

[code]

And should revise
[code]

etc

[2021-10-13 01:33] vjcitn commented on #2288
I am not so clear on why you have two vignettes.  The 'databases' vignette material follows naturally from the intro material.  In the databases vignette, you don't give any indication what a compound id is, and the intro vignette has a good example linking compound ids to compound names.

The printing events near end of databases vignette (Linking to ImageMagick, and the tibble) seem extraneous.

[2021-10-13 01:37] mdozmorov commented on #2269
I realized I didn't push the update to BioC, only to GitHub. This push uses all AHub data, no `download.file` etc., and BioCcheck() returns zero warnings.

[2021-10-13 02:09] FerreiraAM commented on #2360
Dear Hervé,
I updated the package by adding unit tests. I think that the package is ready for review. Please let me know if you any specific comments during the review process.
Thank you so much for your time and feedback.
Best regards.

[2021-10-13 02:21] vjcitn commented on #2357
Glad this has gotten out of error state.  I am surprised that the base class is ExpressionSet.  Did
you consider SummarizedExperiment?

Building the vignette by hand results in
[code]
Acceptable?

Vignette looks good but takes a long time to compile.  It also has lots of very complex code
[code]
It is rarely appropriate to initialize an object with `c()`.  This tabulation process
should be encapsu

[2021-10-13 04:13] hpages commented on #2316
Package looks good and is almost ready for acceptance.

2 minor cosmetic things:
1. Please use `<-` instead of `=` for assignment, with a space before and after the left arrow. Using `=` is not good R programming style and it can cause problems in some situations (e.g. when you wrap the expression inside a `system.time()` or `suppressMessages()` statement.
2. Vignette is strangely formatted e.g. t

[2021-10-13 08:04] mcalgaro93 commented on #2344
Thank you for all these suggestions. I'll work on them as soon as possible.

[2021-10-13 09:06] cpanse commented on #2339
Dear @lshep; Thank you for your review. I solved all issues.  Thank you, Christian
[code]

[2021-10-13 09:20] pkrog commented on #2288
I have merged the two vignettes as you have suggested, and remove outputs from magick package.

[2021-10-13 13:45] tdrose commented on #2252
Again only the `macOS` build report is available.

[2021-10-13 15:12] vjcitn commented on #2356
This package passes check and the vignette makes sense.

[2021-10-13 15:28] nturaga commented on #2252
We are having issues with the build system. I'll get back to you as they are fixed

[2021-10-13 15:39] lshep commented on #2252
All three builders should now be up.

[2021-10-13 15:50] Codezy99 commented on #2351
Hi @lshep, thanks a lot for all the nice comments. I have added an R script to show how the test data were generated and also corrected the mistake in the vignette : )

[2021-10-13 16:38] JasonWReeves commented on #2357
Hi @vjcitn - For GeoMxTools and the inherited NCTools, we have a plan for future work to migrate over to SummarizedExperiment as the platform for those two packages. We want to make sure we thoroughly replace when migrating which couldn't be achieved during this release.

I'll work to see how many of those errors in the manual vignette build can be mitigated currently over the next day or two as w

[2021-10-13 16:48] vjcitn commented on #2357
Thanks this is all very reasonable.  I will get back to you.  forget my suggestion about R ... I think we need
to reevaluate our prescriptions but for now this is fine.

[2021-10-13 17:00] lshep commented on #2339
**vignette**
Again -- I'm not sure why you are doing the following as the don't appear to be used in the code for the vignette anywhere?
[code]
And the following is done twice which is unnecessary?
[code]

I see EH3220 , EH3222 and EH4547 uses with  `files = c(rawfileEH3220, rawfileEH3222, rawfileEH4547))`

Can this be cleaned up?

[2021-10-13 17:19] lshep commented on #2356
@stankiewicz565 working on adding the data into the hubs but there are some issues with the metadata.csv file.
1. Please remove the Location_prefix column as this will be auto generated since you are using Bioconductor default
2. Tags are mal-formed and should be separated by a colon.

Please make sure to run AnnotationHubData::makeAnnotationHubMetadata on the package to make sure the metadata is

[2021-10-13 17:19] nturaga commented on #2252
Hi @tdrose Issue another build

[2021-10-13 18:16] LiNk-NY commented on #2377
Hi Nicole, @NicoleEO

Support for both `matrix` and `SummarizedExperiment` is certainly welcome.

The dependency on `GeomxTools` is soft (`Suggests` field) and should actually be an
`Imports` if you are using a function from the package and setting methods
(though generally not recommended for external classes).

We generally do not condone the use of `ExpressionSet` anymore as the class has
been

[2021-10-13 19:33] atuldeshpande commented on #2272
Thank you so much for the feedback @hpages! Let me know if anything else is needed.

[2021-10-13 20:15] cpanse commented on #2339
@lshep  Yes, I fixed that. I might introduce the mzXML files again once I get the mzR package running on my M1 for a MsBackend comparison. C

[2021-10-13 20:17] lshep commented on #2339
And that seems like an intermittent error on our part so I'm okay to accept now. thank you

[2021-10-13 20:32] NicoleEO commented on #2377
@LiNk-NY Thanks Marcel. We'll add GeomxTools to Imports. You should be seeing the other edits coming in the next day or two.

[2021-10-13 22:26] lshep commented on #2204
A few minor comments:

**vignette**

- [ ] The VignetteIndexEntry is still timeOmics insetead of your package name
  `netOmics`

- [ ] 7.1 several minutes may be an understatement. I ran the code with
  benchmark to try to get a time, and I killed it off after running for over an
  hour! In your example in the man page you use a little dummy example but have
  you actually tested it with real data

[2021-10-14 06:54] tdrose commented on #2252
Unfortunately same issue.

[2021-10-14 11:53] lshep commented on #2252
not sure why the one set of builders is getting knocked off. I put them back on and I kicked off a manual build of your package. The report should post shortly

[2021-10-14 12:36] tdrose commented on #2252
Thanks @lshep it worked!

[2021-10-14 12:36] tdrose commented on #2252
Here again, are my answers to the review:

I updated the package considering all points from your review:

* appropriate messages when throwing errors in your functions or try-catch statements -> I updated most error and try-catch messages to make it clearer
* tests -> I added unittest using the testthat package for the main functionalities
* BiocStyle in Vignettes -> Done
* sessionInfo in Vignett

[2021-10-14 13:45] lshep commented on #2351
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Codezy99.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-14 13:45] #2351 closed, assigned to lshep

[2021-10-14 13:45] lshep commented on #2339
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/cpanse.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2021-10-14 13:45] lshep commented on #2285
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-10-14 13:45] #2339 closed, assigned to lshep

[2021-10-14 13:45] #2285 closed, assigned to vjcitn

[2021-10-14 13:45] lshep commented on #2227
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/annikabuerger.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2021-10-14 13:45] #2227 closed, assigned to nturaga

[2021-10-14 14:11] devonjkohler commented on #2359
Hey Marcel,@LiNk-NY

Thank you for your review, your comments were very helpful.

I just pushed an update and tried to address everything. Please see below.

### DESCRIPTION

I fixed the description field. This is a new package that uses some of the backend of MSstatsPTM.
That should be reflected now.

### Vignettes

I updated everything here like you suggested.

### R

I tried to make all the cod

[2021-10-14 14:25] stankiewicz565 commented on #2356
HI Ishep,
I have deleted the prefix in the metadata and replaced the commas with
colons. The mondo was not a mistake and have added it to the metadata.
However when I run the AnnotationHubData::makeAnnotationHubMetadata() I get
the error

Loading valid species information.
Error in GenomeInfoDb::loadTaxonomyDb() :
  identical(colnames(taxdb), c("tax_id", "genus", "species")) is not TRUE

The troub

[2021-10-14 16:52] hpages commented on #2332
Hi @igunduz ,

Package looks good overall but you have functions (e.g. `findSignatures()`) that return `data.table` objects. While it's fine to use `data.table` objects internally in your package, we discourage exposing these objects to the end user. This is because they don't obey the "standard data.frame API" e.g. `DT[2]` extracts the 2nd row when it should extract the 2nd column. It wouldn't be

[2021-10-14 16:55] lshep commented on #2356
Could you push your current version to git.bioconductor.org so I can investigate?

[2021-10-14 18:23] lshep commented on #2356
So when I run the validation script the only ERROR I get is for the blank sourceURL
[code]

[2021-10-14 18:56] LiNk-NY commented on #2359
Hi Devon, @devonjkohler
Thanks for making those changes.
Perhaps there may be some existing packages that make Skyline data available ([`lipidr`](https://bioconductor.org/packages/release/bioc/vignettes/lipidr/inst/doc/workflow.html)?).

**Update**: Please resolve this note.
[code]

* Please make sure that log files are not saved in the users filesystem unless explicitly requested perhaps with a p

[2021-10-14 19:04] hpages commented on #2346
Hi,

Seems like you've decided to make all your functions generic functions with a single method. However I don't see a good reason for doing this (they all dispatch on their first argument which is expected to be a single number). More generally speaking, systematically defining generic functions when regular functions can be used is not good practice. Please make `powerlawA()`, `randomA()`, `sim

[2021-10-14 19:30] hpages commented on #2360
Hi Anne-Maud,

The only function in your package that is exported and therefore visible to the end user is `CyTOFpower()`. Having dozens of man pages for internal functions is not necessary and can only confuse the end user e.g. when they look at the reference manual. There are usually 2 ways to handle this:
1. Don't provide man pages for internal functions.
2. Provide man pages for them but they

[2021-10-14 19:42] hpages commented on #2378
Hi @ncrna ,

I agree with @PeteHaitch . Are you planning to follow up on this submission @ncrna ?

Thanks,
H.

[2021-10-14 19:46] hpages commented on #2212
Thanks for letting me know and for your work on **HiCDOC**.

H.

[2021-10-14 19:49] mzytnicki commented on #2212
Well, thank you for you patience...  It is a major rewrite, so do not hold your breath.

[2021-10-14 20:11] hpages commented on #2222
Thanks for the improvements @Linlab-slu.

A few more things:

1. Why are the examples in the man pages for `callEnhancer()`,  `getTSS()`, and `shapeCluster()` commented out? Per our guidelines, all user facing functions need to have at least one working example.

2. Why does the `\value` section in the man page for `callEnhancer()` say that the function returns a "Large List of elements - one elem

[2021-10-14 20:14] hpages commented on #2272
Thanks. All is good now.

Cheers,
H.

[2021-10-14 20:39] igunduz commented on #2332
Hi @hpages , thank you for the detailed explanation. I went over the functions and, find out only ` findSignatures()` returns users a `data.table`. I fixed it now. Would you please let me know if you have additional suggestions? Thank you again!
Sincerely,
İrem

[2021-10-15 00:12] vjcitn commented on #2357
Let me know when you have come to closure on vignette modifications.

[2021-10-15 00:26] vjcitn commented on #2356
This can be remedied by supplying `http://oncotree.mskcc.org` as the sourceUrl for oncotree.rda

[2021-10-15 01:36] nturaga commented on #2252
I've accepted your package. Issue another build to see why there is an error on Mac - R CHECK. I couldn't reproduce it locally.

[2021-10-15 01:45] hpages commented on #2284
Hi @HaniJieunKim ,

Thanks for the changes. Note that you are still using direct slot access in your code where you should absolutely not be doing this e.g. in the `Cepo()` function (file `R/Cepo.R`, lines 108-113):
[code]
Then again later in the same file (lines 115-120):
[code]
Then again later in the same file (lines 131-136):
[code]
In all these cases, you are using direct slot access to acces

[2021-10-15 01:54] hpages commented on #2293
These updates look good to me.

Thanks for using `<-` instead of `=` for assignment.

~Package is~ Packages are good to go.

Cheers,
H.

[2021-10-15 02:05] HaniJieunKim commented on #2284
Hi @hpages!

Thank you very much for your time and comments! I have incorporated your suggestions.

Best regards,

Hani

[2021-10-15 03:48] millerh1 commented on #2350
@lshep I am not sure what is going on, but it appears the build system may be stalled. Hopefully it was go through soon... In the meantime, here is my response to the points which you raised:

Hi @lshep,

Thank you for the review of the packages! I have done my best to address your comments -- please let me know if I have misunderstood any of them.

# RLHub

## README

**Comment**

**Response**

T

[2021-10-15 08:42] ncrna commented on #2378
@PeteHaitch Thank you for your suggests! We are trying to change the code to  obey the SingleCellExperiment data structure.

[2021-10-15 08:44] ncrna commented on #2378
@hpages Thank you for your suggestion! Can we fix the code follow your suggestion and resubmit next time?

[2021-10-15 09:28] tdrose commented on #2252
I tried to issue new builds (by pushing with a new version number). However no new builds are issued.

[2021-10-15 10:42] vjcitn commented on #2328
Your package passes check but I really wonder whether it should.
[code]
That's me trying to run it by hand.  Your vignette does not produce the graphic.  It seems to generate HTML in the tempdir().  You are using rlang::caller_env ... I need to understand more of what is going on before I can accept this package.

[2021-10-15 11:12] sthawinke commented on #2316
Thanks for the review, the changes you requested have been made to the package.

Cheers,

Stijn

[2021-10-15 11:40] vjcitn commented on #2328
OK, here's what I get when I use linux instead of M1 mac
![ribpic](https://user-images.githubusercontent.com/4624066/137480443-e83cef2b-9de5-4446-b634-d772d5e54202.png)

Now if you cannot render this inside the vignette itself, make a static image available so that the prospective user can understand what is being proposed.  I guess we can ignore the error in the previous comment.

The vignette is

[2021-10-15 11:41] vjcitn commented on #2328
You can probably use htmlwidgets to render the display interactively in the generated html.  It is worth learning how to do this.

[2021-10-15 12:18] m-swirski commented on #2328
Hi Vince, I'll let Hakon answer the specific questions about the vignette. In general the vignette will be expanded to show all functionalities, I'll do my best to push new version over the weekend to give you time to review it before the Bioc 3.14 manifest.
Thanks for the suggestion about the htmlwidgets. We're aiming to do exactly what you're saying, and we'll be adding these functionalities suc

[2021-10-15 12:54] lshep commented on #2252
The MAC builder is currently off-line -- please monitor the reports once it gets moved to the daily builder and follow up if it continues there.

[2021-10-15 13:55] agibsonk commented on #2214
My apologies for the inactivity. I have made the requested changes to the package. The tests were very helpful for catching errors I made when making the changes! I can push my changes if the issue is reopened @nturaga .

[2021-10-15 14:18] gdevailly commented on #2362
### NEWS.md
- [x]  *Did you copy from a template as the entry says '# heatMapProfile`?*
Thanks, the NEWS.md file is now appropriate.

### README
- [x]  *Include Bioconductor installation instructions*
Done.

### vignette
- [x]  *Typo in section 3.1 CASME?*
Corrected to the proper [CSAMA](https://www.huber.embl.de/csama2016/) acronym. Thanks!
- [x]  *Please include a sessionInfo() section at the en

[2021-10-15 14:27] lshep commented on #2356
I temporarily add this in locally and the validation scripts would run. Please make the change to the git.bioconductor.org version.
We are getting closer...Additionally.... There are inconsistency with capitalization which makes a difference since R is case sensitive.  Please check your RDataPath field in the metadata where one of the packages directories is `ontoPROcData` instead of `ontoProcData

[2021-10-15 14:32] JasonWReeves commented on #2357
@vjcitn I was able to resolve most of the issues noted above.

The warning:
```8: Duplicated aesthetics after name standardisation: size```
appears to be from ggrepel, and I cannot seem to resolve this one directly and suspect it may be a bug in a recent version of their code. This happens even when calling just ggrepel and never using size as an aesthetic. The other warnings should be resolved th

[2021-10-15 14:33] lshep commented on #2362
I do think a refactoring to allow for use of SummarizedExperiment would also be helpful -- since you are still currently relying on another major Bioconductor class structure with GenomicRanges, I will feel comfortable accepting the package as it but would strongly suggest moving forward with the idea of also making it compatible with SummarizedExperiment (or since GenomicRanges was utilized maybe

[2021-10-15 14:53] agibsonk commented on #2214
To give an update on the changes:

1. I added test cases for the main query function.
2. I changed the error functions in queryATAC() and fetchATAC() to add error handling, and have added error handling in the case that the expression data is returned as NULL.
3. I removed some of the long lines that the biocheck pointed out in the NOTES. The remaining lines that are too long are from the document

[2021-10-15 15:11] agibsonk commented on #2214
I just noticed a NOTE that I forgot to commit the changes for too. It is removing the usage of paste() in condition signals. I will push those changes.

[2021-10-15 15:34] millerh1 commented on #2350
I'm going to go ahead and add back in the automated test suite since I think it will probably still build in time and I want to remove the NOTE I'm now getting because of it.

[2021-10-15 17:13] nturaga commented on #2385
Hi,

I will review your package post-release i.e after Oct 27th. http://bioconductor.org/developers/release-schedule/

Best,

Nitesh

[2021-10-15 18:16] Kayla-Morrell commented on #2238
@marouenbg - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: What is the purpose of the

[2021-10-15 21:25] YagmurSimsekk commented on #2346
Hi @hpages ,

Thank you for your review! I have considered your points and changed the files. I could push them into main repository, but it didn't work for Bioconductor upstream repository. I kept getting this error even though my SSH keys and emails are matching and I have R W access to my package.

remote: FATAL: W refs/heads/main packages/miaSim YagmurSimsekk DENIED by fallthru
remote: error:

[2021-10-15 21:57] hpages commented on #2346
I don't know what's going on and I don't know how to help with this, sorry. But maybe @nturaga, @lshep, or @vjcitn can help? Thanks

[2021-10-16 05:47] favorov opened #2386 "(inactive) best.friends"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/favorov/best-friends/R/best.friends

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I

[2021-10-16 05:47] #2386 closed, assigned to nobody

[2021-10-16 06:31] favorov opened #2387 "(inactive) best.friends"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/favorov/best.friends

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the

[2021-10-16 10:12] kullrich commented on #2385
@nturaga Hi, I am looking forward to the review process. Is it still possible to add some new functions by taking care of increasing the version number? There are still some statistics based on the calculated distances that I would like to contribute and add to my package?

[2021-10-16 14:46] lshep commented on #2346
It is the issue with the default naming branch. See Number 5 Notes on the http://bioconductor.org/developers/how-to/git/new-package-workflow/ page  specifically doing `git push upstream main:master`

[2021-10-16 19:23] zhiiiyang commented on #2377
@LiNk-NY, we have addressed all your comments in the last commit. Please review it and let us know your thoughts.

[2021-10-17 02:28] jianhong commented on #2335
# Package comapr Review

The package is in good shape but there are some issues need to be fixed.

## General package development

- [ ] Please include Bioconductor installation instructions using BiocManager in README.md.

## The DESCRIPTION file

- [ ] 'LazyData:' in the 'DESCRIPTION' should be set to false or removed
- [ ] Update R version dependency from 4.0 to 4.1.0.

## The NEWS file

- [ ]

[2021-10-17 14:06] jianhong commented on #2361
# Package txcutr Review

The package is almost ready. There are some minor issues need to be fixed.

## The DESCRIPTION file

- [ ] `Depends` is missing
- [ ] Consider adding these automatically suggested `biocViews`: Sequencing, Alignment

## The NAMESPACE file

- [ ] Consider adding
  *  importFrom("methods", "slot", "slot<-")
  *  importFrom("utils", "capture.output")
  *  importFrom("S4Vectors

[2021-10-17 20:29] jianhong commented on #2349
# Package scDDboost Review

The package is in good shape but there are some issues need to be fixed.

## General package development

- [ ] Please include Bioconductor installation instructions using BiocManager.

## The DESCRIPTION file

- [ ] `Depends` field is empty
- [ ] 'library' or 'require' call not declared from: ‘ggplot2’
- [ ] Consider adding these automatically suggested
      biocViews

[2021-10-18 01:50] nturaga commented on #2385
Yes, go for it.

Nitesh Turaga
Scientist II, Department of Data Science,
Bioconductor Core Team Member
Dana Farber Cancer Institute

[2021-10-18 02:26] songjiajia2018 opened #2388 "LINEAGE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/songjiajia2018/LINEAGE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-10-18 02:26] #2388 closed, assigned to nobody

[2021-10-18 08:47] npechl commented on #2314
Hi @LiNk-NY,

I have made a small update on the `README.md` file.
May I kindly ask you to continue with the review process?

Thank you for your time! Looking forward to your response.

Regards,
Nikolas

[2021-10-18 14:17] vjcitn commented on #2328
Just a reminder here, let me know when you have wrapped up for 3.14.

[2021-10-18 14:39] devonjkohler commented on #2359
Hey Marcel, @LiNk-NY

I made the final changes you mentioned in your last comment. I added some skyline data from the MSstats package to test the function on and cleaned up the note. For the log writing, I set it to not write to the directory, while still giving them the option if desired.

Hope this takes care of everything!

Best,
Devon

[2021-10-18 15:11] vjcitn commented on #2309
BiocManager should not be in Imports field.  I am not going to delay acceptance on this.

I will accept the package.  But please make some improvements.  The vignette does not say anything
about the scientific purpose of the package and the tasks discussed.  Please add introductory material and
a reference as appropriate.  The conclusion of the vignette is very terse.

[2021-10-18 15:46] vjcitn commented on #2269
If you can figure out the warning, please fix -- and let me know how you figured it out.  Seems like an immature warning condition in R CMD check.

[2021-10-18 15:47] vjcitn commented on #2286
Do you know what is going on with windows?

[2021-10-18 15:49] vjcitn commented on #2287
Why do we have a timeout?  Can the windows errors be fixed?

[2021-10-18 15:58] lshep commented on #2269
The warning is because there are no man pages whatsoever so there are no files to parse.  We would recommend having at least a package level man page to describe the package and point to any relevant functions so something like `?excluderanges` would work for a user

[2021-10-18 16:11] vjcitn commented on #2269
I suspected this.  Can BiocCheck introduce a clearer response to this condition?  A package with no man pages at all should be exceptional if allowed at all.  @LiNk-NY ...

[2021-10-18 16:32] lshep commented on #2269
This came from  `R CMD check` not BiocCheck -- so you would still get he cryptic error unless fixed in base R

[2021-10-18 19:22] vjcitn commented on #2356
@lshep I think I made all the necessary repairs. -- Vince

[2021-10-18 19:29] vjcitn commented on #2356
@lshep if you can do any final verification, I will accept the package.  This will be useful for final changes to ontoProc, to slim it down.

[2021-10-18 20:29] lshep commented on #2356
please remove the location_prefix column from the metadata.csv file as previously asked.  It should only be included if you were overriding the default location and hosting outside of bioconductor.
I did this locally so I could proceed with adding the data.  The data is now accessible in the hubs. You can change any code or examples in the package to now access using hub interface

[code]

[2021-10-18 20:46] pkrog commented on #2286
Not yet. Trying to reproduce on my Windows VM.
The error is weird, because the zip file contains is stored inside the repository and contains only one file.

[2021-10-18 20:49] pkrog commented on #2287
The Lipidmaps may take some time to download, but not that long. I will look at  that.

[2021-10-18 21:02] lshep commented on #2374
When I try to build the easier package locally I am getting an error about a missing package that doesn't seem to be declared anywhere?  I'm wondering where this dependency comes from and perhaps a selective import needs to be a full import so that the package builds/installs correctly?
[code]

I'm looking at the packages now and will have a more in-depth review shortly.

[2021-10-18 21:19] leejs-abv commented on #2338
Hi, thank you for the detailed insight! I have added more information about the data in `inst/extdata` as well as provide more documentation of the usage of annotation leveraging SeqArray package. I have triggered a new build regarding these changes, and now working on other points.

[2021-10-18 22:03] lshep commented on #2374
a few other minor comments. The same comments for both packages:

**easierData**

**README**

- [ ] Please include Bioconductor installation instructions

**general**

- [ ] I noticed a custom citation in the readme and description. You might want
  to consider including a CITATION file in the inst directory so that it also
  appears on the Bioconductor package landing page.

**test**

- [ ] Pleas

[2021-10-18 22:29] LiNk-NY commented on #2314
Hi Nikolas, @nikopech

We have received a lot of package submissions and I apologize for the delay.
Please see the review below. Please remember to respond to all bullet points
made in the review.

Best regards,
Marcel

---

# lineagespot #2314

## DESCRIPTION

* Looks good.

## NAMESPACE

* (optional) Consider shortening the function to `report_lineage` (verbs may
be easier to remember).
* Looks

[2021-10-18 23:04] LiNk-NY commented on #2359
Hi Devon, @devonjkohler

Thank you for making those changes and for your contribution.
Your package has been accepted to Bioconductor.

Best regards,
Marcel

[2021-10-18 23:47] FerreiraAM commented on #2360
Dear Hervé,
Thank you for your review and feedback. I included the requested changes in the last update.
Best regards, Anne-Maud

[2021-10-19 00:22] stemangiola commented on #2299
Hello @Kayla-Morrell ,

for the warning

[code]

my package has to compile C++ code and takes a bit longer. Is this a deal-breaking problem? (I will try to optimise in the future)

[2021-10-19 01:37] mdozmorov commented on #2269
It may help to check for such cases in `BioCcheck` and explicitly suggest adding [package documentation](https://r-pkgs.org/man.html#man-packages). I couldn't understand the problem from `R CMD check` output. Pushed the documentation, will monitor if it resolves the warning.

[2021-10-19 03:41] hpages commented on #2284
Perfect, thanks!

[2021-10-19 03:49] hpages commented on #2316
Thanks @sthawinke for the changes but please make sure that the rendered vignette has a title and author. This is how it looks in **pengls** 0.99.5:

![Screenshot from 2021-10-18 20-45-00](https://user-images.githubusercontent.com/8810451/137840478-e2680b99-1ec3-4a95-9883-0ac00578fab2.png)

Thanks,
H.

[2021-10-19 03:53] hpages commented on #2332
Thanks for making this change. Package is ready to go.

Cheers,
H.

[2021-10-19 04:54] Lionir opened #2389 "(inactive) octad.db"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-10-19 04:54] #2389 closed, assigned to nobody

[2021-10-19 05:29] Lionir opened #2390 "(inactive) octad.db"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bin-Chen-Lab/OCTAD.db

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-10-19 05:29] #2390 closed, assigned to nobody

[2021-10-19 05:30] Lionir opened #2391 "octad.db"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bin-Chen-Lab/octad.db

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-10-19 06:45] songjiajia2018 opened #2392 "(inactive) LINEAGE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/songjiajia2018/LINEAGE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-10-19 06:46] #2392 closed, assigned to nobody

[2021-10-19 07:22] songjiajia2018 opened #2393 "(inactive) LINEAGE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/songjiajia2018/LINEAGE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-10-19 12:22] jianhong commented on #2380
Please fix the errors and warnings to meet the requirement of review process. If you need any help, please let me known or ask help in develop mailing list.

[2021-10-19 13:29] Kayla-Morrell commented on #2299
@stemangiola - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

Also, I would say the WARNING above is fine for now but should be address

[2021-10-19 14:22] hpages commented on #2346
Thanks for the changes @YagmurSimsekk . Note that you will need to re-roxygenize to refresh the man pages (they still contain `\docType{methods}` and aliases for the methods that are gone e.g. `\alias{simulateGLV,numeric-method}`). Please do this at your earliest convenience. I'm labeling the package as accepted.

Cheers,
H.

[2021-10-19 14:27] hpages commented on #2360
Hi Anne-Maud,

Thanks for the changes. Package is good to go.

Cheers,
H.

[2021-10-19 14:30] hpages commented on #2378
You don't need to resubmit. Make sure to push your changes to git.bioconductor.org in addition to GitHub, and to bump the package version to trigger builds. Thanks

[2021-10-19 14:47] hpages commented on #2316
Thanks.

The title of the vignette ("Manual for the pengls pacakage") contains a typo in "pacakage". Also note that, in Bioconductor, vignettes are expected to demonstrate typical workflows so are not exactly the same as manuals.

Finally, in section "2 Installation instuctions" of your vignette you have:
[code]
It's good practice to use `update=TRUE` here (which is the default).

Then later you h

[2021-10-19 15:05] lshep commented on #2362
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/gdevailly.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-19 15:05] #2362 closed, assigned to lshep

[2021-10-19 15:05] lshep commented on #2360
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/FerreiraAM.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-19 15:05] lshep commented on #2359
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/devonjkohler.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2021-10-19 15:05] #2360 closed, assigned to hpages

[2021-10-19 15:05] #2359 closed, assigned to LiNk-NY

[2021-10-19 15:05] lshep commented on #2357
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/JasonWReeves.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2021-10-19 15:05] #2357 closed, assigned to vjcitn

[2021-10-19 15:05] lshep commented on #2346
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/YagmurSimsekk.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2021-10-19 15:05] #2346 closed, assigned to hpages

[2021-10-19 15:05] lshep commented on #2344
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mcalgaro93.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-19 15:05] #2344 closed, assigned to vjcitn

[2021-10-19 15:05] lshep commented on #2332
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/igunduz.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2021-10-19 15:05] #2332 closed, assigned to hpages

[2021-10-19 15:05] lshep commented on #2309
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mcneilllucy.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2021-10-19 15:05] lshep commented on #2293
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/alexchwong.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-19 15:05] #2309 closed, assigned to vjcitn

[2021-10-19 15:05] #2293 closed, assigned to hpages

[2021-10-19 15:05] lshep commented on #2288
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-10-19 15:05] #2288 closed, assigned to vjcitn

[2021-10-19 15:05] lshep commented on #2284
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/HaniJieunKim.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2021-10-19 15:05] #2284 closed, assigned to hpages

[2021-10-19 15:05] lshep commented on #2272
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/atuldeshpande.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2021-10-19 15:05] lshep commented on #2269
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mdozmorov.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-19 15:05] #2272 closed, assigned to hpages

[2021-10-19 15:05] #2269 closed, assigned to vjcitn

[2021-10-19 15:05] lshep commented on #2252
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/tdrose.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2021-10-19 15:05] lshep commented on #2214
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/agibsonk.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-19 15:05] #2252 closed, assigned to nturaga

[2021-10-19 15:05] #2214 closed, assigned to nturaga

[2021-10-19 15:05] lshep commented on #2293
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/alexchwong.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-19 15:22] lshep commented on #2338
Excellent just let me know when you are ready for a re-review

[2021-10-19 16:39] ElkeDebrie commented on #2331
Hi @LiNk-NY

Thanks for the review and the feedback. I addressed your comments. The shiny app has been removed and can later be given as a separate package.

Best regards
Elke

[2021-10-19 17:13] LiNk-NY commented on #2331
Hi Elke, @ElkeDebrie
Please respond to each point in the review.
Thank you.
Best,
Marcel

[2021-10-19 17:13] LiNk-NY commented on #2345
Close due to inactivity.

[2021-10-19 17:25] ElkeDebrie commented on #2331
Hi Marcel, @LiNk-NY
Thanks for your reply. See attached the comments to each point.
[RespondReview.pdf](https://github.com/Bioconductor/Contributions/files/7375494/RespondReview.pdf)

[2021-10-19 18:03] LiNk-NY commented on #2377
Hi Nicole @NicoleEO and Zhi Yang @zhiiiyang,
Thank you for making those changes. Please follow up on the output of `BiocCheck::BiocCheck()` as you continue to improve your package.

Your package has been accepted and will be added to the development branch of Bioconductor.

Best regards,
Marcel

[2021-10-19 18:09] LiNk-NY commented on #2331
Hi Elke, @ElkeDebrie
Thank you for your prompt response.
Please respond as an inline comment by clicking on the dots on the top right and
hitting "quote reply" and do not attach files next time.
Your package has been accepted. Thank you for your contribution.
Best regards,
Marcel

[2021-10-19 19:37] m-swirski commented on #2328
Hi, we pushed version with expanded vignette. It doesn't build correctly yet, because newest version of ORFik is required, which is not yet pushed to bioc. I attach zipped vigniette html, hopefully you'll find a moment to look at it.
The quality of the dummy data we created is admittedly not ideal yet, but hopefully the vignette is informative enough now. It's of course work in progress and we're

[2021-10-19 19:54] Roleren commented on #2328
ORFik was pushed to devel now, so when bioc devel rebuilds, this vignette will work

[2021-10-20 07:52] Roleren commented on #2328
We believe the package now has a more comprehensive vignette, which should clearly show what RiboCrypt is useful for. And we believe it will pass the CMD check before Friday (since ORFik must first be re-built on devel first).

I will just note that we will add unit tests after release and expand the examples/vignette even more. We wait to make sure nothing breaks before the CMD deadline on Friday

[2021-10-20 07:54] sthawinke commented on #2316
Dear H.

Thanks for your remarks, the corresponding changes haven been made in the readme and vignette.

Cheers,

Stijn

[2021-10-20 08:07] bioinformatic-seragnoli commented on #2345
Sorry if we took a long time  to answer, but we still are working on the comments received. Is it possible to reopen our submission issue? We did a lot of work and we are going to push our last updates in a few days. Sorry again for the inactivity, but we never received any advise about a maximum inactivity time, nor we received any warning about the closing of our submission. Thank you for the at

[2021-10-20 11:21] #2183 closed

[2021-10-20 11:22] lshep commented on #2064
I'm going to close the issue for now.  When you are ready to push changes please ping me on this issue to reopen it

[2021-10-20 13:32] lshep commented on #2350
Thank you.  Here are some additional comments:

**RLSeq**

**vignette**

- [ ] Might want to show `library(dplyr)` as when I got to 4.3 I couldn't run
  code if just following the shown coding chunks.

- [ ] Do you use parallelization in your code? Interesting after running the
  vignette when I went to exit my R terminal I got the following message:
[code]
I was able to reproduce this twice.

**R

[2021-10-20 14:53] bioinformatic-seragnoli commented on #2345
Dear Marcel,
in the latest version of the package we have applied many fixes you suggested. At the moment we still have to: create the unit tests, fix the "BOBaFIT" vignette with the last changes and add the verbose argument. We hope to conclude as soon as possible.
Best reguards,
Bioinformatics Seragnoli

[2021-10-20 14:58] abodein commented on #2204
Hello @lshep ,
I fixed the last mistakes.

I removed this line. I used an other algorithm to perform modularity analysis which is faster.

[2021-10-20 16:22] lshep commented on #2377
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/zhiiiyang.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-20 16:22] #2377 closed, assigned to LiNk-NY

[2021-10-20 16:22] lshep commented on #2356
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/stankiewicz565.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2021-10-20 16:22] #2356 closed, assigned to vjcitn

[2021-10-20 16:22] lshep commented on #2331
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ElkeDebrie.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-20 16:22] lshep commented on #2204
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/abodein.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2021-10-20 16:22] #2331 closed, assigned to LiNk-NY

[2021-10-20 16:22] #2204 closed, assigned to lshep

[2021-10-20 16:41] hpages commented on #2316
Thanks! Package is ready to go.

Cheers,
H.

[2021-10-20 17:38] leejs-abv commented on #2338
Hi, I would like to submit the package for re-review. I have added extra support for GRanges object from GenomicRanges package. So long as the P.value column name from the meta data from the GRanges object is provided, the package will plot the manhattan plot, using the center of the range.
I would also like to discuss about the creation of S4 class as opposed to S3 class for MPdata object. Curren

[2021-10-20 20:06] gabrielodom commented on #2064
Hi @lshep, can you re-open the issue by tomorrow? @fveitz will be pushing at update tomorrow morning. We've been working on updates for the past week.

We have done/explained the following:
- all data sets and references to them use lower case file extensions (.rds instead of .RDS, for instance)
- reformatted the NEWS file per Bioconductor guidelines
- added example code to the vignette using func

[2021-10-20 20:12] LiNk-NY commented on #2345
Hi @bioinformatic-seragnoli
Please make sure to respond to the review line by line.
We expect maintainers to be responsive; therefore, a two week no-response
merits the issue to be closed. We will make this more clear in our [submission guidelines](https://bioconductor.org/developers/package-submission/).
Best,
Marcel

[2021-10-20 21:07] nturaga commented on #2326
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## vignette

good

## tests

ok

## man

ok

## R

 * NOTE: Use accessors; don't access S4 class slots via '@' in
      examples/vignettes.

 * Please write getters and setter (accessor) functions instead of using direct slot access with `@`.

[code]

## General

- If you make the changes by Friday , I'm open to accepting your package in this release

[2021-10-21 06:06] millerh1 commented on #2350
Hi @lshep,

Thank you for the review! I will do my best to address these issues in my response
below:

**RLSeq**

**vignette**

Thank you for pointing this out! I have now added `library(dplyr)`.

I had not previously noticed this, but it appears that regioneR uses
parallelization by default with > 1000 peaks. I have now updated the code to
prevent this behavior.

**R code**

**general**

Thank yo

[2021-10-21 07:06] da-bar opened #2394 "(inactive) https://github.com/da-bar/JASPAR2022"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have

[2021-10-21 07:06] #2394 closed, assigned to nobody

[2021-10-21 07:08] da-bar opened #2395 "(inactive) JASPAR2022"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/da-bar/JASPAR2022

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-10-21 07:08] #2395 closed, assigned to nobody

[2021-10-21 08:07] Roleren commented on #2328
Any update on when you think the devel system will build, so that it will use newest ORFik?
The deadline is tomorrow right?

[2021-10-21 11:34] lshep commented on #2328
The top of [this page](http://bioconductor.org/developers/how-to/troubleshoot-build-report/) shows the timing for the builds. Since you pushed Tuesday evening, you missed the pull for Wednesday's build but it should be reflected on today's report. The new package assuming it built OK on our builds would be available later this afternoon.

[2021-10-21 14:35] Roleren commented on #2328
We now only have a remaining warning that our vignette contains interactive plots and therefore the vignette HTML file is > 5MB.
We want to have interactive plots in vignette, as this is the whole point of the package.
So can we keep it or what do you recommend?

[2021-10-21 14:42] fveitz commented on #2064
Hi @lshep, I am stuck with an authentication issue.

[code]

I confirmed that I can pull and commit+push to GitHub, but I get the error `kex_exchange_identification: read: Operation timed out` when I try to pull from git@git.bioconductor.org. I found this link (<https://docs.github.com/en/authentication/troubleshooting-ssh/using-ssh-over-the-https-port>) to try to troubleshoot the error, but I'm s

[2021-10-21 14:47] lshep commented on #2064
I would try adding a new ssh key to the GitCredentials app

[2021-10-21 14:48] nturaga commented on #2064
Hi,

Please make sure you activate your BiocCredentials account with the email ***@***.*** https://git.bioconductor.org/BiocCredentials/account_activation

Upload a good SSH key, and make sure you are using the correct key pair.

There is nothing wrong on our end regarding this issue, from what I can tell.

Best,

Nitesh

Nitesh Turaga
Scientist II, Department of Data Science,
Bioconductor Core Te

[2021-10-21 14:49] gabrielodom commented on #2064
Thank you Lori and Nitesh! Fernanda, please try this as soon as possible.

[2021-10-21 14:56] vjcitn commented on #2328
it is sometimes possible to control data volume in HTML.  think about it, see if you can
slim it down.  i will look too.

[2021-10-21 15:08] m-swirski commented on #2328
The vignette is just 6MB, so to cut it below 5MB I can just remove one of the plots or put less data in it. In general we'll scale this down by combining several plots by dynamic dataset change etc, but for now it has to stay this way. So, should I just cut it below 5MB?

[2021-10-21 15:12] vjcitn commented on #2328
it seemed to me that one plot could go. first one seemed somewhat repetitious with second one.   i had 5.5MB built on linux so dropping one will probably scotch the warning

[2021-10-21 15:19] a-mahdipour commented on #2383
I tried to follow the instructions and to push changes to git@git.bioconductor.org:packages/sciCNV for a new build by bumping the package version from 0.99.0 to 0.99.1. However, did not receive any notification if it is going to be built. How does this work?

[2021-10-21 15:30] lshep commented on #2383
We don't see changes pushed to git.bioconductor.org.  Can you provide more information like showing the results of `git remote -v` and the command and full results of what is shown when trying to push

[2021-10-21 15:34] lshep commented on #2374
A reminder the last day to be added to the manifest for release 3.14 is tomorrow. Please make the appropriate changes before packages will be accepted.

[2021-10-21 15:49] a-mahdipour commented on #2383
Here is the result of trying that:
[code]

Then I tried ```git fetch --al``` with this result:

[code]
also tried ```git merge upsream/master``` but I think it has not been performed properly:

[code]

[2021-10-21 15:57] lshep commented on #2383
Please see the advise of the ERROR message.  It appears you have changes you have not yet committed in your local repository

[2021-10-21 16:08] fveitz commented on #2064
Hi Lori, Nitesh and Gabriel,
Using my internet at home I could push successfully.

"Fernandas-MacBook-Pro:coMethDMR fernandaveitzman$ git push upstream master
Enumerating objects: 179, done.
Counting objects: 100% (179/179), done.
Delta compression using up to 16 threads
Compressing objects: 100% (128/128), done.
Writing objects: 100% (128/128), 32.08 KiB | 290.00 KiB/s, done.
Total 128 (delta 104

[2021-10-21 16:12] gabrielodom commented on #2064
And we have _another_ build error. Give us a minute. I think it's the sesameData package again.

[2021-10-21 16:32] lshep commented on #2338
Please see further comments:

Use of S3 instead of S4 class is fine given explanation.

**vignette**

- [ ] We recommend showing the table of content with `toc: true`

- [x] In future package development I highly recommend researching the common
  classes for Bioconductor and try to make your packages compatible with those
  data structure. There are many common class structure for gene expression

[2021-10-21 21:16] wenjie1991 commented on #2326
Hi @nturaga,

Thanks for your time. I have made the following changes.

The NOTE has been resolved. No '@' is used in examples or vignettes.
Accessor `bc_messyBc` and `bc_cleanBc` were introduced to get the slot.

There was an accessor function named `bc_names`, which does the job of `rownames(object@metadata)`. We have updated the code to:
[code]

And for other cases, such as:
[code]
We keep usin

[2021-10-21 22:42] nturaga commented on #2326
Thanks for your contribution.

Cheers!

[2021-10-21 23:28] olapuentesantana commented on #2374
Hello @lshep ,

In explore_biomarkers.R, we employ rstatix::wilcox_effsize() which calls coin::wilcoxsign_test(). However it seems that the coin  package is included in the DESCRIPTION file as Suggests, unclear why it is not an import, which lead to the following error.

To solve this, we added the coin package as a dependency leading to the corresponding WARNING label, because this package is not

[2021-10-22 00:23] vjcitn commented on #2328
Will you trim the plot out of the vignette?  We will squeeze this in if so.

[2021-10-22 00:37] stemangiola commented on #2299
Thanks a lot, @Kayla-Morrell for your feedback.

This directory includes some R scripts for paper publication, that has always been part of our Github repositories. This is in the .Rbuildignore.

Done.

Done

When we use Bayesian inference this option needs to be 'true' Bioconductor already accepted this for our package `ppcseq`

Thanks done.

I have added utils data, for par I don't find where I

[2021-10-22 05:46] m-swirski commented on #2328
I have, vigniette was 4.9M on linux, so I thought it would be ok. I'll try to minimise it even more now.

[2021-10-22 05:53] m-swirski commented on #2328
Now it's 4.4, so should be a safe margin

[2021-10-22 10:18] mfansler commented on #2361
@jianhong thanks for the informative feedback. Suggested changes have been integrated.

[2021-10-22 11:50] lshep commented on #2374
I'd be fine with the warning. Or you could selectively import the one function with the `importFrom(coin,wilcoxsign_test)`  but if you feel more comfortable excluding all together since it really stems from a dependency of a dependency I'm okay with that too. Cheers

[2021-10-22 12:16] vjcitn commented on #2234
This is the last day for fixes.  Will you be repairing this package?

[2021-10-22 17:16] lshep commented on #2374
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/olapuentesantana.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2021-10-22 17:16] #2374 closed, assigned to lshep

[2021-10-22 17:16] lshep commented on #2361
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mfansler.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-22 17:16] #2361 closed, assigned to jianhong

[2021-10-22 17:16] lshep commented on #2350
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/millerh1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-22 17:16] #2350 closed, assigned to lshep

[2021-10-22 17:16] lshep commented on #2328
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/m-swirski.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-22 17:16] #2328 closed, assigned to vjcitn

[2021-10-22 17:16] lshep commented on #2326
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/wenjie1991.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-22 17:16] lshep commented on #2316
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/sthawinke.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-22 17:16] #2326 closed, assigned to nturaga

[2021-10-22 17:16] #2316 closed, assigned to hpages

[2021-10-22 17:16] lshep commented on #2287
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-10-22 17:16] lshep commented on #2286
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-10-22 17:16] #2287 closed, assigned to vjcitn

[2021-10-22 17:16] #2286 closed, assigned to vjcitn

[2021-10-22 17:16] lshep commented on #2374
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/olapuentesantana.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2021-10-22 17:16] lshep commented on #2350
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/millerh1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-22 18:13] millerh1 commented on #2350
@lshep Thank you so much!!

[2021-10-22 22:05] a-mahdipour commented on #2383
Hi @Ishep

I tried to commit changes using ```git pull``` and ``` git stash``` but all my updated files were gone and I had to redo all changes. Now when I try ```git fetch --all``` it shows error:
[code]
 It seems that my Github remote is broken. Please any idea how to fix it?

[2021-10-23 00:14] stemangiola commented on #2299
Hello @Kayla-Morrell fixed issues, please find my reply to your review above.

Thanks for your time.

[2021-10-23 08:37] zhaolianlu commented on #2222
Hi, @hpages

Thanks for your comments! Here are my explanations regarding your concerns:

1. These functions are the speed limit steps in CMD check, so I excluded them out for checking.
2. No. callEnhancer() function returns list of data tables back into the object in the . There is nothing to output or print externally when running callEnhancer() functions.
3. That is a good point. We have many s

[2021-10-25 15:32] leejs-abv commented on #2338
Hi I changed the man page for my package to include more description and how to open the vignette. The main function `manhattan_chromosome` is now deprecated and a chromosome argument is added to the `manhattan_plot` function for that feature. I have also added `toc: true` to the vignette's yaml section. I added BiocStyle to my vignette, but it does not seem like it is being applied when I open th

[2021-10-25 18:51] Lionir commented on #2391
AdditionalPackage: https://github.com/Bin-Chen-Lab/octad

[2021-10-25 18:51] Lionir commented on #2391
AdditionalPackage: https://github.com/Bin-Chen-Lab/OCTAD

[2021-10-25 19:00] Lionir commented on #2391
Hi,
For the last submission, I wasn't able to submit the package with the dependency and was instructed to re-submit the package that can be built without dependencies (octad.db) and submit the additional software package (octad). However, after I tried to submit it, the issue was closed. Can you please address it?
Thank you in advance.

[2021-10-25 19:06] lshep commented on #2391
Normally you should have submitted under the original open issue. this involves some clean up on our internal system. Please give us a day or two to straighten it out

[2021-10-25 19:06] Lionir commented on #2391
Thank you!

[2021-10-26 00:28] Jfortin1 opened #2396 "(inactive) crisprBase"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprBase

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2021-10-26 00:28] #2396 closed, assigned to nobody

[2021-10-26 00:30] Jfortin1 opened #2397 "(inactive) crisprBase"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprBase

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2021-10-26 00:30] #2397 closed, assigned to nobody

[2021-10-26 00:43] Jfortin1 opened #2398 "crisprBase"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprBase

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2021-10-26 01:23] PeteHaitch commented on #2384
Thank you for submitting **rprimer** to Bioconductor, @sofpn.
The package and included Shiny App are well-documented and someone like me without experience designing primers could understand the inputs, processing, and outputs.

Please see the following review for some comments that need to be addressed before the package can be include in Bioconductor and some optional suggestions.
Please let me

[2021-10-26 06:22] stemangiola commented on #2299
I am a bit confused as I see WARNINGS in the summary but I don't see any warnings for

[code]

[2021-10-26 11:14] lshep commented on #2299
Its coming from the longer check time.

[2021-10-26 11:51] lshep commented on #2391
@Lionir  could you try resubmitting the octad package using the AdditionalPackage line again. I believe we have fixed the issue on our end.  Before submitting I would recommend changing the capitalization to be consistent in the DESCRIPTION of the package; R is case sensitive and it does make a difference.

[2021-10-26 14:22] Lionir commented on #2391
AdditionalPackage: https://github.com/Bin-Chen-Lab/octad

[2021-10-26 14:39] florian-j-auer opened #2399 "RCX"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/frankkramer-lab/RCX

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-26 22:44] stemangiola commented on #2299
I see. Thanks. We agreed that it is a goal to optimise compilation down the road. Please let me know if anything else is needed.

Thanks a lot for your time.

[2021-10-27 04:38] tianshilu opened #2400 "(inactive) Netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/Netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 04:38] #2400 closed, assigned to nobody

[2021-10-27 04:41] tianshilu opened #2401 "(inactive) Netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/Netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 04:41] #2401 closed, assigned to nobody

[2021-10-27 04:46] tianshilu opened #2402 "(inactive) Netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/Netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 04:46] #2402 closed, assigned to nobody

[2021-10-27 04:48] tianshilu opened #2403 "(inactive) Netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/Netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 04:48] #2403 closed, assigned to nobody

[2021-10-27 04:50] tianshilu opened #2404 "(inactive) netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 04:50] #2404 closed, assigned to nobody

[2021-10-27 04:52] tianshilu opened #2405 "(inactive) netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 04:52] #2405 closed, assigned to nobody

[2021-10-27 13:39] leejs-abv commented on #2338
The package is ready for a re-review

[2021-10-27 15:38] danielinteractive opened #2406 "(inactive) New package `hermes` submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/insightsengineering/hermes

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2021-10-27 15:38] #2406 closed, assigned to nobody

[2021-10-27 15:48] a-mahdipour opened #2407 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-27 15:48] #2407 closed, assigned to nobody

[2021-10-27 15:51] a-mahdipour opened #2408 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-27 15:51] #2408 closed, assigned to nobody

[2021-10-27 16:03] tianshilu opened #2409 "(inactive) netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 16:03] #2409 closed, assigned to nobody

[2021-10-27 16:05] tianshilu opened #2410 "(inactive) netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 16:05] #2410 closed, assigned to nobody

[2021-10-27 16:09] tianshilu opened #2411 "(inactive) netie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianshilu/netie

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-27 16:09] #2411 closed, assigned to nobody

[2021-10-27 16:11] lshep commented on #2411
@tianshilu  Stop trying to submit the package without reading why it was closed in the first place -- also run BiocCheck before trying to submit your package as this would show up as an ERROR if you had run it on the package

[2021-10-27 18:06] marouenbg commented on #2238
Hi @Kayla-Morrell ,

Thank for the great feedback, I am working on it at the moment.
Regarding this point
- REQUIRED: For exon.size, genes, monsterRs, and mut.ucec could you provide
the actual reference to Kuijjer et al., similar to how you have a reference
for small1976 and yeast.

Where should I provide a reference to Kuijjer et al?

[2021-10-28 15:03] sofpn commented on #2384
Dear @PeteHaitch,

Many thanks for helpful suggestions and comments! I have now updated the package as you recommended, I hope it will work now. Please see my response to each comment below (my responses in bold).

And thanks for taking the time to review the package!

Best regards,
Sofia

[2021-10-29 02:40] marouenbg commented on #2238
Hi @Kayla-Morrell ,
Thank you so much for the thorough review, I addressed all of the points you raised, please let me know if there is anything else to do.
Marouen

[2021-10-29 03:08] stemangiola commented on #2299
Hello @lshep and @Kayla-Morrell thanks for your effort in reviewing sccomp.

I see that sccomp has not been added to the 3.14 release. Given our discussion can I please know the reason?

This submission was for me very important in the perspective of imminent article submission.

Is there any chance the package can be admitted, considering that the only warning is the long compilation time, that I

[2021-10-29 03:45] tomoyukif commented on #2380
Hi @jianhong,
Thank you for your contribution to review my package.
Since this is my first package to register in Bioconductor, I do not know what I should do next.
Should I just wait your review or have to do something?

[2021-10-29 06:55] danielinteractive opened #2412 "New package `hermes`"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/insightsengineering/hermes

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2021-10-29 12:03] jianhong commented on #2380
Hi @tomoyukif,

I will post my review within couple days. Thank you for your patient.

Jianhong.

[2021-10-29 15:32] Kayla-Morrell commented on #2299
@stemangiola - Thank you for making the necessary changes. I have re-reviewed the package and everything looks good. I'm more than happy to accept the package.

Best,
Kayla

[2021-10-29 18:53] lshep commented on #2299
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/stemangiola.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2021-10-29 18:53] #2299 closed, assigned to Kayla-Morrell

[2021-10-29 18:56] lshep commented on #2299
The package is now accepted and added to the devel branch of Bioconductor (3.15).  The landing page for the package should be generated over the weekend.  For publication it is best to reference the short url for the package as it will default to the current release version of the package landing page if available, and if it is not yet in a release branch default to the development page.  The shor

[2021-10-29 19:18] davidechicco opened #2413 "(inactive) New package submission: `healthyControlsPresenceChecker`"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/davidechicco/healthyControlsPresenceChecker

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2021-10-29 19:18] #2413 closed, assigned to nobody

[2021-10-29 19:25] davidechicco opened #2414 "(inactive) `healthyControlsPresenceChecker`"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/davidechicco/healthyControlsPresenceChecker

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2021-10-29 19:25] #2414 closed, assigned to nobody

[2021-10-29 19:26] davidechicco opened #2415 "(inactive) `healthyControlsPresenceChecker`"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/davidechicco/healthyControlsPresenceChecker

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2021-10-29 19:26] #2415 closed, assigned to nobody

[2021-10-29 19:36] davidechicco opened #2416 "`healthyControlsPresenceChecker`"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/davidechicco/healthyControlsPresenceChecker

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2021-10-30 11:31] gongcongcong commented on #2234
I am adding more functions. I will submit the next version. thanks

***@***.***

From: Vince Carey
Date: 2021-10-22 20:16
To: Bioconductor/Contributions
CC: Congcong Gong; Mention
Subject: Re: [Bioconductor/Contributions] mbOmic (#2234)
This is the last day for fixes. Will you be repairing this package?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2021-11-01 16:21] Lionir commented on #2391
Hi, any news regarding the moderation of the package?

[2021-11-01 16:37] lshep commented on #2391
sorry for delay. we will process "awaiting moderation" packages shortly.

[2021-11-01 20:34] jianhong commented on #2380
# Package GBScleanR Review

The package is in good shape but there are some issues need to be fixed.

## Documentation

- [ ] Consider `BiocStyle` package for vignette formatting.
- [ ] Table of contents in vignette is missing.
- [ ] Consider [citing references by bibliographies](https://bookdown.org/yihui/rmarkdown-cookbook/bibliography.html).
- [ ] Two Vignettes contain duplicated contents.

##

[2021-11-02 00:53] PeteHaitch commented on #2384
Hi @sofpn,

Thank you for making those changes, they all look good to me.
I will ask @lshep to mark the package for acceptance into Bioconductor.
Congratulations 🥳

I've got a couple of minor comments but these don't preclude acceptance:

I'm sorry about that. This was my best guess at trying to avoid the issue, but it's introduced a bigger problem! I don't think it's necessary to try another appr

[2021-11-02 05:01] jixccf opened #2417 "(inactive) QHScrnomo"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jixccf/QHScrnomo

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-11-02 05:01] #2417 closed, assigned to nobody

[2021-11-02 05:16] jixccf opened #2418 "QHScrnomo"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jixccf/QHScrnomo

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-11-02 10:08] vjcitn commented on #2418
I don't see how email = "kattanm@ccf" in the DESCRIPTION could be valid.

Is it possible to supply a genomics-oriented application?  I think this is an interesting package and would like to see it moving forward here, but Bioconductor doesn't typically review/distribute packages with no example of application in genomic data.  Your vignette says you are using artificial prostate cancer data.  Can

[2021-11-02 12:37] sofpn commented on #2384
Dear @PeteHaitch,

That's great news! I'm currently trying to fix the issue with the reference list, and have added SequenceMatching under BiocViews as suggested. I'll wait for comments from @lshep regarding the R version dependency, etc.

Thanks again!

Best regards,
Sofia

[2021-11-02 12:40] lshep commented on #2384
You are okay to ignore the R version since this originally was checked on R 4.1.0 and the Single Package builder is actually still using R 4.1. right now.  We'll be switching the single package builder over to R.4.2 in the next week or so and then we would recommend it more but given this time period its ok to leave R 4.1

[2021-11-02 14:27] sofpn commented on #2384
Hi again!

I changed citation style and removed unused references from the bibtex file, so I think the issue is fixed now:

<img width="686" alt="references" src="https://user-images.githubusercontent.com/39567760/139866178-d3caecc6-13d2-46fa-8ba4-d859749867f7.png">

A new version of the package will hopefully appear here soon.

Best regards,
Sofia

[2021-11-02 15:27] sofpn commented on #2384
Hi again!

Now `BiocCheck` produces the following error, which I cannot understand:

[code]

I tried to investigate this by building the updated package on my own computer. I ran `BiocCheck` (version 1.30.0) on the `.tar.gz` file without any errors or warnings. Any suggestions on how I can adress this?

Best regards,
Sofia

[2021-11-02 16:38] lshep commented on #2384
This is on our end.  @LiNk-NY  is working on a fix right now.  You can ignore the error. When the issue is resolved, I will manually kick off a new build for you.

[2021-11-02 20:26] danielinteractive commented on #2412
@jianhong Hi Jianhong, thx in advance for reviewing `hermes`. Do you have any tips what I can do about the build errors - they seem to come from the build system? (checks run all fine)

[2021-11-02 20:57] jixccf commented on #2418
Thanks for your review. I will close this issue for now and update it.

[2021-11-02 20:57] #2418 closed, assigned to nobody

[2021-11-02 22:41] davidechicco commented on #2416
Hi everyone,
thanks for considering my package submission to Bioconductor. I made some minor changes and just submitted a new version, and I noticed that surprisingly my package does not pass the checks on macOS anymore:

This is a bit weird to me, because my package has been using the `GEOquery` library in the last days too, and no error came up back then. Any idea on how to solve this issue? I'm

[2021-11-03 08:00] lazappi commented on #2416
I think this is probably an issue with **{GEOquery}** rather than your package. It looks like the release version has failed to build (on Windows though, not macOS) http://bioconductor.org/checkResults/release/bioc-LATEST/GEOquery/. Given that the other platforms build I'm happy to do the package review. It might be worth doing another version bump once **{GEOquery}** is building ok to trigger the

[2021-11-03 11:31] lshep commented on #2412
The ERROR for BiocCheck is on our end and you may ignore for now. we are investigating and when it is resolved we will kick off a manual build of your package with a new report.  Cheers

[2021-11-03 11:51] tomoyukif commented on #2380
@jianhong,
Thank you so much for your detailed review.
I will take a few days to fix the issues.

[2021-11-03 12:39] davidechicco commented on #2416
Thanks @lazappi for the clarification. It would be great if you could start the package review anyway. Yes, I'll do another version dump once `GEOquery` builds correctly on Windows.

[2021-11-03 13:01] jianhong commented on #2412
Thank you @lshep. @danielinteractive I will start review process now and keep you updated soon.

Jianhong.

[2021-11-03 13:39] lshep commented on #2383
Please note all dependencies need to be active on CRAN or Bioconductor. GMD has not been in CRAN since 2018.  It will need to be removed as a package dependency.

[2021-11-03 17:01] Jfortin1 commented on #2398
@LiNk-NY Hi Marcel, thanks for reviewing this package. The only error now for the package comes from the fact that `testthat` does not build on CRAN at the moment.

[2021-11-03 17:10] jfanglovestats commented on #2297
Hi Luke,

Thanks for the review of CDI package. I almost finish revising the package but do have one problem. You mentioned:

🚨 Rather than having an argument for the number of cores you should let users supply a BiocParallel::Param() object directly. This lets them have more control over how the parallelisation is done.

I changed my main function calculate_CDI to have one argument of bioc_parall

[2021-11-03 18:36] danielinteractive commented on #2412
Thanks both @lshep and @jianhong ! Much appreciated :-)

[2021-11-03 18:47] LiNk-NY commented on #2155
Hi Jean-Philippe, @Jfortin1

Sorry for the delay.

Please note that there are still some errors in the build report.
I am tagging Vince @vjcitn to take over the package review.

Best regards,
Marcel

[2021-11-03 18:51] LiNk-NY commented on #2398
Hi Jean-Philippe, @Jfortin1

It looks like `testthat` should be [available on Mac now](https://cran.r-project.org/web/checks/check_results_testthat.html).
Please bump the version for another build.
I will review your package today.

Best,
Marcel

[2021-11-03 20:03] LiNk-NY commented on #2398
Hi Jean-Philippe, @Jfortin1
Thank you for your submission. Please see the review below.
Best regards,
Marcel

---

# crisprBase #2398

## DESCRIPTION

* Please run `BiocCheck::BiocCheck()`.
* Remove `LazyData` field from the `DESCRIPTION` or set to `FALSE`.
* Include `BugReports` and `URL` fields.

## NAMESPACE

* Where possible, avoid using generic names e.g., `info` and `name`.
Presumably, `info

[2021-11-03 22:37] stemangiola commented on #2299
Thanks for your time, @lshep @Kayla-Morrell

[2021-11-04 15:18] lazappi commented on #2297
I think you probably need to prefix the function with the package name (eg. `bioc_parallel_obj  = BiocParallel::MulticoreParam(1)`). A couple of other minor suggestions:

* I would use `SerialParam()` as the default rather than `MulticoreParam(1)`, this is probably the clearest way and should avoid any overhead with setting up parallel processing when you are only using one core
* Arguments for th

[2021-11-04 15:35] Kayla-Morrell commented on #2393
@songjiajia2018 - Before an in-depth review of your package can take place please fix your package from all TIMEOUT and ERRORS.

Best,
Kayla

[2021-11-04 16:26] Kayla-Morrell commented on #2238
@marouenbg - Thank you for making the necessary changes. I have looked everything over and there are just a few things that need to be addressed before I can accept the package. Please see the requirements below and comment back here when the changes are ready for re-review.

# Vignette

- [ ] REQUIRED: The installation section should demonstrate to the user how to install and download the package

[2021-11-04 18:08] Jfortin1 commented on #2398
Thanks @LiNk-NY for your review -- I've improved the package to incorporate your comments and suggestions.
The only exception is leaving `LazyData=TRUE` as
- Our objects are very small
- Given the core utility of those already-constructed `CrisprNuclease` objects for CRISPR ecosystem packages (crisprBowtie and crisprDesign), we do want to access `SpCas9` by simply calling `crisprBase::SpCas9`

[2021-11-04 18:28] Jfortin1 commented on #2155
Hi @LiNk-NY @vjcitn, Yes, it still has an ERROR because of the discussion we had above:
- If we test >=80% functions, we run into timeout issue because of the conda installation via basilisk.

Looping in co-author Aaron Lun @LTLA as well

[2021-11-04 18:34] Lionir commented on #2391
Hi, I am still waiting for the hub team to approve AWS stored data. I sent an e-mail as required, any news regarding this? Thank you!

[2021-11-04 18:42] lshep commented on #2391
Could you please re-send the request to hubs@bioconductor.org, we currently do not see any request.

[2021-11-04 19:14] vjcitn commented on #2416
Hi, I had a look at the function in this package.  I wonder why the string "healthy controls" has such a privileged role.  Is this a convention throughout GEO?  If it is not, the function might be more useful if user could supply a string to check, with "healthy controls" the default value.

[2021-11-04 19:41] davidechicco commented on #2416
Hi @vjcitn, thanks for your message.
The string "healthy controls" has an extremely important role in gene expression datasets and among biomedical datasets in general because, if data of healthy controls are present in the dataset among data of patients, the researcher will be able to carry out a scientific analysis on both these conditions, and compare the results.
Most of the datasets on GEO co

[2021-11-05 00:18] Lionir commented on #2391
Thank you. Re-sent the e-mail, can you please check? It was supposed to be from eygen.chekalin@gmail.com. Thank you!

[2021-11-05 09:02] lazappi commented on #2416
Hi @davidechicco

I have done a first review of your package which I will post below. I just wanted to address some other points first.

* To clarify Vince's question I don't think he was asking my healthy controls themselves are important but why use only `"healthy controls"` as a search term. Is this a specified term by GEO? If not, it seems likely that whoever uploaded the data could describe t

[2021-11-05 09:04] lazappi commented on #2416
# Review

**Key:** :rotating_light: Required :warning: Recommended :green_circle: Optional

## General package development

- Package check should be ok once dependencies are building properly
- [ ] :warning: There are some notes from `BiocCheck::BiocCheck()` in the build report. Please have a look at these and see if you can address any.

## NAMESPACE file

- [ ] :warning: Generally use `importFr

[2021-11-05 10:50] bioinformatic-seragnoli commented on #2345
Hi @LiNk-NY  ,
We are about to complete the improvements to our package. As soon as possible, we will provide a detailed list of all the changes made by replying point by point to your review.
Best,
Bioinformatics Seragnoli

[2021-11-05 14:27] lshep commented on #2064
Were you ready for a re-review?

[2021-11-05 14:27] #2279 closed, assigned to lshep

[2021-11-05 15:01] gabrielodom commented on #2064
@lshep -- if you have time. We aren't in a huge hurry (the paper was already accepted), and we know you have a million other things.

[2021-11-06 07:04] sofpn commented on #2384
Hi!

Now the build failed on MacOS, with the following error:

[code]
Build and check were ok on Linux and Windows.

Do you know what the issue is here?

Best,
Sofia

[2021-11-07 19:47] LTLA commented on #2155
To recap: **basilisk** works by installing conda environments on first use. Running the examples triggers installation of each environment (4 in total), each of which takes a few minutes to install. This will kick out the build times and cause a timeout.

I would suggest ignoring this particular error and making sure that all functions are adequately tested in the `longtests/`.

[2021-11-07 22:40] PeteHaitch commented on #2384
I suspect it's an issue with the MacOS build machine, but we'll need someone from the core team to chime in with the cause and what you should do. Pinging @lshep

[2021-11-08 13:31] ghost opened #2419 "(inactive) DEPTH"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lsw123456789/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2021-11-08 13:31] #2419 closed, assigned to nobody

[2021-11-08 13:45] WangX-Lab opened #2420 "(inactive) DEPTH: An algorithm to quantify intratumor heterogeneity based on alterations of gene expression profiles"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-11-08 13:45] #2420 closed, assigned to nobody

[2021-11-08 14:00] WangX-Lab opened #2421 "(inactive) DEPTH: An algorithm to quantify intratumor heterogeneity based on alterations of gene expression profiles."
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-11-08 14:00] #2421 closed, assigned to nobody

[2021-11-08 14:07] WangX-Lab opened #2422 "(inactive) DEPTH: An algorithm to quantify intratumor heterogeneity based on alterations of gene expression profiles."
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-11-08 14:07] #2422 closed, assigned to nobody

[2021-11-08 14:28] WangX-Lab opened #2423 "(inactive) DEPTH: An algorithm to quantify intratumor heterogeneity based on alterations of gene expression profiles."
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-11-08 14:28] #2423 closed, assigned to nobody

[2021-11-08 20:42] jwokaty commented on #2384
I was able to build `rprimer` on the mac builder, merida1. The missing packages were available when I built the package today. There are quite a few LaTex warnings, but it finishes. I've also posted the output of `R CMD check` where there was one error.

[code]
Merida1 session info:
[code]
Results of `R CMD check`
[code]

[2021-11-08 21:06] PeteHaitch commented on #2384
Thanks @jwokaty.
[**hexsticker** is a CRAN package](https://cran.r-project.org/web/packages/hexSticker/index.html), so it should be installable on `merida-1` (I thought it would've happened automatically, but I don't understand the build system).

@sofpn is **hexsticker** actually needed as a suggested dependency? I understand it was used to make the sticker but in a quick check I couldn't see whe

[2021-11-09 01:23] WangX-Lab opened #2424 "DEPTH"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-11-09 02:56] qxdu opened #2425 "(inactive) Rhisat"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Carla-Radames/Rhisat.git
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2021-11-09 02:56] #2425 closed, assigned to nobody

[2021-11-09 03:04] qxdu opened #2426 "(inactive) Rhisat"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Carla-Radames/Rhisat

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-11-09 18:14] lshep commented on #2245
@Shufeyangyi2015310117  may we expect and updated version of submission soon?  We like to see movement within a 3-4 week time frame?

[2021-11-09 18:14] lshep commented on #2275
@Danis102 may we expect and updated version of submission soon? We like to see movement within a 3-4 week time frame?

[2021-11-09 18:46] Danis102 commented on #2275
Very soon. We're working on updating the vignette according to some updates in the functions following changes after running BioCheck. Hopefully, the new updates will be submitted in just a few days.

Regards,
Daniel Natt (main developer of seqpac)

Skaffa Outlook för Android<https://aka.ms/ghei36>
________________________________
From: lshep ***@***.***>
Sent: Tuesday, November 9, 2021 7:15:00 PM

[2021-11-09 21:00] Lionir commented on #2391
Hi again,

I currently have 2 issues during the package building:
1. With merida1 sever, it can't load EH7279 from ExperimetHub for some reason (Checked on other mac machines, everything is fine):
sRGES=ExperimentHub()[["EH7279"]]
2. Win server can't allocate large vector enough during the computation of one of the functions runsRGES(). This function loads ~500mb matrix into memory along with seve

[2021-11-09 21:38] hpages commented on #2384
Hi Pete,

The situation with merida1 is complicated (see my explanations from yesterday on the community-bioc Slack).

TLDR: merida1 is not a good fit for the SPB at the moment so we will temporarily remove it.

H.

[2021-11-09 22:18] PeteHaitch commented on #2384
Thanks, @hpages.

@sofpn: The Slack thread Herve mentions is https://community-bioc.slack.com/archives/C02A1B8HUHZ/p1636324846013500 (you'll need to sign up to the community-bioc slack to read it).
When you're ready, would you mind making another push to git.bioconductor.org to kick off another build.
Hopefully everything will be all clear in the next build report and I can formally accept the pac

[2021-11-09 23:15] hpages commented on #2384
Removal of merida1 might not happen until tomorrow though so in the meantime please ignore merida1's results.
Thanks,
H.

[2021-11-10 03:50] marouenbg commented on #2238
Hi @Kayla-Morrell ,

Thank you for taking the time to review the package! I keep getting this error on the server, however, everything works fine locally.

Thank you

 BiocCheckGitClone('netZooR')

===============================

tar: Unrecognized archive format

[2021-11-10 06:38] sofpn commented on #2384
Thanks for all the information!

@PeteHaitch I removed hexSticker from suggests and made a new push, as seen above.

Best regards,
Sofia

[2021-11-10 12:08] lshep commented on #2238
There was a miscommunication on our end and merida1 should no longer be included in the build reports.  This can be ignored and we are removing the builder this morning.

[2021-11-10 13:22] lshep commented on #2391
The mac error is on our end most likely. The builder switched versions of Bioconductor and is no longer appropriate to run right now.  Can you ask about the memory issue on the bioc-devel@bioconductor.org mailing list

[2021-11-10 14:26] marouenbg commented on #2238
Thank you @lshep .
Hi @Kayla-Morrell ,
I finished addressing the remaining comments, expect the last one. I added examples in createPandaStyle.Rd and
visPandaInCytoscape.Rd using \donttest{} because they call a GUI.

Thank you

[2021-11-10 15:31] da-bar opened #2427 "JASPAR2022"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/da-bar/JASPAR2022

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-11-11 16:28] a-mahdipour commented on #2383
Thanks for the comment, I removed the GMD package and added the R function as needed in the package. Hope all are good now; now trying to push changes to ```git@git.bioconductor.org:packages/sciCNV```.

[2021-11-12 14:49] Kayla-Morrell commented on #2393
@songjiajia2018 - If no progress is made in the next couple of days I will be closing this issue for inactivity. Please make an effort to resolve the TIMEOUT in the build report. If you need help please comment on this issue and I'll provide assistance.

Best,
Kayla

[2021-11-12 14:52] lshep commented on #2064
In vin1 section 2.3. I still cannot reproduce your results.After the run
where we get ##NULL and change to Cgi_ls[5], your results show and answer. Mine
are still ##NULL and subsequently the rest of the code in 2.4 is also non
reproducible.

[code]

[2021-11-12 14:56] gabrielodom commented on #2064
@lshep, I know this is a huge ask, but do you have time for a Zoom call? We have tried everything we can think of to replicate this error, but to no avail.

[2021-11-12 15:01] lshep commented on #2064
That can be arranged. When were you thinking?

[2021-11-12 15:04] gabrielodom commented on #2064
Our time is yours to command. I have @fveitz in my office at this instant

[2021-11-12 15:05] lshep commented on #2064
I'm free now if you wanted to set up a zoom and email me or slack me the information to login

[2021-11-12 15:10] gabrielodom commented on #2064
Setting it up now

[2021-11-12 15:11] Kayla-Morrell commented on #2238
@marouenbg - Thank you for making those changes. I'm more than happy to accept that package now.

Best,
Kayla

[2021-11-12 15:12] gabrielodom commented on #2064
I sent it to the roswell park email. Is that still ok?

[2021-11-12 15:28] marouenbg commented on #2238
Thank you so much @lshep and @Kayla-Morrell for your help making netZooR a better package !

[2021-11-12 18:12] gabrielodom commented on #2064
@lshep, we have fixed the issue, and the build passes (see above).
Thank you, again, for your patience. I think we are ready for that re-review.

[2021-11-14 12:52] jianhong commented on #2412
# Package `hermes` Review

This package is in good shape but there are some issues need to be fixed.

## General package development

- [ ] `R CMD build` without errors, warnings and notes.
── Failure (test-differential.R:130:3): autoplot for HermesDataDiffExpr works as expected with custom options ──
- [ ]  Update R version dependency from 4.0 to 4.1.0.
- [ ] unknown macro '\insertRef' found in h

[2021-11-15 20:50] danielinteractive commented on #2412
Thanks a lot @jianhong for your review. Please see below some questions and comments on the reported issues.

Do you have more details on the failure here? E.g. is there a log file somewhere to have a look at?

No problem, we will do that.

Same question here re: more details.

The problem here is that we want to handle fit problems in a nicer way for the user - specifically we set results
to `NA`

[2021-11-15 21:52] jianhong commented on #2412
This is the output I got:
  * Run `testthat::snapshot_review('differential')` to review changes
  Backtrace:
      █
   1. └─vdiffr::expect_doppelganger(...) test-differential.R:130:2
   2.   ├─base::withCallingHandlers(...)
   3.   └─testthat::expect_snapshot_file(...)

This maybe caused by my environment. If the package can pass the building system, you can leave it.

No worry in current stage.

[2021-11-16 10:39] danielinteractive commented on #2412
Thanks @jianhong for your quick reply, I now pushed an update which resolves all issues as we aligned above.

[2021-11-16 13:26] Kayla-Morrell commented on #2393
@songjiajia2018 - It has now been well over 3 weeks since a build has been issued and no effort has been made to improve the package. I am closing this issue for inactivity. When you are ready to actively work on the package please comment back on this issue and I will reopen it.

Best,
Kayla

[2021-11-16 13:26] #2393 closed, assigned to Kayla-Morrell

[2021-11-16 13:29] #2245 closed, assigned to jianhong

[2021-11-16 14:16] lshep commented on #2384
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/sofpn.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-11-16 14:16] lshep commented on #2338
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/leejs-abv.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-11-16 14:16] #2384 closed, assigned to lshep

[2021-11-16 14:16] #2338 closed, assigned to lshep

[2021-11-16 14:16] lshep commented on #2238
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/marouenbg.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-11-16 14:16] #2238 closed, assigned to Kayla-Morrell

[2021-11-16 14:20] lshep commented on #2424
heterogeneity is not a valid biocViews term.  Please remove it from the list.

[2021-11-16 14:24] vjcitn commented on #2387
Package is in good shape.  Reading vignette, note some language issues:

---

**Lets’s** try to translate it to **staistical** inferences.

Suppose we have set of elements E and a set of communities C of this elements with some fuzzy membership, e.g. there is a numeric measure of how an element is represented in a community A(e,c) for each pair (e,c):e∈E,c∈C. The **higher is A(e,c) value is**

---

[2021-11-16 14:28] vjcitn commented on #2387
"U-statistics allows us to estimate the p-value for the value of t. The uncorrected p-value is (1−t)|C|."

You are referring to Hoeffding's U-statistic framework?  This is incredibly compressed reasoning.  Please elaborate.  Do you expect the reader of the vignette to have been through some other document to obtain definitions of technical terms?  If so please be specific about pre-requisites.

[2021-11-17 08:22] danielinteractive commented on #2412
@jianhong not sure why I cannot join the bioc-devel mailing list. I applied now twice already for it.
This is the only error in the build logs.

[2021-11-17 19:20] lshep commented on #2424
The DEPTH package must be the root of the git clone.  Please update the package repository and move everything under the DEPTH/DEPTH directory up to the main directory.  Please also correct BiocCheck errors that could already be found.

[2021-11-18 00:16] tomoyukif commented on #2380
@jianhong,
I finally finished to fix the issues you pointed out.
The codes were largely reorganized with making several sub functions to avoid redundancy.
I also changed file creation functions so that all intermediate files are saved to `tempfile()`.
I hope the revised version meets all of the requirements.

[2021-11-18 09:44] WangX-Lab opened #2428 "(inactive) DEPTH"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-11-18 09:45] #2428 closed, assigned to nobody

[2021-11-18 09:50] WangX-Lab commented on #2424
Dear

Thank you for your precious comments. We have made changes now.

[2021-11-18 09:50] WangX-Lab commented on #2424
Thank you for your precious comments. We have made changes now.

[2021-11-18 09:52] WangX-Lab commented on #2424
Thank you for your precious comments. We have removed it now.

[2021-11-18 12:15] WangX-Lab commented on #2424
@lshep  I can't fetch the upstream. (So I can't trigger new build report...) What do you think?
(I fixed the "ERROR" on the origin. But I can't push the update to upstream.)

$ git clone git@git.bioconductor.org:packages/DEPTH
Cloning into 'DEPTH'...
git@git.bioconductor.org: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access

[2021-11-18 13:17] jianhong commented on #2412
@danielinteractive no worry about the mailing list. This happened many times. I will ignore it in current stage. But make sure you will get email from the bioc-devel mailing list and also sign up in the [support site](https://support.bioconductor.org/)

[2021-11-18 13:21] danielinteractive commented on #2412
thx @jianhong - I am not sure, it seems so far I did not receive any mails from the bioc-devel mailing list.
I signed up already on the support site though.

[2021-11-18 17:23] peymanzarrineh opened #2429 "Motif2Site package sumission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ManchesterBioinference/Motif2Site

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I h

[2021-11-18 18:12] davidechicco commented on #2416
Hi @lazappi
Thanks for your message and your review.

This is a very good point. I checked several datatasets and I noticed that another keyword used instead of ``healthy controls`` and ``healthy control`` is just ``healthy``, so I edited my script in order to capture that information. The word ``normal``, instead, cannot be used here because it can refer to some genetics aspect that can be normal

[2021-11-18 19:30] davidechicco commented on #2416
@lazappi No need to repeat your review at the moment, I still have to address some points. I submitted a new package version to see if the label could move from ERROR to OK, which fortunately happened.

[2021-11-19 15:10] davidechicco commented on #2416
Thanks @lazappi for all the time and the effort you dedicated to review my package!
I just submitted a new version of it. Here are my replies to the comments:

Davide: I checked them but I prefer not to change my code because it’s clearer in the way I wrote it for myself.

Davide: Done.

Davide: Done.

Davide: Done.

Davide: Done

Davide: Done

Davide: Done

Davide: Done

Davide: Done

Davide: Don

[2021-11-20 17:15] favorov commented on #2387
Hi, I am not sure was my previous message saved here, at least, I do not see it.
Thank you for reviewing! I am working on the text and I hope to fix it soon. As for the U-statistics, you are right, the reference is too brave, and actually, it is not completely valid, I use this framework to think about the distribution, but I calculate the probability by integration of the uniform over some shape

[2021-11-22 09:54] lazappi commented on #2416
Hi @davidechicco. I have a few more follow-up comments:

* There are still some `import()` statements in `NAMESPACE` (rather than `importFrom()`)
* A few points on the vignette (some of these also apply to `README`)
  * Code chunks showing functionality should be evaluated (the exception is installation instructions)
  * I probably wouldn't include GitHub installation instructions in the vignette

[2021-11-22 14:12] wolski opened #2430 "(inactive) prozor package submission"
The package I am submitting is already on CRAN. I am happy to remove it once it is accepted for Bioconductor.

Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/protViz/prozor

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,

[2021-11-22 14:12] #2430 closed, assigned to nobody

[2021-11-22 14:35] wolski commented on #2430
I did run BiocCheck, and I am rather sure that BiocCheck did not ERROR, WARN or NOTE about the version number format.

[2021-11-22 14:43] lshep commented on #2430
Thank you we will look into this.

[2021-11-22 14:51] lshep commented on #2430
I opened an issues  https://github.com/Bioconductor/BiocCheck/issues/146

[2021-11-22 14:54] davidechicco commented on #2416
Hi @lazappi, thanks again for your review. Please see my replies and few questions below:

True; sorry I missed them, I fixed them in the new version I'm developing.

I'm not sure what you mean here...

Okay, I'll remove them.

I will do it; sorry I missed it earlier.

I cannot find any actually; I will double check more in detail.

I actually created the [man Rd page](https://github.com/davidechi

[2021-11-22 15:38] wolski commented on #2430
Could you please clarify if I should create a new issue after fixing the package version number, or will the `bioc-issue-bot` run a further check after pushing into the repository?

I am asking because I noticed that issues are closed because :
"You (or someone) has already posted that repository to our tracker."
https://github.com/Bioconductor/Contributions/issues/2428

[2021-11-22 15:41] lshep commented on #2430
You can resubmit. There are other pre-checks but it will not be closed because of already being submitted because it did not pass prechecks. DEPTH was closed because there was already an open issue with an assigned reviewer.

[2021-11-22 15:47] wolski commented on #2430
Thank you a lot for the immediate clarification.

[2021-11-22 17:13] svenbioinf opened #2431 "OGRE submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/svenbioinf/OGRE

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bi

[2021-11-22 20:07] wolski opened #2432 "(inactive) prozor"
Hi,
I did run BiocCheck and I know that there are two errors:
[1] "Package must be removed from CRAN."
[2] "Maintainer must register at the support site; visit https://support.bioconductor.org/accounts/signup/ ."

Ad [1] I am happy to remove it from CRAN once it is accepted for Bioconductor.
Ad [2] I am registered with https://support.bioconductor.org/accounts/signup/ with the e-mail provided in t

[2021-11-22 20:07] #2432 closed, assigned to nobody

[2021-11-22 20:10] wolski opened #2433 "(inactive) prozor"
Hi,
I did run BiocCheck and I know that there are two errors:
[1] "Package must be removed from CRAN."
[2] "Maintainer must register at the support site; visit https://support.bioconductor.org/accounts/signup/ ."

Ad [1] I am happy to remove it from CRAN once it is accepted for Bioconductor.
Ad [2] I am registered with https://support.bioconductor.org/accounts/signup/ with the e-mail provided in t

[2021-11-22 20:14] davidechicco commented on #2416
Hi again @lazappi
I just submitted a new version of my package; I think I was able to address all your points except the man page one, about which I'm not completely sure I understood the needed requirements. As I mentioned earlier, my package [Rd man page](https://github.com/davidechicco/healthyControlsPresenceChecker/tree/main/man) is already present within the package.

Please let me know if th

[2021-11-22 23:28] LiNk-NY commented on #2314
Closed due to inactivity. Thank you for your submission.
Best,
Marcel

[2021-11-22 23:28] LiNk-NY commented on #2345
Hi @bioinformatic-seragnoli ,
Any updates on the changes? Thank you.
-Marcel

[2021-11-22 23:31] LiNk-NY commented on #2398
Hi Jean-Philippe, @Jfortin1
This is not a good argument for using `LazyData`. I can see the convenience but for readability's sake, it is best to use `data("SpCas9", package = "crisprBase")` instead. This makes the user immediately aware of what is being requested and from where.
Please remember to respond to the review line-by-line. Thank you.

[2021-11-23 00:30] molesong commented on #2210
Dear Zhiqiang, @Zhiqiang-PANG

Thank you for your contribution.
I have a problem when I installed the package.Please check it.Thank you very much!

** R
Warning: unable to re-encode 'Optimize_params.R' line 1839
Warning in readLines(f, warn = FALSE) :
  invalid input found on input connection '

Error in parse(outFile) :
  C:/Users/31219/AppData/Local/Temp/RtmpMLDchH/R.INSTALLcd059246acc/OptiLCMS/

[2021-11-23 12:30] #2433 closed, assigned to nobody

[2021-11-23 12:33] lshep commented on #2433
Proceed despite the support site we can look into reason why it is not registering.  As far as removal from CRAN,  we will proceed with the review process and when the package is accepted by your reviewers,  before we will move it onto the daily builds  for availability,  we will expect it to be removed from CRAN.  We hope this is an acceptable compromise.

[2021-11-23 13:44] nturaga commented on #2354
## CNVMetrics

Your package is well written. I'm happy to accept it if you can issue another build report.

## General package development

- [x] `R CMD build` without errors, warnings and notes.
- [x] Package passes `BiocCheck::BiocCheck()`, `BiocCheck::BiocCheckGitClone()`.
- [x] File names.
- [x] Package size.
- [x] `R CMD check --no-build-vignettes` within 10 minutes.
- [x] Memory requirement

[2021-11-23 14:33] wolski opened #2434 "(inactive) prozor"
Hi,
I did run BiocCheck and I know that there are two errors:
[1] "Package must be removed from CRAN."
[2] "Maintainer must register at the support site; visit https://support.bioconductor.org/accounts/signup/ ."

Ad [1] I am happy to remove it from CRAN once it is accepted for Bioconductor.
Ad [2] I am registered with https://support.bioconductor.org/accounts/signup/ with the e-mail provided in t

[2021-11-23 19:58] danielinteractive commented on #2412
@jianhong what would be the next step? is anything remaining in terms of review? thx!

[2021-11-23 20:03] jianhong commented on #2412
Sorry for the delay. I am a little busy recently. I will submit the review soon.

[2021-11-23 20:21] jianhong commented on #2412
@danielinteractive great progress. Only one thing left. Please consider to fix the `tryCatch` in `normalization.R` line 241. Once you got fixed, it is ready to accept.

[2021-11-23 20:26] danielinteractive commented on #2412
@jianhong thx for having a look - I actually tested that separately, by running a script non-interactively (with `Rscript`) and it actually did work as in interactive mode. So I don't think this is a problem. (Also I looked up and understand that `try` is using `tryCatch` internally - so seems any deficiency `tryCatch` would potentially have also is inherited by `try`.) Or did I miss something?

[2021-11-23 20:56] jianhong commented on #2380
@tomoyukif almost there. Please fix the following issues:

- [ ] suggest change `AllUtillities.R` line 55-56 to `message(out_fn, ' exists!')`
- [ ] always call `closefn.gds` by `on.exit` when you call `openfn.gds`; `on.exit` can be overloaded if you close the file manually. see `?on.exit` for more help.
- [ ] Please fix the documentation `return` section if you output the `ggplot` object for `pair

[2021-11-23 20:57] adeschen commented on #2354
Hi @nturaga ,

A new build report has been issued.
Thanks for the review,

Best Regards,
Astrid

[2021-11-23 21:07] nturaga commented on #2354
Thanks for your contribution. Happy holidays.

[2021-11-23 21:10] jianhong commented on #2412
@danielinteractive Oh, R already fixed this issue. Thank you for the message.

[2021-11-24 02:49] a-mahdipour commented on #2383
Can you please help me with this issue after running ```BiocCheckGitClone()```?
[code]

[2021-11-24 07:49] lazappi commented on #2383
This just means you have some extra files in your git repository which aren't required for the package. You can remove these using `git rm --cached file`. This will remove the files from git but leave them in your directory. To avoid adding them again you should include them in your `.gitignore` file.

[2021-11-24 07:49] lazappi commented on #2383
This just means you have some extra files in your git repository which aren't required for the package. You can remove these using git rm --cached file. This will remove the files from git but leave them in your directory. To avoid adding them again you should include them in your .gitignore file.

[2021-11-24 07:52] lazappi commented on #2416
Sorry for the confusion. What you have there is documentation for your function but you can also document the package itself as described here https://r-pkgs.org/man.html#man-packages. This is totally optional though so no stress if you don't want to worry about it.

[2021-11-24 08:31] danielinteractive commented on #2412
Great, thanks @jianhong - as this is my first Bioconductor package, naive question: will `hermes` then appear soon at http://bioconductor.org/packages/devel/bioc/ ?

[2021-11-24 09:56] tomoyukif commented on #2380
@jianhong
The call `closefn.gds` by `on.exit` for a manually closed file gave an error message saying "the GDS file is closed or uninitialized".
Therefore, I set to call `closefn.gds` by `on.exit` whenever I call `openfn.gds`, but I reset `on.exit` if I manually closed the file connection.
Is this way acceptable?

[2021-11-24 11:39] lshep commented on #2412
I'll process the packages later today. Once that happens it should appear within 48 hours

[2021-11-24 11:47] lshep commented on #2151
@seriph78  may we expect to see updates soon?  We like to see progress and response to review within 3-4 weeks.

[2021-11-24 11:49] lshep commented on #2234
@gongcongcong  may we expect any updates on the package soon?  We like to see progress and responses to reviews within 3-4 weeks?

[2021-11-24 11:50] lshep commented on #2275
We are temporarily closing this issue for inactivity as it has been another 2 weeks with no progress. When you are ready to submit changes please ask for the issue to be reopened to continue the review process.

[2021-11-24 11:51] lshep commented on #2294
@LeireAbarrategui  may we expect updates soon?  We like to see progress and response to reviews within a 3-4 week time frame.

[2021-11-24 11:53] lshep commented on #2304
We are closing this issue for inactivity.  If you would like to continue the review process please comment here for the issue to be reopened.

[2021-11-24 11:54] lshep commented on #2335
@ruqianl  may we expect updates soon?  We normally like to see progress and responses to reviews within a 3-4 week time frame.

[2021-11-24 11:55] lshep commented on #2349
@xiuyuma may we expect updates soon?  We like to see progress and responses to review within a 3-4 week time frame?

[2021-11-24 11:56] lshep commented on #2378
@ncrna may we expect updates soon? We like to see progress and response to reviews within a 3-4 week time frame?

[2021-11-24 12:05] ruqianl commented on #2335
Yes, sorry about the delay. This package is designed to take care of the downstream analysis from an upstream tool which is being updated at the same time, so it's been taking a bit time to integrate them. Will push changes soon. Thanks for the reminder.Best,Ruqian-------- Original message --------From: lshep ***@***.***>Date: Wed, Nov 24, 2021, 22:54To: Bioconductor/Contributions ***@***.***>Cc:

[2021-11-24 12:20] lshep commented on #2412
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/danielinteractive.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to you

[2021-11-24 12:20] lshep commented on #2354
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/adeschen.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-11-24 12:20] #2412 closed, assigned to jianhong

[2021-11-24 12:20] #2354 closed, assigned to nturaga

[2021-11-24 12:39] lshep commented on #2434
Please only have one email associated with your package maintainer.

[2021-11-24 12:42] lshep commented on #2434
Your BiocCredentials account was set up with wewolski@gmail.com

[2021-11-24 12:53] lshep commented on #2064
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/fveitz.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2021-11-24 12:53] #2064 closed

[2021-11-24 14:18] dongminjung opened #2435 "(inactive) GenProSeq"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dongminjung/GenProSeq

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-11-24 14:18] #2435 closed, assigned to nobody

[2021-11-24 14:18] bioinformatic-seragnoli commented on #2345
Hi @LiNk-NY,
that's the report of all changes made based on your suggestions.
Thank you,
Bioinformatics Seragnoli

**DESCRIPTION**
1.	(optional) Ensure that the DESCRIPTION file fits within an 80-character width limit.  **Done**
2.	Only specify version requirements for packages where you are using a feature that is not available in the older version of the package, otherwise it is not necessary. *

[2021-11-24 14:20] lshep commented on #2435
Do NOT submit a new issue -- request that  https://github.com/Bioconductor/Contributions/issues/2304  be reopened

[2021-11-24 14:41] dongminjung opened #2436 "(inactive) GenProSeq"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dongminjung/GenProSeq

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-11-24 14:41] #2436 closed, assigned to nobody

[2021-11-24 15:06] dongminjung commented on #2435
I'm just waiting for your Windows server to be fixed. I ask you to reopen the issue #2304.

[2021-11-24 15:11] davidechicco commented on #2416
Thanks @lazappi for this clarification; I added a man page for the package itself in the new software package version I just resubmitted to Bioconductor. I hope it's okay now.

I look forward to moving to the next steps soon. Thanks again for your time and your effort for my package review.

[2021-11-24 15:17] vjcitn commented on #2155
At this point, it seems that BiocCheck has error
[code]
Now if the timeout owing to basilisk/conda is the main concern, I wonder whether there is a way forward, foregoing the safety of basilisk, by using reticulate, under the assumption that the appropriate python infrastructure is available.

[2021-11-24 15:18] lshep commented on #2304
You were asked to kick off a new build and didn't.   also please see the october mailing list thread about using JAVA_HOME.  https://stat.ethz.ch/pipermail/bioc-devel/2021-October/018594.html

[2021-11-24 16:13] a-mahdipour commented on #2383
Thanks @lazappi !
It helped. still have some issues with ```R CMD CHECK```. Any idea how to fix this?
[code]

Do I need to fix these comments as well?
[code]

[2021-11-24 18:59] lshep commented on #2391
**octad.db**

**Description**

- [ ] Update to at least R 4.1

**NAMESPACE**

- [ ] Remove empty namespace

**README**

- [ ] Inlucde Bioconductor instructions

**inst**

- [ ] You have a citation reference in the README but no CITATION file in inst

**scripts**

- [ ] make-data should describe how the files on AWS were generated and include
  relevant source information.

**man**

- [ ] Have mini

[2021-11-24 19:39] lshep commented on #2424
Did you activate your BiocCredentials account?  You might have to add a new ssh-key for access which you can do after you activate your account. https://git.bioconductor.org/BiocCredentials

[2021-11-24 22:36] LiNk-NY commented on #2434
Hi Witold, @wolski

On quick inspection, the package does not seem to be making use of the Bioconductor ecosystem and thus is not a candidate for Bioconductor. If you have plans to rework the package to use [familiar Bioconductor classes and interfaces](https://contributions.bioconductor.org/common-bioconductor-methods-and-classes.html), you are welcome to resubmit the package.

Best regards,
Marc

[2021-11-24 23:28] LiNk-NY commented on #2345
Hi @bioinformatic-seragnoli,

After the package is published in Bioconductor, users will not be able to use your package outside of R version `>= 4.2.0`. These constraints are imposed by Bioconductor versioning. I recommend that you create a `legacy` branch in your repository for users who have not updated their version of R and add a disclaimer stating that the package is not guaranteed to work b

[2021-11-25 02:01] dongminjung commented on #2304
The issue for JAVA_HOME is resolved by adding `.BBSoptions`. However, there is another issue. Please, find that. Thanks.

[2021-11-25 08:13] lazappi commented on #2383
I haven't looked at the code but seems like you have referenced a variable called `CNV.mat2` which hasn't been assigned yet. Maybe check that function and see where the variable first appears?

The vignette checks should run, not quite sure why they were skipped but it might be because of this earlier error.

[2021-11-25 08:56] wolski commented on #2434
@LiNk-NY Hi Marcel,

Is my guess correct that you refer to the usage of the "seqinr" CRAN package? Should I replace it with Biostrings  `readAAStringSet`?

Is there anything else?

Best,
Witek

[2021-11-25 14:58] peymanzarrineh commented on #2429
Hello. Thank you for your report. This is my first package in R, so I am not familiar with many thing. It builds quite fast on my machine, so I am wondering what might be the problem. Are other packages and dependencies take long to be installed? or the Vignettes must not be built? I am going to try this on an empty environment but any feedback would help me a lot. Thank you.

[2021-11-26 13:14] lazappi commented on #2416
There are still a couple of minor issues with the vignette. The YAML front matter is a bit messed up, I think you just need to delete the very first line with a URL. The other thing is to make the installation instructions an unevaluated code chunk using:

[code]

[2021-11-26 14:20] davidechicco commented on #2416
Hi @lazappi, thanks for your additional comments. I addressed these points in the latest package version (version 0.99.14). I hope everything's okay now.

[2021-11-26 14:38] davidechicco commented on #2416
I just found and addressed a minor issue regarding the keyword search, and I submitted a new package version (0.99.15), which should be the final one.

[2021-11-27 19:33] LTLA commented on #2155
I doubt it, you would have to manually install all of the Python packages on the build machines. Some of these are very finicky.

[2021-11-28 17:57] gggraca opened #2437 "(inactive) MetaboAnnotatoR package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gggraca/MetaboAnnotatoR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2021-11-28 17:57] #2437 closed, assigned to nobody

[2021-11-29 12:19] vjcitn commented on #2387
Just checking in.  Do you have an anticipated date for revision?

[2021-11-29 15:46] lazappi commented on #2416
Hmmm...the YAML is still rendering weirdly for me. Maybe because it is indented?

![image](https://user-images.githubusercontent.com/6869320/143898169-013ee76e-83dc-4de0-aa49-e96480a7ecfb.png)

It should look more like this

![image](https://user-images.githubusercontent.com/6869320/143898550-a99aebd5-bd21-4575-a4df-8b9f93302e1c.png)

[2021-11-29 16:52] davidechicco commented on #2416
Hi @lazappi, thanks for your additional feedback. I think I was able to fix the YAML file following [this example](https://raw.githubusercontent.com/drisso/SingleCellExperiment/master/vignettes/intro.Rmd).
Unfortunately, a new error came out and I cannot fix it... the online checks say the DESCRIPTION file is missing or malformatted, but it's actually in the same place where it has always been and

[2021-11-29 17:03] lshep commented on #2416
https://stat.ethz.ch/pipermail/bioc-devel/2021-November/018712.html    on our end please ignore that error for now

[2021-11-29 17:28] davidechicco commented on #2416
Thanks @lshep for the clarification.
@lazappi Please let me know if everything's okay now, thank you.

[2021-11-29 20:04] xiuyuma commented on #2349
Hi,

Sorry for the delay, I will update later this week, Thank you.

Best Regards,
Xiuyu Ma
________________________________
From: lshep ***@***.***>
Sent: Wednesday, November 24, 2021 5:55 AM
To: Bioconductor/Contributions ***@***.***>
Cc: Xiuyu Ma ***@***.***>; Mention ***@***.***>
Subject: Re: [Bioconductor/Contributions] scDDboost (#2349)

@xiuyuma<https://github.com/xiuyuma> may we expect upd

[2021-11-29 20:39] jianhong commented on #2380
Yes, that is exactly what I mean.

[2021-11-29 20:50] jianhong commented on #2335
@ruqianl Let me know if you are ready for review. And also please describe your modification line by line if you have time.

[2021-11-30 01:11] Jfortin1 commented on #2398
@LiNk-NY Hi Marcel, I have now modified the package to use `LazyData=False`, and please find below my line-by-line review. The package has now an ERROR because of the DESCRIPTION file being malformed, supposedly. I cannot recapitulate this error locally with BiocCheck 1.31.14. Any idea what could be going on?

### DESCRIPTION

* Remove LazyData field from the DESCRIPTION or set to FALSE: **done**.

[2021-11-30 01:14] Jfortin1 commented on #2155
@vjcitn @LTLA This would be somewhat defeating the purpose of using `basilisk` (interfacing with multiple Python environments in one R session). Would it be productive to arrange a meeting to discuss this?

[2021-11-30 02:13] tomoyukif commented on #2380
@jianhong,
Thank you so much for your support and detailed review for my package.
The revision process made me consider more about user friendly implementation and practical effective coding.
Really good experience!

[2021-11-30 08:46] hpages commented on #2304
Hi @dongminjung,

`GenProSeq::fit_ART()` calls `DeepPINCS::get_seq_encode_pad()` internally which does not seem to work properly on Windows.

In a _fresh_ R session on riesling1:
[code]
Unfortunately the error message is empty.

Interestingly, the 2nd attempt works:
[code]
Furthermore, it works on the first attempt if I explicitly configure Python before calling `get_seq_encode_pad()`. For example

[2021-12-01 08:30] lazappi commented on #2416
Looks like it's all good now. I will approve this but it can take a few days to be picked up by the build system.

[2021-12-01 13:26] bioinformatic-seragnoli commented on #2345
Hi @LiNk-NY ,
we don't know the reason of the error resulting from the BiocCheckGitClone step, as our DESCRIPTION file is the same of previous versions.  Maybe you can give us some advice to fix this error.
However, the following lines are the report for your last review.
Thank you for your work

Bioinformatic Seragnoli

**Done: we created a "legacy" branch on our repository.**

**The newly create

[2021-12-01 14:04] #2378 closed, assigned to hpages

[2021-12-01 15:23] davidechicco commented on #2416
Thanks for this great news! :-)

[2021-12-01 16:04] marouenbg commented on #2238
Hi @lshep,

@violafanfani and I are trying to deploy netZooR in conda but Bioconductor page says it is compatible with R4.2 which has not been released yet https://bioconductor.org/packages/devel/bioc/html/netZooR.html
Would you have any suggestion for this?

Thank you,

[2021-12-01 16:13] vjcitn commented on #2238
Your package is in the devel branch of Bioconductor which only builds against R4.2 at this time.  To use netZooR with a different version of R, please install netZooR based on a compatible source version of your package that is, for example, in github.  You can use devtools::install_github to accomplish this if working from github; other approaches are available depending on how the source is mana

[2021-12-01 17:31] marouenbg commented on #2238
Hi @vjcitn ,
When do you think it will be on the base branch and how can I install R4.2 on my computer?
Thank you

[2021-12-01 17:37] hpages commented on #2222
Hi @zhaolianlu ,

Sorry for the delay.

**Item 1:**

But it takes only 0.007 s to run the `exportEnhancerTable` example on my laptop:
[code]
and only 2.18 s to run the `callEnhancer` example:
[code]
  Anyways, disabling examples is not the way to go as it almost guarantees that the code will rot at some point. We can already see some warnings when running the above code which suggests that the cod

[2021-12-01 17:40] vjcitn commented on #2238
I want to make sure it is understood that you can use the package in R 4.1 if you install it from github.  If you want to install it with the Bioconductor devel branch software, which is likely to be unstable, you can install R 4.2 using instructions at the bottom of https://bioconductor.org/developers/how-to/useDevel/

[2021-12-01 18:26] violafanfani commented on #2238
Hi @vjcitn, thanks a lot for helping. We encountered this issue as we are trying to prepare the conda recipe so that we can add netzooR to the bioconda channel as bioconductor-netzoor. If I understand correctly, to have a stable recipe (stable R version + stable version of dependencies) we should wait for netzoor to be on the base branch of bioconductor and In the meantime we could prepare a recip

[2021-12-01 18:48] favorov commented on #2387
The language improvement is kind of a week. The arxive preprint preparation is a month.

[2021-12-02 05:25] dongminjung commented on #2304
Hi @hpages

Thank you for your concerns about the python connection. Instead of **basilisk**, I add a condition for the connection to running examples by using `reticulate::py_module_available("rpytools")`. The **basilisk** uses a conda environment, however, I don't want to specify any versions of python packages to keep up with changes. Anyway, I found another error in `DESCRIPTION`.  I think, on

[2021-12-02 10:38] ruqianl commented on #2335
Hi Jianhong,

Thanks a lot. Yep, I will include the list of modifications addressing your
comments later when I finish updating.

Best,
Ruqian

On Tue, 30 Nov 2021 at 07:51, JIANHONG OU ***@***.***> wrote:

[2021-12-02 13:17] hpages commented on #2304
The problem is that for some reason `reticulate::py_module_available("rpytools")` always seems to return FALSE on Windows after loading **DeepPINCS**. This is on riesling1:

![Screenshot from 2021-12-02 04-31-26](https://user-images.githubusercontent.com/8810451/144423264-62139caa-6eb4-47bb-bf28-cec5a259f388.png)

No such problem if **DeepPINCS** is _not_ loaded before calling `reticulate::py_modu

[2021-12-02 19:20] Kayla-Morrell commented on #2431
@svenbioinf - Thank you for submitting to _Bioconductor_. Please see the initial review of the package below. The required changes must be made while the suggested changes do not have to be (though we strongly encourage them). Comment back here with updates that have been made and when the package is ready for a re-review.

## DESCRIPTION

- [ ] SUGGESTION: Set `LazyData` to false.
- [ ] REQUIRED:

[2021-12-03 08:40] HelenaLC commented on #2429
A couple general remarks.

1. I am not sure what you mean by "quite fast", but `R CMD build` did not finish on my machine after 1h+ (from the build report, the timeout occurs after 15min). From running through the vignette line by line, by best guess is that the chunk at line ~120 is causing this, but even up to then the examples take quite long.

2. If this were resolved (I ran `R CMD build --no-

[2021-12-06 16:06] pouryany opened #2438 "(inactive) PanomiR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-12-06 16:06] #2438 closed, assigned to nobody

[2021-12-06 16:08] pouryany opened #2439 "(inactive) PanomiR submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pouryany/PanomiR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-12-06 16:08] #2439 closed, assigned to nobody

[2021-12-06 16:19] pouryany opened #2440 "PanomiR submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pouryany/PanomiR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-12-07 08:32] tsvali opened #2441 "(inactive) Robust longitudinal Differential Expression (RolDE)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/elolab/RolDE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2021-12-07 08:32] #2441 closed, assigned to nobody

[2021-12-07 09:18] tsvali opened #2442 "RolDE (Robust longitudinal Differential Expression)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/elolab/RolDE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2021-12-07 11:00] bioinformatic-seragnoli commented on #2345
Dear @LiNk-NY,
Please can you give us some insights about our error ouput in the build report? Sorry for the insistence but we tryed to reproduce the error without success. We also tried in multiple ways to revert the repository to an old version but the check section in report still returns an error in the untar procedure, and we dont' know what can be the cause behind that. The following is the

[2021-12-07 11:19] jorainer opened #2443 "MetaboAnnotation"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rformassspectrometry/MetaboAnnotation

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x]

[2021-12-07 12:51] lshep commented on #2416
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/davidechicco.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2021-12-07 12:51] lshep commented on #2380
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/tomoyukif.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-12-07 12:51] #2416 closed, assigned to lazappi

[2021-12-07 12:51] #2380 closed, assigned to jianhong

[2021-12-07 13:40] lshep commented on #2297
@lazappi  The windows ERROR is on Bioconductor side.  Please ignore this ERROR when re-reviewing the package since it does not appear on the other platforms.

[2021-12-07 13:53] jfanglovestats commented on #2297
Hi Luke,

Thanks a lot for your helpful comments and suggestions!
We followed them to revise our package. Here we provide a point-to-point response document. Our responses are colored as blue under your comment. If the comment is addressed, we check the box in front of the comment.

Thanks!

Best,
@jfanglovestats

Review

Key: 🚨 Required ⚠️ Recommended 🟢 Optional
☑️Revised in the code ✍️reply to t

[2021-12-07 18:42] ferygood opened #2444 "TEKRABber submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: [https://github.com/ferygood/TEKRABber](https://github.com/ferygood/TEKRABber)

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the

[2021-12-07 18:56] lshep commented on #2444
@ferygood  We had trouble processing this request.  Could you resubmit the issue but instead of making the repository a link `[https://github.com/ferygood/TEKRABber](https://github.com/ferygood/TEKRABber)`  could you just put the plain url https://github.com/ferygood/TEKRABber  for the repository value.   Thank you

[2021-12-07 18:56] #2444 closed, assigned to nobody

[2021-12-07 19:02] ferygood opened #2445 "(inactive) TEKRABber submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ferygood/TEKRABber

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2021-12-07 19:02] #2445 closed, assigned to nobody

[2021-12-07 19:24] ferygood opened #2446 "TEKRABber submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ferygood/TEKRABber

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2021-12-07 21:58] Deisiany opened #2447 "(inactive) BSgenome.Gmax.EnsemblPlants"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

-

[2021-12-07 21:58] #2447 closed, assigned to nobody

[2021-12-08 15:26] a-mahdipour commented on #2383
Any thoughts about the error:
[code]
I tried diverse addresses for the directory but still shows an error.

[2021-12-08 15:35] lshep commented on #2383
you should provide the data in and inst/extdata directory in your package (move Dataset to inst/extdata) and then use `system.file("extdata", "Sample_CNV_matrix.txt", package="sciCNV")` to find it in examples and code.

[2021-12-08 18:11] LiNk-NY commented on #2345
Hi @bioinformatic-seragnoli
I will take a look at this. It is coming from `BiocCheck::BiocCheckGitClone`.
I've made some changes to this and they may be the cause.
Best,
Marcel

[2021-12-08 21:57] LiNk-NY commented on #2345
I am unable to reproduce this locally with the latest version of `BiocCheck`.

[code]

[2021-12-09 10:32] zslastman opened #2448 "(inactive) Ribostan"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/zslastman/Ribostan

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2021-12-09 16:29] qpmnguyen opened #2449 "CBEA Submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/qpmnguyen/CBEA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-12-09 20:15] LiNk-NY commented on #2345
Hi @bioinformatic-seragnoli
Can you bump the version for another build on the SPB?
Thanks.
-Marcel

[2021-12-09 20:33] LiNk-NY commented on #2398
Hi Jean-Philippe, @Jfortin1

Thank you for making those changes. They look good.
Please use dedicated getter functions and avoid using the `@`
operator in the `CrisprNuclease` show method.

The `metadata` generic is defined in `S4Vectors` and
you can use it to create a method for your class.

Best regards,
Marcel

[2021-12-09 21:45] gtca opened #2450 "(inactive) MuData"
- Repository: https://github.com/PMBio/MuDataMAE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package Gu

[2021-12-09 21:45] #2450 closed, assigned to nobody

[2021-12-09 23:52] Jfortin1 commented on #2398
Hi Marcel @LiNk-NY,

We have now changed the show method for both `CrisprNuclease` and `Nuclease` to only use getter functions. We were already importing `metadata` from `S4Vectors`, so we used that. Thanks!

Waiting for the build to finish now.

Best,
JP

[2021-12-09 23:55] ruqianl commented on #2335
Hi @jianhong ,

I'm ready for another review but I'm not sure why has been a report from this commit

# Package comapr Review
The package is in good shape but there are some issues need to be fixed.

## General package development
* [x]  Please include Bioconductor installation instructions using BiocManager in README.md.

## The DESCRIPTION file
* [x]  'LazyData:' in the 'DESCRIPTION' should be s

[2021-12-09 23:57] LiNk-NY commented on #2434
Hi Witek, @wolski

I was referring to the overall functionality of the package.
It does not look like a package that was created with Bioconductor functionality in mind.
Perhaps it make use of the suite of functionality provided by `MSnbase` and friends?

Replacing `seqinr` with `Biostrings` would be a good starting point.

Best regards,
Marcel

[2021-12-10 00:09] LiNk-NY commented on #2398
Hi Jean-Phlippe, @Jfortin1

Sorry for the mix up. The appropriate way to get the `metadata` functionality is by adding

[code]

to the class definition.

This will grant you a `metadata` method via inheritance so you won't need to define the method.

Best,
Marcel

[2021-12-10 09:27] Danis102 commented on #2275
Dear Ishep,

Would you please reopen our issue (submission) on Bioconducter. We are now ready to update our GitHub master and submit a new version of seqpac. I apologize for the delay. I can garantee that it is no lack in commitment, but rather that I have been struggling with a rather severe  diagnosis during the autumn. We now have a branch of Seqpac, however, that goes through BioCheck and devt

[2021-12-10 12:18] nilshoffmann opened #2451 "(inactive) rgoslin submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lifs-tools/rgoslin

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2021-12-10 12:18] #2451 closed, assigned to nobody

[2021-12-10 13:49] nilshoffmann opened #2452 "(inactive) rgoslin submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lifs-tools/rgoslin

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2021-12-10 13:49] #2452 closed, assigned to nobody

[2021-12-10 15:36] lazappi commented on #2297
Hi @jfanglovestats. This is looking pretty good but I have a few more comments.

* It is great to support `Seurat` objects but **{Seurat}** is not a Bioconductor package. To be compatible with the Bioconductor ecosystem you should really support `SingleCellExperiment` objects.
* I'm not sure I understand your argument. If you are already using `MulticoreParam` you should be depending on **{BiocPar

[2021-12-10 17:14] jfanglovestats commented on #2297
Hi @lazappi<https://github.com/lazappi>,

Thanks a lot for your reply. May I ask some questions to clarify the comments?

  1.  SingleCellExperiment object.

I tried to incorporate this type of object first. However, I met a problem when extracting the desired parts of the object. It seems SingleCellExperiment object has a flexible format, so different users could store the raw counts and gene nam

[2021-12-10 17:49] Jfortin1 commented on #2398
Hi Marcel @LiNk-NY, that's a great suggestion, thank you.
I have now changed the `Nuclease` object to extend the `Annotated` class, and reused the `metadata` method via inheritance. Documentation and vignette are updated as well.

[2021-12-10 17:51] LiNk-NY commented on #2398
Thanks!

[2021-12-10 17:59] Jfortin1 commented on #2398
Thank you for all of your time and feedback, much appreciated!

[2021-12-13 08:49] lazappi commented on #2297
Expression matrices will be stored in the `assays` slot of a `SingleCellExperiment`. These can be accessed with `assay(sce, "assay_name")`. There are also special accessors for when the assay is called "counts" (`counts(sce)`) or "logcounts" (`logcounts(sce)`). The best practice is to let the user select which assay they want to use by providing an argument to your functions. You will first need t

[2021-12-13 10:20] bioinformatic-seragnoli commented on #2345
Hi @LiNk-NY ,
we did the version bump as suggested,  however we can't see the build report. We're waiting for an update from you.
Best,
Bioinformatics Seragnoli

[2021-12-13 10:23] gtca opened #2453 "MuData"
- Repository: https://github.com/ilia-kats/MuData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package G

[2021-12-13 12:48] lshep commented on #2424
Please activate your account and push changes before a review will proceed.  If you do not proceed we will close the issue for inactivity and you can request to reopen when you can participate in the review process

[2021-12-14 12:50] vjcitn commented on #2442
This is a very nice package.  However, it does not interoperate with relevant Bioconductor data structures.  Annotated experimental data for multiple samples should use SummarizedExperiment.  Please have a look at SummarizedExperiment package and if you have questions about how to use it please get in touch on slack.

[2021-12-14 13:20] vjcitn commented on #2446
In R CMD check:
[code]
Also you are using multisample matrices for which SummarizedExperiment design is intended.  Please use SummarizedExperiment in your package.  Get in touch on slack if there are questions.

[2021-12-14 13:39] vjcitn commented on #2448
see https://github.com/zslastman/RiboStan/issues/2 -- can't even build with current R/Bioc

[2021-12-14 13:42] zslastman commented on #2448
Hi, sorry about that! I will be able to give this my focus again tuesday
next week, will fix the licence issues and confirm it builds on my own
machine, with the most recent bioc docker image.

On Tue, Dec 14, 2021, 2:39 PM Vince Carey ***@***.***> wrote:

[2021-12-14 13:57] vjcitn commented on #2399
This package is in great shape.  It would be good to deal with the BiocCheck NOTEs, specifically
[code]
The second one is not obligatory but over time you should adopt vapply to get a little more robustness.  Please take care of R version, bump your package version, and it will be accepted.

[2021-12-14 17:09] LiNk-NY commented on #2345
Hi @bioinformatic-seragnoli
Thank you for your contribution.
Your package has been accepted.
Best regards,
Marcel

[2021-12-14 18:31] pouryany commented on #2440
Hi @lshep

Thank you for your feedback! The pre-review changes were addressed as requested.

The issue:
https://github.com/pouryany/PanomiR/issues/79

Best,
Pourya

[2021-12-15 09:56] Keniajin opened #2454 "(inactive) protGear"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Keniajin/protGear

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-12-15 09:56] #2454 closed, assigned to nobody

[2021-12-15 10:00] Keniajin opened #2455 "(inactive) protGear"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Keniajin/protGear

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-12-15 10:00] #2455 closed, assigned to nobody

[2021-12-15 10:03] Keniajin opened #2456 "(inactive) protGear"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-12-15 10:03] #2456 closed, assigned to nobody

[2021-12-15 10:04] Keniajin opened #2457 "(inactive) protGear"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Keniajin/protGear

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _B

[2021-12-15 10:04] #2457 closed, assigned to nobody

[2021-12-15 10:59] tsvali commented on #2442
Thank you for your response. I will take a look at the SummarizedExperiment package and get back to you.

[2021-12-15 11:33] Keniajin opened #2458 "(inactive) protGear"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Keniajin/protGear

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-12-15 11:33] #2458 closed, assigned to nobody

[2021-12-15 11:39] Keniajin opened #2459 "(inactive) protGear"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Keniajin/protGear

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-12-15 11:39] #2459 closed, assigned to nobody

[2021-12-15 12:34] Keniajin opened #2460 "protGear"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Keniajin/protGear

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-12-15 14:04] mana-W opened #2461 "(inactive) LinTInd"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mana-W/LinTInd

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-12-15 14:04] #2461 closed, assigned to nobody

[2021-12-15 17:23] Jfortin1 commented on #2398
@LiNk-NY Hi Marcel, It seems the package is not yet building in BioC 3.15 -- is there anything else I should do from my side?

[2021-12-15 17:32] lshep commented on #2398
@Jfortin1  nothing else to do from your sorry.  I needed to process the accepted packages.  I will do that now and it should appear available within the next 48 hours as long as it still install/builds/checks cleanly on the daily builder.  Sorry for the delay

[2021-12-15 17:34] lshep commented on #2398
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-12-15 17:34] lshep commented on #2345
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/bioinformatic-seragnoli.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key

[2021-12-15 17:34] #2398 closed, assigned to LiNk-NY

[2021-12-15 17:34] #2345 closed, assigned to LiNk-NY

[2021-12-16 08:31] lazappi commented on #2453
Hi @gtca. Just FYI I will be on leave from next week until 11 January so I probably won't review this until I get back (am excited to have a look at it though!).

[2021-12-16 11:19] ferygood commented on #2446
Dear Vince,

Thank you very much for your time reviewing my package. I have fixed the "VignetteBuilder" message in R CMD check. I also arrange the data which has the same row names into a SummarizedExperiment object. Please have a look, and if you have further questions/suggestions, please let me know. Many thanks!

Best,
Yao-Chung

[2021-12-16 16:58] vjcitn commented on #2460
Thanks for this submission.  This is a very interesting package and I hope we can review it favorably.  At present, we cannot review it for a few reasons.  First, my own attempt to install the package failed because of pacman misbehavior.  Please do not use pacman functions in your package.  Package installation activities are to be governed by the DESCRIPTION file as it will be processed by BiocM

[2021-12-17 12:19] vjcitn commented on #2155
I am sorry to have missed this comment.  I will spend some time reviewing the situation.  It would be
really outstanding if you could figure out a way to test adequately -- maybe with the longtests feature -- but
pass check with meaningful examples that don't time out.

[2021-12-17 12:58] vjcitn commented on #2155
I did not realize that the different get*Scores required such incompatible python environments.  Is there no further development going on with these scoring tools to bring them to a more current and compatible state?  Anyway, @LiNk-NY -- would BiocCheck pass this package if >80% of the examples were wrapped in if (interactive())?  I think that is OK for users, gives them a good sense of what is go

[2021-12-17 12:59] vjcitn commented on #2387
How are we doing with language improvement?

[2021-12-17 12:59] vjcitn commented on #2399
Please let us know if you are going to be able to address this.  We'd like to get it into the standard devel builds.

[2021-12-17 13:04] vjcitn commented on #2427
Hi, thanks for your submission.  Do not download files in the package loading process.  You
can write code that user should invoke to use BiocFileCache to gather and reference the
resource once downloaded.  If you have questions about this after reading the BiocFileCache
doc, please ask at bioc-devel mailing list.  @LiNk-NY should BiocCheck catch this?  @lshep this
should be awaiting pre-review ch

[2021-12-17 13:07] lshep commented on #2427
The files would be cached automatically if the resource is submitted to the AnnotationHub and using the AnnotationHub interface as well.  It looks like the data is on a publically hosted server so we would just need to add the metadata to the hub and then the access in the package could be achieved with the AnnotationHub interface with automatic caching.
Let us know how you would like to proceed.

[2021-12-17 13:27] vjcitn commented on #2427
Yes, this sounds like an AnnotationHub resource.

[2021-12-17 16:17] favorov commented on #2387
Thank you for asking. Hope to submit it this weekend.

On Fri, Dec 17, 2021 at 7:59 AM Vince Carey ***@***.***> wrote:

[2021-12-17 16:33] LiNk-NY commented on #2155
Yes, I think using `if (interactive())` would make the examples pass BiocCheck.

Jean-Philippe, can you work on these two notes from `BiocCheck`?

[code]
You could either remove them or replace with `if (interactive())` where appropriate.
Perhaps some of that code can be added to the long tests.
Thanks!

[2021-12-17 16:46] LiNk-NY commented on #2427
Did you mean catching it within the `.onLoad` function or within the entirety of the package?
I can work on the former; it would be a check that looks for any download functions in the `.onLoad`.

[2021-12-17 17:00] vjcitn commented on #2427
@LiNk-NY I think flagging downloads in .onLoad (and .onAttach too?) makes sense.

[2021-12-18 02:29] Jfortin1 commented on #2155
Thank you Marcel @LiNk-NY and Vince @vjcitn, adding `interactive()` did the trick.
I've now made the following changes and pushed a new version:

- Changed `dontrun{}` to `if (interactive(){}` in the man examples
- Added the tests that were timing out to a `longtests` folder and added `RunLongTests: TRUE` to the `.BBSoptions` file

[2021-12-18 03:04] Jfortin1 opened #2462 "crisprBowtie"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprBowtie

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read t

[2021-12-18 05:31] dongminjung commented on #2304
Hi @hpages

I found that the package **rcdk** causes the problem for Windows. So I removed it from the `NAMESPACE` file of **DeepPINCS**. Also, `reticulate::py_module_available("rpytools")` was removed from the packages, **DeepPINCS**, **VAExprs** and **GenProSeq**. Please find them. Thanks.

[2021-12-18 11:31] VingronLab opened #2463 "(inactive) APL package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/VingronLab/APL

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-12-18 11:31] #2463 closed, assigned to nobody

[2021-12-18 11:33] VingronLab opened #2464 "(inactive) APL package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/VingronLab/APL

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-12-18 11:34] #2464 closed, assigned to nobody

[2021-12-18 12:54] VingronLab opened #2465 "APL package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/VingronLab/APL

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco