[2022-05-31 10:14] lazappi commented on #2676
You need to push to `upstream master`, the Bioconductor git server still uses `master` as the main branch rather than `main`.

[2022-05-31 11:06] daanhazelaar commented on #2676
Now I get the following. I have not been able to solve it. Do you have any advice?

![Screenshot 2022-05-31 at 13 05 30](https://user-images.githubusercontent.com/55545896/171159704-a3906906-075f-4746-afd7-47cb64171dca.png)

[2022-05-31 11:19] lshep commented on #2676
Please see #5  of [new package workflow](http://contributions.bioconductor.org/git-version-control.html#new-package-workflow) .

[2022-05-31 14:07] vjcitn commented on #2678
Thanks for this contribution.  Your vignette has
[code]
We don't allow dependence of code on data resources lodged in github.  You can contribute the data (if large) to ExperimentHub so that there is a systematic way of retrieving and caching the resource.  As it stands the
data would be read every time the vignette is built.  I also find that your vignette does not become
available when I build a

[2022-05-31 14:13] jingeyu commented on #2663
Thank you for the bulid report!

[2022-05-31 14:40] nturaga commented on #2676
You seemed to be able to push now! Great news!

[2022-05-31 14:50] daanhazelaar commented on #2676
Dear nturaga,

Yes definitely great! 😅

Kind regards,
Daan Hazelaar

[2022-05-31 16:07] lshep commented on #2391
**octad.db**

- [ ] I'm not seeing documentation updates at git.bioconductor.org for the octad.db.  Please
make sure you have pushed the updates as the help pages for `?res_example` and
`?sRGES_example` are still not adequate and haven't added any information
[code]

- [ ] The link is the vignette is not rendering properly. You missed the open
  parathesis to define the link
  ` obtained [here]htt

[2022-05-31 23:25] pablof1988 commented on #2658
Hello Oliver.

I just want to say that the article "An equivalence test between features lists, based on the Sorensen–Dice index and the joint frequencies of GO term enrichment" has been published in BMC Bioinformatics. This paper collect all the theoretical fundation of the goSorensen package (under revision). I think that article could be a base for your revision because We explain all the metho

[2022-06-01 00:07] genomaths commented on #2678
Thank you for letting me know

1. The dependence issue was fixed. The required data was already included
in the package in "/data/covid_aln.rda" (I forgot to update the vignette
with: data(covid_aln, package = "GenomAutomorphism"), now fixed.

2. In the file .Rbuildignore, I remove the line with "^vignettes/" and, in
the vignette, I introduced the change VignetteEngine{knitr::knitr} ->
VignetteEng

[2022-06-01 01:33] hpages commented on #1752
Hi @Deisiany ,

Package looks good. Just a few minor issues:

- Running `R CMD check` on the source tarball obtained with `R CMD build` produces the following note:
[code]
  This is because you've added a LICENSE file for Creative Commons Legal Code to the package. Note that this license conflicts with the Artistic-2.0 license. You need to choose one or the other. In any case if you keep this LICE

[2022-06-01 02:25] YuanningEric commented on #2558
@Kayla-Morrell  Hi Kayla, please do let me know how to check the boxes in front of you comments.

[2022-06-01 10:48] alex-d13 commented on #2627
I am still receiving warnings from BiocCheck in the bioconductor package builder due to an issue where i am apparently missing a conversion from T/F to TRUE/FALSE. When I run BiocCheck locally, this issue does not come up, do you have an idea how this can happen?

@vjcitn @lshep @Kayla-Morrell

[2022-06-01 11:00] ococrook commented on #2658
Hi @pablof1988 thanks for the paper link, the method looks very useful. Could you address the following issues or explain why they are not possible? If you could write a brief response to say that you have made these changes then that would be great. Remember to bump the package version once you have made the changes.

# Description:

- [ ] Authors, please add ORCID if possible

- [ ] LazyData ple

[2022-06-01 12:27] EmanuelSoda commented on #2555
Hi @lazappi thanks for the answer.
I have a doubts or questions Here some points:
 
**Could you explain why you feel it is necessary to have a custom object?**
The idea at the base of ScreenR is to perform a **DE analysis** of shRNAs associated to genes in a **tidy** way to do this the ScreenR object contains all the information to perform this type of analysis and it try to take care of how the a

[2022-06-01 13:25] Kayla-Morrell commented on #2558
@YuanningEric - I believe you need to copy the text and paste in the comment box, then you'll be able to click the boxes on your own comment. If that doesn't work just indicate in text which points were addressed.

[2022-06-01 13:51] lshep commented on #2627
potentially the version you are using locally.  What version of R/Bioconductor and BiocCheck are you using?

[2022-06-01 16:17] Deisiany commented on #1752
Hi @hpages,

I have made the alterations you have mentioned.

Thank you so much!

[2022-06-01 16:48] Kayla-Morrell commented on #2557
@rossinerbe - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: In the README file the ins

[2022-06-01 18:08] PickeringLab opened #2683 "(inactive) CellSurvAssay R package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PickeringLab/CellSurvAssay

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2022-06-01 18:08] #2683 closed, assigned to nobody

[2022-06-01 18:19] jianhong commented on #2669
# Package 'mslp' Review
The package passed check and build. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] R version should be no less than 4.2

## General package development
- [ ] Important: Consider adding runnable examples
      to man pages that documentexported
      objects.

- [ ] Important: Usage of dontrun{} / donttest{}
      found in man page examples

[2022-06-01 18:39] lshep commented on #1840
Sorry for the delay.  Please see comments below:

**README**

OK

**DESCRIPTION**

OK

**NAMESPACE**

OK

**NEWS**

- [ ] Please don't have empty news section or change to subsections. `factR
  (development)` is empty section currently.

[code]

**inst**

- [ ] Please include an `inst/scripts/` directory that describes how the data in
  `inst/extadata` was generated and any relevant source/referen

[2022-06-01 19:00] PickeringLab opened #2684 "(inactive) "CellSurvAssay" R package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PickeringLab/CellSurvAssay

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2022-06-02 05:55] alexchwong opened #2685 "SpliceWiz R package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alexchwong/SpliceWiz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-06-02 05:59] alexchwong commented on #2685
Dear Reviewers,

Please be aware that SpliceWiz is intended to replace the NxtIRFcore R package already in Bioconductor (and should be reviewed in this context). It includes some performance improvements as well as the introduction of a shiny-based GUI. SpliceWiz is submitted as a separate package to facilitate the package name change.

[2022-06-02 07:14] ccshao commented on #2669
@jianhong  Many thanks for the quick feedbacks! I will update the thread addressing all issues.

[2022-06-02 07:34] fursham-h commented on #1840
Thank you for your comments @lshep! I will work on the changes. A question, can I include bash scripts in the inst/scripts folder?

[2022-06-02 07:39] lazappi commented on #2555
I think you could probably have done that with an existing object but it should be ok if you think there is enough reason for a custom one. In the future it might be worth providing exported functions which allow the user to convert to some of the more standard formats.

Somehow I managed to miss these, I just had a quick look and they should be ok.

This should be fine. Obviously I wasn't really

[2022-06-02 14:33] lshep commented on #1840
I don't see why not.

[2022-06-02 17:07] hpages commented on #1752
Thanks.

2 more things, sorry:

- As mentioned above, you need to add `+ file LICENSE` to your `License:` field. This is a requirement for any R package with a  LICENSE file in general.

- You have two `README.md` files (one in the top-level folder of your GitHub repo, and one inside the `BSgenome.Gmax.NCBI.Gmv40` package), and both of them contain the following:
[code]
  However, this is not how

[2022-06-02 18:02] Deisiany commented on #1752
Hi @hpages,

I am sorry!
I hope it correct this time. Let me know if I am mis-understanding what you are saying, but if I did understand now it is correct.

If it does not work I will switch back to License: Artistic-2.0 and that should make it easier, correct?

Thaank you!

[2022-06-02 23:08] hpages commented on #1752
Thanks for those corrections.

The DESCRIPTION file has:
[code]
This is incorrect. There are 2 ways to specify the authors/maintainer of a package: (1) with an `Author:` and `Maintainer:` field, OR (2) with an `Authors@R:` field. The 2 methods are mutually exclusive.

Note that the `person()` syntax can only be used in method (2) (i.e. in the `Authors@R:` field). It can not and should not be used

[2022-06-02 23:22] Deisiany commented on #1752
Thank you!

I have done those and added the commitment agreement to the DESCRIPTION file.
Both emails are correct!

Thanks,
Deisiany

[2022-06-03 12:14] vjcitn commented on #2639
I noticed that the vignette chunks are all eval=FALSE, be sure that vignette code actually runs when you reopen this issue.  I am closing it for now, just reopen when you have made your revisions to initiate review; also be sure R CMD check and BiocCheck pass when you do this.

[2022-06-03 12:14] #2639 closed, assigned to nobody

[2022-06-03 13:10] vjcitn commented on #2655
Will you be addressing these comments?  For now I will close the issue; reopen when you have a response.

[2022-06-03 13:10] #2655 closed, assigned to nobody

[2022-06-03 13:11] vjcitn commented on #2656
Looks like you should have used the related packages protocol.  @lshep

[2022-06-03 13:19] lshep commented on #2644
I apologize for the delay; I was away on holiday.  A more detailed review will be done in the next week.

[2022-06-03 13:23] lshep commented on #2609
@biomod-lih could you please respond and make corrections based on reviewers comments? we like to see progress in 3-4 weeks time to keep the review process moving forward.

[2022-06-03 13:24] lshep commented on #2481
There has still be no updates or responses to reviewers comments.  We like to see progress in a 3-4 week time period to keep review process moving forward.  We are closing for inactivity.  Please comment back here when you are ready to push changes and continue with the review process.

[2022-06-03 13:24] #2481 closed, assigned to lgatto, hpages

[2022-06-03 13:26] lshep commented on #2383
@alimahdipour   we like to see progress in 3-4 weeks time to keep the review process moving forward. a formal review will not occur until the ERROR's are corrected.

[2022-06-03 13:26] #2482 closed, assigned to lgatto

[2022-06-03 13:33] vjcitn commented on #2604
Hi, we'll temporarily close the issue, reopen when you are ready to proceed.  The author of RBioFormats seemed willing to contribute the package to Bioconductor, which would simplify matters for you.  Perhaps you should be in touch.

[2022-06-03 13:53] vjcitn commented on #2679
Why does the "Real data" section of vignette have no results?

[2022-06-03 13:57] jianhong commented on #2679
The Real data section is used for user to copy and run. There is no real data included in the package. Should I remove that session?

Jianhong.

[2022-06-03 14:16] LiNk-NY commented on #2602
Hi Nicole, @NicoleEO

Are there any updates on the trajectory of this package?
We'd be happy to provide further assistance.

Best regards,
Marcel

[2022-06-03 14:19] vjcitn commented on #2684
Thanks for your submission.  It does not interact with any Bioconductor resources or software.  But some of the pharmacogenomic packages might have data that would help illustrate value of your package?  Please have a look and respond on this issue.

[2022-06-03 16:39] NicoleEO commented on #2602
Hi Marcel, @LiNk-NY

I am still working on this. I have some other projects that are taking priority right now, but I'm planning on getting back to this soon.

Thanks,
Nicole

[2022-06-03 16:45] nturaga commented on #2605
# Review 2

- Remove ORCID id if not available, https://github.com/TrigosTeam/spaSim/blob/3afc583d5d41cfb3e25202cc4fff7114a54ab957/DESCRIPTION#L9

- Please check the latest build report https://bioconductor.org/spb_reports/spaSim_buildreport_20220603124633.html and fix as many of the simple "NOTE" issues as possible.

Otherwise, it looks good to me. As soon as the build finishes, I'll accept it. P

[2022-06-03 17:21] pablof1988 commented on #2658
Hello Dear Olive @ococrook
Thank you for your observations. Please, I have a question:
The S3 class “equivSDTest” is a paradigmatic example of why we opted for the S3 class model: An “equivSDTest” is an “htest”, i.e., inheriting from “htest” we have all its methods, like ‘print’.
In fact, we prefer S4 and possibly opting for S3 was a wrong decision. In any case, we must address the task of migrati

[2022-06-03 18:31] mooredf22 commented on #2656
I see, thanks. Could you point me to where I can find information about the "related packages protocol"? I have searched Bioconductor for that but have not found a description.

[2022-06-03 18:41] vjcitn commented on #2656
https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#submitting-related-packages

which is linked from 1.5 of the general guidelines

[2022-06-03 18:59] PickeringLab commented on #2684
Hello @vjcitn,

Thank you very much for your comment.

Ours is only the second package which addresses Clonogenic Survival Analysis using R, and so we think this will add to the diversity of the tools within Bioconductor. We explained the purpose and utility of the package in the pkgdown website https://pickeringlab.github.io/CellSurvAssay/ , but just to explain:
1.	Our package is aimed to motivat

[2022-06-03 19:26] vjcitn commented on #2684
[code]
The value returned by the function is NULL.  Typically a fitting procedure returns a data structure with parameter estimates and their variability, metadata about the fitting request, which is then rendered to the user by a print method.  This function is a form of scripting that we don't happily endorse.  capture.output should not be necessary.  the cfa2way in CFAssay is somewhat more appr

[2022-06-03 22:21] YuanningEric commented on #2558
Comment: The `TCGA_GetData` function is now tested using the *longtests*, since it takes too long to run in the Vignette.

Comment: The "TCGA_GetData" function is now tested using the *longtests*

[2022-06-03 22:24] YuanningEric commented on #2558
@Kayla-Morrell  Hi Kayla. I have completed the revisions and checked the boxes. Please take a look and let us know if you can accept the package. Thanks!

[2022-06-04 02:22] mooredf22 commented on #2541
To process the associated package "protlocassigndoc" I added the following line to the DESCRIPTION file:

AdditionalPackage: https://github.com/mooredf22/protlocassigndoc

Since it built without errors, have I correctly followed the linked packages protocol?

[2022-06-04 06:56] ococrook commented on #2658
I don't think you need to strictly Inherit 'htest'. An S4 object that contains everything you need would work. I'm not entirely confident that S4 is actually necessary here so I'm going to ask for a 2nd opinion.

@lshep, how much do you think a package would benefit from an S4 object rather than S3 in this case?

[2022-06-04 14:46] mooredf22 commented on #2656
I re-submitted protlocassign (#2541) according to the guidelines and it ran without errors. It appears, though, that that issue and the current one need to be merged. Let me know if I need to do anything else to make that happen.

[2022-06-06 09:14] fursham-h commented on #1840
Hi @lshep, I have made a new push to address the following comments:

Subsection removed

Scripts added to `inst/scripts/`

Added

Link corrected

I've knitted the vignette multiple times and I could see the citations. To address this, I've changed the Rmd output to `rmarkdown::html_document`. Do let me know if this is still a problem

👍🏽

I have removed as much as I could, and will add verbose op

[2022-06-06 09:19] kevinrue opened #2686 "iSEEhex"
Tagging co-authors: @federicomarini, @LTLA,  @csoneson

Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/iSEE/iSEEhex

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible

[2022-06-06 09:22] kevinrue commented on #2686
Side note: this is a rather late follow up on the review of the iSEEu package, see https://github.com/Bioconductor/Contributions/issues/1425#issuecomment-601929971

The idea here is to split out functionality related to plot panels that use the `hexbin` package for summarising data into hexagonal bins.
This package contains a carbon copy of code in `iSEEu`, that will be removed from iSEEu when thi

[2022-06-06 10:22] alex-d13 commented on #2627
R: 4.1.0
Bioconductor: 3.13
BiocCheck: 1.28.0

[2022-06-06 11:43] lshep commented on #2627
You should update your versions of R, Bioconductor and BiocCheck.  All new packages are submitted and checked against the currently released version of R and Bioconductor packages to ensure compatibility and consistency. Using out dated versions may introduce package version mismatch and cannot be guaranteed.  You should be using a minimum of R 4.2.0 for new submissions with the devel versions of

[2022-06-06 13:00] mikelove commented on #2680
Feel free to include me in any conversations about why this functionality is being moved out of existing Bioc package *fishpond* and into a stand-alone package.

[2022-06-06 13:48] EmanuelSoda commented on #2555
Hi @lazappi, now should be all good. Let me know If there are other issue to address.

Thanks Emanuel

[2022-06-06 13:57] lshep commented on #2635
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yue-wang-biomath.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2022-06-06 13:58] #2635 closed, assigned to jianhong

[2022-06-06 14:47] hpages commented on #1752
Please do not add the commitment to the DESCRIPTION file. Because of this, the package can no longer be built:
[code]
You just need to say here that you commit to the long-term maintenance of your package, that's all. Thanks!

[2022-06-06 14:51] Deisiany commented on #1752
Sorry,
I removed it.

[2022-06-06 15:54] hpages commented on #1752
Thanks. I just added the package to Bioconductor. It will become available via `BiocManager::install()` in the next 3 hours or so.

I'm closing this issue now.

Cheers,
H.

[2022-06-06 15:54] #1752 closed

[2022-06-06 16:28] LiNk-NY commented on #2627
@alex-d13
Just as a reminder, all Bioconductor developers _must_ be using the latest Bioc-devel version 3.16.

It may be hard to change the `T` to something else because it is part of the file format?
Either way, using `$` is not safe practice because of fuzzy matching. Perhaps use `adata[["T"]]` and the added benefit is that the false positive goes away.

Best,
Marcel

[2022-06-06 17:42] jianhong commented on #2679
Hi @vjcitn @ococrook,
I have trouble in removing the warning message:
Warning message:
replacing previous import ‘utils::download.file’ by ‘restfulr::download.file’ when loading ‘rtracklayer’

Do you have any suggestion?

Jianhong.

[2022-06-06 21:14] rossinerbe commented on #2557
@Kayla-Morrell should be ready for re-review. With the caveat that I had to remove the suggested changes to NAMESPACE as these created an error in the build check above. Let me know if this is a problem

[2022-06-06 23:10] alexchwong commented on #2685
@Kayla-Morrell CHECK is timing out at ~15 min for MacOS but runs fine at 4.5 min on Linux.

Seems like Bioconductor's MacOS is much slower than Linux. Running R cmd check on GitHub action, I am getting 8min 41sec for MacOS. Also the longest example "NxtSE-class" is taking 65 sec on Bioconductor's MacOS, whereas it takes 28 sec on GitHub action's MacOS.

Is there something going on with the MacOS s

[2022-06-07 01:41] hpages commented on #2212
Hi @mzytnicki ,

Sorry for the long delay. I finally got some time to take a new look at **HiCDOC**. Package looks good, only a few minor issues:

1. Contrary to some popular belief it's not necessarily a good idea to list all your dependencies in the `Imports:` field as this tends to hurt usability of your package. For example, if your package defines a class that extends a class defined in anoth

[2022-06-07 01:59] hpages commented on #2212
One more thing. The first range here

    regions(interactions(exampleHiCDOCDataSet))[1:3]
    # GRanges object with 3 ranges and 1 metadata column:
    #       seqnames    ranges strand |     index
    #          <Rle> <IRanges>  <Rle> | <numeric>
    #   [1]        W     0-136      * |         1
    #   [2]        W   137-273      * |         2
    #   [3]        W   274-410      * |         3

[2022-06-07 08:04] lazappi commented on #2555
Hi @EmanuelSoda. I am happy with the dataset documentation now so I'm going to approve this. Congratulations for getting the package into Bioconductor 🎉! It can take a couple of days to be picked up by the build system but then it should be part of Bioconductor devel.

[2022-06-07 08:28] mzytnicki commented on #2212
Dear @hpages,
Thank you very much for you detailed review.  We will try to implement the changes ASAP.
Best regards.

[2022-06-07 13:11] vjcitn commented on #2680
Note that the Authors@R field will autopopulate the Maintainer field when package is built.  So take the Maintainer line out of DESCRIPTION.  The data will be extracted from Authors@R

[2022-06-07 15:39] ccshao commented on #2669
@jianhong I'm preparing commits and pushes for the above issues. Some of them are not clear to me, and it would be great to get your suggestions.

## Functional programming: code repetition

I'm not sure what the problems is, while the codes try to use the intersect sets between mutgene and expression data
[code]

## Vectorize: no unnecessary for loops

Th codes capture the missing genes and print

[2022-06-07 18:49] rx-li opened #2687 "EasyCellType"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rx-li/EasyCellType

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-06-07 18:49] Kayla-Morrell commented on #2685
@alexchwong - I can confirm that on my personal Mac it only took about 7 minutes to run R CMD check. I'm not sure what might be happening on the Bioc Mac but I can review in the meantime and perhaps the issue will work itself out. If there needs to be further investigation we can do that while the review is taking place. I should have the initial review posted by the beginning of next week.

Best,

[2022-06-07 22:30] gartician opened #2688 "(inactive) CITE-Viz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: github.com/maxsonBraunLab/CITE-Viz

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read the _Bioc

[2022-06-07 22:30] #2688 closed, assigned to nobody

[2022-06-07 22:31] gartician opened #2689 "(inactive) CITE-Viz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/maxsonBraunLab/CITE-Viz

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read t

[2022-06-07 22:31] #2689 closed, assigned to nobody

[2022-06-07 22:31] gartician opened #2690 "(inactive) CITEViz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/maxsonBraunLab/CITE-Viz

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read t

[2022-06-07 22:31] #2690 closed, assigned to nobody

[2022-06-07 22:32] gartician opened #2691 "(inactive) CITEViz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/maxsonBraunLab/CITEViz

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read th

[2022-06-07 22:32] #2691 closed, assigned to nobody

[2022-06-08 14:00] lshep commented on #2644
Hello,
Please find your initial review below:

**Build Report**

- [ ] Please clean up warnings for imports and documentation.

- [ ] Please remove `LazyData: true` unless necessary.

- [ ] Please update your R version to 4.2.

- [ ] Please update recommendations on coding practices

**Description**

- [ ] Please remove `LazyData: true` unless necessary.

- [ ] Please update your R version to 4.2.

[2022-06-08 14:54] Kayla-Morrell commented on #2660
@martinry - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: The installation instruction

[2022-06-08 17:42] ococrook commented on #2679
Hi @jianhong

Looks liked you worked it out. I'll start review the package shorlty. It will probably take me up to 10 days to go through the package. Do let me know if you have any deadlines, however.

Best wishes,
Olly

[2022-06-08 18:09] jianhong commented on #2679
Hi @ococrook

 Thank you for your help. No rush at all. I did not resolve the issue. They just be skipped by the building system.

Jianhong.

[2022-06-08 21:11] oganm commented on #2533
Used the time of absence to address a few issues that came up. Latest version has the fix for the issue mentioned and other minor changes/fixes

[2022-06-09 02:21] jingeyu commented on #2663
Dear Bioconductor,  is there anything else that I should amend?

[2022-06-09 09:18] BioSok commented on #2668
Hey @nturaga , it seems I don't have access to push to the repo as I'm getting:

FATAL: W any packages/omada s.kariotis DENIED by fallthru
(or you mis-spelled the reponame)
fatal: Could not read from remote repository.

Also, I submitted 2 packages few years ago and from the Bioconductor Git Credentials I can see I only have access to those.

[2022-06-09 14:06] LiNk-NY commented on #2663
Hi Jinge Yu, @jingeyu
Thank you for your submission.
Sorry for the delay in the review. I will provide a review in the next couple of days.
Best regards,
Marcel

[2022-06-09 14:09] nturaga commented on #2668
Hi, this should be fixed now. please try to push again.

[2022-06-09 17:15] jakezhusph opened #2692 "(inactive) SRTsim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:https://github.com/jakezhusph/SRTsim

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-06-09 17:16] #2692 closed, assigned to nobody

[2022-06-10 09:18] lazappi commented on #2676
Hi @daanhazelaar

Thanks for submitting **katdetectr** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

[2022-06-10 14:43] LiNk-NY commented on #2663
Hi JingeYu, @jingeyu

Please see the review below.
Best regards,
Marcel

---

# CTSV #2663

Ideally, the package would accept mainly `SpatialExperiment` inputs as well as
matrix inputs for the counts and spatial coordinates information.

## DESCRIPTION

* (Optional) Wrap the text in the Description to a max of 80 character-width
* Add BugReports and URL fields
* Update the R depends field to R `>=

[2022-06-10 15:48] mtmorgan opened #2693 "RedisParam"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mtmorgan/RedisParam

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-06-10 17:55] Jfortin1 commented on #2647
@nturaga Thanks for reviewing one more of our CRISPR packages! Is there anything I should do from my side before you review the package?

[2022-06-10 17:59] nturaga commented on #2647
@Jfortin1 Just getting back into package reviews after the post-release work/conferences. Will get to it in the next week!

One thing you can do is fix the `warning` messages on build report before I have a look at it.

[2022-06-10 21:25] quranwu commented on #2651
Hi, we've just uploaded an update version of our package. The main updates is on outputs. Now the output is a summarizedExperiment object as suggested. The results were also wrapped up into a large matrix as suggested and stored into assay. We add a significant indicator for indicate significance. Does this output meet the requirements? We will proceed with the other comments once the output part

[2022-06-12 05:31] mrbakhsh opened #2694 "deepCE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mrbakhsh/deepCE

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Bi

[2022-06-12 09:38] jingeyu commented on #2663
Hi @LiNk-NY, thank you for your review, I have addressed the points you proposed.

0.  "Ideally, the package would accept mainly SpatialExperiment inputs as well as
matrix inputs for the counts and spatial coordinates information."
Response: Our package mainly takes SpatialExperiment as inputs for the counts and spatial coordinates information, and the parameter 'W' in the main function 'CTSV' is

[2022-06-13 10:27] ococrook commented on #2679
Hi @jianhong, could you try and trigger another build so that we can see the build reports? I managed to build on linux and windows without problems so should be fine. Otherwise, the package looks good and I found very few concerns. Could you take a look at the review and implement the suggestions. If something is not possible please write a note explaining why. Remember to bump version numbers.

[2022-06-13 13:31] jianhong commented on #2679
@ococrook,

 Thank you for your detailed comments. I will try to address all the issues soon.

Jianhong.

[2022-06-13 14:18] Kayla-Morrell commented on #2627
@alex-d13 - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: Installation instructions in

[2022-06-13 14:25] lshep commented on #2555
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/EmanuelSoda.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-06-13 14:25] #2555 closed, assigned to lazappi

[2022-06-13 16:30] Kayla-Morrell commented on #2558
@YuanningEric - Thank you for making the necessary changes. I've looked them over and have just one more points that need to be addressed.

## Man pages

- [ ] REQUIRED: We still need to address some of the exported functions and where they are being tested. Out of the 17 functions that are exported 12 of them have their examples in `donttest{}` code chunks. I was able to locate 8 of these functio

[2022-06-13 21:28] kevinrue commented on #2686
Hi,

Following the instructions in the latest message above, i set up the remote and tried to push but i get a hook declined error:
[code]

I'm not quite sure where the `k.rue-albrecht` comes from in that message above. It doesn't look exactly like any of my identifiers that I'm aware of. Is that something on the Bioconductor side?

Also, the link to the quick tutorial includes the `.git` extensio

[2022-06-14 01:29] fuerzhou commented on #2605
@nturaga Thank you for the update! I have added the ORCID id.

Meanwhile, we are thinking about updating the main data object from `SingleCellExperiment` to `SpatialExperiment` as `SpatialExperiment` is the standard class for spatial data on Bioconductor. The other package that we have submitted, `SPIAT`, was suggested to do the same update. This will not take long, as `SpatialExperiment` is an ex

[2022-06-14 08:57] kevinrue commented on #2686
Nevermind. I didn't read far enough into the tutorial. I had the textbook issue of having a `main` branch on GitHub that needed extra work for pushing to the `master` branch on BioC. All good now.

[2022-06-14 12:27] lshep commented on #2668
we are experiencing some issues with the newly added windows builder that is prevent the new build report from being posted. We are working on a remedy.  We appreciate your patience and understanding.

[2022-06-14 12:27] lshep commented on #2686
we are experiencing some issues with the newly added windows builder that is prevent the new build report from being posted. We are working on a remedy.  We appreciate your patience and understanding.

[2022-06-14 12:27] lshep commented on #2694
we are experiencing some issues with the newly added windows builder that is prevent the new build report from being posted. We are working on a remedy.  We appreciate your patience and understanding.

[2022-06-14 16:38] mrbakhsh commented on #2694
Hi @lshep, thank you for letting me know. No worries

[2022-06-14 17:43] lgatto commented on #2541
Hi @mooredf22 - apologies for the delay in getting back to you.

## General package development

- File names: please choose one of .R or .r as R file extension and
  stick to it. The former is the one most widely used in Bioconductor.

- In the README file and vignette, please use
  `BiocManager::install()`, also to install from Github. The package
  dependencies will be installed automatically,

[2022-06-15 04:54] PeteHaitch commented on #2632
Hi @khazum,

Thank you for submitting **ccImpute** to Bioconductor.
Overall, the package is in good shape with clear code.
For acceptance into Bioconductor, I have a few Required points, as well as some Recommended points, that I would ask you to first please address.
Please add your point-by-point replies to the review in this thread and let me know if anything is unclear.

Is there a preprint or

[2022-06-15 11:53] lshep commented on #2658
We recommend it but not require if adequate justification is provided. In the future we prefer S4 as it provides a more structured class and method approach but S3 is probably okay in this case because of the reasons given

[2022-06-15 11:56] lshep commented on #2605
SpatialExperiment is probably appropriate modification.

[2022-06-15 13:25] nturaga commented on #2605
Hi @fuerzhou

Let me know when you have switched the object class, and i'll take a look again (please issue a new build report).

[2022-06-15 13:49] LiNk-NY commented on #2663
Hi JingeYu, @jingeyu

Thank you for making those changes. It would be good to have some flexibility in the input and not restrict to only `SpatialExperiment` users but this mostly a design choice.
Also note that in R `print(K)` is the same as `K`. Consider removing the extra `print` calls in the examples.

The package looks ready. Thank you for your submission.

Best regards,
Marcel

[2022-06-15 14:01] alex-d13 commented on #2627
Hi @Kayla-Morrell ,

Thanks for your comments.

donttest{} or dontrun{} is discouraged and generally not allowed, however
exceptions can be made with proper justification.

There are two functions, where I skipped the runnable examples due to runtime reasons. I added them in the recent push and get runtime warnings again. Would it be a solution to keep these 2 examples in the dontrun{} option and

[2022-06-15 18:34] haoharryfeng opened #2695 "ISLET"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/haoharryfeng/ISLET

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-06-15 20:59] martinry commented on #2660
Hi @Kayla-Morrell,

Thank you for you comments and suggestions. I have addressed all required points and most suggestions. Main changes include:

- Changing from sysdata.rda to two individual compressed, tab-delimited files in _inst/extdata_. Documentation for these files are found in _inst/script/data-gen.Rmd_ (please let me know if this is an appropriate way of documenting such files. Does it ne

[2022-06-16 06:03] BioinfOMICS commented on #2631
Hi,
we have updated the files in the vignettes folder,  including a .Rnw file, LipidSigR.rnw. The automatically produced files,  LipidSigR.R and LipidSigR.pdf can be found under /inst/doc.
Please let us know if there is still anything missing.
Thank you for reviewing our submission.

[2022-06-16 07:52] jingeyu commented on #2663
Hi @LiNk-NY, I will remove extra 'print' in the examples. And the input format folllowed the advice of  [vjcitn](https://github.com/vjcitn) -- "Please use a derivate of SummarizedExperiment, perhaps SpatialExperiment, to help users who may be familiar with related Bioconductor infrastructure for your application."

Best regards,
 Jinge Yu

[2022-06-16 10:43] vjcitn commented on #2695
In vignette we have
[code]
We generally advocate use of SummarizedExperiment for genomic data, so that sample-level data are tightly bound to assay data.  Please use it as opposed to separate data frames.

[2022-06-16 13:41] LiNk-NY commented on #2663
Hi JingeYu, @jingeyu

That doesn't mean you can't have both types of inputs. Some users may not have a `SpatialExperiment` to work with, although we expect most users do. There are many packages in Bioconductor that allow, for example, either a `SummarizedExperiment` or `matrix` as input.

Best regards,
Marcel

[2022-06-16 13:41] mzytnicki commented on #2212
Dear @hpages,
We tried to implement the changes you suggested.
Is it better ?
Thanks a lot.

[2022-06-16 14:03] jingeyu commented on #2663
Hi Marcel, @LiNk-NY, thank your for your suggestions, and I will improve my package in the next few days!

[2022-06-16 15:20] Kayla-Morrell commented on #2685
@alexchwong - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: In the README file, the in

[2022-06-16 15:23] LiNk-NY commented on #2686
Hi Kevin, @kevinrue

Thank you for your submission.
Please see the review below.

Best,
Marcel

---

# iSEEhex #2686

## DESCRIPTION

* Looks good.

## NAMESPACE

* The `exportMethods` with the `.function` names seem a bit strange. The dot
is usually reserved for unexported functions but it looks like this is
convention in `iSEE`.

## vignettes/

* Consider preserving the aspect ratio (see screens

[2022-06-16 18:03] kevinrue commented on #2686
Thanks. All good points. I'll get on them early next week.

[2022-06-16 21:12] MrMaximumMax opened #2696 "(inactive) FBCanalysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MrMaximumMax/FBCanalysis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-06-16 21:12] #2696 closed, assigned to nobody

[2022-06-16 22:03] haoharryfeng commented on #2695
Hi @vjcitn , thanks for the suggestion. I've made changes to use SummarizedExperiment as the standard input. Let me know if you have other questions.

[2022-06-16 23:42] YuanningEric commented on #2558
@Kayla-Morrell

Hi Kayla,
Thanks for your review! The `TCGA_Download_DNAMethylation()` and `TCGA_Preprocess_DNAMethylation()`  functions were actually tested in the vignette, and I have explicitly labeled the chunk ids above.  I have now added the tests for the `GEO_Download_DNAMethylation()`  and `TCGA_GetData()`  functions in the longtests. The location for the test scripts are also labeled abov

[2022-06-17 03:54] alexchwong commented on #2685
Thanks @Kayla-Morrell for the initial review / feedback. I have addressed all **REQUIRED**
sections in the comments below:

Added instructions for installation from Bioconductor (for devel / 3.16)

The data in `inst/extdata/` can be reproduced by calling the `make_example_NxtSE`
function found within `inst/scripts/make-data.R` file. I have updated the documentation
as comments above this function

[2022-06-17 04:59] HelenaLC commented on #2682
Hi! Here a first round of comments - overall, I believe the package is already in good shape. Please post back with how/if/why different points have/not been addressed. I will try to get another reviewer to cover the cpp portion.

**data**

- (Picking one example, but this applied to various data)
The doc for `edges` states that *"The object was created using*
*the example code, exactly as describ

[2022-06-17 05:33] HelenaLC commented on #2651
Thank you for trying to address this. ...I think there has been a misunderstanding or perhaps my comments above where contradictory/confusing; apologies for that.

Similar to other statistical methods/tests, in their core, `MZLIN()` and `IFAA()` returns a table of results by (`ref_tax`), `taxon` and `cov`. It is of course fine to simply return these as such: a table (see my second comment above).

[2022-06-17 08:27] fursham-h commented on #1840
Hi @lshep, do you have any comments or updates on this?

[2022-06-17 11:36] lshep commented on #1840
I will re-review in the next week. Sorry for the delay.

[2022-06-17 18:55] quranwu commented on #2651
Hi, thanks for the comments and suggestions. Basically, you're suggesting instead of using the SummarizedExperiment object as the output, I can simply output a list with two components, corresponding to the assay and metadata part in the current version of output, is that correct? Is the long format of the table satisfying? I will make it to S4Vectors::DataFrame as you suggested. Thanks.

[2022-06-17 19:54] fursham-h commented on #1840
Thank you @lshep. Looking forward to your comments

[2022-06-17 21:55] MrMaximumMax opened #2697 "(inactive) FBCanalysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MrMaximumMax/FBCanalysis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-06-17 21:55] #2697 closed, assigned to nobody

[2022-06-17 21:56] MrMaximumMax opened #2698 "(inactive) FBCanalysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MrMaximumMax/FBCanalysis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-06-17 21:56] #2698 closed, assigned to nobody

[2022-06-19 10:49] almeidasilvaf commented on #2682
Hi, @HelenaLC. Thank you very much for the detailed review. I really appreciate your time. Here are my replies to each of your points:

- data

The doc for edges states that "The object was created using
the example code, exactly as described in the vignette."
But this is not a real data description nor intuitive to understand
(at least for me): searching for "edge" in the vignette leads to net,
w

[2022-06-19 23:49] fuerzhou commented on #2605
@nturaga We have updated the package and the builds are successful. There are several notes that we could not resolve.

1. Could not set LazyData to false - if set to false, our external data can not be accessed by the user.
2. NOTE: Consider multiples of 4 spaces for line indents; 465 lines (13%) are not.  I have tried my best to change the indentation generated from Roxygen2, but they can not be

[2022-06-20 00:46] fuerzhou commented on #2605
I have deleted the workflow file from the repo.

[2022-06-20 07:08] fuerzhou commented on #2605
Thank you @nturaga @vjcitn @lshep for all your help!

[2022-06-20 09:58] HelenaLC commented on #2682
Nice. Thanks for your prompt addressing of these points! Regarding your comments/thoughts on `BiocCheck`: I feel you in a way. However,

I think that the 80-character limit should seldom pose an issue and be addressed by additional linebreaks after arguments vs. omitting spaces. And, I'd rather live with NOTEs on exceeding the 50-line limit vs. omitting empty lines and thorough commenting.

In the

[2022-06-20 10:01] HelenaLC commented on #2651
Yes, exactly, I'd argue that, in this way, all output will be 1) print nicely in the console without blowing it up; and, 2) a long-format table format is the most convenient to handle for wrangling (filtering, reshaping etc.) and visualisation.

[2022-06-20 12:24] kevinrue commented on #2686
Just to comment on this one ( @LTLA might want to weigh in, too, as he in introduced this practice in `iSEE` )

is usually reserved for unexported functions but it looks like this is
convention in iSEE.

It did feel awkward when we first adopted this practice. However, the logic to me is that our user base is composed of two groups:

- panel developers
- panel users

The users need access to only

[2022-06-20 12:34] kevinrue commented on #2686
On this point:

On widescreen, the plots are wider than they are tall.

I'm confused. I've opened the vignette on two different monitors, stretched the window, and I never have any issue with the figure dimensions. At worst, the figure is right-aligned and not using all 100% of available width, but it keeps the same aspect ratio (tested on Firefox and Safari).

<img width="969" alt="image" src="ht

[2022-06-20 14:19] kevinrue commented on #2686
On the point

Here's a preview of the difference between using the `@slot` tag (top) and the current custom section using the `\itemize` LaTeX command.

![image](https://user-images.githubusercontent.com/5769108/174620776-11d78c7d-9dce-4c13-918b-e3cad9934639.png)

I understand that `@slot` is best practice in roxygen.
@LTLA, do you remember any particular reason for the latter so far? Free form do

[2022-06-20 14:33] kevinrue commented on #2686
On the point

Similar to the comment above on the `@slot` tag. We are currently using a dedicated section to benefit of the freedom to mix a description of the various methods using `\itemize` while also being able to add some additional comments. For instance:

![image](https://user-images.githubusercontent.com/5769108/174623777-111063a7-ce73-4caf-8d01-7a1a99f850b7.png)

Note the bit that says:

[2022-06-20 16:05] kevinrue commented on #2686
@LiNk-NY

My comments above address the individual points of your review. Apologies for the spam in separate messages: each point came with a small discussion and screenshots, and it felt clearer to split the individual arguments, even though some of them turn out to overlap.

In summary, all points made in the review are absolutely valid, and could be addressed, however:

- for the time being, i'

[2022-06-20 17:51] daanhazelaar commented on #2676
Dear Luke,

Apologies for my late reply, I missed your previous comment. Thanks for your review and feedback! I'm working on implementing it.

However, I have encountered a strange problem. When I run R CMD check on the current version of katdetectr (as it is available on the bioconductor repo now) which has been build on linux, Windows and Mac without errors and warnings. I get the following warn

[2022-06-21 08:04] lazappi commented on #2676
Hi @daanhazelaar

I noticed that as well when I was reviewing your package. I think it is something that has changed in **{rtracklayer}**. I can see the same warning just from loading **{rtracklayer}** (using the Bioconductor development versions):

[code]

I think for now don't worry too much about this and try to address the other comments I made, once those have been addressed we can see if you

[2022-06-21 08:22] daanhazelaar commented on #2676
Hi Luke,

Thanks for your reply. Updating to R 4.2 made this warning disappear. I'll continue with implementing your other remarks.

Kind regards,
Daan Hazelaar

[2022-06-21 09:23] yannchristinat commented on #2644
Dear Ishep,

Thank you for the review. I addressed most of your comments and explained the others

Cannot load oncoscan_na33.cov.rda if not set.

Cannot load oncoscan_na33.cov.rda if not set.

Copyright set to 2022 with my name and my organisation. (The package is in use internally since 2019 but we finally decided to release it to the community)

Thanks for the tip!

[2022-06-21 10:41] ccshao commented on #2669
@jianhong I have tried to address all the issues, see the summary bellow. Let me know if there are questions, thanks!

## The DESCRIPTION file
R version should be no less than 4.2.
Fixed.

## General package development
Important: Consider adding runnable examples
to man pages that documentexported
objects.

Add runnable examples for nearly all fucntions, while a few of exception are refered to th

[2022-06-21 12:33] lshep commented on #1840
Changes look good. thank you!

[2022-06-21 12:52] fursham-h commented on #1840
Thank you so much @lshep for your help! Should I close this issue now?

[2022-06-21 12:53] lshep commented on #1840
No. Please leave the issue open.  We will process all the accepted packages sometime this week and they will be added to the daily builders (http://bioconductor.org/checkResults/).  It will auto close the issue once its processed

[2022-06-21 12:57] fursham-h commented on #1840
Great, thanks!

[2022-06-21 13:55] jianhong commented on #2679
@ococrook
I will update the package soon. Here I list the changes according your comments. Sorry for the lots of changes in the updates.

I updated the license from 'GPL (>=2)' to 'GPL-3'

I add additional sections with guidelines for bug report and contribution.

I split the class and method into three files: R/AllClasses.R, R/AllGenerics.R, and methods-TFEAresults.R.

I insert more spaces and ne

[2022-06-21 14:44] jianhong commented on #2687
# Package 'EasyCellType' Review
Thank you for submition your package to Bioconductor. The package passed check and build.  However there are several things need to be fixed. Please try to answer the comments line by line when you are ready for a second review.

## The DESCRIPTION file
- [ ] At least 3 sentences in `Description` field is required.
- [ ] R version should be no less than 4.2

## The

[2022-06-21 14:59] SPirrotta opened #2699 "(inactive) signifinder"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CaluraLab/signifinder

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-06-21 14:59] #2699 closed, assigned to nobody

[2022-06-21 15:08] SPirrotta opened #2700 "(inactive) signifinder"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CaluraLab/signifinder

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-06-21 15:08] #2700 closed, assigned to nobody

[2022-06-21 15:18] SPirrotta opened #2701 "signifinder"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CaluraLab/signifinder

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-06-21 16:43] LiNk-NY commented on #2686
@kevinrue

This sounds like there should one package for each intended audience. It may be too late to change now but it does not look like standard practice.

WRT `@slots` and `@describeIn`, these are optional. If the free-form documentation is working, that should be good enough though I do like the `Slots` section from `@slots` in the docs.

FWIW, the `setClass` code
[code]
looks a bit obfuscat

[2022-06-21 19:23] jianhong commented on #2669
# Package 'mslp' Review
Thank you for the updates. The package passed check and build. It is almost there.

## R code
- [ ] NOTE: Vectorize: no unnecessary `for` loops present. Try to use functions like  `apply`, `vapply`, `lapply` or `mapply` to replace the loops.
	* In file R/genie3.R:
		+ at line 63 found '        for (missing.gene.name in missing.gene.names) {'
		+ at line 88 found '  for (tar

[2022-06-21 20:22] yannchristinat commented on #2644
Dear Ishep,

Thank you for the review. I addressed most of your comments and explained the others. The new commit has been pushed to bioconductor.

Cannot load oncoscan_na33.cov.rda if not set.

Cannot load oncoscan_na33.cov.rda if not set.

Copyright set to 2022 with my name and my organisation. (The package is in use internally since 2019 but we finally decided to release it to the community)

T

[2022-06-22 09:24] ccshao commented on #2669
## R code

Fixed.

---

Reply: Here the `for` loop is better as the pre-defined output `weight.matrix` is updated for each of target.gene.idx with results `im`. See the codes bellow.

[code]

---

Fixed

---

Rely: I would like to elabrate a little bit of the codes as they are not repetitive in my opinon, and helper function is already employed.
In `comp_slp`:

[code]
Get the interested genes for

[2022-06-22 12:11] kevinrue commented on #2686
Hi @LiNk-NY

Thank for the feedback.
As always, this is a very useful discussion to have.

I hadn't seen things in that way yet. Perhaps it is worth indeed looking into something like an `iSEEGenerics` package.

Ideally, I'd agree. And for classes that do no define "too many" slots that is entirely best practices. Maybe for context, have a look at one of the base iSEE classes that define ~ 90% of

[2022-06-22 13:58] LiNk-NY commented on #2686
Hi @kevinrue

Perhaps the data should be encoded as a `data.frame` (with class, slot, and type columns) and stored internally as part of the package. And in some ways, the number slots may indicate that subclasses should take more of a role to encode that data but I don't understand the package thoroughly.

Ah, I see what you mean. It is also possible to separate the families of methods by documen

[2022-06-22 19:22] MrMaximumMax opened #2702 "(inactive) FBCanalysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MrMaximumMax/FBCanalysis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-06-22 19:22] #2702 closed, assigned to nobody

[2022-06-22 19:43] MrMaximumMax opened #2703 "FBCanalysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MrMaximumMax/FBCanalysis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-06-23 20:37] daanhazelaar commented on #2676
-	Please address as many of the notes from BiocCheck::BiocCheck() as possible
o	NOTE: Cannot determine whether maintainer is subscribed to the Bioc-Devel mailing list (requires admin credentials).
	I’m subscribed for the Bioc-Devel mailing list
o	NOTE: Consider multiples of 4 spaces for line indents; 29 lines (2%) are not.
	I removed all those I could find
o	NOTE: Consider shorter lines; 248 lin

[2022-06-23 20:49] daanhazelaar commented on #2676
Dear @lazappi ,

I have addressed your comments and summed up my reply or solution in the previous comment. I'm curious towards your feedback.

Kind regards,
Daan Hazelaar

[2022-06-23 23:44] PeteHaitch commented on #2533
Hi @yavyx and @oganm,

Thank you for submitting **gemma.R** to Bioconductor.
The **gemma** service looks interesting and it will be good to have an R interface to it that can return standard Bioconductor objects such as _SummarizedExperiment_ or _ExpressionSet_ objects.

The package is largely in good shape.
I do still have concerns with the caching system you have implemented, but I think these c

[2022-06-24 01:10] oganm commented on #2533
Thanks for the comments. The non standard files are included in the `.Rbuildignore` so they shouldn't effect the end users. They are used to generate some of the code and documentation for the package programmatically

[2022-06-24 01:59] PeteHaitch commented on #2533
Yes, I see these files are in the `.Rbuildignore` but it's their inclusion as part of the BioC-hosted git repo that I'm unsure about and asking for @Bioconductor/core's input (based on https://contributions.bioconductor.org/gitignore.html)

[2022-06-24 15:47] lazappi commented on #2676
If this is happening locally it's ok, if it's happening on the build system it will need to be looked into

I think here I meant `https://github.com/ErasmusMC-CCBC/katdetectr/**issues**` but it's not a big deal

Hmmm...ok. I still think it's better not to duplicate things and the file is probably unlikely to change but I can see this could be an issue.

I can't see this. You need to set `toc: TRUE

[2022-06-24 16:06] daanhazelaar commented on #2676
Dear @lazappi

Thanks for your reply. I'll implement your comments. I hope you have a great time on your leave.

Do you think you'll be able to review katdetectr if I implant your comments today? I'll be giving a presentation regarding katdetectr and its performance comparison next week Wednesday. It would be great if I can add a slide with: accepted on Bioconductor! 🎉

Kind regards
Daan Hazelaar

[2022-06-24 16:16] lazappi commented on #2676
If you can make changes today I will try to look at it one more time but no guarantees it will be approved by then.

[2022-06-24 16:58] daanhazelaar commented on #2676
Dear @lazappi

It would be great if you can find the time for a review before your leave. Regardless, I hope you have a nice time on your leave!

Hereby my reply to your comments:

•	Regarding my subscription to the Bioc-Devel mailing list. The build system does recognise me as a subscriber.

•	I added a link to the issues page of katdetect. I thought I did that already but now it’s there for sure

[2022-06-27 06:36] ethevenot opened #2704 "(inactive) Submission of the "phenomis" package for post-processing and univariate analysis of omics data"
Dear Bioconductor team,

Please find below the GitHub link to the "phenomis" package that we would like to submit to Bioconductor.

The package provides methods for the post-processing (quality control, normalization), univariate hypothesis testing, clustering, and annotation of omics single or multiple datasets. It is mainly focused on metabolomics data but applications to proteomics and transcri

[2022-06-27 06:36] #2704 closed, assigned to nobody

[2022-06-27 06:47] ethevenot commented on #2704
The package version number has now been formatted to 0.99.0

[2022-06-27 07:25] lazappi commented on #2676
The `toc: TRUE` needs to go under the output type, so something like:

[code]

You should be able to see the contents in the rendered vignette if it has worked correctly.

I think it's probably best to do that in the tests as well.

[2022-06-27 07:27] lazappi commented on #2676
Hi @daanhazelaar

I am going to approve this now and trust you to make these final minor changes. Congratulations on getting **{katdetectr}** into Bioconductor 🎉 ! It can take a couple of days to be picked up by the build system but then should be available in Bioconductor devel.

[2022-06-27 07:31] daanhazelaar commented on #2676
Hi @lazappi!

Great to hear! I'll implement these minor changes immediately. Thank for your time and effort.

Enjoy your leave!

Kind regards,
Daan Hazelaar

[2022-06-27 11:21] lshep commented on #2704
Please resubmit as a new issue so other pre-checks can be passed/performed.

[2022-06-27 12:42] ethevenot opened #2705 "(inactive) Submission of the new "phenomis" package for post-processing and univariate statistical analysis"
Dear Bioconductor team,

Please find below the GitHub link to the "phenomis" package that we would like to submit to Bioconductor.

The package provides methods for the post-processing (quality control, normalization), univariate hypothesis testing, clustering, and annotation of omics single or multiple datasets. It is mainly focused on metabolomics data but applications to proteomics and transcri

[2022-06-27 12:42] #2705 closed, assigned to nobody

[2022-06-27 12:42] lshep commented on #2678
sorry for the delay. I'm working on the review and should have it posted in the next day or two.

[2022-06-27 12:44] ethevenot commented on #2704
Thank you. I have resubmitted to issue #2705. It thought that the 0.99.0 was not mandatory anymore for the package submission.

[2022-06-27 12:45] lshep commented on #2704
0.99.0 is mandatory for all new Bioconductor packages with very few exceptions

[2022-06-27 13:21] ethevenot opened #2706 "Submission of the new "phenomis" package for postprocessing and univariate analysis of omics data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/odisce/phenomis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-06-27 13:22] ethevenot commented on #2705
I apologize for this. I have not added the key and posted the resubmission as a new issue. Thank you.

[2022-06-27 13:29] lshep commented on #2533
We generally prefer as clean of a git repository as possible to avoid confusion and unnecessary files.  I would say, if you would like to leave them in, I would at least move them from top level to a standard location for extras  like `inst/script`

[2022-06-27 14:21] rossinerbe commented on #2557
@Kayla-Morrell do I need to do anything for the review process at this point?

[2022-06-27 20:33] jokergoo opened #2707 "UniProtKeywords"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jokergoo/UniProtKeywords

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-06-28 12:21] lshep commented on #2682
@HelenaLC  Please don't close packages that are accepted.  We need the packages open with the accepted label to find them to add to the daily builder manifest.

[2022-06-28 12:27] lshep commented on #2686
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/kevinrue.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-06-28 12:27] #2686 closed, assigned to LiNk-NY

[2022-06-28 12:27] lshep commented on #2682
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/almeidasilvaf.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2022-06-28 12:27] lshep commented on #2676
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/daanhazelaar.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-06-28 12:27] #2682 closed, assigned to HelenaLC

[2022-06-28 12:27] #2676 closed, assigned to lazappi

[2022-06-28 12:27] lshep commented on #2663
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jingeyu.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-06-28 12:27] #2663 closed, assigned to LiNk-NY, lshep

[2022-06-28 12:27] lshep commented on #2605
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/fuerzhou.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-06-28 12:27] lshep commented on #1840
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/fursham-h.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-06-28 12:27] #2605 closed, assigned to nturaga

[2022-06-28 15:43] Kayla-Morrell commented on #2557
@rossinerbe - Sorry for the delay in posting my re-review comments. There are two points that need to be addressed before I can accept the package, see below. Please respond with any comments.

## NAMESPACE

- [ ] REQUIRED: There needs to be some sort of importing in the NAMESPACE file. There is a warning in BiocCheck that needs to be addressed/cleared. Perhaps there was a moment of miscommunicati

[2022-06-28 17:20] Kayla-Morrell commented on #2660
@martinry - Thank you for making the necessary changes. I have re-reviewed everything and it all looks great. I am more than happy to accept the package.

Best,
Kayla

[2022-06-28 19:27] Kayla-Morrell commented on #2558
@YuanningEric - Thank you for making that more clear for me. I see now that these functions are tested. I am happy to accept the packages.

Best,
Kayla

[2022-06-28 19:39] YuanningEric commented on #2558
@Kayla-Morrell Hi Kayla, thanks for letting us know this great news! We appreciate your effort and suggestions in reviewing the package.

[2022-06-28 21:36] rossinerbe commented on #2557
Okay, I have made those changes. Changing from `dontrun` to `donttest` seems to lead to `WARNING: R CMD check exceeded 10 min requirement` (I'm not sure why) which is why I hadn't done it previously, but if it's required we can include it

[2022-06-28 23:35] rx-li commented on #2687
Thanks so much for your comments! Please find my responses below.

## The DESCRIPTION file
- More words were added in the description field.
- R version has been changed to 4.2.0.

## The NAMESPACE file
- Using `importFrom` instead of `import`.

## General package development
- I included `@importFrom rlang .data` to address this note. But there are still 6 objects that been pointed when running B

[2022-06-29 19:23] jfanglovestats commented on #2297
@lshep
Hope you are doing well. Sorry for the delay in updates. I was distracted by other stuff. I have updated the package to my GitHub repository according to the comments. Could you reopen the issue CDI #2297 so that I can resubmit it to Bioconductor?

[2022-06-30 14:50] lshep commented on #2678
I'm still working on looking at the R code and class design but in the meantime here are a few easier clean up comments:

**General**

- [ ] We encourage pkgdown configuration not to be git tracked or at least not
  included on the default branch submitted to Bioconductor. okay if you want to
  leave for now but please consider for the future.

**README**

- [ ] Areboth .md and .Rmd needed? Having

[2022-06-30 15:34] LiNk-NY commented on #2630
Hi Gabriel, @GabrielHoffman
Please see the review below.
Best,
Marcel

---

# zenith #2630

* Respond to the comments appropriately, i.e., add `recount` and `kableExtra`
to the `Suggests` field in the `DESCRIPTION`
* (Optional) Use `<-` assignment operator instead of `=` for clarity.
* Consider wrapping text to a max of 80 character width for readability and
maintenance.

## DESCRIPTION

* Looks g

[2022-06-30 18:34] jfanglovestats commented on #2297
Hi @lazappi ,

Sorry for the delay! Thanks for your comments. I have revised the package according. 
1. It is great to support Seurat objects but {Seurat} is not a Bioconductor package. To be compatible with the Bioconductor ecosystem you should really support SingleCellExperiment objects.

I added an R file ExtractInfo.R to extract counts, cell type labels, and batch labels from the SingleCellExp

[2022-07-01 15:29] mooredf22 commented on #2541
I am progressing well in addressing these many issues and expect to post a revision soon.

[2022-07-04 08:54] ccshao commented on #2669
@jianhong I have updated the pacakges with explanations on some codes, would you mind to offer your opinions? Many thanks!

see https://github.com/Bioconductor/Contributions/issues/2669#issuecomment-1162864243 for my comments.

[2022-07-04 10:15] ococrook commented on #2679
Thanks Jianhong this looks good! I have one more request, could you change the name of the file of

`privateUtility.R` to something like `internal-utils.R`. This is because private means something very specific in programming languages which isn't relevent here.

Before, I move to accept I would want to see the build reports for windows and mac @lshep, do you know why I can't see them?

Best wishe

[2022-07-04 12:05] jianhong commented on #2669
@ccshao
Sorry for the late reply.
Last thing for the package, please update the documents for data by adding such as `@usage data(compSLP)` to avoid the wrong usage section.

[2022-07-04 12:08] jianhong commented on #2687
@rx-li,

Thank you for your answers. Could you please push the changes to git.bioconductor.org?
Please read [this documentation](http://contributions.bioconductor.org/git-version-control.html#new-package-workflow) for setting
up remotes to push to git.bioconductor.org. It is required to push a
version bump to git.bioconductor.org to trigger a new build.

[2022-07-04 12:10] jianhong commented on #2679
@ococrook
Thank you for your review. I changed the file name. I don't know why there is no building for windows and mac. I developed the package in a mac machine. I also want to know the building output for windows.

Jianhong.

[2022-07-04 13:17] ccshao commented on #2669
@jianhong Thanks for your reply. The `usage` sections, as well as dataset names, were updated.

[2022-07-05 01:49] annatrigos commented on #2606
Thank you again for the comments. We have been working on all the recommended and required updates, including switching to SpatialExperiment, and we will soon be uploading the updated version. Thanks

[2022-07-05 10:43] vjcitn commented on #2684
Will you be working on this submission?  @lshep

[2022-07-05 12:06] #2684 closed, assigned to nobody

[2022-07-05 12:11] jianhong commented on #2669
Hi @ccshao,

I will mark the package as accepted. If possible, please consider to change the format of the example line utils.R:est_im line 185. Current line is wider than 100 characters and will be truncated in the PDF manual.

[2022-07-05 12:54] ccshao commented on #2669
@jianhong many thanks for your time and efforts! I have submitted a commit to address the issue of long code lines.

[2022-07-05 12:55] vjcitn commented on #2703
Thanks for submitting this package. At this time it does not meet many of the conditions stated in the developer's guide.  Specifically the vignette does not include any computations, you have a pdf reference guide compiled in the package, and you do not use any Bioconductor infrastructure.  We would be happy to discuss revisions needed to join the Bioconductor ecosystem if you are interested.

[2022-07-05 12:55] #2703 closed, assigned to nobody

[2022-07-05 12:57] vjcitn commented on #2706
This is what the first comment was edited with; please create NEW issues to provide your content in response to review.
[code]

[2022-07-05 14:19] martinry commented on #2660
Hi @Kayla-Morrell and thank you for review and accepting the package. Off topic for this issue, but I wrote an email to packages@bioconductor.org (which seems to have bounced) about creating an annotation package using data from MEROPS. It would contain identifier mapping, and information related to organism, cleavage sites, residue specificity etc. The data would be obtained from https://www.ebi.

[2022-07-05 14:23] Kayla-Morrell commented on #2660
@martinry - Try emailing hubs@bioconductor.org, someone who takes care of Hub requests will be able to give you access to data lakes (via SAS token or URL). It would be good to include in the email a link to the metadata file from the GitHub repo.

Best,
Kayla

[2022-07-05 14:25] martinry commented on #2660
Thanks @Kayla-Morrell , I'll try that!

Best regards,
Martin

[2022-07-05 14:57] Kayla-Morrell commented on #2557
@rossinerbe - Interesting, I'm not sure why that would cause an issue. If you want to switch that back to avoid the WARNING I'd allow it. Thank you for making the changes, I'm more than happy to accept the package.

Best,
Kayla

[2022-07-05 15:42] Kayla-Morrell commented on #2627
@alex-d13 - With regard to your first comment, yes I would keep these two examples in the dontrun{} (or even better donttest{}) and add them as long tests. As far as your second comment, if you run `BiocCheck::BiocCheck()` on your package then check the log you will see the following:

[code]

This is where the `=` is being used for assignment instead of `<-`.

Best,
Kayla

[2022-07-05 17:24] Kayla-Morrell commented on #2685
@alexchwong - Thank you for the thorough comments and making the necessary changes. I have looked everything over and I'd be more than happy to accept the package.

Best,
Kayla

[2022-07-05 22:11] hpages commented on #2212
Yep. Everything looks good now. Thanks!

H.

[2022-07-06 00:53] rx-li commented on #2687
@jianhong,

Hi! Thanks for letting me know. I have pushed the changes to git.bioconductor.org. Please let me know if you find any questions.

[2022-07-06 05:24] mzytnicki commented on #2212
Great! Thank you!

[2022-07-06 07:03] jeffreypullin opened #2708 "(inactive) cardelino"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/single-cell-genetics/cardelino

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-07-06 07:03] #2708 closed, assigned to nobody

[2022-07-06 07:10] jeffreypullin opened #2709 "cardelino"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/single-cell-genetics/cardelino

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-07-06 07:31] jeffreypullin commented on #2709
Hi,

This package is a re-submission of the same package after a little while, a change of maintainer (agreed between all authors) and extensive work to prepare for submission. I would therefore like the repository to be linked to this issue.

How can I best contact a Bioconductor Core Member? Perhaps @nturaga or @vjcitn can help?

Best,
Jeffrey

[2022-07-06 11:37] #2709 closed, assigned to nobody

[2022-07-06 11:45] lshep commented on #2709
sorry for the confusion @jeffreypullin .  We needed to delete the old issues out of the tracking database to ensure proper linking of messages and location of auto build reports once in the system to the newly opened issue.   Could you please try to submit a new issue once more so that the new issue can be entered properly.  Sorry for any inconvenience this has caused.

[2022-07-06 18:27] lshep commented on #2685
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/alexchwong.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-07-06 18:27] #2685 closed, assigned to Kayla-Morrell

[2022-07-06 18:27] lshep commented on #2669
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ccshao.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-07-06 18:27] #2669 closed, assigned to jianhong

[2022-07-06 18:27] lshep commented on #2660
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/martinry.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-07-06 18:27] #2660 closed, assigned to Kayla-Morrell

[2022-07-06 18:27] lshep commented on #2558
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/YuanningEric.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-07-06 18:27] #2558 closed, assigned to Kayla-Morrell

[2022-07-06 18:27] lshep commented on #2557
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/rossinerbe.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-07-06 18:27] #2557 closed, assigned to Kayla-Morrell

[2022-07-06 18:27] lshep commented on #2212
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mzytnicki.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-07-06 18:27] #2212 closed, assigned to hpages

[2022-07-06 18:27] lshep commented on #2558
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/YuanningEric.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-07-06 23:27] GabrielHoffman commented on #2630
I have address the issues in the following commit:

# zenith
- I have added `kableExtra` and removed the need for `recount`
- changing from `=` to `<-` too much work at this point, and risks breaking the code
- same with forcing text wraping

# NAMESPACE
- Other users already depend on this package, so I'd really like to avoid changing function names unless it is absolutely essential

# vignettes

[2022-07-07 01:23] jeffreypullin commented on #2709
No worries @lshep, apologies for causing it! I will resubmit now.

[2022-07-07 01:24] jeffreypullin opened #2710 "cardelino"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/single-cell-genetics/cardelino

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-07-07 08:34] yannchristinat commented on #2644
Dear @lshep,
Is there anything that have to do and did not realize?

[2022-07-07 09:20] vjcitn commented on #2710
Please use BiocCheck on your package.  I got
[code]
among other concerns; see information on the developer page concerning exact notation accepted for license fields.

[2022-07-07 11:41] lshep commented on #2644
Thank you. I will try and re-review the package in the next day or two.

[2022-07-07 12:27] mikelove commented on #2680
How does it look for this side package to be included? It's a single function package that removes compilation requirements from an existing package, fishpond.

[2022-07-07 12:56] nturaga commented on #2647
Hi @Jfortin1 , hope things are going well.

# Review

## DESCRIPTION

- ok

## NAMESPACE

- ok

## NEWS

- ok

## R

- Well-written code! Some of the private functions could use a little
  more documentation (consider this for a future time).

- Remove some of the commented-out code.

- The package is very extensive and took a long time to
  review. There seems to be a new error on the build repor

[2022-07-07 15:46] marouenbg commented on #2238
Hi @lshep , I've been trying to push new commits to git@git.bioconductor.org:packages/netZooR.git but the push does not trigger tests, are there any issues in the testing machines currently?

[2022-07-07 16:00] lshep commented on #2238
Once the package has been accepted it is on the daily builder and does not build  through the SPB submission here.
You will have to wait for the daily build report found: http://bioconductor.org/checkResults/
This page also list the schedule of each type of package.
The daily builder does a git pull of all Bioconductor package once a day and performs the install/build/check.  Depending on the time

[2022-07-07 16:01] marouenbg commented on #2238
Great, thank you!

[2022-07-07 16:07] nturaga commented on #2693
# Review

Great package! Accepting it now.

## DESCRIPTION

- ok

## NAMESPACE

- ok

## NEWS

- ok

## R

- Great stuff as always!

- Thanks for building in the failsafe for `bpstopall()` being replaced by `rpstopall()`

## inst

ok

## man

ok

## tests

ok

## vignettes

- ok

- The developer guide looks very helpful. The user guide is a little sparse, maybe?

[2022-07-07 16:18] marouenbg commented on #2238
@lshep Is there a buildignore for bioconductor? Like a .biocignore, I am running large tests on my self hosted server and I don't want to include them in bioc build.

[2022-07-07 16:26] lshep commented on #2238
bioconductor should respect the traditional  `.buildignore` if its included

[2022-07-07 16:58] Jfortin1 commented on #2647
Thanks @nturaga for your review!
I've made the changes and the new push builds successfully.

Here are my answers to your review:

# DESCRIPTION

ok

# NAMESPACE

ok

# NEWS

ok

# R

Well-written code! Some of the private functions could use a little
more documentation (consider this for a future time).

**JP: I agree; I went over all the R files and added comments on top of the private functions

[2022-07-07 18:47] nturaga commented on #2668
## DESCRIPTION

- Your name isn't "Developer" , so i'm not sure why the name of the person is listed this way.

[code]

## build report

Please fix the following NOTEs

- NOTE: Update R version dependency from 4.1 to 4.2.0.

- Checking coding practice...
    * NOTE: Avoid 1:...; use seq_len() or seq_along()
    * NOTE: Avoid 'cat' and 'print' outside of 'show' methods
    * NOTE: Avoid using '=' f

[2022-07-08 00:33] PeteHaitch commented on #2585
Thank you for making those changes, @andreaskapou.
I've now accepted the package into Bioconductor.

(Apologies, I thought I had already done this a few weeks ago!)

[2022-07-08 02:05] chencxxy28 opened #2711 "(inactive) R package InteRD to Bioconductor"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chencxxy/InteRD

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Bi

[2022-07-08 02:05] #2711 closed, assigned to nobody

[2022-07-08 02:07] chencxxy28 opened #2712 "(inactive) R package to Bioconductor"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chencxxy28/InteRD

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _

[2022-07-08 02:07] #2712 closed, assigned to nobody

[2022-07-08 11:00] BioSok commented on #2668
Fixed!

[2022-07-08 12:58] lshep commented on #2644
Can you please bump your version number and push to git.bioconductor.org so a new build report is triggered

[2022-07-08 14:45] lshep commented on #2644
And the NEWS file still needs to be renamed from NEW to NEWS.md

[2022-07-08 22:03] pablof1988 commented on #2658
Hello @ococrook
Thank you very much for the recommendations, we have worked to improve the package based on them. These are the changes we have made, we also write a justification when we could not do it. The things that we fulfill, we have simply marked it with a check.

**DESCRIPTION:**
- [✓] Authors, please add ORCID if possible
- [✓] LazyData please set this to false.
- [✓] Add biocViews: Reac

[2022-07-09 22:56] quranwu commented on #2651
Hi, please see the updated version of our package. Sorry for taking so long since we update our algorithm to improve the speed.
We've modified the output format as you suggested, and tried to incoperate most of your comments. However, there're still some left, and one major point is that we failed to perform the unit test. The main reason is that, as suggested by unit test, that it should start at

[2022-07-11 06:45] BioinfOMICS opened #2713 "(inactive) LipidSigR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TMSWCChenglab/LipidSigR

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read t

[2022-07-11 06:45] #2713 closed, assigned to nobody

[2022-07-11 11:39] lshep commented on #2713
We have reopened the previous issue. Please continue there.

[2022-07-11 13:13] pablof1988 commented on #2658
Dear @ococrook

We would like to comment you that **CHECK**, generates a ‘warning’ providing notice of the presence of ‘library’ statements in the package code (literally says: "_WARNING: Avoid the use of 'library' or 'require' in R code_"). These statements are at function ‘buildEnrichTable’ which in the first versions of the package was too slow, because it performs countless enrichment tests. T

[2022-07-12 09:02] yannchristinat commented on #2644
Done

[2022-07-12 09:33] ococrook commented on #2658
Hi Pablo

You can ignore that warning for the moment. The package looks good, I've got a few small requests left.

# Small remaining changes

- [ ] The NEWS.md isn't upto date with the Description file
- [ ] There are still some unrobust constructs such as 1:n in your code, take a look at the (s,v,l)apply and edit based on the previous advice
- [ ] Some functions still provide errors that are a li

[2022-07-12 12:21] lyoussar opened #2714 "(inactive) rifiComparative"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CyanolabFreiburg/rifiComparative/tree/main

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-07-12 12:21] #2714 closed, assigned to nobody

[2022-07-12 13:11] jianhong commented on #2687
@rx-li ,

Could you please also update your version number to trigger a builder? After that I can start my review.

[2022-07-12 19:09] MrMaximumMax commented on #2703
Hello Vince

I thank you a lot for your information and your feedback.
I’d be happy to submit another revision.

Can you recommend any source that would address specifically the aspects that were missing in my version? Or is there a list, summarizing the aspects missing?

I thank you a lot in advance and wish you a great day ahead.

Best regards,
Maximilian

[2022-07-12 20:19] rx-li commented on #2687
@jianhong

Thanks for letting me know! I have updated the version number.

[2022-07-13 11:22] lshep commented on #2703
contributions.bioconductor.org  would be a good reference point

[2022-07-13 12:43] genomaths commented on #2678
Dear Ishep
Bioconductor/Contributions

I have updated the GitHub repo introducing your suggestions.

The valid push was received on git.bioconductor.orga bout 19h ago but
apparently the building step is not moving forward.

Best regards,
Robersy

On Thu, Jun 30, 2022 at 10:50 AM lshep ***@***.***> wrote:

[2022-07-13 12:46] lshep commented on #2678
apologies. It looks like the builder stalled on our end.  Im rerunning the report manually and it should post shortly.  I will review the changes over the next week or so.  Cheers,

[2022-07-13 14:27] biomod-lih commented on #2609
Dear @lshep, we a sorry for the long answer.
After careful revision, we wish to resubmit our R-package to be published at the Bioconductor.
Is it possible to reopen #2609 or we should open a new issue?

[2022-07-13 14:46] lshep commented on #2695
@DarioS Please take the lead of this review.  Thank you

[2022-07-13 14:47] lshep commented on #2701
@nilseling Please take the lead on this review.  thank you

[2022-07-13 14:55] nilseling commented on #2701
Thanks @lshep, will do and post my review soon.

[2022-07-13 16:36] rx-li commented on #2687
I think I have subscribed to the bioc-devel mailing list...

[2022-07-13 19:18] jianhong commented on #2687
please try to bump up the version number again to confirm the issue.

Best!

Your sincerely,

Jianhong Ou

[2022-07-14 04:26] rx-li commented on #2687
@jianhong
Just bumped. Thanks so much.

[2022-07-14 05:24] PeteHaitch commented on #2585
@lshep or @Bioconductor/core: should my changing the tag to '3a. accepted' have automatically triggered the next steps ('The master branch of your GitHub repository has been added to Bioconductor's git repository.' etc.)?

[2022-07-14 11:37] nturaga commented on #2585
Hi Pete

Lori has to do a manual package ingestion for all the packages that have
been accepted. I believe this happens once per week.

It should happen soon.

On Thu, Jul 14, 2022, 1:24 AM Peter Hickey ***@***.***> wrote:

[2022-07-15 04:09] hd2326 opened #2715 "(inactive) ssde"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hd2326/ssde

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocondu

[2022-07-15 04:09] #2715 closed, assigned to nobody

[2022-07-15 04:21] hd2326 opened #2716 "(inactive) ssde"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hd2326/ssde

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocondu

[2022-07-15 07:45] lyoussar opened #2717 "(inactive) https://github.com/CyanolabFreiburg/rifiComparative"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2022-07-15 07:45] #2717 closed, assigned to nobody

[2022-07-15 07:47] biomod-lih commented on #2609
Dear @jianhong,
we would ask to continue the review process. Below is a line-by-line response to your remarks.

Only `new` is used after updates.

(fixed partially where justified)

(fixed partially where justified)

(added partially)

[2022-07-15 07:57] lyoussar opened #2718 "rifiComparative"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CyanolabFreiburg/rifiComparative

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I ha

[2022-07-15 12:40] vjcitn commented on #2716
pp 3-10 of vignette are equal signs showing a download

pp 11 doesn't seem to be evaluated

it is preferable to use R markdown for vignette although sweave is allowed for legacy packages

please see developer guidance pages

what does "recapitulate a decent amount of ground-truth genes determined from regular DE analyses" really mean?

guide the users to appreciate the contribution of your tool

w

[2022-07-15 12:40] vjcitn commented on #2716
should the data be in a summarized experiment so that the phenotype data are tightly bound to the assay data?

[2022-07-15 12:52] vjcitn commented on #2718
pre-check is passed but think about user effort to do
[code]
from vignette.  are the defaults good enough?

[2022-07-15 13:26] lyoussar commented on #2718
So far the defaults parameters were used in several organisms without any need for adjustment. Nevertheless I made the vignette simpler and I changed the cores number.

[2022-07-15 14:15] LiNk-NY commented on #2630
I disagree but it is really a matter of style choice even though it impacts legibility.

The package from our viewpoint is in the beta stage and we don't expect them to have a significant user base.
Changes to function names are normal to the review process. If more convenient, you can leave them as is.

Please remove this method and generic. The operation in the package can be replaced with:

[co

[2022-07-15 16:56] ethevenot commented on #2706
Dear Bioconductor Team,

I keep receiving this warning regarding the size of the vignette, although the size I have is 3.3 MB. I do not know why there is a difference (linux vs windows?), what is the actual size of the vignette on your side (the warning only says "above 5MB"), and how I could reduce the size (the vignette does not appear particularly big on my size). I have already reduced the num

[2022-07-15 17:25] lambdamoses opened #2719 "SFEData, SpatialFeatureExperiment, and Voyager"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pachterlab/SFEData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-07-15 18:16] GabrielHoffman commented on #2630
Thanks for your comments.  I have a question about the last one.

I'm not clear on your suggestion to replace `zenith::recodeToList()` with `GSEABase::geneIds()`.  I need a function to do the following:

[code]

and `geneIds()` doesn't give this result.  Is there a better way to get this result than the current version of `zenith::recodeToList()`?

Best,
Gabriel

[2022-07-15 18:24] LiNk-NY commented on #2630
Hi Gabriel, @GabrielHoffman

Perhaps I'm missing something but this does work with the example you've provided.

Consider the following:

[code]

Best regards,
Marcel

[2022-07-15 18:47] GabrielHoffman commented on #2630
Hi Marcel,
Thanks for your quick response!  You are right, I'm not sure how I missed that before.  I'll make the fix next week.

Cheers,
Gabriel

[2022-07-16 01:47] GabrielHoffman commented on #2630
Fixed in commit above

Thanks,
Gabriel

[2022-07-16 12:51] ococrook commented on #2679
@jianhong Can you update the version and push to bioconductor again? I'll have a look at the build report but I've built locally on windows and everything looks fine, so I'll probably suggest to accept the package shortly

[2022-07-16 13:01] ococrook commented on #2710
Hi @jeffreypullin,

Thanks for submitting `cardelino`, it'll take me roughly 10 days to look through the package or so. It may be worth looking at the build report to see if you can tackle any of those outstanding issues. Let me know if you have any immenent deadlines, as I may be able to turn the review around faster in some cases.

Best wishes,
Olly

[2022-07-16 15:09] Jfortin1 commented on #2647
@nturaga Hi Nitesh, the package is still not in the nightly build -- any chance we could add it in the next couple of days? Thanks!

[2022-07-16 20:05] hd2326 commented on #2716
Hey @vjcitn thank you very much for your help and suggestions!

I re-formatted the vignette as an Rmd, and provided more explanations on the package.

I also confirm that the vignette compiles fine on my end with all plots properly generated.

All the updates can be found in: https://github.com/hd2326/ssde

Since my package deals with single **sample-single sample comparisons**, not sure whether u

[2022-07-16 20:51] lshep commented on #2647
I have been away on holiday and will be processing all the accepted packages on Monday. You can expect it in the daily builder on Tuesday

[2022-07-17 16:28] lgatto opened #2720 "MsExperiment submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/RforMassSpectrometry/MsExperiment/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I

[2022-07-17 18:19] alexanderjwhite opened #2721 "smoothLRC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alexanderjwhite/smoothLRC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-07-18 08:49] lazappi commented on #2297
This is ok but it would be better if your functions took a `SingleCellExperiment`/`Seurat` directly and then you used these extraction functions internally. That way users could provide the objects they already have without having to mess around extracting things themselves. Using S3 dispatch could help with doing this for the two different objects.

You may want to check that your examples do pro

[2022-07-18 11:42] lshep commented on #2693
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mtmorgan.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-07-18 11:42] lshep commented on #2680
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/k3yavi.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-07-18 11:42] #2693 closed, assigned to nturaga

[2022-07-18 11:42] #2680 closed, assigned to vjcitn

[2022-07-18 11:42] lshep commented on #2647
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-07-18 11:42] #2647 closed, assigned to nturaga

[2022-07-18 11:42] lshep commented on #2585
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/andreaskapou.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-07-18 11:42] #2585 closed, assigned to PeteHaitch

[2022-07-18 12:28] veitveit opened #2722 "vsclust"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/veitveit/vsclust

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-07-18 12:28] #2722 closed, assigned to nobody

[2022-07-18 12:31] veitveit opened #2723 "(inactive) vsclust"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/veitveit/vsclust

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-07-18 12:31] #2723 closed, assigned to nobody

[2022-07-18 12:35] veitveit opened #2724 "vsclust"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/veitveit/vsclust

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-07-18 18:03] Jfortin1 commented on #2647
@lshep Thank you!

[2022-07-19 20:52] lgeistlinger opened #2725 "MerfishData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ccb-hms/MerfishData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-07-19 23:37] huklein opened #2726 "demuxmix"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/huklein/demuxmix

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-07-20 06:32] BioSok commented on #2668
Dear @nturaga , is there an update on the package review process? I am asking because we are trying to align its release to the relevant paper's submission. Thanks!

[2022-07-20 07:00] DarioS commented on #2695
I have reviewed the package and the issues which I have identified are:
* It is strange that the input format required is one table for controls and one table for cases. This needs to be changed to one `SummarizedExperiment` with phenotype data stored in `colData(dataset)`. The package has not been thoroughly converted from its original dependence on plain matrices in response to Vincent's request

[2022-07-20 17:42] pablof1988 commented on #2658
Hello @ococrook

We have worked on your observations, these are the changes (things fulfilled simply has a check):

- [✓] The NEWS.md isn't upto date with the Description file.
- [✓] There are still some unrobust constructs such as 1:n in your code, take a look at the (s,v,l)apply and edit based on the previous advice
- [✓] Some functions still provide errors that are a little hard to debug, becau

[2022-07-20 19:41] kstreet13 opened #2727 "(inactive) VDJdive"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kstreet13/VDJdive

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-07-20 19:41] #2727 closed, assigned to nobody

[2022-07-20 19:49] kstreet13 opened #2728 "VDJdive"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kstreet13/VDJdive

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-07-21 06:39] oganm commented on #2533
Please find the line by line responses below

### Required
* [x]  The default cache location is `rappdirs::user_cache_dir(appname = "gemmaR")` (as set by `gemma.R:::gemmaCache()`) but is documented in the vignette as being `tools::R_user_dir("gemmaR", which = "cache")`. Please reconcile.

* [x]  The value of `getOption("gemma.cache")` is not respected by the caching functionality. I.e. if a user s

[2022-07-21 06:48] jeffreypullin commented on #2710
Hi @ococrook,

No worries, there are no imminent deadlines. Indeed, I will be on leave for most of August, so probably won't be able to make changes until early September.

Best,
Jeffrey

[2022-07-21 07:53] alanocallaghan opened #2729 "BASiCStan"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Alanocallaghan/BASiCStan

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-07-21 13:16] jianhong commented on #2687
# Package 'EasyCellType' Review
The package passed check and build. It is almost there.

## The DESCRIPTION file
- [ ] Important: 'LazyData:' in the 'DESCRIPTION' should be set to false or removed
- [ ] Note: Malformed Title field: should not end in a period.

## R code
- [ ] Note: try to use `match.arg` or `stopifnot` to replace the codes 'if(!xxx %in% yyy)' for arguments check.
    * In file R/e

[2022-07-21 16:55] marouenbg commented on #2238
Hi @lshep ,
I have updated my package netZooR and the tests ok in http://bioconductor.org/checkResults/
But the develop landing page http://bioconductor.org/packages/3.16/bioc/html/netZooR.html still lists version 1.1 although I bumped the description file to 1.1.15. How often does this page gets updated?

Thank you so much for answering all my questions!

[2022-07-21 16:58] lshep commented on #2238
They regenerate once per day after the builds complete and propagate.  It looks like today's run was just finishing up and the new version is clean and propagating so I expect the landing page to be updated later today over the next few hours.

[2022-07-21 16:58] marouenbg commented on #2238
makes sense, thank you!

[2022-07-22 04:01] rx-li commented on #2687
Thanks so much for your comments.
Please find my responses below.

## The DESCRIPTION file
- Removed LazyData.
- Removed the period in the title.

## R code
- In file R/easyct.R: Modified all codes for parameter checking. Using `stopifnot` now.
- In file R/plot_bar.R: Modified all codes for parameter checking. Using `stopifnot` now.
- In file R/plot_dot.R: Modified all codes for parameter checking

[2022-07-22 11:11] vjcitn commented on #2729
This part of the vignette
[code]
produces too much text in vignette.   Can the summary be clipped?  print or show method?

[2022-07-22 11:14] alanocallaghan commented on #2729
Sure, good spot; done

[2022-07-22 12:06] nilseling commented on #2701
Hi @SPirrotta,

thanks for submitting `signifinder`. In general it's a nicely written package. There are a few things that need to be addressed/clarified:

## General comments

- [x] please add the Bioconductor installation instructions to the README file upon acceptance
- [x] please exclude the `IPSOVSign` function as it does not contain functional code
- [x] it is recommended to prefix non-expor

[2022-07-22 13:38] ococrook commented on #2679
Thanks for the fixes, looks good to me!

[2022-07-22 13:40] ococrook commented on #2658
Hi Pablo, looks good to me. Is there any chance you could remove the following notes if at all possible?

    * NOTE: Avoid 'cat' and 'print' outside of 'show' methods
    * NOTE: Avoid using '=' for assignment and use '<-' instead

[2022-07-22 13:59] vjcitn commented on #2719
Will you be following the https://github.com/Bioconductor/Contributions#submitting-related-packages so that SpatialFeatureExperiment is in place for checking SFEData?

[2022-07-22 14:02] vjcitn commented on #2719
I installed SpatialFeatureExperiment from pachterlab repo to check this package and it seemed fine.  You will need to submit SpatialFeatureExperiment too, as a related package.

[2022-07-22 14:04] lshep commented on #2719
@vjcitn to have the interface for submitting related packages work correctly they can't submit it until the data package is already in review with a 'review in progress' tag (and therefore already initialized in the review process).  If it is good please proceed with the 'pre-check passed'

[2022-07-22 14:31] vjcitn commented on #2724
Thanks for your submission.  CSV files should not be in vignettes folder.  Convert to /data elements or use inst/extdata or some similar approach.  Also
[code]

[2022-07-22 14:37] vjcitn commented on #2720
While building vignette by hand I hit
[code]
I wonder if the vignette should fail at this point, directing the user to deal with rpx cache -- which does not seem standard for BiocFileCache, should it use BiocFileCache?

[2022-07-22 14:39] lshep commented on #2720
That looks like  a standard R caching directory -- likely there is a flag for creating this automatically when it is not manually run (ie. an interactive vs non interactive setting) -- or if there isn't there should be

[2022-07-22 14:50] vjcitn commented on #2720
[code]
seems more standard to me.  Also
[code]
... and named chunks are nice ... :)

[2022-07-22 18:06] lgatto commented on #2720
It's the standard location for package caching:

[code]

`rpx` (and its cached) is used to download files from the PRIDE mass spectrometry database.

I'm surprised it fails when building the vignette, as the function should ask only in an interactive environment:
[code]
Sorry about the chunk names - I will fix these.

[2022-07-22 18:12] vjcitn commented on #2720
it didn't fail, it just paused during my manual compilation of vignette.  as programmed.  it just doesn't happen very often.

As for cache location, ignore my comment but I expected to see .local/share ... as part of the path.  My problem.

[2022-07-22 18:13] vjcitn commented on #2720
It did fail however at unnamed chunk 23.

[2022-07-22 18:34] lyoussar commented on #2718
The package could not be built in Windows. I added a file called .BBSoptions
Thanks

[2022-07-22 18:36] vjcitn commented on #2721
Please use suppressPackageStartupMessages to avoid long tedious messaging at start of vignette.  Please add a paragraph to the vignette giving scientific and technical context for the first-time reader.

[2022-07-22 18:57] lgatto commented on #2720
I had a quick look and the error complains about an empty filenames vector, that should have been created in the previous (unnamed) chunk:

[code]

producing

[code]

The `msdata` is in the Suggests - could it be possible that it isn't available on your system?

[2022-07-22 20:05] lshep commented on #2718
Please also correct the ERROR in the build report and trigger a new report

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Loubna Youssar ***@***.***>
Sent: Friday, July 22, 2022 2:34:20 PM
To: Bioconductor/Contributions ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Bioconductor/Contributions] rifiComparative (Issue #2718)

The package could not be built

[2022-07-22 20:44] lyoussar commented on #2718
I am subscribed to both lists:
https://support.bioconductor.org/accounts/signup/
https://stat.ethz.ch/mailman/listinfo/bioc-devel
I wonder why do I get these errors!? I tried to subscribe again just in case of and I ve got the email below confirming my subscription.
An attempt was made to subscribe your address to the mailing list
[bioc-devel@r-project.org](mailto:bioc-devel@r-project.org).  You a

[2022-07-23 02:22] lambdamoses commented on #2719
AdditionalPackage: https://github.com/pachterlab/SpatialFeatureExperiment

[2022-07-23 02:22] lambdamoses commented on #2719
AdditionalPackage: https://github.com/pachterlab/Voyager

[2022-07-23 11:33] alexanderjwhite commented on #2721
Thanks for taking a look @vjcitn! I've added more information at the beginning of the vignette and suppressed the chatty messages from the library calls.

[2022-07-23 11:34] alexanderjwhite commented on #2721
Sorry @vjcitn, I accidentally closed this when making my last comment.

[2022-07-25 07:39] lyoussar commented on #2718
Its solved, no errors neither warnings so far.

[2022-07-25 08:07] alex-d13 commented on #2627
Hi @Kayla-Morrell
Kindly re-check the changes I made regarding the longtests and `donttest{}` additions.

[2022-07-25 08:32] HelenaLC commented on #2651
Looking great I think! Thanks for the effort in restructuring and documenting the outputs of `IFAA` and `MZILN`. It's much clearer to me now (and hopefully future users) what's being returned, as well as the results handling (extraction, filtering etc.) being very straightforward as everything's in a `data.frame` now. Few (mostly minor) comments left:

# `BiocCheck` report

- Please try to clear a

[2022-07-25 14:21] pablof1988 commented on #2658
Hello @ococrook

ok, changes are done and these notes have disappeared

Best regards

[2022-07-25 17:17] LiNk-NY commented on #2725
Hi Ludwig, @lgeistlinger

Thank you for your submission to Bioconductor.
Please see the review below.

Best,
Marcel

---

# MerfishData #2725

* Overall, the package looks good to go.

## DESCRIPTION

* Looks good.
* `LazyData` field should be set to `false` or removed.

## NAMESPACE

* Looks good.

## vignettes

*  Looks good.
* The `cdat$z` cleaning process is a bit verbose but it looks helpful

[2022-07-25 17:23] lgeistlinger commented on #2725
Great, thanks! Will address.

[2022-07-25 17:58] hd2326 commented on #2716
Greetings @vjcitn !

Just want to know if there is any update on the review process. Thank you very much!

[2022-07-25 19:58] lgeistlinger commented on #2725
Hi @LiNk-NY : I am trying to trace down this part:

[code]

At which part of the vignettes do you encounter this one? Having trouble to reproduce ...

[2022-07-26 03:17] LiNk-NY commented on #2725
Sorry @lgeistlinger, I should've provided the entire code:

[code]

[code]

[2022-07-26 12:15] ococrook commented on #2658
Great, could you revist the warning from time to time to see if it can be removed.

[2022-07-26 14:26] alexanderjwhite commented on #2721
Closing this for further updates to the package.

[2022-07-26 14:26] #2721 closed, assigned to nobody

[2022-07-26 14:56] lgeistlinger commented on #2725
Interesting. Looks like you are compiling against R-devel (`R version 4.2.0 alpha (2022-04-05 r82094)`)? Aren't we compiling against R-release from mid-April to mid-October? Wouldn't that show up on the builder (uses`R version 4.2.1 (2022-06-23)`) where the build is clean?

Also works fine here on my end:

[code]

[2022-07-26 16:41] Jfortin1 opened #2730 "(inactive) crisprDesignData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprDesignData

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have re

[2022-07-26 16:41] #2730 closed, assigned to nobody

[2022-07-27 14:20] mnodzenski opened #2731 "epistasisGA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mnodzenski/epistasisGA

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read

[2022-07-27 19:44] lshep commented on #2678
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/genomaths.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-07-27 19:44] lshep commented on #2658
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pablof1988.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-07-27 19:44] #2678 closed, assigned to vjcitn, lshep

[2022-07-27 19:44] #2658 closed, assigned to ococrook

[2022-07-27 19:44] lshep commented on #2644
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yannchristinat.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2022-07-27 19:44] #2644 closed, assigned to lshep

[2022-07-28 19:39] mooredf22 commented on #2541
Following are my responses to the reviewer's detailed comments:

[response BioconductorReviewComments 24 Jul 2022.docx](https://github.com/Bioconductor/Contributions/files/9213636/response.BioconductorReviewComments.24.Jul.2022.docx)

[2022-07-28 21:27] pamelarussell opened #2732 "(inactive) `rd4` initial submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/fulcrumgenomics/rd4

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-07-29 05:25] lgatto commented on #2541
Thanks - could you please add your responses using the markdown syntax directly in the issue, rather than in an external doc file.

[2022-07-31 06:05] huerqiang opened #2733 "(inactive) Submit the HDO.db package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/HDO.db

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-07-31 06:05] #2733 closed, assigned to nobody

[2022-07-31 14:24] huerqiang opened #2734 "Submit HDO.db package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/HDO.db

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-07-31 15:53] jianhong commented on #2728
# Package 'VDJdive' Review
Thank you for submition your package to Bioconductor. The package passed check and build. It is in pretty good shape. However there are several things need to be fixed. Please try to answer the comments line by line when you are ready for a second review.
## The DESCRIPTION file
- [ ] At least 3 sentences in `Description` field is required.
- [ ] 'LazyData:' in the 'DESC

[2022-07-31 15:58] jianhong commented on #2687
I got some warning during check:

[code]

Could you please try to follow [this](https://stackoverflow.com/questions/57396392/warning-variables-with-usage-in-documentation-object-fang-but-not-in-code) direction to update your help files?

[2022-08-01 00:25] BioinfOMICS commented on #2631
@vjcitn
I've updated the package to my GitHub repository based on the comments. Wondering if I'm still missing something to resubmit to Bioconductor?

[2022-08-01 14:57] rx-li commented on #2687
@jianhong
Thanks for the insight. I just updated the files.

[2022-08-01 15:26] LiNk-NY commented on #2630
Hi Gabriel, @GabrielHoffman

Sorry for the delay.

Please remove the `docs` folder from the package.
Note that the `pkgdown` products can go onto a separate branch.

To use GitHub Actions, see `biocthis::use_bioc_github_action` with the `biocthis.pkgdown` option enabled.

Best,
Marcel

[2022-08-01 15:40] GabrielHoffman commented on #2630
@LiNk-NY Done.  Confirm?

[2022-08-01 16:05] Jfortin1 opened #2735 "crisprVerse"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/crisprVerse/crisprVerse

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read

[2022-08-01 16:08] Jfortin1 opened #2736 "crisprViz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprViz

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2022-08-01 16:48] LiNk-NY commented on #2725
Hi Ludwig, @lgeistlinger

This is the alpha release candidate.

I am still getting the same issue even after updating R versions:

[code]

The issue seems to be in `abind` and partly in `EBImage` (see https://github.com/aoles/EBImage/pull/60).

**Note**. I have this in my `~/.Rprofile`:

[code]

[2022-08-01 17:50] LiNk-NY commented on #2630
@GabrielHoffman

I still see the docs folder here: https://github.com/DiseaseNeuroGenomics/zenith/tree/master/docs
I see that you removed the `docs` folder from the Bioc repo.
Eventually, both the Bioconductor repository and GH repo will have to be synced.
It will cause problems down the road. Please remove the `docs` folder from all copies and
use a GH Action as above to generate the website.

Be

[2022-08-01 17:59] GabrielHoffman commented on #2630
@LiNk-NY done

[2022-08-01 18:03] LiNk-NY commented on #2630
Thank you for your submission!

[2022-08-02 10:40] veitveit commented on #2724
@vjcitn Thank you for the fast revision!

I now removed the csv files. The last chunk of the vignette is now not executed. It depends on a web service (DAVID) and thus you might have gotten the error due to a missing connection.

I will be happy to correct any other issues.

[2022-08-02 10:53] HelenaLC commented on #2718
First round of comments below! Note that many are suggestions and not strictly
required (e.g., "consider..."). Please comment back here with what has/not been
addressed how/why not, or any comments regarding any needed clarification or
questions you might have; happy to help/discuss. Cheers!

# documentation

- [ ] Typo in *make_pen.r* line 47: vetor -> vector
- [ ] Also in *make_pen.r*: Documenta

[2022-08-02 14:20] a-mahdipour commented on #2383
Dear Ishep,

The process to submit my R package,  sciCNV (#2383), has been recently
closed. I was wondering if you can reopen the process, I will try to
finalize the package shortly.

Thanks very much,

Ali Mahdipour
,

[2022-08-02 15:43] reesyxan opened #2737 "(inactive) iDA submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/reesyxan/iDA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-08-02 17:30] gartician opened #2738 "(inactive) CITEViz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/maxsonBraunLab/CITEViz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-08-02 20:27] pablof1988 commented on #2658
Dear @ococrook @lshep

Please need your help. Seven days ago goSorensen package was accepted to publish in Bioconductor (We are very pleasure to publish an R package in Bioconductor. Thanks to accept it), but  We are a bit worried since up to now the installation cannot be done using the classic "BiocManager::install("goSorensen")" which is used to install the packages found in Bioconductor, We un

[2022-08-02 22:06] ococrook commented on #2658
Hi @pablof1988

The package will be available via bioconductor at the next release. There are two releases per year. There will always be a devel version which you can also install. The devel version is the one that becomes available in the next release.

You'll be able to install your package using that command in a few months. Until that you can add the devel argument if you want the bioconducto

[2022-08-02 22:40] kstreet13 commented on #2728
Hi @jianhong,

Thanks very much for reviewing! I have made most of the changes you suggested and pushed a new version (0.99.2), which I thought would trigger a rebuild, but it doesn't seem to have done that. If there is something else I need to do in that regard, please let me know.

## The DESCRIPTION file
- [x] At least 3 sentences in Description field is required.
- [x] 'LazyData:' in the 'DESC

[2022-08-02 23:08] pablof1988 commented on #2658
Thank you very much for your answer@ococrook, now all is clear for me.

[2022-08-03 08:05] CTrierMaansson opened #2739 "(inactive) DNAfusion"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CTrierMaansson/DNAfusion

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-08-03 11:18] lyoussar commented on #2718
Best,
Loubna

**You are right, once many functions are from the same package, they are imported as importFrom e.g. “utils write.table read.delim2 capture.output” but the imported packages are individuals.**

      **Thanks for this comment. The source information is indicated in ReadMe and on the vignette with the corresponding link of the package where the data was generated
      “RifiComparativ

[2022-08-03 13:51] lshep commented on #2729
A few minor comments:

**man**

- [ ] Please complete BASiCStan-package.Rd

**vignette**

- [ ] You might consider doing a `suppressMessages(library("BASiCStan"))` in the
  vignette to clean up the user visible output. But this is completely optional

- [x] Nice vignette. concise and clear.

**R code**

- [ ] Should there be an arugment check for Data `is(Data,
  "SingleCellExperiment")`?

When re

[2022-08-03 18:34] alanocallaghan commented on #2729
All great suggestions thanks Lori

[2022-08-03 20:17] lgeistlinger commented on #2725
Hi @LiNk-NY - thank you for your review, I addressed all your comments including the noted minor points.
Notable changes in the revised version of the package include utility functions to clean up the ileum vignette and the addition of unit tests.

[2022-08-04 13:31] vjclandmark commented on #2716
sorry for delay, we had a conference.  the vignette needs to begin with a paragraph giving the scientific background and motivation for inclusion in the bioconductor ecosystem.  the headings of the vignette sections have abbreviations that are not explained.  please make the vignette as self-explanatory and inviting as possible for a user coming in with very limited appreciation of your package.

[2022-08-04 17:36] vjcitn commented on #2719
Hi, bump your version numbers/commit/push to get a new build.

[2022-08-04 18:00] vjcitn commented on #2720
Sorry for so many bumps.  I thought
[code]
was odd.  I will keep pushing.

[2022-08-04 21:42] vjcitn commented on #2732
Is this really necessary when using/checking the package:
[code]
I like the rest of the dev core have no experience with rust but I would hope that one could configure
the system in a reasonably persistent way for repeated use of the package.  Is this not the case?

[2022-08-05 01:50] vjcitn commented on #2734
Thanks for submission, but please look at your compiled vignette.  Vignette is not demonstrative.  Should show some results like
[code]
You should also reflect some of the metadata in the vignette, such as the version of HDO.

[2022-08-05 03:01] vjcitn commented on #2737
Does your package build on R 4.2/Bioc 3.16?
[code]

[2022-08-05 04:51] huerqiang commented on #2734
@vjcitn Thanks. We have updated the vignette.

[2022-08-05 07:23] HelenaLC commented on #2718
Thanks for the speedy action. I can see changes have been made in the package's GH repo, however, in order for these to go through to Bioc, you need to bump the package version in the DESCRIPTION file (i.e., from 0.99.1 to 0.99.2); thanks!

[2022-08-05 07:27] lyoussar commented on #2718
Thanks and done!

[2022-08-05 07:48] HelenaLC commented on #2718
Again, I can see this on your GH. However, if a build has been triggered, you'd see a message here from the bioc-issue-bot, which is not the case. You also need to push these changes upstream to the upstream Bioc remote (not only your personal GH remote). See [here](https://contributions.bioconductor.org/git-version-control.html#new-package-workflow) for a quick tutorial on setting up remotes and

[2022-08-05 09:30] lyoussar commented on #2718
I followed the instructions. I forked from the home repository (CyanolabFreiburg) to mine (lyoussar) and added a remote named upstream to my package.

origin	https://github.com/CyanolabFreiburg/rifi_comparative_data.git (fetch)
origin	https://github.com/CyanolabFreiburg/rifi_comparative_data.git (push)
upstream	git@git.bioconductor.org:packages/git@github.com:lyoussar/rifiComparative.git (fetch)
u

[2022-08-05 13:02] vjcitn commented on #2738
I am seeing that you have a tarball exceeding 5MB with a lot of large nice gifs under inst.  We have to keep our package tarball sizes low.  If you run BiocCheck::BiocCheck  you will see that it produces an error on tarball size.  I have to remove the pre-check passed notice.

[2022-08-06 09:14] HelenaLC commented on #2718
Yes, that all looks correct. Now, when you want to make changes, you should push to both the origin and upstream remote. I.e., commit -m “…” — push origin — push master.

[2022-08-06 09:46] lyoussar commented on #2718
Great, Thanks!

[2022-08-07 19:35] reesyxan commented on #2737
Hello,

The error is fixed now.

[2022-08-08 01:02] gartician commented on #2738
Thank you Vince, we replaced all the large GIFs with still images (PNGs).
Our BiocCheck run on our GitHub Actions looks dandy: https://github.com/maxsonBraunLab/CITEViz/runs/7717115756?check_suite_focus=true

[2022-08-08 11:39] RMalinverni opened #2740 "(inactive) New submission regioneReloaded package to Bioconductor"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/RMalinverni/regioneReloaded

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2022-08-08 11:39] #2740 closed, assigned to nobody

[2022-08-08 11:49] RMalinverni opened #2741 "regioneReloaded package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/RMalinverni/regioneReloaded

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2022-08-08 15:17] lshep commented on #2630
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/GabrielHoffman.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2022-08-08 15:17] #2630 closed, assigned to LiNk-NY

[2022-08-08 15:17] lshep commented on #2627
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/alex-d13.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-08-08 15:17] #2627 closed, assigned to Kayla-Morrell

[2022-08-08 23:25] PeteHaitch commented on #2533
Thank you for making the required changes and carefully considering the recommended changes.
I am pleased to accept **gemma.R** into Bioconductor!

Please make these small changes:

- [ ] Please update installation instructions in `README.Rmd`/`README.md` and vignette. It is recommended to only refer to  the 'official' Bioconductor installation instructions (or otherwise emphasise them), to avoid

[2022-08-08 23:36] PeteHaitch commented on #2632
Closing this for now.
@khazum Please re-open the issue if and when you would like to proceed with the submission.

[2022-08-08 23:37] PeteHaitch commented on #2606
Closing this for now.
@fuerzhou Please re-open the issue if and when you would like to proceed with the submission.

[2022-08-09 03:09] jsun opened #2742 "CircSeqAlignTk"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jsun/CircSeqAlignTk

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-08-09 06:49] anna-pacinkova opened #2743 "(inactive) IntoOMICS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/anna-pacinkova/intomics_package

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I hav

[2022-08-09 06:49] #2743 closed, assigned to nobody

[2022-08-09 07:00] anna-pacinkova opened #2744 "IntOMICS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/anna-pacinkova/IntOMICS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-08-09 07:01] HelenaLC commented on #2735
Few minor comments below! Note that many are suggestions and not strictly
required (e.g., "consider..."). Please comment back here with what has/not been
addressed. Cheers!

# vignette

- [ ] Type in line 33: adn -> and
- [ ] To highlight / distinguish the name from the package "crisprVerse",
I'd recommend using code style for the latter (currently, it's \`..."; typo?).
- [ ] Could simplify line 2

[2022-08-09 08:11] PeteHaitch commented on #2726
@huklein I'm sorry for the delay in reviewing **demuxmix**.
I've started reviewing the package today and should have a review for you later this week.

[2022-08-09 09:09] vjcitn commented on #2716
let us know if you plan to revise this submission and if so on what time scale.  thank you

[2022-08-09 09:35] vjcitn commented on #2734
When I compile your package and look at vignette this is what I see:
![hdo](https://user-images.githubusercontent.com/4624066/183612271-4d56d72d-579c-453a-aa84-da5cf3eb3402.jpg)

please make this a document that a user will be able to learn from.  It should start with a prose
paragraph indicating your purpose in contributing the package to Bioconductor.  It would be nice
if it indicated the scient

[2022-08-09 10:43] vjcitn commented on #2744
Thank you for this very interesting submission.  I am concerned that the building of the vignette seems to take a very long time.  I have seen

![intomics](https://user-images.githubusercontent.com/4624066/183628913-245ceec5-7507-4972-ae1d-a1017d4dd141.jpg)

and this approach to organizing the data should be improved.  The curatedTCGAData package uses MultiAssayExperiments for this type of data an

[2022-08-09 13:17] huerqiang commented on #2734
@vjcitn Thank you for your suggestion, we have completed the relevant changes.

[2022-08-09 20:46] hd2326 commented on #2716
Hey @vjcitn sorry for the delay.

As per your request, we added an "introduction" section to provide the scientific background and motivation.

We also revised the headings to remove abbreviations.

Please let me know if you have further concerns.

[2022-08-09 23:39] oganm commented on #2533
Thank you for your time and comments. Have made the changes and pushed upstream

[2022-08-10 03:43] PeteHaitch commented on #2726
Hi @huklein,

Thank you for submitting **demuxmix** to Bioconductor.
The package is already in great shape and provides an interesting solution for a key step of contemporary scRNA-seq analysis workflows.

For acceptance into Bioconductor, there are a number of **Required** points, as well as **Recommended** points, that I would ask you to first please address.
Would you please provide line-by-lin

[2022-08-10 11:07] lgatto commented on #2720
Hi @nturaga - the error in the build report is due to an URL that seemed temporarily inaccessible (it works now). The [first code chunk](https://github.com/rformassspectrometry/MsExperiment/blob/main/vignettes/MsExperiment.Rmd#L78-L82) (other than loading packages) pulls data from an online repo using the [rpx](http://bioconductor.org/packages/release/bioc/html/rpx.html) package. Could you trigger

[2022-08-10 15:33] nturaga commented on #2720
You need to push a version bump @lgatto

[2022-08-10 19:02] Jfortin1 commented on #2735
Thanks @HelenaLC for the fast review and great suggestions! I've now addressed all of them, and created a new function called `crisprVerse_update`, similar to `tidyverse_update` that will check if the latest versions of the packages are installed, and will install/update them if that's not the case.

[2022-08-10 19:05] Jfortin1 commented on #2735
- Type in line 33: adn -> and **Fixed**
-  To highlight / distinguish the name from the package "crisprVerse",
I'd recommend using code style for the latter (currently, it's `..."; typo?). **Done**
-  Could simplify line 25 to "[...] that can easily
be installed with the crisprVerse package." **Done**
-  To direct users to relevant external packages,
rather than linking to the corresponding Github

[2022-08-10 19:13] pamelarussell commented on #2732
Hi @vjcitn, this comes from code that is auto-generated by [rextendr](https://github.com/extendr/rextendr) and only executes during `rd4` installation. This adds `cargo` to the PATH (if it isn't already, which is not typical) within the active shell so required crates can be fetched. The modified PATH does not persist outside that shell. Hope this answers the concern; please let me know if not.

[2022-08-10 21:09] huklein commented on #2726
Hi @PeteHaitch ,

Thanks so much for the detailed review! I will need a couple of days to implement the improvements. Before I start, I have one question regarding the vignette.
I agree that the real dataset is a better use case for the vignette. There are two reasons why I still decided to use the simulated data. One argument was the runtime, which you addressed. My other thought was that I did n

[2022-08-10 22:11] PeteHaitch commented on #2726
My understanding is that the data used in the vignette will only be downloaded from **ExperimentHub** (via **scRNAseq**) if a user is installing the package from source (and building/installing the vignette as part of that process).
Generally, only users on Linux will be installing from source.
Users on macOS and Windows (the majority of users) will almost always be installing the binary packages

[2022-08-11 07:53] lgatto commented on #2720
Weird, I [pushed](https://github.com/rformassspectrometry/MsExperiment/commit/9e5f85252c102b0188d67ce9440274907e8bbbae) a version bump (plus code chunk labels) but it didn't triggered the spb. Any idea @nturaga?

[2022-08-11 11:05] ococrook commented on #2710
# Cardelino

This looks really good, thank you for the contribution. I found it well documented and easy to follow. The R code has a consistent style and is easy to read and follow. I have some feedback that it would be useful to incorporate before I can recommend accepting the package. Please respond with a clarification that you completed the follow or a description of why you didn't incoperate

[2022-08-11 12:31] lshep commented on #2720
Did you push to upstream at git.bioconductor.org?  When I cloned the package the version bump was not there?

[2022-08-11 14:31] lgatto commented on #2720
Indeed, thank you @lshep, and sorry for missing the obvious reason.

[2022-08-11 15:46] LiNk-NY commented on #2725
Hi Ludwig, @lgeistlinger

Thanks for making those changes. They look good!

Consider using something like
[code]
to shorten the example in `plotTabset`.
Other than that, it looks ready to go.

Best,
Marcel

[2022-08-11 15:53] LiNk-NY commented on #2725
There are also a couple of minor NOTEs in `R CMD check`:

[code]
This could be taken care of by either removing the LICENSE file (it's already Artistic-2.0) or adding `+ file LICENSE` to the `License: ` field in the `DESCRIPTION`.

[code]

[2022-08-11 17:07] rodrigarc opened #2745 "scifer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rodrigarc/scifer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-08-11 22:37] gartician opened #2746 "(inactive) CITEViz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/maxsonBraunLab/CITEViz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-08-11 22:37] #2746 closed, assigned to nobody

[2022-08-11 22:47] gartician commented on #2738
I pushed my changes to GitHub, but I am confused about how to push my new changes to bioconductor's git repository. I tried to set my upstream using the command `git remote add upstream git@git.bioconductor.org:packages/CITEViz.git`, but it didn't work. I noticed I could not find CITEViz in this [link ](https://git.bioconductor.org/), is that why I can't set an upstream because it doesn't exist?

[2022-08-11 22:54] vjcitn commented on #2738
Thanks for dealing with the images.  @lshep this can be moderated.  Garth it usually takes some time to get into git.

[2022-08-12 06:58] HelenaLC commented on #2718
Did you try doing this? The package being built [here](http://bioconductor.org/spb_reports/rifiComparative_buildreport_20220722142514.html) is still v0.99.0 whereas your Github repo [DESCRIPTION](https://github.com/CyanolabFreiburg/rifiComparative/blob/main/DESCRIPTION) has v0.99.2.

[2022-08-12 07:10] lyoussar commented on #2718
I just built the package again with the last version and I get 0 errors, 0 warnings and few notes. Is that what you referring to?

[2022-08-12 07:22] GuangchuangYu opened #2747 "(inactive) ggtreeDendro"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/ggtreeDendro

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-08-12 07:22] #2747 closed, assigned to nobody

[2022-08-12 07:26] HelenaLC commented on #2735
-  To direct users to relevant external packages,
rather than linking to the corresponding Github directories,
consider using "r BiocStyle::Biocpkg("package_name")"
(or CRANpkg or Githubpkg, depending on where the package sits).

- The DESCRIPTION file lists testthat under Suggests:, however,
there's currently no tests/ directory. Consider adding unit tests;
we strongly encourage them (see [here](

[2022-08-12 07:30] HelenaLC commented on #2718
Hm. I can only see a single build report from 21 days ago [here](https://github.com/Bioconductor/Contributions/issues/2718#issuecomment-1192832084). Did you push upstream as explained [here](https://contributions.bioconductor.org/git-version-control.html#new-package-workflow)? I.e., something like
[code]

[2022-08-12 08:04] GuangchuangYu opened #2748 "ggtreeDendro"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/ggtreeDendro

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-08-12 09:39] lyoussar commented on #2718
I have being struggling the last 2 hours to find a solution to that:

git fetch --all
Fetching origin
Fetching upstream
git@git.bioconductor.org: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
error: Could not fetch upstream

This is the remote:

git remote -v
origin	https://github.com/Cya

[2022-08-12 11:30] lshep commented on #2718
Keys should update automatically once changed.

It looks like your upstream is set incorrectly.

Yours is currently set:
***@***.******@***.******@***.***:lyoussar/rifiComparative.git

Where it has an extra ***@***.***:lyoussar

Please do

git remote remove upstream

git remote add upstream ***@***.******@***.***>:packages/rifiComparative.git
git remote fetch --all

and try again.

If you still ha

[2022-08-12 11:31] lshep commented on #2718
Keys should update automatically once changed.

It looks like your upstream is set incorrectly.

Yours is currently set:
[git@git.bioconductor.org](mailto:git@git.bioconductor.org):packages/git@github.com:lyoussar/rifiComparative.git

Where it has an extra git@github.com:lyoussar

Please do

git remote remove upstream

git remote add upstream [git@bioconductor.org](mailto:git@git.bioconductor.org)

[2022-08-12 15:08] lshep commented on #2679
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jianhong.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-08-12 15:08] #2679 closed, assigned to ococrook

[2022-08-12 15:08] lshep commented on #2533
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yavyx.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2022-08-12 15:08] #2533 closed, assigned to PeteHaitch

[2022-08-12 15:49] Jfortin1 commented on #2735
Thanks @HelenaLC, here's my response:

- `I can see this in the vignette now; perhaps also doing the same in the README?`
**Done.**

- `Thanks for addressing this. Perhaps something like this ... would be more complete? Otherwise, all the test really does is check that "crisprBase" is listed under "Imports:" in the DESCRIPTION. But I can see how unit tests are a little tricky here.`

[code]
**Done

[2022-08-12 15:55] jianhong commented on #2609
# Package 'consICA' Review
It is almost there. However there are several things need to be fixed. Please try to answer the comments line by line when you are ready for a review.
## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 13 import(BiocParallel)
## R code
- [ ] Important: Remove unused code.
	* In file R/functionsEnrichment.R:

[2022-08-12 17:43] nturaga commented on #2668
@BioSok

Your package looks fine to accept. Please issue another build report.

One issue is that there is no `sessionInfo()` inside your vignette. Please include it.

[2022-08-12 17:56] haoharryfeng commented on #2695
Hi @DarioS , we have addressed all your questions in our updated version. Please see below for a point-by-point response to your questions:

**Response**: Thanks for pointing this out. We have revised the required input format. Now ISLET takes only one `SummarizedExperiment` object, with phenotype data (case/control status) stored in the first column in `colData()`. Now ISLET should fully complian

[2022-08-12 19:23] jwokaty commented on #2732
@vjcitn I'll add rust to the linux builder and see how it goes. I'll follow up when it's done.

[2022-08-12 19:27] jwokaty commented on #2732
Rust is installed. That was pretty quick! I didn't do any special configurations, though.

[2022-08-12 19:31] vjcitn commented on #2732
That's great @jwokaty .  Can we also see if rextendr from CRAN will install?  I will continue working on this submission, it is not ready to go into build system but if rextendr installs ok we will be ready.

[2022-08-12 19:34] jwokaty commented on #2732
rextendr installed without issue.

[2022-08-12 19:37] gartician commented on #2738
I'm going to pre-emptively address the warning that suggests me to evaluate more code chunks in the vignette.

One code chunk is used to show the readers how to install our program and run the app. Since this is a Shiny app, this makes the code chunk runs indefinitely which isn't ideal. One question though: should I instruct the users to install using the BioC method e.g. `BiocInstall("CITEViz")`

[2022-08-13 22:25] vjcitn commented on #2732
The vignette needs work.  See http://contributions.bioconductor.org/important-bioconductor-package-development-features.html?q=vignette#bioc-vignette

[2022-08-15 11:14] ococrook commented on #2724
Hi @veitveit.

Thanks for the submission, could you remove the errors, before I start reviewing the package?

best wishes,
Olly

[2022-08-15 13:00] veitveit commented on #2724
Hi @ococrook
THanks for the reminder. Something went wrong with pushing the changes. I will keep on trying.

[2022-08-15 13:03] ococrook commented on #2724
If you want push to Bioconductor again with an update, you need to update the package version in the description file. This will trigger a new build.

[2022-08-15 14:50] nilseling commented on #2701
Hi @SPirrotta,
we would like to continue with the revision process and usually expect changes to the package within 2-3 weeks. Would you be able to post the requested changes soon?

[2022-08-15 15:17] lgeistlinger commented on #2725
Thanks @LiNk-NY for these suggestions. I have addressed all of them in the latest commit.

[2022-08-15 15:44] pamelarussell commented on #2732
Thanks @vjcitn , I have updated the vignette per the guidelines.

[2022-08-15 15:55] SPirrotta commented on #2701
Hi Nils,
I have not yet been able to complete all the changes to the package. I will publish the ones I have already made today or tomorrow. Then, I’ll send the others as soon as I can.
Thank you.

[2022-08-15 16:06] LiNk-NY commented on #2725
Hi Ludwig, @lgeistlinger

Your package has been accepted. Thank you for your contribution.

Best,
Marcel

[2022-08-16 10:34] kevinrue opened #2749 "iSEEhub"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/iSEE/iSEEhub/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2022-08-16 12:06] jianhong commented on #2728
Please try to following this documentation to push your code to git.bioconductor.org and update your version number.

[2022-08-16 13:45] jianhong commented on #2741
# Package 'regioneReloaded' Review
Thank you for submition your package to Bioconductor. The package passed check and build. However there are several things need to be fixed. Please try to answer the comments line by line when you are ready for a second review.
## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 25 import(ggplot2)
	*

[2022-08-16 19:31] ecool50 opened #2750 "(inactive) FuseSOM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ecool50/FuseSOM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-08-16 19:31] #2750 closed, assigned to nobody

[2022-08-16 22:52] PeteHaitch commented on #2738
Thanks for your submission of **CITEViz**, @gartician.
I'll be reviewing the package but won't be able to start the formal review until next week.

It is recommended to only refer to (or otherwise emphasise) the 'official' Bioconductor installation instructions, to avoid issues with people installing incompatible versions of software when using the 'GitHub' installation instructions.

I've not yet

[2022-08-17 00:05] ecool50 opened #2751 "FuseSOM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ecool50/FuseSOM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-08-17 01:21] quranwu commented on #2651
Hi,
We've submitted another version to address some notes.
We added the unit test.
We deleted the dataM and dataC, but generate the data itself in the examples.
For the macro notes, it seems to be something related to loadmathjax package. The message is from IFAAfunc() and MZILN() functions, where we're using \x{} for the loadmathjax package. The mannual generated from the two functions are fine a

[2022-08-17 07:07] lyoussar commented on #2718
I set a new key and activate the GitCredentials, I built again the package and I am still not getting access, I wonder what I do miss.

git remote -v
origin	git@github.com:lyoussar/rifiComparative.git (fetch)
origin	git@github.com:lyoussar/rifiComparative.git (push)
upstream	git@git.bioconductor.org:packages/rifiComparative.git (fetch)
upstream	git@git.bioconductor.org:packages/rifiComparative.git

[2022-08-17 11:36] lshep commented on #2718
What are the results of `ssh -T git@git.bioconductor.org`

[2022-08-17 11:39] lshep commented on #2718
Please also check out numbers 13, 14, and 15 of http://contributions.bioconductor.org/git-version-control.html#faq

[2022-08-17 12:03] lyoussar commented on #2718
ssh -T git@git.bioconductor.org
git@git.bioconductor.org: Permission denied (publickey).

[2022-08-17 12:05] lshep commented on #2718
Check out 14/15 of the faqs link above -- did you call the file with your key a different name?

[2022-08-17 13:40] lyoussar commented on #2718
Thanks again for your support.

I went through all these faqs, changing the config file of ssh ect.. and I get the same answer from ssh -T git...
Then I wanted to check my BiocCredentials to see what SSH key I registered. I was unable to access my account, I tried to generate a new password but so far I did not receive any email neither in the spam box. Checking in Internet I found this issue very

[2022-08-17 13:59] nturaga commented on #2718
Hi @lyoussar

Just stepping in here to add my 2 cents.

You have already activated your BiocCredentials account. Once it is active, the activation does NOT work.

You need to now log in with the password you set, or say "reset password". If that did not work, it's possible you are using the wrong email? The email attached your id is loubna.youssar@biologie.uni-freiburg.de.

The other thing I notic

[2022-08-17 14:06] nturaga commented on #2718
Another note, sometimes when users don't get the email from BiocCredentials, it is because their "institute" has firewalls. This is a problem we are unable to get around and is very institute specific. A way to go around it is to use an email address that is not administered by an institute. But you should do this based on what the best option is for you.

[2022-08-17 14:20] lyoussar commented on #2718
Bingo! The email address was the issue of the whole story!! I changed it to my private email, set the key and everything works as a charme. Here is the confirmation:

git fetch --all
Fetching origin
Fetching upstream
From git.bioconductor.org:packages/rifiComparative
 * [new branch]      master     -> upstream/master

Let me know if I need to set up anything else. Thanks!

[2022-08-17 15:43] Kayla-Morrell commented on #2736
@Jfortin1 - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: README installation instruct

[2022-08-17 16:20] a-mahdipour commented on #2383
I would appreciate if you can give me an idea how to solve these issues:

1-  ```nebbiolo2 CHECK output``` gives me this error message:
[code]

2- ```R CMD CHECK``` is also giving me the following error message:

[code]

[2022-08-17 16:48] davidechicco opened #2752 "`genomicRegionsFromGeneSymbols`"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/davidechicco/genomicRegionsFromGeneSymbols

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-08-17 17:12] lshep commented on #2383
All packages used in the vignette should be listed in the Suggest of your DESCRIPTION file.  Also you are not allowed to source files from github nor should you be sourcing your own .R files in the vignette.  Please correct these issues.

system files and configuration files should not be git tracked.  you can use `git remove sciCNV.Rproj` and `git commit` this change.  To keep a project locally a

[2022-08-17 18:41] Jfortin1 commented on #2736
Thank you Kayla for your review @Kayla-Morrell. Please find below my comments.

Best,
JP

 ## General package development
 * [x]  REQUIRED: README installation instructions should also include Bioconductor
   installation instructions. For the .Rmd file these instructions should be
   included in an `eval = FALSE` code chunk.

**Done.**

 ## DESCRIPTION
 * [x]  SUGGESTION: I see 'testthat' listed

[2022-08-18 06:00] DarioS commented on #2695
Thanks for these changes. The package and my understanding of its purpose has improved. However, I note that some of the changes replied to above have not been sufficiently implemented.

- @lshep Could you comment on the acceptability of

[code]

? Although it makes it easy for the package users to avoid knowing about `BiocParallelParam` class, it also means that they can't adjust oprtions, such a

[2022-08-18 06:28] veitveit commented on #2724
Hi @ococrook
Sorry for the overload of pushes. The main problems should now be solved, but I still get this error:
[code]
However, I registered at the subscription mailing list and also at the support site. Both with my email. Do I miss anything in e.g. the DESCRIPTION file?

[2022-08-18 06:52] HelenaLC commented on #2735
Nice, thanks for the prompt changes. And yes, definitely good to keep an eye out on that unit test and potentially adapt it as I'm not 100% sure about the intricacies of the build system; but for now, it seems to work as expected. - Accepted!

[2022-08-18 07:18] HelenaLC commented on #2718
Could you try pushing your recent changes upstream (with a version bump to trigger a new build)? The one and only available build report is still v0.99.0 (dated July 22nd).

[2022-08-18 11:17] lshep commented on #2724
I can confirm the email on the support site is registered. Please make sure you have added your package name in the Watched Tags.
Similarly I can confirm that the email is registered at bioc-devel
@ococrook  please ignore these errors.

[2022-08-18 14:23] vjcitn commented on #2695
@DarioS ,Apropos
[code]
I discussed this with @lshep.  An appropriate approach is to write the function with `BPPARAM=SerialParam()` as the user-facing parameter, and pass BPPARAM to bplapply.   If you want to provide more guard rails for users, define additional helper functions that can build an instance of a subclass of BiocParallelParam, which is passed as BPPARAM.

Let us know if there are fu

[2022-08-18 16:32] vjcitn commented on #2742
I built the vignette and noted a lot of sim_tries and other files created in the folder.  You should follow http://contributions.bioconductor.org/r-code.html?q=BiocFileCache#web-querying-and-file-caching and do i/o in the temp folder

[2022-08-18 16:40] vjcitn commented on #2748
Please explain au and bp at end of vignette.  Please begin the vignette with a
discussion of the scientific relevance of the package and its suitability for the
Bioc ecosystem.  Thanks!

[2022-08-18 17:20] rx-li commented on #2687
Thanks so much for your help on the package building.

I am wondering if you can provide a Bioconductor repo link of our package?

Best regards,
Ruoxing

On Tue, Aug 16, 2022 at 8:06 AM bioc-issue-bot ***@***.***>
wrote:

[2022-08-18 17:25] lshep commented on #2687
You can use a package short url that will default to the devel version package landing page until released and then always redirect to the most current released version:  https://bioconductor.org/packages/EasyCellType   .  It is not activate yet but will be within the next 48 hours that also provides links to the git repo https://git.bioconductor.org/packages/EasyCellType     ( or   git@git.biocon

[2022-08-18 17:29] lshep commented on #2735
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-08-18 17:29] #2735 closed, assigned to HelenaLC

[2022-08-18 17:29] lshep commented on #2729
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Alanocallaghan.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2022-08-18 17:29] lshep commented on #2725
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lgeistlinger.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-08-18 17:29] #2729 closed, assigned to lshep

[2022-08-18 17:29] lshep commented on #2687
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/rx-li.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2022-08-18 17:29] #2725 closed, assigned to LiNk-NY

[2022-08-18 17:29] #2687 closed, assigned to jianhong

[2022-08-18 17:29] lshep commented on #2668
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/BioSok.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-08-18 17:29] #2668 closed, assigned to nturaga

[2022-08-18 17:51] Jfortin1 commented on #2735
@HelenaLC Thank you!

[2022-08-18 18:36] mooredf22 commented on #2541
**Response to comments on “protlocassign”**

**Thank you for these extensive comments. Be aware that our “protlocassign” package has evolved over many years and was not originally developed with Bioconductor in mind. That said, I have endeavored to address the Bioconductor requirements without fundamentally changing the user experience.**

**General package development**

-   File names: please ch

[2022-08-18 20:44] LiNk-NY commented on #2739
Hi @CTrierMaansson
Thank you for your submission. Please see the review below.
Best,
Marcel

---

# Genefusiondiscover #2739

## DESCRIPTION

* (optional) Consider a shorter package name with all lowercase letters
* Consider adding a `URL:` field for the GitHub location of the package
* Include `sessioninfo` in the `Suggests: ` field (used in the vignette).

## NAMESPACE

* Perhaps use snake_case

[2022-08-18 21:49] hpages commented on #2720
Hi Laurent,

Taking a first look at this, here is some immediate feedback:

1. Imports:
    - Importing selectively from the **methods** package is strongly discouraged. Note that you already import the whole **methods** package (`import(methods)`) so there's actually no need to selectively import things with `importFrom(methods,"slot<-")`, `importFrom(methods,as)`, `importMethodsFrom(methods,show

[2022-08-18 23:49] #2694 closed, assigned to lgatto, nturaga

[2022-08-19 00:50] nturaga commented on #2694
Hi @mrbakhsh

You seem to have closed the issue. Is there a reason?

Even though you have errors on the build machine, you can still fix them and make sure they pass. Once it is error-free, I can review the package.

[2022-08-19 04:51] jsun commented on #2742
I've changed the scripts in the vignette to create files under a temporary directory.

[2022-08-19 06:40] huerqiang commented on #2734
@vjcitn Hi, we have completed the revision for a few days, is it possible to proceed further? Please see if there are any other issues, thanks.

[2022-08-19 06:55] nilseling commented on #2701
Hi @SPirrotta
I'm closing this for now. Please re-open once you are ready to submit the requested changes.

[2022-08-19 09:56] GuangchuangYu commented on #2748
We have updated the vignette. @vjcitn see <https://github.com/YuLab-SMU/ggtreeDendro/commit/1dcbde559c5e1cab55d0888f81fa372986f06841>.

[2022-08-19 17:04] vjcitn commented on #2734
While I am passing this package, it is using obsolete methods.
[code]
The AnnotationDbi approaches are not used.  The vignette uses as.list and toTable instead of select().  We
need to update our contribution guidelines to ensure updated methods are used.

[2022-08-19 20:04] NicoleEO commented on #2602
@LiNk-NY

Hi Marcel,
We will not be able to hit release time for this package as it still needs some work and after Bioc we started debating base class (SummarizedExperiment of SpatialExperiment). Is there a process for retracting the submission? I want to delay and resubmit hopefully next release.
Thanks,
Nicole

[2022-08-19 20:34] LiNk-NY commented on #2602
Hi Nicole! @NicoleEO

I hope you're doing well.

We can mark the issue as inactive and you can resubmit when ready.

Feel free to tag me or the core team with @Bioconductor/core if you have any questions throughout the process.
I am also on Bioc-Community Slack.

Best regards,
Marcel

[2022-08-19 20:35] #2602 closed, assigned to LiNk-NY, vjcitn

[2022-08-19 20:36] NicoleEO commented on #2602
Will do. Thanks Marcel!

[2022-08-20 10:03] vjcitn commented on #2744
11 days have passed, please indicate your intentions with this package.  Thank you

[2022-08-20 10:09] vjcitn commented on #2742
This is what I am seeing on current checkout

[code]
is it passing check for you?  please verify on a clean system, eliminate warnings and errors.

[2022-08-20 10:24] vjcitn commented on #2751
Thanks for your contribution, it looks very interesting.  However, yasomi is not in CRAN.  At this time, Bioconductor packages can depend only on other Bioconductor packages, or packages distributed by CRAN.  Consider using the som package at CRAN.  Let us know if we should close out this submission.

[2022-08-20 10:26] vjcitn commented on #2745
Please read your vignette.  You print out an entire dataset in the vignette.

[2022-08-20 10:31] vjcitn commented on #2749
[code]
maybe Enhances would be better?  For Check to succeed without changing environment, all those are needed?

[2022-08-20 10:36] vjcitn commented on #2734
This is also somewhat confusing:
[code]
maybe use HDO()?

[2022-08-20 10:40] vjcitn commented on #2752
there is no vignette.  please read contributor guidelines.

[2022-08-20 10:49] vjcitn commented on #2752
[code]
is that familiar?  does your package pass check most of the time?

[2022-08-20 12:43] jsun commented on #2742
I'm so sorry to have troubled you. I've fixed the codes and checked the code under the clean environment. Many thanks.

[2022-08-20 13:50] anna-pacinkova commented on #2744
Dear Vince,

I am sorry for the delay, I absoluteley missed the previous email. I will
check your recommendations asap.

Kind regards,
Anna

Dne so 20. 8. 2022 12:03 uživatel Vince Carey ***@***.***>
napsal:

[2022-08-22 10:04] kevinrue commented on #2749
`Enhances` sounds like a suitable choice. I never fully understood the exact purpose of `Enhances`, and many times in the past `Suggests` was recommended to me for various scenarios, which is why it was my first choice here too.

None of the packages (well, perhaps one for unit testing) are needed for check to succeed, as the packages are only loaded (in some cases, installed) during the runtime o

[2022-08-22 11:27] rodrigarc commented on #2745
Hi @vjcitn, I have updated that on my vignette and committed this change to my repo. Do I have to push to git.bioconductor.org already or at this stage this is not needed yet?

[2022-08-22 13:12] kevinrue commented on #2749
https://github.com/Bioconductor/Contributions/issues/2749#issuecomment-1221274695

Fixed in https://github.com/iSEE/iSEEhub/pull/22

[2022-08-22 13:50] davidechicco commented on #2752
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/davidechicco/genomicRegionsFromGeneSymbols

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-08-22 13:51] davidechicco commented on #2752
@vjcitn Thanks for having noticed it; I just added them in the new package version that I just submitted. I hope I submitted it in the right way.

It rarely happens. My package passes all the checks most of the times.

[2022-08-22 17:13] huklein commented on #2726
Hi @PeteHaitch,

Thanks again for the helpful feedback! Please see my response to the comments below.

### Required

I was thinking about this point a lot. Building the vignette with the real data takes about 2min on my computer. The package shouldn't time out on the build system. In the end, I still prefer to stick with the simulated data as the main dataset in the vignette for the following reas

[2022-08-22 18:04] mrbakhsh commented on #2694
Hi @nturaga,

Thank you for the message. Actually, we are in the process of writing the manuscript for the package and we thought that it is a bit early to make it public. I will try to submit it later this year again. Thank you

[2022-08-22 22:07] vjcitn commented on #2752
Thanks for adding the vignette.  I have some concerns.  First, my attempt to check the package after your revisions led to
[code]
Perhaps you can make the test more fault tolerant.

More seriously, though, you have to explain why this package is needed in Bioconductor; we do ask for abstract information on package significance to the ecosystem in our contributions page.  Gene regions can be obtain

[2022-08-22 23:00] PeteHaitch commented on #2726
Thanks for responding to the review, @huklein.
I'm not sure if I'll have time this week to go through your responses in detail, but you can expect a response in 1-2 weeks.

[2022-08-23 04:33] vjcitn commented on #2631
Sorry, I keep in trying to build vignette ...
[code]
what is going on?

[2022-08-23 14:09] davidechicco commented on #2752
@vjcitn Thanks for your comments and your feedback. To be honest, I did not know about the existence of the `genes()` function of `EnsDb.Hsapiens.v79`, I am discovering it right now. It looks much easier to use than my proposed package.
I think the only asset of my package could then be that it was designed for that goal, that is the retrieval of genomic regions from gene symbols. Before starting

[2022-08-23 16:47] kevinrue commented on #2751
As a less important change that will also need to be addressed at some point:

I also see this line in the DESCRIPTION file above:
[code]

Those are functions of the [usethis](https://usethis.r-lib.org/) package.

The authors will need to either:

- Call `usethis::use_mit_license()` or `usethis::use_gpl3_license()` from the R console to fill this field automatically.
- Choose a valid license name

[2022-08-23 16:49] ecool50 commented on #2751
Amazing! Thanks for the feedback. I am currently working on the changes and will update when it is ready for reevaluation.

[2022-08-24 06:17] hpages commented on #2732
Hi @pamelarussell ,

**rd4** requires Rust and Cargo to be present on the system so this needs to be reported in the `DESCRIPTION` file in the `SystemRequirements` field. On Ubuntu these can easily be installed with `sudo apt-get install rustc cargo` so we will do this on our Linux builder.

In addition to listing the external system requirements in the `SystemRequirements` field, we ask package c

[2022-08-24 06:27] hpages commented on #2732
@vjcitn @jwokaty It doesn't seem that **rd4** actually depends or needs CRAN package **rextendr**. My understanding is that **rextendr** was used at some point by the developers of **rd4** to generate static R code that is included in the package. A little bit in the same way that developers use Autoconf to generate a `configure` file. Not something that the end user needs.

[2022-08-24 06:47] hpages commented on #2732
@pamelarussell

The `src/python/requirements.txt` file in your package contains the following:
[code]
Does this mean that **rd4** also requires Python and those Python modules to be available on the user machine? If that's the case then these requirements should also be listed in `SystemRequirements`.

Thanks,
H.

[2022-08-24 15:45] biomod-lih commented on #2609
Dear @jianhong,

Thank you for the comments.
Please find our line-by-line answer below.

Done.

Done.

Fixed.

Done.

Fixed.

We checked the ability to download, it's works. Possibly, it was a one-time connection failure.

We added it to the abstract of the vignette.

[2022-08-24 17:13] hpages commented on #2752
Did you try to ask on [our support site](https://support.bioconductor.org) about that? Those are basic manipulations that most people in the community are familiar with. FWIW an even better way to retrieve gene regions is with `transcriptsBy( , by="gene")` if you don't mind getting the result in a GRangesList object instead of a GRanges object. This avoids the artificially long genes that we see s

[2022-08-24 18:14] nturaga commented on #2706
Hi @ethevenot Please issue a new build report by bumping the version number.

There are many NOTEs you can fix in the build report quite easily.

[2022-08-24 19:14] nturaga commented on #2706
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## NEWS

ok

## vignette

Good!

## Tests

Good!

## R

- End user messages as given in the NOTEs on the
'BiocCheck::BiocCheck()' function should be corrected.

- Good examples cases!

- BiocCheck complains about the spacing in the code,
  but you can ignore this. It's well written. If you are able to
  follow it, that's fine.

- Lots of "magic numbe

[2022-08-24 20:19] pamelarussell commented on #2732
@hpages thanks, I have updated `SystemRequirements` and added `INSTALL`. I have also removed `src/python` which is not needed.

You are correct that `rextendr` was used in the development process and is not needed for package installation.

[2022-08-24 22:27] hpages commented on #2732
Thanks! Please make sure to remove any material that is not needed from the package.

[2022-08-24 23:05] LiNk-NY opened #2753 "TENxIO"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/waldronlab/TENxIO

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-08-25 00:22] PeteHaitch commented on #2753
I've not looked at the package closely, but has the design and implications of this package been discussed/planned with the **DropletUtils** and **SpatialExperiment** authors, which already have `DropletUtils::read10xCounts()`, `DropletUtils::read10xMolInfo()`, and `SpatialExperiment::read10xVisium()`?
CC: @ltla, @drighelli

[2022-08-25 06:13] LTLA commented on #2753
For **DropletUtils**: I have wanted to split the 10X-specific methods into a separate package, so as to avoid having to deal with the minutiae of keeping up with Cellranger. If this package can provide drop-in replacements for the various 10X processing functions (`read10xCounts` being the most obvious candidate, but also the various molecule info-reading files as well), then I would not be oppose

[2022-08-25 14:03] LiNk-NY commented on #2753
Hi @PeteHaitch and @LTLA !

Dario @drighelli had pointed me to the functionality in https://github.com/drighelli/read10xMultiome which should be covered by this package. I can also work with Dario to support 10X Visium data or have this supported in another package.

I haven't discussed with Aaron @LTLA but I'd be happy to and provide drop-in replacement functionality.
I also agree with Aaron RE:

[2022-08-25 18:40] kstreet13 commented on #2728
Just to clarify an earlier point, many of the `for` loops are iteratively modifying a large, sparse matrix object. Most of these *could* be done with an `apply` statement which would replace a large section of the matrix, but that would require constructing a dense version of that section, which would substantially increase memory usage.

[2022-08-25 19:39] huerqiang commented on #2734
@vjcitn The HDO.db now support `select()` interface and we have changed `DO()` to `HDO()`.
![image](https://user-images.githubusercontent.com/48857018/186753437-eeb33b69-b54f-46db-bf69-0edccdbec796.png)

[2022-08-25 22:49] pamelarussell commented on #2732
@hpages I have gone through again and there is no other unneeded material in the repo.

[2022-08-26 06:47] lazappi commented on #2610
Hi @Nina-Song. It looks like the build is running without any issue now which is great. Please comment with the changes you have made when you are ready for me to review the package again.

[2022-08-26 06:47] lazappi commented on #2297
Hi @jfanglovestats. It looks like the build is running without any issue now which is great. Please comment with the changes you have made when you are ready for me to review the package again.

[2022-08-26 06:58] almeidasilvaf opened #2754 "magrene"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/almeidasilvaf/magrene

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-08-26 13:59] RMalinverni commented on #2741
Dear Jianhong Ou, thanks for reviewing our package submission and providing useful commentary. We have addressed most of the raised issues and provide here a point by point response. We have in addition pushed the changes including a version bump to the Bioconductor git repository.

_Selective imports using importFrom instead of import all with import.
in line 25 import(ggplot2)
in line 26 import(

[2022-08-26 15:05] ethevenot commented on #2706
Dear Bioconductor reviewer,

We are pleased to submit our revised version of the package in addition to our responses to your comments below.

We thank you in advance for reviewing this revised package and we hope that this new version will now be accepted in Bioconductor.

Etienne Thévenot.

Responses to the comments:

1) There are many NOTEs you can fix in the build report quite easily.

The cod

[2022-08-26 15:09] kevinrue commented on #2749
FYI, I've already discussed the following error on the BioC Slack:
[code]
See https://community-bioc.slack.com/archives/C0207H5QC3X/p1660313871200209

[2022-08-26 19:53] gartician commented on #2738
Hi @PeteHaitch, I hope you were able to take a look at this package during the week.

That last update was to replace devtools installation instructions with `BiocManager::install("CITEViz")`.

How important is it to create an ExperimentHub/AnnotationHub for this dataset? The test dataset I mentioned is just a subset of of the data from this paper [paper](https://www.sciencedirect.com/science/arti

[2022-08-26 20:20] jwokaty commented on #2732
I'm looking into this.

[2022-08-26 20:38] jwokaty commented on #2732
@pamelarussell Can I ask you to change your `INSTALL` such that the installation instructions use `sudo apt-get install rustc cargo`? I installed this way and was able to install without issue. We also typically install with `apt-get`, so we recommend this method instead.

[code]

[2022-08-26 20:47] hpages commented on #2732
@pamelarussell As mentioned earlier people should preferably use `sudo apt-get install rustc cargo` on an Ubuntu/Debian system. Also please provide the `yum` command that they should use on an RPM-based Linux system. Once you're done, please bump the version of the package to trigger a new build. Thanks!

[2022-08-27 02:55] haoharryfeng commented on #2695
Hi @DarioS , we have once again addressed these issues and please see below for our modifications and responses.

**Response**: We’ve revised the code, according to your suggestion at the initial review, to allow the input of a `BiocParallelParam` class into deconvolution function and hypothesis testing function. Now the users should have good amount of flexibility to adjust all necessary paramete

[2022-08-27 06:13] ecool50 commented on #2751
Hey @vjcitn and @kevinrue, I have made updates to the FuseSOM package to remove the dependence on `yasomi` and also fixed the licensing issue. Would it be possible to reevaluate?
Thanks

[2022-08-27 09:39] vjcitn commented on #2751
we will reevaluate next week  thanks

[2022-08-29 01:40] fuerzhou commented on #2606
Test: Does the issue reopen automatically with a new comment?

[2022-08-29 01:47] fuerzhou commented on #2606
Hi @vjcitn @PeteHaitch,

I have submitted the updated version to Bioconductor. Shall we reopen the issue? I will submit my response to the review after seeing the build is successful.

Thank you!

[2022-08-29 04:26] khazum commented on #2632
Thank you, Pete, for your great feedback!

Is there a preprint or paper describing the method?
**Reply:** Yes, the paper was published very recently, and I have included the references in the package.

One question I had after running the vignette is that I observed that ccImpute::impute() doesn't change the non-zero values and makes ~5% of zero values non-zero.
Is that expected and typical result

[2022-08-29 04:29] khazum commented on #2632
@PeteHaitch Can you please reopen this issue? Thank you.

[2022-08-29 05:14] PeteHaitch commented on #2632
Thank you for responding to the review, @khazum
I'm a little behind on my reviews but I will try to finalise the review before I go on leave next week.

[2022-08-29 05:15] PeteHaitch commented on #2632
Would you please push the changes to `git.bioconductor.org` to trigger a build of the updated package.
Thanks!

[2022-08-29 10:00] drighelli commented on #2753
Thanks for directing me to this conversation, I also think that could be good to have common IO functionalities for 10x outputs in a common package.

Btw, the main author of the `read10xVisium` function is @HelenaLC, so I think it's good to involve her in this discussion.

Dario

[2022-08-29 13:35] fuerzhou commented on #2606
@PeteHaitch Thank you again for the review of our package and for your insightful feedback. I have tried to resolve all the required and recommended issues. The checked items without comments were directly fixed following the suggestions; some items have follow up explanations under the comments. Please do let us know if you have further comments or suggestions.

### Required

- [X] Please take a

[2022-08-29 14:17] js2264 opened #2755 "(inactive) HiContactsData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/js2264/HiContactsData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-08-29 14:17] #2755 closed, assigned to nobody

[2022-08-29 14:21] js2264 opened #2756 "(inactive) HiContactsData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/js2264/HiContactsData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-08-29 14:21] #2756 closed, assigned to nobody

[2022-08-29 14:34] js2264 opened #2757 "HiContactsData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/js2264/HiContactsData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-08-29 16:23] almeidasilvaf commented on #2754
Hi, @vjcitn

I think there is a problem with the build system. I've never seen this "ABNORMAL" thing before, and the build report is empty.

As I would have to push a version bump just to trigger another build, I added more 3 unit tests to increase the test coverage, but when I tried to push to the Bioc repo, I got a "permission denied" error.

Upon inspection, I noticed that this package was not

[2022-08-29 19:53] pamelarussell commented on #2732
@hpages I have made these updates and bumped the version. For RPM, I have recapitulated the recommendation to use `yum update -y` to update the system followed by the `curl`-based `rustup` method.

[2022-08-29 20:29] lshep commented on #2754
It doesn't look like this was moderated properly.  Give me a few minutes to straighten it out.

[2022-08-29 20:35] lshep commented on #2754
It should be all set.  A new build has already been kicked off for you and should post in a few minutes

[2022-08-29 22:10] Nina-Song commented on #2610
Hi @lazappi,

Thank you so much for your last advice. The input format now has been changed to a CSV file, which won't affect all of the major analyses, as well as avoids using Seurat or SpatialExperiment objects (which could be quite large and unnecessarily time-consuming for this statistical analysis pipeline). Currently, I am working on adding unit tests for functions. Once this step gets done,

[2022-08-29 23:59] hpages commented on #2732
Hi @pamelarussell,

1. **Please provide the exact `yum` command** that people should use to _install_ Rust and Cargo on an RPM-based Linux system

    You'll need to figure out the names of the corresponding `rpm` packages. Like `apt-get` on Debian-based Linux systems, `yum` is the standard/uniform way to install additional software on an RPM-based Linux system. This is by far the easiest/cleanest

[2022-08-30 00:40] vjcitn commented on #2732
Just a note to confirm that I see the same compilation process, but I did not have any downloads on my installation attempt.  Perhaps a cache is checked.  Apropos libc and cc, these are name collisions -- not core OS components, but see, e.g., https://crates.io/crates/cc

[2022-08-30 05:36] almeidasilvaf commented on #2754
Thanks a million, @lshep! ;)

[2022-08-30 07:11] BioinfOMICS commented on #2631
@vjcitn
Hi,
Sorry for the inconvenience. We have fixed the errors and updated the related files in our GitHub repository under the vignettes directory. The automatically generated files by devtools::build() can be found under /inst/doc.
Thank you for reviewing our submission.

[2022-08-30 08:00] CTrierMaansson commented on #2739
Dear Marcel

I have addressed all of the issues mentioned in the review.
This includes the suggestion of changing the package name, which has now been changed from Genefusiondiscover to DNAfusion. However, unsurprisingly this change broke the build.

Is this fixable or do I need to make a new contribution starting from scratch?

Kind regards
Christoffer

[2022-08-30 13:39] nilseling commented on #2749
Hi @kevinrue
I'm currently on holidays but will post my review as soon as I'm back (10th September).