[2017-01-06 09:37] wind22zhu opened #238 "BioMedR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wind22zhu/BioMedR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2017-01-06 22:04] LiNk-NY commented on #101
Hi Robert @rbentham,
Thank you for making those changes.

In future revisions, you may want to look at using the internal `aes_` instead (to avoid the use of the `get` function). `aes_` seems like the preferred option, according to the documentation.
Also, I'm not sure why `Vignette_sort` is user visible. You might want to store the data in `R/sysdata.rda`.

Your package has been accepted. Thank y

[2017-01-06 22:06] LiNk-NY commented on #173
Hi @xueyuancao,
My apologies for the delay. Your package has been accepted.
Thank you for submitting to Bioconductor!

Regards,
Marcel

[2017-01-06 22:06] xueyuancao commented on #173
Thanks a lot,

[2017-01-07 13:52] julaiti commented on #225
@mtmorgan Dear Martin, I've improved the result of my package, which produce identical result with verified software tools that implement same algorithm (implemented in C#). Should I push these changes to github make that available for package review process ? Looking forward to receive your evaluation and further assistance. Thank you

Best regards :
Jurat

[2017-01-07 14:22] mtmorgan commented on #225
Yes push the changes. Make sure the [web hook](https://github.com/Bioconductor/Contributions#adding-a-web-hook) is established and that you bump the version to 0.99.1.

[2017-01-09 10:38] BioSok commented on #222
Dear @mtmorgan ,
when I added check(force_suggests = FALSE) in the description file (because pathprint is not accepte yet) the build resulted in ABNORMAL. What causes that? Thanks for your time!

[2017-01-09 11:01] mtmorgan commented on #167
Thank you for the updates. I have the remaining concerns that I hope you can easily address.

## vignette

Please continue to provide more information on the upstream work flow.

- Link to software source code for PyClone and to CITUP.
- Provide explicit instructions for use of this software, e.g., the
  format of the original (raw) data and the exact commands /
  configuration variables used to c

[2017-01-09 11:09] mtmorgan commented on #167
Also, be sure to remove 'hidden' files like .DS_store in the root and vignettes directory.

[2017-01-09 11:12] mtmorgan commented on #168
Thanks for the updates

## vignette

- The vignette installs cellscape from bitbucket, but that step should
  be removed since the package will already be installed on the user
  computer via _Bioconductor_.
- Please provide explicit details about how the user is to prepare
  data for use by your software.

## other

- as with cellscape, please clean up unnecessary files in the
  top-level and vig

[2017-01-09 11:18] mtmorgan commented on #169
Thanks for the updates

## vignette

- Please elaborate, as for timescape on the user is to prepare data
  for use by your software.

## other

- as with cellscape, please clean up unnecessary files in the
  top-level and other directories.
- please also consider carefully formatting the man page.

[2017-01-09 11:20] mtmorgan commented on #199
Thanks I'm happy to mark this package as 'accepted'. It will be added to the Bioconductor SVN repository and nightly builds; more information will be forthcoming in the next several days.

[2017-01-09 11:26] bernatgel commented on #199
Great :) Thanks for the review!

[2017-01-09 11:32] mtmorgan commented on #222
I removed @hpages from this package and assigned @vobencha, as @vobencha is handling the review of the the sister pathprint package.

[2017-01-09 11:37] mtmorgan commented on #222
ABNORMAL usually indicates that the DESCRIPTION file is incorrectly formatted. All entries in the description file must have format

[code]

I'm sorry I let the ball drop on getting this to build. I'll return to this today.

[2017-01-09 12:00] mtmorgan commented on #222
I think the package is now associated with issue https://github.com/Bioconductor/Contributions/issues/183. Please do not post any further comments on this issue.

[2017-01-09 13:41] BioSok commented on #183
Hey,

Why am I getting the following errors in a data package?

* Checking vignette directory...
    This is a software package
    * ERROR: No 'vignettes' directory.
* Checking whether vignette is built with 'R CMD build'...
    * ERROR: Vignette must be built by 'R CMD build'. Please see the
      `Vignette Checks` section of the BiocCheck vignette.

[2017-01-09 16:19] siskac commented on #178
Hey, could we please get this evaluated by the end of this week? Thanks!

Sent from my iPhone

[2017-01-09 16:41] vobencha commented on #183
Hi,

Vignettes are not required for experimental data packages so you can ignore that error. I've reviewed the data package and taken a second look at the software.

## Data Package:
1 Please address these issues from R CMD check:

* checking for hidden files and directories ... NOTE
Found the following hidden files and directories:
  .git

* checking data for ASCII and uncompressed saves ... WARN

[2017-01-09 16:44] vobencha commented on #178
Sorry for the delay. I think all of the SPB issues have been fixed and it would be best to get a clean build before approval.

@lshep can you please kick off a new SPB for this issue?

[2017-01-09 16:54] lshep commented on #178
Rerunning now, there should be a new build report posted shortly.

[2017-01-09 17:07] vobencha commented on #178
Thanks @lshep !

@siskac , the last warning to address is updating the R version,
* Checking R Version dependency...
    * WARNING: Update R version dependency from 3.3 to 3.4.

Once that's done we are good to go.
Valerie

[2017-01-09 17:48] vobencha commented on #217
Hi,

1) Please fix these issues raised on the single package build report:

Shorten the run time for this example:

** running examples for arch 'i386' ... [220s] OK
Examples with CPU or elapsed time > 5s
                user system elapsed
getRepeatTable 34.02   1.44  211.95

Why so many unevaluated code chunks?

* Checking vignette directory...
    This is a software package
    # of chunks: 13,

[2017-01-09 17:53] LiNk-NY commented on #212
Hi @izhbannikov,
Thanks for making those changes. If you have made any subsequent changes, please bump the version to kick off another build. I will be reviewing your package shortly.

Regards,
Marcel

[2017-01-09 17:53] vobencha commented on #226
Have you addressed the comments in https://github.com/Bioconductor/Contributions/issues/226#issuecomment-269642276 and are ready for another review? If yes, please itemize what changes were made.

[2017-01-09 20:40] tiagochst commented on #182
@hpages Please, I'm really sorry to ask, I know you might be busy. But when do you believe the package will be accepted? I made the changes from the last review, but I didn't get any updates yet.
Thanks!

[2017-01-09 20:46] ipw012 opened #239 "RIVER"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ipw012/RIVER

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2017-01-09 20:56] vobencha commented on #229
Hi,

The Depends field in DESCRIPTION should list the packages from which you call functions or create classes. Looks like it might boil down to just these
library(TCGAbiolinks)
library(stringr)
library(ComplexHeatmap)
library(SummarizedExperiment

The rest can go in Suggests. Please add a NAMESPACE to import the packages in Depends.

Valerie

[2017-01-09 22:30] tiagochst commented on #229
@vobencha Hi, thank you for the review, I added the namespace. I'm sorry if I understood it wrong, but all the Depends have at least one function being used. I added those functions to the package [NAMESPACE](https://github.com/BioinformaticsFMRP/f1000_TCGA_Workflow/blob/master/NAMESPACE).

[2017-01-10 00:05] brianbennettphd commented on #216
Thanks @mtmorgan and @nturaga for your in-depth review of our package! Many of your suggestions are great ideas that I will carry forward as I continue to develop in the future.

The only comment that I was not able to address (due to time constraints) was to shorten all of the lines that are greater than 80 characters. However, I have addressed all of your other concerns, making significant chang

[2017-01-10 00:26] lazappi commented on #209
I don't remember what the exact errors were but I think they were because I had `globalVariables` in the wrong place. I has initalised `scDatEx` which seems to have fixed the note. Thanks for the tip.

I also set some of the examples to not run which should hopefully reduce the check time.

[2017-01-10 10:51] Zouter commented on #207
@LiNk-NY
I now subscribed to this mailing list, thank you. I also bumped the version but no new build has been generated. Do I have to do something else for the bot to start rebuilding?

Kind regards
Wouter

[2017-01-10 11:35] drj11 commented on #183
@vobencha you mention finding hidden file, in particular:

Found the following hidden files and directories:
.git

Surely that `.git` directory appears because you used `git clone` and didn't remove the `.git` directory that `git clone` creates?
It doesn't appear in the automated reports http://bioconductor.org/spb_reports/pathprintGEOData_buildreport_20170109112439.html

[2017-01-10 12:12] lshep commented on #207
Did you set up the webhook as described [here] (https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) ? The builder will not pick up a version bump if the webhook is not set up.

[2017-01-10 12:22] lshep commented on #209
Thank you for making these changes.  Everything looks good now and I will recommend package acceptance.  Please keep the issue open and you will receive svn instructions so that the package will be included in the devel version of Bioconductor (normally within a week).

[2017-01-10 13:06] julaiti commented on #225
@mtmorgan Dear Martin, I incremented the version 0.99.2 which had unit test error. Now error is fixed. Should I increment version to 0.99.3 to rebuild package ? Thank you

[2017-01-10 17:32] LiNk-NY commented on #212
Hi @izhbannikov,
Thank you for submitting to Bioconductor!
Please see your review below.

---

Thank you for making the change to use the
`SummarizedExperiment` class as a basis for your
class.

### Grammar

* Use default values in the arguments (e.g., in the constructor)
* Not sure why you need to create an object in `baseenv` from `rQTtest.prepare`. It doesn't look like a good idea to me. Perhap

[2017-01-10 18:19] siskac commented on #178
How soon will the R package be on the website? We have a paper that was just accepted on the extensions and would like to include the link to discordant on bioconductor. Thanks!

Sent from my iPhone

[2017-01-10 18:30] vobencha commented on #178
It will probably take a week to post on the web site. In the next few days you'll get an email with svn credentials and instructions.

The package will only be available in devel until the next release in April 2017 at which time it's available in both. For your publication you can use this link which will take you to the release page unless the package is only available in devel:
http://bioconduc

[2017-01-10 19:23] chagasVinicius commented on #226
Dear Valerie,

Thank you for your review, all suggestions were very helpful for the development of our package. We revised the package following your suggestions, which are described below in more details.

Sincerely,

Vinicius

(1) R CMD check output:
Please update the R version. We ask this because the package will only be available in Bioconductor >=3.5 (devel) which corresponds to R version >=

[2017-01-11 04:09] dongminjung opened #240 "(inactive) PPInfer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/PPInfer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-01-11 04:09] #240 closed

[2017-01-11 04:13] dongminjung opened #241 "PPInfer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dongminjung/PPInfer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2017-01-11 08:09] wind22zhu commented on #231
Hi,
My package could not pass through  the test on Mac OS because of the  dependence of rJava package.
======================
** preparing package for lazy loading
Error : .onLoad failed in loadNamespace() for 'rcdk', details:
  call: fun(libname, pkgname)
  error:
=================
=================
This version of rCDK uses a CDK library that requires Java 7 or greater.

Please install Java 7 an

[2017-01-11 14:31] lshep commented on #231
I'll speak with our system admin about the Java dependency error.
We experienced a large storm here which knocked out some of our servers. we are in the process of getting them back up.  I'll kick off some manual builds of your package once this occurs so you can see the Windows and Linux reports again.

[2017-01-11 15:53] jcrodriguez1989 opened #242 "MIGSA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jcrodriguez1989/MIGSA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-01-11 16:08] gacatag commented on #217
gacatag:
Dear Valerie ( @vobencha )
Hi,
Thank you for your review and comments.

I have modified the codes and here are the main changes to the package together with my response to your comments:

1.

I changed the example into a `\dontrun`. The `getRepeatTable()` function connects to UCSC and builds a data.frame that includes information regarding repetitive DNA sequences in the human genome. Con

[2017-01-11 16:37] LiNk-NY commented on #239
Hi @ipw012,
I see that you are not using any Bioconductor resources. We want our packages to be inter-operable.
You should be able to support the use of either an `ExpressionSet` or `SummarizedExperiment` as input for your functions.

[2017-01-11 16:57] chagasVinicius commented on #226
Dear Valerie,

We are just contacting you to say that we have made a minor adjust on the documentation of the "MBR-class" object. If you have any suggestion please let us know.

Sincerely,
Vinicius

[2017-01-11 17:06] bernatgel commented on #199
Just one final question. Since the build report (http://bioconductor.org/spb_reports/karyoploteR_buildreport_20161115082933.html) still shows the warning about " WARNING: y of x.y.z version should be even in release" the package landing page has not been generated. Is there anything I could do to solve that?

[2017-01-11 17:13] vobencha commented on #229
OK, slight change of plans. These 'workflows as packages' are still somewhat new so we are figuring the process out. Since you don't have any internal R code the packages are only needed for the vignette. Please move the list of packages to 'Suggests' and don't import them in the NAMESPACE. You should still have a NAMESPACE but for now it will be empty.

Thanks.
Valerie

[2017-01-11 17:14] dongminjung commented on #241
I updated them. Thanks.

[2017-01-11 17:16] vobencha commented on #226
Please bump the 'z' portion of the version so we get a new build. This is an important practice you should start doing each time you commit a change. More information on version bumping here:
http://www.bioconductor.org/developers/how-to/version-numbering/

Valerie

[2017-01-11 17:21] vobencha commented on #183
Yes, thanks for pointing that out. I did use git clone and I did not remove the .git directory so please ignore that comment.
Valerie

[2017-01-11 17:24] mtmorgan commented on #199
The build reports for the single package builder are static, and the one you cite is old, so no need to worry about this.

[2017-01-11 17:58] vobencha commented on #226
Thanks for making the changes. The package is looking good.

It looks like (4) in my original comments was not addressed. We still have exported functions with dot '.' in the name:

export(mbr.plot.duals)
exportMethods(mbr.association)
exportMethods(mbr.bootstrap)
exportMethods(mbr.dpi.filter)
exportMethods(mbr.duals)
exportMethods(mbr.permutation)
exportMethods(mbr.preprocess)
exportMethods(tni2m

[2017-01-11 18:06] chagasVinicius commented on #226
Dear Valerie,

Thank you. I would like to bring you a concern that just arised from the group. We are discussing the possibility of improving the name of the package (from RTNmotifs to RTNduals?), but we haven't decided yet whether it will be necessary. It is a matter of semantics in order to clarify the concepts presented in the package.

Could I ask you to continue the revision process as it is,

[2017-01-11 18:12] vobencha commented on #226
Changing the package name once approved is a pain. You'll definitely want to change it now if at all. If you decide to that we'll close/reject this issue and you'll open another under the new name.

Valerie

[2017-01-11 18:17] chagasVinicius commented on #226
Dear Valerie,

Thank you for the quick reply. Please I want to continue with the current issue until the group agree on the final name. We will probably keep the current name, I just would like to bring you this possibility.

Vinicius

[2017-01-11 19:11] pbushel commented on #216
@mtmorgan and @nturaga Please let us know an estimate of when the package will be approved as we need to resubmit the manuscript on goSTAG in the coming days.  Thanks

[2017-01-11 19:15] YinanZheng commented on #121
Just wondering if there are any updates on this packages. Thanks!

[2017-01-11 19:16] mtmorgan commented on #216
Thanks I looked at your changes and see that they address the issues raised in the initial review. I'll mark your package as 'accpeted'; it will be added to Bioconductor svn and nightly builds, likely appearing in Friday or Saturday's build. More information will be sent by email in a day or  so.

[2017-01-11 19:18] lshep commented on #231
The Java ERROR has been corrected but your package still seems to have some ERRORS when running the checks.

[2017-01-11 19:20] pbushel commented on #216
That's great news!  Thanks so much @mtmorgan We'll submit the paper early next week with the following url:
https://bioconductor.org/packages/goSTAG
and let the reviewers know that they can search Bioconductor for the development version.

[2017-01-11 21:07] rkuiper commented on #159
Hi Marcel, @LiNk-NY

The startup message is removed.

Regards,

Rowan

[2017-01-11 22:12] chagasVinicius commented on #226
Dear Valerie,

We have made the changes you suggested. Sorry for the number of
updates in such a short time, but I have lost some changes in the
documentation. The version number "0.99.4" is the correct for the next
review step.

Sincerely,

Vinícius

[2017-01-12 00:09] tiagochst commented on #229
Hi Valerie,

It is done.

Best regards,
Tiago

[2017-01-12 04:44] vobencha commented on #226
Thanks for making the changes. Do you want to change the name or should I mark the package as approved?

Valerie

[2017-01-12 12:07] chagasVinicius commented on #226
Dear Valerie,

Thank you for the precious reviews. The group decided to change the package name to "RTNduals", how can I proceed to make this change and how will work the process to upload the package to Bioconductor?

Sincerely,
Vinicius

[2017-01-12 13:54] #226 closed

[2017-01-12 14:00] vobencha commented on #226
Hi @chagasVinicius ,

To change the package name we need to
- we (Bioconductor) close this issue
- you create a new repo on github under the new name and submit as a new packge to the tracker
- the package gets approved under the new name

Adding Martin for confirmation. @mtmorgan , I'm not sure we have a standard procedure for re-naming a package prior to acceptance. I'm marking this issue as 'de

[2017-01-12 14:07] izhbannikov commented on #212
Hi Marcel, @LiNk-NY ,

Thank you so much for your review!
I will fix the package asap.

Sincerely,
Ilya

[2017-01-12 14:11] mtmorgan commented on #226
Yes I recommend following @vobencha's work flow.

[2017-01-12 15:57] chagasVinicius opened #243 "(inactive) RTNduals"
Dear Valerie (@vobencha),

Please find attached our revised package now renamed to RTNduals. I hope you will be able to continue the review process of our package, for which you have provided relevant suggestions.

The link to the old issue is: https://github.com/Bioconductor/Contributions/issues/226#issuecomment-269227969

Please let us know any questions.

Sincerely,
Vinicius, Clarice and Mauro

[2017-01-12 15:57] #243 closed

[2017-01-12 16:00] chagasVinicius opened #244 "RTNduals"
Dear Valerie (@vobencha),

Please find attached our revised package now renamed to RTNduals. I hope you will be able to continue the review process of our package, for which you have provided relevant suggestions.

Please let us know any questions.

Sincerely,
Vinicius, Clarice and Mauro

- Repository: https://github.com/chagasVinicius/RTNduals

Confirm the following by editing each check box to '

[2017-01-12 16:08] chagasVinicius commented on #244
Dear Valerie (@vobencha) and Martin (@mtmorgan),

I could not linked the issue #226 with the new one as suggested. But I am following the suggested workflow to change the package name.

Sinceraly,
Vinicius

[2017-01-12 16:40] #216 closed

[2017-01-12 16:40] #173 closed

[2017-01-12 16:40] #178 closed

[2017-01-12 16:40] #199 closed

[2017-01-12 16:40] #209 closed

[2017-01-12 16:40] #101 closed

[2017-01-12 16:48] vobencha commented on #229
Please see comments and suggestions below.

1) R/ vs vignette/ directory

A workflow package usually doesn't define new R functions but reuses from existing packages. Defining little functions used in *apply() loops are fine but the vignette is not the place to define substantial helpers. If you need substantial helper functions they should be in R/, not the vignette. Please move the functions fro

[2017-01-12 17:14] vobencha commented on #244
Marking as approved. Review comments [here](https://github.com/Bioconductor/Contributions/issues/226).

[2017-01-12 17:30] chagasVinicius commented on #244
Dear @vobencha,

Thank you for all the suggestions and help in this process.

Sincerely,
Vinicius

[2017-01-12 17:44] brianbennettphd commented on #216
@mtmorgan Should I increment the version number to 1.0.0?

[2017-01-12 17:53] tiagochst commented on #229
Thank you for the review. I'll work on those points next week. I'll let you
know when I fix them.

Tiago Chedraoui Silva

On Thu, Jan 12, 2017 at 8:48 AM, vobencha <notifications@github.com> wrote:

[2017-01-12 18:13] mtmorgan commented on #216
No, it is in the 'devel' branch. At the next release (later this spring) it'll be copied to the release branch and version bump to 1.0.0; the devel branch version will bump to 1.1.0. Until then any changes you make should be increment the 'z' part of 0.99.z.

[2017-01-13 12:17] MartinFXP opened #245 "epiNEM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cbg-ethz/epiNEM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-01-13 13:54] lawremi commented on #245
At first glance it is somewhat surprising that a package which "extends the NEM package" does not depend on it (and the package name is lowercase). The vignette is a wall of code without any explanation.

[2017-01-13 16:50] jcrodriguez1989 commented on #242
@bioc-issue-bot @lshep this "ABNORMAL" result is because GitHub servers are having issues right now.
As it can be seen in the build report, MIGSA repository could not even be downloaded.
I will wait a few hours and commit the same code but changing the package version, to force the rebuild.

thanks!

[2017-01-13 19:43] lshep commented on #110
Hello,  I just wanted to touch base to see if you were going to make anymore updates with a version bump?

[2017-01-13 19:50] dschlauch commented on #110
Hi Lori,

Very sorry about the delay.  After I wasn't able to get it into the last
release I put it on the back burner for awhile.  I do expect to be making
more changes and to finish up before the next release.

Thanks,
Dan

On Fri, Jan 13, 2017 at 2:43 PM, lshep <notifications@github.com> wrote:

[2017-01-13 19:52] lshep commented on #110
No problem at all.  I saw the pushes and just wanted to double check you weren't waiting on me.

[2017-01-13 20:02] jcrodriguez1989 commented on #242
@bioc-issue-bot @lshep I dont have idea what the given warning is: "Warning: vfs customization not available on this platform. Ignoring value: vfs = unix-none".

[2017-01-13 20:21] lshep commented on #242
I'll investigate further but for now you can ignore. You can also ignore the ERROR on the linux build.  I will review your package and respond further by the end of next week if there are any further suggestions.

[2017-01-13 20:29] jcrodriguez1989 commented on #242
@lshep thanks for your reply!
Just two things I would like to mention about my package:
1) Package check takes more than five minutes (maybe almost eight minutes) because I have a lot of test cases. Maybe I could delete some of them, but the code coverage will decrease.
2) As package should occupy less than 4MB, and ir order to make my vignette interesting I need big data files. My package has the

[2017-01-14 16:43] mtmorgan opened #246 "SPBTest3 -- please ignore"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/spbtest3

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-01-14 22:24] mtmorgan commented on #225
DESCRIPTION

- good

- Relating the package abbreviation to the title would help the user,
  Title: "Multiple Sample Peak Calling: Using combined evidence from
  replicates to evaluate ChIP-seq peaks"

- the 'tidyverse' package does not seem to be used in the examples or
  vignette (see below) and so does not need to be in the Suggests:
  field.

NAMESPACE

- good

vignettes

- The vignette does n

[2017-01-15 00:16] tiagochst commented on #229
@vobencha I updated the workflow

- [X] 1)  Functions were moved to R/utilities.R and their dependencies were moved to the import field in the DESCRIPTION file
- [X] 2)  The function that will be executed to compile the vignette has the 3 tries. If there is more than 3 tries there will be an error. I followed  GEOsearch/R/utilities.R as suggested. This is the [https://github.com/BioinformaticsFMRP

[2017-01-15 11:38] julaiti commented on #225
@mtmorgan  Dear Martin, many thanks for your detailed evaluation and alarmed me to fix possible issue. However, I don't understand your motivation on this code and don't know how to reproduce your idea.  Could you please give further interpretation on that :
[code]
I mostly influenced your strategy [https://support.bioconductor.org/p/78722/#79428](url) on my question from supporting sites , conver

[2017-01-15 13:26] mtmorgan commented on #225
Yes it's true that your code seems to be correct, it is just very difficult to try to understand (because of the highly nested loops) and likely to be very inefficient (because the same operations, like `findOverlaps()` and `which.max()`, are called many times. The snippet you mention above is a way to find the maximum in a large number of groups, something like

    df = data.frame(x=rnorm(1000),

[2017-01-15 21:27] maiasmith commented on #167
Hi Martin,

Could you please provide clarification as to what kind of description is
necessary for the data preparation? A full description of how to use
PyClone and CITUP is quite intensive, the subject of numerous supplemental
pages in both papers.

I'm CC'ing Andrew McPherson, a developer of CITUP, who will help me develop
an appropriate description of the methods, but is seeking further
clarif

[2017-01-16 00:14] Quarkins opened #247 "AllSorts"
- Repository: https://github.com/Oshlack/AllSorts

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package Guidelines][1].

- [x ] I understand that a minimum requi

[2017-01-16 12:17] julaiti commented on #225
@mtmorgan  Dear Martin, I convinced myself to follow your revision, it can be way efficient than using nested loop. I have still few doubts which I can make sure revised implementation will meet your expectation:

- regarding this line `  fromLast= (type == "max")`, I figured out that `duplicated` method is from base R. As matter for fact, I intend to let user has more freedom to chose the peak wi

[2017-01-17 01:55] nguyentin opened #248 "(inactive) BLMA: A package for bi-level meta-analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nguyentin/BLMA

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bioco

[2017-01-17 01:55] #248 closed

[2017-01-17 02:29] nguyentin opened #249 "(inactive) BLMA: A package for bi-level meta-analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nguyentin/BLMA

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bioco

[2017-01-17 02:29] #249 closed

[2017-01-17 02:34] nguyentin opened #250 "BLMA: A package for bi-level meta-analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nguyentin/BLMA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2017-01-17 06:54] nhejazi opened #251 "(inactive) biotmle"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nhejazi/biotmle/pkg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2017-01-17 06:54] #251 closed

[2017-01-17 06:58] nhejazi opened #252 "(inactive) biotmle"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nhejazi/biotmle/pkg/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-01-17 06:58] #252 closed

[2017-01-17 14:44] khadija-a opened #253 "sampleClassifierData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/khadija-a/sampleClassifierData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2017-01-17 14:52] khadija-a commented on #253
AdditionalPackage: https://github.com/khadija-a/sampleClassifier

[2017-01-17 15:14] mtmorgan commented on #167
Sorry for my slow response. I'm not looknig for anything too elaborate, a 'paragraph' that tells the user what the starting data were, what commands and parameter values were used, and what output file and additional processing were needed to make it appropriate for input into your package.

Please don't forget the version bump when you're ready.

[2017-01-17 15:35] khadija-a commented on #253
AdditionalPackage: https://github.com/khadija-a/sampleClassifier

[2017-01-17 16:49] mtmorgan commented on #225
If `peakOverlapping()` has an argument `type=c("max", "min")` then

    type = match.arg(type)

defaults to `max` but can also have value `min`. Then `fromLast=(type == "max")` selects the maximum value (last, i.e., largest, ordered score for each query / subject combination) when the argument is `max`, and the minimum value (first, i.e., smallest, ordered score for each query / subject combinatio

[2017-01-17 18:10] nhejazi opened #254 "biotmle"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nhejazi/biotmle

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-01-18 00:37] nhejazi commented on #254
@bioc-issue-bot @mtmorgan

Based on the build outputs, it appears that the there are two severe problems with the package:

1. `Warning: file 'biomarkertmleOut.rda' has magic number 'versi'` - this appears to be induced by the use of `git-lfs` to store the larger data set (~30MB) for compliance with Bioconductor standards. The package was building fine on Travis-CI prior to this, but `git-lfs` see

[2017-01-18 10:08] mtmorgan commented on #254
I think the issue with 1. is a build system configuration issue, requiring git-lfs to be installed; we ( @lshep ) will address this. But the constraint is on built tarball size rather than repository size, so the fact that the data is in git-lfs is not a solution. How is the data used? If as an 'annotation' resource or 'experiment' (example) data then the data should be separated into an annotatio

[2017-01-18 13:59] julaiti commented on #225
@mtmorgan Dear Martin, I still couldn't find an efficient way to manipulate `mcols `for parallel evaluation (fisher method, filter each peak Interval with a threshold). In my original implementation, I produce a list like object for each GRanges ( using `IntegerList `),  so all things are easier in that way for parallel processing ,  because each input GRanges will yield different output set at th

[2017-01-18 17:28] LiNk-NY commented on #202
Hi @BhaktiDwivedi,
Your issue will be closed if you don't respond within the next 72 hours.
Best regards,
Marcel

[2017-01-18 17:33] BhaktiDwivedi commented on #202
Hi Marcel,

Please do not close the issue. I am working on implementing the changes/additions requested. I am almost there. I will respond and upload the revised package within 72 hours  or by 21st afternoon 12:20 PM? Hope that is alright?

Thank you!

Regards,
Bhakti

From: Marcel Ramos [mailto:notifications@github.com]
Sent: Wednesday, January 18, 2017 12:28 PM
To: Bioconductor/Contributions <Co

[2017-01-18 22:46] nhejazi commented on #254
@mtmorgan @lshep

In regard to the two issues raised about the package:

1. The data sets included with package are indeed experimental data, but they are modified such that they would not be expected to be of use for biological research (i.e., these are examples only, and that is why I felt it would be best to leave them as part of the package rather than packaging them for submission separately)

[2017-01-18 23:04] LiNk-NY commented on #202
Hi @BhaktiDwivedi,
Thank you for responding. I can wait for your revisions.
You can take a bit longer to finish them up, if need be.

Regards,
Marcel

[2017-01-18 23:30] nguyentin commented on #250
Hi,

I made changes to the package and also incremented the version to 0.99.1, how could I request for a new build?

[2017-01-19 00:05] mtmorgan commented on #121
Sorry, one last go at debugging this later this week.

[2017-01-19 00:47] mtmorgan commented on #225
I edited my previous response, correcting several errors (calculating `sampleIdx`; splitting `p.value`). The main point is to split the p.values, not the entire `DataFrame`.

The original GRanges for which the p-values apply are something like

    queryIdx <- with(mcols, {
        lapply(levels(sampleIdx), function(sample) {
            idx <- (querySample == sample) & (querySample != subjectSamp

[2017-01-19 01:21] #244 closed

[2017-01-19 15:03] sbhattacharya3 commented on #233
Hello,

I just saw that I just saw that I have 2 errors on my latest run. those are "Maintainer must subscribe to the bioc-devel mailing list." and "Maintainer must register at the support site."  I have already registered to both the sites last week.

Please let me know what is the procedure to get rid of those 2 errors.

Thanks,
Surajit

[2017-01-19 18:06] LiNk-NY commented on #159
Hi @rkuiper,
Thank you for submitting to Bioconductor.
Your package has been accepted.

Best regards,
Marcel

[2017-01-19 18:17] LiNk-NY commented on #159
**Note:** Future improvements:

Please make sure you include `R (>= 3.4.0)` in the `Depends` field.
If you need to create a replacement method, use `setReplaceMethod` for that and not a generic with an assignment operator.

Please use `goodpractice::gp("geneClassifiers")` for more information on further improvements you can make to your package (see https://github.com/mangothecat/goodpractice).

[2017-01-19 20:07] vobencha commented on #229
Hi,
Thanks for making the changes. A few more comments below. The most important is the amount of data being downloaded and processed (#9).

6. Inconsistent names
The github repo is f1000_TCGA_Workflow, the title in DESCRIPTION is TCGAWorkflow and the title of the vignette is f1000.Rnw. I'd suggest making a more descriptive name for the vigentte, if nothing else have it match the title of the pack

[2017-01-19 20:09] vobencha commented on #183
If you are ready for me to look at the packages again please let me know how comments in https://github.com/Bioconductor/Contributions/issues/183#issuecomment-271335410 have been addressed.
Valerie

[2017-01-19 22:15] nhejazi commented on #254
@mtmorgan @lshep

The outstanding error related to running examples has now been resolved. The remaining warnings appear to be due to a requirement to set the R version to 3.4. Additionally, was there a specific recommendation I missed on how to properly deal with the size of the data (~30MB)?

[2017-01-20 00:49] nguyentin commented on #250
Hi Admins,

I need help here with the following issues:

1/ I do not know how to resolve the warning on Windows platform "Warning: vfs customization not available on this platform. Ignoring value: vfs = unix-none". It looks like this warning is from existing Bioconductor packages, including KEGG.db and PADOG

2/ There are contradictory requirements from "R CMD check" and "R BiocCheck" regarding th

[2017-01-20 10:18] julaiti commented on #225
@mtmorgan Dear Martin, the key point of this package's implementation, weakly enriched peak can be multiple times are confirmed or discarded by co-localized overlapping evidence in multiple samples (to increase the statistical significance of weak evidence, which is important). I amazed of using `mcols` DataFrame to hold all data that I need, but when we are working with fisher method and do anoth

[2017-01-20 15:21] lshep commented on #242
Thank you for your submission. Please see the following comments:

GENERAL:
1. We require the check time to be under five minutes. While we appreciate and encourage thorough unit tests, perhaps you could reevaluate if all are necessary.  Long testing times also could indicate areas of inefficiency and potential to speed up coding. Some examples of coding efficiency can be found [here](http://bioco

[2017-01-20 17:53] rtraborn opened #255 "(inactive) Submission of TSRchitect to _Bioconductor_"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BrendelGroup/TSRchitect

Note: for formal testing, please clone the 'Bioc' branch of our github repository and install using the following commands.

[code]

The above information can be found in the file `INSTALL.md`.

Confirm the following by editing ea

[2017-01-20 17:53] #255 closed

[2017-01-20 17:57] rtraborn opened #256 "TSRchitect"
Dear Bioconductor Team:

We submit our package, TSRchitect, for inclusion in the Bioconductor package repository.

- Repository: https://github.com/BrendelGroup/TSRchitect

Best regards,

Taylor

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general pu

[2017-01-20 18:13] lawremi commented on #256
I would recommend separating the implementation of the TSR methodology from the way the data are managed. The user should be able to load data using standard import tools, integrate the datasets into higher-level objects, and feed them to the algorithms without relying on an API based on side-effects. Particularly troubling is the `initializeExp()` function that assigns into its parent frame.

[2017-01-20 18:56] hpages commented on #250
Hi Tin,

Thanks for your submission.

Please ignore 1/. We're aware of this issue and will fix it. FYI it's a regression introduced recently to the AnnotationDbi package that affects Windows users only.

For 2/ you only need to have the source vignette (i.e. BLMA.Rnw) in the vignettes/ folder. You don't need the inst/doc/ folder in the git tree as it will automatically be created and populated by

[2017-01-20 18:59] hpages commented on #138
Hi Mohammed,

Should I take a look at the latest version of cellbaseR (0.99.28)?

Thanks,
H.

[2017-01-20 19:04] melsiddieg commented on #138
Go ahead. I will push new updates very shortly

On Jan 20, 2017 9:59 PM, "hpages" <notifications@github.com> wrote:

[2017-01-20 19:27] LiNk-NY commented on #181
Hi @kieranrcampbell,
Please repond to these comments, otherwise I'd have to close the issue.
Regards,
Marcel

[2017-01-20 19:45] lshep commented on #253
Thank you for your submission.  A few minor comments:

**sampleClassifierData**
Please fix the warnings that are occurring in the build report.
1.  Remove the files duplicated in inst/doc
2. Compress the data files:
R CMD build --resave-data sampleClassifierData
This will create a tarball that has the data files compressed as small as possible. Untar this file and copy the data files in it over th

[2017-01-20 21:39] nguyentin commented on #250
Thanks, it looks like only the windows issue left. Please let me know how to proceed.

[2017-01-21 01:57] BhaktiDwivedi commented on #202
Hi Marcel,

Thank you! I am still working on the changes, I am trying to finish by tomorrow afternoon, if not it may push to Monday Jan 23rd. Hope its alright. I just want to let you know in advance, so please do not close the issue.

Appreciate your help and support.

Regards,

Bhakti

________________________________
From: Marcel Ramos <notifications@github.com>
Sent: Wednesday, January 18, 2017

[2017-01-21 13:11] mknoll commented on #208
Thanks for the feedback.

1) The CopyNumber450kData package is now removed; datasets for illustions now come from the minfiData and minfiDataEPIC packages.

2) Runnable examples are added for each function.

Best
Max

[2017-01-21 14:41] julaiti commented on #225
@mtmorgan Dear Martin, I did simplify the procedure for finding combined pvalue, and expand them as GRanges, but I got redundant column when I split it as GRanges. Here is my minimal approach to continue your revision :

[code]
but `rslt` introduce redundant name. How can I drop this reduant name and produce desired GRanges ? Any idea to construct standard GRanges object when when split named `GRa

[2017-01-21 14:49] mtmorgan commented on #225
I suggest that you make a 'branch' in your github repository, and implement the 'mcols' approach that we have talked about up to this point in the work flow. Then I can run `example(Fisher_stats)` and, even though it will fail, I will have a real object to work with.

[2017-01-21 16:00] julaiti commented on #225
@mtmorgan Dear Martin, I pushed revised implementation to my github repository (after carefully read about your evaluation), I did what you suggested to me. I create verified minimal example to work with in this revision. To work with real object, I ceate gist: [mini_workflow](https://gist.github.com/julaiti/6e182fd10f56b6ba348abba61472ccd3). How can I get rid of redundant name in GRanges objects?

[2017-01-22 17:08] MonkeyLB opened #257 "hicrep"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-01-23 10:22] wkopp opened #258 "motifcounter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wkopp/motifcounter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-01-23 10:55] khadija-a commented on #253
I changed the package as required.

Thanks,
Khadija

[2017-01-23 11:46] lshep commented on #253
Please ensure the hook was set up and do a version bump of both packages so new builds can be generated.   The hook instructions can be found [here](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook)

[2017-01-23 11:51] lshep commented on #186
@kkdey Just wanted to check in to see how the updates were going.  Did you have any questions? When you have committed changes, please bump the version so a new build will generate and please respond back here with what of the above recommendations were addressed.

[2017-01-23 12:34] kkdey commented on #186
Hi Ishep,

Sure!!

I got caught up with some work in the middle but now am working on it and
also adding a few more updates. I am hoping to be able to submit the
updated version by the end of next week. I apologise for not being very
responsive in that thread and causing delay on this.

Thanks

Kushal

On Jan 23, 2017 5:51 AM, "lshep" <notifications@github.com> wrote:

[2017-01-23 12:42] lshep commented on #186
No apologizes necessary. Just wanted to make sure you weren't waiting on anything from our end and that everything was going smoothly.  It looks like an interesting package and is very close to acceptance.

[2017-01-23 12:47] khadija-a commented on #253
I made the required changes for both packages. I followed the instructions to set up the hook, but I am getting an error that says: 'the last delivery was not successful. Invalid HTTP Response: 400.'.
Could you please help me with that?
Thanks,
Khadija

[2017-01-23 12:52] lshep commented on #253
I'll look into this ERROR in the meantime I will manually force rebuilds of the package.

[2017-01-23 13:36] lshep commented on #253
Thank you for making the changes. To get the WARNING fixed you would have to remove the .Rnw file from the inst/doc as well, since it is in the vignette directory already it is not needed in the inst/doc directory. Please move the NEWS file to the top level of your package directory and delete the inst/doc directory in both packages.  Let me know when this changes occurs and I will kick off new bu

[2017-01-23 15:00] rtraborn commented on #256
Hello @vobencha @bioc-issue-bot:

We have updated our code base to address the issues that triggered the build error(s) above.
Please let me know what we need to do to restart the automatic build process from 1/20.

Thanks,
Taylor

[2017-01-23 16:22] khadija-a commented on #253
I made the required changes for both packages.
Thank you very much for your help!

[2017-01-23 16:27] #181 closed

[2017-01-23 16:28] LiNk-NY commented on #181
Please create another issue if you would like to resubmit.

[2017-01-23 16:30] LiNk-NY commented on #202
Hi Bhakti, @BhaktiDwivedi
Thank you for working on making those changes. Looking forward to them.
Regards,
Marcel

[2017-01-23 16:30] LiNk-NY commented on #207
@Zouter,
Please bump your package's version.
Regards,
Marcel

[2017-01-23 17:44] lshep commented on #253
I will mark your package as accepted. You will receive svn instructions for uploading the packages to Bioconductor (typically about a week). Please keep the issue open.  Thank you for your submission.

[2017-01-23 17:47] vobencha commented on #245
Hi,

I've done a first review of epiNEM. Please see comments / suggestions below.

(1) R CMD check

This NOTE from R CMD check is telling you something is wrong with the dependencies. Packages used only in man page examples and/or the vignette need to be in the Suggests field.
[code]
Please correct the imports.

(2) incomplete man pages for data sets

The man pages for the datasets must describe t

[2017-01-23 17:53] lshep commented on #231
Thank you for your submission. Please see the following comments:

1. We would highly recommend reorganizing your R files, but more importantly
reorganizing the man files, grouping like or related functions together. There
is a documenting syntax that can be used @rdname or @describeIn that will
concatenate documentation files together. This will make it easier for the user
to understand and strea

[2017-01-23 19:35] vobencha commented on #256
Hi,

I've done a first review. There is quite a bit of re-factoring that needs to be done related to #3.

(1) Please format code to >=80 characters wide.

(2) parallel evaluation

Please use either BiocParallel or doParallel. Currently you have a mix of the two. Since you are building on the infrastruture in GenomicAlignments I'd reccomend using BiocParallel.

(3) TSR methods vs data management

P

[2017-01-23 21:11] MonkeyLB opened #259 "hicrep"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MonkeyLB/hicrep

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-01-23 21:33] mtmorgan commented on #259
@hpages will review this package but it is very surprising that it does not use or provide interoperability with any of the Bioconductor infrastructure for working with [genomic ranges](https://bioconductor.org/packages/GenomicRanges) and related infrastructure  infrastructure specifically designed to work with interaction data [HiC biocViews](http://bioconductor.org/packages/3.5/BiocViews.html#__

[2017-01-24 04:20] rtraborn commented on #256
Hello,

Thank you for your helpful review of our package.

Items 1), 2), 4) and 5) are no problem; we'll be able to address these without problem.

To the points you raised in 3), which are closely related to those of @lawremi in part (although we will respond to his comments separately for the sake of clarity), we will share our perspectives:

We recognize the utility of the existing S4 objects (

[2017-01-24 04:24] BhaktiDwivedi commented on #202
Hi Marcel,

Appreciate your patience. Can I please request an extension till Jan 26th Thursday end of the day to finally submit the revised version? I would greatly appreciate your help. Please let me know.

Thank you.

Regards,

Bhakti

________________________________
From: Marcel Ramos <notifications@github.com>
Sent: Monday, January 23, 2017 11:30:28 AM
To: Bioconductor/Contributions
Cc: Dwive

[2017-01-24 06:32] YinanZheng commented on #121
Thanks!

Please let me know if there are any changes in the code I need to work on.

[2017-01-24 09:19] gacatag commented on #217
Dear Valerie ( @vobencha ),
Hi!
In addition to the changes I mentioned in my previous response I also made a small correction to the R/u12Boxplot.R, hence the latest version bump.
Cheers!

[2017-01-24 14:10] vobencha commented on #217
Thanks. I'll have a look at this today.
Valerie

[2017-01-24 14:31] lawremi commented on #256
There's nothing wrong with providing conveniences, as long as it's possible to construct instances of your _tssObject_ class from standard Bioconductor objects, without enforcing, e.g., a particular set of files on the file system.

[2017-01-24 16:37] rtraborn commented on #256
Understood. Would a modification of initializeExp() to permit direct addition of GAlignment objects to a new slot (or a renamed bamData slot) when constructing the tssObject address this? This would give the option of importing the alignment (i.e. .bam) files, but would add the functionality of GAlignment files.

[2017-01-24 17:10] lawremi commented on #256
Yes, that would work. Of course, `initializeExp()` has its own issues.

[2017-01-24 17:26] vobencha commented on #217
(1) parallel

I would recommend using the BiocParallel or doParallel packages instead of Rmpi. These 2 are much more recent packages and have been developed to be cross-platform compatible. Rmpi has some historical system requirements/issues that are best avoided. Additionally, the code attempts to specify exactly what to sent to each worker and mange the details of communication. This approach is

[2017-01-24 18:02] vobencha commented on #256
Yes, you can have multiple vignettes. The idea is that key functions are evaluated at least once in the man pages or vignette so the nightly builds can detect a problem with the function or dependencies early on.

The command R CMD check --no-build-vignettes must complete in <=5 minutes. This runs all vignettes in vignettes/. You need at least one 'live' vignette that is evaluated and completes in

[2017-01-24 21:18] tiagochst commented on #229
@vobencha  Hi,

- [x] 6. I changed all the names to TCGAWorkflow
- [x] 7. The functions are now exported in the NAMESPACE
- [x] 8. The build was taking one hour, I reduced the data downloaded and R CMD build and R CMD check are Ok, I still receive some NOTES. It is running on my machine all the steps in 30 min.
- [x] 9. I agree with you. I decided to add to the package a subset of data necessary t

[2017-01-24 21:22] tiagochst commented on #229
By the way, when I changed the name of the repository the commit are not linked to this issue.
How should I proceed to fix it?
The last version is in the [github repository](https://github.com/BioinformaticsFMRP/TCGAWorkflow)

[2017-01-24 21:22] mtmorgan commented on #213
I'm really sorry for the delay in getting this review to you. The package looks in great shape, and I have only one suggestion

- include the script for generating journals_pVals.Rd as a script,
  inst/script/getPvalues.R instead of referencing a github url.

Please respond and if you change your package include a version bump, and I'll be happy to accept the revision.

[2017-01-24 21:27] mtmorgan commented on #121
Sorry, I have been unable to reproduce the segfault, and am accepting the package. It will be added to our nightly builds and devel repository. More details will be available in the next several days.

[2017-01-24 21:29] YinanZheng commented on #121
Thanks a lot!

[2017-01-24 23:10] #253 closed

[2017-01-24 23:10] #121 closed

[2017-01-24 23:10] #159 closed

[2017-01-25 09:27] julaiti commented on #225
@mtmorgan Dear Martin, Could you please evaluate my revised changes to GitHub? I did also create a minimal workflow (including the reproducible example) to work with [reproducible workflow](https://gist.github.com/julaiti/6e182fd10f56b6ba348abba61472ccd3). I believe your recommendation is efficient, but in this revision, I couldn't achieve my desired result respect to verified software tools [MuSE

[2017-01-25 13:33] MartinFXP commented on #245
Dear Valerie,

thank you very much for your time and input. In the following I address all points you make.

I updated the Suggests field accordingly.

I improved the man pages accordingly.

I fixed those inconsistencies.

I improved the description of the main function and also added a detailed description of the returned object. "plotsy" has been removed.

I updated the descripton of this functi

[2017-01-25 13:49] vobencha commented on #229
I'm cc'ing @mtmorgan to help with this. Martin, how should we proceed when the repo has changed names? Initially I thought we needed to close this issue and open another but I think that may not be the case.
Val

[2017-01-25 14:02] mtmorgan commented on #229
I think the link in the original comment that opened the issue can be edited to point to the new repo.

[2017-01-25 14:33] MartinFXP commented on #245
I have no idea how and why that error on mac exists all of a sudden. I personally tested it on El Capitan and it works.

[2017-01-25 15:00] mtmorgan commented on #225
It's very hard to understand your question and code. From the workflow
you present, I offer the following

    DF <- DataFrame(split(filtByovHit, filtByovHit$query))

Arrgh, there is no variable called `filtByovHit`! You are only
intersted in the p-values, so replace these lines with

    pvlist <- split(filtByOvHit$p.value, filtByOvHit$query)

Next,

    pvList <- as.matrix(DF$p.value)
    pvList

[2017-01-25 16:01] mtmorgan commented on #233
DESCRIPTION, NAMESPACE

- OK

R

- It is not appropriate for software packages to contain large data
  objects. These could be isolated as a separate 'experiment data'
  package
  http://bioconductor.org/developers/package-guidelines/#package-types
  However, the data seems to be an ad-hoc summary of Target-scan and
  other data. These data objects are not sufficiently documented or
  processed in

[2017-01-25 16:14] mtmorgan commented on #225
Looking at `fisherCmbp()`, your can be fully vectorized as follows

    pvlist <- splitAsList(filtByOvHit$p.value, filtByOvHit$query)
    gr <- unlist(inDat)
    gr$comb.pv <- pchisq(-2 * sum(log(pvlist)), df=lengths(pvlist), lower.tail=FALSE)
    relist(gr, inDat)

[2017-01-25 16:57] MartinFXP commented on #245
I have no idea how and why that error on mac exists all of a sudden. I personally tested it on El Capitan and it works.

[2017-01-25 17:22] tiagochst commented on #229
I changed the link, but it didn't work. Should I close and open another issue?

[2017-01-25 17:32] gacatag commented on #217
Dear Valerie ( @vobencha ),
Hi!
Thank you for your insightful comments and hints. I'll try to go through them and implement the changes you suggested. For now I would like to mention the following:

*Regarding _BiocParallel_ or _doParallel_ over _Rmpi_, I will try to use these new packages that are supported by Bioconductor.

*I'll remove the zzz.R file and not define global variables. I added tha

[2017-01-25 18:43] jcrodriguez1989 commented on #242
AdditionalPackage: https://github.com/jcrodriguez1989/MIGSAdata

[2017-01-25 18:47] mtmorgan commented on #229
Does the new repository have the [web hook][] defined? Can you confirm that the web hook fired on version bump -- under 'Settings' on top right of repository page, 'Web hooks', the link should appear, click on 'Edit' and scroll down to top of the hash tags; look for the one fired at the time of the version bump and 'Response' status.

[web hook]: https://github.com/Bioconductor/Contributions#addin

[2017-01-25 19:07] tiagochst commented on #229
<img width="740" alt="screen shot 2017-01-25 at 11 05 42 am" src="https://cloud.githubusercontent.com/assets/145529/22304888/46c0a9f4-e2ee-11e6-9fd2-454e077c9e4a.png">

[2017-01-25 22:26] LiNk-NY commented on #202
Hi @BhaktiDwivedi,
Yes, you can submit tomorrow. Please have all the changes ready.

Best regards,
Marcel

[2017-01-25 23:34] mtmorgan commented on #229
Thanks, this is the first time we've dealt with this; can you press the 'Redeliver' button on the Recent Delivery you show above?

[2017-01-25 23:39] tiagochst commented on #229
@mtmorgan  @vobencha Thanks! It worked

[2017-01-26 09:32] jpromeror opened #260 "EventPointer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jpromeror/EventPointer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-01-26 10:33] idno0001 opened #261 "twoddpcr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CRUKMI-ComputationalBiology/twoddpcr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x]

[2017-01-26 10:51] jpromeror commented on #260
Hi,

The commits regarding to the problems are done. Also I added a second commit with the version bump, now currently waiting for the next build.

Thanks,

Juan Pablo

[2017-01-26 12:17] jpromeror commented on #260
Hello,

Issues are solved. Version Bump (0.99.0 to 0.99.1) added and waiting for new build.

Thanks,

Juan Pablo

[2017-01-26 12:17] lshep commented on #260
Please ensure your webhook is initialized correctly; we did not receive a notification to start a build. For now I kicked off a new build manually

[2017-01-26 12:26] jpromeror commented on #260
Hello,

The webhook is initialized as stated in  https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md

However, in getting a problem with the webhook

Headers
Connection: close
Content-Length: 20
Content-Type: text/html;charset=utf-8
Date: Thu, 26 Jan 2017 12:23:06 GMT
Server: Apache/2.4.18 (Ubuntu)
Status: 400 Bad Request
X-Content-Type-Options: nosniff
X-Frame-Options: SAMEO

[2017-01-26 12:46] lshep commented on #260
When you have made changes, try version bump again and let me know that you have tried to submit again.  If it still doesn't connect can you send me a screen shot of the webhook settings

[2017-01-26 12:59] mtmorgan commented on #260
open 'Settings' 'Webhooks' then edit and make sure the 'Content type' is application/json. Then click on the failing 'Recent Deliveries' and click 'Redirect'.

[2017-01-26 15:33] sbhattacharya3 commented on #233
Thanks a lot for the review comments. I am presently working on the same, and would update the tool as soon as possible.

[2017-01-26 15:35] jpromeror commented on #260
Thanks, mtmorgan.

Yes, I needed to change the Content type to application/json.

I didn't change any of the settings as it is stated in the Contribution guidelines:

5. Paste the following URL into the Payload URL box, leaving the other settings alone:
http://issues.bioconductor.org

Perhaps this type of error should be mentioned to avoid problems with other users.

Now everything is working fine

[2017-01-26 15:53] lshep commented on #260
Please see the following comments:

Building:
 - [ ] To get the package to build it seems like you have sometime used png vs PNG when naming and calling your images.

Checks:
Please fix most NOTES that are occurring, if appropriate,  as we like to have as clean of builds as possible. These include:
 - [ ] Fix no globalbinding for makeGRangesFromDataFram, queryHits, subjectHits
 - [ ] Be careful us

[2017-01-26 16:28] yubocheng opened #262 "(inactive) Organism.dplyr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2017-01-26 16:37] #262 closed

[2017-01-26 16:42] yubocheng opened #263 "Organism.dplyr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/Organism.dplyr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2017-01-26 17:05] hpages commented on #182
Hi Tiago,

Sorry again for the delay. Thanks for your work on the package. I like the new shutdown button.

The output of `sessionInfo()` in the vignette still has some formatting issues.

Also I still get
[code]
These are no showstoppers. I'm accepting the package. You'll be contacted by email in the next days for the follow-up on this.

Thanks for your contribution to the project.

H.

[2017-01-26 17:09] hpages commented on #151
Hi Malcolm,

Just wanted to check with you what the status of the package is. Are you planning to follow-up with your submission?

Thanks,
H.

[2017-01-26 17:10] hpages commented on #145
Hi George,

Just wanted to check with you what the status of the package is. Are you planning to follow-up with your submission?

Thanks,
H.

[2017-01-26 17:12] hpages commented on #25
Hi Arun,

Just wanted to check with you what the status of the package is. Are you planning to follow-up with your submission?

Thanks,
H.

[2017-01-26 17:29] hpages commented on #138
I'll wait for the updates then. Thanks!  H.

[2017-01-26 17:31] hpages commented on #196
Hi Sadiq,

Just wanted to check with you about the status of your submission. Are you planning to follow-up?

Thanks,
H.

[2017-01-26 18:06] smisaleh commented on #196
Sorry, some personal issues prevented me from attending to these comments
earlier. I am in the process of following up at the moment.

Thanks for the follow up.

Sadiq

On Thu, Jan 26, 2017 at 12:31 PM, hpages <notifications@github.com> wrote:

[2017-01-26 18:28] lawremi commented on #263
I'm concerned about how this promotes low-level data access, directly on the schema. Isn't that something that should be abstracted? I like the high-level filtering. That stuff should probably be pushed up to GenomicFeatures or beyond. Any potential for integration with ensembldb?

[2017-01-26 20:46] jcrodriguez1989 commented on #242
_Dear @lshep ,
we really appreciate your work in reviewing our library and providing such comments and suggestions. Thanks to this we were able to improve our library, allowing greater usability to the user._

Thank you for your submission. Please see the following comments:
GENERAL:
We require the check time to be under five minutes. While we appreciate and encourage thorough unit tests, perhaps

[2017-01-26 22:03] BhaktiDwivedi commented on #202
Hi Marcel,

I will be uploading the revised package later tonight, so please bear with me. Thank you for understanding.

Regards,
Bhakti

From: Dwivedi, Bhakti
Sent: Monday, January 23, 2017 11:24 PM
To: Bioconductor/Contributions <Contributions@noreply.github.com>; Bioconductor/Contributions <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions

[2017-01-27 11:14] julaiti commented on #225
@mtmorgan Dear Martin, the original implementation of `filterBycmbStringency` functions was complicated, so I revised the function body based on your recommendation ( In this revision, no need to use that duplicate removal method). But, I tried of using `relist` to unlist `GRangesList`, I got an unexpected error as follow ( detailed workflow can be available [mini_workflow](https://gist.github.com

[2017-01-27 11:58] mgperry commented on #151
Hi Herve! I was definitely planning to resubmit, and I've fixed the major issue with memory use by removing the dependency on spatstat, and reimplementing the functionality with the excellent EBImage. I wasn't sure when you were accepting submissions, but from the activity in the issues feed then I guess now is the time! I will make some changes and then resubmit the issue next week, I think it wo

[2017-01-27 14:29] mtmorgan commented on #225
delay the subset until after relisting

    gr <- relist(grs, peakset)[relist(Keep, peakset)]

[2017-01-27 15:01] julaiti commented on #225
@mtmorgan Dear Martin, How can I simplify `discHit ` and expand it as `GRangesList` ? In this [revision](https://gist.github.com/julaiti/9c63aff0810198b0d94afa4483a75013), I tried to expand it as GRangesList and merged with `fishDiscard `, but the earlier doesn't have `comb.pv` column. To merge two GRangesList which has different metadata column, How to make this happen? Thank you

[2017-01-27 16:17] SiminaB commented on #213
Thank you so much @mtmorgan ! I just made the change you suggested.

[2017-01-27 16:26] belleau opened #264 "methInheritSim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/belleau/methInheritSim

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2017-01-27 16:32] adeschen opened #265 "methylInheritance"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/adeschen/methylInheritance

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have rea

[2017-01-27 16:50] yubocheng commented on #263
This package doesn’t do much about low-level data access. It combined ‘OrgDb’ and ‘TxDb’ into one database, so user could use dplyr to query through information at one place. In schema folder, there is one SQL file for each organism/OrgDb to create new database, if there is any change of OrgDb data structure, the corresponding SQL file needs to be changed as well. There is no plan to for integrati

[2017-01-27 16:57] lawremi commented on #263
I'm just saying that the user code is depending on the schema, without any abstraction. Integration with ensembldb would be a good idea.

[2017-01-27 18:30] mtmorgan commented on #225
I cannot afford the time to continue helping you with this, and will not accept your package into Bioconductor with code written as it currently is.

I suggest that we close the issue, so that you may find other resources to help you implement an efficient solution to your problem.

[2017-01-27 23:32] julaiti commented on #225
@mtmorgan Dear Martin, I am thankful for your helping on this revision. I got an idea how to improve the efficiency of above problem. Can we open this issue until I need to rebuild my package without any error or warning? I make sure I must fulfill all the of the requirement on the review. Thank you

Best regards:
Jurat

[2017-01-28 01:57] mtmorgan commented on #225
Yes the issue remains open.

[2017-01-28 13:48] mtmorgan commented on #213
Great, I've marked your package as accepted. It will be added to the Bioconductor SVN repository and additional information forwarded over the next couple of days.

[2017-01-28 13:54] #182 closed

[2017-01-28 13:54] #213 closed

[2017-01-28 23:53] tiagochst commented on #182
@hpages Thank you very much for doing the review.

[2017-01-29 11:19] arunsrinivasan commented on #25
@hpages I do not work for the company anymore. I've forwarded your message.

[2017-01-29 22:28] BenjaminAdelaide commented on #203
Hi @hpages

Do the current changes meet your requirements?

Thanks

[2017-01-30 05:51] nguyentin commented on #250
Hi, just want to make sure that things are ok. It looks like only 1 warning left, which I was told to ignore. Is there anything I can do at the moment to get the package approved? Many thanks, Tin.

[2017-01-30 08:05] kkdey commented on #186
Hi Lori,

I have addressed your suggestions and comments.

General:

1.  I have fixed warnings under 'R CMD Check'. It now shows 1 Note which is because I am using Travis CI to track my package build and 'R CMD Check' does not like the .travis.yml file in the folder. May I keep the .travis.yml file in the folder ? I find it useful !! Also the 'BiocCheck' gives me a warning message "y of x.y.z vers

[2017-01-30 10:13] jpromeror commented on #260
Building:

- [x] To get the package to build it seems like you have sometime used png vs PNG when naming and calling your images.
Checks:

Please fix most NOTES that are occurring, if appropriate, as we like to have as clean of builds as possible. These include:

- [x] Fix no globalbinding for makeGRangesFromDataFram, queryHits, subjectHits
- [ ] Be careful using :::
 - [ ]Add Unit Tests.
 - [ ] c

[2017-01-30 13:52] lshep commented on #186
Thank you for your changes.  I think it makes it much easier to use and has madeyour code more efficient.  Last few minor notes and once these are addressed I believe we will be able to accept your package.

travis.yml - If you would like to keep for your own use just please make sure when you upload to bioconductor you do not include this file.

vignettes:   It appears there is only one figure th

[2017-01-30 16:34] lshep commented on #260
Thank you for your current updates.  A few more concerns that should be addressed:

**VIGNETTES:**

write to a tempdir()  not package directory

Statistical Analysis/aroma.affymetrix pre-processing pipeline
This section does not work fix and show code that would be actually run-able. If something is loaded through another package show the load and use of that other package:
[code]
R code/vignettes

[2017-01-30 17:54] DragonDuck opened #266 "(inactive) MaxContrastProjection"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DragonDuck/MaxContrastProjection

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I ha

[2017-01-30 21:29] kauralasoo opened #267 "wiggleplotr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kauralasoo/wiggleplotr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-01-30 23:06] izhbannikov commented on #212
Dear Marcel, @LiNk-NY ,

Thank you for your review.
I made changes following your comments. Please see below:

## Grammar

- Use default values in the arguments (e.g., in the constructor)</span>
@izhbannikov: Done; now using default values of arguments.

- Not sure why you need to create an object in baseenv from rQTtest.prepare.
It doesn't look like a good idea to me. Perhaps @mtmorgan has some a

[2017-01-31 00:36] tiagochst commented on #182
@hpages About the warning problem, I was able to reproduce it. But the warning comes from a Shiny package [issue.](https://groups.google.com/forum/#!topic/shiny-discuss/2kVPa8jDooI)

[2017-01-31 05:06] kkdey commented on #186
Hi Ishep,

I have removed the "figures" folder and running that chunk now. Also removed .travis.yml. R CMD Check is not showing me any NOTE or WARNING. Also updated the R dependency from 3.3 to 3.4.

Thanks for all the great suggestions. Let me know if things look alright.

Best

Kushal

[2017-01-31 11:31] jpromeror commented on #260
Hi Lori @lshep,

Just one question.

In the part of Statistical Analysis/aroma.affymetrix pre-processing pipeline, the code that is shown in the vignette is actually a simple guide, to show users how we set the parameters to run aroma.affymetrix.

This package requires a particular folder structure and files. In order to create a runable example, I would need to include those files and folders, bu

[2017-01-31 12:05] lshep commented on #260
Yes that would be fine.  It was just unclear of how you could actually run it.

[2017-01-31 12:46] lshep commented on #186
All set.  Again please leave the issue open and you should receive svn instructions within the next week.  Thank you!

[2017-01-31 14:09] lshep commented on #267
Thank you for your interest in Bioconductor. Please see the following comments:

**build report warnings:**
- [ ] change R version to 3.4 in description
- [ ] add a news file to keep track of large changes/announcements

**vignette:**
- [ ] add installation and loading of package
[code]
- [ ] Visualizing RNA-seq read coverage: Can you fix the formatting of code it is hard to read and when I tried

[2017-01-31 14:10] lawremi commented on #267
Would be nice if this supported TxDb objects directly (along with a gene selection) instead of requiring the user to extract the exons and cds's and pass the annotations separately. Also, it's probably worth accepting a SummarizedExperiment, since that can contain everything, with the CDSs as a meta column.

[2017-01-31 14:13] lshep commented on #267
Yes those are excellent points and should be addressed as well @kauralasoo .  It would greatly increase the use-ability aspect of your package for many Bioconductor users.

[2017-01-31 14:16] lawremi commented on #263
While it's nice to provide low-level access, one could also imagine dplyr workflows operating on a single table view of the database. The view would have one row per transcript, with all of its information (coords, id, gene id, cds start/end, etc).

[2017-01-31 21:26] vobencha commented on #245
While you're working on tidying up the vignette remember the built tarball must be <=4MB:
http://www.bioconductor.org/developers/package-guidelines/#correctness

[2017-01-31 21:35] vobencha commented on #229
Hi,
Responding to comments in https://github.com/Bioconductor/Contributions/issues/229#issuecomment-274941697. Thanks for addressing many of the issues.

#8. 30 minutes is a reasonable amount of time for the workflow to run.
#9. I understand results are more meaningful when more data are downloaded, however, 500 MB is too much. It would be ok to show the full download in the vignette but not evalu

[2017-01-31 21:50] vobencha commented on #217
Hi,
Responding to comments in https://github.com/Bioconductor/Contributions/issues/217#issuecomment-275175414.

I do not think either option I or II you describe are good approaches. Once you modify the code to use BiocParallel or doParallel you won't need to manage jobs at the node/worker level. I strongly advise against doing that - it is error prone and likely not platform independent. This is

[2017-01-31 22:12] tiagochst commented on #229
OK! I'll create the experimental data package. Just to know, I'll need to create another issue? How do I link the issue with this one?

[2017-01-31 23:16] MonkeyLB opened #268 "(inactive) hicrep"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MonkeyLB/hicrep

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read the _Bioc

[2017-01-31 23:16] #268 closed

[2017-01-31 23:24] MonkeyLB commented on #259
I follow the instruction to set the webhook, but it seems not working. I get "Invalid HTTP Response: 400" warning.

I have done a lot changes and modification to my package. Please help me to push them to your end for review. Thanks!

[2017-02-01 00:14] tiagochst commented on #229
I just [found](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#submitting-related-packages) . Sorry

[2017-02-01 02:05] mtmorgan commented on #259
Look at https://github.com/Bioconductor/Contributions/#additional-actions and see if the 'Response' reads 'Failed to parse JSON'.

[2017-02-01 02:12] tiagochst commented on #229
AdditionalPackage: https://github.com/BioinformaticsFMRP/TCGAWorkflowExampleData

[2017-02-01 02:59] MonkeyLB commented on #259
@mtmorgan I followed instruction, but still not working.
Here is the response I got:
Connection: close
Content-Length: 57
Content-Type: text/html;charset=utf-8
Date: Wed, 01 Feb 2017 02:56:24 GMT
Server: Apache/2.4.18 (Ubuntu)
Status: 400 Bad Request
X-Content-Type-Options: nosniff
X-Frame-Options: SAMEORIGIN
X-Powered-By: Phusion Passenger 5.0.30
X-XSS-Protection: 1; mode=block

[2017-02-01 06:11] mtmorgan commented on #259
What is the content (both 'Headers' and 'Payload') of the request?

[2017-02-01 13:48] lshep commented on #242
Thank you for your revisions. I believe the ones you have made definitely have improved readability and we appreciate the efforts.  Some additional comments:

**A general comment:**
I realize you added don't runs and limited your amount of testing to avoid the TIMEOUT constraint.  One of the benefits of having the package on Bioconductor is that it will be built and checked daily, running examples

[2017-02-01 16:10] MonkeyLB commented on #259
Header:
Request URL: http://issues.bioconductor.org/
Request method: POST
content-type: application/json
Expect:
User-Agent: GitHub-Hookshot/baf7d6b
X-GitHub-Delivery: 8b8d7780-e80a-11e6-8d2e-0cccfb4ddf9e
X-GitHub-Event: ping

Payload:
{
  "zen": "Favor focus over features.",
  "hook_id": 11846802,
  "hook": {
    "type": "Repository",
    "id": 11846802,
    "name": "web",
    "active": true,

[2017-02-01 18:51] vobencha commented on #229
Review of data package:
- Change name to TCGAWorkflowData
- In the Description field of the DESCRIPTION file please say what kind of data these are, e.g., 9 data sets of expression data for cancer XYZ for 100 samples from https://download/site etc.
- Remove 'Date' field from DESCRIPTION; this will be auto generated when the package is built with R CMD build
- The man pages can be separate or all o

[2017-02-01 18:57] vobencha commented on #229
You've done a great job with the vignette in the data package. You could reference users to that on the man page(s) with browseVignettes("TCGAWorkflowData"). The man pages still need a mention of what I outlined above but the bulk of the detail re: creating the datasets can be in the vignette.

[2017-02-01 19:33] tiagochst commented on #229
AdditionalPackage: https://github.com/BioinformaticsFMRP/TCGAWorkflowData

[2017-02-01 20:01] kkdey commented on #186
thanks  a lot  !!

[2017-02-01 20:15] ipw012 commented on #239
Hi @LiNk-NY,
I just updated my R package in several points:
1. `ExpressionSet` was incorporated as an input object of functions in my package.
2. Evaluation approach was changed so that related functions were revised accordingly.
3. A package version was changed from 0.99.0 to 0.99.1.

Could you please take a look at my package and see if it fits Bioconductor requirements?
I also have one question

[2017-02-01 20:37] jcrodriguez1989 commented on #242
_Dear Lori,
we really appreciate your revisions and comments, your experience and knowledge increases value to our library._

**Thank you for your revisions. I believe the ones you have made definitely have improved readability and we appreciate the efforts. Some additional comments:
A general comment:
I realize you added don't runs and limited your amount of testing to avoid the TIMEOUT constrain

[2017-02-02 02:19] wangj26 opened #269 "(inactive) WebGestalt"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wangj26/WebGestalt

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _B

[2017-02-02 05:56] LiNk-NY commented on #239
Hi @ipw012,
Thanks for making that change. I will look at your package in the coming days.
"Updating your R version dependency" entails changing the `Depends` field to `R (>= 3.3.2)` in the `DESCRIPTION`. Ideally, you would have `R (>= 3.4.0)` since the Bioconductor 3.5 (devel) works R devel.
Regards,
Marcel

[2017-02-02 05:57] LiNk-NY commented on #202
Hi @BhaktiDwivedi,
Please provide an update on the status of your package.
Much appreciated.
Thank you.
- Marcel

[2017-02-02 12:56] BioSok commented on #183
Dear @vobencha , here are the cahgnes I made per point made:
Data Package:
1. Used --resave-data to compress the two data files
2. biocViews updated properly
3. Mentioned lines removed
4. Data files were summarized to one (SummarizedGEO.Rdata) using SummarizedExperiment
5. Single man page created with updated info
6. Incosistencies fixed by removing excessive metadata
Software Package:
1. Removed

[2017-02-02 13:58] jpromeror commented on #260
Lori @lshep

Im almost done with the issues. I noticed that the bot added the Version Bump Required tag, is there a "time-limit" between version bumps? This just to know if I should speed up in the problems regarding with the efficient code.

Thanks.

Juan Pablo

[2017-02-02 14:15] lshep commented on #260
There is no time limit in between version bumps.  We add this tag to let you know when you are doing pushes without a version bump it will not be built on our system.  The system only builds with a version bump.

[2017-02-02 14:48] hershbc commented on #260
@jpromeror
I'm very excited to use your EventPointer.  I have successfully created the ExFit file.  I have also successfully run EventPointer with your sample sets.  I am really struggling to make the EventsFound.txt.  I am fairly new to R, so what I have done is download the CDFfromGTF.R file and run it to add the function to my global environment.  I then added every package listed under @import

[2017-02-02 15:06] hershbc commented on #260
Would it be possible to just make the complete EventsFound.txt needed for the EventPointer available?  For everyone using HTA2.0 microarrays, the file will be the same, right?

[2017-02-02 15:16] mknoll opened #270 "imageanalysisBrain"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mknoll/imageanalysisBrain

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-02-02 15:39] hershbc commented on #260
Hi @jpromeror
I've been working with your EventPointer this week, I'm very excited to be able to use it.  I hope to have the visualization files in IGV for a presentation on Tuesday.  However, I've had some trouble the last few days installing EventPointer. I have what I believe is the old version of EventPointer, because it allows me to install library(EventPointer) but there is no function for C

[2017-02-02 15:48] lshep commented on #260
@hershbc EventPointer is in the review process for submission to Bioconductor and has not been accepted yet.  https://github.com/Bioconductor/Contributions/issues  is a place for submitting new package to Bioconductor.  Any issues or trouble you are having with a package should be submitted as an issue on the package repository https://github.com/jpromeror/EventPointer.
Once it is accepted it will

[2017-02-02 17:05] julaiti commented on #225
@mtmorgan Dear Martin, I have performance issue when compiling package's vignette Rmd file, in particular, this code chunk takes more than 5 minutes to compile:

[code]
I assume this issue most probably raised by `relist(grs, peakset)[relist(Keep, peakset)]`. I want to make revised implementation even more succinct, with clean output, and informative user guide. Yes, I looked into `stackoverflow`,

[2017-02-03 00:26] kauralasoo commented on #267
Dear Lori and Lawrence,

Thank you for the useful feedback. I've pushed the changes to the git repository, but there seems to be some delay in the package being rebuilt. In particular, I have made the following changes to address your comments:

**build report warnings:**

- [x]  change R version to 3.4 in description
- [x]  add a news file to keep track of large changes/announcements

**vignette:

[2017-02-03 03:06] wangj26 commented on #269
I have uploaded the new version. When can Bioconductor run the new version again?

[2017-02-03 05:25] BhaktiDwivedi commented on #202
Hi Marcel,

I have uploaded the revised package on GitHub; however I see a tag stating "version bump required". I did try 0.99.8 and then 0.99.9 but didn't make any change. Please let me know how I can fix this?

Also please see attached by responses to the changes requested.

I hope I have answered all your concerns and changes; however please let me know if there is anything else remaining.

Tha

[2017-02-03 10:19] jpromeror commented on #260
@hershbc

Just as Lori explained, the R package is still in review before being available in bioconductor.
I will try to speed up the process, perhaps you could show the examples from the vignette at your meeting.

[2017-02-03 12:55] hershbc commented on #260
Thank you both for the quick replies, this was my first attempt at using anything on GitHub, guess it was just unlucky chance that the first tool I picked was being actively updated.   I have a lot to learn.  I especially appreciate the links to where I can post for help.  I look forward to using this tool in the future!

[2017-02-03 14:20] mtmorgan commented on #269
Trigger a new build by incrementing the version to 0.99.1

[2017-02-03 15:46] mtmorgan commented on #254
- The NMF package seems to have been broken by the current version of
  grid -- processing the vignette leads to

        +                 top = 25)
        Error in get(name, envir = asNamespace(pkg), inherits = FALSE) :
          object 'L_currentViewport' not found
        In addition: Warning message:
        In (function (display = "", width, height, pointsize, gamma, bg,  :
          X cann

[2017-02-03 16:02] julaiti commented on #225
@mtmorgan Dear Martin, Is that possible to hear your further opinion on this revision? Could you alarm me the further possible changes on the current version? In this implementation, package vignette compilation is kind of heavy, couldn't figure out why. To reproduce the problem of vignette compilation bottleneck, I created simple Rmd file  [mini_user_guide](https://github.com/julaiti/MSPC/blob/ma

[2017-02-03 17:02] MonkeyLB commented on #259
@mtmorgan Hi, do you see the problem from the above messege content?

[2017-02-03 17:52] LiNk-NY commented on #202
Hi @BhaktiDwivedi,
Thank you for making those changes.
As @mtmorgan mentioned before, you should really make use of the classes
in `GSEABase` to represent gene sets.

After a quick look at your package, there are still some points to be addressed.

---

#### Data
* Please document your datasets appropriately (see: http://r-pkgs.had.co.nz/data.html)
* Combine your data documentation roxygen snippet

[2017-02-03 18:21] BhaktiDwivedi commented on #202
Hi @Marcel,

Thank you for the prompt review.

I will make the changes as per the below outlined points. I will also try to incorporate GSEABase to the existing function.

What’s the time-line to submit revised version with the changes? Please let me know.

Thank you.

Regards,
Bhakti

From: Marcel Ramos [mailto:notifications@github.com]
Sent: Friday, February 03, 2017 12:52 PM
To: Bioconductor/Co

[2017-02-03 18:32] marcel commented on #202
FYI typing @Marcel subscribes the username @marcel on github to the entire thread.

[2017-02-03 20:51] mtmorgan commented on #259
I can't see a problem. Please try to remove the web hook and re-apply it. Then commit a version bump to your package. Please report the Header: and Payload: of BOTH the request and response.

[2017-02-03 21:20] vobencha commented on #256
Hi @rtraborn ,
We're swapping reviewers and @lawremi will be completing this review. Please let him know when you've addressed the issues above and you're ready for him to take another look.
Thanks.
Valerie

[2017-02-03 21:58] LiNk-NY commented on #207
Hi @Zouter,
Thanks for making changes to your package.
Have you considered using `SummarizedExperiment` for representing expression values?
I don't see why you wouldn't use it.

Regards,
Marcel

[2017-02-03 22:34] mtmorgan commented on #263
@lawremi At first we used a  SQL VIEW onto the original TxDb and org schemas, and the abstraction was at the level of the VIEW; this is as flexible as a traditional software abstraction, with tweaks to the VIEW accommodating changes in interface or implementation. The pure VIEW approach turned out not to be performant, especially for the between-database joins that are required to combine TxDb and

[2017-02-03 23:26] mtmorgan commented on #225
I cannot help until the version of your package in your github repository can be built (including the vignette) and installed.

[2017-02-03 23:27] lawremi commented on #263
It seems like people are able to understand single, denormalized tables easier than multi-table schema. As a first shot, you could use the GFF3 model.  I think one could convert that into many useful forms using basic dplyr verbs. Basically, GFF3 is a tidy TxDb.

[2017-02-03 23:33] mtmorgan commented on #225
I cannot run your vignette code

[code]

[2017-02-03 23:37] LiNk-NY commented on #212
Hi @izhbannikov,
Thanks for making those changes.

* Can you explain why you need `rqt-internal.R`?
* Please use `setReplaceMethod` instead of `results<-`. It's semantically more meaningful.
* Do you need both a `show` and a `print` method? It seems to me like just creating a `show` method would suffice.
* What I meant when I told you to use switch would be only for the functions and not the entir

[2017-02-03 23:39] #186 closed

[2017-02-04 11:35] lawremi commented on #267
Then maybe an OrgDb object, which contains the gene symbols.

I think that's still easy to do.

Could be done via Suggests as long as you don't rely on dispatch, just simple reflection.

The coverage could be stored in a matrix, and it could be stored on disk, transparently, using DelayedArray. Right now, I think the only format is HDF5, but support for BigWig is a real possibility.

[2017-02-04 14:16] jotsetung opened #271 "AHEnsDbs (AnnotationHub resource)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jotsetung/AHEnsDbs

- Note: this package provides metadata to include `EnsDb` SQLite files (for the `ensembldb` package) to `AnnotationHub`. If possible, I would request Valerie Obenchain as reviewer for the package. Thanks.

Confirm the following by edit

[2017-02-04 16:21] jotsetung commented on #271
Should a package provide metadata for `AnnotationHub` also contain vignettes? If yes, what content is it expected to have?

[2017-02-04 17:18] jotsetung commented on #271
Added a vignette describing the creation of the `EnsDbs` (https://github.com/jotsetung/AHEnsDbs/commit/545afa207a3a6b096135accb6f2bc0e8cebc1a02)

[2017-02-04 18:21] jotsetung commented on #271
Unfortunately I have to disable the code chunks in the vignette (`eval = FALSE`) as they would require an installer Ensembl Perl API on the build machines and a running MySQL server (with the user having write access to it).

[2017-02-04 21:31] mtmorgan commented on #261
This seems to be a very well thought-out package using many advanced
programming concepts; congratulations.

DESCRIPTION

- it looks like there should be one or more new biocViews term added
  to appropriately characterize this package. Please respond by
  suggesting where in the hierarchy
  (http://bioconductor.org/packages/devel) these terms should be
  added, and incorporate them in your DESCRI

[2017-02-04 22:25] mtmorgan commented on #270
My concerns with the package are that the code may be highly
inefficient, the package may not leverage existing _Bioconductor_
infrastructure, and the documentation is not sufficient to help a user
to benefit from the effort the developer has extended. I try to
indicate where these concerns come from in the following comments.

DESCRIPTION

- The Description: field should be a paragraph-length 'ab

[2017-02-04 23:34] julaiti commented on #225
@mtmorgan Dear Martin, I fixed the vignette's error and pushed all recent changes to my Github repository (including bump the version). Note that all vignette code, documentation is not ready yet (I am working on the unit test, revised documentation, code optimization etc.). Is that possible to hear your shrewd judgment and further opinion on current revision? I did simplify the `export_ERs`, `get

[2017-02-05 07:24] jotsetung commented on #263
Regarding integration of `ensembldb`, let me know if I can give a hand there.

[2017-02-05 07:34] jotsetung commented on #263
The `Filter` classes look also pretty much like the `ensembldb` filters - wouldn't it be better to import them from `ensembldb` instead of implementing them - also regarding potential clashes when `ensembldb` is loaded?

[2017-02-05 09:41] jotsetung commented on #263
@lawremi I agree that less tables would be easier for users (especially to start with). And what about having a table for *genes*, *transcripts* and *exons* (eventually proteins etc) each of them also providing their genomic coordinates? This would already reduce the number of tables (no *ranges* tables). I wouldn't put all data into a single table since that would have an impact on performance (e

[2017-02-05 13:33] mtmorgan commented on #263
I started issues on the Organism.dplyr package for 'appropriate tables exposed to the user' and 'filters', so the discussion is more hierarchical. We should carry on the discussion there.

[2017-02-05 18:13] julaiti commented on #225
@mtmorgan Dear Martin, I fixed the vignette's error and pushed all recent changes to my Github repository (rebuild and install the package). Note that all vignette code, documentation is not ready yet (I am working on the unit test, revised documentation, code optimization etc.).

Is that possible to hear your shrewd judgment and further opinion on current revision? I did simplify the `export_ERs`

[2017-02-05 19:52] MonkeyLB commented on #259
@mtmorgan I did what you suggested.

Request:

header:
Request URL: http://issues.bioconductor.org
Request method: POST
content-type: application/json
Expect:
User-Agent: GitHub-Hookshot/786bab5
X-GitHub-Delivery: 163fef00-ebdc-11e6-8c79-a9bb58053dc6
X-GitHub-Event: ping

Payload:
{
  "zen": "Encourage flow.",
  "hook_id": 11929425,
  "hook": {
    "type": "Repository",
    "id": 11929425,
    "na

[2017-02-05 19:54] mtmorgan commented on #259
How are you bumping the version number? You should have a local repository, edit the DESCRIPTION file, commit to your local git, then push to github.

[2017-02-05 20:00] MonkeyLB commented on #259
I think it pushes through successfully now.

[2017-02-05 20:00] mtmorgan commented on #259
It looks you've figured out the problem. Any guess as to what it was, so that we can help others more quickly?

[2017-02-05 20:34] MonkeyLB commented on #259
@mtmorgan changes on the master brunch will not trigger the push. That was what happened to me.

[2017-02-05 20:36] mtmorgan commented on #259
Do you mean _only_ changes on the master branch will trigger a build? Because the last build was triggered by a commit (https://github.com/MonkeyLB/hicrep/commit/1ac1219a6051c4827dedd4ce458ddb6e7ab43dab) on master...

[2017-02-05 22:10] MonkeyLB commented on #259
@mtmorgan  I mean, the changes on master branch will NOT trigger push. I did the changes on master branch initially, but they were not pushed through. Then I did version bump on a side branch, and it works.

[2017-02-06 03:49] julaiti commented on #225
@mtmorgan Dear Martin, I fixed the vignette's error and pushed all recent changes to my Github repository (rebuild and install the package). Note that all vignette code, documentation is not ready yet (I am working on the unit test, revised documentation, code optimization etc.).

Is that possible to hear your shrewd judgment and further opinion on current revision? I did simplify the `export_ERs`

[2017-02-06 10:35] julaiti commented on #225
@mtmorgan Dear Martin, could you please further evaluate my updated revision?  I did simplify the `export_ERs`, `getPlot`, `FDR_stats`, `filterBycmbStringency` from original implementation, but these changes messed up the vignette output, and vignette compilation is kind of heavy, Couldn't figure out why.  Is there any better way for relisting `GRangesList` instead of using `gr <- relist(grs, peak

[2017-02-06 11:10] jpromeror commented on #260
Hi Lori @lshep ,

It seems that the build in bioconductor fails, there is an error:

Quitting from lines 302-318 (EventPointer.Rmd)
Error: processing vignette 'EventPointer.Rmd' failed with diagnostics:
assignment of an object of class "NULL" is not valid for slot 'NAMES' in an object of class "SGFeatureCounts"; is(value, "characterORNULL") is not TRUE
Execution halted

However, Im not able to rep

[2017-02-06 12:49] lshep commented on #260
Are you using the devel versions of all packages when testing?  `sessionInfo()` will tell you what versions of packages you are using.  When I clone your repository and test locally, I also get the ERROR that is occurring on our build systems.  I will try to investigate a little further but the code that is having issues:
[code]
When I run:
[code]

[2017-02-06 13:03] jpromeror commented on #260
Tank You!

Yes, the problem was that one of the packages wasn't using the latest devel version.

Now Im able to get the error. Will Fix it ASAP.

[2017-02-06 13:22] mtmorgan commented on #225
Again, my role here is to review your finished package rather than to debug your code. You are using utils::relist, but should be using IRanges::relist. `relist(grs, peakset)[relist(Keep, peakset)]` is very fast.

[code]

[2017-02-06 14:16] jpromeror commented on #260
@lshep

I've checked the error and it seems that is caused by the SGSeq R package.

One of the functions in it (getSGFeatureCounts) causes the error, even when running the example provided in the man files. Its exactly the same error that appears when using EventPointer.

path <- system.file("extdata", package = "SGSeq")
si$file_bam <- file.path(path, "bams", si$file_bam)
sgfc <- getSGFeatureCount

[2017-02-06 17:39] vobencha commented on #183
Hi,
Thanks for making the changes. A few more comments -

### data package
- add external_data_store.txt with the single line 'data' in it (same level as data/ and man/ directories in package structure). See source code for one of the experimental data packages here for an example:
http://www.bioconductor.org/packages/release/BiocViews.html#___ExperimentData
- remove the CheckVignettes: false line

[2017-02-06 19:48] tiagochst commented on #229
Hi @vobencha, just one question. The workflows accepts any type of Rmd?
I was thinking to update it to use DT package to shows some tables.
Like here: [http://bioinformaticsfmrp.github.io/TCGAbiolinks/query.html](http://bioinformaticsfmrp.github.io/TCGAbiolinks/query.html)

[2017-02-07 14:34] lshep commented on #260
I would suggest putting that section in dontrun{} for now so that the builder can actually check your package, and reach out to the SGSeq package maintainer as well as post on the devel mailing list.

[2017-02-07 16:58] mtmorgan commented on #269
## Good!

- R CMD build works fine.
- R CMD install works fine.
- R-dev CMD Stangle WebGestalt.Rnw

        source('WebGestalt.R', echo=TRUE, max=Inf) # Runs fine

## General

- As I understand it, the source code for GSEA.jar is not
  available. It is not consistent with the open-source nature of _R_
  and _Bioconductor_ to interface with closed source tools. For this
  reason, I do not think use

[2017-02-07 16:58] gacatag commented on #217
Dear Valerie ( @vobencha  ),
Hi!
Thank you for your insightful comments and hints.
I have addressed all of them in the newest version _IntEREst 0.99.16_.

The package now uses  `bpiterate` (togetehr with `SerialParam` and `MulticoreParam`) from the _BiocParallel_ package.

The global variables are removed.

A new small bam file is added to /inst/extdata that is used in the examples in manuals (man

[2017-02-07 17:20] wangj26 commented on #269
Hi mtmorgan,

Thank you for your review!

For the GSEA question, because GSEA only provides jar file that can integrate to other workflow, if we want to include this most famous enrichment analysis tool into our R package, do you mean we can not publish our package in the Bioconductor?

Thanks

[2017-02-07 18:23] LiNk-NY commented on #202
Hi @BhaktiDwivedi,
Please submit as soon as you can make the changes.
Best regards,
Marcel

[2017-02-07 18:28] wangj26 commented on #269
Hi mtmorgan,

Thank you for your kindly review!

For the GSEA comment, whether can we add some description in somewhere to show how to look at the java source code from jar file like http://stackoverflow.com/questions/11271138/how-to-view-the-source-code-inside-a-jar-file?

I just went through the bioconductor to see whether we can use some R version GSEA. But, I found that although some packages

[2017-02-07 18:56] jcrodriguez1989 commented on #242
@lshep
Here I add the MIGSA's diagram class (only exported classes/functions are shown). I think this will easily summarize all classes functions and settings.
I should add this to the vignette.
![migsapublic](https://cloud.githubusercontent.com/assets/18466307/22706388/cd33112a-ed4d-11e6-8ad6-b5aca4eee143.jpeg)

[2017-02-07 19:03] lshep commented on #242
Thank you. That will be helpful.  I will look at the package again in the next few days but I do think it would be nice to see this in the vignette.

[2017-02-07 20:15] mtmorgan commented on #269
We will not wrap a closed-source tool in Bioconductor, so you must find another solution.

[2017-02-07 20:39] wangj26 commented on #269
Thank you for all your kindly comments!

Because we want to keep the correct things, we will submit it to CRAN.

Thanks again!

[2017-02-07 20:40] #269 closed

[2017-02-07 21:29] Quarkins commented on #247
Hi there,
I just wanted to check how the review is going and if there is anything to do to help it along, but i do not know how long the review process takes, but it has now been 20 days since the package was built without errors.
Cheers,
Anthony

[2017-02-07 22:23] #266 closed

[2017-02-08 13:05] gacatag commented on #217
Dear Valerie ( @vobencha ),
Hi!
In the newest version bump IntEREst 0.99.17 I added an isPaired parameter that by setting it as FALSE the analysis would be adaptable to single read (not paired!) sequencing .bam files. It would read and analyze the single/unpaired read .bam file correctly.

[2017-02-08 13:13] gacatag commented on #217
Dear Valerie ( @vobencha ),
Hi again!
In the newest version bump IntEREst 0.99.17 I added an isPaired parameter that by setting it as FALSE the analysis would be adaptable to single read (not paired!) sequencing .bam files. It would read and analyze the single/unpaired read .bam file correctly.

Cheers!

[2017-02-08 16:43] rtraborn commented on #256
Hi @vobencha :
Thanks for letting me know, and for all of your help up to this point.
During the past two weeks we've made a number of updates on our devel branch to address the concerns that you and @lawremi raised, and have one small change left to make before we are ready for another review.
I'll let you know when this is ready.
Thanks again,
Taylor

[2017-02-08 20:47] izhbannikov commented on #212
Hi Marcel, @LiNk-NY,
Thanks for reviewing my package.

I made some changes according to your comments and released a new version. Please see my comments below.

- Can you explain why you need rqt-internal.R?
@izhbannikov: rqt-internal.R removed now. I just forgot to delete it. Thanks for pointing on this.

- Please use setReplaceMethod instead of results<-. It's semantically more meaningful.
@izhb

[2017-02-09 11:06] BioinfoMonzino opened #272 "DaMiRseq package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BioinfoMonzino/DaMiRseq

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2017-02-09 12:24] jpromeror commented on #260
I've already contacted the package maintainer. He posted the problem on the deal mailing list and the issue is already under consideration.

[2017-02-09 14:04] mtmorgan commented on #272
@LiNk-NY  will provide a review of your package. I note the following

- Please review the need for packages in the Depends: field -- these should only be packages the user needs to directly access to prepare input for or interpret output from your package. Likely most of these belong in the Imports: field, with appropriate additions to the NAMESPACE file.
- For interoperability and repeatability

[2017-02-09 21:47] julaiti commented on #225
@mtmorgan Dear Martin, many thanks for all of your help and contribution to this revision. After strictly follow your review comment, I initially wrap up the first revision, but I feel that's not enough if I go for the submission to Bioconductor project.  Here is the issue I tried to solve from your review but can't go even optimal:

- Regarding the global variable issue,  I tried of using standar

[2017-02-09 22:33] mtmorgan commented on #167
@maiasmith I wasn't exactly sure where we stand on this. I do not see revisions to the vignette since you asked for clarification, but I am willing to accept the packages as they now stand. If of course you have revisions that you are about to submit then I will wait for them...

[2017-02-09 22:52] maiasmith commented on #167
Hi Martin,

I updated the "Obtaining the data" section for Time/Map/CellScape packages,
as you requested. Can you see it? In TimeScape, it should be a paragraph
that begins as so: "E-scape takes as input a clonal phylogeny and clonal
prevalences per clone per sample."

Please let me know if you see otherwise!

Maia

On Thu, Feb 9, 2017 at 2:33 PM, Martin Morgan <notifications@github.com>
wrote:

[2017-02-09 23:15] mtmorgan commented on #167
Sorry I some how misinterpreted those commits. I'm accepting these packages; they will be added to the Bioconductor svn repository and nightly builds in the next day or so, with more information forwarded when that is done.

[2017-02-09 23:16] mtmorgan commented on #167
And thanks both for your contribution and patience!

[2017-02-10 13:45] MartinFXP commented on #245
Ok, I cleaned up the vignette. Let me know what you think. The tarball size should be fine.

Is it me or is there something wrong with the automatic build system? The error which happened during the mac os x build, now happens during the linux build and mac os x vanished. What's up with that?

[2017-02-10 19:32] hpages commented on #151
Hi Malcolm,
I'd prefer if we continue the submission in this issue. Then all the submission/review history is in one place.
Thanks,
H.

[2017-02-10 22:42] mtmorgan commented on #272
I've taken over the review of this package from @LiNk-NY As a first step your package needs to pass R CMD build and check within the time frame indicated in the [Bioconductor guidelines](https://bioconductor.org/developers/package-guidelines/#correctness). It looks like your package took 44 minutes to build on windows, and timed out before working through the examples on during R CMD check. Please

[2017-02-11 19:22] #167 closed

[2017-02-11 19:22] #168 closed

[2017-02-11 19:22] #169 closed

[2017-02-13 10:48] BioinfoMonzino commented on #272
Thanks @LiNk-NY and @mtmorgan for your quick replies.
Regarding the suggestions of @LiNK_NY:
1.	We are modifying our functions, in order to accept a “SummarizedExperiment” objects as input.
2.	We are adapting the code and the DESCRIPTION file;
Regarding the requests of @mtmorgan:
We also observed that our package takes a long time to build on windows since examples and vignette are based on high-d

[2017-02-13 11:37] BioSok commented on #183
Dear @vobencha , it seems data() cannot find my dataset and the build is failing. Should I use load() instead?

[2017-02-13 14:11] jaspershen opened #273 "(inactive) MetCleaning"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2017-02-13 14:11] #273 closed

[2017-02-13 14:14] jaspershen opened #274 "(inactive) MetCleaning"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jaspershen/MetCleaning

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-02-13 14:14] #274 closed

[2017-02-13 14:18] vobencha commented on #183
I'll have a look ...

[2017-02-13 14:18] jaspershen opened #275 "(inactive) MetCleaning"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jaspershen/MetCleaning

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-02-13 14:18] #275 closed

[2017-02-13 14:20] jaspershen commented on #227
Hi, how can I close this issue and submit it again?
Thanks

[2017-02-13 14:25] jaspershen commented on #227
Hello, I have change the package. So can you review it again?
Thank you very much.

[2017-02-13 15:04] vobencha commented on #263
1) BasicFilter man page
- The title is not very descriptive:
[code]
I'd clarify in \title or \description that these filters are intended for extractor functions that operate on src_organism objects.

- Typo:
[code]
- I'd add more to \details to clarify the 'columns' are columns of the merged database. Maybe show how they can access the columns ... or refer them to ?`columns,src_organism-method`.

[2017-02-13 15:26] LiNk-NY commented on #227
Hi @jaspershen
Can you bump the version for the package to be rebuilt?

[2017-02-13 17:02] vobencha commented on #183
The dependency structure is fine - software Depends on data package and data package Suggests software. The SPB may not be capable of installing the packages in the correct order so don't worry about errors related the data package not being available.

When you've made the changes below please write a message clearly stating what you have done to address each point. Some of these are reoccurring

[2017-02-13 19:14] LiNk-NY commented on #219
Hi Beth @betsig,
Thank you for your submission. Please find the package review below.
If you have any questions, please let me know.
Best regards,
Marcel

---

### Branchpointer

Overall, the package uses some Bioconductor resources such as `rtracklayer` and some extractors from `GenomicRanges`. It could be made more inter-operable if you were to use a `GRanges` class for your manipulations. Much

[2017-02-13 21:15] LiNk-NY commented on #212
Hi Ilya @izhbannikov,
Thanks for making those changes. The package is looking good!
There are a few things.

* Please rename the construction function according to the class name. `rqtClass` > `rqt`
* Move the constructor and class functions to the `rqt.R` file.
* Move method functions to `rqt-methods.R` file. You don't have to have `rqt` in the method name (`rQTest`). You can call it something li

[2017-02-13 21:16] LiNk-NY commented on #207
Hi @Zouter,
Any updates on interfacing with `SummarizedExperiment`?

Regards,
Marcel

[2017-02-13 21:18] LiNk-NY commented on #239
Hi @ipw012,
Can you bump the version?
Thanks.
-Marcel

[2017-02-13 22:46] julaiti commented on #225
@mtmorgan Dear Martin, many thanks for all of your help and contribution to this revision. After strictly follow your review comment, I initially wrap up the first revision, but I feel that's not enough if I go for the submission to Bioconductor project. Here is the issue I tried to solve from your review but can't go even optimal:

- Regarding the global variable issue, I tried of using standard

[2017-02-14 00:33] jaspershen commented on #227
Hi, thank your for your reply. And the version of package has been changed to 0.99.1.
Thank you very much

[2017-02-14 04:47] BhaktiDwivedi commented on #202
Hi @LiNk-NY,
Please see the new version with changes. Below I have highlighted the responses

"you should really make use of the classes in GSEABase to represent gene sets."
I have used GSEABase class in the code where it can be best used to represent gene sets or subset data by gene sets. As my package involves combining multiple data types by gene symbols, which can be duplicated depending on wh

[2017-02-14 08:13] hpages commented on #203
Hi Benjamin,

Please don't change the issue numbers in your answers. For example in your last list of answers, item #12 is about an issue I originally reported as issue #15. Doing this is making things unnecessarily hard to track. I'm using my *original* issue numbers below.

- Related to issue #9 from my original feedback. Please replace
[code]
with
[code]
in the `checkCuts()` function. This mean

[2017-02-14 13:25] jcrodriguez1989 commented on #242
Hi @lshep
Just wanted to know if there is any news regarding MIGSA?
Thanks!
Juan C.

[2017-02-14 13:38] lshep commented on #242
Sorry for the delay.  I will look at it over again within the next day and get back to you with feedback.  I'm going to kick off a new build as well so that the windows report is available.

[2017-02-14 13:49] lshep commented on #245
When you are saving or writing files in your vignette/man please save to a tempdir() not a system directory. This is the cause of the ERROR.

[2017-02-14 13:57] MartinFXP commented on #245
Thx, I'll try to figure out how to change that. However, I'm pretty sure it has to do with the STRINGdb package and not by me manually saving/writing files. Anyway, this does not explain why it did work on Linux before, when the exact same error happended on MacOs, on which it also worked before. Also, since when does the automatic build skip the BiocCheck and still claims everything ok?

[2017-02-14 14:03] lshep commented on #245
We changed the single package builder to prevent writing to system directories. This is why it is now occurring.  I will look into why BiocCheck is not running on windows. Thank you for bringing this to our attention.

[2017-02-14 15:04] jpromeror commented on #260
@lshep

Now everything is fine again.

Will be aware of any comment or notification made related to the package.

Thanks,

-- Juan Pablo

[2017-02-14 15:40] #271 closed

[2017-02-14 16:19] jcrodriguez1989 commented on #242
Well,
MIGSA is getting check error on Windows Server 2012 R2 Standard/x64, however the log does not report what or where the error is.
Is there any way of getting more detail?
thanks!

[2017-02-14 16:21] lshep commented on #242
I'm looking into it now and will let you know.

[2017-02-15 13:08] lshep commented on #242
Still investigating the unit test error I hope to have some feedback later this morning.

[2017-02-15 14:28] lshep commented on #260
I'll investigate this timeout on malbec2.  It seems odd it would only timeout on one build.  You can ignore this timeout for now.

[2017-02-15 16:14] jcrodriguez1989 commented on #242
thanks @lshep
I will be awaiting to any eventuality.

[2017-02-15 18:28] lshep commented on #242
When running the test test_MIGSAmGSZ_ok_sameAsMgsz (and any test that uses MIGSAmGSZ or MIGSA) it produces something along the following

[code]
When BiocParallel is invoked in windows a new environment instance is spun instead of forked like on unix systems so it can't find your package.

We believe add a `require(MIGSA)`  [here](https://github.com/jcrodriguez1989/MIGSA/blob/master/R/MGSZ.R#L252)

[2017-02-15 18:44] jcrodriguez1989 commented on #242
@lshep thanks for providing this output. It would not have been possible to find that error if not.
So you think I should add "require(MIGSA)" only into that bplapply? Or into every one?
In MIGSA, bplapply is called once into DEnricher.R and twice into MGSZ.R.

Another thing to note, MIGSA is not exporting the function "designMatrix", could this be causing this error?

thanks!

[2017-02-15 18:52] lshep commented on #242
I believe the functions where you are calling BiocParallel would need the require.  You could try and export the function first to see if it would fix; quite honestly I'm not sure if it would or not.

[2017-02-15 19:25] hpages commented on #138
Hi Mohamed,

Did you push all your updates? Should I go ahead and take a look at the latest version of cellbaseR (0.99.29)? Please make sure all the issues I reported earlier are addressed. Thanks!

H.

[2017-02-15 19:28] hpages commented on #145
Hi George,

Just to let you know that I'll close this issue at the end of the month, unless there is a follow-up on this submission.

Cheers,
H.

[2017-02-15 19:30] jcrodriguez1989 commented on #242
Mmm, still having the error. I will try to change the functions to MIGSA::: functions (inside bplapply).

[2017-02-16 08:26] hpages commented on #265
Hi Astrid,

Thanks for this new contribution to Bioconductor. Overall the package looks good but unfortunately the man pages are cluttered with repeated information and typos that hurt its usability. See details below. Please address at your earliest convenience.

Thanks!
H.

1. Please merge the man pages for `runPermutationUsingMethylKitInfo()` and `runPermutationUsingRDSFile()` in a single man p

[2017-02-16 10:16] idno0001 commented on #261
Thank you for taking the time to review our package. Your comments are greatly appreciated and I have learned a lot in the process.

I have made most of the suggested changes with comments below. Before pushing a version bump, should I wait for the new biocView to be added?

Thanks

 I have added the "ddPCR" biocView, which should be added below _Software - Technology_.

Thank you!

This has been

[2017-02-16 10:45] hpages commented on #250
Hi Tin,
There are some minor issues with BLMA, mostly cosmetic. See below.
Cheers,
H.

1. A well-established convention in Bioconductor is to not start function names with a capital letter. Please rename your functions with names that start with a lower case letter (e.g. `bilevelAnalysisClassic` instead of `BilevelAnalysisClassic`).

2. Why an "s" in `fishersMethod` and no "s" in `stoufferMethod`?

[2017-02-16 10:55] mtmorgan commented on #261
Thanks for your conscientious update. Please provide a version bump and ignore any problems from unknown biocViews.

[2017-02-16 14:42] jcrodriguez1989 commented on #242
Mmm, well, now I am not getting an error, however it is getting stuck in the same check step. I do not have any Windows PC to test if my package is getting the same error as noticed before.

I am going to work some more with my tests. However I have a standard PC (2 3.00GHz cores, 8gb ram), and my check is taking less than 5 minutes.

Can you @lshep check again if we are getting the same issue or

[2017-02-16 14:45] jaspershen commented on #227
Hi. Can you review my new version package? I have changed it to version 0.99.1.
Thank you very much!
Xiaotao

[2017-02-16 18:02] george-weingart commented on #145
Hello,

We request you don't close the issue as we are actively working  to enhance
the package and intend to submit a new version soon.

Thank you,

George Weingart PhD
Huttenhower Lab
Harvard School of Public Health

On Wed, Feb 15, 2017 at 11:28 AM, hpages <notifications@github.com> wrote:

[2017-02-17 13:25] lshep commented on #267
Hello.  Please see the following comments:

**DESCRIPTION:**
Change R to 3.4 instead of 3.3

**VIGNETTE:**
Downloading the full transcript database from Ensembl:
save file to temporary directory
saveDb(txdb, "TranscriptDb_GRCh38_78.db")

**GENERAL**

*Although now that I am thinking about, maybe I could simplify the interface by only requiring the exons argument (one list of GRanges objects) to be

[2017-02-17 13:37] DragonDuck opened #276 "MaxContrastProjection"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DragonDuck/MaxContrastProjection

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I ha

[2017-02-17 14:00] mtmorgan commented on #261
Thanks for your efforts, I've taken a quick look at your revisions and am pleased to accept your package to Bioconductor. It will be added to our svn repository and nightly builds, with additional information sent via email in the next several days.

[2017-02-17 14:04] kauralasoo commented on #267
Hello. Thank you both for your helpful comments. I didn't know abut OrgDb, but you are right, I could write a wrapper function that takes TxDb, OrgDb and a list of gene or transcript ids as input and uses those to make transcript and read coverage plots. I also discovered just recently that there is ensembldb package that contains all of the required information (including gene names that are usua

[2017-02-17 14:13] idno0001 commented on #261
Thank you, I really appreciate the time you've spent on reviewing our package.

[2017-02-17 14:33] lshep commented on #260
Thank you for you changes. When I tested locally it ran much faster than what is reported (and much under the time requirement).  I will recommend your package be accepted.  You will receive svn instructions via email. Please leave the issue open until you have received the instructions.

[2017-02-17 14:34] BioSok commented on #183
Dear @vobencha , I am sorry for the repetition it seems I pushed a previous version where the mentioned issues were not addressed yet. To sum up here is what I did:

Data package:
1.	`import(SummarizedExperiment)` added to NAMESPACE

2.	the data file is now named pathprintSummarizedGEOData.rda

3.	i) Removed:
`# use the SummarizedExperiment`
`library(SummarizedExperiment)`

ii/iii) I now only have

[2017-02-17 14:35] lshep commented on #267
That is a fair point. Please implement the others

[2017-02-17 14:48] lawremi commented on #267
It would be easy to implement an efficient SummarizedExperiment for coverage. There is GPos for storing the `rowData()`. And Herve has an Rle-backed DelayedArray for in-memory convenience.

[2017-02-17 14:59] jpromeror commented on #260
Great. Yes, I was surprised by the timeout but I guess it wast being caused by the updates on the servers.
I'll wait for the svn instructions.

Thanks for everything.

[2017-02-17 16:18] jcrodriguez1989 commented on #242
@lshep
I was able to get a Windows PC to build and check MIGSA. Surprisingly I noticed that the tests took much longer than in Linux.
So, the only solution I found to avoid this ERRORS and TIMEOUTS was to omit several test cases. Sadly in this version a coverage of just 67% is reached.

I am awaiting for any other comment and suggestion.
Thanks you very much for all your spent time on improving MI

[2017-02-17 17:28] jcrodriguez1989 commented on #242
I have also noticed that what is making my tests that slow is when it is using more than one core. Is it valid if in my test case files I do something like this?:
[code]

[2017-02-17 18:46] lshep commented on #242
yes. that would be okay

[2017-02-17 18:57] hpages commented on #241
Hi Dongmin,

Thanks for your submission. Please find below a list of issues with the PPInfer package. Please address them at your earliest convenience.

Cheers,
H.

1. The build/ folder doesn't belong to PPInfer source tree. Please remove it. Also please remove the 'Packaged:...' line from the DESCRIPTION file. This line doesn't belong to the package source tree either.

2. Use `<-` instead of `=`

[2017-02-17 19:36] lcolladotor commented on #239
Hi @LiNk-NY,

You can see that @ipw012 bumped the version to 0.99.1 at https://github.com/ipw012/RIVERpkg/commit/416f40b604c1a45546b5c304dfbb47acc7c220a8#diff-35ba4a2677442e210c23a00a5601aba3R13.

@ipw012, I think that @LiNk-NY wants you to change https://github.com/ipw012/RIVERpkg/blob/416f40b604c1a45546b5c304dfbb47acc7c220a8/DESCRIPTION#L21 to read `R (>= 3.3.2)` and bump the version to 0.99.2.

[2017-02-17 20:38] ipw012 commented on #239
Hi Leo,

Thanks for looking over this! I will change it soon and report it.

Sincerely,
Yungil

On Fri, Feb 17, 2017 at 2:36 PM, Leonardo Collado-Torres <
notifications@github.com> wrote:

[2017-02-17 20:50] LiNk-NY commented on #239
Hi Leo @lcolladotor,
Thanks for chiming in on the issue.

Yungil @ipw012,
The `Version Bump Required` tag is attached when the maintainer pushes a commit without bumping the package version.

Best,
Marcel

[2017-02-17 21:17] seandavi opened #277 "(inactive) GenomicDataCommons"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2017-02-17 21:17] #277 closed

[2017-02-17 21:18] seandavi opened #278 "GenomicDataCommons"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/GenomicDataCommons

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I hav

[2017-02-17 21:30] ipw012 commented on #239
Hi Marcel,

I have already bumped up my package version in the last commit. Should I rebump it or current one is OK? Thanks.

Sincerely,
Yungil

[2017-02-17 22:38] lcolladotor commented on #239
@ipw012 I understand the issue now. In https://github.com/ipw012/RIVERpkg/commit/416f40b604c1a45546b5c304dfbb47acc7c220a8 you did bump the version.  However, you have made several new commits since then:

<img width="1038" alt="screen shot 2017-02-17 at 5 33 11 pm" src="https://cloud.githubusercontent.com/assets/2288213/23085719/334716f0-f537-11e6-8267-2b71574bcdac.png">

and you haven't bumped th

[2017-02-17 22:42] #260 closed

[2017-02-17 22:42] #261 closed

[2017-02-18 15:22] seandavi commented on #278
Note to self, this failure is due to scheduled maintenance at the GDC.

[2017-02-19 02:27] izhbannikov commented on #212
Hi Marcel, @LiNk-NY,

Thanks for reviewing my package and useful suggestions! I made some changes, according  to your comments, please see my explanations below:

*Please rename the construction function according to the class name. rqtClass > rqt
*Move the constructor and class functions to the rqt.R file.
@izhbannikov: Done. Actually, I renamed rqt.R to rqt-classes.R. I also moved all generics t

[2017-02-19 07:59] nguyentin commented on #250
I fixed the concerns raised. However, I do not know why the buildVignettes fails under Windows

[2017-02-19 20:18] maiasmith commented on #167
Hi Martin,

Looks like the packages are out now - great!

However, when I try to install them, I am receiving an error - is this
something I'm doing wrong, or something wrong with the packages?

BioC_mirror: https://bioconductor.org
Using Bioconductor 3.2 (BiocInstaller 1.20.3), R 3.3.2 (2016-10-31).
Installing package(s) ‘timescape’
Warning message:
package ‘timescape’ is not available (for R ver

[2017-02-19 23:41] aiminy opened #279 "PathwaySplice"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SCCC-BBC/PathwaySplice

Confirm the following by editing each check box to '[x]'

- [ X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ X] I have read

[2017-02-19 23:44] aiminy commented on #279
Thank you
look forward to your news

[2017-02-19 23:57] julaiti commented on #225
@mtmorgan Dear Dr. Martin, Could you give me any possible direction that I could keep update current implementation and make sure my package can be eligible for Bioconductor accepting criteria? I am thinking about the what possible further contribution I am gonna make on the basis of a current approach. Because current implementation resolved the problem of original method proposed, so I might nee

[2017-02-20 00:44] maiasmith commented on #167
I've now tried with Bioconductor 3.4 and it still doesn't work:

Bioconductor version 3.4 (BiocInstaller 1.24.0), ?biocLite for help

BioC_mirror: https://bioconductor.org
Using Bioconductor 3.4 (BiocInstaller 1.24.0), R 3.3.2 (2016-10-31).
Installing package(s) ‘mapscape’
Warning message:
package ‘mapscape’ is not available (for R version 3.3.2)

On Sun, Feb 19, 2017 at 12:17 PM, Maia Smith <mas2

[2017-02-20 07:19] skyhorsetomoon opened #280 "(inactive) Transcriptome-guided quality assessment of methylated RNA immunoprecipitation sequencing data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorse/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _B

[2017-02-20 07:19] #280 closed

[2017-02-20 18:47] rtraborn commented on #256
Hello @lawremi:
We recently pushed the requested `TSRchitect` updates to our branch master, so we're ready for it to be given another look when you have the chance.
Thanks again for your help.
Cheers,
Taylor

[2017-02-20 21:44] lawremi commented on #256
It looks like you still need to address the side-effect issues. `initializeExp()` should not make assignments in the user's workspace. The entire API needs substantial refactoring to become idiomatic R. One approach would be to have constructors for individual components and then assign them with setters (`foo<-`) into the umbrella object.

[2017-02-20 22:09] mtmorgan commented on #167
Packages are added to the 'bioc-devel' branch, which is currently 'Bioc 3.5' and 'R-devel'. Bioc 3.5 will become the next release some time in April, at about the time 'R-devel' is released as R-3.4.0. See [here](http://bioconductor.org/developers/how-to/useDevel/).

[2017-02-21 02:24] ipw012 commented on #239
Hi Marcel @LiNk-NY,

I updated my package, committed it, and now I have warnings like "Update R version dependency from 3.3.2 to 3.4.", which I am not sure how to handle it. I tried to update it but couldn't built my package in my current R (3.3.2). I couldn't find any concrete solution for this by googling it. Could you please tell me how to resolve that issue? Thanks.

Sincerely,
Yungil

[2017-02-21 08:44] wind22zhu commented on #231
Thank you for your comments and sorry for the delay.
1. BioMedR package intended to build a comprehensive one that including various descriptors for chemicals, proteins, DNAs/RNAs and their interactions, some clustering methods and similarity searching methods. So many functionalities and their relative independence make us code '148!' functions and related help files. Of course, in the future, we

[2017-02-21 13:44] vobencha commented on #183
Hi,
Thank you for outlining the changes that were made. Still a few more things to address.

1) windows error
The software packages are checked on both 32 and 64 bit architectures on windows. The error you're seeing is the 32 bit run. We need to do 2 things, the first is to save the data with a more efficient compression and the second is to use a smaller subset of the object in the example if pos

[2017-02-21 14:51] lshep commented on #242
Thank you for your recent changes.  I will recommend your package be accepted. Please keep the issue open and you will receive svn instructions for inclusion into Bioconductor (normally within a week).

[2017-02-21 14:53] jcrodriguez1989 commented on #242
@lshep
Great news! Again, we really appreciate your effort, time and work on improving MIGSA.

[2017-02-21 16:40] BioSok commented on #183
Dear @vobencha ,

1. I have compressed the files as suggested and the automated reply did not contain the previous size warning any more.

2. i) Added imports (pathprintGEOData, stats and utils) in the NAMESPACE file.
   ii) Removed empty sections from Rd files
  iii) Added aliases for 'GEO.fingerprint.matrix' and 'GEO.metadata.matrix'
  iv) hyperPathway.R and its .Rd file were removed as they wer

[2017-02-21 16:50] vobencha commented on #231
@wind22zhu,

The package is not acceptable in it's current form. The R code and man pages must be consolidated as per the recommendations from @lshep. When you have made the changes provide a explanation of how each point in https://github.com/Bioconductor/Contributions/issues/231#issuecomment-274564647 was resolved.

Additionally you need to move ChemmineOB to 'Imports'. If you want the package i

[2017-02-21 17:39] BioinfoMonzino commented on #272
Dear @mtmorgan
we accordingly modified: the DESCRIPTION and the NAMESPACE files;
 our functions in order to use  “SummarizedExperiment” objects;
 vignette and examples to reduce running time.
We also created smaller but realistic examples that should properly display the package functionality and performed unit tests to ensure rigorous tests on functions.
Regards,
Luca and Mattia

[2017-02-21 19:45] nturaga commented on #276
Hi @DragonDuck,

Before we start the review process, could you please address this issue as specified in the [build report](http://bioconductor.org/spb_reports/MaxContrastProjection_buildreport_20170217085713.html
)?

[code]

[2017-02-21 20:22] DragonDuck commented on #276
Hi Nitesh,I've subscribed to the mailing list and addressed another minor issue in the R version dependency. I updated the version number to 0.99.1 in the hopes of triggering the build process again. Is there a problem with the mailing list subscription?Cheers,JanOn February 21, 2017 at 8:45 PM Nitesh Turaga <notifications@github.com> wrote:Hi @DragonDuck,Before we start the review process, could

[2017-02-21 20:23] vobencha commented on #245
Hi,

Thanks for making the changes - the vignette is looking better. Still a few things to address.

1) vignette
* TOC
-- How about section numbers 1, 2, 3 ... instead of 0.1, 0.2, 0.3 ...?
-- Add a section for sessionInfo() and References.

* commented out code chunks
There are several chunks of commented out code, for example, one starts on line 250:
[code]

  Are these the curation steps to pro

[2017-02-21 20:24] vobencha commented on #229
Not sure where we are on this. When you're ready for me to take another look mention me @vobencha.
Valerie

[2017-02-21 20:27] vobencha commented on #217
Thanks for your patience. I'll take a look at this tomorrow.
Valerie

[2017-02-21 20:27] tiagochst commented on #229
Hi, sure. I'm working on other projects right now. I should be back on this next week. Once I fix the probles I'll mention you. I have just one question. One of the problems is timeout (
TIMEOUT: R CMD build exceeded 10mins). This limit is new for workflows?

[2017-02-21 21:55] rtraborn commented on #256
Your concerns with `initializeExp()` are well taken.
As we understand it, the problem is that `experimentName` is assigned in the user's workspace. Would this problem be avoided by invoking the function in the following way (e.g.):
`foo <- initializeExp(expTitle,  isPairedEnd)`
where a newly-constructed object, `foo`, of class `tssObject` is created?
Alternatively, could we use our recently-added

[2017-02-21 22:27] aiminy commented on #279
For the label of VERSION BUMP REQUIRED, what I should process on my side?

[2017-02-21 23:05] nturaga commented on #276
Hi @DragonDuck ,

It looks like your webhook is broken. Please take a look at https://github.com/Bioconductor/Contributions#additional-actions. Specifically, the part which reads:  **To debug packages commits that don't trigger a response on the corresponding issue.**

[2017-02-22 01:58] skyhorsetomoon opened #281 "(inactive) Transcriptome-guided quality assessment of methylated RNA immunoprecipitation sequencing data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/"skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-22 01:58] #281 closed

[2017-02-22 08:13] skyhorsetomoon opened #282 "(inactive) Transcriptome-guided quality assessment of Methylated RNA immunoprecipitation sequencing data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-22 08:13] #282 closed

[2017-02-22 10:48] mtmorgan commented on #272
Please post questions related to the issue here, rather than on bioc devel. You said:

But actually the bioc-devel mailing list rejected your post because mattia.chiesa@cardiologicomonzino.it is not a subscriber. I also tried to verify that the accounts you mention above exist, but they do not. The mailman application sends an acknowledgement, and you must reply to it; perhaps your mail system ina

[2017-02-22 11:48] skyhorsetomoon opened #283 "(inactive) Trumpet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-22 13:26] lshep commented on #231
Also, I was having trouble checking your package when I was using open jdk 1.7 but did not have errors when using 1.8.  Please update your DESCRIPTION to Java JDK 1.8 or higher

[2017-02-22 13:29] wind22zhu commented on #231
Thanks!

发自网易邮箱大师
On 02/22/2017 21:26, lshep wrote:

Also, I was having trouble checking your package when I was using open jdk 1.7 but did not have errors when using 1.8. Please update your DESCRIPTION to Java JDK 1.8 or higher

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-22 14:02] vobencha commented on #217
Hi,

Thank you for working on the package. It's looking much better.

I'm not clear on what your intentions are with the MDS.Chr22.U12Genes data package. Currently the software package is self contained and does not use it. The data package has 15 bam files which is excessive for an experimental data package. I would recommend you proceed with the software package and not the experimental data pac

[2017-02-22 14:15] BioinfoMonzino commented on #272
Dear @mtmorgan ,
we subscribed to [bioc-devel mailing](https://stat.ethz.ch/mailman/listinfo/bioc-devel) list with the following addresses:
Mattia Chiesa <mattia.chiesa@cardiologicomonzino.it>
Luca Piacentini <luca.piacentini@cardiologicomonzino.it>
We set these emails also in Bioconductor accounts and in the DESCRIPTION file.
![biocdevelsubscription](https://cloud.githubusercontent.com/assets/255

[2017-02-22 14:26] mtmorgan commented on #272
I can only confirm that the subscriptions are not present in the mailing list. Also please note the requirement that the maintainer contain a SINGLE email address; think of it as 'corresponding author'.

I'll discuss with other team members about the version of Java; ignore the error for now.

[2017-02-22 16:00] LiNk-NY commented on #212
Hi @izhbannikov,
The package is looking better! You may combine `general.R` with `preprocess.R` in order to reduce the number of files but they all look well organized and easier to read!

Your package has been accepted.

Thank you for submitting to Bioconductor!

Regards,
Marcel

[2017-02-22 16:25] LiNk-NY commented on #202
Hi Bhakti @BhaktiDwivedi,
Thanks for making the changes.
What is the difference between `GISPA` and `gispaMethod`? It seems to me like the names should be different if they are not doing the same thing. It may confuse your users.

The rest is looking better!

Regards,
Marcel

[2017-02-22 16:54] BhaktiDwivedi commented on #202
hi @LiNk-NY

Thank you so much. Yes, it's the function for the changepoint-based profile characterization model. I can change it to something other than gispaMethod. for example, 'cptModel'

Thank you.

[2017-02-22 18:25] LiNk-NY commented on #202
That would be good!
Thank you Bhakti!

[2017-02-22 18:48] lshep commented on #283
Please fix all ERROR and WARNING, as well as most NOTES before a more thorough review takes place.

[2017-02-22 22:33] jianhong opened #284 "(inactive) NADfinder"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2017-02-22 22:33] #284 closed

[2017-02-22 22:55] jianhong opened #285 "NADfinder"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jianhong/NADfinder

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-02-23 02:24] lawremi commented on #256
Yes, these would be appropriate directions. You can also look at e.g. IRanges or GenomicRanges for inspiration.

[2017-02-23 08:14] skyhorsetomoon opened #286 "(inactive) Trumpet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-23 08:14] #286 closed

[2017-02-23 08:36] skyhorsetomoon opened #287 "(inactive) Trumpet revise"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-23 08:36] #287 closed

[2017-02-23 08:48] skyhorsetomoon opened #288 "(inactive) Trumpet3"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-23 08:48] #288 closed

[2017-02-23 09:27] skyhorsetomoon opened #289 "(inactive) Trumpet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-23 09:27] #289 closed

[2017-02-23 10:03] MartinFXP commented on #245
Hi,

thanks again for the feedback.

Done.

Added section "Creation of data objects".

The yeast section is supposed to a) include code for the manuscript of the Pirkl et al., 2017 reference and b) include supplementary analysis not vital for the manuscript itself.
I added more explanation to the supplementary analysis (graph based Go similarity and GO enrichment). The previous analysis steps are

[2017-02-23 14:12] BioinfoMonzino commented on #272
Dear @mtmorgan,
We are dealing with the tricky issue concerning the subscription to bioc-devel mailing list with our IT personnel, and it seems that there could be a problem with the @cardiologicomonzino.it and/or @r-project.org domain. However, we are going to bypass this concern by using a non-institutional email address.

[2017-02-23 15:00] BhaktiDwivedi commented on #202
Done. Please see the submitted revised version. Thank you very much @LiNk-NY !

[2017-02-23 15:54] gacatag commented on #217
Hi Valerie ( @vobencha ).
Thank you for your response. I removed the MDS.Chr22.U12Genes dependency (suggestion) and also updated the vignette document accordingly; instead of the large data package, I included all the scripts needed to generate the test data `mdsChr22Obj` in /inst/scripts/. I included the scripts in case a user wished to generate the test data `mdsChr22Obj` manually using the `int

[2017-02-23 15:59] gacatag commented on #217
Hi Valerie ( @vobencha ).
Thank you for your response. I removed the MDS.Chr22.U12Genes dependency (suggestion) and also updated the vignette document accordingly; instead of the large data package, I included all the scripts needed to generate the test data `mdsChr22Obj` in /inst/scripts/. I included the scripts in case a user wished to generate the test data `mdsChr22Obj` manually using the `int

[2017-02-24 03:18] betsig commented on #219
Hi Marcel @LiNk-NY

**Changes made as follows:**

The package now works primarily on the Granges class.
Consequently a lot of the functions have been slightly modified to work with this instead of data.frames.
`getPPT` now doesn't rely on correct indexing due to this change.

The example script has been moved to` inst/scripts`.

`getBranchpointSequence `checks are now reduced to two.

`getCanonica

[2017-02-24 07:35] skyhorsetomoon opened #290 "(inactive) Trumpet Revise2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-24 07:35] #290 closed

[2017-02-24 11:35] BioinfoMonzino commented on #272
Dear @mtmorgan ,
We got ‘TIMEOUT’ status during building on **Mac OS X Mavericks (10.9.5)/x86_64 system**, whereas Windows and Linux are ‘OK’. In particular, Windows takes about 6 minutes and Linux takes about 5 minutes for building; on the other hand, MAC OS seems to take 10 minutes and **0.15 seconds**, where the limit seems to be exactly 10 minutes:

 `* checking for file DaMiRseq/DESCRIPTION .

[2017-02-24 11:56] mtmorgan commented on #272
The 10 min 15s is because the job was killed after 10 m, not because it took exactly 10m 15s to complete. The build machines can be under heavy load; apparently that is what happened on the Mac builder. You could rebuild or ignore the timeout, but if you're at the boundary (the [guidelines](http://bioconductor.org/developers/package-guidelines/#correctness) actually specify 5 minutes to build & ch

[2017-02-24 18:15] LiNk-NY commented on #202
Hi Bhakti @BhaktiDwivedi,
You are having some errors with the package, namely due to the version number. The version number of you package should be `0.99.z` where `z` is the number of times you have pushed changes to your package (you can also just make it `0.99.8` to keep it consistent with your commits).  The package has not been published on Bioconductor and therefore it cannot be anything abo

[2017-02-24 18:16] hpages commented on #250
Hi Tin,
The vignette build failure on Windows seems to be a problem on our side. Let's ignore it for now. I'll have a 2nd look at the package in the next few days. Thanks for making changes to the package.
H.

[2017-02-24 18:17] LiNk-NY commented on #219
Hi Beth @betsig,
Thank you for making those changes!
I will review them shortly.
Regards,
Marcel

[2017-02-24 18:19] LiNk-NY commented on #227
Hi Xiaotao @jaspershen,
I don't see any SPB build history for a recent version of the package.
It may be possible that you have to create a webhook again for the build system to pick it up.
Regards,
Marcel

[2017-02-24 18:21] LiNk-NY commented on #247
Hi Anthony @Quarkins,
We've been a bit busy here. I will get to your package as soon as possible.
I apologize for the delay.

Regards,
Marcel

[2017-02-24 18:23] hpages commented on #145
Hi George,
Thanks for letting me know.
H.

[2017-02-24 18:28] george-weingart commented on #145
Thanks!
We are actively working on the package
On Fri, Feb 24, 2017 at 10:23 AM hpages <notifications@github.com> wrote:

[2017-02-24 18:30] mtmorgan commented on #276
MaxContrastProjection Package Review
==

* `R-dev CMD build MaxContrastProjection` Works fine

* `R-dev CMD INSTALL MaxContrastProjection_0.99.1.tar.gz` Works fine

## DESCRIPTION

* The `Description` item in the DESCRIPTION file should be more like
  an abstract for a paper. The current description just lists the
  methods that were implemented.

* `methods` should probably be in `Imports:`

* No

[2017-02-24 18:34] LiNk-NY commented on #264
Hi Pascal @belleau,
Can you please bump the version of your package? Thank you.
Regards,
Marcel

[2017-02-24 18:37] BhaktiDwivedi commented on #202
Hi @LiNk-NY,
Sure, I just changed the version to 0.99.8. I kept increasing to 1.0.# asI was getting the version bump required tag and to get a valid push. Hope this helps. Please let me know if there is anything else needed. Thank you.
Bhakti

[2017-02-24 19:27] mtmorgan commented on #254
Have you updated your package in response to the comments? I see that a version bump is still required.

[2017-02-24 20:35] nhejazi commented on #254
Thanks for checking in. I've noted the improvements that you suggested in the detailed review of the package, but I have yet to implement most of these changes.

[2017-02-24 20:37] izhbannikov commented on #212
Hi Marcel, @LiNk-NY,

Thank you so much for accepting our package. It was a pleasure to collaborate with you!
I merged general.R and preprocess.R.

Sincerely,
Ilya

[2017-02-25 13:00] lawremi commented on #285
Vignette needs development. Glanced at the `tileCount()` function. Consider using `slidingWindows()` instead of `tileGRanges()`. You can coerce a Seqinfo to a GRanges with `as(x, "GRanges")`. The code checks for a GRangesList representing multiple samples using an odd heuristic. First, for efficiency reasons, the user should use SimpleGenomicRangesList to represent data over several samples, not G

[2017-02-25 16:48] rtraborn commented on #256
Those examples were helpful- thank you.
We overhauled the API for initializing a `tssObject`, and eliminated the use of side-effects.
To this end, `initializeExp` and two other functions were replaced by a new constructor function, `loadTSSobj`.
These changes, along with corresponding updates to the documentation, were pushed to our branch master, so it's ready for it to be given another look at y

[2017-02-25 20:11] lawremi commented on #256
Ok, great, this a step in the right direction. The next phase should be improving integration with existing Bioconductor data structures. The high-level workflow object (`tssObject`) is useful for running end-to-end, starting at the file system, but the user will want more flexibility.

See the _BamViews_ object in Rsamtools. It can hold a list of BAM files with sample metadata. One could also ima

[2017-02-27 09:05] julaiti commented on #225
@mtmorgan Dear Martin, Is that possible to hear your further opinion about this version? I want to make a further effort on this package to meet your expectation. Any further instruction that helps me to continue improve current version of this project? Thank you

Kind regards:
Jurat

[2017-02-27 15:38] tiagochst commented on #229
@vobencha @mtmorgan  The last build report gave timeout for linux and mac (which I tested yesterday and was working), but it was not supposed to give timeout. How do I know if it was build as a workflow?

Thanks!

"Workflow vignettes may deal with larger data sets and/or be more computationally intensive than typical Bioconductor package vignettes. For this reason, the automated builder that produ

[2017-02-27 16:30] MonkeyLB commented on #259
@mtmorgan Hi, I wonder what is the typical length review time for the package? I saw the notice that my package has been built withou errors or warnings on all platforms, but not sure what should be the next step. Is it just wait for further review? Is there anything I should do?

[2017-02-27 17:05] belleau commented on #264
The package is up to date.
Best regards
Pascal

[2017-02-27 17:26] BhaktiDwivedi commented on #202
Hi @LiNk-NY
Is there anything else that I need to fix or resolve in the final version? Please let me know. Thank you.
Regards,
Bhakti

[2017-02-27 17:39] adeschen commented on #265
Hi Hervé,

We have corrected all the listed issues. See the corrections/explanations below.

Thanks,
Astrid

**1.** Please merge the man pages for `runPermutationUsingMethylKitInfo()` and `runPermutationUsingRDSFile()` in a single man page. Right now the 2 big man pages are almost identical and repeating so much information in 2 different places is bad practise. It's called the DRY principle (Don'

[2017-02-27 18:04] lshep commented on #247
Thank you for your interest in submitting to Bioconductor.  Please see the following comments:

BUILD REPORT:
- [ ] Please fix the no visible binding for global variables and no visible global function definition for.  There are some suggested imports in the build report and also see `?globalVariables`
- [ ] Please add unit tests
- [ ] Please add a NEWS file

README:
 - [ ] Please add an installat

[2017-02-27 19:48] LiNk-NY commented on #202
Hi Lori, @lshep
Can you kick off another build? Thanks.

[2017-02-27 22:33] LiNk-NY commented on #202
Hi Bhakti, @BhaktiDwivedi

Package development is a continual process. We hope that you consider adding unit tests to your package in order to make it more robust and less prone to bugs.

Please see the GitHub repository: `MangoTheCat/goodpractice` for more tips on improving your package's robustness. After installation (`BiocInstaller::biocLite("MangoTheCat/goodpractice")`), you can run `goodprac

[2017-02-27 22:37] BhaktiDwivedi commented on #202
Hi @LiNk-NY ,
Thank you. I will take a look at the unit tests. I thought the reason I am getting a build error on Oaxaca is because of library {HH} prerequisites not being installed on the build system. Am i missing something here?
Regards,
Bhakti

[2017-02-27 22:42] LiNk-NY commented on #202
Yes, that's right. We have installed it on `Oaxaca` and it should be ready to go. We are just making sure that your package fully checks out on `Oaxaca`. Thanks.
Marcel

[2017-02-27 22:58] BenjaminAdelaide commented on #203
Hi @hpages

Thanks for your comments. To the best of my knowledge I have now made your corrections.

Thanks for your time

[2017-02-27 23:30] vpbrendel commented on #256
I am getting rather confused about the procedure of getting our code/workflow out to the community.  We have spent many hours now re-writing the code in this way and that, all the while checking that it produces exactly the same output as before.  At what point can we declare this is useful as it is - following the simple steps explained in our documentation and you will get the results you want (

[2017-02-28 01:44] george-weingart commented on #145
Hello,

Could I trouble you to help me?

We updated banocc in https://github.com/biobakery/banocc

How do we proceed to accept our updates in Bioconductor?  it used to be
Svn, but how do we do it now?

Thanks!
George Weingart PhD
Huttenhower Lab
Harvard School of Public Health
On Fri, Feb 24, 2017 at 10:27 AM George Weingart <george.weingart@gmail.com>
wrote:

[2017-02-28 01:59] vobencha commented on #263
Looks good.

[2017-02-28 02:53] mtmorgan commented on #259
I'm sorry for the delay, I will try to review this in the next day or so.

[2017-02-28 05:13] lawremi commented on #256
There are plenty of ways of making code available to the community outside of the Bioconductor project. Bioconductor's goal is interoperable software. All submissions are held to similar levels of scrutiny, despite how useful they might be. Thanks for making the improvements so far. Perhaps it would be easier to make these changes if there were automated tests in place.

The vignette shows a workf

[2017-02-28 09:45] BioSok commented on #183
Dear @vobencha, I I changed the R version dependency to 3.4 (as prompted by the warning message) and the package got an "OK" status. What are the next steps?

[2017-02-28 12:21] skyhorsetomoon opened #291 "(inactive) Trumpet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-02-28 12:21] #291 closed

[2017-02-28 13:41] vpbrendel commented on #256
Michael:
We are all for adherence to standards. The problem I see is one of communication.  We don't understand precisely what changes you consider necessary.  We use a lot of Bioconductor packages, and in our code development we have sought to follow similar protocols as in packages we use.  For example, the input function loadTSSobj() is modeled closely after methRead() in backbone.R of the meth

[2017-02-28 16:24] lawremi commented on #256
Necessary changes:

1. Vignette should show an actual, simple workflow, with some sort of results interpretation, even if it is just making a plot or something. It's not about being boring or exciting, it's about showing how the software integrates with downstream workflows.
2. Related to the above, there should be some way of getting the TSRs as a GRanges or other appropriate high-level data stru

[2017-02-28 16:36] lshep opened #292 "BiocFileCache"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/BiocFileCache

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have rea

[2017-02-28 18:09] LiNk-NY commented on #202
The package is building as expected! Thanks again.

[2017-02-28 18:09] LiNk-NY commented on #207
Hi @Zouter,
Please respond to this thread or your issue will be closed within 48 hours.
Best regards,
Marcel

[2017-02-28 19:20] BhaktiDwivedi commented on #202
Thank you @LiNk-NY !! This is good news!

Please let me know when I will be able to obtain the URL.

Also, as I make updates and improvement in the package, I hope I am able to commit those changes on Bioconductor release version.

Thank you.

Regards,
Bhakti

[2017-02-28 21:05] LiNk-NY commented on #202
Hi Bhakti, @BhaktiDwivedi
When the package is added to the devel build system, the following URL should work:
https://bioconductor.org/packages/GISPA

You will be contacted with SVN credentials for making further changes your package.

Best regards,
Marcel

[2017-02-28 21:58] mtmorgan commented on #259
DESCRIPTION

- Provide additional detail in the Description: field, more like a
  paper abstract describing the method, merits, and maybe comparison
  with alternative solutinos.

- Likely 'stats' should be in the Imports: field (used internally by
  the package) rather than Depends: field (essential for the end user
  of your package.

R

- avoid use of `:` for sequences, e..g., `1:nrow()`. Use `

[2017-02-28 22:52] mtmorgan commented on #225
Building the vignette continues to write data to the user directory; use tempfile()  or tempdir() as output destinations instead.

in runMSPC.R:97the last line over-writes the conditional.

[code]

Running the vignette concludes with
[code]
apparently from a programming error in `FDR_stats()`.

[2017-02-28 22:53] mtmorgan commented on #270
Any progress on these revisions, or shall we close the issue?

[2017-02-28 23:01] mtmorgan commented on #272
So that we know where we stand, I see that you have made some good progress on getting your package into shape, but I assume that you are still working on your code since some of the initial problems remain, e.g.,

- inputs are not checked, e.g., Classification.R:93 it is unlikely that the function works on any 'data.frame'.
- there are still many uses of `1:...` (rather than `seq_len()`)

[2017-03-01 00:27] LiNk-NY commented on #219
Hi Beth @betsig,
Please make sure you are using `GRanges` accessor functions for exposing data in the class. For example, use `strand(grange)` instead of `grange@strand` and `mcols(grange)` instead of `grange@elementMetadata`.

Regards,
Marcel

[2017-03-01 02:18] dongminjung commented on #241
Hi. hpages

I appreciate your comments. I corrected all issues. Please see below.

Thanks,
Dongmin

****
1. The build/ folder doesn't belong to PPInfer source tree. Please remove it. Also please remove the 'Packaged:...' line from the DESCRIPTION file. This line doesn't belong to the package source tree either.

**Correction** : I removed the file in the build folder and the line in the DESCRIPTIO

[2017-03-01 02:58] AliciaSchep opened #293 "motifmatchr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/GreenleafLab/motifmatchr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2017-03-01 05:19] betsig commented on #219
Hi @LiNk-NY,

The build report is giving "Failed to locate the 'texi2pdf' output file (by engine 'knitr::knitr') for vignette with name 'branchpointer'"
on ONLY the windows build.

I'm not sure what the issue is here and to fix it.
The vignette is unchanged from the previous working build.
Can you advise?

Regards,
Beth

[2017-03-01 08:41] #202 closed

[2017-03-01 08:41] #212 closed

[2017-03-01 11:10] julaiti commented on #225
@mtmorgan Thanks for your updated review. I'll work on the problem that you pointed out.

[2017-03-01 15:58] mtmorgan commented on #258
This looks like a really well-written package, congratulations!

##  Build commands

* `R-dev CMD build motifcounter`: Works

* `R-dev CMD INSTALL motifcounter_0.99.0.tar.gz`: Works

* Good clean build with no issues as shown [here][]. Good job!

[here]: http://bioconductor.org/spb_reports/motifcounter_buildreport_20170123075819.html)

## DESCRIPTION

* The `Description:` in the file doesn't conta

[2017-03-01 18:46] hpages commented on #279
Thanks for submitting PathwaySplice. The package has many serious problems that prevent its inclusion in Bioconductor. It will need to go thru a major refactoring with a lot more focus on quality and usability. See below for the details.

Regards,
H.

**Broken examples**

1. Almost all the examples in your man pages are broken. You've wrapped them inside `\donttest` directives, so `R CMD check` do

[2017-03-01 19:50] LiNk-NY commented on #239
Hi Yungil @ipw012,
Thank you for submitting to Bioconductor.
Please find your package review below.
If you have any questions, please feel free
to contact me.

Regards,
Marcel

---

### Package

* Does your package really have to be named RIVERpkg?
It seems like it would be better to omit the "pkg" part
of the name and leave it at RIVER.
* As it pertains to the version bump, although it is not nec

[2017-03-01 19:56] lawremi commented on #293
This package looks really nice. The assay components should probably have the same name as the accessors, for clarity. So `$motif_scores` instead of `$scores`. For `match_motifs()` why not just make the default of `bg` be explicit, instead of `NULL`?  I think `get_nuc_freqs()` could just pass `as.prob=TRUE` to `letterFrequency()`. In which case, do you really need `get_nuc_freqs()`? Could just mak

[2017-03-02 02:41] vobencha commented on #183
I'll take a look at this tomorrow.
Valerie

[2017-03-02 02:42] vobencha commented on #229
I'll take another look at this tomorrow.
Valerie

[2017-03-02 03:32] AliciaSchep commented on #293
Thanks for the feedback.  I will update the assay components, and remove the unneccessary `paste0 `in `stop` calls.

For the `bg` argument, I can see that being more explicit would be better, although I think the reason I hadn't done this was because if the input is a GenomicRanges then the sequence is first extracted from BSgenome before being passed to get_nuc_freqs. Perhaps an alternative for g

[2017-03-02 04:19] skyhorsetomoon opened #294 "(inactive) Trumpet2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet2

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-03-02 04:19] #294 closed

[2017-03-02 07:51] skyhorsetomoon opened #295 "(inactive) Trumpet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/skyhorsetomoon/Trumpet

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2017-03-02 07:51] #295 closed

[2017-03-02 11:26] mknoll commented on #270
Thanks a lot for the feedback - the mentioned points are really helpful.

I'm still working on the different issues.

[2017-03-02 11:43] mtmorgan commented on #145
Your package needs to be accepted first. To be accepted it needs to be built on the 'single package builder' Usually, commits to your package should trigger a build. It seems that this is not the case for your package. Please ensure that you have the 'web hook' installed correctly, following the instructions at https://github.com/Bioconductor/Contributions#additional-actions 'To debug package comm

[2017-03-02 15:11] vobencha commented on #183
When I run R CMD check on the data package I see 3 warnings and 2 notes. Everything needs to be fixed except this note:
* checking installed package size ... NOTE
  installed size is 80.4Mb
  sub-directories of 1Mb or more:
    data  80.2Mb

Valerie

[2017-03-02 15:12] vobencha commented on #185
Are you planning to submit another version or should I close this issue?

Valerie

[2017-03-02 15:15] MTZimmer opened #296 "(inactive) RITANdata"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MTZimmer/RITANdata

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-03-02 15:15] #296 closed

[2017-03-02 15:46] vobencha commented on #217
Thanks for making the changes. The package looks good and I'm approving it. The RMySQL on the mac is expected and won't be fixed anytime soon since the binaries aren't available from CRAN.

Valerie

[2017-03-02 15:47] vobencha commented on #217
You'll get an email in the next few days with svn credentials and instructions for working on the package in svn.

Valerie

[2017-03-02 16:11] vobencha commented on #245
Thanks for the work you've done to improve the package. I'm marking as accepted and you should get an email in the next few days with svn credentials and explaining next steps.

Valerie

[2017-03-02 16:24] george-weingart commented on #145
Hello Martin,

I added the webhook.
Can you look at that and make sure our package ('banocc") gets reviewed ?

Thanks!

George Weingart PhD
Huttenhower Lab
Harvard School of Public Health

[image: Inline image 1]

On Thu, Mar 2, 2017 at 3:43 AM, Martin Morgan <notifications@github.com>
wrote:

[2017-03-02 16:29] wkopp commented on #258
Thank you very much for your positive review! The above stated points sound reasonable. I'll work on them in the next couple days.

[2017-03-02 16:31] vobencha commented on #292
Looks good. My only suggestion is to add a \details section to the man page that tells more about the object. A very thorough example would be \details on ?GAlignments describing the GAlignments class. Another (less thorough) example is the ?VCF man page. You may not need the level of detail in ?GAlignments, but I think it's useful to touch on what the class basically is, mention slots if appropri

[2017-03-02 17:09] BioSok commented on #183
Dear @vobencha ,
I address all warnings and currently both packages have the OK label.
-Sokratis

[2017-03-02 18:21] wrightrc commented on #185
Yes, I will submit another version. Sorry for the delay. I will have an updated version including your suggestions by March 17.

[2017-03-02 18:47] lawremi commented on #292
For the directory location, you could use the standard cache directory as laid out by the XDG standard, via the rappdirs package on CRAN.

The vignette should put more emphasis on the workflow at the end. Currently, the vignette is more like a manual than a demonstration. How does one use this in practice?

What about lazy caching, where if the remote resource has already been cached, it's used au

[2017-03-02 20:29] ipw012 commented on #239
Hi Marcel @LiNk-NY,

Thank you for reviewing my package in detail. I will incorporate your comments/suggestions sometime early next week. In the meantime, I have some follow questions/responses regarding your comments in line below.

**Package**

Does your package really have to be named RIVERpkg?
It seems like it would be better to omit the "pkg" part
of the name and leave it at RIVER.
_I current

[2017-03-02 21:56] MonkeyLB commented on #259
@mtmorgan Hi, Thank you very much for your kind suggestions. I have revised my code accordingly, and the system checks returned OK. Please let me know if I need to do further polishing or something. Again, thank you very much for your comments and insights.

[2017-03-02 22:17] mtmorgan commented on #259
Thank you I have marked the package as accepted. It will be added to the Bioconductor svn repository and nightly builds over the next few days, with additional information available then.

[2017-03-02 22:26] mtmorgan commented on #145
Can you please trigger a build by commiting to the master branch? It should show up here as being built by the SPB. If not then likely there is a problem still with the web hook.

[2017-03-03 08:07] MartinFXP commented on #245
Great. Thanks for all the feedback.

Martin

[2017-03-03 08:35] gacatag commented on #217
Great!
Thank you for your comments.

Cheers!
Ali

[2017-03-03 15:43] BioinfoMonzino commented on #272
Dear @mtmorgan ,
thanks for your suggestions.
As you correctly supposed, we were working on our code to increase the control tests on data used as input for all the functions of our package. So, we have added further checks for the type of object and their contents. The user is advised with “warnings” and “stops” if the required conditions are not satisfied.
Furthermore, we modified the 1: … items

[2017-03-03 17:04] davidsebfischer opened #297 "(inactive) https://github.com/YosefLab/ImpulseDE2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have

[2017-03-03 17:04] #297 closed

[2017-03-03 17:05] davidsebfischer commented on #297
BiocCheck flags the version number 0.99.0 as a warning, this is required in the BioConductor guidelines though.

[2017-03-03 17:06] davidsebfischer opened #298 "(inactive) https://github.com/YosefLab/ImpulseDE2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have

[2017-03-03 17:06] #298 closed

[2017-03-03 17:07] davidsebfischer opened #299 "(inactive) https://github.com/YosefLab/ImpulseDE2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have

[2017-03-03 17:07] #299 closed

[2017-03-03 17:08] davidsebfischer commented on #299
Version number 0.99.0 yields BiocCheck warning, did not change this as this features in the online guidelines.

[2017-03-03 17:26] vobencha commented on #183
Thank you. I'm marking the software and data packages as approved. You will get an email in the next week with svn credentials and next steps.

Valerie

[2017-03-03 17:36] vobencha commented on #229
Taigo,

I am not feeling good about this workflow. It's true that workflows are expected to use larger data and run longer than software or experimental data packages this one is really pushing the limits.

## General comments:
I tried to build TCGAWorkflow on my linux laptop with 8 cores and 16 GB RAM and it almost ground to a halt - I had to kill it. This indicates either inefficient code, attem

[2017-03-03 18:00] LiNk-NY commented on #207
Hi @Zouter,
Thank you for considering Bioconductor.
Unfortunately, you response level has been low and it makes it difficult to communicate appropriate changes to your package. If you would like your package to be reconsidered with the appropriate changes, please create another issue submission.
Best regards,
Marcel

[2017-03-03 18:00] #207 closed

[2017-03-03 18:14] tiagochst commented on #229
Hi Valerie,

I agree with you, I'll keep a complete version in github and I'll create a small/faster version for Biocondutor.

1) I will remove: getFirehoseData, GDCquery(), GDCquery_maf()
2) I'll improve the loop

3) and 4.

I was adding a floating toc: http://bioinformaticsfmrp.github.io/TCGAWorkflow/methods.html
But I can remove it, if it is not accepted.  I was just trying to make it more orga

[2017-03-03 19:04] MTZimmer opened #300 "RITANdata"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MTZimmer/RITANdata

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2017-03-03 20:04] vobencha commented on #229
Comments in https://github.com/Bioconductor/Contributions/issues/229#issuecomment-284028696 sound good, thank you.

Valerie

[2017-03-03 23:08] wangj26 opened #301 "multiOmicsViz"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wangj26/multiOmicsViz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2017-03-03 23:12] mtmorgan commented on #301
@lshep will review your package, but a basic observation is that it should interoperate with other Bioconductor packages -- minimally, your functions should accept SummarizedExperiment objects and make use of GenomicRanges infrastructure.

[2017-03-04 09:42] #245 closed

[2017-03-04 09:42] #259 closed

[2017-03-04 09:42] #183 closed

[2017-03-04 09:42] #217 closed

[2017-03-04 09:48] aayushraman opened #302 "DASC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2017-03-05 18:47] smisaleh commented on #196
I would just like to follow up as it has been a month since I last received an update. Please let me know if there is anything additional that I need to do.

[2017-03-05 20:43] davidsebfischer opened #303 "ImpulseDE2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YosefLab/ImpulseDE2

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2017-03-05 20:44] davidsebfischer commented on #303
BiocCheck flags version number 0.99.0 as a warning when I run it - this is required by Bioconductor guidelines though. Happy to change this as required.

[2017-03-05 23:20] mtmorgan commented on #303
I'll provide a more extensive review once the package has been built by the single package builder. As an initial comment, it will be necessary to modify your package to work with [SummarizedExperiment](https://bioconductor.org/packages/SummarizedExperiment) so that your users can benefit from integration with other Bioconductor packages and work flows. This might be straight-forward, e.g., testin

[2017-03-06 02:30] aayushraman opened #304 "(inactive) DASC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have

[2017-03-06 02:30] #304 closed

[2017-03-06 02:36] aayushraman opened #305 "DASC -- New package for Batch Detection"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/aayushraman/DASC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Bi

[2017-03-06 03:23] skyhorsetomoon commented on #283
Hi there
I want to know whether the Windows build and check my package Trumpet system lack of the GenomeInfoDb package or your build and check system in Windows whether has been updated.
Thank you for my answer

[2017-03-06 04:25] aayushraman commented on #305
There is a change in the maintainer's mail id to 982869874@qq.com. It has been updated on the DESCRIPTION file under DASC package.

[2017-03-06 12:38] lshep commented on #283
We are investigating the S4Vectors/GenomeInfoDb ERROR on tokay2 (windows).  In the meantime please try to fix the TIMEOUT error on malbec2 (linux).  Also please fix the NOTES for no visible global function definition for and no visible global binding for global variable.  There are suggested added imports in the build report to assist with this
[code]
also see in  R ?globalVariables for help with

[2017-03-06 13:40] lshep commented on #301
Thank you for your interest in Bioconductor. Please see the following comments:

**General:**
 - [ ] Please correct the ERRORS, WARNINGS and NOTES found in the [build report](http://bioconductor.org/spb_reports/multiOmicsViz_buildreport_20170303181654.html#malbec2_buildsrc_anchor)

**Vignette:**

 - [ ] add installation instructions for your package
[code]
This will also take care of the installin

[2017-03-06 13:53] davidsebfischer commented on #303
Thanks for the comments! Pushed 0.99.1:
1. Added SummarizedExperiment as a valid input type (as matCountData).
2. Addressed check time outs - reduced three examles with run-time >1min on your server in function annotation: fitSigmoidModels, updateDEAnalysis, plotHeatmap.
Reduced long example in vignette (Heatmap).
3. Registered for mailing list.
4. S4Vectors does not seem to be available on tokay2

[2017-03-06 14:01] carleshf opened #306 "rexposome"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/isglobal-brge/rexposome

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read t

[2017-03-06 16:47] melsiddieg commented on #138
Hi @hpages

Please have a look at the current version of CellbaseR, I have pushed fixes to issues 7 and 8 which are the only big issues remaining I guess. The build report mentions some issues with the Windows build that I think is related to Windows machine rather than the package.

[2017-03-06 22:17] wangj26 commented on #301
Question:  does the output always have to be saved to a file? could it be run interactively? what format is the output saved as?
Reply: This is visualization package. The output file is a heat map saved in a png file.

Question: Why is there a limit of 3 target omics?
Reply: Usually, researchers do not have more than three types of data. And more target omics data will take longer time to plot the

[2017-03-06 22:41] wangj26 commented on #301
Hi Ishep,

I got the error in windows like

Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  there is no package called 'Biobase'

But I do not use Biobase in the package.

Could you please give me some suggestion about how to fix this problem?

Thanks,

[2017-03-07 05:18] aayushraman commented on #305
Hello Sir,

We have updated our package. We went through the errors reported in the above link. As per our `DESCRIPTION` file, we have mentioned that `NMF`, `cvxclustr` and `Biobase` packages (as Imports) are required by our package. We tried building our package with and without the above packages. We didn't get any error when the packages, however, got the exact same error when it was not presen

[2017-03-07 11:53] lshep commented on #301
The Biobase is an issue on our end and are in the process of resolving.  Thank you for your other changes; I will review again shortly and advise with anymore feedback.

[2017-03-07 13:40] DragonDuck commented on #276
Thank you for the comprehensive review! I've made the changes. There are no specific system requirements, so I've left the entry blank.

[2017-03-07 16:33] lshep commented on #292
Thank you for the suggestions

Updates:

 - [X] a details section has been added to the man page describing both the class
   object and what is tracked in the sqlite database
 - [X] the default cache location now utilizes rappdirs::user_cache_dir
 - [X] updated bfcadd and bfcrpath to allow for a more automated search and
   add to cache
 - [X] added schema/version check for when there are updates

[2017-03-07 19:42] vobencha commented on #305
The single package builder (SPB) report shows errors and timeouts:
http://bioconductor.org/spb_reports/DASC_buildreport_20170306051600.html

The package must pass R CMD build and check on all 3 platforms before I do a full review. Please change the version to 0.99.1 and bump the 'z' portion each time you want the SPB to do a new build. For example, 0.99.2, 0.99.3, 0.99.4 etc.

All of this is docum

[2017-03-08 01:29] george-weingart commented on #145
Hello Martin,

I forced a commit to the master branch.
Can I trouble you to check if that triggers a build ?

To remind you,  we are talking about an update to the "banocc" package that
is located in https://github.com/george-weingart/banocc

Thank you!

George Weingart PhD
Huttenhower Lab
Harvard School of Public Health

[image: Inline image 1]

On Thu, Mar 2, 2017 at 2:26 PM, Martin Morgan <noti

[2017-03-08 05:09] menggf opened #307 "(inactive) decd: A tool for differential expression analysis and exploratory investigation to complex diseases using big data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/menggf/decd.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-03-08 05:09] #307 closed

[2017-03-08 05:25] menggf opened #308 "(inactive) decd: A tool for differential expression analysis and exploratory investigation to complex diseases using big data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/menggf/decd.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2017-03-08 05:25] #308 closed

[2017-03-08 10:57] mtmorgan commented on #145
@george-weingart almost! you can see on the issues page that bioc-issue-bot added the 'VERSION BUMP REQUIRED' label, so your web hook is working. A build is triggered when the DESCRIPTION  file Version: field is incremented, for you that means making a commit that changes the version from 0.99.0 to 0.99.1.

[2017-03-08 13:14] lshep commented on #292
Okay.  Everything seems to be straightened out now.  Please see the above comment for the changes.  The most recent ERROR had to do with normalizing and expanding the paths on windows to account for "\\" vs "/"   and how normalizePath works on each system.

[2017-03-08 13:58] lshep commented on #301
Thank you for the changes.  I will recommend your package be accepted.  Please leave the issue open and you will receive svn instructions via email (normally within a week) for inclusion in Bioconductor devel.

I would consider future revisions and be mindful on feedback for:
1. increasing the limit beyond 3 target omics to allow for greater flexibility. it shouldn't effect the time if researchers

[2017-03-08 14:05] lshep commented on #283
It seems you have edited the first entry of submission and there is no longer a link to your github repository nor acceptance of the conditions to submit to Bioconductor.  Please revise or consider resubmitting when you are ready for review.

[2017-03-08 14:24] rauschenberger opened #309 "semisup"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rauschenberger/semisup

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2017-03-08 14:34] mtmorgan commented on #309
@hpages will review this package, but I note that it makes no use of other Bioconductor packages, including standard ways of representing genomic coordinates (GRanges from the GenomicRanges package) and experimental data (SummarizedExperiment class and package). Please update your package to work with these objects, so that Bioconductor users may more easily and robustly interoperate with your pac

[2017-03-08 15:11] wangj26 commented on #301
Hi Ishep,

I will increase the limit for the omics data.

For the output format, because the output may be a very big heat map, output as a pdf may be very difficult for the users to open it and use it for the publication. Thus, we finally select the png format that has a good resolution and can be easily used for the publication.

Thanks for all your helpful comments!

[2017-03-08 15:13] lshep commented on #301
Thank you for the clarification.
Cheers and welcome to Bioconductor

[2017-03-08 16:11] wkopp commented on #258
Dear @mtmorgan,

I've addressed almost all of the considerations.

# DESCRIPTION
I have added a more comprehensive Description as well as an explicit Depends on
R >= 3.0. Note that this caused warnings during the last build. How do I address that? Or can I ignore that warning?

# R
- I went over all error and warning messages and corrected the misleading ones.
- I introduced the S4 Classes `Backgr

[2017-03-08 16:28] LiNk-NY commented on #219
Hi Beth @betsig,
Sorry about the delay. This is an issue with the build system and not the package. The build on the other systems looks good.

Regards,
Marcel

[2017-03-08 16:37] george-weingart commented on #145
Hi Martin,

What do we need to do now?  I don't see yet our package in the Build Report.

Thanks again for your help !

George Weingart PhD
Huttenhower Lab
Harvard School of Publich Health

[image: Inline image 1]

On Wed, Mar 8, 2017 at 2:57 AM, Martin Morgan <notifications@github.com>
wrote:

[2017-03-08 16:59] mtmorgan commented on #145
Look at the github issue you opened when you submitted your package https://github.com/Bioconductor/Contributions/issues/145 .

Notice toward the bottom that the bioc-issue-bot  says that you a 'VERSION BUMP REQUIRED'.

Go to your git package repository, and commit a change that increments the version in the DESCRIPTION file from 0.99.0 to 0.99.1.

Return to the issue https://github.com/Bioconduct

[2017-03-08 18:04] LiNk-NY commented on #219
Hi Beth @betsig,
Your package is close to approval!
Just make a few minor changes and it will be ready.

* Avoid growing a vector - See the preallocate and fill section in the [package guidelines](http://www.bioconductor.org/developers/how-to/efficient-code/#vectorize) and [R/predictBranchpoints.R#318](https://github.com/betsig/branchpointer/blob/master/R/predictBranchpoints.R#L318) in your code.

[2017-03-08 18:57] LiNk-NY commented on #227
Hi Xiaotao @jaspershen,
Please re-establish the webhook for your package.
See this [webhook link](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook) for more details.

Regards,
Marcel

[2017-03-08 22:07] mtmorgan commented on #145
Looks like there is a small problem that you can fix -- importing functions from a package -- do so and commit your change along with a version bump to 0.99.2.

[2017-03-08 22:13] LiNk-NY commented on #264
Hi Pascal @belleau,
Thank you for submitting to Bioconductor!
Your package name is quite similar to [methylInheritance](https://github.com/Bioconductor/Contributions/issues/265).
This may cause some confusion for users.
Please consider renaming the package or even merging both packages into one.

---

## methylInheritanceSim

### Grammar
* Avoid the use of `1:n` type of code. Try using `seq_len` o