[2022-03-04 17:41] #2547 closed, assigned to nobody

[2022-03-04 18:02] rossinerbe opened #2548 "(inactive) ATACCoGAPS"
- Repository: https://github.com/FertigLab/ATACCoGAPS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Packa

[2022-03-05 01:42] chrarnold opened #2549 "(inactive) GRaNIE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chrarnold/GRaNIE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-03-05 01:42] #2549 closed, assigned to nobody

[2022-03-05 01:48] chrarnold opened #2550 "(inactive) GRaNIE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chrarnold/GRaNIE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-03-05 01:48] #2550 closed, assigned to nobody

[2022-03-05 09:42] rocioespci commented on #2528
Yes, I know. I meant I had made an rmd file in rmarkdown format and I tried to compile that file with Biocstyle and I obtained errors which I didnt manage to solve. That is why  then I made all the vignette again in Sweave. The markdown file is not on the github package anymore.

[2022-03-05 18:16] chrarnold opened #2551 "(inactive) GRaNIE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chrarnold/GRaNIE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-03-05 18:16] #2551 closed, assigned to nobody

[2022-03-05 18:18] chrarnold opened #2552 "(inactive) GRaNIE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chrarnold/GRaNIE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-03-05 18:18] #2552 closed, assigned to nobody

[2022-03-06 09:13] EmanuelSoda opened #2553 "(inactive) ScreenR package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/EmanuelSoda/ScreenR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-03-06 09:13] #2553 closed, assigned to nobody

[2022-03-06 09:15] EmanuelSoda opened #2554 "(inactive) ScreenR package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/EmanuelSoda/ScreenR

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2022-03-06 09:15] #2554 closed, assigned to nobody

[2022-03-06 09:21] EmanuelSoda opened #2555 "ScreenR package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/EmanuelSoda/ScreenR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-03-07 12:21] lyoussar commented on #2492
We are currently working on that. We will let you know once its finished.
Thank you for your comprehension.

[2022-03-07 12:21] #2548 closed, assigned to nobody

[2022-03-07 14:07] #587 closed

[2022-03-07 14:32] chrarnold opened #2556 "GRaNIE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chrarnold/GRaNIE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-03-07 15:30] rossinerbe opened #2557 "ATACCoGAPS"
- Repository: https://github.com/FertigLab/ATACCoGAPS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Packa

[2022-03-07 21:26] LiNk-NY commented on #2507
**Update**:

I was able to parse R files and remove empty lines in `BiocCheck` but I can't get rid of the comments because of the way that `parseFile` works. Even if the actual comment text is removed in the parsed data `data.frame`, the line indices in the data do not change resulting in the same calculation of line numbers. It's a little complicated but it's better to not remove lines that conta

[2022-03-07 22:08] YuanningEric opened #2558 "EpiMix"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gevaertlab/EpiMix.data

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-03-08 00:52] PeteHaitch commented on #2508
Hi @tanlabcode and @shanedrabing,

Thank you for your submission to Bioconductor.
There are a few Required points, as well as some Recommended points, that I would ask you to first please address before acceptance into Bioconductor.

Cheers,
Pete

## Required

### Improvements to vignette

- The vignette must include (non-trivial) executable code chunks. 'Static' vignettes are not acceptable (http

[2022-03-08 01:01] PeteHaitch commented on #2495
Hi @lujunyan1118,

How are you going with addressing the review comments?
We like to see some activity on the issue within 3 weeks.
It's no problem if it's taking longer, but we will close the issue and you can re-open it when you are ready.

Cheers,
Pete

[2022-03-08 01:01] PeteHaitch commented on #2485
Hi @nilshoffmann ,

Do you wish to proceed with the submission?
We like to see some activity on the issue within 3 weeks.
It's no problem if it's taking longer, but for now I will close the issue and you can re-open it if you wish to proceed and when you are ready.

Cheers,
Pete

[2022-03-08 01:15] PeteHaitch commented on #2533
Hi @yavyx,

Please see the [build report](http://bioconductor.org/spb_reports/gemma.R_buildreport_20220225085026.html) for some issues that need to be addressed and ask here if you require assistance.
Once we have a clean build, I will begin my review of **gemma.R**.

Cheers,
Pete

[2022-03-08 03:13] yavyx commented on #2533
Hi @PeteHaitch,

I addressed the issues from the build report and pushed the changes to the Github repo last week, but I can't push to the Bioconductor repo since I was not the maintainer in the initial submission. I e-mailed [maintainer@bioconductor.org](mailto:maintainer@bioconductor.org) and [bioc-devel@r-project.org](mailto:bioc-devel@r-project.org) last Wednesday  to change the maintainer but

[2022-03-08 03:23] PeteHaitch commented on #2533
Oh, thanks for letting me know and sorry that's it been an issue.
I see the thread at https://stat.ethz.ch/pipermail/bioc-devel/2022-March/018843.html
Hopefully someone from the core team will get back to you shortly (pinging @nturaga and @vjcitn)

[2022-03-08 06:39] tsvali commented on #2442
Dear Kayla,

Thank you very much for the review. I will take a look at these and get back to you.

Best Regards,
Tommi Välikangas

[2022-03-08 08:00] lujunyan1118 commented on #2495
Hi @PeteHaitch , I am still working on it. Hopefully I can submit it again next week.

Best,

Junyan

[2022-03-08 08:54] PeteHaitch commented on #2495
That's totally fine, thanks for the update :)

[2022-03-08 14:16] lgatto commented on #2481
Here's my full review - as you will see, some point are redundant with the comments @hpages. Please do have a look at those that are domain related, in particular interoperability with other metabolomics and mass spectrometry packages in Bioconductor.

## General package development

- The package size is 5.1M, which is close to the 5M limit. But nearly
  half of that is taken by the `inst/rmarkdo

[2022-03-08 14:42] lgatto commented on #2529
Hello - I pushed a minor update on github (version 0.99.1 with some typos fixed and some rephrasing) and I would have assumed that it would have propagated here. Or not?

[2022-03-08 18:35] nilshoffmann commented on #2485
Hi @PeteHaitch ,

thanks for the heads up.
I will try to address the remaining issues until the end of this week.

Cheers,
Nils

[2022-03-08 18:46] hpages commented on #2507
I see. Well, never mind. At least the NOTE about function length is only a note so helps remind people about the importance of breaking down complicated logic into small/simple functions. Thanks for taking a look at this!

H.

[2022-03-08 20:26] Kayla-Morrell commented on #2505
@LucaAnholt,
Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## DESCRIPTION

- [ ] SUGGESTION: The Description field in the DESCRIPTION

[2022-03-08 21:39] LiNk-NY commented on #2507
One compromise is to remove lines that are _only_ comments, i.e., start with a `#`.
I can look into this a bit further.
Thanks!

[2022-03-08 22:58] qpmnguyen commented on #2449
@jianhong @lshep Hi! I have finished revisions to the package and I am ready to re-do the submission process. Please let me know if I can re-open this issue to push new changes.

[2022-03-09 01:29] keita-iida commented on #2524
We appreciate Bioconductor's careful review.
Getting the above message, we look forward hearing from the reviewer's instructions.

Keita Iida

[2022-03-09 08:16] HelenaLC commented on #2526
- There's currently a `README.md` and `README`,
please remove the latter (blank) one.

- As I said previously, in the vignette, I'd recommend
directing users to relevant external packages (e.g., line 59).
You can hyperlink them via `BiocStyle::CRANpkg("package_name")`
(or `Githubpkg` or `Biocpkg`, depending on where the package sits).

- I am not too familiar with MS data, but the example data is

[2022-03-09 09:47] LiesaSalzer commented on #2526
Thanks again for this feedback @HelenaLC !!
I just made a commit with you requested changed (if possible):

Done! I probably missed it before.

Thanks for pointing that out again! Now I know how to do it :)

To answer that question I need to explain a little bit more of the functions:
So `mobilityTransformR `can handle different inputs, i.e. numeric vectors, `Spectra `Objects (From the `Spectra `P

[2022-03-09 10:40] HelenaLC commented on #2526
If I remember correctly, @lgatto, you're familiar with MS data? Could you advise whether it is possible to reduce `.mzML` data for use in examples or how other packages deal with file size limitations? Currently, the data is filtered based on `rt` and `mz` (see comments above) Any input would be greatly appreciated 🙏

[2022-03-09 12:16] vjcitn commented on #2541
Package builds to 8MB which is too big. But it can be reviewed.

[2022-03-09 12:17] vjcitn commented on #2516
Checking in again.

[2022-03-09 12:22] vjcitn commented on #2492
[code]
please use a more descriptive name for your vignette.  and try to beat the error by ensuring that the colData method can be found.  use imports, library etc. as necessary.

[2022-03-09 12:22] vjcitn commented on #2492
of course colData should not be used with data.frame.

[2022-03-09 12:28] lyoussar commented on #2492
We are still working on SummarizedExperiment. We are not yet done.

[2022-03-09 12:29] vjcitn commented on #2482
Please add prefixes to your vignette titles so they are ordered meaningfully in the page generated by help.start()

[2022-03-09 13:13] lshep commented on #2507
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/hpages.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-03-09 13:13] #2507 closed, assigned to LiNk-NY

[2022-03-09 13:13] lshep commented on #2453
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/gtca.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acco

[2022-03-09 13:13] #2453 closed, assigned to LiNk-NY

[2022-03-09 18:33] keller-mark commented on #2516
Hi @vjcitn,
Due to other obligations I will likely not be able to prioritize the refactor of this package until mid-April, would you prefer that I close this and re-open at that point?

[2022-03-09 20:40] vjcitn commented on #2516
take your time  @lshep can advise if u should close

[2022-03-09 22:29] jianhong commented on #2537
# Package 'pareg' Review
I have trouble in checking the package via devtools:check(document = TRUE) on my computer, I have error "Python module tensorflow_probability was not found.". I am not sure how to figure this out. Once I figured out that, I can come back to review the documentation part.

## The DESCRIPTION file
- [ ] R version should be no less than 4.2

## The NAMESPACE file
- [ ] Select

[2022-03-10 06:53] lgatto commented on #2529
Error above addressed: I have now added the package to my watched tags on the support site.

[2022-03-10 14:06] Deisiany commented on #1752
Hello Hervé,

I have tried a couple of things and for some reason *GenomeInfoDb* 1.31.4
version is not available, even deleting R, and Rstudio, and then installing
everything again, the latest version that I am getting
is GenomeInfoDb_1.28.4. which does not contain the soy sequences.
I have also removed and installed packages a couple of times as well as
force installed GenomeInfoDb with "BiocMana

[2022-03-10 14:21] lshep commented on #1752
What version of R are you installing?  What is your `sessionInfo()`    GenomeInfoDb 1.31.4 will only be available using R devel (R 4.2.0) and Bioconductor version 3.15.

[2022-03-10 14:34] Deisiany commented on #1752
I am on a Mac.

Here is my info:

R version 4.1.2 (2021-11-01)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Monterey 12.2.1

Matrix products: default
LAPACK:
/Library/Frameworks/R.framework/Versions/4.1/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     dat

[2022-03-10 14:36] lshep commented on #1752
That version of R (4.1.2) is only available for Bioconductor 3.14.  The new assemblies were added to Bioconductor devel 3.15 and requires R-devel (R 4.2.0)

[2022-03-10 14:53] ococrook commented on #2521
Hi @lazappi

Trying to fix a couple of things but there are two things that I don't make sense to me at the moment. The first is the warning from R CMD Check pertains to:

`Warning: multiple methods tables found for 'bin'
Warning: multiple methods tables found for 'compareSpectra'`

However, we don't import `bin` or `compareSpectra` from any packages, so I'm not sure how to remove this warning.

T

[2022-03-10 14:56] lshep commented on #2516
yes lets mark as inactive for now.  When you are ready with changes, simply comment back here that you would like the issue reopened.  Cheers,

[2022-03-10 14:56] #2516 closed, assigned to nobody

[2022-03-10 17:03] Kayla-Morrell commented on #2529
@lgatto - great, I'm working on the initial review now and should have it posted by tomorrow.

[2022-03-10 18:21] lgatto commented on #2529
Thank you @Kayla-Morrell - no hurry at all, and thank you for reviewing the package.

[2022-03-10 22:47] Deisiany commented on #1752
Thank you for the clarification.

I got R-devel working on my Mac. The problem is, now I have bioconductor
3.15 which seems to be unstable at the moment or at least that is how R
defines it.
Also, I cannot load GenomeInfoDb or a couple other packages such as
Biostrings under bioconductor. All of them kind of share the fact that
RCurl is missing. I tried to install RCurl in many different ways, but

[2022-03-11 00:14] hpages commented on #1752
Hi @Deisiany,

Very little information provided here to help you with the **RCurl** issue. In particular where did you get R devel from? How did you install **RCurl**? What error you got when trying to install it?

The easiest way to install R devel is to download it from https://mac.r-project.org/. Since you seem to have an Intel-based Mac, you should grab `R-devel.pkg` for high-sierra (even if y

[2022-03-11 08:22] LiesaSalzer commented on #2526
Or maybe also @jorainer ?

[2022-03-11 08:46] jorainer commented on #2526
Filtering by `rt` is usually a good first thing to do. I assume you have centroided data? If not you could centroid it. Let me know if you need help on that.

The ideal thing would be to add this file to the `msdata` package maybe? That's where we have most of our (small) test files. Best to contact @sneumann or @lgatto if you want to add the file there.

[2022-03-11 10:17] lazappi commented on #2520
Hi @mass-a

Thanks for submitting **UCell** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

**Key:** :

[2022-03-11 11:12] lazappi commented on #2521
The build report isn't available anymore so I can't properly check but I think this happens when two packages create the same generic. I suspect this is not coming from your package (because I don't think you define either of these) so for now address the other comments and we will see if this is still happening on the build system.

Could you provide a more specific example? I was able to build t

[2022-03-11 12:22] lshep commented on #2521
@lazappi  you can view older build reports at http://staging.bioconductor.org:8000/

[2022-03-11 13:10] rocioespci commented on #2528
Hi @lshep
I've done the corrections suggested by bioc-issue-bot and push the changes both to git0hub and bioconductor's git, also bumping the version in the description. I did not receive any message of the bot trying to build it again. Is there anything wrong? How should I proceed?

[2022-03-11 13:17] lshep commented on #2528
would you mind trying once more to push a version bump to git.bioconductor.org?  We were having some issues with the SPB earlier in the week; I thought I resolved them but if not I can investigate further

[2022-03-11 13:23] rocioespci commented on #2528
Sure. I changed my version in DESCRIPTION file (to 0.99.2), added,commited,pushed and I didn't get any email from the bot so far. Is this what you meant by "push a version bump" ?

[2022-03-11 13:24] lshep commented on #2528
yes thank you; I'll investigate into why its not triggering.

[2022-03-11 13:40] lshep commented on #2528
in the meantime I will trigger a build manually

[2022-03-11 13:46] rocioespci commented on #2528
Cool, thanks

[2022-03-11 14:13] Deisiany commented on #1752
Hi Hervé,
sorry, I included the error and apparently forgot to add the command.
I did download R-devel.pkg for high-sierra, and it was from the source you
provided above.

Here is my output:

*> valid()'getOption("repos")' replaces Bioconductor standard repositories,
see '?repositories' for detailsreplacement repositories:    CRAN:
https://cran.rstudio.com/ <https://cran.rstudio.com/>[1] TRUE*

Al

[2022-03-11 14:54] nturaga commented on #2528
Hi @rocioespci Can you try to push a version bump please? (we'd like to see if the problem is fixed)

[2022-03-11 15:06] rocioespci commented on #2528
Hi @nturaga
Yes. Done.
I still don't get any automatic e-mail. :(

[2022-03-11 17:05] mcjmigdal commented on #2496
@vjcitn I believe all is working as intended now.

We had some small changes to README and vignette after the last successful build. These changes should not have much impact, the change in vignette adds `eval=FALSE` chunk showing how data can be loaded directly from `xcoredata` package, instead of `ExperimentHub` we wanted to have it as an option to work with R4.1. However, it seems I can not tri

[2022-03-11 17:10] Deisiany commented on #1752
Hi,

I was able to find a way around this.
by going through the package pages and manually installing the RCurl
package.
Then I also needed to install other dependencies which were giving the
same error message.
For that I used the R-devel packages URL *https://cran.r-project.org/
<https://cran.r-project.org/> *
That way I could install all dependencies needed.
For example:
install.packages("rtrac

[2022-03-11 18:15] lshep commented on #2528
We are trying to track it down. currently all the other packages in the review system are working as normal so it is isolated to your package which is making it difficult

[2022-03-11 18:47] lshep commented on #2528
Okay, I think we finally figured it out and hopefully should be resolved

[2022-03-11 20:14] Deisiany commented on #1752
Hi Hervé,
 Could you please send me the link to your .2bit?
 The link above leads me elsewhere.
 Also, I was able to get the 2.bit I am just not sure how it should look like so I would like to see an example to confirm if what I did is correct.

 Thank you!!

[2022-03-13 12:26] almeidasilvaf opened #2559 "cogeqc"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/almeidasilvaf/cogeqc

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-14 08:14] LiesaSalzer commented on #2526
Thanks @jorainer for the response!
I already have centroid data :)

I will talk to Steffen about `msdata`, thanks for that suggestion!

[2022-03-14 11:08] mass-a commented on #2520
Hello Luke,
thanks for the review!

Please find my responses below.

Most notes should be solved now. There are a few long lines and lines not indented by 4, but these are mostly auto-generated by roxygen for the man pages.

Done.

Done.

This is the only point I am reluctant about. Renaming all the functions would probably cause problems to active users and compatibility with existing pipelines.

[2022-03-14 12:29] jorainer commented on #2526
Yes, I think that would be the best/cleanest solution.

[2022-03-14 12:34] lshep commented on #2391
Was this ready for a re-review? If so,  could you please summarize your changes

[2022-03-14 12:43] lshep commented on #2522
Please remember to update the README and vignette with Bioconductor installation instructions. Cheers

[2022-03-14 14:50] lshep commented on #2497
I'm sorry for the delay in response; I missed this message.  Please ignore the support site error for now.  We have identified the issue on the support site and should have a fix pushed up over the next 2 weeks.

[2022-03-14 14:53] lshep commented on #2275
any progress on potentially improving the efficiency of the functions that are taking long run times?

[2022-03-14 14:56] lshep commented on #2383
@alimahdipour  may we expect any updates soon. The package must build/check without ERROR/TIMEOUTS for a more indepth review and we like to see progress in a 3-4 week time frame.

[2022-03-14 14:57] #2434 closed, assigned to LiNk-NY

[2022-03-14 14:59] lshep commented on #2426
@Carla-Radames  please respond to the previously posted questions/concerns.

[2022-03-14 15:27] vjcitn commented on #2427
please use utils::read.csv in zzz.R

[2022-03-14 15:54] vjcitn commented on #2556
[code]

I am going to pass this package into single package build so that you can fix it.  thanks for your submission.

[2022-03-14 16:00] vjcitn commented on #2558
Please do not use the name vignette.Rmd for your vignette.    Also, when attempting to check your package I get
[code]
Please be sure to install your package and check it with R CMD check on a clean system so that another person attempting this will succeed.

[2022-03-14 16:09] vjcitn commented on #2559
Package looks good.  But you are doing something with Herper and miniconda.  We would like our python interoperations to proceed through the basilisk protocol.  Please see the vignettes for Aaron Lun's basilisk package  in Bioconductor.

[2022-03-14 16:29] almeidasilvaf commented on #2559
Hi, @vjcitn. I imported Herper just to make things easier for users who want to run BUSCO from an R session. An easier workaround would be to remove the native interoperation with Herper in `cogeqc` and let users do it by themselves if they want to, or install BUSCO manually. This way, the package itself wouldn't depend on any framework to interoperate with conda (neither Herper nor basilisk), and

[2022-03-14 16:55] LiNk-NY commented on #2530
Hi Brendan, @bmill3r

Thank you for your submission. Please ensure that you are interoperating with Bioconductor infrastructure
as stated in the https://contributions.bioconductor.org/bioconductor-package-submissions.html#subintro.
Please see the review below.

Best,
Marcel

---

# STdeconvolve #2530

* Please use existing Bioconductor interfaces to spatial transcriptomics data,
e.g. support for `

[2022-03-14 17:11] almeidasilvaf commented on #2559
Hi, @vjcitn, I have just removed the native integration with Herper. I think the best thing to do is to let users decide how they want to handle the external dependency. I have also included BUSCO (>=5.1.3) in the SystemRequirements field of my DESCRIPTION and added a side note in one of the vignettes to let users know they can use Herper to handle the external dependency if want they want.

[2022-03-14 17:25] da-bar commented on #2427
Hi @vjcitn
Sorry for the delay with this. I managed to remove all the warnings and build the package.

[2022-03-14 17:32] jianhong opened #2560 "interactionHub"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jianhong/interactionHub

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-03-14 18:01] chrarnold commented on #2556
Hi there, in the vignette, there is no explicit path being mentioned (I just checked again), I am a bit confused where the absolute path you posted here comes from?

[2022-03-14 18:03] vjcitn commented on #2556
we'll find out in testing locally   i know it is not in vignette   it has something to do with templating

[2022-03-14 18:07] lshep commented on #2556
FWIW I can also reproduce the error locally on my machine
[code]

[2022-03-14 18:20] chrarnold commented on #2556
Ok I will try this today on my local machine and see where it comes from! I am on it, thanks.

[2022-03-14 18:52] LiNk-NY commented on #2546
Hi @sagun98

Thank you for your submission. Please see the review below.

Best regards,
Marcel

---

# Macarron #2546

## DESCRIPTION

* Ensure the package name in the `Description` field is updated to the new
name.
* Consider wrapping text in the `Description` field to an 80 char width limit.

## NAMESPACE

* The main function's letter case should match that of the package.
* Consider using a mor

[2022-03-14 19:02] lgatto commented on #2560
One quick comment/suggestion here - the package name caught my attention and reading the description, I would suggest to use a more specific name. Indeed, the package focuses on Hi* data and genomics interaction, but the *interaction* concept suggest a much broader scope, including among others interaction between proteins or proteins with other molecules, direct and indirect interactions, ... So

[2022-03-14 19:17] jianhong commented on #2560
@lgatto Thank you for the suggestion. I will resubmit the package after renaming.

[2022-03-14 19:17] #2560 closed, assigned to nobody

[2022-03-14 19:22] jianhong opened #2561 "(inactive) GenomicInteractionHub"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jianhong/GenomicInteractionHub

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-03-14 21:26] MarcElosua commented on #2488
Apologies for the delay in answering to the comments, finishing up a round of modifications and will update by the end of the week.

[2022-03-14 22:11] MarcElosua commented on #2488
I want to update

[2022-03-14 22:28] yavyx commented on #2533
Hi @PeteHaitch,
I could finally figure out the SSH access and the build is passing now.

[2022-03-15 00:39] qxdu commented on #2426
Thank you sir. Sorry for not being able to answer you in time. I have been busy with my graduation thesis, and also not able to get the advice from the author of Hisat. I have fixed major problems, including your advice on tests file, functionality and so on. But I haven't added the User-guide file.
I have check the Rbowtie2 and sure that I should remove AdapterRemoval. But I could only fix the la

[2022-03-15 02:30] YuanningEric commented on #2558
Hi Vince,

Thanks for the review !

I have renamed the vignette.md. I tried to build the package in a clean environment but could not reproduce the issue. It was very surprised to  see the error, because "EpiMix" is one of the main exported functions of this package. So, if the package has been installed, then the function should exist.

Could you please fetch the updated repository and build it a

[2022-03-15 02:48] YuanningEric commented on #2558
@vjcitn Please also note that the  "EpiMix.data" package is the supporting data package of  "EpiMix".  They are stored in two different git repositories. I assume that the error occurred when you tried to build the main "EpiMix" package.

[2022-03-15 03:25] LiNk-NY commented on #2488
Hi @MarcElosua,
You should be able to re-open the issue once and push changes once you are ready.
Best,
Marcel

[2022-03-15 03:49] qxdu commented on #2426
@nturaga I forgot to @ you before. I have fixed the problem you said. But about vignettes, I'm little bit not sure because I only wrap the Hisat package as a R format, without new functions added.  I've emailed the author of hisat asking for suggestions, but still haven't gotten any response so far. Therefore I did not extend new functionality.
Thanks for your kindness.

[2022-03-15 09:03] bhuvad opened #2562 "(inactive) ExperimentList"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DavisLaboratory/ExperimentList

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-03-15 09:03] #2562 closed, assigned to nobody

[2022-03-15 09:09] bhuvad opened #2563 "ExperimentList"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DavisLaboratory/ExperimentList

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-03-15 09:35] lgatto commented on #2563
I discovered this package and was wondering what was its relation, if any, with the mature `MultiAssayExperiment` package that serves a very similar purpose and already defines the class `ExperimentList`. This is very confusing.

[2022-03-15 09:51] bhuvad commented on #2563
Hi @lgatto,

This package is quite different from the ExperimentList provided by `MultiAssayExperiment`. `MultiAssayExperiment` provides an interface to host multiple experiments as a list whereas the `ExperimentList` package I implemented concatenates these objects using `cbind()` and then provide features of both lists and a single Experiment object. This hybrid interface is particularly benefic

[2022-03-15 12:42] pkrog opened #2564 "biodbExpasy extension package for biodb"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbExpasy

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-03-15 16:29] kpj commented on #2537
@jianhong: Thanks a lot for your review. I changed most of things you mentioned, it should be mostly fine now.

One question, how can I fix this note:
[code]

[2022-03-15 17:25] Lionir commented on #2391
Not yet, almost done, want to perform a bit more graceful file catching.

[2022-03-15 18:11] MarcElosua commented on #2488
Here are some comments on previous your previous round of revisions @LiNk-NY

## NAMESPACE

* Functions that start with a period are not meant to be exported. Please
rename the functions or unexport.

## vignettes

* Images should be in the vignettes folder unless they're used by R in some
other way (re: `schematic.png`).

* Consider simplifying the examples with `lapply` e.g, filtering by
`mean.A

[2022-03-15 18:17] chrarnold commented on #2556
I know the reason now. In order to fix it, I'd like to query here what the maximum time is the vignette code is allowed to run.

[2022-03-15 19:40] Danis102 commented on #2275
Hi Isep,

I am very sorry for the delay. Research never stand still, for the last few weeks,  I have had to focus my attention on updating one of the main functions in seqpac to accommodate some research questions in our biological/molecular projects. The good news is that seqpac is now even better! I am doing the last tests right now, and hope to attend to the efficiency issues short thereafter.

[2022-03-15 22:45] PeteHaitch commented on #2563
Hi @bhuvad,

I was also curious about **ExperimentList**, but after reading the documentation I think you may need to revisit the motivation for this package.
I didn't see a good example of things that could be done (or done more easily) with **ExperimentList** that couldn't already be done with **SummarizedExperiment**/**SingleCellExperiment**/**SpatialExperiment**.
I'm not sure if these issues r

[2022-03-15 23:54] PeteHaitch commented on #2533
Thanks @yavyx!
I'll have a review for you by the end of next week (but hopefully sooner).

[2022-03-16 00:16] bhuvad commented on #2563
Hi Pete,

The examples you show above are the exact reasons I figured an object along with basic accessors would simplify the analysis process. Continuing the example of the 10x Visium datasets in the vignette, storing patient-specific annotations is possible by repeating the annotation (e.g., age) for each spot in the `SpatialExperiment`, however, this ends up creating redundant copies of data in

[2022-03-16 11:32] lshep commented on #2556
I believe the time limit is 10 min for software packages but ideally far less than that.  Remember it is often sufficient to use a small dummy dataset to show functionality and proof of principle.

[2022-03-16 15:25] LiNk-NY commented on #2563
Hi Dharmesh, @bhuvad

I'm the developer of `MultiAssayExperiment` / `ExperimentList` and I agree with Laurent and Pete.

In addition to the points mentioned by Pete and Laurent, the implementation of the class includes a subset of other classes which makes your package more difficult to maintain in the long run when new classes come about. We wrote `ExperimentList` with less restrictive requiremen

[2022-03-16 15:50] lgatto commented on #2482
Hi @jaspershen - here are a few comments to consider before going to a detailed review:
1. The vignettes need to be amended to fit a Bioconductor package rather than a pkgdown webpage. This is also true for [masstools](https://github.com/Bioconductor/Contributions/issues/2481).
2. There needs to be an example that is actually run. Currently, the code in the vignette that is supposed to convert raw

[2022-03-16 18:40] LiesaSalzer commented on #2526
Hi @HelenaLC
Now the data was moved to the `msdata` package, which is currently in the Bioc development version.
I replaced therefore in the vignette and unit test loading the data into:
[code]
and added `msdata (>= 0.35.3)` in `suggest` in the `DESCRIPTION`.
When I run the vignette on my computer everything runs fine, but as you can see I am getting repeatedly the error message from the build rep

[2022-03-17 00:38] bhuvad commented on #2563
Hi @LiNk-NY, @PeteHaitch and @lgatto,

I really appreciate you looking into my package and for taking the time to provide such detailed feedback! Based on your feedback, I realise that there may be better ways to tackle the problem I was trying to address. I realise the mistake I made regarding duplicate naming, and I do agree that that is not ideal (I have seen the issues the `SpatialImage` class

[2022-03-17 02:45] liuana opened #2565 "(inactive) 卡卡卡啊"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2022-03-17 02:45] #2565 closed, assigned to nobody

[2022-03-17 10:16] nilshoffmann commented on #2485
@PeteHaitch I am ready to recommence with the submission. How do I reopen the issue?

[2022-03-17 10:24] jorainer commented on #2526
maybe just increase the version to start a new build? Maybe it takes some time for the `msdata` to be properly available/installed on the build machines?

[2022-03-17 11:19] lshep commented on #2526
I just went on merida1 (macos) and tested the code manually and it seems to work so I would agree to wait it out and see if it clears up on its own.  If it doesn't let me know and I can investigate further. Please also remove `MobilityTransformR.html` from the vignette directory; vignettes should be built through the build/check process automatically.

[2022-03-17 12:16] pkrog opened #2566 "biodbNcbi extension package for biodb"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbNcbi

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-03-17 13:30] nilshoffmann commented on #2485
Current status of requested changes:

### Required

- [x] The vignette must demonstrate interoperability with other Bioconductor software. It sounds like some thought has been given to demonstrating use cases or examples, so if you add a section to the vignette that will suffice. (I would advise against directly including rgoslin in one of these other packages because I suspect it will complicate

[2022-03-17 16:32] lazappi commented on #2520
Thanks! I have a few follow up comments but overall I think this is looking pretty good and we can probably approve this once you respond to these.

I think this is probably reasonable as this is a more mature package than average. @lshep please jump in if the core feels more strongly about this.

Could you please add what processing has been done to the data, if any (i.e. what the matrix values a

[2022-03-17 21:42] PeteHaitch commented on #2485
Thanks, @nilshoffmann.
Please post a message once you're done addressing the review comments and I'll take another look

[2022-03-17 22:00] PeteHaitch commented on #2563
Hi @bhuvad,

Thank you for your consideration and appreciation of the feedback.

I had a vague idea that @ltla had implemented something like a split+apply+combine function for SummarizedExperiment objects, but I can't seem to find it now so perhaps I imagined it or it was abandoned.
Hopefully Aaron can chime in.

The closest I can find off the top of my head is `SingleCellExperiment::applySCE()`,

[2022-03-17 22:27] jaehyunjoo opened #2567 "qmtools"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/HimesGroup/qmtools

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-03-17 22:32] #2563 closed, assigned to nobody

[2022-03-17 22:48] jaehyunjoo commented on #2567
This is a continuation of https://github.com/Bioconductor/Contributions/issues/2476

Please assign @lshep

Based on the previous review, we renamed the package as qmtools (quantitative metabolomics tools).

Overall, functions were modified to work directly on the standard SummarizedExperiment class. Addressed the overuse of generic functions and tried to re-use low-level functions from other packa

[2022-03-18 00:35] serachoi1230 opened #2568 "EpiCompare"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/neurogenomics/EpiCompare

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-03-18 08:08] LiesaSalzer commented on #2526
Thanks @lshep for checking!
I removed the `.html` file from the package (it was not intended to be there) and I will wait some more days to see if it will work. :)

[2022-03-18 10:26] mass-a commented on #2520
Thanks @lazappi!

your comments are all well taken.

Moved the test data documentation to a dedicated `datasets.R` file, and included details about the processing.

I finally went for your second suggestion: setting `workers=1` and explaining in writing how the behavior can be altered to parallelise execution.

Updated the documentation to clarify this point, along the lines of your suggestion.

T

[2022-03-18 11:18] dzhang32 opened #2569 "ggtranscript"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dzhang32/ggtranscript

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-18 13:17] jaehyunjoo commented on #2567
@lshep I realized that I had an issue in .gitignore that ignored some of the changes in my *.R files. I fixed that and updated our repository.

I am not sure the changes made in our repository are automatically pushed to Bioconductor submission. If there is anything I need to do for the submission, please let me know.

I am sincerely sorry for the trouble I have caused you.

[2022-03-18 14:37] nturaga commented on #2304
Hi, @dongminjung

Your package looks good, but has warnings in the build report. Please solve them. Issue a new build report as well with a version bump.

I also wonder how you are writing the man packages without using 'roxygen2' when your NAMESPACE suggests you are using 'roxygen2.

[2022-03-18 14:40] nturaga commented on #2304
Please also include the version of Tensorflow and Keras and python you are using in a requirements.txt file included in the `inst/extdata` just for reference sake. We discussed this on a separate thread for your other package 'DeepPINCS'. I believe the same issues might pop up here.

I was wondering if you tried to use `basilisk` (http://bioconductor.org/packages/release/bioc/html/basilisk.html)

[2022-03-18 14:48] nturaga commented on #2426
Thanks for your reply. I'm specifically looking for answers to the questions posted by @csoneson, and it seems like they have not been answered to the degree I would like.

Good luck with your thesis. We can wait till you have more time to respond.

[2022-03-18 17:06] a-mahdipour commented on #2383
@lshep Could you please help me to fix the problem? I just need a bit trick to finalize the package.

[2022-03-18 17:11] lshep commented on #2383
I don't know your code or package.  Your package is currently failing in your own examples, from your own data. I'm not sure what help I can provide?

[2022-03-18 17:40] cytolab opened #2570 "cytoMEM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cytolab/cytoMEM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-03-18 18:55] Kayla-Morrell commented on #2529
@lgatto - Sorry for the delay!
Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## DESCRIPTION

- [ ] SUGGESTION: Consider adding these a

[2022-03-18 20:54] vjcitn commented on #2557
There is no content in the vignette.  Please remedy.  "Tutorial files" set should be managed in a compliant way.

[2022-03-18 20:58] vjcitn commented on #2561
need to fix line 5 of vignette

[2022-03-19 06:48] vjcitn commented on #2568
vignette has no content.  issue filed at base repo

[2022-03-19 07:15] vjcitn commented on #2492
Just checking in.  Any sense on when revisions will be available?

[2022-03-19 07:30] lyoussar commented on #2492
We are on test mode. I hope will be finished by next week. Once pushed,  I will let you know.

[2022-03-19 08:35] vjcitn commented on #2465
what kinds of timings are you getting for CMD check?

[2022-03-19 08:36] vjcitn commented on #2427
I will accept but please add a show method for PFMatrixList

[2022-03-19 08:47] da-bar commented on #2427
Thank you @vjcitn ,
PFMatrixList is a part of TFBSTools, which currently I am not a maintainer, but I can create a show method and push the changes. I might also become the maintainer of the package.

[2022-03-19 11:33] lujunyan1118 commented on #2495
Dear @PeteHaitch

Thanks a lot again for your very helpful comments on our package. We have updated our package to address all the “Required” and “Recommended” changes from you, except for your first comment about the possibility of using PharmacoSet object from PharmacoGx package. We explored this possibility. However, we still think our current solution of using a simple data matrix to store the

[2022-03-19 19:00] chrarnold commented on #2556
I pushed a new version 0.99.1 to the Git today that results in 0 errors or warnings on an external machine with the newest R devel and Biocondutor 3.15. I hope the same is true for the build machines :). I optimized a few things and can summarize if needed. Thanks @lshep and @vjcitn for your input so far!

The issue with BiocFileCache and making sure it redownloads the example object only when nee

[2022-03-20 16:23] RMBarnard opened #2571 "RAREsim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/meganmichelle/RAREsim

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-20 18:14] lgatto commented on #2529
- The `SequenceMatching` tag really doesn't apply.
- I can't change the `sapply()` in `PSMatch-reduce.R` to a `vapply()` because de point here is to verify if the output is converted to a list or a vector.
- I confirm that the `cat()` is used in the `show()` method, but not directly, it's called in the `show()`'s subfunction `showDetails()`.
- I checked the lines > 80 character: they are properly

[2022-03-21 01:32] snikumbh opened #2572 "seqArchR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/snikumbh/seqArchR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-03-21 01:38] ningbioinfo opened #2573 "(inactive) standR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DavisLaboratory/standR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-03-21 01:38] #2573 closed, assigned to nobody

[2022-03-21 01:48] ningbioinfo opened #2574 "standR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DavisLaboratory/standR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-03-21 01:51] gkanogiannis opened #2575 "fastreeR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gkanogiannis/fastreeR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-21 09:08] lazappi commented on #2520
I'm happy with this so I will mark it as approved. Congratulations on getting **{UCell}** into Bioconductor 🎉! It can take a few days for the build system to pick things up but the package should be part of Bioconductor devel soon.

[2022-03-21 09:34] LiesaSalzer commented on #2526
@HelenaLC finally all the issues were solved

[2022-03-21 10:23] HelenaLC commented on #2526
Great, thanks, looks all good to me now. Just a minor comment: There's no right / wrong,
but perhaps consider improving on code style consistency and legibility with time.
E.g., just a few things worth noting (nothing major):

- You almost entirely use 4-space tab indentation, but
vertical alignment in the function definitions only.

- Lines 93+ in `getMt.R` would be easier to comprehend
if functi

[2022-03-21 13:16] VingronLab commented on #2465
To decrease the time we have changed the data set which we use in the vignette, and now R CMD check takes:

real    7m30.138s
user    8m54.135s
sys    0m26.603s

[2022-03-21 14:23] rossinerbe commented on #2557
Thanks, I migrated the file previously labeled tutorial over to the vignette and have removed the non-compliant files.

[2022-03-21 17:36] serachoi1230 commented on #2568
Hi Vince, thank you for your review. I have updated the vignette (uses BiocStyle) and I can also confirm that the package runs through both CMD check and BiocCheck::BiocCheck cleanly. Thank you very much!

[2022-03-21 18:12] qpmnguyen commented on #2449
Hi! Just wondering if there is anything else I can do! I would love to make it into the coming Bioconductor release.

[2022-03-21 18:17] lahuuki opened #2576 "TREG"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LieberInstitute/TREG

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-21 18:19] lshep commented on #2526
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LiesaSalzer.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-03-21 18:19] lshep commented on #2522
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mtmorgan.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-03-21 18:19] #2526 closed, assigned to HelenaLC

[2022-03-21 18:19] #2522 closed, assigned to lshep

[2022-03-21 18:19] lshep commented on #2520
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mass-a.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-03-21 18:19] #2520 closed, assigned to lazappi

[2022-03-21 18:19] lshep commented on #2497
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/rmolbrich.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-03-21 18:19] #2497 closed, assigned to HelenaLC

[2022-03-21 18:19] lshep commented on #2496
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mcjmigdal.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-03-21 18:19] lshep commented on #2427
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/da-bar.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-03-21 18:19] #2496 closed, assigned to vjcitn

[2022-03-21 18:19] #2427 closed, assigned to vjcitn

[2022-03-21 18:19] lshep commented on #2496
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mcjmigdal.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-03-21 19:35] dzhang32 commented on #2569
Hi,

I've updated my email in order to address the current build report ERRORS on the GitHub repo.

However, I'm having trouble pushing the commits to Bioconductor side:

[code]

I have not come across this before. Googling the error `remote: error: hook declined to update refs/heads/main`, it seems this might be related to a hook on the remote end.

I was wondering if you could advise on how to r

[2022-03-21 20:26] chrarnold commented on #2556
Thank you for assigning a reviewer quickly here! I already checked the build report and uploaded a new version 0.99.2 to Github (not Bioconductor yet) which reduces the repo size a lot, I hope I am below the limit now - not sure I can decrease it further with little effort, but let's see what the next build report says. I am not sure but I have an idea where the Windows error comes from (I pushed

[2022-03-21 20:32] cytolab commented on #2570
Hi @Kayla-Morrell,

Error addressed:
- Maintainer subscribed to the bioc-devel mailing list (jonathan.irish@vanderbilt.edu)

Warning addressed:
- Updated class membership checks with is() and == / != to is(x, 'class') for S4 classes

[2022-03-21 21:52] dzhang32 commented on #2569
Hi @ococrook,

Please ignore my above comment, the problem with pushing to the Bioconductor repo was resolved.

The remaining WARNING from BiocCheck is related to the `geom_*` functions missing `@return`/`\value` sections in their  `roxygen2` documentation. The reason for this is as I wasn't sure it made sense to document a `@return` value for geom's; they should only be used in combination with a

[2022-03-21 22:15] PeteHaitch commented on #2576
Super minor comment about the package name: I initially thought this package was concerned with [Regulatory T cells](https://en.wikipedia.org/wiki/Regulatory_T_cell), which are widely known as "Tregs" (pronounced "T-regs").
Don't know if that's worth worrying about.

[2022-03-21 22:38] PeteHaitch commented on #2495
Hi Junyan,

Thank you for updating the package in light of the initial review.
Your rationale for not using _PharmacoSet_ makes sense to me.

Would you please provide line-by-line comments to my initial review so that I know what changes I'm looking for in my re-review (sorry that I forgot to make this clear).
I will then be able to finish the review this week and we should have the package accept

[2022-03-21 22:53] PeteHaitch commented on #2515
Thank you for your submission.
I have been assigned to review **SUITOR** and will provide my review within 2 weeks.

Cheers,
Pete

[2022-03-21 23:16] chrarnold commented on #2556
I checked the new build report, and I noticed 2 things:
1. Timeout for R CMD check after 15 minutes (I'd like to see what takes up the most time, but this is unfortunately not shown)
2. The Package Source tarball exceeds Bioconductor size of 5 Mb (13 MB)

I do not know how to satisfy these with a reasonable effort.
1. My package is quite large, has many functions and each of them, as required and

[2022-03-22 03:43] Honchkrow opened #2577 "(inactive) SignacSlim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Honchkrow/SignacSlim

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-22 03:43] #2577 closed, assigned to nobody

[2022-03-22 07:46] pkrog opened #2578 "biodbMirbase extension package for biodb"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbMirbase

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-03-22 11:47] pkrog opened #2579 "biodbNci extension package for biodb"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbNci

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-03-22 12:24] jianhong commented on #2561
@vjcitn Thank you for point it out.

I fixed this typo. But I did not see update here. Do you know the reason?

Jianhong.

[2022-03-22 12:28] lshep commented on #2561
pushes that trigger builds happen after the package is assigned a reviewer and is review in progress. @vjcitn were pre-review changes/comments

[2022-03-22 12:31] ococrook commented on #2569
Hi @dzhang32

I'll ignore the warning for the moment and continue with reviewing the package. One option is to add a `@return`, but add documentation that the users are not meant to manipulate these `geom_*` functions in isolation. I think this would be better for developers and would help if the package ended up having a large number of contributors.

Looking forward to reviewing the package, wil

[2022-03-22 12:46] lujunyan1118 commented on #2495
Hi Peter,

Please see below for the line-by-line response to your initial comments.
Please let me know if further modifications are needed. Thanks again for
your effort!

*Required*
• Are there opportunities to better integrate with existing Bioconductor
infrastructure for the analysis of pharmacogenomics data? In particular, I
thought of the work of @bhklab on PharmacoGx. Admittedly, pharmacogeno

[2022-03-22 12:59] lujunyan1118 commented on #2495
Hi Peter @PeteHaitch ,

Please see below for the line-by-line response to your initial comments.
Please let me know if further modifications are needed. Thanks again for
your effort!

### Required

- Are there opportunities to better integrate with existing Bioconductor
infrastructure for the analysis of pharmacogenomics data? In particular, I
thought of the work of @bhklab on PharmacoGx. Admitted

[2022-03-22 13:40] dzhang32 commented on #2569
Thanks for getting back to me @ococrook.

I did think about that option for the same reasons you suggest and fell on the fence. With your advice, I am more convinced of the benefit and in addition, it'd be nice to have no WARNINGS. I will implement these `@return` statements alongside making the changes in response to your review.

Look forward to hearing from you.

[2022-03-22 13:51] jianhong commented on #2449
# Package 'CBEA' Review
The package passed check and build. It is almost there. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] R version should be no less than 4.2
- [ ] NOTE: Consider adding these automatically suggested
      biocViews: DataImport

## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line

[2022-03-22 14:12] jianhong commented on #2294
# Package 'epimutacions' Review
The package passed check and build.  It is almost there. However there are several things need to be fixed.

## R code
- [ ] `vapply` instead of `sapply`.
	* In file R/epi_quantile.R:
		+ at line 124 found '      red_df$cum2 <- c(red_df$cum[1], sapply(seq(2, nrow(red_df)), function(ii) {'
- [ ] `::` is not suggested in source code unless you can make sure all the pa

[2022-03-22 14:24] jianhong commented on #2537
Did you tried to import it from `reticulate` package?

[2022-03-22 14:49] jianhong commented on #2543
# Package 'nnSVG' Review
The package passed check and build. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] `Depends` field is not found in DESCRIPTION.
- [ ] R version is not clear in DESCRIPTION.

## R code
- [ ] `vapply` instead of `sapply`.
	* In file R/nnSVG.R:
		+ at line 213 found '  loglik_lm <- sapply(seq_len(nrow(spe)), function(i) {'
- [ ] NOTE: Avoid

[2022-03-22 15:17] smes7eves opened #2580 "(inactive) unable to deploy shiny app to shinyapp.io (Bioconductor source)"
Hi,
I have the same problem as in [this post](https://community.rstudio.com/t/unable-to-deploy-shiny-app-to-shinyapp-io-problem-maybe-accessing-packages/101930) that had no answers.
Basically, when I try to deploy my InteractiveComplexHeatmap, the action is interrupted

Execution halted

Any suggestions would be appreciated, thanks!

[2022-03-22 15:17] #2580 closed, assigned to nobody

[2022-03-22 15:23] smes7eves opened #2581 "(inactive) unable to deploy shiny app to shinyapp.io (Bioconductor source)"
repository https://github.com/jokergoo/InteractiveComplexHeatmap
Hi,
I have the same problem as in [this post](https://community.rstudio.com/t/unable-to-deploy-shiny-app-to-shinyapp-io-problem-maybe-accessing-packages/101930) that had no answers.
Basically, when I try to deploy my InteractiveComplexHeatmap, the action is interrupted

Execution halted

Any suggestions would be appreciated, thanks!

[2022-03-22 15:23] #2581 closed, assigned to nobody

[2022-03-22 15:23] vjcitn commented on #2580
restart Rstudio ... options(repos=BiocManager::repositories()) ... ensure that no package in use has been installed from source ... all must come from Bioconductor or CRAN.  then publish event should not generate this error.

[2022-03-22 16:48] Jfortin1 commented on #2511
Good morning, is there something I can do to move this forward? I would like to submit `crisprBwa` soon so that we can also submit our major package for CRISPR gRNA design called `crisprDesign`.

[2022-03-22 16:51] nturaga commented on #2511
Hi @Jfortin1 I'll send you the package review today. Can you issue a new build please?

[2022-03-22 17:35] nturaga commented on #2511
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## man

ok

## tests

good

## src

- I'm guessing this is just the BWA source code copied into the `src` folder?

## R

- Use `system2` instead here: https://github.com/Jfortin1/Rbwa/blob/master/R/xa2multi.R#L65, it's more robust than `system`. The same change should be made in other places where `system` is used.

- Overall, good code.

## Vignette

[2022-03-22 18:06] Jfortin1 commented on #2511
Thank you @nturaga. I've now addressed your reviews (see below) and pushed the latest version:

## src

I'm guessing this is just the BWA source code copied into the src folder?

JP: yes.

## R

Use system2 instead here: https://github.com/Jfortin1/Rbwa/blob/master/R/xa2multi.R#L65, it's more robust than system. The same change should be made in other places where system is used.

JP: thank you fo

[2022-03-22 18:29] nturaga commented on #2511
Thanks, @Jfortin1 ! Package accepted.

Hope things are well otherwise.

[2022-03-22 18:42] vjcitn commented on #2556
Hi, thanks for the submission, we really hope it is possible to review it.  But you'll have to do some work.  The 5MB limit is met by over 1000 packages submitted since the standard was imposed.  You have 5+MB of png and that is quite uncommon.  You might want to serialize a pdf with the detailed information.  But the size limit is firm.  As for timeout, again all packages have to meet that standa

[2022-03-22 18:56] chrarnold commented on #2556
Thanks, I will try my best - but I am going on vacation for 3.5 weeks on Saturday, only returning mid April, so not sure acceptance of the package can be finalized by April 20th, lets see.

Maybe I can explain to you how we currently do it with the PNGs: The functions that produce plots produce a PDF file with multiple (often many) pages. In the detailed Workflow vignette, we run all main function

[2022-03-22 19:04] vjcitn commented on #2556
The graphics problem you describe needs to be solved in another way.  I don't have a specific solution at the moment, you might ask in slack on developer forum channel.

the longtests should behave as advertised; if you are doing too many examples, cut it down and provide code for users to run additional examples as needed.

[2022-03-22 19:07] chrarnold commented on #2556
Thanks, for the examples that is fine - I recall that 80% of the functions must have a running example (and I tried to follow), otherwise a Bioc warning is raised - but if this is more negotiable and the more time-consuming ones can be skipped that would be a start.

Is it possible, if ok with Bioc, to only include a "package details" Vignette (see hre: https://grp-zaugg.embl-community.io/GRaNIE/a

[2022-03-22 19:32] nilshoffmann commented on #2485
@PeteHaitch I have added an example usage with lipidr in the vignette and have addressed all of your remarks. Only the external check of Makevars by @vjcitn is still open.

[2022-03-22 19:56] Jfortin1 commented on #2511
Thanks @nturaga !

[2022-03-22 21:42] Jfortin1 opened #2582 "(inactive) crisprBwa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[crisprBwa]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x

[2022-03-22 21:42] #2582 closed, assigned to nobody

[2022-03-22 21:43] Jfortin1 opened #2583 "crisprBwa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprBwa

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2022-03-23 01:42] lmweber commented on #2543
Thank you for the review! I have made the following updates:

---

Added, done.

Added, done.

I have replaced the `sapply` with `vapply` with type `numeric(1)`, thanks.

This was a typo and is now fixed, thanks.

Done. I kept the earlier `n_threads` argument for users who are not familiar with how `BiocParallel` works, and added `BPPARAM` directly for advanced users.

Done, added in vignette. The

[2022-03-23 02:00] lmweber commented on #2543
The new WARNING in the build report has noted the installation code in the vignette. Is there a recommended way to remove this? I included `eval=FALSE` so it shouldn't be evaluated.

[code]

[2022-03-23 02:20] lmweber commented on #2543
I tried commenting out these lines of code in the vignette code block, but it still returns the WARNING:

[code]

[2022-03-23 02:51] lmweber commented on #2543
Note that I still receive the WARNING even when I replace the installation section with a completely text-based section (without any `BiocManager` code), as follows.

I think `BiocCheck()` is doing a search for any text about installation and returning a WARNING.

[code]

[2022-03-23 02:59] lmweber commented on #2543
I managed to remove the warning by:

- removing `BiocManager` code
- also removing link to the [Bioc-devel](https://www.bioconductor.org/developers/how-to/useDevel/) page (not sure why this was also causing the warning though)

[2022-03-23 03:30] lmweber commented on #2543
Not sure why it is taking longer to build now than the earlier version. Locally it builds in a few minutes.

[2022-03-23 04:17] Lionir commented on #2391
@lshep Any chance to specify the timecodes of the vignette building? On my mac machine, the building takes ~8-9 mins, similar to ubuntu and windows machines, which makes it difficult to identify the cause of the delay on merida. That's the last part before responding to the review. Would be greatly appreciated.

[2022-03-23 04:24] PeteHaitch commented on #2485
Thanks, @nilshoffmann!
I'll take a look in the next few days (although might not be until next week)

[2022-03-23 04:30] alexchwong opened #2584 "ompBAM"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alexchwong/ompBAM

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-03-23 04:41] lmweber commented on #2543
I reduced the size of some of the examples, so this has brought it back under the time limit for the builder. Thank you!

[2022-03-23 08:08] lazappi commented on #2521
@ococrook Did you have any luck with these issues?

[2022-03-23 08:19] ococrook commented on #2521
Still going in circles with the biobase build warning, will clear up the other issues in the next couple of days.

[2022-03-23 09:23] kpj commented on #2537
Ah great, that's where its definition was hiding!
Thanks a lot, I'll push an update.

[2022-03-23 10:16] kpj commented on #2537
In this update, I had to set `LazyData: true` in DESCRIPTION as recommended in the [data documentation](https://r-pkgs.org/data.html).
Otherwise, e.g., building the vignettes crashes with `object 'pathway_similarities' not found`.

[2022-03-23 10:28] Keniajin commented on #2460
###  General package development
- Removed the files/directories aren't normally included in Bioconductor package

### DESCRIPTION
- Removed the many packages listed on depends
- Removed `rlang` in depends
- Removed one of the `factoextra` files
- Updated the required packages in the NAMESPACE
- Updated the R version to 4.2
- Added Suggests in Description
-  Added some of the suggested biocViews

[2022-03-23 11:33] vjcitn commented on #2557
[code]
Need in Suggests in DESCRIPTION?

[2022-03-23 12:28] vjcitn commented on #2557
[code]
you should not be downloading data from github for your vignette.  it should be in ExperimentHub.  @lshep

[2022-03-23 12:29] vjcitn commented on #2557
also the various installation instructions do not belong in the vignette.  see the guidelines for the standard advice.

[2022-03-23 16:16] lmweber commented on #2543
I updated R version dependency to 4.2 for now, following discussions about this on Bioc Slack (in channels `#bioc-builds` and `#package-submission`).

I think this requirement is too restrictive, since it makes it difficult for users to install the package from GitHub (in the time between now and the Bioc-release date) if they are using the release version of R instead of R-devel.

I will think ab

[2022-03-23 17:34] LiNk-NY commented on #2488
Hi Marc, @MarcElosua

These are all related. The general recommendation is to avoid creating methods for classes that are not your own. If for example, `SpatialExperiment` decides to export a `plotImage` method, then that would create a conflict with your method. Also shouldn't this method live in the `SpatialExperiment`'s namespace rather than in another package (yours)?

The alternative is to cr

[2022-03-23 17:39] Lionir commented on #2391
@lshep good evening. Fixed the comments below, ready for the re-review. Please note, some of the bullets I provided with **bold** comments to address them. Thank you!

[2022-03-23 17:43] vjcitn commented on #2558
I need to understand this better.
[code]
Is your package downloading data from github?  Instead you have to use ExperimentHub.

[2022-03-23 17:43] vjcitn commented on #2558
@lshep ^^

[2022-03-23 17:55] lshep commented on #2558
@vjcitn  / @YuanningEric   Bioconductor does not allow data to be stored on github.  It minimally must be on a public server at an Institution or something like Zenodo and implement a caching like system (like BiocFileCache) for managing downloads.  Bioconductor provides opportunity for hosting data through Bioconductor provided location.  We encourage data to be distributed through the Experiment

[2022-03-23 18:09] andreaskapou opened #2585 "scMET: Bayesian modelling of DNA methylation heterogeneity at single-cell resolution"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/andreaskapou/scMET

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-03-23 22:16] rossinerbe commented on #2557
Okay, I refactored the vignette to use a subset of the data that's small enough to reasonably include under data/
I also used the subset to make the examples easier to run.

I removed installation instructions from the vignette as well

And I added the repmis package to Suggests

Thanks for your help!

[2022-03-24 00:48] PeteHaitch commented on #2485
Hi @nilshoffmann

Some additional comments based on the changes:

- [x] Shouldn't have **testthat** in `LinkingTo`
- [x] Consistent use of `<-` instead of `=` in vignette (this was automatically fixed by running `styler::style_pkg(filetype = "Rmd")`)
- [x] Need `library(stringr)` and `library(ggplot2)` in echoed and evaluated chunk in vignette, otherwise a user copy-pasting the code from the rende

[2022-03-24 09:05] vjcitn commented on #2574
vignette has
[code]

do not do this.  please create an ExperimentHub contribution.   @lshep

[2022-03-24 09:14] vjcitn commented on #2575
Thanks for this submission.  We have to ask for some changes prior to review:
[code]
You should use BiocFileCache for this retrieval process so that it is not repeated needlessly for our build system or for users.  Please see the BiocFileCache vignette and pose any questions about its use to the bioc-devel mailing list.

For the following:
[code]
it is of some concern that `old_refseq` are being u

[2022-03-24 09:20] vjcitn commented on #2579
Precheck leads to vignette outputs:
[code]
they don't look right to me.

[2022-03-24 09:25] vjcitn commented on #2576
The vignette proceeds without defining TREG until reader has passed a few screens.  Because "Treg" is used in immunology to refer to regulatory T cells this is potentially confusing.  The vignette title should be changed to spell out the  abbreviation in situ: "How to find Total RNA Expression Genes (TREGs)"

[2022-03-24 09:28] vjcitn commented on #2584
Is this right?  Vignette run on m1 mac.  So many zeroes?
[code]

[2022-03-24 09:35] pkrog commented on #2579
The bug you have mentioned is related to to `biodbNcbi`, not `biodbNci` (names are very close, sorry about that).
I see it inside `biodbNcbi` and will look at it immediately, thanks.

[2022-03-24 09:36] vjcitn commented on #2585
This is a very interesting submission.
[code]
magrittr should not be needed insofar as R 4.1 includes `|>`.  Also you have a particular format for single cell data and do not use Bioconductor's SingleCellExperiment class.  This will increase efforts for users to transform the customary representation to your format.  Please introduce converters or adapters or add code to accommodate this represent

[2022-03-24 09:44] alexchwong commented on #2584
@vjcitn  Yes it is correct. This example file is the first 50k alignments of a coordinate-sorted bam, so it is expected all the alignments belong to chromosome 1. It is a small bam file so that it can be included as 'extdata' within the package.

[2022-03-24 09:44] vjcitn commented on #2579
OK, I will leave this comment.  The Nci package is ready for review.

[2022-03-24 10:35] nilshoffmann commented on #2485
Hi @PeteHaitch
thanks for the style fixes. Spaces versus tabs, I see :-).

* I have incorporated the fixes from your diff patch.
* I have added all libraries required to run the **lipidr** example to an eval = FALSE block.
* I have removed RTools from the vignette, it is now only mentioned in the README.md with an explicit remark that only installation from source code may require that, but not re

[2022-03-24 10:44] pkrog commented on #2579
The vignette in `biodbNcbi` has been corrected.

[2022-03-24 11:07] ningbioinfo commented on #2574
Hi @vjcitn ,
Thanks for the suggestion.
I just had a read of the ExperimentHub vignette, do you mean I need to write the data as a ExperimentHub package while upload the data to the S3 bucket? Or I'll just wait for a pull request on github?

[2022-03-24 11:47] kpj commented on #2537
@jianhong: should be ready for another review now :-)

[2022-03-24 12:04] vjcitn commented on #2574
You can use ExperimentHub protocol to produce a reference from the hub to your S3 resource.  Then your vignette code would be modified to use ExperimentHub, which would implicitly cache reusable resources for the user.  Please read the doc on ExperimentHub or HubPub. If you have questions post to bioc-devel.

[2022-03-24 12:08] lshep commented on #2574
We recommend using the ExperimentHub for increased visibility of the data outside the package and because it has a caching mechanism built into the back end.   Minimal updates to your package for ExperimentHub would include creating the needed metadata.csv file,  adding the biocView ExperimentHubSoftware, requesting the data be added to the hub database, and than slightly altering your code to use

[2022-03-24 12:18] aspaor opened #2586 "(inactive) InterTADs"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/InterTADs

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-03-24 12:18] #2586 closed, assigned to nobody

[2022-03-24 12:21] aspaor opened #2587 "(inactive) InterTADs"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/InterTADs

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-03-24 12:21] #2587 closed, assigned to nobody

[2022-03-24 12:50] gkanogiannis commented on #2575
Dear @vjcitn thanks for the recommendations.
I updated vignette to use `BiocFileCache` for caching downloaded sample vcf and fasta files.
I updated vignette to use latest refseq links for downloading some example bacteria genomes.
Version bump to 0.99.1 (on github repository).

[2022-03-24 13:05] aspaor opened #2588 "(inactive) InterTADs"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/InterTADs

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-03-24 13:05] #2588 closed, assigned to nobody

[2022-03-24 16:22] Jfortin1 commented on #2511
Hi @nturaga, I still cannot see Rbwa in https://www.bioconductor.org/checkResults/3.15/bioc-LATEST/#C -- do I need to do anything else?

[2022-03-24 16:23] nturaga commented on #2511
@lshep will better answer this question.

Nitesh Turaga
Scientist II, Department of Data Science,
Bioconductor Core Team Member
Dana Farber Cancer Institute

[2022-03-24 16:24] lshep commented on #2511
I have not run the ingest for accepting packages yet.  I will do so shortly.  Once that occurs the package will appear in the build report within 48 hours.

[2022-03-24 16:27] lshep commented on #2511
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-03-24 16:27] #2511 closed, assigned to nturaga

[2022-03-24 16:27] Jfortin1 commented on #2511
ah thanks @lshep !

[2022-03-24 16:29] qpmnguyen commented on #2449
Hi @jianhong! Thank you very much for the prompt review! I've addressed your comments below. Let me know if there are any issues!

 ## The DESCRIPTION file
 * [x]  R version should be no less than 4.2
 * [x]  NOTE: Consider adding these automatically suggested
   biocViews: DataImport
        I added the BiocView but my package isn't really an infrastructure package

## The NAMESPACE file
* [x]  S

[2022-03-24 17:14] lcolladotor commented on #2576
We are thinking of changing the package name. Should we close this issue and re-submit if we do that?

[2022-03-24 17:15] lshep commented on #2576
Yes that would be the easiest.  Especially since its still in pre-check

[2022-03-24 17:15] lshep commented on #2576
Just reference this issue so we know to add pre-check passed

[2022-03-24 18:14] bmill3r commented on #2530
Hi Marcel @LiNk-NY,

Thank you so much for the detailed submission review. I have tried to address as much of the comments as possible. Please see below for my responses. A new version bump will be submitted momentarily to trigger a new build (version 0.99.7).

#

- [x] Please use existing Bioconductor interfaces to spatial transcriptomics data, e.g. support for SpatialExperiment and use of TENxVi

[2022-03-24 18:37] lcolladotor commented on #2576
Hi everyone!

Thanks for the feedback! We've decided to keep the `TREG` name for now. We:

* Changed the title as Vince Carey suggested
* Added a note on the top of the README and the vignette re-using some of Pete's words at https://github.com/LieberInstitute/TREG/commit/1b84ce84bdb342c0a5b4e1018e4bf90001ef62da
* Changed the vignette file name

If you think that we should still change the package

[2022-03-24 19:22] Kayla-Morrell commented on #2477
@noriakis -
Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.
Keep in mind that the deadline to accept new packages into the Bioconductor 3

[2022-03-24 19:23] bmill3r commented on #2530
On most recent build I am getting the following error:
[code]

I have not needed this package before. Should this be added under `Suggests` in the `DESCRIPTION` ?

Thanks,
Brendan

[2022-03-24 23:13] ningbioinfo commented on #2574
Hi @lshep, many thanks for the advises.
I've made an ExperimentHub package and I've emailed you for my credentials to allow me to upload the data to S3 bucket.

[2022-03-25 11:35] lshep commented on #2574
@ningbioinfo  I don't see a request for credentials. Could you please try  emailing hubs@bioconductor.org again and cc: lori.shepherd@roswellpark.org.  Thanks

[2022-03-25 11:38] ningbioinfo commented on #2574
Hi @lshep , sure I just sent another email for the request.

[2022-03-25 12:28] ningbioinfo commented on #2574
Hi @lshep , did you receive my email for the request? It was sent from liu.n@wehi.edu.au.

[2022-03-25 12:37] lshep commented on #2387
@favorov  could you please respond and update accordingly to @vjcitn  comments above. We like to see progress within 3-4 weeks of comments and feedback.

[2022-03-25 12:40] lshep commented on #2448
@zslastman  may we expect updates soon?  We like to see progress within a 3-4 week time frame of leaving comments and feedback? If you  have an updated version to clean up the ERRORs please remember to activate your GitCredentials account https://git.bioconductor.org/BiocCredentials  and push the update to git.bioconductor.org with a valid version bump to trigger a new build as described http://co

[2022-03-25 12:44] lshep commented on #2523
As the above message indicates, please push changes to git.bioconductor.org to trigger a new build report before a review will continue.  Cheers,

[2022-03-25 12:50] lshep commented on #2541
@mooredf22 Please correct ERROR and TIMEOUT before a more indepth review will continue.

[2022-03-25 12:53] zslastman commented on #2448
Hi Ishep. Yes, sorry for the delay. I'll update by next weekend at the latest.

[2022-03-25 14:00] gkanogiannis commented on #2575
Dear @lazappi, my package requires Java (>=8).
Build on merida1 fails with message "No Java runtime present, requesting install."
Apparently merida1 does not have a JDK (=>8) installed.
Do I need to do something, like some extra setting in my package's DESCRIPTION?

[2022-03-25 14:02] gkanogiannis commented on #2575
Just to add that my package's DESCRIPTION had already the line "SystemRequirements: Java (>= 8)" and indeed nebbiolo1 (ubuntu) and riesling1 (windows) did not have a problem with providing the Java requirement.

[2022-03-25 14:06] lshep commented on #2575
@jwokaty do you know what version merida1 has ?

[2022-03-25 14:07] vjcitn commented on #2234
I am sorry for delay.  In vignette I am seeing
[code]
Is this a demonstration of a deliberately flawed call?  It is not explained.

The legends in the plot from
[code]
are truncated.  The full text is not visible; a "cex" parameter should be used to reduce font size.

This is all in 0.99.15, a current checkout.  Please check over your vignette.  I may have more comments.

[2022-03-25 14:13] vjcitn commented on #2556
Bioconductor submissions should achieve a certain amount of conventionality.  This makes it easier for users to explore and understand what they are getting involved with.   Many developers have made efforts to introduce function and data combinations that demonstrate package capabilities conveniently in the vignette, which typically includes extensive coverage of key functions in the package, tha

[2022-03-25 14:16] lshep commented on #2556
I think trying to split up the package or having a more minimal dataset in the package but then submitting an accompanied workflow package with the more extensive, detailed workflow vignette are two very good options mentioned on the bioc-devel conversation.

[2022-03-25 14:19] jwokaty commented on #2575
[code]

[2022-03-25 14:22] gkanogiannis commented on #2575
Hm, that is weird. JDK is there.
Message " No Java Runtime present,requesting to install " is coming from package rJava.

[2022-03-25 14:33] gkanogiannis commented on #2575
According to answers to [this](https://stackoverflow.com/q/44009058), `JAVA_HOME` environment variable needs to be correctly set up.

[2022-03-25 14:39] lshep commented on #2575
I believe there was a similar conversation recently on the mailing list that JAVA_HOME shouldn't be relied upon but I could be mistaken.  And there are several Bioconductor packages that rely on java on merida1 that are not failing.

[2022-03-25 14:48] gkanogiannis commented on #2575
@lshep you must be right. Something else must be going wrong.
The error message "No Java runtime present, requesting install." is coming while building my package's vignette and in a point that already many operations that use `rJava` have been processed correctly.
For example in
[code]
both `VCF2ISTATS` and `VCF2DIST` operations run correctly (and they rely on Java and `rJava`).

[2022-03-25 14:50] lshep commented on #2575
I found the mailing list post granted it was referencing windows instead of mac but not sure if its helpful https://stat.ethz.ch/pipermail/bioc-devel/2021-October/018594.html

[2022-03-25 15:05] gkanogiannis commented on #2575
@lshep thanks for the link, but as you mentioned, this must not be the reason.
I am doing some tests with the actual openjdk version of merida1 (14.0.1) and I will let you know.

[2022-03-25 15:45] noriakis commented on #2477
Dear @Kayla-Morrell,
Thank you for reviewing the package. I will try to address your comments and report back to you when completed.

[2022-03-25 16:14] mengchen18 commented on #2523
@lshep Thanks. A new build has done. Just for me to confirm, should I still do something else before the review?

[2022-03-25 16:16] lshep commented on #2523
Nope. @nturaga  will review the package in the next few weeks. Cheers

[2022-03-25 20:58] julia-wrobel opened #2589 "(inactive) VectraPolarisData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/julia-wrobel/VectraPolarisData

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I ha

[2022-03-25 20:58] #2589 closed, assigned to nobody

[2022-03-25 21:01] julia-wrobel opened #2590 "(inactive) VectraPolarisData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/julia-wrobel/VectraPolarisData

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I ha

[2022-03-25 21:01] #2590 closed, assigned to nobody

[2022-03-25 21:02] julia-wrobel opened #2591 "(inactive) VectraPolarisData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/julia-wrobel/VectraPolarisData

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I ha

[2022-03-25 21:02] #2591 closed, assigned to nobody

[2022-03-25 21:22] alexchwong commented on #2584
@vjcitn  I notice the R cmd build trigger warning in Windows and BiocCheck triggered a warning message regarding the vignette. Please consider two points:

(1) The R cmd build warning is due to "Warning: file 'ompBAM/inst/examples/ompBAMExample/configure' did not have execute permissions: corrected". This type of warning is windows specific and has been ignored for submission of other packages to

[2022-03-26 12:06] dongminjung commented on #2304
Hi @nturaga

I updated my code to meet your requirements as much as possible.

- In the build report, there are no warnings.
- In the NAMESPACE, 'roxygen2' was removed.
- In the requirements.txt, the versions of the python packages for tensorflow and keras are included. Also, README was updated.

[2022-03-26 13:33] Honchkrow opened #2592 "(inactive) SignacSlim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Honchkrow/SignacSlim

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-26 13:56] julia-wrobel opened #2593 "(inactive) VectraPolarisData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/julia-wrobel/VectraPolarisData

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I ha

[2022-03-26 13:56] #2593 closed, assigned to nobody

[2022-03-27 20:18] andreaskapou commented on #2585
Hi,

Thanks for the suggestions! I added conversion function going from scmet to SCE objects and vice versa. I also added a section in the vignette file to highlight this functionality!  Bumped package version and pushed it on Github.

Bestm
CAK

[2022-03-28 02:11] snikumbh commented on #2572
Hi @jianhong

I think this is good to go. Look forward to your review. Thanks in advance.

[2022-03-28 02:21] julia-wrobel opened #2594 "VectraPolarisData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/julia-wrobel/VectraPolarisData

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I ha

[2022-03-28 02:45] liuana opened #2595 "(inactive) kataegis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have r

[2022-03-28 02:45] #2595 closed, assigned to nobody

[2022-03-28 07:52] shingenmochi opened #2596 "(inactive) tomoseqr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/bioinfo-tsukuba/tomoseqr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-03-28 07:52] #2596 closed, assigned to nobody

[2022-03-28 08:03] shingenmochi opened #2597 "tomoseqr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/bioinfo-tsukuba/tomoseqr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-03-28 09:32] vjcitn commented on #2597
Thanks for this interesting submission.  Some changes will be needed before review.

The following is not standard practice for Bioconductor vignettes.
[code]
Please see the developer guidelines on external data, 13.2.4 at http://contributions.bioconductor.org/data.html.  Probably we would want to see these resources in an ExperimentHub; at a minimum the retrieval would have to employ BiocFileCach

[2022-03-28 11:26] jianhong commented on #2543
@lmweber I agree. You can create a branch for submitting to git@bioconductor and keep you default branch with lower R version for users who need it now.

[2022-03-28 11:40] jianhong commented on #2543
Did you try to remove the line about install.packages('BiocManager') only?

[2022-03-28 11:46] jianhong commented on #2543
## Documentation
- [ ] Please include Bioconductor installation instructions using BiocManager.
	* rmd file vignettes/nnSVG.Rmd

This is the last thing you need to address.

[2022-03-28 12:17] jianhong commented on #2449
It is almost there. If following issue is addressed, then it is ready to go.

-[ ] NOTE: Cannot determine whether maintainer is
      subscribed to the bioc-devel mailing list
      (requires admin credentials). Subscribe here:
      https://stat.ethz.ch/mailman/listinfo/bioc-devel

[2022-03-28 12:20] lshep commented on #2449
@jianhong  it looks like that is resolved it the last build report that was posted to the issue.  Trust the SPB auto builds for the report of mailing list since it requires confidential credentials to get access it will print that note when anyone runs it locally without those credentials being present.

[2022-03-28 12:31] jianhong commented on #2449
Great! I will label it as accepted.

[2022-03-28 12:40] jianhong commented on #2543
Interesting! looks like the line 39 triggered the warning. See here:

Checking vignette directory...
    * WARNING: BiocInstaller code found in vignette(s)
      Found in file(s):
        nnSVG.Rmd (line 39)

[2022-03-28 12:42] lshep commented on #2543
This seems like a False positive then -- could either of you open an issue on BiocCheck to repo this bug https://github.com/Bioconductor/BiocCheck/issues

[2022-03-28 12:46] lmweber commented on #2543
Thanks. Yes, the second version I just pushed above had `BiocManager` commented out inside the code block, so I think this must be a false positive with `BiocCheck`.

I'll open an issue, thanks!

[2022-03-28 13:03] qpmnguyen commented on #2449
Thank you so much @jianhong and @lshep for all your help and support!

[2022-03-28 13:15] lmweber commented on #2543
Seems I have a new error now, unrelated to the `BiocManager` issues above, due to dependencies in the vignette.

I'm not sure what is causing this, and I wasn't seeing it previously (the version I pushed just now is identical to the one from a few days ago). I'll do some more testing or wait another day or two and try again.

[2022-03-28 13:19] lshep commented on #2543
I am in the process of updating the builders.  It could be intermittently related to that.

[2022-03-28 13:25] lmweber commented on #2543
Ok, no worries. I'll wait a while and then push another version bump.

[2022-03-28 15:14] vjcitn commented on #2482
Sorry to have missed this.  I would tend to agree that software that *requires* docker is out of scope for Bioconductor at present.  I will look more closely at massconverter and comment further.

[2022-03-28 15:21] vjcitn commented on #2482
Is massconverter per se essential to other packages in the tidymass ecosystem?  I think its reliance on docker client separates it from all other bioconductor packages to date.  I don't want to be technologically restrictive but I think reliance on something like `https://hub.docker.com/r/chambm/pwiz-skyline-i-agree-to-the-vendor-licenses` is very unappealing.

[2022-03-28 15:54] smped opened #2598 "extraChIPs"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/steveped/extraChIPs

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-03-28 19:17] hpages commented on #1752
Hi @Deisiany,

Sorry for the delay.

I don't have a `.2bit` file for the `Glycine_max_v2.1` assembly, sorry. There must be some misunderstanding. In my earlier comment I was only trying to provide some basic guidance to help _you_ produce a `.2bit` file from the FASTA file available at NCBI for `Glycine_max_v2.1`. If you were able to produce this file, then great. If you were not, then please prov

[2022-03-28 20:10] amrishabhosle commented on #2546
Hi Marcel,
Many thanks for your feedback on the Macarron package. I have addressed all of your comments and you will find that the package is significantly improved from the initial commit.  Please see the point-by-point response to your feedback:

DESCRIPTION

- Ensure the package name in the Description field is updated to the new name - DONE
- Consider wrapping text in the Description field to

[2022-03-28 22:53] ningbioinfo commented on #2574
Hi @lshep , many thanks for your helps! I’ve added the metadata.csv to the standR package (https://github.com/DavisLaboratory/standR), and added ExperimentDataSoftware to the biocViews of the package.
Can you help me try add the resource?

[2022-03-28 23:00] PeteHaitch commented on #2485
Hi @nilshoffmann,

Congratulations 🎉
I'm marking the package as accepted.
Thank you for your contribution to Bioconductor.

I would still recommend running `styler::style_pkg(filetype = "Rmd")` on your package to make some cosmetic changes to the code in the vignette because it seems like these weren't incorporated when you manually applied the patch.

Cheers,
Pete

[2022-03-29 05:30] PeteHaitch commented on #2495
Hi @lujunyan1118,

Thank you for addressing the comments in the initial review.
I have a few additional comments and suggestions before acceptance.

Cheers,
Pete

## Required

- [ ] Usage of **BiocParallel** is typically done by providing a `BPPARAM = bpparam()` argument to the function (see 'For Developers' section in https://bioconductor.org/packages/release/bioc/vignettes/BiocParallel/inst/doc/

[2022-03-29 13:35] Kayla-Morrell commented on #2442
@tsvali - Just checking in to see if there has been any progress made on the review I posted. We generally like to see changes made in 2-3 weeks to be sure the package is actively being work on. Please keep in mind that the deadline to accept new packages into the Bioconductor 3.15 release is 4/20. Any packages accepted after this date will be included in the next release.

Best,
Kayla

[2022-03-29 13:37] Kayla-Morrell commented on #2505
@LucaAnholt - Just checking in to see if there has been any progress made on the review I posted. We generally like to see changes made in 2-3 weeks to be sure the package is actively being work on. Please keep in mind that the deadline to accept new packages into the Bioconductor 3.15 release is 4/20. Any packages accepted after this date will be included in the next release.

Best,
 Kayla

[2022-03-29 13:48] lshep commented on #2574
My fault -- could you change the biocViews in the DESCRIPTION to `ExperimentHubSoftware`  instead of `ExperimentDataSoftware` .  Thank you.

There was also an issue using the default data.frame option as DispathClass.  I updated to FilePath and would appreciate updating your metadata file to be the same.  The default data.frame assumed a different structure.  The FilePath will return the locally d

[2022-03-29 13:52] LucaAnholt commented on #2505
Hi @Kayla-Morrell, apologies about being so slow! I have actually implemented all of the required changes except for:

[code]
and

[code]

I was actually meaning to ask, the Get_KEGG_Data.R function is a bit slow (~10/15 mins), due to the KEGGREST API limiting get requests to only 10 queries at one time. Hence, I wrote it so that this function doesn't have any runnable examples and has eval = FALS

[2022-03-29 14:52] LiNk-NY commented on #2546
Hi Amrisha, @amrishabhosle
I don't see those changes reflected in the repository. Have you pushed to git.bioconductor.org?
See `git remote -v`
[code]
Thanks!
CC: @sagun98

[2022-03-29 15:44] ningbioinfo commented on #2574
Hi @vjcitn and @lshep , the URL in the vignette is now replaced by using ExperimentHub to request the data.

[2022-03-29 16:29] lmweber commented on #2543
Ok great, looks like it was just a temporary issue with the builders and it has passed with a new version bump now.

[2022-03-29 16:42] lshep commented on #2528
Thank you for your submission a few minor comments:

# Build Report

- [ ] (optional) Consider adding a NEWS file. If a NEWS file is used properly package
  updates will be included in Bioconductor release.  See example release
  announcement: http://bioconductor.org/news/bioc_3_14_release/#new-software-packages

- [ ] (optional - strongly recommended) We always recommend including testing to
  en

[2022-03-29 18:35] sagun98 commented on #2546
Hi @LiNk-NY,

I just pushed the changed to  `origin git@git.bioconductor.org:packages/Macarron`. Please let us know if any further changes are required from us.

Thanks,
Sagun

[2022-03-29 18:53] LiNk-NY commented on #2546
Hi Sagun, @sagun98
It looks like you are not subscribed to BioC-devel mailing list. Can you make sure you use the same email in both the DESCRIPTION and mailing list?

[code]

Best regards,
Marcel

[2022-03-29 19:01] sagun98 commented on #2546
Hi @LiNk-NY,

Many thanks for the quick reply. I have now subscribed to BioC-devel mailing list using the same email. It should be good now.

Thanks,
Sagun

[2022-03-29 19:28] Kayla-Morrell commented on #2529
@lgatto - Thank you for making the necessary changes, I have looked them over and everything looks good. I'm more than happy to accept the package.

Best,
Kayla

[2022-03-29 19:47] lshep commented on #2576
Thank you for your submission.  Please find the two minor comments:

## Other

- [ ] (optional but strongly suggested) Generally we encourage extra extensions like codecov.yml and _pkgdown.yml
  as well as development tools like dev to be on separate branches and not be
  pushed to the bioconductor git.bioconductor.org version of the package

## Data / sce_zero_test.Rd

- [ ] Could you please expa

[2022-03-29 22:13] LeireAbarrategui commented on #2294
Hello,

I need to load multiple namespaces at the same time to fix the code repetition. The solution is to use lapply. However,  in the comments before they have suggested using vapply instead of lapply. In this case, did not find the way to use vapply as the FUN results are NULL and the FUN.VALUE cannot be set as NULL. Would be possible to use lapply? Or is there any other solution to load multip

[2022-03-29 22:26] jianhong commented on #2294
If it’s difficult to remove the repetition, you can keep it.

Jianhong

[2022-03-30 00:07] shingenmochi commented on #2597
Hello, @vjcitn
Thank you very much for your advice!
I have modified the code to use BiocFileCache and pushed to main branch.
Am I responding correctly to your request?

[2022-03-30 09:32] LeireAbarrategui commented on #2294
Hello,

Would be possible to keep dontrun{} / donttest{} in some of the examples? As some of the examples may take too long to run.

Thank you

Leire

[2022-03-30 09:52] favorov commented on #2387
@lshep thank you for your note. I did not know the timing. The critical issue is that one of the necessary points is to prepare the arxive text, and it now takes much more time than I could even suppose.  Trying to do my best.

[2022-03-30 10:24] lgatto commented on #2529
Thank you for your review @Kayla-Morrell

[2022-03-30 10:28] jianhong commented on #2294
Yes, but not too many.

Jianhong

[2022-03-30 11:52] Wenjun-Liu opened #2599 "sSNAPPY"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Wenjun-Liu/sSNAPPY

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-03-30 12:05] lshep commented on #2576
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lahuuki.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-03-30 12:05] lshep commented on #2529
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lgatto.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-03-30 12:05] #2576 closed, assigned to lshep

[2022-03-30 12:05] #2529 closed, assigned to Kayla-Morrell

[2022-03-30 12:05] lshep commented on #2485
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nilshoffmann.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-03-30 12:05] #2485 closed, assigned to PeteHaitch

[2022-03-30 12:05] lshep commented on #2449
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/qpmnguyen.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-03-30 12:05] #2449 closed, assigned to jianhong

[2022-03-30 13:20] tsvali commented on #2442
@Kayla-Morrell

Thank you for checking up and for the heads up. Unfortunately, I have been unable to work with this package lately. I will get back to this and try to resolve these issues as soon as possible.

Best,
Tommi

[2022-03-30 13:54] julia-wrobel commented on #2594
I fixed the error (it came about because I was not subscribed to the bioc-devel email list). What are next steps?

[2022-03-30 14:51] nturaga commented on #2524
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## src

I'm surprised you didn't find a fast implementation of bubble sort in C++ in the form a library. But this is good to know.

## R

- Why are you making a data.frame and then referencing individual columns again. Just use the "sce" directly. This is inefficient coding.

https://github.com/keita-iida/ASURAT/blob/968948296a7d33925bd1a681e2d46dce6

[2022-03-30 16:22] nturaga commented on #2523
# Review

## DESCRIPTION

- ok

- The depedency tree of this package is pretty big, please check to see if there any chance to trim the dependency tree.

## NAMESPACE

ok

## Dockerfile

If you use the `bioconductor_docker:devel` dockerfile, you are able to make use of many features

1. Starting next release (April 27th 2022) - Binary package
   insallation, i.e when you do, `BiocManager::install(

[2022-03-30 16:52] serachoi1230 commented on #2568
Hi @PeteHaitch,

It appears to me that the remaining warnings are all coming from loading the package `genomation`, which EpiCompare uses. I'm not quite sure what I can do to fix that? Do you have any suggestions?

Thank you so much!

Best wishes,
Sera

[2022-03-30 16:53] YuanningEric commented on #2558
@vjcitn  Hi, Vince!  I have started the procedures to upload these data to ExperimentHub. After this has been accomplished, I will modify the corresponding code and notify you about the change.  At the mean time, please let us know if there are any other problems we need to fix for our package. Thanks a lot!

[2022-03-30 18:03] vjcitn commented on #2558
Thanks for this.  I guess a basic question is why you had to write code to use firehose instead of reusing code in TCGAbiolinks.  Are the data of interest not provided in curatedTCGAData?

[2022-03-30 18:16] vjcitn commented on #2558
RTCGAToolbox also has similar functionality.  Had you looked at these?

[2022-03-30 19:00] lmweber commented on #2543
I'm still getting the same warning when I put back the `BiocManager` code in the vignette. I have tried another alternative formatting of the code block now.

[code]

[2022-03-30 19:38] lmweber commented on #2543
I'm getting several unrelated errors with the builders now, which I was not seeing previously, e.g. the following. These also seem to be different each run.

I'll try some more version bumps later on in case there are some temporary issues with the builders right now.

The WARNING from the `BiocManager` issue seems to be resolved now though with my latest version of the installation code block in

[2022-03-30 20:19] jianhong commented on #2543
take it easy. I will go through the package this weekend to see if it is OK to be accepted. No worry about current building errors. And Please make sure to bump up your version at this Friday.

Jianhong.

[2022-03-30 21:17] xiuyuma commented on #2349
Could you please reopen the issue, I have addressed those issues previously raised, sorry for the delay and thanks

[2022-03-30 21:21] xiuyuma commented on #2349
Could you please reopen the issue, I have addressed those issues previously raised, sorry for the delay and thanks
@lshep

[2022-03-30 21:29] jianhong commented on #2572
# Package 'seqArchR' Review
The package passed check and build. It is in pretty good shape. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] R version should be no less than 4.2

## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 25 import(cli)
	* in line 26 import(ggplot2)
	* in line 27 import(ggseqlo

[2022-03-30 22:03] jianhong commented on #2537
# Package 'pareg' Review
The package passed check and build. It is in pretty good shape. Did I missed anything from last updates?

## The NAMESPACE file
## R code
- [ ] If possible, replace S3 object by S4 class for `pareg`, `pareg.family`, `cv.edgenet`, etc.
- [ ] `::` is not suggested in source code unless you can make sure all the packages are imported. Please note that you need to manully doub

[2022-03-31 01:59] lmweber commented on #2543
No worries, that sounds good, thank you! I think there was a temporary glitch with the builders this afternoon.

[2022-03-31 06:26] gkanogiannis commented on #2594
@julia-wrobel you should bump the version number (i.e. ftom 0.99.0 to 0.99.1) in your DESCRIPTION file, before pushing to git.bioconductor.org, in order to inform the automatic system to rebuild your package.

[2022-03-31 14:30] keita-iida commented on #2524
Dear Nitesh Turaga,

I appreciate all of your careful review.
Following your instruction, I fixed some R functions.
However, there is one point that I kept as it was.

Understanding your first comment for R, I tried replacing the data.frame with direct use of sce.
However, using SummerizedExperiment functions, such as rowData(sce), is very time-consuming, especially in loops.
Hence, I took back th

[2022-03-31 14:32] nturaga commented on #2524
I will see the new build report and if it is clean I'll accept it.

Please issue another build, after your changes.

[2022-03-31 14:55] keita-iida commented on #2524
I really thanks your line-by-line review, that greatly improved ASURAT.
Sincerely yours,
Keita Iida

[2022-03-31 15:02] nturaga commented on #2524
You still need to issue a version bump for a new build report. I cannot review the package a second time without a new build report.

http://contributions.bioconductor.org/bioconductor-package-submissions.html#whattoexpect

[code]

[2022-03-31 15:03] gkanogiannis commented on #2575
Dear @lazappi, my package builds and checks ok on all systems. Eliminated previous error (apparently some incompatibility of a java grahics library I was using). Looking forward for your review.

[2022-03-31 15:14] keita-iida commented on #2524
I apologize for my mistake.
I pushed a new version, increasing the package version from 0.99.10 to 0.99.11.
Sincerely yours,
Keita Iida

[2022-03-31 15:16] snikumbh commented on #2572
Hi @jianhong,

Thanks for taking the time to review. I am addressing the points you have raised. I will ping again when I am done.
Looking forward to meeting the deadline for the upcoming release.

[2022-03-31 17:44] Kayla-Morrell commented on #2570
@cytolab -
Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.
Keep in mind that the deadline to accept new packages into the Bioconductor 3.

[2022-03-31 17:51] Kayla-Morrell commented on #2505
@LucaAnholt - Thank you for clarifying. All exported functions need to be tested in some way to ensure they are working they way they are intended. There should be one runnable example of the function whether that be in a man page example, executable vignette code, or unit testing. I'm not sure the specifics of the function, but if there is a way to test a small subset of data to lessen the querie

[2022-03-31 18:09] bmill3r commented on #2530
Hello,

I wanted to check in and see if anyone could provide insight as to why the build report is taking so long to generate. On my end the testthat checks and software build take just a few minutes. I can submit another build with a version bump to try again.

Thanks again for all of your time and help,
Brendan

[2022-03-31 18:48] lmsimp commented on #2521
@lazappi Once released am I able to have commit access to bandle please, if possible? (CC: @ococrook)

I was reading you are only allowed one sole maintainer listed on any package, but I can be given access to commit to the repo by requesting it through [bioc-devel@r-project.org]() (which is what I also read online [here](https://bioconductor.org/developers/package-guidelines/))

Quoting:

I’ve be

[2022-03-31 21:54] dzhang32 commented on #2569
Hi @ococrook,

Just wanted to check in regarding the timeline for hearing back about `ggtranscript`? Slightly wary that the release schedule is creeping up and hoping to take some time to carefully address your reviews. Thanks!

[2022-03-31 22:37] NicoleEO opened #2600 "(inactive) NanoStringExperiment"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/NanoStringExperiment

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

-

[2022-03-31 22:37] #2600 closed, assigned to nobody

[2022-03-31 22:41] NicoleEO opened #2601 "(inactive) NanoStringExperiment"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/NanoStringExperiment

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

-

[2022-03-31 22:41] #2601 closed, assigned to nobody

[2022-03-31 22:47] NicoleEO opened #2602 "(inactive) NanoStringExperiment"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/NanoStringExperiment

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

-

[2022-03-31 22:56] maddygriz opened #2603 "(inactive) SpatialOmicsOverlay"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/SpatialOmicsOverlay

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [

[2022-03-31 22:56] #2603 closed, assigned to nobody

[2022-03-31 23:50] YuanningEric commented on #2558
@vjcitn Thanks for your question, Vince!

I took a close look at both packages you mentioned. The `TCGAbiolinks` first downloads data from the GDC portal, which includes one patient data per file, then it combined all the patient files together for additional preprocessing. This takes significant higher amount of time and disk space than using the firehose, from which the  downloaded data has alre

[2022-04-01 00:09] maddygriz opened #2604 "SpatialOmicsOverlay"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/SpatialOmicsOverlay

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [

[2022-04-01 00:39] vjcitn commented on #2597
I get it, but I don't think this is the best way to proceed.
[code]
You have "downloading" messages which are not needed if BiocFileCache is used in an appropriate way.  @lshep

[2022-04-01 00:40] vjcitn commented on #2597
No download is occuring.  You are deserializing from a cache.  The message should not be printed.

[2022-04-01 00:57] vjcitn commented on #2598
Looks good.  Lots of Gviz.  Have you looked at TnT for interactive data+gene models visualization?

[2022-04-01 00:58] vjcitn commented on #2599
Vignettes is taking inordinately long to compile.  Can you thin it out?  Maybe use some precomputed entities?  If you need long tests, use that facility.

[2022-04-01 01:02] vjcitn commented on #2602
Please look at your compiled vignette.  Much too much data is being dumped out raw.  The browse cannot really render it.
![nse](https://user-images.githubusercontent.com/4624066/161174532-d92169f9-7fec-4aca-bb94-4d365a92b38a.jpg)

That goes on for a very long time.  Doesn't belong in vignette.

[2022-04-01 01:18] shingenmochi commented on #2597
Sorry, I was unaware of this problem because I did not clear the cache before testing.
I have fixed it so that it downloads correctly. I would appreciate your confirmation.

[2022-04-01 01:53] fuerzhou opened #2605 "spaSim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TrigosTeam/spaSim

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-04-01 01:53] shingenmochi commented on #2597
I understood that this code would print a download message even when using cache.
I removed Download messages.

[2022-04-01 01:55] fuerzhou opened #2606 "SPIAT"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TrigosTeam/SPIAT

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-04-01 02:04] PeteHaitch commented on #2515
Hi @wheelerb,

Thank you for your submission to Bioconductor.
Overall, the package is in good shape with clear code.
For acceptance into Bioconductor, I have a few Required points, as well as some Recommended points, that I would ask you to first please address.
Please add your point-by-point replies to the review in this thread.

Cheers,
Pete

## Required

- [ ] `Packaged` should not be appearing

[2022-04-01 02:15] PeteHaitch commented on #2508
Hi @tanlabcode and @shanedrabing,

How are you going with addressing the review comments?
We like to see some activity on the issue within 3 weeks.
It's no problem if it's taking longer, but we will close the issue and you can re-open it when you are ready.
Please also bear in mind some upcoming deadlines for the potential inclusion of **CytoTalk** into Bioconductor 3.15 (https://bioconductor.org/

[2022-04-01 02:31] fuerzhou opened #2607 "(inactive) spaSim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TrigosTeam/spaSim

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-04-01 02:31] #2607 closed, assigned to nobody

[2022-04-01 02:48] NicoleEO commented on #2602
@vjcitn I've fixed in last push.

[2022-04-01 03:35] ningbioinfo commented on #2574
Hi Vince @vjcitn , do I need to make any more action for the package? Or I'll just need to wait for it to be proceed to be reviewed? 😀

[2022-04-01 04:05] PeteHaitch commented on #2533
Hi @yavyx,

My apologies, I'm a bit behind on my reviews but yours is next on my list.
A quick question, have you looked at using [**BiocFileCache**](https://bioconductor.org/packages/release/bioc/html/BiocFileCache.html) for caching the downloads.
This is Bioconductor's preferred way of caching downloads; see https://contributions.bioconductor.org/r-code.html?q=biocfile#web-querying-and-file-cach

[2022-04-01 04:44] RoseHuRan opened #2608 "cfTools"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jasminezhoulab/cfTools

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-04-01 04:47] PeteHaitch commented on #2568
The warning is saying that there's a clash between the `grid::pattern()` function and the `Biostrings::pattern()` S4 generic function.
This happens because **grid** is attached to the search path by **genomation**, which `Depends` on **grid**.
Such clashes are somewhat common, and I don't _think_ it's a bit problem that needs 'fixing', but I'll defer to @vjcitn for clarification.

I have another p

[2022-04-01 06:47] Wenjun-Liu commented on #2599
Hi Vince, Thank you for your suggestion! I have updated my vignette to let it use pre-computed results. Compiling of it should be fairly quick now. Please let me know if you see any other problems.

Cheers,
Wenjun

[2022-04-01 06:57] lazappi commented on #2521
This needs to be handled by the core Bioconductor team. I would suggest emailing the mailing list after the package has been accepted.

For some reason the bot hasn't replied with the build report from your latest commit but you can see it here http://staging.bioconductor.org:8000/job/17229/. It looks like there are still some issues with timeouts and errors so please look into those.

[2022-04-01 08:02] andreaskapou commented on #2585
Hi any update on this? Should I do any more changes? Since the deadline for new Bioconductor packages is ending soon. Thanks again!

[2022-04-01 08:17] ococrook commented on #2569
Hi @dzhang32

Currently away from my computer but I will finish tomorrow. From what I've started there shouldn't be too much to change before the deadline

[2022-04-01 08:40] ococrook commented on #2521
Hi @lazappi, the MLinterfaces package seems to not appear on the Mac build but available in bioconductor. This is causing the current error on mac

[2022-04-01 10:05] biomod-lih opened #2609 "consICA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/biomod-lih/consICA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-04-01 10:21] lazappi commented on #2575
Hi @gkanogiannis

Thanks for submitting **fastreeR** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

*

[2022-04-01 10:30] kpj commented on #2537
@jianhong: not sure why no new status report is posted, but I addressed everything except for the S3 objects, for loops and code repetitions because I think they are sensible where they occur.
Let me know what you think :-)

[2022-04-01 11:49] Nina-Song opened #2610 "stJoincount"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nina-Song/stJoincount

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-04-01 12:31] Keniajin commented on #2460
@Kayla-Morrell the package is ready for re-review

[2022-04-01 12:47] vjcitn commented on #2234
Any comments?

[2022-04-01 12:50] SimoneTiberi opened #2611 "DifferentialRegulation"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SimoneTiberi/DifferentialRegulation

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I

[2022-04-01 12:51] nturaga commented on #2524
I still don't see a new build.

[2022-04-01 12:52] vjcitn commented on #2465
you have pytorch in SystemRequirements but the python pip element is called "torch" is it not?  @jwokaty

[2022-04-01 12:55] SimoneTiberi commented on #2611
Hi,
as today, the package is still quite preliminary: we lack a few elements (vignettes, tests, etc...) and there still are some ERRORS/Warnings.

Within a week, the package should be in a pretty definite form.

It's probably best if you can wait a few days before reviewing it.

Thanks,
Simone

[2022-04-01 13:00] jianhong commented on #2537
@kpj For S3 objects, I agree with you.
For loops, for example line 508 in `netreg`, will it be possible to split it into two steps like:
[code]

For repetitions, it will be easy for your maintenance. If you prefer, there is no issue to keep it as it.

Jianhong.

[2022-04-01 13:03] vjcitn commented on #2578
in vignette
[code]

[2022-04-01 13:03] vjcitn commented on #2578
maybe add a unit test?

[2022-04-01 13:05] vjcitn commented on #2592
[code]
The Maintainer data will be computed by R CMD build.  Omit from DESCRIPTION

[2022-04-01 13:06] keita-iida commented on #2524
I appreciate your message.
I felt strange because I have not yet gotten any build report after pushing an updated package.
I followed the instruction in [this page](https://bioconductor.org/developers/how-to/git/new-package-workflow/).
Hence, I am afraid to ask you to check the following push commands (here "$" is a terminal prompt):
$ git remote add upstream git@git.bioconductor.org:packages/ASUR

[2022-04-01 13:07] nturaga commented on #2524
I only see the commands, not the output of the commands. Please paste the output of the commands.

[2022-04-01 13:10] keita-iida commented on #2524
Many thanks.
I see, I will try again soon, increasing the version number from 0.99.11 to 0.99.12.

[2022-04-01 13:14] lshep commented on #2524
it looks like there might be an issue with our windows builder that is not producing reports. investigating

[2022-04-01 13:14] keita-iida commented on #2524
I am sorry but I got some error as follows:

$ git remote add upstream git@git.bioconductor.org:packages/ASURAT.git
error: remote upstream already exists.
$ git remote -v
origin	https://github.com/keita-iida/ASURAT (fetch)
origin	https://github.com/keita-iida/ASURAT (push)
upstream	git@git.bioconductor.org:packages/ASURAT.git (fetch)
upstream	git@git.bioconductor.org:packages/ASURAT.git (push)
$ g

[2022-04-01 13:15] pkrog commented on #2578
I have removed this part from the vignette. There is no web service for getting the number of entries in miRBase.
The method is general in biodb, but not all databases implement such a functionality.

[2022-04-01 13:17] lshep commented on #2611
We won't consider passing for pre-check and assigning a reviewer until those elements are in place.  Let us know when we should do a pre-check

[2022-04-01 13:19] lshep commented on #2585
The deadline for packages in the queue to make the release is end of April so there is still time.  We will look at the package shortly.

[2022-04-01 13:20] SimoneTiberi commented on #2611
Thanks @lshep; that's great.

I'll send a message here when the package is ready to be reviewed (probably within a week).

[2022-04-01 13:26] nturaga commented on #2524
Don’t worry about that error, it’s just saying you’ve already run this command previously and have the remote upstream added.

From the looks of it, @lshep is taking a look at why a build isn’t getting triggered.

[2022-04-01 13:29] keita-iida commented on #2524
I appreciate a lot.
Now I understood the situation.

[2022-04-01 13:32] jwokaty commented on #2465
Thanks for the mention. We don't currently have `torch` installed on the builders, but I can install it.

[2022-04-01 13:36] VingronLab commented on #2465
Thanks a lot for your replies. We've just set Python = FALSE in the vignette as we thought it will at least eliminate the error, but once torch is installed we can change it back to the previous version.

[2022-04-01 14:07] keita-iida commented on #2524
Now I got the build report, producing WARNINGS and TIMEOUT, but it may look strange.
The build times between Linux and macOS are too different.
I think I should wait for the next announcement from Bioconductor.

[2022-04-01 14:14] lshep commented on #2524
The build time even for linux is 10 min which is quite long.  The mac has been timing out since your initial submission.

[2022-04-01 14:34] jwokaty commented on #2465
I've added `torch` to the builders by installing via `pip`. I think you'll need to do another push to trigger the build.

[2022-04-01 14:51] jwokaty commented on #2465
@VingronLab Are `torchvision` and `torchaudio` also needed?

[2022-04-01 14:53] VingronLab commented on #2465
@jwokaty We don't need them

[2022-04-01 14:55] lshep commented on #2294
Our windows builder was newly added and did not have the data package yet. I'm going to kick off a manual build of the data package so it can find it.

[2022-04-01 15:01] lshep commented on #2530
We were having issues with our windows builder.  I think I have it remedied and will kick off a manual build for you now. The report should post shortly

[2022-04-01 15:03] VingronLab commented on #2465
We've just decided to keep the current version (with Python = FALSE in the vignette), so the build is up-to-date.

[2022-04-01 15:04] lshep commented on #2537
The build report posting was a Bioconductor builder issue. We hope to have it remedied and I will kick a manual build of your package shortly.  The build report should post shortly

[2022-04-01 15:05] vjcitn commented on #2465
Shouldn't the vignette run at least some of the python code?

[2022-04-01 15:06] lshep commented on #2546
Please kick off a new build report by pushing a valid version bump so we may verify.

[2022-04-01 15:07] lshep commented on #2555
Please correct the ERROR and trigger a new build report before a formal in-depth review will take place.

[2022-04-01 15:12] keita-iida commented on #2524
Many thanks for your message.

[2022-04-01 15:15] VingronLab commented on #2465
We are wondering if it's not better to turn off the python code in the vignette (and use our second alternative approach which is not based on python) in case a user doesn't have python installed?
But we can turn it on again in the vignette.

[2022-04-01 15:17] vjcitn commented on #2465
On our build system the code should be exercised.  Users without python will have to deal with it according to documentation.

[2022-04-01 15:21] VingronLab commented on #2465
Right, thanks! We will change it now.

[2022-04-01 15:27] smped commented on #2598
Ooh. Thanks for the heads up Vince. That might be really useful! I'll put it on my list of things to explore

[2022-04-01 15:55] lshep commented on #2524
There is something specific not allowing your package to post the build report. This ERROR is on our end and I'm looking into a solution.  You can monitor builds from [here](http://staging.bioconductor.org:8000/jobs/1638/ ) to see the latest report.  Note still getting a mac timeout.

[2022-04-01 15:55] joshstolz opened #2612 "qsvaR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LieberInstitute/qsvaR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-04-01 15:57] lshep commented on #2530
Something is preventing the windows builder from completing.  I think this is on our end and I'm investigating the matter. In the meantime you can review results of triggered builds [here](http://staging.bioconductor.org:8000/jobs/1633/).  I hope to have the issue resolved shortly.

[2022-04-01 16:06] keita-iida commented on #2524
I appreciate your massage.
I will further reduce some data size to pass the mac building.

[2022-04-01 17:05] hpages commented on #2465
Where are we standing w.r.t. the switch from **reticulate** to **basilisk**? Using the latter is a much more user-friendly approach because then people don't need to install anything (Python, pytorch, numpy, torchvision, torchaudio, etc...) **basilisk** automatically takes care of everything. This also means that we don't need to install anything on the build machines either.

There's a good reaso

[2022-04-01 17:34] lshep commented on #2537
For What its worth: There are errors on the SPB windows machine in the tests
[code]

[2022-04-01 17:59] GarrettJenkinson opened #2613 "(inactive) borealis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/GarrettJenkinson/borealis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-04-01 17:59] #2613 closed, assigned to nobody

[2022-04-01 18:07] GarrettJenkinson opened #2614 "borealis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/GarrettJenkinson/borealis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-04-01 19:08] keita-iida commented on #2524
Fortunately, I confirmed that ASURAT passed both macOS and Linux builds.
Many thanks again.

[2022-04-01 19:43] xiuyuma commented on #2349
Hi @lshep, I pushed the new package and it passed for the windows server, but has problems with the other two, where they mainly complain that packages declared at import field from the DESCRIPTION file are not available. Not sure how I should proceed. Thanks

updated, tried to resubmit and now it yields no error or warnings, thanks!

[2022-04-01 19:47] ococrook commented on #2521
Thank you for the review, we very much appreciate the time taken.

A warning remain from `R CMD check` from calling require(biobase) in side the code. After many attempt to get to the bottom of this warning. The code fails in windows from biocparrallel when this is removed. Somehow Biobase is not exported when using SnowParams(). I can force the error on a branch in bandle if you want to reproduce

[2022-04-01 22:18] LiNk-NY opened #2615 "(inactive) terraTCGAdata"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/waldronlab/terraTCGAdata

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-04-01 22:18] #2615 closed, assigned to nobody

[2022-04-01 22:25] LiNk-NY opened #2616 "terraTCGAdata"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/waldronlab/terraTCGAdata

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-04-01 23:02] LiNk-NY opened #2617 "BiocUtils"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/BiocUtils

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-04-02 15:31] VingronLab commented on #2465
Thanks a lot for the comment about basilisk. We are working on this and once everything is working, we will update the package.

[2022-04-02 16:14] ococrook commented on #2569
This looks pretty good to me, thank you for the attention to detail and easy to follow vignette. `ggtranscript` will make a great addition to the Biocondutor family. Could you make the following changes to the package or let me know if there's a good reason not to make the change.

Once you've made the changes make sure to run `R CMD Check` and `BiocCheck` again. Remember to bump the package versi

[2022-04-03 00:38] gkanogiannis commented on #2575
Hi @lazappi ,

Thank you for your time with reviewing my package **fastreeR**.

Please find bellow my reply with corrections, updates and comments to your points.
My package's version `0.99.7` has been already pushed to git.bioconductor.org and it builds and checks without errors and warnings to all 3 OSs.

I am looking forward to your updates and comments.

Anestis

## General package development

[2022-04-03 02:09] MarcElosua commented on #2488
Hi @LiNk-NY ,

Thanks a lot for your feedback. We have applied the changes you recommended to `plotImage`. Before we re-submit, should we follow the same approach for `trainNMF`,  `runDeconvolution`, and `SPOTlight`? These three function names are unlikely to be used by either `Seurat` or `SpatialExperiment` and they are central to our package.

Thanks!

[2022-04-03 02:24] snikumbh commented on #2572
Hi @jianhong

I have addressed all the points you raised. They are answered in detail below.  Look forward to hearing from you again.
Thanks again for taking the time to review.

Thanks and best,
  Sarvesh

The DESCRIPTION file -- _**DONE**_

    R version should be no less than 4.2

The NAMESPACE file -- _**DONE**_

       Selective imports using importFrom instead of import all with import.

[2022-04-03 11:04] vjcitn commented on #2585
Is this from your code?
[code]
Do we want this at this stage?

[2022-04-03 11:06] vjcitn commented on #2492
Checking in again.

[2022-04-03 15:24] lmweber commented on #2543
Great, thanks a lot for your help!

[2022-04-03 15:41] vjcitn commented on #2557
[code]
please fix this.  it kill devtools::document

[2022-04-03 15:50] vjcitn commented on #2557
Do you build/check your package on a "clean" system with no presuppositions?
[code]

[2022-04-03 15:50] vjcitn commented on #2557
[code]
is it an orthography problem?

[2022-04-03 16:03] vjcitn commented on #2602
[code]

[2022-04-03 16:18] vjcitn commented on #2605
Please remove or qualify carefully
[code]

[2022-04-03 16:28] vjcitn commented on #2606
Your github action for R CMD check is failing on mac and windows ...?  Is it ready for submission from the portability perspective?

[2022-04-03 16:40] vjcitn commented on #2608
Your input data are tables of read counts and markers.  There is no formal linkage between these.  The counts are unannotated, markers simply have integer indexes.  The binding of data and biologically interpretable metadata is a hallmark of Bioconductor software design.  I think this submission would be tremendously enhanced if it had more meaningful example data.  Do you think this can be accomp

[2022-04-03 16:51] vjcitn commented on #2606
Now I see that the reason for failure in github actions is due to lack of R 4.2 on those platforms.

[2022-04-03 16:55] vjcitn commented on #2609
[code]
This readRDS cannot be done in a Bioconductor package.  You have to use a durable data distribution source or create an ExperimentHub or AnnotationHub contribution.  See the contributor guidelines.

Additionally, your input data should be in a SummarizedExperiment instance.

[2022-04-03 17:01] vjcitn commented on #2610
Do you check your package before submitting, on a "clean" system?  Vignette:
[code]
That doesn't exist.

[2022-04-03 17:38] vjcitn commented on #2616
Should this be happening?
[code]

[2022-04-03 18:11] kpj commented on #2537
@jianhong Thanks a lot for your feedback.

In this case I don't think you can split the for loop into two separate apply statements, because the call to `tf$reduce_sum` uses the output of the call to `tfd_bernoulli`. In addition, joining these two parts into a single function and using apply/map would first allocate a vector filled with doubles which is then summed up in the final step. With the f

[2022-04-03 18:22] vjcitn commented on #2614
Vignette needs work.  You have too many raw dumps like
[code]
It should probably be a GRanges.  Control the digits dumped too.

A vignette should not have
[code]
A vignette should help a prospective user understand the science and the basic operations of
the package, using live code.

This dump
[code]
is really crying out for a GenomicFiles design, where you could introduce a colData component to

[2022-04-03 18:25] vjcitn commented on #2617
[code]
is my R too old?

[2022-04-03 18:29] Nina-Song commented on #2610
Dear @vjcitn ,

My apology for the mistake, "joincount" is the package that I built for testing. I restart the R session and now it passed the R cmd check.

During the R cmd check, there is one warning that I could not fix for a while.
checking data for non-ASCII characters (1.3s)
     Error loading dataset 'humanBC':
      Error in .requirePackage(package) :
       unable to find required package

[2022-04-03 22:12] fuerzhou commented on #2606
Yes, R 4.2 is not available for Mac and windows. Do I need to change anything for that?

[2022-04-03 22:13] fuerzhou commented on #2605
Thank you for the reminder. I have fixed it.

[2022-04-04 06:33] LucaAnholt commented on #2505
@Kayla-Morrell Thanks for this! Just to let you know that I've updated the function further so that it only queries new biochemical and metabolic data from KEGG (that isn't currently included in the underlying package network), instead of querying these and also querying enzymes and genes (as these are much more stable). This means that the get_Kegg_data() function is much faster and now has a uni

[2022-04-04 08:49] lyoussar commented on #2492
The update version with SummarizedExperiment as wished is now available.

[2022-04-04 10:49] snikumbh commented on #2572
Hi @jianhong ,

The push after my last message was for minor changes. This is now ready for you to have another look. See my detailed answers in the [previous message](https://github.com/Bioconductor/Contributions/issues/2572#issuecomment-1086762470).

Thanks, Sarvesh

[2022-04-04 11:11] andreaskapou commented on #2585
Hi, thanks for the update!

No, actually the message comes from `rstan` where my probabilistic model is built. They still consider their Variational inference procedure experimental (see here: https://mc-stan.org/rstan/reference/stanmodel-method-vb.html) and they show this message whenever the function is called. I am happy to keep this message showing to the user, until its removed from `rstan`.

[2022-04-04 11:18] LeireAbarrategui commented on #2294
Hello, I would like to add some comments about some notes.

- Avoid 'suppressWarnings'/'*Messages' if possible (found 1times)
   suppressMessages() in R/epi_plot.R (line 240, column 5)
**Was suggested by devtools::check().**
-Usage of dontrun{} / donttest{} found in man page examples.
   3% of man pages use one of these cases.
   Found in the following files:
    epi_preprocess.Rd
**The example ta

[2022-04-04 12:44] lazappi commented on #2521
Ok. I have looked into this a bit and I think this is correct that the library needs to be loaded within the function to work properly with `SnowParam`. I guess if you want to support that then this is unavoidable. I would suggest adding a comment explaining why this is done for anyone who looks at the code in the future.

It's fine if you want to do this manually but usually it's easier to use th

[2022-04-04 13:29] lazappi commented on #2575
Yes, I was able to get the vignette to run if I installed the package properly rather than using `devtools::load_all()`. I still had an issue with `R CMD build` hanging but it works on the build system so maybe that is an issue with my setup.

Yes, I think this is difficult with this package as you are mostly passing paths to Java and getting results back. There are possibly Bioconductor packages

[2022-04-04 14:46] mengchen18 commented on #2523
Hi @nturaga ,

Thanks for your suggestions. May I ask one thing about a "note" from build report, I don't understand what means by this:

[code]
The code is like:
[code]
I don't have stop/warn, so which function is redundant here? Thanks.

[2022-04-04 15:01] gkanogiannis commented on #2575
Hi @lazappi ,

Thank you for the follow-up. Please find my comments bellow.

Could you tell me the JDK version number of your system? Are there any messages printed before the hang occur?

It is my intention to update, in a future version, **fastreeR** with more functionality and possibly use of more Bioconductor packages. This first version of  **fastreeR** is intented to make use in R of the fun

[2022-04-04 18:17] LiNk-NY commented on #2617
@vjcitn
My mistake. I forgot to load the package in the vignette :sweat_smile:
It should be updated now.

[2022-04-04 21:50] yavyx commented on #2533
Hi @PeteHaitch,
No problem! I hadn't seen BiocFileCache, and yes, it looks like the better solution since `memoise` indeed doesn't save data across sessions. However, replacing memoise with BiocFileCache would take quite a while and since I'm not working in the Pavlidis lab anymore, I honestly won't spend that much of my personal time on it. Would it be possible to make this change for version 1.1

[2022-04-05 07:03] lazappi commented on #2555
There is an issue with the build report being pushed to GitHub at the moment but you can view it here http://staging.bioconductor.org:8000/job/17270/. It looks like there are still some errors to address.

[2022-04-05 07:10] lazappi commented on #2575
This is what I get from `java -version`:

[code]

When I killed the `R CMD build` process there was some output from the vignette but I can't remember exactly where it got up to. Once this is accepted the building should be done on the Bioconductor side and users shouldn't have to worry about this (except on Linux maybe). As long as the build system passes it should be fine.

[2022-04-05 07:45] gkanogiannis commented on #2575
Hi @lazappi. Your JDK seems fine. Do I need to do something else from my part at this point, or I should wait for the review to finish?

[2022-04-05 07:53] lazappi commented on #2575
No I think you are good and I can mark this as approved 🎉! It can take a few days to be picked up by the build system but then your package should be added to Bioconductor devel.

[2022-04-05 08:12] EmanuelSoda commented on #2555
Thank you for the answer, one of the error is "System Files found that should not be git tracked", but I already added those files to the .gitignore file. Do you have any clue why they are still tracked?
Many Thanks

[2022-04-05 08:14] gkanogiannis commented on #2575
This is excellent! Thank you again @lazappi for your time and the effort to review my package.

[2022-04-05 11:37] lshep commented on #2555
If they were already committed once you would have to `git rm`  them and `git commit`  for them to be removed?

[2022-04-05 11:51] lshep commented on #2275
We are closing this issue for now for inactivity.  When you are ready to push changes please request this issue be reopened

[2022-04-05 11:53] lshep commented on #2383
An indepth review of the package will not occur until the package is building/checking without ERROR

[2022-04-05 12:04] lshep commented on #2537
We are having trouble with our new windows builder.  I'm working on fixes now to the windows builder

[2022-04-05 12:05] lshep commented on #2541
There has been no response and no effort to correct the current build ERROR's.  If you plan on proceeding with the submission please request that this issue be reopened but only when you are ready to actively address package issues.

[2022-04-05 12:21] nturaga commented on #2524
I don't understand why there are no windows builds here.

[2022-04-05 12:23] lshep commented on #2524
@nturaga this is on us.  Ive announced in multiple times to reviewers. Please review without windows while I'm investigating palamino3 activity on the SPB

[2022-04-05 12:32] EmanuelSoda commented on #2555
Ok, I'll try this way

[2022-04-05 12:35] kpj commented on #2537
@lshep Just wondering whether there are currently also troubles with other parts of the build system. I just pushed a new version to `git@git.bioconductor.org:packages/pareg` but no new comment from @bioc-issue-bot pops up,

[2022-04-05 12:37] lshep commented on #2537
No other parts are building fine.  I checked your push -- we only rebuild with a valid version bump and the latest did not include a version bump in the description

[2022-04-05 12:44] keita-iida commented on #2524
Now I saw the message.
I deeply appreciate the greatest help of @nturaga, @Ishep, others in Bioconductor, and the contributor.

Sincerely yours,
Keita Iida

[2022-04-05 12:49] kpj commented on #2537
Very interesting, I actually bumped the version (https://github.com/cbg-ethz/pareg/commit/c14122df03af5fa97e3d3a2cef924f21db6ffdcb) in `origin/bioc` after merging in my changes from `origin/master` (https://github.com/cbg-ethz/pareg/commit/496e2688710f8fca20b5885a3134c3575db2db23):
[code]

Maybe the empty merge from `upstream/master` (https://github.com/cbg-ethz/pareg/commit/f11699df7d0560fb4dfafc

[2022-04-05 12:57] lshep commented on #2555
We are still having issues with our windows builder preventing the build report from display (I'm actively investigating).  You can check out the recent build reports here: http://staging.bioconductor.org:8000/jobs/1646/   .

[2022-04-05 13:45] lshep commented on #2592
We are having trouble with our windows builder that prevented the build from posting. You can check your results at this location: http://staging.bioconductor.org:8000/jobs/1664/

[2022-04-05 13:50] lshep commented on #2579
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2022-04-05 13:50] #2579 closed, assigned to vjcitn

[2022-04-05 13:50] lshep commented on #2578
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2022-04-05 13:50] lshep commented on #2575
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/gkanogiannis.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-04-05 13:50] #2578 closed, assigned to vjcitn

[2022-04-05 13:50] #2575 closed, assigned to lazappi

[2022-04-05 13:50] lshep commented on #2566
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2022-04-05 13:50] #2566 closed, assigned to vjcitn

[2022-04-05 13:50] lshep commented on #2564
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2022-04-05 13:50] #2564 closed, assigned to vjcitn

[2022-04-05 13:50] lshep commented on #2543
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lmweber.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-04-05 13:50] lshep commented on #2524
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/keita-iida.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-05 13:50] #2543 closed, assigned to jianhong

[2022-04-05 13:50] #2524 closed, assigned to nturaga

[2022-04-05 13:50] lshep commented on #2304
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/dongminjung.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-04-05 13:50] #2304 closed, assigned to nturaga

[2022-04-05 13:50] wheelerb commented on #2515
Thanks, I will get started on these.

[2022-04-05 13:52] vjcitn commented on #2234
Checking in again.

[2022-04-05 13:53] vjcitn commented on #2387
checking in again

[2022-04-05 14:09] biomod-lih commented on #2609
Hi @vjcitn

Thank you for the remarks. We have switched to using `SummarizedExperiment` objects.

Regarding loading the file in vignette, we use it only to speed up the demonstration of real analysis. For a non-trivial example of detecting components that correspond to biological processes in our dataset, 40 components are needed and GO searching for them are timeeating.
If possible, we would like

[2022-04-05 14:23] rocioespci commented on #2528
Hi @lshep ,
I think I addressed all the comments you made. For the extdata, most of it is experimental data, so there is no script for that. I did add the script for those which are not.

I think it's now ok for a re-review.
Let me know :)

[2022-04-05 15:11] lshep commented on #2528
@rocioespci is all the data in extdata simulated?  I was looking for some indication of how the files in extdata were created?  the inst/script describing how the files were generated/created could be code, sudo-code, or text but some indication of how they were created and any relevant source information

[2022-04-05 15:21] rocioespci commented on #2528
It is not exactly simulated, it is experimental data. Fragments of DNA sequences that I measured. I guess that for the purpose of the package it is the same as simulated/invented data. I can add a text saying that.

[2022-04-05 16:25] LiNk-NY commented on #2616
@vjcitn
It shouldn't. I have applied a fix.
Let me know if it working for you. Thanks.
-Marcel

[2022-04-05 16:29] lshep commented on #2598
I haven't looked at the R code yet but in the meantime here are some initial comments

**Build Report**

- [ ] Please clean up ERROR, Warning, Notes of the build report

**Other**

- [ ] We recommend having extra extensions like  _pkgdown.yml and codecov.yml on
  separate branches rather than in the Bioconductor branches.

**Description**

- [ ] We don't recommend including static fields like Date

[2022-04-05 18:18] jianhong commented on #2572
After removing the unused code, the package will be marked as acceptable.
## R code
- [ ] Remove unused code.
	* In file R/NMF_model_selection_functions.R:
		+ at line 229 found '                                    # monolinear = FALSE,'
		+ at line 257 found '    # if (parallelDo) {'
		+ at line 264 found '                # .msg_pstr("Coarse-fine grained binary search", flg=vrbs)'
		+ at line 266

[2022-04-05 19:01] lujunyan1118 commented on #2495
Dear Peter @PeteHaitch ,

Thanks very much for the additional comments. We have updated our package to include those suggestions. Please see the line-by-line response below. Please let me know if further modifications are needed.

**Required**
 Usage of BiocParallel is typically done by providing a BPPARAM = bpparam() argument to the function (see 'For Developers' section in https://bioconductor.o

[2022-04-05 19:48] snikumbh commented on #2572
All done!

Thanks @jianhong

[2022-04-05 20:15] rossinerbe commented on #2557
Sorry, I did test the build so I'm not sure how that got through. I think I must have tested the build from the master branch, while the updated package was still in the update branch. Both things should be fixed now.

[2022-04-06 04:40] PeteHaitch commented on #2592
Hi @Honchkrow,

I've got concerns with this package being hosted by Bioconductor.

Firstly, and most importantly: are you coordinating with the **Seurat** and **signac** authors (@andrewwbutler, @mojaveazure, @timoast and others) on **SignacSlim**?

From what I understand, you've taken parts of the **signac**, **Seurat**/**SeuratObject** packages, but you've not properly acknowledged the original

[2022-04-06 05:28] Wenjun-Liu commented on #2599
Hi, I have made changes based on the build report but I cannot push to `git@git.bioconductor.org:packages/sSNAPPY`. When I tried to do it, it says "permission denied". I was trying to submit my SSH to the BioCredential site by firstly activating my account . But after filling in the information at: https://git.bioconductor.org/BiocCredentials/account_activation/, I didn't receive any email. Did I

[2022-04-06 07:06] lazappi commented on #2599
Hi @Wenjun-Liu. Someone from @Bioconductor/core should be able to help out with this. As a first suggestion please check that your email in the package `DESCRIPTION` file is the same as the one you used to sign up on the BiocCredentials site.

[2022-04-06 07:24] smped commented on #2598
HI @lshep ,

Thanks for the feedback. I'll work may way through everything. I have a couple of questions though as I'm unsure about two of those points.

1. I don't get any ERROR messages when I build using github actions or the bioc-devel docker. I do get a WARNING on the bioc-devel docker though which is `‘qpdf’ is needed for checks on size reduction of PDFs`. As there are no pdfs in the package

[2022-04-06 09:09] Honchkrow commented on #2592
Hi @PeteHaitch ,

Thans for pointting these important issues.

Firt of all, I apologize for using the wrong license.  Signac and Seurat used the MIT License which mean I can use, copy, modify and publish under MIT License restriction. I will modify this fatal error immediately. The origin author will be acknowledged in DESCRIPTION and the copy right holder (Tim Stuart) will be listed in LICENSE.md

[2022-04-06 10:06] rocioespci commented on #2528
Hi @lshep !
I have added a txt file explaining that it is experimental/simulated data. Thus ready for re-review :)

[2022-04-06 10:08] ococrook commented on #2617
@LiNk-NY Could you remove the `ERROR` and then I can review the package?

[2022-04-06 11:52] EmanuelSoda commented on #2555
Is the building report now working correctly?

[2022-04-06 11:58] tsvali commented on #2442
Dear @Kayla-Morrell

We have now implemented most of the requested modifications to our RolDE package:

The code blocks in the vignette with eval = FALSE include code for running RolDE on example data sets. The evaluation of these code chunks could take several minutes (up to 5-10 depending on the used hardware) and are thus set to FALSE in the interest of saving time when compiling the vignette.

[2022-04-06 12:13] lshep commented on #2555
I have temporarily removed the windows builder while I debug it, so you will able to see a mac and linux build if you push a change now.

[2022-04-06 12:14] lshep commented on #2599
@Wenjun-Liu  did you check your spam folder? Sometimes the verification email gets flagged as spam?

[2022-04-06 12:16] lshep commented on #2528
Thank you

[2022-04-06 12:28] Wenjun-Liu commented on #2599
Thank you @lshep and @lazappi! The verification emails did go to my spam folder. I should have checked!

[2022-04-06 12:29] lshep commented on #2598
1. Click on the build report posted in the comment above to see the full build report.  The ERROR have to do with signing up for the Bioconductor support site and developer mailing list which is a requirement of maintainers.

2. I am also on a linux machine. It seems to come from BiocParallel
[code]

I had our GenomicRanges expert take a quick peak.  I will look at the R functions in more detail t

[2022-04-06 12:29] lcolladotor commented on #2612
Hi @joshstolz,

Please ask your questions on a public forum or Slack channel so others can benefit from the answers, instead of emailing me. Louise @lahuuki can also help you for example.

Once you resolve the following:

[code]

then you just need to bump the version number of `qsvaR` from 0.99.0 to 0.99.1 (aka, the `z` from `x.y.z`), then push it. The previous auto-comment by the @bioc-issue-bot

[2022-04-06 12:41] lshep commented on #2612
The package looks in very good standards.   A few additional minor comments

**Build Report**

- [ ] Please fix ERROR, Warning, Notes

**NAMESPACE**

- [ ] (Optional) If your package depends on SummarizedExperiment, It might be
  more beneficial to do a full import of the package instead of selective. Users
  will then have full functionality of SummarizedExperiment automatically with
  your packa

[2022-04-06 12:46] lcolladotor commented on #2612
Thanks Lori! I'll meet with Josh later today and we'll go over your comments =) We'll add `SummarizedExperiment` to depends too.

Best,
Leo

[2022-04-06 12:50] lshep commented on #2612
@lcolladotor  it was already listed in description as depends which is why i recommended the full import in the namespace.

[2022-04-06 12:51] lcolladotor commented on #2612
ahh, thanks for the clarification! I misread your earlier comment, my bad!

[2022-04-06 15:47] joshstolz commented on #2612
Hi Lori,
Thanks for your feedback. We have updated the NAMESPACE and package to directly import SummarizedExperiment. We fixed the typo in the transcripts data description. Lastly in `README.Rmd` we set `eval=FALSE` for the installation instructions. I have added the qsvaR tag to my bioc support account and just subsribed to bioc-devel mailing list. Thanks again for your help.

[2022-04-06 16:35] smped commented on #2598
Hi @lshep ,

Thanks for all those clarifications. I'm well on the way fixing all those things on the to-do list now. Just one quick question about the vignette though. Does that code work for you if you run.

[code]

I can't reproduce that error so I'm hoping that works for you. If so it'll be a quick fix for now, but I might have to rethink how to demonstrate BiocParallel.

And also, thanks for t

[2022-04-06 19:34] timoast commented on #2592
Thanks @PeteHaitch for flagging this!

Hi @Honchkrow

I appreciate your interest in the Signac package and your efforts in making a contribution here, but I would prefer that this package is not hosted on Bioconductor. Making this package broadly available will likely lead to issues for users loading both Signac and SignacSlim due to having classes and functions defined in two places. It's also un

[2022-04-06 22:43] PeteHaitch commented on #2495
Thank you for your responses, @lujunyan1118.
I'm pleased to accept **DepInfeR** into Bioconductor 🎉
Thank you for your contribution!

[2022-04-07 01:34] Honchkrow commented on #2592
Hi @timoast,

Thanks for your rapid reply.

The same class name and incomplete method in SignacSlim do cause troubles when loading Signac. Sorry for not take into account.

I will clsoe this issue. If there any things I should do, for example, delete the package in bioconductor (git@git.bioconductor.org:packages/SignacSlim) or other things, please let me know.

Thanks you again, @PeteHaitch .

Hon

[2022-04-07 01:34] #2592 closed, assigned to vjcitn

[2022-04-07 02:11] PeteHaitch commented on #2592
Thank you for considering everyone's feedback, @Honchkrow.
I'm sure there are more opportunities to help improve scATAC-seq analysis in Bioconductor and interoperability with **signac**.

Regarding the package and issue: I don't think there's anything more you need to do.

[2022-04-07 12:41] lshep commented on #2598
I do not get an ERROR trying the above code.  I'll work through the rest of that vignette and have a glance at the R code.  If there is anything else additional I will post by the end of day today.  Cheers

[2022-04-07 12:44] lshep commented on #2598
I get a similar error when trying to run dualFilter

[code]
The vignette seemed to run fine on the builders so maybe this is just my issue.  I'll proceed with code review but just be mindful that at least I encounter these types of errors.

[2022-04-07 12:48] smped commented on #2598
Hmm. Thanks @lshep .

I'm just using what I thought would be fairly simple call to `bpparam()` by setting a function argument `BPPARAM = bpparam()`. Clearly this is problematic. Do you have any suggestions? Should I set an argument like `BPPARAM = SerialParam()` as Aaron Lun has done for `csaw::windowCounts()`

[2022-04-07 12:50] smped commented on #2598
Ah! Maybe I should set BiocParallel in the `Depends` field for the `DESCRIPTION` file?

[2022-04-07 12:54] lshep commented on #2598
If your functions absolutely depend on BiocParallel to run than yes but if it is optional, I don't think the heavier dependency will matter.  I haven't used BiocParallel much in my own work so not sure how setting the different param may make a difference.  Again since it worked on the builders, I'm okay with you leaving as is but just be aware that you may get questions in the future if someone h

[2022-04-07 13:01] lshep commented on #2598
Everything else looks good. let me know when you are ready for re-review after you make the additional changes

[2022-04-07 13:03] smped commented on #2598
Thanks @lshep. Much appreciated. I'm just digging through Aaron's code & have found how he is handling the `bpstart()` issue. I'll do some porting. :)

[2022-04-07 13:38] LiNk-NY commented on #2488
Hi Marc, @MarcElosua

Ideally, yes. That's the recommended practice. And for some classes you don't need to do much other than run `as.matrix` on them which in turn makes your code more flexible to new classes. If the operation fails, you can provide a helpful error message as well.

-Marcel

[2022-04-07 13:56] LiNk-NY commented on #2530
Hi @bmill3r

How can you guarantee a tool works with an older version of R than the one you have developed it with? Once in Bioconductor, the version requirements will be more strict than on GitHub. If you'd like to keep the relaxed version requirement (at your own risk) you can create a separate legacy branch.

I like to use vim `gqq` but there are other tools.

[code]

For the purposes of the vi

[2022-04-07 14:48] Kayla-Morrell commented on #2460
@Keniajin - Thank you for making the necessary changes. You mentioned that you removed the R and csv file from the vignette directory but I find them still present. Please be sure these files are removed. Once this is done I'll be able to accept the package.

Best,
Kayla

[2022-04-07 16:10] MarcElosua commented on #2488
Hi @LiNk-NY ,

We had discussed setting S4 methods with @HelenaLC and have revisited the conversation. We agree that `plotImage` should not be a an S4 Method since it's name can easily overlap with a function name in `Seurat`, `SpatialExperiment`, and `SingleCellExperiment`. However, for the `SPOTlight` specific functions discussed above -- `trainNMF`, `runDeconvolution`, and `SPOTlight` we follow

[2022-04-07 16:18] Kayla-Morrell commented on #2442
@tsvali - Thank you for making the necessary changes. You marked off that there was an Installation section added to the vignette but I don't see this change made. Once this is fixed I'll be able to accept the package.

Best,
Kayla

[2022-04-07 16:37] GarrettJenkinson commented on #2614
Thank you for this feedback. My colleagues and I have extensively re-written the vignette based on your suggestions and believe it is now up to Bioconductor standards. Please let me know if any further action is required.

Changes include:
* General cleanup and simplification of code
* Removal of function definitions
* Significantly reduced file i/o
* Use of GRange objects to replace dataframes
*

[2022-04-07 17:07] lshep commented on #2391
Please see the following comments.  There are still many items from the first review that remain despite you checking them off as complete.

**Other**

You have included sRGES_example and res_example in both octad.db and octad.
They should only be in the data package

**octad.db**

**README**

- [ ] Please fix merge conflicts in the README as indicated by markers like the
following:

[code]

- [ ]

[2022-04-07 17:29] LiNk-NY commented on #2488
Hi Marc, @MarcElosua

Some of those classes are from the same developer e.g., `SingleCellExperiment` but some methods are inconsistently implemented. On the other hand, you may consider the `scran::clusterCells` approach.

It's best to avoid polluting the class's namespace unless you developed the original class and are implementing analysis methods in a different package (as may be the case for t

[2022-04-07 19:16] andreaskapou commented on #2585
Hi,

The package was built and there were no errors only a single warning from the `BiocCheck` build report, which I am not sure what it means:

`* Checking Package Dependencies...
Warning in system2(cmd, args, stdout = TRUE, stderr = FALSE, env = "R_DEFAULT_PACKAGES=NULL") :
  running command 'R_DEFAULT_PACKAGES=NULL '/Library/Frameworks/R.framework/Resources/bin/R' -q --vanilla --slave -f /Libra

[2022-04-07 19:33] NicoleEO commented on #2602
@vjcitn Fixed to match recent slot update.
![image](https://user-images.githubusercontent.com/20404635/162282185-696f18f6-2d67-482e-9cf5-c2ce4c415bc4.png)

[2022-04-07 20:30] LiNk-NY commented on #2561
Hi JianHong, @jianhong

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# GenomicInteractionHub #2561

Good package. Nicely put together. My only reservation is the "Hub" naming.
It can cause a bit of confusion as to the purpose of the package based
on the name alone. Others may have a different opinion.

## DESCRIPTION

* Looks good.

## NAMESPACE

* Looks

[2022-04-07 21:02] stupornova33 opened #2618 "(inactive) Drosophila simulans BSgenome forge package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stupornova33/BSgenome.Dsimulans

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I hav

[2022-04-07 21:02] #2618 closed, assigned to nobody

[2022-04-07 21:04] stupornova33 opened #2619 "(inactive) BSGenome.Dsimulans.NCBI.3.1.fa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2022-04-07 21:04] #2619 closed, assigned to nobody

[2022-04-07 21:05] stupornova33 opened #2620 "(inactive) BSGenome.Dsimulans.NCBI.3.1.fa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stupornova33/BSgenome.Dsimulans

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I hav

[2022-04-07 21:05] #2620 closed, assigned to nobody

[2022-04-07 21:13] stupornova33 opened #2621 "(inactive) https://github.com/stupornova33/BSgenome.Dsimulans.NCBI.3.1.fa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2022-04-07 21:13] #2621 closed, assigned to nobody

[2022-04-07 21:15] stupornova33 opened #2622 "(inactive) BSgenome.Dsimulans.NCBI.3.1.fa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stupornova33/BSgenome.Dsimulans.NCBI.3.1.fa.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general publ

[2022-04-07 21:15] #2622 closed, assigned to nobody

[2022-04-07 21:16] stupornova33 opened #2623 "(inactive) BSgenome.Dsimulans.NCBI.3.1.fa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stupornova33/BSgenome.Dsimulans.NCBI.3.1.fa

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-04-07 21:16] #2623 closed, assigned to nobody

[2022-04-07 21:18] stupornova33 opened #2624 "(inactive) BSGenome.Dsimulans.NCBI.3.1.fa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stupornova33/BSGenome.Dsimulans.NCBI.3.1.fa

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-04-07 21:18] #2624 closed, assigned to nobody

[2022-04-08 05:21] #2508 closed, assigned to PeteHaitch

[2022-04-08 05:22] PeteHaitch commented on #2508
When you are ready with changes, simply comment back here that you would like the issue reopened.

[2022-04-08 05:35] PeteHaitch commented on #2533
Hi @yavyx,

I discussed this with the core team and their view is that a primary aim of this review process is to address these types of issues before acceptance and therefore that these changes would need to be made for the **gemma.R** to be accepted into Bioconductor.
Unfortunately, in our experience it's not uncommon for people with the best of intentions to promise to make changes, but that th

[2022-04-08 08:06] alex-d13 opened #2625 "(inactive) SimBu"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/omnideconv/SimBu

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-04-08 08:06] #2625 closed, assigned to nobody

[2022-04-08 08:09] alex-d13 opened #2626 "(inactive) SimBu"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/omnideconv/SimBu

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-04-08 08:09] #2626 closed, assigned to nobody

[2022-04-08 08:17] alex-d13 opened #2627 "SimBu"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/omnideconv/SimBu

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-04-08 15:37] ococrook commented on #2521
Hi @lazappi

I have added a note about the `require` inside the function.

I find `roxygen2` often creates problems when there is `cpp` code, so prefer to do imports and export manually.

I've added the Bioconductor install chunk you sugget.

I've rewritten to avoid the sapply's

[2022-04-08 16:41] smped commented on #2598
Hi @lshep . I think I'll stop tweaking now & call it ready for review. I think I've hit every point you mentioned and have also cut back the S4 methods. Thanks again

[2022-04-08 16:42] lshep commented on #2598
@steveped  sounds good.  can you push up a version bump to trigger a new build report please.

[2022-04-08 16:43] lshep commented on #2598
Remember to activate your git credentials account [here](https://git.bioconductor.org/BiocCredentials) to add ssh-keys for push access.   And useful documentation for setting up remotes to push to git.bioconductor.org can be found [here](http://contributions.bioconductor.org/git-version-control.html#new-package-workflow)

[2022-04-08 16:51] lahuuki commented on #2576
Updated the docs for `sce_zero_test` to reflect that it is simulated data. Thanks for the feedback @lshep ! 😊

[2022-04-08 17:18] Keniajin commented on #2460
@Kayla-Morrell thanks for the update. I have confirmed the files are removed now.

[2022-04-08 18:17] lshep commented on #2612
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/joshstolz.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-08 18:17] #2612 closed, assigned to lshep

[2022-04-08 18:17] lshep commented on #2572
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/snikumbh.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-08 18:17] lshep commented on #2528
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/rocioespci.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-08 18:17] #2572 closed, assigned to jianhong

[2022-04-08 18:17] #2528 closed, assigned to lshep

[2022-04-08 18:17] lshep commented on #2495
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lujunyan1118.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-04-08 18:17] lshep commented on #2460
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Keniajin.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-08 18:17] #2495 closed, assigned to PeteHaitch

[2022-04-08 18:17] #2460 closed, assigned to Kayla-Morrell

[2022-04-08 18:38] GabrielHoffman opened #2628 "zenith"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DiseaseNeuroGenomics/zenith/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have

[2022-04-08 18:38] #2628 closed, assigned to nobody

[2022-04-08 18:41] GabrielHoffman opened #2629 "(inactive) zenith - try2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DiseaseNeuroGenomics/zenith/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have

[2022-04-08 18:41] #2629 closed, assigned to nobody

[2022-04-08 18:54] GabrielHoffman opened #2630 "zenith - try3"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DiseaseNeuroGenomics/zenith/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2022-04-08 19:04] hpages commented on #2617
I'd like to propose the 3 following changes:
- Name the package **BiocInternalUtils** instead of **BiocUtils**. No end user should ever need to use anything from the package directly so it doesn't matter how long and ugly its name is :wink: I just want to avoid any misconception that the package provides user-oriented utility functions.
- I know that we normally recommend camelCase style for funct

[2022-04-08 22:40] LiNk-NY commented on #2574
Hi Ning @ningbioinfo
Thank you for your submission. Please see the review below.

Best regards,
Marcel

---

# standR #2574

## DESCRIPTION

* Looks good.

## NAMESPACE

* Looks good.

## vignettes

* Please keep the text within the 80 character width limit. It's easier to
read and maintain.
* There is probably no reason to keep the link of the resource shown in the
vignette since the main avenue

[2022-04-09 01:28] smped commented on #2598
Thanks @lshep . Most helpful links. I'd missed the bit where I needed to add `upstream`. Been a while...

[2022-04-09 10:06] chrarnold commented on #2556
Hi all, I finally had time to work on the issues, and I think they are resolved now. All plot functions can now plot to the currently active graphics device, page-specifically, eliminating the need to store any images in the repo. I also removed the other vignettes as suggested. The dataset used in the workflow is more minimal now, and it seems to complete within the allowed time frame. I am on va

[2022-04-09 12:05] ningbioinfo commented on #2574
Hi Marcel @LiNk-NY ,

Thanks for your review.

Here are changes according to your comments:

### Vignette

1. Vignette is changed to keep the text within the 80 character width limit.
2. URL of the data was removed
3. native pipe is now used and magrittr library is now removed from the vignette.

### R
All of the mentioned comments are addressed accordingly. Some specific ones are mentioned below:

[2022-04-09 13:42] LucaAnholt commented on #2505
@Kayla-Morrell Just as another quick update, I've been trying to implement the said functionalities I mentioned in my previous message, however, this is turning out to be a lot of trouble. I take it altering the internal sysdata.rda file is quite uncommon practice in R packages and troubleshooting the issues relating to R CMD check is becoming quite difficult. I'm now tempted to ditch my attempts

[2022-04-09 14:09] vjcitn commented on #2465
keep us posted

[2022-04-09 14:10] vjcitn commented on #2234
and again

[2022-04-09 14:58] VingronLab commented on #2465
Hi, our last trigger was the most current version of the package (without Basilisk, though). It resulted in 1 error on the Linux platform, probably because 'torch' wasn't installed there yet.
Regarding Basilisk, we run into conda installation problems and are trying to fix them. Would it be possible, in the worst case, to keep for now the version without Basilisk, and add Basilisk once we solve th

[2022-04-09 16:13] ococrook commented on #2617
@hpages Did you want me to look at the package as well?

[2022-04-09 17:12] hpages commented on #2617
@ococrook Yes please. I was just chiming in but I'm not reviewing the package.

[2022-04-10 03:00] gongcongcong commented on #2234
Yes,  it is a demonstration of a deliberately flawed call. I have added the explanation. Moreover, I have removed the redundancy label for the soft-threshold detection. Thanks

[2022-04-10 11:09] smped commented on #2598
Hi @lshep. I've set everything to have a build time just over 5 mins on Linux, but it still times out at 15min on OSX. Is that common, or do I need to keep tidying things? My current tricks for time saving were using `\donttest{}` on time-consuming examples and dropping a few tests from `testthat`

[2022-04-10 12:30] jianhong commented on #2294
# Package 'epimutacionsData' Review
The package passed check and build. There are several small things need to be fixed.
## The DESCRIPTION file
- [ ] `Depends` field is not found in DESCRIPTION.
- [ ] R version is not clear in DESCRIPTION.
## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 2 import(ExperimentHub)
## General package d

[2022-04-10 15:11] ococrook commented on #2617
@LiNk-NY, the review will be completed tomorrow

[2022-04-11 04:49] fuerzhou commented on #2606
Hi @vjcitn,

May I ask if there is anything that I need to change for this package? If not, could we proceed to the next stage?

Thank you!

[2022-04-11 07:55] BioinfOMICS opened #2631 "(inactive) LipidSigR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TMSWCChenglab/LipidSigR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-04-11 08:23] tsvali commented on #2442
@Kayla-Morrell Thank you for spotting this. It must have gotten lost in the process. I have now updated the vignette to include the installation section and the Bioconductor installation instructions.

Best,
Tommi

[2022-04-11 11:22] lshep commented on #2598
hmm. I'll try to investigate more on the mac builder.  We would prefer to leave as many examples and test running as possible.  Maybe also look at moving test to the [long test framework](http://contributions.bioconductor.org/long-tests.html)  You'll still want some to run daily for regular checks but this would be a good option for very time consuming tests.  I'm also inclined to review based on

[2022-04-11 12:07] ococrook commented on #2617
Okay this looks pretty good to me! Thank you

# BiocUtils

- [ ] Agree with Herves the package would better be called BiocInternalUtils

# NEWS.md

- [ ] The version should match the package version

# Readme.md

- [ ] A readme explaining the purpose of the package and how to install the package using bioconductor instructions would be useful.

- [ ] It would also be helpful to add a section on co

[2022-04-11 12:12] jianhong commented on #2294
# Package 'epimutacions' Review
The package passed check and build. It is almost there.
## R development
- [ ] update NEWS.md to current version.
## C and Fortran code
- [ ] `Makevars` and `Makefile` not within a package when CPP version is lower than 0.11.0. It looks like you are using C only. If possible, rename .cpp to .c.