[2022-08-30 19:57] lauravongoc opened #2758 "EDIRquery"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lauravongoc/EDIRquery

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-08-31 02:00] DarioS commented on #2695
Good work. A couple more issues.

- Your latest vignette update requests users use `@` but only developers should use it. See [Class Design](https://contributions.bioconductor.org/r-code.html#class-design).

- Your final result appears to produce no output.
![image](https://user-images.githubusercontent.com/631218/187576015-a6ea40d3-7cef-4a85-9407-5c1599b6793c.png)

[2022-08-31 16:07] LiNk-NY commented on #2739
Hi @CTrierMaansson

Please create a new Bioconductor submission with the new package name.
Our git repository still registers with the `Genefusiondiscover` name.

Best regards,
Marcel

[2022-08-31 16:07] #2739 closed, assigned to LiNk-NY

[2022-08-31 18:11] CTrierMaansson opened #2759 "DNAfusion"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CTrierMaansson/DNAfusion

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-08-31 20:13] pamelarussell commented on #2732
@hpages I have updated the `yum` commands to install Rust and Cargo per your instructions, and removed install instructions for GNU Make.

A couple of points regarding the installation of multiple Rust crates:

- The Rust community prefers small, tightly focused crates, hence the large number of transitive dependencies even for a relatively small package.
- Note the distinction between `rextendr`,

[2022-08-31 22:28] PeteHaitch commented on #2606
Thank you for responding to the review, @fuerzhou.
I'm a little behind on my reviews but I will try to finalise the review before I go on leave next Thursday.

[2022-08-31 22:31] PeteHaitch commented on #2738
@Bioconductor/core: could you please respond to @gartician's query:

[2022-09-01 06:58] HelenaLC commented on #2718
# vignette

- [ ] Regarding "a less generic name": All I meant was to rename `vignettes/vignette.Rmd` to something else, e.g., `vignettes/rifiComparative.Rmd`.

- [ ] Regarding code highlighting: Yes, function names are generally enclosed in back-ticks. However, this might also be worth doing for anything else in R (i.e., variable names, packages, ...). To give two examples: The introduction talks

[2022-09-01 09:29] js2264 commented on #2757
FYI, I am planning on submitting HiContacts (https://github.com/js2264/HiContacts) as an AdditionalPackage, as soon as the data package has been assigned a reviewer (according to following guidelines: https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#submitting-related-packages).

[2022-09-01 15:55] lshep commented on #2738
Without looking closely at the package...  You need to be able to run or test run the code of the package.  If there are smaller datasets that are executed in tests and man page code than perhaps that is okay... but it depends on what is exported and how functions are run in the package. The other alternative too would be instead of using ExperimentHub, if the data is readily downloadable, you cou

[2022-09-01 16:07] jianhong commented on #2728
# Package 'VDJdive' Review
The package passed check and build.It is almost there.
## General package development
    * NOTE: Please correct the NEWS file name. See https://contributions.bioconductor.org/news.html?q=news#news
## R code
- [ ] Important: Remove unused code.
	* In file R/clonoStats_helpers.R:
		+ at line 169 found '            #print(diff[length(diff)])'

[2022-09-01 17:05] jianhong commented on #2741
# Package 'regioneReloaded' Review

Thank you for answering the review comment line by line. The package passed check and build. It is almost there.

## General package development
- [ ] Important: '::' or ':::' imports not declared from:
         ‘BiocStyle’ ‘GenomeInfoDb’

## Rd files
- [ ] NOTE: Rd line widths
  * Rd file 'crosswisePermTest.Rd':
    + \examples lines wider than 100 characters:

[2022-09-01 17:11] jianhong commented on #2609
# Package 'consICA' Review
One minor change need to be addressed.

## R code
- [ ] NOTE: Avoid using '=' for assignment and use '<-' instead
	* In file R/consICA.R:
		+ at line 147 found '      bp_param$progressbar = TRUE'

[2022-09-01 22:13] kstreet13 commented on #2728
Thanks very much, @jianhong! I believe that both of these issues have been addressed in the latest update.

[2022-09-02 14:40] vjcitn commented on #2752
I would propose that we close this issue.  I can imagine some helper functions for gene annotation that you might contribute in a package but you have to make a convincing case for how they simplify work for users relative to what already exists.

[2022-09-02 14:41] vjcitn commented on #2752
@davidechicco I will close; reopen if you would like to pursue further.  Thank you.

[2022-09-02 14:41] #2752 closed, assigned to nobody

[2022-09-02 15:13] biomod-lih commented on #2609
@jianhong, we fixed it, thank you.

[2022-09-02 15:23] biomod-lih commented on #2609
@jianhong Thank you very much for reviewing the consICA package!

[2022-09-02 18:10] haoharryfeng commented on #2695
Hi @DarioS , we made changes to fix these issues. See below for our point-by-point responses.

**Response**: We eliminated and replaced the `@` usage in vignette. Instead, we created functions to access the S4 object slots. Now the vignette shows the examples of using these access functions, to extract ISLET estimated reference panels.

**Response**: This is now fixed. This was intentional previou

[2022-09-03 15:35] huerqiang commented on #2734
@vjcitn Hi, has this package entered the review process?

[2022-09-03 17:03] vjcitn commented on #2734
there is a sqlite file in your package exceeding size 5mb   i am deliberating hiw to proceed   need a few more days

[2022-09-04 12:30] nturaga commented on #2706
Hi @lshep / @vjcitn  FWIW, I can no longer change the label to "Accepted" on this package.

Please do so. It passes all the checks, and the code is in good standing. I am ready to accept this package.

[2022-09-04 20:40] yuabrahamliu opened #2760 "(inactive) https://github.com/yuabrahamliu/scDeconv"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2022-09-04 20:40] #2760 closed, assigned to nobody

[2022-09-04 20:46] yuabrahamliu opened #2761 "(inactive) scDeconv"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yuabrahamliu/scDeconv

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-04 20:46] #2761 closed, assigned to nobody

[2022-09-04 20:49] yuabrahamliu commented on #2761
Have added the biocView field to the package DESCRIPTION. Thank you.

[2022-09-04 20:50] yuabrahamliu commented on #2761
Have added the biocView field to the package DESCRIPTION. Thank you.

On Sun, Sep 4, 2022 at 4:46 PM bioc-issue-bot ***@***.***>
wrote:

[2022-09-04 20:58] yuabrahamliu opened #2762 "(inactive) scDeconv"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yuabrahamliu/scDeconv

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-04 20:58] #2762 closed, assigned to nobody

[2022-09-04 23:29] PeteHaitch commented on #2726
Thanks for making the requested changes, @huklein.
I'm pleased to accept **demuxmix** into Bioconductor!

One minor typo to fix:

- [ ] Missing parenthesis in vignette? "Still, the overlap with the positive component (mean of 4977.8 is ..." should I think be "Still, the overlap with the positive component (mean of 4977.8) is".

[2022-09-04 23:32] PeteHaitch commented on #2726
BTW I have been trialling **demuxmix** on some of my own datasets and have some queries and discussion points that are beyond the scope of this review.
I will follow-up these with you on https://github.com/huklein/demuxmix/issues

[2022-09-05 02:44] PeteHaitch commented on #2738
Hi @gartician,

I started to review **CITEViz**, but it needs substantial changes before it can be considered for Bioconductor.

One of the central aims of Bioconductor is to provide interoperable software, but **CITEViz** does not support *SingleCellExperiment* objects, the core Bioconductor data structure for storing single-cell data.
Support for *SingleCellExperiment* objects is a requirement f

[2022-09-05 06:43] jeffreypullin commented on #2710
Fixed, thanks

Fixed, changes to GPL-3.

Done.

Done.

Done.

Done, thanks for the idea.

No, `simulation_input` is really just a convenience wrapper for use in package documentation so I don't think it needs to be documented.

Done

Done

I worked through the loops in the package and feel that most if not all of them are appropriate in context.

I cannot reproduce this behavior, can you be more s

[2022-09-05 07:00] DarioS commented on #2695
I am satisfied with the latest changes. I will now leave the final decision to Lori Shepherd.

One minor comment. A change to the vignette one week ago displays the contents of the data sets. I wonder why the measurements are stored as an assay named counts if they are decimal numbers rather than integers.

[code]

GE600 data set is described as "A gene expression value data frame of 10 genes by 5

[2022-09-05 12:10] RMalinverni commented on #2741
Dear Jianhong Ou, thanks for your review. We have addressed  all the raised issues and provide here a point by point response in the version 0.99.4.

Best ,

Roberto

_Important: '::' or ':::' imports not declared from:
 ‘BiocStyle’ ‘GenomeInfoDb’_

added  ‘BiocStyle’ ‘GenomeInfoDb’ as suggestion in the Description file

_NOTE: Rd line widths
Rd file 'crosswisePermTest.Rd':

\examples lines wider

[2022-09-05 13:30] jianhong commented on #2741
@RMalinverni ,
Thank you for the updates. And sorry for that I missed two points in last review.
- [ ] To avoid the `* NOTE: Avoid redundant 'stop' and 'warn*' in signal conditions` in BioCheck,
could you please change the word `error` to other word in

[1] "R/crosswisePermTest.R (line 147, column 41)"
[2] "R/crosswisePermTest.R (line 175, column 15)"
[3] "R/getParameters.R (line 58, column 15)"

[2022-09-05 13:53] ococrook commented on #2724
Hi @veitveit

I've been trying to review this package and I've got stuck a few times. In the build report there are some warnings that need to be addressed. Furthemore, when I try and check that this package on a windows machine I get the following error:

[code]

I haven't spent too much time trying to debug this issue. The other main comment I have is that the package needs to function with othe

[2022-09-05 16:22] ococrook commented on #2745
Scifer review

This looks pretty high standard for an initial submission and most things look good.

If there are any notes you can clear up then that would be great.

News.md

- [ ] make sure package versions match

Vignette

- [ ] The name is a bit generic can you make it specific
- [ ] Double check spelling (vigenette?)
- [ ] Add bioconductor specific install instructions
- [ ] Use the biocondu

[2022-09-05 19:07] rodrigarc commented on #2745
Thank you for your review, @ococrook! I will edit the package according to your comments and come back here when they are all addressed.

[2022-09-06 08:05] RMalinverni commented on #2741
Dear Jianhong Ou,  here the last changes,

thanks

Roberto

__To avoid the * NOTE: Avoid redundant 'stop' and 'warn*' in signal conditions in BioCheck,
could you please change the word error to other word in_
[1] "R/crosswisePermTest.R (line 147, column 41)"_

changed word “error” for “issue”

_[2] "R/crosswisePermTest.R (line 175, column 15)"_

changed word “error” for “issue”

_[3] "R/getParamet

[2022-09-06 15:24] lyoussar commented on #2718
Thanks again for your help and notes. I went through each statement and here are my comments:

Solved

rifiComparative package is a successor of rifi (Bioconductor package). The users of this package are forced to use the predecessor one for the input. Many functions are used in both packages and are commented and named same for reference. Therefore I can not change neither the name or add more co

[2022-09-06 15:42] rodrigarc commented on #2745
@ococrook Just to see if I understood correctly, do you mean I should separate `fcs_processing()` into two functions, one for the processing itself and another one for plotting? In addition to that, also change this new plotting function to return the object instead of printing the plot. Is that it?

[2022-09-06 15:53] ococrook commented on #2745
Exactly, I think this would be much better and easier for development in the future.

[2022-09-06 15:54] Jfortin1 commented on #2736
Hi Kayla @Kayla-Morrell, is there anything else that I need to do from my side for this review?

Best,
JP

[2022-09-06 17:16] Kayla-Morrell commented on #2736
Hello JP @Jfortin1 - I'm currently wrapping up an initial review of a multiple package submission which has used up the majority of my time. I'll work on reviewing the changes you made and get back to you in the next couple days. Sorry for the delay.

Best,
Kayla

[2022-09-06 17:30] Jfortin1 commented on #2736
Thanks @Kayla-Morrell for the heads up!

[2022-09-06 18:18] Kayla-Morrell commented on #2719
Hello @lambdamoses - I'm working through the initial reviews of these packages. I wanted to check in and see how you wanted to handle the review process. Would you prefer working through one package at a time or would you rather I post all three reviews at the same time?

Best,
Kayla

[2022-09-06 18:29] lambdamoses commented on #2719
I suppose one package at a time.

[2022-09-06 19:33] gartician commented on #2738
Thank you @PeteHaitch for the initial review, I'll have a chat with my team to include support for SCE objects to provide interoperable software in BioConductor.

[2022-09-06 20:04] Kayla-Morrell commented on #2719
@lambdamoses - Great, then below is the initial review of SFEData. The required changes must be made while the suggested changes do not have to be (though we strongly encourage them). Comment back here with updates that have been made and when the package is ready for a re-review.

## DESCRIPTION

- [ ] SUGGESTION: We encourage using the 'BugReports' field and including the
  relevant link to GitH

[2022-09-07 00:37] huklein commented on #2726
Thank you for the helpful package review! I fixed the typos in the vignette and will reply to your additional comments on GitHub later this week.

Cheers,
Hans

[2022-09-07 06:58] Nina-Song commented on #2610
Hi @lazappi,

Thank you again for your patience and valuable advice!
The following changes have been made in each category  -

DESCRIPTION file
 🟢 Added Software to BiocViews
 🟢 Added a BugReports field and a URL field
 🟢 Added ORCiD

NAMESPACE file
 🟢 Selectively import functions using importFrom instead of import all with import

The NEWS file
 🟢 Changed the format of NEWS file

Package data
 🟢

[2022-09-07 16:09] Kayla-Morrell commented on #2719
@lambdamoses - Great, thank you for making those changes. I've looked them over and `SFEData` now looks good. Below is the initial review of SpatialFeatureExperiment. Again, the required changes must be made while the suggested changes do not have to be (though we strongly encourage them). Comment back here with updates that have been made and when the package is ready for a re-review.

## General

[2022-09-07 18:57] anna-pacinkova commented on #2744
Dear Vince,

FYI, I am working on the IntOMICS package modifications. I am still blocked
with the MultiAssayExperiment, because there are missing rownames in COAD
GISTIC assay.
This is just a friendly reminder that I am working on it.

Best wishes,
Anna

so 20. 8. 2022 v 15:49 odesílatel Anna Pačínková ***@***.***>
napsal:

[2022-09-07 22:11] lambdamoses commented on #2719
Question about using `:::`: I used `S4Vectors:::disableValidity` because I found `SingleCellExperiment` and `SpatialExperiment` using it, so I thought it's allowed. I also used some internal functions of `SingleCellExperiment` that I find useful. If it's not allowed, then what alternative do you suggest? Like copying and pasting the code for the internal functions?

[2022-09-08 00:57] hpages commented on #2719
I'd say it's ok to ignore the `R CMD check` NOTE about `S4Vectors:::disableValidity`. In some rare situations one actually needs to temporarily disable validation of S4 objects but unfortunately the **methods** package doesn't provide a mechanism for that. A few Bioconductor packages use `S4Vectors:::disableValidity` already: **InteractionSet**, **miloR**, **NxtIRFcore**, **PhosR**, **SingleCellEx

[2022-09-08 01:21] lambdamoses commented on #2719
I also used some internal functions of `SingleCellExperiment` though, like `SingleCellExperiment:::.get_internal_character`, which is used in the implementation of `reducedDims` in `SingleCellExperiment`, because the new field `colGeometries` in `int_colData` is implemented in a similar way as `reducedDims`. I just don't want to reinvent the wheel. But then if the internals of `SingleCellExperimen

[2022-09-08 14:02] LiNk-NY commented on #2719
Hervé @hpages
I could move it and document it in `BiocBaseUtils` as we did with `replaceSlots` > `setSlots`.
Best,
Marcel

[2022-09-08 15:10] biomod-lih commented on #2609
Dear @lshep

Just a kind reminder to make sure you didn't miss the completion of the review, as we've seen, usually a package is included in a build very quickly.

[2022-09-08 15:13] lshep commented on #2609
I normally process packages on Fridays.  I'll try to get to this later today if possible.

[2022-09-08 15:29] biomod-lih commented on #2609
Understand, thank you.

[2022-09-08 17:32] rodrigarc commented on #2745
Thank you again for taking the time to evaluate `scifer`, @ococrook!
I managed to remove 3 of the notes. Some of them I did not manage to remove, such as "runnable example", since one of the functions writes some files, I just changed to `donttest{}` instead of `donrun{}`.

Package DESCRIPTION and NEWS are now matching (https://github.com/rodrigarc/scifer/commit/316c898c54a1c7f67b55c218a00204dec1c

[2022-09-08 19:23] hpages commented on #2732
Thanks for the clarifications and the changes to the INSTALL file. Looks like we finally got a successful install/build/check on our Linux builder :smiley:

Note that we strongly advice against installing Bioconductor packages from GitHub as this generally results in "version mismatches" and incompatibilities for people using the current _release_ version of Bioconductor (most people are). This is

[2022-09-08 23:28] hpages commented on #2719
@lambdamoses,

You can also look at it the other way around: if they improve `SingleCellExperiment:::.get_internal_character`, or fix a bug in it, then your package will immediately benefit. Also note that if they break your package, it'll be in Bioc devel only, so it won't affect regular users and you'll have time to fix. That being said, `SingleCellExperiment:::.get_internal_character` is such a

[2022-09-09 08:00] lazappi commented on #2610
You don't need the ```` ```markdown ```` code formatting. I'm also not sure what will happen with the ``` ------- ``` lines when this is read by the Bioconductor release system.

I couldn't find any documentation here. This should be a text/R file that describes where the data in `/inst/extdata` comes from, not an `.Rda` file.

There doesn't actually seem to be any data in `inst/extdata` anymore,

[2022-09-09 11:19] lshep commented on #2741
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/RMalinverni.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-09-09 11:19] lshep commented on #2728
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/kstreet13.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-09-09 11:19] #2741 closed, assigned to jianhong

[2022-09-09 11:19] #2728 closed, assigned to jianhong

[2022-09-09 11:19] lshep commented on #2726
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/huklein.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-09-09 11:19] #2726 closed, assigned to PeteHaitch

[2022-09-09 11:19] lshep commented on #2706
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ethevenot.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-09-09 11:19] lshep commented on #2695
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/haoharryfeng.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-09-09 11:19] #2706 closed, assigned to nturaga

[2022-09-09 11:19] #2695 closed, assigned to lshep

[2022-09-09 11:19] lshep commented on #2609
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/biomod-lih.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-09-09 11:19] #2609 closed, assigned to jianhong

[2022-09-09 14:11] Kayla-Morrell commented on #2736
@Jfortin1 - Thank you again for your patience and making the necessary changes. I have looked everything over and it all looks good. I'm more than happy to accept that package.

Best,
Kayla

[2022-09-09 17:53] Jfortin1 commented on #2736
Thank you @Kayla-Morrell !

[2022-09-09 23:41] emilyise opened #2763 "(inactive) MetaPhOR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/emilyise/MetaPhOR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-09-09 23:41] #2763 closed, assigned to nobody

[2022-09-09 23:45] emilyise opened #2764 "(inactive) MetaPhOR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yemilyise/MetaPhOR

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2022-09-09 23:45] #2764 closed, assigned to nobody

[2022-09-09 23:46] emilyise opened #2765 "MetaPhOR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/emilyise/MetaPhOR

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _

[2022-09-10 03:09] lambdamoses commented on #2719
Question: I did get rid of `1:...` and replaced them with `seq_len`. While I understand that `1:n` and `1:length(x)` may be dangerous as `n` and `length(x)` may be 0, all cases when I used `1:...` did not involve variables, only fixed numbers, for subsetting, like `1:3`. So is something like `1:3` still discouraged?

All cases when I used `paste` in `warning` or `stop` is to collapse multiple item

[2022-09-10 12:48] vjcitn commented on #2734
I am sorry to be taking so long with this.  You have done a good job of emulating the GO.db and using the AnnotationDbi methods.  I am still conflicted with the question of how to handle ontologies in Bioconductor.  https://obofoundry.org/ontology/doid.html shows that this resource is frequently updated.  The "traditional annotation" package processing is not ideal, but maybe we should do this for

[2022-09-10 12:49] vjcitn commented on #2631
Thanks for doing that, the vignette looks nice.  Now remove the inst/doc folder from the source repo, it is not supposed to be there.

[2022-09-10 13:04] vjcitn commented on #2716
there are no commits to the BIoconductor git repo since august 4.  push to the remote upstream

[2022-09-10 14:50] vjcitn commented on #2744
@LiNk-NY -- any thoughts about GISTIC for COAD?  Missing rownames?

[2022-09-10 19:34] anna-pacinkova commented on #2744
Hi,

I am trying to download COAD RNAseq, Methylation and CNV data (summarized
for genes) and for CNV data I get empty rownames. The same happens with
READ samples.

c("RNASeq2GeneNorm_illuminahiseq","Methylation_methyl450","GISTIC_AllByGene"),
version = "2.0.1", dry.run = FALSE)

# I have empty rownames:

class: SummarizedExperiment
dim: 24776 449
metadata(0):
assays(1): ''
rownames: NULL
rowData

[2022-09-11 14:38] vjcitn commented on #2759
Thanks for this submission.  I think
[code]
should not be a data frame but an instance of a class deriving from GenomicAlignments.  Would you have a look at GenomicAlignments package?  I think the Bioconductor representations may be advantageous.

[2022-09-11 14:50] vjcitn commented on #2758
Thanks for this submission.  The package does not use any Bioconductor data structures.  A GRanges instance would probably be useful for
[code]
Please consider.

[2022-09-11 15:06] vjcitn commented on #2765
Please don't use the name my-vignette.Rmd for your vignette text,

[2022-09-11 16:39] vjcitn commented on #2757
Sorry for the delay

[2022-09-12 07:10] BioinfOMICS commented on #2631
@vjcitn
Hello, I have removed the inst/doc folder from the source repository.Thanks for your kind reminder.

[2022-09-12 09:23] ococrook commented on #2745
This looks good to me @rodrigarc, I dont think you need to make anymore changes. I'm going to double check the code and check the build on a windows laptop.

[2022-09-12 10:11] vjcitn commented on #2751
the .o and .so files in /src must be removed

[2022-09-12 10:19] vjcitn commented on #2751
[code]
BTW it is much preferred to use .Call instead of .C  -- please see Writing R Extensions.

[2022-09-12 10:20] vjcitn commented on #2751
FYI this is the commit behind the source I used to generate error above:
[code]

[2022-09-12 11:36] lshep commented on #2734
Yes. For a "traditional annotation" package that contains large files, the package can be reviewed here but the package will not be added to the git.bioconductor.org echosystem.  The package will have to be manually uploaded by a team member any time there is an update to the package.  The other alternative is to convert it to an annotationhub package and utilize that interface instead of having t

[2022-09-12 12:29] js2264 commented on #2757
Hi @vjcitn no worries for the delay. I guess we're now waiting for a reviewer to be assigned? Is there anything else I can do to make things go smoothly?

[2022-09-12 12:55] vjcitn commented on #2757
@lshep ... @js2264 already noted
[code]

[2022-09-12 12:55] vjcitn commented on #2757
so you'll have to wait a bit until the ingestion occurs, often at week's end.

[2022-09-12 14:42] LiNk-NY commented on #2744
Hi @vjcitn @anna-pacinkova
Every assay should have row names. I will take a closer look.
In the meantime, you can get row names from the `rowData`:

[code]
Best,
Marcel

[2022-09-12 15:57] lshep commented on #2765
Can you please add an [INSTALL file](http://contributions.bioconductor.org/sysdep.html)  that explains how to install your system dependency for all 3 platforms?  @hpages / @jwokaty  any comments about adding this as a system dependency on the builders?

[2022-09-12 17:33] js2264 commented on #2757
AdditionalPackage: https://github.com/js2264/HiContacts

[2022-09-12 17:48] hpages commented on #2765
Problem is that even on a machine that has Cytoscape, the user still needs to _manually_ start it for the example in the `cytoPath()` man page to work. So unless this is addressed, installing Cytoscape won't solve the current `R CMD check` error.

Note that **RCy3**/Cytosscape are "heavy" dependencies:
- Adding **RCy3** to your Imports field increases the number of dependencies (direct + indirect)

[2022-09-12 18:22] CTrierMaansson commented on #2759
Hello

Hello I have changed the output of EML4_ALK_detection() to a GAlingments object. Futhermore, I have made the appropriate changes to the other functions, as well as the documentation.

I have changed this at my GitHub repository, however I'm unsuccefull in pushing the update to git@git.bioconductor.org:packages/DNAfusion.git.
Am I doing something wrong?

Kind regards
Christoffer

[2022-09-12 18:41] vjcitn commented on #2759
be sure to read the FAQ about git pushing issues and consider pushing to https://github.com/bioconductor.org/packages/DNAfusion

[2022-09-12 18:51] LiNk-NY commented on #2759
Hi Christoffer @CTrierMaansson and Vince @vjcitn
I believe once the package passes the `1. Awaiting Moderation` stage, it will be added to the Bioconductor git server.
Lori can confirm this @lshep
Best,
Marcel

[2022-09-12 18:59] vjcitn commented on #2759
Oh, right, I have to change the labels once I look at the revisions.  Thanks @LiNk-NY !!

[2022-09-12 18:59] vjcitn commented on #2759
Even when it gets to "pre-check passed" there is a manual ingestion step needed.

[2022-09-12 19:33] CTrierMaansson commented on #2759
I'm sorry. Do I need to do anything? or do I need to wait until  @vjcitn changes the labels?

[2022-09-12 19:51] ecool50 commented on #2751
Hi @vjcitn, I will fix the introduction compilation issue and remove the `.so` and `.o` files. However, for the C-code, is it essential to have using the `.Call` format? I did not write the source code and it will take me some time to rewrite everything to use the `.Call` format. Can it be assessed and accepted using the `.C` format and I will update it in the next iteration? Please let me know.
T

[2022-09-12 19:56] kevinrue commented on #2749
btw, note: we've pushed two new versions that haven't triggered new builds

[2022-09-12 19:58] vjcitn commented on #2751
yes

[2022-09-13 08:52] nilseling commented on #2749
Have you bumped the package version? In the linked Github repo I don't see new changes and the version is still at `0.99.1`.

[2022-09-13 09:08] kevinrue commented on #2749
Yeah, so when i bumped the version to 0.99.1 nothing happened. Then I thought Charlotte bumped it to 0.99.2 but you make me realise that the PR hasn't been merged yet, it's only open at the moment.

[2022-09-13 09:38] kevinrue commented on #2749
OK, so there's something funky about the PR for 0.99.2, github action is throwing an error for something that worked before and that the PR is not touching, possibly something about the repositories where packages are installed from. In any case, you can review 0.99.1 in the meantime, because 0.99.2 is only bringing minor aesthetic fixes. We might even pack fixes following your review in that PR,

[2022-09-13 09:44] nilseling commented on #2749
Sounds good, that's also what I wanted to suggest as I don't have major comments anyway.

First of all, thanks for submitting `iSEEhub`. The package is in a great shape and there are only a few things that I noticed:

- [x] `R CMD build` should pass without errors, warnings and notes: Please address the last NOTEs by selectively importing `capture.output`, `code`, `hr`, `installed.packages`, `moda

[2022-09-13 11:12] kevinrue commented on #2749
Sounds all good. As it happened, I've just merged 0.99.2 before noticing your review. So:

- We'll make another PR (0.99.3) to incorporate changes following your review.
- Bumping 0.99.2 still didn't trigger another build of the single package builder. Not sure what I'm missing

[2022-09-13 11:18] nilseling commented on #2749
Did you `git push upstream main:master`?

[2022-09-13 12:01] lshep commented on #2748
I apologize for the delay I will have a review for you by the end of the week.

[2022-09-13 13:03] kevinrue commented on #2749
up remotes to push to git.bioconductor.org. It is required to push a
version bump to git.bioconductor.org to trigger a new build.

i feel such a newb right now xD

[2022-09-13 20:57] jillbo1000 opened #2766 "cytofQC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jillbo1000/cytofQC

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2022-09-14 05:53] MartinChiaHsinLiu commented on #2631
Hi @vjcitn,

I am one of contributors of LipidSigR.

To fix the "TIMEOUT" issue, we expect that we should firstly clone the LipidSigR from "git.bioconductor" to our folder and then commit/push the fixed codes onto "packages/LipidSigR". (If I did something wrong, please tell me. Appreciate your kindly help.)

Currently, we get problem of using `git clone git@git.bioconductor.org:packages/LipidSigR`

[2022-09-14 09:13] kevinrue commented on #2749
Target achieved; only one ERROR left, which we agreed to ignore:
[code]
Probably worth bringing in a core team member at this point to establish this as a precedent of non-core package being allowed this ERROR, and possibly turning it into a WARNING?

Thanks for the review!

[2022-09-14 10:04] vjcitn commented on #2631
Please read carefully https://contributions.bioconductor.org/git-version-control.html#push-to-github-bioc and ensure that your ssh key is registered.  @lshep

[2022-09-14 10:06] vjcitn commented on #2631
actually i have no problem cloning ... is that really the command that is failing?

[2022-09-14 11:00] yocra3 opened #2767 "(inactive) NetActivityData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yocra3/NetActivityData

Confirm the following by editing each check box to '[x]'

- [ X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ X] I have read

[2022-09-14 11:00] #2767 closed, assigned to nobody

[2022-09-14 11:02] yocra3 opened #2768 "(inactive) NetActivityData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yocra3/NetActivityData

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2022-09-14 11:02] #2768 closed, assigned to nobody

[2022-09-14 11:03] lshep commented on #2631
Please read the documentation and activate your GitCredentials account as specified a previous comment from the   https://github.com/Bioconductor/Contributions/issues/2631#issuecomment-1243909768

[2022-09-14 11:10] yocra3 opened #2769 "NetActivityData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yocra3/NetActivityData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-09-14 20:17] gartician commented on #2738
Hi @PeteHaitch, we are working to accept SCE objects into CITEViz. We plan to use a file format flag that determines how the data will be queried based on the input file. This should help us build things more hierarchically with a reasonable coding structure. Thank you for the feedback so far!

[2022-09-14 23:57] Lionir commented on #2391
@lshep can you please re-open issue? I can't find an option to reopen it myself. Thank you!

[2022-09-15 11:16] BioinfOMICS commented on #2631
Hi, @lshep
We have checked the build report and found the error messages of the maintainer not subscribed to the bioc-devel mailing list and registered at the support site.  However, we have done both of them a few months ago. Wondering if is there still something we need to do.
Thanks for your kind assistance.

[2022-09-15 11:33] lshep commented on #2631
@TMSWCChenglab

I do not see you registered at bioc-devel @ r-project.org mailing list.  Please try again. There is normally a confirmation email that gets sent; sometimes this gets marked as spam.

I currently do see the email on the support site. Please add your package to the WatchTags.

@HelenaLC  will be your reviewer and can provide additional comments.  Cheers

[2022-09-15 15:14] LiNk-NY commented on #2757
Hi Jaques @js2264

Thank you for your submission.
Please see the review below for the data package.
Feel free to respond via the comments.

Best,
Marcel

---

# HiContactsData #2757

## DESCRIPTION

* Looks good.
* Consider using `BiocStyle`.

## NAMESPACE

* `HiContactsDataFiles` may not be necessary, see below.

## R

* It would be better to encode the data from the conditional statements into a

[2022-09-15 16:41] js2264 commented on #2757
Hi Marcel @LiNk-NY,

Thank you for your review. I have addressed your comments in the coming series of commits. The only thing I do not quite understand is your reference to using `BiocStyle` for DESCRIPTION.  Could you please clarify what changes you'd want me to do ? I have originally generated the DESCRIPTION from `biocthis::use_bioc_description()`and added useful entries to it.

Thanks again,

[2022-09-15 16:53] LiNk-NY commented on #2757
Hi Jaques, @js2264
I mean using `BiocStyle` for the vignette and adding it to the `Suggests` field in the DESCRIPTION.
See [here for more details](https://bioconductor.org/packages/release/bioc/vignettes/BiocStyle/inst/doc/AuthoringRmdVignettes.html).
Best,
Marcel

[2022-09-16 04:12] ecool50 commented on #2751
HI @vjcitn, I have made the necessary updates. Please have look and let me know your thoughts.

[2022-09-16 08:40] anic0077 opened #2770 "(inactive) simpleSeg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/simpleSeg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-16 08:40] #2770 closed, assigned to nobody

[2022-09-16 09:18] anic0077 opened #2771 "(inactive) simpleSeg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/simpleSeg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-16 09:18] #2771 closed, assigned to nobody

[2022-09-16 10:23] anic0077 opened #2772 "(inactive) simpleSeg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/simpleSeg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-16 10:23] #2772 closed, assigned to nobody

[2022-09-16 10:43] anic0077 opened #2773 "(inactive) simpleSeg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/simpleSeg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-16 10:43] #2773 closed, assigned to nobody

[2022-09-16 10:46] anic0077 opened #2774 "simpleSeg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/simpleSeg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-16 14:38] lgatto commented on #2720
Hi @hpages

Thank you for your insightful comments and suggestions. Here's how we have addressed them:

1. Imports:
    - Importing selectively from the **methods** package is strongly discouraged. Note that you already import the whole **methods** package (`import(methods)`) so there's actually no need to selectively import things with `importFrom(methods,"slot<-")`, `importFrom(methods,as)`, `im

[2022-09-16 15:44] lshep commented on #2748
Hello,

Please see minor comments below:

**Makefile**

- [ ] This seems like it should not be included in the clone. Please remove and
  place in a `.gitignore`

**Unit Tests**

- [ ] We hightly recommend adding unit tests.

**man page**

- [ ] Please include a ggtreeDendro-package man page.

**vignette**

- [ ] Please add 'sessionInfo()` to the end of the vignette.

**R code**

- [ ] Please remo

[2022-09-16 15:51] LiNk-NY commented on #2757
Hi Jacques, @js2264

Thank you for your submission.
Please see the review of the software package below.

Best regards,
Marcel

---

# HiContacts #2757

You've put a lot of work into the package. It may be best to divide the
package into two based on the functionality provided. One package could host
all the visualization functionality and the other the computational work.
This would allow users t

[2022-09-16 16:17] pamelarussell commented on #2732
@hpages thanks for the useful feedback. We have addressed all of these in the latest update.

0. Remove instructions to install from GitHub
1. `print()` method for D4Source class
2. Replace `get_chroms()` with `seqinfo()` getter
3. Remove `data.table` dependency
4. Replace 0-based half-open coordinates with 1-based closed coordinates
5. Rename `update_*()` methods and move object being updated to

[2022-09-16 16:44] hpages commented on #2732
Hi @pamelarussell,

Thanks for those changes. `print.D4Source` is not exported so is ignored when printing a D4Source object:
[code]
This is an S3 method so it needs to be exported using the following special syntax:
[code]
Note that this is what must appear in the `NAMESPACE file`. Don't know how that translates into **roxygen2** syntax (I don't use **roxygen2**).

Also please consider turning `t

[2022-09-17 21:57] vjcitn commented on #2707
It's a nice package but I am somewhat concerned about the arbitrary nature of the resource that it is built on.  "Keywords", not an ontology, not clear what kind of versioning is done, and so forth.  It works, if you can add some details on provenance and updating policy that will be great.

[2022-09-18 10:23] jokergoo commented on #2707
Thanks! Sure I will add more information of the version of the data and other related things.

[2022-09-18 11:15] js2264 commented on #2757
Hi Marcel @LiNk-NY

Thank you for your thorough review and useful comments. I have turned your comments into a check list. The items that are still unticked have further explanations below. Let me know if anything is not clear and what I should do (including additional required changes ?).

_## DESCRIPTION_

- [x] _The data package should be in the `Suggests` field._
- [x] _Consider doing a `pkgnd

[2022-09-19 08:20] nilseling commented on #2749
I have now accepted the package for inclusion in Bioconductor allowing the `BiocManager::install()` call as an exception.

[2022-09-19 17:19] js2264 commented on #2757
Hi Marcel @LiNk-NY
Just to let you know I have made some comments in the post above, there are few points that would need an input from you when you have a minute.
Many thanks again!

[2022-09-19 18:15] Jfortin1 commented on #2736
Would it be possible to add the package to the nightly builds sometime this week? Thank you!

[2022-09-19 18:32] js2264 commented on #2757
Another point to mention is that generating the vignette with `BiocStyle` leads to the package tarball exceeding the size requirements. BiocCheck has been running on my GHAs: in commit [702819c](https://github.com/js2264/HiContacts/commit/702819c8a6ec86522afc7f080f239cf35f001c09) the vignette was generated with `BiocStyle` (BiocCheck results: [here](https://github.com/js2264/HiContacts/actions/run

[2022-09-19 21:30] LiNk-NY commented on #2757
Yes, that's okay to keep them as snake_case. Usually non-exported functions start with a `.` by convention.

That would be good. Ideally, these elements would be named but it is not always possible.

It may be better to use a different name. One would expect the `scores` function to return a vector of values.

`features` is quite a vague term to begin with. It would be good to think of another nam

[2022-09-19 21:32] LiNk-NY commented on #2757
Hi Jacques, @js2264

This is likely due to the re-saving data step above. Remove the data duplicated from `HiContactsData` and only provide the code to run the `contacts` dataset (possibly showing this in the vignette is sufficient). This should reduce the size of the package tarball.

[2022-09-19 21:34] LiNk-NY commented on #2759
Hi Christoffer, @CTrierMaansson
You do not need to do anything. We are a little backed up and your package will be ingested soon.
Best,
Marcel

[2022-09-19 22:20] js2264 commented on #2757
Hi Marcel @LiNk-NY ,

Thanks for your input. I'll try to solve as many of the unticked boxes. For now:

- Regarding the change of nomenclature for the `features` slot (a SimpleList): I have several suggestions: `TopologicalFeatures`, `annotations`, `GenomicAnnotations`? To recap, the `features` slot is a SimpleList containing GRanges and/or GInteractions, and is meant to be used to conveniently st

[2022-09-19 22:32] LiNk-NY commented on #2757
I think `topologicalFeatures` sounds good. Note that functions / names that start with capital letters usually denote classes.

The method should follow the contract set forth by the generic. The `score` generic is an extractor for the `"scores"` column in the object, wherever that may be, e.g., in `mcols` or in a slot.

[2022-09-20 08:03] tnaake opened #2775 "(inactive) MsQuality"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tnaake/MsQuality

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-09-20 08:03] #2775 closed, assigned to nobody

[2022-09-20 08:30] tnaake opened #2776 "MsQuality"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tnaake/MsQuality

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-09-20 10:17] rodrigarc commented on #2745
To make it easier for your review, I have also tested building in a windows computer. I had to first make sure that `Rtools` and `BiocStyle` were installed so it could be built without errors and warnings, I added that to the README (https://github.com/rodrigarc/scifer/commit/a2c9e4093faa00a7ab2f20f6e98a2b6e1f28f055).  I changed a small detail on `test-quality_report()` to avoid a note on a window

[2022-09-20 10:20] ococrook commented on #2745
Sorry, I already did this and forgot to update to accept.

[2022-09-20 10:35] rodrigarc commented on #2745
Thank you again for reviewing it, @ococrook!

[2022-09-20 12:42] jokergoo opened #2777 "BioMartGOGeneSets"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jokergoo/BioMartGOGeneSets

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2022-09-20 12:49] jokergoo commented on #2777
This package provides pre-compiled GO gene sets for more than 600 organisms from BioMart. Manually creating such gene sets is not difficult (as we have demonstrated in https://jokergoo.github.io/BioMartGOGeneSets/articles/biomart.html), but it would still be nice if the gene sets are already compiled and especially good for the users who are not experienced with Bioconductor or studying non-model

[2022-09-20 15:08] maddygriz commented on #2604
@vjcitn Hi Vince, I have been in contact with the RBioFormats team and they said they are working to get it submitted to Bioconductor for this next release. I would like to open this issue again in preparation for their submission. Should we open this issue or should I create a new one?

Thanks, Maddy

[2022-09-20 16:06] js2264 commented on #2757
Hi Marcel @LiNk-NY

I have pushed several commits to HiContacts package. To address your comments, I have:

- Dropped unnecessary slots (seqinfo, matrixType, bins) and switched to better names (e.g. fileName, topologicalFeatures)
- Modified `scores` so that it consistently output numeric vectors.
- Improved checks to ensure that whenever ellipsis has to be used, R checks that all arguments are `co

[2022-09-20 18:34] LiNk-NY commented on #2757
Hi Jacques, @js2264

### HiContactsData

* Software bug reports should go to github.com/js2264/HiContactsData instead of the support site. The Support site is good for general usage questions.

### HiContacts

* Avoid putting data in the `.globalEnv` with functions such as `full_contacts_yeast`.
* Create a new data env `new.env(parent = emptyenv())` and use `data()` with the `envir` argument.

Con

[2022-09-20 18:59] anna-pacinkova commented on #2744
Hello Vince,

I have changed the TCGA data input as you have suggested - now IntOMICS
vignette uses the `curatedTCGA` package to load an example dataset
consisting of gene expression, CNV and methylation data.
I have also changed the data organisation, gene symbols are used as the
primary gene IDs, entrez IDs are used for the network inference inside the
package.
For a faster check of the package,

[2022-09-20 20:09] vjcitn commented on #2744
Thanks for doing this.  Before I plunge in, it seems to me you have library(curatedTCGAData) in your vignette but it is not declared as Suggests in the DESCRIPTION.  Can you take care of this and any other recommendations from R CMD check or BiocCheck provide?  It seems to me the vignette takes a long time to compile?

[2022-09-20 20:09] hpages commented on #2720
Excellent! Thanks for all the changes.

Cheers,
H.

[2022-09-21 09:27] GuangchuangYu commented on #2748
### Makefile

- [ ]  This seems like it should not be included in the clone. Please remove and
place in a `.gitignore`.

We think `Makefile` is helpful to the developers working on the terminal. It can be included in `github` by placing it in the `.Rbuildignore` meaning it will be ignored in building the package. PS: We have several Bioconductor packages that contains the `Makefile` in the git rep

[2022-09-21 09:28] GuangchuangYu commented on #2748
@lshep almost all the issues had been solved.

[2022-09-21 10:22] js2264 commented on #2757
Hi Marcel @LiNk-NY

- I fixed BugReports URL in `HiContactsData` DESCRIPTION;
- I have removed `full_contacts_yeast` from globals;
- I fixed `data()` to run in a `new.env`;

Regarding splitting package in two,`GenomicInteractions` already imports `ggplot2`, so this is not really an extra dependency, as it will have to be installed anyway. For this reason, I believe that it is ok having `HiContacts

[2022-09-21 15:37] Kayla-Morrell commented on #2719
@lambdamoses - Thank you for making the necessary changes to SpatialFeatureExperiment. Everything looks good. I wanted to check in to let you know that I'm finishing up my initial review of Voyager and should have it posted by the end of the week. Thank you for your patience during the review process.

Best,
Kayla

[2022-09-22 06:08] anna-pacinkova commented on #2744
Thank you for the feedback.
DESCRIPTION file was modified.

About the vignette: Is it possible that code chunks in mode 'eval=FALSE'
are also tested during the R CMD check? Because when I knit the vignette on
my laptop, it does not take too much time. However, the R CMD check is
pretty long. As I said, the MCMC simulation of Bayesian networks takes some
time. I saved the result from this function

[2022-09-22 10:57] lauravongoc commented on #2758
Thank you for your comment.

GRanges is not adapted for our data, as it only highlights a single range of positions, whereas each row in our data includes 2 sequences with their respective start and end positions, the distance between the two, as well as additional annotation.

[2022-09-22 11:51] vjcitn commented on #2758
How about the GenomicInteractions class?  How about using DNAString to represent your sequences?  Do you use Bioconductor with your data?

[2022-09-22 13:20] js2264 commented on #2757
Hi Marcel @LiNk-NY

FYI, I have made several changes to HiContacts:

- I re-worked the subsetting function `[` to work faster and to be more versatile
- I renamed several functions; I changed `getPs()` to `distanceLaw()` following your suggestion, as it is indeed clearer
- Following your indications and Bioconductor traditions, I changed the `contacts` class to `Contacts`. The `Contacts()` functio

[2022-09-22 17:07] LiNk-NY commented on #2757
Hi Jacques, @js2264

Thanks for making these changes. The package looks good.

Although it may seem convenient, the package is subject to changes in any of the 187 packages required for `HiContacts`.
IMO, this should be given more consideration to avoid a frail package where any of the dependencies can break it.

[code]

## tests

* Package coverage looks good. :+1:

[code]

[2022-09-22 19:34] LiNk-NY commented on #2744
Hi Anna, @anna-pacinkova

I would highly recommend looking into `TCGAutils` for working with data from `curatedTCGAData`.
I've done something similar to the data without the need to use `longFormat`. I recommend only using that function on data that does not contain both tumors and normals for efficiency (where replicate observations have been consolidated or removed). In this case using `longForm

[2022-09-22 19:38] vjcitn commented on #2744
Apropos the examples, you can use `if (interactive())` in some cases to reduce time spent in testing examples.  For MCMC, does the sample generation per se need to be tested?  Can you run it once and store the samples so that the code *using* the samples is tested and illustrated for the user?

[2022-09-23 06:42] bphipson opened #2778 "speckle package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/phipsonlab/speckle

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-09-23 13:01] snaketron opened #2779 "(inactive) scBubbletree"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/snaketron/scBubbletree

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-09-23 13:01] #2779 closed, assigned to nobody

[2022-09-23 13:06] lptolik opened #2780 "BioNAR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lptolik/BioNAR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-09-23 13:07] snaketron opened #2781 "scBubbletree"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/snaketron/scBubbletree

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-09-24 06:13] Lionir commented on #2391
@lshep please see answered questions.

[2022-09-25 09:59] veitveit commented on #2724
Hi @ococrook,

First sorry for the many trials with the CI. I now managed to run the checks myself,  so this should not happen again.

Most of the request should be in place now (see below), but I did not and could not test the building on Windows. As the original author of the C++ code was running and testing it on his Windows machine, I do not understand why it won't work.

Very valid point, see

[2022-09-25 10:33] vjcitn commented on #2766
Please use a name other than "vignette.Rmd" for your vignette document.  Please name the chunks in the vignette.  Code like
[code]
in which the user must use sequences of "$", should lead to the development of accessor methods for objects.  "grid.arrange" might be part of a plot method for an object of significance.  Just a couple of reactions to a scan of the vignette.

[2022-09-25 10:38] vjcitn commented on #2769
I don't know what this is
[code]
but it looks like you need the AdditionalPackage protocol from the contributions guide.

[2022-09-25 17:14] vjcitn commented on #2780
Vignette is taking a while to build, so I ran a purled version and saw
[code]
those character representations of numeric (esp. floating point) data are not desirable.  Can you
intervene to ensure that the user gets entities of appropriate type?  Looks like calcAllClustering is slow and perhaps you don't want to do this in the vignette.  Maybe you can precompute and use
a serialized result.

[2022-09-25 17:50] vjcitn commented on #2751
Sorry for delay.  My latest attempt led to:
[code]

[2022-09-25 17:54] vjcitn commented on #2751
But I was able to run the vignette code, so pre-check is passed.  Now the build system.... after it is ingested ... gets to have a try.

[2022-09-26 11:18] lshep commented on #2707
do not close the issue -- we will process it and add it to the daily builder but it must remain open until then. I was away on holiday last week; I will process the issues in the next day or two.

[2022-09-26 12:15] lshep commented on #2604
When they have submitted to Bioconductor we can reopen this issue.

[2022-09-26 12:21] lshep commented on #2736
I'm very sorry for the delay. I will be ingesting packages later this afternoon and it should be on the nightly builds within 48 hours.

[2022-09-26 13:18] lshep commented on #2757
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/js2264.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-09-26 13:18] #2757 closed, assigned to LiNk-NY

[2022-09-26 13:18] lshep commented on #2749
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/kevinrue.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-09-26 13:18] #2749 closed, assigned to nilseling

[2022-09-26 13:18] lshep commented on #2745
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/rodrigarc.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-09-26 13:18] #2745 closed, assigned to ococrook

[2022-09-26 13:18] lshep commented on #2736
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-09-26 13:18] lshep commented on #2720
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lgatto.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-09-26 13:18] #2736 closed, assigned to Kayla-Morrell

[2022-09-26 13:18] #2720 closed, assigned to hpages

[2022-09-26 13:18] lshep commented on #2707
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jokergoo.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-09-26 13:18] #2707 closed, assigned to vjcitn

[2022-09-26 13:18] lshep commented on #2757
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/js2264.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-09-26 14:54] lshep commented on #2769
You may now submit the related package on this issue as documented [here](https://github.com/Bioconductor/Contributions#submitting-related-packages) to allow both the data and software package to install/build/check

[2022-09-26 15:41] lshep commented on #2781
@hpages  / @jwokaty  it looks like there is a system dependency that needs to be installed that doesn't necessarily come from this package but from a dependency of a dependency (Seurat utilizing leiden).  See [leiden gihub]( https://github.com/TomKellyGenetics/leiden)  that has some needed pip installs.  Please comment if this is acceptable to add to the builders.

[2022-09-26 23:20] snaketron commented on #2781
Any idea how to solve this error?

No external package data is used.

Two datasets are included in dir /data: data_500 and data_ccl and both dataset are loaded in the .Rd
examples as data("d_500", package = "scBubbletree") and data("d_ccl", package = "scBubbletree").

[2022-09-27 08:03] yocra3 commented on #2769
AdditionalPackage: https://github.com/yocra3/NetActivity

[2022-09-27 11:32] lshep commented on #2781
If you run BiocCheck locally there will be a scBubbletree.BiocCheck with a more detailed 00BiocCheck.log.  This will give you more details about all of the ERROR/WARNING/NOTES .  The ERROR in question is detailed `scales::percent in get_cat_tiles()` is not in NAMESPACE.  Also the license in the DESCRIPTION should match the LICENSE file provided - the file provided is GPL-3.  Please correct these a

[2022-09-27 13:12] devonjkohler opened #2782 "(inactive) MSstatsShiny"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Vitek-Lab/MSstatsShiny

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-09-27 13:13] #2782 closed, assigned to nobody

[2022-09-27 13:22] devonjkohler opened #2783 "MSstatsShiny"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Vitek-Lab/MSstatsShiny

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-09-27 14:37] yocra3 commented on #2769
Hi,

In the last build, both packages returned en error because I was not registered to the Bioc-devel mail list. I have registered to the mail list, but I have not received any confirmation. Once I receive the confirmation, should I bump the version just to repeat the package build?

Bests,

[2022-09-27 15:54] snaketron commented on #2781
Thanks for the info @lshep , previous errors+warnings are now fixed.

Two errors remain:
1. leidenalg software needs to be installed to solve this, as mentioned earlier by @lshep

2. I added the tag 'scBubbletree' to my profile yesterday, perhaps this error will be resolved later on?

I will solve the remaining NOTEs in the next days.

[2022-09-27 16:03] j0ntt opened #2784 "(inactive) Totem"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/elolab/Totem

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-09-27 16:03] #2784 closed, assigned to nobody

[2022-09-27 16:09] j0ntt opened #2785 "(inactive) Totem"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/elolab/Totem

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-09-27 16:46] lshep commented on #2769
@yocra3  sometimes the confirmation email ends up in spam folders; I would also check there

[2022-09-27 18:31] jwokaty commented on #2781
I installed the stable version of `leiden` from CRAN on nebbiolo2. If this package is accepted, we'll install it on the other builders.

[2022-09-27 18:50] hpages commented on #2781
Based on the error reported by the SPB, It looks like **scBubbletree** requires _Python module_ `leidenalg`.

@snaketron Can you confirm this? If that's the case then you need to add a `SystemRequirements` field to your `DESCRIPTION` file that looks like this:
[code]
Note that you can also specify what minimum versions of Python 3 and/or `leidenalg` are required e.g. with something like `Python (>

[2022-09-27 19:19] hpages commented on #2781
I should add that this requirement actually comes from the **leiden** package from CRAN, which is a hard dep of the **Seurat** package, which you depend on. FWIW other Bioconductor packages already depend directly or indirectly on **Seurat** e.g. [**CelliD**](https://bioconductor.org/packages/CelliD), [**phemd**](https://bioconductor.org/packages/phemd), [**scAlign**](https://bioconductor.org/pack

[2022-09-27 19:54] snaketron commented on #2781
@hpages

Seurat's function FindClusters offers 4 clustering algorithms and Leiden is one of them. So yes, if the user decides to use Leiden then scBubbletree requires the python leidenalg module.

I assume that if an R-package only in some instances requires some other software that it should nevertheless list this software as a hard requirement (would you agree?)

Thank you! I will add the approp

[2022-09-27 20:31] hpages commented on #2781
That's a great question. For R-package inter dependencies, we can choose between the `Depends`, `Imports`, `LinkingTo`, or `Suggests` field, to describe the type of dependencies. For example `Depends` and `Imports` are for _hard_ dependencies, and `Suggests` is for _soft_ dependencies.

But there's nothing like this for _external_ requirements. All the external requirements go in the `SystemRequir

[2022-09-27 21:34] CPRyan opened #2786 "(inactive) DunedinPACE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/danbelsky/DunedinPACE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-27 21:34] #2786 closed, assigned to nobody

[2022-09-27 21:43] CPRyan opened #2787 "(inactive) DunedinPACE submission to bioconductor"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/danbelsky/DunedinPACE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-27 21:44] #2787 closed, assigned to nobody

[2022-09-27 21:47] CPRyan opened #2788 "(inactive) DunedinPACE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/danbelsky/DunedinPACE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-27 21:47] #2788 closed, assigned to nobody

[2022-09-27 22:00] DarioS commented on #2780
While you are working on getting the code to build and check fine, please also update to meet [the Developer's Guide rules](https://contributions.bioconductor.org/r-code.html).

Your variable naming usage is inconsistent e.g. `intra_m`, `inter_m`, `intraEdgesM`.  Also, don't use uninformative variable names like `i` or `gg`. Use names such as `sampleIndex` instead for readability.

[2022-09-27 22:01] CPRyan opened #2789 "(inactive) DunedinPACE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/danbelsky/DunedinPACE

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-27 22:19] jwokaty commented on #2781
Sorry, it errored because I didn't install the python package correctly; however, I installed it correctly and reran your build. There's still an error but it's related to a configuration on the support site for the maintainer.

[2022-09-27 23:23] hpages commented on #2781
The new error is probably on our side. I just checked and the **DelayedArray** package _is_  installed on nebbiolo2. Somehow it wasn't loadable when the SPB tried to build or check **scBubbletree** one hour ago. Could be bad timing between the SPB and BBS (the system running the Bioconductor daily builds) e.g. the latter was re-installing **DelayedArray** when the former was checking **scBubbletre

[2022-09-28 00:30] PeteHaitch commented on #2606
Thank you for making the required changes and carefully considering the recommended changes, @fuerzhou.

I have a few final minor requests/queries before I accept **SPIAT** into Bioconductor:

- [ ] Why does `format_image_to_spe()` emit a message `Note: 4 rows removed due to NA intensity values.` for the example in §2.1.1 of the vignette?
- [ ] I suggest choosing a different background colour or '

[2022-09-28 00:34] PeteHaitch commented on #2632
Thank you for making the required changes and carefully considering the recommended changes, @khazum .

I have a few final minor requests/queries before I accept **ccImpute** into Bioconductor:

 ## Required

- [ ] Allow the user to supply a *BiocParallelParam* object to `ccImpute()` (and to any other functions that implement parallelisation). This would typically be done via a `BPPARAM` argument

[2022-09-28 00:43] snaketron commented on #2781
Will try tomorrow again :)

Many thanks to the Bioconductor Team for the support!

[2022-09-28 00:58] jeffreypullin commented on #2710
Hi @ococrook, just wanted to follow up on this :).

[2022-09-28 00:59] hpages commented on #2781
Well, this is just this BiocCheck error now so there's progress :wink:
[code]

[2022-09-28 07:34] HelenaLC commented on #2651
- We added the unit test.
**Thanks, greatly appreciated!** Coverage is now at >60% according to `devtools::test_coverage()` (see screenshot below). It would be nice to get this to, say, 90%+ (e.g., one of the main functions `MZILN` is currently untested).

<img width="633" alt="image" src="https://user-images.githubusercontent.com/14542264/192716505-03d38815-f275-46f4-8aeb-68e06c16e7ec.png">

* We

[2022-09-28 07:43] yocra3 commented on #2769
Hi @lshep , you were right and I had the email in the spam folder. Should I bump the version just to trigger a new build?

[2022-09-28 09:13] fuerzhou commented on #2606
Hi @PeteHaitch, thank you very much for the review and the pull request. I have fixed the following points and merged your pull request to the main branch.

- [X] Why does format_image_to_spe() emit a message Note: 4 rows removed due to NA intensity values. **There was a mistake in the message. Fixed.**
- [X] I suggest choosing a different background colour or 'Other' colour for plot_cell_categori

[2022-09-28 09:23] ococrook commented on #2710
Hi @jeffreypullin, just got back from annual leave, I'm going to start going through my reviews today

[2022-09-28 09:26] ococrook commented on #2724
@veitveit sorry for the delay, I'm going to look at this today. I'll need to have a look at the windows build and c++ code carefully so it may take a bit of time but everything else looks good - I just need to double check them

[2022-09-28 09:27] ococrook commented on #2778
@bphipson thanks for the submission, I'll get around to having a look at the package shortly. I can take upto 10 days to get back to you. If you could have a look at the warning in the meantime that would be great.

[2022-09-28 11:59] veitveit commented on #2724
Thank you! Just ping me if you need more info or help.

[2022-09-28 12:36] ococrook commented on #2724
Hey @veitveit, is this the repistory you pushed from  Repository: https://github.com/veitveit/vsclust? There are some strange inconsistencies

[2022-09-28 12:38] ococrook commented on #2724
Is `data(miniACC)` working in your package? I couldn't find it but the function is called in the examples

[2022-09-28 13:05] lshep commented on #2769
yes please

[2022-09-28 13:39] veitveit commented on #2724
I managed to make it work with `data(miniACC, package="MultiAssayExperiment")`.

I can see that the master branch on github.com/veitveit/vsclust had not been updated. Now it is.

[2022-09-28 14:11] jianhong commented on #2765
# Package 'MetaPhOR' Review
Thank you for submition your package to Bioconductor. The package passed check and build. However there are several things need to be fixed. Please try to answer the comments line by line when you are ready for a second review.

## The NAMESPACE file
- [ ] NOTE: Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 8 import(ggplot2)

##

[2022-09-28 14:22] ococrook commented on #2710
Thanks @jeffreypullin for the revisions and looks like the package is almost there. There are a couple of points I'm still unsure about

-[ ] Checking function inputs more carefully.

For `clone_id`, your input is a sparse matrix but then in the documentation you ask for an integer matrix. It seems the sparsness might not be that important but the integer entries are. If I add 0.01 to your input m

[2022-09-28 21:55] gartician commented on #2738
Hi @PeteHaitch, we were able to include SCE objects to CITEViz! For some new functions we added, should we include the tests into the next commit? We will definitely finish writing tests before the BioConductor 3.16 release, but one of our developers is out sick and may require an extra week or two to finish. Meanwhile, we are available to address additional comments if possible. Thank you for you

[2022-09-28 23:49] PeteHaitch commented on #2738
Hi @gartician,

That's great news!

According to the [Bioconductor 3.16 Release Schedule](https://bioconductor.org/developers/release-schedule/), we have until October 26 for the package to be accepted in order for it to make the 3.16 release.
I'm confident we can achieve this and will work with you to help as best I can.

I'll do a complete review once the new version of the package is submitted

[2022-09-29 01:55] hpages commented on #2751
Hi @ecool50, please address the issues reported by the automated single package builder (SPB) above, so I can start the review. Thanks!

[2022-09-29 03:17] nick-robo commented on #2751
I have addressed all the errors and warnings apart from `ERROR: Maintainer must subscribe to the bioc-devel mailing list.` in version `0.99.1` which is now on the repository.

[2022-09-29 07:53] HelenaLC commented on #2718
Again, please make sure to push these changes **upstream** with a version bump from v0.99.2 to v0.99.3 in order to trigger a new build. The Bioc version is currently not in synch with what I am seeing on the **origin** remote (i.e., your GitHub).

[2022-09-29 09:40] HelenaLC commented on #2631
First round of comments below! Note that many are suggestions and not strictly required (e.g., "consider..."). Please comment back here with what has/not been addressed how/why not, or any comments regarding any needed clarification or questions you might have; happy to help/discuss. Cheers!

# README

- [ ] Please include installation instruction using `BiocManager::install()`.

# DESCRIPTION

-

[2022-09-29 11:07] ococrook commented on #2724
Awesome, thanks managed to align the versions now. I'm much happier with the interaction with bioconductor objects and vignette

Build report:

 - [ ] It looks like in the build report there are still some error and warnings to address: http://bioconductor.org/spb_reports/vsclust_buildreport_20220925051138.html

R code:

- [ ] Thera are some instances of "T/F" rather than TRUE or FALSE
- [ ] I don

[2022-09-29 14:29] veitveit commented on #2724
@ococrook
Nice, that is definitely some progress!

_Build report_
I am now with only two warnings. One of them is due to some commented code that I want to leave in there.

_R code_
There was only one T in a comment left which I changed. I did not find any other one.
`seq` has now been used for all sequences. I used `,1` as third argument to ensure that they are only increasing.
Variables with ful

[2022-09-29 14:54] Kayla-Morrell commented on #2719
@lambdamoses - Below is my initial review of Voyager. Again, the required changes must be made while the suggested changes do not have to be (though we strongly encourage them). Comment back here with updates that have been made and when the package is ready for a re-review.

## General package development

- [ ] REQUIRED: In the README file the installation instructions should also
  include Bioc

[2022-09-29 15:46] snikumbh opened #2790 "seqArchRplus"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/snikumbh/seqArchRplus

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-09-29 17:04] Kayla-Morrell commented on #2742
@jsun - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] SUGGESTION: I would also add to the instal

[2022-09-29 22:50] PeteHaitch commented on #2606
Thank you for your responses, @fuerzhou .
I'm pleased to accept **SPIAT** into Bioconductor 🎉
Thank you for your contribution!

[2022-09-29 22:51] PeteHaitch commented on #2606
One final thing I just spotted: please remove the `Dockerfile` from your git repo or explain why it is required.

[2022-09-30 01:23] fuerzhou commented on #2606
@PeteHaitch, thank you again for such huge support with the package. I have removed the `Dockerfile` and pushed it to Bioconductor.

[2022-09-30 01:33] PeteHaitch commented on #2606
My pleasure!

[2022-09-30 03:55] bphipson commented on #2778
Thanks @ococrook . I checked the warning and it is to do with missing or empty \VignetteIndexEntry. However %\VignetteIndexEntry{} is present in the speckle.Rmd file, so I am a bit confused as to why this warning is coming up and I'm not sure how to fix it.

[2022-09-30 05:40] PeteHaitch commented on #2778
I ran `R CMD check` on my mac and didn't get this warning - I wonder if it's specific to Linux (which the `nebbiolo2` Bioconductor Single Package Builder is)?
I thought it might be due to the [VignetteIndexEntry entry being broken up over 2 lines](https://github.com/phipsonlab/speckle/blob/1a4993a1ec09ff7138b1504c68b9f66cafd3d65b/vignettes/speckle.Rmd#L8-L9)
Perhaps worth changing to a single line

[2022-09-30 07:41] jsun commented on #2742
Hi, @Kayla-Morrell, thank you for checking our package, we will update the package according to your comments as soon as possible. I'll let you know after we have corrected all requirements. Thanks.

Of course; we will change the installation instructions to using `BiocManager::install` after the acceptance.

Done.

The processes performed by this package don't relate to the spliced alignment.

Do

[2022-09-30 09:26] HelenaLC commented on #2781
First round of comments below! Note that many are suggestions and not strictly required. Please comment back here with what has/not been addressed how/why not, or any comments regarding any needed clarification or questions you might have; happy to help/discuss. Cheers!

# DESCRIPTION

- [ ] Consider adding a `URL:` field pointing to the code repo,
and a `BugReports:` field for reporting issues (e

[2022-09-30 10:07] lazappi commented on #2737
Hi @reesyxan

Thanks for submitting **iDA** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses. You can use the "Quote repl

[2022-10-01 06:46] huerqiang commented on #2734
@lshep Hi, how is the review progress of this package, do I need to make any changes?

[2022-10-02 09:57] snaketron commented on #2781
Thank you for the review. Fixes have been pushed (0.99.11 and minor change in 0.99.12).

Added URL and BugReports in Description

Added man/scBubbletree-package.Rd

Background section added with some motivation.

Question: I have a few other vignettes (.Rmd reports and .html exports) which are too
computationally heavy to be compiled regularly. Can I include the .htmls exports in
/vignettes?

Adde

[2022-10-02 17:39] nilseling commented on #2774
Hi @anic0077,

thanks for submitting `simpleSeg`. It's a great addition to the image analysis side of Bioconductor.
Before we can accept the package there are a few things that need to be addressed, see below.
Please respond to the comments point-by-point and let me know if things are unclear.

## General package development

- [x] Please fix the last NOTEs by adding the missing functions to the i

[2022-10-02 20:32] hpages commented on #2751
Hi @ecool50,

Please address the import issues (various "no visible global function definition for" NOTES by `R CMD check`). For the **methods**, **stats**, and **S4Vectors** imports, _full_ imports (e.g. `import(stats)`) are preferred over _selective_ imports (e.g. `importFrom("stats", "aggregate", "cor", "cov.wt", "kmeans", "prcomp", "princomp", "quantile", "sd")`).

Also please try to reduce th

[2022-10-03 00:06] bphipson commented on #2778
Thanks @PeteHaitch, I have pushed that change.

[2022-10-03 00:30] fuerzhou commented on #2606
May I ask if the package is on Bioconductor devel branch? I tried installing it from Bioconductor myself but received a warning:
`package ‘SPIAT’ is not available for Bioconductor version '3.16'`.

[2022-10-03 06:42] jsun commented on #2742
Hi, @Kayla-Morrell

We updated the package according to your comments, would you please check the package again? Many thanks.  If there are further comments, please let me know. For example, we didn't remove `suppressWarning` according to some reason; but if it still strongly recommends removing it, please let us know. Many thanks.

[2022-10-03 14:16] Kayla-Morrell commented on #2742
Hello @jsun - I see that you have pushed the changes to your GitHub but they need to be pushed to our git version of the package. See the comment made [here](https://github.com/Bioconductor/Contributions/issues/2742#issuecomment-1243910800) about setting up remote to push to git.bioconductor.org.

[2022-10-03 17:35] lshep commented on #2606
I will process all the accepted packages tomorrow.  Once that happens it will become available in devel.

[2022-10-03 18:53] Kayla-Morrell commented on #2734
@huerqiang - The package has been added to our devel builder and the script to make it available is currently running. It should finish in the next couple of hours and then the package will be available in the devel version of Bioconductor. Thank you for your contribution!

[2022-10-03 18:53] #2734 closed, assigned to vjcitn

[2022-10-03 19:19] sdgamboa opened #2791 "MicrobiomeBenchmarkData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/waldronlab/MicrobiomeBenchmarkData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I

[2022-10-03 20:31] jsun commented on #2742
Thanks, can I push to git.bioconductor.org at this stage? Because I tried to push the update but I got the permission denied error.

[code]

[2022-10-03 23:06] aoles opened #2792 "(inactive) RBioFormats"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/aoles/RBioFormats

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-10-03 23:06] #2792 closed, assigned to nobody

[2022-10-03 23:33] aoles opened #2793 "RBioFormats"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/aoles/RBioFormats

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-10-04 02:20] PeteHaitch commented on #2753
Hi @LiNk-NY,

Thank you for submitting **TENxIO** to Bioconductor.
The package is already in reasonably good shape.

However, I do think **TENxIO** requires comparison to existing Bioconductor solutions for importing 10x Genomics files into R, namely **DropletUtils** and some of the functionality in **SpatialExperiment**.
The package name sort of suggests that **TENxIO** is _the_ solution for impo

[2022-10-04 05:23] fuerzhou commented on #2606
Thank you @lshep!

I have updated the package and pushed the new version to Bioconductor. I made a version bump in DESCRIPTION, but there is no build initiated. Could you please help with this? Thanks!

[2022-10-04 09:08] Nina-Song commented on #2610
Hi @lazappi ,

Thank you again for your valuable feedback!
The following changes have been made:

- [ ] Changed the format of NEWS file
- [ ] Added text description of extdata in inst/script
- [ ] Reordered installation section and checked the spelling in the vignette
- [ ] Optimized R code (<- and 1:...)
- For the example data:
1. [ ] Cleaned up the data format that now only contains important in

[2022-10-04 10:07] vjcitn commented on #2793
Please add an introductory paragraph to vignette indicating role in the Bioconductor ecosystem and general scientific value of the package, so that a newcomer to your package could appreciate its value.

[2022-10-04 10:14] BiotechPedro opened #2794 "(inactive) microSTASIS"
- **Repository**: https://github.com/BiotechPedro/microSTASIS

- **Additional important correspondence**: The former version of the package was submitted to CRAN one year ago. Therefore, there is an error regarding the package is in CRAN. They (CRAN@R-project.org) replied the following to me:

"The way this is usually done is that you get your package added to BioC devel and only this gets release

[2022-10-04 10:14] #2794 closed, assigned to nobody

[2022-10-04 10:50] BiotechPedro opened #2795 "microSTASIS"
- Repository: https://github.com/BiotechPedro/microSTASIS

- Additional important correspondence: The former version of the package was
  submitted to CRAN one year ago. Therefore, there is an error regarding the
  package is in CRAN. ([They](mailto:CRAN@R-project.org)) replied the
  following to me the following, so I will immediately remind it to them once the
  package is released.

- [x] I und

[2022-10-04 11:26] lshep commented on #2606
once its accepted it will not be a build on demand.  It gets on to the daily system and run on the schedule listed [here](http://bioconductor.org/checkResults/) .  I will process these momentarily.

[2022-10-04 11:35] lshep commented on #2742
Please activate your GitCredentials account.  I will send private email with a temporary password for activation. Once that occurs you can manage your ssh keys for access.

[2022-10-04 12:35] lshep commented on #2606
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/fuerzhou.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-04 12:35] #2606 closed, assigned to PeteHaitch

[2022-10-04 13:55] lshep commented on #2748
Could you please push your changes to git.bioconductor.org and trigger the new build report for review.  See [previous comment](https://github.com/Bioconductor/Contributions/issues/2748#issuecomment-1228432470)

[2022-10-04 14:05] mooredf22 commented on #2541
The detailed comments on this package have led to considerable quality improvements. That said, it has been some time since my above August 18 response, and I am wondering if further changes are required to make the package suitable for inclusion in Bioconductor.

[2022-10-04 14:47] aoles commented on #2793
I've followed the instructions on setting up the remote upstream repo but for some reason I'm unable to push, see below. Any ideas?

[code]

[2022-10-04 14:49] lshep commented on #2793
Have you activated the GitCredentials account for ssh keys?

[2022-10-04 14:53] lshep commented on #2793
I think I see what the issue is.  I tried an adjustment on our end. Can you please try again.

[2022-10-04 14:55] aoles commented on #2793
Thanks a lot Lori for your prompt help! ❤️

[2022-10-04 18:36] lambdamoses commented on #2719
I have written some new functionalities for both SFE and Voyager in addition to addressing the reviews.

I have written a shorter vignette, though I no longer link to SFEWorkshop because the user interface has changed. I'll link to a new website later.

I don't really find that necessary since I myself rarely look at package man pages and go straight to the vignette or package website instead for

[2022-10-04 21:51] pamelarussell commented on #2732
@hpages We have pushed updates for these suggestions:

1. Correctly export `print.D4Source()`; add to vignette and tests
2. Replace `to_granges()` with `import()`, which has an optional `which` parameter taking a `GRanges` or `GRangesList` object, similar to the `import*` methods in `rtracklayer`.
3. Unfortunately genome information is not stored in the D4 format, so the Seqinfo object cannot capt

[2022-10-04 23:15] gkanogiannis opened #2796 "metabinR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gkanogiannis/metabinR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-04 23:40] jsun commented on #2742
Hi, @Kayla-Morrell  , thanks to @lshep 's helping, it seems that I successfully pushed the update to BioC git.

[2022-10-05 06:00] DarioS commented on #2780
Thanks for fixing the errors and warnings. There are currently a number of issues which I have identified.

- See code and syntax requests in my previous comment.
- The package needs integration with existing Bioconductor classes and packages. It currently lacks any. For example, [Pairs ](https://rdrr.io/bioc/S4Vectors/man/Pairs-class.html)would be a good data container for binary PPI edges.
- Ple

[2022-10-05 07:23] danro9685 opened #2797 "(inactive) ASCETIC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/danro9685/ASCETIC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-10-05 07:25] danro9685 opened #2798 "SparseSignaturesPlus"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/danro9685/SparseSignaturesPlus

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-10-05 13:47] lazappi commented on #2610
I think there is still one `----------` line in there

There is still some information missing here, mostly links to the source for the dataset (GEO, publication etc.). Ideally this would be an R script that shows where you got the data from and how it was processed.

These sections should be evaluated, you may need to add more example data to make this possible. This code could also do with some

[2022-10-05 15:17] Danis102 commented on #2275
Dear,

Please reopen our submission (issue #2275). After some delay we are now in revision for a paper presenting the package (Seqpac). One of the reviewers, however, demands a completed that the Bioconductor submission prior to acceptance. Since our package only fails the time limit on the Mac server, without other errors, we believe we can complete our submission to Bioconductor before the 30 da

[2022-10-05 15:21] lshep commented on #2275
Please push any changes and a version bump to trigger a new build report.

[2022-10-05 15:33] maddygriz commented on #2604
@vjcitn and @lshep RBioFormats has been submitted! #2793 Can we reopen this issue?

[2022-10-05 20:14] hpages commented on #2732
Thanks for the changes.

Still a few problems (8. is a major one):

8. Performance. The `example.d4` is very small (510910 bytes, 170 lines) but loading it in R with `import()` takes more than 3 min on my machine and consumes about 9Gb of memory! This is not good. Such poor performance makes the package unfit for real-world data. Hopefully that's something that can be addressed. Performance would

[2022-10-05 21:08] davidpross opened #2799 "(inactive) InSituType"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/InSituType

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-10-06 04:34] jeffreypullin commented on #2710
Hi @ococrook,

Thanks for your response :)

-[X] Checking function inputs more carefully.

I have added a new check that the sparse input A and D matrices have integer values. I could not, however, reproduce the crashing the behavior you report when the entries were not integers.

- [ ] Reuse of Bioconductor objects.

I agree that ideally the package would store data in existing Bioconductor objec

[2022-10-06 05:53] GuangchuangYu commented on #2748
@lshep done.

[2022-10-06 06:31] lazappi commented on #2610
Hi @Nina-Song

Another follow up comment, sorry. Another reviewer noticed that the `data.frame` format is not documented in the function documentation. Each function parameter documentation should say that the input is a `data.frame` and what columns etc. it must have.

They also suggested that another solution to the object problem would be to write a preparation function that creates the `data.f

[2022-10-06 06:55] Nina-Song commented on #2610
Dear @lazappi ,

Thank you so much for your valuable suggestions and prompt follow-up comment, they are very helpful.

- For function parameter documentation: thanks for reminding me, I will change it to data.frame and add explanation for columns at the beginning of each function.

- For the second part, it is also what we are thinking about - to provide functions just like what has been shown in

[2022-10-06 08:48] SPirrotta commented on #2701
Hi,
I completed all the requested changes:

### General comments

- Bioconductor installation instructions added to the README file
- IPSOVSign function added
- Non-exported functions prefixed with .
- Seurat objects are not supported anymore by any function
- An additional column is added to availableSignatures that lists the data transformation steps.
- .fakeData moved into UtilityFunctions.R

#

[2022-10-06 10:46] HelenaLC commented on #2718
Ok, I believe all essential changes have been made. Nevertheless, I kindly ask you to consider the comments below. Please bare in mind that throughout development - that is, also after acceptance and the package being available through Bioc - you will need to update both the origin and upstream branch (with a version bump) for changes to go through to Bioconductor and be available to users upon in

[2022-10-06 11:46] almeidasilvaf commented on #2754
Hi, @vjcitn

It's been more than one month since the package built successfully. Any news on this package?

Best,
Fabricio

[2022-10-06 11:49] lshep commented on #2297
@jfanglovestats is this ready for a re-review?  could you re-summarize the changes for @lazappi

[2022-10-06 11:50] lshep commented on #2383
@a-mahdipour  do you plan on following up with this submission?  We like to see progress in a 3-4 week time frame and the release is fast approaching.  You must have the package building/checking without ERROR before a formal review would occur.

[2022-10-06 11:51] lshep commented on #2541
I will check with @lgatto  about the re-review and reassign if necessary.  We apologize for the delay.

[2022-10-06 12:16] lgatto commented on #2541
I'll do it by the end of the week.

[2022-10-06 12:17] almeidasilvaf opened #2800 "doubletrouble"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/almeidasilvaf/doubletrouble

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2022-10-06 12:59] HelenaLC commented on #2781
Thanks for addressing these gaps / suggestions for improvements so quickly; looks great!! The key functions are indeed much more compact and easier to follow, and I'm getting ~93% coverage now with at least >80% lines covered per function. All other points have been resolved as well, though, yes, it would be nice to further populate the unit tests with future development - e.g., as issues arise an

[2022-10-06 15:20] lmweber opened #2801 "WeberDivechaLCdata"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lmweber/WeberDivechaLCdata

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2022-10-06 15:20] LiNk-NY commented on #2753
Hi Pete, @PeteHaitch

Thank you for the comprehensive review.
Please see my responses below.

Best,
Marcel

---

I've added support for files without 'interval' information.
You can now read this in with:

Support for version 2 is added. It will import a plain `SingleCellExperiment`.

I will let Dario @drighelli or Helena @HelenaLC comment here. They are
welcomed to contribute to the package. I wo

[2022-10-06 15:24] lmweber commented on #2801
This is an ExperimentHub data package to accompany an upcoming paper. It contains 2 data objects, formatted as 1x `SpatialExperiment` and 1x `SingleCellExperiment` objects.

I have uploaded the 2x data objects with `azcopy`, stored in a subdirectory `WeberDivechaLCdata`.

The package passes local checks with `devtools::check()`, `BiocCheck::BiocCheck()`, and `ExperimentHubData::makeExperimentHubMe

[2022-10-06 15:25] lmweber commented on #2801
Tagging @heenadivecha to also receive notifications

[2022-10-06 18:05] lmweber commented on #2753
Hi all, following up here regarding some of the discussion above. Is the plan to essentially move `DropletUtils::read10xCounts()` and `SpatialExperiment::read10xVisium()` into this package instead?

I think this could make sense, since it would make a clearer distinction between the underlying data structure and loader / helper functions.

This could also be a good opportunity to resolve some outs

[2022-10-06 18:20] snaketron commented on #2781
Thank you for the fast and constructive review. More unit tests will follow.

Now the two scripts in inst/script/ should be executable.

[2022-10-06 19:22] vjcitn commented on #2777
Trying to review, hitting
[code]

[2022-10-06 19:35] maddygriz commented on #2604
@lshep The new build is erroring because RBioFormats isn't available yet. Is there something I need to do on my end other than wait for them to be approved?

[2022-10-06 19:51] jokergoo commented on #2777
I think this should be an internet issue when connecting to the BioMart web service (using `biomaRt` package). There might be one of the following two reasons:

1. Currently you cannot connect to Ensembl BioMart service? Maybe you can try it later.
2. These lines retrieve GO-gene relations for all GO terms. The data is relatively huge. The downloading might be interrupted? (This is unlikely becaus

[2022-10-06 20:15] na396 opened #2802 "SGC: A semi-supervised pipeline for gene clustering using self-training approach in gene co-expression networks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC
Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bioconduc

[2022-10-06 20:15] #2802 closed, assigned to nobody

[2022-10-06 20:56] na396 opened #2803 "(inactive) SGC: A semi-supervised pipeline for gene clustering using self-training approach in gene co-expression networks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Biocondu

[2022-10-06 20:56] #2803 closed, assigned to nobody

[2022-10-06 20:58] Syksy opened #2804 "(inactive) curatedPCaData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Syksy/curatedPCaData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-06 20:58] #2804 closed, assigned to nobody

[2022-10-06 21:02] na396 opened #2805 "(inactive) SGC: A semi-supervised pipeline for gene clustering using self-training approach in gene co-expression networks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Biocondu

[2022-10-06 21:02] #2805 closed, assigned to nobody

[2022-10-06 21:03] na396 opened #2806 "(inactive) SGC: A semi-supervised pipeline for gene clustering using self-training approach in gene co-expression networks."
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Biocondu

[2022-10-06 21:03] #2806 closed, assigned to nobody

[2022-10-06 21:19] lshep commented on #2604
That is correct. It won't be available until the package is accepted and on our builders.

[2022-10-06 23:23] vjcitn opened #2807 "BiocFHIR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/vjcitn/BiocFHIR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-10-07 01:17] jfanglovestats commented on #2297
Hi Ishep and Luke,

Sorry I just relocated and started a new job. Lots of things have been going on this month. I will try my best to wrap up within a week.

Best,
Jiyuan

From: lshep ***@***.***>
Date: Thursday, October 6, 2022 at 7:49 AM
To: Bioconductor/Contributions ***@***.***>
Cc: jfanglovestats ***@***.***>, Mention ***@***.***>
Subject: Re: [Bioconductor/Contributions] CDI (#2297)

@jfangl

[2022-10-07 01:18] jillbo1000 commented on #2766
Thank  you for your comments. We have resubmitted the package and pushed it
to ***@***.***:packages/cytofQC. This is how we addressed your
comments and the error from the bot:

1. Removed the Rproj file from the repository
2. Changed name of vignette to cytofQC.rmd
3. Named all of the chunks in the vignette
4. Added a set of four 'get' functions to avoid the dollar sign issue in
the vignette
5. We

[2022-10-07 02:17] marianaferreira opened #2808 "(inactive) betAS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/marianaferreira/betAS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 02:17] #2808 closed, assigned to nobody

[2022-10-07 02:32] marianaferreira opened #2809 "(inactive) betAS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/marianaferreira/betAS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 02:32] #2809 closed, assigned to nobody

[2022-10-07 02:41] marianaferreira opened #2810 "(inactive) betAS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/marianaferreira/betAS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 03:56] ecool50 commented on #2751
AdditionalPackage: https://github.com/SydneyBioX/spicyWorkflow

[2022-10-07 05:02] HelenaLC commented on #2781
Again, thanks for the prompt fix. Beyond the initial stylistic / basic review, I found the following rather significant "issue" with `scBubbletree`'s current structure:

**major:**

- The `DESCRIPTION` lists `SummarizedExperiment` under `imports:`, however, the package isn't used anywhere (except in the context of `is(..., "SummarizedExperiment")`, which doesn't require it as a dependency).

- `Se

[2022-10-07 06:32] lptolik commented on #2780
Dear Dario,

Thank you for reviewing our package.

Could you, please clarify what do you mean when you propose to use [Pairs ](https://rdrr.io/bioc/S4Vectors/man/Pairs-class.html) for binary PPI edges as an integration with Bioconductor packages and classes?

We are already using [synaptome.db](https://bioconductor.org/packages/devel/data/annotation/html/synaptome.db.html), [fgsea](https://biocond

[2022-10-07 07:23] almeidasilvaf opened #2811 "tfhunter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/almeidasilvaf/tfhunter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-10-07 07:42] ycao6928 opened #2812 "(inactive) scFeatures"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scFeatures

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 07:42] #2812 closed, assigned to nobody

[2022-10-07 07:53] ycao6928 opened #2813 "(inactive) scFeatures"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scFeatures

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 07:53] #2813 closed, assigned to nobody

[2022-10-07 08:03] ycao6928 opened #2814 "(inactive) scFeatures"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scFeatures

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 08:03] #2814 closed, assigned to nobody

[2022-10-07 08:06] ycao6928 opened #2815 "scFeatures"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scFeatures

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 08:17] fame2827 opened #2816 "(inactive) Statial"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/Statial

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-10-07 08:17] #2816 closed, assigned to nobody

[2022-10-07 08:28] fame2827 opened #2817 "(inactive) Statial"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/Statial

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-10-07 08:28] #2817 closed, assigned to nobody

[2022-10-07 08:47] fame2827 opened #2818 "Statial"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/Statial

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-10-07 08:49] nilseling commented on #2701
Hi @SPirrotta,

thanks for submitting the changes. I'll reopen the issue and go through the package next week.

[2022-10-07 11:04] vjcitn commented on #2815
You have
[code]
All submissions must constrain their dependencies to packages that are in CRAN or Bioconductor.  If CellChat is going to Bioconductor, please have it submitted and reviewed before submitting this one.

[2022-10-07 11:12] vjcitn commented on #2815
Additionally, I cannot speak for the build system per se, but on two independent linux systems that have succeeded with over 1000 current Bioc packages, I am seeing
[code]
Are there specific system configuration steps needed to get this package to build?

[2022-10-07 11:16] vjcitn commented on #2815
NB this `Warning in png(..., res = dpi, units = "in") :
  unable to open connection to X11 display ''` is ameliorated by running with xvfb-run, it is not an issue; the remaining errors noted arise under xvfb-run.

[2022-10-07 11:51] vjcitn commented on #2815
[code]
must be done in a portable way ... this is from Vignette_details

[2022-10-07 12:02] vjcitn commented on #2815
Finally I'd suggest not using "Vignette_" to prefix the name of the vignette files.

[2022-10-07 12:02] vjcitn commented on #2815
Use the package name or something more descriptive.

[2022-10-07 12:27] vjcitn commented on #2818
Your README.md has "The goal of betAS is to ... This is a line from RStudio".

[2022-10-07 12:31] vjcitn commented on #2810
Thanks for this submission!  It needs work.  The vignette does not explain the purpose of the package.  See the contributor guidelines.  The package does not use any Bioconductor packages or data structures.  Please explain its role in the Bioconductor software/analysis ecosystem.  Can any data structures used in alternative splicing analyses in other Bioconductor packages be used in your package?

[2022-10-07 12:34] vjcitn commented on #2799
Vignettes do not explain or give a reference to CosMx.  Please give scientific role of the package/technology in the vignette introductions so that newcomers are given context.

[2022-10-07 12:39] vjcitn commented on #2798
Thanks for this submission.  There are already a few packages in Bioconductor addressing mutational signatures -- MutationalPatterns, SomaticSignatures, musicatk.  Can you give some background on how your package adds to the toolset for analysts in this domain?  Are any of the data structures in those packages -- or other Bioconductor data structures -- worth reusing in your package?

[2022-10-07 12:44] vjcitn commented on #2797
Thanks for this submission.  I think it needs some work.  First, there is no definition of "agony" readily visible in the documents.  Second, no Bioconductor data structures are used, and the main structure I saw had patients as rows and mutations as columns.  It might be relevant to look at curatedTCGAData structures to see how cancer mutational data are structured for use in Bioconductor ... and

[2022-10-07 13:31] lgatto commented on #2541
Apologies for the delay. I'll make sure this doesn't slip off my radar
anymore.

- Are you sure you have pushed all the changes you are mentioning?
  Your first reply mentions "All functions are now .R", but there's
  still a mix or .R and .r here and on your GitHub repository.

- Regarding the installation instructions, you can use
  'BiocManager::install()' for GitHub packages too. It might be w

[2022-10-07 13:40] danro9685 commented on #2797
Dear @vjcitn,

Thanks for your quick feedback. We will include a definition of agony, sorry for missing this.
And, we will have a look at curatedTCGAData and other potentially interesting packages within Bioconductor.
We will get back to you soon.

Thank you,
Daniele

[2022-10-07 13:43] danro9685 commented on #2798
Dear @vjcitn,

This package implements a new algorithm for mutational signatures analysis, which is not currently included in any of the packages you have mentioned.
We will clarify this and also check for other Bioconductor packages that might be worth reusing.

Thank you.

Best,
Daniele

[2022-10-07 14:04] lgatto commented on #2776
Hi @tnaake - could you please address the issue mentioned in the [build report](http://bioconductor.org/spb_reports/MsQuality_buildreport_20220926104807.html). They should be easy to fix.

Just a few quick comments that you can already address before the more in-depth review:

- You don't need to install `devtools` to install packages from GitHub, you only need `remotes`. You could also use `BiocM

[2022-10-07 14:18] lgatto commented on #2656
From the link posted above, it look like you need to add it to the `protlocassign` issue by adding a comment containing
[code]

[2022-10-07 14:47] na396 opened #2819 "(inactive) SGC : A semi-supervised pipeline for gene clustering."
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Biocondu

[2022-10-07 14:47] #2819 closed, assigned to nobody

[2022-10-07 14:50] na396 opened #2820 "(inactive) SGC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Biocondu

[2022-10-07 14:50] #2820 closed, assigned to nobody

[2022-10-07 14:59] vjcitn commented on #2815
Apropos https://github.com/Bioconductor/Contributions/issues/2815#issuecomment-1271492099

please see https://stackoverflow.com/a/45796357/547331 and the associated https://cran.r-project.org/package=RhpcBLASctl -- thanks to Martin Morgan for this observation.

[2022-10-07 15:19] na396 opened #2821 "(inactive) SGC: A semi-supervised pipeline for gene clustering using self-training approach in gene co-expression networks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Biocondu

[2022-10-07 15:19] #2821 closed, assigned to nobody

[2022-10-07 15:48] na396 opened #2822 "(inactive) SGC: A semi-supervised pipeline for gene clustering using self-training approach in gene co-expression networks"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Biocondu

[2022-10-07 15:48] #2822 closed, assigned to nobody

[2022-10-07 16:06] na396 commented on #2802
Hi I have added SSH key to my account. Now when I create a new issue and link to my repository, I get an error that is already open. But, when I check the contribution, I cannot find my repository. I was wondering if you can help me

[2022-10-07 16:06] arorarshi opened #2823 "(inactive) survClust"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/arorarshi/survClust/tree/dev

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2022-10-07 16:06] #2823 closed, assigned to nobody

[2022-10-07 16:11] na396 opened #2824 "(inactive) SGC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Biocondu

[2022-10-07 16:11] #2824 closed, assigned to nobody

[2022-10-07 16:15] snaketron commented on #2781
I will remove the SummarizedExperiment dependency and the lines of code where this is
used. This is old code that should have already been removed.

My comments:
The main input of scBubbletree is a matrix (x) which represents low-dimensional projection (e.g. computed by PCA) of a scRNA-seq dataset. We know that SeuratObject (like SingleCellExperiment) store such projections as numeric matrices, an

[2022-10-07 16:16] arorarshi opened #2825 "(inactive) survClust"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/arorarshi/survClust

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-10-07 16:16] #2825 closed, assigned to nobody

[2022-10-07 16:18] na396 opened #2826 "(inactive) SGC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconduct

[2022-10-07 16:18] #2826 closed, assigned to nobody

[2022-10-07 16:24] na396 opened #2827 "(inactive) SGC-Pipeline"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC-Pipeline

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-10-07 16:24] #2827 closed, assigned to nobody

[2022-10-07 16:32] na396 opened #2828 "SGC-Pipeline"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGC-Pipeline

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-10-07 16:35] arorarshi opened #2829 "survClust"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/arorarshi/survClust
-
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-07 17:27] davidpross commented on #2799
Hi @vjcitn, thanks for taking a look at our package and the feedback. Good timing, the [CosMx paper](https://www.nature.com/articles/s41587-022-01483-z) was released online yesterday. I added a reference to the paper to the vignettes as well as a short description and a reference to the public dataset. I bumped the version of the package to 0.99.1 along with these changes.

Let me know if there ar

[2022-10-07 20:00] DarioS commented on #2780
Ah, thanks for the clarification. It seems wise to stick with Graph, Node and Edge data container classes.

[2022-10-08 02:17] shbrief opened #2830 "(inactive) AnVILWorkflow"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shbrief/AnVILWorkflow

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-08 02:17] #2830 closed, assigned to nobody

[2022-10-08 02:20] shbrief opened #2831 "(inactive) AnVILWorkflow"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shbrief/AnVILWorkflow

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read t

[2022-10-08 02:20] #2831 closed, assigned to nobody

[2022-10-08 02:23] shbrief opened #2832 "AnVILWorkflow"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/shbrief/AnVILWorkflow

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-10-08 04:38] fame2827 commented on #2818
Hi @vjcitn looks like you might have the wrong package :)

[2022-10-08 09:16] HelenaLC commented on #2781
Yes, absolutely. If a numeric matrix that represents a lower-dimensional cell embedding is indeed sufficient as input for `scBubbletree`, implementing methods to work with a matrix as input would be the simplest and most versatile approach. Then, you could demonstrate in the vignette/examples how to extract such a matrix from a `SeuratObject` (via `Embeddings()`) and `SingleCellExperiment` (via `r

[2022-10-08 10:57] chywang17 opened #2833 "(inactive) VSOLassoBag"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/likelet/VSOLassoBag

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-10-08 10:57] #2833 closed, assigned to nobody

[2022-10-08 11:43] chywang17 opened #2834 "(inactive) VSOLassoBag"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/likelet/VSOLassoBag

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-10-08 19:50] lyoussar commented on #2718
Done

The first part is corrected, all defaults values were removed.
The second part: I did answer this question before but seems I did not make it clear. make_pen is a function from rifi package, many values were tested on different organisms and different sequences platform before getting to the default values. The user can use the default values unless if he wishes to have a different result, i

[2022-10-08 23:23] snaketron commented on #2781
Thanks for quick reply @HelenaLC !

Changes in v. 0.99.17 (in response to major points in the previous review phase):
* new (additional) vignette scBubbletree_inputs explaining main input A -> cell embeddings numeric matrix
* removed unnecessary SummarizedExperiment dependency

As soon as the paper is out on scBubbletree I expect more/continuous changes in
accordance to what the "masses" want.

[2022-10-09 11:29] vjcitn commented on #2738
I am looking at 0.99.4.  The comments from Pete above seem to hold ... can't find example data readily when starting the app.  I'd also add a few points

- the vignette does not mention accommodation of SingleCellExperiment objects; it just refers to Seurat
- "a custom module that replicates the flow-cytometry gating workflow" is not easy for me to understand.  What does it mean for a module to re

[2022-10-09 15:30] gartician commented on #2738
Thank you for the additional comments! We have more documentation coming up soon, which should address most of the comments. I'll definitely rephrase the custom module sentence as it can be misinterpreted. I just wanted to see if I am pushing to the right places, and the changes are being tracked correctly. Thanks!

[2022-10-10 06:48] HelenaLC commented on #2718
Okay, thanks for making a couple adjustments and clarifying the defaults. However, even in [`rifi`'s vignette](https://bioconductor.org/packages/release/bioc/vignettes/rifi/inst/doc/vignette.html), I couldn't yet find an explanation for how the defaults / parameters used were selected; and,`make_pen()` is called with `smpl_max = 18` (not 100, as in `rifiComparative`); and, in general, it is sub-op

[2022-10-10 06:55] danro9685 commented on #2797
Dear @vjcitn,

We have updated the documentation as suggested.
Moreover, we have looked at the curatedTCGAData package, but we could not retrieve information on cancer cell fractions data from it, which are required for our tool.

Please let us know if you have additional  pre-review suggestions.

Thanks,
Daniele

[2022-10-10 06:55] danro9685 commented on #2798
Dear @vjcitn,

We have updated the documentation as suggested.
Please let us know if you have additional  pre-review suggestions.

Thanks,
Daniele

[2022-10-10 07:03] HelenaLC commented on #2781
Thanks! I'm happy to accept the package. However, I'd strongly encourage sticking the description of inputs into the main vignette, as it's sub-optimal from a user perspective to have key inputs described in a separate file.
I also believe this can also be kept much shorter, because this is a very basic aspect of single-cell data, and both `Seurat` and `SingleCellExperiment` users will be familiar

[2022-10-10 07:07] Nina-Song commented on #2610
Dear @lazappi ,

Thank you so much for your valuable suggestions and prompt follow-up comment again!

As the last comment suggested, data preparation functions are added to make the workflow for the user from input object -> prepared data.frame -> analysis functions. Dummy examples for Seurat and SpatialExperiment objects are added to `extdata`. Each function parameter documentation now includes a

[2022-10-10 08:54] snaketron commented on #2781
Thank you, I will make the change.

[2022-10-10 21:55] gartician commented on #2738
I do have a general question about ExperimentHub and data sharing. I was wondering if it's ethically okay for us to publish another [EH package ](https://bioconductor.org/packages/3.15/bioc/vignettes/HubPub/inst/doc/CreateAHubPackage.html#building-the-package )if we didn't generate the data ourselves? All I did was download the original RDS and down-sampled the data, which I don't feel warrants my

[2022-10-10 23:21] vjcitn commented on #2738
@lshep will have the best advice here.  As long as you make proper attributions I think there is no problem with you using EH for data that is integral to your package.  As for Google Drive, I am not familiar with that approach, but if the resource is durable and open, it sounds OK.  zenodo is probably a better option in terms of durability and cost.

[2022-10-10 23:33] PeteHaitch commented on #2753
Hi @LiNk-NY,

Thank you for making the above changes.
There are still a few issues that I think require further changes or that I noticed following your recent changes.

Regarding the integration/subsuming of functionality of **DropletUtils**/**SpatialExperiment**: with the release deadline so soon I think this will have to be done over subsequent release cycles and in a progressive and backwards-

[2022-10-11 07:59] lyoussar commented on #2492
We are on test mode.  I hope by next week and once the last version is
pushed, I will let u know.

في السبت، 19 مارس 2022 08:16 Vince Carey ***@***.***> كتب:

[2022-10-11 08:38] jianhong commented on #2633
Opps. Just pushed.

Jianhong.

From: Hervé Pagès ***@***.***>
Date: Monday, April 18, 2022 at 8:21 PM
To: Bioconductor/Contributions ***@***.***>
Cc: JIANHONG OU ***@***.***>, Mention ***@***.***>
Subject: Re: [Bioconductor/Contributions] GenomicInteractionNodes (Issue #2633)

@jianhong<https://github.com/jianhong> Are you sure you fixed the maintainer address in ATACseqQC? I still see ***@***.***

[2022-10-11 08:54] jianhong commented on #2633
Thank you both @hpages @lshep for working on this.

Best!

Your sincerely,

Jianhong Ou

[2022-10-11 09:09] anna-pacinkova commented on #2744
Thank you Marcel for your help, now I am able to implement the code you
have suggested :)
Ani Vince, thank you very much for the hint to if(interactive()), I have
modify the examples according to your suggestion. Everything is pushed to
the main repo at github.

Best wishes,
Anna

čt 22. 9. 2022 v 21:38 odesílatel Vince Carey ***@***.***>
napsal:

[2022-10-11 09:14] ococrook commented on #2710
Hi @jeffreypullin

Just discussing with the core team on this point and I'll get back to you soon hopefully!

[2022-10-11 09:16] Danis102 commented on #2275
Dear Ishep,

Please reopen our submission. After some delay due adverse circumstances among our team members , we are now ready to push a new version.

Regards,
Daniel Natt

From: lshep ***@***.***>
Sent: Tuesday, April 5, 2022 1:52 PM
To: Bioconductor/Contributions ***@***.***>
Cc: Daniel Nätt ***@***.***>; Mention ***@***.***>
Subject: Re: [Bioconductor/Contributions] (inactive) Submission of ne

[2022-10-11 10:12] vjcitn commented on #2834
Thanks for this submission.  This package will need some revision in order to enter the review process.

- The `simulated_example` data is a list with a number of components; it is not documented per se, although test.df is documented
- the x component of test.df is described as having samples in rows and variates in columns ... the layout for Bioconductor data structures is typically genes or fea

[2022-10-11 10:20] ococrook commented on #2724
Hi @veitveit

Thanks for making these changes, just some small things now:

- [ ] Could you check that `NEWS` and `Description` are up to date with package versions
- [ ] Make sure bioconuctor and main github branches are the same - I noticed they are out of sync

when runing the vignette I get this error, do you know what might be going on there?

[code]
Running cluster number3
Error in checkForR

[2022-10-11 10:39] vjcitn commented on #2815
Let us know if you are going to work on this.  @vjcitn tagging myself to ensure I hear about it.

[2022-10-11 10:43] vjcitn commented on #2829
Thanks for this submission.  The example data is in a form that does not reflect Bioconductor practice.  You have a list of matrices or data frames.  We use SummarizedExperiment and derived classes to couple the metadata to data to increase reliability.  You should have a look at curatedTCGAData package to see how mutation and copynumber data can be represented in conventional ways for packages in

[2022-10-11 11:09] vjcitn commented on #2828
Thanks for this submission.   The example data documentation includes
[code]
for "cheng".  Bioconductor packages should use SummarizedExperiment for data in this form, so that metadata and data are tightly coupled.  Please use this class in your package.

[2022-10-11 11:13] vjcitn commented on #2811
Please consider renaming this package.  "tfhunter" is very general, but the package relates to plant TFs only.  The package should be renamed before review.

[2022-10-11 11:13] vjcitn commented on #2811
When you rename, close this issue and start a new one.

[2022-10-11 11:21] ycao6928 commented on #2815
Dear @vjcitn,
Thank you so much for looking into the package!
Yes, we are actively working on it this week and addressing all the comments.

[2022-10-11 11:35] lshep commented on #2275
@Danis102  the issue was already reopened as you can see from the comments 6 days ago.  You need to push the changes to Bioconductor with a valid version bump to trigger a new build so @jianhong can review.  The review will only occur once the package builds/checks without TIMEOUT/ERROR

[2022-10-11 11:37] vjcitn commented on #2810
Let us know if you are going to work on this package.  @vjcitn

[2022-10-11 11:51] lshep commented on #2738
We in generally don't allow or recommend using a google drive to distribute data and have asked maintainers to do this to move the data to a more permanent secure data distribution server.  The excluderanges uses data from the hubs and not google drive in the package itself which I think why this slipped through the cracks.
As far as okay to publish the data.  I agree with @vjcitn  that you should

[2022-10-11 12:04] almeidasilvaf commented on #2811
Done. I will open a new issue and reference this one.

[2022-10-11 12:04] #2811 closed, assigned to nobody

[2022-10-11 12:05] vjcitn commented on #2799
Thanks for being so responsive.  Now I feel we need to think about interoperability.
[code]
is from the "clustering a small..." vignette.  Bioconductor packages use SummarizedExperiment or related classes whenever possible to help bind metadata about experiments and features right to the numerical quantifications.  Please consider adopting this discipline.

[2022-10-11 12:05] almeidasilvaf opened #2835 "planttfhunter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/almeidasilvaf/planttfhunter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2022-10-11 12:06] almeidasilvaf commented on #2835
Package resubmission after name change, as suggested by @vjcitn in #2811.

[2022-10-11 12:15] vjcitn commented on #2796
[code]
this is from vignette.  Syntax and manipulations are complex.  Can you define higher-level data structures and methods to make this easier for the user?

[2022-10-11 12:18] vjcitn commented on #2796
What if the abundances$V1 don't match any reads.mapping$genome_id ... ?  Of course it works in your example but we want some defensive programming to help users deal with possible inconsistencies between independently managed resources.  This is one of the motivations behind SummarizedExperiment, in which sample-level data and quantifications can have all kinds of identifiers, and we want to hand

[2022-10-11 12:27] marianaferreira commented on #2810
Yes, @vjcitn, sorry for the delay. I am actually now replying to the points you raised and will be submitting a reply very soon. I intend to work on the package as you provide recommendations. Thank you!

[2022-10-11 12:30] vjcitn commented on #2796
![pix](https://user-images.githubusercontent.com/4624066/195090721-1508d7ea-91f4-4a3c-93a8-14ee0a699db0.jpg)

is that really what we want in the vignette?

[2022-10-11 12:30] vjcitn commented on #2796
Why not just print the table?

[2022-10-11 12:31] vjcitn commented on #2796
Thanks for the submission, let us know your plans.

[2022-10-11 12:41] lshep commented on #2656
If we want to combined these issues and go the additional package route -- I will need to do some manual adjustments.  @mooredf22  would you like to move this review to the other as an additional package?

[2022-10-11 12:48] lshep commented on #2828
I noticed you changed the name of your repository to try to force it through the review process.  Sorry I could not assist on Friday as I was away for the US holiday weekend.  There was a previous package from a different group that had tried to submit a SGC package back in 2019 which was causing the issue.   Currently the name of the package is malformed as there should not be a hyphen in a packa

[2022-10-11 12:53] mooredf22 commented on #2656
Yes, for sure. Thanks for taking care of this. The DESCRIPTION file of protlocassign already references protlocassigndoc. Let me know if I need to do anything else on my end to make this happen.Sent from my iPhoneOn Oct 11, 2022, at 8:42 AM, lshep ***@***.***> wrote:﻿
If we want to combined these issues and go the additional package route -- I will need to do some manual adjustments.  @mooredf22

[2022-10-11 13:02] lshep commented on #2656
I manually updated the database to point this package to the 1541 issue. If you do a valid version bump and push to git.bioconductor.org for protlocassigndoc you should now see the build report results in issue 1541 now and you should be able to access the version of the package under review.  @lgatto  that will mean you should review both of these packages under the 1541 issue and not accept unle

[2022-10-11 13:02] #2656 closed, assigned to lgatto, vjcitn

[2022-10-11 13:06] lshep commented on #2656
I stand corrected.  It didn't work to manually reassign it. Could you please use the `AdditionalPackage: https://github.com/mooredf22/protlocassigndoc`    in issue 1541  please to link the issues.

[2022-10-11 13:16] mooredf22 commented on #2541
AdditionalPackage: https://github.com/mooredf22/protlocassigndoc

[2022-10-11 13:35] gkanogiannis commented on #2796
I updated vignette to use dplyr-style operation for merging and ordering. I hope it looks better now.

[2022-10-11 13:45] LiNk-NY commented on #2744
Hi Anna,
Please make sure you are pushing to `git@git.bioconductor.org:packages/IntOMICS` as well.
Best,
Marcel

[2022-10-11 13:47] lshep commented on #2744
@LiNk-NY  This is not moderated yet and is not in git.bioconductor.org.

[2022-10-11 13:48] gkanogiannis commented on #2796
The purpose of `metabinR` is to perform 3 types of binning (AB, CB and HC). It takes as input a set of fasta/fastq files and creates bins of reads.
The evaluation of the generated bins of reads is beyond the scope of this package and no mechanism or function is offered for this purpose.

For demonstration only, a simple way to perform evaluation of the bins is given in the vignette.

Example input

[2022-10-11 13:50] gkanogiannis commented on #2796
Apologies for the ugliness. Changed it to plot it as table with `knitr::kable`.

[2022-10-11 13:50] vjcitn commented on #2828
Yes, use a valid and suggestive name like semisupGeneClust

[2022-10-11 13:53] gkanogiannis commented on #2796
Dear @vjcitn , thank you for the pre-review comments.
Please see my replies above.
Pushed updated version 0.99.1 to github repo.
Looking forward for the continuation of the review.

[2022-10-11 13:57] vjcitn commented on #2796
You've improved the aesthetics somewhat but I still think defensive programming and integrative datastructures like SummarizedExperiment or TreeSummarizedExperiment should be considered.

[2022-10-11 14:01] vjcitn commented on #2789
Thanks for this submission.  Do not put a vector of numbers in your vignette
[code]
Produce a persistent data object, perhaps a vector, and make an RData object to put in /data of your package.  Document its production and utility.

[2022-10-11 14:06] gkanogiannis commented on #2796
Dear @vjcitn it is something that I will for sure consider as improvement.
Thank you.

[2022-10-11 14:06] vjcitn commented on #2783
I think the "Title" field in DESCRIPTION may be wrong.

[2022-10-11 14:07] vjcitn commented on #2758
Hi, do you plan to work on interoperation of this package with Bioconductor?  Please let us know.

[2022-10-11 14:12] devonjkohler commented on #2783
Hi @vjcitn,

Thanks for pointing that out. I've updated the title on my end.

Devon

[2022-10-11 14:30] Kayla-Morrell commented on #2719
@lambdamoses - Thank you for making the necessary changes. I have reviewed them and everything looks good. I am more than happy to accept the packages.

Best,
Kayla

[2022-10-11 14:30] vjcitn commented on #2790
Thanks for submitting this package.  I rendered the vignette and I find that it is not sufficiently demonstrative of what the package does.  There is
[code]
and so on.  Please compile the vignette and look at it as something that a newcomer should be able to consume with interest and some aesthetic satisfaction.  This would mean that you suppress certain messages in your methods, have good show me

[2022-10-11 14:33] snikumbh commented on #2790
Thanks for the comment/suggestion. Will work on it and reply here.

[2022-10-11 14:52] vjcitn commented on #2744
Thanks for all your hard work.  I am still seeing issues as I try to build this package:
[code]
As you make changes you should increase the z value in your version (x.y.z remains 0.99.0 at this time)
[code]

[2022-10-11 15:36] marianaferreira commented on #2810
Hi again, @vjcitn.

I have updated the vignette to address your questions, namely including a more complete description of the package.

Regarding its role in the Bioconductor ecosystem, betAS allows Bioconductor users to analyse differences in alternative splicing between sample groups by loading alternative splicing quantification data from RNA-seq experiments obtained with other tools, such as

[2022-10-11 15:45] Kayla-Morrell commented on #2742
@jsun - Thank you for making the necessary changes. I have looked everything over and it all looks good. I'm more than happy to accept the package.

Best,
Kayla

[2022-10-11 16:03] lshep commented on #2781
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/snaketron.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-11 16:03] #2781 closed, assigned to HelenaLC

[2022-10-11 16:03] lshep commented on #2754
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/almeidasilvaf.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2022-10-11 16:03] #2754 closed, assigned to vjcitn

[2022-10-11 16:03] lshep commented on #2742
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jsun.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acco

[2022-10-11 16:03] #2742 closed, assigned to Kayla-Morrell

[2022-10-11 16:03] lshep commented on #2731
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mnodzenski.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-10-11 16:03] #2731 closed, assigned to vjcitn

[2022-10-11 16:03] lshep commented on #2719
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lambdamoses.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-10-11 16:03] #2719 closed, assigned to Kayla-Morrell

[2022-10-11 16:03] lshep commented on #2719
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lambdamoses.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-10-11 16:03] lshep commented on #2719
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lambdamoses.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-10-11 16:05] #2807 closed, assigned to nobody

[2022-10-11 16:10] vjcitn opened #2836 "BiocFHIR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/vjcitn/BiocFHIR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-10-11 16:20] lshep commented on #2783
Please add `ShinyApps` to your biocViews fields.

[2022-10-11 17:36] lmweber commented on #2801
I think this error is because the builder is looking for the objects in ExperimentHub, where they are not available yet.

I could comment out these parts (and put them back later) if that helps, or alternatively wait until the objects are added in ExperimentHub. Thank you!

[2022-10-11 17:38] lshep commented on #2801
No worries. I'm your reviewer so I know what's up.  I'll try to get your data in the hubs over the next few days.

[2022-10-11 17:39] lmweber commented on #2801
Ok great, thank you!

[2022-10-11 17:57] hpages commented on #2751
Hi @ecool50,

**spicyWorkflow** depends on **simpleSeg**, which has been submitted in a separate issue and has not been accepted yet. So **spicyWorkflow** can't be submitted as an additional package to **FuseSOM**. Please submit **spicyWorkflow** as a separate package once **FuseSOM** and **simpleSeg** both get accepted. I'll ignore it for now. Thanks!

Now I'm going to take a look at **FuseSOM**

[2022-10-11 18:39] davidpross commented on #2799
I've opened [an issue](https://github.com/Nanostring-Biostats/InSituType/issues/177) in our repository to track this suggestion. I don't think it is something that can be integrated for the timeline of the 3.16 Bioconductor release. Is it a requirement for inclusion in that release?

In the interim our package can be used in related workflows by extracting and transforming the counts matrix, `t(as

[2022-10-11 18:47] CPRyan commented on #2789
@vjcitn Done. Thank you for the feedback. Let me know if I should close this issue or if there is anything else needed from me in the meantime.

[2022-10-12 08:59] Danis102 commented on #2275
Sorry about the delay. We descovered a minor bug in the newly added chunking mechanism, which allows analysis on low-end systems. Working hard to solve this issue and to make time checks even more efficient. We expect to make a new bump sometime during the week. Better to have a better version, then a version that needs immediate updates.

Regards,
Daniel

________________________________
From: ls

[2022-10-12 11:35] tnaake commented on #2776
Dear @lgatto

many thanks for this initial screen. I have now fixed the issues in the [build report](https://bioconductor.org/spb_reports/MsQuality_buildreport_20221012073517.html) and addressed your comments.

- `devtools`/`remotes`: I changed this accordingly in the vignette and the `README.md` file.
- `other packages`: I have added a subsection in the vignette that mentions other packages in Bi

[2022-10-12 11:45] lshep commented on #2799
Interop would need to be implemented in some fashion before inclusion.

[2022-10-12 11:59] lazappi commented on #2795
Pinging @lshep who wanted to keep an eye on this issue

[2022-10-12 12:38] Lionir commented on #2391
@lshep Good morning, I wonder if you would have time to re-review the package before the deadline? Thank you!

[2022-10-12 15:02] anna-pacinkova commented on #2744
@LiNk-NY: I am not sure how to push also to git@git.bioconductor.org:packages/IntOMICS. I tried to activate my account at https://git.bioconductor.org/BiocCredentials/account_activation/, but I got this error: ana.pacinkova@gmail.com is not associated with a maintainer of a Bioconductor package. Am I using the correct link?
@vjcitn: This could be because of the rhdf5 package, I added to the vignet

[2022-10-12 15:05] lshep commented on #2744
You can not push to git.bioconductor.org yet -- @LiNk-NY  was mistaken.  You will have git access after the package passes pre-checks and @vjcitn marks it off.  At that point it will be added to git and continue with an assigned reviewer. Currently updating your github repo will suffice for this stage

[2022-10-12 15:31] nilseling commented on #2701
Hi @SPirrotta
could you please push your changes to Bioconductor to trigger a new build?

[2022-10-12 16:08] veitveit commented on #2724
Hi @ococrook

Here it is.

The error might come from failing in the multithreading. I set the number of threads in the vignette to 1. Hopefully that works.

[2022-10-12 18:21] shbrief commented on #2832
Hi @Kayla-Morrell ,

I updated my email address to the one used for the bioc-devel mailing list.
But I'm unsure how to resolve the other error (`* ERROR: At least 80% of man pages documenting exported objects must have runnable examples.`), because more than 80% of functions in this package are a wrapper around API calls. Is there any suggestion on this case? Thanks!

Sehyun

[2022-10-12 23:25] Nina-Song commented on #2610
Hello @lazappi ,

Since today is the deadline for API changes, I just wanted to follow up on the review process. Thank you again for your help.

Best,
Nina

[2022-10-13 00:33] arorarshi commented on #2829
Hi @vjcitn, thanks for the feedback. survClust needs complex processing of genomic data as input and can't work with raw TCGA data. I am happy to work on the interop issue - is it ok if I convert the input matrixes (used as an example data to illustrate survClust) as a mae object? Will that work?  survClust takes mae objects as an input.

[2022-10-13 00:36] na396 commented on #2828
Hello Ishep and vjcitn
Many thanks for the message and help. If I change the package name, then I have to change many functions consequently. So I decided to pick "SGCP" as it stands for self-training gene clustering pipeline. But before changing anything, I was wondering if you could tell me that this name ("SGCP") is fine with Bioconductor?
Many thanks in advance

[2022-10-13 01:32] na396 commented on #2828
Hello @vjcitn
Thanks for your comment on "cheng.Rd". I read the package " SummarizedExperiment" and I was hoping if you accept that not to use this class for my data, as the input of my package is only a matrix and a vector. " SummarizedExperiment" is very interesting, however, this makes my pipeline to rely on one more package, and makes things more complicated. My main aim was to make the packag

[2022-10-13 01:46] vjcitn commented on #2828
The issue isn't the simplicity of the software but the use of a standard representation familiar to bioconductor users.  There is no reason to refrain from depending on SummarizedExperiment.  There are many reasons to use it.  So please reconsider.

[2022-10-13 02:20] lshep commented on #2610
@Nina-Song  the API deadline is mostly for package already accepted in Bioconductor. Since there is a lot of interdependent packages we encourage the API deadline to prevent last minute changes having a cascading effect to break packages dependent on it. You'll still have until the 26 to be accepted.

[2022-10-13 06:36] luca-dex commented on #2797
Dear @vjcitn
I'm the maintainer of the package. I already added the bioconductor remotes to our package and we're trying to push some changes but, at the moment, ASCETIC is not among the packages to which I access on git.bioconductor.org so my SSH key is not accepted.

[code]

Could you please help us in sorting out this issue?

Thanks

[2022-10-13 07:07] luca-dex commented on #2798
Dear @vjcitn
I'm the maintainer of the package. I already added the bioconductor remotes to our package and we're trying to push some changes but, at the moment, SparseSignaturePlus is not among the packages to which I access on git.bioconductor.org so my SSH key is not accepted.

[code]

Could you please help us in sorting out this issue?

Thanks

[2022-10-13 11:20] phauchamps opened #2837 "(inactive) CytoPipeline package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/UCLouvain-CBIO/CytoPipeline

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have re

[2022-10-13 11:20] #2837 closed, assigned to nobody

[2022-10-13 11:28] nilseling commented on #2701
Hi @SPirrotta

thanks for adding the changes. I have ticked off the points that have been addressed. However, there are still a couple of things that need to be addressed:

- [x] Please fix the issue when using `vapply`. For example, in line 1208 in `SignatureFunctions.R` the `vapply` function expects an integer vector of length 1. However, when running the examples, a vector of length 40 is retur

[2022-10-13 11:36] lshep commented on #2798
@luca-dex Bioconductor by default (and encourages) only one active maintainer. Daniele was given immediate access as that was who was listed as the maintainer in the DESCRIPTION. I have made the necessary adjustments on our end and you should have access now.

[2022-10-13 11:38] lshep commented on #2797
push access has not been granted yet as this package is still in the pre-check stage. Once the package passes pre-checks it will be added to git.bioconductor.org.  At this stage updating the github and pinging @vjcitn is sufficient

[2022-10-13 11:43] luca-dex commented on #2797
thanks @lshep for the clarification

[2022-10-13 11:51] luca-dex commented on #2798
Thank @lshep , I'll wait to have SpareSignaturePlus in the list of package on BiocCredentials after it will be hopefully accepted.

@vjcitn we did the necessary updates on our github, so the issue that were highlighed by BiocCheck, should have been solved

Thanks for the support

[2022-10-13 11:52] lshep commented on #2798
@luca-dex sorry I forgot to push the changes up.  You should have access now.

[2022-10-13 12:40] phauchamps opened #2838 "Submit CytoPipeline package (2nd attempt)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/UCLouvain-CBIO/CytoPipeline

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have re

[2022-10-13 14:02] lazappi commented on #2610
Thank you for implementing these! From the vignette it seems like they work really well and make it much easier to use your package.

Please document these in `inst/script`. As I mentioned previously, ideally there should be an R script for each dataset showing how it was obtained and processed to get the saved objects. At a minimum you should have a text description for each object, including lin

[2022-10-13 15:43] LiNk-NY commented on #2759
Hi Christoffer, @CTrierMaansson
Thank you for the submission. Sorry for the delay.
Please see the review below.
Feel free to post any questions.
Best,
Marcel

---

# DNAfusion #2759

## DESCRIPTION

* Looks good.
* Are `usethis` and `devtools` needed in the `Suggests`?

## NAMESPACE

* Looks good.

## vignettes

* Avoid the code duplication and assign the output of `EML4_ALK_detection` to a
variab

[2022-10-13 17:18] LiNk-NY commented on #2793
Hi Andrzej, @aoles
Thank you for your submission.
Please see the review below.
Best regards,
Marcel

---

# RBioFormats #2793

* Overall, the package looks to be in good shape.
* The classes exported are primarily S4. I don't really understand the need for
S3 method definitions. Can you please clarify?

## DESCRIPTION

* Consider adding a URL pointing to the GitHub repository landing page.
* Looks

[2022-10-13 19:23] na396 commented on #2828
Greetings @vjcitn
I have corrected the data. Please let me know if I need to change anything else.

[2022-10-13 19:26] na396 commented on #2828
Hello @lshep
Many thanks for your help so far. I decided to pick "SGCP" for my package, just wondering if is available?
Thank you so much

[2022-10-13 20:12] vjcitn commented on #2828
Thanks for using SummarizedExperiment.  I think you should take advantage of its capabilities.  I see
[code]
It would be helpful to users to have more information in rowData -- for example, the associated gene symbols.  Also, the 5 samples have some characteristics, don't they?  Do they have an identifier?  Is there a treatment or other sample characteristic?  Those would go in the colData.  The d

[2022-10-13 20:18] LiNk-NY commented on #2836
Hi Vince, @vjcitn

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# BiocFHIR #2836

* This package is highly valuable for importing FHIR bundles.
* I wonder if working with nested JSON data could benefit from
`rjsoncons::jmespath` operations. Are there consistent structures
in the JSON files to merit the use of `rjsoncons`?

## DESCRIPTION

* Looks good.

#

[2022-10-13 20:35] na396 commented on #2828
@vjcitn
Thank you so much for the comment. Actually, that metadata is not very practical for my case, i.e. gene co-expression networks. Unlike single cell clustering, in gene co-expression networks, only the cluster of genes matter. That's why I was not very interested in "summarizedExperiment" class.  I can say no one in gene co-expression network is using this class (example: https://www.biocond

[2022-10-13 21:57] na396 commented on #2828
@vjcitn I added more information to the data. Thanks

[2022-10-13 22:12] gartician opened #2839 "CITEViz-ExperimentHub"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/maxsonBraunLab/CITEVizTestData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-10-13 22:22] gartician commented on #2839
Hi BioConductor Admins,

Based on the suggestions in #2738, I am here to submit an ExperimentHub (EH) package as a test dataset for CITEViz. This package contains a PBMC CITE-Seq dataset with 2500 cells in either Seurat or SingleCellExperiment format. I have uploaded the datasets in RDS format to the Azure Data Lakes under `CITEVizTestData`. I was able to validate the EH package with `ExperimentHu

[2022-10-13 22:26] nick-robo commented on #2815
@vjcitn We have made significant changes. Could you have another look?

[2022-10-13 22:55] vjcitn commented on #2815
I was happy to try to build, should I have expected:
[code]
If so please give me more guidance on how to get further.

[2022-10-13 23:01] nick-robo commented on #2815
I think that running `install.packages(RhpcBLASctl)` might fix it. It is listed in the suggests dependencies, so it might not be installed automatically when building.

Another way to solve the dependency issues might be to run `devtools::load_all()` in the repository directory.

[2022-10-14 00:57] vjcitn commented on #2815
Yes, that was my bad, with the BLASctl failure.... but now we have a package of 127MB that is supposed to be no more than 5MB.  So you'll have to discuss with @lshep whether this submission should include an ExperimentData package

[2022-10-14 00:58] vjcitn commented on #2815
It seems to be passing check cleanly, so we just have to meet the guidelines.

[2022-10-14 04:39] nick-robo commented on #2815
We downsampled the data and the package is now under 5MB.

[2022-10-14 06:00] DarioS commented on #2818
Statial is a package for analysing colocalisation of cell types. Its relevance to Bioconductor is strong. My findings are:
• The vignette has a good introduction to the problem domain and it introduces a timely and relevant data set for demonstrating the functionality of the package.
• Please update installation instructions to use BiocManager instead of devtools.
• The `cellType` vector is confus

[2022-10-14 07:12] fame2827 commented on #2818
Hi Dario, thanks for your feedback! Regarding the cellType vector, these are in fact cellTypes the Ferguson data unfortunately has cellType names which look like cellIDs. I do agree it's confusing, would you have any suggestions on how I can make this clearer?

[2022-10-14 09:06] lazappi commented on #2795
Hi @BiotechPedro

Thanks for submitting **microSTASIS** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses. You can use the

[2022-10-14 09:30] BiotechPedro commented on #2795
Thanks Luke!!

I will try to reply with changes ASAP, although I have an important deadline next Tuesday. I will give my utmost to have it everything answer by the next Friday/Saturday.

Cheers,

Pedro

[2022-10-14 11:00] DarioS commented on #2818
Ah, now I get it! They are basically different subtypes of a cell type. This data could be ideal for [TreeSummarizedExperiment](https://bioconductor.org/packages/release/bioc/html/TreeSummarizedExperiment.html).

[2022-10-14 11:38] lshep commented on #2839
Please submit under #2738 so the packages can be reviewed together. This is greatly expedite the process; else you would have to wait for this package to be reviewed, accepted, ingested, and on the daily builder before the associated package could find the package and continue in the review.   please see [Submit related packages](https://github.com/Bioconductor/Contributions#submitting-related-pac

[2022-10-14 11:38] #2839 closed, assigned to nobody

[2022-10-14 11:49] snikumbh commented on #2790
Hi @vjcitn
I have improved the vignette. Can you please take a look now? Thanks.

[2022-10-14 12:09] vjcitn commented on #2828
just tagging @lshep in case i get something wrong here -- the package should be renamed in DESCRIPTION, close this issue, start a new one with the correct name SGCP

[2022-10-14 12:12] lshep commented on #2828
Yes please rename the repository and the DESCRIPTION,  close this issue and start a new one. We can mark the new issue as passing precheck right away so it is ready for processing and to be assigned a reviewer.  Cheers

[2022-10-14 13:08] CTrierMaansson commented on #2759
Dear Marcel

Thank you for the review!

# DNAfusion #2759

## Description

1. Are `usethis` and `devtools` needed in the Suggests?

- `usethis` has been removed from `Suggests`
- `devtools::session_info` is used in the vignettes and `devtools` is therefore in `Suggests`

## vignettes

1. Avoid the code duplication and assign the output of `EML4_ALK_detection` to a
variable(s) and re-use.

- I have

[2022-10-14 13:54] lshep commented on #2769
Thank you for your submission. A few very minor comments:

**NetActivityData**

**Build Report**

- [ ] Please adjust R version to 4.2.0

**README**

- [ ] Please add Bioconductor installation instructions

**Vigntte**

- [ ] Please add Bioconductor installation instructions

**man**

- [ ] Please have a package level man page `?NetActivtiyData`

---------------------------------------------------

[2022-10-14 13:59] lshep commented on #2801
On initial glance everything looks good and in order.  Once the data is added (likely early next week), please do a version bump to trigger a new build with actively run man page examples and vignettes.  Provided everything runs without ERROR it would be ready to accept

[2022-10-14 14:06] lmweber commented on #2801
Great, thank you very much!

[2022-10-14 14:56] na396 commented on #2828
Thank you so much

[2022-10-14 15:04] na396 opened #2840 "SGCP"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/na396/SGCP

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconduc

[2022-10-14 15:05] na396 commented on #2828
@lshep
I submitted the "SGCP" , is #2840. Thank you so much

[2022-10-14 15:05] #2828 closed, assigned to nobody

[2022-10-14 15:53] gartician commented on #2738
AdditionalPackage: https://github.com/maxsonBraunLab/CITEVizTestData

[2022-10-14 15:54] gartician commented on #2738
Can anyone adjust the labels to start building the test data?

[2022-10-14 15:58] lshep commented on #2738
Please try again

[2022-10-14 16:06] gartician commented on #2738
AdditionalPackage: https://github.com/maxsonBraunLab/CITEVizTestData

[2022-10-14 16:29] LiNk-NY commented on #2759
Hi Christoffer, @CTrierMaansson

Thank you for making those changes.
One, minor follow up:

`devtoools` points to `sessioninfo` so it is better to simply add `sessioninfo` to the `Suggests` field.

The package looks to be in good shape for acceptance.
Best regards,
Marcel

[2022-10-14 16:30] lshep commented on #2766
Thank you for your submission please see review comments below. When ready please do a version bump and push to git.bioconductor.org to trigger a new build and comment back here on what has been updated.  Cheers

**doc**

- [ ] What is the reasoning for providing the workflow documents in doc instead
  of as an official vignette? I would suggest removing this

**inst/**

- [ ] Please include an `i

[2022-10-14 19:05] lshep commented on #2391
Last few minor comments:

**octad.db**

- [ ] Remove the get_ExperimentHub_data function that is in zzz.R as you have a
  serarate R file that defines the function in get_ExperimentHub_data.R

-------------------------------------------------------------------------

**octad**

**Build report**

- [ ] Please clean up line width note from R CMD check concerning Rd

- [ ] As noted in the build repor

[2022-10-15 03:09] davidpross commented on #2799
With [this PR](https://github.com/Nanostring-Biostats/InSituType/pull/178) I added the option to use a `SingleCellExperiment` class object with the core package functions `insitutype` and `insitutypeML` and to retrieve the counts matrix from that object. In addition there is a new vignette detailing how to use `insitutype` with a SingleCellExperiment object.

[2022-10-15 10:36] vjcitn commented on #2836
Changes in 0.99.7
[code]
Done

[code]
Missed this one, will learn the pattern.

[code]
Yes, that's right -- those errors are caught by try.  It is a serious
issue in the FHIR documents when a component like Procedure
is not available, and I don't want it to be ignored.  I could change
to message.

[code]
That's fixed

[code]
Done
[code]
Done

[code]
The names are fake.  See [Synthea site](https://

[2022-10-15 10:38] vjcitn commented on #2836
BTW I did add illustration of rjsoncons in the vignette B_handling.Rmd.  Ultimately the process_* functions may be based on JMESPATH queries, and the "schemas" could be reformulated as JMESPATH patterns.

[2022-10-15 17:29] nilseling commented on #2798
Dear @luca-dex and @danro9685 ,

thanks for submitting the `SparseSignaturesPlus` package. I had a first look at the package and there are some things that need to be addressed before acceptance (see below).
You are currently maintaining the `SparseSignatures` package and I was wondering about the motivation to create a new package rather than integrating the described functions into the existing

[2022-10-16 06:21] CTrierMaansson commented on #2759
Hi Marcel, @LiNk-NY

Thank you!

1. `devtoools` points to `sessioninfo` so it is better to simply add `sessioninfo` to the `Suggests` field.

- Good point! I had missed this. I've made the change to the `Suggests`

Best regards

Christoffer

[2022-10-16 12:13] danro9685 commented on #2798
Dear @nilseling,

Thanks for your very detailed review of our package.

We have just pushed on the GitHub page of the tool changes addressing: (i) all your points for "General package development", "The DESCRIPTION file" and "The NAMESPACE file" and (ii) most of your points for "Documentation" and "R code". We are taking care of the remaining things as soon as possible.

In the mean time, we wante

[2022-10-16 17:56] lyoussar commented on #2718
smpl_max = 18 was used only in rifi package and precisely in vignette for the mini sample generated to make the vignette computationally fast. The functions used in rifi are all computationally expensive and if the sample is a bit larger, would take hours. Therefore a mini instance was created and the value 18 was used. The sample can never be a real sample because it does not make any sense.

Reg

[2022-10-16 23:48] lauravongoc commented on #2758
Hi, apologies for the delay.

The package files in the repo have been updated with the added implementation of GInteractions class.

[2022-10-17 01:03] Lionir commented on #2391
Thank you for your patience!

[2022-10-17 09:13] ococrook commented on #2710
Sorry to get back to you slowly, coul you have a look at the: https://bioconductor.org/packages/release/bioc/html/VariantExperiment.html object to see if that would work?

If not we can avoid using a dedicated class in this case. If you are actively planning an updated model/package, I would strongly consider thinking about generating a suitable bioconductor class for these data.

[2022-10-17 09:17] ococrook commented on #2724
HI @veitveit

This looks good! Could you monitor the warning regularly, I'm aware of why you need it for parrellisation but it may turn into an `Error` at somepoint so good to keep tabs on it.

[2022-10-17 09:19] ococrook commented on #2778
Apologies for they delay if reviewing the package. I'll finished with my review this week.

[2022-10-17 12:14] lshep commented on #2748
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/GuangchuangYu.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2022-10-17 12:14] #2748 closed, assigned to lshep

[2022-10-17 12:14] lshep commented on #2724
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/veitveit.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-10-17 12:14] #2724 closed, assigned to ococrook

[2022-10-17 13:12] nilseling commented on #2798
Hi @luca-dex and @danro9685

I would then propose to change the name of the package to avoid confusion. If you agree with this I will close this issue and wait for you to open a new issue with the new name (see [package name](https://contributions.bioconductor.org/package-name.html) for guidance). We will then fast track the issue and I will continue with the review where we left off here. Does th

[2022-10-17 14:16] yocra3 commented on #2769
Hi @lshep,

I have solved all the issues you mentioned. I have now created the repository for NetActivityTrain, which will be available for new users. I hope that now the package is ready for acceptance.

Bests,

Carlos

**NetActivityData**

 **Build Report**

    [X]  Please adjust R version to 4.2.0

 **README**

     * [X]  Please add Bioconductor installation instructions

 **Vigntte**

     *

[2022-10-17 14:50] danro9685 commented on #2798
Dear @nilseling,

This sounds great, as new name, what about: RESOLVE (Robust EStimation Of mutationaL signatures Via rEgularization).
If this is good, we can proceed as you suggested.

Thanks,
Daniele and Luca

[2022-10-17 15:02] nilseling commented on #2798
Sounds good. I had a quick check with `available("RESOLVE")` and the name seems to be alright. I will close this issue now - please open a new issue using `RESOLVE`

[2022-10-17 15:02] #2798 closed, assigned to nilseling

[2022-10-17 15:40] danro9685 opened #2841 "RESOLVE"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/danro9685/RESOLVE

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bi

[2022-10-17 15:41] danro9685 commented on #2798
Dear @nilseling I have opened the issue for the new package.
Please add @luca-dex as primary maintainer of the package.
Thanks!

[2022-10-17 15:44] nilseling commented on #2841
Hi @lshep,
this issue addresses the package name change from #2798. Could you please add @luca-dex as maintainer?
Thanks for your help with this!

[2022-10-17 15:56] na396 commented on #2840
Greetings @jianhong @lshep
Thank you for the comment. The timeout problem happens in " creating vignettes", because my package in general takes hours or even days to be completed. This is the nature of my package. The example I provided in the  "vignettes" is the smallest data I could show as an example for my package.

Here is the way I wrote the vignettes. I provided a small dataset in the vigne

[2022-10-17 16:42] lshep commented on #2840
Tagging:  @vjcitn / @hpages  for additional thoughts and comments.  In generally packages cannot take that long to build on our builders.  Packages need to be able to be built daily by our daily builder with a smaller example dataset.  Perhaps storing intermittent data objects to load in various steps while make more in depth long tests might be an option. The other option would be to convert it i

[2022-10-17 17:03] emilyise commented on #2765
### **The NAMESPACE file**
NOTE: Selective imports using importFrom instead of import all with import.
in line 8 import(ggplot2)
**Resolved**

### **General package development**
 Important: Consider clarifying how 8 object(s) are
initialized. Maybe they are part of a data set
loaded with data(), or perhaps part of an
object referenced in with() or within().
Undefined global functions or variables

[2022-10-17 17:44] almeidasilvaf commented on #2835
Hi, @vjcitn

I submitted this package 6 days ago, before the deadline for possible inclusion on Bioc 3.16, and it is still awaiting moderation. Other submissions after this one already have a reviewer assigned.

I have already changed the name, as you proposed in #2811. Is there anything else I need to do?

Best,
Fabricio

[2022-10-17 19:12] na396 commented on #2840
@lshep
I check my code one more time, it takes about 1:00 hour to run. Can you tell me what your recommendation is? Thank you so much, and I apricate your help in advance.

[2022-10-17 19:29] vjcitn commented on #2840
You should have code and "pre-cooked" data that allow the package to build and check in under (20?) minutes.
That's good for you and for us -- you can get a meaningful result in 20 minutes -- you will know if something has gone wrong with your use of the ecosystem almost interactively.  Then accompany this with a workflow package that can consume an hour of build time but is run infrequently.  It

[2022-10-17 19:47] snikumbh commented on #2790
Hi @vjcitn
Pinging to bump this up.

[2022-10-17 20:50] labinfo-lncc opened #2842 "(inactive) mnmer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/labinfo-lncc/mnmer.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-10-17 20:50] #2842 closed, assigned to nobody

[2022-10-17 20:55] labinfo-lncc opened #2843 "mnmer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/labinfo-lncc/mnmer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-10-17 22:46] Nina-Song commented on #2610
Hi @lazappi ,

Thanks for your valuable feedback again.

- Documentations for `extdata` are added to `inst/script`, showing how to get and generate example data. Now all of the data are coming from a 10X genomics public data set, these links can be found in scripts as well.
- Parameter descriptions, return values and titles have been changed. Function documentation has been modified.
- Unnecessary

[2022-10-17 23:11] na396 commented on #2840
@vjcitn
Thank you so much for your comment. I appreciate a lot. This time excess is due to the nature of the algorithm inside package, not the data. Please see this https://arxiv.org/abs/2209.10545. In this package I need to call another library for 11 times in my algorithm, and each time call takes up to  7-8 minutes regardless of the input size, . So from my side, there is no way I could change

[2022-10-18 02:29] nick-robo commented on #2774
Hey @nilseling, we addressed most of your comments, but we are having some technical issues with pushing the new version to the bioconductor git (the access rights were allocated incorrectly). Would you mind checking the new version on our repo?

[2022-10-18 04:35] nick-robo commented on #2815
@PeteHaitch Could you please advise how to address the warning? We are not sure.

`Warning: replacing previous import 'dplyr::select' by 'ensembldb::select' when loading 'scFeatures'`

[2022-10-18 05:59] nilseling commented on #2774
Hi @nick-robo
could you please indicate which comments you addressed, which ones you are still working on and which ones you might disagree with? @lshep could you potentially assist with setting the access rights? Thanks for your help!

[2022-10-18 07:23] luca-dex commented on #2797
Hi @vjcitn and @lshep

We would like to know if there anything we should do for this package or if everything is fine.

Thanks

[2022-10-18 08:21] chywang17 commented on #2834
Hi [[@vjcitn](https://github.com/vjcitn)](https://github.com/vjcitn), I appreciate the suggestions you provided for our R package. We have already made some modifications to the VSOLassoBag as follows:

① We have revised the data input format of the VSOLassoBag. We now use the **SummarizedExperiment format as input**, thus ensuring the coupling of the sample information with the expression matrix.

[2022-10-18 08:22] chywang17 commented on #2834
Hi @vjcitn, I appreciate the suggestions you provided for our R package. We have already made some modifications to the VSOLassoBag as follows:

① We have revised the data input format of the VSOLassoBag. We now use the SummarizedExperiment format as input, thus ensuring the coupling of the sample information with the expression matrix. In addition, the new input data format requires rows as featu

[2022-10-18 08:23] chywang17 commented on #2834
Hi @vjcitn, I appreciate the suggestions you provided for our R package. We have already made some modifications to the VSOLassoBag as follows:

① We have revised the data input format of the VSOLassoBag. We now use the **SummarizedExperiment format as input**, thus ensuring the coupling of the sample information with the expression matrix. In addition, the new input data format requires **rows as

[2022-10-18 10:32] danro9685 commented on #2841
Dear @nilseling,

We should have addressed all the issues you have listed in your previous post.
Moreover, @luca-dex also added package name to Watched Tags, so the ERROR should also have been dealt with.

Please let us know if you have additional comments.

Thanks,
Daniele & @luca-dex

[2022-10-18 11:20] Danis102 commented on #2275
Can you confirm what the valid version number is? Tried a few already (4,5 and 8), but cant trigger a build. We have made a few updates since the last attempt to get it on Bioconductor. Thus, the version number has progressed. Or is something else wrong?

[2022-10-18 11:38] lshep commented on #2275
I see 0.99.7 on git.bioconductor.org which was the last build report on the SPB too.  As long as the version number is 0.99.8 or higher it should trigger.  Please show the results of `remove -v` as well as the commands you are using to push to git.bioconductor.org so we may better assist you

[2022-10-18 12:04] lshep commented on #2774
Should be all set after re-activation of GitCredentials account. See private email for explanation

[2022-10-18 13:10] lshep commented on #2801
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lmweber.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-10-18 13:10] lshep commented on #2769
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yocra3.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-18 13:10] lshep commented on #2759
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/CTrierMaansson.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2022-10-18 13:10] lshep commented on #2391
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Lionir.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-18 13:10] lshep commented on #2769
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/yocra3.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-18 13:10] lshep commented on #2391
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Lionir.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-10-18 13:55] lmweber commented on #2801
Awesome, thank you!

[2022-10-18 14:45] snikumbh commented on #2790
Hi @lshep,
The error reported is
[code]
which going by info at
https://github.com/tidyverse/dbplyr/issues/779 is caused by [Brobdingnag](https://github.com/RobinHankin/Brobdingnag), and resolved with version 1.2-8 which unfortunately doesn't seem to be on CRAN yet due to some platform specific issues (see [here](https://github.com/RobinHankin/Brobdingnag/issues/24)).

What do you suggest in this r

[2022-10-18 14:55] nilseling commented on #2841
Hi @danro9685 and @luca-dex
thanks for addressing most of the comments. There are still some that have not been addressed and I'd like to ask you to comment on the points below once you address them or give an explanation if you are not planing on adapting them.

- [x] The vignette title is missing.
- [ ] Please include a motivation for `RESOLVE` to be included in Bioconductor (in the Introduction

[2022-10-18 15:09] jianhong commented on #2765
Thank you for the updates. Almost there. Please try to fix the following minor issues.

- [ ] NOTE: Try to check the edge condition when using `seq.int` or `seq_len`. For example using `seq.int(min(5, nrow(data)))` to replace `seq.int(5)`
	* In file R/bubblePlot.R:
		+ at line 39 found '                                [seq_len(10)], , drop = FALSE]'
		+ at line 42 found '

[2022-10-18 15:16] lshep commented on #2790
Bioconductor will only grab the active version on CRAN.  We do not use remotes and will not download any other version beside what is provided.  You can check out AnnotationForge package that provides functions for constructing your own orgDb

[2022-10-18 15:18] lshep commented on #2790
Bioconductor will only use whatever version is available through CRAN.  If it is not available via CRAN Bioconductor will not have access as we do not use remotes or download specific versions of packages.   For what its worth I can reproduce this locally on my computer so I suggest making sure you are using the right version of R and all updated packages by check `BiocManager::valid()` or BiocMan

[2022-10-18 15:40] Kayla-Morrell commented on #2791
@sdgamboa - Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## DESCRIPTION

- [ ] REQUIRED: For packages that include data, we recommend

[2022-10-18 15:58] vjcitn commented on #2840
I can't provide detailed information at this time.  Perhaps this will have to wait for inclusion in a future release of Bioconductor.  Do the best you can.

[2022-10-18 16:29] na396 commented on #2840
@vjcitn
Thank you so much. I do appreciate your help. I was wondering if you know the estimated time for Bioconductor release? Or Can I change the package into workflow?

[2022-10-18 16:54] Kayla-Morrell commented on #2832
Hello @shbrief

There do need to be examples in the man pages for exported objects. Would utilizing something like the following work?

[code]

You could also look into `donttest{}` as a last resort (we prefer runnable, testable code over using `donttest{}`/`dontrun{}`). If you must use one of these options we prefer `donttest{}` because it requires valid R code.

Best,
Kayla

[2022-10-18 16:58] Danis102 commented on #2275
I have identified the problem ( I think). I am work on a new computer and don’t have the ssh credantials for the upstream bioconducter remote. Is there a way for me to receive new ssh and be able to push against the upstream depository?

Best/Daniel

From: lshep ***@***.***>
Sent: Tuesday, 18 October 2022 13:39
To: Bioconductor/Contributions ***@***.***>
Cc: Daniel Nätt ***@***.***>; Mention ***@*

[2022-10-18 17:02] lshep commented on #2275
You control your ssh key credentials Bioconductor uses through the GitCredentials app.  You can upload new keys there at any time

[2022-10-18 17:18] LiNk-NY commented on #2753
I've added more information about the experiments that are covered based on the listings in the 10X website.

Hi Pete,
Thank for the feedback. I've implemented some long tests. I will continue to add more unit tests with additional files in the `DropletTestFiles` package. For now, I've added a few. These help improve the codebase of the package. Thank you!

Best regards,
Marcel

[2022-10-18 18:24] emilyise commented on #2765
Thank you for the review. I have resolved the following issue:

 NOTE: Try to check the edge condition when using seq.int or seq_len. For example using seq.int(min(5, nrow(data))) to replace seq.int(5)
In file R/bubblePlot.R:
at line 39 found ' [seq_len(10)], , drop = FALSE]'
at line 42 found ' [seq_len(10)], , drop = FALSE]'