[2021-12-19 14:28] jianhong commented on #2335
Almost there.

- [ ] remove unused code
- [ ] incomplete final line found on 'R/comapr.R'
- [ ] Parameter not passed. cal-genetic-dist.R line 129, change ref_genome="mm10" to ref_genome=ref_genome
- [ ] `is()` or `inherits()` instead of `class()`.
	* Replace getCellCORange.R line 26 `stopifnot(class(co_count) %in% c("GRanges","RangedSummarizedExperiment"))` to `stopifnot(inherits(co_count, c("GRan

[2021-12-19 19:36] jianhong commented on #2449
# Package `CBEA` Review

This package is in good shape but there are some issues need to be fixed.

## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 12 import(TreeSummarizedExperiment)

## Documentation
- [ ] Vignette should have an *Introduction* section..
    * rmd file vignettes/basic_usage.Rmd

## R code
- [ ] `is()` or inherits

[2021-12-20 11:55] jorainer commented on #2443
Just to let you know Herve (@hpages), errors and warnings are now fixed.
Looking forward to your review and feedback.

[2021-12-20 13:05] lshep commented on #2391
may we expect any updates soon?

[2021-12-20 13:06] lshep commented on #2424
@WangX-Lab  do you plan to continue with the submission? Please activate your git credentials and push changes to git.bioconductor.org.

[2021-12-20 14:40] Lionir commented on #2391
Good day,
I took a break for holidays, currently refactoring code to make it more readable, will update the thread early in Jan. Also, I wondered regarding one specific problem: files in the octad.db are synthesis of several years of work by several different scientists via different tools and I'm afraid we can't provide the script that reproduces the files. We described this process in the packag

[2021-12-20 15:30] qpmnguyen commented on #2449
Thank you so much for the code review! These are really useful suggestions to make the package better. I have a couple of clarifying questions with regards to some of the comments:

In the comment

I am assuming that this means Bioconductor prefers direct imports (using `importFrom`) instead of specifying namespaces (`::`) and that I should just remove all namespace mentions. Is this what you're l

[2021-12-20 16:11] florian-j-auer commented on #2399
Thank you for the feedback!
I updated the R version dependency and replaced all sapply with vapply.

[2021-12-20 17:47] nturaga commented on #2426
Hi @Carla-Radames

I cannot seem to build and install your package locally on my Mac (Intel x86)

[code]

I've truncated the error, but it looks like this...

[code]

I run into this issue and I'm unable to figure out the issue. It seems it's only happening with your `Rhisat` package on my machine and not other packages which have Rcpp code in them.

Any suggestions?

[2021-12-20 19:09] LiNk-NY commented on #2453
Hi Danila, @gtca

Thank you for your submission.

Please see the review below.

Best regards,
Marcel

---

# MuData #2453

## DESCRIPTION

* Looks good.

## NAMESPACE

* Please use lowercase for function names i.e., readH5AD, etc.
(Sentence case functions are commonly used for class constructors)
* Based on the number of functions imported, consider depending on `rhdf5`.

## vignettes

* Do not us

[2021-12-20 19:10] jianhong commented on #2449
I mean `::` is easy for read but there is a potential issue during development if you happed to removed the dependence of the package in the DESCRIPTION and it will not throw an error if you manually set the searching path.

It means I did not see any Makevars or Makefile in the `src` folder. If you put it somewhere, please let me know.

[2021-12-20 19:14] da-bar commented on #2427
Hi @vjcitn
thank you for your insight. I needed to change the interface to AnnotationHub quite quickly, and I haven't really contacted anyone beforehand, which I should've done.
I will check the BiocFileCache and let you know if I have any questions.

[2021-12-20 20:11] qpmnguyen commented on #2449
Thank you very much for your responses! That makes sense for the `::` issue.

I do not have any `Makevars`/`Makefile` in the package. I am not really sure what to add since the latest [Rcpp documentation](https://dirk.eddelbuettel.com/code/rcpp/Rcpp-package.pdf) seems to indicate that I don't need to add `Makevars`\\`Makevars.win` files anymore. I can still a `Makevars` file anyways according to t

[2021-12-20 20:34] jianhong commented on #2449
Good to know that. I see you are asking `Rcpp >= 1.0.7`, then this is my mistake. Just forget this comment.

[2021-12-21 00:57] jianhong commented on #2275
# Package 'seqpac' Review

The package passed check and build. But there are several issues need to be addressed. Please fix the following issues first and I will review it again.

## The DESCRIPTION file

- [ ] `Depends` field is not found in DESCRIPTION.
- [ ] R version is not clear in DESCRIPTION.
- [ ] 'LazyData:' in the 'DESCRIPTION' should be set to false or removed
- [ ] Consider adding the

[2021-12-21 03:05] ruqianl commented on #2335
Hi Jianhong,

Thanks for that. I have addressed the following comments

changed to use accessors instead of `@`

Ruqian

[2021-12-21 09:41] tsvali commented on #2442
Thank you again for your comment. I have now added support for the SummarizedExperiment data structure for the RolDE package.

[2021-12-21 09:57] seriph78 commented on #2151
Sorry. Now I will have time to work on it again... Posting here automatically reopen the issue or I should create a new issue?

[2021-12-21 13:41] Keniajin commented on #2460
Hi @vjcitn, thanks. I have updated and removed the pacman functions in my package. The updates on the files have also been done.
I am getting an error after running `Biocheck::Biocheck() `of `"Maintainer must register at the support site; visit https://support.bioconductor.org/accounts/signup/ ."`. Could have an idea why this is happening.

[2021-12-21 13:45] lshep commented on #2460
Did you register the email:  `keniajn@gmail.com` at the support site as requested? It is not showing as a valid registered support site email address to any user on the support site

[2021-12-21 14:03] Keniajin commented on #2460
Thanks @lshep , I was missing an i in the email.

[2021-12-21 15:19] vjcitn commented on #2460
In your vignette you have
[code]
Please do not do this.  Use library() in the vignette when needed.  You can use library() within suppressPackageStartupMessages in a hidden chunk to get packages loaded early on.  Also your vignette wants tidyverse but it is not mentioned in DESCRIPTION.

[2021-12-21 15:20] vjcitn commented on #2460
Does your package pass R CMD check locally?  I can't even build on linux:
[code]

[2021-12-21 15:41] vjcitn commented on #2155
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-12-21 15:41] #2155 closed

[2021-12-21 15:41] vjcitn commented on #2155
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-12-21 19:27] nturaga commented on #2426
I'm also not sure why you are adding this to your Makefile.

https://github.com/Carla-Radames/Rhisat/blob/master/src/Makefile#L4

[2021-12-21 20:55] favorov commented on #2387
Hi  Vince,
0.99.5 with the improved vignette is released. Thank you for the comments!

[2021-12-22 06:47] jorainer opened #2466 "CompoundDb"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/EuracBiomedicalResearch/CompoundDb/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I

[2021-12-22 09:41] Keniajin commented on #2460
The package builds well on R CMD

[code]

[2021-12-22 11:18] seriph78 commented on #2151
Perfect. Thanks!

[2021-12-22 12:14] vjcitn commented on #2460
Please provide the sessionInfo() after doing rcmdcheck::rcmdcheck() on your tarball along with the output of the rcmdcheck.  Thanks!

[2021-12-22 12:18] vjcitn commented on #2460
Also please make the changes necessary to avoid
[code]

[2021-12-22 17:27] jianhong commented on #2335
Sorry for the multiple review comments.

## R code
- [ ] Remove unused code.
    * In file R/bootstrap.R:
        + at line 36 found '  #group_size <- sapply(group_idx, length)'
        + at line 158 found '    #stopifnot(length(group_by)==2)'
    * In file R/count-co.R:
        + at line 108 found '      #  colnames(mcols(gps_snp_gr)) <- names(sid_geno)'
    * In file R/count-gt.R:
        + at l

[2021-12-22 19:01] nturaga commented on #2385
# Review

The package name `distSTRING` is very close to the CRAN package name
`stringdist`. It would be worth renaming the package to distinguish it
a little bit more to avoid confusion.

## DESCRIPTION

ok

## NAMESPACE

ok

## NEWS

ok

## R

- Using direct slot access with `@` should not be done. please check
  your build report.

	http://contributions.bioconductor.org/robust-and-efficient-cod

[2021-12-22 19:17] kullrich commented on #2385
Dear @nturaga,
if I rename the package, do I need to resubmit the whole package from scratch?

[2021-12-22 19:23] nturaga commented on #2385
I think the easiest would be to resubmit from scratch, but the review I gave you should hold.

I will take over the review of the package under the new name and make sure it gets through. (of course, the build report should be as clean as possible).

Please tag me in a comment when you submit new.

[2021-12-22 19:25] nturaga commented on #2385
Please close this issue when you are ready with a new name.

[2021-12-22 19:31] kullrich commented on #2385
Dear @nturaga,

regarding the slot access, the '@' are only used in the example section, since many users use them in their code for quick access. And even these lines are only given as comments '#'.

The question would be if I really need to remove them in the example sections, which should help the users to execute the functions?

e.g. addmask2string

[code]

[2021-12-22 19:39] kullrich commented on #2385
Dear @nturaga,
would be `MSA2dist` fine for a name 'MultipleSequenceAlignment >>> distance', or still too close to `stringdist`?
Thank you in anticipation
Best regards
Kristian

[2021-12-22 19:46] nturaga commented on #2385
`MSA2dist` sounds fine to me.  Please check the names on Bioconductor and CRAN as well http://contributions.bioconductor.org/package-name.html.

Regarding slot access as an example, if you are not doing it in your code, it's not something your users should be doing either IMO. Accessing a slot is easy if you write accessor functions with good function names.

Example, `rse1` is a RangedSummarizedE

[2021-12-22 19:53] kullrich commented on #2385
Dear @nturaga,
since the slot access is on a `Biostrings::DNAStringSet`or an `Biostrings::AAStringSet`I guess I would need to care about original methods for these classes, right?

[2021-12-22 19:58] kullrich commented on #2385
Or even on a `XStringSet`as given in the description:

[code]

[2021-12-22 20:02] nturaga commented on #2385
I'm not sure I understand your question here.

Even within Biostrings, there are accessor functions to access data within the object. You do not need to alter the original methods in any way.

[2021-12-22 20:04] kullrich commented on #2385
Actual, I was just confused by this sentence:

**A Collates: field in the DESCRIPTION file may be necessary to order class and method definitions appropriately during package installation.**

[2021-12-22 23:26] kullrich opened #2467 "MSA2dist"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kullrich/MSA2dist

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-12-22 23:27] kullrich commented on #2467
#changed name from `distSTRING` into `MSA2dist`
#added accessors
see https://github.com/Bioconductor/Contributions/issues/2385

[2021-12-22 23:28] kullrich commented on #2467
As indicated, please assign @nturaga as the reviewer.
Thank you in anticipation
Best regards
Kristian Ullrich

[2021-12-23 01:05] nturaga commented on #2385
Closing this in favor of the other package.

[2021-12-23 01:05] #2385 closed, assigned to nturaga

[2021-12-23 13:18] mana-W opened #2468 "LinTInd"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mana-W/LinTInd

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-12-26 09:27] jaspershen opened #2469 "(inactive) tinytools"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tidymass/tidymass

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-12-26 09:27] #2469 closed, assigned to nobody

[2021-12-26 09:30] jaspershen commented on #2469
Have fixed. Thank you.

[2021-12-26 20:36] jaspershen opened #2470 "tinytools"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tidymass/tinytools

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2021-12-27 09:54] yasmina-mekki opened #2471 "(inactive) https://github.com/yasmina-mekki/gwhap"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have r

[2021-12-27 09:54] #2471 closed, assigned to nobody

[2021-12-27 09:55] yasmina-mekki opened #2472 "(inactive) gwhap"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yasmina-mekki/gwhap

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _

[2021-12-27 09:55] #2472 closed, assigned to nobody

[2021-12-28 08:09] WangX-Lab commented on #2424
@lshep I've made some changes on github, how do I recommit to bioconductor?

[2021-12-28 08:14] WangX-Lab opened #2473 "(inactive) DEPTH"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-12-28 08:14] #2473 closed, assigned to nobody

[2021-12-28 08:19] WangX-Lab opened #2474 "(inactive) Deviating gene Expression Profiling Tumor Heterogeneity algorithm"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/WangX-Lab/DEPTH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-12-28 08:19] #2474 closed, assigned to nobody

[2021-12-28 08:21] WangX-Lab commented on #2474
@bioc-issue-bot I would like this repository to be linked to issue number: 2474

[2021-12-28 08:24] WangX-Lab commented on #2424
@bioc-issue-bot @lshep  I would like this repository to be linked to issue number: 2474

[2021-12-28 08:25] WangX-Lab commented on #2474
@bioc-issue-bot  I would like this repository to be linked to issue number: 2424

[2021-12-28 13:27] Kayla-Morrell commented on #2431
@svenbioinf - Checking in to see if any progress has been made on the review I posted. We like to see changes within 2-3 weeks to be sure the package is actively being worked on. If there are no improvements made in the next few days I will have to close this issue for inactivity.

Best,
Kayla

[2021-12-29 02:14] qxdu commented on #2426
Thank you sir. I have made some corrections for the package,  I would be grateful if you could check it again.
For the first error, it may because I named a file "VERSION", maybe it cause some conflicts , now I have renamed it as "HISAT_VERSION".
For https://github.com/Carla-Radames/Rhisat/blob/master/src/Makefile#L4 , This line I wrote is to refer to the format of other R packages. I found that m

[2021-12-29 07:54] seriph78 commented on #2151
Hi, as usual there is "Warning: file 'COTAN/configure' did not have execute permissions: corrected" also if the file already has the right permissions,

[2021-12-30 10:58] svenbioinf commented on #2431
Hi Kayla,
I managed to address various points during the christmas holidays, however there are a couple of issues I would appreciate your input:
- REQUIRED: Update R version dependency from 4.0 to 4.2.0.
The latest R release I found was 4.1, I updated accordingly.
- Your internal MacOS buildcheck stops with "Graphics API version mismatch" It seems to be fine on Linux though
are you able to do anyt

[2021-12-31 10:32] ruqianl commented on #2335
Hi @jianhong,
No worries at all. Thanks for all the inputs for getting the package more mature.

[2021-12-31 13:18] vjcitn commented on #2440
Thank you for your efforts.  Despite clean passage of R CMD check, there is additional work to be done.

---

This requirement is from BiocCheck::BiocCheck run in the root folder of your package:

`[1] "Update R version dependency from 4.1.0 to 4.2.0."   `

Make this change to DESCRIPTION.  You should be testing on the devel branch of R.

---

[code]

Why are you exporting `%>%`?  R 4.1 has `|>` a

[2021-12-31 13:19] vjcitn commented on #2427
How is this going?

[2021-12-31 13:20] vjcitn commented on #2399
Your package will be accepted.  We are having an issue with DOI generation so there will be a brief delay of a few days.

[2021-12-31 14:09] vjcitn commented on #2387
Thanks.  Spelling error early on: transctironal correlations

Also some spelling and syntax at `There is some week signal for gene E is for {TF1,TF9,TF7,TF10} (uncorrected p-value=0.006).`

Reading some of the R code, `best.friends.r` starts with

[code]
The URL in DESCRIPTION `https://github.com/favorov/best-friends/R/best-friends/` does not resolve.  In the README.md of the best-friends repo we

[2021-12-31 14:12] vjcitn commented on #2460
I hope you will be finding some time to address some of the concerns in the review.  A new submission needs to be tested in the devel branch of R (version 4.2).  You might want to take advantage of the mentoring program, see https://docs.google.com/forms/d/e/1FAIpQLSf_xEOQU6Ye78qF0o0tcUhmMHWui-QVX8R-53KQE8c13qQMqA/viewform ... I hope you have a pleasant new year and that we will hear back from you

[2021-12-31 19:53] favorov commented on #2387
Thank you so much!
I am sorry for the bad spelling, these errors are difficult to see
when the text is well-known,
Happy New Year!

On Fri, Dec 31, 2021 at 9:09 AM Vince Carey ***@***.***> wrote:

[2022-01-03 13:11] lshep commented on #2424
@WangX-Lab  I was away for the holiday. Do not close this issue and try to open a new one.  You should continue on this issue. You need to figure out how to push to Bioconductor as it is an important part of maintaining a Bioconductor package on our system.

[2022-01-03 13:12] lshep commented on #2424
I mentioned in  previous comments, you need to activate your BiocCredentials account and add ssh-keys in order to push to git.bioconductor.org.  Please do this and update your package on our system with a valid version bump to trigger a new build.  then we will continue with the review.

[2022-01-03 13:13] lshep commented on #2424
Follow the links for https://bioconductor.org/developers/how-to/git/new-package-workflow/  for pushing to bioconductor

[2022-01-03 17:02] da-bar commented on #2427
Hi @vjcitn ,
Sorry for the delay.  I will wrap this up by the end of the week. Just a quick question. Is it ok to export the cached file in the  .onLoad() function (which will download the file if not present in the cache), or do I need to add a constructor function (I would avoid it if possible since it will change the interface)?

[2022-01-03 17:43] vjcitn commented on #2427
@lshep should have a look here too.  Please direct us to a sketch of what you are doing.  There should be no need to do anything with .onLoad ...

[2022-01-04 02:54] WangX-Lab commented on #2424
@bioc-issue-bot @lshep  Hi, I am trying to activate my account to add SSH keys. I think I have already added email address in the DESCRIPTION file of the package I maintain. You can find it here: https://github.com/WangX-Lab/DEPTH/blob/master/DESCRIPTION. But the BiocCredentials website shows that my email address "is not associated with a maintainer of a Bioconductor package. Please check the spe

[2022-01-04 04:28] jaehyunjoo opened #2475 "(inactive) poplin"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jaehyunjoo/poplin

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-01-04 04:28] #2475 closed, assigned to nobody

[2022-01-04 04:43] jaehyunjoo opened #2476 "poplin"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jaehyunjoo/poplin

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-01-04 12:40] lshep commented on #2424
The package was originally associated with mengyuanli@stu.cpu.edu.cn as that was the first listed maintainer and following best R practices encourages only one maintainer for a package.  Now that the description has been updated I also updated the BiocCredentials app and it should recognize xiaosheng.wang@cpu.edu.cn.  Remember to activate your account first.

[2022-01-04 13:48] WangX-Lab commented on #2424
@lshep Thank you, I have activated my BiocCredentials account and added ssh-keys. But when I run 'git push upstream master'  in order to push to git.bioconductor.org, the git shows that "FATAL: W any WangX-Lab/DEPTH WangX-Lab DENIED by fallthru (or you mis-spelled the reponame) fatal: Could not read from remote repository. Please make sure you have the correct access rights and the repository exis

[2022-01-04 13:51] lshep commented on #2424
please show the results of running `git remote -v`  and then the full output when running `git push upstream master` so we can better assist

[2022-01-04 13:55] WangX-Lab commented on #2424
@bioc-issue-bot @lshep Hi, I opened the new issue#2473 because I solved the dependency problem with the last version of the package and re-uploaded it to github.

[2022-01-04 13:58] WangX-Lab commented on #2424
@lshep Thank you very much. Here are the results:

$ git remote -v
origin  git@github.com:WangX-Lab/DEPTH.git (fetch)
origin  git@github.com:WangX-Lab/DEPTH.git (push)
upstream        git@git.bioconductor.org:WangX-Lab/DEPTH.git (fetch)
upstream        git@git.bioconductor.org:WangX-Lab/DEPTH.git (push)

$ git push upstream master
FATAL: W any WangX-Lab/DEPTH WangX-Lab DENIED by fallthru
(or you m

[2022-01-04 14:01] lshep commented on #2424
what do you mean by dependency problem?

[2022-01-04 14:08] WangX-Lab commented on #2424
@lshep  The package DEPTH is an algorithm developed in our lab to calculate intratumor heterogeneity (ITH) level of each tumor sample based on gene expression profiles. DOI: https://doi.org/10.1038/s42003-020-01230-7. The formula inside this algorithm involves a standard deviation (sd) that depends on the R package stats. In the changed version, we have resolved this dependency and can seen here:

[2022-01-04 14:14] nturaga commented on #2424
Hi @WangX-Lab

There could be multiple reasons why you cannot push to the git server.

https://bioconductor.org/developers/how-to/git/faq/

Please check to ensure FAQ numbers 14, 15, 16 are correctly addressed on your local machine, especially 16, where you might have to set the permissions.

Best,

Nitesh

[2022-01-04 14:39] WangX-Lab commented on #2424
@nturaga @lshep  Thank you very much. I will check these issues you mentioned in the near future.

[2022-01-04 14:45] lshep commented on #2424
You should not open new issues for changes.  The point of the review process and assigning an issue is to understand and learn how to maintain a Bioconductor package as well as pass the review process for Bioconductor package standards.  Figuring out how to push to git.bioconductor.org to upload your changes is important to that.  Also worth looking at is  http://contributions.bioconductor.org/  w

[2022-01-04 15:21] svenbioinf commented on #2431
Dear Kayla,
could you please comment on the note I wrote to you responding to your suggestion/requirements list?
Here it is again:
"Your internal MacOS buildcheck stops with "Graphics API version mismatch" It seems to be fine on Linux though
are you able to do anything from your side?"

So I updated all my R packages, do you need to do the same for your MacOS testing system maybe? (Just guessing)

[2022-01-04 19:00] Jfortin1 commented on #2155
Hi Marcel @LiNk-NY,

Both `crisprScore` and `crisprScoreData` are now added to BioC 3.15, but they both have an error in the nightly build because of their mutual dependencies (crisprScore depends on crisprScoreData, and crisprScoreData has crisprScore as a Suggests package).

[2022-01-04 19:14] LiNk-NY commented on #2155
Thanks for pointing this out Jean-Philippe @Jfortin1 . We are currently investigating. It looks like there are some configuration issues with the builders to be sorted out. We will update soon.

[2022-01-04 23:35] jaspershen commented on #2470
Hi. Just wondering when can I get the comments on this package? Thank you!

[2022-01-05 03:08] WangX-Lab commented on #2424
@lshep  Thank you very much. It does generate a lot of errors and warnings. Here are the results:

This is BiocCheck version 1.28.0. BiocCheck is a work in progress. Output and severity of issues
may change. Installing package...
* Checking Package Dependencies...
* Checking if other packages can import this one...
* Checking to see if we understand object initialization...
* Checking for deprecat

[2022-01-05 12:18] lshep commented on #2424
The biggest concern is that the package already exists on CRAN.  Is this the same package or were you unaware a package already existed with that name?

[2022-01-05 12:38] WangX-Lab commented on #2424
@lshep Yes, the package on CRAN has the same name as my package, and I didn't know when I first named the package that the
 package with this name already existed on the CRAN platform.

[2022-01-05 12:43] lshep commented on #2424
You can not name your package the same as an existing.  To try and make things easier, we will close this issue and please submit a new issue when you have renamed your package.
@nturaga We can remove DEPTH from git.bioconductor.org as the name is already taken on CRAN and will not be used.

[2022-01-05 12:43] #2424 closed, assigned to lshep

[2022-01-05 12:50] WangX-Lab commented on #2424
@lshep @bioc-issue-bot  Thank you very much.

[2022-01-05 12:54] WangX-Lab commented on #2424
@lshep Is it possible to change the DEPTH to DEPTH1?

[2022-01-05 12:56] lshep commented on #2424
it should be uniquely different than the existing CRAN depth.  Using a numeric indicator typically indicates the next version of the existing package.

[2022-01-05 13:02] WangX-Lab commented on #2424
@lshep OK, thank you, I'll think about it.

[2022-01-05 15:40] LiNk-NY commented on #2155
Hi Jean-Philippe @Jfortin1
It looks like `crisprScoreData` does not need to suggest `crisprScore`.
Perhaps you could remove it from the `Suggests` field to move things forward more quickly?
Best,
Marcel

[2022-01-05 17:04] Jfortin1 commented on #2155
Thanks Marcel @LiNk-NY, the `Suggests` is indeed unnecessary, oversight on my part. I removed it and pushed the commit.

[2022-01-06 07:01] noriakis opened #2477 "CBNplot"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/noriakis/CBNplot

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-01-06 08:03] gongcongcong opened #2478 "mbOmic"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gongcongcong/mbOmic

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-01-06 08:03] #2478 closed, assigned to nobody

[2022-01-06 08:52] gongcongcong opened #2479 "(inactive) mbOmic"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2022-01-06 08:52] #2479 closed, assigned to nobody

[2022-01-06 08:53] gongcongcong opened #2480 "(inactive) mbOmic"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gongcongcong/mbOmic

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-01-06 08:53] #2480 closed, assigned to nobody

[2022-01-06 09:49] gongcongcong commented on #2234
Hi,
I am sorry for so much time were spent checking the mbOmic package due to adding additional functions for identifying enterotypes. Now, if it is convenient for you, I want to reopen this issue.
thanks

[2022-01-06 13:21] Kayla-Morrell commented on #2431
@svenbioinf - I will bring this to the attention of our team. I was able to build it locally on my mac so I'm assuming it's something on our end. In the mean time I will re-review the package based on the other builders. I will have the rereview posted here in the next few days.

Best,
Kayla

[2022-01-06 13:59] gongcongcong commented on #2234
thanks. I have already pushed the version to git@git.bioconductor.org:pakcage/mbOmic.git

[2022-01-06 14:01] vjcitn commented on #2465
I am doing early check on this package (sorry for long time lag) and I think there is a risk that this package will time out.  The call to runAPL seems to take quite some time.  Is there a way to avoid this?

[2022-01-06 16:35] lshep commented on #2335
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ruqianl.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-01-06 16:35] #2335 closed, assigned to jianhong

[2022-01-06 19:28] hpages commented on #2470
tinytools is such a vague and generic name. If this is about mass spec, maybe something like tinymstools, or simply mstools/masstools or msutils/massutils?

About the Title:

Correct spelling is "useful" (a single "l"), not "usefull".

About the Description:

This kind of sentence is vague and does not actually provide any useful information about the package.

"is dependent by" is not correct. Do

[2022-01-06 20:02] hpages commented on #2470
Your package seems to be using **metflow2**. There are 2 problems with this:
1. This dependency is not listed in your DESCRIPTION file.
2. **metflow2** is not a CRAN or Bioconductor package.

[2022-01-06 20:10] jaspershen commented on #2470
Hi Herve,

Thank you so much for your comments. I agree with your comment on the name of the package, tinytools is too generic. I will change it to masstools, should I change it and then resubmit it again with a new issue? Thank you.

[2022-01-06 22:01] hpages commented on #2470
Yes. Thanks!

[2022-01-07 02:34] gongcongcong commented on #2234
ok, System Files was removed from these files

[2022-01-07 03:30] jaspershen commented on #2470
Dear Herve,

I have changed the package name. And the link is here: https://github.com/tidymass/masstools. I will open another issue for this one. I am just wondering if you can help transfer this to masstools, so we can save lots of time. Thank you so much!

[2022-01-07 03:32] jaspershen opened #2481 "(inactive) masstools"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tidymass/masstools

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-01-07 06:51] kullrich commented on #2467
Hi, is there an issue with `merida1`?
Since the dependencies of this package ` RcppThread, ape, doParallel, foreach, seqinr, tidyr` can be installed on the other platforms (Linux, Windows) without any issues.
It seems that other submitted packages can also not PASS the initial build on Mac since e.g. `ggplot2` can not be installed on `merida1` http://bioconductor.org/spb_reports/LinTInd_buildrepor

[2022-01-07 09:58] Keniajin commented on #2460
Here is the `sessionInfo()`
[code]

[2022-01-07 09:59] Keniajin commented on #2460
Unfortunately I missed this since I was on break, is there another chance available?

[2022-01-07 11:30] vjcitn commented on #2467
Yes.  Give it a few days.

[2022-01-07 11:33] vjcitn commented on #2460
Hi, I am surprised about the mentorship form closure.  I will check with the head of that program.  In
any case, please install R 4.2 (devel branch) and test your package with that.  That is obligatory for
submissions in this part of the year.

[2022-01-07 11:33] kullrich commented on #2467
@vjcitn Thx. Is there a way to trigger a new build without increasing the version number or do I need to fake a version upgrade to trigger it?

[2022-01-07 12:20] vjcitn commented on #2467
You should feel free to increase the version number at any time.  Any change to source should be accompanied by an increase to version number originating from the contributing developer.  Thanks!

[2022-01-07 12:50] HelenaLC commented on #2429
May we expect any updates soon?

[2022-01-07 13:06] vjcitn commented on #2446
You've made a fair amount of progress achieving the interoperability condition.  Now I'd like to consider one more issue.  The man page for speciesCorr in the package reads
[code]
The description is an incomplete sentence.  But in addition to this I think we would like to see if code like
[code]
can be avoided -- multiple dollar signs on a line are not forbidden but are very clumsy.  Since the com

[2022-01-07 13:13] vjcitn commented on #2446
Here is some boilerplate code that should run:
[code]

It is a bit cumbersome, but let's consider the payoff.  We start by constructing the formal
object from your list:

[code]
The show method gives us a compact report -- you could enhance this by adding output concerning numbers of samples and features...
[code]
Our validity method verifies some conditions on our object:
[code]
This guards the u

[2022-01-07 13:14] vjcitn commented on #2446
You can change the name of the class or follow this strategy in other directions.  But I do think something should be done to reduce the complexity of code in the vignette.

[2022-01-07 14:46] nturaga commented on #2467
You cannot trigger a build without increasing the version number. Do as many version number bumps as you need.

[2022-01-07 14:48] lshep commented on #2467
It should also be mentioned we were/are doing updates on merida1 that may be the cause of the issue.  We expect them to smooth out over the next 24 hours

[2022-01-07 14:52] lshep commented on #2427
Actually I think the onLoad is appropriate in this case.  It allows the data to be present after doing the library call and I think mimics what we do in our own TxDb and BSgenome type packages.
Again I think the previous version of JASPAR (JASPAR2020) used AnnotationHub for distribution and caching. This version currently does not use AnnotationHub so be sure that the caching is properly set up if

[2022-01-07 18:19] mana-W commented on #2468
Hi, I have solved the problem that was met by `nebbiolo1`.
But, for `merida1`, I saw there was the same issue for other package contributors.
That seems the problem is caused by Rversion4.2, which is an unreleased version.
I have tried in an empty environment in R4.1.2 which remains no error.

[2022-01-07 20:17] peymanzarrineh commented on #2429
Hello. Thank you again for your guidance. I changed all external files to some small examples. I made all files smaller and R CMD build is run around 3 minutes on my laptop. I think I have pushed the updated files to Bioconductor github. Would you please check my updated files?

[2022-01-08 11:05] jaspershen opened #2482 "(inactive) massconverter"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tidymass/massconverter

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-01-08 11:22] vjcitn commented on #2460
Well, the mentorship program is indeed closed for the first cycle.  Please install R 4.2, run your package through R CMD check and if there are no errors we will proceed with the review.  But do comment here when you complete this check.

[2022-01-08 11:24] vjcitn commented on #2460
Please try to run R CMD check on a "clean" deployment of R, so that system peculiarities do not affect the check.  There should be no references to local files except as mediated by system.file() to refer to relatively small files that are installed with the package.

[2022-01-08 12:06] vjcitn commented on #2465
I continue to explore this package.  The use of python is noted in the DESCRIPTION file.  I would strongly recommend you consider the use of the basilisk package in Bioconductor to manage the python dependencies.  Bioconductor package BiocSklearn illustrates one approach to exposing pieces of scikit-learn.

[2022-01-08 14:00] HelenaLC commented on #2429
I can see the changes on your GH master branch, however, remember you need to push a valid version bump in the DESCRIPTION to the upstream Bioc branch in order to trigger a new build (currently, there's only a report for the 0.99.0 version). FYI: You will also see an automated message here on GH when a version bump has been received and a new build is triggered.

[2022-01-08 15:45] peymanzarrineh commented on #2429
Sorry. How can I update the version. In the description file, I had changed it to Version: 0.99.1. prior to the previous submission.

[2022-01-08 18:25] Keniajin commented on #2460
I have testes using the R 4.2 (devel branch) and the package builds well

[code]

[2022-01-08 19:00] pouryany commented on #2440
Dear @vjcitn and @lshep

I am not able to detect the sources of error in building the package in the automated builder. In my local machine and Github actions, the package builds without any errors, and the R CMD check passes completely.

I have edited the package according to your thorough and constructive review and I will post detailed responses shortly.

[2022-01-08 19:13] vjcitn commented on #2460
Confirmed.  Package will proceed to review next week.

[2022-01-09 07:01] HelenaLC commented on #2429
Yes, I can see it’s 0.99.1 on your GH. But did you also push this version to git@git.bioconductor.org:packages/Motif2Site? See the instructions given in the messages above from Nov 24

[2022-01-09 16:01] peymanzarrineh commented on #2429
Thanks for your guidance. I think this time was a valid push as I have gotten an automatic message.

[2022-01-09 16:04] HelenaLC commented on #2429
Yes, indeed, good job! So let's wait and see what the reports say; fingers crossed.

[2022-01-09 16:45] peymanzarrineh commented on #2429
Thanks again for your kind help and guidance. I am so excited to see that it was successfully built.

[2022-01-10 12:19] HelenaLC commented on #2429
# README

- [ ] Please include Bioconductor installation instructions using `BiocManager`.

# DESCRIPTION

- [ ] We would encourage adding an R dependency of >= 4.1,
i.e., by adding a `Depends: R (>= 4.1)` field.

- [ ] We recommend `lazyData: false` as setting it to `true`
is rarely useful and could slow package installation.

- [ ] Consider adding a `URL:` field pointing to the code repo, and
a

[2022-01-10 17:04] pouryany commented on #2440
Dear Vince (@vjcitn),
Happy new year! Thank you very much for your very constructive feedback.  As per my previous post, I am not sure why the package doesn't build on automated testing machines. My prime suspects are building/installing errors on one or more of the dependencies, most likely related to `clusterProfiler` or `DOSE`. I have made changes according to your comments and suggestions. Ple

[2022-01-10 21:42] sagun98 opened #2483 "Macarron"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/biobakery/MACARRoN

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-01-11 17:01] svenbioinf commented on #2431
@Kayla-Morrell Just to keep you updated:
I added more of your suggested points, however the Error from your builder system still pops up.
Best, Sven

[2022-01-11 17:28] nilshoffmann opened #2484 "(inactive) rgoslin submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lifs-tools/rgoslin-bioc

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read t

[2022-01-11 17:28] #2484 closed, assigned to nobody

[2022-01-11 17:34] nilshoffmann opened #2485 "rgoslin submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lifs-tools/rgoslin

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-01-11 18:43] PFPrzytycki opened #2486 "CellWalkR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PFPrzytycki/CellWalkR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-01-11 20:53] VingronLab commented on #2465
Thanks a lot for your feedback and for the suggestion to use basilisk. We will try to replace reticulate by basilisk.

Regarding the function runAPL, when working with the PBMC data described in the vignette one could use the parameters: "pd_use = FALSE" and "dims = 222". This would skip the calculation of the dimension number, and use a fixed number of dimensions instead.
In addition to this (or

[2022-01-11 21:25] vjcitn commented on #2465
Thanks for getting back to me.  Please make the relevant changes to the vignette so that this package can be built and checked in the shortest time possible.  If you need longer times for testing, there is a longTests capability that we can discuss as needed: https://www.bioconductor.org/developers/how-to/long-tests/

[2022-01-12 12:20] vjcitn commented on #2477
Thanks for your submission.  We need some pre-review changes.  1) please don't call your vignette vignette.Rmd   2) in the vignette `counts = read.table("GSE133624_reads-count-all-sample.txt", header=1, row.names=1)` doesn't work because the file is not present.  If it is a large file you'll have to make an arrangement to contribute to ExperimentHub.  Or you might be able to use code based on GEOq

[2022-01-12 12:47] vjcitn commented on #2481
Thanks for this submission.  The vignette seems extremely limited in scope relative to the functions in the package.   I ran `covr::package_coverage(type="vignettes")`:
[code]
Is it possible to be more comprehensive in terms of describing the purpose of the package and the functions within, in the vignette?

[2022-01-12 12:51] vjcitn commented on #2481
Also your submission should have R (>= 4.2) in Depends

[2022-01-12 12:54] vjcitn commented on #2482
Should depend on R >= 4.2.  No vignettes folder.  Seems to be a pkgdown site source.  Please read developer guidelines.

[2022-01-12 14:14] npechl commented on #2314
@LiNk-NY @lshep

Hello to you all,

A couple of months ago, we submitted `lineagespot` package as a new contribution to Bioconductor.

Unfortunately, there were some changes regarding the team structure and we delayed the package development (we apologize for this). We have now considered all the comments above and corrected them.

However I am not sure if I should open a new issue for the package

[2022-01-12 14:16] lshep commented on #2314
@nikopech   Please push the change to git.bioconductor.org to trigger the updated build report

[2022-01-12 14:58] npechl commented on #2314
@lshep

Thank you for your quick response! I have just pushed to git.bioconductor.org and waiting for the build report.

[2022-01-12 16:10] pouryany commented on #2440
Dear @vjcitn

The build error has been addressed and disappeared with some recent updates in Bioc packages (relating to [this post](https://stat.ethz.ch/pipermail/bioc-devel/2022-January/018782.html) on Biocdevel mailing list).

Please find my response to your review above. Thank you very much.

Best,
Pourya

[2022-01-12 16:24] mengchen18 opened #2487 "ExpressionSetViewer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mengchen18/omicsViewer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-01-12 21:09] ferygood commented on #2446
Dear Vince,

I have updated TEKRABber repo:
(1) Create a **TekCorrSet** class object to contain the input files for running the vignette. All dollars signs are hidden and it looks neater now.
(2) A new function `assay_tekcorrset()` is added to access TekCorrSet class object for running the vignette.
(3) I also check the sentences in documentation files (function, and data).

Thank you very much fo

[2022-01-12 21:41] jaspershen commented on #2481
Thanks, Vjcitn! Just wrote a new Rmarkdown file for masstoolls in vignette. For the R, I am using the R 4.1, and there is no error or warning in check for the R version. So I am wondering can I just keep it as 4.1? Thanks.

[2022-01-12 22:06] vjcitn commented on #2446
Thanks.  The package will go into the review cycle.  You should hear in the next week or so how the build system has handled it.

[2022-01-12 22:08] vjcitn commented on #2481
See https://bioconductor.org/developers/how-to/useDevel/ ... for this part of the cycle, you need to prepare with R 4.2.

[2022-01-12 22:15] jaspershen commented on #2482
Hi. Just added vignettes. For the R version, I am using R 4.1, so I am wondering if I can keep 4.1 in my depends? Thanks!

[2022-01-12 22:28] jaspershen commented on #2481
Thank you so much for your quick reply! However, there is no available R 4.2 on the R website now. Please see here: https://mirror.las.iastate.edu/CRAN/. So I am a little confused what should I do to install R 4.2 and set it R (>= 4.2) in the description of the package?  Thank you so much!

[2022-01-12 23:31] vjcitn commented on #2481
There are links at the bottom of https://bioconductor.org/developers/how-to/useDevel/ ... explore them, you will find what you need.

[2022-01-13 00:04] jaspershen commented on #2481
Got it! Thanks so much! Just updated to R >= 4.2 and everything is OK. Thanks.

[2022-01-13 03:17] noriakis commented on #2477
@vjcitn Thank you very much for checking the package. We have made the changes as follows.
1) We have renamed vignette.Rmd to basic_usage.Rmd.
2) Thank you very much for your suggestion. We have changed the code to use `GEOquery` and download the necessary resource.

[2022-01-13 04:48] jaspershen commented on #2482
Hi. Just changed R > 4.2 and ran well. Thanks.

[2022-01-13 12:55] vjcitn commented on #2482
[code]
Is something missing?

[2022-01-13 13:05] vjcitn commented on #2483
Thanks for your submission.  This package is not ready for review.
[code]
Note the two occurrencess of VignetteBuilder.  The package must be developed under R-devel (see the developer guidelines) for this period of the Bioc release cycle.   R CMD check output includes
[code]
Please attend to these and reply when your repo is updated.  Thanks again!

[2022-01-13 13:29] VingronLab commented on #2465
Thanks a lot for the reply. We've just updated the vignette and now it takes less time than before.
We've also timed the R CMD Check and we wonder if the limit of 40 min relates to the "real" or "user" time. Or it's not related to any of them? Unfortunately, we couldn't find any information.

[2022-01-13 13:41] vjcitn commented on #2486
SnapATAC and ArchR are not in CRAN or Bioconductor.  Do you know if they will be distributed in one of those systems?  We cannot allow dependencies to github-only packages.

[2022-01-13 13:43] MarcElosua opened #2488 "SPOTlight"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MarcElosua/SPOTlight

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-01-13 15:09] #2470 closed, assigned to Kayla-Morrell

[2022-01-13 15:11] lujunyan1118 opened #2489 "(inactive) DepInfeR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lujunyan1118/DepInfeR

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the

[2022-01-13 15:11] #2489 closed, assigned to nobody

[2022-01-13 15:21] lujunyan1118 opened #2490 "(inactive) DepInfeR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lujunyan1118/DepInfeR

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the

[2022-01-13 15:21] #2490 closed, assigned to nobody

[2022-01-13 17:07] vjcitn commented on #2465
For submissions the limit is 5 minutes "real" time.  We will ensure that this is clarified in developer doc.  @lshep

[2022-01-13 18:35] Kayla-Morrell commented on #2431
@svenbioinf - Thank you for making the necessary changes. I've looked them over and everything looks good, I'm more than happy to accept the package. In regards to the Mac ERROR - this can be ignored for now. Our team did some digging and found that `ggsave()` uses packages `ragg` and `textshaping` which CRAN has not provided Mac binaries yet for R 4.2. Until this happens the ERROR will persist. I

[2022-01-13 18:44] jaspershen commented on #2482
Thanks @vjcitn . Just fixed the bug in one function and now the warnings have gone! Thank you!

[2022-01-13 18:49] lshep commented on #2431
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/svenbioinf.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-01-13 18:49] #2431 closed, assigned to Kayla-Morrell

[2022-01-13 22:00] jaspershen commented on #2481
Hi, I added most of the system files to .gitignore, but the "masstools.Rproj " is still here. Could you kindly help to figure out what should I do to fix this error? Thanks!

[2022-01-14 09:01] lyoussar opened #2491 "(inactive) rifi"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CyanolabFreiburg/rifi

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-01-14 09:02] #2491 closed, assigned to nobody

[2022-01-14 09:29] lyoussar opened #2492 "rifi"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/CyanolabFreiburg/rifi

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-01-14 10:14] mcjmigdal opened #2493 "(inactive) xcore"
- Repository: https://github.com/bkaczkowski/xcore

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package

[2022-01-14 10:14] #2493 closed, assigned to nobody

[2022-01-14 10:19] mcjmigdal opened #2494 "(inactive) xcore"
- Repository: https://github.com/bkaczkowski/xcore

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package

[2022-01-14 10:19] #2494 closed, assigned to nobody

[2022-01-14 10:29] lujunyan1118 opened #2495 "DepInfeR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Huber-group-EMBL/DepInfeR

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read

[2022-01-14 10:46] svenbioinf commented on #2431
Thank you Kayla & the Bioconductor Team!
This is good news and I am happy to have OGRE accepted here at Bioconductor.
Have a nice day,
Sven

[2022-01-14 12:55] nilshoffmann commented on #2485
@PeteHaitch I have updated my repository at https://github.com/lifs-tools/rgoslin, removing the Rstudio project file that seems to have caused the build error, according to the logs. I do not seem to have rights to push to Bioconductor's git at this point. How should we proceed?

[2022-01-14 13:47] mcjmigdal opened #2496 "xcore"
- Repository: https://github.com/bkaczkowski/xcore

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package

[2022-01-14 14:38] lshep commented on #2485
@nilshoffmann  you should have permission to push to git.bioconductor.org.  You will need to activate your GitCredentials account as mentioned about and add ssh-keys for access.  https://git.bioconductor.org/BiocCredentials   .  Then follow the instructions for pushing to git.bioconductor.org  https://bioconductor.org/developers/how-to/git/new-package-workflow/

[2022-01-14 14:44] lshep commented on #2297
@jfanglovestats  May we expect any updates soon?  We like to see updates in a few weeks time to keep the submission processing moving forward.

[2022-01-14 17:05] jaspershen commented on #2481
Thank you! I am happy that there are no errors or warnings! This is my first time submitting a package to Bioconductor, so what's the next step I should do? Thanks.

[2022-01-14 17:06] lshep commented on #2481
now please wait for a full in-depth review of your package. This will normally occur within a few weeks.

[2022-01-14 17:08] jaspershen commented on #2481
Go it. Thanks!

[2022-01-14 18:16] vjcitn commented on #2487
duplicate biocViews in DESCRIPTION must be fixed.  issue filed at base repo

[2022-01-14 19:10] rmolbrich opened #2497 "MBECS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rmolbrich/MBECS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-01-14 20:06] tanlabcode opened #2498 "(inactive) CytoTalk"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tanlabcode/CytoTalk

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-01-14 20:28] hpages opened #2499 "(inactive) updateObject"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/updateObject

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-01-14 20:28] #2499 closed, assigned to nobody

[2022-01-14 20:30] hpages commented on #2499
Is it possible to make an exception for the x.99.z requirement? I'd really like to keep this thing at 0.y.z for the moment (even after release) to reflect the fact that it is work-in-progress. Thanks!

[2022-01-14 21:08] athchen opened #2500 "beer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/athchen/beer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-01-14 21:37] Deisiany opened #2501 "(inactive) https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2.git"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-01-14 21:37] #2501 closed, assigned to nobody

[2022-01-14 21:50] Deisiany opened #2502 "(inactive) https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-01-14 21:50] #2502 closed, assigned to nobody

[2022-01-14 21:54] Deisiany commented on #2502
Dear @bioc-issue-bot why is my other URL not acceptable as well and my issue closed right away?

[2022-01-15 19:06] LucaAnholt opened #2503 "(inactive) PanViz submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LucaAnholt/PanViz/tree/main/PanViz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I

[2022-01-15 19:06] #2503 closed, assigned to nobody

[2022-01-15 19:19] LucaAnholt opened #2504 "(inactive) PanViz submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LucaAnholt/PanViz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-01-15 19:19] #2504 closed, assigned to nobody

[2022-01-15 19:21] LucaAnholt opened #2505 "PanViz submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LucaAnholt/PanViz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-01-16 09:18] qxdu commented on #2426
@nturaga I forgot to @ you in time. Sir can you see my new submission?

[2022-01-16 14:34] jianhong commented on #2466
# Package 'CompoundDb' Review

The package passed check and build. It is in pretty good shape. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] Update R version dependency from 3.4 to 4.2.0.

## R code
- [ ] No `paste` in `message()`, `message`, `stop`. Please move the `paste` outside of the functions.
	* In file R/AnnotationFilters.R:
		+ at line 451 found '

[2022-01-17 03:42] jfanglovestats commented on #2297
Hi Ishep,

Thanks for checking. I will update this week.

Best,
Jiyuan

From: lshep ***@***.***>
Reply-To: Bioconductor/Contributions ***@***.***>
Date: Friday, January 14, 2022 at 9:45 AM
To: Bioconductor/Contributions ***@***.***>
Cc: jfanglovestats ***@***.***>, Mention ***@***.***>
Subject: Re: [Bioconductor/Contributions] CDI (#2297)

@jfanglovestats<https://github.com/jfanglovestats> May we

[2022-01-17 14:41] jorainer commented on #2466
Dear @jianhong , thanks for your comprehensive review and the detailed assessment! I've addressed most of your points. Some things I would however like to discuss:

## R code

in all instances the `paste` calls I'm using are to format the error message in a more user-friendly way that AFAIK can not be done omitting these *within-stop* `paste` calls. `stop("Filter(s) ", paste(have_flts[!got_it], co

[2022-01-17 16:13] jorainer commented on #2466
@jianhong , I believe the errors and warnings are due some issues in `BiocCheck` - I do import methods from `ProtGenerics` as well as from `Spectra` in the `NAMESPACE` and both packages are listed in `Imports` in the DESCRIPTION, thus I do not understand where this warning comes from. And the error on Windows seems to be related to some problems of the builder on Windows (@lshep ?)

[2022-01-17 16:20] jorainer commented on #2466
Also, locally (with BiocCheck version 1.31.24, which is the latest which I can install through `BiocManager`) I don't get any of these warnings.

[2022-01-17 17:44] gtca commented on #2453
Hey @LiNk-NY, thank you for the useful feedback!

We've addressed most of the bullet points and commented on the rest. If any of these are still critical to be changed in your opinion, we're happy to discuss further and to find ways to address them.

Please let us know what you think!

## NAMESPACE

- [x] Please use lowercase for function names i.e., readH5AD, etc.
- [x] Based on the number of fun

[2022-01-17 20:34] qpmnguyen commented on #2449
Hi @jianhong,

I apologize for the late response. I want to let you know that the manuscript underlying this package is undergoing some major revisions, which would impact this implementation (and likely change a lot of it). This would delay fixing the issues mentioned above while also introducing new code that needs to be reviewed. The timeline at the moment would be around the first week of Febr

[2022-01-17 22:28] PeteHaitch commented on #2485
Thanks @nilshoffmann. I aim to do the initial review this week (mid-next week at the latest).

[2022-01-18 11:21] vjcitn commented on #2487
fix the DESCRIPTION and bump the version number please

[2022-01-18 11:28] mengchen18 commented on #2487
Thanks for update.
I have bumped the version to 0.99.1. This version will also support SummarizedExperiment. The original idea why using ExpressionSet is the columns of DFrame are too flexible to be easily visualized in shiny, particularly using datatables. But I guess supporting SummarizedExperiment is inevitable in the future. So I just added this and will keep my eyes open on problems.
I have a

[2022-01-18 11:56] vjcitn commented on #2492
Thanks for this submission.  Please read your vignette.  It should not start out with sessionInfo().  Also take steps to avoid
[code]
filing pages of vignette output.

Is there any use/reuse of Bioconductor software or data structures in this package.  You
are using data.frame to organize data from microarrays, which would be served by
SummarizedExperiment.  If you feel using Bioconductor infrastr

[2022-01-18 12:22] vjcitn commented on #2496
[code]

You have rinderpest_mini.R in a data-raw folder.  Please verify that your package can pass R CMD check, recommit to your github repo, and comment here for me to reevaluate.

[2022-01-18 12:28] vjcitn commented on #2497
Vignette has no content.  Please revise and comment here when repo is appropriately populated and passes R CMD check.

[2022-01-18 12:32] vjcitn commented on #2498
Vignette cannot build.
[code]
Please revise your repo, verify that R CMD check works on your package and comment here to notify.

[2022-01-18 12:52] #2498 closed, assigned to nobody

[2022-01-18 12:59] lshep commented on #2449
Let's close the issue for now.  When you are ready to make updates please request that this issue be reopened to push all the changes too.

[2022-01-18 12:59] vjcitn commented on #2500
Your vignette mentions Homebrew.  Are you sure that approach will work for M1 mac?  Based on net chatter I installed JAGS from source for M1 and used R compiled from source and that worked fine.  But you might want to qualify the advice for mac users, for whom those using Rosetta emulation of intel will probably do fine with homebrew; M1 users who don't use Rosetta may not.

[2022-01-18 13:14] lshep commented on #2502
Please try without .git --- `https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2`

[2022-01-18 13:51] lshep commented on #2499
@hpages  We don't allow our users to do this. Are you sure you want to set a precedence with the core team not following good practice?  You can always advertise that it is the work in progress in the README/Vignettes?

[2022-01-18 14:03] Deisiany commented on #2502
Hello,
I did try without git, and it was closed immediately as well.

Best,

Deisiany Ferreira Neres (she/her/hers)
Ph.D. Student, Biological System Engineering
Virginia Polytechnic Institute and State University
HABB1, 1230 Washington St.
Blacksburg, VA 24060
(703) 598-5749

On Tue, Jan 18, 2022 at 8:14 AM lshep ***@***.***> wrote:

[2022-01-18 14:06] lshep commented on #2502
You did not in the Repository link section.  The Link provided when you are filling out the criteria and `Repository: https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2`  .

[2022-01-18 14:09] peymanzarrineh commented on #2429
Thank you for your comments. I did not understand the documentation part.

- What do you mean by .man page? I see a folder exist as man. Also I do not understand about ?Motif2Site. This is package name and I do not have a class or a function with this name. My R knowledge is a bit limited. Perhaps if you can guide me in this direction would be a big help.
- I also do not understand the next commen

[2022-01-18 16:12] athchen commented on #2500
Thanks! This is helpful to know. I'm not sure whether the approach will work for M1 mac, so I'll add the qualification to the vignette and the README.

[2022-01-18 16:33] tanlabcode commented on #2498
@vjcitn I've made changes to the versioning and the vignette builds properly now.

[2022-01-18 16:36] lshep commented on #2498
Could you submit a new issue so the pre-checks can complete please

[2022-01-18 17:06] tanlabcode opened #2506 "(inactive) CytoTalk"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tanlabcode/CytoTalk

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-01-18 17:06] #2506 closed, assigned to nobody

[2022-01-18 17:09] tanlabcode commented on #2506
What is wrong with the `biocViews` that I have?

https://github.com/tanlabcode/CytoTalk/blob/master/DESCRIPTION#L47

[2022-01-18 18:19] PFPrzytycki commented on #2486
As far as I am aware, those packages will not be available on CRAN or Bioconductor in the immediate future. These packages are only required for a set of data loading functions. Is there an acceptable way to not include the packages in the DESCRIPTION file but require a user to install them if they use those particular functions?

[2022-01-18 18:23] hpages opened #2507 "updateObject"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/updateObject

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-01-18 18:24] hpages commented on #2499
It's ok, I just submitted again with version 0.99.0 (issue #2507).

[2022-01-18 18:30] lshep commented on #2506
It looks like there is a bug in our validation code that I will look into correcting.  In the meantime could you please move them to a single line separated by commas  ie:
[code]
Sorry for the inconvenience.

[2022-01-18 18:40] vjcitn commented on #2486
Sorry, we don't allow this.  All software required by Bioconductor packages must be present at a regulated repository; currently these are limited to CRAN and Bioconductor.  You may want to speak to the developers of those packages to see about their plans.  If you find another way to accomplish the data loading without those packages please reopen this issue with detailed reply to this comment.

[2022-01-18 18:40] #2486 closed, assigned to nobody

[2022-01-18 18:50] vjcitn commented on #2505
[code]
Please try not to depend on tcltk.  Widgets are popping up during R CMD check.  Please be sure your package passes R CMD check and comment here when committed.

[2022-01-18 18:53] tanlabcode commented on #2506
No worries, thanks for taking a look!

[2022-01-18 19:47] tanlabcode opened #2508 "(inactive) CytoTalk"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tanlabcode/CytoTalk

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-01-19 08:36] WaljaWanney commented on #2492
Hi vjcitn,

we gladly made the changes to the vignette.

We don't use SummarizedExperiments as we do not require the full functionality of the data structure, instead a plane data.frame structure is sufficient. The required structure of the input data.frame is described in the vignette. Also, the output of the clustering done by rifi is not compatible with the structure of SummarizedExperiment.

[2022-01-19 09:17] HelenaLC commented on #2429
- *.Rd* files are created in the */man* directory when the package is built; this is what I meant by "man page". In R, you can do this via, for example, `devtools::document()`. Here, they are created from the `roxygen2` documentation you have included above each function definition (lines starting with `#'`); however, in principle, these could also be written from scratch. See [here](http://contri

[2022-01-19 15:11] jianhong commented on #2466
HaHa, jo is my name initial.

About the `paste` in `message` or `stop`, I mean you can move it out of the message, for example:
`a = paste(v, collapse=', '); message('blabla', a)`

For `cat` in `show` or `print` function. I agree with that many people using `cat` to print the message. You can keep current code. FYI: https://stackoverflow.com/questions/36699272/why-is-message-a-better-choice-than-p

[2022-01-19 15:32] Deisiany opened #2509 "(inactive) https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

-

[2022-01-19 15:32] #2509 closed, assigned to nobody

[2022-01-19 15:50] Deisiany opened #2510 "(inactive) https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Deisiany/BSgenome.Gmax.EnsemblPlants.Gmv2

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

[2022-01-19 15:50] #2510 closed, assigned to nobody

[2022-01-19 15:52] Deisiany commented on #1752
Hello,
Would like to follow up on this issue.
Is everything alright with the package submission?
Or anything that I can do to help?

Thank you!

[2022-01-20 09:30] Keniajin commented on #2460
I am trying to `git fetch` from upstream but I am getting access rights error
[code]

[2022-01-20 12:15] lshep commented on #2460
Please make sure you have activated and added ssh-keys to your GitCredentials account as mentioned above:  https://git.bioconductor.org/BiocCredentials

[2022-01-20 12:30] mcjmigdal commented on #2496
AdditionalPackage: https://github.com/mcjmigdal/xcoredata

[2022-01-20 12:53] mcjmigdal commented on #2496
@vjcitn I've fixed the `'rinderpest_mini'` issue, however I want to supplement `xcore` with an `xcoredata` data package. For development I was using github LFS, but now I am trying to move to Bioconductor's ExperimentHub. I've tried to reach out to hubs@bioconductor.org, but they did not respond to me since last week. Unfortunately, further down the vignette I am using one of the files from `xcore

[2022-01-20 12:56] lshep commented on #2496
I'm sorry the email did not get through from hubs@bioconductor.org --- can you please email me directly and I can assist with the ExperimentHub  lori.shepherd@roswellpark.org

[2022-01-20 15:42] vjcitn commented on #2448
Hi any updates here?

[2022-01-20 16:02] jorainer commented on #2466
Thanks @jianhong for the quick check. I've addressed now the additional points in commit https://github.com/rformassspectrometry/CompoundDb/commit/4fc03c2327369920d6a2793ccddff1ac141c1189 . I did not find a good way to avoid the `for` loop and left it as-is.

[2022-01-20 16:13] jorainer commented on #2466
And again, I don't know where the WARNINGS and ERRORS on the single package builder come from - locally and using the github actions on main [repo](https://github.com/rformassspectrometry/CompoundDb/actions/runs/1724134677) (only problem there is that `ChemmineR` is not available for macOS, which I guess is some issue with my GHA definition).

[2022-01-20 16:37] lshep commented on #2275
@Danis102  may we expect any updates soon?  We like to see reviews move forward within 3-4 weeks.

[2022-01-20 16:56] hpages commented on #1752
Hi @Deisiany , I'll take a look at BSgenome.Gmax.EnsemblPlants.Gmv2 today.

H.

[2022-01-20 17:40] Deisiany commented on #1752
Thank you Herve.

Deisiany Ferreira Neres (she/her/hers)
Ph.D. Student, Biological System Engineering
Virginia Polytechnic Institute and State University
HABB1, 1230 Washington St.
Blacksburg, VA 24060
(703) 598-5749

On Thu, Jan 20, 2022 at 11:56 AM Hervé Pagès ***@***.***>
wrote:

[2022-01-20 17:48] lshep commented on #2399
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/florian-j-auer.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2022-01-20 17:48] #2399 closed, assigned to vjcitn

[2022-01-20 18:34] nturaga commented on #2304
The default branch in this repo is `main`. It will be copied as `master`, consider just using `master` as your default branch.

https://github.com/github/renaming

[2022-01-20 19:06] athchen commented on #2500
@lazappi I added the package to my watched tags list which should fix the Mac error, but I'm not sure how to address the Linux/Windows error. It seems like the error is related to a package dependency, but that package dependency (`PhIPData`) had no errors on the nightly build on devel. Any thoughts?

[2022-01-20 19:14] nturaga commented on #2304
# Review

Build report is mostly alright but there are some NOTE's that you can easily fix. Please follow http://contributions.bioconductor.org/r-code.html#coding-style

## DESCRIPTION

ok

## NAMESPACE

ok

## NEWS

ok

## R

- In your functions, check arguments to make sure valid arguments are
  being passed. Make the function fault-tolerant to user inputs.

## inst

## man

ok

## tests

ok

##

[2022-01-20 19:14] nturaga commented on #2304
Issue another build report, but the package looks fine for the most part.

[2022-01-20 21:31] nturaga commented on #2426
# Review

## DESCRIPTION

- Elaborate the Description to be more like a paper abstract.

- Is the email of the maintainer correct? The details of the
  maintainer in the vignette are different from that in the
  DESCRIPTION file.

	  contact:{wei-z14,w-zhang16}(at)mails.tsinghua.edu.cn

- No usage of Bioconductor infrastructure at all.

## NAMESPACE

ok

## NEWS

- include news file

## R

- use `

[2022-01-21 01:52] nturaga commented on #2467
Hi,

I'm ok accepting your package since you seem to have gone over the review from your previous submission.

Thank you for contributing.

[2022-01-21 07:53] lazappi commented on #2500
Hmmmm... I'm not quite sure either. Possibly something weird with the build system. Can you try pushing a new version to trigger the build again? Hopefully it's just a one-off thing and a new run will work.

[2022-01-21 10:11] Danis102 commented on #2275
Please have patience. It has been Christmas, New Year, Covid-restrictions and sick leaves in the lab that have prevented us to work as much as we would have wanted. But rest assured that we are working as much as we can. I hope that you will have a new update during next week.

From: lshep ***@***.***>
Sent: Thursday, January 20, 2022 5:38 PM
To: Bioconductor/Contributions ***@***.***>
Cc: Daniel

[2022-01-21 13:53] nturaga commented on #2426
We are also not sure the licensing is handled properly for AdapterRemoval (something would need to be in the package root folder); likely the same for `hisat` itself.

The way the vignette does a replication of the help text for the binaries is not very useful.  The vignette is mostly consumed by replication of help text from the utilities, it makes one wonder exactly what is being added by wrappi

[2022-01-21 14:10] Keniajin commented on #2460
![access_credentials](https://user-images.githubusercontent.com/2590865/150540603-985a8a93-f2a5-4092-8c0f-dc8201717777.PNG)

![access_credentials2](https://user-images.githubusercontent.com/2590865/150541100-ed21839b-1a33-4942-adbe-c49f2ced081b.PNG)
I have added  the keys but seems not to be going through

[2022-01-21 14:17] lshep commented on #2460
Please show the full commands you are trying with output

[2022-01-21 15:24] athchen commented on #2500
@lazappi I pushed a new version but it seems like the error is still there.

[2022-01-21 16:51] Jfortin1 opened #2511 "Rbwa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/Rbwa

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _Bioc

[2022-01-21 16:52] hpages commented on #2443
Hi @jorainer , sorry for the long delay. I'm looking at the package now.

[2022-01-22 11:54] vjcitn commented on #2497
Please respond.

[2022-01-22 12:06] vjcitn commented on #2507
asked for vignette

[2022-01-22 15:17] qxdu commented on #2426
dear Nitesh,
thanks for your kind reminder.
I am fixing it now and modifying it with reference to your suggestion. And It will be resubmitted in the next or two week.

[2022-01-22 15:47] vjcitn commented on #2508
see https://github.com/tanlabcode/CytoTalk/issues/4

[2022-01-22 22:03] zslastman commented on #2448
Hi! Sorry for the long delay. Changing jobs and address during the pandemic has taken up my time this past month. I'll be able to push again within two weeks.

[2022-01-23 22:38] ferygood commented on #2446
@HelenaLC
Dear Helena,
I have built my package on Bioconductor server with no errors and warnings last week. Could you let me know when you have time to take a look at my package?
Many thanks!

Best,
Yao-Chung

[2022-01-24 08:02] Keniajin commented on #2460
Hi @lshep below are the commands. I have updated the repository on my Github to remove the errors.

[code]

[2022-01-24 10:41] rmolbrich commented on #2497
Hello,

the vignette escaped me, I am sorry for that. I spend time writing it and had a colleague do some more testing of the functionality of the package.

- It just passed CMD build and check with the subsequent status messages.
- BiocCheckGitClone passed
- BiocCheck produces the error "Maintainer must register at the support site; visit https://support.bioconductor.org/accounts/signup/ ." which

[2022-01-24 12:24] lshep commented on #2460
Have you added ssh-keys?  Please check out the [FAQ page](http://bioconductor.org/developers/how-to/git/faq/) specifically 14-16

[2022-01-24 16:49] wheelerb opened #2512 "(inactive) SUITOR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wheelerb/SUITOR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-01-24 16:49] #2512 closed, assigned to nobody

[2022-01-24 16:55] wheelerb opened #2513 "(inactive) SUITOR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wheelerb/SUITOR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-01-24 16:55] #2513 closed, assigned to nobody

[2022-01-24 20:30] keller-mark opened #2514 "(inactive) vitessceR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/vitessce/vitessceR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-01-24 20:30] #2514 closed, assigned to nobody

[2022-01-24 21:03] Keniajin commented on #2460
Thanks @lshep, I had to add a new public key to work. Just to ‘Bump’ the package version to build again?

[2022-01-24 21:13] vjcitn commented on #2460
Yes.  Bump the version and commit and push.

[2022-01-25 11:17] HelenaLC commented on #2446
# README

- [ ] Please include Bioconductor installation instructions using `BiocManager`.

# DESCRIPTION

- [ ] We would encourage an R dependency of >= 4.2.

- [ ] We recommend `lazyData: false` as setting it to `true`
is rarely useful and could slow package installation.

- [ ] Consider adding a `URL:` field pointing to the code repo,
and a `BugReports:` field for reporting issues (e.g., to Git

[2022-01-25 13:23] lgatto commented on #2482
Hi @jaspershen - I am reviewing your packages and wanted to make sure I don't miss any. I'm aware of `massconverter` and `masstools` (issue #2481); anything else?

[2022-01-25 13:49] wheelerb opened #2515 "SUITOR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wheelerb/SUITOR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-01-25 14:21] nturaga commented on #2426
Hi,

It’s not just the vignette. There are other issues with this package as well.

The other big issue is you don’t have “any” usage of existing Bioconductor packages to make it interoperable with the larger package ecosystem we provide. Please address this concern as pointed out in the documentation here - http://contributions.bioconductor.org/description.html#depends-imports-suggests-enhances.

[2022-01-25 14:25] mcjmigdal commented on #2496
@vjcitn hi I am back. Both xcore and additional package xcoredata are passing R's check and BiocCheck on my local enviroment. I am looking forward to see how it goes on your servers. Please kindly reevaluate my submission.
Cheers MM

[2022-01-25 16:09] keller-mark opened #2516 "(inactive) vitessceR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/vitessce/vitessceR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-01-25 16:16] shanedrabing commented on #2508
I have made changes regarding that issue.

[2022-01-25 17:40] vjcitn commented on #2508
Thank you.  Very nice vignette.  Now the question arises -- why is Bioconductor infrastructure for representation of single cell experiments not used?  It seems that csv files are the main data representation.  Please look at the SingleCellExperiment package and its vignettes for approaches to unifying data on features, samples and quantifications that are central to Bioconductor package/data inte

[2022-01-25 17:53] jaspershen commented on #2482
Thanks so much, Laurent! That’s all. No other packages. Thank you!

---------------------------
Xiaotao Shen, PhD 
Postdoctoral Research Fellow
Prof. Michael Snyder’s lab<http://med.stanford.edu/snyderlab.html>
Stanford University School of Medicine
Co-chair | SCPA<https://scpa.netlify.app/>
Biomedical Innovations Building, 240 Pasteur ***@***.***,-122.1795782,17z/data=!4m5!3m4!1s0x808fa52ba51d58e

[2022-01-25 18:02] shanedrabing commented on #2508
I have not yet seen the SingleCellExperiment class, although we did work on trying to use Seurat objects with the package, those ended up being overkill. The SingleCellExperiment class does appear to be more in line with what CytoTalk requires, which we simply use a named `list` where one item is a `matrix` and another item is a `vector` of the column names (cell types).

CytoTalk allows inputs be

[2022-01-25 18:29] vjcitn commented on #2508
That's good.  I'd be happy to give some more detailed recommendations but
[code]
with sessionInfo
[code]

[2022-01-25 18:30] vjcitn commented on #2508
are you testing on R-devel?

[2022-01-25 18:31] vjcitn commented on #2508
I see I have a lot of out-of-date packages so hold off .... unless that looks like a genuine error ....

[2022-01-25 18:54] shanedrabing commented on #2508
Not sure I know what this means. I'll try to run that example on my end.

[2022-01-25 19:10] shanedrabing commented on #2508
Looks like a real error! I'll try patching it.

Edit: Uploaded a new test data sample, the example is working on my end now.

[2022-01-25 19:34] hpages commented on #2507
just added one (in version 0.99.1)

[2022-01-25 19:38] LiNk-NY commented on #2314
Hi Nikolaos, @nikopech
Please respond to the review line by line to continue the process.
Thank you for your submission.
Best,
Marcel

[2022-01-26 00:17] nturaga commented on #2426
There is also a `Rhisat2` package in Bioconductor. https://bioconductor.org/packages/release/bioc/html/Rhisat2.html

Please note the differences as well between what you are submitting and `Rhisat2`.

[2022-01-26 11:40] hpages commented on #2443
Ok, I finally managed to look at **MetaboAnnotation**. Sorry again for the delay.

Package looks good. It's carefully crafted and it's clear that a lot of effort went into it. Some minor cosmetic details only:

1. Rmd vignette contains:
[code]
    Should be:
[code]

2. Using direct slot access in user-visible code (e.g. `mo@matches` in `?Matched`) is strongly discouraged. You have a `matches()` ac

[2022-01-26 13:29] npechl commented on #2314
Hi Marcel, @LiNk-NY

Thank you for your reply! Below I try to address each one of the issues you had raised.

* For the moment we have not changed any functions' names, but we will definitely consider using verbs for naming the functions.

* The timings have been removed.
* We have not changed anything yet regarding the `Installation` instructions. Once the package is accepted we will update the i

[2022-01-26 14:13] jorainer commented on #2443
Hi Herve @hpages ! Thanks for the review! I've addressed all your comments (see https://github.com/rformassspectrometry/MetaboAnnotation/commit/1651b163bd92e58b16023a8569d99def95cdc36d). Regarding point 3, no, haven't checked the `Hits` class, but that's a good suggestion. I'll look into it.

We've got now WARNINGS that I however don't really understand, but maybe you can help here: we're getting:

[2022-01-26 14:28] seriph78 commented on #2151
Sorry, may be I missed something I don't see COTAN anywhere in Bioconductor website. Do I need to do something?

[2022-01-26 14:29] lshep commented on #2151
I will be running the processing script for accepted packages this afternoon. Once that occurs, it should appear in devel within 24-48 hours.

[2022-01-26 15:55] hpages commented on #2443
I don't understand this warning either. Maybe @LiNk-NY or @lshep can help? Thx

[2022-01-26 16:26] lshep commented on #2467
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/kullrich.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-01-26 16:26] #2467 closed, assigned to nturaga

[2022-01-26 16:26] lshep commented on #2151
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/seriph78.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-01-26 16:26] #2151 closed

[2022-01-26 19:14] LiNk-NY commented on #2443
Hi Johannes, @jorainer
Thanks for pointing this out. It looks like a bug in `BiocCheck`. It should be fixed in `1.31.29`.
Best,
Marcel

[2022-01-27 06:57] jorainer commented on #2466
The WARNING seems to be indeed a bug in `BiocCheck`: https://github.com/Bioconductor/Contributions/issues/2443#issuecomment-1022511205

[2022-01-27 09:46] hpages commented on #2443
Thanks Marcel.

Package is good to go.

H.

[2022-01-27 11:12] csoneson commented on #2426
👋🏻 `Rhisat2` developer here. I don't think this is a duplicate (since the underlying `hisat` and `hisat2` are different software packages), but note that the developers of `hisat` explicitly [recommend](http://ccb.jhu.edu/software/hisat/index.shtml) that users switch to `hisat2`.

The other thing I was wondering about is the inclusion of `adapterremoval`. This seems to be already wrapped in the `R

[2022-01-27 14:42] nturaga commented on #2426
Thank you @csoneson for your valuable comments on this contribution.

I would appreciate it if @Carla-Radames would answer the questions posed here.

[2022-01-28 00:49] PeteHaitch commented on #2495
Hi @lujunyan1118,

Thank you for your submission to Bioconductor and thank you making the changes to get the 'OK' label added by the bot.
I will provide an initial review within 2-3 weeks (I have another package to review first).
In the meantime, please try to address the `NOTE`s in the [build report](http://bioconductor.org/spb_reports/DepInfeR_buildreport_20220125120831.html), as this will likel

[2022-01-28 05:00] PeteHaitch commented on #2485
Hi @nilshoffmann,

I see that **rgoslin** provides R bindings to the 'Goslin grammars'  and that there are analogous packages for other programming languages.
I started to review **rgoslin**, but before I go too far I'd like to clarify why you chose to submit to Bioconductor rather than, say, [CRAN](https://cran.r-project.org/)?
In asking this, I don't mean to discourage the submission of **rgosli

[2022-01-28 08:50] nilshoffmann commented on #2485
Hi @PeteHaitch,

thanks for the review and feedback on rgoslin. Proper lipid naming and reporting is still an unsolved problem. Goslin and rgoslin for R, aim at simplifying the process of parsing different shorthand nomenclatures that are currently in active use and aims to standardize lipid naming by providing a normlized shorthand lipid name, following the latest recommendations of the lipidomic

[2022-01-28 10:25] lazappi commented on #2500
Hi @athchen

I'm still not quite sure what is happening with the build but I have reviewed the package anyway. Hopefully while you are addressing my comments it will sort itself out. I think this is a pretty high-quality package so I don't think you will need to make too many changes.

Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the co

[2022-01-28 12:15] lshep commented on #2500
Please make sure you are using a devel version of the package dependencies. I'm not sure why it doesn't appear on the other two builders but in the current checkout of git.bioconductor.org version of PhIPData that you are using there is no file `defaults.rda`

[code]
Which is the cause of the error.

[2022-01-28 12:39] vjcitn commented on #2468
Please look at the output of R CMD install ... data.tree is telling you to use Node$attributes instead of Node$fields ... can you do this?

[2022-01-28 12:44] vjcitn commented on #2440
I will accept the package.  Please consider using BiocStyle::html_document() for your vignette formatting.

[2022-01-28 12:47] vjcitn commented on #2427
Please look at
http://bioconductor.org/spb_reports/JASPAR2022_buildreport_20220110102209.html
In your .onLoad you would need utils::read.csv etc.  You may need more imports for cache operation.

[2022-01-28 14:05] hpages commented on #2222
Dear @zhaolianlu, do you intend to follow up with this submission? Thanks. H.

[2022-01-28 15:17] LiNk-NY commented on #2453
Hi Danila, @gtca

In the example for ReadH5AD, the original object is a SummarizedExperiment
but when it's read in, it becomes a SingleCellExperiment. Any user would
expect it to be the same class.

If you are writing the file there is a way because you have control of the data and metadata.
You can see some save and load examples in `HDF5Array/R/saveHDF5SummarizedExperiment.R`.

For this, you can

[2022-01-28 16:48] LiNk-NY commented on #2314
Hi Nikolas, @nikopech

Thank you for your response and making those changes.

I would recommend:
* remove the `\dontrun{}` from the examples and
provide a small example that queries the API and caches the result.

* Consider renaming `list_gff3` to `is_gff3` for identification of gff3 files.
* Please make these functions more robust, currently this returns `TRUE`
even though the file does not exis

[2022-01-28 18:01] hpages commented on #1752
Hi @Deisiany ,
I'm taking a look at the package. Please ignore the above message from the bioc-issue-bot, there's no need to trigger a new build (the build would fail anyways).
H.

[2022-01-28 18:31] hpages commented on #1752
Hmm.. I'm not sure it's a good idea to use this kind of names for the chromosomes:
[code]
If I create a TxDb object for this assembly I get:
[code]
So I would suggest that you get rid of the `Glycine_max.Glycine_max_v2.1.dna.chromosome.` prefix.

Also the `genome` column should contain the name of the assembly i.e. `Gmv2` instead of `v2.1`. This is something that you used to be able to specify via

[2022-01-28 21:50] LiNk-NY commented on #2488
Hi Marc, @MarcElosua

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# SPOTlight #2488

## DESCRIPTION

* Looks good.

## NAMESPACE

* Functions that start with a period are not meant to be exported. Please
rename the functions or unexport.

## vignettes

* Images should be in the vignettes folder unless they're used by R in some
other way (re: `schematic.p

[2022-01-30 16:25] LucaAnholt commented on #2505
Hi, apologies about that! I think it should be passing R CMD now, however, on my windows machine I get the the warning: "qpdf is needed for checks on size reduction of pdfs". I'm not entirely sure what's the best step to troubleshoot this warning, as some what I've read suggests to ignore this problem? https://community.rstudio.com/t/qpdf-is-needed-error-package/75485. Thanks!

[2022-01-30 18:49] jianhong commented on #2294
# Package 'epimutacions' Review
The package passed check and build. It is in pretty good shape. However there are several things need to be fixed.

## The NAMESPACE file
- [ ] packages imported in DESCRIPTION but not in NAMESPACE.
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 11 import(CompQuadForm)
	* in line 16 import(stats)
- [ ] Try to remove `sug

[2022-01-31 14:00] federicomarini commented on #2465
I might be still familiar with this package, I recall a very nice presentation by @elagralinska!
Would it be beneficial to pack the python&co dependencies into a basilisk framework to simplify installation/ensure everything works?

[2022-01-31 14:36] gtca commented on #2453
Thanks, @LiNk-NY!

### Preserving the class of the original object

This has now been implemented using HDF5 attributes so that the file format stays compliant with the rest of the ecosystem.
Currently `SummarizedExperiment` and `SingleCellExperiment` object classes are recovered accordingly, and it defaults to `SingleCellExperiment` if no information is in the file, e.g. if the file was written b

[2022-02-01 01:07] Deisiany commented on #1752
Hi Hervé,
I am working on it. However it seems a lot of things have changed and I
will probably need to work more on it.
For instance, now I am not being able to read my package because it sees to
no accept anything else that "is not a registered NCBI assembly or UCSC
genome"
and as you probably know, that is not listed in either
"registered_NCBI_assemblies()
or registered_UCSC_genomes() to list t

[2022-02-01 01:16] PeteHaitch commented on #2485
Hi @nilshoffmann,

Thanks for the above response.
Overall, the package is in good shape.
For acceptance into Bioconductor, I have a few **Required** points, as well as some **Recommended** points, that I would ask you to first please address.
I've also asked someone from the core Bioconductor team to chime in on a couple of points (tagging @vjcitn).

Given that you are managing a number of languag

[2022-02-01 13:21] vjcitn commented on #2387
Has there been any more progress on a publication on this algorithm?  I wonder about its relationship to http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S0120-56092015000200013 .  The vignette has a number of `noquote(all.friends)` to dump a list of arrays ... a print method for S3 or a show method for S4 object-oriented methodology would make this more readable and understandable.

Her

[2022-02-01 13:21] vjcitn commented on #2387
The "p < .01" feature of the print method is just an example.  You can elaborate this in various ways.

[2022-02-01 13:24] rcastelo opened #2517 "UCSCRepeatMasker"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/functionalgenomics/UCSCRepeatMasker

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x]

[2022-02-01 13:25] lshep commented on #2517
I realize this is an exception because of how we do annotation packages

[2022-02-01 14:14] vjcitn commented on #2234
I am glad this is running cleanly now.  The enterotyping vignette has no narrative text.  Please explain what is going on for the reader.

[2022-02-01 17:34] shanedrabing commented on #2508
@vjcitn Any updates on what to do now?

[2022-02-01 18:20] Danis102 commented on #2275
Dear reviewer,
First we like thank you for the valuable comment. We have now made another bump, upload upstream of master, and tried to commit all suggestions and comments as far as we could.

Devtools::check() now runs without neither Errors, Warnings or Notes on our systems

BiocCheck::BiocCheck() runs without Errors and Warnings, but still report a few Notes related suggestions to the code. The

[2022-02-01 18:55] vjcitn commented on #2508
Please bump the version so the single package builder will test it.  Be sure to use R 4.2 and BiocManager::valid() true because I am still seeing errors.  Bump the version whenever you make any change.  0.99.1, 2, ...

[2022-02-01 19:29] shanedrabing commented on #2508
Okay I bumped the version in the DESCRIPTION file, ran `BiocManager::valid` and everything is up to date on my end.

[2022-02-01 23:00] VingronLab commented on #2465
Thank you, @federicomarini! Yes, we hope so. We are currently working on this and we plan to use the basilisk framework instead of reticulate. Thanks a lot for the suggestion.

[2022-02-02 00:37] PeteHaitch commented on #2485
I've checked with the BioC core team and there's no need to remove **pkgdown**.

You probably no longer need **pkgKitten** in `Suggests` in the `DESCRIPTION`.
As far as I'm aware, this is only needed/used to setup the initial structure of an R package and it's then no longer required.

[2022-02-02 10:16] federicomarini commented on #2465
Since I had to go a similar way for another package, I found it very useful to check how that was done in the packages that import basilisk itself, on top of the basilisk vignette.
HTH 😉
Looking forward to seeing this in the Bioc ecosystem!

[2022-02-02 10:51] dongminjung commented on #2304
Hi @nturaga

I appreciate you taking the time to review the package.

- The default branch is changed to `master`.
- Some NOTEs that can be easily fixed are removed.
    - Update R version dependency from 3.5.0 to 4.2.0.
    - Avoid using '=' for assignment and use '<-' instead
- For `fit_ART`, `gen_ART`, `fit_VAE`, `gen_VAE`, `fit_GAN` and `gen_GAN`, arguments are checked for validity. Furthermor

[2022-02-02 14:52] HelenaLC commented on #2488
Dear Marcel, would you be able to advise us regarding:
[code]
I can see all mentioned packages/functions in the [NAMESPACE](https://github.com/MarcElosua/SPOTlight/blob/main/NAMESPACE) as well as [DESCRIPTION](https://github.com/MarcElosua/SPOTlight/blob/main/DESCRIPTION), and we are not sure how recent changes could have caused these warnings. Any hints would be greatly appreciated!

As a side no

[2022-02-02 15:34] lshep commented on #2466
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jorainer.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-02-02 15:34] #2466 closed, assigned to jianhong

[2022-02-02 15:34] lshep commented on #2443
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jorainer.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-02-02 15:34] #2443 closed, assigned to hpages

[2022-02-02 15:34] lshep commented on #2440
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pouryany.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-02-02 15:34] #2440 closed, assigned to vjcitn

[2022-02-02 16:19] jorainer opened #2518 "MsBackendMsp"
Short info: `MsBackendMsp` adds support for files in MSP format to the `Spectra` Bioconductor package and hence allows to import and export mass spectrometry data from (to) such files.

Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/RforMassSpectrometry/MsBackendMsp

Confirm the following by editing e

[2022-02-02 18:00] LiNk-NY commented on #2488
Hi Helena, @HelenaLC

Thanks for pointing this out. That was a bug in `BiocCheck`. It has been fixed in version `1.31.31`.

As a reminder, please see https://contributions.bioconductor.org/r-code.html?q=methods#methods-development
WRT creating methods for external classes.

* AFAICT `NMF` is not a class and perhaps `NMFfit` should be the class in the method definition.

I will have to take a close

[2022-02-03 14:55] mcjmigdal commented on #2496
Hi @vjcitn What's the status? Cheers mm

[2022-02-03 21:16] mass-a opened #2519 "(inactive) UCell"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/carmonalab/UCell

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-02-03 21:16] #2519 closed, assigned to nobody

[2022-02-03 22:02] mass-a opened #2520 "UCell"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/carmonalab/UCell

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-02-03 22:14] a-mahdipour commented on #2383
Any idea how can I fix this problem please?
I am getting this error on Linux:
[code]

[2022-02-04 08:44] lazappi commented on #2383
Most likely one of the sides of `:` is an empty vector, something like:

[code]

Other things I noticed which should be fixed:

* Use `seq_len()/seq_along()` instead of `:` (could also help avoid this issue)
* There are lots of unnecessary uses of `c()` which makes the code messy and hard to read,  for example `1:10` already produces a vector so no need to wrap it in `c()`

Hope that helps! I will

[2022-02-04 11:21] npechl commented on #2314
Hello Marcel, @LiNk-NY

We have applied some changes in order to take into incsideration your last reccomendations:

This is now removed. We have also changed the unit testing part in order to include the situation for which the API does not provide the necessary information.

The name of the function has been changed, and its functionality has become more robust.

Thank you for your time!

Regard

[2022-02-04 11:47] ococrook opened #2521 "bandle"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ococrook/bandle

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-02-04 12:42] lshep commented on #2212
Please request we reopen this issue when you are ready with updates, changes, and to continue with the review process.

[2022-02-04 12:44] lshep commented on #2297
Please request this issue be reopened when you are ready with changes and to continue with the review process.

[2022-02-04 12:46] lshep commented on #2434
@wolski do you intend to follow up on submission.  We like to see updates and changes within 3-4 weeks?

[2022-02-04 12:47] lshep commented on #2442
@tsvali  Please fix ERROR, Warnings, and NOTES before kayla will do an in-depth review.  thank you.

[2022-02-04 12:50] lshep commented on #2476
@jaehyunjoo I apologize for the delay. I will have a review for you within the next week.

[2022-02-04 12:53] lshep commented on #2222
@zhaolianlu  When you are ready with changes and to continue with the review process please request that this issue be reopened.

[2022-02-04 13:36] Danis102 commented on #2275
Dear Bioconductor reviewer,

We consistently recieve a Timeout error on the Mac server when making a  new push. All other platforms go through without a problem. In the last push I even removed the two most time consuming test files, saving about 10 min in processing time, and still Mac report timeout error. Please indicate if you are having problems with the Mac server, or give me more specific i

[2022-02-04 13:47] lshep commented on #2517
@rcastelo   When I am trying to build and check on my local computer I am having trouble with the download concerning the SSL certificate of where you are hosting the data.

[code]

I tested several other resources hosted on the Bioconductor Azure server, direct access from ensembl,  as well as others and don't run into this error so I can only assume it is an issue with https://functionalgenomics

[2022-02-04 14:22] jaehyunjoo commented on #2476
@lshep  No problem! Please take your time. I sincerely appreciate your time and help.

[2022-02-04 14:30] vjcitn commented on #2492
Thank you for your note.  "Needs interop" means what it says.  Your vignette has IV. rifi_stats with a long dump of a data.frame that should not be happening in a vignette.  A compact print or show method should be used to present this information.

Apropos SummarizedExperiment, you may not require the full functionality of the data structure, but Bioconductor users are accustomed to its employmen

[2022-02-04 16:13] athchen commented on #2500
Hi @lazappi and @lshep,

Thanks for the review and feedback. `defaults.rda` should not exist the first time the user installs `PhIPData`, but is created when they first load it. I wondered if it was perhaps the use of `paste0()` instead of `file.path()` but when I made those changes to `PhIPData` and pushed it to Bioconductor, `beer` still fails here. I'm not sure how to fix it since `PhIPData` 1.

[2022-02-04 17:06] lshep commented on #2500
I don't think you should ever be trying to write to a packages install location after the fact. Users are not necessarily the same account as the install account and I am guessing there is or could be a permission error.  I would recommend creating/using default cache locations for the package for data that is created on load.  See [BiocFileCache.](http://bioconductor.org/packages/release/bioc/htm

[2022-02-04 17:20] athchen commented on #2500
@lshep Thanks! I didn't think about it that way, and I think may explain the error we see here. I'll work on creating and using default cache locations in `PhIPData`.

When I push a version bump for beer here, would it use the current version that's passed the nightly builds (1.3.0) or the version of the package on git.bioconductor.org?

[2022-02-04 17:25] lshep commented on #2500
it uses the nightly builder version -- it has to have propagated so as long as the build report is showing the updated version number for [PhIPData](http://bioconductor.org/checkResults/devel/bioc-LATEST/PhIPData/) , it will grab that version

[2022-02-04 17:32] mtmorgan opened #2522 "cellxgenedp"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mtmorgan/cellxgenedp

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the

[2022-02-04 18:22] Deisiany commented on #1752
Hi @hpages,
I am trying to switch too UCSI instead to get the package out, however neither NCBI or UCSI seems to have Glycine max registered.

I have seen other issues that had the same problem and your response to it was register sequences.
could you please do the same for Glycine max for me?

Thank you!

[2022-02-04 18:22] rcastelo commented on #2517
You're right, this was working smoothly on my Linux workstation, where the package and the vignette (which includes an actual example of downloading one such resources) build without errors and warning, but I can get also that error from my laptop (macOS 10.15.7) connected to the same network as my workstation. It seems that our IT department renewed the HTTPS certificate of our server on January

[2022-02-05 09:05] wolski commented on #2434
@lshep There is, as of today, only comment from one reviewer. Isn't there a second review pending?

[2022-02-05 11:41] vjcitn commented on #2434
Hi @wolski .... I don't know if there is a second review pending -- the package is still in an error state so it may get a lower priority than packages that are getting revised to an "OK" state.  Several bits of advice were given in the previous comment and your responses are of interest.  I noticed in the PeptideAnnotation... vignette there is a "TODO" section indicative of more work planned at y

[2022-02-06 10:55] vjcitn commented on #2505
This is looking better and can begin review.  Please run BiocCheck in your package root folder.  You will see
[code]
and more!  If you address these issues early on it will accelerate the review process.

[2022-02-06 10:55] vjcitn commented on #2505
I'd also ask whether you could interoperate with the gwascat package and BiocParallel.

[2022-02-06 11:28] vjcitn commented on #2515
The vignette includes evaluated installation commands.  These must be removed or disabled.  There is a reference to a github repo.  Installation commands related to the github repo must be disabled in the vignette.  The vignette is taking a very long time to compute.  Can you speed it up either by changing convergence parameters or starting from a "warmed" state?

[2022-02-06 16:50] vjcitn commented on #2468
Please add sessionInfo() at the end of vignette.

[2022-02-06 20:14] ferygood commented on #2446
The instruction using `BiocManager::install()` is added.

Currently, the latest version of R is 4.1.2 (Bird Hippie). I have checked the version and set it as R( >= 4.1) based on the guideline only keeping the first two digits.

I have changed lazyData from true to `false`.

The URLs of code repo and BugReports are added.

Sorry for the inconvenience of typos and grammar mistakes. I have added more

[2022-02-07 08:35] mana-W commented on #2468
Hi thank you for your advice, I have added the session info in the vignette.

[2022-02-07 09:58] tsvali commented on #2442
Thank you for the information. I will look into these issues. Do all the NOTES regarding coding practices also have to be corrected for? This might require substantial rethinking & coding of the proposed package and can take some time.

[2022-02-07 10:24] rcastelo commented on #2517
Hi @lshep the problem has been sorted out. Our IT department changed the certificate authority in the last renewal of our server's SSL certificate on January, and while in principle we had updated it, the intermediate CA in our server was still pointing out to the old authority. Now you should be able to build and check in your local computer without any issue, or at least, without that specific i

[2022-02-07 14:15] wheelerb commented on #2515
OK, I will make some changes to the vignette.

[2022-02-07 15:29] lshep commented on #2517
Manually Added.  This had to be processed differently because it was an annotation package.  It was added to manifest and on git and should propagate by the end of the week.  If it does not please let us know and we will look into the issue.

[2022-02-07 15:29] #2517 closed, assigned to lshep

[2022-02-07 15:58] LiNk-NY commented on #2453
Sounds good.

Yes, avoiding writing methods for classes that are external to the package is, in general, cleaner code. If, for example, `SummarizedExperiment` provided a `writeH5MU` method along side yours, how would users know which one is the appropriate one? Collision is less of a risk if you create a plain function similar to what `HDF5Array` has implemented.

[2022-02-07 16:05] LiNk-NY commented on #2314
Hi Nikolas, @nikopech
Thank you for making those changes.
Your package has been accepted.
Best,
Marcel

[2022-02-07 22:03] athchen commented on #2500
Hi @lazappi and @lshep,

Thank you so much for the help! I think the switch to `BiocFileCache` fixed the `PhIPData` dependency problem. I still get an error on windows, but I don't quite see/understand the error message. It looks like the execution just stopped in BiocCheck but I can't find why. Not sure if I'm missing something or just not seeing it here.

Also on Linux it says the build skipped

[2022-02-08 07:37] lazappi commented on #2500
Hmmm...It does just seem to have stopped. Not sure exactly what is going on there but it seems to be something in **{BiocCheck}** rather than the main checks.

I will have a look at your responses to my first round of comments and then we can see if this is still happening.

[2022-02-08 09:51] lyoussar commented on #2492
Dear Vince,

thank you for your comments. We adjusted the vignette as required. All data.frames are now shortened to an adequate size.
We are adjusting our data to SummarizedExperiment according to your suggestion. The updated package will be pushed as soon as possible.

[2022-02-08 11:25] npechl commented on #2314
Hello Marcel, @LiNk-NY

Thank you for reviewing lineagespot package.

Is there anything that should be done by our side regarding the process following acceptance?

Thank you for your time!

Regards,
Nikolas

[2022-02-08 12:21] vjcitn commented on #2496
devtools::load_all() should not be at the top of the vignette.  it makes it hard for me to do the preliminary evaluation.  please take it out.

[2022-02-08 12:30] vjcitn commented on #2482
The vignettes of massconverter are seemingly designed for pkgdown.  I find it difficult to navigate them through help.start().  It is specifically unclear whether the user HAS TO use docker with this package.  Please write an overview.Rmd that explains concisely what the package does and what the user must do to use the package.  Note that the vast majority of packages in Bioconductor do not requi

[2022-02-08 12:33] vjcitn commented on #2487
I guess you changed the name of the package without changing the repo.  We'll have to discuss this and get back to you.  @lshep

[2022-02-08 12:39] lshep commented on #2487
The name of the repo and the name in the DESCRIPTION have to match for the package to work correctly on our system.  If you are moving forward with omicsViewer, please change all references in the package from ExpressionSetViewer to omicsViewer including the github repo name and resubmit as a new issues.

[2022-02-08 13:14] vjcitn commented on #2477
You do not have DESeq2 or GEOquery in Suggests of DESCRIPTION.  All packages employed in the vignette or tests or examples must be noted in the DESCRIPTION.

[2022-02-08 13:16] lshep commented on #2477
Also:   Please also put an explicit `eval=FALSE` for the installation code section of the vignette.  `devtools::install_github` should be updated to `BiocManager::install`.  The vignette name basic_usage is also very generic and could introduce conflicts with other packages.  We highly recommend using the name of the package as the vignette name.

[2022-02-08 13:24] mengchen18 opened #2523 "omicsViewer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mengchen18/omicsViewer

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-02-08 13:26] mengchen18 commented on #2487
@lshep thanks. I have submitted a new issue.

[2022-02-08 13:26] #2487 closed, assigned to nobody

[2022-02-08 13:29] lshep commented on #2468
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mana-W.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-02-08 13:29] #2468 closed, assigned to vjcitn

[2022-02-08 13:29] lshep commented on #2314
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nikopech.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-02-08 13:29] #2314 closed, assigned to LiNk-NY

[2022-02-08 13:32] vjcitn commented on #2516
I am sorry about the delay in reviewing this package.  The pkgdown orientation leads to a help.start() page that is difficult to navigate.  We need to think a little more about the client-side rendering and will get back to you soon.

[2022-02-08 13:38] vjcitn commented on #2508
We will initiate review.  Did you introduce SingleCellExperiment?  I do not see it in DESCRIPTION.   You will probably be asked to do this.

[2022-02-08 13:40] lshep commented on #2523
remember to change the BugReports and URL in the description to point to the newly named repo.

[2022-02-08 13:43] mcjmigdal commented on #2496
@vjcitn should be fixed, let me know if I should bump package version

[2022-02-08 13:44] keller-mark commented on #2516
Thank you. I have been trying to debug the pkgdown issue as well. It seems to only happen locally since the github action can successfully build and deploy the site.

The error seems to occur inside the [`callr::r_safe`](https://github.com/r-lib/pkgdown/blob/e72fc30f333dc4f50f3f9d1f274fc29d67e34974/R/rmarkdown.R#L28) function so the underlying error is not yet clear to me.

[2022-02-08 13:49] keller-mark commented on #2516
I am not sure, but the issue may be related to the [merge_js](https://github.com/vitessce/vitessceR/blob/52b470965730c8fb3d37310c9f57e4db6f20ec8e/R/helpers.R#L119) function in the package which I added to get around the 5MB Bioconductor file size limit (the [JS code](https://github.com/vitessce/vitessceR/tree/52b4709/inst/htmlwidgets/dist) for the htmlwidget is more than 5MB). Do you recommend a d

[2022-02-08 14:12] lshep commented on #2496
bare with us for a few minutes.  Since you submitted the software first in order to assign the reviewer I have to process that package first.  The build for that will initially fail because the data package is missing but once the issue is active I can process the data package next -- and then rerun the software once manually for you -- after that both packages will be linked to this issue and you

[2022-02-08 14:20] mengchen18 commented on #2523
Thanks. The links are fixed now.

[2022-02-08 14:55] wheelerb commented on #2515
I have changed the vignette to start from a warmed state, so it now runs much faster.

[2022-02-08 15:00] lshep commented on #2496
I'm rerunning the software package now with the data package available.  You should be able to make changes to both packages and get new builds with version bumps committed to git.bioconductor.org.

[2022-02-08 15:33] mcjmigdal commented on #2496
@lshep thank you!

[2022-02-08 15:52] noriakis commented on #2477
@vjcitn Thank you very much for your reply. I apologize for not putting these packages to DESCRIPTION. I added two packages in Suggests.

@lshep Thank you very much for checking the package. I put `eval=FALSE` for the installation code section, and replaced `devtools::install_github` with `BiocManager::install`. Additionally, I changed the vignette name to "CBNplot_basic_usage.Rmd".

[2022-02-08 16:06] LiNk-NY commented on #2314
Hi Nikolas, @nikopech

I would recommend being familiar with this section of our guidelines:
https://contributions.bioconductor.org/git-version-control.html

These always come in handy whenever making improvements to the package.
Best regards,
Marcel

[2022-02-08 16:07] HelenaLC commented on #2446
Looking good. Thanks for all this! Only a few comments left (I think) that could (minor) or should (major) be addressed (again, most of these are suggestions for improvements / better coding practices):

**minor:**

- [ ] Please add an example in `appTEKRABber`
demonstrating how to launch the app.

- [ ] The example of `DECorrInputs.R` is not runnable due to
`hmTE` being undefined; should set `hmT

[2022-02-08 16:11] HelenaLC commented on #2429
Hey there. Can we expect any updates on this soon?

[2022-02-08 16:21] mass-a commented on #2520
I pushed an update to the origin repo aimed at improving interoperability (v1.99.1).

UCell signature scoring can now take directly as input a SingleCellExperiment object, and returns results in a SingleCellExperiment structure as well. This functionality was previously available, but unnecessarily stored in a separate function.

Cheers!

[2022-02-08 16:42] rmolbrich commented on #2497
Hi,

I would like to request some help at this point. I fixed the errors that produced the timeout, but the issue of not being recognized as registered at the support forum remains. I have been registered for three months now. I attached a screenshot of my profile at support.bioconductor.org. I also included the name of my package in the watched tags. It is not obvious to me what else I am suppose

[2022-02-08 16:45] lshep commented on #2497
I will look into the support site error for you.  @HelenaLC  ignore this ERROR for now and proceed with review; I will post when I know more.

[2022-02-08 17:25] LiNk-NY commented on #2507
Hi Hervé, @hpages

Thanks for your submission.
Please see the review below.

Best regards,
Marcel

---

# updateObject #2507

Looks good overall. The package presents two facets. User-level and power-user
serialized object updates. The package should emphasize the user-level aspect
which is the typical use-case. I am not a big fan of the `git` commands but I can
see that they are necessary for the

[2022-02-09 00:03] peymanzarrineh commented on #2429
Hello. I have update README, DESCRIPTION, Vignettes, and documentation as you have suggested. I hope I have performed them correctly.  I have fulfilled some of the styling suggestions. I have considered and fixed most of the notes. However, I did not break R code to smaller ones, make shorter functions and use unit-test. I afraid I cannot change the architecture of my package at this stage.

[2022-02-09 02:58] keita-iida opened #2524 "ASURAT"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/keita-iida/ASURAT

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-02-09 06:34] HelenaLC commented on #2497
Here's a first round of comments to consider... Note that many of these are suggestions and not strictly required (e.g., "consider..."). Please comment back here with what has been addressed or any comments regarding any needed clarification or questions you might have. Cheers!

# README

- [ ] Please include Bioconductor installation instructions using `BiocManager`.

# NEWS

- [ ] Missing; consi

[2022-02-09 06:42] HelenaLC commented on #2429
Regarding this point from above, could you point me to where the data has been documented? I can currently not find it.

how the example data was generated (i.e., in a help page)

[2022-02-09 08:38] lazappi commented on #2500
Thanks for addressing my comments! I'm happy with what you have done except for a couple of minor things:

* Replacing **{future}** with **{BiocParallel}** looks good
	* I would suggest setting `BiocParallel::SerialParam()` as the default for your `bp.param` argument. That way things will just run for anyone who is happy to use a single core but they can set something else if they want to do thing

[2022-02-09 11:34] peymanzarrineh commented on #2429
I wrote one line in Motif2Site.Rd about the examples. Should I make a separate file about examples? and if yes what kind of file should I generate and where to keep the file?

[2022-02-09 11:37] HelenaLC commented on #2429
Yes, this needs to be more comprehensive and ideally straight-forward to find for the user, e.g., via `?motif2site::data`. Please see my comment above where I explained how this could be done.

[2022-02-09 16:22] ococrook commented on #2521
@lazappi The error relates so being on the mailing list but I am subscribed - how long does that take to go through so I dont keep sending in builds that are going to fail?

[2022-02-09 16:26] lshep commented on #2521
@ococrook Did you confirm subscription?  Normally there is a confirmation step that sometimes ends up in peoples spam folders?

[2022-02-09 16:29] ococrook commented on #2521
I thought so, I'll try again

[2022-02-09 16:36] lshep commented on #2521
I do see you registered @lazappi  if this ERROR continues please ignore.  If it continues I will look further into it.

[2022-02-09 16:38] ococrook commented on #2521
I triggered another build, so we can see if ERRORs again

[2022-02-09 17:15] athchen commented on #2500
@lazappi No problem! Thanks for taking another look at the package. Also hooray! looks like it passed this time.

I updated the reference to **{future}** in the `README` and checked that the order of arguments is those without defaults go first and those with defaults follows.

I didn't change the default `bp.param` to `BiocParallel::SerialParam()` since it seems more predictable to me that the de

[2022-02-09 20:16] peymanzarrineh commented on #2429
Thank you for your guidance. I made an Rd file, so now you can check it via ?motif2site::data

[2022-02-09 20:55] peymanzarrineh commented on #2429
It seems the examples that I have put in data file made a time out warning. I remove those examples.

[2022-02-10 07:42] HelenaLC commented on #2429
Thanks, looks good! Lastly, are lines 1-3 in the vignette intentionally? You are currently overwriting the `BiocStyle` theme:

\```{r style, echo = FALSE, results = 'asis'}
  BiocStyle::markdown()
\```

...I'll accept the package once that's resolved.

For the future, please do re-consider i) having a look at our coding style guidelines [here](https://bioconductor.org/developers/how-to/coding-styl

[2022-02-10 15:10] peymanzarrineh commented on #2429
Thank you. Yes I put those line intentionally. If I remove them, the vignette would not be built. I double check my code with your muscat package example. I don't see the difference in style but I get this error:

Error in if (is.na(options$out.width.px)) options$out.width.px = options$fig.width " argument is of length zero
Calls: <Anonymous> ... process_group.block -> call_block -> as.strict_list

[2022-02-10 15:46] HelenaLC commented on #2429
Hm, I built the vignette myself removing those lines and it worked fine. Did you make sure to remove any blank lines proceeding the html header? I.e., there should be no additional lines before the --- If done right, RStudio should do some highlighting inside the header; see here:
<img width="419" alt="image" src="https://user-images.githubusercontent.com/14542264/153443494-679bc847-19e9-48dc-8675

[2022-02-10 15:50] peymanzarrineh commented on #2429
Yes I have removed them correctly and I could not build it. Btw, Do you see the references correctly? Since I moved things to BiocStyle, it was not either built or built properly

[2022-02-10 16:03] rmolbrich commented on #2497
Thank you, I am working on it.

[2022-02-10 16:09] HelenaLC commented on #2429
Yes, I do see the references correctly I believe:
<img width="751" alt="image" src="https://user-images.githubusercontent.com/14542264/153447654-11a93aa2-667d-4e8a-a5c0-7eac650024a0.png">

On another note, the abstract should be placed inside (not after) the html header; see [here](https://github.com/HelenaLC/CATALYST/blob/master/vignettes/preprocessing.Rmd) for an example.

In any case, if this i

[2022-02-10 16:59] Kayla-Morrell commented on #2460
Hello @Keniajin - In order for a formal review of the package to be done, all ERRORS and WARNINGS need to be addressed from the build report. Please clean up these issues and then I will begin my review.

Best,
Kayla

[2022-02-10 17:01] Kayla-Morrell commented on #2442
@tsvali - All ERRORs and WARNINGS should be fixed but NOTES are general suggestions. I will look over these NOTES as part of my review and let you know if I deem any of them to be required changes.

Best,
Kayla

[2022-02-10 18:31] peymanzarrineh commented on #2429
Thanks for your guidance. The problem was indeed with my computer. I could build it in another machine successfully.

[2022-02-10 19:26] Jfortin1 commented on #2511
Hi Nitesh @nturaga,

Thank you for reviewing my package. The error above comes form the fact that the Windows machine is trying to build the package while I did specify in the DESCRIPTION file that it's UNIX only.

[2022-02-11 10:11] lazappi commented on #2500
I think I must have missed that this was the default the first time I looked. This is also reasonable I suppose, only thing is that I think the default is often to do things in parallel which can be an issue on shared servers where you can accidentally take over resources (hence my preference for `SerialParam()` as default). I don't know if the Bioconductor core has a strong position on this thoug

[2022-02-11 11:49] vjcitn commented on #2500
definitely use BPPARAM convention if at all possible   @mtmorgan

[2022-02-11 12:38] lshep commented on #2511
By eliminating Windows you will lose nearly half of Bioconductor users;  is there no way to implement a solution on windows?
If you would like to proceed with excluding windows,  Please create a `.BBSoptions` file in the top level of your package repository (dot and caps matter) and include a single line in the file `UnsupportedPlatforms: win` .

[2022-02-11 14:41] lshep commented on #2391
Were you ready for a re-review?  If so please respond to the original review and explain what has updated and changed

[2022-02-11 14:48] lshep commented on #2434
@wolski  Bioconductor only assigns one reviewer per package.  Please address @LiNk-NY  Initial concerns and as @vjcitn  pointed out clean up any ERROR/WARNING/Notes in the build reports produced. Once that occurs @LiNk-NY  will do a more in-depth review of the package.

[2022-02-11 14:49] lshep commented on #2448
@zslastman  if you do not have time to work on the submission we can close the issue for inactivity and you can request it be opened again once your time allows.

[2022-02-11 14:52] lshep commented on #2496
Please correct any TIMEOUT/ERROR/Warning/Notes from build reports before a more in-depth review will continue.  Thank you

[2022-02-11 15:11] wolski commented on #2434
@lshep Thanks. I am on holiday for the next two weeks. I will look into addressing them once I am back.

[2022-02-11 15:21] LiesaSalzer opened #2525 "(inactive) MobilityTransformR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LiesaSalzer/MobilityTransformR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-02-11 15:21] #2525 closed, assigned to nobody

[2022-02-11 16:00] LiesaSalzer opened #2526 "MobilityTransformR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LiesaSalzer/MobilityTransformR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-02-11 16:08] Keniajin commented on #2460
Hi Kayla, I am addressing the package Source tarball size. I cannot pick why there is a difference in size from my local computer.

[2022-02-11 16:11] athchen commented on #2500
Not sure if this is a dumb question -- but would it be better to use `BPPARAM` in this case rather than `bp.param` even though all the other argument names are in `dot.case`?

[2022-02-11 18:11] Jfortin1 commented on #2511
Hi @lshep, I would also like to make the package accessible to all users, but `BWA` itself was not built with Windows machines in mind. I did attempt to modify the source code to make it windows-friendly, but I was unsuccessful as some of the core libraries used are unix only.

[2022-02-12 05:54] favorov commented on #2387
I eventually returned from Moscow and started to read the correspondence more thoroughly. Thank you for the advice; I will try to use the TF regulation examples from the Bioconductor for the publication. Can you recommend a reliable one?
I will read more about the Girvan-Newman algorithm, maybe it has a clue how to connect the best.friends to the network reality. My original intuition was about co

[2022-02-12 10:05] vjcitn commented on #2387
thanks for this  i will answer more in depth next week   the URL should be your github repo URL

[2022-02-12 17:38] rocioespci opened #2527 "(inactive) single"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rocioespci/single

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _

[2022-02-12 17:38] #2527 closed, assigned to nobody

[2022-02-12 21:48] ferygood commented on #2446
I have added an example in `appTEKRABber.R` to show the inputs and how to launch the app.

This bug is fixed and it will not return an error when running `R CMD check`.

All of the `dplyr` dependencies were removed. It feels a little bit strange at first, but I agree with you replacing them with base functions.

Thank you for providing me with some examples of this. It makes me more easily underst

[2022-02-14 07:49] lazappi commented on #2500
I think this is a special case, normally you wouldn't have an all uppercase argument so I guess this was chosen to stand out from normal function arguments.

[2022-02-14 14:55] vjcitn commented on #2462
I think there is a formatting error in runBowtie.Rd or its progenitor rmarkdown because
in the html I see
[code]
otherwise this is looking good.  Can you look over the generated man pages?

[2022-02-14 15:16] HelenaLC commented on #2446
Hey there. Thanks for all this, especially having made example runnable and thus testable by the regular builds. Two very minor comments. Once these are resolved, I will accept the package:

**1)** For clarity, could you remove `fileName = "correlationResult.csv"` in the `corrOrhologTE` example? Since `fileDir = NULL` and the example does not produce an output file, I think removing the argument w

[2022-02-14 15:57] lshep commented on #2476
Please see initial review below:

**Build Report**

- [ ] Please address NOTES in the build report

**DESCRIPTION**

- [ ] (Optional but Suggested) Add a `BugReports` and `URL` that points to
  Github repository

**NAMESPACE**

- [ ] Did you choose to selectively import class functions for a reason like
  naming conflicts? Since you main class contains a SummarizedExperiment and be
  coerced using

[2022-02-14 16:18] lgatto commented on #2476
Dear @jaehyunjoo

## Package name

The first two letters have a direct match with a German word for butt,
but the pronunciation wouldn't lead to any confusion. However, I can't
figure out how the name relates to metabolomics or any feature
related to data analysis, which might make the package difficult to
find for new users.

## The DESCRIPTION file

The title and the description are a bit mislea

[2022-02-14 17:23] hpages commented on #1752
Hi @Deisiany ,

Sorry for the slow response. I registered a few `Glycine max` NCBI assemblies in **GenomeInfoDb** 1.31.4:
[code]

To forge **BSgenome.Gmax.NCBI.Gmv21** I strongly recommend that you use a `.2bit` file instead of a FASTA file. Converting a FASTA file to the `.2bit` format is not hard. You could download `GCF_000004515.5_Glycine_max_v2.1_genomic.fna.gz` from https://ftp.ncbi.nlm.nih.

[2022-02-14 18:49] Jfortin1 commented on #2462
Thank you @vjcitn for the review -- I just pushed a new version with the fixed documentation (changed `\code{link{foo}}` to `\code{\link{foo}}`).

[2022-02-14 18:58] jaehyunjoo commented on #2476
@lshep and @lgatto, Thank you so much for your insight and help. I will try to address the comments and improve the package.

[2022-02-14 20:09] rocioespci opened #2528 "single"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rocioespci/single

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2022-02-14 21:12] vjcitn commented on #2528
Please see https://contributions.bioconductor.org/docs.html#vignettes ... you should be using BiocStyle for consistency with the majority of submissions, and vignette should end with sessionInfo() invocation/output.

It would be good if some reference to scientific applications/literature would be provided to give context in vignette.  Your preprint should be referenced and vignette updated as it

[2022-02-14 21:16] vjcitn commented on #2528
You are not using any Bioconductor infrastructure in this package.  Would it not make sense to use a Biostrings DNAString container for your results?  Can you add metadata to the objects manipulated in the package so that they are not freestanding vectors of characters but have more scientific context bound to them?

[2022-02-14 21:58] athchen commented on #2500
I've fixed the argument name from `bp.param` to `BPPARAM`!

[2022-02-15 02:31] PeteHaitch commented on #2495
Hi @lujunyan1118,

Thank you for your submission to Bioconductor.
Overall, the package is in good shape.
For acceptance into Bioconductor, I have a few Required points, as well as some Recommended points, that I would ask you to first please address.

Cheers,
Pete

## Required

- [ ] Are there opportunities to better integrate with existing Bioconductor infrastructure for the analysis of pharmacog

[2022-02-15 08:31] lazappi commented on #2500
I will mark this as approved, congratulations 🎉 ! It should be picked up by the main build system and part of Bioconductor devel within a few days.

[2022-02-15 12:26] ferygood commented on #2446
I have removed the `fileName` parameters from the example. It will be more clear for users when they are reading the document.

I agree with your suggestion. Previously, I was also searching for solutions and thinking of if I wanted the user to create or assign the variables for them. Though assigning global variables from the functions might seem "neat", it will somehow surprise the user by chang

[2022-02-15 14:33] lujunyan1118 commented on #2495
Hi @PeteHaitch, thanks a lot for your effort in reviewing our package. The comments are very helpful and we will address those issues.

Best,

Junyan

[2022-02-15 14:46] lgatto opened #2529 "PSMatch"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/rformassspectrometry/PSMatch

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have r

[2022-02-15 15:40] HelenaLC commented on #2446
Yeah, I had thought there'd be a cleaner way, but it seams not. - Looks good! Thank you for considering this as well as putting explanations in both the app doc & vignette!

[2022-02-15 19:42] sagun98 commented on #2483
Hi @vjcitn,

Thank you for the review.
The repository has now been updated with the changes and passing R CMD check with R devel version.

Regards,
Sagun

[2022-02-15 22:37] bmill3r opened #2530 "STdeconvolve"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/JEFworks-Lab/STdeconvolve

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-02-15 23:51] jaehyunjoo commented on #2476
@lshep

as @lgatto suggested, we definitely need to rename the package to something meaningful. I am wondering how to connect the new repository URL to this Github issue. Thanks a ton!

[2022-02-16 15:19] lshep commented on #2476
I think the best solution would be to open a new issue to make sure it gets added properly.  When you submit it please let me know here and I can push it through the pre-review process and reassign myself to it.

[2022-02-16 15:43] gtca commented on #2453
Hi Marcel @LiNk-NY, I think this is ready for another look as we changed the write methods as suggested (mostly [this commit](https://github.com/ilia-kats/MuData/commit/fa40c4f3e24879fec67790a999dbf93388372e9e)).

[2022-02-16 17:19] jaehyunjoo commented on #2476
Got it! Thank you so much for all your help.

[2022-02-16 19:00] Lionir commented on #2391
Hi,

I am having a bit of a problem with the Win version of octad.db, will let
you know when will deal with it.
Thanks.

Evgenii Chekalin, PhD,
Sr. Bioinformatics scientist,
Illumina

On Fri, Feb 11, 2022 at 9:42 AM lshep ***@***.***> wrote:

[2022-02-16 19:16] hpages commented on #2481
Hi @jaspershen ,

Here are a few things that would need to be addressed before I go into deeper review:

1. The logo still shows the old name:
[code]

2. Please remove the "Install masstools" vignette. The correct way to install a Bioconductor package is with:
[code]
    The above will work when **masstools** is part of Bioconductor. See https://bioconductor.org/install/ for more information. In p

[2022-02-16 20:45] shanedrabing commented on #2508
I've added an input option for SingleCellExperiment, changed the maintainer email address to match between the DESCRIPTION, Biocondutor support forum, and the Bioc-devel mailing list (Dr. Tan signed up for both).

As for following the version bump procedure, I am running into this error after adding the remotes:

[code]

[2022-02-16 22:19] hpages commented on #2507
Hi Marcel,

Thanks for the feedback.

I fixed the vignette and examples by using HTTPS access to clone packages.

I'd like to keep these files in the package:

    inst/scripts/find_serialized_DataFrame_instances-20211119.log
    inst/scripts/find_serialized_DataFrame_instances-20220113.log

They are useful to me to keep track of progress of the `DataFrame` -> `DFrame` migration, but **BiocCheck**

[2022-02-16 22:52] vjcitn commented on #2508
Be sure you have followed guidelines for SSH key handling in git credentials app.  @nturaga

[2022-02-17 13:34] lshep commented on #2508
The only person that has push access currently is the listed maintainer and associated github user id that the package was submitted under  tank1@chop.edu / @tanlabcode  --  @tanlabcode should activate the [git credentials account](https://git.bioconductor.org/BiocCredentials), add any additional keys (there is already the github associated key added), and push changes.

[2022-02-17 13:45] lshep commented on #2275
There are several functions that are taking a long time on mac.  Here is the seqpack-Ex.timings from our build system for merida1

[code]

These functions also take several seconds on the other platforms so perhaps there is a way to look for inefficiencies and ways to improve the timing.  For comparison here is the example timings from nebbiolo1
[code]

[2022-02-17 13:48] lshep commented on #2500
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/athchen.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-02-17 13:49] #2500 closed, assigned to lazappi

[2022-02-17 13:49] lshep commented on #2446
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ferygood.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-02-17 13:49] #2446 closed, assigned to HelenaLC

[2022-02-17 13:49] lshep commented on #2429
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/peymanzarrineh.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2022-02-17 13:49] #2429 closed, assigned to HelenaLC

[2022-02-17 14:23] lshep commented on #2508
For clarification this is because @tanlabcode submitted the package and is the listed maintainer of the package.  We can grant access to @shanedrabing  but would need @tanlabcode to request it; along with a valid email to set up a credentials account for @shanedrabing

[2022-02-17 17:13] rmolbrich commented on #2497
I aimed to address all the mentioned points and think that the package is better for it now.

I hope that the following points are acceptable.
- There are still 9 lines longer than 80 characters, which are 0% of the code so I assume this is negligible.
- 667 lines don't adhere to 4 space indentation rule due to line-breaks in between function parameters
- And I kept the dependence on R >= 4.1 part

[2022-02-17 18:02] LiNk-NY commented on #2507
Hi Hervé,

The logs should probably not be uploaded with the package.
We're trying to reduce the amount of extra files e.g., compilation by-products, that
may be associated with a package but not part of the core functionality.
Perhaps you can keep the logs in a gist if you'd like them to be tracked?

I think this is based on the number of sentences other `Description` fields have.
It's good to ha

[2022-02-17 19:57] zslastman commented on #2448
Sorry for the delay guys, I'm available to work on the package again now.

https://github.com/zslastman/RiboStan/issues/2 is fixed

Can you let me know how to go about setting up a build environment that's identical to the one used by Bioconductor? My current understanding is that I want to load the most recent docker image and then run R CMD build, but I notice this doesn't work on e.g. the DESeq

[2022-02-17 22:25] shanedrabing commented on #2508
Thanks @vjcitn and @Ishep, I have one question regarding the git credentials activation. When we first submitted, we had the **tank1** email in the DESCRIPTION file, but signed up for the forum and mailing list with the **tanlabcode** email address. So, we decided to change the DESCRIPTION file to match **tanlabcode** (shared email). While we could probably sign up with the **tank1** email, it wou

[2022-02-18 10:59] kpj opened #2531 "(inactive) pareg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cbg-ethz/pareg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-02-18 11:58] lshep commented on #2508
I have updated the email in the git credentials app. You should now be able to activate tanlab4generegulation@gmail.com

[2022-02-18 13:41] jianhong commented on #2518
# Package 'MsBackendMsp' Review
The package passed check and build. Test coverage is 92.86%, awesome job!
However there are several minor things need to be fixed.
## The .Rbuildignore file
- [ ] NEWS.md now supported by CRAN and doesn't need to be ignored.

## General package development
- [ ] Non-standard file/directory found:
    ‘logo.png’

## R code
- [ ] `::` is not suggested in source code u

[2022-02-18 15:34] rocioespci commented on #2528
Hi @vjcitn .  I've updated the package in git-hub to include both suggestions. I've created the vignette with BiocStyle, and I results of consensus computation are now returned as a DNAString from Biostrings.

[2022-02-18 16:28] tanlabcode commented on #2508
Hi,
We have activated our git account.
Thanks,

On Fri, Feb 18, 2022 at 6:59 AM lshep ***@***.***> wrote:

[2022-02-19 02:43] yavyx opened #2532 "(inactive) gemma.R"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PavlidisLab/gemma.R

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-02-19 02:43] #2532 closed, assigned to nobody

[2022-02-20 15:22] LucaAnholt commented on #2505
Hi, I've since realised that my package probably insinuated too much of a reliance on GWAS Catalog as source for summary-level GWAS data, as at the time of writing this package I was unaware of other GWAS databases. To this end, I've updated the package description file and vignette to reflect the broader scope of this package, whereby users can provide summary-level GWAS data from other sources s

[2022-02-21 03:27] Deisiany commented on #1752
Hi Hervé,
No problem, this is the busiest time of the year for me as well.
Will do that, and will also use a 2.bit document for it.

Best,
Deisiany
Thanks, I'll check them out.

Deisiany Ferreira Neres (she/her/hers)
Ph.D. Student, Biological System Engineering
Virginia Polytechnic Institute and State University
HABB1, 1230 Washington St.
Blacksburg, VA 24060
(703) 598-5749

On Mon, Feb 14, 2022 a

[2022-02-21 08:01] jorainer commented on #2518
Thanks for the detailed review @jianhong !

I've addressed all your points (see https://github.com/rformassspectrometry/MsBackendMsp/commit/0e6d8765dd19f844ada7dba141345bbe5ff7975d) except some of the `for` loops. *Real* vectorization is unfortunately not possible in these cases and `lapply` IMHO does not improve (and in some cases is also not easily possible):

- `for` loop in lines [69-74](https

[2022-02-21 09:14] HelenaLC commented on #2497
Jup, the character limits, indentation and your preference to keep R >= 4.1 as a dependency are all acceptable. Here some more comments with special apologies for the 1st point - my mistake...

# DESCRIPTION

- I am *very* sorry, but made an accidental mistake in writing my earlier comment regarding `Suggests/Depends/Imports`... There's a NOTE by `R CMD check` stating `Depends: includes the non-de

[2022-02-21 18:10] shanedrabing commented on #2508
@lshep I'm on a terminal that is signed in with the `tanlabcode` account for git authorization, we have the credentials account activated, but I still get this error when trying to fetch:

[code]

[2022-02-22 12:17] nturaga commented on #2508
Hi,

Please check https://bioconductor.org/developers/how-to/git/faq/ #13 to #16 on the FAQ.

Let us know if any of those helped.

Best,

Nitesh Turaga
Scientist II, Department of Data Science,
Bioconductor Core Team Member
Dana Farber Cancer Institute

[2022-02-22 12:24] lshep commented on #2518
I think in this use case it is acceptable to leave the for loops. Cheers

[2022-02-22 12:50] vjcitn commented on #2496
MacOS:
[code]
Do you know why this is happening?

[2022-02-22 12:51] #2531 closed, assigned to nobody

[2022-02-22 13:06] vjcitn commented on #2496
You won't find doMC on windows so you can't use it there.  Please have a look at BiocParallel.  You will be asked to use it unless there are overwhelming counterindications.  On windows a snow-based parallelism is supported.

[2022-02-22 13:08] vjcitn commented on #2516
Let me know if you need more assistance here; I was in touch with Ludwig Geistlinger whom I understand is collaborating on this.

[2022-02-22 13:22] vjcitn commented on #2477
Please run R CMD check on a clean checkout from your repo.  Your basic vignette has library(CBNplot) deactivated with eval=FALSE and so I cannot build without changing source.  Please do us a favor.  Be sure that an unaffiliated user of your repo can have a successful run of R CMD check and BiocCheck on your package so that they can be able to review it!  Bump the version number for every change.

[2022-02-22 13:22] vjcitn commented on #2477
[code]

[2022-02-22 13:22] vjcitn commented on #2477
ANY change to source has to result in you running R CMD check again on the new sources

[2022-02-22 13:44] mcjmigdal commented on #2496
@vjcitn thank you for the comments, I will try to switch to BiocParallel. As for the other issue I am using digest hashes in my automatic test, in such a way that it tells only if outputs of the relevant function are valid. This approach however already showed short for me as these hashes seems to depend on R version and now apparently on the system as well. I will think of some other way to imple

[2022-02-22 13:45] vjcitn commented on #2465
The R version in DESCRIPTION must be >= 4.2 for a devel submission.  I am approving for review, but I hope you will let us know if basilisk will be used, which I feel should be obligatory.  If it will, we should wait to begin the review.

[2022-02-22 13:48] vjcitn commented on #2448
How to "set[...] up a build environment that's identical to the one used by Bioconductor" is pretty much an open question at this time.  We are working on github action templates that should eventually accomplish this.  You are welcome to discuss the issue further on bioc-devel mailing list, detailing your expectations and efforts.  I am working on pre-checks for your package now.

[2022-02-22 13:50] vjcitn commented on #2448
Did you run R CMD check on your package source tarball before pushing?  Do so with version bumps for every source code change.  With
[code]
I am getting
[code]

[2022-02-22 13:53] vjcitn commented on #2465
[code]
the vignette construction is taking too long.  Can you speed it up and/or use the longtests discipline?

[2022-02-22 13:54] vjcitn commented on #2448
Even INSTALL is noisy
[code]

[2022-02-22 14:04] vjcitn commented on #2448
I am going to let it go into the build/check process for review.

[2022-02-22 14:15] vjcitn commented on #2496
I like the increased rigor of the testing.  You should raise the issue on slack or bioc-devel.   There may be some simpler approaches.

[2022-02-22 14:17] lshep commented on #2496
Please see long tests -- http://contributions.bioconductor.org/long-tests.html
Some testing should be done daily and with regular testing but there could be more thorough and length tests implemented on long tests run once a week

[2022-02-22 17:32] shanedrabing commented on #2508
@nturaga Thanks so much! Was able to add a new public key to the account.

[2022-02-22 18:25] shanedrabing commented on #2508
On this newest error report, the Bioconductor environment does not have access to a Python module that is a required prerequisite for the package:

https://github.com/tanlabcode/CytoTalk#prerequisites

Since this environment doesn't have the module, these test will fail (including the test of a small sample for the overall process). How shall we proceed? I know that Bioconductor advises that all p

[2022-02-22 18:37] Kayla-Morrell commented on #2460
@Keniajin,

Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: There seem to be a few files

[2022-02-22 21:40] favorov commented on #2387
Thank you for the Girvan-Newman reference! Very inspiring reading. I eventually understood that my element-community terminology is very misleading for network and graph people. The community has intuition to be something isolated from others. The previous was "entity-feature":

Let’s make a generalisation. We have entities and features and a matrix
that show how strong is a feature ascribed to an

[2022-02-23 06:58] yavyx opened #2533 "gemma.R"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PavlidisLab/gemma.R

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-02-23 09:20] HelenaLC commented on #2497
Thanks for using `aes_string`, getting rid of `utils-pipe.R`, proper usage of `match.arg`, expanding on `BiocViews`, prettifying `mbecBoxPlot`, highlighting code in the vignette, and (most importantly) moving dependencies to `Depends`; looks all good now & the report looks much cleaner! Few minor comments left (I think)...

- Please include Bioconductor installation (using `BiocManager::install()`

[2022-02-23 09:57] VingronLab commented on #2465
Thanks a lot. Yes, we will use basilisk. We will notify you here once we are done with this.
Regarding the vignette, yes - we can do one of these two things. We will discuss now what is better to do, and we will make the changes in the vignette.

[2022-02-23 12:19] lazappi commented on #2521
@ococrook I will try to review this next week. In the meantime please try to address the warnings in the build report.

[2022-02-23 13:09] kpj opened #2534 "(inactive) pareg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cbg-ethz/pareg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-02-23 13:09] #2534 closed, assigned to nobody

[2022-02-23 13:13] kpj opened #2535 "(inactive) pareg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cbg-ethz/pareg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-02-23 13:13] #2535 closed, assigned to nobody

[2022-02-23 13:17] vjcitn commented on #2534
You have edited the initial comment to add information.  Please restore the original "submission" comment format.  Your question about biocViews concerns a detail of formatting, I think --
[code]
should work, but
[code]
may not.  @LiNk-NY

[2022-02-23 13:28] kpj commented on #2534
Thanks a lot for your reply!

I have removed my comment from the submission. Here is the original comment:

valid biocViews terms." which I find confusing because my DESCRIPTION has a biocViews field with valid terms.
Running `BiocCheck::BiocCheck('new-package'=TRUE)` locally also shows no problems with DESCRIPTION.
When comparing my project to a few others I noticed that I am using the master bra

[2022-02-23 13:32] lshep commented on #2534
biocViews on package submission is a bug that I need to fix.  For now could you please use a single line to specify the views while I work on the remedy.   `biocViews: x, y, z`

Thank you and sorry for the confusion and inconvenience.

[2022-02-23 13:36] kpj opened #2536 "(inactive) pareg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cbg-ethz/pareg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-02-23 13:36] #2536 closed, assigned to nobody

[2022-02-23 13:36] kpj commented on #2534
That did the trick, thank you so much!

[2022-02-23 13:38] kpj opened #2537 "pareg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/cbg-ethz/pareg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2022-02-23 15:04] zslastman commented on #2448
Okay, thanks Vincent, and sorry no I wasn't running check on the tarball. I'd been using devtools::check, but will switch to tarball + R CLI.

What is the correct method of specifying dependencies and then building such that all dependencies are installed? Again I had been using devtools but I guess this isn't bioconductor koshure. Should I simply assume that all dependencies, including e.g. BiocS

[2022-02-23 15:14] vjcitn commented on #2524
Thanks for the nice submission and vignette.  Don't use
[code]
Are the PBMC data the ones from TENx?  If so use the Bioconductor package https://bioconductor.org/packages/release/data/experiment/html/TENxPBMCData.html ... if not, prepare an ExperimentHub contribution.

[2022-02-23 15:34] vjcitn commented on #2482
This is all nice but not relevant for a Bioconductor submission:

![massc](https://user-images.githubusercontent.com/4624066/155351296-a5ca9075-e6ab-4d55-837c-9dabe0c1eddd.jpg)

Review cannot begin until the vignettes are more consistent with the Bioconductor guidelines.  Thanks.

[2022-02-23 15:35] rmolbrich commented on #2497
Thank you for the comments.

- I decided not to use cowplot, when I started. Since I already went through the trouble of rearranging plots myself, I want to stick to it for the time being.
- I updated the Readme to include installation instructions as proposed as well as an abridged version of the tutorial.
- Worked on cleaning up the clutter.
- Reduced the size of the data-sets for tests in the h

[2022-02-23 15:40] vjcitn commented on #2526
Do not use
[code]
in your vignette.  Please see the guidelines.  Even if it is eval=FALSE this code should not be given in the vignette of a Bioconductor package submission.

[2022-02-23 16:09] vjcitn commented on #2528
Thanks, please remove > devtools::install_github("rocioespci/single") from the vignette.  Review can now proceed.  Consider using R markdown instead of Sweave formatting for vignette.

[2022-02-23 19:02] shanedrabing commented on #2508
@nturaga @vjcitn We have signed up for the bioc-devel mailing list with the `tanlab4generegulation` email address, but still getting an error from the check:

[code]

Could this be because the mailing list is expecting the `tank1` email address?

[2022-02-23 19:16] lshep commented on #2508
@shanedrabing  No it uses whatever is currently listed as the maintainer in the DESCRIPTION for the check.  Did you get a verification for the bioc-devel mailing list?  There is often a confirmation email sent and it sometimes gets filtered as spam/trash? I just searched the mailing list registrations and do not see tanlab4generegulation@gmail.com as a valid registered email

[2022-02-23 20:07] vjcitn commented on #2533
The first link in the vignette does not resolve.  The inner nodes are reversed.   ubc.msl should be msl.ubc

[2022-02-23 20:09] vjcitn commented on #2533
Graphics seem unduly compressed in vignette rendering.  Consider BiocStyle and the developer guidelines on vignette authoring.

[2022-02-23 20:59] mooredf22 opened #2538 "(inactive) protlocassign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mooredf22/protlocassign

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-02-23 20:59] #2538 closed, assigned to nobody

[2022-02-23 21:36] vjcitn commented on #2537
Is this what we are supposed to see?

![pareghist](https://user-images.githubusercontent.com/4624066/155412530-6da8940c-9b9d-44ff-85ab-178761a84bd9.jpg)

Also, consider using BiocStyle to format/render your vignette.  See the developer guidelines

[2022-02-23 22:47] kpj commented on #2537
@vjcitn: Thanks a lot for the feedback!

Actually no, I fixed the issue.

I am using `output: BiocStyle::html_document` in the header of my vignette and follow the other advice in section 2 of the [BiocStyle](https://bioconductor.org/packages/devel/bioc/vignettes/BiocStyle/inst/doc/AuthoringRmdVignettes.html) docs.
What else should I do?

[2022-02-23 22:51] vjcitn commented on #2448
Good questions.  We endeavor to answer these on the developer guidelines so if those are not sufficiently clear please pose questions at bioc-devel.  We have automated the derivation of dependencies on R packages so you can assume all packages from CRAN or Bioconductor that are imported or suggested or depended upon or enhancing are available.  Packages outside these two regulated environments can

[2022-02-23 23:03] vjcitn commented on #2537
Looking good now.  Do bump the version number with every change to source code.  I'd suggest you just do that now.  Formal review will begin soon

[2022-02-24 01:54] mooredf22 commented on #2538
I fixed the version number.
I now get this warning:
"Checking individual file sizes...
    * WARNING: The following files are over 5MB in size:
      '.git/objects/pack/pack-79d75b6a60af62b355be2c53f84f39506d8e783f.pack'"
This file is not present in my package, so I don't understand why biocCheck is reporting this.

[2022-02-24 04:20] yavyx commented on #2533
Thanks for the feedback, addressed in the latest commit

[2022-02-24 04:51] yavyx commented on #2533
Thanks for the feedback @vjcitn, it's addressed in the latest commits.

[2022-02-24 08:42] HelenaLC commented on #2497
Great, thanks. I can see the docs for `dummy.x` now - not sure if I had just missed it earlier. Also the timeout is fixed & README looks good. @lshep any news regarding the support site error? Other than that should be good to accept.

[2022-02-24 12:32] keita-iida commented on #2524
We appreciate your careful review.
According to the suggestion, we added TENxPBMCData package to the DESCRIPTION file and fixed the vignettes.
We have done R CMD check and BiocCheck.

Keita Iida

[2022-02-24 14:10] LiesaSalzer commented on #2526
Thank you for the feedback! I changed it in the last commit into:

[code]

[2022-02-25 02:29] noriakis commented on #2477
Dear @vjcitn,
Thank you very much for taking the time to review the package. I sincerely apologize for putting the `library()` line to `eval=FALSE` section. I fixed the problem, and I make sure that `R CMD check`, `BiocCheckGitClone`, and `BiocCheck` produces no errors or warnings.

[2022-02-25 09:36] rocioespci commented on #2528
Hi!
I've removed the  devtools::install_github("rocioespci/single") from the vignette.
I had tried R markdown for the vignette but I keep getting errors when compiling using BiocStyle.

[2022-02-25 12:38] lshep commented on #2462
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-02-25 12:38] #2462 closed, assigned to vjcitn, hpages

[2022-02-25 12:57] lshep commented on #2530
Deconvolution and  TopicModels are not valid biocViews terms.  Please remove them.

[2022-02-25 13:19] vjcitn commented on #2387
Thanks for the overleaf link.  That will be helpful to reviewers, so please add a link to it to your package vignette, or place a compiled draft in inst/pdfs in your package.  I see that you are supported by an NIH P30 to Johns Hopkins.  It would be nice to explain how this algorithm can be or has been used in that work.  Let me know when you have finalized the sources/terminology in best.friends

[2022-02-25 13:27] vjcitn commented on #2234
Please look at your compiled vignettes.  I see

[code]
in the compiled HTML.  Early in Integrative_analysis_of_metabolome_and_microbiome.html there is an include_graphics that doesn't execute.

The guidelines recommend rendering with BiocStyle::html_document() ... is there a reason you do not do this?

[2022-02-25 13:48] lshep commented on #2528
A reviewer has been assigned to your package. Learn [what to expect][2]
during the review process.

**IMPORTANT**: Please read [this documentation][1] for setting
up remotes to push to git.bioconductor.org. It is required to push a
version bump to git.bioconductor.org to trigger a new build.

Bioconductor utilized your github ssh-keys for git.bioconductor.org
access. To manage keys and future acce

[2022-02-25 15:23] ococrook commented on #2448
@zslastman, Could you remove the ERRORs in the build report, I can start reviewing the package once that's complete

[2022-02-25 15:26] zslastman commented on #2448
Yes, apologies, only get them myself when I installed on a fresh system.

Also removing the non-standard evaluation from the dplyr functions to clean up the build report.

[2022-02-25 16:24] lgatto commented on #2529
The error is
[code]

but I confirm that I have an account - see https://support.bioconductor.org/u/5645/

[2022-02-25 16:26] lshep commented on #2529
Its because the email in the description for the maintainer is different than the registered email on the support site.

[2022-02-25 16:30] lgatto commented on #2529
I have changed it on the support site just now.

[2022-02-25 17:17] lshep commented on #2522
I'm concerned that when I run locally I see the original error in tests despite a fresh git clone of the package.  Is the test dependent on it running once to have some configurations set or something of the like?   Want to make sure that there isn't a randomness to the test passing and failing.

[code]

Besides that everything else looks good.  Please update the README and Vignette to include Bio

[2022-02-25 19:17] shanedrabing commented on #2508
Thanks for the information, turns out the first attempt at registration failed, we've managed to get registered and it appears the tests are passing now.

[2022-02-26 15:12] mooredf22 opened #2539 "(inactive) protlocassign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:  https://github.com/mooredf22/protlocassign

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-02-26 15:31] mooredf22 commented on #2539
My apologies - Here is the URL:

Update the following URL to point to the GitHub repository of
the package you wish to submit to Bioconductor

Repository: https://github.com/mooredf22/protlocassign

[2022-02-26 21:14] bmill3r commented on #2530
Edits to `STdeconvolve` after viewing the [build report](http://bioconductor.org/spb_reports/STdeconvolve_buildreport_20220225083339.html):

The following ERRORs have been addressed:
1.
[code]
In the `DESCRIPTION`:
[code]
has now been changed to:
[code]

2.
[code]
Corrected by adding `@examples` to the functions intended to be exported. Added `@noRd` flags to functions that serve as background or

[2022-02-27 00:11] #2539 closed, assigned to nobody

[2022-02-27 01:31] mooredf22 opened #2540 "(inactive) protlocassign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mooredf22/protlocassign

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-02-27 01:31] #2540 closed, assigned to nobody

[2022-02-27 02:11] mooredf22 opened #2541 "(inactive) protlocassign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mooredf22/protlocassign

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-02-27 03:17] vjcitn commented on #2541
Hi -- this very comprehensively documented package will have to change in certain respects to be part of Bioconductor.  I find that the built package is 13MB in size.  I'll look more closely at that in a minute.  The first vignette has
[code]
and this is not appropriate.  BiocManager::install will be used.  See the developer guidelines.

We have some large html files in the built package:
[code]
I

[2022-02-27 06:22] gongcongcong commented on #2234
plot_coExpress function plotting the eigengene dendrogram will be deprecated. Therefore, it does not execute in the vignettes.

[2022-02-27 17:44] bmill3r commented on #2530
There appears to be 2 ERRORs in this [build report](http://bioconductor.org/spb_reports/STdeconvolve_buildreport_20220227123241.html):

[code]

I have added `STdeconvolve` as a Watched Tag in my profile. I subscribed to the bioc-devel mailing list but perhaps this has not been approved yet?

Thanks,
Brendan

[2022-02-28 08:29] mass-a commented on #2520
Hello @vjcitn
what else should be done from our side to get the package into the review stage?

Thanks,
-m

[2022-02-28 12:23] lshep commented on #2530
I just check the bioc-devel mailing list and there is no bmille79@jh.edu registered. Please try again. There is a confirmation email that gets sent that often ends up in a spam folder.
I confirmed the support site tag was added. Ignore this for now and if it persists I can investigate further.

[2022-02-28 18:15] bmill3r commented on #2530
Thanks for letting me know. You are correct - the confirmation email was in my junk folder! I believe I should be registered now and will push another build.

Thanks again,
Brendan

[2022-03-01 14:11] lshep commented on #2492
is there any update on the incorporation of SummarizedExperiment and what the expected time frame for the modification is?  The review process will not begin until the changes have been pushed

[2022-03-01 14:17] lshep commented on #2518
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jorainer.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-03-01 14:17] #2518 closed, assigned to jianhong

[2022-03-01 14:20] mcjmigdal commented on #2496
@vjcitn hi, I've introduced the required changes including the use of BiocParallel. However, the package still fails to build under Windows...

The error is reported from the `foreach` loop:

[code]

here `runLinearRidge` is a internal function defined in `xcore` package.

That makes me suspect that something might be wrong with "parallelization" under Windows. Here is how the parallel backend is

[2022-03-01 15:02] vjcitn commented on #2483
Sorry for delay.  This
[code]
should not be in the Bioconductor vignette, as BiocManager will take care of these matters.

I will clear the package for review.

[2022-03-01 15:04] vjcitn commented on #2515
I don't think your changes were committed to the https://github.com/wheelerb/SUITOR.git

[2022-03-01 15:18] wheelerb commented on #2515
Thanks, they weren't. I just committed them.

[2022-03-01 15:58] HelenaLC commented on #2526
Overall, things are in pretty good shape already. Here a couple comments, most of which are for your consideration and not mandatory:

# README

- [ ] Please include Bioconductor installation instructions using `BiocManager`.

# DESCRIPTION

- [ ] We would encourage an R dependency of >= 4.2.

- [ ] Consider expanding on `biocViews`
(some suggestions are given in the `BiocCheck` report)

# documen

[2022-03-01 17:09] bmill3r commented on #2530
Hello,

Most recent version push (0.99.4) appears to just have two remaining WARNINGS:

1.
[code]
I see these as Imports in my `DESCRIPTION` file, however, I do not see these listed in my `NAMESPACE`. Can you give any insight as to how I should proceed in addressing this?

2.
[code]
Both of these are in function `fitLDA()`, where it is necessary to set a seed to ensure reproducibility. Note that t

[2022-03-01 17:14] vjcitn commented on #2515
OK.  Seeing the compiled .Rnw was a blast from the past.  Consider using Rmd ... it gives nice HTML ... we don't require it but it is worth getting under your belt eventually.

[2022-03-01 17:27] vjcitn commented on #2530
1: why is KernSmooth in DESCRIPTION?  I don't see it used in code or in vignette.  You need to use an @import directive in your roxygen to get it into NAMESPACE but if you don't use it this would not be needed.  So prune it out of the DESCRIPTION or use it explicitly.

2: set.seed clobbers the .Random.seed ... we don't want it used in code.  Instruct the user in how to initialize the random number

[2022-03-01 21:39] bmill3r commented on #2530
Thank you @vjcitn and the rest of the reviewers for your help.

I have made edits to the roxygen function headers and package Imports in DESCRIPTION. In addition, I have addressed the issues with `set.seed()`. It looks like the latest build has passed without any ERRORs or WARNINGs.

Thanks again for your time,
Brendan

[2022-03-02 10:53] mass-a commented on #2520
Thanks in advance for taking the time to review our package!

There is now 1 warning related to the package version. The method has been published and cited by other publications with versions > 1.0, it would probably be confusing to roll back the version numbering. Is that an option to come into BioC starting with version 2.0?

-m

[2022-03-02 14:27] mcjmigdal commented on #2496
@vjcitn it looks like this might be more of a problem with the `foreach` package that I am using for parallel computing

here are some relevant links:
https://stackoverflow.com/questions/50113694/r-foreach-parallel-and-package-variables
https://github.com/RevolutionAnalytics/foreach/issues/3

I will return when I learn more about this, I will also try asking on bioc-devel

[2022-03-02 14:31] vjcitn commented on #2496
you need to use BiocParallel -- and on windows understand that separate processes are spawned in the snow paradigm and that each process needs to be sure to get all the resources needed.  So you may need to pack more activities of package attachment and data initialization in your client processes on windows than on multicore, where resources are shared.

[2022-03-02 17:41] mooredf22 commented on #2541
I have uploaded a revised version of protlocassign. Here are the changes:
1. We have updated all discussions in the vignettes of installing packages to using the Bioconductor version of install.
2. We have created small subsets of our datasets for use in the vignettes. This has reduced the build time a great deal. On my Windows PC the build time (including the vignettes) was 333 seconds, and the c

[2022-03-02 21:14] LiNk-NY commented on #2453
Hi Danila, @gtca

Thank you for making those changes. The package looks good to me!
I will accept your package.
Make sure to resolve the WARNING and some of the NOTEs from `BiocCheck::BiocCheck()`
as you continue to improve your package.

Best regards,
Marcel

[2022-03-02 21:37] LiNk-NY commented on #2483
Hi @sagun98

It looks like you've renamed the package from `MACARRoN` to `Macarron`.
While it works on your side, we would have to do extra work on our side.
The easiest way forward is to create a new issue with the updated package
GitHub location and name.

Best regards,
Marcel

[2022-03-03 05:30] lmweber opened #2542 "(inactive) nnSVG"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lmweber/nnSVG

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2022-03-03 05:30] #2542 closed, assigned to nobody

[2022-03-03 05:38] lmweber opened #2543 "nnSVG"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lmweber/nnSVG

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2022-03-03 10:18] lazappi commented on #2520
This is probably a question for the core team. Maybe @lshep can jump in?

[2022-03-03 12:21] lshep commented on #2520
Yes we can make an exception for this.  The recommended action is what you currently have:  1.99.0 so that when officially released in Bioconductor it will automatically be bumped to 2.0.0.

[2022-03-03 13:03] lshep commented on #2476
I am going to close this issue.  If you decide to move forward with a Bioconductor submission Please tag/reference this original issue so we know it is a continuation of this review.  Cheers,

[2022-03-03 13:03] #2476 closed, assigned to lshep

[2022-03-03 13:12] lshep commented on #2528
Your vignette syntax is still completely in Sweave and the vignette extension is Sweave (Rnw). You would have to update to Rmarkdown syntax and extension (Rmd) in order for BiocStyle/knitr to work properly.

[2022-03-03 13:50] LiesaSalzer commented on #2526
Hi @HelenaLC ,
Thank you very much for reviewing my code! It was very helpful.
I tried to address all you comments in my last commit.
I think except of some minor style issues all of the points were addressed.
Really looking forward to the next steps of Bioconductor submission!

[2022-03-03 15:41] lmweber commented on #2543
I just pushed version 0.99.1 to GitHub, which removes a WARNING and NOTE from `BiocCheck()`.

[2022-03-03 16:15] lazappi commented on #2521
Hi @ococrook

Thanks for submitting **bandle** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

**Key:*

[2022-03-03 19:33] Kayla-Morrell commented on #2442
Hello @tsvali,
Thank you for submitting to _Bioconductor_. Please see the initial review of
the package below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

## General package development

- [ ] REQUIRED: The installation instruct

[2022-03-03 22:26] hpages commented on #2507
Hi Marcel,

I've added some basic unit tests, using the **testthat** framework. However I'm not too lucky with this framework so far: https://github.com/r-lib/testthat/issues/1584 (this is only my 2nd package using **testthat** instead of **RUnit**).

Think of the `.log` files as data files. It's more convenient for me to have them in the package itself next to the script that was used to generate

[2022-03-03 22:45] sagun98 opened #2544 "(inactive) Macarron"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/biobakery/Macarron

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-03-03 22:45] #2544 closed, assigned to nobody

[2022-03-03 22:49] sagun98 commented on #2483
Hi @LiNk-NY ,

Thank you so much for your feedback.

I created a new issue with the updated github name to the repo however the new issue was auto-closed by a bot (duplicate name error message).
Please advise.

https://github.com/Bioconductor/Contributions/issues/2544

[2022-03-04 00:15] LiNk-NY commented on #2483
Hi @sagun98
Lori knows the inner workings of the @bioc-issue-bot and can remedy the situation.
@lshep Should we close this issue and re-open the other? Thanks!

[2022-03-04 05:37] hpages commented on #2507
Ok so that's the best I can do. I need the `Sys.setenv()` calls unless there's a better way to specify the git user that doesn't rely on a `.gitconfig` file. I also want to keep the `.log` files in the package.

I went thru the **BiocCheck** NOTEs and they're all signaling things that are actually intended (it would be nice if the count of function lines didn't include empty lines or lines of comm

[2022-03-04 12:13] chrarnold opened #2545 "(inactive) GRaNIEData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/chrarnold/GRaNIEData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-03-04 12:13] #2545 closed, assigned to nobody

[2022-03-04 12:54] lshep commented on #2483
some systems are not case sensitive so we initial block duplicate submits regardless of case-- but as @LiNk-NY  has pointed out changing case will cause issues with git.   I have removed the entries on our system and you should be able to resubmit as a new issue now

[2022-03-04 12:54] #2483 closed, assigned to LiNk-NY

[2022-03-04 16:35] ococrook commented on #2521
Thanks Luke, will get around to these asap

[2022-03-04 16:54] sagun98 opened #2546 "Macarron"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/biobakery/Macarron

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-03-04 16:56] sagun98 commented on #2483
Hi @LiNk-NY and @lshep,

Thank you so much for letting me resubmit the new issue.
New issue link: https://github.com/Bioconductor/Contributions/issues/2546

Regards,
Sagun

[2022-03-04 17:37] LiNk-NY commented on #2507
Thanks for making those changes! It looks good to me.
I can update the error to a warning for .log files in `/inst`.

[2022-03-04 17:41] rossinerbe opened #2547 "(inactive) ATACCoGAPS"
- Repository: https://github.com/FertigLab/ATACCoGAPS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Packa