[2021-08-25 16:36] LiNk-NY commented on #2210
Hi ZhiQiang, @Zhiqiang-PANG
Can you bump the version for another build? Thank you.

[2021-08-25 16:43] lgeistlinger commented on #2180
Hi @lshep just wondering what's the typical time frame for a package to be included in the build report after acceptance and for an accepted package to obtain a landing page? Couldn't find BioPlex in the [build report](https://bioconductor.org/checkResults/3.14/bioc-LATEST/) yet ... Thanks!

[2021-08-25 16:45] lshep commented on #2180
Normally a week to two weeks. Cheers

[2021-08-25 16:58] vjcitn commented on #2256
The review is proceeding.

[2021-08-25 17:23] vjcitn commented on #2161
to get a new build you need to bump the Version field in DESCRIPTION from 0.99.0 to 0.99.1 etc.

[2021-08-25 18:25] jgriss commented on #2176
Hi @vjcitn ,

Thanks a lot for the detailed explanation! We'll try to implement this as quickly as possible.

Thanks for the great support!

Kind regards,
Johannes

[2021-08-25 19:39] LiNk-NY commented on #2220
Hi Lukas, @lmweber
Thank you for your submission. Please see the review below.
Feel free to ask any questions.
Best regards,
Marcel

---
# ggspavis #2220

## DESCRIPTION

* Looks good.
* Consider adding `ggplot2` to the `Depends` field given the number of imported
functions in the `NAMESPACE`.
* (Minor) Format the `Authors@R` field to wrap the text to less than 80 column
width.

## NAMESPACE

* Th

[2021-08-25 20:17] LiNk-NY commented on #2240
Hi Alvaro, @svalvaro

Thank you for your submission.
Please respond below to the review items before we can proceed.

Best regards,
Marcel

---

# drawCell #2240

* Please indicate why you would like this package to be part of Bioconductor.
The package does not seem to use the existing infrastructre in Bioconductor
other than `BiocStyle`.

## DESCRIPTION

* Add `BugReports` and `URL` fields.
* Do

[2021-08-25 22:01] lmweber commented on #2220
Thanks Marcel @LiNk-NY ! Will work through these comments and push some updates.

[2021-08-26 01:12] jiang-junyao commented on #2161
We plan to integrate all the functions of GReNA into IReNA. So i decide to withdraw this package, and upload IReNA after completing testing and debuging. Thank you so much for your assistance.

[2021-08-26 08:51] tdrose commented on #2252
I have a question concerning a dependency. For convienience I would like to add [runibic](https://bioconductor.org/packages/release/bioc/html/runibic.html) as a suggested dependency and use it in a function, where I check with `requireNamespace` if it is available.

However, the _automated package builder_ raised WARNING, since the package is apparently not available for Windows and an ERROR if I

[2021-08-26 11:32] davidecrs commented on #2168
Hi @vjcitn ,

we fixed the issues: for the first one we decided to put RDA files in data folder, while for the second one we added a simple `head` to show the results (without sorting them).

Best regards
Davide

[2021-08-26 13:09] const-ae opened #2258 "(inactive) transformGamPoi"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/const-ae/transformGamPoi

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-08-26 13:09] #2258 closed, assigned to nobody

[2021-08-26 13:14] tianwei-yu opened #2259 "(inactive) Metapone (software package for weighted pathway testing for untargeted metabolomics data)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianwei-yu/metapone

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-08-26 13:14] #2259 closed, assigned to nobody

[2021-08-26 13:21] tianwei-yu opened #2260 "(inactive) Metapone revised. Sorry for missing the previous deadline. Can you re-open the submission?"
Thank you for your submission. please find the initial review below:

**General**

  Currently the package does not show much interoperability for Bioconductor classes and structure nor does it use existing
  Bioconductor functionality for parallelization (BiocParallel).

**Build Report**

- [x] Please fix all NOTES of the build report

**DESCRIPTION**

- [x] See notes from build report

**data/ma

[2021-08-26 13:21] #2260 closed, assigned to nobody

[2021-08-26 13:23] tianwei-yu commented on #2260
https://github.com/tianwei-yu/metapone

[2021-08-26 13:24] tianwei-yu opened #2261 "(inactive) Metapone (previously closed submission because I was late in addressing the issues). Can you re-open the submission?"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tianwei-yu/metapone

Confirm the following by editing each check box to '[x]'

- [ ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ ] I have read the _

[2021-08-26 13:24] #2261 closed, assigned to nobody

[2021-08-26 13:24] const-ae opened #2262 "transformGamPoi"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/const-ae/transformGamPoi

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-08-26 13:30] tianwei-yu commented on #2131
Dear Ms. Shepherd,

Sorry I missed the previous deadline for revising my package, and the issue was closed. Now I cannot find a way to submit the revised package. Could you re-open the issue? Many thanks!

Best,
Tianwei

From: ***@***.***>
Sent: Monday, August 9, 2021 8:30 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [Bioconductor/Contributions] metapone (#2131)

Checking in. Do

[2021-08-26 13:37] const-ae commented on #2262
Hi,

`BiocCheck` currently detects 1 Warning and 6 Notes:

# Warning

The warning concerns the `biocViews` term 'VarianceStabilization'. I am aware that this is not in the list of [biocTerms](http://bioconductor.org/packages/devel/BiocViews.html); however, I would like to suggest adding it. There are already three Bioconductor packages dedicated to this topic: [vsn](https://www.bioconductor.org/pa

[2021-08-26 15:13] vjcitn commented on #2180
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lgeistlinger.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2021-08-26 15:13] vjcitn commented on #2179
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/csoneson.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-08-26 15:14] vjcitn commented on #2173
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/koenvandenberge.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2021-08-26 15:14] vjcitn commented on #2168
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/davidecrs.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-08-26 17:07] KlausVigo opened #2263 "tanggle"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/KlausVigo/tanggle

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-08-27 12:03] vjcitn commented on #2200
@jwokaty just want to make sure this is on your radar screen.  It would be nice to clean up the BiocCheck events unless there are sound reasons not to.  If you need a hand with events [5]-[7] let me know.

[2021-08-27 12:04] vjcitn commented on #2178
I think we are ready to test this on Mac.  Please bump version in DESCRIPTION and push to generate
a new build.

[2021-08-27 12:22] jgriss commented on #2176
Hi @vjcitn, @LiNk-NY,

We are done with the required changes and are ready to push our AnnotationHub package / object the S3 storage.

I'd be grateful if you could help us with this!

Thanks a lot!
Johannes

[2021-08-27 12:52] jwokaty commented on #2200
@vjcitn Thank you. I will work on these today.

[2021-08-27 16:04] nturaga commented on #2185
# Review turboGliph

## DESCRIPTION

ok

## NAMESPACE

ok

## R

- Use the package `BiocParallel` instead of parallel, doParallel and
  foreach. This will make the abstraction easier to for you.

- You don't have to reference `base::` in your code. base packages are
  available on every R session by default. They are in your search
  path by default.

- Use the correct end user messages,
  http://

[2021-08-27 16:19] nturaga commented on #2199
Hi, please explain the differences between `DAPAR` (which is already a package within Bioconductor) and `Dapar2`.

The DESCRIPTION file describes both of them is exactly the same.

[code]

Bump the version number and make sure there are no `ERROR` messages for the review.

[2021-08-27 16:21] gabrielodom commented on #2064
Hi @lshep, @fveitz and I are back to work on this. We should have a new commit pushed upstream today or tomorrow.

[2021-08-28 11:41] fveitz commented on #2064
Hi @lshep and @Kayla-Morrell, please find attached the package's changes that I and @gabrielodom went through yesterday.

[coMethDMR_08272021.xlsx](https://github.com/Bioconductor/Contributions/files/7070642/coMethDMR_08272021.xlsx)

[2021-08-28 18:53] lmweber commented on #2220
Hi Marcel @LiNk-NY - I have pushed the following updates. Thank you!

---

## DESCRIPTION

Done

Done

## NAMESPACE

## vignettes/

I prefer to leave this with the longer lines of text, since for me this is easier to maintain. I use RStudio as my IDE, which wraps the text, so I find it easier to rewrite a paragraph if it is all in a single line. I use the 80 character column width in my code block

[2021-08-29 05:18] taiyunkim opened #2264 "(inactive) scReClassify"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scReClassify

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2021-08-29 05:18] #2264 closed, assigned to nobody

[2021-08-29 05:22] taiyunkim opened #2265 "scReClassify"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scReClassify

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2021-08-29 05:22] #2265 closed, assigned to nobody

[2021-08-29 05:50] taiyunkim opened #2266 "scReClassify"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scReClassify

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2021-08-29 07:11] seriph78 commented on #2151
Dear @nturaga I fixed everything except the warning: "file 'COTAN/configure' did not have execute permissions" that I don't think depend on my code... Is it now ok?

Best regards

[2021-08-30 15:30] ZhenxingGuo0015 commented on #2187
Hi @vjcitn ,
I didn't require RMariaDB in the DESCRIPTION. Shall I add it into the Suggests part?

[2021-08-30 15:35] vjcitn commented on #2187
yes if it is used in your package vignette or examples

[2021-08-30 18:29] vjcitn commented on #2187
You need to remove .Rhistory.

Also -- try to address:

[code]

[2021-08-30 23:05] rohanbiju commented on #2238
Hi @lshep ! @marouenbg and I have made the required changes. It would be great if you take a look again. Thanks!

[2021-08-31 09:48] J0bbie commented on #2206
Hi @hpages,

Thanks for the review! My apologies for the late reply due to holidays.

After some ordeals with also trying to improve the test/example run-times by adding an example dataset instead of generating the example/test dataset from scratch each time, it finally works again with also the requested changes to the vignette / class.

Please let me know if anything else is required!

Kind rega

[2021-08-31 13:02] HetzDra commented on #2185
Dear @nturaga,

thank you for taking over the review process for our package. I have understood the suggestions for improvement and will take care of them. Only on the point of using BiocParallel I have a question:
I actively decided against using BiocParallel because the basic function 'MulticoreParam' is not applicable for parallelization on Windows systems and the function 'DoparParam' to be us

[2021-08-31 13:44] lshep commented on #2131
Please let me know when you are ready for a re-review and please comment on the initial review items and how they were addressed.

[2021-08-31 13:47] lshep commented on #2250
Bioconductor does not support lfs which it looks like you are trying to use.  For large data files you must use ExperimentHub.  See [Creating a Hub package](https://bioconductor.org/packages/devel/bioc/vignettes/HubPub/inst/doc/CreateAHubPackage.html)

[2021-08-31 17:13] hpages commented on #2139
@dongminjung @vjcitn ,

Just seeing this now. **VAExprs** depends on **rJava** (via **DeepPINCS**). FYI Oracle no longer provides the JDK for 32-bit Windows so packages that depend on Java/**rJava** cannot be supported on this platform. This is why **DeepPINCS** is marked as unsupported on 32-bit Windows (see `.BBSoptions` file in top-level folder of **DeepPINCS**). We'll do the same for **VAExprs

[2021-08-31 17:14] vjcitn commented on #2139
Thanks!

[2021-08-31 18:55] hpages commented on #2178
I just installed the .NET 5.0 Runtime on our Windows builder (riesling1) so **rmspc** should also be ready to test on that machine. However, please note that I installed it for 64-bit Windows only so you will need to mark your package as unsupported on 32-bit Windows. This is done by adding the `.BBSoptions` file to the top-level folder of your package with the following line in it:

    Unsupport

[2021-08-31 19:11] MeriemBahda commented on #2178
@hpages and @vjcitn, it's done, thank you!

[2021-08-31 19:39] lmweber commented on #2220
I also added `uwot` to `Suggests` in dependencies after noticing this was giving an error in my GitHub Actions build, due to the new example code that depends on `uwot`.

[2021-08-31 23:09] hpages commented on #2178
@MeriemBahda The file should be named `.BBSoptions`, not `.BBSoptions.txt`. For some reason **rmspc** was still able to pass a bi-arch `R CMD check` on riesling1 (the command for this is `R CMD check --force-multiarch ...`), despite the fact that  `.BBSoptions.txt` got ignored. One possible explanation is that maybe  .NET is only needed to build the vignette (the vignette only gets built for the d

[2021-09-01 01:05] hpages commented on #2148
@hui-sheen `R CMD check` is still reporting an error on the 3 platforms. We don't start the review process until the package passes `R CMD check` cleanly, at least on Linux. Thanks!

[2021-09-01 01:30] hpages commented on #2206
Hi @J0bbie ,

Thanks for the changes.

2 things:
1. The rendered HTML vignette still starts immediately with the Abstract and is still missing title and author(s).
2.  Your vignette contains a call to `ProteoDisco::generateJunctionModels()` that uses 20 workers (`threads = 20`). This will put too much stress on the Bioconductor build machines or on any machine where `R CMD build ProteoDisco` gets

[2021-09-01 03:56] hpages commented on #2212
Hi @mzytnicki,

Thanks for submitting **HiCDOC**.

I see 2 problems with the vignette:

1. It should display the name of the author(s).
2. The "1.3.2 Normalizing biases" subsection contains hundreds of "Warning in simpleLoess ..." lines. This is in the rendered version of the vignette, after the code chunks have been evaluated.

A more general concern with the growing number of Hi-C packages in Bi

[2021-09-01 04:45] ZW-xjtlu commented on #2183
Dear Ishep,

Thanks for your comments, I will try to implement these soon.

[2021-09-01 05:55] mzytnicki commented on #2212
Dear @hpages,

First, let me thank you for you thorough review.

It is true that we did not pay attention to the available classes, and it is also true that it is unfortunate that there are so many similar classes.
That said, I do not know whether there is a "basic" container, such as `SummarizedExperiment` for Hi-C (maybe `HiCBricks`?), which could be used by all the Hi-C packages.
Having so many

[2021-09-01 10:08] iofeidis opened #2267 "tripr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/tripr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2021-09-01 11:38] J0bbie commented on #2206
Dear @hpages,

My apologies for the "threads = 20", it was left there during testing..
I've also reduced the nr. of large tests as it was sometimes giving a TIMEOUT due to one of our larger test-cases.

I've changed to engine from `%\VignetteEngine{knitr::knitr}` to `%\VignetteEngine{knitr::rmarkdown}` and hope that solved the issue as I also noticed that the .css wasn't getting loaded in your out

[2021-09-01 12:23] lshep commented on #2178
@hpages It looks like both linux and windows builders stopped responding for the SPB scripts yesterday afternoon. They are both running now and should have a report for linux on the next run

[2021-09-01 12:49] nturaga commented on #2151
Hi @seriph78 Yes, this is much better. I will review your package now.

Best

[2021-09-01 14:06] tianwei-yu commented on #2131
Sorry for forgetting to send the response to the comments.

General
Currently the package does not show much interoperability for Bioconductor classes and structure nor does it use existing Bioconductor functionality for parallelization (BiocParallel).
Build Report
•	[] Please fix all NOTES of the build report
We still have some notes from BiocCheck, mostly about line length etc. Do we need to cha

[2021-09-01 14:07] tianwei-yu commented on #2131
Sorry for forgetting to post the response to comments. Please see below.

General
Currently the package does not show much interoperability for Bioconductor classes and structure nor does it use existing Bioconductor functionality for parallelization (BiocParallel).
Build Report
•	[] Please fix all NOTES of the build report
We still have some notes from BiocCheck, mostly about line length etc. Do

[2021-09-01 14:25] LiNk-NY commented on #2220
Hi Lukas, @lmweber

Thank you for making those changes. They look great!
Thank you for your contribution to Bioconductor.

Best regards,
Marcel

[2021-09-01 14:59] LiNk-NY commented on #2155
Hi Jean-Philippe, @Jfortin1

Hervé was kind enough to test `R CMD check crisprScore_0.99.3.tar.gz` on his laptop and it took 1 hour the first time. The second time around, it took 45 minutes. I don't think this length of time is acceptable. There should be more caching going on, if possible.

The examples should illustrate realistic use of the function and not take so much time.
Given that you're

[2021-09-01 15:02] LiNk-NY commented on #2176
Hi Johannes, @jgriss
I saw your email for S3 storage access. We are working on it.
Thank you.
Best,
Marcel

[2021-09-01 15:03] LiNk-NY commented on #2210
Hi ZhiQiang, @Zhiqiang-PANG
Please bump the version of the package to keep the issue going.
Otherwise, it will be closed for inactivity.
Best,
Marcel

[2021-09-01 15:05] jgriss commented on #2176
Hi Marcel / @LiNk-NY,

Thanks a lot for the update!

Kind regards,
Johannes

[2021-09-01 15:06] yiluheihei opened #2268 "(inactive) microbiomeMarker"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yiluheihei/microbiomeMarker

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2021-09-01 15:28] LiNk-NY commented on #2240
Hi Alvaro, @svalvaro

I'm closing the issue due to inactivity and `webshot2`.
Feel free to reopen when ready.

Best,
Marcel

[2021-09-01 15:28] #2240 closed, assigned to LiNk-NY

[2021-09-01 15:33] nturaga commented on #2185
Hi @HetzDra

So, MulticoreParam automatically uses SnowParam when on windows. So, there is a way to parallelize even on Windows machines.

So, you can still use BiocParallel from what I understand.

Best,

Nitesh

[2021-09-01 16:05] lshep commented on #2230
Thank you for your submission.  Please see initial review:

**Build Report/General**

- [ ] The License in the DESCRIPTION and the LICENSE file provided in the
  package do not match.  Please choose one LICENSE type. It must be an open
  source LICENSE. We recommend one of the LICENSE distributed with R
  https://www.r-project.org/Licenses/

- [ ] Please address the coding practice NOTES in the bu

[2021-09-01 16:21] hpages commented on #2222
Hi @Linlab-slu ,

Thanks for fixing the errors. `BiocCheck("TSSr_0.99.3.tar.gz")` still reports many NOTEs: 14 in total, which is a lot! Many of them deserve some attention and should be easy to address. For example:
[code]
Please reduce the number of NOTEs to <= 8.

Thanks,
H.

[2021-09-01 16:43] hpages commented on #2241
Already thoroughly reviewed and approved by @LiNk-NY one month ago when they got submitted as **BentoBoxData**/**BentoBox** (issue #2165).

Cheers,
H.

[2021-09-01 16:46] nekramer commented on #2241
Thank you @hpages!

[2021-09-01 17:28] MeriemBahda commented on #2178
@hpages I have renamed the file .BBSoptions.txt to BBSoptions and added a trailing EOL character to the line of the file.
Thank you!

[2021-09-01 18:25] lmweber commented on #2220
Great, thanks Marcel @LiNk-NY !

[2021-09-01 18:25] lshep commented on #2238
@marouenbg Your biocviews are still incorrect.  You need to update your biocviews to be valid terms (not packages).  We have processed the package anyways but it will need to be corrected in the review process.

[2021-09-01 18:39] mdozmorov opened #2269 "excluderanges"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mdozmorov/excluderanges

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read t

[2021-09-01 18:52] marouenbg commented on #2238
Hi @lshep
We fixed biocViews, could you please have a look (https://github.com/netZoo/netZooR)? Thank you
@rohanbiju

[2021-09-01 19:00] lshep commented on #2238
Thank you. Now the biocViews are valid.  Please correct the ERROR shown in the build report before an indepth review will take place.

[2021-09-01 19:40] lshep commented on #2262
@const-ae  VarianceStabilization is not a valid biocViews term. Please remove from the list of biocViews in the description

[2021-09-02 02:29] yiluheihei commented on #2268
Dear,

Thanks for your attention.  I don't understand why the BiocCheck error appears. The error shows that a Bioconductor package edgeR is not available.  However, in my opinion, edgeR should be installed properly in the build machine. Can you help me to point out why this error appears and how to fix it?

Thank your very much.

[code]

[2021-09-02 07:35] svalvaro commented on #2240
Hi Marcel, @LiNk-NY

Well, I haven't found another solution for `webshot2`.  I guess I'll keep this issue closed until people from Rstudio release `webshot2` in CRAN or I find a workaround where I don't need it.

It is a pity, since the community has shown a very high interest in `drawCell` and I got a few suggestions to release it with Bioconductor [in this post](https://www.linkedin.com/posts/sv

[2021-09-02 08:11] const-ae commented on #2262
@lshep, okay. Done.

[2021-09-02 11:41] lshep commented on #2268
That does seem like an error on our part.  I will try to re-run the build manually and post a new report; hopefully it should resolve itself.

[2021-09-02 12:27] iofeidis commented on #2267
Hello @lshep,

Last build push (0.99.2) was made for eliminating the `seq_len()` **NOTE** of `BiocCheck()`.

[2021-09-02 18:14] LiNk-NY commented on #2240
Hi Alvaro, @svalvaro

Perhaps you've already looked at it but does [webshot 1.0](https://cran.r-project.org/web/packages/webshot/index.html) have the functionality you are looking for?

It can live on GitHub in the meantime. I would contact the maintainers of `webshot2` and ask for a release date / upload to CRAN.

Thank you.

Best,
Marcel

[2021-09-02 18:37] LiNk-NY commented on #2210
Hi ZhiQiang, @Zhiqiang-PANG
It seems that the timeout it back. Please resolve.
I am currently reviewing the package.
Best regards,
Marcel

[2021-09-02 19:17] wvictor14 commented on #2170
@nturaga in that case, then please allow me to keep the documentation in the package for my own records! Thank you!

[2021-09-02 19:59] Zhiqiang-PANG commented on #2210
Hi Marcel, @LiNk-NY
I am fixing now. Thanks.

Bests,
Zhiqiang

[2021-09-02 21:03] LiNk-NY commented on #2210
Hi Zhiqiang, @Zhiqiang-PANG

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# OptiLCMS #2210

The package will need a lot of work before it can be accepted. Unfortunately,
given the lack of adherence to standard Bioconductor practices, the code can
be extremely fragile and unreliable.

## DESCRIPTION

* If you only need one funciton from `MSnbase`, please p

[2021-09-03 11:21] mzytnicki commented on #2212
Dear @hpages,

Looking at the available packages, we found no classes that would suit clearly our needs.
 - The `HiTexp` stores the data into a `Matrix`, which, in our study, is not appropriate because our data is sparse, and a matrix could not store all the data.
 - `HiCBricks` stores the data into HDF5 files.  It could be a good idea, but we still do not feel it is a standard procedure.
 - `Hice

[2021-09-03 12:49] jackieduckie commented on #2116
Dear @nturaga,

Thanks for your review comments. I've addressed what you've pointed out in the latest push, specially:

- I've moved the repo to the master branch on GitHub and now set as the default branch.
- Fixed description indentation.
- Switched the vignette output to BiocStyle styled html.
- Cleaned the code by removing the commented code.
- Followed the 80 char limit strictly.
- Modified t

[2021-09-03 15:08] vjcitn commented on #2241
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nekramer.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-09-03 15:08] #2241 closed, assigned to hpages

[2021-09-03 15:08] vjcitn commented on #2220
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lmweber.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2021-09-03 15:08] #2220 closed, assigned to LiNk-NY

[2021-09-03 15:08] vjcitn commented on #2178
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/MeriemBahda.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2021-09-03 15:08] #2178 closed

[2021-09-03 15:08] vjcitn commented on #2170
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/wvictor14.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-09-03 15:08] #2170 closed

[2021-09-03 15:08] vjcitn commented on #2241
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nekramer.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-09-03 17:25] eolagbaju opened #2270 "ODER"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/eolagbaju/ODER

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-09-03 18:32] hpages commented on #2212
Thanks Matthias for taking the time to look at the existing classes and to evaluate other options. It sounds like there's no clear consensus yet on what a "greatest common denominator" data container for Hi-C analyses should be. I just wanted to point this out, with the hope that at some point in the near future we'll see an effort to address this.

Your proposal of a parser sounds good. Another w

[2021-09-03 19:15] LiNk-NY commented on #2257
Hi Zuguang, @jokergoo
Thank you for your submission.
Please see the review below.
Best,
Marcel

---

# GeneSummary #2257

* It seems like you are taking a web resource and providing the data within the package.
* Do you have a formal mechanism for updating the package?
* How often will updates be run to update the internal data `refseq_gene_summary`?

## DESCRIPTION

* Add a `BugReports` field.

#

[2021-09-03 19:33] mzytnicki commented on #2212
Well, thank you for reviewing our package!
We will try to make parsers from other classes available.
We are also waiting for @mdozmorov suggestions (and glad that there are still off-line discussions in these troubled times).
Best regards,
Matthias.

[2021-09-03 20:05] mdozmorov commented on #2212
Briefly mention that I'm looking into it, interesting package! As for the common denominator for Hi-C data storage, or at least a general way to operate on paired interactions, I've been looking into https://bioconductor.org/packages/GenomicInteractions/ and the base class it is using, https://bioconductor.org/packages/InteractionSet/.

[2021-09-03 20:11] vjcitn commented on #2212
Thanks @mdozmorov !!

[2021-09-03 20:19] jokergoo commented on #2257
Hi Marcel @LiNk-NY ,

Thank you for your time and your review. The following are my replies:

Yes, the data is retrieved from the RefSeq database. There is a Perl script that is also included in the package to automatically extract the gene summary information (https://github.com/jokergoo/GeneSummary/blob/master/inst/parse_refseq.pl) from the files (in GeneBank format) on RefSeq FTP server. The pl

[2021-09-03 20:26] mzytnicki commented on #2212
Thanks a lot @mdozmorov.  We will look at that!

[2021-09-03 20:27] jianhong commented on #2263
# Package tanggle Review

The package is in pretty good shape.
There are some minor issues need to be addressed.

## General package development

- [ ] README file contain links to image file saved in man folder.

## The DESCRIPTION file

- [ ] (optional) `Description` field. Please try to keep to an 80 character limit.

## The NAMESPACE file

- [ ] Function names use `camelCase` or `snake_case` a

[2021-09-04 18:17] bschilder commented on #2225
Hi @lshep, just wanted to check in and see if there's anything else you need me to do atm.

[2021-09-05 02:04] HaniJieunKim opened #2271 "(inactive) Cepo"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PYangLab/Cepo

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2021-09-05 02:04] #2271 closed, assigned to nobody

[2021-09-06 10:01] lazappi commented on #2266
Hi @taiyunkim

Thanks for submitting **scReClassify** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

[2021-09-06 15:37] nttvy commented on #2176
Hi Marcel / @LiNk-NY,

We have uploaded the data to the temporary location (I believe it was uploaded to s3://annotation-contributor/scannotatr_default_models/default_models.rda). The link to the GitHub package containing the metadata file is: https://github.com/grisslab/scAnnotatR.models

We are looking forward to your feedback and further instructions.

Best regards,
Vy

[2021-09-07 00:30] atuldeshpande opened #2272 "scatterHatch"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/FertigLab/scatterHatch

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-09-07 13:41] lshep commented on #1792
Is there an update on the recommended package review? https://github.com/Bioconductor/Contributions/issues/1792#issuecomment-885099196

[2021-09-07 13:44] lshep commented on #2213
Please see the following review:

**Build Report**

- [ ] Please address `coding practice` NOTES.

**DESCRIPTION**

- [ ] (Optional) A package URL and BugReports field is encouraged

**Unit tests**

- [ ] We highly suggest adding unit tests

**NEWS**

- [ ] Please have `(start date: August 1, 2021)` removed or as a list
  element. The news file will not be properly formatted with this free form te

[2021-09-07 13:44] lshep commented on #2225
Please allow 2-3 weeks for reviewer feedback.  I am working on your review now and should have comments within the next day.

[2021-09-07 14:30] lshep commented on #2225
Please see additional comments:

**License:**
You should be able to use any of the [R Licenses](https://www.r-project.org/Licenses/).  If it gave you an ERROR this is probably a bug in our code that should be corrected.

**Rcode**

- [ ] Packages like grr, DelayedArray, and similar should be in Imports not
  in Suggest. They should be declared appropriately in the DESCRIPTION and
  NAMESPACE with

[2021-09-07 16:19] lshep commented on #2064
Thanks for making kayla's suggested updates.  I have reviewed the package again and have found some more concerns or comments that could use some feedback.

**local build**
- [ ] Some operating systems are case sensitive.  Building locally failed in the
vignette

[code]
When I look at this section of code, in the vignette `.RDS` but the file has a
lowercase exention `.rds`

**NEWS**

- [ ] Formatt

[2021-09-07 17:13] LiNk-NY commented on #2176
Thanks Vy!

Now that the data is uploaded, make sure that the code downloads the resource via `AnnotationHub` package.

I will look into this shortly.

Best,
Marcel

[2021-09-07 17:22] nturaga commented on #2214
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## vignette

ok

## NEWS

- empty.

## R

- There are some NOTE(s) in the build report which are easily addressed. Please resolve.
- Some issues in the code, like `fetchATAC` , for example

        expression <- downloadATAC(df, row, 'sparse_matrix_link', bfc)

   the expression could be null based on the `downloadATAC()` code. There is no validity c

[2021-09-07 18:36] hui-sheen commented on #2148
@hpages I don't have sufficient manpower to settle the R CMD check ERRORs. I have to close the submission issue. Thank you very much!

[2021-09-07 18:36] #2148 closed

[2021-09-08 14:59] LiNk-NY commented on #2257
Hi Zuguang, @jokergoo
Thanks for making those changes and for your contribution.
Best regards,
Marcel

[2021-09-08 15:08] LiNk-NY commented on #2176
Hi Vy, @nttvy
Please rework the `download_data_file` function to obtain the resource from AnnotationHub and not from GitHub.
See the [AnnotationHub vignette](https://bioconductor.org/packages/devel/bioc/vignettes/AnnotationHub/inst/doc/AnnotationHub-HOWTO.html) for details.
Caching is included with `AnnotationHub` so you won't need to use `BiocFileCache` directly.
Best,
Marcel

[2021-09-08 15:18] lshep commented on #2176
@jgriss @nttvy  -- The data has not been added to the hubs yet.  As indicated when you requested access, we needed verification when the data was uploaded and the github link to the package with the metadata for us to move from the temporary location to the live location.  Since those are both indicated above, I can work on adding the data into the hubs but please in the future remember to email h

[2021-09-08 15:42] LiNk-NY commented on #2176
Thanks Lori! @lshep

Vy, @nttvy
Include the additional package as a comment in the issue once the data has been added to the hub database.

Best,
Marcel

[2021-09-08 15:55] lshep commented on #2176
Please make sure to have run  `AnnotationHubData::makeAnnotationHubMetadata("scAnnotatR.models/")` it will indicate any issues with the metadata.csv file that is needed for inclusion in the hubs.  On quick glance the following issues with scAnnotatR.models

In Description File:
1. Make a valid submission version number (0.99.0)
2.  change bioCviews to biocViews. R is case sensitive.
3.  Please add

[2021-09-08 18:30] jianhong commented on #2245
# Package SC.MEB Review

The package is useful. However, there are lots things need to be fixed.
First of all, please fix the error within 21 days.

## General package development

- [ ] `R CMD build` got error, bkRcpp.cpp:5:10:
fatal error: 'omp.h' file not found under Mac OS.
- [ ] Please include Bioconductor installation instructions using BiocManager in README file.

## The DESCRIPTION file

-

[2021-09-09 06:00] KlausVigo commented on #2263
Dear Jianhong,
thanks a lot for all your useful and constructive comments.
I tried to address them and want to report on the changes / improvements.

Done. Removed man folder and use images in inst/extdata

renamed `node.depth.evonet` to `node_depth_evonet`

Will do this next.

I removed unrelated files.

I replaced `seq` by `seq_along`. Apart from url's and some markdown tables lines are shorter

[2021-09-09 09:18] nttvy commented on #2176
AdditionalPackage: https://github.com/grisslab/scAnnotatR.models

[2021-09-09 09:54] vjcitn commented on #2187
please let me know the status of this submission.  if you have made changes, please bump up the version number in DESCRIPTION, commit and push

[2021-09-09 13:39] jgriss commented on #2176
Hi @lshep, @LiNk-NY ,

Thanks a lot for the great help!

Kind regards,
Johannes

[2021-09-10 02:27] BioDING2021 opened #2273 "(inactive) org.Pelliottii.eg.db"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BioDING2021/org.Pelliottii.eg.db

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I ha

[2021-09-10 02:27] #2273 closed, assigned to nobody

[2021-09-10 08:32] Shufeyangyi2015310117 commented on #2245
Thank you I will fix these errors as soon as possible
Yang YiBest regards
----- 原始邮件 -----
发件人：JIANHONG OU ***@***.***>
收件人：Bioconductor/Contributions ***@***.***>
抄送人：Shufeyangyi2015310117 ***@***.***>,  Mention ***@***.***>
主题：Re: [Bioconductor/Contributions] SC.MEB (#2245)
日期：2021年09月09日 02点30分

Package SC.MEB Review

The package is useful. However, there are lots things need to be fixed.

Firs

[2021-09-10 12:35] #2161 closed

[2021-09-10 12:43] lshep commented on #2252
I think you mean it isn't available on mac? (http://bioconductor.org/checkResults/devel/bioc-LATEST/runibic/).   If the warning is raised from another package I would ignore the warning and proceed with the hopes that runibic fixes their package; we can make an exception in this case for the warning.

[2021-09-10 13:39] jgriss commented on #2176
Hi @LiNk-NY ,

Unfortunately, the automated build system seems to have added @nttvy's SSH key as main user for the `scAnnotatR.models` package.

I just tried to push the missing `LICENSE` file but unfortunately do not have the privilege to access the models repo on BioC GitHub:

[code]

Thanks a lot!

Kind regards,
Johannes

[2021-09-10 13:41] jgriss commented on #2176
Btw. we just checked and apparently the annotation package is not integrated yet in the official build (I guess that'll happen once the error is complete).

Should we already push the updated version of the `scAnnotatR` package that makes use of the models available through the AnnotationHub package?

Thanks  a lot!

Johannes

[2021-09-10 13:50] lshep commented on #2176
@jgriss Yes what happened with the original submission happened with the additional package submission. Our automatic processing uses the credentials of whoever submits the package. In the future it would be helpful if whoever is going to be the maintainer submits the package.   I have updated the credentials and you should now have access.
 I can work on adding the data later today.
 Please wait

[2021-09-10 13:51] Danis102 opened #2274 "(inactive) Submission of new package, seqpac: for small RNA analysis: from fastq (trimming included) to interpretation"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Danis102/seqpac

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-09-10 13:51] #2274 closed, assigned to nobody

[2021-09-10 13:53] lshep commented on #2176
I'm sorry for the multiple messages for Additional Package has been approved for building -- I'm not exactly sure why this is occurring and will try to remedy.

[2021-09-10 13:57] Danis102 commented on #2274
This should now be fixed haveing version number 0.99.0

[2021-09-10 14:03] Danis102 opened #2275 "Submission of new package, seqpac: for small RNA analysis: from fastq (trimming included) to interpretation"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Danis102/seqpac

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-09-10 14:39] lshep commented on #2176
The data is now available through the AnnotationHub:
[code]

[2021-09-10 15:50] lshep commented on #2257
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jokergoo.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-09-10 15:50] #2257 closed, assigned to LiNk-NY

[2021-09-10 15:50] lshep commented on #2200
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jwokaty.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2021-09-10 15:50] #2200 closed, assigned to vjcitn

[2021-09-10 15:50] lshep commented on #2116
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jackieduckie.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2021-09-10 15:50] #2116 closed

[2021-09-10 16:08] jgriss commented on #2176
Hi @lshep

Sorry for this! I thought the credentials were extracted form the `DESCRIPTION` file. We'll take this into consideration for our next package!

Thanks a lot for the great support!

Kind regards,
Johannes

[2021-09-10 16:17] jgriss commented on #2176
Hi @lshep ,

The build is currently failing since `BiocCheck` expects a `vignettes` directory. I wasn't aware that this is also required for annotation packages.

If it is, we'll happily add one.

Kind regards,
Johannes

[2021-09-10 16:20] lshep commented on #2176
@jgriss  We recommend a vignette for all packages.  Cheers

[2021-09-10 16:29] mbstadler opened #2276 "monaLisa: MOtif aNAlysis with Lisa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/fmicompbio/monaLisa

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-09-11 03:46] mrbakhsh commented on #2230
Hi @lshep - I have pushed the following updates. Thank you!
# Build report
- [X] The License in the DESCRIPTION and the LICENSE file provided in the
package do not match. Please choose one LICENSE type. It must be an open
source LICENSE. We recommend one of the LICENSE distributed with R
https://www.r-project.org/Licenses/.
**Answer:** I have changed the LICENSE to MIT + file LICENSE.
- [X]  Pleas

[2021-09-11 05:23] jgriss commented on #2176
Hi @lshep ,

I've now added a vignette to our `scAnnotatR.models` package. Unfortunately, it's not yet found on `AnnotationHub` on the build system - which causes the current build error.

Anything we need to do to fix this?

Kind regards,
Johannes

[2021-09-12 19:52] bschilder commented on #2225
When I try the above suggestion, the following Note is produced upon running R cmd check, which is why I switched to the other solution:

## GenomeInfoDbData

### Problem

[code]

Trying this new suggestion instead seems to resolve the problem with R CMD check:

[code]

...However, a new Warning is now produced when running  `BiocCheck::BiocCheck()` despite the fact that `requireNamespace` was use

[2021-09-12 21:26] vjcitn commented on #2225
If you don't want to import GenomeInfoDbData, use a pattern like
[code]
you can then use `GenomeInfoDbData::` qualifications and put that package into Suggests.

For the LICENSE/usethis issue, perhaps usethis is not compliant with https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Licensing ... just follow the doc.

[2021-09-13 12:44] lshep commented on #2176
Please review how to download resources and use the AnnotationHub front end;  your syntax is incorrect.
If you look at models it is just an AnnotationHub query.  You still need to download the file and have it load using a "[["
[code]
We recommend using the AH number for download.
[code]

[2021-09-14 02:08] gcgreenberg opened #2277 "(inactive) New package submission: Benchmark scRNA-seq Data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gcgreenberg/benchmark.data.scRNAseq/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x]

[2021-09-14 02:08] #2277 closed, assigned to nobody

[2021-09-14 02:12] gcgreenberg opened #2278 "(inactive) New package submission: Benchmark scRNAseq Data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gcgreenberg/benchmark.data.scRNAseq/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x]

[2021-09-14 02:12] #2278 closed, assigned to nobody

[2021-09-14 02:49] gcgreenberg opened #2279 "(inactive) New package submission: Benchmark scRNAseq Data"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gcgreenberg/benchmark.data.scRNAseq/

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x]

[2021-09-14 03:18] PeteHaitch commented on #2279
I think some of these datasets are already available through Bioconductor as *SingleCellExperiment* objects.
For example,

- The `zeisel` dataset is probably available from either `scRNAseq::ZeiselBrainData()` and `scRNAseq::ZeiselNervousData()`
- The `hca_cb` and `hca_bm` datasets may be available from the [**hca**](http://bioconductor.org/packages/hca/) package
- The `pbmc` dataset is probably f

[2021-09-14 06:34] OmarAshkar commented on #2217
Hi, @vjcitn It has been quite awhile for this submission. Is it under review queue?

[2021-09-14 08:55] nilseling opened #2280 "imcRtools"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BodenmillerGroup/imcRtools

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2021-09-14 11:35] lshep commented on #2204
Hello,  Just checking in to see if we can expect any updates soon? We like to see updates in 2-3 weeks to keep a review moving

[2021-09-14 15:40] hpages commented on #2206
Thanks. Package is good to go.

Cheers,
H.

[2021-09-14 15:43] hpages commented on #2212
@mzytnicki Any update on this? Thanks

[2021-09-14 15:46] hpages commented on #2222
Hi @Linlab-slu ,

Were you able to take a look at this?

Thanks,
H.

[2021-09-14 17:15] mzytnicki commented on #2212
@hpages  Well, sorry for being quiet.
Actually, this is a major rewrite.  Not only should we change our R code, but our Rcpp code too.
So, we will need quite a bit of time...

[2021-09-14 17:22] hpages commented on #2262
Hi @const-ae , @wolfganghuber, @lshep ,

Should we add `VarianceStabilization` to the **biocViews** vocabulary? I see that we have a few other Bioconductor packages that provide tools for variance stabilization (**vsn**, **lumi**, **flowVS**, **pmp**, **blima**, etc...). Would be nice to be able to group them under a common view.

The name of the package (**transformGamPoi**) is made of a verb + a

[2021-09-15 10:14] samWieczorek opened #2281 "(inactive) New package Magellan"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/samWieczorek/Magellan

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the

[2021-09-15 10:14] #2281 closed, assigned to nobody

[2021-09-15 10:18] samWieczorek commented on #2129
Hi,

I am working again on this package and I updated my Github repository. Would you mind reactivate it ?
Many thanks

Sam

[2021-09-15 12:44] oksankas opened #2282 "Synaptome.data package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lptolik/synaptome.data

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read

[2021-09-15 12:46] pkrog opened #2283 "biodbChebi (an extension package of biodb package)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbChebi

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-09-15 13:54] HaniJieunKim opened #2284 "Cepo"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PYangLab/Cepo

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Biocon

[2021-09-15 13:55] HaniJieunKim commented on #2271
Thank you. I have tried to my best abilities to follow all the BiocChecks. Would be much grateful for further help!

The new submission can be found here. https://github.com/Bioconductor/Contributions/issues/2284

[2021-09-15 14:29] abodein commented on #2204
Hi @lshep,
I have just returned to the office after a summer holiday. I will review the package within the week.
Thank you.

[2021-09-15 16:25] pkrog opened #2285 "biodbUniprot (biodb extension package)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbUniprot

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2021-09-15 17:02] pkrog opened #2286 "biodbHmdb (biodb extension package)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbHmdb

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-09-15 17:42] pkrog opened #2287 "biodbLipidmaps (biodb extension package)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbLipidmaps

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-15 18:01] gabrielodom commented on #2064
Thank you @lshep. @fveitz, can we make sure these are added to our to-do list?

[2021-09-15 18:07] Jfortin1 commented on #2155
Hi Marcel @LiNk-NY,

(Just got back from a 3 week vacation, sorry for the delay).

Thanks to Hervé who helped testing the package.
The R CMD check on the latest version of crisprScore (0.99.7) now took very little time (2m39s on my laptop).

Re. your comment *Personally, I'm less inclined to support software that is not ported from python 2.7 to 3.x*:
Ideally we would also like the original author

[2021-09-15 18:11] pkrog opened #2288 "biodbKegg (biodb extension package)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pkrog/biodbKegg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-09-15 21:00] bschilder commented on #2225
Thanks for the suggestions, @vjcitn!

- Since `GenomeInfoDbData` doesn't use `LazyData`, it appears that datasets cannot be accessed via `::`. For example, `GenomeInfoDbData::specData` doesn't work, as far as I can tell.
- Changing `License: GPL (>= 3)` to `License: GPL-3` seemed to fix the license Note from`BioCheck`. Thanks!

@lshep I just pushed the license name change, so that should be the la

[2021-09-15 23:20] mrbakhsh commented on #2230
Hi @lshep - Sorry to push new updates as I found some issues in the `pred_ensembel ( )` function. Looking forward to hearing from you soon, thank you.

[2021-09-16 01:37] mrbakhsh commented on #2230
Hi @lshep - Sorry to push new updates as I found some issues in the `pred_ensembel ( )` function. Looking forward to hearing from you soon, thank you.

[2021-09-16 03:12] xutao-wang opened #2289 "(inactive) curatedTBData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/compbiomed/curatedTBData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-09-16 03:12] #2289 closed, assigned to nobody

[2021-09-16 03:25] xutao-wang opened #2290 "(inactive) curatedTBData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/compbiomed/curatedTBData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-09-16 03:25] #2290 closed, assigned to nobody

[2021-09-16 07:09] jgriss commented on #2176
Hi @lshep,  @LiNk-NY,

Finally, we've completed all changes and the package is now using the models from our `AnnotationHub` package.

Thanks a lot for your patience and help!

Kind regards,
Johannes

[2021-09-16 11:29] vjcitn commented on #2217
Please run BiocCheck and look at writing R extensions on line to get the correct License token in DESCRIPTION.

[2021-09-16 11:41] vjcitn commented on #2187
Any idea why I am seeing
[code]

[2021-09-16 11:57] lshep commented on #2238
Please resolve the ERROR in the build report before an in-depth review will take place.

[2021-09-16 13:14] fveitz commented on #2064
Hi @gabrielodom. Yes, I will  check.

[2021-09-16 13:42] tdrose commented on #2252
Thanks @lshep for answering.

I proceeded as you suggested and added `runibic` again as a suggested dependency.

[2021-09-16 14:09] ZW-xjtlu commented on #2183
All of the tickled terms are implemented, however, I have difficulty adopting a small number of comments. The call on the function EnumerateRegionFeatures() is difficult to reduce since different regions from txdb have different parameter settings. Also, these regions are big in size, it is better to delete them after the extraction on them is completed.

Vapply is hard to completely adopt for thi

[2021-09-16 14:17] samWieczorek commented on #2129
Due to some new delay in the development of this package, I have to close it for the moment. I will reopen it next year

[2021-09-16 14:17] #2129 closed

[2021-09-16 14:28] lshep commented on #2267
Thank you for your submission. Please find your initial review below:

**Documentation**

- [x] Excellent

**CITATION.cff**

- [ ] Is this file necessary?

**LICENSE/LICENSE.md**

- [ ] Are both of these files necessary?

**README.md/README.Rmd**

- [ ] Are both of these files necessary? Is there a concern for one getting out
  of date of the other?

**vignettes**

- [ ] When I run the `tripr::run

[2021-09-16 14:42] lshep commented on #2131
Thank you for your changes.  Some final comments:

**Build Report Notes**

We can make some exceptions for some notes. There are some that are still
recommended

- [ ] Adding a `sessionInfo()` section to the bottom of the vignette

- [ ] Adding a NEWS file. While this is optional. If metaphone makes future
  updates, they will not be included in the Bioconductor release announcement
  without a ne

[2021-09-16 14:48] lshep commented on #2225
Please remove the commented out code referencing pulling from github from the R files. Non-used code should not be included in R files.  Once this is completed I will accept the package.

[2021-09-16 17:08] lshep commented on #2230
Thank you for the changes.  A few more minor comments:

- [ ] In vignette, when plot.pdf is saved in pred_ensemel call
[code]
Please show using a `tempdir()`. `filename=file.path(tempdir(), "plots.pdf")`

- [ ] You are still technically sharing your access key with users by providing it as default argument to get_positivePPI. How necessary is it to show the example and usage in the vignette?  This

[2021-09-16 19:08] xutao-wang opened #2291 "(inactive) curatedTBData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/compbiomed/curatedTBData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-09-16 19:08] #2291 closed, assigned to nobody

[2021-09-16 19:13] LiNk-NY commented on #2270
Hi @eolagbaju

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# ODER #2270

## DESCRIPTION

* update or remove field version in `Depends: R (>= 2.10)`

## NAMESPACE

* Internal functions should not be exported (`.file_cache`) or remove the
leading period.

## vignettes

* Provide a more descriptive title. Note that keyword, "workflows", are for
workflow pac

[2021-09-16 19:18] xutao-wang opened #2292 "curatedTBData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/compbiomed/curatedTBData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-09-16 22:59] alexchwong opened #2293 "NxtIRF data package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alexchwong/NxtIRFdata

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-17 02:00] mrbakhsh commented on #2230
Hi @lshep, thanks a lot for all the help.  I have pushed the following updates. Thank you!

- [X] In the vignette, when plot.pdf is saved in pred_ensemel call `filename=file.path(tempdir(), "plots.pdf")`
**Answer:** Thank you for the suggestion, changed the vignette as suggested.

- [X]  You are still technically sharing your access key with users by providing it as a default argument to get_posit

[2021-09-17 02:23] OmarAshkar commented on #2217
Thanks alot, I fixed the License line and re-pushed

[2021-09-17 07:12] iofeidis commented on #2267
Hi @lshep!

Thank you for reviewing our package and making suggestions!
We will look into them and come back with the corresponding changes.

Cheers

[2021-09-17 12:49] LeireAbarrategui opened #2294 "epimutacions"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/isglobal-brge/epimutacions

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2021-09-17 14:48] marouenbg commented on #2238
Hi @lshep ,
I wasn't able to reproduce the error on my computer. It basically says that it cannot access .txt files in inst/extdata directory, is it ignored by bioconductor? Do you have the set of commands that the server does so I can reproduce them on my computer?

Thank you

[2021-09-17 15:22] lshep commented on #2238
I can reproduce this locally on my computer.  Make sure you are using R 4.1.1 and most updated Bioconductor packages with `BiocManager::valid()`.   There are some environment variables set up on the builders https://github.com/Bioconductor/Contributions#r-cmd-check-environment

[2021-09-17 15:31] LiNk-NY commented on #2176
Great!
Thanks for your contribution to Bioconductor.
Best,
Marcel

[2021-09-17 15:32] LiNk-NY commented on #2155
Can you kick off another build of the package?
Thank you.
-Marcel

[2021-09-17 15:38] beacalvo commented on #2213
Dear @lshep

Thank you very much for your review and useful suggestions. We have addressed your comments in the following way:

We have solved most notes. Only one function has a length > 50 lines (70 lines) and the percentage of lines longer than 80 characters has been reduced to 2% (long messages/warnings/error), as well as the percentage of lines without an indent multiple of 4 (2%).

An URL an

[2021-09-17 17:49] a-mahdipour opened #2295 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-09-17 18:04] jfanglovestats opened #2296 "(inactive) CDI"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://gitlab.oit.duke.edu/jichunxie/xie-lab-software_cdi

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [

[2021-09-17 18:04] #2296 closed, assigned to nobody

[2021-09-17 21:40] jfanglovestats opened #2297 "CDI"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jichunxie/CDI

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2021-09-17 23:38] marouenbg commented on #2238
HI @lshep ,
Indeed, I was wrong, I installed R4..1.1 and I could reproduce the error. Errors should be fixed now, can you please trigger another run?
Thank you

[2021-09-18 10:21] Linlab-slu commented on #2222
Sorry for the late updates. Yes, I would definitely reduce some notes and repush as soon as possible.
Thanks a lot!

[2021-09-18 10:22] Linlab-slu commented on #2222
@hpages

Sorry for the late updates. Yes, I would definitely reduce some notes and repush as soon as possible.

Thanks a lot!

[2021-09-18 15:55] Jfortin1 commented on #2155
Hi Marcel @LiNk-NY,

Current (expected) error from BiocCheck for `crisprScore=0.99.8`:

`* Checking man page documentation...
    * ERROR: At least 80% of man pages documenting exported objects
      must have runnable examples. The following pages do not:
      getAzimuthScores.Rd, getDeepCpf1Scores.Rd, getDeepHFScores.Rd,
  getEnPAMGBScores.Rd, getLindelScores.Rd`

Given that adding runnable exa

[2021-09-19 08:13] stemangiola opened #2298 "(inactive) sccomp"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stemangiola/sccomp

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2021-09-19 08:13] #2298 closed, assigned to nobody

[2021-09-19 08:19] stemangiola opened #2299 "sccomp"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stemangiola/sccomp

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2021-09-19 16:29] xiuyuma opened #2300 "(inactive) scDDboost"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wiscstatman/scDDboost

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-19 16:29] #2300 closed, assigned to nobody

[2021-09-19 16:32] xiuyuma opened #2301 "(inactive) scDDboost"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wiscstatman/scDDboost

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read t

[2021-09-19 16:32] #2301 closed, assigned to nobody

[2021-09-19 16:33] xiuyuma opened #2302 "(inactive) scDDboost"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wiscstatman/scDDboost

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read t

[2021-09-19 16:33] #2302 closed, assigned to nobody

[2021-09-19 16:34] xiuyuma opened #2303 "(inactive) scDDboost"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wiscstatman/scDDboost

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read t

[2021-09-19 16:34] #2303 closed, assigned to nobody

[2021-09-20 05:03] dongminjung opened #2304 "GenProSeq"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dongminjung/GenProSeq

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-20 07:11] mcneilllucy opened #2305 "(inactive) synapsis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mcneilllucy/synapsis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-20 07:11] #2305 closed, assigned to nobody

[2021-09-20 07:13] mcneilllucy opened #2306 "synapsis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mcneilllucy/synapsis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-21 02:28] #2306 closed, assigned to nobody

[2021-09-21 02:30] mcneilllucy opened #2307 "(inactive) synapsis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mcneilllucy/synapsis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-21 02:30] #2307 closed, assigned to nobody

[2021-09-21 02:33] mcneilllucy opened #2308 "(inactive) synapsis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://https://github.com/mcneilllucy/synapsis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-09-21 02:33] #2308 closed, assigned to nobody

[2021-09-21 02:37] mcneilllucy opened #2309 "synapsis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mcneilllucy/synapsis

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-21 09:12] npechl opened #2310 "(inactive) lineagespot"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/lineagespot

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I ha

[2021-09-21 09:12] #2310 closed, assigned to nobody

[2021-09-21 09:33] npechl opened #2311 "(inactive) lineagespot"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/lineagespot

Confirm the following by editing each check box to '[x]'

- [Χ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [Χ] I ha

[2021-09-21 09:33] #2311 closed, assigned to nobody

[2021-09-21 09:50] npechl opened #2312 "(inactive) lineagespot"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/lineagespot

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I ha

[2021-09-21 09:50] #2312 closed, assigned to nobody

[2021-09-21 09:54] npechl opened #2313 "(inactive) lineagespot"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/lineagespot

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I ha

[2021-09-21 09:54] #2313 closed, assigned to nobody

[2021-09-21 09:57] npechl opened #2314 "lineagespot"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/lineagespot

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I ha

[2021-09-21 14:29] sthawinke opened #2315 "(inactive) pengls"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sthawinke/pengls

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-09-21 14:29] #2315 closed, assigned to nobody

[2021-09-21 14:31] sthawinke opened #2316 "pengls"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sthawinke/pengls

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-09-21 14:58] wolfganghuber commented on #2262
Hi Hervé

Thank you.

A VarianceStabilization term seems to fine-grained to me, I’d probably prefer Preprocessing.

But who uses search by Keywords…? This sounds like Yahoo.com in 1998… At least in my experience, “everyone” is used to full text search (e.g. Google, Amazon, Netflix), and/or recommender systems that would suggest similar packages. So I’d rather make sure that many of the relevant ke

[2021-09-22 06:51] lazappi commented on #2266
Hi @taiyunkim. Just checking in to see if you have any updates? FYI the schedule for the next Bioconductor release is here if you haven't seen it already https://www.bioconductor.org/developers/release-schedule/.

[2021-09-22 07:15] nyzhoulang opened #2317 "(inactive) ggmsa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/ggmsa

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-09-22 07:15] #2317 closed, assigned to nobody

[2021-09-22 07:27] nyzhoulang opened #2318 "ggmsa"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/ggmsa

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-09-22 07:57] iofeidis commented on #2267
Hi @lshep ,

See below our comments on the review:

Although it's not necessary for the code, we would prefer to have this for the Github repo citation, as recommended by the [best practices](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files). If this poses a serious issue, we could move it to another branch, bu

[2021-09-22 10:51] taiyunkim commented on #2266
Hi @lazappi ,

Thank you for the reminder of the next release and your thorough comments and feedbacks. I have revised scReClassify package to address your comments as best as I could. I have detailed the changes below.

&rarr;  I have checked BiocCheck and addressed as many warnings and notes as I can.

&rarr; I have added ORCIDS in the author field.

&rarr; These high level BiocViews are removed

[2021-09-22 10:55] mjchen1996 opened #2319 "(inactive) MicrobiomeProfiler"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-09-22 10:55] #2319 closed, assigned to nobody

[2021-09-22 10:57] mjchen1996 opened #2320 "MicrobiomeProfiler"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/YuLab-SMU/MicrobiomeProfiler

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-09-22 16:32] lshep commented on #2279
@gcgreenberg Could you please respond to Pete's comment above?

[2021-09-22 18:00] gcgreenberg commented on #2279
Yes, sorry about the delay.
It is true that some of the datasets were previously published (as annotated in the package) and are partly available from a number of Bioconductor packages already. However, here we aimed to share a complete collection of data sets generated on full-length and 3’-end 10X single cell platforms processed by a unified filtering to enable a fair side-by-side comparison of

[2021-09-22 18:31] #2295 closed, assigned to nobody

[2021-09-22 18:43] lshep commented on #2263
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/KlausVigo.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-09-22 18:43] #2263 closed, assigned to jianhong

[2021-09-22 18:43] lshep commented on #2217
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/OmarAshkar.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-09-22 18:43] #2217 closed, assigned to vjcitn

[2021-09-22 18:43] lshep commented on #2206
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/J0bbie.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2021-09-22 18:43] lshep commented on #2176
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nttvy.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-09-22 18:43] #2206 closed, assigned to hpages

[2021-09-22 18:43] #2176 closed

[2021-09-22 18:43] lshep commented on #2131
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/tianwei-yu.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-09-22 18:43] #2131 closed

[2021-09-22 18:43] lshep commented on #2217
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/OmarAshkar.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-09-22 18:43] lshep commented on #2176
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nttvy.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-09-22 18:52] bschilder commented on #2225
@lshep this is now done

[2021-09-22 21:01] #1792 closed

[2021-09-22 21:05] lshep commented on #2238
Please trigger another run by pushing a version bump to the git.bioconductor.org repository as described https://github.com/Bioconductor/Contributions/issues/2238#issuecomment-910543089

[2021-09-22 21:05] mrbakhsh commented on #2230
Hi @lshep, I have addressed the minor comments. Please let me know if you need anything further for the submission.

Thank you

[2021-09-22 21:52] alexchwong commented on #2293
Hi there,

The errors on R cmd check is due to tests failing. These tests check whether the queried data exists on AnnotationHub / ExperimentHub and are probably failing because these are not yet available.

I have already uploaded the requisite files to S3 bucket and provided the required metadata.csv which is included with this package. However, the data does not seem to have been included yet.

[2021-09-22 22:46] a-mahdipour opened #2321 "sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-09-22 22:50] a-mahdipour commented on #2321
[sciCNV-master (2).zip](https://github.com/Bioconductor/Contributions/files/7214258/sciCNV-master.2.zip)

[2021-09-22 22:51] alimahdipour commented on #2321
1.

[2021-09-23 12:48] nilseling commented on #2280
Hi @nturaga,

I'm currently on holidays and won't be able to commit changes for the next 10 days. Afterwards, I'll reduce the number/complexity of unit tests to push the build time under 10 minutes.
Best,

Nils

[2021-09-23 13:08] wenjie1991 opened #2322 "CellBarcode"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wenjie1991/CellBarocde

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-09-23 13:56] atuldeshpande commented on #2272
Hi @hpages, we made a couple of minor edits in our `DESCRIPTION` file amounting to the following:
[code]
I was wondering if it would be OK to wait for your review comments to push the next version?

[2021-09-23 17:37] cameronsevern opened #2323 "(inactive) pairkat"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Ghoshlab/pairkat

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the _B

[2021-09-23 17:37] #2323 closed, assigned to nobody

[2021-09-23 17:51] cameronsevern opened #2324 "pairkat"
Update the following URL to point to the GitHub repository of
the package you wish to submit to Bioconductor

Repository: https://github.com/Ghoshlab/pairkat
Confirm the following by editing each check box to '[x]'

[x ] I understand that by submitting my package to Bioconductor,
the package source and all review commentary are visible to the
general public.

[x ] I have read the Bioconductor Pack

[2021-09-23 22:22] #2322 closed, assigned to nobody

[2021-09-23 22:23] wenjie1991 opened #2325 "(inactive) CellBarocde"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wenjie1991/CellBarocde

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-09-23 22:23] #2325 closed, assigned to nobody

[2021-09-23 22:25] wenjie1991 opened #2326 "CellBarcode"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wenjie1991/CellBarcode

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-09-23 22:42] PeteHaitch commented on #2279
Thanks for the clarification, @gcgreenberg (and the `cellmix` dataset sounds interesting for benchmarking!)
If it's not there already, I suggest adding this rationale to the package documentation.

I do have a couple of follow ups:

1. You mention 'unified filtering' of the datasets and I see a text description of that procedure in https://github.com/gcgreenberg/benchmark.data.scRNAseq/blob/main/i

[2021-09-24 08:31] lazappi commented on #2266
Hi @taiyunkim

Thanks for your response. Most of this looks pretty good. I have a few more comments but hopefully they are fairly quick to address.

* There are still a couple of notes from **{BiocCheck}** that I think you can look at addressing (feel free to reply if you have a good reason for not changing these)
  * Usage of `<<-` in `multiAdaSampling()`. This can be avoided but returning `X` an

[2021-09-24 10:46] m-swirski opened #2327 "(inactive) RiboCrypt"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Miswi/RiboCrypt

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bi

[2021-09-24 10:46] #2327 closed, assigned to nobody

[2021-09-24 11:12] m-swirski opened #2328 "RiboCrypt"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/m-swirski/RiboCrypt
Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2021-09-24 12:35] const-ae commented on #2262
Hi sorry for the silence.

Yeah, tbh I am not super happy with the name either. My thought process for choosing _transformGamPoi_ is that the verb relates to [_sctransform_](https://CRAN.R-project.org/package=sctransform) which is closely related to my package. The noun _GamPoi_ is indeed partially motivated to not just limited the application to single-cell data. However, the bigger motivation is

[2021-09-24 12:52] ElkeDebrie opened #2329 "(inactive) TargetDecoy"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/statOmics/TargetDecoy

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-24 12:52] #2329 closed, assigned to nobody

[2021-09-24 12:57] ElkeDebrie opened #2330 "(inactive) TargetDecoy"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/statOmics/TargetDecoy

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-24 12:57] #2330 closed, assigned to nobody

[2021-09-24 12:59] lshep commented on #2330
Can you please try using a single line for biocViews?

[2021-09-24 13:04] ElkeDebrie opened #2331 "TargetDecoy"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/statOmics/TargetDecoy

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-24 14:41] lshep commented on #2230
Thank you.

[2021-09-24 14:53] lshep commented on #2267
We highly recommend the refactoring and simplifying of code; I strongly encourage to implement this as stated in a future update to the package as it will help with bugs and maintainability.

[2021-09-24 18:43] lshep commented on #2183
Thank you for the changes thus far.  A few more comments/concerns/questions:

- [ ] Your main function `genomeDerivedFeatures` is not interactively run once in either the man pages or the vignette.  This is very problematic in that there is no current way to interactively tell if the function is functioning properly.  It should be run at least once somewhere in the code. Similarly for `sampleSeque

[2021-09-24 20:58] LiNk-NY commented on #2155
Hi Jean-Philippe, @Jfortin1

I don't think there is an easy way to circumvent building the conda environments.
We want the code to be testable and not running the code can cause a lot of problems
for users if the code is not tested.
I will get back to you on this.

Best regards,
Marcel

[2021-09-24 22:07] LiNk-NY commented on #2283
Hi Pierrick, @pkrog

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# biodbChebi #2283

* Perhaps the package can benefit from an API layer that avoids using
`chebi$X`?

## DESCRIPTION

* Please keep the `Description` field at maximum 80 character width.
* Looks good.

## NAMESPACE

* Looks good.

## vignettes

* Please update the vignette to use the proper

[2021-09-25 00:23] LiNk-NY commented on #2292
Hi Xutao, @xutao-wang

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# curatedTBData #2292

* Please reduce the size of the repository. Currently it sits at 3.6 Gb. Use
the BFG repo cleaner and notify us after to re-clone.

## DESCRIPTION

* Consider using the native pipe `|>` to avoid the `magrittr` dependency.
* Looks good.

## NAMESPACE

* Looks concise

[2021-09-25 00:52] LiNk-NY commented on #2314
Hi Nikolas, @nikopech

Thank you for your submission. Please see the comments below.

Best regards,
Marcel

---

# lineagespot #2314

* Please explain how you leverage and integrate with the Bioconductor
ecosystem in `lineagespot`.
* See https://bioconductor.org/developers/how-to/commonMethodsAndClasses/
* Consider submission to CRAN.

[2021-09-25 22:46] igunduz opened #2332 "deconvR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BIMSBbioinfo/deconvR
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-09-26 11:25] ruqianl opened #2333 "(inactive) comapr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ruqianl/comapr
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2021-09-26 11:25] #2333 closed, assigned to nobody

[2021-09-26 11:35] ruqianl opened #2334 "(inactive) comapr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-09-26 11:35] #2334 closed, assigned to nobody

[2021-09-26 11:36] ruqianl opened #2335 "comapr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ruqianl/comapr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-09-26 15:16] Linlab-slu opened #2336 "(inactive) resubmission of TSSr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2021-09-26 15:16] #2336 closed, assigned to nobody

[2021-09-26 15:18] Linlab-slu opened #2337 "(inactive) TSSr submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Linlab-slu/TSSr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-09-26 15:18] #2337 closed, assigned to nobody

[2021-09-27 04:47] taiyunkim commented on #2266
Hi @lazappi,

Thank you for the prompt response and suggestions. I have revised the package to address your comments and feedbacks.

Below are detailed comments to your feedbacks.

I am not sure if I completely understand your suggestion. I did remove `<<-` in the `XY_update` for this version, but I cannot think of a solution to remove `<<-` inside `iteration` lapply without using `for loop`. This

[2021-09-27 07:09] iofeidis commented on #2267
Thank you @lshep for reviewing our package!

We will work into refactoring the codebase as stated.

Regarding the package itself, how can a user now install `tripr` through `BiocManager`?

[2021-09-27 07:44] lazappi commented on #2266
Thanks for pointing this out, I can see the issue now I have looked more closely at the code. In this case a for loop is probably a good choice for the model training loop. I'll leave it up to you whether to switch to that or keep what you have now (just comment to let me know). Sorry for making you go back and forth on this!

[2021-09-27 13:16] lshep commented on #2267
In a few days the package will be added to the daily manifest and build on the daily builder; once it builds on the daily builder it will be available through BiocManager

[2021-09-27 14:10] leejs-abv opened #2338 "ggmanh"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/leejs-abv/ggmanh

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2021-09-27 14:18] cpanse opened #2339 "MsBackendRawFileReader Public"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/fgcz/MsBackendRawFileReader

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have re

[2021-09-27 14:31] jkanche commented on #2104
@nturaga this should be ready for review.

[2021-09-27 15:15] LeireAbarrategui commented on #2294
AdditionalPackage: https://github.com/LeireAbarrategui/epimutacionsData

[2021-09-27 15:52] vjcitn commented on #2294
epimutacions has very large files in inst/extdata.  They have to come out before processing can proceed

[2021-09-27 17:40] jianhong commented on #2318
# Package ggmsa

The package is in pretty good shape.
There are some minor issues need to be addressed.

## General package development

- [ ] Cannot determine whether maintainer is subscribed to the bioc-devel mailing list (requires admin credentials). Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel

- [ ] Please include Bioconductor installation instructions using BiocManager in

[2021-09-27 19:16] PGangras commented on #2256
@vjcitn
Hello, Hope you are doing well! Sorry to bother you but I was wondering if there is any update regarding the review since tomorrow it will be 5 weeks since I submitted the package and the deadline for the BioC release is fast approaching.
Thank you for your time,
Pooja.

[2021-09-27 20:00] vjcitn commented on #2256
It isn't easy for me to review.  You are using msa, which is throwing
[code]
Do you really need this package imported?  I will work on surfaltr in time for release.

[2021-09-27 20:02] vjcitn commented on #2256
I know that is only a note.  But it is troubling.  And I can't install msa on M1 mac.

[2021-09-27 20:11] vjcitn commented on #2328
[code]
Please check your package.

[2021-09-27 20:11] vjcitn commented on #2328
Do you really need to construct a TxDb object in the vignette?

[2021-09-27 20:56] PGangras commented on #2256
Thank you for your prompt response. I am sorry to hear that surfaltR has not been easy to review. Is it due to the msa installation issue? I have been able to install it on Linux and Windows machines but do not have access to a mac to test installation. I also came across this stack exchange post which describes this NOTE being an issue for several packages (https://stackoverflow.com/questions/644

[2021-09-27 21:16] lshep commented on #2321
Your package must be in github and have a valid github link

[2021-09-27 21:16] #2321 closed, assigned to nobody

[2021-09-27 21:50] abodein commented on #2204
Hello @lshep,

Thank you for the review of our package.
Almost all comments have been addressed.
We have commented on the remarks for which we could not answer.
Please see the remarks below.

[2021-09-27 22:33] a-mahdipour opened #2340 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-09-27 22:33] #2340 closed, assigned to nobody

[2021-09-27 22:37] a-mahdipour opened #2341 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-09-27 22:37] #2341 closed, assigned to nobody

[2021-09-28 02:39] taiyunkim commented on #2266
Hi @lazappi ,

Thanks for this. I have changed back to a `for loop` for iterative model training and prediction.

Best,
Taiyun

[2021-09-28 07:29] lazappi commented on #2266
Looks good 🎉! I'll approve this now but it can take a few days (should be less than a week) to be picked up by the build system.

[2021-09-28 09:01] pkrog commented on #2283
Hi @LiNk-NY ,

Please find my answers below.

The R6 OOP model, is the one used inside Bioconductor *biodb* package, so this is the same inside *biodbChebi*, which is just a *biodb* extension.
So, no, there will not be an flat API for *biodbChebi*.

Have the rules changed ? My *biodb* package has a description field of 470 characters and gave no issues. I remember on the contrary that BiocCheck co

[2021-09-28 10:30] Roleren commented on #2328
It is a very small sample gtf, so takes just a few milliseconds to create.

The problem here was the new caller_env we added using rlang, pushing a fix now.

[2021-09-28 11:19] m-swirski commented on #2328
caller_env is fixed now.

[2021-09-28 12:24] oksankas commented on #2282
AdditionalPackage: git@git.bioconductor.org:packages/synaptome.db

[2021-09-28 13:10] jianhong commented on #2318
Could you please answer the review line by line to speed up the process when you are ready.

[2021-09-28 13:18] jianhong commented on #2294
Please subscribe the develop mailing list and bump the version. Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel

[2021-09-28 13:22] jianhong commented on #2285
Please fix the errors and warnings to meet the requirement of review process. If you need any help, please let me known or ask help in develop mailing list.

[2021-09-28 13:23] jianhong commented on #2335
Please fix the errors and warnings to meet the requirement of review process. If you need any help, please let me known or ask help in develop mailing list.

[2021-09-28 13:25] jianhong commented on #2275
Please fix the errors and warnings to meet the requirement of review process. If you need any help, please let me known or ask help in develop mailing list.

[2021-09-28 13:50] pkrog commented on #2285
Hi @jianhong ,
Yes, thanks, I'm on it. Just met a strange connection error to the Uniprot database that happens only on Windows.

[2021-09-28 13:56] nyzhoulang commented on #2318
Dear Jianhong,

Thanks for the reminder.  Actually, I have only  completed part of the review at  present.

I will report them in the above manner when I am fully prepared.

Kind regards,
Lang

[2021-09-28 18:14] hpages commented on #2262
Thanks guys for explaining.

I realize now that the `Preprocessing` and `Normalization` views (which are both under the [`WorkflowStep`](https://bioconductor.org/packages/release/BiocViews.html#___WorkflowStep) view) are leaf views. This suggests that adding `VarianceStabilization` as a subview of `Preprocessing` would take us to a level of refinement that we are not used too, so maybe not this ti

[2021-09-28 22:31] marouenbg commented on #2238
Hi @lshep, sorry for bothering your again. I pushed to bioconductor git (git@git.bioconductor.org:packages/netZooR.git) but I did not receive any feedback from the test server.

[2021-09-29 00:58] ruqianl commented on #2335
Hi @jianhong ,

Thanks, I have fixed the warnings, but having some issues pushing to the bioc.git repo. I'm having the errors:

[code]

I could pull/fetch from `git@git.bioconductor.org:packages/comapr` but not able to push.
I notice that it is printing my previous github username `Rachael-rq` which was changed to `ruqianl`, not sure if that has something to do with it.

I logged into the BiocCred

[2021-09-29 05:09] alexchwong commented on #2293
AdditionalPackage: https://github.com/alexchwong/NxtIRFcore

[2021-09-29 05:11] alexchwong commented on #2293
Please note that NxtIRFcore depends the NxtIRFdata package. It will not pass R CMD CHECK unless NxtIRFdata package is available.

[2021-09-29 07:05] stemangiola commented on #2299
Hello @lshep ,

I have fixed the repo, including rewriting the history to delete the files in the git that produce the failure in the check

[code]

I am trying to push to upstream forcing (because of the history change) however Bioconductor does not let me do

[code]

[code]

Could you please advise? Maybe we can start over?

[2021-09-29 09:53] npechl commented on #2314
Hi @LiNk-NY,

Thank you for your comments.

The main goal of `lineagespot` is to support the identification and quantification of SARS-CoV-2 lineage from wastewater samples using NGS data. As such, it is already used as part of a larger computational pipeline that produces the VCF files (used as examples here). In this context, we believe that it fits well within the BioConductor ecosystem, as it

[2021-09-29 09:57] lianos opened #2342 "sparrow"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/lianos/sparrow

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2021-09-29 10:32] hwarden162 opened #2343 "(inactive) SCEnt"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hwarden162/SCEnt

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _B

[2021-09-29 10:32] #2343 closed, assigned to nobody

[2021-09-29 11:27] LeireAbarrategui commented on #2294
Hello, my package Imports some packages that are only available on GitHub.  Is there any possibility of adding them?

Thank you

Leire

[2021-09-29 14:23] mcalgaro93 opened #2344 "benchdamic"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mcalgaro93/benchdamic

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-29 14:55] bioinformatic-seragnoli opened #2345 "BOBaFIT package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/bioinformatic-seragnoli/BOBaFIT

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I hav

[2021-09-29 15:10] YagmurSimsekk opened #2346 "miaSim"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/microbiome/miaSim

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2021-09-29 19:23] xiuyuma opened #2347 "(inactive) scDDboost"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wiscstatman/scDDboost

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read t

[2021-09-29 19:23] #2347 closed, assigned to nobody

[2021-09-29 19:29] xiuyuma opened #2348 "(inactive) scDDboost"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wiscstatman/scDDboost

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read t

[2021-09-29 19:29] #2348 closed, assigned to nobody

[2021-09-29 19:41] xiuyuma opened #2349 "scDDboost"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wiscstatman/scDDboost

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read t

[2021-09-29 21:43] jianhong commented on #2294
Currently remote package are not allowed.
See: https://contributions.bioconductor.org/description.html?q=Remotes#depends-imports-suggests-enhances
Please try to submit the remote package also. If they are not essential,  you may want to put them as download if needed.

[2021-09-29 21:46] jianhong commented on #2335
Please ask help from Nitesh Turaga ( @nturaga ) at Bioc-devel mailing list.

[2021-09-29 21:49] jianhong commented on #2285
Try to write an error handler for that part and cross your finger for a good luck for next build.

[2021-09-29 22:16] millerh1 opened #2350 "RLHub"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bishop-Laboratory/RLHub

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2021-09-29 22:21] vjcitn commented on #2350
Please enhance the description by mentioning R-loop genomics in the DESCRIPTION for
the poor soul who does not know what RLBase is.

[2021-09-29 22:39] millerh1 commented on #2350
@vjcitn Thank you for pointing this out! I have now updated the `DESCRIPTION` to be more informative.

[2021-09-30 04:32] ruqianl commented on #2335
Thanks @jianhong and @nturaga . The access issue had been resolved.

[2021-09-30 08:08] Codezy99 opened #2351 "cliProfiler"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Codezy99/cliProfiler

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-30 08:41] pkrog commented on #2285
The error has been solved inside package `biodb` 1.1.9 which should be built this evening (Paris time). Then I will run check on `biodbUniprot` locally and push a new version.

[2021-09-30 12:44] mikelove opened #2352 "nullrangesData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nullranges/nullrangesData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-09-30 15:32] adeschen opened #2353 "(inactive) CNVMetrics"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/KrasnitzLab/CNVMetrics

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-09-30 15:32] #2353 closed, assigned to nobody

[2021-09-30 15:42] adeschen opened #2354 "CNVMetrics"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/KrasnitzLab/CNVMetrics

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2021-09-30 16:08] stankiewicz565 opened #2355 "(inactive) stankiewicz565 / gwascatData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have

[2021-09-30 16:08] #2355 closed, assigned to nobody

[2021-09-30 16:45] stankiewicz565 opened #2356 "ontoProcData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stankiewicz565/ontoProcData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2021-09-30 18:14] JasonWReeves opened #2357 "GeoMxWorkflows"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/GeoMxWorkflows

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I

[2021-09-30 18:16] mdozmorov commented on #2269
Does the "Warnings" label prevent the review? From previous experience, it wasn't a problem, but I want to make sure it's not the reason for the delay.

[2021-09-30 18:59] gcgreenberg commented on #2279
Many thanks for your feedback and suggestions. We aim to provide full reproducibility, so will be making available a github repo with code we used to create results alongside the manuscript. This contains also the filtering we had applied across data sets. However, at the time of download, we used different database/webpage sources, not the listed Bioconductor packages, and these exact sources wil

[2021-09-30 20:10] devonjkohler opened #2358 "(inactive) MSstatsLiP"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Vitek-Lab/MSstatsLiP

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-30 20:10] #2358 closed, assigned to nobody

[2021-09-30 20:13] devonjkohler opened #2359 "MSstatsLiP"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Vitek-Lab/MSstatsLiP

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-30 22:04] FerreiraAM opened #2360 "CyTOFpower"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/FerreiraAM/CyTOFpower

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2021-09-30 22:32] millerh1 commented on #2350
I have also just updated the `man/` pages with significantly more detail and bumped the version.

[2021-10-01 00:13] PeteHaitch commented on #2279
Thanks, @gcgreenberg.
I'll leave it to @lshep, who's a member of the core Bioconductor team, to advise.

[2021-10-01 07:14] mfansler opened #2361 "txcutr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mfansler/txcutr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2021-10-01 09:14] LeireAbarrategui commented on #2294
AdditionalPackage: https://github.com/LeireAbarrategui/epimutacionsData

[2021-10-01 12:22] gdevailly opened #2362 "epistack"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/GenEpi-GenPhySE/epistack

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2021-10-01 12:46] mikelove commented on #2352
AdditionalPackage: https://github.com/nullranges/nullranges

[2021-10-01 13:30] schifferl opened #2363 "(inactive) tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 13:30] #2363 closed, assigned to nobody

[2021-10-01 13:38] schifferl opened #2364 "(inactive) tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 13:38] #2364 closed, assigned to nobody

[2021-10-01 13:39] schifferl opened #2365 "(inactive) tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 13:39] #2365 closed, assigned to nobody

[2021-10-01 13:55] schifferl opened #2366 "(inactive) tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 13:55] #2366 closed, assigned to nobody

[2021-10-01 13:57] schifferl opened #2367 "(inactive) tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 13:57] #2367 closed, assigned to nobody

[2021-10-01 13:59] schifferl opened #2368 "(inactive) tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 13:59] #2368 closed, assigned to nobody

[2021-10-01 14:09] schifferl opened #2369 "(inactive) tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 14:09] #2369 closed, assigned to nobody

[2021-10-01 14:14] schifferl commented on #2369
@LiNk-NY can you help? My [DESCRIPTION](https://github.com/schifferl/tuberculosis/blob/master/DESCRIPTION) file has the biocViews field with valid biocViews terms. No matter what I try the `bioc-issue-bot` rejects the package. `R CMD build`, `R CMD check`, and `BiocCheck()` all have no issues.

[code]

[2021-10-01 14:30] vjcitn commented on #2369
In all the examples I looked at the biocViews field is not broken over lines.  Did you try

biocViews: ExperimentHub, ExpressionData

that would suffice for a start, you could then elaborate it later?

[2021-10-01 14:34] rcastelo commented on #2213
Hi @lshep a week ago we received the notification above on the acceptance of the package, but so far it doesn't seem to part of the nightly builds yet. I guess this will happen at some point, but one question, can we push changes to git.bioconductor.org:packages/atena ? if yes, could i be added to have permissions to push changes as well?

thank you!!
robert.

[2021-10-01 14:41] olapuentesantana opened #2370 "(inactive) easierData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/olapuentesantana/easierData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2021-10-01 14:41] #2370 closed, assigned to nobody

[2021-10-01 14:50] olapuentesantana opened #2371 "(inactive) easierData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/olapuentesantana/easierData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2021-10-01 14:50] #2371 closed, assigned to nobody

[2021-10-01 15:17] olapuentesantana opened #2372 "(inactive) easierData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/olapuentesantana/easierData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2021-10-01 15:17] #2372 closed, assigned to nobody

[2021-10-01 15:22] olapuentesantana opened #2373 "(inactive) easierData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/olapuentesantana/easierData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2021-10-01 15:22] #2373 closed, assigned to nobody

[2021-10-01 15:38] olapuentesantana opened #2374 "easierData"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/olapuentesantana/easierData

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2021-10-01 15:47] olapuentesantana commented on #2374
I am tagging @federicomarini, @arsenij-ust, @FFinotello and @eduati as co-authors for this package. Now waiting for a `review in progress` tag to submit `easier` package

[2021-10-01 16:53] eolagbaju commented on #2270
Thanks very much Marcel, for taking the time to review our package ODER. We appreciate your helpful points and have attempted to address them all - see responses below:

**DESCRIPTION**

- update or remove field version in Depends: R (>= 2.10)

We tried removing the field entirely but unfortunately this generated the error below. Checking, it looks as though `usethis::use_data()` [automatically ad

[2021-10-01 17:21] schifferl opened #2375 "tuberculosis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/schifferl/tuberculosis

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2021-10-01 17:22] millerh1 commented on #2350
Currently waiting on an `awaiting moderation` tag.

Also, I am submitting an adjoining software package: https://github.com/Bishop-Laboratory/RLSeq

[2021-10-01 17:23] LiNk-NY commented on #2369
I don't see anything wrong with the field and I was able to read it in with `read.dcf`.

[code]
Perhaps it is a side effect of the code that was updated recently to check this field?
I can't locate it right now. I will ask Lori when she gets back.

[2021-10-01 17:23] schifferl commented on #2369
Hi @vjcitn, that did it; now awaiting review as #2375. Thanks

[2021-10-01 19:08] schifferl commented on #2375
Some biocViews had to be removed to make the `bioc-issue-bot` accept the package, they were added back after the comment above.

The DESCRIPTION file for this package is:

[code]

[2021-10-01 19:14] tghosh30 opened #2376 "cytoKernel"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Ghoshlab/cytoKernel

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-01 19:36] nyzhoulang commented on #2318
Dear Jianhong,
Here is a summary of the changes. Thank you!

Done.  I am sure that I subscribed to the bioc-devel mailing list.

Yes,  added.

Done.

Done, fixed the version number in `News` file.

Yes, I added documentation for all raw data in  `inst/extdata/`

Done

 Done. I removed all rmd files from  `vignettes/guides` and build them on my `gh-pages` branch individually.

Done, ` VignetteIndex

[2021-10-01 19:56] LiNk-NY commented on #2375
Perhaps it's tripping up because there is no biocView on the same line as `biocViews: ` but `biocViews: x, y` works.
Thanks for the update Lucas.

[2021-10-01 22:37] zhiiiyang opened #2377 "GeoDiff"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Nanostring-Biostats/GeoDiff

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have re

[2021-10-02 00:46] vjcitn commented on #2267
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/iofeidis.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-02 00:46] vjcitn commented on #2266
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/taiyunkim.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-02 00:46] #2267 closed, assigned to lshep

[2021-10-02 00:46] vjcitn commented on #2262
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/const-ae.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-02 00:46] #2266 closed, assigned to lazappi

[2021-10-02 00:46] vjcitn commented on #2230
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mrbakhsh.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-02 00:46] #2262 closed, assigned to hpages

[2021-10-02 00:46] vjcitn commented on #2225
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/bschilder.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-02 00:46] #2230 closed, assigned to lshep

[2021-10-02 00:46] vjcitn commented on #2213
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/beacalvo.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-02 00:46] #2225 closed, assigned to lshep

[2021-10-02 00:46] #2213 closed, assigned to lshep

[2021-10-02 02:50] ncrna opened #2378 "(inactive) Yeskit"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ncrna/Yeskit

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2021-10-03 02:40] xutao-wang commented on #2292
Dear Marcel, @LiNk-NY

Thank you for your helpful suggestions!
I have reduced the package size and modified package based on your comments. Can you help me to re-clone the repository?

Thanks,
Xutao

[2021-10-04 08:43] olapuentesantana commented on #2374
Hello @mtmorgan,

I was wondering if the "review in progress" tag isn't assigned before the issue closed, are we going to still be able to submit our software package `easier` (https://github.com/olapuentesantana/easier)?

[2021-10-04 08:48] olapuentesantana commented on #2374
AdditionalPackage: https://github.com/olapuentesantana/easier

[2021-10-04 10:03] dzhang32 commented on #2270
Hi @LiNk-NY,

I am an co-author of ODER and had a couple of questions regarding the package submission:

- @eolagbaju is moving on from our lab and the responsibility of maintaining ODER will fall to me. In this case, would it be possible to also allow me commit/push permissions for ODER on the BBS?
- We have pushed some changes to ODER last Friday (commit id: 9a969a6da7a3754222d5f9c514aa60710a42f

[2021-10-04 13:10] Roleren commented on #2328
A question, we have been pushing fixes to:
git@git.bioconductor.org:packages/RiboCrypt.git

But the changes have not propagated to bioconductor,
and the bot above says push to:
git@git.bioconductor.org:packages/RiboCrypt
(Without .git in the end)

Does this matter ? As the submission tutorial states we must add .git in the end.

[2021-10-04 13:46] tomoyukif opened #2379 "(inactive) GBScleanR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tomoyukif/GBScleanR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-04 13:46] #2379 closed, assigned to nobody

[2021-10-04 13:57] tomoyukif opened #2380 "GBScleanR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/tomoyukif/GBScleanR

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the

[2021-10-04 15:44] lshep commented on #2352
@mikelove  hey sorry I was away on vacation last week the SPB auto messages stopped working while I was gone.  Before we moderation the issues can you make sure to update the descriptions to be  x.99.z format.  Bioconductor assumes the y=99 and won't process otherwise.

[2021-10-04 15:51] lshep commented on #2356
hey sorry I was away on vacation last week the SPB auto messages stopped working while I was gone. Before we moderation the issues can you make sure to update the descriptions to be x.99.z format. Bioconductor assumes the version number in x.y.z format please instead of just 0.99 (0.99.0)

[2021-10-04 15:52] lshep commented on #2356
Please comment back here when it has been corrected to proceed

[2021-10-04 15:52] lshep commented on #2352
just comment back here when it is corrected and I will proceed

[2021-10-04 16:06] mikelove commented on #2352
Thanks for your time @lshep.

Ok got it, I just pushed a bump to *nullrangesData* to be 0.99.1.

Just a note: the data package and *nullranges* both depend on Ehub submissions, I just pinged the email thread. I'll quickly add back in all the examples/eval=TRUE the vignette chunks once the experiment data is online.

[2021-10-04 16:23] stankiewicz565 commented on #2356
Hello Ishep,
I have changed the version of ontoProcData to 0.99.0 on my github account.
Do I need to resubmit or is this good enough?

On Mon, Oct 4, 2021 at 11:52 AM lshep ***@***.***> wrote:

--
Sincerely,
Sara Stankiewicz

--
The information in this e-mail is intended only for the person to whom it
is
addressed. If you believe this e-mail was sent to you in error and the
e-mail
contains patient

[2021-10-04 16:45] millerh1 commented on #2350
AdditionalPackage: https://github.com/Bishop-Laboratory/RLSeq

[2021-10-04 17:54] mfansler commented on #2361
Hi @jianhong and thanks for reviewing!

The tests all passed on Linux under time. The Windows build seems to take unexpectedly longer on the unit tests (90s on Linux; > 513s on Windows). Is that typical? While the R CMD CHECK on GitHub Actions does run slightly longer on Windows, it never took 5 times as long (see [recent result](https://github.com/mfansler/txcutr/actions/runs/1294083466)).

I'm n

[2021-10-04 22:22] jianhong commented on #2318
Please double check the email you used in the authors list is subscribed to the bioc-devel mailing list. Others look great to me.

[2021-10-05 02:24] PeteHaitch commented on #2378
Hi @ncrna,

You write in the `DESCRIPTION` that **Yeskit** "obeys the default data structure of Seurat".
However **Seurat** is not a Bioconductor package and the preferred/supported data structure for single-cell data in Bioconductor is the [_SingleCellExperiment_](https://bioconductor.org/packages/SingleCellExperiment/) class.
For **Yeskit** to be included in Bioconductor, I think it would need t

[2021-10-05 03:36] HaniJieunKim commented on #2284
Hi @hpages.

Thank you so much for reviewing our package! Please let us know if you require any additional information and I look forward to your suggestions.

Best wishes,
Hani

[2021-10-05 08:39] nturaga commented on #2185
Hi @HetzDra Any updates on your package?

I'm closing the issue because of inactivity. Please reopen when you find time to correct the issues I pointed out. Please leave a point-by-point summary.

There is no trouble in closing and reopening an issue. It'll still be part of the submission process. We give authors about 21 days to get back to us with a response.

[2021-10-05 08:39] #2185 closed, assigned to nturaga

[2021-10-05 09:06] HetzDra commented on #2185
Dear @nturaga,

for the mentioned changes unfortunately a big restructuring of the code is necessary, for which I need some time. As soon as the package is ready for release, I will upload it for further evaluation.

Best regards,
HetzDra

[2021-10-05 10:26] nyzhoulang commented on #2318
Thanks,  jianhong

Sure. I have checked the `Bioc-devel` subscribers list.  The email (nyzhoulang@gmail.com) I used in the `authors list` is in the subscribers list.

![image](https://user-images.githubusercontent.com/46915370/136005845-7dff560e-f0bb-4a54-a2ca-331670a90e1c.png)
![image](https://user-images.githubusercontent.com/46915370/136006074-a1132f75-3d9b-4b9f-87cd-a58a2b2443ec.png)

[2021-10-05 11:29] olapuentesantana commented on #2374
Hello,

`easier` led to the following error in R CMD check in merida1 and riesling1, but not in nebbiolo2. Please, could you help us to gain a better understanding of this error?

`checking examples ... ERROR TIMEOUT: R CMD check exceeded 14 mins
`
Thanks,
Oscar

[2021-10-05 12:29] lshep commented on #2356
that is good enough -- I will work on processing the package and assigning a reviewer later today.

[2021-10-05 12:30] lshep commented on #2352
@mikelove  that's I'll be looking at adding data to the hub later today.  Don't forget to also change the version number in nullranges as well.

[2021-10-05 12:34] lshep commented on #2299
@nturaga   any suggestions on this?

[2021-10-05 12:52] lshep commented on #2369
sorry everyone -- I'll look at fixing this to be more robust for line breaks

[2021-10-05 12:53] mikelove commented on #2352
Thanks!

Duh, I forgot _nullranges_ 🤦‍♂️ Now both are 0.99.1.

[2021-10-05 13:03] lshep commented on #2269
No it should not prevent review @vjcitn

[2021-10-05 13:09] federicomarini commented on #2374
I think it is just that it took too long to perform `R CMD check` on the builder machine.
No clue why it is only on that one machine (maybe different settings of how long it takes to trigger the timeout?)

[2021-10-05 13:11] vjcitn commented on #2269
Can I ask why there are csv files in /man in this package?

[2021-10-05 13:40] lshep commented on #2064
The next release is fast approaching.  Are there any updates?  We normally like to see progress on packages within 2-3 weeks of the review.

[2021-10-05 13:42] lshep commented on #2238
Can you please try again with an updated version bump? we were having some trouble with the auto build scripts last week that should be remedied

[2021-10-05 13:54] vjcitn commented on #2279
I would concur with Pete's perspective that duplication should be avoided.  I understand that the contributors of this package would like to support reproducibility of a benchmarking publication with an easy-to-use package component.  Ideally this component would be derivable by code from a durable canonical representation.  I am not sure the latter exists, but the Bioconductor scRNAseq package mi

[2021-10-05 14:50] mdozmorov commented on #2269
Some may prefer links to the source files, per @mikelove's suggestion. These tables were originally embedded in Markdown. I can keep csv files only on GitHub, and embed the tables for BioC submission.

[2021-10-05 15:11] vjcitn commented on #2269
It seems to me that if you want to provide CSV data, you could put it in inst/extdata or inst/csv.  I have a feeling this selection of /man as the location has a somewhat involved history -- but I don't know of any other examples of putting csv data in /man.  I see images in /man and I have a recollection that this is a workaround for getting images into the github README.  I don't think the same

[2021-10-05 16:06] vjcitn commented on #2376
This is looking good so far.  BiocCheck complains that the NEWS file is malformed.

I had a look at test coverage:
[code]
Not bad.  I will accept and perhaps in maintenance/enhancements you can find opportunities to improve test coverage.

[2021-10-05 16:08] vjcitn commented on #2187
Have you addressed this?

[2021-10-05 16:27] #2199 closed, assigned to nturaga

[2021-10-05 16:30] lshep commented on #2234
Please correct the ERROR, Warning, and NOTES in this build report: http://staging.bioconductor.org:8000/job/15889/   before @vjcitn  will do a review.

[2021-10-05 16:37] lshep commented on #2250
It seems like this will be reviewed with the associated data package submitted under https://github.com/Bioconductor/Contributions/issues/2282

[2021-10-05 16:37] #2250 closed, assigned to lshep

[2021-10-05 16:40] lshep commented on #2292
@nturaga  I think this needs a reclone on git.bioconductor.org

[2021-10-05 17:02] mikelove commented on #2352
Ok, I've now updated *nullranges* to use the new Ehub packages, should be good to start SPB checks here.

[2021-10-05 18:00] tghosh30 commented on #2376
Thanks @vjcitn. I will keep on improving the test coverage in package maintenance.
Regards,
T

[2021-10-05 18:28] lshep commented on #2361
OSX was on our end. Our machine ran out of space. I'm kicking off a manual build that hopeful should produce results for OSX.

[2021-10-05 19:04] millerh1 commented on #2350
@lshep it appears that the MacOS runner threw an error on `RLSeq` because it couldn't find the adjoining ExperimentHub package.

[code]

Do you have any suggestion about how I should go about resolving this?

[2021-10-05 20:00] LiNk-NY commented on #2270
Hi David, @dzhang32
The first step is to update the `DESCRIPTION` file so that you are listed as the maintainer.
I will check with Lori @lshep  and see what needs to be done on the backend for this change to
proceed.

Note. Updates coming tomorrow.
Best,
Marcel

[2021-10-05 20:20] LiNk-NY commented on #2283
Hi Perrick, @pkrog

Please see the responses below.

Best,
Marcel

---

I am referring to the width limit rather than the character limit.

I disagree. I did not realize that those elements were part of the R6 class because they were not indented.
Ultimately, you will maintain your code but from a reviewer's perspective, the indentation could
use improvement.

The procedures in those functions are

[2021-10-05 21:05] LiNk-NY commented on #2314
Hi Nikolas,
Please use the standard interface for working with vcf objects.
That means using `rowRanges(vcf)`, `fixed(vcf)`, `info(vcf)`, etc. Please do not access slots using `@`.
Also, please use `assays(x)[["AD"]]` instead of `x@assays@data$AD`.
Best,
Marcel

[2021-10-05 21:10] LiNk-NY commented on #2292
Thanks Nitesh and Lori for taking care of this!

I can confirm a reduction of repo size from 3.6 Gb to 1.60 MiB. :heavy_check_mark:

Xutao, @xutao-wang
Please make sure to respond to the review line by line.

Best regards,
Marcel

[2021-10-05 21:53] mfansler commented on #2361
@lshep thanks!

@jianhong is it possible the Windows `R CMD check` is having issues with tests that write files?

[2021-10-05 22:05] alexchwong commented on #2293
Hi @hpages
A "warning" is triggered by R cmd build on Windows due to this:
* building 'NxtIRFcore_0.99.1.tar.gz'
Warning: file 'NxtIRFcore/cleanup' did not have execute permissions: corrected
Warning: file 'NxtIRFcore/configure' did not have execute permissions: corrected

These scripts have "755" permissions and do not trigger warning on linux and MacOS. But I note this occurs in windows because

[2021-10-05 22:35] zhiiiyang commented on #2377
@LiNk-NY, we filed a request to change the maintainer from Lei Y to me. If possible, could you facilitate that process so we can get to the reviewing process soon?

[2021-10-05 23:13] nturaga commented on #2151
# COTAN review

General	comments: Please note the release schedule that is posted here -\
 http://bioconductor.org/developers/release-schedule/.

We'll try to get your package in before	that.

## R CMD build

ok

## R CMD INSTALL

ok

## DESCRIPTION

* ok

## NAMESPACE

ok

## R

* NOTE: Use donttest{} instead of dontrun{}.

* Remove commented out code.

* Use `<-` for assignment and not `=`.

##

[2021-10-05 23:15] nturaga commented on #2214
Hi,

We usually give authors about 21 days to get back to us with replies to the review. I will close this package for inactivity, please open it once you are ready with updates.

It won't stop the process.

General comments: Please note the release schedule that is posted here - http://bioconductor.org/developers/release-schedule/.

[2021-10-06 00:10] xutao-wang commented on #2292
Thank you folks for the help!

Marcel @LiNk-NY, please see below for the respond. I really appreciate your time on reviewing the package, let me know if you have any comments or thoughts!

# curatedTBData

- [x] Please reduce the size of the repository. Currently it sits at 3.6 Gb. Use
the BFG repo cleaner and notify us after to re-clone.
**Answer**: Repository size has been reduced.

# DESCRIPTIO

[2021-10-06 00:30] ZhenxingGuo0015 commented on #2187
Hi @vjcitn,

I'm puzzled that I didn't receive this warning. Is it okay to rewrite and rename some functions, as well as the dataset during the review process?

Thanks

[2021-10-06 01:25] ruqianl commented on #2335
Hi @jianhong,

Do you mind having a look at the error reported on x64 build? I couldn't reproduce the error. The error was triggered on x64 when running the examples for the `combineHapState` function. When I set dontrun{} for this example, the error would be gone.

I'm pretty sure that's related to the `BiocParallele::bpapply` function, but I tested using `SnowParam` on Linux and on my local wind

[2021-10-06 01:44] hpages commented on #2342
Hi Steve, it's been a long time!

Thanks for this new submission. You're apparently aware of the existence of the **BiocSet** package by @Kayla-Morrell, @mtmorgan, @kevinrue, and @llrs. From your vignette (which is very nice):

Any reason why you're not just using that? I'm worried that getting a GeneSetDb-centric **sparrow** into Bioconductor will make a later migration to BiocSet much harder tha

[2021-10-06 01:54] hpages commented on #2222
You've only addressed 1 NOTE out of the 14 NOTEs. Is this the best you can do? I've pointed you to other NOTEs that deserve your attention and should be easy to address. Thanks!

H.

[2021-10-06 02:13] nturaga commented on #2227
# Cogito review

General comments: Please note the release schedule that is posted here - http://bioconductor.org/developers/release-schedule/.

We'll try to get your package in before that.

## R CMD build

ok

## R CMD INSTALL

ok

## DESCRIPTION

* ok

## NAMESPACE

ok

## R

* NOTE: Update R version dependency from 3.5.0 to 4.1.0.

* NOTE: Avoid 'suppressWarnings'/'*Messages' if possible (foun

[2021-10-06 02:35] LiNk-NY commented on #2292
Hi Xutao, @xutao-wang

Thank you for making those changes. The package is looking better!
Please see some responses below.

Best,
Marcel

---

It looks like 'ExperiementHub' is still present. Please change this to 'ExperimentHub'.

This seems to be the case. Thanks for clearing that up.

To keep packages modular, I would recommend that you put your analysis and even graphical functions in separate

[2021-10-06 03:04] nturaga commented on #2252
# mosbi review

General comments: Please note the release schedule that is posted here - http://bioconductor.org/developers/release-schedule/.

We'll try to get your package in before that.

## R CMD build

ok

## R CMD INSTALL

ok

## DESCRIPTION

* ok

## NAMESPACE

ok

## R

- Use the appropriate messages when throwing errors in your functions or try-catch statements. http://bioconductor.org/de

[2021-10-06 04:01] vjcitn commented on #2344
Package is in good shape.  I would propose dealing with some of the output of BiocCheck::BiocCheck() [please run it]
[code]
and then I will accept it.

[2021-10-06 04:03] vjcitn commented on #2187
It is fine to revise during the review.  Maybe the warning is a false positive on my machine.  If you do not see it in the build report maybe it is not an issue.  Try to wrap up, I think the package is in good shape.

[2021-10-06 07:54] llrs commented on #2342
Many thanks for mentioning me but I'm not an author of the package just a contributor on the discussions.

The [Bioconductor common Methods and Classes page](http://bioconductor.org/developers/how-to/commonMethodsAndClasses/) mentions GSEABase classes for gene set, if this is discouraged maybe the website might need to be updated.

Last there is also my package [BaseSet](https://cran.r-project.org

[2021-10-06 08:45] mjchen1996 commented on #2320
Hi, @lazappi , thank you for your assistance. I was just wondering if my package had under review queue?

[2021-10-06 09:06] lazappi commented on #2320
Hi @mjchen1996. As I'm sure you know it's super busy at the moment with everyone trying to get packages accepted for the upcoming release. I think yours is at the top of my list so hopefully not too long.

[2021-10-06 09:10] mjchen1996 commented on #2320
Thank you for your reply.

[2021-10-06 09:39] LeireAbarrategui commented on #2294
Hello,

I am subscribed to bio-devel mailing list but I still have the error saying that I am not subscribed. How can I solve it?

[2021-10-06 10:54] vjcitn commented on #2282
Why has this CMD check event not been addressed?

[code]

[2021-10-06 11:06] lptolik commented on #2282
It was addressed, there was a discrepancy between NAMESPACE and the code, I've cleaned it up.

[2021-10-06 11:41] lshep commented on #2350
If you look at the build report for RLHub it also failed to build. Once the RLHub package builds RLSeq would be able to find it. Let me try to kick off a manual build the mac builders were having some issues this week and I think the original RLHub ERROR was on us.

[2021-10-06 11:53] lshep commented on #2270
@dzhang32  you should now have push access. Let us know if there are any issues.

[2021-10-06 11:59] lshep commented on #2377
@zhiiiyang you should now have access to push changes to git.bioconductor.org for GeoDiff.

[2021-10-06 11:59] mdozmorov commented on #2269
The CSV files are now in inst/extdata. It indeed seems the right place for them, according to https://r-pkgs.org/data.html.

[2021-10-06 12:02] lshep commented on #2350
Manually kicking off RLSeq since RLHub was now successful

[2021-10-06 12:28] millerh1 commented on #2350
@lshep Thank you! I am a bit confused now at the TIMEOUT error -- it only happens on MacOS. Looking at the logs, it looks like MacOS is take 2X as long as run the examples as the other builders.

[2021-10-06 12:30] lshep commented on #2350
I'll look more and review based on the other platforms for now.  In the meantime please try to clean up as many NOTES as possible.  Cheers

[2021-10-06 12:50] lshep commented on #2352
The additional package build report will post shortly

[2021-10-06 13:19] vjcitn commented on #2309
The vignette is very interesting but formatted oddly.  When using markdown outline format, the section titles do not need to include numbers "1.", "2.", letters "a.", "b." and so forth.  If you are already cross-referencing using letters please read up on markdown to standardize the approach.  This is optional but will make for a more attractive vignette.

The auto_crop_fast function is chatty:
[c

[2021-10-06 13:23] vjcitn commented on #2269
did you push revisions and bump version number to
[code]

[2021-10-06 13:32] mdozmorov commented on #2269
I double-checked - I cannot push to https://git.bioconductor.org/packages/excluderanges. The error is:

fatal: remote error: FATAL: W any packages/excluderanges nobody DENIED by
fallthru
(or you mis-spelled the reponame)

I also tried git@git.bioconductor.org:packages/excluderanges.git, and also
rejected

 ! [remote rejected] main -> main (hook declined)
error: failed to push some refs to ***@***.

[2021-10-06 13:36] lianos commented on #2342
Hi Herve!

Thanks for the quick feedback, and yes: has been a very long time!

Yes, I was worried that you would be worried about that :-)

The reason I'm not using that at the moment is that it would take quite a while to refactor and test. There has been a lot of functionality baked into the GeneSetDb class over the years, and I just haven't had the time to check and port over to BiocSet. I do p

[2021-10-06 13:50] pkrog commented on #2283
I still do not understand what you want. Do you want me to write the description field on multiple lines, each with a maximum width of 80 chars?

Sorry, but I'm not going to indent this code. This is my style of coding, I really think it is clearer. What I can do is emphasize the public and private parts of the R6 Class with comment lines like if that can help you :
[code]

This is not difficult.

[2021-10-06 13:56] mikelove commented on #2269
I think this is because GitHub main / Bioc master. Try this:

[code]

this is from the comment in step 5 here: https://bioconductor.org/developers/how-to/git/new-package-workflow/

[2021-10-06 13:58] mdozmorov commented on #2269
Worked like a charm! Didn't know one can match branch names. Thanks, @mikelove

[2021-10-06 14:58] LiNk-NY commented on #2283
Hi Pierrick,

Please see the responses below.

Best regards,
Marcel

---

Sorry if that wasn't clear but yes, that is right. The Description field can span multiple lines to improve readability.

Yes, that would be helpful.

I'm referring to the bodies of the functions and not the functions themselves. It makes sense to create a helper function for a procedure that is repeated in many functions. F

[2021-10-06 15:20] nturaga commented on #2268
# Review

## General

Please note the release schedule that is posted here - http://bioconductor.org/developers/release-schedule/.

We'll try to get your package in before that.

- From build report,

[code]

* NOTE: Usage of dontrun{} / donttest{} found in man page examples.
      2% of man pages use one of these cases.

## Description

- ok

## NAMESPACE

ok

## R

- 4 spaces instead of 2 spaces

[2021-10-06 15:20] vjcitn commented on #2269
Very nice vignette.  But are the download operations in eval=FALSE going to be replaced with Hub operations?  I think we are ready to accept, but BiocCheck complains that too few vignette chunks are evaluated.

[2021-10-06 15:29] kevinrue commented on #2342
Thanks for mentioning me as well @hpages

I also haven't directly contributed to BiocSet, but I have very much appreciated the discussions that ensued from the parallel efforts on [BiocSet](https://bioconductor.org/packages/release/bioc/html/BiocSet.html), [BaseSet](https://cran.r-project.org/web/packages/BaseSet/index.html), and my own [unisets](https://github.com/kevinrue/unisets).
(I haven't pu

[2021-10-06 15:32] vjcitn commented on #2234
I like the vignette but there are too many problems raised in BiocCheck and R CMD check to move forward much, so please address these soon or let us know when you plan to do so.

[2021-10-06 16:02] mdozmorov commented on #2269
Yes, after the files will be added to AHub, I'll update the vignette and the readme to use AHub IDs. Download links will be gone.

[2021-10-06 16:14] vjcitn commented on #2269
Please do make the changes to use hub resources before this is accepted.

[2021-10-06 16:31] mdozmorov commented on #2269
Sent the e-mail to hubs@bioconductor.org, and will make changes asap.

[2021-10-06 16:51] nturaga commented on #2280
# Review

Hi @nilseling This is a very well-written package. I have no issues with it on the surface. Can you issue one more build? And we'll try and get it in today?

[2021-10-06 17:14] zhiiiyang commented on #2377
@lshep, thank you! I have the following error while pushing new changes. Do you possibly know the cause? Do I have write access to the upstream main branch?
![image](https://user-images.githubusercontent.com/7269113/136251848-ee2db43b-d9a4-4843-ac02-982145643c59.png)

[2021-10-06 17:16] lshep commented on #2377
Bioconductor still uses master as the default branch instead of main. try `git push upstream main:master`
   See step 5 of https://bioconductor.org/developers/how-to/git/new-package-workflow/

[2021-10-06 17:18] nilseling commented on #2280
Awesome, thanks @nturaga!

[2021-10-06 17:20] nturaga commented on #2288
Hi @pkrog

Please issue another build, I'd like to see your package build on all three platforms.

[2021-10-06 17:30] lazappi commented on #2276
Hi @mbstadler

Thanks for submitting **monaLisa** :tada:! I think this is a really high-quality package with great documentation and some extensive testing. There are a few things I have found but they should be fairly minor and quick to address.

Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comme

[2021-10-06 17:39] nturaga commented on #2280
Update the version number for a new build.

[2021-10-06 19:18] LiNk-NY commented on #2345
Hi Gaia, @bioinformatic-seragnoli

Thank you for your submission.
Please see the review below.

Best regards,
Marcel

---

# BOBaFIT #2345

## DESCRIPTION

* (optional) Ensure that the DESCRIPTION file fits within an 80-character
width limit.
* Only specify version requirements for packages where you are using a feature
that is not available in the older version of the package, otherwise it is
not

[2021-10-06 19:51] lazappi commented on #2320
Hi @mjchen1996

Thanks for submitting **MicrobiomeProfiler** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# R

[2021-10-06 20:43] lianos commented on #2342
Thanks for your thoughtful commentary, @kevinrue.

Looking a bit more closely at BiocSet, there are areas of clear overlap with the GeneSetDb class I implemented, as well as functionality that is specific to my GeneSetDb class that sparrow relies on internally that I don't yet see has a clear analog for in BiocSet (yet :-).

Hopefully the extra functionality I rely on is useful to the design/imple

[2021-10-06 20:58] xutao-wang commented on #2292
Hi Marcel @LiNk-NY,

Thank you for the prompt response!

The typo has been fixed:
[code]

I think you are right for putting the analysis in a separate place. The analytical functions and examples have been removed from the package.

Please kindly let me know if there is anything else I need to edit.

Best,
Xutao

[2021-10-06 22:05] a-mahdipour opened #2381 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
sciCNV

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  in

[2021-10-06 22:05] #2381 closed, assigned to nobody

[2021-10-06 22:41] hpages commented on #2272
Hi @atuldeshpande ,

Feel free to push any improvements during the review.

4 problems with this man page:

![Screenshot from 2021-10-06 15-27-58](https://user-images.githubusercontent.com/8810451/136292382-4a9a6c03-b023-42ae-a860-e2c0e5488d29.png)

1. The data frame has only 3 variables:
[code]

2.  These variables need to be explained.

3. The colon at the end of

    is followed by... nothing!

[2021-10-07 01:00] alexchwong commented on #2293
Hi @hpages

I tried resolving the execute permissions issue on Windows without much luck. The warning seems to appear regardless of the execute permissions. Please advise if anything more can be done to solve this build warning issue on Windows.

[2021-10-07 03:18] LiNk-NY commented on #2270
Thanks Lori!

@dzhang32 Please bump the version of the package for another build.

[2021-10-07 04:55] mcneilllucy commented on #2309
Hi Vince, thanks very much for your feedback. I can fix these three issues before the weekend. Just to check- is the deadline Monday Oct 11? Or is it a couple of days before to allow you some time to run it again etc.?

[2021-10-07 05:46] millerh1 commented on #2350
Hi @lshep I've made some of the requested changes (tackled most of the NOTEs), but I'm now struggling to clean the pack files since I now have a warning about them. I have no problem removing the problematic files locally (and even no issues pushing these changes to GitHub), but when I try to push to the bioconductor git repo I'm getting permission denied errors.

Here's what I'm trying (using the

[2021-10-07 07:16] annikabuerger commented on #2227
Thank you for your comments. I changed the following:

+   update R version dependency to 4.1.0
+   avoid usage of 'suppressMessages'
+   adding a NEWS file
+   split functions.R into two R files, based on what each function does

I did not find any commented out code, please can you specify your comment regarding this?

[2021-10-07 09:16] mjchen1996 commented on #2320
Hi  @lazappi

Thank you for your assistance. Here is a summary of the changes.

 ## General package development

* [x] 🚨 There are some notes in the build report from `BiocCheck::BiocCheck()`. Please check these and address as many as you can.

  I have tried to remove some notes. Unfortunately, there are still 4 notes.

## DESCRIPTION file

 * [x] 🟢 It is recommended to add ORCiDs to the `Authors

[2021-10-07 09:32] annikabuerger commented on #2227
I am so sorry, I do not understand the error messages regarding "pdfcrop.exe". Could you perhaps help me?

[2021-10-07 10:14] vjcitn commented on #2309
Monday (actually Tuesday as it is a US holiday) is the deadline for changes
to packages in Bioc version 3.13.  The main deadlines
for you, a 3.14 contributor, are Wednesday 13 October (no more API changes)
and 22 October (must pass R CMD check).

On Thu, Oct 7, 2021 at 12:55 AM Lucy McNeill ***@***.***>
wrote:

--
The information in this e-mail is intended only for the person to whom it
is
address

[2021-10-07 11:18] dzhang32 commented on #2270
Thanks a lot @LiNk-NY and @lshep! I have just made a successful push to the BBS.

I have been trying to replicate the Windows-specific `R CMD Check ERROR` on the previous BBS build using GHA, so far without success - will check back to see the build report for this current push and try to address any ERRORs/WARNINGs that arise.

[2021-10-07 11:42] lshep commented on #2350
We don't allow force pushes from maintainer and will need assistance from us.  @nturaga could you help?

[2021-10-07 13:11] pkrog commented on #2283
I've done the corrections, at the exception of the helper functions since it should be written inside the biodb package. I will add an issue about that.

[2021-10-07 14:01] lshep commented on #2269
Please check your metadata.csv file and the files you have uploaded.  I had everything added to the hub and since removed as in testing some of the file names are not matching up. For instance the very first entry the RDataPath excluderanges/ce10.Kundaje.ce10-blacklist.rds  does not match any file uploaded,  I assume this is the uploaded excluderanges/ce10.Kundaje.ce10-Excludable.rds  -- I'm not s

[2021-10-07 14:34] mdozmorov commented on #2269
I'm sorry for the oversight, strange. I re-generated the data from scratch and ensured the file names match entries in the [metadata table](https://github.com/mdozmorov/excluderanges/blob/main/inst/extdata/metadata.csv). Just uploaded the updated data with all file names matched.

![image](https://user-images.githubusercontent.com/864945/136405482-88afb18b-0ec1-4800-8e83-0458781fe7d8.png)

[2021-10-07 14:55] #2210 closed, assigned to LiNk-NY

[2021-10-07 14:59] LiNk-NY commented on #2283
Hi Pierrick, @pkrog
Thanks for making those changes.
Please keep in mind the above bullet point as you continue to improve your package.
Thank you for your contribution.
Best regards,
Marcel

[2021-10-07 15:03] LiNk-NY commented on #2292
Hi Xutao, @xutao-wang
Thanks for making those changes! Your package has been accepted.
Don't forget to submit your analysis and graphing package when ready!
Best regards,
Marcel

[2021-10-07 16:05] LiNk-NY commented on #2270
Hi David, @dzhang32

Thank you for making those changes. See some responses below.

Best,
Marcel

---

This field is a bit cosmetic. The package won't be available for versions < 4.1 when published in Bioconductor due to the natural restrictions imposed by `BiocManager`. I would suggest that your lab members update their version of R to the latest release to stay up to date.

You can leave the lon

[2021-10-07 16:26] dzhang32 commented on #2270
Thanks a lot for your feedback Marcel! All of your points make sense to me and in particular, I hadn't thought of and like the idea of using a collation order - will aim to get these changes implemented and respond in more detail within the next 1-2 days.

[2021-10-07 16:28] a-mahdipour opened #2382 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-07 16:28] #2382 closed, assigned to nobody

[2021-10-07 16:30] a-mahdipour opened #2383 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-07 16:39] marouenbg commented on #2238
It seems that the build was triggered, thank you!

[2021-10-07 16:40] lshep commented on #2238
yep thank you.  it should post shortly.

[2021-10-07 17:14] lshep commented on #2269
The **RDataPath** field has still not been updated.   As pointed out before this is the problematic field and still is.

[2021-10-07 17:29] nturaga commented on #2350
I'm reset the package on git.bioconductor. You should be good to go.

I've noticed your default branch is 'main' on github, it's 'master' at the moment on git.bioconductor. Please take note.

[2021-10-07 17:38] nturaga commented on #2227
@vjcitn Might have an idea about this.

[2021-10-07 17:38] mdozmorov commented on #2269
Should be updated. Lots of renaming has been done, I forgot about the RDataPath field in metadata.

[2021-10-07 17:46] xutao-wang commented on #2292
Thank you for your help, Marcel! @LiNk-NY

Best,
Xutao

[2021-10-07 17:55] vjcitn commented on #2227
On my mac we have the following from the built vignette of current Cogito checkout:
[code]
Now it turns out that summarizeRanges() produces a full pdf document.  This is highly nonstandard behavior.  Clearly it is "legal" but we don't have experience dealing with the consequences.  I suggest you remove the call from your vignette -- I would just narrate the behavior.  I think what is happening is

[2021-10-07 18:10] lazappi commented on #2297
Hi @jfanglovestats

Thanks for submitting **CDI** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

**Ke

[2021-10-07 18:32] mfansler commented on #2361
@jianhong @lshep do I need to resolve this timeout issue before a review will be done?

[2021-10-07 18:43] jfanglovestats commented on #2297
Hi Luke,

Thanks for your detailed comments. I will work on them soon and reply to you.

Best,
Jiyuan

From: Luke Zappia ***@***.***>
Reply-To: Bioconductor/Contributions ***@***.***>
Date: Thursday, October 7, 2021 at 2:11 PM
To: Bioconductor/Contributions ***@***.***>
Cc: jfanglovestats ***@***.***>, Mention ***@***.***>
Subject: Re: [Bioconductor/Contributions] CDI (#2297)

Hi @jfanglovestats<h

[2021-10-07 19:27] lazappi commented on #2320
I think you can probably still had some detail to this. The main thing is to add something about the data structure (is is a `data.frame`, a `matrix`, something else?).

I think it might be possible to do this another way but it seems like `R/sysdata.rda` is a standard file I wasn't aware of so it should be fine.

This looks much better. There are a few typos and some formatting things you might w

[2021-10-07 19:59] millerh1 commented on #2350
Thank you @lshep and @nturaga. I have just pushed the clean repo!

[2021-10-07 20:31] millerh1 commented on #2350
I am unsure of what the new error is -- I am not seeing it locally, and I am unable to view the check logs. I have a suspicion that I may have needed to push the ExperimentHub package again first since RLSeq depends on it... so I've now bumped the version and done that.

[2021-10-07 20:42] millerh1 commented on #2350
RLHub has built successfully so I'm going to retry RLSeq.

[2021-10-07 20:53] lazappi commented on #2286
Hi @pkrog

Thanks for submitting **biodbHmdb** :tada:! This looks like a really high-quality, well-constructed package. I have a few comments but hopefully they should be pretty quick to address. Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to

[2021-10-07 20:55] LiNk-NY commented on #2359
Hi Devon, @devonjkohler

Thank you for your submission. Please see the review below.

Best regards,
Marcel

---

# MSstatsLiP #2359

## DESCRIPTION

* Can you make a comment in the `Description` field about how this package
relates to `MSstatsTMTPTM`? Does this package replace it? Does the
functionality overlap?

## NAMESPACE

* Looks good.

## vignettes

* Consider modifying the code chunk option

[2021-10-07 21:48] nturaga commented on #2304
@dongminjung  Issue another build report please. We'll try to see if the Windows error is resolved on the build system already.

Please note the release schedule that is posted here - http://bioconductor.org/developers/release-schedule/.

We'll try to get your package in before that.

[2021-10-07 21:55] lianos commented on #2342
Just to keep everyone up to speed, I've run through the package and made more changes to promote the use of a `BiocSet` where `GeneSetDb` has been used for all the main user facing functions of this package.

This package also provides convenience functions that return `GeneSetDb` objects from different sources, like:

* `getMSigGeneSetDb()` for a wrapper to msigdbr to get the MSigDb collections;

[2021-10-07 22:04] kevinrue commented on #2342
Again, I'm not the reviewer here, but as a fellow package developer, I cannot stress how much I appreciate hearing updates from someone taking `BiocSet` for a test run. Your willingness to do this is providing evidence that might convince/comfort/motivate others (including me) that `BiocSet` is a viable infrastructure ready to be re-used across the Bioconductor project, not just a concept package

[2021-10-07 22:21] lianos commented on #2342
Thanks again for the thoughtful comments, @kevinrue !

@hpages according to the build report, the linux buildbot "nebbiolo2" seems to be taking ~5x longer to run the code in the package than the other two, and has timed out on the R CMD check run, which has now slapped a warning label on the submission.

I'll wait to make some meatier changes primarily to the documentation to push another commit t

[2021-10-07 23:11] millerh1 commented on #2350
Updated the RLSeq package so that tests and examples will take less time. This should remove the `Warning` tag.

[2021-10-08 02:26] nturaga commented on #2288
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## Vignettes

- Good documentation

## R

- The r6 class system seems to be used here for providing access to a database. Is this design needed?
- Is there any code that is reused in the packages you submitted recently? You seem to have submitted multiple packages on the same day. Since different reviewers are assigned it's hard to judge all of them.

[2021-10-08 02:30] nturaga commented on #2375
Hi @schifferl

This package looks good to me. I will accept it with no further comment.

[2021-10-08 02:43] mjchen1996 commented on #2320
Hi, Luke @lazappi

Thank you for your reply.

I have added some new tests in my package. Also, I have added data structure description as all example data are vector. Moreover. I had a bit of a look at vignette file and made some changes.

Meijun

[2021-10-08 03:07] marouenbg commented on #2238
Hi @lshep ,
I was really trying hard to tidy up the package for bioconductor, the build is ok but I keep getting this error at the Check stage:
* checking PDF version of manual without hyperrefs or index ... ERROR
Do you have any idea where should I look to fix it?
Thank you,
Marouen

[2021-10-08 03:13] mjchen1996 commented on #2320
Hi, @lazappi

Thank you for your reply.

I have added some new tests in my package. I think it is enough for exported functions since I have checked the S4 class results. As your known,  it is hard to test the shiny app. Also, I have added data structure description as all example data are vectors.
For `R/sysdata.rda`, this file included several data frame of annotation data collected from public

[2021-10-08 03:50] marouenbg commented on #2238
OK the previous error was fixed, it was a unicode character hidden in the function description. I still have more errors from the bioconductor check.

[2021-10-08 07:41] npechl commented on #2314
Hi @LiNk-NY

Thank you for your comments.
As you suggested, we changed specific parts of the code in order to use more standard functions for working with VCFs.

Looking forward to your response.

Regards,
Nikolas

[2021-10-08 07:52] sofpn opened #2384 "rprimer"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/sofpn/rprimer

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Biocon

[2021-10-08 08:00] mbstadler commented on #2276
_Hi @lazappi_

_Thank you for your useful and detailed feedback to our package._
_We have copied your points below and added our responses below each point in italics._

_Michael, Charlotte and Dania_

**General package development**
⚠️ The package built fine on the Bioconductor system but I got this error when I tried locally.
It could be a random number thing but maybe worth checking out in case

[2021-10-08 08:46] kullrich opened #2385 "distSTRING"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kullrich/distSTRING

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2021-10-08 10:30] dzhang32 commented on #2270
Hi Marcel @LiNk-NY,

I am working on using collation to permit the sharing of objects between roxygen examples. However, I am finding that it doesn't seem to work as expected.

I have created a minimal test package to illustrate (https://github.com/dzhang32/testpackage). This creates object `a` in the `a_test.R` `@examples`, which is called by the `b_test.R` `@examples`. `b_test.R` contains an `@i

[2021-10-08 11:15] dzhang32 commented on #2270
With some digging, it looks like R removes the created variables between examples: https://community-bioc.slack.com/archives/C34NC134G/p1623835649094700.

In this case, I will proceed with removing the `exists` calls.

[2021-10-08 11:43] lshep commented on #2361
@jianhong  please proceed with the review; I'll try to look into the windows slow down early next week.

[2021-10-08 12:08] lazappi commented on #2276
Thanks @mbstadler. I'm happy with this so will mark the package as approved 🎉! It can take a few days for the build system to pick it up but it should be added to Bioconductor devel soon.

[2021-10-08 12:20] lazappi commented on #2286
@nturaga, @LiNk-NY, @lshep, @jianhong I've just noticed that we have all been assigned to related packages. Would it make sense for one person to take over all of them to standardise the feedback and avoid suggesting slightly different changes for each one? The first review has been done for some of them at least so hopefully it wouldn't be too much extra work from here.

[2021-10-08 12:30] vjcitn commented on #2286
This is a very good point.  The round robin approach to assignments has some real limitations.  Do you see a way to reassign/swap some of yours away and take the biodb*?

[2021-10-08 12:42] lazappi commented on #2320
Hi @mjchen1996.

Thank you for adding information about the data structure but I think it would be clear to use the `@format` tag, please see the examples in this guide https://r-pkgs.org/data.html. Sorry, I should have been more specific about this earlier. The testing is ok now but I think you could continue to expand it, particularly for things like incorrect inputs.

I will approve this once y

[2021-10-08 12:50] lazappi commented on #2286
I'm on leave next week so that probably doesn't work well for getting things done before the release. I'm also not super comfortable with reviewing the C++ stuff so I was going to ask someone else to look at that part anyway. Sorry, that's probably not very helpful.

[2021-10-08 12:52] lshep commented on #2269
The data has been added to the hub
[code]

Please update the vignettes accordingly
Cheers

[2021-10-08 13:07] lshep commented on #2376
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/tghosh30.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-08 13:07] lshep commented on #2318
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nyzhoulang.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-08 13:07] #2376 closed, assigned to vjcitn

[2021-10-08 13:07] lshep commented on #2292
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/xutao-wang.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2021-10-08 13:07] #2318 closed, assigned to jianhong

[2021-10-08 13:07] lshep commented on #2283
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pkrog.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2021-10-08 13:07] #2292 closed, assigned to LiNk-NY

[2021-10-08 13:07] #2283 closed, assigned to LiNk-NY

[2021-10-08 13:07] lshep commented on #2282
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/oksankas.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-08 13:07] #2282 closed, assigned to vjcitn

[2021-10-08 13:07] lshep commented on #2280
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/nilseling.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-08 13:07] #2280 closed, assigned to nturaga

[2021-10-08 13:07] lshep commented on #2276
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mbstadler.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-08 13:07] lshep commented on #2256
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/PGangras.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-08 13:07] #2276 closed, assigned to lazappi

[2021-10-08 13:07] lshep commented on #2104
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jkanche.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2021-10-08 13:07] #2256 closed, assigned to vjcitn

[2021-10-08 13:07] #2104 closed

[2021-10-08 13:07] lshep commented on #2282
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/oksankas.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2021-10-08 13:54] schifferl commented on #2375
Thanks @nturaga! I'll look forward to the release and add a NEWS file before the package comes out. Thanks again 🙏

[2021-10-08 14:00] olapuentesantana commented on #2374
Hello @lshep,

I tried several times to subscribe to the bioc-devel mailing list but without succeeding. Could you help me with that?

* Checking for bioc-devel mailing list subscription...
    * ERROR: Maintainer must subscribe to the bioc-devel mailing list.
      Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel

Regards,
Óscar

[2021-10-08 14:01] lshep commented on #2374
Normally there is a confirmation email that sometimes gets filter to spam?

[2021-10-08 14:06] mjchen1996 commented on #2320
Hi, @lazappi

Thank you again. I have adjusted the data documentation and added more test for incorrect inputs.

Meijun

[2021-10-08 14:08] olapuentesantana commented on #2374
Unfortunately, that is not the case. I do not receive any reply back.

[2021-10-08 14:18] lshep commented on #2374
And you registered the same email as in the description `o.lapuente.santana@tue.nl` ?

[2021-10-08 14:29] marouenbg commented on #2238
Hi @lshep ,
I needed to make significant changes to the master branch to pass the biocoductor tests, therefore I created a new branch called bioc that has the necessary changes while keeping my master branch.
However when I push, I get the following error (my upstream is biocup):

git push biocup bioc

Enumerating objects: 13, done.
Counting objects: 100% (13/13), done.
Delta compression using up

[2021-10-08 14:35] lshep commented on #2238
Bioconductor does not allow pushing up of other branches and we would really recommended eventually merging into the master branch so not to get out of sync.  I think you can specify a linking see step 5 on https://bioconductor.org/developers/how-to/git/new-package-workflow/  that addresses the new default main/master mismatch

[2021-10-08 14:37] olapuentesantana commented on #2374
Yes, I am using that one.  And, this what the website returns, but afterwards I get no further notice.
![Screen Shot 2021-10-08 at 16 35 25](https://user-images.githubusercontent.com/42207933/136575801-ae991473-4230-47b1-bcff-1b1a46a8e471.png)

[2021-10-08 14:38] olapuentesantana commented on #2374
AdditionalPackage: https://github.com/olapuentesantana/easier

[2021-10-08 14:45] olapuentesantana commented on #2374
And, also I wasn't sure what to build again the new bumped version of the software package `easier` which depends on the data package `easierData`.  I think I just messed it up.

I thought once is pushed to `git@git.bioconductor.org:packages/easier`, it will be built after `easierData` but it doesn't seem to be the case. So @lshep may I ask for your help here as well?

[2021-10-08 14:48] lshep commented on #2374
We do a moderation step for each package submitted before allowing build on demand by version bump.  This is the correct process for packages that depend on each other and once we look at the package and approve for building it will get an auto build

[2021-10-08 14:53] LiNk-NY commented on #2270
Hi David, @dzhang32

After the collation order is correct, you can include `example(a_test)` in `b_test.R` to make `a` available.
It's a bit of a hack but `R CMD check` appropriately runs the checks.
You may get an error with `devtools::run_examples()`.
If `a` is not too complicated, you can create `a` at the beginning of the examples for `b_test` otherwise
the `example(a_test)` should work (so lo

[2021-10-08 14:55] lshep commented on #2183
The release is fast approaching. May we expect updates and comments soon?

[2021-10-08 15:05] lshep commented on #2299
We do not allow users to do a force push.  I think I have reset the repository.  Please try to do a version bump to kick off a new build.

[2021-10-08 15:20] pkrog commented on #2288
Thanks for your review.

All the biodb* packages submitted these days are all extensions of the biodb package that was submitted in the previous release. So, yes, there is common code between those packages, and it is inside the main biodb package.

I've chosen R6 in order to make sure only one instance of a connector type exists, and control this way the access to the associated remote database.

[2021-10-08 15:38] lazappi commented on #2320
Thanks! I will approve this now 🎉. It can take a few days for the package to be picked up by the build system but it should be on Bioconductor soon.

[2021-10-08 15:43] LiNk-NY commented on #2314
Hi Nikolas, @nikopech

Thank you for making those changes. I haven't seen a `CITATION.cff` used before.
It seems to work with `citation(package = "lineagespot")` though there is a warning:

[code]

Best regards,
Marcel

[2021-10-08 15:53] lshep commented on #2352
Looks good.
Minor comments for nullranges:

- [ ] Is man-roxygen directory needed?

**vignette**

- [ ] I would reconsider using a generic name like `intro.Rmd` depending on
  package load order a user would have to specify the name of the package to
  pull up the correct vignette. On naive attempt it pulls up biovizBase instead

[code]

Consider using `nullranges.Rmd`?

- [ ] Perhaps in the vigne

[2021-10-08 16:12] pkrog commented on #2286
About the notes from `BiocCheck`:
 * I do not observe the `NOTE: 'sessionInfo' not found in vignette(s)` on my computer, and do not know what it refers to.
 * The long lines are inside generated files.
 * I have corrected the indentations.

[2021-10-08 16:24] lshep commented on #2279
Please see above comments and here is more of a review:

**NAMESPACE**

- [ ] Do not use `exportPattern("^[[:alpha:]]+")`. Export/Import explicitly

- [ ] If `SingleCellExperiment` is the data class then this should definitely be listed as an import in the namespace

**README**

- [ ] Include Bioconductor installation instructions

**vignette**

- [ ] There is an issue with your vignette registeri

[2021-10-08 16:32] dzhang32 commented on #2270
Hi Marcel @LiNk-NY,

Thanks again for your advice, it's very helpful! Responses below:

---

I agree with you, and have modified `ODER` to depend on R (>= 4.1) (https://github.com/eolagbaju/ODER/commit/616980ed1d741cb5cace86725414da79ef50aebb).

It's a bit of a hack but R CMD check appropriately runs the checks.
You may get an error with devtools::run_examples().
If a is not too complicated, you c

[2021-10-08 16:42] nturaga commented on #2286
I did ask the author that in my review yesterday https://github.com/Bioconductor/Contributions/issues/2288#issuecomment-938287626 . But it's hard to review this package without taking a look at biodb (which has already been accepted).

[2021-10-08 16:50] lshep commented on #2324
A few minor comments.

**DESCRIPTION**

- [ ] (Optional) We recommend having a BugReport field in the description that
  also points to https://github.com/Ghoshlab/pairkat/issues referenced in the
  README

**R code**

**PaIRKAT.R**

- [ ] Sould there be some format checking for a users input for formula.H0 and
  networks in the PaIRKAT function? to ensure the user passes the correct type
  of inp

[2021-10-08 16:59] lshep commented on #2339
I'm trying to build, install, and check locally and I'm running into the following ERROR:

[code]
 Please advise

[2021-10-08 17:07] lazappi commented on #2286
This will be the same comment I made about the in the vignette section. Basically just having a chunk at the end which runs `sessionInfo()`.

[2021-10-08 17:26] LiNk-NY commented on #2270
Hi David, @dzhang32

Thank you for making those changes. Yes, the objects that you need in the examples
are easy to recreate so it is not worth the trouble of running the example.

There may be an option to customize the `roxygen2` indentation but I wasn't able to
find it after a quick look. I don't think the developers allow you to make a choice.
The code that generates the usage is here:
https:/