[2022-04-11 12:33] smped commented on #2598
Ooh. Didn't know about the long test framework. Thanks! I'll check the results from codecov and will see what I can get back in there. Dropping tests definitely feels like an unsatisfactory solution, so this could be the solution.

[2022-04-11 15:20] cytolab commented on #2570
Hi @Kayla-Morrell,

Thank you so much for your review of cytoMEM. Here are the updates made to the package:

- Updated R version dependency to 4.2.0
- Updated NEWS file to be read by R
- Updated file type of CITATION file
- Included show methods in the build_heatmaps function
- Replaced = with <- for assignment in all R code files

Package is ready for re-review.

[2022-04-11 15:36] cytolab commented on #2570
Hi @Kayla-Morrell,

Thank you so much for your review of cytoMEM. Here are the updates made to the package:

- Updated R version dependency to 4.2.0
- Updated NEWS file to be read by R
- Updated file type of CITATION file
- Included show methods in the build_heatmaps function
- Replaced = with <- for assignment in all R code files

Package is ready for re-review.

[2022-04-11 15:51] khazum opened #2632 "ccImpute software package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/khazum/ccImpute

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2022-04-11 16:06] lgatto commented on #2567
Hi @jaehyunjoo - thank you very much for updating and resubmitting your package. I think it's a well contained package that nicely makes use of the `SummarizedExperiment` class. I have some final minor comments:

## The DESCRIPTION file

- I see you added a `LICENSE.md` file to your package. R packages
  generally only refer to standard licenses in the DESCRIPTION file
  without providing a copy (

[2022-04-11 16:18] jaehyunjoo commented on #2567
@lgatto Thank you so much! It was a great opportunity to know the Bioconductor's ecosystem for metabolomics and I learned a lot from your packages during the revision process. I will update the package according to your suggestion.

[2022-04-11 17:53] Lionir commented on #2391
@lshep

**Other**

You have included sRGES_example and res_example in both octad.db and octad.
They should only be in the data package  **#removed**

**octad.db**

**README**

- [x] Please fix merge conflicts in the README as indicated by markers like the
following: **#fixed**

[code]

- [x] The README is currently unreadable with the merge conflicts present  **#fixed**

**NAMESPACE**

- [x] Are y

[2022-04-11 20:14] LeireAbarrategui commented on #2294
Hello, it is necessary to include the Makevars or Makefile file? or only optional?

[2022-04-11 20:23] jianhong commented on #2294
optional

[2022-04-11 21:56] LeireAbarrategui commented on #2294
Regarding your package review, I have changed the news file in the epimutacions package.  However, was not possible to make the other changes. I hope that is not a problem, as they are optional.

Thank you

Leire

[2022-04-11 23:47] jianhong opened #2633 "GenomicInteractionNodes"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jianhong/GenomicInteractionNodes

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I ha

[2022-04-12 00:01] jianhong commented on #2633
@LiNk-NY This is a update package for the old issue `GenomicInteractionHub`.

[2022-04-12 00:03] jianhong commented on #2561
Hi @LiNk-NY Marcel

Thank you for your comments.

I changed the function names to `enrichmentAnalysis` and `annotateNodes`.

I add message=FALSE to avoid startup message.

I renamed the package to GenomicInteractionNodes and submitted as [a new package](https://github.com/Bioconductor/Contributions/issues/2633#issue-1200683997) just in case there is any folder name issues.

The documentation is up

[2022-04-12 01:10] LiNk-NY commented on #2617
Thank you Hervé and Oliver for your valuable feedback.

I've decided to rename the package to `BiocDevelUtils` as it makes it clear that these functions are aimed for developers. Though I can see how the package could be named `BiocInternalUtils`, I relate the 'internal' term to mainly un-exported functions.

This has been updated to the anticipated release version.

I've made this more clear by i

[2022-04-12 01:10] #2617 closed, assigned to ococrook

[2022-04-12 01:11] LiNk-NY opened #2634 "BiocDevelUtils"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/BiocDevelUtils

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2022-04-12 01:13] LiNk-NY commented on #2634
This is a continuation of #2617

cc: @ococrook @hpages

[2022-04-12 01:14] LiNk-NY commented on #2617
New issue is at #2634

[2022-04-12 02:23] jaehyunjoo commented on #2567
Hi @lgatto

I made the following changes:

1. removed the `LICENSE.md` file from the package.
2. added the MassSpectrometry and DimensionReduction `biocViews`.
3. updated R dependency to 4.2.0.
4. registered `?qmtools` via the roxygen sentinel "_PACKAGE" that automatically includes information parsed from the `DESCRIPTION`. I also added some details on the main functions in the package and finally

[2022-04-12 08:09] yue-wang-biomath opened #2635 "RgnTX"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yue-wang-biomath/RgnTX

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2022-04-12 09:29] ococrook commented on #2634
@lshep This package has been reviewied in another issue, but we thought a name change was in benifical. I'm happy with this package.

@hpages  suggested that `replaceSlots` be renamed `set_slots`. What do you think @LiNk-NY @lshep ? Ithink I'd rather the names be consistent within the package but can sympathise with the suggestion.

@LiNk-NY I'm happy with the revision. Remember the version in the

[2022-04-12 12:58] jianhong commented on #2597
# Package 'tomoseqr' Review
The package passed check and build. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] R version should be no less than 4.2

## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 17 import(jsonlite)
- [ ] Use `camelCaps` to name your function, see [coding style](http://bioconduct

[2022-04-12 13:11] jianhong commented on #2537
# Package 'pareg' Review
The package passed check and build. It is almost there.

## The DESCRIPTION file
- [ ] 'LazyData:' in the 'DESCRIPTION' should be set to false or removed

## R code
- [ ] no direct slot access with `@` or `slot()` - accessors implemented and used.
	* In file R/utils.R:
		+ at line 210 found '    cls@method <- "pareg"'
		+ at line 212 found '    cls@termsim <- x$term_networ

[2022-04-12 13:45] lgatto commented on #2567
Thanks! Nice `?qmtools` man page!

By the way, could you also update the installation instructions in the README.md file. Typically, developers provide the installation instruction to install from Bioconductor and from Github (for the latest version, irrespective of the R version).

@lshep - I think the package can be accepted in Bioconductor.

Thank you for your contribution @jaehyunjoo !

[2022-04-12 14:27] MarcElosua commented on #2488
Hi @LiNk-NY

Following your advice we have removed all the methods and replaced them with helper functions now found in `R/utils.R`. We also added unit tests for them in `tests/testthat/test-utils.R`. Lastly, we brushed up on some minor issues users had reported.

Thank you for ll your help,
Best,
Marc

[2022-04-12 15:16] jaehyunjoo commented on #2567
@lgatto Awesome! I updated `README.md` to include the installation instruction. Thanks a ton!

[2022-04-12 15:37] zijianni opened #2636 "(inactive) SpotClean"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/zijianni/SpotClean

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-04-12 15:37] #2636 closed, assigned to nobody

[2022-04-12 15:48] zijianni opened #2637 "SpotClean"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/zijianni/SpotClean

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-04-12 16:19] LiNk-NY commented on #2634
@ococrook

This is a tough one, I think quite a few developers have been using `replaceSlots` for quite some time now:
https://code.bioconductor.org/search/search?q=replaceSlots
Perhaps we can export both :thinking:
snake_case is quite associated with S3 so I'd rather stick to camelCase :)

Yes, the package version at release will be `1.0.0`.

Best,
Marcel

[2022-04-12 17:12] jianhong commented on #2349
# Package 'scDDboost' Review
The package passed check and build. It is in pretty good shape. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] R version is not clear in DESCRIPTION.
- [ ] It is recommended to use ‘given’ instead of ‘middle’ for `person`.

## The NAMESPACE file
- [ ] Selective imports using `importFrom` instead of *import all* with `import`.
	* in li

[2022-04-12 17:13] hpages commented on #2634
The new name "BiocDevelUtils" strongly suggests another package like **codetoolsBioC** or **devtools**, that is, a package that provides tools that the developer actively uses during the development of their package or as part of the maintenance workflow. This kind of developer tools don't need to be a dependency of the final package. It would be strange to see that **GenomicRanges** or **Summariz

[2022-04-12 17:17] MarcElosua commented on #2488
As the previous Check failed due to TimeOut I used mock data for the example of the function `SPOTlight` to speed it up.

[2022-04-12 18:11] LiNk-NY commented on #2634
The use case of the package is to have other packages depend on the functionality in an attempt to wrangle all the helper functions that have been written and re-written numerous times. I don't see why `GenomicRanges` or `SummarizedExperiment` couldn't depend on `BiocDevelUtils` as long as the functionality in the package is well tested and maintained. Perhaps the name here is a bit difficult to p

[2022-04-12 19:06] LiNk-NY commented on #2585
Hi @andreaskapou

Yes, this has been fixed in `Bioconductor/BiocCheck@output` which will be merged soon. You can ignore it.
FYI, R has replaced mentions of `--slave` for the `--no-echo` flag.

Pete @PeteHaitch will provide a review in due time. Thanks Pete!

Best,
Marcel

[2022-04-12 20:19] mooredf22 opened #2638 "(inactive) protlocassign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to Bioconductor

Repository: https://github.com/mooredf22/protlocassign
Confirm the following by editing each check box to '[x]'

 I understand that by submitting my package to Bioconductor,
the package source and all review commentary are visible to the
general public.

 I have read the Bioconductor [Pack

[2022-04-12 20:19] #2638 closed, assigned to nobody

[2022-04-12 20:29] hpages commented on #2571
Thanks @RMBarnard for submitting **RAREsim**.

The package is almost ready for acceptance, only a few minor things:

1. Please remove the `.RData` file from the top-level folder of the package source tree.

2. Some of the notes issued by `BiocCheck()` (see link to build report above) need your attention e.g. "Avoid using '=' for assignment and use '<-' instead" and "Avoid redundant 'stop' and 'war

[2022-04-12 20:58] mooredf22 commented on #2541
I request that this submission, https://github.com/Bioconductor/Contributions/issues/2541, be re-opened. We have re-worked this package extensively to make it suitable for Bioconductor. In particular, while previously we had seven vignettes, we have now combined them into a single file, and refer to them as tutorials. We have also eliminated many figures. In this way, we have reduced the package s

[2022-04-12 21:21] mooredf22 commented on #2541
I would like to reopen the protlocassign submission. It had taken us some time to re-work this package to make it suitable for Bioconductor. We have endeavored to answer all of the issues with this submission, particularly reducing its size and build time.

This is my first submission to Bioconductor, and I am still learning how to follow the policy on how to reopen this case. I have uploaded the

[2022-04-12 22:26] hpages commented on #2584
Thanks @alexchwong for submitting **ompBAM**.

The code in the vignette does not work for me:
[code]
It seems that `idxstats()` is indeed defined in **MyPkg** but is not exported. But even using `:::` doesn't work:
[code]
The underlying problem is that many code chunks are not evaluated so are never checked by `R CMD build` or `R CMD check`. Unfortunately, this is known to cause code rot in the lo

[2022-04-12 23:47] hpages commented on #2634
I didn't say that GenomicRanges or SummarizedExperiment couldn't depend on BiocDevelUtils. I said it would be a _strange_ thing to see given that the name of the package suggests that it's yet another addition to the already [huge family of packages meant to help with R package development](https://github.com/IndrajeetPatil/awesome-r-pkgtools). Like it would be a strange thing to see that GenomicR

[2022-04-13 01:12] alexchwong commented on #2584
Hi @hpages , thanks for reviewing my package.

To make this line work, you need to have followed the steps detailed in the vignette section **Making and compiling an example ompBAM-based package**, paraphrased here as follows:
(1) Create the MyPkg package using use_ompBAM() (code block line 67-69).
(2) Open the newly created MyPkg.Rproj in RStudio as a project
(3) Roxygenise the package using devt

[2022-04-13 06:53] shingenmochi commented on #2597
Thank you for your review!
I'll try to fix.

[2022-04-13 07:03] lazappi commented on #2521
Thanks! I will mark this as accepted now 🎉! It can take a few days to be picked up by the build system but then the package should be part of Bioconductor devel and the next release. You will probably continue to see warnings from the build system so if come across another solution to the `require()` problem at some stage that would be prefereable.

[2022-04-13 07:59] kpj commented on #2537
@jianhong: I fixed the DESCRIPTION and NEWS.md issues.

The direct slot access I probably cannot fix, because they are for an object from another package. And in that package they also use this way of accessing the slots (e.g. https://github.com/YuLab-SMU/enrichplot/blob/e48a727f956174ddce4b5e66722e8ad1aa427797/R/emapplot_utilities.R#L50).
What do you think?

[2022-04-13 09:07] VingronLab commented on #2465
1) We have added basilisk to our package, and the version with basilisk is now on the dev branch. It seems to work fine for small data sets, however when applied to bigger data the execution of the function cacomp() (a function which uses basilisk) never ends. Do you have maybe any suggestions what might be the reason for it and what did we do wrong?

2) It seems that conda doesn't use the librari

[2022-04-13 09:18] vjcitn commented on #2627
When I try to install:
[code]
Do you need a SystemRequirements: field?  Are you using basilisk for your python interoperation?  It would be a good idea.

[2022-04-13 09:19] vjcitn commented on #2627
I see your github action is failing.  So please address these issues and then I will re-check.

[2022-04-13 09:26] vjcitn commented on #2631
This package lacks a vignette.  Please read the guidelines.

[2022-04-13 09:26] ococrook commented on #2521
Thanks @lazappi, I'll revist the `require()` issue fairly frequently to see if we can remove it.

[2022-04-13 09:27] vjcitn commented on #2630
vignette takes unreasonably long to build.  please make sure it builds within 5 minutes, preferably much less.

[2022-04-13 09:29] vjcitn commented on #2632
on a mac that can install just about anything:
[code]
Please be sure you are configuring in a portable way.

[2022-04-13 09:32] SimoneTiberi commented on #2611
Hi @lshep (or maybe I'd tag @bioc-issue-bot?),
I sorted almost all issues; would you mind running Bioc checks?

There is still 1 issue with the external data, which is too big (and not yet documented!); this triggers a few warnings:
- package/data too big;
- examples and vignettes too slow.

In the next days, we'll reduce the size of the example data (and document it!), which will fix both issues.

[2022-04-13 09:38] vjcitn commented on #2611
@lshep shouldn't we close this?  i've visited twice trying to check .... then re-open when actually reviewable?

[2022-04-13 09:41] vjcitn commented on #2611
You really should not submit until the package passes BiocCheck on your systems and meets the requirements of the submission checklist.  We are not providing a "checking" service, we are reviewing the package once it meets the basic standards for submissions.  Part of the review is building and checking on all platforms, but it is your job to have the package passing before submission.

[2022-04-13 09:45] SimoneTiberi commented on #2611
Ok, I though the package could be reviewed with very minor issues (i.e., 2 WARNINGs related to 1 problem).
Thanks for the clarification.

I'll fix the issue mentioned above and re-send a message here.

[2022-04-13 10:10] aspaor commented on #2588
Dear @lshep
I made some changes to the InterTADs package according to the suggestions mentioned above. Now that this issue is inactive should I open a new one ?                                                                                                                                                                   Thank you in advance,
Aspa

[2022-04-13 12:10] jianhong commented on #2537
It is a suggestion. If possible, please ask the upstream package to add the api for those slots. Thank you.

[2022-04-13 13:12] vjcitn commented on #2465
I don't think I'll be able to address this before the release.  You might ask for help debugging on bioc-devel.  Can I interpret your remarks to mean that if reticulate is used on its own with a specific python configuration, the large data problem succeeds, but if it is used via basilisk it does not?  I am having problems with question 2.  basilisk will install its own miniconda to isolate all th

[2022-04-13 13:45] kpj commented on #2537
In that case I'd rather leave it as is and not ask for changes in the upstream package, if that's okay with you.

[2022-04-13 14:24] GabrielHoffman commented on #2630
The new version (v0.99.1) runs in 3 minutes on my machine.  If that is still an issue, I'll have to rewrite the vignette

[2022-04-13 15:09] vjcitn commented on #2630
kableExtra and recount are missing from DESCRIPTION, probably need to be in Suggests

[2022-04-13 15:21] ClemensKohl commented on #2465
Thanks, we will ask for help at bioc-devel too!
If we cannot implement basilisk in time for the release, can we proceed with the version still using reticulate only? @jwokaty : I believe there is only a pytorch installation missing for the Linux server currently.

About question 1: Yes, for very small datasets (for example the matrix in the testdata in ./tests/testthat/testdata/countries.rda) run_

[2022-04-13 15:43] vjcitn commented on #2630
The vignette is pretty terse.  Consider a new user coming to it.  The vignette took 16 minutes on a nontrivial machine.  Is this because data are being cached?   Is it a one-time charge?

[2022-04-13 15:49] YuanningEric commented on #2558
The data package has been built. Here is our main package:

https://github.com/gevaertlab/EpiMix

[2022-04-13 21:38] LiNk-NY commented on #2634
Thanks Hervé @hpages for clarifying.

I think `BiocInternals` is not too long or ugly :wink:

The comment about "well tested and maintained" refers to the reliability of the underlying software which is what we want when we introduce a wedge-like package such as this one.

I have seen the `scalar` term used. Perhaps this is a better naming convention? E.g., `isScalarCharacter`

Thoughts?

cc: @mtm

[2022-04-13 21:51] LiNk-NY commented on #2488
Hi Marc, @MarcElosua

Thank you for making those updates!
Your package has been accepted.

Best regards,
Marcel

PS. As you continue to improve your package, please take care of this `NOTE`
and use `BiocCheck`.

[code]

[2022-04-13 21:51] #2561 closed, assigned to LiNk-NY

[2022-04-13 22:07] LiNk-NY commented on #2633
Hi JianHong, @JianHong

The updates look good and the package is passing `R CMD check`.

Please make sure you run BiocCheck on the package and respond to any `ERROR`s.

For instance,
[code]

Thank you for your submission. Your package has been accepted.

Best regards,
Marcel

[2022-04-13 22:16] LiNk-NY commented on #2574
Hi Ning, @ningbioinfo

Thanks for making those changes.
Your package has been accepted.

Make sure to run `BiocCheck` and resolve any issues there
as you continue to improve your package.

Best regards,
Marcel

[2022-04-13 22:43] jianhong commented on #2633
@LiNk-NY Thank you Marcel for the reminder. I add the watch tags 'GenomicInteractionNodes'.

[2022-04-14 06:55] lazappi commented on #2521
One idea I should have thought of earlier. If it is only for `SNOWParams()` that this is needed you could put it inside an if statement. That would probably avoid it being needed for most users and possibly let you pass the checks without the warning.

[2022-04-14 07:42] hpages commented on #2634
Well if **BiocInternals** is the best I can hope for then why not. Better than **BiocUtils** or **BiocDevelUtils**. I wish we could draw the line for what kind of "internals" go in the package, hopefully only low-level stuff (often called _utilities_ :wink:) and not too high-level things, but it sounds like I'm asking too much so I'll leave it there.

What about `isSingleString`? Anybody coming fr

[2022-04-14 09:31] EmanuelSoda commented on #2555
Sorry for my question.
I have to do other things or I have just to wait for the review?

Many thanks

[2022-04-14 11:30] lazappi commented on #2555
Now that the build is passing please wait for a review. I will try to do it in the next few days.

[2022-04-14 11:57] lshep commented on #2588
Please try and open a new issue.  The issues bot will do the same pre-checks as above to ensure it is resolved

[2022-04-14 12:00] aspaor commented on #2588
@lshep  ok, I will follow your instructions.
thank you for your quick response.

Regards,
Aspa

[2022-04-14 12:20] lgatto commented on #2541
@mooredf22 - just checking weather you have pushed your latest changes to the Bioconductor git server, as the last commit I see is
[code]
and you mentioned recent changes in your previous message.

[2022-04-14 12:22] jianhong commented on #2537
@kpj Ask will not hurt. It is OK for me to leave it as it. But it will be a concern when they changed the slot names.

And the updated NEWS.md file does not show any readable information for the updates. I am little concern the long-term maintenance of your package.

Jianhong.

[2022-04-14 12:26] mooredf22 commented on #2541
Before the submission was closed, the version was 0.99.1
Now it is 0.99.2

If I need to increment it again, let me know.  Thanks!

Sent from my iPhone

[2022-04-14 12:30] lshep commented on #2541
You need to push to git.bioconductor.org.   Please activate your [git credentials account](https://git.bioconductor.org/BiocCredentials) if you did not do so already and you can manage your ssh keys for access there.   Please then see the [new package workflow](http://contributions.bioconductor.org/git-version-control.html#new-package-workflow) for how to set up remotes and push to git.bioconducto

[2022-04-14 12:43] lazappi commented on #2599
Hi @Wenjun-Liu

Thanks for submitting **sSNAPPY** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

**Ke

[2022-04-14 14:13] joshstolz commented on #2612
Hi Lori,
Thanks so much again for reviewing my first bioconductor package. My github account already has a ssh key so we should be good to go.

[2022-04-14 14:31] kpj commented on #2537
I did not add any additional news items to NEWS.md because the package has not been released on Bioconductor so far.
For future changes after the initial Bioconductor release I'd create news items.

[2022-04-14 14:49] jianhong commented on #2537
@kpj
Please read https://contributions.bioconductor.org/news.html for details about the NEWS.md file. Hope it will help.

Jianhong.

[2022-04-14 14:51] lshep commented on #2537
@jianhong  I think its fine to leave pre-acceptance updates out of the news.  it becomes especially important after acceptance so that changes can be included in release announcements

[2022-04-14 15:00] jianhong commented on #2537
@lshep
OK. Just want to emphasize the importance of the documentation. I will put the package as accepted now.

[2022-04-14 15:13] kpj commented on #2537
Thank you so much for reviewing the package! Looking forward to seeing it on Bioconductor :-)

[2022-04-14 15:24] aspaor opened #2639 "InterTADs"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BiodataAnalysisGroup/InterTADs

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2022-04-14 16:17] drisso commented on #2637
Dear @zijianni,

this looks like a really interesting and useful package! Thanks for contributing it to Bioconductor!

Looking at your code, I've noticed that you have a custom reader function for 10X Visium data and that you use SummarizedExperiment to store the data, storing the spatial information inside the `metadata` slot. Do I understand correctly?

I wanted to make sure that you are aware o

[2022-04-14 17:09] bmill3r commented on #2530
Hi @LiNk-NY,

Thank you so much for the helpful comments. I have updated the R version dependency on the default branch to >=4.1 which is what is currently installed on my local machine, interface with the `SpatialExperiment` object to extract the counts matrix in the vignette, and the VignetteBuilder ERROR appears to be resolved now. Class membership checks are done on S3 objects and so this is d

[2022-04-14 22:37] RMBarnard commented on #2571
Hello @hpages

Thank you for your feedback! I have addressed your recommendations. Please let me know if there is anything else that you see that is of concern.

Thanks,
Ryan

[2022-04-14 23:44] hpages commented on #2633
@jianhong Hi Jianhong,

Please put a valid email address in the DESCRIPTION file. The current address:
[code]
bounces back for me with the following error:
[code]

Many of the other packages you maintain have the same problem: **ATACseqQC**, **dagLogo**, **GeneNetworkBuilder**, **InPAS**, **motifStack**, **NADfinder**, **ribosomeProfilingQC**, and **trackViewer**. Please fix them all.

Thanks,
H.

[2022-04-15 01:11] hpages commented on #2633
I forgot to include **cleanUpdTSeq** and **enhancerHomologSearch** in the above list.

Because `jianhong.ou@duke.com` no longer works, you're not able to receive the automatic build failure notifications that are sent to this address when these packages have errors on the daily builds. It's also very likely that you used this address to subscribe to the bioc-devel mailing list in the past, so, unf

[2022-04-15 01:55] hpages commented on #2633
Oh wait... now I realize that you're using two different "duke" addresses in your packages: `jianhong.ou@duke.com` in **ATACseqQC**, and `jianhong.ou@duke.edu` in most others.

Plus `ou.jianhong@gmail.com` in **ChIPpeakAnno**. That's three addresses for the same maintainer!

Also it seems that only `jianhong.ou@duke.com` is invalid, so it's only **ATACseqQC** that needs to be fixed (as I already c

[2022-04-15 06:51] shingenmochi commented on #2597
Hello, @jianhong

I fixed my code!

## The DESCRIPTION file

- [x] R version should be no less than 4.2

## The NAMESPACE file

- [x] Selective imports using importFrom instead of import all with import.

- I removed this statement because I found no need to import jsonlite.
(This need for import was due to an unusual dependency of the shiny package in my environment.)

- [x] Use camelCaps to name

[2022-04-15 06:59] mzytnicki commented on #2212
Dear @lshep and @hpages , we basically rewrote the whole package from scratch, and we now use `GenomicInteractions`.  We still need a `HiCDOCDataSet` class, because we have to store additional data (essentially the compartment classification).
Would it be possible to reopen the issue?
I thank you very much for your patience, and your work.

[2022-04-15 10:43] jianhong commented on #2633
Hi Hervé,

Thank you for figure it out. I already the email address for ATACseqQC and ChIPpeakAnno.

Jianhong.

From: Hervé Pagès ***@***.***>
Date: Thursday, April 14, 2022 at 9:55 PM
To: Bioconductor/Contributions ***@***.***>
Cc: JIANHONG OU ***@***.***>, Mention ***@***.***>
Subject: Re: [Bioconductor/Contributions] GenomicInteractionNodes (Issue #2633)

Oh wait... now I realize that you're us

[2022-04-15 10:44] lazappi commented on #2555
Hi @EmanuelSoda

Thanks for submitting **ScreenR** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

**K

[2022-04-15 10:56] ococrook commented on #2521
I can make that change, I think we'll still get a warning unfortuntaly.

[2022-04-15 11:49] vjcitn commented on #2639
You import annotables but it is not in CRAN or Bioconductor.  You can't depend on a github-only package.

[2022-04-15 13:41] LiNk-NY commented on #2530
@bmill3r
The changes look good.
* Please do not check in the `README.html` file. This is not needed.

Best,
Marcel

[2022-04-15 13:53] bmill3r commented on #2530
Hi @LiNk-NY,

Thanks again for all of your help. I have removed the `README.html` and version bumped to 0.99.11.

Brendan

[2022-04-15 14:03] LiNk-NY commented on #2634
After some "internal" discussion :grin: , the word "internal" seems to imply that this package is intended for the Bioc-core which it is not. Since the package can contain both utilities and internals, we should probably name the package based on the target audience `BiocDeveloper` (a package meant for developers). Apologies for the back and forth!

Renaming those functions is not too much of a hu

[2022-04-15 14:37] LiNk-NY commented on #2530
Hi @bmill3r
Please make sure that the package is not close to the timeout limit.
We recommend using small datasets to demonstrate the functionality.
Best,
Marcel

[2022-04-15 14:38] #2634 closed, assigned to nobody

[2022-04-15 14:39] LiNk-NY opened #2640 "BiocDeveloper"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/BiocDeveloper

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2022-04-15 14:39] Kayla-Morrell commented on #2505
@LucaAnholt - That sounds fine. Should I go ahead with the re-review?

[2022-04-15 14:40] LiNk-NY commented on #2634
#2640

[2022-04-15 14:41] LiNk-NY commented on #2640
Third time's a charm :crossed_fingers:

[2022-04-15 16:00] ococrook commented on #2640
I'll take another look at the code and vignette soon, I'll expedite this review because of the back and forward.

Did you appease @hpages ?

[2022-04-15 16:03] LiNk-NY commented on #2640
I'm afraid that is quite difficult :smile:
But Hervé is understanding.
Best,
Marcel

[2022-04-15 16:21] mzytnicki commented on #2212
Will do, thanks!

[2022-04-15 16:22] zijianni commented on #2637
Hi @drisso  et al,

Thanks for the message! I do know about `SpatialExperiment` and I'm happy to extend my package to directly apply SpotClean to `SpatialExperiment` class.

One thing I was hesitated using `read10xVisium()` is that it makes too strong assumption about the structure of the folders and files. In practice I'm not seeing a very consistent naming and structure of Visium output files, e

[2022-04-15 16:49] bmill3r commented on #2530
Hi @LiNk-NY

I have reduced the time to run the examples and tests so hopefully it should run through the checks faster. I apologize for the back and forth. On my local machine and pushes to GitHub everything finishes in less than 14 minutes so it's hard to tell why I get timeouts with my pushes to Bioconductor. Pushing build version 0.99.12

[2022-04-15 18:04] cytolab commented on #2570
Great! Thank you so much @Kayla-Morrell for the quick review! Happy to contribute to Bioconductor.

[2022-04-15 18:04] hpages commented on #2640
Nope, that new name doesn't appease me. Probably the worst of all the names that have been thrown around :sweat_smile:

At least I've tried...

[2022-04-15 18:09] LiNk-NY commented on #2640
Hehe yes, I knew it wouldn't BUT if you contribute the internals package then I can add it as a dependency :wink:

[2022-04-15 18:22] hpages commented on #2640
If I do the internals package, I'll just clone BiocDeveloper and rename it BiocInternalUtils :wink:

[2022-04-15 19:55] lgatto commented on #2541
@mooredf22 do you need any help to push your latest changes to the Bioconductor git server?

[2022-04-16 09:48] smped commented on #2598
HI @lshep. I've migrated a few tests to longtests & have even managed to get these into my github actions so they actually get tested on push. There's still a big discrepancy between Mac & Linux build times though. It's about 6 minfor Linux, but still times out for Mac. Happy to keep playing if you'd like, but obviously, getting the package finalised & accepted would be brilliant if I can manage i

[2022-04-16 10:19] vjcitn commented on #2610
Thanks for your reply.  I will pass the package for review.  But this should not be in the vignette:
[code]
We have no guarantees that 10xgenomics will maintain this.  The data should be added to ExperimentHub.  @lshep

[2022-04-16 10:29] vjcitn commented on #2614
[code]
I passed it for review.  But the above does not bode well for automated checking.  The "Download" event is problematic - should the downloaded resources be part of AnnotationHub or ExperimentHub?  See the guidelines for developers.

[2022-04-16 10:37] vjcitn commented on #2604
ERROR: dependency 'RBioFormats' is not available for package 'SpatialOmicsOverlay'

This package is github-only.  You can't import or depend on it in a Bioconductor package.  See the guidelines.

[2022-04-17 02:02] maddygriz commented on #2604
RBioFormats has been removed from the dependency list.

[2022-04-17 03:59] vjcitn commented on #2604
It looks like you appropriated the code you needed.  But RBioFormats is doing things that we would like to avoid.  At a minimum use BiocFileCache to acquire the jar file and then refer to the jar file as needed through the cache reference.  If I read the current code correctly it seems to copy the file into the installed package area, which should not be done.  Only R utilities should manipulate t

[2022-04-17 10:56] vjcitn commented on #2639
Please let us know how you intend to deal with this.

[2022-04-17 13:50] GarrettJenkinson commented on #2614
Thank you.

Follow up question on AnnotationHub:  the above download is happening in our vignette line 346 in a call to the bioconductor annotatr function `build_annotations`, which according to the documentation uses AnnotationHub, TxDb.* and org.db packages. To avoid the download we would skip this command and cache its result in a file in our extdata, but is there a way we can use this biocondu

[2022-04-17 15:56] jianhong commented on #2597
@shingenmochi Great job. I will put the package as accepted. Please make improvement in the future in following two aspects:
1. improve the test coverage.
2. add  runnable examples to doadJunker2014.Rd, downloadJunker2014.Rd

[2022-04-17 18:09] dzhang32 commented on #2569
Hi @ococrook,

Thanks a lot for your review!

My understanding is that the update to R version 4.2 is a mandatory requirement from Bioconductor as each release cycle tracks the newest R version - I wanted to check if this correct? My hesitation is as I'm aware of several users of `ggtranscript` having infrastructure restrictions (on a remote server) which would prevent them from updating their R v

[2022-04-18 01:52] Wenjun-Liu commented on #2599
Hi Luke @lazappi, thank you very much for your suggestions! I have fixed my codes accordingly. Please see the summary below:

### General package development
- [x] ⚠️ Please address as many of the notes from BiocCheck::BiocCheck() as possible
- [x] 🚨 Please remove the complied .o from the git repository as suggested by BiocCheck::BiocCheckGitClone()
### DESCRIPTION file
- [x]  🚨 Bioconductor recom

[2022-04-18 05:58] shingenmochi commented on #2597
Thank you for your review and accepting!
I would keep improving this package!

[2022-04-18 08:41] aspaor commented on #2639
@vjcitn we replaced annotables with bioMart and after checking that everything works we are going to upload the changes to our master repository. I will let you know as soon as possible.

[2022-04-18 09:00] ococrook commented on #2569
Yes, that's the case

If you're in regular contact with these users and its not too much hassle could you create a branch which is 1 version behind for them and direct them to it from the readme? Hopefully, you can delete this branch when they can move to R4.2 and everything syncs up?

[2022-04-18 09:15] dzhang32 commented on #2569
Thanks for the quick clarification and suggestion! Yes, I think the separate branch would solve the issue.

I am going to get in touch with a few of these users and get their feedback (some of them are co-authors/contributors for the package) to check what they think - will be in touch soon.

[2022-04-18 11:18] lshep commented on #2598
I'll review.  If the timeout still occurs after acceptance please follow up.  I'll also try to hop on our mac to see if I can nail down what function / functions are taking the longest.
Cheers,

[2022-04-18 11:34] lshep commented on #2610
@vjcitn It's up for debate.  Since they are caching and the 10xgenomics site seems to be well maintained public entity, I'm inclined to leave as is since they have implemented the caching mechanism.  Just make sure that the caching is set up/working properly.   But @vjcitn will have the final say in this matter.

[2022-04-18 12:24] ococrook commented on #2569
Awesome, let me know if that works

[2022-04-18 12:56] lshep commented on #2633
Since this was a continuation and labels were changed manually,  this never got added to git with the new name -- I'm temporarily adding 'pre-check passed' back so I can use the auto scripts to auto add  and then will run the acceptance script on this package --

[2022-04-18 13:02] lshep commented on #2597
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/shingenmochi.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-04-18 13:02] #2597 closed, assigned to jianhong

[2022-04-18 13:02] lshep commented on #2574
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ningbioinfo.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2022-04-18 13:02] #2574 closed, assigned to LiNk-NY

[2022-04-18 13:02] lshep commented on #2570
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/cytolab.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-04-18 13:02] lshep commented on #2567
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jaehyunjoo.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-18 13:02] #2570 closed, assigned to Kayla-Morrell

[2022-04-18 13:02] lshep commented on #2537
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/kpj.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github accou

[2022-04-18 13:02] #2567 closed, assigned to lgatto, lshep

[2022-04-18 13:02] lshep commented on #2521
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ococrook.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-18 13:02] #2537 closed, assigned to jianhong

[2022-04-18 13:02] lshep commented on #2488
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/MarcElosua.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-18 13:02] #2521 closed, assigned to lazappi

[2022-04-18 13:02] #2488 closed, assigned to LiNk-NY

[2022-04-18 13:02] lshep commented on #2442
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/tsvali.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2022-04-18 13:02] #2442 closed, assigned to Kayla-Morrell

[2022-04-18 13:02] lshep commented on #2294
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LeireAbarrategui.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2022-04-18 13:02] #2294 closed, assigned to jianhong

[2022-04-18 13:02] lshep commented on #2294
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LeireAbarrategui.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2022-04-18 13:29] MarcElosua commented on #2488
Hi @LiNk-NY,

Thank you so much for you help and input in this process!
Regarding the `NOTE` you mention in your last comment I think it comes from `ggplot` when I pass coord_x and coord_y to `aes`. Shoud I use `aes_string` in this case?

Thank you!
Marc

[2022-04-18 13:38] lshep commented on #2481
@jaspershen  The Bioconductor release is next week and all packages need to be accepted by the end of the week to be included;  else they will remain in Bioconductor devel until the Fall release -- may we expect updates soon to give the reviewers time to re-review the package?

[2022-04-18 13:42] LiNk-NY commented on #2488
Hi @MarcElosua

Yes, you should use the programmatic interface or you could also just use `utils::globalVariables`.

Best,
Marcel

[2022-04-18 13:43] vjcitn commented on #2610
OK.  Ignore my comment.  Thanks!

[2022-04-18 13:47] lshep commented on #2558
Please see the proper way to submit the related package at https://github.com/Bioconductor/Contributions#circular-dependencies  you need to use an `AdditionalPackage:` indication

[2022-04-18 13:59] #2387 closed, assigned to vjcitn

[2022-04-18 14:09] lshep commented on #2611
[code]
We can not proceed until this is corrected

[2022-04-18 14:15] lshep commented on #2557
I am having trouble processing your package because your biocViews are invalid -- I will manually force this through but you need to update biocViews to be valid.  biocViews are not package names they need to come from the list of terms http://bioconductor.org/packages/release/BiocViews.html#___Software .   Make sure you have run BiocCheck on your package as well as this should have been indicated

[2022-04-18 14:50] lshep commented on #2557
You can not store data on github.  that is not allowed. It must be on a trusted public server (institution, AWS S3 buckets, microsoft data lakes, zenodo, etc) or in the Bioconductor experimenthub.  See [Creating a Hub package](https://bioconductor.org/packages/devel/bioc/vignettes/HubPub/inst/doc/CreateAHubPackage.html)

[2022-04-18 15:21] lshep commented on #2633
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/jianhong.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-18 15:21] #2633 closed, assigned to LiNk-NY

[2022-04-18 15:23] vjcitn commented on #2604
Here is the advice from our core:
[code]

[2022-04-18 15:37] maddygriz commented on #2604
Thanks for reaching out to the core, that is helpful. I have updated the code to use BiocFileCache but it is currently downloading on load. I will update to the cores recommendation and get back to you

[2022-04-18 16:16] YuanningEric commented on #2558
AdditionalPackage: https://github.com/gevaertlab/EpiMix

[2022-04-18 16:24] GarrettJenkinson commented on #2614
So I believe I have corrected all issues I can at this time. The remaining warning is regarding the bioconductor package DSS:

    Warning: replacing previous import matrixStats::rowMedians by Biobase::rowMedians when loading DSS
    Warning: replacing previous import matrixStats::anyMissing by Biobase::anyMissing when loading DSS

As far as I can tell, this is an issue in the DSS package itself,

[2022-04-18 16:25] lshep commented on #2614
Thank you.  I will try and review the package as soon as possible.

[2022-04-18 16:32] maddygriz commented on #2604
The jar file download has been moved to BiocFileCache and is not downloaded on loading. The functions that use the jar file ensure that it is in the cache.

[2022-04-18 17:15] nturaga commented on #2523
Hi,

I see that you didn't move the Dockerfile, do you intend to distribute it with the package?

[2022-04-18 17:32] wheelerb commented on #2515
Hi Pete,

Thanks for reviewing. I have made several changes to the package and my comments are below.

Sincerely,

Bill

Required
 Packaged should not be appearing in DESCRIPTION (see https://cran.r-project.org/doc/manuals/r-release/R-exts.html#The-DESCRIPTION-file)
**Fixed**

 My Sweave is rusty; is it possible to use an 'unevaluated' code chunk in Sweave rather than relying on commented-out code

[2022-04-18 18:14] rossinerbe commented on #2557
okay, those two things should be fixed, along with the biocCheck errors. Thanks for your help

[2022-04-18 19:07] hpages commented on #2633
Thanks @lshep  and sorry that I messed around with labels.

@jianhong Thanks for fixing the email address in **ATACseqQC** and **ChIPpeakAnno**.

H.

[2022-04-18 19:12] lshep commented on #2633
@hpages  normally okay to do -- but in this case meant it didnt get into git.bioconductor.org with the right name.  But all taken care of now

[2022-04-18 19:45] mengchen18 commented on #2523
Yes, I want to distribute the dockerfile together with package. Now I have moved Dockerfile to the ```inst/extdata``` folder.
The last build has a "warning" message " there is no package called DelayedArray". I will trigger another build later to see if the problem resolved.

[2022-04-18 22:13] lshep commented on #2594
Hi there.  A few minor comments before acceptance:

**README**

- [ ] Do you need both README.md and README.Rmd? Having both runs the risk of
  one getting out of date.

**inst**

- [ ] I noticed you have citations in your README and vignette. Would you like
  to include them on the package landing page and for default citation. If so
  please include `inst/CITATION` file. It must be able to be re

[2022-04-18 23:28] hpages commented on #1752
Hi @Deisiany, do you intend to follow up on this submission? Thanks.  -- H.

[2022-04-18 23:32] hpages commented on #2212
Hi @mzytnicki, please let me know when **HiCDOC** is ready for review. Thanks -- H.

[2022-04-19 00:07] hpages commented on #2584
Hi @alexchwong,

Thanks for providing the backstory of why you decided to come up with **ompBAM**. It helps me understand where the package would fit in the Bioconductor ecosystem. I know it can be a challenge to use HTSlib. When I was migrating **Rsamtools** to **Rhtslib** a couple of years ago, I spent a lot of time trying to figure out how to extract records from a VCF or BCF file for a particu

[2022-04-19 00:16] lshep commented on #2614
A few comments and questions below:

**NEWS**

- [ ] Your NEWS format is currently using markdown format so please add `.md`
  extention `NEWS.md`

**inst**

- [ ] Please include `inst/scripts` directory that has a file that describes how
  the data in `inst/extdata` was generate. It can be code, sudo code, or text
  but should minimally contain source information and give users and idea of
  how

[2022-04-19 00:21] hpages commented on #2633
@jianhong Are you sure you fixed the maintainer address in **ATACseqQC**? I still see `jianhong.ou@duke.com` there and the last commit is from Mar 30 (commit 3942cc17b). Maybe you forgot to push?

H.

[2022-04-19 01:01] nturaga commented on #2523
Please push your commits to GitHub as well. Your package looks ready to accept.

Just an FYI, your Dockerfile won't work with the updated repo on Bioconductor if you have this line,

[code]

Please update that to just install with BiocManager.

[2022-04-19 03:04] a-mahdipour opened #2641 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
https://github.com/alimahdipour/sciCNV

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-04-19 03:04] #2641 closed, assigned to nobody

[2022-04-19 03:08] a-mahdipour opened #2642 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-04-19 03:08] #2642 closed, assigned to nobody

[2022-04-19 03:11] alimahdipour commented on #2642
How can I activate this repository again?

[2022-04-19 03:14] a-mahdipour commented on #2642
How I can I activate this package again?

[2022-04-19 03:32] serachoi1230 commented on #2568
Hi @PeteHaitch

I was wondering how the review process is going? Do you think it's still possible to get through all before the Bioconductor release date?

Thank you very much!

Best wishes,
Sera

[2022-04-19 03:49] lyoussar commented on #2492
Dear reviewer,

The package is only available for Unix systems and is mentioned on "Installation" section on the vignette, line 37. I added a sentence on README as well.

[2022-04-19 06:40] VingronLab commented on #2465
Dear @vjcitn,
is there something we can do about the error we got? Our assumption is that it is only due to the missing pytorch installation for the Linux server. Since the deadline is already in 3 days we wonder what should we do about this error. Thanks!

[2022-04-19 07:07] mzytnicki commented on #2212
Dear @hpages,
Well, it is ready!
Many thanks,
Matthias.

[2022-04-19 09:01] yannchristinat opened #2643 "(inactive) oncoscanR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yannchristinat/oncoscanR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-04-19 09:02] #2643 closed, assigned to nobody

[2022-04-19 09:06] yannchristinat opened #2644 "oncoscanR"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yannchristinat/oncoscanR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-04-19 09:16] ococrook commented on #2640
Thanks for remvoving the error and agreeing the name ;) I do not see any other issues so I'll move to accept

[2022-04-19 09:23] aspaor commented on #2639
@vjcitn We pushed changes into our master branch, without annotables. Please let us know if everything looks okay.

With regards,
Aspa

[2022-04-19 11:59] lshep commented on #2492
Please add a top level file `.BBSoptions` that has the line `UnsupportedPlatforms: win`  this will flag it on our build system as unsupported on windows.

[2022-04-19 12:01] lshep commented on #2642
I have reopened the original issue.  Please carry out conversation there.  Please also push up a version bump to trigger a new build report.

[2022-04-19 13:57] Deisiany commented on #1752
Yes I do,
I am still having trouble with the R-devel version where the sequences are
registered and that’s why I am taking so long to submit.
Once I figure out how to make that stable in my computer I will go ahead
with the submission.
Sorry for the delay!
Thank you for checking.

Deisiany Ferreira Neres (she/her/hers)
Ph.D. Student, Biological System Engineering
Virginia Polytechnic Institute and

[2022-04-19 14:09] lyoussar commented on #2492
The file was added.

[2022-04-19 14:16] khazum commented on #2632
I am not sure how to interpret your feedback. Are you saying that openMP parallel processing should be removed from code because it is not portable? MacOSx requires the OpenMP library installed - it looks like it is not shipped by default.

[2022-04-19 14:23] a-mahdipour commented on #2642
Thanks @Ishep. I will push up a new version bump.

[2022-04-19 14:34] a-mahdipour opened #2645 "(inactive) sciCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alimahdipour/sciCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-04-19 14:34] #2645 closed, assigned to nobody

[2022-04-19 14:38] lshep commented on #2645
@alimahdipour  stop trying to open new issues.  Use the previously started  https://github.com/Bioconductor/Contributions/issues/2383

[2022-04-19 14:46] SimoneTiberi commented on #2611
Hi again,
in version 0.99.2, I changed the size of the internal data, which solves the 2 issues mentioned above (size and time).

On my mac, the package builds, installs and gives no errors or warnings (both check and BiocCheck).

Do you think it can be reviewed?
It'd be helpful for me to see if there are errors/warnings on other OS that I don't see on my mac.

One thing I know is still missing is

[2022-04-19 14:58] lshep commented on #2611
I will attempt to process again to be assigned a reviewer.  Cheers

[2022-04-19 15:10] khazum commented on #2632
This issue has been addressed. Please proceed with the evaluation.

[2022-04-19 15:21] hpages commented on #2640
I don't agree with the name. I think it's terrible. I think that before renaming the issue twice, we should have reached consensus. Renaming with a "surprise name" after some "internal discussion" to which I was not part is disappointing.

[2022-04-19 15:25] SimoneTiberi commented on #2611
Thanks!

[2022-04-19 15:58] hpages commented on #2640
@ococrook @LiNk-NY I'm withdrawing this submission until consensus has been reached among the co-authors of the package about the name (I'm one of them). I'm sorry that this discussion about the name didn't happen before the package was submitted. I would have started it had I known that the package was going to be submitted for review but I didn't know.

[2022-04-19 16:22] jwokaty commented on #2465
@ClemensKohl Sorry I couldn't get to your message last week. I had to make a change on the linux builder and your package now passes on it.

[2022-04-19 16:42] hpages commented on #2640
See https://github.com/Bioconductor/BiocDeveloper/issues/1

[2022-04-19 18:21] ococrook commented on #2640
@hpages sorry I assumed that "internal" discussion had meant that you guys had moved the discussion offline and come to a consensus. My apologies for misinterpreting that.

I agree a name should be agreed amongst the authors. I'm inclined to close the issue because the package is not really at review stage if the authors aren't all happy about submission.

[2022-04-19 18:25] ococrook commented on #2640
I liked BiocInternalsUtils if that saves a coin toss

[2022-04-19 18:36] hpages commented on #2640
Yes please close the issue @ococrook Thanks for your patience and sorry for the back and forth.

[2022-04-19 18:39] #2640 closed, assigned to ococrook

[2022-04-19 19:51] ClemensKohl commented on #2465
No problem at all, thanks a lot for adding torch!

[2022-04-19 20:55] YuanningEric commented on #2558
@lshep @Kayla-Morrell
Hi Kayla!  I saw there is a deadline for the new package to be built on Bioconductor in order for catching up the release of V3.15. Could you please move our additional package to the repo?
Both our data package and the main (additional) package have been scrutinized during the pre-check phase (see comments above), and we want them to be released with Bioc 3.15 instead of wai

[2022-04-19 20:56] maddygriz commented on #2604
@vjcitn have you had a chance to look at the package after changing the jar download process?

[2022-04-19 21:00] vjcitn commented on #2604
I will do so now

[2022-04-19 21:12] jianhong commented on #2609
# Package 'consICA' Review
The package passed check and build. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] NOTE: R version should be no less than 4.2

## The NAMESPACE file
- [ ] NOTE: Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 14 import(doMC)
	* in line 15 import(doSNOW)
	* in line 16 import(fastICA)
	* in line 17 i

[2022-04-19 21:42] vjcitn commented on #2604
FWIW this is what happened on my mac ... still exploring linux
[code]

[2022-04-19 22:20] maddygriz commented on #2604
@vjcitn I have fixed that issue in the mac vignette build

[2022-04-19 22:31] lshep commented on #2558
Please be aware EpiMix currently has a mixture of biocViews.  Please only use one hierarchy.  I will manually force this in and designate EpiMix a software package.

[2022-04-19 22:37] lshep commented on #2558
@YuanningEric  There also seems to be a discrepancy in our credentials app -- I assume the correct spelling of your email  is `eric2021@stanford.edu`  -- currently in the BiocCredentails app it is `erci2021@stanford.edu`.  Would you like me to update the credentials app for you? I can't finish the processing without the name mismatch (and the biocViews) corrected.

[2022-04-19 22:48] YuanningEric commented on #2558
@lshep Thanks for checking this! Yes, please use `eric2021@stanford.edu`

[2022-04-19 23:47] YuanningEric commented on #2558
@lshep Hi !  From the BiocCheck report, I saw an error: At least 80% of man pages documenting exported objects
      must have runnable examples"
What if some of my functions take a really long time to run or  need to save exported objects to the file system? For example, one of my functions is to download the gene expression data from the TCGA project. In this case, which folder should I save the

[2022-04-20 00:01] lshep commented on #2558
Functions generally need to be run somewhere vignette or examples or tests. One of the reasons I think @vjcitn  also mentioned the TCGAbiolinks is it already utilizes Bioconductor standards like experimenthub and biicfilecache.  Anything downloaded from the internet should have a caching mechanism to download; that way the expensive download is done once and the a user can use the cached file in s

[2022-04-20 01:25] GarrettJenkinson commented on #2614
Thank you very much for your thorough review and helpful comments! We agree with the comments and have addressed all bullet points exactly as suggested, except for the last one.

Regarding the last one, when considering `BiSeq::readBismark` a large issue was that reading in all the data was the largest computational time bottleneck in our entire pipeline (particularly in WGBS or large cohorts). In

[2022-04-20 01:38] PeteHaitch commented on #2614
FWIW there's also `bsseq::read.bismark()`, so it's not like you're the first person to reinvent this wheel :)

[2022-04-20 02:48] NicoleEO commented on #2602
@LiNk-NY
Hi Marcel,
Not sure if this is possible, but can I sacrifice my review spot in line for Maddy's SpatialOmicsOverlay package? We are most interested in getting SpatialOmicsOverlay (SOO) in the release. My NanoStringExperiment package is a data structure change that we are hoping to slowly roll out while SpatialOmicsOverlay is a really exciting image overlay package. We believe Maddy's SOO

[2022-04-20 04:29] PeteHaitch commented on #2568
Hi @serachoi1230,

Thank you your patience over the Easter holidays here in Australia.

Thank you for submitting **EpiCompare** to Bioconductor.
The package looks useful but there are a number of issues that need to be addressed.

For acceptance into Bioconductor, there are a number of **Required** points, as well as **Recommended** points, that I would ask you to first please address.
Would you p

[2022-04-20 05:05] serachoi1230 commented on #2568
Hi @PeteHaitch,

Thank you very much for your review, these are very helpful advices. I will take a look at these now!

Best wishes,
Sera

[2022-04-20 07:58] PeteHaitch commented on #2585
Hi @andreaskapou,

Thank you for submitting **scMet** to Bioconductor.
I'm excited to see tools for analysing single-cell methylation data!

That said, I don't think @vjcitn's initial concern about usage of and interoperability with the core Bioconductor class for storing single-cell data (_SingleCellExperiment_) is adequately addressed in the current version.
Before accepting the package, I think

[2022-04-20 09:57] vjcitn commented on #2604
R CMD build brings the package to 69 MB.  Note section 5.6 here: https://bioconductor.org/packages/devel/bioc/vignettes/BiocCheck/inst/doc/BiocCheck.html

The package would then fail BiocCheck when applied to the tarball.

My initial R CMD check hit:
[code]

The test data makes your package tarball big

[code]

The 5MB overall and 5MB per file limits are violated.  I think you can solve this by us

[2022-04-20 09:58] vjcitn commented on #2602
Apropos sacrificing review spot -- please see https://github.com/Bioconductor/Contributions/issues/2604#issuecomment-1103736459 ...

[2022-04-20 11:48] lshep commented on #2594
@julia-wrobel  please also try to push up these changes before Friday so that the package can be accepted and included in the Bioconductor 3.15 release.

[2022-04-20 12:09] almeidasilvaf commented on #2559
Hi, BioC team.

It's been a month since the package built successfully. Has the package been reviewed?

[2022-04-20 13:02] lazappi commented on #2599
There are still several notes in the [build report](http://bioconductor.org/spb_reports/sSNAPPY_buildreport_20220417215104.html). Please address those, particularly the following:

- Update R version dependency from 4.1.0 to 4.2.0
- Avoid the use of 'paste' in condition signals
- Avoid 'suppressWarnings'/'*Messages' if possible (found 2 times)
- Consider adding runnable examples to the following m

[2022-04-20 13:09] nturaga commented on #2559
I’ll issue a review today.

Thanks.

Nitesh Turaga

[2022-04-20 13:28] lshep commented on #2598
I just went on the mac and checked the timings and nothing seems to be taking
extraordinarily long.  I think I'm happy making the review on linux and see if
this reoccurs when its on the daily builder.  If it occurs again there we will
have to debug further.

**data/man**

- [ ] In the man page could you please indicate if the data was simulated or if
    it is a subset of existing data please pro

[2022-04-20 13:45] lshep commented on #2614
Thank you

[2022-04-20 13:45] smped commented on #2598
Thanks @lshep . This is clearly caused by my setting the argument `BPPARAM = bpparam()`. I'm really struggling to know how to handle this. I've included the following lines in the function, and loaded BiocParallel using Depends, but it hasn't worked
[code]

Given that I don't get this error, does inclusion of the following line before calling `dualFilter()` make any difference?

[code]
Are there a

[2022-04-20 13:50] lshep commented on #2598
Sadly I don't have much experience with BiocParallel. I'll take some BiocParallel people and see if they have any advice

[2022-04-20 13:50] GarrettJenkinson commented on #2614
Thank you so much! Really appreciate the reviewers' time to improve our package!

[2022-04-20 13:57] lshep commented on #2598
@mtmorgan  @Jiefei-Wang  -- Is this an issue with my set up or with implementation?

[2022-04-20 13:58] smped commented on #2598
Thanks @lshep. Much appreciated. If we can't get it fixed, I'll change the default argument to `BPPARAM = SerialParam()`. Internally it's just passed to `csaw::windowCounts()` and that's the default argument for that function. Maybe that'll sort it out as a last resort.

[2022-04-20 14:15] lazappi commented on #2610
Hi @Nina-Song

Thanks for submitting **stJoincount** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

*

[2022-04-20 14:38] nturaga commented on #2559
# Review

## DESCRIPTION

ok, no depends on a Bioconductor package - Maybe include `BioStrings` to take in sequence files as input.

## NAMESPACE

ok

## data

ok

## man

ok

## R

- Can you use the 'Biostrings' package as well to take in sequence data? This will add interoperability with other Bioconductor packages.

## vignette

ok

[2022-04-20 14:39] nturaga commented on #2559
Your package is very close to getting accepted. Good work!

[2022-04-20 14:41] Jiefei-Wang commented on #2598
Thanks @lshep for letting me know the issue. I will take a look at it today

[2022-04-20 14:56] nturaga commented on #2583
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## NEWS

ok

## R

ok

## inst

ok

## man

ok

## tests

ok

## vignettes

ok

- Accepting package because it's ready.

[2022-04-20 15:41] nturaga commented on #2605
# Review

## DESCRIPTION

ok

## NAMESPACE

ok

## NEWS

ok - make sure it can be parsed by `utils::news()`.

## R

- Indent your R code by 4 spaces. https://bioconductor.org/developers/how-to/coding-style/ - follow this.

- Explain the default arguments: https://github.com/TrigosTeam/spaSim/blob/09b9ff57000e54161cfbb9201177edd778a18c5a/R/multiple_images_with_immune_rings.R#L59 , not just in this

[2022-04-20 15:42] nturaga commented on #2616
I don't think the `AnVIL::gcloud_exists()` function was imported correctly.

[2022-04-20 16:25] almeidasilvaf commented on #2559
Thank you for your review, @nturaga!

Great suggestion. Users can now input a *StringSet object, so the package interoperates with Biostrings.

[2022-04-20 16:42] mtmorgan commented on #2598
This sounds like a local configuration issue; what does `class(getOption("timeout"))` give? From `?options`, this should be a non-negative integer; maybe it's a real number, `1` instead of `60L`?

[2022-04-20 16:45] maddygriz commented on #2604
@lshep @vjcitn I have fixed that test error and I will work on shrinking the tarball. Thanks!

[2022-04-20 16:56] LiNk-NY commented on #2616
Hi Nitesh, @nturaga
It should be good to go. Thanks!

[2022-04-20 17:00] lshep commented on #2598
[code]

[2022-04-20 17:15] mtmorgan commented on #2598
So I think you must be setting this, say in `~/.Rprofile`, as `options(timeout = 300)` and it could be changed to `options(timeout = 300L)`. BiocParallel can be less strict on this... I'll open an issue.

[2022-04-20 17:26] nturaga commented on #2616
# Review

## DESCRIPTION
ok

## NAMESPACE
ok

## R
ok

## inst
Readme rendering from here. Good to know 👍🏽

## man

ok

## tests
ok

## vignettes

ok

The package seems good to go :)

[2022-04-20 17:29] lshep commented on #2391
**octad.db**

**data/man and inst/extdata**

- [ ] Describe how the data was generated. If its simulated state as such.
  If the paper you mentioned before describes that in detail than put the
  reference to the paper. Or it seems to be very well described in the vignette
  just copy what is there.

**NAMESPACE**

- [ ] I don't think you want to export an internal function `.eh`. Just have the

[2022-04-20 17:29] nturaga commented on #2559
Please fix these two notes. I'll accept your package. The second one, only if it's relevant to your package.

* NOTE: Update R version dependency from 4.1 to 4.2.0.

* NOTE: Consider adding these automatically suggested biocViews:
      NetworkInference, Network

[2022-04-20 17:48] julia-wrobel commented on #2594
Just made these changes! Let me know if I need anything else.

[2022-04-20 17:51] lshep commented on #2594
The vignette is still `vignette.Rmd`.  It needs to be renamed preferably VectraPolarisData.Rmd.

I will assume then you do not want to include the CITATION file as it is still not present.

[2022-04-20 18:09] LiNk-NY commented on #2546
Hi Sagun @sagun98 Amrisha @amrishabhosle

Thanks for making those changes.
Please follow up on those warnings where possible.
Thank you for your submission. We've accepted your package.

Best regards,
Marcel

[2022-04-20 18:11] LiNk-NY commented on #2530
Hi @bmill3r

Thank you for making those changes and sticking with it.
Your package has been accepted. Thank you for your contribution.

Best regards,
Marcel

[2022-04-20 18:21] amrishabhosle commented on #2546
Hi @LiNk-NY
This is great news for us! We will follow up on the warnings.

Many thanks,
Amrisha

[2022-04-20 18:41] almeidasilvaf commented on #2559
Done!

I added Network to biocViews, but not NetworkInference (not relevant to the package).

Thank you very much for your helpful suggestions.

[2022-04-20 18:43] lshep commented on #2594
I think you accidentally removed the vignette entirely instead of renaming it?

[2022-04-20 19:04] julia-wrobel commented on #2594
I'm having some issues because I made the changes you requested on a different computer (including renaming the vignette) than the one I committed and pushed them on- should have it worked out by the end of the day!

[2022-04-20 19:05] lshep commented on #2594
sounds good thanks!

[2022-04-20 19:05] nturaga commented on #2426
Hi @Carla-Radames ,

I'm guessing your package will be inactive for a while? Please confirm and I'll close the issue. You can always reopen later.

There is no point leaving it open.

[2022-04-20 20:30] YuanningEric commented on #2558
@lshep Thanks a lot for your advice! In a future release, we will consider to using TCGAbiolinks or RTCGAToolBox as mentioned by @vjcitn . Now, our package has passed the `R CMD check`. The only error and warning arising from the `BiocCheck` is that we need to test more chunks in vignette and/or examples.

For those functions I tested in the vignette, do I need to test it again in the function exa

[2022-04-20 21:06] mooredf22 commented on #2541
I am revising the vignette code to decrease the build time and size.

[2022-04-20 21:41] Nina-Song commented on #2610
Hi @lazappi ,

Thanks a lot for your feedback and these valuable comments. I will make adjustments as soon as possible.

I am wondering if there is a deadline for developers to make changes before getting accepted?

Thanks again for your help. @lazappi

Sincerely,
Nina

[2022-04-20 22:30] maddygriz commented on #2604
@lshep @vjcitn I have reduced the tarball down to ~2mb. This is without the vignette though, does that need to be included?

[2022-04-20 22:59] smped commented on #2598
Thanks @mtmorgan. Appreciate the help & nice to know I haven't ventured too far off the sensible path.

[2022-04-20 23:19] vjcitn commented on #2604
Whatever R CMD build produces must not exceed 5MB.  I will have a look.

[2022-04-21 00:04] bmill3r commented on #2530
Hi @LiNk-NY and Reviewers,

Thanks so much taking the time to review this submission. This process has overall greatly improved the package and I have learned a ton along the way. I really appreciate it.

Brendan

[2022-04-21 00:54] vjcitn commented on #2604
Here is what I am seeing after a build (partly; this is from a tar tzvf of the built package):
[code]
did you intend to keep the jar file in the package?  If it is retrieved to cache you should not need it.  I guess the HTML of the vignette is large because of included images.  Can you find a more compact format?  Think of the vignette as mostly helping people to use the software to achieve desire

[2022-04-21 01:00] PeteHaitch commented on #2515
Hi @wheelerb,

Thanks for addressing the comments in the initial review.
There are still some issues that must be addressed for **SUITOR** to be accepted.
Please note that these need to be fixed by the end of this week to ensure that **SUITOR** is included in Biocondcutor 3.15 (see https://bioconductor.org/developers/release-schedule/).

Cheers,
Pete

### Required

- [x] Please limit use of uneval

[2022-04-21 01:49] maddygriz commented on #2604
I don't see the bioformats_package.jar file in my repo or the built tar file so no it is not supposed to be there. It gets downloaded to the cache and not the inst/java folder. Is it possible that is left over from a previous build?
![image](https://user-images.githubusercontent.com/40255151/164355339-3cab44f6-6466-434b-a7ba-51c0d9fb056e.png)

I just updated the vignette with smaller images so we

[2022-04-21 05:57] Wenjun-Liu commented on #2599
Sorry Luke @lazappi! I have fixed all problems that I overlooked now, except the caching one. To be honest with you, I am not very familiar with using **{BiocFileCache}**. I gave it a try but didn't have much luck. Is this something that I could possibly add on after my package is accepted?

Apart from that, I have fixed:

- [x] Update R version dependency from 4.1.0 to 4.2.0
- [x] Avoid the use o

[2022-04-21 06:54] hpages commented on #2584
Hi @alexchwong,

Can you please take care of the above, that is, use evaluated code chunks in the vignette that don't rely on the RStudio environment? Thanks.

H.

[2022-04-21 07:07] serachoi1230 commented on #2568
Hi @PeteHaitch,

Please see below the line-by-line response to your comments.

We are aware that the Bioconductor release deadline is this Friday and there is very limited time to sort absolutely everything. We tackled all "required" points, but in the interest of time, we were not able to sort all "recommended" points. We hope that you understand - we prioritised some "recommended" issues and rem

[2022-04-21 07:10] lazappi commented on #2610
You can find the release schedule here https://bioconductor.org/developers/release-schedule/. You may have just missed the deadline for acceptance already but @Bioconductor/core can confirm.

[2022-04-21 07:24] mtmorgan commented on #2515
Looking briefly at the code, I think you would remove all but the call to `extractWH_par()` from https://github.com/wheelerb/SUITOR/blob/c3ba8de42082e8b0826b420b14c35013fb0e5b6c/R/source_extract_WH.R#L40-L50 and replace https://github.com/wheelerb/SUITOR/blob/c3ba8de42082e8b0826b420b14c35013fb0e5b6c/R/source_extract_WH.R#L109-L119 with
[code]
`op$n.cores` and `op$n.type` would be replaced by eithe

[2022-04-21 07:24] hpages commented on #2571
Thanks for the changes.

One last thing. The new "Installing the RAREsim Package" section says:

but doesn't actually show any code. See screenshot below.

Also don't forget the dot at the end of the sentence.

Almost there.

Thanks,
H.

![Screenshot from 2022-04-21 00-20-13](https://user-images.githubusercontent.com/8810451/164398655-e5ecbe88-1313-4633-b39d-fb33a7687a5e.png)

[2022-04-21 07:37] hpages commented on #2212
Thanks @mzytnicki.

We're very busy with our upcoming release (BioC 3.15, scheduled for next Wednesday) and it won't be possible to expedite the review process in time for this release. I'll review this new version of **HiCDOC** in the next couple of weeks and we'll add it to BioC 3.16 upon acceptance.

Thanks for your patience.

Best,
H.

[2022-04-21 07:38] hpages commented on #1752
No worries. Thanks for the update.

H.

[2022-04-21 07:44] mzytnicki commented on #2212
Dear @hpages,

Sure!  No problem on my side.  Take it easy.
My priorities are: first, a fine 3.15 BioC; then, if time permits, a BioC with HiCDOC.

Best regards,

Matthias.

[2022-04-21 08:01] serachoi1230 commented on #2568
Hi @PeteHaitch,

Sorry, I accidentally closed the issue, please ignore!

Please see below the line-by-line response to your comments.

It's a little strange that the build result is showing "TIMEOUT"- locally, it takes 8mins to complete `devtools::check()`

We are aware that the Bioconductor release deadline is this Friday and there is very limited time to sort absolutely everything. We tackled al

[2022-04-21 09:24] alexchwong commented on #2584
Thanks for your feedback @hpages ! I have amended the vignette as per your suggestion. Please let me know if you have any further suggestions.

Alex

[2022-04-21 09:35] alexchwong commented on #2584
@hpages, again the warning flags is from BiocCheck regarding the unevaluated code blocks in the vignette; otherwise the package passes without other warnings. In the vignette, only section 0 (installation and quick-start) is intended to have example code for the R console. In the remainder of the vignette, the code blocks are used to discuss, step-by-step, segments of the worked examples, as well

[2022-04-21 09:44] lazappi commented on #2599
The package should consistently use camelCase or snake_case but you still you have a mix of both (`computePerturbationScore()` and `plot_gs_network()`, should be with `computePerturbationScore()` and `plotGSNetwork()` or `compute_perturbation_score()` and `plot_gs_network()`).

Ok, I have looked at this again and that chunk does take a long time to run. Maybe I accidentally skipped over it before,

[2022-04-21 12:19] SimoneTiberi commented on #2611
Dear @vjcitn,
I do get this error:
[code]

however I am struggling to identify the files that are causing the problem (not mentioned in the error).

Any ides what those files could be?

Thanks

[2022-04-21 12:20] lshep commented on #2611
@SimoneTiberi  http://contributions.bioconductor.org/gitignore.html

[2022-04-21 12:29] SimoneTiberi commented on #2611
Thanks @Ishep !

I had a .gitignore file, but apparently it was incomplete.

Thanks a lot again.

[2022-04-21 12:34] lshep commented on #2594
Thanks!

[2022-04-21 12:53] lshep commented on #2598
@mtmorgan  Yes changing to 300L in my .Rprofile allowed me to run the code.
@steveped feel free to change back whatever was changed on my account/BiocParallel strictness.

@steveped  I think you should mention how the data was generated in the man page as well as `inst/scripts/ex_datasets.md` or at least put a pointer to the `inst/scripts/ex_datasets` in the man page so that users can really under

[2022-04-21 13:03] SimoneTiberi commented on #2611
Hi again @ishep, the problem seems to persist even after adding all `hidden_file_ext` to my `.gitignore`: https://github.com/SimoneTiberi/DifferentialRegulation/blob/master/.gitignore

Is there any way to identify the file which is being tracked?

I also checked all folders and can't see anything wrong.

2 possible issues (although I think both should be fine):
- I have an `.RData` object in the `

[2022-04-21 13:05] lshep commented on #2611
If you run the latest BiocCheck locally it should give you an output directory that would list the files; at least that is my understanding @LiNk-NY  .
Also if they were already checked into git you would have to do a `git rm` on the file and commit that with a version bump to have the removed.
Hope that helps

[2022-04-21 13:20] Wenjun-Liu commented on #2599
Thank you for your prompt response @lazappi! I have fixed the naming problem, removed the `gsTopology.rda` from `vignette/` directory, and set all vignette chunks to be `echo = TRUE`. For the `normalisedScores` chunk, I set it to be `eval = FALSE` because output of the `permutedScore` step was too big so I only stored a subset of it but with the subset of permutation result I still wouldn't be abl

[2022-04-21 13:24] lgatto commented on #2541
Thank you - I have started the review anyway but didn't mange to finish it yet.

[2022-04-21 13:25] serachoi1230 commented on #2568
Hi @PeteHaitch,

Sorry, I accidentally closed the issue, please ignore!

Please see below the line-by-line response to your comments.

We are aware that the Bioconductor release deadline is this Friday and there is very limited time to sort absolutely everything. We tackled all "required" points, but in the interest of time, we were not able to sort all "recommended" points. We hope that you under

[2022-04-21 13:49] LiNk-NY commented on #2611
Not by default. I am working on showing the output but for now you can do:
[code]

[2022-04-21 13:50] lshep commented on #2611
@LiNk-NY  This seems like a false positive since its a data file ?

[2022-04-21 13:53] LiNk-NY commented on #2611
@lshep
No, we don't want RData files in there. See this issue: https://github.com/Bioconductor/BiocCheck/issues/155

[2022-04-21 13:56] LiNk-NY commented on #2611
@SimoneTiberi
See `?usethis::use_data`

[2022-04-21 13:56] SimoneTiberi commented on #2611
Thank you both for the explanation.

Actually, `BiocCheck` gives no errors or warnings.

Indeed `BiocCheckGitClone` gives an error, but doesn't say what file should not be tracked.

[code]

Can I replace the `.RData` file with an `.RDS` object?
Otherwise I'll store the file in a txt in extdata.

Thank you both again

[2022-04-21 13:57] SimoneTiberi commented on #2611
Oh you just replied to my question; ok great, I'll use `usethis::use_data`, thanks!

[2022-04-21 13:59] LiNk-NY commented on #2611
Make sure you have version `1.31.36` or greater.
[code]

[2022-04-21 14:32] lazappi commented on #2599
I think this is ok now, I will approve the package. Congratulations on getting it into Bioconductor 🎉! It can take a couple of days to be picked up by the build system but should hopefully make it into the next release.

[2022-04-21 14:41] smped commented on #2598
Thanks @lshep. That's great news! I've just done a version bump & which includes a link to that script in the man page. Good luck with getting the release all sorted too.

[2022-04-21 15:27] SimoneTiberi commented on #2611
I removed the `.RData` object (and created a small .txt file in `extdata` instead).

Let's see if this solved the error.

[2022-04-21 15:32] julia-wrobel commented on #2594
Thanks!

[2022-04-21 15:47] SimoneTiberi commented on #2611
Ok, issue solved.
Thanks a lot again @LiNk-NY and @lshep!

@vjcitn, the errors/warnings above were sorted, and I don't plan any new edits, so I think the package is ready to be checked.
Let me know if you have comments or questions about the package.

Thank you all again for your work

[2022-04-21 17:09] maddygriz commented on #2604
@vjcitn any update from your end?

[2022-04-21 18:39] hpages commented on #2584
Thanks for the changes to the vignette. The _Installation and Quick-Start_ section now works like a charm for me, from an old-fashion Unix terminal :wink:

I think the package is good to go as is, even though I'm sure it will evolve and improve in the future, as you migrate **NxtIRFcore** to use **ompBAM** internally, and as the package gets adopted by other packages as an alternative to **Rhtslib

[2022-04-21 19:48] Jfortin1 commented on #2583
Thanks @nturaga !

[2022-04-21 21:16] vjcitn commented on #2604
When I pulled, the big jar file remained in the repo.  I am now on a train.  I will look at it as soon as I can.  Please bump the z in x.y.z every time you change sources, in the Version in DESCRIPTION.  Thanks

[2022-04-21 23:16] vjcitn commented on #2604
you made it... around 3.6MB ... vignette looks good.  will clear pre-check

[2022-04-22 00:33] Wenjun-Liu commented on #2599
Thank you @lazappi! This is great news! I really appreciated all of your help and feedback. Looking forward to the new bioconductor release. :)

[2022-04-22 02:21] LiNk-NY opened #2646 "BiocBaseUtils"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/BiocBaseUtils

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2022-04-22 02:22] LiNk-NY commented on #2646
See https://github.com/Bioconductor/Contributions/issues/2640

[2022-04-22 07:08] PeteHaitch commented on #2568
Hi @serachoi1230,

Thank you for the revisions.
There are some issues that seem to have been overlooked from the initial review and a couple of other points from the changes that need to be fixed.

Cheers,
Pete

### Required

- [ ] Re `import()` not working for you. There's 2 issues:

1. You need to specify an appropriate value to the `format` argument.
2. Please use `rtracklayer::import()` rather

[2022-04-22 10:23] serachoi1230 commented on #2568
Hi @PeteHaitch ,

Thank you very much for getting back to me, please see below line-by-line response to your review.

Also, we believe that the runtime timeout is an anomaly as this has happened before, where it completes all checks locally (mac) in 8 mins and on linux, 5 mins, and the timeout goes away with no apparent reason.

**REQUIRED**

- [ ] import() not working for you. There's 2 issues: Y

[2022-04-22 11:04] serachoi1230 commented on #2568
Hi @PeteHaitch ,

Thank you very much for getting back to me, please see below line-by-line response to your review.

Also, we believe that the runtime timeout is an anomaly as this has happened before, where it completes all checks locally (mac) in 8 mins and on linux, 5 mins, and the timeout goes away with no apparent reason.

**REQUIRED**

- [x] import() not working for you. There's 2 issues: Y

[2022-04-22 13:22] ococrook commented on #2646
@LiNk-NY, Can you confirm everyone agrees on the name ?

[2022-04-22 14:46] LiNk-NY commented on #2646
Yes, see https://github.com/Bioconductor/BiocBaseUtils/issues/1

[2022-04-22 18:28] maddygriz commented on #2604
@vjcitn when trying to push my changes I receive this error.

I looked at my BiocCredentials and it doesn't look like I have access to this package.

[2022-04-22 19:07] vjcitn commented on #2604
be sure u are using correct git credential   review the faq  if not solved email bioc-devel  @nturaga

[2022-04-22 19:09] lshep commented on #2604
Did you change your username in the app?

[2022-04-22 19:10] lshep commented on #2604
There is a mismatch in username.  Give me 5 minutes and I should have it corrected.

[2022-04-22 19:12] lshep commented on #2604
Please try now. You should now have access

[2022-04-22 19:15] lshep commented on #2616
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LiNk-NY.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-04-22 19:15] #2616 closed, assigned to nturaga

[2022-04-22 19:15] lshep commented on #2614
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/GarrettJenkinson.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your

[2022-04-22 19:15] #2614 closed, assigned to lshep

[2022-04-22 19:15] lshep commented on #2599
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Wenjun-Liu.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-22 19:15] lshep commented on #2598
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/steveped.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-22 19:15] #2599 closed, assigned to lazappi

[2022-04-22 19:15] #2598 closed, assigned to lshep

[2022-04-22 19:15] lshep commented on #2594
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/julia-wrobel.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-04-22 19:15] #2594 closed, assigned to HelenaLC, lshep

[2022-04-22 19:15] lshep commented on #2584
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/alexchwong.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-22 19:15] #2584 closed, assigned to hpages

[2022-04-22 19:15] lshep commented on #2583
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Jfortin1.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-22 19:15] lshep commented on #2559
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/almeidasilvaf.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2022-04-22 19:15] #2583 closed, assigned to nturaga

[2022-04-22 19:15] lshep commented on #2546
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/sagun98.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-04-22 19:15] #2559 closed, assigned to nturaga

[2022-04-22 19:15] #2546 closed, assigned to LiNk-NY

[2022-04-22 19:15] lshep commented on #2530
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/bmill3r.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-04-22 19:15] #2530 closed, assigned to LiNk-NY

[2022-04-22 19:15] lshep commented on #2523
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mengchen18.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-22 19:15] #2523 closed, assigned to nturaga

[2022-04-22 19:25] maddygriz commented on #2604
That worked! thanks

[2022-04-22 20:06] RMBarnard commented on #2571
Hello @hpages. I fixed that bit of formatting for the installing the package part of the vignette. When I pushed to upstream I got a build error due to the package data having .RData file extensions which was odd to me because the have been in that format all along. Anyways, I went ahead and changed the extensions to .rda and it resolved the problem.

Thank you
Ryan Barnard

[2022-04-22 21:43] vjcitn commented on #2604
[code]
hope the timings can be improved

[2022-04-22 21:46] PeteHaitch commented on #2568
Thanks @serachoi1230 . With your efforts to respond to review comments on a tight deadline, I've accepted the package in the hope it will sneak in before the deadline. @lshep will that be possible?

It's the weekend where I am but I'll take a quick look over the most recent changes to provide any useful feedback for the future development of **EpiCompare**.

Thank you for your contribution to Bioc

[2022-04-22 23:04] PeteHaitch commented on #2568
Minor things to tidy up:

- [ ] When using `requireNamespace()` please add similar code to what you have in `EpiCompare:::checkCache()`; see https://r-pkgs.org/description.html?q=require#guarding-the-use-of-a-suggested-package
- [ ] Pseudocode in `?encode_H3K27ac` still looks a bit odd

I've reported a couple of issues that were identified during this review with importing/exporting narrowPeaks fi

[2022-04-23 01:21] hpages commented on #2571
This looks like a regression in the latest version of the **BiocCheck** package. Sorry for that. I just [reported it](https://github.com/Bioconductor/BiocCheck/issues/155#issuecomment-1107138407).

Package is good to go. Just in time for the BioC 3.15 release!

Best,
H.

[2022-04-23 02:15] serachoi1230 commented on #2568
Hi @PeteHaitch,

Thank you very much for all your efforts! We will continue to work on the issues!

Best wishes,
Sera

[2022-04-23 07:00] mtmorgan commented on #2568
Briefly, EpiCompare should be doing the equivalent of `rtracklayer::import(..., format = "narrowPeak")`.

This snippet from above
[code]
should (a) not use `file.path()` on the URL,  since this is not a file path (on Windows the file path separator is `\`, for instance) but simply `paste(..., sep="/")` or `paste0()` with the appropriate separator prepended to the relevant part of the path, (b) use

[2022-04-23 08:47] qxdu commented on #2426
@nturaga  Thank you sir. this issue could be closed. My senior said that in the case of already having Rhisat2, it does not make much sense to continue the modification of Rhisat. According to the paper, it is difficult for me to explain the advantages and application scenarios of Rhisat compared to Rhisat2. Therefore, at the moment I can't make more critical changes.

Thank you for your kindness.

[2022-04-24 10:04] dzhang32 commented on #2569
Hi @ococrook,

After discussing with my colleagues, although we do understand the rationale behind these comments from the perspective of the Bioconductor ecosystem, we've decided to withdraw the `ggtranscript` Bioconductor submission. The main reasons for this are:

- We think upping the requirement R 4.2 will cause some friction (even with the separate branch solve) for some users of `ggtranscri

[2022-04-24 10:04] #2569 closed, assigned to ococrook

[2022-04-24 14:04] vjcitn commented on #2604
I am working on reviewing this package.  I have some concern that the package is licensed MIT but there is wholesale incorporation of GPL-3 code from RBioFormats.  Have you discussed this with A Oles who manages that package?  The existence of GPL-3 code in SpatialOmicsOverlay must be properly acknowledged at top level, IMHO.

[2022-04-24 14:08] vjcitn commented on #2604
You are including code from an author whose name does not appear in DESCRIPTION.  I believe this is not appropriate, though strictly speaking, perhaps the license is properly followed.  Does this GPL-3 clause
[code]
apply?

[2022-04-24 17:30] maddygriz commented on #2604
I have added A Oles as an author and added the relevant modification date.

I did not discuss the addition of the code with A Oles because the license states that the code can be used verbatim and modified.

[2022-04-24 17:35] vjcitn commented on #2604
Please don't add him as an author without his assent.  Thanks!

[2022-04-24 17:47] maddygriz commented on #2604
I think I used the wrong wording. I added him as a copy right holder, a cph. But I can remove the email.

[2022-04-24 18:38] vjcitn commented on #2604
Since RBioFormats is GPL-3 https://www.gnu.org/licenses/gpl-3.0.en.html becomes relevant.  You are declaring MIT license, but see point 5(c).

[2022-04-25 07:21] SimoneTiberi commented on #2611
Hi all, hi @vjcitn @lshep and @LiNk-NY,
apologies in advance for the pressure, but I see today is the "Last day to commit changes to the Bioc 3.15 branch".

I think the package actually respects all Bioc requirements; would anyone be willing to give it a quick look?

Thanks in advance,
Simone

[2022-04-25 10:51] vjcitn commented on #2611
The vignette starts off with (in introduction)
[code]
literally.

[2022-04-25 10:53] vjcitn commented on #2611
The vignette concludes with
[code]
again literally.  The results are not disclosed.  Is this your intention?

[2022-04-25 10:54] vjcitn commented on #2611
The eval=FALSE may save you time but don't you want to convey the output to the reader?

[2022-04-25 11:02] SimoneTiberi commented on #2611
Dear Vince @vjcitn ,
thanks for taking a look at the package.

Actually, those 2 issues were solved some time ago and are not present in the latest version; see: https://github.com/SimoneTiberi/DifferentialRegulation/blob/master/vignettes/DifferentialRegulation.Rmd

I am a bit confused: are you seeing Version: 0.99.7 ?
Wasn't the latest vignettes propagated to the Bioc version of the package?

[2022-04-25 11:31] vjcitn commented on #2611
OK, this seems to be my problem.
[code]
I was able to get 0.99.7 in another folder and I will have a look now.

[2022-04-25 11:32] SimoneTiberi commented on #2611
Oh, thanks for spotting this.

[2022-04-25 11:51] vjcitn commented on #2611
I ran CMD check and had no problem;  `Tiberi S (????)` shows up in the vignette and might be ameliorated if you put a date in your DESCRIPTION.

[2022-04-25 11:52] vjcitn commented on #2611
I ran CMD check and had no problem;  `Tiberi S (????)` shows up in the vignette and might be ameliorated if you put a date in your DESCRIPTION.

[2022-04-25 11:56] SimoneTiberi commented on #2611
Ah ok; I though the date field was automatically added once in Bioconductor.
E.g., other Bioc packages like `muscat` don't have a date: https://github.com/HelenaLC/muscat/blob/master/DESCRIPTION

If this is not the case, sure I can just add a date and update.

P.s., Thanks for the review!

[2022-04-25 11:58] lshep commented on #2568
Yes I'll process the final accepted packages later today so they will be included in the release.

[2022-04-25 12:47] SimoneTiberi commented on #2611
@vjcitn, just to clarify: are you waiting for me to add a date on the DESCRIPTION?

I was waiting for you to confirm if/that it's necessary, but maybe we're waiting for each other...

Thanks

[2022-04-25 13:34] SimoneTiberi commented on #2611
Thanks @vjcitn for taking the time to review my package.

[2022-04-25 13:45] vjcitn commented on #2604
Let me know if you have a plan for dealing with this, we are trying to finish up accepted vs pending packages.  Thanks

[2022-04-25 13:58] #2426 closed, assigned to nturaga

[2022-04-25 13:58] nturaga commented on #2426
Thanks for your comment. I'm closing the issue now, but feel free to open it again.

Best wishes.

[2022-04-25 14:17] vjcitn commented on #2556
I am going to accept this package.  But please revise the vignette so that the abstract tells the reader WHAT IS ACTUALLY GOING TO BE DONE, SCIENTIFICALLY, FROM THE POINT OF VIEW OF SOMEONE WHO HAS NO IDEA WHAT "GRaNIE" IS.  The introductory paragraph could benefit from similar elaborations.

[2022-04-25 14:19] vjcitn commented on #2492
I will accept but please change Depends: R (>=4.1) to Depends: R (>= 4.2)

[2022-04-25 14:20] vjcitn commented on #2492
The BiocCheck errors are false positives at this time.

[2022-04-25 14:22] vjcitn commented on #2556
and do not name your vignette "workflow.Rmd".  Use a less generic name.

[2022-04-25 14:28] lshep commented on #2611
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/SimoneTiberi.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-04-25 14:28] #2611 closed, assigned to vjcitn

[2022-04-25 14:28] lshep commented on #2571
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/RMBarnard.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-25 14:28] #2571 closed, assigned to hpages

[2022-04-25 14:28] lshep commented on #2568
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/serachoi1230.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-04-25 14:28] #2568 closed, assigned to PeteHaitch

[2022-04-25 14:28] lshep commented on #2556
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/chrarnold.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-25 14:28] lshep commented on #2492
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lyoussar.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-04-25 14:28] #2556 closed, assigned to vjcitn

[2022-04-25 14:28] #2492 closed, assigned to vjcitn

[2022-04-25 14:28] lshep commented on #2465
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/VingronLab.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-04-25 14:28] lshep commented on #2234
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/gongcongcong.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2022-04-25 14:28] #2465 closed, assigned to vjcitn

[2022-04-25 14:28] #2234 closed, assigned to vjcitn

[2022-04-25 14:38] chrarnold commented on #2556
Thanks a lot, we are happy about this! I will revise the vignette today before the freeze.

About the renaming: Would GRaNIE_workflow.RMd ? Not sure which other name reflects better of what the vignettes shows. Some packages such as DESeq just name the vignette as the package name, would that be more appropriate yes? Thanks!

[2022-04-25 14:39] vjcitn commented on #2556
the name you suggest is fine

On Mon, Apr 25, 2022 at 10:38 AM chrarnold ***@***.***> wrote:

--
The information in this e-mail is intended only for the person to whom it
is
addressed. If you believe this e-mail was sent to you in error and the
e-mail
contains patient information, please contact the Partners Compliance 
HelpLine at
http://www.partners.org/complianceline
<http://www.partners.org/co

[2022-04-25 15:01] chrarnold commented on #2556
OK thanks! Another quick question: The original Git repository, what do I do with it? In the future, I commit changes directly to the Bioconductor remotes and there is no need for the Git repository, correct? I'd like to avoid and remove redundancy and complexity so I am thinking about retiring the Git repo then. What are best practices here?

[2022-04-25 15:31] maddygriz commented on #2604
I am working on it. I'm waiting on our legal department and head of biostats to respond with how we need to address this.

[2022-04-25 17:12] wheelerb commented on #2515
Hi Pete and Martin,

Thank you for your feedback and code.
Below are the changes made to your points above.

Sincerely,

Bill

Required
 Please limit use of unevaluated code chunks in vignette where feasible.
 Ideally, all chunks (except installation) in the vignette would be evaluated (perhaps using fewer iterations or a smaller subset of data) but I appreciate that it may be challenging to make

[2022-04-25 17:31] mtmorgan commented on #2515
For BiocParallel this should 'just work'. For instance, `Rsamtools::idxstatsBam()` calls C code, and
[code]
shows that the C code is available on the workers.

If you create a branch in your git repository with your attempt at using BiocParallel, and a simple reproducible example then I would be happy to look at it.

Alternatively, if you are using the devel version (I guess you are, since this is

[2022-04-25 18:07] chrarnold commented on #2556
I pushed a new commit 5 minutes ago, but I do not see the automated "Received a valid push on git.bioconductor.org" from the bot. Is this because the issue was closed or because of another reason?

[2022-04-25 18:25] lshep commented on #2556
Yes once it's accepted and closed it doesn't build on demand.   It will be reflected when it shows in the daily build report

[2022-04-25 18:26] chrarnold commented on #2556
OK thanks for the quick reply, let's hope there is no error. Locally all looked good and I changed only few things, there shouldnt be anything new :). I will wait for the report then thank you :)

[2022-04-25 18:32] lshep commented on #2556
No problem. Here is the main build check page for convenience https://www.bioconductor.org/checkResults/

[2022-04-26 00:19] maddygriz commented on #2604
I have confirmed with our team that we don't want to switch licenses. We are considering a couple of options, but this may take some time. Thank you for all of your help up to this point!

[2022-04-26 00:51] PeteHaitch commented on #2515
Thanks @wheelerb.
**SUITOR** is almost ready for acceptance, there are just 2 things to address:

- [ ] Please uncomment the code in Sections 8 & 9.
- [ ] Martin's advice and offer of help will hopefully enable you to switch to using **BiocParallel**. I may also be help with this, but please note that such help may not be immediate owing to the in-progress release of Bioconductor 3.15 (and grant d

[2022-04-26 01:02] YuanningEric commented on #2558
Hi @lshep @Kayla-Morrell, I have included the vast majority of functions as runnable examples in the Vignette. Since there is a time limit for `R CMD check`, the functions that have been run in the Vignette were not included as runnable examples in the man pages. Can you accept our package?

Thanks!

[2022-04-26 01:42] mooredf22 commented on #2541
I have added two new data frames to the package that contain pre-computed values for figures with panels of tables in Tutorials 4 and 5. I also modified the "mixtureHeatMap" function to optionally use these pre-computed values in place of computing them during the knitting of the vignette (tutorials) during the package build. I also used "\dontrun{}" in the help file for the "mixtureHeatMap" funct

[2022-04-26 02:02] mooredf22 commented on #2541
The main concern with the build report appears to be the size of the vignette (which is a compendium of seven tutorials). These tutorials are being published as supplementary material for a companion manuscript that has recently been accepted for publication in the Journal of Proteome Research. I understand that there are resource limitations, but I (and my co-authors) would like to find a way to

[2022-04-26 04:46] Lionir commented on #2391
@lshep Thank you for your patience.

**All recent pushes on merida get timeout because of a very slow downloading speed from Experimenthub, can't solve it, any advice? Everything else is answered below.**

[2022-04-26 11:09] alex-d13 commented on #2627
Hi,

I am now using basilisk to handle the python dependencies and the github actions runs through. Though I have to add, that the vignettes are not checked in this workflow, as there is an issue with the two sample files that come with the package in `inst/extdata/` as they are not found in this workflow, even though I am using `system.file('extdata', 'anndata.h5ad', package='SimBu')`, as recomme

[2022-04-26 12:13] fuerzhou commented on #2605
Thank you @nturaga for the comments. Much appreciated.

### The following issues have been solved :

- [X] NEWS can be parsed by `utils::news()` after installation.
- [X] R files are now indented by 4 spaces.
- [X] Deleted unnecessary codes.
- [X] Added validity checks for parameters.

### There are two things that I would like to discuss with you:

- On the number of parameters and the default ar

[2022-04-26 12:19] fuerzhou commented on #2605
I tried pushing the updated version 0.99.1 to Bioconductor. However, I encountered an error:

[code]

Looks like the issue was not the SSH. It might have something to do with hooks on remote. Could you please help me with this? Thank you!

[2022-04-26 13:46] Kayla-Morrell commented on #2558
@YuanningEric - We do not accept packages simply based off the build report, there is a formal review process that must take place. I will begin reviewing both packages and post back here with required/suggested changes that should be made to the package before being accepted. I will attempt to get the review posted within the next week.

Best,
Kayla

[2022-04-26 15:21] Jfortin1 opened #2647 "crisprDesign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jfortin1/crisprDesign

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read t

[2022-04-26 23:59] quranwu opened #2648 "(inactive) IFAA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/quranwu/IFAA.git

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2022-04-26 23:59] #2648 closed, assigned to nobody

[2022-04-27 00:01] quranwu opened #2649 "(inactive) IFAA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/quranwu/IFAA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-04-27 00:01] #2649 closed, assigned to nobody

[2022-04-27 00:05] quranwu opened #2650 "(inactive) IFAA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/quranwu/IFAA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-04-27 00:05] #2650 closed, assigned to nobody

[2022-04-27 00:12] quranwu opened #2651 "IFAA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/quranwu/IFAA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-04-27 00:15] quranwu commented on #2651
Hi, For the newly submitted package, there're two things I would like to mention:
1. The package exists on CRAN right now, but we will remove it once accepted by Bioconductor.
2. We include set.seed() in the function for the reasons below:
  2.1 The seed is used to reproduce the exact results under potential randomness.
2.2 Set seed in global environment cannot be passed to the parallel computing

[2022-04-27 07:58] lyoussar commented on #2492
I am not sure if this issue link is still working. I will send this sentence as test ...

[2022-04-27 08:10] lyoussar commented on #2492
OK, looks like it works!
My issue is related to SSH key. The package is hosted on "CyanolabFreiburg" organization and we can not set a key. Is there anyway to branch my account "lyoussar" and use my authenticity? Thanks!

[2022-04-27 12:25] lshep commented on #2492
Further questions should be directed to the bioc-devel@r-project.org mailing list.

You can manage keys on the GitCredentials account.  Please activate your account https://git.bioconductor.org/BiocCredentials/account_activation/  The account was set up with lyoussar as the username/github name to use keys and the listed maintainer email for login jens.georg@biologie.uni-freiburg.de

You'll be abl

[2022-04-27 12:42] lshep commented on #2605
Multiple issues:
1.  As mentioned in a previous message, you need to activate your git credentials account and add ssh keys to the account for access. https://git.bioconductor.org/BiocCredentials
2.  There is no main branch on bioconductor.  Bioconductor currently uses master. See http://contributions.bioconductor.org/git-version-control.html#new-package-workflow  particularly the note under `#5`

[2022-04-27 12:47] lshep commented on #2541
Would it make sense than to keep a smaller, proof of principle vignette inside the package with the R code and publish an accompanied workflow package(s) that are more encompassing [workflow packages](http://contributions.bioconductor.org/bioconductor-package-submissions.html#workPackage) with the full tutorials

[2022-04-27 12:52] fuerzhou commented on #2605
@lshep Thank you very much for the advice. I have now pushed the new version to Bioconductor.

[2022-04-27 17:47] wheelerb commented on #2515
Thank you Martin and Pete. The problem was that when I develop R packages, I often just source the R files and shared object file instead of loading the package.
The SUITOR package now uses BiocParallel. The vignette was also updated.
Sincerely,
Bill

[2022-04-27 19:18] xiuyuma commented on #2349
Hi Jianhong,

@jianhong. Thanks for your suggestions. I have changed the codes to accommodate most of them, except the cpp code,
May I ask if you would elaborate more on how to "register native routines and to disable symbol
search"? Appreciate your help.

[2022-04-27 19:40] luqingan opened #2652 "(inactive) IMPACC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DataSlingers/IMPACC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-04-27 19:40] #2652 closed, assigned to nobody

[2022-04-27 19:44] luqingan opened #2653 "(inactive) IMPACC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DataSlingers/IMPACC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-04-27 19:44] #2653 closed, assigned to nobody

[2022-04-27 19:51] luqingan opened #2654 "(inactive) IMPACC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DataSlingers/IMPACC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-04-27 19:51] #2654 closed, assigned to nobody

[2022-04-27 20:00] luqingan opened #2655 "IMPACC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DataSlingers/IMPACC

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2022-04-27 21:59] mooredf22 commented on #2541
Yes, thanks, we will do this. We will submit both the main package (protlocassign) and the "workflow" (documentation) package (protlocassigndoc) at the same time when they are ready.

[2022-04-28 09:46] ococrook commented on #2569
Hi @dzhang32

No problem and thanks for letting me on. If you're moving onto a new position then it may also be hard to commit to maintaining the package. If anyone decides to take over the package and wants to submit to bioconductor then they can reference this issue and we can go from there.

Good luck with your new position and thanks for submitting.

Olly

[2022-04-28 11:54] chrarnold commented on #2556
Hi, I noticed that GRaNIE appears only in Bioconductor 3.16 (devel) in the reports but not in Bioconductor 3.15 (release). From my understanding, shouldnt it be in the release branch also, given it built without errors before the deadline on April 20th or so?

[2022-04-28 11:59] lshep commented on #2556
we investigated the issue and identified the cause.
The recently accepted new packages should be available after the next build report posting.
Sorry for the inconvenience.

[2022-04-28 12:00] chrarnold commented on #2556
I see perfect thanks for the quick reply!

[2022-04-28 12:56] jianhong commented on #2349
@xiuyuma The simple way is use roxygen to create one. See https://cran.r-project.org/web/packages/roxygen2/vignettes/roxygen2.html for Rcpp part.

[2022-04-28 13:11] drighelli commented on #2637
Hi @zijianni ,

thanks for taking into consideration using the `SpatialExperiment` class for your package.

Taking into account your comments on the `read10xVisium()` function, would you mind [opening a new issue in our repository](https://github.com/drighelli/SpatialExperiment/issues/new) describing the problems you encountered?
This would be very useful for us to further improve our class.

Than

[2022-04-28 16:26] xiuyuma commented on #2349
Thanks @jianhong , have pushed the latest version.

[2022-04-28 22:54] PeteHaitch commented on #2515
Thanks, Bill.
I've got grant deadlines this week but I will take a look next week.

Cheers,
Pete

[2022-04-28 23:13] andreaskapou commented on #2585
Hi @PeteHaitch

Thanks for reviewing scMET and the detailed suggestions on making the package better. I agree that using S4 classes and making scMET accept SE derived objects would be optimal. However, in the current circumstances (my current post has shifted from DNA methylation) I do not have the time to refactor the whole package, but would leave it as future work?

Please see my line-by-line a

[2022-04-29 02:51] PeteHaitch commented on #2585
Thanks, Andreas.
I've got grant deadlines this week but I will take a look next week.

Cheers,
Pete

[2022-04-29 02:51] PeteHaitch commented on #2585
And once it's passing OK on BioC's build machines, please take a look at why it's now timing out there

[2022-04-29 07:19] andreaskapou commented on #2585
Hey Pete,

No worries at all and good luck with the grant application!

I increased the `iter` so I get a better fit in the vignette examples, which results in timing out. Will revert to old settings and submit again.

Best,
CAK

[2022-04-29 19:51] quranwu commented on #2651
Hi, I just modified some terms in biocViews.

[2022-04-29 21:08] mooredf22 opened #2656 "protlocassigndoc"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mooredf22/protlocassigndoc

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have r

[2022-04-29 22:47] PeteHaitch commented on #2515
- [ ] Please take a read of '§6 For developers' of the **BiocParallel** vignette https://bioconductor.org/packages/devel/bioc/vignettes/BiocParallel/inst/doc/Introduction_To_BiocParallel.pdf
  - [ ] You're hardcoding the **BiocParallel** backend to be `SnowParam()` but the user should be able to choose/control the parallel backend (that's one of the advantages of **BiocParallel** for a user). Inst

[2022-04-29 23:40] zijianni commented on #2637
Hi @drighelli ,

Actually it's not the issue with `read10xVisium()`. `read10xVisium()` works very well for the output data directly from the Spaceranger pipeline, where we have the raw/filtered data matrix in folders as well as in HDF5 format, and the `spatial` folder containing tissue images etc. And this is how `read10xVisium()` has been designed for.

I've experienced tons of datasets where the

[2022-04-30 09:52] LucaAnholt commented on #2505
@Kayla-Morrell  Apologies, I was on a break and just saw this now! Yes please!

[2022-05-01 10:31] vjcitn commented on #2608
To be clearer, will you use SummarizedExperiment?  Will you revise this submission?  Thank you

[2022-05-01 10:57] vjcitn commented on #2631
Still no vignette.  Should we close this issue and wait for you to produce a vignette?

[2022-05-01 11:00] vjcitn commented on #2639
Whenever you make any source change you must increment z in your package version x.y.z.  Otherwise your package will not be rebuilt with the changes, on the single package builder.

[2022-05-01 11:06] vjcitn commented on #2639
Here is a comment.  In the vignette you have
[code]
That is somewhat intricate and it would be easy for a user to make an error.  It might be nice to define a configuration object that can be checked for validity, that would then be passed to `functional_analysis`.  Otherwise the user may find that some parameter is misspecified and will need to trace back.

functional_analysis is a long function

[2022-05-01 12:30] khazum commented on #2632
I believe the warning has to do with the build system rather than my code. I hope the package review will continue smoothly. Please let me know if I can be of any further assistance.

[2022-05-01 23:05] PeteHaitch commented on #2632
The warning in the macOS builder looks like something that needs to be addressed in your code: https://bioconductor.org/spb_reports/ccImpute_buildreport_20220429124256.html#merida1_check_anchor
I'll see if it reproduces on my Mac.
Are you able to install and test the package on Mac?

[2022-05-02 05:19] yue-wang-biomath commented on #2635
Thanks for your reminding. Now I have subscribed to the bioc-devel mailing list with the email m18896977776@163.com, which is the maintainer email stated in the DESCRIPTION. Please kindly check this.

[2022-05-02 11:19] lshep commented on #2635
Please push a version bump in the package to trigger the new build so it is checked automatically

[2022-05-02 22:14] jianhong commented on #2349
# Package 'scDDboost' Review
The package passed check and build. It is almost there.

## The DESCRIPTION file
- [ ] Important: R version should be no less than 4.2

## The NAMESPACE file
- [ ] NOTE: Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 2 import(RcppEigen)
	* in line 3 import(BiocParallel)
	* in line 4 import(SingleCellExperiment)
	* in line 5 impor

[2022-05-02 23:03] PeteHaitch commented on #2632
Can confirm that I get the warning when checking the package on my MacBook Pro (Early-2015).

[code]

[code]

[2022-05-02 23:04] PeteHaitch commented on #2632
I'm not sure of the solution, but I think this indicates it's something you will need to fix within **ccImpute**.

[2022-05-03 01:21] khazum commented on #2632
I have researched this issue further, and I made appropriate changes to the source code that should take care of this warning. I believe the issue is addressed now.

[2022-05-03 01:31] PeteHaitch commented on #2632
Please remember to push to `git@git.bioconductor.org:packages/ccImpute` to trigger a new build.

[2022-05-03 02:20] xiuyuma commented on #2349
Hi @jianhong,

Thanks for your quick response. I have addressed those issues

The DESCRIPTION file
Important: R version should be no less than 4.2

Fixed, now it requires R version >=4.2

The NAMESPACE file
NOTE: Selective imports using importFrom instead of import all with import.
in line 2 import(RcppEigen)
in line 3 import(BiocParallel)
in line 4 import(SingleCellExperiment)
in line 5 import(el

[2022-05-03 14:56] wheelerb commented on #2515
Hi Pete,

I added the option BPPARAM and removed the option "type". If BPPARAM is not set and op$n.cores > 1, then BPPARAM will get set to bpparam().

Sincerely,

Bill

[2022-05-03 20:37] LiNk-NY commented on #2602
Hi Nicole, @NicoleEO

Thank you for your submission!

Please see my review below.
Best regards,
Marcel

---

# NanoStringExperiment #2602

* The package needs reconsideration of design. For increased usability,
it must disentangle the re-use of methods from both `Biobase` and
`SummarizedExperiment`, as well as, reduce the number of methods that are not
used in the package but are created perhaps a

[2022-05-03 21:31] NicoleEO commented on #2602
Hi @LiNk-NY. Thanks for reviewing! Yes, we know this is definitely an odd package in its current form. The addition of the Biobase methods is to support legacy packages and workflows as well our customers that have built pipelines using the old ExpressionSet inherited class. That being said we would like to move to SummarizedExperiment for all of our new packages as well as our current packages on

[2022-05-04 12:41] pablof1988 opened #2657 "(inactive) goSorensen"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pablof1988/goSorensen

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-05-04 12:41] #2657 closed, assigned to nobody

[2022-05-04 13:09] pablof1988 commented on #2657
I have changed in the DESCRIPTION file the version to 0.99.0
This change is located in the github repository associated with the package

[2022-05-04 14:55] lshep commented on #2657
Please resubmit a new issues so that other pre-checks are also passed. We highly encourage running BiocCheck before submission to catch others.

[2022-05-04 21:45] oganm commented on #2533
Hi, I am a member of the @pavlidisLab. I was wondering if you'd be ok with continuing to use `memoise` if we added persistent caching since that requires introducing [minimal changes](https://github.com/PavlidisLab/gemma.R/pull/21/files) and includes the desired functionality

[2022-05-04 21:51] LiNk-NY commented on #2602
Hi Nicole, @NicoleEO

It may be better to provide awareness for the `ExpressionSet` to `SummarizedExperiment` coercion method.

I am not seeing why implement a mixed interface when you can only stick to the modern one and provide help for those who are still lagging behind with `ExpressionSet`. It is especially important to have the design of the class straightened out before expanding and inherit

[2022-05-04 22:22] LiNk-NY commented on #2630
Hi Gabriel, @GabrielHoffman
Please respond to the items below.
Best,
Marcel

---

# zenith #2630

* Please fix the timeout before the review can continue.
* Respond to the comments appropriately, i.e., add `recount` and `kableExtra`
to the `Suggests` field in the `DESCRIPTION`
* Remove the `docs` folder from the Git repository. This is generated when the package is built.

[2022-05-04 23:16] PeteHaitch commented on #2533
@lshep / @vjcitn: Must packages implementing caching of downloads use **BiocFileCache** or can they use their own system (here based on **memoise**)?

[2022-05-05 00:26] GabrielHoffman commented on #2630
Based on your feedback, I need to restructure the vignette both in terms of runtime and user-facing documentation.  This is a substantial amount of work, and I haven't gotten back to it yet.

Thanks for your patience

Best,
Gabriel

[2022-05-05 11:35] lshep commented on #2533
I would say as long as there is a caching mechanism and its verified to work that they could use that.  BiocFileCache is strongly preferred but not required.

[2022-05-05 21:55] YuanningEric commented on #2558
@Kayla-Morrell  Thanks, Kayla! Please let me know if you have any questions

[2022-05-05 23:09] pablof1988 opened #2658 "goSorensen"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pablof1988/goSorensen

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-05-06 11:24] fursham-h commented on #1840
Hi @lshep,

Hope you are well! I wish to re-open this issue and submit my package to Bioconductor. I have simplified the package and it now does not require additional ExperimentHub data.

[2022-05-06 13:19] lshep commented on #1840
@fursham-h thank you. I will have a look at the package in the next few weeks. To be clear - You no longer are submitting factRdata? only factR?

[2022-05-06 13:20] fursham-h commented on #1840
Yes @lshep, just factR.

[2022-05-07 16:17] ococrook commented on #2646
My apologies for the delay, I've finished the review and see no issues given they were fixed in previous version under another name.

[2022-05-09 13:31] lshep commented on #2383
Please fix ERRORs in the build report before an in-depth review would take place

[2022-05-09 13:36] lshep commented on #2555
@EmanuelSoda  may we expect updates soon? We like to see progress in a 3-4 week time frame to keep the review process moving.

[2022-05-09 13:40] lshep commented on #2610
@Nina-Song May we expect updates soon? We like to see progress in a 3-4 week time frame to keep the review process moving?

[2022-05-09 13:41] lshep commented on #2627
Please correct ERROR/Timeouts for a in-depth review to occur.

[2022-05-09 13:46] lshep commented on #2557
Sorry about the delay. Not sure if you were waiting for a build report. It seems it has stalled. I'm kicking off a manual build now. please address any timeout, error, or warnings

[2022-05-09 14:07] vjcitn commented on #2481
@jaspershen will you be responding to this review any time soon?  If not we will inactivate the issue and you can return to it when you are ready.  @lshep

[2022-05-09 14:08] vjcitn commented on #2482
@jaspershen will you be responding on these review issues?  @lshep

[2022-05-09 14:24] vjcitn commented on #2608
Checking again.

[2022-05-09 14:24] vjcitn commented on #2631
Checking again.

[2022-05-09 14:25] vjcitn commented on #2639
Checking again.

[2022-05-09 14:32] vjcitn commented on #2658
remove .Rproj.   verify that BiocCheck is passed on a clean machine.  remove build/vignette.rds

[2022-05-09 15:21] EmanuelSoda commented on #2555
@lshep I'm sorry for the delay, there were crazy day at work. I'm working on it. I'll push the updated version as soon as possible.

[2022-05-09 15:27] rossinerbe commented on #2557
Okay, thanks. Looks like there were some problems with the examples. Those should be fixed now

[2022-05-09 15:39] Nina-Song commented on #2610
Hi @lshep ,

Thank you for following up! I am working on those issues, and should have them down by this week. I will keep you posted.

Thanks again!

Nina

[2022-05-09 15:54] zijianni commented on #2637
Hi @lazappi ,

What's the expected timeline for reviewing this package? I'm leaving my current institution by the end of this month. It will be great if we can make some progress before that. Thanks!

Best,
Zijian

[2022-05-09 15:54] vjcitn commented on #2644
Thanks for your submission.  The vignette needs work.  You should have show methods for objects, not have
[code]
in the vignette.  Dumping JSON is also not desirable.

[2022-05-09 20:14] jaspershen commented on #2481
Hi@vjcitn. Thank you for the noticement. I will respond very this week. Sorry for the late reply! Thank you!

[2022-05-09 20:15] jaspershen commented on #2482
Hi@vjcitn. Thank you for the noticement. I will respond very this week. Sorry for the late reply! Thank you!

[2022-05-09 21:00] rossinerbe commented on #2557
The error I'm getting is that I am not subscribed to the bioc-devel mailing list. I have tried to subscribe but it does not seem to be finding me. Do I just need to wait for it to be processed or something?

[2022-05-09 21:44] pablof1988 commented on #2658
Thank you. Changes are done and these are in the git-hub repository (https://github.com/pablof1988/goSorensen). Say me please, where I have to send these changes ?

Best regards.

[2022-05-09 22:04] martinry opened #2659 "(inactive) proteasy"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/martinry/proteasy

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bi

[2022-05-09 22:05] #2659 closed, assigned to nobody

[2022-05-09 22:08] PeteHaitch commented on #2515
Hi Bill,

The `BPPARAM` parameter should supersede the `n.cores` parameter.
As I tried to explain in https://github.com/Bioconductor/Contributions/issues/2515#issuecomment-1113846740, functions that use parallelisation should gain a `BPPARAM` argument with default value of `bpparam()`.
The `n.cores` parameter should be removed.

Cheers,
Pete

[2022-05-09 22:12] martinry opened #2660 "proteasy"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/martinry/proteasy

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bi

[2022-05-09 22:17] PeteHaitch commented on #2533
Would you like to proceed with the submission, @oganm?
If so, we can re-open the issue and you then push the changes to the Bioconductor git server to generate a build on the Bioconductor's servers.

[2022-05-10 01:35] mooredf22 commented on #2541
The companion paper to the protlocassign package has just appeared in the Journal of Proteome Research:

A Method to Estimate the Distribution of Proteins across Multiple Compartments Using Data from Quantitative Proteomics Subcellular Fractionation Experiments
Dirk F. Moore*, David E. Sleat, and Peter Lobel*

https://pubs.acs.org/doi/abs/10.1021/acs.jproteome.1c00781

[2022-05-10 07:08] alex-d13 commented on #2627
I am receiving an error from BiocCheck:
`ERROR: At least 80% of man pages documenting exported objects must have runnable examples.`

I had to skip some examples as they rely on the basilisk environment (see first moderation comment). If I keep these examples running, the python dependencies are going to be installed and i will receive a timeout error.
I do not see a way of solving these example i

[2022-05-10 08:01] aspaor commented on #2639
Dear @vjcitn,

Thank you for your previous comments. Following your instructions we are currently working on making our package more object oriented. We assume that this needs major restructuring and will be completed by the end of June (mid-July).

With regards,
Aspa

[2022-05-10 11:36] lshep commented on #2557
Have you checked your spam/junk folder? The confirmation email often gets labelled as spam

[2022-05-10 11:37] lshep commented on #2627
Are these example that are skipped run elsewhere in tests or the vignette?

[2022-05-10 12:05] vjcitn commented on #2651
Your package uses no Bioconductor infrastructure.  Please examine what is available for microbiome analysis, understand the approach to binding metadata and data together in structures like SummarizedExperiment, and let us know when you have made some decisions/revisions.  Thanks!

[2022-05-10 12:17] vjcitn commented on #2651
Your package uses no Bioconductor infrastructure.  Please examine what is available for microbiome analysis, understand the approach to binding metadata and data together in structures like SummarizedExperiment, and let us know when you have made some decisions/revisions.  Thanks!

[2022-05-10 12:54] wheelerb commented on #2515
Hi Pete,

When I call bpparam() on my single core Windows machine, I get the default value of bpnworkers to be 6, not 1. I would bet that most users who use the package will not have a parallel backend set up. I think the default number of cores should be one.

Sincerely,

Bill

[2022-05-10 14:06] rossinerbe commented on #2557
Ah, yep, that was it. I should be subscribed now. Thanks

[2022-05-10 15:50] mtmorgan commented on #2515
@wheelerb this is surprising. The number of cores is determined by `parallel::detectCores()`. If this returns `NA`, then the value is set to 1, and if not to # of cores - 2. So I guess your `parallel::detectCores()` on your machine is reporting that you have 8 cores? And that `BiocParallel:::.detectCores()` returns 6? If you think most people are not going to use parallel computing, then you could

[2022-05-10 16:18] Kayla-Morrell commented on #2477
@noriakis - Checking in to see if there has been any progress made on addressing the points from my review. If there is no progress made within the next week I'll have to close this issue for inactivity, then you will have to reopen when you have sufficient time to work on the package.

Best,
Kayla

[2022-05-10 17:15] noriakis commented on #2477
Dear @Kayla-Morrell, Thank you for the mention. I apologize for the long delay in revising. I am working on the package, and am currently struggling to implement accessors. As I cannot guarantee to report the revision within the next week, I would be grateful if you could close it once, and I will reopen it when the revision is ready.

[2022-05-10 17:29] Kayla-Morrell commented on #2477
@noriakis - Please comment here on the issue when you are ready for it to be reopened.

[2022-05-10 20:31] wheelerb commented on #2515
Hi Martin and Pete,

Sorry, the Windows machine I ran on actually had 8 virtual processors.
I have changed the default of BPPARAM to SerialParam() instead of bbparam().

Sincerely,

Bill

[2022-05-10 21:04] quranwu commented on #2651
Hi, this package is intended for association identification of absolute abundance in microbiome analysis. It's similar to ANCOM or DESeq available in Bioconductor, the input is covariate of interest and absolute abundance of each taxon, and output is to find which taxon are associated with the covariates of interest. Thus, we do not need additional data transformation functions such as those in Bi

[2022-05-10 22:36] oganm commented on #2533
yes. the changes are tested, documented and merged

[2022-05-11 17:13] suhasaii opened #2661 "(inactive) PALMO package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/aifimmunology/PALMO

Confirm the following by editing each check box to '[x]'

- [ x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2022-05-11 17:13] #2661 closed, assigned to nobody

[2022-05-11 23:27] PeteHaitch commented on #2533
When making changes to your repository push to `git@git.bioconductor.org:packages/gemma.R` to trigger a new build.
A quick tutorial for setting up remotes and pushing to upstream can be found [here](https://bioconductor.org/developers/how-to/git/new-package-workflow/).

[2022-05-11 23:31] PeteHaitch commented on #2606
Hi @fuerzhou,

Sorry for how long it is taking me to review your package.
I was only able to start looking at **SPIAT** this week, following the latest Bioconductor release and NHMRC grant deadlines.
I'd hoped to have finished an initial review for you this week, but unfortunately I'm now sick and so that's not looking likely.
Thank you for your understanding and I will provide my review as soon a

[2022-05-12 00:16] fuerzhou commented on #2606
@PeteHaitch

Thank you for your message. Please don't worry about this and rest well!

Take care,
Yuzhou

[2022-05-12 14:46] vjcitn commented on #2651
Thank you for this submission.  The involvement of Bioconductor infrastructure packages in Bioconductor components is something we generally expect from packages in the ecosystem.  A quick view of your README shows
[code]
It is fine to use R functions with separate arguments for assay quantifications and sample characteristics, and I'm just assuming that's what `dataM` and `dataC` are respectively

[2022-05-12 14:59] vjcitn commented on #2631
Reopen the issue when you are ready to revise.

[2022-05-12 15:00] vjcitn commented on #2608
Reopen the issue when you are ready to revise.

[2022-05-12 15:00] #2608 closed, assigned to nobody

[2022-05-12 15:25] vjcitn commented on #2655
The vignette has long list of optimization trace.  Should suppress.  You should use SummarizedExperiment or other integrative containers in Bioconductor.  Please revise.   Do not use a list like
[code]
Notice the trailing blanks in the cell type strings.  Intended?  Accidental?

Does the vignette reader need to see
[code]

Please look carefully at guidelines for submission.

[2022-05-12 15:45] pablof1988 opened #2662 "(inactive) goSorensen"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/pablof1988/goSorensen

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-05-12 15:45] #2662 closed, assigned to nobody

[2022-05-12 16:12] pablof1988 commented on #2662
Dear reviewer.

I am very sorry that I made a mistake and posted the repository "https://github.com/pablof1988/goSorensen" on the github tracker for the second time. I didn't know how to submit the requested changes and mistakenly thought I should submit again.
Please, I would like my package to return to the review process.

Best regards.

[2022-05-12 16:38] vjcitn commented on #2660
[code]
that's from attempting to build the vignette.  The Collate statement in DESCRIPTION does not agree with the content of R folder ... Methods.R vs methods.R.  Please be sure that R CMD check and BiocCheck are running satisfactorily on a clean system.

[2022-05-12 17:46] lshep commented on #2646
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LiNk-NY.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-05-12 17:46] #2646 closed, assigned to LiNk-NY, ococrook

[2022-05-12 18:27] rossinerbe commented on #2557
Do these warnings need to be resolved?

[2022-05-12 19:08] oganm commented on #2533
was a bit confused with the ssh keys section. do you need the @yavyx to push it or can anyone do it?

[2022-05-12 19:13] Kayla-Morrell commented on #2557
@rossinerbe - I can review the package with WARNINGs but I'll most likely have them as something that needs to be addressed in your review. So up to you if you want to address them now or once I've posted the review.

[2022-05-12 20:32] rossinerbe commented on #2557
Okay, I fixed the warning related to docs, the others seem like they might not need to be addressed. Please let me know though

[2022-05-12 22:03] martinry commented on #2660
Thank you for your response. I have changed methods.R to Methods.R so it agrees with Collate statement. I am however not able to reproduce the error. (Edit: I have corrected what I think caused the error). Here is what I have checked on a clean install of R (and dependencies) on Mac Big Sur and Windows 10 and found no error:
[code]
I am also able to run, without error
[code]
Can you advise on how

[2022-05-12 22:45] PeteHaitch commented on #2533
I think it would need to be @yavyx but @lshep or @nturaga should be able to clarify

[2022-05-13 11:21] lshep commented on #2533
We have added @yavyx  and javiercastilloar have push access to the package.  The keys associated with those github accounts are currently active. Other keys could be added to either of these GitCredentials account to control additional access.

[2022-05-13 15:28] Kayla-Morrell commented on #2558
@YuanningEric - Thank you for submitting to _Bioconductor_. Please see the initial review of
the packages below. The required changes must be made while the suggested
changes do not have to be (though we strongly encourage them). Comment back
here with updates that have been made and when the package is ready for a
re-review.

# EpiMix.data

## DESCRIPTION

- [ ] REQUIRED: Since this is a data pac

[2022-05-13 15:47] rossinerbe commented on #2557
@lshep I think the build report has stalled again. Could you please try restarting?

[2022-05-13 17:11] EmanuelSoda commented on #2555
Sorry for my late replay, I have tried to address all the reviews comment. I have just few doubts/points left to ask:

❓is it necessary to rename the loaded data? At the moment it feels like unnecessary variables are being created

In order to use some of the ScreenR the name of the column of the count table has to be separated by “_”. The vignetta shows an example in which this is not the case an

[2022-05-13 17:46] EmanuelSoda commented on #2555
I have pushed again but the massage from the bot did not appeared

[2022-05-13 17:48] lshep commented on #2555
Did you include a version bump?  It will only rebuild with a version bump and push to git.bioconductor.org

[2022-05-13 17:51] EmanuelSoda commented on #2555
Yes, you are right! My bad, I'm very new to this. Do you have any clue why on linux is giving me that error? Those function are not present anymore because are now in camel_case.

[2022-05-13 17:57] lshep commented on #2555
linux is case sensitive.  So while you have changed to lowercase in the DESCRIPTION collate,  you need to also rename your files in the R directory to match.

[2022-05-13 19:45] GabrielHoffman commented on #2630
I updated the package in commit [b0a6999](https://github.com/GabrielHoffman/zenith/commit/b0a6999b04328da2a2fe24c84158d5992af78cf9) to address these issues

Gabriel

[2022-05-13 20:47] yavyx commented on #2533
@PeteHaitch  Just pushed version 0.99.4 including the latest changes, it failed because @oganm needs to subscribe to the Biooconductor mailing lists. @oganm can you create an SSH keypair? I can add it to my Bioconductor account so you can push the changes yourself. I don't have access to the @PavlidisLab organization anymore so I can't push anything to the Github repo.

[2022-05-13 22:53] pablof1988 commented on #2658
Dear reviewer.

I just have pushed the changes to git Bioconductor.

Best regards

[2022-05-15 20:16] ococrook commented on #2658
Hi, thanks for submitting @pablof1988

It looks like there are some ERRORs etc to clean-up before we can get the review started. Could you take a looked at the build report and make the changes required for the package to build cleanly? It looks like your examples are also too long, these should be quick code snippets that simply demonstrate the function and do not do much analysis. Once you've ad

[2022-05-16 06:22] alex-d13 commented on #2627
Currently not, as I would expect a timeout error in Bioconductor as well.

[2022-05-16 07:16] lazappi commented on #2637
Hi @zijianni

Sorry I was on leave last week and I wasn't quite able to get to this before I left. I will try to find time this week.

[2022-05-16 12:20] lshep commented on #2627
Have you investigated the long tests for these? Long tests might be a solution so these functions get run on some frequency. http://contributions.bioconductor.org/long-tests.html

[2022-05-16 16:17] vjcitn commented on #2627
Apropos https://github.com/Bioconductor/Contributions/issues/2627#issuecomment-1122011106 there are other basilisk-dependent packages that do not time out.  Please follow developer guidelines so that your review can commence.

[2022-05-16 20:18] pablof1988 commented on #2658
Dear Oliver

Thank you for your comments. Ok, I'll try to improve the examples but I have a problem about the errors you mention: The build report says "ERROR: Use Authors@R field not Author/Maintainer fields. Do not use both", I have done it, I have deleted Author/ Maintainer fields and I have used only Authors@R (exactly the same as shown in the image at the bottom), however, when running the bu

[2022-05-17 08:04] Nina-Song commented on #2610
Hi @lazappi,

My apology for the delay. The majority of the comments have been addressed, there are some minor questions that remained:

- The package is built based on the Seurat object. The majority of functions use the Seurat objects as the input. If we would like to support the SpatialExperiment object, does it refers to writing separate functions which do the same thing but use the SpatialExp

[2022-05-17 09:00] ococrook commented on #2658
Hi Pablo,

Have you push to the bioconductor git to trigger a new build - remember you'll need to increment the version to 0.99.1? Let me know if you need help doing that.

[2022-05-17 09:38] yannchristinat commented on #2644
@vjcitn Vignette has been re-worked and developped (commit pushed to git.bioconductor.org:packages/oncoscanR). But not sure what was the JSON issue as there is no JSON dump in the vignette...

[2022-05-17 10:04] vjcitn commented on #2644
Early on, in the previous version, we had
[code]
I will check the new one.

[2022-05-17 10:11] yannchristinat commented on #2644
Ok. The issue is the script not the vignette. I can remove the script from the package (it was a wrapper for a function that I found convenient but the package is perfectly functional without it)

[2022-05-17 10:32] vjcitn commented on #2644
For some reason it comes out better in this rendering

[code]
and you can leave that if you want.

[2022-05-17 12:35] jianhong commented on #2349
# Package 'scDDboost' Review
 It is almost there.

## Documentation

- [ ] Important: Please double check your vignettes format. Only sessionInfo will be shown in table of contents. I think you may want to add a blank space between `#` and the session title.

[2022-05-17 12:56] yannchristinat commented on #2644
triple quotes instead of single quote in markdown...

[2022-05-17 14:32] GabrielHoffman commented on #2630
@LiNk-NY I'm following up on this.  How do I get my new version in the testing queue?

Best,
Gabriel

[2022-05-17 14:42] vjcitn commented on #2630
You'll need to bump the version number in DESCRIPTION, and push to git@git.bioconductor.org:packages/zenith

[2022-05-17 14:43] vjcitn commented on #2630
The last commit I see there is from April 8.

[2022-05-17 14:57] jianhong commented on #2635
# Package 'RgnTX' Review
The package passed check and build. It is in pretty good shape. I like the informative documentation. Well done. However there are several things need to be fixed.

## The DESCRIPTION file
- [ ] R version should be no less than 4.2

## The NAMESPACE file
- [ ] Important: Selective imports using `importFrom` instead of *import all* with `import`.
	* in line 30 import(ggplot

[2022-05-17 15:01] GabrielHoffman commented on #2630
I understand part of the issue.  In the previous round, you pulled my code from my GitHub repo.  Now I'm trying to push to the Bioconductor repo, but I don't have permission.

Is this an issue on my end or yours?

[code]

[code]

Thanks,
Gabriel

[2022-05-17 15:25] vjcitn commented on #2630
See point 13 at https://contributions.bioconductor.org/git-version-control.html#faq

[2022-05-17 15:29] vjcitn commented on #2660
[code]

[2022-05-17 15:33] vjcitn commented on #2660
You must have some initializations that give you merops_map.

[2022-05-17 15:46] GabrielHoffman commented on #2630
It still doesn't work with SSH:
[code]

I don't have write permission for the `zenith` package, but I do for my `variancePartition` package
[code]

[2022-05-17 15:51] vjcitn commented on #2630
are you using different identities?  @nturaga

[2022-05-17 15:52] nturaga commented on #2630
@GabrielHoffman

You have 3 keys in our system associated with the email: `gabriel.hoffman@mssm.edu`. You must not be using the correct keys.

please check.

Best,

[2022-05-17 16:02] GabrielHoffman commented on #2630
I checked my Bioconductor credentials and it has my public key correct.  I also ran the ssh permission check on a different machine (Ubuntu vs OS X), and I get the same results.

I'm concerned that you pushed the original zenith version to Bioconductor, so it is still under your ownership.

What else can I try?

Gabriel

[2022-05-17 16:12] nturaga commented on #2630
I'm not sure by what you mean here?

[code]

Can you try https://contributions.bioconductor.org/git-version-control.html#faq #15?

Another thing is, I would like to see which public key you think you are using? Can you check the public key and post it here?

You can pass a specific key by using

[code]

[2022-05-17 16:56] GabrielHoffman commented on #2630
1) Bioc Credentials Web App:
[code]

2) My Public Key
[code]

3) My ssh config file
[code]

Based on point 1, I suspect that my account doesn't have access to the `zenith` package.  I think its not a login issue.  Can you check who has write access to that project on your end?

Thanks for your patience,
Gabriel

[2022-05-17 17:02] nturaga commented on #2630
I would suggest using a new key.

Create a new key, and add to BiocCredentials.

Try that.

There is nothing wrong on our end.

On Tue, May 17, 2022, 12:56 PM Gabriel Hoffman ***@***.***>
wrote:

[2022-05-17 17:27] pablof1988 commented on #2658
Dear Oliver.

I just have pushed to Bioconductor git ´the change of version. I hope I did it well, I send a capture.

Best regards,

Pablo.

![image](https://user-images.githubusercontent.com/64914241/168874320-3b99bb63-6d05-4a97-930b-58e97611202f.png)

[2022-05-17 17:35] oganm commented on #2533
apologies for the spam. got a bit confused with the email used on my git session but should be all good now.

[2022-05-17 17:36] xiuyuma commented on #2349
@jianhong
Hi Jianhong,

Thanks, I have added a blank space between the section title and # .

[2022-05-17 18:35] GabrielHoffman commented on #2630
1) New key
[code]

Still no permission
[code]

2) The Bioconductor Git Credentials App does not show permission for `zenith`, and that should be independent of the login issue, right?

<img width="910" alt="Screen Shot 2022-05-17 at 2 33 19 PM" src="https://user-images.githubusercontent.com/13241293/168885565-4b21ef84-f048-4a6c-9119-490506cda9f5.png">

[2022-05-17 18:41] mooredf22 commented on #2656
This documentation package for the "protlocassign" package requires loading "protlocassign", which is the reason for the error. This package is currently under review (issue 2541) for Bioconductor and thus apparently cannot be directly loaded. Thus, it appears that we must wait for this other review to be completed before this one (protlocassigndoc) can move forward.

[2022-05-17 20:10] jianhong commented on #2349
Congratulations! Thank you for your contribution in Bioconductor!

[2022-05-17 20:34] xiuyuma commented on #2349
@jianhong
Thanks for your review and advice

[2022-05-18 01:15] quranwu commented on #2651
Hi,

Thanks for the suggestions. I've modified the codes and make SummarizedExperiment object as our inputs. Does this change fullfill the requirements please? Thanks.

[2022-05-18 06:43] lazappi commented on #2610
Yes, but you should avoid duplicating code. Usually the best approach is to have one function which extracts the required information from the supported objects and passes it to another function which does the internal processing. This can be done something like this:

[code]

It's a little bit more work but a better way is to S3 dispatch with a method for each of the supported objects and a defau

[2022-05-18 09:36] jingeyu opened #2663 "CTSV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jingeyu/CTSV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-05-18 23:31] PeteHaitch commented on #2515
Hi @wheelerb

Thank for you making the requested changes and engaging constructively in the review process.

I'm pleased to accept **SUITOR** into Bioconductor.
Thank you to you and your co-authors for your contribution!

Cheers,
Pete

[2022-05-19 04:51] PeteHaitch commented on #2606
Hi @fuerzhou,

Thank you for submitting **SPIAT** to Bioconductor.
**SPIAT** is quite an ambitious package in its scope and has many functions.
Again, I apologise it has taken so long to post an initial review.

Technically, the package is in a good state because it is passing most of the automated checks.
It's great to see you seeking to operate with key Bioconductor classes.
However, my main con

[2022-05-19 05:12] PeteHaitch commented on #2533
Thanks, @oganm.
I will try to post an initial review within the next week.
Please note that I will be on leave May 25 - June 8 and will be without internet access during that time.

[2022-05-19 05:13] PeteHaitch commented on #2632
Thanks, @khazum, now that we have a clean build I will begin reviewing **ccImpute**.
I will try to post an initial review within the next week.
Please note that I will be on leave May 25 - June 8 and will be without internet access during that time.

[2022-05-19 14:27] drighelli commented on #2606
hi @PeteHaitch and @fuerzhou,

about the `SpatialExperiment` I'm not sure how to load data with other technologies, but for loading Visium data we have the `read10xVisum` function.

Additionally, the `SpatialExperiment` class has the `imgData` data structure specifically designed for image data handling. I think this could suit very well the case of the `SPIAT` package.

Hope this helps!

Dario

[2022-05-19 14:58] martinry commented on #2660
Thank you. I have made adjustments (R CMD build/check and BiocCheck OK). Hoping the problem has been fixed and I would like to request another build attempt.

[2022-05-19 15:01] rossinerbe commented on #2557
@Kayla-Morrell could you do the review please and see if the warnings need to be addressed?

[2022-05-19 15:20] vjcitn commented on #2660
please bump the package version number for EVERY source commit

[2022-05-19 15:21] vjcitn commented on #2660
[code]

[2022-05-19 17:50] martinry commented on #2660
I can reproduce the error only by removing sysdata.rda from proteasy/R/. I have rebuilt the internal data using usethis::use_data(), and set LazyData: true in DESCRIPTION file. Requesting another build attempt. Thank you.

[2022-05-19 17:58] vjcitn commented on #2660
CMD check takes over my browser with https://www.ebi.ac.uk/merops/cgi-bin/pepsum?id=A01.009

[2022-05-19 18:28] martinry commented on #2660
Apologies, I have added a \dontrun tag for the affected function's example.

[2022-05-19 18:35] vjcitn commented on #2660
You could do `if (interactive())` with some warning to the user in a comment, if you want to have that in the example.

[2022-05-19 19:19] martinry commented on #2660
Thank you. I have updated the example as per your suggestion.

[2022-05-19 21:33] wheelerb commented on #2515
Hi Pete,

Thank you very much.

Sincerely,

Bill

[2022-05-20 08:32] nilseling commented on #2606
Hi all,
not sure if my comment is relevant here but I was in a similar situation when writing [imcRtools](https://bioconductor.org/packages/release/bioc/html/imcRtools.html). I decided to not support handling of multiplexed images as this can be done using [cytomapper](https://www.bioconductor.org/packages/release/bioc/html/cytomapper.html). With `imcRtools` I wanted to support the `SpatialExperim

[2022-05-20 08:41] drighelli commented on #2606
Hi @nilseling,

thanks for your comments, it is true that the community is using the `SingleCellExperiment` class by storing the coordinates into the `colData`, but of course now with the `SpatialExperiment` it is possible to handle also the images directly with the new class, and we are coordinating with the community to support future spatial technologies with other images type as well.
Addition

[2022-05-20 09:41] daanhazelaar opened #2664 "katdetectr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/daanhazelaar/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2022-05-20 12:31] lazappi commented on #2637
Hi @zijianni

Thanks for submitting **SpotClean** :tada:! Below is my review of your package. Please reply here if anything is unclear or needs any further explanation.

**What next?**

Please address the comments as best as you can. When you are ready for me to check the package again please reply to let me know with a summary of changes you have made or any other responses.

Luke

# Review

**Ke

[2022-05-20 14:20] yue-wang-biomath commented on #2635
Hi, @jianhong
Thanks for reviewing RgnTX and the valuable comments for making the package better. I tried to fix all the Important items and most of the NOTE items. Boxes with ticks have been fixed now as your suggestions.

 ## The DESCRIPTION file
* [x]  R version should be no less than 4.2

 ## The NAMESPACE file
* [x]  Important: Selective imports using `importFrom` instead of _import all_ with

[2022-05-20 17:50] GabrielHoffman commented on #2630
Do you have any other suggestions on this, I don't know what else to try on my end

[2022-05-20 17:52] nturaga commented on #2630
Can you actually access `variancePartition` ? Can you try to update the "patch" number of the version numbers? (i.e `x.y.z`, do `x.y.z+1`)

[2022-05-20 18:00] GabrielHoffman commented on #2630
I just pushed an update to the devel (i.e.`master`) of variancePartition:

[code]

[2022-05-20 18:02] nturaga commented on #2630
From what I see on my end, you have access to the package (zenith), I'm not sure anymore what could possibly be wrong on our end, sorry. Can you add a `-v` at the end of the command for a verbose output? I'd like to look at the output.

It could be because you have an alternative name added "GabrielHoffman" vs "g.hoffman". But I deleted one of them now.

[2022-05-20 18:08] GabrielHoffman commented on #2630
It just worked:

[code]

It seems like you fixed it.  That was strange.  Thanks!  Do you know if this was an issue on my end or your end?

I confirmed that permission are good:

[code]

[2022-05-20 18:15] nturaga commented on #2630
So it seems you've had two BiocCredentials accounts: one as g.hoffman and the other as GabrielHoffman. I deleted one. It's very strange that you've gotten two entries! I wonder how that happened when you submitted your package.

[2022-05-22 16:37] zijianni commented on #2637
Hi @lazappi
Thanks for your careful review of my package! Please see below my point-by-point response. I’ve addressed your concerns to the best of my ability. Let me know if anything is unclear. Further suggestions are definitely welcome.

I’ve addressed as many of the `BiocCheck` notes as I can.

For the remaining notes:
- There is no runnable example in `convert_to_seurat.R` since this function

[2022-05-23 04:29] BioSok opened #2665 "(inactive) omada"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BioSok/omada

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-05-23 04:29] #2665 closed, assigned to nobody

[2022-05-23 08:31] BioSok opened #2666 "(inactive) omada"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BioSok/omada

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-05-23 08:31] #2666 closed, assigned to nobody

[2022-05-23 08:39] BioSok opened #2667 "(inactive) omada"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BioSok/omada

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-05-23 08:39] #2667 closed, assigned to nobody

[2022-05-23 09:49] BioSok opened #2668 "omada"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BioSok/omada

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocond

[2022-05-23 10:34] fuerzhou commented on #2606
Thank you @PeteHaitch for your comprehensive review of SPIAT. We will read the comments carefully in the following days and address each one of the required actions and the recommended ones as well.
 
Thank you @nilseling @drighelli for your comments on SingleCellExperiment vs. SpatialExperiment. We started writing the package more than two years ago before SpatialExperiment was distributed in Bio

[2022-05-23 11:41] vjcitn commented on #2663
Thanks for the submission.  The vignette includes
[code]
Please use a derivate of SummarizedExperiment, perhaps SpatialExperiment, to help users who may be familiar with related Bioconductor infrastructure for your application.  The use of BiocParallel should be mediated through bpparam setting.

[2022-05-23 11:43] vjcitn commented on #2664
You entered https://github.com/daanhazelaar/katdetectr as your repo; I get a 404 for that.  I guess it is private.  If you don't make it public please close this issue.

[2022-05-23 11:48] vjcitn commented on #2668
Thanks for your submission.  I see in the vignette
[code]
This is not convenient for users.  Please define a class that can manage this complexity for the user; join the mentoring program if this is not clear.  Bioconductor infrastructure for gene set management (e.g., GSEABase or BiocSet) should be used to participate meaningfully in the ecosystem.

[2022-05-23 12:01] #2664 closed, assigned to nobody

[2022-05-23 12:13] EmanuelSoda commented on #2555
Hi @lazappi when you have time you can take a look to the changes that I have made

[2022-05-23 14:02] ccshao opened #2669 "mslp"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ccshao/mslp

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocondu

[2022-05-23 14:21] Kayla-Morrell commented on #2505
@LucaAnholt - Thank you for making the necessary changes. I have looked everything over and it all looks good. I'm more than happy to accept the package.

Best,
Kayla

[2022-05-23 20:13] daanhazelaar opened #2670 "(inactive) katdetectr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ErasmusMC-CCBC/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-05-23 20:13] #2670 closed, assigned to nobody

[2022-05-23 20:15] daanhazelaar opened #2671 "(inactive) katdetectr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ErasmusMC-CCBC/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-05-23 20:15] #2671 closed, assigned to nobody

[2022-05-23 20:18] daanhazelaar opened #2672 "(inactive) katdetectr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ErasmusMC-CCBC/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-05-23 20:18] #2672 closed, assigned to nobody

[2022-05-23 20:21] daanhazelaar opened #2673 "(inactive) Katdetectr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ErasmusMC-CCBC/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-05-23 20:21] #2673 closed, assigned to nobody

[2022-05-23 20:24] daanhazelaar opened #2674 "(inactive) katdetectr(rename)"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ErasmusMC-CCBC/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-05-23 20:24] #2674 closed, assigned to nobody

[2022-05-23 20:25] daanhazelaar opened #2675 "(inactive) KataegisDetectr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ErasmusMC-CCBC/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-05-23 20:25] #2675 closed, assigned to nobody

[2022-05-23 21:28] lshep commented on #2675
@daanhazelaar  the package name is still the same as the original issue posted. I will have to make some manual updates to allow a new issues to be opened. That being said, the url you are still trying to use is resulting in a 404 https://github.com/ErasmusMC-CCBC/katdetectr  ... Please let me know what url the public location of the package is at to proceed

[2022-05-23 22:53] PeteHaitch commented on #2606
Ultimately, the choice is yours.
However, I would still argue that a _SpatialExperiment_ is the better fit for the type of data you are processing with **SPIAT**.

-----

A totally fair reason for why when you initially developed the package you used _SingleCellExperiment_.
However, as you note, that was more than 2 years ago and now is when you are submitting to Bioconductor.
_SpatialExperiment_

[2022-05-24 01:42] BioSok commented on #2668
Hey, thanks for the feedback. I have created a class, could you check if it's to your standards? Thanks!

[2022-05-24 01:49] vjcitn commented on #2668
It is getting a little better, but
[code]

### Automated clustering analysis: Omada
Using `omada()` along with a gene expression dataframe and an upper k (number of clusters to be considered) we can run the whole analysis toolkit to automate clustering decision making and produce the estimated optimal clusters.

[code]
is still not in line with how most bioconductor packages work.  The extraction

[2022-05-24 03:34] PeteHaitch commented on #2585
Thanks for your response to the review, @andreaskapou.
The use of S3 is still non-standard, but since it doesn't seem to affect the package functionality and given your current circumstances feel free to leave as-is.
A couple of final points to address, then we'll be ready to accept **scMET**.
FYI I will be on leave until June 9, so there may be a delay in the package being formally accepted once

[2022-05-24 05:07] PeteHaitch commented on #2533
Are you sure the memoisation is working as you intend?
In particular, I can't seem to get memoising to a cache in my local filesystem to work.
I basically tried to follow the advice in the 'Memoise data' and 'Changing defaults' sections of the vignette.
Here's a documented version of what I tried:

[code]

<sup>Created on 2022-05-24 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</s

[2022-05-24 06:57] lazappi commented on #2555
Hi @EmanuelSoda

Sorry, I missed this was now passing checks. I will try to take a look this week.

Luke

[2022-05-24 07:20] daanhazelaar commented on #2675
Dear Ishep,

I'm sorry for the inconvenience. The URL: https://github.com/ErasmusMC-CCBC/katdetectr points to the public repository of katdetectr.

Kind regards,
Daan Hazelaar

[2022-05-24 09:46] ococrook commented on #2658
Thanks for removing the timeout and build ERRORs. I will now formally review the package. This may take upto 10 days complete. In the meantime you may wish to look at the Notes, as addressing these will likely be part of the review.

[2022-05-24 09:51] vjcitn commented on #2669
[code]
Your vignette has global setting eval=FALSE.  This is inappropriate.  The vignette should exercise package code and produce results illuminating to the reader.  As you can see above, when I purl the Rmd file and try to run code, it fails.

Are you using cBioPortalData?  GRanges?  Any other Bioconductor data structures?

[2022-05-24 11:27] lshep commented on #2675
@daanhazelaar  Thank you.  I have deleted the issue out of the tracking database.  If you could please it would be easier just to submit a new issue with the correct url.  You should not get the error about already submitted now.  cheers

[2022-05-24 11:29] daanhazelaar commented on #2675
Dear Ishep,

Thx for your help! I'll make a new issue for katdetectr.

Kind regards,
Daan Hazelaar

[2022-05-24 11:37] daanhazelaar opened #2676 "katdetectr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ErasmusMC-CCBC/katdetectr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2022-05-24 16:22] pablof1988 commented on #2658
Ok, Thank you very much

[2022-05-24 20:15] genomaths opened #2677 "(inactive) GenomAutomorphism"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/genomaths/GenomAutomorphism

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2022-05-24 20:15] #2677 closed, assigned to nobody

[2022-05-24 20:34] genomaths commented on #2677
Issue solved
BiocCheck::BiocCheck('new-package'=TRUE)

─ BiocCheck results ──
0 ERRORS | 0 WARNINGS | 8 NOTES
Thanks

[2022-05-24 20:40] genomaths opened #2678 "GenomAutomorphism"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/genomaths/GenomAutomorphism

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have re

[2022-05-25 00:12] fuerzhou commented on #2606
Thank you for your reply. We are convinced that we should switch to `SpatialExperiment` and will start making the changes along with other responses to the review.

Have a good break!

[2022-05-25 04:15] jingeyu commented on #2663
Thank you for your comments.

Answer to point 1: I have revised the main R function 'CTSV.R' to support the use of SpatialExperiemnt, thus the input of main function 'ctsv' are SpatialExperiment class object instead of 'Y' and 'loc'.

Answer to point 2: I have added BPPARAM parameter as input parameter of 'ctsv' function to control parallel process, details can be attached in vignette.

And I have

[2022-05-25 09:07] vjcitn commented on #2663
Bump the version number in DESCRIPTION whenever you make source changes.

When installing on linux I saw
[code]

In vignette, use suppressPackageStartupMessages to wrap your library commands to reduce space taken up by attachment messages.

[code]
that's from the vignette ... is it still true, or is spe a SpatialExperiment instance?

[2022-05-25 09:40] lazappi commented on #2637
This function needs to be tested in some way, currently it doesn't have a runnable example, successful tests or is run in the vignette. There are a few options for how to do this. You could include some example data in this package (I understand your concerns about size but it should be possible to come up with a small example), you could reuse example data in another package (maybe **{SpatialExpe

[2022-05-25 09:55] ccshao commented on #2669
@vjcitn thank you very much for the quick updates and suggestions.

The codes you cited are used to preprocess tab-separated data downloaded directly from data repo like cBioPortal.  That is why they are not running. I am not using Bioconductor data structures

Most of the codes in the vignette should work without issues and I have tested on my local computer, except **two** chunks dealing data fr

[2022-05-25 10:06] vjcitn commented on #2669
When you make the changes you propose (and I would encourage you to consider how Bioconductor data structures and packages help you and users achieve the aims of the package) bump the version in DESCRIPTION, and add a comment to your issue.  I will reevaluate at that time (depending on my availability there may be a delay).

[2022-05-25 12:55] jingeyu commented on #2663
Thank you for your comments!

Answer to version:
Apologize for my mistake. I have bumped the version number from 0.99.0 to 0.99.2 in this update version.

Answer to Linux installation:
(1) I added a blank line in the end of the DESCRIPTION  hoping to avoid the Warning.
(2) In the DESCRIPTION file I set 'Encoding: UTF-8' and when I run 'roxygen2::roxygenise()', 'roxygen2 requires Encoding: "UTF-8"'

[2022-05-25 15:10] jianhong commented on #2635
# Package 'RgnTX' Review
The package passed check and build. It is almost there. Some small things.

## General R package development
- [ ] NOTE: no need to export all the internal functions. For example the new functions for repetition parts.

## R code
- [ ] NOTE: Use `is.character/numeric/integer/logical` to replace `is(, "character/numeric/integer/logical")`
    * In file R/getPermSpaceByFeatu

[2022-05-25 16:38] BioSok commented on #2668
Hey! I have restructured the functions with getters as well as the vignette.

[2022-05-25 16:52] vjcitn commented on #2668
Bump the version number in DESCRIPTION whenever you commit a change to source.

[2022-05-25 17:50] jianhong opened #2679 "ATACseqTFEA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jianhong/ATACseqTFEA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2022-05-25 20:02] zijianni commented on #2637
Hi @lazappi
Thanks again for your additional comments! Please see updates below. Let me know if you have further questions and comments.

I’ve put some image-related files to `inst/extdata`. Now this function has runnable examples as well as unit tests.

Given that I’ve added raw image-related files, I’ve discarded the use of `data/mbrain_slide_info.rda` and updated all the examples, tests, and vi

[2022-05-25 21:23] oganm commented on #2533
It seems like a few functions didn't have caching implemented but that is fixed now. Also addressed the typo at the vignette

[2022-05-26 09:43] vjcitn commented on #2676
maftools produces a rainfall plot https://www.bioconductor.org/packages/devel/bioc/vignettes/maftools/inst/doc/maftools.html

any chance you can reuse that or other related functions already in bioconductor?

[2022-05-26 10:23] daanhazelaar commented on #2676
Dear vjcitn,

The rainfall plot function of katdetectr is build around the ggplot2 package. We prefer using the tidy format for organising our data and subsequent visualisation. Maftools rainfall plot is generated using R graphics package which does not fit well into the workflow of katdetectr. We have not found a related function on bioconductor that generates a rainfall plot (or something simila

[2022-05-26 11:42] lshep commented on #1840
I'm sorry for the delayed response I was away on holiday. I will get to this in the next few days.

[2022-05-26 11:58] fursham-h commented on #1840
No worries @lshep! Looking forward to your comments.

[2022-05-26 15:09] k3yavi opened #2680 "eds"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/k3yavi/eds

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bioconduc

[2022-05-26 23:23] YuanningEric commented on #2558
@Kayla-Morrell

Hi Kayla,

I have addressed all your comments with the two following notes:

1. The exported functions are either run in the Vignette or in the code example, but not both.  The vignette covers > 95% exported functions, while the others are included as runnable examples in the code.

2.  We have tried to accommodate as many issues you mentioned in the `R Code` section. However, at t

[2022-05-27 07:15] BioSok commented on #2668
Bumped it to 0.99.1 from 0.99.0

[2022-05-27 09:44] lazappi commented on #2637
Hi @zijianni. I am happy with this now so will mark it as accepted. Congratulations on getting the package into Bioconductor 🎉!  It can take a couple of days to be picked up by the build system but then it should be available in Bioconductor devel.

[2022-05-27 10:14] lazappi commented on #2555
Ok. This should be mentioned in the text of the vignette so that it is clear to the user why this is done.

Could you explain why you feel it is necessary to have a custom object? It looks like most of the functionality requires converting to a `DGEList` anyway so maybe the package could be build around that instead? Resuing standard objects makes it much easier for users to combine Bioconductor p

[2022-05-27 12:35] Kayla-Morrell commented on #2558
@YuanningEric - Could you please check the boxes of the items you have addressed from my review. This will make it easier for me when re-review.

Thanks,
Kayla

[2022-05-27 13:17] zijianni commented on #2637
Thanks again @lazappi for your time reviewing my package!

[2022-05-27 14:46] YuanningEric commented on #2558
@Kayla-Morrell - The boxes in front your comments are not clickable. Is there a way I can check them?

[2022-05-27 16:45] yue-wang-biomath commented on #2635
@jianhong Thanks for suggestions. Now these issues have been addressed.

[2022-05-27 16:48] lshep commented on #2637
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/zijianni.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-05-27 16:48] #2637 closed, assigned to lazappi

[2022-05-27 16:48] lshep commented on #2515
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/wheelerb.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2022-05-27 16:48] #2515 closed, assigned to PeteHaitch

[2022-05-27 16:48] lshep commented on #2505
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LucaAnholt.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2022-05-27 16:48] #2505 closed, assigned to Kayla-Morrell

[2022-05-27 16:48] lshep commented on #2349
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/xiuyuma.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2022-05-27 16:48] #2349 closed, assigned to jianhong

[2022-05-27 16:59] jianhong commented on #2635
@yue-wang-biomath Thank you for your contribution. Well done!

[2022-05-27 17:17] lshep commented on #2651
@HelenaLC   ignore the ERROR that the package is on CRAN for now -- the procedure will be to review and once satisfied accept. After acceptance we will wait to add to the builders until removal from CRAN.

[2022-05-27 19:04] Deisiany commented on #1752
Hi @hpages,
I have package should work now. Sequences are in a .2bit format.

And I also altered the package name to BSgenome.Gmax.NCBI.Gmv40 since I am using the NCBI genome.

https://github.com/Deisiany/BSgenome.Gmax.NCBI.Gmv40.git

Please let me know if now works, or if there is anything else that needs to be done from my end.

[2022-05-28 03:46] jingeyu commented on #2663
Thank you for the bulid report. I found two same ERRORS in  'BiocCheck' on Linux and MacOS systems separately, one is 'Maintainer must subscribe to the bioc-devel mailing list' and the other one is 'Maintainer must register at the support site'.

1. I have successfully subscribed to the bioc-devl mailing list with the information "You have successfully confirmed your subscription request for "yjgr

[2022-05-28 03:48] jingeyu commented on #2663
Thank you for the bulid report. I found two same ERRORS in 'BiocCheck' on Linux and MacOS systems separately, one is 'Maintainer must subscribe to the bioc-devel mailing list' and the other one is 'Maintainer must register at the support site'.

1. I have successfully subscribed to the bioc-devl mailing list with the information "You have successfully confirmed your subscription request for "[yjgr

[2022-05-28 15:13] yue-wang-biomath commented on #2635
Thanks @jianhong !

[2022-05-29 02:45] quranwu commented on #2651
Hi, we've update the package in both origin master and git@git.bioconductor.org:packages/IFAA to pass the test. The only error right now is for the exsistence on CRAN. Thanks.

[2022-05-30 05:34] bphipson opened #2681 "(inactive) speckle"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/phipsonlab/speckle

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2022-05-30 05:34] #2681 closed, assigned to nobody

[2022-05-30 07:31] daanhazelaar commented on #2676
Dear reviewer,

I see the WARNINGS originate from undocumented code objects. However, all mentioned functions and classes are documented using roxygen2. I also do not get these WARNINGS when running CMD check my self (both on linux en macOS). Can you perhaps give a suggestion on how to fix these WARNINGS?

kind regards,
Daan Hazelaar

[2022-05-30 09:54] HelenaLC commented on #2651
**Major comment**

I understand you rewrote some code for `IFAA()` and `MZILN()` to accept a `SummarizedExperiment` as input as opposed to two separate tables. However, there's little sense in doing that and then having both functions return a nested list of results and metadata. Ideally, both functions should return the same class of output as they take in; if at all possible.

I must admit that

[2022-05-30 11:59] andreaskapou commented on #2585
Hi @PeteHaitch , please see my line-by-line answers to your comments. Boxes with ticks are implemented as per your suggestions.

- [x] Create the sparse matrix directly (and much more efficiently) through the `sparseMatrix()` constructor.
  -  Thanks for this suggestions. Functions are updated accordingly.
- [x] Use `message()` rather than `cat()` when providing informational messages: Done
- [x]

[2022-05-30 19:10] quranwu commented on #2651
Hi, Thanks for the suggestions. For the outputs, it mainly shows the parameter estimates, standard errors, and confidence invervals for the association between taxon and covariates. Also, we expects that users would be more interested on the estimates of significant taxon, or "target taxon" in the MZILN function, so that we mannuly extract them out, as you pointed out. I agreed that our outputs ma

[2022-05-31 05:23] HelenaLC commented on #2651
Hm. Why not return a long-form table instead? This would be more standard and much easier to view/filter as opposed to 5 separate matrices. E.g., something like:
[code]
- In any case, it would really help if the outputs were clearly described (see my comments above regarding documentation). As there are 2 main functions, both with complex outputs, I'd say it's crucial that these are well structure

[2022-05-31 06:53] almeidasilvaf opened #2682 "syntenet"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/almeidasilvaf/syntenet

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read th

[2022-05-31 07:23] lazappi commented on #2676
Hmmm...that's a bit weird. Can you check that the documentation has been generated by **{roxygen2}** (probably with `devtools::document()`) and that you have committed the files to your git repository (and pushed them to the Bioconductor remote)? I think the most likely explanation is that you have them locally but for some reason they haven't made it to the build system. You can also try cloning

[2022-05-31 08:35] daanhazelaar commented on #2676
Dear lazappi,

Aha for some reason the man folder generated by roxygen2 was not included in the git repository. I think that was the problem. I have included it now but I can't push to the bioconductor remote. I followed all steps of the manual and all credentials seem correct to me. Can you perhaps tell me why I'm denied writing acces to git@git.bioconductor.org:packages/katdetectr.git?

![Screen