[2019-02-07 18:46] mtmorgan commented on #999
This package looks like it is useful to R users in general; I recommend that you submit it to CRAN instead.

[2019-02-07 18:49] guokai8 commented on #999
Dear Reviewer,
Thanks for your suggestion. Can I still try to submit my package to biocondutor? I am a bioinformatics PhD. I more prefer biocondcutor.
 Kai

[2019-02-07 18:50] Kayla-Morrell commented on #975
Hi @ptrebulle,

Thank you for submitting to Bioconductor. Please see the initial review of your package below:

**DESCRIPTION**

Good description of the package.
- [ ] REQUIRED: set LazyData to FALSE. For packages with data, LazyData set to TRUE slows down the loading of the package.
- [ ] SUGGESTION: Include a top-level README file that includes installation steps for the system requirement GLPK

[2019-02-07 18:53] lshep commented on #985
celaya2 - CRAN will eventually provide the binaries for this R version - you can ignore for now and we will review based on the other two platforms
I am kicking a manual build off to try to remedy the timeout - we have been having some intermittent connectivity issues to one of our servers causing this issue - we are working on it but for now can also be ignore - @LiNk-NY

[2019-02-07 18:55] guokai8 commented on #999
Already remove the  VennDetail.Rproj file

[2019-02-07 19:00] mtmorgan commented on #999
Remember to increment the version number (0.99.1, 0.99.2, 0.99.3...) whenever you want to have your package checked again.

Yes you can still submit this to Bioconductor.

[2019-02-07 19:16] dvantwisk commented on #821
Hello,
I am going to close this package due to two weeks of inactivity for the time being. Feel free to reopen it when you are ready to make further changes.

[2019-02-07 19:16] #821 closed

[2019-02-07 19:17] JosieLHayes commented on #920
Thank you!

I have the ssh key set up and will be in touch if I have further questions.

[2019-02-07 19:20] guokai8 commented on #999
Update the test folder. And version changed to 0.99.1. Fixed the test error.

[2019-02-07 20:47] gabrielodom opened #1000 "pathwayPCA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gabrielodom/pathwayPCA
This is my first package submission to Bioconductor. I apologize in advance for my lack of experience.

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,

[2019-02-07 20:56] mtmorgan commented on #1000
Please update your package to interoperate with (accept as inputs / return as outputs) standard Bioconductor data representations][1], especially [SummarizedExperiment][2]

[1]: https://bioconductor.org/developers/how-to/commonMethodsAndClasses
[2]: https://bioconductor.org/packages/SummarizedExperiment

[2019-02-07 21:28] guokai8 commented on #999
This is my first package submission to Bioconductor. I apologize in advance for my lack of experience.

[2019-02-08 00:31] Junfang commented on #963
Dear @nturaga Thanks a lot for your review. I just have a question regarding the usage of 'MulticoreParam' on different platforms. Do I have to indicate the platform type in the examples of the documentation (.Rd files), also in the vignette? so that my package could pass all three Bioconductor platforms. As far as I have tested on windows,  'MulticoreParam' could not dispatch to 'Serial'.

[2019-02-08 00:45] ogevaert opened #1001 "AMARETTO new package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/gevaertlab/AMARETTO

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _

[2019-02-08 01:10] steveped commented on #985
Thanks @lshep . Much appreciated & it looks like that glitch was the problem.

[2019-02-08 04:31] Shians commented on #998
Added package description and fixed some other BiocCheck issues. Currently just getting warnings about checks taking >5min to run.

[2019-02-08 09:03] jtheorell commented on #972
Dear @nturaga,
Can I do anything to aid you in your review at this stage?
Best regards
Jakob

[2019-02-08 09:05] Berghopper commented on #947
@mtmorgan @lshep bump, how far along is the review process? :)

[2019-02-08 09:43] LTLA commented on #978
Thanks @dvantwisk, much appreciated.

[2019-02-08 16:25] Kayla-Morrell commented on #907
I am closing this package for inactivity. We normally like to see changes to a package within a few weeks to know they are actively being worked on (no changes have been committed in over a month). When you have implemented changes and are ready for a re-review, please comment back here to ask that the issue be reopened.

Best,
Kayla

[2019-02-08 16:25] #907 closed

[2019-02-08 16:28] MalteThodberg commented on #907
Yes, sorry for the delay, I was pondering making some very significant changes that would affect the overall package setup. I will reopen as soon as it's settled.

[2019-02-08 16:50] hubentu commented on #980
Hi @lshep ,

# Readme
￼ Installation instructions added.

# vignette
1. user_guide.Rmd has been renamed to Rcwl.Rmd.
2. All outputs have been defined to tempdir() by `outdir` option.
3. I could not repeat your warning from `readLines` outputs. The warning was not shown when I run check in the bioconductor/devel_core2 container. It might be caused by the R environment set in Renviron via google.
4.

[2019-02-08 18:48] jwollbrett opened #1002 "BgeeCall package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BgeeDB/BgeeCall

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2019-02-08 22:50] LTLA commented on #996
I'm going to convert the `DeferredMatrix` class to a `DelayedArray` backend over the weekend, so if anyone's doing some reviewing in the next few days, you might want to hold off on the `DeferredMatrix.R` file.

[2019-02-09 07:33] UCDNJJ opened #1003 "(inactive) scAlign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ucdavis/quontitativebiology/tree/master/scAlign

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general publ

[2019-02-09 07:33] #1003 closed

[2019-02-09 12:52] Junfang commented on #963
**Dear @nturaga Many thanks again, please see my reply below.**

**Now 'print' statements are removed, except that print(plot(...)) is still used. The reason is that I have to call print() explicitly to draw a plot inside a function when using ggplot2 plot. See also https://www.rdocumentation.org/packages/ggplot2/versions/3.1.0/topics/print.ggplot**

**Unnecessary 'which' statements were now remov

[2019-02-09 16:39] LTLA commented on #996
Windows is its usual grumpy self. Funnily enough, I tested the code on my colleague's Windows computer (running the latest _BiocParallel_) and it worked fine. I guess the SPB doesn't get updated so frequently?

[2019-02-09 23:01] UCDNJJ opened #1004 "scAlign"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/quon-titative-biology/scAlign

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have

[2019-02-09 23:14] mtmorgan commented on #1004
Why not support the SingleCellExperiment class for input? This way your package interoperates with Bioconductor rather than stands alone and is underused?

[2019-02-09 23:44] UCDNJJ commented on #1004
We agree that supporting [SingleCellExperiment](https://bioconductor.org/packages/SingleCellExperiment) would be beneficial to the Bioconductor community. Planning to update the package.

Also, the scAlign packages requires tensorflow to be installed on the system which is producing one of the errors during the automated check.

[2019-02-09 23:53] mtmorgan commented on #1004
@lshep we'll arrange for tensorflow if you'll arrange for SCE!

[2019-02-10 22:27] pfh commented on #959
This is great news, thank you. I definitely feel my package writing skills have been improved by this process.

[2019-02-11 10:32] jtheorell commented on #972
Dear @nturaga,
Now, it was 18 days ago that you said you would review the package within the coming three days. Are you still conducting the review, or are you waiting for me to do something? I am eager to proceed with this project.
Best regards
Jakob

[2019-02-11 12:40] vbelcastPM commented on #932
Dear Martin,

I agree with you to avoid using assignInNamespace function. Unfortunately, it is the only way I see to both depends on tcpl (2.0.1) and reduce code duplication.

I must clarify that a new developer team took over tcpl (from 1.4.3 to 2.0.1). The reason why sqlite is not supported anymore, and other implementation choices, are not clear both to me and to the former tcpl developer (1.4.

[2019-02-11 12:51] lshep commented on #1004
tensorflow has been installed on the linux and mac machine -  we currently are not using python3 on the single package builder and therefore tensorflow is unavailable for windows platform at this time.

[2019-02-11 13:00] mtmorgan commented on #932
let's identify a specific example of a function that you want to use, and why tcpl 2.0.1 is not suitable.

[2019-02-11 13:07] vbelcastPM commented on #932
Hi,

Please find below a list of functions from tcpl 2.0.1 and the reason why I had to include a modified version in GladiaTOX.
Note that the list increases when avoiding assignIn Namespace() function.

assay_funcs.R --> Added because R does not support @rdname cross-ref to another package
buildAssayQ.R --> Added support for study_phase
chemQueries.R --> sqlite support
config_funcs.R --> Added bec

[2019-02-11 13:48] neobernad opened #1005 "evaluomeR package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/neobernad/evaluomeR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2019-02-11 14:38] mtmorgan commented on #932
So let's go with the first one, and forgive me for being slow and pedantic here.

assay_funcs.R --> Added because R does not support @rdname cross-ref to another package

What's the problem here that requires you to assignInNamespace or to duplicate code from an earlier version of tcpl?

[2019-02-11 14:55] nturaga commented on #1002
Hi @jwollbrett ,

Before we do a package review it's important that your package build status is clean on the Single Package builder i.e no WARNINGS, NOTE, ERROR messages.

Please fix them before we are able to continue with a review.

Best,

Nitesh

[2019-02-11 15:06] mtmorgan commented on #1005
It would seem particularly important for a package like this to interoperate with other Bioconductor packages by re-use of [standard classes][1] especially [SummarizedExperiment][2]. Alternatively if this is not particularly Bioconductor-centric then perhaps it belongs on CRAN?

[1]: https://bioconductor.org/developers/how-to/commonMethodsAndClasses/
[2]: https://bioconductor.org/packages/Summariz

[2019-02-11 16:17] wschen commented on #897
@LiNk-NY I have updated the examples so that they should all be run now. I have also updated the function to allow for an optional seed to be passed in as a parameter and have documented it clearly in the man page. I think this is preferable for the specific use case I'm implementing – hope this is ok!

- Will

[2019-02-11 16:19] Liubuntu commented on #958
Hi @ChloeHJ ,

Here is the 2nd review of your package:

## DESCRIPTION / NAMESPACE
- Did you try removing the `@import tidyverse` from "proBatch.R"? before removing `tidyverse` from DESCRIPTION imports?

## R
- correlation-based_diagnostics.R: L299. The `.corr_distribution` works like an internal function in your script, and you had the keyword internal. So you should remove the `@export` tag.

-

[2019-02-11 16:22] vbelcastPM commented on #932
Here an explanation for the top 4 functions in the list + an argument about the use of assignInNamespace (or code duplication)

Assay_funcs.R
This file defines descriptions, details and examples shared by multiple functions.
This file can be removed from the list. I can simply place the description and detains in the R file of the function: ex. tcplLoadAsid()
Here I can avoid both code duplication

[2019-02-11 16:59] Liubuntu commented on #958
One more important thing for developing a new R/Bioconductor package is the interoperability with other existing / established packages in the same area.

Interoperability is strongly encouraged in Bioconductor and would help with the usage of your own package. Consider interoperability with packages included in `RforProteomics`, and `mzR` which uses CDF (Common Data Format) to represent MS data i

[2019-02-11 17:05] Liubuntu commented on #958
For the error of large size, and exceeding check time, try to make your example dataset (used in examples or vignettes or test functions) minimum but just big enough to show the functionalities. This is usually the case for making them fit into a Bioconductor package.

[2019-02-11 18:09] lucassalas commented on #982
Hi @mtmorgan ,

I just wanted to follow up. Should I do any additional adjustments to the submission?

Thank you.

Lucas

[2019-02-11 18:36] nturaga commented on #972
# DepecheR review

## R CMD build

ok

## R CMD INSTALL

ok

## Build report

 * WARNING: R CMD check exceeded 5 min requirement (This can possibly
   with further builds, fix other issues before addressing this one)

 * Multiple NOTE entries in the build report, all of which are easily
   fixable.

## DESCRIPTION

* You don't need `Authors@R` and `Author`/`Maintainer` sections in the DESCRIPTION

[2019-02-11 19:31] nturaga commented on #948
@mtmorgan Regarding the setting of the new class `GTF`, I was wondering if you had any comments about this? Mainly because `TxDb` can be used.

[2019-02-11 20:06] mtmorgan commented on #948
It seems like the basic uses are
[code]
There is also more specific functionality available via `select()`.

So a lot of functionality, especially in parsing the GTF file, has been duplicated. Of course it would be appropriate or expected to add additional functionality within pram, for instance coercing to a data table `as.data.table(exons(txdb))` and performing additional computation. But reusin

[2019-02-11 20:44] mtmorgan commented on #947
Sorry for the delay. The windows error is because the example is too large. The Mac warning is because the example(s) run too long. Both can be addressed by a carefully chosen example that uses less memory in a shorter period of time.

[2019-02-11 20:46] mtmorgan commented on #965
Can you please update your package to remove the remaining warnings, so that a review can be performed?

[2019-02-11 20:53] mikelove commented on #984
Question for @Kayla-Morrell

I have a software package which builds on this one as a data package. Should I add the software to this thread or would you prefer I wait and post as a new issue?

[2019-02-11 21:05] mtmorgan commented on #973
Sorry for my extended delay.

vignettes

- Please remove vignette build products (Tutorial.pdf) from the git repository, these are rebuilt by `R CMD build`.

- (suggest) update installation instructions to reflect Bioconductor best practices

[code]

R

- (minor) `stop(paste(...))` is usually unnecessary (`stop()` `paste()`'s its arguments internally).

- melting.R:1016 Use `stringsAsFactors = FAL

[2019-02-11 21:23] ogevaert commented on #1001
@jayendrashinde91

[2019-02-11 22:18] UCDNJJ commented on #1004
Thanks for getting tensorflow setup!

It appears that our package passes the checks on the Linux machine.

There seems to be an issue with the tensorflow install on the mac machine which is preventing a preliminary test tensorflow script from completing.

[2019-02-11 22:42] pliu55 commented on #948
Hi @mtmorgan and @nturaga, thanks for your comments and suggestions on the `GTF` class and `txdb`.

@nturaga, could you please let me know if there is any other aspect of this package you would like me to improve?  Thanks.

Best,
Peng

[2019-02-12 09:12] mtmorgan commented on #981
DESCRIPTION

- (required) please provide more descriptive Title: and Description: fields, like a paper title and abstract that help orient the user.

vignette

- (required) Your package seems to work with feature x sample (e.g., RNA-seq expression) data. It should therefore be interoperable with existing Bioconductor data representations of the same data, in particular the [SummarizedExperiment][1

[2019-02-12 09:43] mtmorgan commented on #993
DESCRIPTON

- no need for `Maintainer:` field when `Authors@R` specified.

- Provide more detail in `Description:`, like a paper abstract so someone understands what methods are available and how these differ from other pacakges.

vignettes

- it would be very helpful to provide additional information in the vignette, e.g., simple data exploration, visualization and interpretation of the outputs o

[2019-02-12 09:50] LTLA commented on #996
`a487158` above uses an unusual way of defining S4 methods, I'd like some opinions on that. The aim is to avoid manually retyping the signature for each method when many of the arguments can be passed as-is.

[2019-02-12 11:27] ChloeHJ commented on #958
Hi Qian,

Thank you for your comments! I will look through them and get back to you soon,

Best regards,
Chloe

[2019-02-12 12:06] lshep commented on #1004
@Kayla-Morrell  I think this is okay to review based on the linux platform while I investigate the tensorflow installation issue.

[2019-02-12 12:31] ChloeHJ commented on #958
Hi Qian,

Regards to the problem of large size, I was wondering if this was due to a wrong setting on the second vignette we produced because the size of data is 1.3Mb but the doc size goes 3.8Mb. Could you please have a closer look onto our second vignette (vignette_brief) and see if it's made correctly?

Thank you so much!
Chloe

[2019-02-12 13:41] mtmorgan commented on #996
The trade-offs are between DRY and maintainability. In this case the 'factory' seems ok to me, reducing repetition in a way that is relatively transparent. GSEABase uses a similar approach but in a more complicated way, such that it's actually difficult for an 'outsider' to figure out what's going on.

[2019-02-12 13:49] Kayla-Morrell commented on #984
Hey @mikelove,

Ultimately it's up to you which way you prefer. I was about to accept the data package because everything looked good but then you would have to wait for it to be officially accepted and then go through a build cycle (without any issues) before the data would be available for the software package.

If it is directly related (depends/imports/etc.) feel free to submit on this thread

[2019-02-12 13:53] mikelove commented on #984
Thanks for the details. That makes sense (i hadn't thought about the build cycle part)

We're still getting the package in order, so I'll post it as a new issue next week probably. Thanks for clarifying, and thanks for your time during review.

[2019-02-12 14:00] hpages commented on #979
Hi @Takkoona

Thanks for your submission and sorry for the delay in getting back to you.

sitePath is in good shape. Before we accept it though, some minor issues need to be addressed. See below for the details.

Let me know if you have any questions.

Regards,
H.

### Vignette

1. Any reason you use `ape::` when calling `ape::root()` but not when calling `read.tree()`?

2. The vignette says that

[2019-02-12 14:36] Berghopper commented on #947
@mtmorgan I fixed the delays by skipping some non-critical tests and introducing only a part of the fantom file during the example. Everything should be ok now :)

[2019-02-12 15:07] Liubuntu commented on #997
Hi,

Thank you for submitting your package to Bioconductor. You can expect an official review within 2 weeks from the last successful build.

Cheers,
Qian

[2019-02-12 15:15] mtmorgan commented on #984
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mikelove.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-02-12 15:15] #984 closed

[2019-02-12 15:15] mtmorgan commented on #982
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lucassalas.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2019-02-12 15:15] #982 closed

[2019-02-12 15:15] mtmorgan commented on #978
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LTLA.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acco

[2019-02-12 15:15] #978 closed

[2019-02-12 15:15] mtmorgan commented on #959
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pfh.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github accou

[2019-02-12 15:15] mtmorgan commented on #947
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Berghopper.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2019-02-12 15:15] #959 closed

[2019-02-12 15:15] #947 closed

[2019-02-12 15:29] nturaga commented on #983
Hi @mikelove

# Review oct4

## General

The package looks good to me.

## man

My only issue is it's missing `man` pages.

According to the document, https://bioconductor.org/packages/release/bioc/vignettes/ExperimentHub/inst/doc/CreateAnExperimentHubPackage.html#data-objects

[code]

It would be great if a user can just `?oct4` and receive some information regarding the package.

Best,

Nitesh

[2019-02-12 15:45] nturaga commented on #963
# Update

* Please fix the issue in the vignette,

[code]

Another way of looking at this,

[code]

Update the version number so that the build runs after you fix the error.

[2019-02-12 16:05] dvantwisk commented on #750
Your package has been added to bioc 3.9 devel. It should propagate within a day or so.

[2019-02-12 16:40] nturaga commented on #948
# Review update

* Why do you still need `mclapply`?

[code]

I would rather you don't use mclapply at all, and replace that with a function taken from BiocParallel.

Otherwise, your package looks good to me.

[2019-02-12 16:54] mikelove commented on #983
Thanks for the suggestion @nturaga

[2019-02-12 17:21] neobernad commented on #1005
Dear reviewer,

We think it would be a great addition to include SummarizedExperiment as another input format in our methods, could it be added as an upgrade in a later version? Also, I'm a bioinformatics PhD student and the co-authors work in the bioinformatics domain. Therefore we are highly interested in focusing the package usage in the bioinformatics field. Could it be still submitted to Bioc

[2019-02-12 17:27] dvantwisk opened #1006 "(inactive) GO.db"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor/GO.db

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2019-02-12 18:38] LTLA commented on #996
Thanks @mtmorgan. This was actually a test case for a much more extreme situation in the _BiocNeighbors_ package, where I would have had to copy-and-paste an even longer signature over 40 times. I was a bit worried about using a function to generate functions to pass to `setMethod()`, but your comments are reassuring.

[2019-02-12 18:44] pliu55 commented on #948
Hi @nturaga,

Thanks for your feedback.  I will replace `mclapply` by `bplapply`.

Regarding the `GTF` class, I understand Martin and your suggestions that it would be good not to introduce additional class unless necessary.  I will to think of a way to remove `GTF` class without affect the `evalModel()` and related functions.  At the moment, I am not sure how much time it may take.  Is there any

[2019-02-12 19:22] LiNk-NY commented on #897
Hi William, @wschen

Setting a default seed value is not the way to ensure reproducibility.

Users wishing to obtain reproducible results would create a script and
set their own seed within the script and not inside the function.

Please remove the `set.seed` function from your code.

Regards,
Marcel

CC: @mtmorgan

[2019-02-12 19:29] LiNk-NY commented on #1005
Hi José, @neobernad

Thank you for your submission.
We consider packages that are inter-operable with existing Bioconductor
data structures and provide relevant functionality.
If you would like more time to provide an interface with `SummarizedExperiment`,
we can close the issue and you can re-open it at a later date.

Best regards,
Marcel

[2019-02-12 19:30] zqzneptune commented on #993
Hello, Reviewer,

Thank you very much for your inputs. I have addressed your comments accordingly.

However, for the last point, it is necessary to implement C++ code, which could decrease the computing time by several orders of magnitude:

[code]

[2019-02-12 20:26] mtmorgan commented on #993
Thanks; note that
[code]
can be simply
[code]
and similar

[2019-02-12 21:06] mtmorgan commented on #897
The user expects that
[code]
will produce different results than
[code]
but if `your_function()` does `set.seed(345)` then their attempt is thwarted.

On the other hand if they'd like to implement reproducibility for your function, then they would be able to
[code]

So there is nothing to be gained by setting the seed inside your function, and much frustration to be introduced.

[2019-02-12 23:07] Junfang commented on #963
Dear @nturaga Thanks for your quick update. I tried to replicate this issue on several different machines (windows, linux and mac) but I did not get any error. I was wondering if you would have any problem when running the following example?

[code]

[2019-02-13 09:01] wschen commented on #897
@LiNk-NY Got it, removed the set.seed call inside the function!

- Will

[2019-02-13 10:51] Berghopper commented on #947
@mtmorgan
Thanks for accepting the package!

I still had a few questions regarding the git servers:

Will my package (now 0.99.23) be automatically bumped to 1.0.0 and 1.1.0 in devel when Bioconductor 3.9 releases?

A more specific question, and maybe a little more important: I will be the lead developer for the package for at least the next ~3 months, after this, I will probably hand off my packa

[2019-02-13 14:09] mtmorgan commented on #947
Bioconductor will manage release-based version bumps.

If you were going to continue to be involve, the recommendation would be to add collaborators to your github repository, with you continuing to push to bioc http://bioconductor.org/developers/how-to/git/add-collaborators/

If you're really changing maintainers, follow http://bioconductor.org/developers/how-to/git/change-maintainer/

[2019-02-13 14:35] mtmorgan commented on #932
Moving on then to buildAssayQ.R, this seems to be an reformatted copy of `tcpl:::.buildAssayQ`?

[2019-02-13 14:56] vbelcastPM commented on #932
The difference is that instructions such as:

    qstring <- sub("assay_source_phase", "assay_source_phase AS asph", qstring)

are specific to the modified version of the DB (in tcpl there is no notion of study phase)

From: Martin Morgan [mailto:notifications@github.com]
Sent: 13 February 2019 15:36
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contrac

[2019-02-13 14:58] mtmorgan commented on #932
but the line you quote above does not appear in the github master branch of your package?

[2019-02-13 15:01] vbelcastPM commented on #932
Please see line 110

From: Martin Morgan [mailto:notifications@github.com]
Sent: 13 February 2019 15:58
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] (inactive) New Package Submission: GladiaTOX (#932)

but the line you quo

[2019-02-13 15:47] mtmorgan commented on #932
If that is the extent of the difference then isn't the minimal patch (with suitable argument substitution for `...`)
[code]

[2019-02-13 16:05] vbelcastPM commented on #932
The solution you proposed to that chuck can work.
Additionally, the missing fields come from .prepField() line 42. This function is calling tcplListFields() that is missing sqlite support.
So I had to assignInNamespace("tcplListFlds", tcplListFlds, ns="tcpl")

From: Martin Morgan [mailto:notifications@github.com]
Sent: 13 February 2019 16:48
To: Bioconductor/Contributions <Contributions@noreply.gi

[2019-02-13 16:41] LiNk-NY commented on #897
Hi William, @wschen
Thanks for making that change.
Please resolve the errors in the `aggregateSamples` function examples:

[code]
This is due to the recent change.

Best,
Marcel

[2019-02-13 17:12] mtmorgan commented on #932
`assignInNamespace()` is not acceptable.

Continuing to focus on buildAssayQ, what additional specific changes are required to support the change above?

[2019-02-13 17:15] wschen commented on #897
@LiNk-NY Sorry about that, fixed now!

[2019-02-13 17:25] dvantwisk commented on #968
Hello,

Since I haven't seen activity on this package for over two weeks, I am going to close the issue for now. Feel free to reopen it when you are ready to push more changes.

[2019-02-13 17:58] mikelove commented on #984
Hi,

I checked out the Bioc git package and then tried to push a change but i get the following:

[code]

This is on a machine where I have other Bioc repositories and no problem pushing. Any ideas why I can't push to Bioc git repo?

Here's the landing page:

http://master.bioconductor.org/packages/3.9/data/experiment/html/macrophage.html

[2019-02-13 18:00] lshep commented on #902
Please continue to fix the ERROR/Warnings/NOTES in the build report and since I know you have been actively updating - please comment back here when you are ready for a re-review of the packages

[2019-02-13 18:01] mtmorgan commented on #984
It needs to be checked out with ssh, using `git clone git@git.bioconductor.org:packages/macrophage` (note `:packages` versus `/packages`).

[2019-02-13 18:04] mikelove commented on #984
Doh, thanks, i was copy pasting without looking.

[2019-02-13 18:24] Jiefei-Wang opened #1007 "gpuMagic package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Jiefei-Wang/gpuMagic

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2019-02-13 18:42] stefangraw opened #1008 "(inactive) pwrEWAS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have

[2019-02-13 18:42] #1008 closed

[2019-02-13 19:19] kjohnsen commented on #902
Will do. The synthetic data is almost done.

[2019-02-13 20:07] stefangraw opened #1009 "pwrEWAS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stefangraw/pwrEWAS

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read the

[2019-02-13 22:03] mtmorgan commented on #965
Is your package now ready for review?

[2019-02-14 03:38] Takkoona commented on #979
Hi @hpages ,

So I made some changes accordingly and hope to solve the issues.

[Here](https://github.com/wuaipinglab/sitePath/pull/2) list the reasons for the changes.

Regards,
Takkoona

[2019-02-14 06:30] Jiefei-Wang commented on #1007
Hello Daniel,

I have fixed the compilation errors. It looks like the package has successfully built. Since the builders do not have an OpenCL driver, an error message was thrown by my package indicating that there is no OpenCL device installed.

Because this error is related to the builder system, could we install the OpenCL driver on each builder system? Or should we provide an option to suppres

[2019-02-14 07:58] Berghopper commented on #947
@mtmorgan Alright thanks! One last question: for some reason the build server is still throwing errors (invalid description file?: https://bioconductor.org/checkResults/3.9/bioc-LATEST/GAPGOM/) and I was wondering if there's a more descriptive build output. Could have maybe messed up the versioning accidentally as I was messing around with that, hence my previous question.

[2019-02-14 11:16] mtmorgan commented on #947
you should be asking these questions on the bioc-devel mailing list rather than on this issue, so that others in a similar boat (and those better able to answer than the people on this issue) can benefit / contribute.

The error is somehow 'catastrophic' in the build system; I believe it comes from the poorly formed Maintainer: field where there is no author name. When using `Authors@R:` it is not

[2019-02-14 14:19] gabrielodom commented on #1000
@mtmorgan Thank you for the comment. We have added a function to interface the SummarizedExperiment class with our pathway-based -Omics class.

To the reviewer: The two ERRORs I cannot fix are:
1. System Files found that should not be git tracked: pathwayPCA.Rproj
2. ERROR: Maintainer must subscribe to the bioc-devel mailing list. Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel

F

[2019-02-14 15:05] mtmorgan commented on #1007
For complicated system requirements like these, installation instructions should be summarized in the SystemRequirements: field of the DESCRIPTION file, perhaps referencing an 'INSTALL' or 'README' file in the package git repository. The instructions should be specific, so that a naive user can follow them and get a working system going. An example might be https://github.com/Bioconductor/ensemblV

[2019-02-14 15:19] Berghopper commented on #947
@mtmorgan Alright, thanks, I'll be sure to post it next time. I think I've fixed the issue now :)

[2019-02-14 15:58] #924 closed

[2019-02-14 17:06] lshep commented on #1000
Thank you -
For the remaining ERRORS:

1.  It seems like this is remedied in the last build report.
2.  We require all package maintainers to sign up for the mailing list.  The `gabriel.odom@med.miami.edu`  must register on the mailing list.  Please check spam folders for the final confirmation as sometimes it gets marked as spam.

I will perform a more thorough review of the package within the ne

[2019-02-14 17:11] gabrielodom commented on #1000
Thank you @lshep. We are still working on the package install size. Our issue thread is
https://github.com/gabrielodom/pathwayPCA/issues/64

[2019-02-14 18:01] cresswellkg opened #1010 "(inactive) SpectralTAD"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mdozmorov/SpectralTAD

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2019-02-14 18:01] #1010 closed

[2019-02-14 18:16] cresswellkg opened #1011 "(inactive) SpectralTAD"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dozmorovlab/spectraltad
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2019-02-14 18:16] #1011 closed

[2019-02-14 18:18] cresswellkg opened #1012 "SpectralTAD"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/dozmorovlab/SpectralTAD

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2019-02-14 18:22] LiNk-NY commented on #897
Hi William, @wschen
Please resolve the BiocCheck warnings:

[code]

[2019-02-14 18:53] stefangraw commented on #1009
So I have addressed the issue, but I am struggling to push the updated github repository to bioconductor.
I have created the webhook. Is there anything else I need to do?

Thanks,
Stefan

[2019-02-14 18:53] mtmorgan commented on #993
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/zqzneptune.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2019-02-14 18:53] #993 closed

[2019-02-14 18:53] mtmorgan commented on #983
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mikelove.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-02-14 18:53] #983 closed

[2019-02-14 18:56] stefangraw commented on #1009
Oh, just I missed the part where I need to increase the version number to trigger it.

[2019-02-14 19:25] #750 closed

[2019-02-14 19:48] ogevaert commented on #1001
@mtmorgan Hi Martin, just a note, we have been able to resolve all warnings and errors.
Let us know if we need to do anything else to have the package reviewed.

[2019-02-14 21:44] mtmorgan commented on #1001
DESCRIPTION

- Consider a more extensive Description: field, like a paper abstract.

- The License: field says that the package is licensed under MIT but the LICENSE file is Apache. Please clarify.

vignettes

- please remove vignette 'build' products, i.e., the pdf file, from the vignettes directory; these are created when the package is installed.

- the vignette needs to contain evaluated R cod

[2019-02-14 23:13] jayendrashinde91 commented on #1001
@celineeveraert @monabiyan

[2019-02-15 00:50] lwaldron commented on #1001
The TCGA data access does seem extremely complicated, getting RNAseq2GeneNorm from curatedTCGAData and GISTIC with a long get_firehoseData() function copied from MethylMix. The following probably does what you need:

[code]

A few other thoughts in addition to Martin's:

* amaretto_functions.R:31:  It seems unconventional and maybe dangerous to supersede the `assays` generic (which has methods for

[2019-02-15 01:17] LiNk-NY commented on #1001
I agree with Levi @lwaldron.

A couple of additional notes:
* I would avoid saving PDFs for the user (unless explicitly requested by the user).
* There are  functions that identify samples in assays such as `sampleTables` in `TCGAutils` in conjunction with `data("sampleTypes")` which would save you some code in `TCGA_GENERIC_GetSampleGroups`. You can also look into `TCGAsampleSelect`.

Best,
Marce

[2019-02-15 01:46] nathaliepochet commented on #1001
Thanks so much @lwaldron, @mtmorgan and @LiNk-NY for your suggestions! We'll be making improvements according to your suggestions!

Kind regards,
Nathalie & Olivier

[2019-02-15 06:39] hyacz commented on #965
Yes, our package is ready for review. The current version is 0.99.14.

[2019-02-15 07:54] vbelcastPM commented on #750
Thank you very much for the information

From: Daniel Van Twisk [mailto:notifications@github.com]
Sent: 12 February 2019 17:05
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] rat2302frmavecs (#750)

Your package has been adde

[2019-02-15 08:26] vbelcastPM commented on #932
Hello Martin,

Your suggestion works fine.
My question is that .buildAssayQ() calls .convertNames(). The latter should be modified by adding:
    names <- sub("asph", "assay_source_phase", names)
    names <- sub("gtox_waid", "waid", names)
    names <- sub("gtox_apid", "apid", names)

How do I deal with that?

Best,
Vincenzo

From: Martin Morgan [mailto:notifications@github.com]
Sent: 13 February

[2019-02-15 14:54] stefangraw commented on #1009
There was a valid push, that was started to be built about 17 hours ago. But I have not received any results. Does that mean I was built without an error, or does is commonly take this long?

[2019-02-15 15:15] Liubuntu commented on #958
Hi @ChloeHJ ,

Sorry for late reply. But I'll look into the short vignette get back to you shortly.

Thanks,
Qian

[2019-02-15 18:24] wikum commented on #981
Hi Martin, thanks for the review. The following changes have been incorporated into the package now:

- SummarizedExperiment has been incorporated throughout the package.
- Title and Description have been updated.
- [chisq.R] chiSquaredTest updated as suggested.
- [divergence.R, setDivergence.R] cat() has been replaced with message() for providing information to the user.
- [divergence.R, setDiver

[2019-02-15 19:45] neobernad commented on #1005
Dear reviewers,

We have added a new functionality, `seToDataFrame`. This method allows the user to transform a `SummarizedExperiment` object with an assay into a valid dataframe for our package functions.

Best regards,
José Antonio

[2019-02-15 21:32] andreaskapou opened #1013 "Melissa package submission"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:https://github.com/andreaskapou/Melissa

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2019-02-15 23:42] wschen commented on #897
@LiNk-NY Hi Marcel, I've updated the R dependency as requested.

Thanks,
Will

[2019-02-16 01:54] LiNk-NY commented on #897
Hi Will, @wschen
Thank you for making those changes!
Your package has been accepted.
Best regards,
Marcel

[2019-02-16 02:00] LiNk-NY commented on #1005
Hi José, @neobernad

When we talk about interoperability, we mean that functions in your package **support** and **use**
existing Bioconductor functions. Providing a coercion function does not ensure that your functions work with `SummarizedExperiment` and return `SummarizedExperiment` where appropriate.

Best regards,
Marcel

[2019-02-16 02:48] LiNk-NY commented on #966
Hi Ludwig @lgeistlinger and Vinicius,

I've had a second look at the package and it's looking good.
Thank you for incorporating the feedback on `TCGAutils`, it's
working quite nicely.

Thanks for submitting to Bioconductor.
I will accept your package.

Best,
Marcel

[2019-02-16 22:45] wschen commented on #897
@LiNk-NY Thanks!

[2019-02-17 00:05] neobernad commented on #1005
Hello Marcel,

Thank you for the clarification. The current state of the package uses `SummarizedExperiment` as the standard input and output for all our functionality.

Kind regards,
José Antonio

[2019-02-17 01:49] kevinwang09 opened #1014 "scMerge"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/SydneyBioX/scMerge

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2019-02-17 04:54] sunyoungshin commented on #960
Reopen on Feb 16, 2019

[2019-02-17 13:48] sunyoungshin commented on #960
@mtmorgan Martin,

Thank you for your comments on data.table and BiocFileCache. atSNP package now uses the both in a proper way.

Build reports are not generated since yesterday. Can you please let me know what I can do to fix the issue?

[2019-02-17 18:10] LTLA commented on #996
Gee, the SPB's taking a long time.

In any case, I've made all the changes I've wanted to make, so it's all yours @LiNk-NY.

[2019-02-17 18:49] FelixErnst opened #1015 "Structstrings"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/FelixErnst/Structstrings

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-17 21:05] andreaskapou commented on #1013
Hi,

I have attempted to fix the WARNINGS found by build-bot.
* Then I changed version (many time) so the built-bot to start building the package.
* Although I receive the message 'Received a valid push; starting a build', I do not get any response for whether the package was built successfully.

Could you please have a quick look, it might need to perform a manual build?

Thanks,
Andreas

[2019-02-18 00:16] mtmorgan commented on #1013
yes I think the 'single package builder' is having problems; it might not be fixed until Tuesday morning, sorry for the inconvenience.

[2019-02-18 10:18] ChloeHJ commented on #958
Regards to interoperability, the example data is in the same format as the ones in e.g. SWATH2stats, which is the output from openSWATH. However, we needed a data that explicitly shows the presence of batch effects, both continuous mass spectrometry-associated signal drifts and discrete batch effects. The data included in our package was one of the first large-scale proteomics dataset that explici

[2019-02-18 13:29] jtheorell commented on #972
Dear @nturaga,
Thank you very much for all your invaluable comments, which have led to a clear improvement of the package. Below are point-by-point replies to all raised questions. A new version of the package has also been submitted where the changes have been incorporated.

## Build report
* WARNING: R CMD check exceeded 5 min requirement (This can possibly
with further builds, fix other issues

[2019-02-19 01:31] jayendrashinde91 commented on #1001
Thank you @lwaldron for this interesting suggestion. We have tested the packages curatedTCGAData and TCGAutils to download data. Indeed the firehose approach is a little complicated, but GISTIC data from curatedTCGAData does not match in the number of samples to the GISTIC data from Broad Firehose for few cancer types. This was the motivation to stick to get_firehoseData(). Could you kindly recomm

[2019-02-19 07:41] hyacz commented on #965
Hi, Morgan

Is the review in progress? Is there anything I can do?

Haohao

[2019-02-19 12:38] lshep commented on #1009
There was an issue with the Single Package Builder - I will manually kick off a build of your package but it should behave as normal and build upon the version bumps now.

[2019-02-19 12:57] lshep commented on #1013
I apologize for the inconvenience.   I have kicked off a manual build which should post shortly.  The single package builder should now be functioning normally and will produce build reports upon version bumps.

[2019-02-19 13:12] andreaskapou commented on #1013
Thank you both for your help :) Do you have an estimate on the time it takes to be accepted to Bioconductor? Since I am publishing a methods paper and it would be great to have the Bioconductor link as well.

Best wishes,
Andreas

[2019-02-19 13:38] bv2 commented on #995
Hi @Kayla-Morrell,
the two packages (MOFAdata and MOFA) now build and pass the checks without errors.

There is one warning on the MOFAdata package as I would like to keep the R version (now R (>= 2.10), consistent with the stored R objects) as it is (instead of R (>= 3.6)) and keep users unaffected that want to use the package with a stable R version. Is this ok?

On the MOFA package there is one

[2019-02-19 14:55] lshep commented on #992
**GENERAL:**
- [ ] As @mtmorgan pointed out - The package should be updated for all inputs
and outputs to work with [standard Bioconductor objects][1], including [SummarizedExperiment][2].

[1]: https://bioconductor.org/developers/how-to/commonMethodsAndClasses/
[2]: https://bioconductor.org/packages/SummarizedExperiment

**BUILD REPORT:**
Clean! Okay!

**DESCRIPTION:**
- [ ] Need full name in Aut

[2019-02-19 15:48] aravind-j commented on #973
@mtmorgan Thank you for the comments. I have made the required changes as suggested. Here are the comment wise changes made and clarifications.

Removed vignette build products from git repository.

Updated installation instructions as suggested.

Fixed all instances of `stop(paste(...))`.

Added `stringsAsFactors = FALSE` to the `eopts` data frame.

This is to create the input to be passed on to

[2019-02-19 16:07] lshep commented on #1012
Thank you for your submission to Bioconductor. Please see initial review below:

**GENERAL:**
- [ ] It would be great if you could provide a brief explanation on how your package differs from exisiting package methods in Bioconductor. [current HiC package](http://bioconductor.org/packages/release/BiocViews.html#___HiC).

**Build Report:**
Clean up Notes.
- [ ] Global variables and suggested import

[2019-02-19 17:25] mtmorgan commented on #965
# 19 February, 2019

There are notes in the build report that seem like true positives, and that should be addressed:

- seem like straight-forward corrections
[code]

- `Undefined global functions or variables: Revo.version getMKLthreads setMKLthreads` looks like missing imports

- seems like mis-use of compiler flags

[code]

DESCRIPTION

- Please provide a Description: field that reads more lik

[2019-02-19 17:52] mtmorgan commented on #962
@hpages is on a short vacation; i'll review this.

[2019-02-19 19:59] stefangraw commented on #1009
I am left with 2 error messages, that can not exactly be address:

    * ERROR: Package Source tarball exceeds Bioconductor size
      requirement.
        Package Size: 104.0243 MB
        Size Requirement: 5.0000 MB

pwrEWAS depends on internal reference data, that is specific to tissue types. These reference data sets are critical for pwrEWAS and can not be excluded.  I could make pwrEWAS downl

[2019-02-19 20:05] fgao-github commented on #853
Hi Martin,

We have addressed both the standard R data (SummarizedExperiment)
issue. We also put the RMD file into vignettes/ folder.

Below is our GitHub repository:
https://github.com/wwylab/DeMixT

Please let us know if there are any questions.

Thanks,
Fan

Quoting Martin Morgan <notifications@github.com>:

[2019-02-19 21:51] mtmorgan commented on #853
Hi -- there is no vignettes/ directory in your github repository. Here's the directory structure of a simple package that I am actively working on

[code]
The file 'RedisParam-intro.Rmd' contains the vignette for the package; the vignette is in a directory called 'vignettes' in the top level of the package repository.

[2019-02-19 22:38] cresswellkg commented on #1012
The latest build contains fixes for all the above comments. I outline them below:

##### It would be great if you could provide a brief explanation on how your package differs from exisiting package methods in Bioconductor. [current HiC package](http://bioconductor.org/packages/release/BiocViews.html#___HiC).

Our method will be the only Topologically Associated Domain (TAD) caller on Bioconductor

[2019-02-19 22:40] mtmorgan commented on #1013
DESCRIPTION

- Remove Author: and Maintainer: when Authors@R used (these fields are generated when the package is built).

vignettes

- impressive!

- run_melissa.Rmd:63 I found the `melissa_encode_dt` object very difficult to work with, and wonder why it is not a data.frame / tibble / DataFrame with columns sample, cell, CpG_offset, methylation. This structure makes it immediately obvious how to

[2019-02-19 23:45] kjohnsen commented on #902
@lshep I've run into problems setting up my synthetic data for use with the vignette, that is, making a small reference genome with a single gene. I figure the best way to solve the problem is to create a BSgenome package for the GRCz11 zebrafish genome. I don't see in the vignette much in the way of submitting a BSgenome package to Bioconductor after creating it--is that something I need to talk

[2019-02-19 23:52] Bioconductor-PoTRA opened #1016 "(inactive) PoTRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor-PoTRA/PoTRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-19 23:52] #1016 closed

[2019-02-20 00:28] Bioconductor-PoTRA opened #1017 "(inactive) PoTRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor-PoTRA/PoTRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-20 00:28] #1017 closed

[2019-02-20 00:31] Bioconductor-PoTRA opened #1018 "(inactive) PoTRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor-PoTRA/PoTRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-20 00:31] #1018 closed

[2019-02-20 00:37] ghost opened #1019 "PoTRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor-PoTRA/PoTRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-20 16:12] LiNk-NY commented on #957
Hi Michael, @skinnider
Please provide an update.
Thank you.
-MR

[2019-02-20 16:13] LiNk-NY commented on #976
Hi Jonathan, @jonalim
Thanks for making changes.
Can you provide an update?
Best,
MR

[2019-02-20 16:15] skinnider commented on #957
Hi Marcel, @LiNk-NY -
Sorry for the inactivity. I have had a few major deadlines looming this Friday, but I will try to make the remaining changes early next week.

[2019-02-20 16:16] LiNk-NY commented on #985
Hi Steve, @steveped

Apologies for the delay. Thanks for bearing with our SPB / CRAN troubles.
I will get to your package within the next couple of days.

Best,
Marcel

[2019-02-20 16:16] LiNk-NY commented on #957
No worries. Thanks for the update.

[2019-02-20 16:25] LiNk-NY commented on #996
Hi Aaron, @LTLA
I'm a bit backed up on package reviews.
It will take a couple days before I can get to yours.
Thanks for your patience.
Best,
Marcel

[2019-02-20 16:26] LiNk-NY commented on #1005
Hi José Antonio, @neobernad
Thank you for making those changes.
I will get to your package in the next few days as there
are other packages waiting for review.
Best regards,
Marcel

[2019-02-20 16:28] LTLA commented on #996
No probs. BTW, I don't know what's up with the Windows failures; _BiocParallel_ updates should have fixed them.

[2019-02-20 17:36] lshep commented on #980
Sorry for the delay - I'm looking at the package and should have a review within the next day or two.

[2019-02-20 17:37] lshep commented on #943
Just checking in, is there any progress on this?

[2019-02-20 17:42] lshep commented on #902
Is there a reason why one of the current BSGenome's could not be used?

http://bioconductor.org/packages/release/data/annotation/html/BSgenome.Drerio.UCSC.danRer10.html

[2019-02-20 18:13] andreaskapou commented on #1013
Thanks for the quick reply. I made most of the changes you requested, see below.

DESCRIPTION

* Remove Author: and Maintainer: when Authors@R used (these fields are generated when the package is built).

**Done.**

Vignettes

* impressive!

* run_melissa.Rmd:63 I found the `melissa_encode_dt` object very difficult to work with, and wonder why it is not a data.frame / tibble / DataFrame with colum

[2019-02-20 19:46] kjohnsen commented on #902
The biggest reason is that names for the UCSC version don't match with Ensembl, which they need to for VEP. Also, we would need to figure out how to use a previous version of Ensembl/VEP (with GRCz10) on the Bioconductor pipeline for it to work right.

[2019-02-20 20:33] mtmorgan commented on #1013
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/andreaskapou.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2019-02-20 20:33] #1013 closed

[2019-02-20 20:33] mtmorgan commented on #981
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/wikum.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acc

[2019-02-20 20:33] mtmorgan commented on #973
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/aravind-j.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-02-20 20:33] #981 closed

[2019-02-20 20:33] #973 closed

[2019-02-20 20:33] mtmorgan commented on #966
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/lgeistlinger.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2019-02-20 20:33] #966 closed

[2019-02-20 20:33] mtmorgan commented on #897
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/wschen.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2019-02-20 20:33] #897 closed

[2019-02-20 21:04] gangeshberiuhn commented on #968
Hey, Could you please re-open the Issue as we have to push changes.

[2019-02-20 21:31] guokai8 commented on #999
Hi,
I just add new function in VennDetail. Now it supports to extract wide format to see the unique or shared results.
Kai

[2019-02-20 22:53] Bioconductor-PoTRA opened #1020 "(inactive) PoTRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor-PoTRA/PoTRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-20 22:53] #1020 closed

[2019-02-21 00:14] Bioconductor-PoTRA commented on #1019
I completed the version bump and loaded in the pre-build file for PoTRA. I originally had post-build files loaded into github.

[2019-02-21 00:51] steveped commented on #985
Thanks Marcel @LiNk-NY . I fear this is a surprisingly big package to look through too, so my apologies for adding another pile to your workload

[2019-02-21 11:49] lshep commented on #902
I would check in with Herve Pages @hpages  on when/if a new version of the package will be created before submitting a new one.
If he doesn't plan on making it and you would like to submit one it would follow the guidelines of ExperimentHub like packages but for AnnotationHub.

[2019-02-21 13:29] miaozhun opened #1021 "scRecover"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/miaozhun/scRecover

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2019-02-21 13:39] mtmorgan commented on #1021
scImpute, which your package Imports:, is not a CRAN or Bioconductor package. Your dependencies must be from CRAN or Bioconductor.

[2019-02-21 15:20] miaozhun commented on #1021
Thank you! Martin @mtmorgan
I have integrated scImpute in my package now. : )

[2019-02-21 15:24] mtmorgan commented on #1021
scImpute is still listed in the Imports field of your DESCRIPTION file. Also, is it really a good idea to re-implement an entire package inside this package? Wouldn't a better strategy be to make scImpute robust and available through standard (CRAN or Bioconductor) channels?

[2019-02-21 15:35] lshep commented on #948
There is no set time frame.  We like to see updates within 2-3 weeks of leaving feedback.  We like to keep packages in the queue that are immediately ready for review and if the feedback was significant and you think the changes will take significant time we can temporarily close the issue and you can request the issue be reopened when the changes are ready.

[2019-02-21 15:40] pliu55 commented on #948
Hi @lshep,

Thanks for your reply.  I will try to have an update that addresses the review within 2-3 weeks.

Best,
Peng

[2019-02-21 15:45] miaozhun commented on #1021
Sorry for the mistake, I have fixed it now.
Actually, I'm not one of the authors of "scImpute", so I think maybe I won't have the right to submit their package to Bioconductor or CRAN. Though my package invokes and cooperates with one of their function.
Anyway, I will contact the authors of scImpute and suggest them to submit their package to Bioconductor. And before scImpute become available thro

[2019-02-21 16:30] nturaga commented on #1002
Hi @jwollbrett

You have 2 weeks from today to get back to me regarding improving and getting your package to a reviewable state (i.e no BUILD , CHECK, INSTALL) errors on the build machine.

We can close the issue if it takes longer, and reopen when you are able to actively develop.

Best,

Nitesh

[2019-02-21 16:34] ChloeHJ commented on #958
Hi Qian,

I modified the scripts based on the your comments, and resolved most of them, except for test/ and the vignette problem. I will soon generate tests and get back to you :)

Best regards,
Chloe

[2019-02-21 17:07] lshep commented on #968
Hey -  It looks like you guys are actively pushing commits and there is still something going very very wrong - Would you be interesting in video chatting/sharing so we can see what you are doing and how your repository settings are set up so we can try to figure out the root of the problem?

[2019-02-21 17:17] spocks commented on #968
Hi @lshep Once I had version error in build report. But now the last report it says "Git clone Failed". @gangeshberiuhn could you look into it?

[2019-02-21 17:18] lshep commented on #968
@gangeshberiuhn   see above would you be willing to video chat with us now

[2019-02-21 17:19] lshep commented on #968
We can do a video meeting at this location now to try to help:   https://bluejeans.com/2024711962

[2019-02-21 17:41] Kayla-Morrell commented on #995
Hi @bv2,

I will begin my review of the two packages since they build with no errors. I will most likely mention in my review about the R version and check time warnings, but they are minor suggestions. Please make an effort to reduce the time if possible. I will comment back in a few days with my initial review.

Best,
Kayla

[2019-02-21 18:08] #968 closed

[2019-02-21 18:15] lshep commented on #968
Okay I think we are set on our end for you to try and create a new issue for this.  Thank you again for being so understanding

[2019-02-21 18:17] gangeshberiuhn commented on #968
Thanks. I will create a new for this.

[2019-02-21 18:28] gangeshberiuhn commented on #968
Hey, Will it be creating any conflict if we open a new issue with the same name as of a closed Issue?

[2019-02-21 18:29] lshep commented on #968
It shouldn't because I deleted it from the database of issues -  but if there is let me know

[2019-02-21 18:31] gangeshberiuhn commented on #968
Cool. Thanks.

[2019-02-21 18:35] gangeshberiuhn opened #1022 "Xeva : XEnograft Visualization & Analysis"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/bhklab/Xeva

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocondu

[2019-02-21 18:36] gangeshberiuhn commented on #968
I have created a new Issue.

[2019-02-21 18:58] jwollbrett commented on #1002
Hello Nitesh,

I am currently on holiday and will be back the 11th of march. I will solve
this build/check problem before the middle of march.
Sorry.

Julien

Le ven. 22 févr. 2019 à 05:30, Nitesh Turaga <notifications@github.com> a
écrit :

[2019-02-21 19:03] nturaga commented on #1002
Hi @jwollbrett ,

That is fine. I'll close the issue and you can reopen it once you are back.

Have a good holiday.

Nitesh

[2019-02-21 19:13] spocks commented on #968
@lshep we have created a new issue at https://github.com/Bioconductor/Contributions/issues/1022

[2019-02-21 19:16] lshep commented on #968
Yes,  thank you -  once @mtmorgan  puts it into a queue we can monitor what happens when you push changes -  If it is still problematic when you guys try to push versions, I'll take over reviewing the package as I can push a manual build when necessary so you can get accurate build reports -

[2019-02-21 19:42] nturaga commented on #994
# curatedAdipoRNA review

## General

* Consider removing the "curated" otherwise, it should match the expectations of the curated(*) set of packages. Please take a look at curatedOvarianCancer package, as follow up. (http://bioconductor.org/packages/release/data/experiment/html/curatedOvarianData.html)

## DESCRIPTION

* The Description section needs to be like a paper abstract, with more informa

[2019-02-21 20:00] mtmorgan commented on #932
Unfortunately I don't have time to work with you on this. It is very poor practice to duplicated code, but worse practice to use `assignInNamespace()`; if the current version of tcpl contains code that you cannot use, and the previous version is no longer available, then I guess the best way forward is to copy the original code into your package as you originally did. I'm sorry we were not able to

[2019-02-21 20:20] spocks commented on #1022
@lshep we have the same issue again! For 1st build we had only one warning *WARNING: Update R version dependency from 3.5 to 3.6* . I fixed this but now it says `build results were: "ABNORMAL" ` .
Also there are 2 commits.

[2019-02-21 20:21] gangeshberiuhn commented on #1022
@Ishep It seems the webhook has been triggered once but there are 2 commits.

[2019-02-21 22:45] fgao-github commented on #853
Hi Martin,

I added the vignettes files to GitHub. Below is our GitHub repository.
https://github.com/wwylab/DeMixT

Please let us know if there are any questions.

Thanks,
Fan

Quoting Martin Morgan <notifications@github.com>:

[2019-02-21 22:51] Junfang commented on #963
Great,  thank you so much for the time and effort taken to review our package!

[2019-02-22 03:00] MahShaaban commented on #994
Thanks @nturaga

I made the following changes as you suggested

* Updated **Description** field in the `DESCRIPTION` file
* Removed `tests/` and `inst/extdata`
* Renamed `gene_counts.rda` to `adipo_counts.rda`
* Added the package installation instructions to the vignette usign `BiocManager`

A few other things:

* Removing the `NAMESPACE` file caused an error on the build system!
* I am not sure w

[2019-02-22 06:08] lwaldron commented on #994
Nice contribution, @MahShaaban! I like your use of a Docker image for the preprocessing, this nifty `bib2df` package, your reproducible scripts, use of `RSE`, and review & inclusion criteria. I do agree that these curated(Ovarian,CRC,Bladder,Metagenomic,TCGA) packages share characteristics that I think have created expectations of:
* as much per-sample metadata as possible in the (`colData/pData`)

[2019-02-22 08:06] sgubianpm commented on #943
Hi @lshep,
Thanks a lot for your message.
I am working on addressing the comments. Bumped version will come early next week.

[2019-02-22 08:37] vbelcastPM commented on #932
Hi Martin,

I understand your lack of time. Thank you for your dedication in the last period. I’ll do my best to minimize code duplication and certainly avoid assignInNamespace().
I’ll come up with a new version that hopefully will pass your criteria.

Best,
Vincenzo

From: Martin Morgan [mailto:notifications@github.com]
Sent: 21 February 2019 21:01
To: Bioconductor/Contributions <Contributions@no

[2019-02-22 09:24] kevinwang09 commented on #1014
Hi, the only warning at this point is that we exceeded 5 minutes when running R CMD check… (Somehow Windows and Mac took much longer to run than Linux). We are also not sure why "BUILD BIN" was skipped on Linux. Any help would be appreciated. Thanks!

[2019-02-22 10:53] MahShaaban commented on #994
Thanks, @lwaldron for your review.

I think I can provide more metadata, documentation, and examples in the vignette to meet these expectations. I will commit these changes soon then you can tell me what you think.
I just have one point to make about this. I only included in `colData` the information about the samples/runs that I think are relevant to the potential future analyses. I didn't includ

[2019-02-22 12:16] lshep commented on #1022
I still don't know why this is occurring and I am very sorry for the inconvenience this is causing.  I'll take over review of this package and can manually kick off builds so you can get an accurate report.

[2019-02-22 15:03] jonalim commented on #976
Hi Marcel, @LiNk-NY

Thank you for checking in. I resolved the warnings about set.seed and undocumented arguments.

I also ran BFG repo-cleaner. In [https://github.com/settings/repositories](https://github.com/settings/repositories), I see the size as 38.4 MB. If that is still unworkable, I can ask GitHub support to remove past pull requests, which may retain references large blobs.

I am working

[2019-02-22 15:21] aguang commented on #753
@hpages I disabled `adapter_content` for qckitfastq Windows as well as disabled some functionality for RSeqAn for Windows as well. Let me know if this solution works for you.

[2019-02-22 15:25] Bioconductor-PoTRA opened #1023 "(inactive) PoTRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2019-02-22 15:25] #1023 closed

[2019-02-22 15:26] Bioconductor-PoTRA opened #1024 "(inactive) PoTRA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/Bioconductor-PoTRA/PoTRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-22 15:26] #1024 closed

[2019-02-22 16:07] mtmorgan commented on #1024
Do not create a new issue, but instead 'push' your changes to your existing github repository..

[2019-02-22 17:47] jdekanter opened #1025 "CHETAH"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jdekanter/CHETAH

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bio

[2019-02-22 17:50] mtmorgan commented on #1025
Please update your package so that all user-facing functions provide an interface (inputs and outputs) that interoperate with [SingleCellExepriment][1], the standard Bioconductor representation for this type of data.

[1]: https://bioconductor.org/packages/SingleCellExperiment

[2019-02-22 18:18] stefangraw commented on #1009
Dear @lshep or @hpages,
Do you have any suggestions/recommendations how to address these issues?

Thanks,
Stefan

[2019-02-22 18:26] lshep commented on #1009
@hpages  will be primarily responsible for reviewing and making comments on this package but since he is currently on a short vacation:  we do not allow software packages this large in Bioconductor.  There are two options: providing the data in a separate [experiment data package](http://bioconductor.org/developers/package-submission/#experPackage)  that accompanies the software package which woul

[2019-02-22 18:59] avastermark19 commented on #992
Could you (`or the applicable reviewer) go ahead with a formal in depth
review of doseR package?
The only error  is:
[code]
Could we ignore this point for now?

On Tue, Feb 5, 2019 at 11:57 AM bioc-issue-bot <notifications@github.com>
wrote:

[2019-02-22 19:12] stefangraw commented on #1009
@lshep , thank you for your recommendation. I will try to split the software and required data sets.
Is there anything I can do about the runnable examples?

Thanks,
Stefan

[2019-02-22 19:31] lshep commented on #992
Yes I will review the package.  I will advise on the warning in the review.  You can expect in within the next week.

[2019-02-22 19:32] lshep commented on #1009
For now you can ignore the runnable examples and it can be addressed later on in the review process.

[2019-02-22 19:44] lwaldron commented on #1001
Which GISTIC profiles are missing (or extra)? I'm surprised, and would like
to investigate...

Il lun 18 feb 2019, 8:31 PM Jayendra Shinde <notifications@github.com> ha
scritto:

[2019-02-22 19:49] avastermark19 commented on #992
Hello Bioconductor/Contributions
i fixed something and now it builds without any problems again, pleae
reviev 0.99.7, not any older
Thanks!! Ake

On Fri, Feb 22, 2019 at 1:42 PM bioc-issue-bot <notifications@github.com>
wrote:

[2019-02-22 21:32] LiNk-NY commented on #985
Hi Steve, @steveped
Thank you for your submission.
Please see the review below.

Reply in the issue if you have any questions.

Best,
Marcel

---
# ngsReports #985

## DESCRIPTION

* Point your `BugReports` to the issues page
* Provide a more complete Description field
* Avoid using any GitHub repositories (remove the `Remotes` field)

## NAMESPACE

* Stick to either snake_case or camelCase (snake

[2019-02-22 23:23] LiNk-NY commented on #996
Hi Aaron, @LTLA

Thanks for submitting to Bioconductor.
Overall, the package is in good standing and can be
accepted rather quickly.

Please see a few points below.

Best,
Marcel

---

# BiocSingular

## DESCRIPTION

* Looks good.
* Add `BugReports` and `URL` fields.

## NAMESPACE

* Looks good.

## vignettes

* Respect the 80 column width limits in the vignettes. It makes them
easier to read as a

[2019-02-23 04:33] stephaniehicks opened #1026 "bodymapRat: An experiment data package that contains a SummarizedExperiment object from the Yu et al. (2014) paper that performed the rat BodyMap across 11 organs and 4 developmental stages"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/stephaniehicks/bodymapRat

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-23 11:35] LTLA commented on #996
Thanks @LiNk-NY.

## Things that are done

Done.

Agreed, I've switched it to `FALSE` for all functions, which conveys a clearer intent. The exceptions are the `DeferredMatrix` constructors, which use `NULL` because it doesn't make sense to have a logical here.

Done, and for `DeferredMatrixSeed` as well.

Done, and also for the `DeferredMatrix`.

## Things that are not

Not sure what you're refer

[2019-02-23 15:01] Bioconductor-PoTRA commented on #1019
The BiocCheck states:
* Checking for bioc-devel mailing list subscription...
    * ERROR: Maintainer must subscribe to the bioc-devel mailing list.
      Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel
* Checking for support site registration...
    * ERROR: Maintainer must register at the support site; visit
      https://support.bioconductor.org/accounts/signup/ .

**However, I

[2019-02-23 15:58] Bioconductor-PoTRA commented on #1019
The BiocCheck states:

* Checking for bioc-devel mailing list subscription...

  * ERROR: Maintainer must subscribe to the bioc-devel mailing list.
    Subscribe here: https://stat.ethz.ch/mailman/listinfo/bioc-devel
* Checking for support site registration...

  * ERROR: Maintainer must register at the support site; visit
    https://support.bioconductor.org/accounts/signup/ .

**However, I am a

[2019-02-23 16:01] Liubuntu commented on #958
Hi @ChloeHJ ,

Thanks for those updates and sorry for delaying the review of your short vignette. I'll review them altogether next week.

Best,
Qian

[2019-02-23 18:33] nturaga commented on #994
Hi @MahShaaban

Once you have made the changes provided by @lwaldron and me, please leave a detailed reply point by point about each change.

This will help us go through your package quicker for a second review.

[2019-02-24 01:34] MahShaaban commented on #994
Hi @nturaga
I described the changes I made in reply to your comments and @lwaldron s' in my previous comment.

[2019-02-24 05:29] lwaldron commented on #994
@MahShaaban thanks for the improvements, the vignette is much better. The added rationale and DESeq2 example are especially helpful. I still had difficulty telling what your response is to some of the points however (see further below), and noticed a few follow-up or new points:

* you should Depend on `SummarizedExperiment`, not Suggest, since anything you do with the package requires `Summarized

[2019-02-24 22:57] stefangraw commented on #1009
The rData files are not experimental data, they contain parameters that are used to simulate data. I have removed these files and (for now) they are downloaded when needed. However, I am still getting the following error message:

    * ERROR: At least 80% of man pages documenting exported objects
      must have runnable examples. The following pages do not:
      pwrEWAS_shiny.Rd

pwrEWAS_shiny.

[2019-02-25 03:05] miaozhun commented on #1021
Hi, Qian @Liubuntu ,
Long time no see. How are you?
I have bumped the version number of my package while it not start building automatically. Would you please help me with it or tell me what shall I do? Thank you very much!

Best,
Zhun

[2019-02-25 03:59] MahShaaban commented on #994
Thanks @lwaldron

Regarding the follow-up points:
* I moved `SummarizedExperiments` to **Depends** field of the `DESCRIPTION` file. This resulted in two new Notes on `devtools::check()`. These might be because of my local setup, so will see if they persist on the build system

[code]
* I added `LazyData: TRUE` to the `DESCRIPTION` file.
* I updated the vignette to load `S4Vectors` library and use

[2019-02-25 05:26] Liubuntu commented on #1021
Hi @miaozhun ,

How are you! Glad to see that you are still working on developing Bioconductor packages.

Seems that the building machine didn't catch your version bump. Quick test you can do is to bump version again and see if it triggers new build. If not, I'll ask my colleague about the building machine status. Thanks!

Best,
Qian

[2019-02-25 05:27] Liubuntu commented on #997
Hi @bads752

Sorry for the delay in the review process. I'll start reviewing and get back to you very soon!

Best,
Qian

[2019-02-25 09:40] miaozhun commented on #1021
Dear Qian @Liubuntu ,

Thank you! I bumped the version number again while the building machine still not start building. I guess maybe it is because I wrongly set the version number to 0.1.5 at the beginning, and when I corrected it later to 0.99.0, 0.99.1 and 0.99.2 now, it still not working somehow. Maybe we should ask your colleague who is in charge of the building machine to help to start it m

[2019-02-25 12:06] jdekanter commented on #1025
Thank you for your quick response.
I will work on the incorporation with SingleCellExperiment
and I will find out why the built failed, as I have tested it extensively myself.

[2019-02-25 15:10] mikelove opened #1027 "fishpond"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/mikelove/fishpond

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2019-02-25 16:13] spocks commented on #1022
Hi @lshep : thank you for helping us out with package building. Please let us know if any more changes required before acceptance. The associated manuscript of the package in under revision and it requires bioconductor acceptance of the package. We will be very grateful if package can be accepted on bioconductor in coming weeks. Thanks again for your help!

[2019-02-25 16:40] sunyoungshin commented on #960
@mtmorgan Hello Martin,

I addressed all issues you pointed out but one warning: "WARNING: check time exceeded 5 min". On my Macbook pro, the check time is just 3m 18.4s and it took 23.5s for checking whether package ‘atSNP’ can be installed. I am not sure about the discrepancy in check time between the local run and the server run. Should I make further changes in my R codes?

On top of that, the

[2019-02-25 18:08] LiNk-NY commented on #996
Hi Aaron, @LTLA
Thanks for making those changes.
For the first item not done, leave it as is. It is easier to read.

For the second item, it suppose it depends on the tools that you're
using to edit text in the vignette and if you're using panes.
Viewing it in vim, the text runs off the screen and it's harder to not only
read but to access parts of a long sentence quickly.
If it works for you, kee

[2019-02-25 18:17] Liubuntu commented on #1021
Hi @miaozhun ,

Did you successfully set up the webhook?

**IMPORTANT**: Please read [the instructions][1] for setting
up a push hook on your repository, or further changes to your
repository will NOT trigger a new build.

[1]: https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook

[2019-02-25 18:27] miaozhun commented on #1021
Oh! My fault, I've missed that instruction, Sorry about that!
Thanks a lot! @Liubuntu

Best,
Zhun

[2019-02-25 18:34] LTLA commented on #996
Okay, thanks @LiNk-NY.

[2019-02-25 19:19] stefangraw commented on #1009
The rData files are not experimental data, they contain parameters that are used to simulate data. I have removed these files and (for now) they are downloaded when needed. However, I am still getting the following error message:

[code]
pwrEWAS_shiny.Rd opens up an R-Shiny user interface, that requires the user to interact with it. Including an example would run into timeouts.

[2019-02-25 19:52] mtmorgan commented on #960
Although atSNP does not use Rsamtools directly, it depends on imports packages that use it; I'm not sure why the build system sometimes has difficulty finding the .so file. All servers build multiple packages, and windows builds / checks under two architectures, so there are explanations for differences in build times. I will accept the package in its current condition but encourage you to develop

[2019-02-25 20:30] stephaniehicks commented on #1026
AdditionalPackage: https://github.com/stephaniehicks/qsmooth

[2019-02-25 21:36] LiNk-NY commented on #1005
Hi José Antonio, @neobernad

Thank you for your submission.
Please see the package review below.
If you have any questions, please post them here.

Best regards,
Marcel

---

# evaluomeR #1005

* Overall, the package looks like a script turned into software.
* There are errant variables set inside functions repeatedly and there
is little attention to formatting.

## DESCRIPTION

* Consider combini

[2019-02-26 03:23] fgao-github commented on #853
Hi Martin,

Have you made any progress about our DeMixT package? (https://github.com/wwylab/DeMixT)

Please let us know if there is anything else that we should do.

Thanks,
Fan

[2019-02-26 15:17] LiNk-NY commented on #1019
Hi Chaoxing Li, Li Liu, and/or Valentin Dinu, @Bioconductor-PoTRA

We would prefer that you do not use the `Bioconductor` name in your
GitHub user name. It makes our users think that you are affiliated with
the Bioconductor core team.

With regards to the error, are you sure you registered those accounts with
the same email? Please verify your registration. I've checked manually
and your email add

[2019-02-26 16:02] Bioconductor-PoTRA commented on #1019
Hi Marcel,

I’m not listed in the description text.
I am part of the post-development team.
And am working with Dr. Dinu to submit the PoTRA package to Bioconductor.

I can change the github. I added it because the PoTRA github name was already taken.

Thank you,
Margaret

Sent from my iPhone

[2019-02-26 16:14] LiNk-NY commented on #1019
Hi Margaret, @Bioconductor-PoTRA

The maintainer of the package has to be registered on Bioc-devel and
the support site. Please have the owner of the `***** at asu.edu` email
address register for those websites.

Best,
Marcel

[2019-02-26 17:56] lshep commented on #980
I still would also add the Bioconductor installation instructions to the README.md
[code]
But otherwise looks good.

[2019-02-27 00:20] lwaldron commented on #994
Getting there!

Did you look at curatedOvarianData vignette and man pages as an example? They provide sample sizes and summary statistics for each curated dataset. The last time I looked, there was no documentation at all of the datasets curated by your package, only citations within the metadata.

Can I ask you more about these responses?

Doesn't the solution I suggested (using a `SimpleList` to

[2019-02-27 01:33] MahShaaban commented on #994
Thanks, @lwaldron, and apologies if this is taking longer than it should.

Now I see what you mean by documenting the datasets. If I understand correctly you mean something like table 1 in the vignette of `curatedOvarianData` which I can add to my vignette. The other thing I noticed it that `curatedOvarianData` has each dataset/series as a separate entry in `data/` and a corresponding `man/` page.

[2019-02-27 01:45] steveped commented on #985
Hi Marcel,

Thanks for all of those comments and there's lots for us to work on there and we'll get onto it. There were a few things we were unclear on though. If possible, could you try to help us understand these comments?

I'm a `S4` noob obviously. This was written to enable construction of a `FastqcFile` object. Are you meaning that we should do this using a stand-alone function rather than a

[2019-02-27 09:55] FelixErnst commented on #962
Hi @mtmorgan, any news on the review? If this needs a bit of discussion before a first review, I am up for it.

[2019-02-27 11:48] LTLA commented on #996
I don't think the Windows error is my fault, so is everything otherwise fine? There's a bunch of updates to other packages that are pending on the availability of _BiocSingular_, so I'd like to get this in.

[2019-02-27 14:04] lshep commented on #1012
This is very close to being accepted

**General**
- [ ] Please investigate the recent timeout on the windows platform

**NAMESPACE/DESCRIPTION**
- [ ] With the addition of GRanges and RGRangesList please include GenomicRanges
in the Suggests of the DESCRIPTION and import in NAMESPACE.

When the package (or functions) are imported in the NAMESPACE this should also
fix why GRanges cannot be found wh

[2019-02-27 15:08] Liubuntu commented on #1021
Looks good. You can expect an initial review within 2 weeks, but could be earlier.

[2019-02-27 15:45] lshep commented on #1022
Again I apologzie for this inconvenience and we apologize for being at a loss
for what is going on with the webhooks and build reports.

Since there is still the issue with multiple builds occurring on a valid version
bump I would actually advise removing the webhook and requesting a manually
build to avoid the noise.  Just tag me and I'll try to kick one off quickly - If
you don't mind the noise

[2019-02-27 15:47] mtmorgan commented on #980
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/hubentu.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2019-02-27 15:47] #980 closed

[2019-02-27 15:47] mtmorgan commented on #963
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Junfang.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github a

[2019-02-27 15:47] #963 closed

[2019-02-27 15:47] mtmorgan commented on #960
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/sunyoungshin.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your git

[2019-02-27 15:47] #960 closed

[2019-02-27 19:46] LiNk-NY commented on #985
Yes, it should be a standalone constructor function that performs the necessary input checks
 and calls `new` towards the end.

Yes, with S4 classes, you can create a `setAs` method to coerce from one class to another instead
of using `getFastqcData`. This is a more standard way of coercing classes that are your _own_.

That is correct, you don't want to step on other classes' toes. They should ha

[2019-02-27 19:48] LiNk-NY commented on #996
Hi Aaron, @LTLA

Thanks for your submission your package has been accepted.
We will add it to the repository as soon as possible.

Best regards,
Marcel

[2019-02-27 19:54] LiNk-NY commented on #976
Hi Jonathan, @jonalim
It sounds like you're making good progress.
Thanks for providing the update.

The repo size is looking good as well. Just remember to tell your colleagues to _re-clone_ the repository rather than update their existing repositories so that the repository size does not grow again.

Best regards,
Marcel

[2019-02-27 22:19] neobernad commented on #1005
Hello Marcel, @LiNk-NY

We developed every change listed in the review, except for the following bullets (explaining their reason):
* If possible, avoid using 'orphaned' packages because they are not maintained
  and may include poorly written code (`fpc`)

* No need to create `getAssay`, this is done by the `assay` function for `SummarizedExperiment` object

* There isn't much difference in terms

[2019-02-27 23:33] kjohnsen commented on #902
I thought of an easier way: instead of relying on the standard zebrafish VEP cache, I can just run VEP using the small fasta file and a GTF file for just this gene. It seems like all I'll have to do is configure the `VEPFlags` object. Let me know if this wouldn't work--I'll try it out.

[2019-02-28 05:01] dvantwisk commented on #987
Hi @csoneson
I apologize for the wait. I've looked over your package and it looks expertly written! I really don't have anything significant to add to what you've already done. I will accept the package now.

[2019-02-28 05:17] dvantwisk commented on #998
I apologize for the silence on my end. At this point, I think your current check times are acceptable and we go forgo the final warning. I will have a review of your package soon.

[2019-02-28 06:00] csoneson commented on #987
Thank you @dvantwisk !

[2019-02-28 07:37] miaozhun commented on #1021
Thanks a lot!

[2019-02-28 12:56] lshep commented on #902
I'm not that familiar with using VEP but that sounds reasonable if you can get it to work.

[2019-02-28 16:04] mtmorgan commented on #996
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/LTLA.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github acco

[2019-02-28 16:04] mtmorgan commented on #987
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/csoneson.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-02-28 16:04] #996 closed

[2019-02-28 16:04] #987 closed

[2019-02-28 16:49] Liubuntu commented on #997
Hi @bads752 ,

Here is the comments for the first review of your package. Please try to address all / most of these issues, and comment back with any questions, or explanation for why some were not addressed.

The comments for vignette will be added shortly.

Best,
Qian

## DESCRIPTION
- add "BugReports:” field: It is encouraged to include the relevant links
  to Github for reporting Issues.
- add

[2019-02-28 16:58] anfederico commented on #986
Any update on the status of the review?

[2019-02-28 19:31] Liubuntu commented on #986
Hi @anfederico ,

For some reason, this package has not been showing on my github package issue list. Sorry for the delay. I'll work on it right now and get back to you shortly.

Best,
Qian

[2019-02-28 19:33] anfederico commented on #986
No worries, just wanted to make sure it didn't get buried!

[2019-02-28 20:40] mtmorgan commented on #962
# 28 February, 2019

Sorry for the very slow review.

Generally the description, vignette, and man pages are excellent.

I am generally concerned with the use of unexported (accessible via `:::`) functions, C (via `.Call()`) calls, and direct slot access (`@`), with some questions and strategies outlined below.

Additional comments are made on individual lines of code, but often apply throughout

[2019-02-28 21:20] Liubuntu commented on #997
## vignette
- for some reason, the vignette html file I generated does not have
  the header section. I didn't get any error from building, could you
  check if there is any problem or let me know if you can get the
  header? Thanks!
- please add a section for "Installation" to show to users how to
  install the package as if it has been included in
  Bioconductor. Because new packages is going to

[2019-02-28 23:46] PoTRA-Package opened #1028 "(inactive) PoTRA-Package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PoTRA-Package/Development

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read

[2019-02-28 23:46] #1028 closed

[2019-02-28 23:47] PoTRA-Package opened #1029 "PoTRA-Package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/PoTRA-Package/PoTRA

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2019-03-01 00:07] PoTRA-Package commented on #1029
Hi - I am working with Dr. Valentin Dinu on the PoTRA submission.
He is the maintainer, and he is aware that I am making this submission on his behalf.
Please feel free to email him and CC my email for confirmation.

[2019-03-01 09:13] TanerArslan opened #1030 "SubCellBarCode"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/TanerArslan/SubCellBarCode

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2019-03-01 10:23] LTLA commented on #996
Thanks @LiNk-NY, @mtmorgan for handling the submission. Also a shout-out to @bwlewis and @erichson for incorporating changes to their packages to make this entire thing work.

[2019-03-01 10:57] FelixErnst commented on #962
Thanks for the review.

The use of unexported functions, the C calls and direct slot access are all a results of the patterns outlined by the Biostrings package. Currently I don't see a clear way around them, without changes to a number of core BioC packages. Since the Modstrings package is designed to be an extension of the Biostrings package and I intend to follow the development of the Biostrin

[2019-03-01 12:10] mtmorgan commented on #962
Without having yet gone through the details of your response, the use of non exported symbols, .Call, and `@` violates the separation of interface and implementation that is central to maintainable, scalable software. That you are a conscientious maintainer now has little relevance in the long lifespan of your package. Conversely, the maintainers of the core packages are also conscientious and spe

[2019-03-01 14:34] FelixErnst commented on #962
Thanks for the clarification. I understand that the additional encapsulation would bundle all the the .Call statements. I put them into a separate file to make the origin of these functions clear.

Regarding the number of .Call statements:
- `new_CHARACTER_from_XString` was used two times, but there is a similar function called `new_CHARACTER_from_XStringSet`. The Biostrings package uses both of t

[2019-03-01 14:43] lwaldron commented on #994
Thanks @MahShaaban, your table "Summary of the studies in the dataset" fits the need. I only see one more required item, then your package will fit in nicely with the *curated** family:
* update `?adipo_counts` to reflect what is now contained in `@metadata` and `@colData`

And some optional items:
* If you are planning on adding new datasets over time I would suggest generating the numbers in thi

[2019-03-01 17:53] avastermark19 commented on #992
Hi Lori Shepherd / current reviewer
I was hoping to get some feedback by the end of this week. But if you need
more time, that's fine too. Let me know if there are any questions.
Aake
KCMO

On Fri, Feb 22, 2019 at 1:48 PM Vaestermark, AJ <ake.vastermark@gmail.com>
wrote:

[2019-03-01 18:58] lshep commented on #992
I'm sorry for the delay - We try to get to reviews within 2 weeks of a clean build/request for a review and I did mention I should have something by the end of this week - I got tied up with some other pressing issues but I will work on the review over the weekend and have something posted at latest Monday.

[2019-03-01 19:00] avastermark19 commented on #992
That's fantastic news.
Take the time you need.
Ake

On Fri, Mar 1, 2019 at 12:58 PM lshep <notifications@github.com> wrote:

[2019-03-01 20:22] hubentu opened #1031 "RcwlPipelines"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/hubentu/RcwlPipelines

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2019-03-01 20:27] hubentu commented on #1031
Hi, this is a data package for [Rcwl][1]. Thanks!

[1]: https://github.com/Bioconductor/Contributions/issues/980

[2019-03-01 20:32] Liubuntu commented on #986
Hi @anfederico ,

Sorry again for the delay. Here are some issues in your package. Please seek to address all / most of them and comment back with any questions or argument why you cannot implement modifications on specific issues. Thanks for your contribution to Bioconductor.

Cheers,
Qian

## DESCRIPTION
- looks good.

## NAMESPACE
- Exported functions should use camel case or underscoring and n

[2019-03-01 21:58] Liubuntu commented on #958
HI @ChloeHJ ,

Please see the following comments:

## vignette
- Remove `proBatch_vignette_brief.R` and only keep the `.Rmd` files and `.png` files. Seems like it is generating one warning from your build report.
- Rename your vignette as `proBatch.Rmd` and `proBatch_brief.Rmd` so
  it's more spontaneous and easier for users to browse your vignette
  using `vignette("proBatch")`.
- `proBatch_vigne

[2019-03-01 22:07] Liubuntu commented on #958
The short vignette settings looks fine. Two suggestions:

1. use smaller data (under `data/*.rda`) in examples / tests / vignette.
2. Do not print twice the figures in the vignettes (seems you are summarizing all figures in the beginning and then separately in lower sections).

The only error comes from the tarball size. Please try to do the above and let's see if this could be fixed.

Best,
Qian

[2019-03-02 03:57] anfederico commented on #986
Hi Qian,

Thanks for the review. I followed your recommendation on all issues except a coupe:

1. Functions download_msigdb() and download_gsets() are utilizing the R package msigdbr to download genesets. There are many options for species, categories, and subcategories, therefore in the documentation I tell users to refer to their documentation to view available options. I hope this is sufficient

[2019-03-02 06:19] MahShaaban commented on #994
Thanks @lwaldron . In this last push, I made the following changes based on your suggestions:
* Updated the the `colData` and `metadata` parts of `?adipo_counts`
* I add a chunk of code to generate the "Summary of the studies in the dataset" table in the vignette.
* I updated the `?curatedAdipoData` to refer to the documentation of the datasets.

[2019-03-02 07:13] ChloeHJ commented on #958
Hi Qian,

Thank you for your comments, I will go through them and get back to you soon,

Best regards,
Chloe

[2019-03-02 13:28] lwaldron commented on #994
Thanks for your hard work and nice contribution, Mahmoud. It looks ready to
me.

[2019-03-03 20:20] nturaga commented on #994
Thanks @lwaldron for the guiding @MahShaaban through the package submission/development for a "curated" family of packages. This will be useful for future reviews of other curated* data packages.

Great work @MahShaaban. Your package is accepted to Bioconductor.

Best,

Nitesh

[2019-03-03 21:30] nturaga commented on #972
# Update

## Vignette

* vignette doesn't render BiocStyle CSS. Please make sure you are
  using it the right way.

* The vignette should use smaller datasets. It's ok to have plots in
  the vignette, that is not a problem. Embed the graphs in your HTML
  vignette. This is done by a lot of packages, and should not be an
  issue. Do not use massive datasets, since it is software package,
  your tot

[2019-03-03 22:36] nturaga commented on #1030
Hi @TanerArslan ,

I will review your package only once the build report (http://bioconductor.org/spb_reports/SubCellBarCode_buildreport_20190303094835.html) is clean i.e , no ERROR or WARNING messages and as few as possible NOTE messages.

Please let me know once you have solved these problems as noted in the build report, saying you are ready for a review.

Best,

Nitesh

[2019-03-04 09:42] TanerArslan commented on #1030
Hi @nturaga ,

Thank you for reviewing my package. Currently, i am working on issues and i will let you know when the package is ready for review.

Best.

/Taner

[2019-03-04 13:18] lshep commented on #992
Thank you for updating to use a SummarizedExperiment object.   A few minor points below:

misc:
- [ ] There are two .R files in the top level directory - these should be moved
or removed?

Namespace:
- [ ] You shouldn't need to export SummarizedExperiment or colData unless you
created your own unique functions for these.  If the package is specified as an
import which it is, the functions will be

[2019-03-04 16:22] Liubuntu commented on #986
Hi @anfederico ,

Thanks for the quick fixes. Here are some additional comments:

## R/

It's better to use `output_dir = tempfile()` or `tempdir()` instead of
`system.file("extdata", package = "hypeR")` as default value. Think
about the case that users run your package on cluster where they don't
have write permission to the package installation path. It's good
that you are printing out the `outp

[2019-03-04 16:52] skinnider commented on #957
Hi Marcel - thanks again for your review and for your patience as I’ve addressed these last few points.

I have replaced the indexing operations in the package that assume protein identifiers are in the first two columns with either an integer or character vector of column positions or names, and provided an argument for the user to optionally change these. I have also modified `clean_profiles` to

[2019-03-04 17:47] avastermark19 commented on #992
Hi Lori
1. I removed the 2 .R files.
2. On my computer, removing the export('SummarizedExperiment','colData')
from NAMESPACE file causes problem in the vignette.
3. I replaced SE by SummarizedExperiment.
4. I'm keeping the 80x50 char formatting to avoid bioccheck error, (it's
not the original formatting.)
Hope this (0.99.14) is ready for preliminary acceptance now.!
Thanks!
Aake

On Mon, Mar 4, 20

[2019-03-04 17:48] avastermark19 commented on #992
Hi Lori
1. I removed the 2 .R files.
2. On my computer, removing the export('SummarizedExperiment','colData')
from NAMESPACE file causes problem in the vignette.
3. I replaced SE by SummarizedExperiment.
4. I'm keeping the 80x50 char formatting to avoid bioccheck error, (it's
not the original formatting.)
Hope this (0.99.14) is ready for preliminary acceptance now.!
Thanks!
Aake

On Mon, Mar 4, 20

[2019-03-04 19:43] adamthrash opened #1032 "PAST"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/IGBB/PAST

Confirm the following by editing each check box to '[x]'

- [X] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [X] I have read the _Bioconduct

[2019-03-04 21:12] TanerArslan commented on #1030
Hi @nturaga ,
The package was built without errors or warnings. It is ready for the revision.

Looking forward to hear you soon.

Best,
/Taner

[2019-03-04 22:06] mtmorgan commented on #1032
Please provide a more meaningful vignette, e.g., describing steps necessary and format of each data input, illustrating key assumptions and unique aspects of analysis implemented in the package, and providing technical and biological interpretation of results.

[2019-03-05 13:23] lshep commented on #943
We are closing this issue for now for inactivity.  when you are ready for a re-review - please request the issue be reopened _before_ the version bump for a new build report.

[2019-03-05 13:23] #943 closed

[2019-03-05 13:28] lshep commented on #992
Since the `SummarizedExperiment`  comes from the `SummarizedExperiment` package,  it would be better to remove `export SummarizedExperiment colData` from the NAMESPACE as these are not your functions. To fix the vignette include `library(SummarizedExperiment)` when you do `library(doseR)`.   Please make this change and then I will accept.

[2019-03-05 14:03] MalteThodberg opened #1033 "nanotubes"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/MalteThodberg/nanotubes

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I have read

[2019-03-05 15:00] dvantwisk commented on #1007
Hey @Jiefei-Wang

I just want to confirm that you are still working on getting your package to run without errors. I can imagine that getting OpenCL code to work across multiple systems is difficult.

[2019-03-05 15:07] Jiefei-Wang commented on #1007
Yes, I'm going to make a version bump and see if I can remove the building errors in the mac builder. Also, this version bump will include several important updates of my package. For the other platform, since they don't have appropriate drivers, there is no way to fix the error message.

[2019-03-05 15:12] lshep commented on #1000
**General**

- [ ] We encourage the use of  BiocParallel over parallel for parallelization
  implementation. Please explain why this was not used if not updating
- [ ] Standard Biconductor objects and classes for data should be utilized
  whereever possible instead of creating new.  Please explain why no existing
  structure could be used or extended.
- [ ] Can this be integrated with other Biocon

[2019-03-05 15:38] lshep commented on #1027
Can you fix the few NOTES on coding style from the report.  Else this looks in great shape.

[2019-03-05 16:19] dvantwisk commented on #998
Hello,
I've completed and initial review of your package. The package as a whole looks very well written but there are two large issues that I need to see addressed before moving forward with a more thorough review. Please message me back with any questions or comments you may have.

R/
- [REQUIRED] It appears that you are using the s3 class system to initiate
methods and create classes. The Bioco

[2019-03-05 16:51] mikelove commented on #1027
Thanks @lshep !

I've addressed most of the NOTES on coding style. These are the 3 remaining with some explanation:

[code]

These uses of `1:` should be fine, they have a hard coded endpoint (e.g. `1:6`) so don't suffer from the `1:0` problem.

[code]

This is a URL in the vignette Rmd.

[code]

I use emacs and prefer 2 spaces for line indents. Hopefully this is ok :-)

[2019-03-05 16:59] MalteThodberg commented on #1033
This is a data package for a workflow - let me know when in should activate the workflow package itself.

[2019-03-05 17:07] avastermark19 commented on #992
done...
0.99.15
Aake

On Tue, Mar 5, 2019 at 11:06 AM bioc-issue-bot <notifications@github.com>
wrote:

[2019-03-05 17:26] mtmorgan commented on #1027
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/mikelove.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-03-05 17:26] mtmorgan commented on #1012
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/cresswellkg.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gith

[2019-03-05 17:26] #1027 closed

[2019-03-05 17:26] mtmorgan commented on #994
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/MahShaaban.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2019-03-05 17:26] #1012 closed

[2019-03-05 17:26] #994 closed

[2019-03-05 17:26] mtmorgan commented on #992
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/avastermark19.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your gi

[2019-03-05 17:26] #992 closed

[2019-03-05 18:18] Kayla-Morrell commented on #995
Hi @bv2,

Thank you for submitting to Bioconductor. Please see the initial review of your package(s) below:

# MOFAdata #

## DESCRIPTION ##

- [ ] REQUIRED: Use either `Authors@R` or `Author/Maintainer`, not both like currently.

## inst/extdata ##

- [ ] REQUIRED: There needs to be documentation for the data in inst/extdata. Where did this data come from, how was it generated, how can it be repl

[2019-03-05 19:49] mtmorgan commented on #962
Since the direct call to `"new_CHARACTER_from_XString"` can be replaced by a simple `as.character()`, shouldn't your code just use `as.character()` instead?

[2019-03-05 20:40] mtmorgan commented on #1029
Your package must include plain text files containing your R code in the R/ directory; it is not appropriate to include function definitions etc. in data/PoTRA.RData.

Additional initial comments:

DESCRIPTION

- please expand the DESCRIPTION to read more like a paper abstract, indicating the novelty, applicability, and merits fo your particular paproach.

- Please choose biocViews terms that are

[2019-03-05 20:40] LiNk-NY commented on #1019
Hi Margaret,
Can you give an update on the status of the warnings/errors?

Thanks,
Marcel

[2019-03-05 20:43] LiNk-NY commented on #1019
DUPLICATE of #1029
https://github.com/Bioconductor/Contributions/issues/1029

[2019-03-05 20:43] #1019 closed

[2019-03-05 22:32] FelixErnst commented on #962
I think you are referring to the replace `seqtype` function, correct? `"new_CHARACTER_from_XString"` can not be removed from there. The replace `seqtype` function is used in the `Biostrings` package to handle type conversions and every `XString` has to have one. In case of a `ModString` there are two options.

1. `seqtype` gets called with matching arguments, lets say `"ModRNA"` as `value` and a `

[2019-03-05 23:37] LTLA opened #1034 "batchelor"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/LTLA/batchelor

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2019-03-06 01:11] Shians commented on #998
Hi Daniel,
Thanks for reviewing my package.

My use of S3 classes is for interoperability with tidyverse features, in particular almost all my data objects are inheriting from tibbles for dplyr compatibility. I don't want to take them S4 because they would become S3 upon first contact with tidyverse anyway.

The `eval=FALSE` code in my vignettes are all cases of code that affect the filesystem (cr

[2019-03-06 03:30] pliu55 commented on #948
Hi @nturaga,

I have removed the `GTF` class and replaced `mclapply` by `bplapply`.  Could you please take a look of my package to see if there is anything I should improve? Thanks.

The __WARNINGS__ I received from the build results on Linux, Mac, and Windows are all due to
[code]

I think this __WARNINGS__ is because of connection issue from the build servers, not from my package.  Please let me

[2019-03-06 06:39] nachoryu opened #1035 "TNBC.CMS"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nachoryu/TNBC.CMS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bi

[2019-03-06 09:44] mtmorgan commented on #1035
Your functions should support [SummarizedfExperiment][1] as input data type in addition to plain matrix representations, for more robust management of assay and phenotype data, and for better interoperability with other Bioconductor packages; the vignette should be updated to use SummarizedExperiment.

[1]: https://bioconductor.org/packages/SummarizedExperiment

[2019-03-06 10:32] FelixErnst commented on #962
I retraced my notes and the structure a bit deeper for the other ~~five~~ two functions, which hinder the use of the high level calls in the Biostrings package.

- `normargSubject`: This is not needed, anymore. It was during development, but I simplified somethings and it is not longer needed. I made a mistake here.
- `normargPattern`: With this function the problem here is, that the internal cons

[2019-03-06 11:10] FelixErnst commented on #962
The warnings and timeout are related to connection issues on the Linux system. Windows and OSX are find.

[2019-03-06 14:52] nachoryu commented on #1035
Hello @mtmorgan and @hpages,
I have a question about the following time out errors from BiocCheck.

This is BiocCheck version 1.19.26. BiocCheck is a work in progress.
Output and severity of issues may change. Installing package...
* Checking Package Dependencies...
* Checking if other packages can import this one...
* Checking to see if we understand object initialization...
* Checking for deprec

[2019-03-06 14:55] Liubuntu commented on #986
Hi @anfederico ,

Your changes look good. I am accepting the package now.

Cheers,
Qian

[2019-03-06 15:08] mtmorgan commented on #1035
Internet connections are very fragile, and it looks like this connection simply failed. If you are downloading large files, consider instead making them available as an 'experiment data' package or [ExperimentHub][1] resource (see the vignette 'Creating an ExperimentHub package'), or using [BiocFileCache][2] to reduce the exposure to the internet

[1]: https://bioconductor.org/packages/devel/Exper

[2019-03-06 15:33] FelixErnst commented on #962
On the Modstrings repo there is now an additional branch to match the suggested changes in the Biostrings package.

https://github.com/FelixErnst/Modstrings/tree/Biostrings-2.51.3

If the changes are incorporated into Biostrings and have propagate to the SPB, I can merge the changes to master.

[2019-03-06 15:36] anfederico commented on #986
Great, thank you for all the feedback and help!

[2019-03-06 16:08] dvantwisk commented on #998
S4 classes are largely interoperable with S3 functionality and can extend s3 classes. For example, we want to create a class `A` that inherits the functionality of `tibble`'s `tibble`. We can do that like:
[code]

If we want to write a method for `A` to dispatch on the `dplyr` method `filter()`, you can still write:
[code]
The remaining s3 classes and methods that you create can be rewritten as s4

[2019-03-06 16:35] dvantwisk commented on #998
Another little note with regards to s3 dispatch. When a object is created with `as_tibble()` it has classes `"tbl_df"     "tbl"        "data.frame"`, so it may make more sense to use `tbl_df` or `tbl` when creating a class.

[2019-03-06 17:43] gabrielodom commented on #1000
@lshep, thank you. We are working to address these points.

[2019-03-06 20:05] ptrebulle commented on #975
Dear @Kayla-Morrell ,
Thanks for your comments. You will find bellow the changes carried out on the package.

Some precisions on our corrections: CoRegNet and sybil functions are used a lot in the code and will ease the user experience as they probably will use those functions themselves to interrogate their network and genome-scale metabolic model, thus, we think a general import is more relevant

[2019-03-06 20:47] PoTRA-Package commented on #1029
Hi - I need help understanding the error and warnings, they seem to be on the Bioconductor side.
Perhaps these are bugs?

[2019-03-07 00:21] mtmorgan commented on #1029
ours, ignore
[code]
yours
[code]
please address, where appropriate:
[code]

For this:
[code]
very long lines with highly nested commands and no spaces are very difficult to read.

[2019-03-07 03:59] nachoryu commented on #1035
Hello, @mtmorgan and @hpages,
sorry to bother you with this question.
I received the following warning from the R CMD check:

* checking for future file timestamps ...Warning in file(con, "r") :
  cannot open URL 'http://worldclockapi.com/api/json/utc/now': HTTP status was '403 Forbidden'
 WARNING

I thought it might be due to the time zone difference (as I live in Korea) and changed the time stam

[2019-03-07 08:03] mtmorgan commented on #1035
R uses the URL as part of its internal checks, the URL is not available. There is nothing that you can do so please ignore this.

[2019-03-07 09:46] trvinh opened #1036 "(inactive) phyloprofile"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/BIONF/PhyloProfile

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2019-03-07 09:46] #1036 closed

[2019-03-07 09:56] nachoryu commented on #1035
The package was built without errors and warnings except those from future file timestamps and the check time warning in one platform (5 minutes and 21.91 seconds). If I can ignore those warnings from timestamps, is the package ready for the review? or are there any problems I should address prior to the review?

Thanks,

Doyeong

[2019-03-07 15:53] Kayla-Morrell commented on #1004
Hello @UCDNJJ,

I am working through your initial review at the moment. I am trying to review your vignette but I am unable to access the data needed to work through the examples. The link in the vignette does not work. Can you edit the file and/or provide the link here so I can continue to work through the vignette.

Thank you,
Kayla

[2019-03-07 16:24] spocks commented on #1022
Hi @lshep, thanks for your detailed comments. We have address all the comments and have made substantial changes in the code. The only thing that we can’t change at this moment is switch to SummarizedExperiments. As I have explained later also this is due to dependency on PharmacoGx package. We are working on the new release of PharmacoGx package where we plan to switch to SummarizedExperiments fo

[2019-03-07 16:45] lshep commented on #1022
I just manually kicked off a build so you should get an accurate build report shortly

[2019-03-07 17:17] kostkalab opened #1037 "Package submission: scds"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/kostkalab/scds

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Bio

[2019-03-07 17:35] spocks commented on #1022
Hi @lshep Please push a manual built for the latest version. I have fixed a minor error from the last manual built. Thanks,

[2019-03-07 18:11] gangeshberiuhn commented on #1022
Ishep, could you please run a manual build? We have pushed all the changes and we want to see the results now. Thanks!

[2019-03-07 18:38] croesel opened #1038 "(inactive) Transcriptome Annotation with Trans2Kegg"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/croesel/Trans2Kegg

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _B

[2019-03-07 18:40] spocks commented on #1022
hi @lshep I think in the current built, warnings have nothing to do with the package
[code]

[2019-03-07 18:55] lshep commented on #1022
Yes this ERROR is on our end and can be ignored for now -  Are you ready for a re-review?

[2019-03-07 18:55] spocks commented on #1022
yes

[2019-03-07 19:01] hpages commented on #753
Hi @aguang ,

Thanks for teaching me about the Chicago style. Everything looks good now. Thanks for all your hard work on qckitfastq.

Cheers,
H.

[2019-03-07 19:18] lshep commented on #1037
Your Description is mal-formed. You'll have to fix it to get a build report.

https://github.com/kostkalab/scds/blob/master/DESCRIPTION

[2019-03-07 23:17] Shians commented on #998
I have removed as many `eval = FALSE` as I think is sensible. I'm keeping the `sleep(2)` code on because it's there to demonstrate cached function calls, where the first run triggers a noticeable wait but subsequent runs immediate return.

I had an attempt to covert to S4 classes, but it results in some undesirable behaviour upon naive implementation.

[code]

Based on this, if Bioconductor is str

[2019-03-08 00:25] GenomicsPrograms commented on #1029
Dear Martin,

I attempted to replace the "1:" with seq_along and seq_len but these altered the output and thus caused the program to generate erroneous results. Thus I will have to keep PoTRA as is.

The complexity of the PoTRA program would make it hard to rewrite in certain spots. Would it be ok to keep PoTRA as is?

Thank you for understanding,
Margaret

[2019-03-08 00:30] PoTRA-Package commented on #1029
Dear Martin,

GenomicsPrograms is my other github, I am now signed in as PoTRA-Package.
Here is my message again.

I attempted to replace the "1:" with seq_along and seq_len but these altered the output and thus caused the program to generate erroneous results. Thus I will have to keep PoTRA as is.

The complexity of the PoTRA program would make it hard to rewrite in certain spots. Would it be ok

[2019-03-08 00:35] PoTRA-Package commented on #1029
Dear Martin,

I attempted to replace the "1:" with seq_along and seq_len but these altered the output and thus caused the program to generate erroneous results. Thus I will have to keep PoTRA as is.

The complexity of the PoTRA program would make it hard to rewrite in certain spots. Would it be ok to keep PoTRA as is?

Thank you for understanding,
Margaret

[2019-03-08 08:46] trvinh opened #1039 "PhyloProfile"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository:  https://github.com/BIONF/PhyloProfile

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2019-03-08 14:10] ChloeHJ commented on #958
Hi Qian,

Thank you for the suggestions and comments. We tried to improve our package based your comments and please see the descriptions below for details:

- For the vignette, there was still the problem of exceeding time limits and weird generation of vignette_brief.R in the process of building the package. So for now, I have put the shorter vignette into another branch called RELEASE_2.0. If i

[2019-03-08 16:30] fgao-github commented on #853
Hello Bioconductor Team,

This is a follow-up email about our DeMixT package
(https://github.com/wwylab/DeMixT). We use your standard data
structure (SummarizedExperiment), and uploaded the vignette to the
/vignettes directory on GitHub two weeks ago. Could you please reopen
the issue for us? Thank you very much for your help. I look forward to
hearing from you.

Thanks,
Fan

Quoting Fan Gao <fg15

[2019-03-08 16:55] mtmorgan commented on #853
Please remember that your package should have version number 0.99.0, and after each commit where you would like to see a new build (so that you can check your changes), the version should be bumped, to 0.99.1, 0.99.2, 0.99.3, ...

[2019-03-08 17:31] fgao-github commented on #853
Hi Martin,

Thank you for your quick reply. I just changed the version number to
0.99.0. Could you help please check if there is anything else we need
to do?

Thanks,
Fan

Quoting Martin Morgan <notifications@github.com>:

[2019-03-08 21:09] genesofeve commented on #433
Hi, we've put substantial work into revising this package, including upgrading to S4, and would like to reopen this issue. Please let me know how do proceed with submission to Bioconductor? Thank you!

[2019-03-08 21:12] genesofeve opened #1040 "(inactive) projectR - Reopen of Issue #433"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/genesofeve/projectR

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _

[2019-03-08 21:12] #1040 closed

[2019-03-09 15:15] FelixErnst commented on #962
So I did and additional iteration of changes in Biostrings package. This proved to be quite helpful, with all the constructurs of the `ModString`, `ModStringSet` and `ModStringSetList` constructors.

I am ready to proceed with the next iteration in the review. I don't know how long it will take until the changes in `Biostrings ` package take effect on the SPB. I will merge the changes as soon as I

[2019-03-10 02:23] UCDNJJ commented on #1004
Hi @Kayla-Morrell

Updated the link, hopefully you can access the data now. Let me know if there are any other issues running the vignette!

[2019-03-11 12:12] lshep commented on #433
Please make sure you still have the [webhook activated](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook)  after this is initiated please do a version bump in the description to trigger a new build report and the submission process can continue as before.

[2019-03-11 12:22] lshep commented on #962
Once the pull request changes are accepted and merged into the Biostrings repository, they will need to propagate to the [daily builder](http://bioconductor.org/checkResults/3.9/bioc-LATEST/), once there it will be available on the SPB.   The SPB doesn't have the ability to automatically build other branches besides the master branch.

The timestamp issue will be corrected when we update R-devel (

[2019-03-11 12:39] lshep commented on #1026
Sorry for the delay in the review -  I should have a review within this next week.

[2019-03-11 12:42] stephaniehicks commented on #1026
No problem, thanks for the status update!

[2019-03-11 13:04] jdekanter commented on #1025
I now build CHETAH on top of SingleCellExperiment en fixed the building problems!

[2019-03-11 13:43] TanerArslan commented on #1030
Hi Nitesh @nturaga ,

The package was ready for the last week. Since i did not hear from you, I hesitated whether i have done everything correct. Should i open a new issue or wait from you?

Thanks in advance.

/Taner

[2019-03-11 13:47] genesofeve commented on #433
Webhook should still be activated (I just double checked). I just pushed so hopefully that triggers a build.

[2019-03-11 13:53] lshep commented on #433
It doesn't look like it did.  Could you try deleting the current webhook and re-initializing it.   I'm not sure if it is this or the mal-formed DESCRIPTION file.  The version bump you committed is mal-formed as you committed merge conflicts into the DESCRIPTION
[code]

[2019-03-11 13:56] genesofeve commented on #433
Fixed the merge conflict..caught it post push (sorry). Will delete and re-initialize now. Thanks

[2019-03-11 14:09] nturaga commented on #1030
I will take a look at it within the next few days. Thanks for the update.

Best,

Nitesh

On Mon, Mar 11, 2019 at 9:43 AM Taner Arslan <notifications@github.com>
wrote:

[2019-03-11 14:29] Kayla-Morrell commented on #1015
Hi @FelixErnst,

I have just started the review and have only gotten as far as the documentation of the package. If you wanted to merge the changes that would be fine with me.

Best,
Kayla

[2019-03-11 14:42] FelixErnst commented on #1015
hmm, on Linux it took a bit longer to build. I hope that is not a problem.

[2019-03-11 14:44] Kayla-Morrell commented on #1015
It's just a few seconds over 5 minutes so it shouldn't matter too much. I'll continue my review with these changes.

[2019-03-11 14:44] Liubuntu commented on #997
Hi @bads752 ,

Just a reminder that you need to respond to the previous review within 2 weeks, by replying questions, making modifications with new pushes, or ask questions. Thanks!

Best,
Qian

[2019-03-11 14:51] TanerArslan commented on #1030
Thanks for the quick respond.

I am looking forward to hear you soon.

Cheers.

/Taner

[2019-03-11 15:48] Liubuntu commented on #958
HI @ChloeHJ ,

The newly added test functions look awesome. It's fine now to remove the brief vignette also.

Here are some minor issues to fix:

## tests
- new test functions look great!

## DESCRIPTION
- ```Maintainer: The package maintainer Chloe H. Lee  <chloe.h.lee94@gmail.com>``` Only keep the name and email here.

## NEWS
- add a `NEWS` file in the top folder. Initial version could be empty

[2019-03-11 15:52] Liubuntu commented on #958
cannot open URL 'http://worldclockapi.com/api/json/utc/now': HTTP status was '403 Site Disabled'
WARNING
unable to verify current time

Please ignore this warning for now. It's an R-devel issue, we'll update the R-devel and it will go away.

[2019-03-11 16:07] LiNk-NY commented on #1032
Hi Adam, @adamthrash
Please respond to Martin's comment.

Best,
Marcel

[2019-03-11 16:13] dvantwisk commented on #433
Glad to see you've been working on this! I've heard a lot about projectoR and it looks like a very useful package. I'll review the changes as soon as I can.

[2019-03-11 16:14] dvantwisk commented on #1025
Great! I'll have a look at it shortly.

[2019-03-11 16:40] bv2 commented on #995
Hi @Kayla-Morrell,

thanks for your review and the very constructive comments and suggestions!
We now have addressed most of the points you mentioned, substantially improving our package. I still have to figure out what is causing the new error in the build, which only seems to occur in R level,  and let you know once I found the problem.
See below for a detailed list of the comments that we have

[2019-03-11 16:52] LiNk-NY commented on #1005
Hi José Antonio, @neobernad

* After consulting with my colleagues @hpages @lshep, it seems that `fpc` unfortunately
can be retired from CRAN at any moment and having a dependency on this
package will cause yours to break. I would recommend that you find a
replacement to the functionality provided in `fpc` or adopt the maintainership
of the `fpc` package yourself if you extensively used it.

For m

[2019-03-11 17:19] LiNk-NY commented on #957
Hi Mike, @skinnider

Thanks for making those changes.
In this instance you can create an artificially enhanced interaction network where
more than 1% of possible pairs are interacting and make the data smaller
so that it doesn't take a long time on the build machines.

The examples provided do not have to present real-world scenarios. If you so
wish to do so, we have workflow packages for that.

B

[2019-03-11 17:26] skinnider commented on #957
Hi Marcel @LiNk-NY - it is not immediately obvious to me how to simulate the underlying proteomics data such that some large percentage of possible pairs would be interacting, and I also think this would most likely be more confusing to potential users than providing a single worked example. Although I appreciate your points that the examples do not strictly have to provide real-world scenarios, i

[2019-03-11 17:36] LiNk-NY commented on #957
Hi Mike, @skinnider

I would image that removing a large number of pairs that don't interact
is the easiest approach. The inputs will still be the same, only the
runtime will be shortened.

Keep in mind that the examples are meant to elucidate the use of your
functions rather than the contents / structure of the data. A user shouldn't
expect to get biologically meaningful results from the function

[2019-03-11 20:39] zhewa opened #1041 "celda"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/campbio/celda

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2019-03-12 13:58] bads752 commented on #997
Hi @Liubuntu, I sorry for the late reply. Below are the coments in regards
to your suggestions. I took the freedom to enumerate them from 1 to 20
so it is easier  for us to talk about them. I want to make it clear that most
problems have been corrected, save a couple of issues. Particularly
suggestions number 3, 5, 11, 15, 17 and 19.

Best regards,
bads752.

**DESCRIPTION**

    1 - Please remove

[2019-03-12 15:11] Kayla-Morrell commented on #975
Hello @ptrebulle,

Thank you for the work done on your package. I must have missed the unit tests the first time around. The amount you have is fine so please ignore that comment. I have looked over the changes made and have just a few more requirements/suggestions before accepting your package. See the secondary review below. Comment back here when you are ready for me to look it over again.

##

[2019-03-12 16:15] Kayla-Morrell commented on #1004
I was able to download the data and I'm working through the code in your vignette. I'm running into an issue when I'm trying to create the SCE object to pass into scAlignCreateObject (scAlign setup section). When trying to evaluate `youngMouseSCE` I'm getting the following error:

[code]
I assume it has something to do with the fact that `counts = youngMouseSeuratObj@raw.data` has 8357 rows while

[2019-03-12 17:45] ptrebulle commented on #975
Hi @Kayla-Morrell ,
Thanks for your new comments. We updated the code according to them.
Regarding the clarification, we used to put eval=FALSE due to a timeout error when submitting the package to Bioconductor to compile and evaluate the vignette. However, as the examples were updated since the first submission, it should not be a problem anymore, thus I turned the eval back to TRUE as suggested.

[2019-03-12 18:21] Kayla-Morrell commented on #975
@ptrebulle

Try another version bump, that should get rid of the errors.

[2019-03-12 21:11] ptrebulle commented on #975
@Kayla-Morrell I tried to bumped again but the error remains for Linux and MacOS. Windows is working properly.

[2019-03-12 21:35] UCDNJJ commented on #1004
Thanks @Kayla-Morrell, the issue was as you suggested: different number of rows between assays. Fixed that issue and added SCE library call.

[2019-03-12 23:25] skinnider commented on #957
Hi Marcel @LiNK-NY - I have added a second dataset to the package, and added it as a new section to the vignette.
Mike

[2019-03-13 02:38] quanaibn opened #1042 "scGPS - Single Cell Global fate Potential of Subpopulations"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/IMB-Computational-Genomics-Lab/scGPS

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x]

[2019-03-13 10:23] jtheorell commented on #972
Dear @nturaga,
Thank you again for these questions, and sorry for my misunderstandings. Below are point-by-point replies to the remaining issues. A new version of the package will be submitted where the changes and further optimizations, following your suggestions from the last round, have been incorporated.

## Vignette
* vignette doesn't render BiocStyle CSS. Please make sure you are
using it th

[2019-03-13 12:21] ChloeHJ commented on #958
Dear Qian,

Thank you so much for your quick review. I revised our packaged based on your comments:
- Added NEWS file
- Added examples with a smaller example data matrix and removed dontrun tag
- I tried to remove the most of NOTES

For the vignette, you commented to remove the .html and .R form the folder but I could not find these files in my local folder. I tried to remove gitignore from vignet

[2019-03-13 14:57] dvantwisk commented on #433
It looks like the error you are currently getting is because you still have references to `man/.Rapp.history` in your git history. Can you run `git rm man/.Rapp.history` to remove the file from your history and then push your changes?

[2019-03-13 15:58] nkurzaw opened #1043 "TPP2D"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/nkurzaw/TPP2D

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2019-03-13 17:45] dvantwisk commented on #1025
Hello
Here is a review of your package. [REQUIRED] tags indicate changes that must be made or addressed. [CONSIDER] tags indicate changes that are not required but advisable. Code that I've written hasn't been tested so it may not work function correctly it can rather be considered as guidelines. Message me back if you have any questions.

GENERAL:
- [ ][REQUIRED] The size of the package is 13MB.

[2019-03-13 18:18] dvantwisk commented on #998
I apologize for the delay with responding. You are right that s4 classes can't do what you need it to do in this instance. I've found this issue on tidyverse's github that is very similar to yours and the developers state they have no plans to support the s4 class class system. I've consulted with other members of our group and we think in this rare instance we can allow you to use the s3 class sy

[2019-03-13 21:49] GeorgescuC opened #1044 "(inactive) inferCNV"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/broadinstitute/inferCNV

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2019-03-13 21:49] #1044 closed

[2019-03-13 22:59] Kayla-Morrell commented on #975
I was able to get your package build/checked/installed on my local Mac without any errors/warnings. As long as that keeps working I'll be able to accept your package. We have been experiencing some connectivity problems so that's probably the reason why. Just a couple more points/comments...

Thank you for adding the `Simulation()` code so that the user can run the vignette, but you need to add `m

[2019-03-14 02:00] GeorgescuC opened #1045 "infercnv"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/broadinstitute/infercnv

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read t

[2019-03-14 09:15] ptrebulle commented on #975
Hih @Kayla-Morrell , I changed the last few point you mentionned !
It seems like the connectivity issue has been solved for now but since I turned back some part of the vignette to eval = TRUE in a previous push, the R CMD Check takes more than 5 min on OS X and Windows leading to a warning message. Let me know if it is ok to leave it that way.

[2019-03-14 14:09] lshep commented on #1022
Clarification:  You say you can't switch to SummarizedExperiments because of the dependency on the PharmacoGx package however this dependency is not listed in the Description or the namespace?   In fact, it is not referenced at all in the documentation or the vignette.  How then is this package dependent on PharamcoGx? If this can be used in conjunction with the PharamcoGx package in a pipeline/wo

[2019-03-14 15:06] spocks commented on #1022
Hi @lshep I have removed the code copied from `PharmacoGx` and using the function directly from `PharmacoGx` package. I have updated the DESCRIPTION also. Hope this clarifies the last comment.

[2019-03-14 16:29] jwollbrett commented on #1002
Hi @nturaga ,

I have an issue with my package.
The build passed for windows (weird as I work on mac..) but failed on mac and linux.
The error on mac looks like that :

dyld: Library not loaded: @rpath/libz.1.dylib
  Referenced from: /private/var/folders/gh/37kcv9bj20v2qnpgxq14hh1c0000gq/T/RtmpdziLp3/Rbuild117e75db4ce63/BgeeCall/kallisto/kallisto
  Reason: image not found

I am not able to underst

[2019-03-14 16:43] mtmorgan commented on #853
# 14 March, 2019

- Most comments below are 'examples', with code changes implied at several places

- Please update the DESCRIPTION file to correctly capitalize

[code]

- Please build and check your package using R-devel, e.g.,
[code]
  please be sure to address each issue flagged by R CMD check.

- Please install and run BiocCheck on your package

[code]

- provide a Description: that reads mor

[2019-03-14 16:45] mtmorgan commented on #965
Please let me know when you expect to have revisions complete.

[2019-03-14 16:47] mtmorgan commented on #1001
I'm not exactly sure where this issue stands? Is it ready for continue review?

[2019-03-14 16:59] lshep commented on #1026
Here is a review of the data package. I'm looking a qsmooth now and will have it either later today or tomorrow morning at the latest:
# bodymapRat

**General:**
- [ ] The package should probably be converted into an ExperimentHub package; removing the large data file from the package and storing it on S3. We are
encouraging all submission with large data to utilize the hubs to keep the
packages s

[2019-03-14 17:03] Kayla-Morrell commented on #1004
Hi @UCDNJJ,
Thank you for submitting to _Bioconductor_. Please see the initial review of your package below:

# DESCRIPTION #

Description of package is good. Good use of README file for Python and Tensorflow installation.

- [ ] SUGGESTION: Under "License:" remove the "file LICENSE" text as well as the LICENSE file since they are not needed.

- [ ] SUGGESTION: The BiocCheck had some suggested bio

[2019-03-14 17:28] lshep commented on #1026
In general both packages look really good and really well written.  Just a few clean up items here and there.  Please see the review of the qsmooth package:

# qsmooth

**General:**
- [ ] Was there a reason to create your own class for the result object rather
than doing an endomorphism and getting back a SummarizedExperiment as output
from the `qmooth` function since the dimensions seem the same?

[2019-03-14 18:17] gangeshberiuhn commented on #1022
@lshep Could you please compile the package manually now? We have made the necessary changes to it.

[2019-03-14 20:03] ogevaert commented on #1001
We are working with Vincent to fix a number of other issues as well. So we will be ready and respond to your review in the next few days.

[2019-03-14 22:44] Kayla-Morrell commented on #932
Hello @vbelcastPM,

It's been 3 weeks now since we last heard from you and no changes have been committed. Just wondering what's the status of your package? If we do not hear from you or see changes made in a few days I will have to change the tag to inactive until you are ready to actively work on this issue.

Best,
Kayla

[2019-03-15 01:56] hyacz commented on #965
The revision is still in progress and we plan to complete it by April. Detailed progress is available at https://github.com/XiaoleiLiuBio/rMVP/issues/33

[2019-03-15 03:25] alenxav opened #1046 "(inactive) SGC"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/alenxav/SGC

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [ x] I have read the _Biocon

[2019-03-15 10:30] trvinh commented on #1039
@nturaga hi, I have just pushed a new commit to the master branch and also saw a new ping in the webhook response history. But here it shows nothing new. Is it normal?

[2019-03-15 11:06] drisso opened #1047 "mbkmeans"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/drisso/mbkmeans

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2019-03-15 11:07] drisso commented on #1047
Tagging co-authors @YuweiNi45 @epurdom @stephaniehicks

[2019-03-15 13:28] Kayla-Morrell commented on #1004
A follow up comment for my initial review.

- [ ] REQUIRED: Your vignette is currently recognizing your code as plain text, not R code. This is why no errors were thrown when your vignette was built. Please edit the chunks to be:

\`\`\`{r}
... R code ...
\`\`\`.

[2019-03-15 14:29] adamthrash commented on #1032
I'm working on adding information about the format of data inputs and providing information about interpretation, but I'm not sure what you mean by "describing steps necessary." The steps described by the vignette are the only steps necessary to run PAST. Could you clarify what you mean by that, @mtmorgan?

[2019-03-15 15:06] hubentu commented on #1031
Hi @Kayla-Morrell , Any status update?

Thanks,
Qiang

[2019-03-15 15:37] dvantwisk commented on #433
Here is a review of your package. [REQUIRED] tags indicate changes that must be made or addressed. [CONSIDER] tags are change that are not required but are advisable. Code that I've written has not been tested and can be considered more as guidelines. Please look over your documentation in particular and make sure it would make sense for a user. Message me back if you have any questions.

GENERAL:

[2019-03-15 15:49] dvantwisk commented on #1034
Hey @LTLA
I'm seeing that you still have some issues with build time. The check time I am seeing on both out osx and linux builders is about 6 minutes and could be overlooked if there is nothing else you can do to reduce the this time. I do need to see you get rid of the timeout on the windows system, however.

[2019-03-15 17:37] mtmorgan commented on #1032
For instance you have a file association.txt.xz but it is not clear where this file would have come from. I guess you mean PAST to be used as part of a larger pipeline, but 'from the outside' it is not at all clear what that pipeline is.

[2019-03-15 17:45] mtmorgan commented on #1046
Can you provide some context on this package, how it fits in with Bioconductor, etc?

[2019-03-15 17:59] dvantwisk commented on #998
I've had another look through your package and after the changes you've already made, I really don't have anything more of consequence to mention. That package is expertly written. I'll move to accept the package once you've cleared up the remaining timeout.

[2019-03-15 18:32] alenxav commented on #1046
The SCG package contains the dataset of the soybean germplasm collection.
Soybean is the second largest crop in the United States and largest in
Argentina and Brazil. The package contains both phenotypic and genotypic
information, valuable to the plant breeding community, as well as from the
educational standpoint - where students of genetics and breeding can have
easy access to real genomic data

[2019-03-15 19:25] epurdom commented on #1047
Due to an incorrect file remaining on github (.Rproj file). Have fixed and pushed to master.

[2019-03-16 02:08] Liubuntu commented on #1021
Hi @miaozhun ,

Sorry for the delay in the package review. I was out for the past several days. Will be posting the initial review very soon. Thanks!

Best,
Qian

[2019-03-16 02:17] LTLA commented on #1034
Thanks @dvantwisk. I suspect that one of the functions is silently using `bpparam()` and that's causing the time-out on Windows due to the slowness of `SnowParam()`. I guess that's part of the reason why I was requesting to @mtmorgan that `bpparam()` default to `SerialParam()` on all systems, to avoid getting ambushed by slowdowns like this. Indeed, none of my functions are directly using `SnowPar

[2019-03-16 02:18] Liubuntu commented on #997
Hi @bads752 ,

Thanks for making those changes. I'll go through your changes and my own setting (ubuntu 18.04) for the vignette issue. Thanks for your suggestions.

Best,
Qian

[2019-03-16 02:20] Liubuntu commented on #1033
Hi @MalteThodberg ,

Thank you for submitting this data package. An initial review will be done and posted very soon.

Best,
Qian

[2019-03-16 02:21] Liubuntu commented on #1043
Hi @nkurzaw ,

Thank you for submitting your package to Bioconductor. An initial review will be given hopefully within 2 weeks.

Best,
Qian

[2019-03-16 02:54] LTLA commented on #1034
Yep, pretty much as I thought. Now I have to go through and figure out which of these functions is the problem child...

[2019-03-16 05:26] Takkoona commented on #979
Hi,

I'm adding some major functionalities to the package. May take a while to finish. Please don't close the submission.

[2019-03-16 06:05] MalteThodberg commented on #1033
Dear Qian!

That sounds good. As mentioned above, this package is a data package for a workflow package. Let me know when I should add the workflow package to this issue.

[2019-03-16 17:38] FelixErnst commented on #962
Hi @mtmorgan
with the efforts of @hpages the Modstrings got a bit simpler. Ready for the next round of the review.

[2019-03-17 09:57] UCDNJJ commented on #1004
@Kayla-Morrell

Thanks for taking the time to review or scAlign package! Fixed the issues with errors when running scAlign, code base and github were out of sync.

We had to change the example dataset to keep the package under 5MB, thus the vignette has changed substantially.

Now that the examples, unit tests and vignette are running correctly we unfortunately are running into the 10 min maximum

[2019-03-18 08:19] jwollbrett commented on #1002
Hello @nturaga

Do you know if the error described in the previous message could come from your dev server?
I have no build error with my computer(MacOs Sierra)

[2019-03-18 08:20] nkurzaw commented on #1043
Great, thanks!

Best,
Nils

[2019-03-18 08:22] vbelcastPM commented on #932
Dear Kayla,

With your colleague Martin we tried to make GladiaTOX working with the latest version of tcpl. Unfortunately we did not succeeded due to multiple changes from tcpl 1.4.3.
What your colleague propose here (see email) is to include the tcpl 1.4.3 in the GladiaTOX distribution as I did at the beginning.

So I’m now back from a business trip and have more time to bump the version and go t

[2019-03-18 09:30] drisso commented on #1047
Hi @hpages

thanks in advance for reviewing the package! As far as I can tell, this is the only warning in the build:
`WARNING: R CMD check exceeded 5 min requirement`

and it happens only on windows. Can we safely ignore this?

[2019-03-18 10:26] FelixErnst commented on #1015
Hi @Kayla-Morrell any news on the review? Thanks for any update.

[2019-03-18 11:48] lshep commented on #1002
It looks like an issue with the installation of kallisto.   Is kallisto a system dependency?  Looking at previous build reports,  You try to install this on a users system if it is not found;  This should never be done.  Any system dependencies should be listed in the DESCRIPTION file with the `SystemRequirements` field and the code in the R package that tries to install a program should be remove

[2019-03-18 13:32] jwollbrett commented on #1002
Hello @lshep
Yes kallisto is installed in the user system.
It is not a system dependency as the user do not need to install it before running the package.  The "installation" consists in downloading and decompressing an archive. It has no impact on the user environment.
This step is done automatically. We only check that kallisto has already been installed by the package on the user system in orde

[2019-03-18 14:12] nachoryu commented on #1035
Hello @hpages  and @mtmorgan,

The package built without errors and warnings on all platforms. Since I will be on vacation for a month soon, I wonder whether it is ready for an initial review and when the review will be done.

Thanks,

Doyeong

[2019-03-18 15:18] trvinh commented on #1039
@nturaga I got it now. I've thought changing from "1.0.0" back to "0.99.0" is already a valid version number change. I'm sorry if I disturbed you!

[2019-03-18 17:10] hpages commented on #991
Hi @dongminjung ,

Thanks for your submission. After taking a quick look at survtype, I found the following thing that could be improved. Lines like
[code]
need to fail if maftools is not installed. Right now they don't. Instead the calls to `system.file()` return an empty string which causes a failure downstream, and the cause of the failure is not immediately obvious. Generally speaking it's alw

[2019-03-18 17:39] LiNk-NY commented on #1042
Hi Quan, @quanaibn
Thank you for your submission.
Please resolve the package errors in the report.

Best regards,
Marcel

[2019-03-18 19:14] kostkalab commented on #1037
Hi,

Have you started reviewing? The warnings are unrelated to code in the package.

Thanks a lot,

Dennis

[2019-03-18 19:45] lshep commented on #1037
Yes.  I will have an official review before the end of the week.

[2019-03-18 19:47] kostkalab commented on #1037
Great thanks!

[2019-03-18 21:08] mtmorgan commented on #1046
Thanks. The `gen` data set is not present in the package. Are there already, or are there plans, to have packages that use this data in Bioconductor? I realize the general importance of soybean; thank you for clarifying the nature of the data.

[2019-03-18 21:14] hubentu commented on #1031
Hi @Kayla-Morrell ,

1. This package is dependent on the package `Rcwl`, which is only compatible with Linux and MacOS, so a file `.BBSoptions` was added to skip the Windows system.
2. There are some build warnings from inst/mc3 and inst/GATK4. These files are from the project MC3 and GATK4 by git-submodules. To keep these files the same as the original project, I didn't clean or rename them.
[cod

[2019-03-18 22:49] alenxav commented on #1046
The file "gen" was added (sorry, I had a hard time uploading the file due
to its size)

I believe the SGC package can be analyzed with some R packages available on
Bioconductor.

On Mon, Mar 18, 2019 at 4:08 PM Martin Morgan <notifications@github.com>
wrote:

--
*Alencar Xavier*

Quantitative Geneticist, Corteva Agrisciences
Adjunct Faculty, Purdue University
8305 NW 62nd Ave, Johnston IA 50131
Mo

[2019-03-19 00:08] neobernad commented on #1005
Hi Marcel, @LiNk-NY

Thank you for the review and comments, we have successfully finished all the bullet points listed above except for one of them:
I am having some trouble trying to create a `SimpleList`. The output list of the method `qualityRange` provides dataframes with different `colnames()`, not only in their label but also in their length:
[code]
If both items in the list, `k_2` and `k_3`

[2019-03-19 09:38] jdekanter commented on #1025
Thank you for the elaborate review. I'm sorry for not answering, but I'm looking into it!

[2019-03-19 09:41] ThomasFaux opened #1048 "Submission of RepViz"
- Repository: https://github.com/ThomasFaux/RepViz

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioconductor_ [Package Submission][2]
  instructions. My package is consistent with the _Bioconductor_
  [Package

[2019-03-19 11:04] dongminjung commented on #991
Hello. @hpages.

According to your review, I changed from

`laml.maf <- system.file('extdata', 'tcga_laml.maf.gz', package = 'maftools')`
`laml.clin <- system.file('extdata', 'tcga_laml_annot.tsv', package = 'maftools')`

to

`library(maftools)`
`laml.maf <- system.file('extdata', 'tcga_laml.maf.gz', package = 'maftools', mustWork = TRUE)`
`laml.clin <- system.file('extdata', 'tcga_laml_annot.tsv'

[2019-03-19 13:38] nturaga commented on #948
Hi,

Thanks for removing the mclapply commands. The package looks much better. I will accept it.

One last suggestion, please remove the commented out lines.

[2019-03-19 14:35] dvantwisk commented on #998
Great! I'll accept the package now.

[2019-03-19 14:37] dvantwisk commented on #1034
Alright. I assume very little is going to change so I am going to have a look through the package now.

[2019-03-19 14:38] PoTRA-Package commented on #1029
Dear Martin,

Just checking in to see if there is any feedback available regarding my previous message.

Thanks so much,
Margaret

[2019-03-19 14:46] hubentu commented on #1031
Hi @Kayla-Morrell @mtmorgan ,

I got some build warnings as follows, which are from the git clones of other CWL pipelines. These scripts
are imported and invoked in my package.
Could you give me some suggestion for this warning? Do I need to clean and rename these files?

Thanks,
Qiang

[code]

[2019-03-19 15:05] Kayla-Morrell commented on #1031
Hello @hubentu,

I don't have any suggestions for the warnings because I'm not familiar with them. I'm sure Martin will be able to offer some help. Until then, I will ignore these warnings and continue with my initial review. It's my plan to have a review for you by the end of this week. Thank you for your patience.

Best,
Kayla

[2019-03-19 15:24] FelixErnst commented on #962
@lshep Hi, I get warning about the Authors@R field. I didn't change anything on that field. Any idea what I can do?

[2019-03-19 15:27] lshep commented on #962
Sorry.  There was a new check added but there must be a bug somewhere. Please ignore for now and I'll look into this right away

[2019-03-19 15:31] spocks commented on #1022
Hi @lshep I have fixed an error in code that was in the build report. Could you please rerun it manually again? Thanks a lot,

[2019-03-19 15:31] nturaga commented on #1002
Hi @jwollbrett

I don't think having Kallisto install automatically is a good idea for two reasons,

1. You should not install software which is not advertised/mentioned in the DESCRIPTION file.

2. There could be problems with downloading from github, and building the software manually which you don't anticipate on the user's host OS. You may add a function if you wish in your package which does

[2019-03-19 15:54] lawremi commented on #1048
Consider using Rsamtools and `coverage(BamFile(x))` instead of `bamCount()`.

[2019-03-19 16:04] vbelcastPM commented on #932
Dear Kayla,

I did all necessary modification and pushed the new version of the package to git.
We bumped the version (0.99.29 now). I checked the hook trigger, it is working, but somehow I don’t get notified by the Bioconductor build.
Could you have a look?

Thank you,
Vincenzo

From: Belcastro, Vincenzo (contracted)
Sent: 18 March 2019 09:22
To: 'Bioconductor/Contributions' <reply@reply.github.c

[2019-03-19 16:09] trvinh commented on #1039
@nturaga sorry for disturbing you, but for this warning I cannot find a solution.
WARNING: Use Authors@R (preferred) or Author/Maintainer fields not both.

I've already updated the DESCRIPTION file in order to remove the Maintainer field, but the warning still exists. Could you please help me on this issue? Many thanks!

[2019-03-19 16:20] lshep commented on #1022
So to avoid the massive amounts of postings that we are getting and subsequently emails -  You might want to just disable the webhook all together and just ping me when you need a rebuild.

[2019-03-19 16:24] gangeshberiuhn commented on #1022
@Ishep Could you please review the Xeva package, it's kinda urgent we have an urgent deadline. We have pushed the updated package and removed the webhook.

[2019-03-19 16:34] mtmorgan commented on #1031
For these `WARNING: directory RcwlPipelines/inst/mc3/backup_templates/utils/backup_templates is empty` I guess the problem is that the git repository contains empty directories; you could add these to an .Rbuildignore file in the root of your package if you do not need these directories but they need to be in the git repository; of course removing them from the git repository is also possible...

[2019-03-19 16:34] Kayla-Morrell commented on #995
Hi @bv2,

Thank you for making the necessary changes to improve your package.  I have looked over everything for a second time and have just a few more requirements/suggestions before accepting your package. See the secondary review below. Comment back here when you are ready for me to look it over again.

# MOFAdata #

- [ ] REQUIRED: Update R version dependency to at least 3.5, though we do pref

[2019-03-19 16:36] lshep commented on #1022
I kicked off a manual build to get the new accurate report.  I will review and get back to you within the next few days

[2019-03-19 16:45] nturaga commented on #1039
This is an issue on our end. Please make other changes if you need to
improve your package, once you are ready for a review leave a not saying
you are. I'll review your package.

Best,

Nitesh

On Tue, Mar 19, 2019 at 9:39 PM Vinh Tran <notifications@github.com> wrote:

[2019-03-19 16:51] spocks commented on #1022
Thanks @lshep for reviewing our package. I see in the current build report there is `ERROR: dependency PharmacoGx is not available for package Xeva` . Is it a build systems issue or error in our code? Let me know if I need to fix this, I will do it immediately. As @gangeshberiuhn mentioned we have a paper revision deadline so we thank you for making this priority. Looking forward to your review.

[2019-03-19 16:53] lshep commented on #1022
This should be an issue on our end. We updated the builders yesterday to reflect the current version of R-devel and we clean the packages.  I would hope after todays builds finish it would be able to find the package successfully.

[2019-03-19 16:55] lshep commented on #1037
The package in general looks in good shape.  Please find my review below:

**Build Report**
- [ ] Please clean up coding notes about Avoiding 1:...

**README**
- [ ] Include Bioconductor installlation instructions

**LICENSE**
- [ ] (Optional) The MIT license is included with the R release so you do not
strictly need to include it  https://www.r-project.org/Licenses/

**Description**
- [ ] Please

[2019-03-19 18:12] hubentu commented on #1031
Hi @mtmorgan ,

Thank you for your help! The .Rbuildignore works perfectly with the empty files.

The files with the long name are from git-submodules of the GATK workflow project.
https://github.com/gatk-workflows/gatk4-data-processing
It would be easier to keep those files consistent with the original git source for future update and maintain. Otherwise, I need to rename the files every time whe

[2019-03-19 18:21] lshep commented on #932
I'll kick off a manual build. If you try version bumping again and continue to not get a report I would suggest deleting the webhook and re-initializing it.  You should have a build report shortly

[2019-03-20 01:41] stephaniehicks commented on #1026
Thanks @lshep! I have addressed the comments for the `bodymapRat` package and converted it to an ExperimentHub package. I'm also ready to upload the `.rda` file to AWS. I will wait for your guidance on next steps.

[2019-03-20 02:18] pliu55 commented on #948
Hi @nturaga,

Thanks for your suggestions.   I have removed commented out lines from my package.

The `timestamps` warning is gone this time, but the `WARNING: R CMD check exceeded 5 min requirement` warnings came back.  I guess it most likely because the testing servers were crowded with other jobs, because I didn't experience such warning before I removed commented out lines (please see [build r

[2019-03-20 08:28] mtmorgan commented on #1046
I think first that it would be better to have a clear use case for this data, illustrated in a vignette. I think also that the data should be represented in a sqlite database, rather than as large flat files, with a simple interface to allow users to extract information that they're interested in. Large files like this belong either in AnnotationHub or ExperimentHub; which hub in the present case

[2019-03-20 09:30] vbelcastPM commented on #932
Hi,

We did follow your suggestion but nothing is triggered after version bump.

Best,
Vincenzo

From: lshep [mailto:notifications@github.com]
Sent: 19 March 2019 19:21
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] New Pack

[2019-03-20 09:45] trvinh commented on #1039
@nturaga Dear Nitesh, I think it is ready for review.
Best,
Vinh

[2019-03-20 14:00] lshep commented on #1026
@stephaniehicks   Whats the best email to reach you to send you the S3 credentials?

[2019-03-20 14:11] stephaniehicks commented on #1026
shicks19@jhu.edu

[2019-03-20 14:35] lshep commented on #1022
I probably should email off list but since its somewhat related  @gangeshberiuhn  @spocks I'm having trouble loading PharmacoGx locally as well...
[code]

[2019-03-20 14:40] Kayla-Morrell commented on #1015
Hi @FelixErnst,

Thank you for submitting to _Bioconductor_ and thank you for your patience with the review process. Please see the initial review of your package below.

# General Package Development #

- [ ] SUGGESTION: When running R CMD BiocCheck, consider adding these automatically suggested biocView: Alignment, SequenceMatching.

- [ ] SUGGESTION: Consider adding runnable examples to the man

[2019-03-20 14:44] spocks commented on #1022
@p-smirnov is the master of PharmacoGx. He can chime in here.

[2019-03-20 14:54] lshep commented on #1022
Other than that which really is an issue with PharmacoGx and not your package, I think it looks in good shape.  Please note for the Bioconductor installation instructions you'll want to update to "3.9" as your package will be released under that Bioconductor release not the current "3.8" release.

[2019-03-20 15:56] nturaga commented on #948
I'm accepting the package because this doesn't show up on my end. Thanks

[2019-03-20 16:18] GeorgescuC commented on #1045
Hi @dvantwisk ,

The last version of our package only has `WARNING: check time exceeded 5 min` returned in the build report. This is due to the examples provided to run certain methods taking a bit more time to run (mainly when tested on the i386 architecture). Is this a critical issue?

Best.

[2019-03-20 17:35] FelixErnst commented on #1015
I worked through the review:

# General Package Development

I followed you advice, except for the indentation and some of the line with width > 80L incase they could not be shortened.

# vignette

all done

# man pages

all done. The `\code{\link[package:function]{name}}` works as intended, since the actual name of the man page must be used as `function`. An alias like `readDNAStringSet()` cannot

[2019-03-20 18:47] FelixErnst commented on #1015
@Kayla-Morrell the error is due changes in IRanges not propagating to the `SPB`. I bump the `Structstrings` version, when the new `IRanges` version has ended up on the SPB. However, the changes addressing are complete.

[2019-03-20 21:00] ruy204 opened #1049 "(inactive) Submitting FiTnEss"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/ruy204/FiTnEss

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioco

[2019-03-20 22:00] mtmorgan commented on #1049
Looks like your package does not interoperate with Bioconductor (e.g., accepting and returning [standard Bioconductor objects, methods, and packages][1] like SummarizedExperiment) and does not have a vignette with evaluated code chunks (all are marked `eval  = FALSE`!).

Post a comment when you have made your package compatible with these basic Bioconductor guidelines.

[1]: https://bioconductor.o

[2019-03-21 01:08] jamez-eh opened #1050 "(inactive) Submission of casc"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/jamez-eh/casc

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Biocon

[2019-03-21 02:36] stephaniehicks commented on #1026
@lshep I have uploaded the `.rda` file to AWS using the S3 credentials provided.

[2019-03-21 11:42] lshep commented on #1026
Great. I added the data into ExperimentHub so you will be able to test and debug your experiment package and software package.  Its only available in devel 3.9
[code]

[2019-03-21 16:48] wzthu opened #1051 "pipeFrame and enrichTF"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/wzthu/pipeFrame

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the _Bioc

[2019-03-21 16:50] hpages commented on #999
Hi @guokai8 ,

Here is some initial feedback for the VennDetail package. Overall the package needs more work.

## Code quality

1. `show()` is an S4 generic defined in the methods package. Don't redefine this generic. More generally speaking, you should **never** override an existing generic function. Instead, all you need to do is define a `show()` method for your venn objects. Note that even tho

[2019-03-21 17:12] hpages commented on #991
Hi @dongminjung ,

Thanks for the change. Please bump the version of the package (from 0.99.9 to 0.99.10) in order to trigger a new build from our Single Package Builder. Thanks!

Please note that using the same non-informative commit message for all your commits is really not a good idea:
[code]
This won't help you in the long term maintenance of your package. Also some advanced users might care

[2019-03-21 17:38] hpages commented on #805
Hi @MartinFXP ,

Looks like the epiNEM package was missing on celaya2 last time our Single Package Builder checked mnem, which caused mnem to fail on this machine. However, according to the [following page](https://bioconductor.org/checkResults/3.9/bioc-LATEST/celaya2-R-instpkgs.html), epiNEM is now installed on celaya2. Please bump mnem version again in order to trigger a new build by our Single

[2019-03-21 18:39] anfederico opened #1052 "animalcules"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/compbiomed/animalcules

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read th

[2019-03-21 18:54] mtmorgan commented on #1052
please provide a decent Description: of your package in the DESCRIPTION file, and in the vignette a proper abstract (if you're going to have one) and text in addition to code chunks to provide a literate exposition on your package use. Post a comment here when you have addressed these basic Bioconductor requirements.

[2019-03-21 19:53] hpages commented on #1009
Hi @stefangraw ,

Thanks for submitting pwrEWAS. Note that the package has many problems. Some of them are causing the WARNINGs and ERROR reported by our Single Package Builder. Also the man page for `loadDataset` looks very broken (when I open it with `?loadDataset`). But why would you provide a man page for an unexported symbol in the first place?

Please address these issues before I can procee

[2019-03-21 21:16] kostkalab commented on #1037
Thanks a lot for the comments, they've been helpful!
Addressed them in an incremented version and  the new package seems to build fine.
It'd be great if you could take a second look. Here is what's changed in a bit more detail:

* Now consistently using seq_len

* Added NEWS file in ./inst/

* DESCRIPTION now only  uses Authors@R

* Added Bioc installation instructions to README.md

* Added Bioc i

[2019-03-21 21:17] Liubuntu commented on #1033
Hi @MalteThodberg ,

The package submission deadline for next release would be around April 5th (not officially announced yet). I'll try to finish the review of this data package before this date, so that you can submit the workflow package before the deadline. Otherwise, we can make it an exception if we miss it.

Sorry for the delay though, we are experiencing a big flow of packages at this time

[2019-03-22 00:14] anfederico commented on #1052
Sorry about that, should be all set now.

[2019-03-22 04:39] RuoxinLi opened #1053 "(inactive) https://github.com/quon-titative-biology/scBFA"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/yourusername/yourpackagename

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have r

[2019-03-22 04:39] #1053 closed

[2019-03-22 04:41] RuoxinLi opened #1054 "submitting scBFA package"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/quon-titative-biology/scBFA
Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have rea

[2019-03-22 05:11] wzthu commented on #1051
AdditionalPackage: https://github.com/wzthu/enrichTF

[2019-03-22 08:45] jwollbrett commented on #1002
Hello @nturaga ,

I solved some problems with my package and I did some modifications regarding to your comments.
- I wrote a more precise description in the DESCRIPTION file
- I added kallisto as a SystemRequirement in the DESCRIPTION file

The build and check steps on both windows and mac do not create ERROR. I have only one warning because I do not have "@return" section in the documentation of

[2019-03-22 09:43] MartinFXP commented on #805
Hi @hpages ,

looks like the epiNEM ERROR is gone. However, it also seems like I am again unsubscribed from the bioc-devel list. Btw, after @mtmorgan manually added me the last time, I did not receive any bioc-devel emails. Should I try to subscribe again by myself?

Thanks,
Martin

[2019-03-22 11:06] MalteThodberg commented on #1033
Dear Qian!

That sounds good. Once the data package and worflow has been added to bioconductor, it can be reviewed at f1000.

Im on vacation until March 31.

[2019-03-22 11:43] ThomasFaux commented on #1048
Hello, and thank you for your kind help. I updated the code and am using Rsamtools now.

[2019-03-22 11:43] mtmorgan commented on #805
I again resubscribed you, and you should have received an email. Please check carefully, including in your spam and junk (instititutional) email filters.

[2019-03-22 11:49] lshep commented on #1048
Please set up your webhook as described [here](https://github.com/Bioconductor/Contributions/blob/master/CONTRIBUTING.md#adding-a-web-hook). After the webhook is initialized please do a version bump to get a new build of the package.

[2019-03-22 13:11] Kayla-Morrell commented on #932
@vbelcastPM Just want to clarify - you tried deleting the webhook and re-initializing it?

[2019-03-22 13:48] vbelcastPM commented on #932
Yes we did that

From: Kayla-Morrell [mailto:notifications@github.com]
Sent: 22 March 2019 14:12
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] New Package Submission: GladiaTOX (#932)

@vbelcastPM<https://github.com/vbelcas

[2019-03-22 13:53] lshep commented on #932
If you deleted the webhook and reinitialized,  Could you please perform an additional version bump so I can try and trace it on our reporting system?

[2019-03-22 13:58] vbelcastPM commented on #932
Done right now

From: lshep [mailto:notifications@github.com]
Sent: 22 March 2019 14:54
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] New Package Submission: GladiaTOX (#932)

If you deleted the webhook and reinitialized, C

[2019-03-22 14:13] lshep commented on #932
Thank you.  That was helpful.  I will look into the issue and try to have it resolved.

Did you change the location of this repository recently from the location listed [here](https://github.com/Bioconductor/Contributions/issues/932#issue-379212569 )
It seems to redirect to a different location?    philipmorrisintl/GladiaTOX instead of pmpsa-hpc/GladiaTOX

[2019-03-22 14:17] vbelcastPM commented on #932
I see. Yes we changed the location and put in place a redirection

From: lshep [mailto:notifications@github.com]
Sent: 22 March 2019 15:14
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] New Package Submission: GladiaTOX (#93

[2019-03-22 14:18] lshep commented on #932
I think the tracker is getting confused because of the naming differences.   We have a database that keeps track of the issue names -  Could you please update the path  [here](https://github.com/Bioconductor/Contributions/issues/932#issue-379212569 )   and I will also update the database -  I think that should correct everything

[2019-03-22 14:34] vbelcastPM commented on #932
Thank you to look into that. I’ll ask my colleague who opened the issue to do that and bump

From: lshep [mailto:notifications@github.com]
Sent: 22 March 2019 15:18
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] New Package

[2019-03-22 14:51] lshep commented on #1037
Looks good.  Thank you.

[2019-03-22 14:53] lshep commented on #1048
Please continue to clean up the ERROR/WARNINGS/NOTES in the build report before a more in-depth review occurs.
Note:  To remove RepViz.Rproj   don't forget to do a `git rm`  not just `rm`.
Cheers

[2019-03-22 15:20] jasonzhao0307 commented on #1052
@Kayla-Morrell Hey Kayla, we need your help on this error ("appending gaps is not supported") here. So we run this function in the vignette normally in our system, but it keeps failing in the test, I'm wondering if this is related to the unstable R 3.6?

[2019-03-22 15:43] lshep commented on #932
The link at the top of the package as `Repository` will still have to be updated; But also:

With the intention of there only being one main maintainer of the repository and monitoring contributions, I think that it is also true that only the creator of the issue (in this case @scanopm )  can perform a version bump that kicks off a new build. The others are skipped assuming collaboration but not n

[2019-03-22 17:21] LiNk-NY commented on #957
Hi Mike, @skinnider
Sorry for the delay. I will review the changes you've made today.
Best,
Marcel

[2019-03-22 17:25] LiNk-NY commented on #957
It's looking good. I will accept your package.
Also, resolve the warnings about `insertRef`:
[code]

[2019-03-22 17:56] Kayla-Morrell commented on #1052
@jasonzhao0307 We seem to be seeing this error with many of our packages due to a recent modification to S4Vectors (version 0.21.3). We are working on this issue and it's our hope to have it fixed soon.

[2019-03-22 18:54] LiNk-NY commented on #1029
Hi Margaret, @PoTRA-Package

You should be able to use `seq_len(length(Pathway.database))` if `seq_along`
doesn't work for that object.

The Biocondcutor package review process is designed to provide feedback for the
overall improvement of quality of packages that are accepted to Bioconductor.
Please ensure that your package meets the package guidelines https://www.bioconductor.org/developers/pack

[2019-03-22 19:00] genesofeve commented on #433
Hi,

We have made the necessary changes to the package. The bot missed removing the ERROR tag as the latest build is without errors or warnings. Please review our package and let us know if we missed something or if we should do something more to make the package more helpful for the community.

Thanks,
G&G

[2019-03-22 20:26] PoTRA-Package commented on #1029
Thank you for the quick response Marcel. I have made the suggested changes to the PoTRA code,
so that seq_along and seq_len are used, as well as improved readability.

[2019-03-22 23:13] LiNk-NY commented on #976
Hi Jonathan, @jonalim
Thank you for your submission.

Please see your review below.

Respond here if you have any questions.

Best regards,
Marcel

---

# mfBiclust #976

* Overall, the package is in good shape. I would strongly consider separating
the two main objectives in the package and make them separate packages.
Create a shiny package that depends on the analysis package. It's easier to
mai

[2019-03-23 18:15] mtmorgan commented on #1029
Is your package ready for final review? If so please increment the version one last time...

[2019-03-23 18:58] FelixErnst commented on #962
@mtmorgan @hpages  Thank you very much for the review and the work you put in for making the interaction with the Biostrings package more easy! It is much appreciated.

[2019-03-23 19:06] mtmorgan commented on #1038
Please address the following and, when done, post a short comment summarizing your changes.

Package

- Please create, at least for the submission process, a 'master' branch containingly only files to be imported into the Bioconductor git repository, e.g., DESCRIPTION / NAMESPACE / NEWS / R / vignettes / man / inst / tests / .Rbuildignore / .gitignore.

DESCRIPTION

- `person(role=...)` can be a v

[2019-03-23 19:09] mtmorgan commented on #1050
Please revise your package to address the errors and warnings identified so by the build system.

Adjust your vignette, examples, and unit tests so that they effectively illustrate and test your package but with modest requirements for time and memory use.

Remember to increment the package version (to 0.99.1, 0.99.2, ...) each time you wish for it to be rebuilt & tested.

[2019-03-23 19:23] mtmorgan commented on #1037
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/kostkalab.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-03-23 19:23] mtmorgan commented on #1022
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/gangeshberiuhn.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your g

[2019-03-23 19:23] #1037 closed

[2019-03-23 19:23] #1022 closed

[2019-03-23 19:23] mtmorgan commented on #998
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/Shians.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2019-03-23 19:23] #998 closed

[2019-03-23 19:23] mtmorgan commented on #986
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/anfederico.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2019-03-23 19:23] mtmorgan commented on #975
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/ptrebulle.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-03-23 19:23] #986 closed

[2019-03-23 19:24] #975 closed

[2019-03-23 19:24] mtmorgan commented on #962
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/FelixErnst.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2019-03-23 19:24] #962 closed

[2019-03-23 19:24] mtmorgan commented on #957
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/skinnider.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github

[2019-03-23 19:24] #957 closed

[2019-03-23 19:24] mtmorgan commented on #948
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/pliu55.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your github ac

[2019-03-23 19:24] #948 closed

[2019-03-23 19:24] mtmorgan commented on #753
The master branch of your GitHub repository has been added to Bioconductor's git repository.

To use the git.bioconductor.org repository, we need an 'ssh' key to associate with your github user name. If your GitHub account already has ssh public keys (https://github.com/winnie0521.keys is not empty), then no further steps are required. Otherwise, do the following:

1. [Add an SSH key to your githu

[2019-03-23 19:24] #753 closed

[2019-03-24 03:21] jasonzhao0307 commented on #1052
@Kayla-Morrell Would you please tell us when this could be fixed? Thank you!

[2019-03-24 03:50] stefangraw commented on #1009
Hey @hpages

I apologize, this is my first bioconductor submission.
For the function loadDataset I did not mean to provide a manual. Some old code got compiled as manual. I am sorry for the confusion.

Thank you for the suggestion about using "interactive()", that was very helpful. I have update the submission and resolved all ERRORS. Currently I am still loading all required data sets from github

[2019-03-24 18:43] jdekanter commented on #1025
Hey! The error that is thrown, is that the vdiffr package is not available on the OS X machine, which I do not understand, as it is part of CRAN.

[2019-03-24 18:49] jdekanter commented on #1025
I changed all things mentioned in your review! Expect for one:

I did not incoporate this, because I those original lines:

, I extract different values from a matrix; each time a combination of a row and a column name extracted from subclass. In the example that you provide, It would extract a large martrix instead of a vector of separately extracted values.

[2019-03-25 02:26] bhuvad opened #1055 "dcanr"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/DavisLaboratory/dcanr

Confirm the following by editing each check box to '[x]'

- [x] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x] I have read the

[2019-03-25 02:57] xyang2uchicago opened #1056 "(inactive) seq2pathway"
Update the following URL to point to the GitHub repository of
the package you wish to submit to _Bioconductor_

- Repository: https://github.com/xyang2uchicago/seq2pathway2019

Confirm the following by editing each check box to '[x]'

- [x ] I understand that by submitting my package to _Bioconductor_,
  the package source and all review commentary are visible to the
  general public.

- [x ] I ha

[2019-03-25 02:57] #1056 closed

[2019-03-25 06:29] LTLA commented on #1034
Whoops. Failures due to my _beachmat_ version 2 update; left hand forgot to talk to the right. Will fix tomorrow.

[2019-03-25 07:07] nturaga commented on #972
It's ok that you use the SNOW package directly in this case. I will accept the package, but i'm still not sure why it would be any different from BiocParallel, as it wraps SNOW in a straightforward manner.

Best,

Nitesh

[2019-03-25 07:39] jtheorell commented on #972
Thank you very much! I will try to check for reasons for that difference in future updates.
Best regards
Jakob

[2019-03-25 08:06] vbelcastPM commented on #932
Good to know. Yes please, if possible change the maintainer to @vbelcastPM

From: lshep [mailto:notifications@github.com]
Sent: 22 March 2019 16:44
To: Bioconductor/Contributions <Contributions@noreply.github.com>
Cc: Belcastro, Vincenzo (contracted) <Vincenzo.Belcastro@contracted.pmi.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bioconductor/Contributions] New Package Submission: Gladi